USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_ForwardOrders]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <21/03/2022>
-- Description:	<POPULATE Fact.ForwardOrders>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_Fact_ForwardOrders]
AS
BEGIN

TRUNCATE TABLE FACT.ForwardOrders;

INSERT into [FACT].[ForwardOrders]
Select * from [ODS].[ForwardOrders]

END

GO
