USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_PurchaseOrder_11Dec]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD [ODS].[PurchaseOrder]>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_PurchaseOrder_11Dec]
AS

--Delete existing data from ODS table

TRUNCATE TABLE  [ODS].[PurchaseOrder]

--Insert data into ODS table

Begin
with POConversion as(
select Getdate() as LoadDateTime
,PO.PO
,PO.POItem
,PO.PR
,PO.POUnit
,PO.MatNo
,PO.PurcDocItemChgDat
,PO.CompCode
,PO.Plant
,PO.Storageloc
,PO.MatGrp
,PO.MatNoOfSupplier
,PO.OrdPriceUnit
,PO.PurcDocItmCat
,PO.GoodsRcptIndic
,PO.BaseUOM
,PO.PrincPurcAgrmtNo
,PO.PrincPurcAgrmtItmNo
,PO.PurcDocCat
,PO.CustomerNo
,PO.UnitOfWt
,PO.VolumeUnit
,PO.PRItemNo
,PO.MatType
,PO.MatFrgtGrp
,PO.MANDT
,PO.DeletionIndicator
,PO.DeliveryCompleted
,PO.FinalDelivery
,PO.CC_PBIMAt
,PO.POQty
,PO.POQty * NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit as POQtyConvertedBase
,PO.NetPrice
,PO.NetPrice *   DenomConvOrdUnitToBaseUnit * NumerConvOrdPrcUnitToOrdUnit /(NumerConvOrdUnitToBaseUnit * DenomConvOrdPrcUnitToOrdUnit) as PONetPriceBaseConverted
,case when ExchgRate < 0 then -1/ExchgRate else ExchgRate end as [ExchgRate]
,PO.TargetQty
,PO.NumerConvOrdPrcUnitToOrdUnit
,PO.DenomConvOrdPrcUnitToOrdUnit
,PO.NumerConvOrdUnitToBaseUnit
,PO.DenomConvOrdUnitToBaseUnit
,PO.PriceUnit
,PO.NetOrdValInPOCurr
,PO.GrosOrdValInPOCurr
,PO.StdRelsOrdQty
,PO.ItmEffecVal
,PO.PlanDelvTimeInDays
,PO.NetWt
,PO.GrsWt
,PO.Volume
,PO.GRProcessingTime
,KO.Currency
,KO.[PurcDocStat]
,KO.[RecCreatDate]
,KO.[LangKey]
,KO.[PurcGrp]
,KO.[PurcDocDate]
,KO.[StartofValPer]
,KO.[EndofValPer]
,KO.[QuotSubmiDate]
,KO.[GoodsSupplier]
,KO.[PurcDocProcessState]
,KO.[TotValAtReleaseTime]
,KO.[Vendor]
,ET.DeliveryDate
,CONVERT(dec(14,5),mat.StdPrice/mat.PriceUnit) as StdPricePerUnit
,mat.PriceUnit as StdPriceUnit
,mat.StdPrcCurr
,mat.StdPrice as StdPrice 
from SAPSTG.CV_PO_EKPO PO
left join SAPSTG.CV_PO_EKKO KO ON PO.PO = KO.PO AND PO.MANDT = KO.MANDT
left join SAPSTG.CV_PR_EKET ET ON PO.MANDT=ET.MANDT AND PO.POItem = ET.POItem AND PO.PO=ET.PONum
inner join SAPSTG.CV_PR_MBEW_EXTRACT mat
on  replace(ltrim(replace(PO.MatNo,'0',' ')),' ','0') = replace(ltrim(replace(mat.Material,'0',' ')),' ','0')
and PO.plant = mat.Plant
where PO.DeletionIndicator != 'L'
),
PODelivered as
(Select PO, POItem,  avg(POQty) - sum(coalesce(dl.DelivQty,0)) as OpenPOQty
		from POConversion poc
	   left outer join SAPSTG.CV_PR_LIPS dl
	   ON PO = dl.ReferenceDoc and 
	   replace(ltrim(replace(POItem,'0',' ')),' ','0') =  replace(ltrim(replace(dl.ReferenceItem,'0',' ')),' ','0')
	   group by PO, POItem),

POCond As 
(
select PO.*, 
ko.CondRecNo,
--CondRecNo, 
Coalesce(CondAmt,0) as CondAmt,
CondType, 
coalesce(CondAmtUnit,'AUD') as CondAmtUnit
,Case when ko.CondRecNo is null then 1 else 0 end as Select1718
from POConversion po
left outer join
SAPSTG.CV_PR_A017 as A17
       ON A17.MaterialNo = po.MatNo
       AND A17.Vendor = po.Vendor
       AND A17.MANDT = po.MANDT
       AND A17.Plant = po.Plant
	   AND po.DeliveryDate>=A17.CondiRecValStartDate and po.DeliveryDate <= A17.CondiRecValEndDate
	   and A17.[PurcInfoRecCat] = '0'
left outer join
SAPSTG.CV_PR_KONP ko
	   on ko.CondRecNo = A17.ConditionRecNo
and ko.CondType = 'FRB2'
--and PO = '4500088645'
UNION 
select po1.*,
ko1.CondRecNo,
--CondRecNo, 
Coalesce(CondAmt,0) as CondAmt,
CondType, 
coalesce(CondAmtUnit,'AUD') as CondAmtUnit
,Case when ko1.CondRecNo is null then 2 else 0 end as Select1718
from POConversion po1
left outer join
		SAPSTG.CV_PR_A018 as A18

		ON A18.MaterialNo = po1.MatNo
       AND A18.Vendor = po1.Vendor
       AND A18.MANDT = po1.MANDT
       and po1.DeliveryDate>=A18.CondiRecValStartDate and po1.DeliveryDate <= A18.CondiRecValEndDate
	   and  A18.[PurcRecInfoCat] = '0'
 		left outer join 
		SAPSTG.CV_PR_KONP ko1
	   on ko1.CondRecNo = A18.ConditionRecNo
and ko1.CondType = 'FRB2'
),

--Select * from POCond
POCondForex as(
Select * from 
(
select Po1.*,
case when forex.ExchangeRate < 0 then -1/ExchangeRate else ExchangeRate end as ForexConversionFactor,  forex.ValidFrom as ValidFromForex
, RANK() Over ( Partition By PO, POItem
Order By forex.ValidFrom desc) as RankNo
, RANK() Over (Partition BY PO,POItem
Order By Select1718) as RankSelect
from POCond Po1
inner join 
 SAPSTG.cv_pr_tcurr forex
on Po1.CondAmtUnit = forex.ToCurrency
and Po1.CondAmtUnit != 'AUD'
and forex.FromCurrency = 'AUD'
and forex.ValidFrom <=  DeliveryDate
union 
Select *, 1 as ForexConversionFactor,
'99991231' as ValidFromForex,
1 as RankNo
, RANK() Over (Partition BY PO,POItem
Order By Select1718) as RankSelect
from POCond Po2
where Po2.CondAmtUnit = 'AUD'
) as A
Where A.RankNo = 1 and A.RankSelect = 1),

POCondAggr as
(Select LoadDateTime,
PO,
POItem,
PR,
POUnit,
MatNo,
PurcDocItemChgDat,
CompCode,
Plant,
Storageloc,
MatGrp,
MatNoofSupplier,
OrdPriceUnit,
PurcDocItmCat,
GoodsRcptIndic,
BaseUOM,
PrincPurcAgrmtNo,
PrincPurcAgrmtItmNo,
PurcDocCat,
CustomerNo,
UnitOfWt,
VolumeUnit,
PRItemNo,
MatType,
MatFrgtGrp,
MANDT,
DeletionIndicator,
DeliveryCompleted,
FinalDelivery,
CC_PBIMAt,
POQty,
POQtyConvertedBase,
NetPrice * ExchgRate as NetPrice ,
TargetQty,
PONetPriceBaseConverted * ExchgRate as PONetPriceBaseConverted ,
ExchgRate,
NumerConvOrdPrcUnitToOrdUnit,
DenomConvOrdPrcUnitToOrdUnit,
NumerConvOrdUnitToBaseUnit,
DenomConvOrdUnittoBaseUnit,
PriceUnit,
NetOrdValinPOCurr,
GrosOrdValInPOCurr,
StdRelsOrdQty,
ItmEffecVal,
PlanDelvTimeInDays,
NetWt,
GrsWt,
Volume,
GRProcessingTime,
'AUD' as Currency,
PurcDocStat,
RecCreatDate,
LangKey,
PurcGrp,
PurcDocDate,
StartofValPer,
EndOfValPer,
QuotSubmiDate,
GoodsSupplier,
[PurcDocProcessState]
,[TotValAtReleaseTime]
,[Vendor]
,DeliveryDate
,StdPricePerUnit
,StdPriceUnit
,StdPrcCurr
,StdPrice
,CondRecNo
,sum(CondAmt / ForexConversionFactor) as FreightLocalCurr 
from POCondForex c
group by 
LoadDateTime,
PO,
POItem,
PR,
POUnit,
MatNo,
PurcDocItemChgDat,
CompCode,
Plant,
Storageloc,
MatGrp,
MatNoofSupplier,
OrdPriceUnit,
PurcDocItmCat,
GoodsRcptIndic,
BaseUOM,
PrincPurcAgrmtNo,
PrincPurcAgrmtItmNo,
PurcDocCat,
CustomerNo,
UnitOfWt,
VolumeUnit,
TargetQty,
CondRecNo,
PRItemNo,
MatType,
MatFrgtGrp,
MANDT,
DeletionIndicator,
DeliveryCompleted,
FinalDelivery,
CC_PBIMAt,
POQty,
POQtyConvertedBase,
NetPrice,
PONetPriceBaseConverted,
ExchgRate,
NumerConvOrdPrcUnitToOrdUnit,
DenomConvOrdPrcUnitToOrdUnit,
NumerConvOrdUnitToBaseUnit,
DenomConvOrdUnittoBaseUnit,
PriceUnit,
NetOrdValinPOCurr,
GrosOrdValInPOCurr,
StdRelsOrdQty,
ItmEffecVal,
PlanDelvTimeInDays,
NetWt,
GrsWt,
Volume,
GRProcessingTime,
Currency,
PurcDocStat,
RecCreatDate,
LangKey,
PurcGrp,
PurcDocDate,
StartofValPer,
EndOfValPer,
QuotSubmiDate,
GoodsSupplier,
[PurcDocProcessState]
,[TotValAtReleaseTime]
,[Vendor]
,DeliveryDate
,StdPricePerUnit
,StdPriceUnit
,StdPrcCurr
,StdPrice
),

POOpen as 
	(
	Select con.*,
	OpenPOQty,
	OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit as OpenPOQtyConvertedBase,
	case when PriceUnit = 0 then 0 else POQtyConvertedBase * PONetPriceBaseConverted  / PriceUnit end as LatestCost,
	case when PriceUnit = 0 then 0 else OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  PONetPriceBaseConverted  / PriceUnit end as OpenLatestCost,
	POQtyConvertedBase * StdPricePerUnit  as StandardCost,
	OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  StdPricePerUnit  as OpenStandardCost,
	case when PriceUnit = 0 then 0 else POQtyConvertedBase * PONetPriceBaseConverted  / PriceUnit  + FreightLocalCurr - POQtyConvertedBase * StdPricePerUnit end as CostVariance,
	case when PriceUnit = 0 then 0 else OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  PONetPriceBaseConverted / PriceUnit + FreightLocalCurr  - OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  StdPricePerUnit
	end as OpenCostVariance
	from POCondAggr con
	left outer join PODelivered del
	on con.PO = del.PO and con.POItem = del.POItem
	)

	--Select * from POConversion where PO = '4500105698'
	insert into [ODS].[PurchaseOrder](
	 [LoadDateTime]
      ,[PO]
      ,[POItem]
      ,[PR]
      ,[POUnit]
      ,[MatNo]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Plant]
      ,[Storageloc]
      ,[MatGrp]
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
      ,[PurcDocItmCat]
      ,[GoodsRcptIndic]
      ,[BaseUOM]
      ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[PurcDocCat]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[PRItemNo]
      ,[MatType]
      ,[MatFrgtGrp]
      ,[MANDT]
      ,[DeletionIndicator]
      ,[DeliveryCompleted]
      ,[FinalDelivery]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[GRProcessingTime]
      ,[Currency]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[PurcGrp]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
      ,[TotValAtReleaseTime]
      ,[Vendor]
      ,[DeliveryDate]
	        ,[POQtyConvertedBase]
      ,[PONetPriceBaseConverted]
      ,[StdPricePerUnit]
      ,[StdPriceUnit]
      ,[StdPrcCurr]
      ,[StdPrice]
      ,[OpenPOQty]
      ,[OpenPOQtyConvertedBase]
      ,[LatestCost]
      ,[OpenLatestCost]
      ,[StandardCost]
      ,[OpenStandardCost]
      ,[CostVariance]
      ,[OpenCostVariance]
	  , CondRecNo
	  , FreightLocalCurr	  )
	 SELECT [LoadDateTime]
      ,[PO]
      ,[POItem]
      ,[PR]
      ,[POUnit]
      ,[MatNo]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Plant]
      ,[Storageloc]
      ,[MatGrp]
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
      ,[PurcDocItmCat]
      ,[GoodsRcptIndic]
      ,[BaseUOM]
      ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[PurcDocCat]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[PRItemNo]
      ,[MatType]
      ,[MatFrgtGrp]
      ,[MANDT]
      ,[DeletionIndicator]
      ,[DeliveryCompleted]
      ,[FinalDelivery]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[GRProcessingTime]
      ,[Currency]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[PurcGrp]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
      ,[TotValAtReleaseTime]
      ,[Vendor]
      ,[DeliveryDate] 
	        ,[POQtyConvertedBase]
      ,[PONetPriceBaseConverted]
      ,[StdPricePerUnit]
      ,[StdPriceUnit]
      ,[StdPrcCurr]
      ,[StdPrice]
      ,[OpenPOQty]
      ,[OpenPOQtyConvertedBase]
      ,[LatestCost]
      ,[OpenLatestCost]
      ,[StandardCost]
      ,[OpenStandardCost]
      ,[CostVariance]
      ,[OpenCostVariance]
	  , CondRecNo
	  , FreightLocalCurr
	  from POOpen
	   
END
GO
