USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PLANT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_PLANT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PLANT]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_PLANT]  

insert into [SAPSTG].[ZXC_PLANT]   
 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AddressID  = case when isnumeric(AddressID) =1 
                               						then cast(cast(AddressID as BIGINT) as nvarchar(10)) 
                                    				else  cast(AddressID as nvarchar(10)) end,
DefaultPurchasingOrganization  =NULLIF(cast(DefaultPurchasingOrganization as nvarchar(4)),'') ,
DistributionChannel  =NULLIF(cast(DistributionChannel as nvarchar(2)),'') ,
FactoryCalendar  =NULLIF(cast(FactoryCalendar as nvarchar(2)),'') ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
PlantCategory  =NULLIF(cast(PlantCategory as nvarchar(1)),'') ,
PlantCustomer  =NULLIF(cast(PlantCustomer as nvarchar(10)),'') ,
PlantName  =NULLIF(cast(PlantName as nvarchar(30)),'') ,
PlantSupplier  =NULLIF(cast(PlantSupplier as nvarchar(10)),'') ,
SalesOrganization  =NULLIF(cast(SalesOrganization as nvarchar(4)),'') ,
ValuationArea  =NULLIF(cast(ValuationArea as nvarchar(4)),'') ,
ScriptVersionDate = cast(getdate() as date)

FROM  SAPSTG.ZXCPLANT  WITH (NOLOCK) 

END
GO
