USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_FACT_Labour_Workforce]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insert_FACT_Labour_Workforce]    
AS    
BEGIN    
    SET NOCOUNT ON;

    TRUNCATE TABLE Fact.Labour_Workforce;

    DECLARE @csvData NVARCHAR(MAX);
    DECLARE @csvRow NVARCHAR(MAX);

    -- Fetch CSV data from your staging table (assuming only 1 row)
    SELECT @csvData = Json_Values FROM Stg.Labour_Workforce_JSON WHERE type = 'Workforce';

    -- Table variable for row data
    DECLARE @DataRows TABLE (RowNum INT, RowData NVARCHAR(MAX));

    -- Split into lines (rows)
    ;WITH CSVData AS (
        SELECT value AS RowData
        FROM STRING_SPLIT(REPLACE(@csvData, CHAR(13) + CHAR(10), '|'), '|')
        WHERE LTRIM(RTRIM(value)) <> ''
    ),
    CSVColumns AS (
        SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowNum, RowData
        FROM CSVData
    )
    INSERT INTO @DataRows (RowNum, RowData)
    SELECT RowNum, RowData
    FROM CSVColumns
    WHERE RowNum > 1;   -- Skip header row

    -- Cursor through rows
    DECLARE Cursor_datarows CURSOR FOR
    SELECT RowData FROM @DataRows;

    OPEN Cursor_datarows;
    FETCH NEXT FROM Cursor_datarows INTO @csvRow;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        ;WITH CSVValues AS (
            SELECT value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowNum
            FROM STRING_SPLIT(REPLACE(@csvRow, '"', ''), ',')
        )
        INSERT INTO Fact.Labour_Workforce
        (
            EmployeeId, FirstName, LastName, EmployeeType,
            [Date], [Schedule], CalcStart, CalcEnd,
            StandardTotalHours, CalcHours,
            DepartmentFullPath, TimeOffName, CostCentres
        )
        SELECT
            MAX(CASE WHEN RowNum = 2  THEN NULLIF(value, '') END) AS EmployeeId,
            MAX(CASE WHEN RowNum = 3  THEN NULLIF(value, '') END) AS FirstName,
            MAX(CASE WHEN RowNum = 4  THEN NULLIF(value, '') END) AS LastName,
            MAX(CASE WHEN RowNum = 5  THEN NULLIF(value, '') END) AS EmployeeType,
            MAX(CASE WHEN RowNum = 6  THEN 
                     CASE WHEN value IN ('', '?', '-') THEN NULL 
                          ELSE TRY_PARSE(value AS DATE USING 'en-GB') END END) AS [Date],
            MAX(CASE WHEN RowNum = 7  THEN NULLIF(value, '') END) AS [Schedule],
            MAX(CASE WHEN RowNum = 8  THEN NULLIF(value, '') END) AS CalcStart,
            MAX(CASE WHEN RowNum = 9  THEN NULLIF(value, '') END) AS CalcEnd,
            MAX(CASE WHEN RowNum = 10 THEN NULLIF(value, '') END) AS StandardTotalHours, 
            MAX(CASE WHEN RowNum = 11 THEN NULLIF(value, '') END) AS CalcHours,
            MAX(CASE WHEN RowNum = 12 THEN NULLIF(value, '') END) AS DepartmentFullPath,
            MAX(CASE WHEN RowNum = 13 THEN NULLIF(value, '') END) AS TimeOffName,
            MAX(CASE WHEN RowNum = 14 THEN NULLIF(value, '') END) AS CostCentres
        FROM CSVValues;

        FETCH NEXT FROM Cursor_datarows INTO @csvRow;
    END

    CLOSE Cursor_datarows;
    DEALLOCATE Cursor_datarows;
END;
GO
