USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_SDP_DEPT_adhoc]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Load_SDP_DEPT_adhoc]
AS
BEGIN
    SET NOCOUNT ON;

    --BEGIN TRY
        -- Clear the target table first
        TRUNCATE TABLE [FACT].[SDP_DEPT];
with fis as
		(
		Select [Request_ID],
		case when Responde_Time = 'Not Assigned' then null else Responde_Time end as Responde_Time,
		case when DueBy_Date = '-' then null else DueBy_Date end as DueBy_Date,
		case when ResponseDue_Date = '-' then null else ResponseDue_Date end as ResponseDue_Date,
		case when Resolved_Date = 'Not Assigned' then null else Resolved_Date end as Resolved_Date,
				case when [Assigned Time] = 'Not Assigned' then null else [Assigned Time] end as [Assigned Time],
		CASE 
        WHEN CHARINDEX('BI-FY25-Planned', Subject) > 0 
        THEN 'BI-FY25-Planned'
		When CHARINDEX('BI-FY25-Unplanned', Subject) > 0 
        THEN 'BI-FY25-Unplanned'
		END AS Fis_year_ticket
		from Stg.[SDP_AllDept]
		)
        -- Insert data from staging into FACT, mapping columns appropriately
        INSERT INTO [FACT].[SDP_DEPT] (
            [ID],
            [Subject],
            [Request_ID],
            [Status],
            [Status_id],
            [Requester_Email],
            [Requester_Name],
            [Requester_ID],
            [CreatedBy_Email],
            [CreatedByName],
            [CreatedByID],
            [Created_Date],
            [Responde_Time],
            [DueBy_Date],
            [Department_ID],
            [Department],
            [Site],
            [ResponseDue_Date],
            [Service_Category],
            [Resolved_Date],
            [Last_Updated_Time],
            [Group],
            [Technician Email],
            [Assigned Time],
            [Priority],
            [Category],
            [Sub Category],
            [Item],
            [Request_Type],
            [Technician],
            [Resolved By],
            [Fiscal_year],
            [Ticket_Status]
        )
        SELECT 
            ov.[Request_ID] AS [ID],
            [Subject],
            ov.[Request_ID],
            [Status] AS [Status],
            NULL AS [Status_id],
			 [Requester_Email],
           [Requester_Name]
		   ,
            NULL AS [Requester_ID]
			,
            [CreatedBy_Email],
            [CreatedByName],
            NULL AS [CreatedByID],
      convert(date,[Created_Date],103) Created_Date,
      convert(date,fis.[Responde_Time],103) Responde_Time,
      convert(date,fis.[DueBy_Date],103) DueBy_Date,
            NULL AS [Department_ID],
            [Department],
            [Site],
            convert(date,fis.[ResponseDue_Date],103) [ResponseDue_Date],
            [Service_Category],
            convert(date,fis.[Resolved_Date],103) [Resolved_Date],
            convert(date,[Last_Updated_Time],103),
             [Group],
            [Technician Email],
          convert(date,fis.[Assigned Time],103) [Assigned Time] ,
            [Priority],
            [Category],
             [Sub Category],
            [Item],
            [Request_Type],
            [Technician],
            [Resolved By],

            -- Fiscal Year from Subject (e.g., BI-FY25)
			--null Fiscal_Year,
            SUBSTRING([Subject], PATINDEX('%BI-FY%', [Subject]) + 3, 5) AS [Fiscal_year],

            -- Ticket Status based on keywords
            CASE 
                WHEN [Subject] LIKE '%Unplanned%' THEN 'Unplanned'
                WHEN [Subject] LIKE '%Planned%' THEN 'Planned'
                ELSE 'All'
            END AS [Ticket_Status]

        FROM [Stg].[SDP_AllDept]  ov
		inner join fis
		on ov.Request_ID = fis.Request_ID;

    --END TRY
    --BEGIN CATCH
    --    PRINT 'Error occurred: ' + ERROR_MESSAGE();
    --END CATCH
END
GO
