USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_FactWeekLatestForecastSnapshot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Upsert_FactWeekLatestForecastSnapshot]
AS

--Get the current week Date
DECLARE @WeekendDate date
SELECT @WeekendDate=CalendarDate	FROM Dim.CalendarDate(NOLOCK) c
	WHERE Weekday = 7	AND CalendarWeekOffset = 0 --BC change from IsWeekend = 1 to Weekday = 7 on 2022-06-29
--Remove existing data for future forecast dates
DELETE FROM Fact.WeekLatestForecastSnapshot WHERE SnapshotDate=@WeekendDate
--Reload Latest forecast data
INSERT INTO Fact.WeekLatestForecastSnapshot(
 LoadDateTime
,SnapshotDate
,FiscalYear
,FiscalWeek
,CustomerNo
,ProductNo
,SalesQuantity
,BaselineQuantity
,IncrementalQuantity
,NetInvoiceValue
,InvoiceDiscount
,CaseDiscount
,TermsDiscount
,OtherDiscount
,COGS
,GrossMargin
,FreightCost
,FreightCaseRate
,FreightFuelLevy
,WeekendDate)
SELECT 
	 GETDATE() AS LoadDateTime	
    ,@WeekendDate AS SnapshotDate
	,f.fiscal_year AS FiscalYear
	,f.fiscal_week AS FiscalWeek
	,f.Customer_No AS CustomerNo
	,f.Product_No AS ProductNo
	,f.latest_forecast_sales_quantity AS SalesQuantity
	,f.latest_forecast_baseline_quantity AS BaselineQuantity
	,f.latest_forecast_incremental_quantity AS IncrementalQuantity
	,f.latest_forecast_net_invoiced AS NetInvoiceValue
	,f.latest_forecast_oninvoice_case_discount AS InvoiceDiscount
	,f.latest_forecast_offinvoice_case_discount AS CaseDiscount
	,f.latest_forecast_offinvoice_terms_discount AS TermsDiscount
	,f.latest_forecast_offinvoice_other_discount AS OtherDiscount
	,f.latest_forecast_cost_of_sales AS COGS
	,f.latest_forecast_gross_margin AS GrossMargin
	,FreightCost=(SAC.FreightCaseRate*f.latest_forecast_sales_quantity)
	,SAC.FreightCaseRate
	,SAC.FreightFuelLevy
	,f.weekend_date AS WeekEndDate	
FROM ODS.LatestForecast(NOLOCK) F
INNER JOIN Dim.CalendarDate(NOLOCK) CW ON f.weekend_date = CW.WeekendDate
	AND CW.IsWeekend = 1
	AND CW.CalendarWeekOffset BETWEEN -312 AND 0 -- 09-FEB-2022 - John Ginete - SD CHG 814 | INC # 71737 - changed limit from 156 to 312 
		--AND CW.CalendarDate <> '2022-07-03 00:00:00.000'  --29/06 added this condition to exclude first fiscalweek of 2023 ----29/06 removed by BC
LEFT JOIN ODS.WeekLatestFreightForecast SAC ON f.customer_no = SAC.customerno
	AND f.product_no = SAC.productno
	AND f.fiscal_week = SAC.fiscalweek
	AND f.fiscal_year = SAC.fiscalyear


GO
