USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_SDP_DEPT_From_Stg]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Load_SDP_DEPT_From_Stg]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Clear the target table
        TRUNCATE TABLE [dbo].[SDP_DEPT];

        -- Insert from staging to target with derived Fiscal_year and Ticket_Status
        INSERT INTO [dbo].[SDP_DEPT] (
            [Request_Status],
            [Request_ID],
            [Subject],
            [Category],
            [SubCategory],
            [Service_Category],
            [Item],
            [Email_id],
            [Email_address],
            [Requester_Email],
            [Technician_Email],
            [Requester],
            [Employee_Name],
            [Created_By],
            [Created_Time],
            [Responded_Date],
            [Due_By_Time],
            [Department],
            [Site],
            [Departments],
            [Response_Due_By_Time],
            [Resolved_Time],
            [Resolved By],
            [Last_Updated_Time],
            [Technician],
            [Assigned_Time],
            [Priority],
            [Request Type],
            [Resolved_Date],
            [Created_Date],
            [DueBy_Date],
            [Fiscal_year],
            [Ticket_Status]
        )
        SELECT 
            [Request_Status],
            [Request_ID],
            [Subject],
            [Category],
            [SubCategory],
            [Service_Category],
            [Item],
            [Email_id],
            [Email_address],
            [Requester_Email],
            [Technician_Email],
            [Requester],
            [Employee_Name],
            [Created_By],
            [Created_Time],
            [Responded_Date],
            [Due_By_Time],
            [Department],
            [Site],
            [Departments],
            [Response_Due_By_Time],
            [Resolved_Time],
            [Resolved By],
            [Last_Updated_Time],
            [Technician],
            [Assigned_Time],
            [Priority],
            [Request Type],
            [Resolved_Date],
            [Created_Date],
            [DueBy_Date],

            -- Hardcoded logic for Fiscal_year
            -- Extract FYxx from Subject (e.g., BI-FY25-Planned)
            SUBSTRING([Subject], 
            PATINDEX('%BI-FY%', [Subject]) + 3, -- Start after 'BI-'
            5                                   -- Get FY + 2 digits (e.g., FY25)
            ) AS Fiscal_year,

            -- Hardcoded logic for Ticket_Status
            CASE 
                WHEN [Subject] LIKE '%Unplanned%' THEN 'Unplanned'
                WHEN [Subject] LIKE '%Planned%' THEN 'Planned'
                ELSE NULL
            END AS Ticket_Status

        FROM [Stg].[SDP_DEPT];

    END TRY
    BEGIN CATCH
        PRINT 'Error occurred: ' + ERROR_MESSAGE();
    END CATCH
END
GO
