USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_WORKCENTERTXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_WORKCENTERTXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_WORKCENTERTXT]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_WORKCENTERTXT]  

insert into [SAPSTG].[ZXC_WORKCENTERTXT]   
 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
WorkCenterInternalID  =NULLIF(cast(WorkCenterInternalID as nvarchar(8)),'') ,
WorkCenterText  =NULLIF(cast(WorkCenterText as nvarchar(40)),'') ,
WorkCenterTypeCode  =NULLIF(cast(WorkCenterTypeCode as nvarchar(2)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCWORKCENTERTXT w WITH (NOLOCK) 

END
GO
