USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_EOWProjectedSalesSnapshot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<SHINKIS>
-- Create date: <05/05/2022>
-- Description:	<POPULATE Fact.ProjectedSalesSnapshot>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_Fact_EOWProjectedSalesSnapshot]
AS
BEGIN
Truncate table [FACT].[EOWProjectedSalesSnapshot];
With GetLatestVersion as 
(Select *,-DATEDIFF(WEEK,WeekendDate,VersionDate) as VersionNum from Fact.ProjectedSalesSnapshot sn
--where WeekendDate = '2025-03-30 00:00:00.000' and ProductNo = '1007'
),
versionConsolidate as(
select WeekendDate,ProductNo,versionNum,sum(SalesQuantity) ProjectedQtySnapshot , max(VersionDate) LoadDate from GetLatestVersion  lv
group by WeekendDate,ProductNo,versionNum
)
,
ExpandVersion as 
(Select ProductNo, WeekendDate, 
Case when versionNum = 0 then sum(ProjectedQtySnapshot) else 0 end as ProjectedQtySnapshotLatest,
Case when versionNum = 0 then Max(LoadDate) else '' end as ProjectedSnapshotDateLag0,
Case when versionNum = 1 then  sum(ProjectedQtySnapshot) else 0 end as ProjectedQtySnapshotLag1,
Case when versionNum = 1 then Max(LoadDate) else '' end as ProjectedSnapshotDateLag1,
Case when versionNum = 2 then  sum(ProjectedQtySnapshot) else 0 end as ProjectedQtySnapshotLag2,
Case when versionNum = 2 then Max(LoadDate) else '' end as ProjectedSnapshotDateLag2,
Case when versionNum = 3 then  sum(ProjectedQtySnapshot) else 0 end as ProjectedQtySnapshotLag3,
Case when versionNum = 3 then Max(LoadDate) else '' end as ProjectedSnapshotDateLag3,
Case when versionNum = 4 then  sum(ProjectedQtySnapshot) else 0 end as ProjectedQtySnapshotLag4,
Case when versionNum = 4 then Max(LoadDate) else '' end as ProjectedSnapshotDateLag4
from versionConsolidate
group by ProductNo, WeekendDate,versionNum
) ,
FlattenVersion as
(Select ProductNo, WeekendDate, 
sum(ProjectedQtySnapshotLatest) ProjectedQtySnapshotLatest,
sum(ProjectedQtySnapshotLag1) ProjectedQtySnapshotLag1 ,
sum(ProjectedQtySnapshotLag2) ProjectedQtySnapshotLag2,
sum(ProjectedQtySnapshotLag3) ProjectedQtySnapshotLag3,
sum(ProjectedQtySnapshotLag4) ProjectedQtySnapshotLag4,
case when max(ProjectedSnapshotDateLag0) != '' then max(ProjectedSnapshotDateLag0)
  when max(ProjectedSnapshotDateLag1) != '' then max(ProjectedSnapshotDateLag1)
 when max(ProjectedSnapshotDateLag2) != '' then max(ProjectedSnapshotDateLag2)
  when max(ProjectedSnapshotDateLag3) != '' then max(ProjectedSnapshotDateLag3)
  else max(ProjectedSnapshotDateLag4) end as  ProjectedSnapshotDateLatest,
Max(ProjectedSnapshotDateLag1) ProjectedSnapshotDateLag1,
Max(ProjectedSnapshotDateLag2) ProjectedSnapshotDateLag2,
Max(ProjectedSnapshotDateLag3) ProjectedSnapshotDateLag3,
Max(ProjectedSnapshotDateLag4) ProjectedSnapshotDateLag4
from ExpandVersion
group by ProductNo, WeekendDate
) 

INSERT INTO [FACT].[EOWProjectedSalesSnapshot]
           ([ProductNo]
           ,[WeekendDate]
           ,[ProjectedQtySnapshotLatest]
           ,[ProjectedQtySnapshotLag1]
           ,[ProjectedQtySnapshotLag2]
           ,[ProjectedQtySnapshotLag3]
           ,[ProjectedQtySnapshotLag4]
		   ,ProjectedSnapshotDateLatest
		   ,ProjectedSnapshotDateLag1
		   ,ProjectedSnapshotDateLag2
		   ,ProjectedSnapshotDateLag3
		   ,ProjectedSnapshotDateLag4
		   )

Select [ProductNo]
           ,[WeekendDate]
           ,[ProjectedQtySnapshotLatest]
           ,[ProjectedQtySnapshotLag1]
           ,[ProjectedQtySnapshotLag2]
           ,[ProjectedQtySnapshotLag3]
           ,[ProjectedQtySnapshotLag4]
		   		   ,ProjectedSnapshotDateLatest
		   ,ProjectedSnapshotDateLag1
		   ,ProjectedSnapshotDateLag2
		   ,ProjectedSnapshotDateLag3
		   ,ProjectedSnapshotDateLag4
		   from FlattenVersion
--select *  from FlattenVersion where WeekendDate = '2025-03-30 00:00:00.000' and ProductNo = '1007'
end

--select * from [FACT].[EOWProjectedSalesSnapshot]
--where WeekendDate = '2025-05-11'
GO
