USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_PurchasePriceVariance]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Insert_Fact_PurchasePriceVariance]
AS
/*-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD [Fact].[PurchasePriceVariance] >

-- Modified by Abhishek Chakraborty for Purchase Order -- 11 Dec 2024--
 

Version			Date			 Consultant				Comments
1.0				11/12/2024		 Abhishek Chakraborty	Intial Draft  		
1.1				18/11/2025		 Rahul Verma			Added 'HAWA' Mattype in filter to get data for trading goods	
-- =============================================*/

----Delete existing data from ODS table

delete [Fact].[PurchasePriceVariance] ;

--Insert data into ODS table
Begin

with CombinePOPR as
(SELECT [LoadDateTime]
		, 'PurchaseOrder' as Flow
        , [PO] as DocumentNo
       ,[PO]
       ,[POItem]
	   ,[PR] as PRNo
	   , PRItemNo as [PRItmNo]
	   , '' as [PrncplPurcAgrmtNo]
	   , 0 as [PrncplPurcAgrmtItmNo]
	   , Plant
	   , [MatNo]
	   , POUnit as PurchaseUOM
	   , '' as PRDocType
	   ,[PurcGrp] as PurcGrp
	   , DeliveryDate as ItemDelvDate
	   , [PurcDocCat] as PurcDocCat
	   , [PurcDocItmCat] as [PurcDocItmCat]
	   , 'B' as [PRProcessStatus]
	   , '' as PurcOrg
	   , Storageloc as Storageloc
	   , MatGrp 
	   , Vendor
	   , POQty as PurchaseQty
	   , OpenPOQty as OpenPOQty
	   , POQtyConvertedBase as [PurchaseQtyConvertedBase]
	   , OpenPOQtyConvertedBase
	   , 0 as [ConditionScaleQtyTo]
	   , 0 as [ConditionScaleQtyFrom]
	   , 0 as [ConditionScaleQtyToConvertedBase]
	   , 0 as [ConditionScaleQtyFromConvertedBase]
	   , LatestCost
	   , [OpenLatestCost] as POOpenLatestCost
	   , StandardCost
	   , OpenStandardCost as POOpenStandardCost
	   , CostVariance
	   , OpenCostVariance as POOpenCostVariance
	   , NetPrice as LatestPrice
	   , PriceUnit as LatestPriceUnit
	   , case when PriceUnit = 0 then 0 else PONetPriceBaseConverted * StdPriceUnit / PriceUnit end as LatestPricePerBase
	   , StdPrice as StandardPrice
	   , StdPriceUnit as StandardPriceUnit
	   ,GoodsRcptIndic
	   , BaseUOM
	   , UnitOfWt
	   , CustomerNo as Customer
	   , CompCode 
	   , '' as ConditionRecNo
	   , '19000101' as ConditionRecValStartDate
	   , '19000101' as ConditionRecValEndDate
	   , '' as PIRNo
	   ,ExchgRate as ForexConversionFactor
	   ,OrdPriceUnit
	   ,VolumeUnit
	   ,MatType
	   ,MatFrgtGrp
	   ,NetWt
	   ,GrsWt
	   ,Volume
	   ,Currency
	   ,PurcDocStat
	   ,RecCreatDate
	   ,PurcDocProcessState
	   ,[FreightLocalCurr] as FreightCost
	   from ODS.PurchaseOrder
	   where PurcDocCat != 'K' and MatType in ('VERP','ROH', 'HIBE', 'HAWA') -- Added 'HAWA' Mattype in filter to get data for trading goods --17/11/25
	   and PurcGrp in ('001','002','003','004','005','006','007')
	   and MatNo <> '' -- Changed by Abhishek for Purchase Order Project
union all
SELECT [LoadDateTime]
		, Flow as Flow
        , PRNo as DocumentNo
       ,[PO]
       ,[POItem]
	   ,[PRNo] as PRNo
	   , PRItmNo as [PRItmNo]
	   , PrncplPurcAgrmtNo as [PrncplPurcAgrmtNo]
	   , PrncplPurcAgrmtItmNo as [PrncplPurcAgrmtItmNo]
	   , Plant
	   , [MatNo]
	   , PRUOM as PurchaseUOM
	   , PRDocType as PRDocType
	   ,[PurcGrp] as PurcGrp
	   , ItemDelvDate as ItemDelvDate
	   , [PurcDocCat] as PurcDocCat
	   , PurcDocItemCat as [PurcDocItmCat]
	   , PRProcessStatus as [PRProcessStatus]
	   , '' as PurcOrg
	   , Storageloc as Storageloc
	   , MatGrp 
	   , Vendor
	   , PRQty as PurchaseQty
	   , 0 as OpenPOQty
	   , PRQtyConvertedBase as [PurchaseQtyConvertedBase]
	   , 0 as OpenPOQtyConvertedBase
	   , CondScaleQtyTo as [ConditionScaleQtyTo]
	   , CondScaleQtyFrom as [ConditionScaleQtyFrom]
	   , CondScaleQtyToConvertedBase as [ConditionScaleQtyToConvertedBase]
	   , CondScaleQtyFromConvertedBase as [ConditionScaleQtyFromConvertedBase]
	   , LatestCost
	   , 0 as POOpenLatestCost
	   , StandardCost
	   , 0 as POOpenStandardCost
	   , CostVariance
	   , 0 as POOpenCostVariance
	   , CondAmt as LatestPrice
	   , ScalePrcUnit as LatestPriceUnit
	   , case when ScalePrcUnit=0 then 0 else CondAmtConvertedBase * StdPriceUnit  / ScalePrcUnit end as LatestPricePerBase
	   , StdPrice as StandardPrice
	   , StdPriceUnit as StandardPriceUnit
	   ,GoodsRcptIndic
	   , BaseUOM
	   , UnitOfWt
	   , CustomerNo as Customer
	   , CompCode 
	   , ConditionRecNo as ConditionRecNo
	   , CondiRecValStartDate as ConditionRecValStartDate
	   , CondiRecValEndDate as ConditionRecValEndDate
	   , PIRNo as PIRNo
	   ,ForexConversionFactor as ForexConversionFactor
	   ,ScaleQtyUOM
	   ,VolumeUnit
	   ,MatType
	   ,MatFrgtGrp
	   ,NetWt
	   ,GrsWt
	   ,Volume
	   ,Currency
	   ,PurcDocStat
	   ,RecCreatDate
	   ,PurcDocProcessState
	   , [FreightLocalCurr] as FreightCost
	   from ODS.PurchaseRequisition
	  where PRProcessStatus != 'B' and PRClosed != 'X' -- and MatType in ('VERP','ROH', 'HIBE') 
	  and PurcGrp in ('001','002','003','004','005','006','007')
),
GetOverride as
(
     select MatNo, Vendor, Plant, StartDate, EndDate, SUM(PIRPrice_Override) as PIRPrice_Override,SUM(PIRRate_Override) as PIRRate_Override, SUM(FRTRate_Override) as FRTRate_Override,
	 Sum(FRTPrice_Override) as FRTPrice_Override,SUM(StdPrice_Override) as StdPrice_Override, SUM(StdRate_Override) as StdRate_Override
	 , case when sum(PIRPrice_Override)!= 0 or Sum(PIRRate_Override) != 0 then 'Y' else 'N' end as OverridePIR
	 , case when Sum(StdPrice_Override)!= 0 or Sum(StdRate_Override) != 0 then 'Y' else 'N' end as OverrideStd
	 , case when Sum(FRTPrice_Override)!= 0 or Sum(FRTRate_Override) != 0 then 'Y' else 'N' end as OverrideFRT
	 from (Select *,
			case when ControlType = 'Fixed Price' and ControlObject = 'PIR Price' then ControlPrice else 0 end as PIRPrice_Override,
	        case when ControlType = 'Rate'		  and ControlObject = 'PIR Price' then ControlRate else 0 end as PIRRate_Override,
			case when ControlType = 'Fixed Price' and ControlObject = 'Standard Price' then ControlPrice else 0 end as StdPrice_Override,
			case when ControlType = 'Rate'		  and ControlObject = 'Standard Price' then ControlRate else 0 end as StdRate_Override,
			case when ControlType = 'Fixed Price' and ControlObject = 'Freight Cost' then ControlPrice else 0 end as FRTPrice_Override,
			case when ControlType = 'Rate'		  and ControlObject = 'Freight Cost' then ControlRate else 0 end as FRTRate_Override
			from [DIM].[PPVOverride]
	) as OverridePrice
	Group By MatNo, Vendor, Plant, StartDate, EndDate),

OverridePIRStd as(
	select cb.*,gov.PIRPrice_Override, gov.PIRRate_Override , govs.StdPrice_Override, govs.StdRate_Override, govf.FRTRate_Override,
	govf.FRTPrice_Override,
	Case when gov.MatNo is not null and govs.MatNo IS not null and govf.MatNo Is not null then  'All Override'
	 when gov.MatNo is not null and govs.MatNo IS not null then 'PIR and Std Override'
	 when govf.MatNo is not null and govs.MatNo IS not null then 'Freight and Std Override'
	 when govf.MatNo is not null and gov.MatNo IS not null then 'PIR and Freight Override'
	when gov.MatNo IS not null then 'PIR Override' 
	when govs.MatNo is not Null then 'Std Override'
	when govf.MatNo is not Null then 'Freight Override'
	else 'Actual'
	end as IsActual,
	Case when gov.PIRPrice_Override is not null and govf.FRTRate_Override is not null then 'PIR Price and Freight Rate Override'
	when gov.PIRRate_Override is not null and  govf.FRTRate_Override is not null then 'PIR Rate and Freight Rate Override'
	when gov.PIRRate_Override is not null and  govf.FRTPrice_Override is not null then 'PIR Rate and Freight Cost Override'
	when gov.PIRPrice_Override is not null and  govf.FRTPrice_Override is not null then 'PIR Rate and Freight Cost Override'
	when gov.PIRPrice_Override is not null  then 'PIR Price Override'
	when govf.FRTPrice_Override is not null  then 'Freight Cost Override'
	when gov.PIRRate_Override is not null  then 'PIR Rate Override'
	when govf.FRTRate_Override is not null  then 'Freight Rate Override'
	else 'No Override' 
	end as OverrideCalculationFormula,
	Case when gov.PIRPrice_Override is not null and gov.PIRPrice_Override != 0 then gov.PIRPrice_Override* PurchaseQtyConvertedBase / StandardPriceUnit
	     when gov.PIRRate_Override is not null and gov.PIRRate_Override != 0 then LatestCost*gov.PIRRate_Override/100 else 0 end as LatestCostOVerride,
	Case when gov.PIRPrice_Override is not null and gov.PIRPrice_Override != 0 then gov.PIRPrice_Override* OpenPOQtyConvertedBase / StandardPriceUnit
	     when gov.PIRRate_Override is not null and gov.PIRRate_Override != 0 then POOpenLatestCost*gov.PIRRate_Override/100 else 0 end as OpenLatestCostOverride,
	Case when govs.StdPrice_Override is not null and govs.StdPrice_Override != 0 then govs.StdPrice_Override* PurchaseQtyConvertedBase / StandardPriceUnit 
	     when govs.StdRate_Override is not null and govs.StdRate_Override != 0 then govs.StdRate_Override* PurchaseQtyConvertedBase / StandardPriceUnit 
		 else 0 end as StdCostOVerride,
	Case when govf.FRTPrice_Override is not null and govf.FRTPrice_Override != 0 then govf.FRTPrice_Override
	      when govf.FRTRate_Override is not null and govf.FRTRate_Override != 0 then govf.FRTRate_Override *  FreightCost /100
		  else FreightCost  end as  FreightCostOverride
	from CombinePOPR  cb
	left outer join 
	GetOverride gov
	on replace(ltrim(replace(cb.MatNo,'0',' ')),' ','0') = gov.MatNo
	and cb.Plant = gov.Plant
	and replace(ltrim(replace(cb.Vendor,'0',' ')),' ','0') = gov.Vendor
	and ItemDelvDate >= gov.StartDate and ItemDelvDate <= gov.EndDate
	and gov.OverridePIR = 'Y'
	and cb.Flow in ('PIR With Scale','PIR Without Scale')
	left outer join 
	GetOverride govs
	on replace(ltrim(replace(cb.MatNo,'0',' ')),' ','0') = govs.MatNo
	and cb.Plant = govs.Plant
	and ItemDelvDate >= govs.StartDate and ItemDelvDate <= govs.EndDate
	and govs.OverrideStd = 'Y'
	left outer join 
	GetOverride govf
	on replace(ltrim(replace(cb.MatNo,'0',' ')),' ','0') = govf.MatNo
	and cb.Plant = govf.Plant
	and replace(ltrim(replace(cb.Vendor,'0',' ')),' ','0') = govf.Vendor
	and ItemDelvDate >= govf.StartDate and ItemDelvDate <= govf.EndDate
	and govf.OverrideFRT= 'Y'),
ConsolidateOverrideActual as(
	select LoadDateTime,
	       Flow,
		   DocumentNo,
		   PO,
		   POItem,
		   PRNo,
		   PRItmNo,
		   PrncplPurcAgrmtNo,
		   PrncplPurcAgrmtItmNo,
		   Plant,
		   replace(ltrim(replace(MatNo,'0',' ')),' ','0') as MatNo,
		   PurchaseUOM,
		   PRDocType,
		   PurcGrp,
		   ItemDelvDate,
		   PurcDocCat,
		   PurcDocItmCat,
		   PRProcessStatus,
		   PurcOrg,
		   Storageloc,
		   MatGrp,
		   Vendor,
		   PurchaseQty,
		   OpenPOQty,
		   PurchaseQtyConvertedBase,
		   OpenPOQtyConvertedBase,
		   ConditionScaleQtyTo,
		   ConditionScaleQtyFrom,
		   ConditionScaleQtyToConvertedBase,
		   ConditionScaleQtyFromConvertedBase,
		   case when LatestCostOVerride > 0 then LatestCostOVerride else LatestCost end as LatestCost,
		   POOpenLatestCost,
		   case when StdCostOVerride > 0 then StdCostOVerride else StandardCost end as StandardCost,
		   POOpenStandardCost,
		   Case when FreightCostOverride > 0 then FreightCostOverride else FreightCost end as FreightCost,
		   case when LatestCostOVerride > 0 and StdCostOVerride > 0 and FreightCostOverride > 0
		   then LatestCostOVerride + FreightCostOverride - StdCostOVerride
		   when LatestCostOVerride > 0 and  FreightCostOverride > 0 then 
		   LatestCostOVerride + FreightCostOverride - StandardCost
		   when StdCostOVerride > 0 and  LatestCostOVerride > 0 then 
		   LatestCostOVerride + FreightCost - StdCostOVerride
		   when StdCostOVerride > 0 and  FreightCostOverride > 0 then 
		   LatestCost + FreightCostOverride - StdCostOVerride		   
		   when StdCostOVerride > 0 then 
		   LatestCost + FreightCost - StdCostOverride
		   when LatestCostOVerride > 0 then 
		   LatestCostOVerride + FreightCost - StandardCost
		   when FreightCostOverride > 0 then 
		   LatestCost + FreightCostOverride - StandardCost
		   else CostVariance end as CostVariance,
		  case when OpenLatestCostOverride > 0 and StdCostOVerride > 0 and FreightCostOverride > 0
		   then OpenLatestCostOverride + FreightCostOverride - StdCostOVerride
		   when OpenLatestCostOverride > 0 and  FreightCostOverride > 0 then 
		   OpenLatestCostOverride + FreightCostOverride - StandardCost
		   when StdCostOVerride > 0 and  OpenLatestCostOverride > 0 then 
		   OpenLatestCostOverride + FreightCost - StdCostOVerride
		   when StdCostOVerride > 0 and  FreightCostOverride > 0 then 
		   POOpenLatestCost + FreightCostOverride - StdCostOVerride		   
		   when StdCostOVerride > 0 then 
		   POOpenLatestCost + FreightCost - StdCostOverride
		   when OpenLatestCostOverride > 0 then 
		   OpenLatestCostOverride + FreightCost - StandardCost
		   when FreightCostOverride > 0 then 
		   POOpenLatestCost + FreightCostOverride - StandardCost
		   else POOpenCostVariance end as POOpenCostVariance,
		   case when LatestCostOVerride > 0 then PIRPrice_Override else LatestPrice end as LatestPrice,
		   IsActual,
		   OverrideCalculationFormula,
		   case when LatestCostOVerride > 0 then StandardPriceUnit else LatestPriceUnit end as LatestPriceUnit,
		   case when LatestCostOVerride > 0 then PIRPrice_Override else LatestPricePerBase end as LatestPricePerBase,
		   case when StdPrice_Override > 0 then StdPrice_Override else StandardPrice end as StandardPrice,
		   StandardPriceUnit,
		   GoodsRcptIndic,
		   BaseUOM,
		   UnitOfWt,
		   Customer,
		   CompCode,
		   ConditionRecNo,
		   ConditionRecValStartDate,
		   ConditionRecValEndDate,
		   PIRNo,
		   ForexConversionFactor,
		   case when LatestCostOVerride > 0 then BaseUOM else OrdPriceUnit end as OrdPriceUnit,
		   VolumeUnit,
		   MatType,
		   MatFrgtGrp,
		   NetWt,
		   GrsWt,
		   Volume,
		   Currency,
		   PurcDocStat,
		   RecCreatDate,
		   PurcDocProcessState
		   from OverridePIRStd)


		insert into [FACT].[PurchasePriceVariance]
		(LoadDateTime,
	       Flow,
		   DocumentNo,
		   PO,
		   POItem,
		   PRNo,
		   PRItmNo,
		   PrncplPurcAgrmtNo,
		   PrncplPurcAgrmtItmNo,
		   Plant,
		   MatNo,
		   PurchaseUOM,
		   PRDocType,
		   PurcGrp,
		   ItemDelvDate,
		   PurcDocCat,
		   PurcDocItemCat,
		   PRProcessStatus,
		   PurcOrg,
		   Storageloc,
		   MatGrp,
		   Vendor,
		   PurchaseQty,
		   PurchaseQtyConvertedBase,
		   OpenPOQty,
		   OpenPOQtyConvertedBase,
		   ConditionScaleQtyTo,
		   ConditionScaleQtyFrom,
		   ConditionScaleQtyToConvertedBase,
		   ConditionScaleQtyFromConvertedBase,
		   LatestCost,
		   POOpenLatestCost,
		   StandardCost,
		   POOpenStandardCost,
		   CostVariance,
		   POOpenCostVariance,
		   LatestPrice,
		   LatestPriceUnit,
		   LatestPricePerBase,
		   StandardPrice,
		   StandardPriceUnit,
		   IsActual,
		   OverrideCalculationFormula,
		   GoodsRcptIndic,
		   BaseUOM,
		   UnitOfWt,
		   Customer,
		   CompCode,
		   ConditionRecNo,
		   CondiRecValStartDate,
		   CondiRecValEndDate,
		   PIRNo,
		   ForexConversionFactor,
		   OrderPriceUOM,
		   VolumeUnit,
		   MatType,
		   MatFrgtGrp,
		   NetWt,
		   GrsWt,
		   Volume,
		   Currency,
		   PurcDocStat,
		   RecCreatDate,
		   PurcDocProcessState,
		   FreightCost)
		  select LoadDateTime,
	       Flow,
		   DocumentNo,
		   PO,
		   POItem,
		   PRNo,
		   PRItmNo,
		   PrncplPurcAgrmtNo,
		   PrncplPurcAgrmtItmNo,
		   Plant,
		   MatNo,
		   PurchaseUOM,
		   PRDocType,
		   PurcGrp,
		   ItemDelvDate,
		   PurcDocCat,
		   PurcDocItmCat,
		   PRProcessStatus,
		   PurcOrg,
		   Storageloc,
		   MatGrp,
		   Vendor,
		   PurchaseQty,
		   PurchaseQtyConvertedBase,
		   OpenPOQty,
		   OpenPOQtyConvertedBase,
		   ConditionScaleQtyTo,
		   ConditionScaleQtyFrom,
		   ConditionScaleQtyToConvertedBase,
		   ConditionScaleQtyFromConvertedBase,
		   LatestCost,
		   POOpenLatestCost,
		   StandardCost,
		   POOpenStandardCost,
		   CostVariance,
		   POOpenCostVariance,
		   LatestPrice,
		   LatestPriceUnit,
		   LatestPricePerBase,
		   StandardPrice,
		   StandardPriceUnit,
		   IsActual,
		   OverrideCalculationFormula,
		   GoodsRcptIndic,
		   BaseUOM,
		   UnitOfWt,
		   Customer,
		   CompCode,
		   ConditionRecNo,
		   ConditionRecValStartDate,
		   ConditionRecValEndDate,
		   PIRNo,
		   ForexConversionFactor,
		   OrdPriceUnit AS OrdPriceUOM,
		   VolumeUnit,
		   MatType,
		   MatFrgtGrp,
		   NetWt,
		   GrsWt,
		   Volume,
		   Currency,
		   PurcDocStat,
		   RecCreatDate,
		   PurcDocProcessState,
		   FreightCost
		   from ConsolidateOverrideActual
		   --Select * from GetOverride
end
GO
