USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_NSDMMARC]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_NSDMMARC>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_NSDMMARC]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_NSDMMARC]  

insert into [SAPSTG].[ZXC_NSDMMARC]   
 
SELECT 
 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
abcin  =NULLIF(cast(abcin as nvarchar(1)),'') ,
abfac  =cast(abfac as decimal(38,6)) ,
ahdis  =NULLIF(cast(ahdis as nvarchar(1)),'') ,
altsl  =NULLIF(cast(altsl as nvarchar(1)),'') ,
--aplal  =NULLIF(cast(aplal as nvarchar(2)),'') ,
aplal = case when ISNUMERIC(aplal)= 1
	THEN CAST(CAST(aplal AS BIGINT) AS nvarchar(2))
	WHEN CAST(aplal AS NVARCHAR(2)) = '' THEN NULL
	ELSE CAST(aplal AS NVARCHAR(2)) END,
apokz  =NULLIF(cast(apokz as nvarchar(1)),'') ,
arun_fix_batch  =NULLIF(cast(arun_fix_batch as nvarchar(1)),'') ,
atpkz  =NULLIF(cast(atpkz as nvarchar(1)),'') ,
auftl  =NULLIF(cast(auftl as nvarchar(1)),'') ,
ausdt  =CASE WHEN ISDATE(ausdt) = 1 
                        		then CONVERT(datetime,ausdt, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ausdt) 
                         		else null 	end ,
ausme  =NULLIF(cast(ausme as nvarchar(3)),'') ,
ausss  =cast(ausss as decimal(38,6)) ,
autru  =case autru when 'X' then cast(1 as bit) else cast(0 as bit) end ,
awsls  =NULLIF(cast(awsls as nvarchar(6)),'') ,
basmg  =cast(basmg as decimal(38,6)) ,
bearz  =cast(bearz as decimal(38,6)) ,
beskz  =NULLIF(cast(beskz as nvarchar(1)),'') ,
bstfe  =cast(bstfe as decimal(38,6)) ,
bstma  =cast(bstma as decimal(38,6)) ,
bstmi  =cast(bstmi as decimal(38,6)) ,
bstrf  =cast(bstrf as decimal(38,6)) ,
bwesb  =cast(bwesb as decimal(38,6)) ,
bwscl  =NULLIF(cast(bwscl as nvarchar(1)),'') ,
bwtty  =NULLIF(cast(bwtty as nvarchar(1)),'') ,
casnr  =NULLIF(cast(casnr as nvarchar(15)),'') ,
ccfix  =case ccfix when 'X' then cast(1 as bit) else cast(0 as bit) end ,
compl  =NULLIF(cast(compl as nvarchar(2)),'') ,
cons_procg  =NULLIF(cast(cons_procg as nvarchar(1)),'') ,
convt  =NULLIF(cast(convt as nvarchar(2)),'') ,
copam  =NULLIF(cast(copam as nvarchar(10)),'') ,
cuobj  =NULLIF(cast(cuobj as nvarchar(18)),'') ,
cuobv  =NULLIF(cast(cuobv as nvarchar(18)),'') ,
diber  =case diber when 'X' then cast(1 as bit) else cast(0 as bit) end ,
disgr  =NULLIF(cast(disgr as nvarchar(4)),'') ,
disls  =NULLIF(cast(disls as nvarchar(2)),'') ,
dismm  =NULLIF(cast(dismm as nvarchar(2)),'') ,
dispo  =NULLIF(cast(dispo as nvarchar(3)),'') ,
dispr  =NULLIF(cast(dispr as nvarchar(4)),'') ,
dpcbt  =NULLIF(cast(dpcbt as nvarchar(1)),'') ,
dplfs  =NULLIF(cast(dplfs as nvarchar(2)),'') ,
dplho  =cast(dplho as decimal(38,6)) ,
dplpu  =NULLIF(cast(dplpu as nvarchar(1)),'') ,
dummy_plnt_incl_eew_ps  =NULLIF(cast(dummy_plnt_incl_eew_ps as nvarchar(1)),'') ,
dzeit  =cast(dzeit as decimal(38,6)) ,
eisbe  =cast(eisbe as decimal(38,6)) ,
eislo  =cast(eislo as decimal(38,6)) ,
ekgrp  =NULLIF(cast(ekgrp as nvarchar(3)),'') ,
eprio  =NULLIF(cast(eprio as nvarchar(4)),'') ,
expme  =NULLIF(cast(expme as nvarchar(3)),'') ,
fabkz  =NULLIF(cast(fabkz as nvarchar(1)),'') ,
fevor  =NULLIF(cast(fevor as nvarchar(3)),'') ,
ffrei  =case ffrei when 'X' then cast(1 as bit) else cast(0 as bit) end ,
fhori  =NULLIF(cast(fhori as nvarchar(3)),'') ,
fixls  =cast(fixls as decimal(38,6)) ,
fprfm  =NULLIF(cast(fprfm as nvarchar(3)),'') ,
frtme  =NULLIF(cast(frtme as nvarchar(3)),'') ,
fsh_calendar_group  =NULLIF(cast(fsh_calendar_group as nvarchar(4)),'') ,
fsh_kzech  =NULLIF(cast(fsh_kzech as nvarchar(1)),'') ,
fsh_mg_arun_req  =NULLIF(cast(fsh_mg_arun_req as nvarchar(1)),'') ,
fsh_seaim  =NULLIF(cast(fsh_seaim as nvarchar(1)),'') ,
fsh_var_group  =NULLIF(cast(fsh_var_group as nvarchar(2)),'') ,
fvidk  =NULLIF(cast(fvidk as nvarchar(4)),'') ,
fxhor  =NULLIF(cast(fxhor as nvarchar(3)),'') ,
fxpru  =case fxpru when 'X' then cast(1 as bit) else cast(0 as bit) end ,
gi_pr_time  =cast(gi_pr_time as decimal(38,6)) ,
glgmg  =cast(glgmg as decimal(38,6)) ,
gpmkz  =case gpmkz when 'X' then cast(1 as bit) else cast(0 as bit) end ,
gpnum  =NULLIF(cast(gpnum as nvarchar(9)),'') ,
herbl  =NULLIF(cast(herbl as nvarchar(2)),'') ,
herkl  =NULLIF(cast(herkl as nvarchar(3)),'') ,
herkr  =NULLIF(cast(herkr as nvarchar(3)),'') ,
indus  =NULLIF(cast(indus as nvarchar(2)),'') ,
insmk  =NULLIF(cast(insmk as nvarchar(1)),'') ,
itark  =case itark when 'X' then cast(1 as bit) else cast(0 as bit) end ,
iuid_relevant  =NULLIF(cast(iuid_relevant as nvarchar(1)),'') ,
iuid_type  =NULLIF(cast(iuid_type as nvarchar(10)),'') ,
kausf  =cast(kausf as decimal(38,6)) ,
kautb  =case kautb when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kordb  =case kordb when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kzagl  =NULLIF(cast(kzagl as nvarchar(1)),'') ,
kzaus  =NULLIF(cast(kzaus as nvarchar(1)),'') ,
kzbed  =NULLIF(cast(kzbed as nvarchar(1)),'') ,
kzdie  =case kzdie when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kzdkz  =case kzdkz when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kzech  =NULLIF(cast(kzech as nvarchar(1)),'') ,
kzkfk  =case kzkfk when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kzkri  =case kzkri when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kzkup  =case kzkup when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kzppv  =NULLIF(cast(kzppv as nvarchar(1)),'') ,
kzpro  =case kzpro when 'X' then cast(1 as bit) else cast(0 as bit) end ,
kzpsp  =NULLIF(cast(kzpsp as nvarchar(1)),'') ,
ladgr  =NULLIF(cast(ladgr as nvarchar(4)),'') ,
lagpr  =NULLIF(cast(lagpr as nvarchar(1)),'') ,
lfgja  =NULLIF(cast(lfgja as nvarchar(4)),'') ,
lfmon  =NULLIF(cast(lfmon as nvarchar(2)),'') ,
lfrhy  =NULLIF(cast(lfrhy as nvarchar(3)),'') ,
lgfsb  =NULLIF(cast(lgfsb as nvarchar(4)),'') ,
lgpro  =NULLIF(cast(lgpro as nvarchar(4)),'') ,
lgrad  =cast(lgrad as decimal(38,6)) ,
lizyk  =NULLIF(cast(lizyk as nvarchar(4)),'') ,
loggr  =NULLIF(cast(loggr as nvarchar(4)),'') ,
losfx  =cast(losfx as decimal(38,6)) ,
losgr  =cast(losgr as decimal(38,6)) ,
ltinc  =cast(ltinc as decimal(38,6)) ,
lvorm  =case lvorm when 'X' then cast(1 as bit) else cast(0 as bit) end ,
lzeih  =NULLIF(cast(lzeih as nvarchar(3)),'') ,
maabc  =NULLIF(cast(maabc as nvarchar(1)),'') ,
mabst  =cast(mabst as decimal(38,6)) ,
matgr  =NULLIF(cast(matgr as nvarchar(20)),'') ,
matnr  				= case when isnumeric(matnr) =1 
                                    		then 	cast(cast(matnr as BIGINT) as nvarchar(40))
                                            else  cast(matnr as nvarchar(40)) end,
maxls  =cast(maxls as decimal(38,6)) ,
maxlz  =cast(maxlz as decimal(38,6)) ,
max_troc  =NULLIF(cast(max_troc as nvarchar(3)),'') ,
mcrue  =NULLIF(cast(mcrue as nvarchar(1)),'') ,
mdach  =NULLIF(cast(mdach as nvarchar(2)),'') ,
megru  =NULLIF(cast(megru as nvarchar(4)),'') ,
mfrgr  =NULLIF(cast(mfrgr as nvarchar(8)),'') ,
minbe  =cast(minbe as decimal(38,6)) ,
minls  =cast(minls as decimal(38,6)) ,
min_troc  =NULLIF(cast(min_troc as nvarchar(3)),'') ,
miskz  =NULLIF(cast(miskz as nvarchar(1)),'') ,
mogru  =NULLIF(cast(mogru as nvarchar(6)),'') ,
mownr  =NULLIF(cast(mownr as nvarchar(12)),'') ,
mpdau  =cast(mpdau as decimal(38,6)) ,
mrppp  =NULLIF(cast(mrppp as nvarchar(3)),'') ,
mtver  =NULLIF(cast(mtver as nvarchar(4)),'') ,
mtvfp  =NULLIF(cast(mtvfp as nvarchar(2)),'') ,
multiple_ekgrp  =case multiple_ekgrp when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ncost  =NULLIF(cast(ncost as nvarchar(1)),'') ,
nfmat  =NULLIF(cast(nfmat as nvarchar(40)),'') ,
nf_flag  =case nf_flag when 'X' then cast(1 as bit) else cast(0 as bit) end ,
nkmpr  =CASE WHEN ISDATE(nkmpr) = 1 
                        		then CONVERT(datetime,nkmpr, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),nkmpr) 
                         		else null 	end ,
objid  =NULLIF(cast(objid as nvarchar(8)),'') ,
ocmpf  =NULLIF(cast(ocmpf as nvarchar(6)),'') ,
otype  =NULLIF(cast(otype as nvarchar(2)),'') ,
periv  =NULLIF(cast(periv as nvarchar(2)),'') ,
perkz  =NULLIF(cast(perkz as nvarchar(1)),'') ,
pfrei  =case pfrei when 'X' then cast(1 as bit) else cast(0 as bit) end ,
plifz  =cast(plifz as decimal(38,6)) ,
plnnr  =NULLIF(cast(plnnr as nvarchar(8)),'') ,
plnty  =NULLIF(cast(plnty as nvarchar(1)),'') ,
plvar  =NULLIF(cast(plvar as nvarchar(2)),'') ,
ppskz  =case ppskz when 'X' then cast(1 as bit) else cast(0 as bit) end ,
prctr  = case when isnumeric(prctr) =1 
                               						then NULLIF(cast(cast(prctr as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(prctr as nvarchar(10)),'') end,
prefe  =NULLIF(cast(prefe as nvarchar(1)),'') ,
prenc  =NULLIF(cast(prenc as nvarchar(1)),'') ,
prend  =CASE WHEN ISDATE(prend) = 1 
                        		then CONVERT(datetime,prend, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),prend) 
                         		else null 	end ,
prene  =NULLIF(cast(prene as nvarchar(1)),'') ,
preng  =CASE WHEN ISDATE(preng) = 1 
                        		then CONVERT(datetime,preng, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),preng) 
                         		else null 	end ,
preno  =NULLIF(cast(preno as nvarchar(8)),'') ,
prfrq  =cast(prfrq as decimal(38,6)) ,
profil  =NULLIF(cast(profil as nvarchar(4)),'') ,
pstat  =NULLIF(cast(pstat as nvarchar(15)),'') ,
qmata  =NULLIF(cast(qmata as nvarchar(6)),'') ,
qmatv  =case qmatv when 'X' then cast(1 as bit) else cast(0 as bit) end ,
qssys  =NULLIF(cast(qssys as nvarchar(4)),'') ,
quazt  =cast(quazt as decimal(38,6)) ,
qzgtp  =NULLIF(cast(qzgtp as nvarchar(4)),'') ,
rdprf  =NULLIF(cast(rdprf as nvarchar(4)),'') ,
ref_schema  =NULLIF(cast(ref_schema as nvarchar(2)),'') ,
resvp  =cast(resvp as decimal(38,6)) ,
rgekz  =NULLIF(cast(rgekz as nvarchar(1)),'') ,
rotation_date  =NULLIF(cast(rotation_date as nvarchar(1)),'') ,
ruezt  =cast(ruezt as decimal(38,6)) ,
rwpro  =NULLIF(cast(rwpro as nvarchar(3)),'') ,
sauft  =case sauft when 'X' then cast(1 as bit) else cast(0 as bit) end ,
sbdkz  =NULLIF(cast(sbdkz as nvarchar(1)),'') ,
schgt  =case schgt when 'X' then cast(1 as bit) else cast(0 as bit) end ,
scm_conhap  =cast(scm_conhap as decimal(38,6)) ,
scm_conhap_out  =cast(scm_conhap_out as decimal(38,6)) ,
scm_fixpeg_prod_set  =NULLIF(cast(scm_fixpeg_prod_set as nvarchar(1)),'') ,
scm_get_alerts  =NULLIF(cast(scm_get_alerts as nvarchar(1)),'') ,
scm_giprt  =cast(scm_giprt as decimal(38,6)) ,
scm_grprt  =cast(scm_grprt as decimal(38,6)) ,
scm_heur_id  =NULLIF(cast(scm_heur_id as nvarchar(12)),'') ,
scm_hunit  =NULLIF(cast(scm_hunit as nvarchar(3)),'') ,
scm_hunit_out  =NULLIF(cast(scm_hunit_out as nvarchar(3)),'') ,
scm_lsuom  =NULLIF(cast(scm_lsuom as nvarchar(3)),'') ,
scm_matlocid_guid16  = substring(lower(convert(varchar(36),scm_matlocid_guid16, 2)),1,8)+'-'
						+ substring(lower(convert(varchar(36),scm_matlocid_guid16, 2)),9,4) +'-'
						+ substring(lower(convert(varchar(36),scm_matlocid_guid16, 2)),13,4) +'-'
						+ substring(lower(convert(varchar(36),scm_matlocid_guid16, 2)),17,4)+'-'
						+ substring(lower(convert(varchar(36),scm_matlocid_guid16, 2)),21,12)  ,
scm_matlocid_guid22  =NULLIF(cast(scm_matlocid_guid22 as nvarchar(22)),'') ,
scm_maturity_dur  =cast(scm_maturity_dur as decimal(38,6)) ,
scm_package_id  =NULLIF(cast(scm_package_id as nvarchar(12)),'') ,
scm_peg_future_alert  =cast(scm_peg_future_alert as decimal(38,6)) ,
scm_peg_past_alert  =cast(scm_peg_past_alert as decimal(38,6)) ,
scm_peg_strategy  =NULLIF(cast(scm_peg_strategy as nvarchar(2)),'') ,
scm_peg_wo_alert_fst  =NULLIF(cast(scm_peg_wo_alert_fst as nvarchar(1)),'') ,
scm_reldt  =cast(scm_reldt as decimal(38,6)) ,
scm_reord_dur  =cast(scm_reord_dur as decimal(38,6)) ,
scm_res_net_name  =NULLIF(cast(scm_res_net_name as nvarchar(40)),'') ,
scm_rrp_sel_group  =NULLIF(cast(scm_rrp_sel_group as nvarchar(2)),'') ,
scm_rrp_type  =NULLIF(cast(scm_rrp_type as nvarchar(1)),'') ,
scm_scost  =cast(scm_scost as decimal(38,6)) ,
scm_shelf_life_dur  =cast(scm_shelf_life_dur as decimal(38,6)) ,
scm_shelf_life_loc  =case scm_shelf_life_loc when 'X' then cast(1 as bit) else cast(0 as bit) end ,
scm_shlf_lfe_req_max  =cast(scm_shlf_lfe_req_max as decimal(38,6)) ,
scm_shlf_lfe_req_min  =cast(scm_shlf_lfe_req_min as decimal(38,6)) ,
scm_sspen  =cast(scm_sspen as decimal(38,6)) ,
scm_stra1  =NULLIF(cast(scm_stra1 as nvarchar(2)),'') ,
scm_target_dur  =cast(scm_target_dur as decimal(38,6)) ,
scm_tstrid  = case when isnumeric(scm_tstrid) =1 
                               						then NULLIF(cast(cast(scm_tstrid as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(scm_tstrid as nvarchar(10)),'') end,
scm_whatbom  =NULLIF(cast(scm_whatbom as nvarchar(1)),'') ,
sernp  =NULLIF(cast(sernp as nvarchar(4)),'') ,
servg  =NULLIF(cast(servg as nvarchar(1)),'') ,
sfcpf  =NULLIF(cast(sfcpf as nvarchar(6)),'') ,
sfepr  =NULLIF(cast(sfepr as nvarchar(4)),'') ,
sgt_chint  =case sgt_chint when 'X' then cast(1 as bit) else cast(0 as bit) end ,
sgt_covs  =NULLIF(cast(sgt_covs as nvarchar(8)),'') ,
sgt_defsc  =NULLIF(cast(sgt_defsc as nvarchar(40)),'') ,
sgt_mmstd  =CASE WHEN ISDATE(sgt_mmstd) = 1 
                        		then CONVERT(datetime,sgt_mmstd, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),sgt_mmstd) 
                         		else null 	end ,
sgt_mrpsi  =NULLIF(cast(sgt_mrpsi as nvarchar(1)),'') ,
sgt_mrp_atp_status  =NULLIF(cast(sgt_mrp_atp_status as nvarchar(2)),'') ,
sgt_prcm  =NULLIF(cast(sgt_prcm as nvarchar(1)),'') ,
sgt_scope  =NULLIF(cast(sgt_scope as nvarchar(1)),'') ,
sgt_statc  =NULLIF(cast(sgt_statc as nvarchar(1)),'') ,
sgt_stk_prt  =NULLIF(cast(sgt_stk_prt as nvarchar(1)),'') ,
shflg  =NULLIF(cast(shflg as nvarchar(1)),'') ,
shpro  =NULLIF(cast(shpro as nvarchar(3)),'') ,
shzet  =NULLIF(cast(shzet as nvarchar(2)),'') ,
sobsk  =NULLIF(cast(sobsk as nvarchar(2)),'') ,
sobsl  =NULLIF(cast(sobsl as nvarchar(2)),'') ,
sproz  =cast(sproz as decimal(38,6)) ,
ssqss  =NULLIF(cast(ssqss as nvarchar(8)),'') ,
Status  =NULLIF(cast(Status as nvarchar(2)),'') ,
StatusDate  =CASE WHEN ISDATE(StatusDate) = 1 
                        		then CONVERT(datetime,StatusDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),StatusDate) 
                         		else null 	end ,
stawn  =NULLIF(cast(stawn as nvarchar(17)),'') ,
stdpd  =NULLIF(cast(stdpd as nvarchar(40)),'') ,
steuc  =NULLIF(cast(steuc as nvarchar(16)),'') ,
--stlal  =NULLIF(cast(stlal as nvarchar(2)),'') ,
stlal = case when ISNUMERIC(stlal)= 1
	THEN CAST(CAST(stlal AS BIGINT) AS nvarchar(2))
	WHEN CAST(stlal AS NVARCHAR(2)) = '' THEN NULL
	ELSE CAST(stlal AS NVARCHAR(2)) END,
stlan  =NULLIF(cast(stlan as nvarchar(1)),'') ,
strgr  =NULLIF(cast(strgr as nvarchar(2)),'') ,
takzt  =cast(takzt as decimal(38,6)) ,
target_stock  =cast(target_stock as decimal(38,6)) ,
trame  =cast(trame as decimal(38,6)) ,
tranz  =cast(tranz as decimal(38,6)) ,
uchkz  =NULLIF(cast(uchkz as nvarchar(1)),'') ,
ucmat  =NULLIF(cast(ucmat as nvarchar(40)),'') ,
ueetk  =case ueetk when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ueeto  =cast(ueeto as decimal(38,6)) ,
uid_iea  =NULLIF(cast(uid_iea as nvarchar(1)),'') ,
umlmc  =cast(umlmc as decimal(38,6)) ,
umrsl  =NULLIF(cast(umrsl as nvarchar(4)),'') ,
uneto  =cast(uneto as decimal(38,6)) ,
uomgr  =NULLIF(cast(uomgr as nvarchar(3)),'') ,
usequ  =NULLIF(cast(usequ as nvarchar(1)),'') ,
vbamg  =cast(vbamg as decimal(38,6)) ,
vbeaz  =cast(vbeaz as decimal(38,6)) ,
verkz  =case verkz when 'X' then cast(1 as bit) else cast(0 as bit) end ,
vint1  =NULLIF(cast(vint1 as nvarchar(3)),'') ,
vint2  =NULLIF(cast(vint2 as nvarchar(3)),'') ,
vkglg  =cast(vkglg as decimal(38,6)) ,
vktrw  =cast(vktrw as decimal(38,6)) ,
vkumc  =cast(vkumc as decimal(38,6)) ,
vrbdt  =CASE WHEN ISDATE(vrbdt) = 1 
                        		then CONVERT(datetime,vrbdt, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),vrbdt) 
                         		else null 	end ,
vrbfk  =cast(vrbfk as decimal(38,6)) ,
vrbmt  =NULLIF(cast(vrbmt as nvarchar(40)),'') ,
vrbwk  =NULLIF(cast(vrbwk as nvarchar(4)),'') ,
vrmod  =NULLIF(cast(vrmod as nvarchar(1)),'') ,
vrvez  =cast(vrvez as decimal(38,6)) ,
vspvb  =NULLIF(cast(vspvb as nvarchar(10)),'') ,
vzusl  =cast(vzusl as decimal(38,6)) ,
webaz  =cast(webaz as decimal(38,6)) ,
werks  =NULLIF(cast(werks as nvarchar(4)),'') ,
wstgh  =cast(wstgh as decimal(38,6)) ,
wzeit  =cast(wzeit as decimal(38,6)) ,
xchar  =case xchar when 'X' then cast(1 as bit) else cast(0 as bit) end ,
xchpf  =case xchpf when 'X' then cast(1 as bit) else cast(0 as bit) end ,
xcwmxbwesb  =0,--'Odata Column is Missing' ,
xcwmxtrame  =0,--'Odata Column is Missing' ,
xcwmxumlmc  =0,--'Odata Column is Missing' ,
xmcng  =case xmcng when 'X' then cast(1 as bit) else cast(0 as bit) end ,
xsapmpxtolprmi  =0,--'Odata Column is Missing' ,
xsapmpxtolprpl  =0,--'Odata Column is Missing' ,
xvsoxr_fork_dir  =null,--'Odata Column is Missing' ,
xvsoxr_lane_num  =null,--'Odata Column is Missing' ,
xvsoxr_pal_vend  =null,--'Odata Column is Missing' ,
xvsoxr_pkgrp  =null,--'Odata Column is Missing' ,
ScriptVersionDate = cast(getdate() as date)

FROM  SAPSTG.ZXCNSDMMARC  WITH (NOLOCK) 

END
GO
