USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[LoadJobInstance]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[LoadJobInstance]
AS
BEGIN
	TRUNCATE TABLE [dbo].[JobInstance];

	;WITH CTE_JOB_OUTCOME AS (
		-- Get jobs that ran successfully. Get the start_time, end_time and duration in seconds.
		-- ?? Do we really need the step_count from the Job table ??
		-- We don't know if every step in the job ran.
		SELECT
			h.[job_id]
		,	msdb.dbo.agent_datetime(run_date, run_time) AS [start_time]
		,	DATEADD(
				second
			,	[run_duration] / 10000 * 3600 +			-- convert hours to seconds
				([run_duration] % 10000) / 100 * 60 +	-- convert minutes to seconds
				([run_duration] % 10000) % 100			-- get seconds
			,	msdb.dbo.agent_datetime(run_date, run_time)) [end_time]
			,	[run_duration] / 10000 * 3600 +			-- convert hours to seconds
				([run_duration] % 10000) / 100 * 60 +	-- convert minutes to seconds
				([run_duration] % 10000) % 100			-- get seconds
					AS [duration_seconds]
		,	[run_status]
		,	[retries_attempted]
		,	j.[step_count]
		FROM msdb.dbo.sysjobhistory h
		JOIN [dbo].[Job] j
		ON j.[job_id] = h.[job_id]
		WHERE [step_id] = 0
		AND [run_status] = 1
	)

	, CTE_JOB_OUTCOME_INSTANCE AS (
		-- Assign a job instanceusing ROW_NUMBER()
		SELECT
			[job_id]
		,	ROW_NUMBER() OVER (
				PARTITION BY [job_id]
				ORDER BY [job_id], [start_time]
			)	AS [job_instance]
		,	[start_time]
		,	[end_time]
		,	[duration_seconds]
		,	[run_status]
		,	[retries_attempted]
		,	[step_count]
		FROM CTE_JOB_OUTCOME
	)

	INSERT [dbo].[JobInstance] (
		[job_id]			
	,	[job_instance]		
	,	[start_time]		
	,	[end_time]			
	,	[duration_seconds]	
	,	[run_status]		
	,	[retries_attempted]	
	,	[step_count]		
	)
	SELECT
		[job_id]			
	,	[job_instance]		
	,	[start_time]		
	,	[end_time]			
	,	[duration_seconds]	
	,	[run_status]
	,	[retries_attempted]	
	,	[step_count]		
	FROM CTE_JOB_OUTCOME_INSTANCE;
END
GO
