USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[ODS_Rawmaterial_Purchasing]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















CREATE PROCEDURE [dbo].[ODS_Rawmaterial_Purchasing]
AS
BEGIN

TRUNCATE TABLE ODS.RawMaterial_Purchasing;
WITH Unioned AS (
    SELECT 
        Replace(ltrim(Replace(MatNo,'0',' ')),' ','0') as MatNo, 
        i.ItemTypeName, 
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
        FiscalYear, 
        --FiscalPeriod, 
        baseUOM,
        SUM(p.POQtyConvertedBase) AS PurQty_YTD, 
        SUM(p.latestcost) AS POCost_YTD, 
        SUM(p.StandardCost) AS StdCost_YTD,
		0 AS PurQty_YTG, 
        0 AS POCost_YTG, 
        0 AS StdCost_YTG,
		0 AS PurQty_NFY, 
        0 AS POCost_NFY, 
        0 AS StdCost_NFY
    FROM [BI_PROD_POST_SAP].[ODS].[PurchaseOrder] p 
    LEFT JOIN dim.CalendarDate c ON p.DeliveryDate = c.DateKey  
    LEFT JOIN ODS.Item i ON Replace(ltrim(Replace(p.MatNo,'0',' ')),' ','0') = i.ItemNo
    where c.YearOffset = 0 and c.PeriodOffset>=1
	and i.ItemDescription is not null
    GROUP BY MatNo, FiscalYear, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, baseUOM
		

	 union all
	 
	    SELECT 
        p.MatNo, 
        i.ItemTypeName,
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
        FiscalYear, 
        --FiscalPeriod,             
        baseUOM,
        0 AS PurQty_YTD, 
        0 AS POCost_YTD, 
        0 AS StdCost_YTD,
		0 AS PurQty_YTG, 
        0 AS POCost_YTG, 
        0 AS StdCost_YTG,
	    SUM(p.PurchaseQtyConvertedBase) AS PurQty_NFY, 
        SUM(p.latestcost) AS POCost_NFY, 
        SUM(p.StandardCost) AS StdCost_NFY
		                                           
    FROM [BI_PROD_POST_SAP].[FACT].[PurchasePriceVariance] p 
    LEFT JOIN dim.CalendarDate c ON p.ItemDelvDate = c.DateKey  
    LEFT JOIN ODS.Item i ON p.MatNo = i.ItemNo
    where c.YearOffset = -1
	and i.ItemDescription is not null

	--and p.matno='1000016'
    GROUP BY MatNo, FiscalYear, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, baseUOM
		

 union all

	SELECT 
        p.MatNo, 
        i.ItemTypeName, 
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
       FiscalYear,
        --FiscalPeriod,             
        baseUOM,
        0 AS PurQty_YTD, 
        0 AS POCost_YTD, 
        0 AS StdCost_YTD,
		sum(p.PurchaseQtyConvertedBase) AS PurQty_YTG, 
        SUM(p.latestcost) AS POCost_YTG, 
        SUM(p.StandardCost) AS StdCost_YTG,
	    0 AS PurQty_NFY, 
        0 AS POCost_NFY, 
        0 AS StdCost_NFY		                                           
    FROM [BI_PROD_POST_SAP].[FACT].[PurchasePriceVariance]  p
    LEFT JOIN dim.CalendarDate c ON p.ItemDelvDate = c.DateKey  
    LEFT JOIN  ODS.Item i ON Replace(ltrim(Replace(p.MatNo,'0',' ')),' ','0') = i.ItemNo 
    where c.YearOffset = 0 and c.PeriodOffset<1
	and i.ItemDescription is not null
	--and p.matno='1000016'
    GROUP BY MatNo, FiscalYear, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, baseUOM
		
	)

	insert into [BI_PROD_POST_SAP].[ODS].[RawMaterial_Purchasing]

	([Loaded_Datetime]
	,[MatNo]
      ,[ItemTypeName]
      ,[ItemNoWithDescription]
      ,[SignalDescription]
      ,[ItemGroupName]
      ,[FiscalYear]
      ,[baseUOM]
      ,[PurQty_YTD]
      ,[POCost_YTD]
      ,[StdCost_YTD]
      ,[PurQty_YTG]
      ,[POCost_YTG]
      ,[StdCost_YTG]
      ,[PurQty_NFY]
      ,[POCost_NFY]
      ,[StdCost_NFY])

	(select 
	getdate() as [Loaded_Datetime],
	 MatNo, 
        ItemTypeName, 
		ItemNoWithDescription,
		SignalDescription,
		ItemGroupName,
        FiscalYear, 
        --FiscalPeriod, 
        baseUOM,
		SUM(PurQty_YTD) AS PurQty_YTD, 
        SUM(POCost_YTD) AS POCost_YTD, 
        SUM(StdCost_YTD) AS StdCost_YTD,
		SUM(PurQty_YTG) AS PurQty_YTG, 
        SUM(POCost_YTG) AS POCost_YTG, 
        SUM(StdCost_YTG) AS StdCost_YTG,
		SUM(PurQty_NFY) AS PurQty_NFY, 
        SUM(POCost_NFY) AS POCost_NFY, 
        SUM(StdCost_NFY) AS StdCost_NFY
		--into [BI_PROD_POST_SAP].[ODS].[RawMaterial_Purchasing] 
		from Unioned
		--where matno='000000000000240079'
		GROUP BY MatNo,FiscalYear,  ItemTypeName,itemNoWithDescription,	SignalDescription,
		ItemGroupName, baseUOM)

	

END
GO
