USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ROUTING]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS ROUTING]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ROUTING]
AS
SET NOCOUNT ON;
TRUNCATE TABLE ODS.ROUTING;

 WITH
  
  PRODUCTIONVERSION AS
	( 
		SELECT k.* from 
			(SELECT v.Material,v.BillOfMaterialVariant,v.BillOfOperationsGroup,v.BillOfOperationsType,v.CreatedByUser,
					v.Plant,v.ProductionLine,v.ProductionVersion,v.ProductionVersionGroup,v.ProductionVersionText,
                    v.ValidityStartDate,v.ValidityEndDate,v.BillOfOperationsVariant,
					ROW_NUMBER() OVER(PARTITION BY v.BillOfOperationsGroup ORDER BY v.ProductionVersion, v.plant ASC)  
    				AS rn,
					ROW_NUMBER() OVER(PARTITION BY v.Material ORDER BY v.ProductionVersion, v.plant ASC)  
    				AS Preferred
			FROM SAPSTG.ZXC_PRODUCTIONVERSION v with (NOLOCK)
			WHERE v.BillOfOperationsGroup IS NOT NULL
			AND SYSDATETIME() BETWEEN v.ValidityStartDate AND v.ValidityEndDate			
			
			)k
		WHERE k.rn=1 
	)
    ,
  BILLOFOPSHEADER AS
  ( 
  
  SELECT * FROM
  	(	SELECT 	boh.BillOfOperationsGroup,boh.BillOfOperationsStatus,boh.BillOfOperationsVersion,boh.BillOfOperationsVariant,
  				boh.ValidityStartDate,boh.ValidityEndDate,boh.BOOInternalVersionCounter,
    			ROW_NUMBER() OVER(PARTITION BY boh.BillOfOperationsGroup ORDER BY boh.BillOfOperationsvariant DESC) 
    			AS rn
   		FROM  SAPSTG.ZXC_BILLOFOPSHEADER boh WITH (NOLOCK)
  		WHERE boh.IsDeleted = 0
		AND SYSDATETIME() BETWEEN boh.ValidityStartDate AND boh.ValidityEndDate			
  	) z
  where rn=1
  )
  ,
  RoutingSAPTransformed as
  (
		SELECT 
        	 RecipeNumber				= pv.Material
            ,RoutingCode				= pv.Material+'-'+pv.Plant+'-'+pv.BillOfOperationsGroup+'-'+pv.BillOfOperationsVariant	
            ,EffectiveStartDate			= cast(pv.ValidityStartDate as date)
			,EffectiveEndDate			= cast(pv.ValidityEndDate as date)
			,OperationNumber			= od.Operation
			,WorkCentreCode				= ob.WorkCenterInternalID
            ,ProductionLineCode			= COALESCE(pv.ProductionLine,wc.WorkCenter)
			,SetupTime					= CASE 
											WHEN ob.StandardWorkQuantityUnit1 = 'MIN' 
											THEN ob.StandardWorkQuantity1 
											ELSE ob.StandardWorkQuantity1 /60 
										  END
			,RunTime					= CASE 
											WHEN ob.StandardWorkQuantityUnit2 IN ('H','HR') 
											THEN 60 
											ELSE 1 
										  END
			,RunTimeUnit				= ob.StandardWorkQuantityUnit2
			,ManOccupation				= ob.StandardWorkQuantity3
			,MachineOccupation			= ob.StandardWorkQuantity2
			,ProductionRate				= ob.OperationReferenceQuantity
			,PreferredRouting			= CASE											
											WHEN pv.Preferred = '1' AND CAST(COALESCE(ob.BOOOpInternalVersionCounter,1) AS INT) = '1' 
											THEN 'Y' 
											ELSE 'N' 
										  END
	     	,RoutingDescription			= ob.OperationText
			,NotEffective				= CASE 
											WHEN SYSDATETIME() BETWEEN pv.ValidityStartDate AND pv.ValidityEndDate 
											THEN '2' 
											ELSE '1' 
										  END
										           
		FROM PRODUCTIONVERSION pv WITH (NOLOCK)
		INNER JOIN BILLOFOPSHEADER oh WITH (NOLOCK)
			ON pv.BillOfOperationsGroup = oh.BillOfOperationsGroup
			AND pv.BillOfOperationsVariant = oh.BillOfOperationsVariant
		LEFT JOIN SAPSTG.ZXC_BILLOFOPSDETAIL od WITH (NOLOCK)
			ON oh.BillOfOperationsGroup = od.BillOfOperationsGroup
			AND oh.BOOInternalVersionCounter = od.BOOOpInternalVersionCounter
        LEFT JOIN SAPSTG.ZXC_BILLOFOPBASIC ob WITH (NOLOCK) 
			ON ob.BillOfOperationsGroup=od.BillOfOperationsGroup
            AND ob.BOOOpInternalVersionCounter=od.BOOOpInternalVersionCounter
			AND od.Operation = ob.Operation
        LEFT JOIN SAPSTG.ZXC_WORKCENTER wc WITH (NOLOCK) ON wc.WorkCenterInternalID=ob.WorkCenterInternalID
		WHERE pv.BillOfOperationsGroup IS NOT NULL
       )
  -- Now Prepare Output

  insert into ODS.ROUTING  
  SELECT DISTINCT
       [RoutingKey]				= Null							
      ,[RecipeNumber]			= s.RecipeNumber				
      ,[RoutingCode]			= s.RoutingCode					
      ,[EffectiveStartDate]		= s.EffectiveStartDate			
      ,[EffectiveEndDate]		= s.EffectiveEndDate			
      ,[OperationNumber]		= s.OperationNumber				
      ,[RoutingSequence]		= NULL							
      ,[Task]					= NULL							
      ,[WorkCentreCode]	  		= s.WorkCentreCode				
    					
      ,ProductionLine			= s.ProductionLineCode
      ,[SetupTime]				= s.SetupTime					
      ,[RunTime]				= s.RunTime						
     
      ,[ManOccupation]			= s.ManOccupation				
      ,[MachineOccupation]		= s.MachineOccupation			
      ,[ProductionRate]			= s.ProductionRate				
      ,[PreferredRouting]		= s.PreferredRouting			
      ,[RoutingDescription]		= s.RoutingDescription			
      ,[MinimumRunLength]		= Null							
      ,[BlastDuration]			= Null							
      ,[NotEffective]			= s.NotEffective				
      ,[IsSAP]					=1							
	 

  FROM RoutingSAPTransformed s

GO
