USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_ODS_SDP_requests_worklogs]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE       procedure [dbo].[usp_insert_ODS_SDP_requests_worklogs]  
as  
BEGIN  
DECLARE @json VARCHAR(MAX);  
DECLARE @json_1 VARCHAR(MAX);  
Declare @json_2  varchar(max)
Declare @request_id  nvarchar(50)
  
    DECLARE cursor_requests CURSOR FOR  
    SELECT  Json_Values   
    FROM stg.SDP_JSON  
    WHERE type='requests_worklogs'
	and Json_Values not like '%"row_count":0%';
  
    OPEN cursor_requests;  
    FETCH NEXT FROM cursor_requests INTO @json;  
  
    WHILE @@FETCH_STATUS = 0  
    BEGIN  
  
Select @request_id = value
from openjson(@json)
where [KEY] = 'request_id'

Select @json_1=value
from openjson(@json)
where [KEY] = 'worklogs'

INSERT INTO [ODS].[SDP_requests_worklogs]
           ([request_id]
           ,[worklog_id]
           ,[worklog_type]
           ,[start_time]
           ,[end_time]
           ,[recorded_time]
		   ,[description]
           ,[include_nonoperational_hours]
           ,[time_spent_hours]
           ,[time_spent_minutes]
           ,[time_spent_value]
           ,[other_charge]
           ,[site_name]
           ,[owner_email]
           ,[owner_name]
           ,[created_by_email]
           ,[created_by_name])

Select @request_id request_id,* from openjson(@json_1)
with(
worklog_id nvarchar(50) '$.id',
worklog_type nvarchar(50) '$.worklog_type.name',
start_time datetime '$.start_time.display_value',
end_time datetime '$.end_time.display_value',
recorded_time datetime '$.recorded_time.display_value',
description nvarchar(max) '$.description',
include_nonoperational_hours nvarchar(50) '$.include_nonoperational_hours',
time_spent_hours nvarchar(50) '$.time_spent.hours',
time_spent_minutes nvarchar(50) '$.time_spent.minutes',
time_spent_value nvarchar(50) '$.time_spent.value',
other_charge nvarchar(50) '$.other_charge',
site_name nvarchar(50) '$.site.name',
owner_email nvarchar(50) '$.owner.email_id',
owner_name nvarchar(50) '$.owner.name',
created_by_email nvarchar(50) '$.created_by.email_id',
created_by_name nvarchar(50) '$.created_by.name'
)
   
        FETCH NEXT FROM cursor_requests INTO @json;  
    END  
  
    -- Close cursor  
    CLOSE cursor_requests;  
    DEALLOCATE cursor_requests;  
  
end;  
GO
