USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MATTAXCLASS]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_PRODSTATTEXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MATTAXCLASS]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_MATTAXCLASS]

insert into [SAPSTG].[ZXC_MATTAXCLASS]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
ActiveDepartureCountry  =NULLIF(cast(ActiveDepartureCountry as nvarchar(3)),'') ,
Material  = case when isnumeric(Material) =1 
                                    		then 	cast(cast(Material as BIGINT) as nvarchar(40))
                                            else  cast(Material as nvarchar(40)) end,
ProductTaxClassification1  =NULLIF(cast(ProductTaxClassification1 as nvarchar(1)),'') ,
ProductTaxClassification2  =NULLIF(cast(ProductTaxClassification2 as nvarchar(1)),'') ,
ProductTaxClassification3  =NULLIF(cast(ProductTaxClassification3 as nvarchar(1)),'') ,
ProductTaxClassification4  =NULLIF(cast(ProductTaxClassification4 as nvarchar(1)),'') ,
ProductTaxClassification5  =NULLIF(cast(ProductTaxClassification5 as nvarchar(1)),'') ,
ProductTaxClassification6  =NULLIF(cast(ProductTaxClassification6 as nvarchar(1)),'') ,
ProductTaxClassification7  =NULLIF(cast(ProductTaxClassification7 as nvarchar(1)),'') ,
ProductTaxClassification8  =NULLIF(cast(ProductTaxClassification8 as nvarchar(1)),'') ,
ProductTaxClassification9  =NULLIF(cast(ProductTaxClassification9 as nvarchar(1)),'') ,
TaxIndicator  =NULLIF(cast(TaxIndicator as nvarchar(1)),'') ,
TotalCount  =NULLIF(cast(TotalCount as int),'') ,
ScriptVersionDate = cast(getdate() as date)
from SAPSTG.ZXCMATTAXCLASS nolock

END
GO
