USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Dim_Vendor]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Upsert_Dim_Vendor]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE [DIM].[Vendor];

    WITH VendorSAPTransformed AS
    (
        SELECT 
            [VendorNo]
            ,[Name]
            ,[Name2]
            ,[SearchTerm1]
            ,[SearchTearm2] AS [SearchTerm2]
            ,[Street/House_Number]
            ,[City]
            ,[PostalCode]
            ,[Country]
            ,[Language]
            ,[MobileNumber]
            ,[Telephone_no]
            ,[Fax_No]
            ,[E-mail]
            ,[Tax_Number]
            ,[Tax_Category]
            ,[Reconciliation_Account]
            ,[PlanningGroup]
            ,[PaymentTerms]
            ,[Check Double Invoice]
            ,[PaymentMethods]
            ,[CreditMemoPymtTerm]
            ,[Clerk Abbrev.]
            ,[Clerk at Vendor]
            ,[Acct. clerks tel.no.]
            ,[Acctg clerk's fax]
            ,[Clerk's internet add.]
            ,[Purchaseordercurrency]
            ,[PurchasePaymentTerms]
            ,[Own Explanation]
            ,[GR-Based Inv. Verify]
            ,[IndicatorDocIndexCompilationActiveForPurchaseOrders]
            ,[FarmLicenceNumber]
            ,[MemberNumber]
            ,[RegionsGroup]
            ,[LastPurchasedOn] AS LastPurchasedDate
            ,[LastInvoiceDate]
            ,[BusinessPartnerCategory]
            ,[BusinessPartnerType]
            ,[BusinessPartnerGrouping]
            ,[SearchTerm1_BP]
            ,[SearchTerm2_BP]
            ,[CentralArchivingFlag_BP]
            ,[CentralBlockBP_BP]
            ,[UserwhocreatedObject_BP] AS [UserWhoCreatedObject_BP]
            ,[createdDate_BP] AS [ObjectCreatedDate_BP]
            ,[createdtime_BP] AS [ObjectCreatedTime_BP]
            ,[UserwhochangedObject_BP] AS [UserWhoChangedObject_BP]
            ,[ChangedDate_BP] AS [ObjectChangedDate_BP]
            ,[ChangedTime_BP] AS [ObjectChangedTime_BP]
            ,ROW_NUMBER() OVER (PARTITION BY [VendorNo] ORDER BY [VendorNo]) AS rn
        FROM [BI_PROD_POST_SAP].[ODS].[Vendor]
    )
    
    INSERT INTO [DIM].[Vendor]
    (
        [VendorNo]
        ,[Name]
        ,[Name2]
        ,[SearchTerm1]
        ,[SearchTerm2]
        ,[Street/House_Number]
        ,[City]
        ,[PostalCode]
        ,[Country]
        ,[Language]
        ,[MobileNumber]
        ,[Telephone_no]
        ,[Fax_No]
        ,[E-mail]
        ,[Tax_Number]
        ,[Tax_Category]
        ,[Reconciliation_Account]
        ,[PlanningGroup]
        ,[PaymentTerms]
        ,[Check Double Invoice]
        ,[PaymentMethods]
        ,[CreditMemoPymtTerm]
        ,[Clerk Abbrev.]
        ,[Clerk at Vendor]
        ,[Acct. clerks tel.no.]
        ,[Acctg clerk's fax]
        ,[Clerk's internet add.]
        ,[Purchaseordercurrency]
        ,[PurchasePaymentTerms]
        ,[Own Explanation]
        ,[GR-Based Inv. Verify]
        ,[IndicatorDocIndexCompilationActiveForPurchaseOrders]
        ,[FarmLicenceNumber]
        ,[MemberNumber]
        ,[RegionsGroup]
        ,[DataSource]
        ,[LastPurchasedDate]
        ,[LastInvoiceDate]
        ,[BusinessPartnerCategory]
        ,[BusinessPartnerType]
        ,[BusinessPartnerGrouping]
        ,[SearchTerm1_BP]
        ,[SearchTerm2_BP]
        ,[CentralArchivingFlag_BP]
        ,[CentralBlockBP_BP]
        ,[UserWhoCreatedObject_BP]
        ,[ObjectCreatedDate_BP]
        ,[ObjectCreatedTime_BP]
        ,[UserWhoChangedObject_BP]
        ,[ObjectChangedDate_BP]
        ,[ObjectChangedTime_BP]
    )
    SELECT 
        [VendorNo]
        ,[Name]
        ,[Name2]
        ,[SearchTerm1]
        ,[SearchTerm2]
        ,[Street/House_Number]
        ,[City]
        ,[PostalCode]
        ,[Country]
        ,[Language]
        ,[MobileNumber]
        ,[Telephone_no]
        ,[Fax_No]
        ,[E-mail]
        ,[Tax_Number]
        ,[Tax_Category]
        ,[Reconciliation_Account]
        ,[PlanningGroup]
        ,[PaymentTerms]
        ,[Check Double Invoice]
        ,[PaymentMethods]
        ,[CreditMemoPymtTerm]
        ,[Clerk Abbrev.]
        ,[Clerk at Vendor]
        ,[Acct. clerks tel.no.]
        ,[Acctg clerk's fax]
        ,[Clerk's internet add.]
        ,[Purchaseordercurrency]
        ,[PurchasePaymentTerms]
        ,[Own Explanation]
        ,[GR-Based Inv. Verify]
        ,[IndicatorDocIndexCompilationActiveForPurchaseOrders]
        ,[FarmLicenceNumber]
        ,[MemberNumber]
        ,[RegionsGroup]
        ,'SAP'
        ,[LastPurchasedDate]
        ,Cast([LastInvoiceDate] as Date)
        ,[BusinessPartnerCategory]
        ,[BusinessPartnerType]
        ,[BusinessPartnerGrouping]
        ,[SearchTerm1_BP]
        ,[SearchTerm2_BP]
        ,[CentralArchivingFlag_BP]
        ,[CentralBlockBP_BP]
        ,[UserWhoCreatedObject_BP]
        ,[ObjectCreatedDate_BP]
        ,[ObjectCreatedTime_BP]
        ,[UserWhoChangedObject_BP]
        ,[ObjectChangedDate_BP]
        ,[ObjectChangedTime_BP]
    FROM VendorSAPTransformed
    WHERE rn = 1;
END;
GO
