USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_NationalPrice]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD DIM.NationalPrice>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_DIM_NationalPrice]
AS

--Delete existing data from ODS table

TRUNCATE TABLE  [DIM].[NationalPrice]

--Insert data into ODS table

Begin
Insert into [DIM].[NationalPrice]
(PriceList, ProductNo,Quantity, EffectiveDate, ExpiryDate, Price, rn)
SELECT 
PriceList 			= 'NAT'
,ProductNo 			= cast(p.ProductNo as varchar(16))
,Quantity 			= 99999
,EffectiveDate 		= coalesce(min(ftp.ApplyDateFrom),'Jan 1,2001')
,ExpiryDate 		= cast('Jan 1,2070' as datetime)
,Price				= COALESCE(max(ftp.Rate),0)
,rn					=cast(1 as bigint)
 from Dim.Product p WITH (NOLOCK)
 LEFT OUTER JOIN  ODS.ForecastTradePrice ftp WITH (NOLOCK)
 ON p.ProductNo=ftp.ProductNo
GROUP BY p.ProductNo
END
GO
