USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_Aria]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_insert_Aria]  
AS  
BEGIN 

 truncate table [BI_PROD_POST_SAP].[Stg].[FeedbackARIA]

 insert into [BI_PROD_POST_SAP].[Stg].[FeedbackARIA]
 
SELECT 
		[Type]
      ,[Received From]
      ,[Category Level 1]
      ,[Category Level 2]
      ,[Category Level 3]
      ,[Feedback Summary]
      ,[Sold to Party]
      ,[Shipped to Party]
      ,[Texture]
      ,[Taste]
      ,[Smell]
      ,[Appearance]
      ,[Packaging]
      ,[Method of reimbursement]
      ,[Voucher Type]
      ,[Other Voucher Type]
	  ,TRY_CAST([Reimbursement Amount] as nvarchar) AS "Reimbursement Amount"
	  ,TRY_CAST([Other Amount] as nvarchar) AS "Other Amount"
      
      ,[Customer Service Status]
      ,[Close Feedback?]
      ,[Date Signed off]
      ,[Create Date]
      ,[Feedback and Complaints ID]
      ,[Business Unit Name]
	  ,TRY_CAST([Business Unit Id] as nvarchar) AS "Business Unit Id"
      
      ,[fxCategoryfil]
      ,[fxSubCategoryfil]
      ,[Linking Feedback - Product Details:Product Material Number to Ma]
	  ,TRY_CAST([Linking Feedback - Product Details:Site to Sites] as nvarchar) AS "Linking Feedback - Product Details:Site to Sites"
      
      ,[Risk Classification - Rating Name]
      ,[Status Name]
      ,[fxCateogy2n3]
      ,[fxVoucherType]
      ,[fxReimbursementAmount]
      ,[fxProductSensoryDetails]
      ,[Assigned to (FS&Q Team) Name]
      ,[Assigned to (Supply Chain Team) Name]
	  ,TRY_CAST(fxAssignedto as nvarchar) AS fxAssignedto
	  ,TRY_CAST([fxOpenFeedback] as nvarchar) AS fxOpenFeedback
	  ,TRY_CAST([fxReferred] as nvarchar) AS fxReferred
	  ,TRY_CAST([fxResolved] as nvarchar) AS fxResolved
	  ,TRY_CAST([fxClosedFeedback] as nvarchar) AS fxClosedFeedback
	  ,TRY_CAST([fxNotClosed] as nvarchar) AS fxNotClosed
	  ,TRY_CAST([fxClosed] as nvarchar) AS fxClosed
         
      ,[Product Description]
      ,[Sites ID]
      ,[Sites Name]
      ,[ID]
      ,[Material Number]
	 
	   FROM [BI_PROD_POST_SAP].[Stg].[FeedbackARIA_CASTED]

	   END 
GO
