USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_BILLOFOPSBASIC]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_BILLOFOPSBASIC>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_BILLOFOPSBASIC]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_BILLOFOPBASIC]  

insert into [SAPSTG].[ZXC_BILLOFOPBASIC]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
BillOfOperationsBreakDuration  =cast(BillOfOperationsBreakDuration as decimal(38,6)) ,
BillOfOperationsBreakDurnUnit  =NULLIF(cast(BillOfOperationsBreakDurnUnit as nvarchar(3)),'') ,
--BillOfOperationsGroup  =NULLIF(cast(BillOfOperationsGroup as nvarchar(8)),'') ,
--BillOfOperationsGroup  = cast(cast([BillOfOperationsGroup] as INT) as nvarchar(10)), 
BillOfOperationsGroup = case when ISNUMERIC([BillOfOperationsGroup])= 1
	THEN CAST(CAST(BillOfOperationsGroup AS BIGINT) AS nvarchar(10))
	ELSE CAST(BillOfOperationsGroup AS NVARCHAR(10)) END,
BillOfOperationsRefGroup  =NULLIF(cast(BillOfOperationsRefGroup as nvarchar(8)),'') ,
BillOfOperationsRefType  =NULLIF(cast(BillOfOperationsRefType as nvarchar(1)),'') ,
BillOfOperationsRefVariant  = case when isnumeric(BillOfOperationsRefVariant) =1 
                                    		then 	NULLIF(cast(cast(BillOfOperationsRefVariant as INT) as nvarchar(2)),'')
                                            else  NULLIF(cast(BillOfOperationsRefVariant as nvarchar(2)),'') end,
BillOfOperationsType  =NULLIF(cast(BillOfOperationsType as nvarchar(1)),'') ,
BillOfOperationsVersion  =NULLIF(cast(BillOfOperationsVersion as nvarchar(4)),'') ,
BOOOperationInternalID  =NULLIF(cast(BOOOperationInternalID as nvarchar(8)),'') ,
BOOOpInternalVersionCounter  =NULLIF(cast(BOOOpInternalVersionCounter as nvarchar(8)),'') ,
BusinessProcess  =NULLIF(cast(BusinessProcess as nvarchar(12)),'') ,
CapacityCategoryCode  =NULLIF(cast(CapacityCategoryCode as nvarchar(3)),'') ,
ChangeNumber  =NULLIF(cast(ChangeNumber as nvarchar(12)),'') ,
CostCtrActivityType1  =NULLIF(cast(CostCtrActivityType1 as nvarchar(6)),'') ,
CostCtrActivityType2  =NULLIF(cast(CostCtrActivityType2 as nvarchar(6)),'') ,
CostCtrActivityType3  =NULLIF(cast(CostCtrActivityType3 as nvarchar(6)),'') ,
CostCtrActivityType4  =NULLIF(cast(CostCtrActivityType4 as nvarchar(6)),'') ,
CostCtrActivityType5  =NULLIF(cast(CostCtrActivityType5 as nvarchar(6)),'') ,
CostCtrActivityType6  =NULLIF(cast(CostCtrActivityType6 as nvarchar(6)),'') ,
CostElement  = case when isnumeric(CostElement) =1 
                               						then NULLIF(cast(cast(CostElement as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(CostElement as nvarchar(10)),'') end,
CreatedByUser  =NULLIF(cast(CreatedByUser as nvarchar(12)),'') ,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CreationDate) 
                         		else null 	end ,
EmployeeSuitability  =NULLIF(cast(EmployeeSuitability as nvarchar(2)),'') ,
EmployeeWageGroup  =NULLIF(cast(EmployeeWageGroup as nvarchar(3)),'') ,
EmployeeWageType  =NULLIF(cast(EmployeeWageType as nvarchar(4)),'') ,
FreeDefinedAmount1  =cast(FreeDefinedAmount1 as decimal(38,6)) ,
FreeDefinedAmount1Currency  =NULLIF(cast(FreeDefinedAmount1Currency as nvarchar(5)),'') ,
FreeDefinedAmount2  =cast(FreeDefinedAmount2 as decimal(38,6)) ,
FreeDefinedAmount2Currency  =NULLIF(cast(FreeDefinedAmount2Currency as nvarchar(5)),'') ,
FreeDefinedAttribute01  =NULLIF(cast(FreeDefinedAttribute01 as nvarchar(20)),'') ,
FreeDefinedAttribute02  =NULLIF(cast(FreeDefinedAttribute02 as nvarchar(20)),'') ,
FreeDefinedAttribute03  =NULLIF(cast(FreeDefinedAttribute03 as nvarchar(10)),'') ,
FreeDefinedAttribute04  =NULLIF(cast(FreeDefinedAttribute04 as nvarchar(10)),'') ,
FreeDefinedDate1  =CASE WHEN ISDATE(FreeDefinedDate1) = 1 
                        		then CONVERT(datetime,FreeDefinedDate1, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),FreeDefinedDate1) 
                         		else null 	end ,
FreeDefinedDate2  =CASE WHEN ISDATE(FreeDefinedDate2) = 1 
                        		then CONVERT(datetime,FreeDefinedDate2, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),FreeDefinedDate2) 
                         		else null 	end ,
FreeDefinedIndicator1  =case FreeDefinedIndicator1 when 'X' then cast(1 as bit) else cast(0 as bit) end ,
FreeDefinedIndicator2  =case FreeDefinedIndicator2 when 'X' then cast(1 as bit) else cast(0 as bit) end ,
FreeDefinedQuantity1  =cast(FreeDefinedQuantity1 as decimal(38,6)) ,
FreeDefinedQuantity1Unit  =NULLIF(cast(FreeDefinedQuantity1Unit as nvarchar(3)),'') ,
FreeDefinedQuantity2  =cast(FreeDefinedQuantity2 as decimal(38,6)) ,
FreeDefinedQuantity2Unit  =NULLIF(cast(FreeDefinedQuantity2Unit as nvarchar(3)),'') ,
FreeDefinedTableFieldSemantic  =NULLIF(cast(FreeDefinedTableFieldSemantic as nvarchar(7)),'') ,
InspectionLotType  =NULLIF(cast(InspectionLotType as nvarchar(8)),'') ,
InspResultRecordingView  =NULLIF(cast(InspResultRecordingView as nvarchar(2)),'') ,
InspSbstCompletionConfirmation  =NULLIF(cast(InspSbstCompletionConfirmation as nvarchar(1)),'') ,
InspSbstHasNoTimeOrQuantity  =NULLIF(cast(InspSbstHasNoTimeOrQuantity as nvarchar(1)),'') ,
IsDeleted  =case IsDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsImplicitlyDeleted  =case IsImplicitlyDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsNonValueAddedOperation  =NULLIF(cast(IsNonValueAddedOperation as nvarchar(1)),'') ,
LastChangeDate  =CASE WHEN ISDATE(LastChangeDate) = 1 
                        		then CONVERT(datetime,LastChangeDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LastChangeDate) 
                         		else null 	end ,
LastChangedByUser  =NULLIF(cast(LastChangedByUser as nvarchar(12)),'') ,
LeadTimeReductionStrategy  =NULLIF(cast(LeadTimeReductionStrategy as nvarchar(2)),'') ,
LineSegmentTakt  =NULLIF(cast(LineSegmentTakt as nvarchar(4)),'') ,
MaterialGroup  =NULLIF(cast(MaterialGroup as nvarchar(9)),'') ,
MaximumNumberOfSplits  =cast(MaximumNumberOfSplits as decimal(38,6)) ,
MaximumWaitDuration  =cast(MaximumWaitDuration as decimal(38,6)) ,
MaximumWaitDurationUnit  =NULLIF(cast(MaximumWaitDurationUnit as nvarchar(3)),'') ,
MinimumMoveDuration  =cast(MinimumMoveDuration as decimal(38,6)) ,
MinimumMoveDurationUnit  =NULLIF(cast(MinimumMoveDurationUnit as nvarchar(3)),'') ,
MinimumQueueDuration  =cast(MinimumQueueDuration as decimal(38,6)) ,
MinimumQueueDurationUnit  =NULLIF(cast(MinimumQueueDurationUnit as nvarchar(3)),'') ,
MinimumWaitDuration  =cast(MinimumWaitDuration as decimal(38,6)) ,
MinimumWaitDurationUnit  =NULLIF(cast(MinimumWaitDurationUnit as nvarchar(3)),'') ,
MinProcessingDurationPerSplit  =cast(MinProcessingDurationPerSplit as decimal(38,6)) ,
MinProcessingDurnPerSplitUnit  =NULLIF(cast(MinProcessingDurnPerSplitUnit as nvarchar(3)),'') ,
NumberOfConfirmationSlips  =NULLIF(cast(NumberOfConfirmationSlips as nvarchar(3)),'') ,
NumberOfEmployees  =cast(NumberOfEmployees as decimal(38,6)) ,
NumberOfOperationPriceUnits  =cast(NumberOfOperationPriceUnits as decimal(38,6)) ,
NumberOfTimeTickets  =cast(NumberOfTimeTickets as decimal(38,6)) ,
Operation  =NULLIF(cast(Operation as nvarchar(4)),'') ,
OperationControlProfile  =NULLIF(cast(OperationControlProfile as nvarchar(4)),'') ,
OperationCostingRelevancyType  =NULLIF(cast(OperationCostingRelevancyType as nvarchar(1)),'') ,
OperationExternalID  =NULLIF(cast(OperationExternalID as nvarchar(8)),'') ,
OperationOverlappingIsPossible  =case OperationOverlappingIsPossible when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OperationOverlappingIsRequired  =case OperationOverlappingIsRequired when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OperationReferenceQuantity  =cast(OperationReferenceQuantity as decimal(38,6)) ,
OperationScrapPercent  =cast(OperationScrapPercent as decimal(38,6)) ,
OperationSetupGroup  =NULLIF(cast(OperationSetupGroup as nvarchar(10)),'') ,
OperationSetupGroupCategory  =NULLIF(cast(OperationSetupGroupCategory as nvarchar(10)),'') ,
OperationSetupType  =NULLIF(cast(OperationSetupType as nvarchar(2)),'') ,
OperationsIsAlwaysOverlapping  =case OperationsIsAlwaysOverlapping when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OperationSplitIsRequired  =case OperationSplitIsRequired when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OperationStandardTextCode  =NULLIF(cast(OperationStandardTextCode as nvarchar(7)),'') ,
OperationStdWorkQtyGrpgCat  =NULLIF(cast(OperationStdWorkQtyGrpgCat as nvarchar(1)),'') ,
OperationText  =NULLIF(cast(OperationText as nvarchar(40)),'') ,
OperationUnit  =NULLIF(cast(OperationUnit as nvarchar(3)),'') ,
OpExternalProcessingCurrency  =NULLIF(cast(OpExternalProcessingCurrency as nvarchar(5)),'') ,
OpExternalProcessingPrice  =cast(OpExternalProcessingPrice as decimal(38,6)) ,
OpIsExtlyProcdWithSubcontrg  =NULLIF(cast(OpIsExtlyProcdWithSubcontrg as nvarchar(1)),'') ,
OpPlannedWorkQuantity  =cast(OpPlannedWorkQuantity as decimal(38,6)) ,
OpQtyToBaseQtyDnmntr  =cast(OpQtyToBaseQtyDnmntr as decimal(38,6)) ,
OpQtyToBaseQtyNmrtr  =cast(OpQtyToBaseQtyNmrtr as decimal(38,6)) ,
OpWorkQuantityUnit  =NULLIF(cast(OpWorkQuantityUnit as nvarchar(3)),'') ,
OrderHasNoSubOperations  =case OrderHasNoSubOperations when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OverlapMinimumDuration  =cast(OverlapMinimumDuration as decimal(38,6)) ,
OverlapMinimumDurationUnit  =NULLIF(cast(OverlapMinimumDurationUnit as nvarchar(3)),'') ,
OverlapMinimumTransferQty  =cast(OverlapMinimumTransferQty as decimal(38,6)) ,
OverlapMinimumTransferQtyUnit  =NULLIF(cast(OverlapMinimumTransferQtyUnit as nvarchar(3)),'') ,
PerfEfficiencyRatioCode1  =NULLIF(cast(PerfEfficiencyRatioCode1 as nvarchar(3)),'') ,
PerfEfficiencyRatioCode2  =NULLIF(cast(PerfEfficiencyRatioCode2 as nvarchar(3)),'') ,
PerfEfficiencyRatioCode3  =NULLIF(cast(PerfEfficiencyRatioCode3 as nvarchar(3)),'') ,
PerfEfficiencyRatioCode4  =NULLIF(cast(PerfEfficiencyRatioCode4 as nvarchar(3)),'') ,
PerfEfficiencyRatioCode5  =NULLIF(cast(PerfEfficiencyRatioCode5 as nvarchar(3)),'') ,
PerfEfficiencyRatioCode6  =NULLIF(cast(PerfEfficiencyRatioCode6 as nvarchar(3)),'') ,
PlannedDeliveryDuration  =cast(PlannedDeliveryDuration as decimal(38,6)) ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
PurchaseContract  =NULLIF(cast(PurchaseContract as nvarchar(10)),'') ,
PurchaseContractItem  =NULLIF(cast(PurchaseContractItem as nvarchar(5)),'') ,
PurchasingGroup  =NULLIF(cast(PurchasingGroup as nvarchar(3)),'') ,
PurchasingInfoRecdAddlGrpgName  =NULLIF(cast(PurchasingInfoRecdAddlGrpgName as nvarchar(10)),'') ,
PurchasingInfoRecord  =NULLIF(cast(PurchasingInfoRecord as nvarchar(10)),'') ,
PurchasingOrganization  =NULLIF(cast(PurchasingOrganization as nvarchar(4)),'') ,
StandardMoveDuration  =cast(StandardMoveDuration as decimal(38,6)) ,
StandardMoveDurationUnit  =NULLIF(cast(StandardMoveDurationUnit as nvarchar(3)),'') ,
StandardQueueDuration  =cast(StandardQueueDuration as decimal(38,6)) ,
StandardQueueDurationUnit  =NULLIF(cast(StandardQueueDurationUnit as nvarchar(3)),'') ,
StandardWorkQuantity1  =cast(StandardWorkQuantity1 as decimal(38,6)) ,
StandardWorkQuantity2  =cast(StandardWorkQuantity2 as decimal(38,6)) ,
StandardWorkQuantity3  =cast(StandardWorkQuantity3 as decimal(38,6)) ,
StandardWorkQuantity4  =cast(StandardWorkQuantity4 as decimal(38,6)) ,
StandardWorkQuantity5  =cast(StandardWorkQuantity5 as decimal(38,6)) ,
StandardWorkQuantity6  =cast(StandardWorkQuantity6 as decimal(38,6)) ,
StandardWorkQuantityUnit1  =NULLIF(cast(StandardWorkQuantityUnit1 as nvarchar(3)),'') ,
StandardWorkQuantityUnit2  =NULLIF(cast(StandardWorkQuantityUnit2 as nvarchar(3)),'') ,
StandardWorkQuantityUnit3  =NULLIF(cast(StandardWorkQuantityUnit3 as nvarchar(3)),'') ,
StandardWorkQuantityUnit4  =NULLIF(cast(StandardWorkQuantityUnit4 as nvarchar(3)),'') ,
StandardWorkQuantityUnit5  =NULLIF(cast(StandardWorkQuantityUnit5 as nvarchar(3)),'') ,
StandardWorkQuantityUnit6  =NULLIF(cast(StandardWorkQuantityUnit6 as nvarchar(3)),'') ,
SuperiorOperationInternalID  =NULLIF(cast(SuperiorOperationInternalID as nvarchar(8)),'') ,
Supplier  = case when isnumeric(Supplier) =1 
                               						then NULLIF(cast(cast(Supplier as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(Supplier as nvarchar(10)),'') end,
TeardownAndWaitIsParallel  =case TeardownAndWaitIsParallel when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
WorkCenterInternalID  =NULLIF(cast(WorkCenterInternalID as nvarchar(8)),'') ,
WorkCenterTypeCode  =NULLIF(cast(WorkCenterTypeCode as nvarchar(2)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM [SAPSTG].[ZXCBILLOFOPBASIC]  
END
GO
