USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ProductDEMANDTYPE]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS PDT]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ProductDEMANDTYPE]
AS


SET NOCOUNT ON;

TRUNCATE TABLE ODS.ProductDemandType;



insert  into  ODS.ProductDemandType (productno,DemandType)

select   Material as PRODUCTNO, PD.MaterialUsabilityProfileName as DEMANDTYPE from SAPSTG.ZXC_MATBASICDATA MB join SAPSTG.ZXC_PRODSTATTEXT PD on MB.Status = PD.Status

GO
