USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Fact_BudgetSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <02/02/2022>
-- Description:	<UPSERT data in Fact.BudgetSales>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Upsert_Fact_BudgetSales]
AS

WITH
  BudgetSalesTransformed as
  (  SELECT    FiscalYearWeekDisplay	 AS FiscalYearWeekDisplay
	, CAST(FiscalYearWeekIntKey AS INT) AS FiscalYearWeekIntKey
	, CAST(FiscalYear AS INT) AS FiscalYear
  	, CAST(FiscalWeek AS INT) AS FiscalWeek
	, CAST(LTRIM(STR(CustomerNo,10)) AS NVARCHAR(10)) AS CustomerNo 
	, CAST(RTrim(LTrim(ProductNo)) AS NVARCHAR(40)) AS ProductNo 
	, cast (isnull(BudgetSalesQuantity,0) as float) AS BudgetSalesQuantity
	, cast (isnull(BudgetNetInvoiceValue,0) as float) AS BudgetNetInvoiceValue
   	, BudgetInvoiceDiscount		= -1 * cast (isnull(BudgetInvoiceDiscount,0) as float) 
	, BudgetCaseDiscount		= -1 * cast (isnull(BudgetCaseDiscount,0) as float) 
	, BudgetTermsDiscount		= -1 * cast (isnull(BudgetTermsDiscount,0) as float)
	, BudgetOtherDiscount		= -1 * cast (isnull(BudgetOtherDiscount,0) as float)
	, BudgetCOGS				= -1 * cast (isnull(BudgetCOGS,0) as float)
	, BudgetMaterialCosts		= -1 * cast (isnull(BudgetMaterialCosts,0) as float)
	, BudgetOperationCosts		= -1 * cast (isnull(BudgetOperationCosts,0) as float)
	, BudgetGrossMargin			= cast (isnull(BudgetNetInvoiceValue,0) as float)
    							- cast (isnull(BudgetCaseDiscount,0) as float)
                                - cast (isnull(BudgetTermsDiscount,0) as float)
                                - cast (isnull(BudgetOtherDiscount,0) as float)
                                - cast (isnull(BudgetCOGS,0) as float)
   	, cast (isnull(BudgetBaselineQuantity,0) as float)  AS BudgetBaselineQuantity
	, cast (isnull(BudgetIncrementalQuantity,0) as float) AS BudgetIncrementalQuantity
	, BudgetFreightOutbound		= -1 * cast (isnull(BudgetFreightOutbound,0) as float)
	, cast (isnull(BudgetFreightQuantity,0) as float) AS BudgetFreightQuantity
	, cast (isnull(BudgetFreightCaseRate,0) as float) AS BudgetFreightCaseRate
	, cast (isnull(BudgetFreightFuelLevy,0) as float) AS BudgetFreightFuelLevy
	, cast (isnull(BudgetFreightGLAdjustment,0) as float) AS BudgetFreightGLAdjustment
	, Source as [Source] 
from SAPSTG.BudgetSales) 

MERGE INTO FACT.BudgetSales  as Target
USING BudgetSalesTransformed as Source
ON			Target.FiscalYearWeekIntKey = Source.FiscalYearWeekIntKey
				AND Target.CustomerNo = Source.CustomerNo
				AND Target.ProductNo = Source.ProductNo
  -- Prepare Output for matched rows
  WHEN MATCHED THEN UPDATE 
  SET
	 Target.[FiscalYearWeekDisplay]		= Source.FiscalYearWeekDisplay
      ,Target.[FiscalYear]				= Source.FiscalYear
      ,Target.[FiscalWeek]				= Source.FiscalWeek
      ,Target.[BudgetSalesQuantity]		= Source.BudgetSalesQuantity
      ,Target.[BudgetNetInvoiceValue]	= Source.BudgetNetInvoiceValue
      ,Target.[BudgetInvoiceDiscount]	= Source.BudgetInvoiceDiscount
      ,Target.[BudgetCaseDiscount]		= Source.BudgetCaseDiscount
      ,Target.[BudgetTermsDiscount]		= Source.BudgetTermsDiscount
      ,Target.[BudgetOtherDiscount]		= Source.BudgetOtherDiscount
      ,Target.[BudgetCOGS]				= Source.BudgetCOGS
      ,Target.[BudgetMaterialCosts]		= Source.BudgetMaterialCosts
      ,Target.[BudgetOperationCosts]	= Source.BudgetOperationCosts
      ,Target.[BudgetGrossMargin]		= Source.BudgetGrossMargin
      ,Target.[BudgetBaselineQuantity]	= Source.BudgetBaselineQuantity
      ,Target.[BudgetIncrementalQuantity]	= Source.BudgetIncrementalQuantity
      ,Target.[BudgetFreightOutbound]	= Source.BudgetFreightOutbound
      ,Target.[BudgetFreightQuantity]	= Source.BudgetFreightQuantity
      ,Target.[BudgetFreightCaseRate]	= Source.BudgetFreightCaseRate
      ,Target.[BudgetFreightFuelLevy]	= Source.BudgetFreightFuelLevy
      ,Target.[BudgetFreightGLAdjustment]= Source.BudgetFreightGLAdjustment
	  ,Target.[Source]					= Source.[Source]

  -- Prepare Output for not matched rows
	WHEN NOT MATCHED
	THEN INSERT
	( [FiscalYearWeekDisplay]
      ,[FiscalYearWeekIntKey]
      ,[FiscalYear]
      ,[FiscalWeek]
      ,[CustomerNo]
      ,[ProductNo]
      ,[BudgetSalesQuantity]
      ,[BudgetNetInvoiceValue]
      ,[BudgetInvoiceDiscount]
      ,[BudgetCaseDiscount]
      ,[BudgetTermsDiscount]
      ,[BudgetOtherDiscount]
      ,[BudgetCOGS]
      ,[BudgetMaterialCosts]
      ,[BudgetOperationCosts]
      ,[BudgetGrossMargin]
      ,[BudgetBaselineQuantity]
      ,[BudgetIncrementalQuantity]
      ,[BudgetFreightOutbound]
      ,[BudgetFreightQuantity]
      ,[BudgetFreightCaseRate]
      ,[BudgetFreightFuelLevy]
      ,[BudgetFreightGLAdjustment]
      ,[Source])
	  Values
	  (Source.[FiscalYearWeekDisplay]
      ,Source.[FiscalYearWeekIntKey]
      ,Source.[FiscalYear]
      ,Source.[FiscalWeek]
      ,Source.[CustomerNo]
      ,Source.[ProductNo]
      ,Source.[BudgetSalesQuantity]
      ,Source.[BudgetNetInvoiceValue]
      ,Source.[BudgetInvoiceDiscount]
      ,Source.[BudgetCaseDiscount]
      ,Source.[BudgetTermsDiscount]
      ,Source.[BudgetOtherDiscount]
      ,Source.[BudgetCOGS]
      ,Source.[BudgetMaterialCosts]
      ,Source.[BudgetOperationCosts]
      ,Source.[BudgetGrossMargin]
      ,Source.[BudgetBaselineQuantity]
      ,Source.[BudgetIncrementalQuantity]
      ,Source.[BudgetFreightOutbound]
      ,Source.[BudgetFreightQuantity]
      ,Source.[BudgetFreightCaseRate]
      ,Source.[BudgetFreightFuelLevy]
      ,Source.[BudgetFreightGLAdjustment]
      ,Source.[Source]);
GO
