USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_FACT_Workforce]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_insert_FACT_Workforce]    
AS    
BEGIN    
    SET NOCOUNT ON;

	TRUNCATE TABLE Fact.Workforce;

    DECLARE @csvData NVARCHAR(MAX)
    DECLARE @csvData_1 NVARCHAR(MAX)



    -- Declare a table variable to store rows
    DECLARE @DataRows TABLE (
        RowNum INT,
        RowData NVARCHAR(MAX)
    )



    -- Fetch CSV data from your staging table
    SELECT @csvData = json_values FROM Stg.Workforce_JSON;



    -- Split the CSV data into rows
    ;WITH CSVData AS (
        SELECT value AS RowData
        FROM STRING_SPLIT(@csvData, CHAR(10))
        WHERE value <> ''
    ),
    CSVColumns AS (
        SELECT  
            ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowNum,
            RowData
        FROM CSVData
    )
    -- Insert data into the table variable (excluding the header row)
    INSERT INTO @DataRows (RowNum, RowData)
    SELECT RowNum, RowData FROM CSVColumns WHERE RowNum > 1;



    -- Declare cursor for looping through the data rows
    DECLARE Cursor_datarows CURSOR FOR
    --SELECT RowData FROM @DataRows;
 SELECT replace(replace(Replace(RowData,'","','";"'),',',''),'";"','","') FROM @DataRows;



    -- Open the cursor
    OPEN Cursor_datarows;
    
    -- Fetch the first row
    FETCH NEXT FROM Cursor_datarows INTO @csvData_1;



    -- Loop through all rows
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Process each row by splitting into columns
        WITH CSVValues AS (
            SELECT 
                value, 
                ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowNum
            FROM STRING_SPLIT(REPLACE(@csvData_1, '"', ''), ',')
        )
        -- Insert transformed data into Fact.Workforce
        INSERT INTO Fact.Workforce (
            EmployeeId, EmployeeStatus, DateTerminated, DefaultCostCentres,    
            Department1, Department2, EmployeeType, PayType, DateHired,    
            DateStarted, CostCentres1, Gender, Age, DaysEmployed,     
            TerminationReason, JobGrade1, PhysicalLocation1, DefaultCostCentreExternalId  
        )    
        SELECT  top 10
            MAX(CASE WHEN RowNum = 1 THEN NULLIF(value, '') END) AS EmployeeId,
            MAX(CASE WHEN RowNum = 2 THEN NULLIF(value, '') END) AS EmployeeStatus,
            MAX(CASE WHEN RowNum = 3 THEN  TRY_PARSE(NULLIF(value, '') AS DATE USING 'en-GB') END) AS DateTerminated,
            MAX(CASE WHEN RowNum = 4 THEN NULLIF(value, '') END) AS DefaultCostCentres,
            MAX(CASE WHEN RowNum = 5 THEN NULLIF(value, '') END) AS Department1,
            MAX(CASE WHEN RowNum = 6 THEN NULLIF(value, '') END) AS Department2,
            MAX(CASE WHEN RowNum = 7 THEN NULLIF(value, '') END) AS EmployeeType,
            MAX(CASE WHEN RowNum = 8 THEN NULLIF(value, '') END) AS PayType,
            MAX(CASE WHEN RowNum = 9 THEN TRY_PARSE(NULLIF(value, '') AS DATE USING 'en-GB') END) AS  DateHired,
            MAX(CASE WHEN RowNum = 10 THEN TRY_PARSE(NULLIF(value, '') AS DATE USING 'en-GB') END) AS  DateStarted,
            MAX(CASE WHEN RowNum = 11 THEN NULLIF(value, '') END) AS CostCentres1,
            MAX(CASE WHEN RowNum = 12 THEN NULLIF(value, '') END) AS Gender,
            MAX(CASE WHEN RowNum = 13 THEN NULLIF(value, '') END) AS Age,
            MAX(CASE WHEN RowNum = 14 THEN NULLIF(value, '') END) AS DaysEmployed,
            MAX(CASE WHEN RowNum = 15 THEN NULLIF(value, '') END) AS TerminationReason,
            MAX(CASE WHEN RowNum = 17 THEN NULLIF(value, '') END) AS JobGrade1,
            MAX(CASE WHEN RowNum = 18 THEN NULLIF(value, '') END) AS PhysicalLocation1,
            MAX(CASE WHEN RowNum = 19 THEN NULLIF(value, '') END) AS DefaultCostCentreExternalId
        FROM CSVValues

        -- Fetch next row
        FETCH NEXT FROM Cursor_datarows INTO @csvData_1;
    END



    -- Close and deallocate cursor
    CLOSE Cursor_datarows;
    DEALLOCATE Cursor_datarows;
END;
 
GO
