USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_Purchase_RequisitionNonAgreement]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Insert_ODS_Purchase_RequisitionNonAgreement]
AS
-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD [ODS].[Purchase_Requisition]>
-- =============================================

----Delete existing data from ODS table

delete [ODS].[PurchaseRequisition] where Flow != 'Agreement'

--Insert data into ODS table
Begin

With UomTranslation as  --fetch unit converion rate baseU ->targetU
(Select uom.*, t006.MSEHI as ExternalConversionUnit from ods.Oum uom
left join sapstg.CV_PR_T006B t006
on uom.ConversionUnit = t006.MSEH3),


-- Step 2: Join EBAN with EORD to get vendor info for PR items without agreements
--EROD Purchasing Source List
J_EBAN_EORD
AS(SELECT AN.PRNo, AN.PRItmNo, AN.Plant, AN.MatNo, AN.PRUOM, AN.PRDocType, AN.PurcDocCat,
DeletIndicPurcDoc, AN.PurcGrp, AN.CreationIndic, AN.LastChgDate, AN.StrgLoc, AN.MatGrp,
ReqsDate, AN.ItemDelvDate, AN.PRReleaseDate, AN.PurcDocItemCat, AN.GoodsRcptIndic, AN.InvcRcptIndic,
Supplier, AN.PurcOrg, AN.PrncplPurcAgrmtNo, AN.PrncplPurcAgrmtItmNo, AN.PONo, AN.POItmNo,
PODate, AN.PRClosed, AN.POUOM, AN.Customer, AN.CommittedDate, AN.CurrKey, AN.PRProcessStatus,
RD.Vendor, AN.MANDT, RD.ValidFrom, RD.ValidTo, AN.PRQty, AN.PRPrice, AN.PRPriceUnit, AN.StrgQty,
PRQtyOrdered, AN.CommittedQty, AN.TotValAtReleaseTime
FROM SAPSTG.CV_PR_EBAN as AN
inner join SAPSTG.CV_PR_EORD as RD 
                      ON AN.MatNo = RD.MatNo 
                      AND RD.Plant = AN.Plant 
                      AND RD.MANDT = AN.MANDT
 and (AN.ItemDelvDate >= RD.ValidFrom and AN.ItemDelvDate <= RD.ValidTo ) -- delviery date in Pur Source List
 and (PrncplPurcAgrmtNo IS NULL OR PrncplPurcAgrmtNo = '')--
 AND (FixSupplier = 'X' or FixAgreement = 'X'))
,
PreFilterU_EBAN_A01718 AS
(Select J_EBAN_EORD.*, A17.ConditionType, A17.ConditionRecNo, A17.CondiRecValStartDate, A17.CondiRecValEndDate, 'Y' as Flow17,'N' as Flow18 , 0 RankFlow from J_EBAN_EORD
inner join SAPSTG.CV_PR_A017 as A17
       ON A17.MaterialNo = J_EBAN_EORD.MatNo
       AND A17.Vendor = J_EBAN_EORD.Vendor
       AND A17.MANDT = J_EBAN_EORD.MANDT
       AND A17.Plant = J_EBAN_EORD.Plant
	   where J_EBAN_EORD.ItemDelvDate>=A17.CondiRecValStartDate and J_EBAN_EORD.ItemDelvDate <= A17.CondiRecValEndDate
	   and A17.[PurcInfoRecCat] = '0' --standard category only 
UNION  
Select J_EBAN_EORD.*, A18.ConditionType, A18.ConditionRecNo, A18.CondiRecValStartDate, A18.CondiRecValEndDate, 'N' as Flow17, 'Y' as Flow18 ,1 Rankflow from J_EBAN_EORD
inner join SAPSTG.CV_PR_A018 as A18
       ON A18.MaterialNo = J_EBAN_EORD.MatNo
       AND A18.Vendor = J_EBAN_EORD.Vendor
       AND A18.MANDT = J_EBAN_EORD.MANDT
       where J_EBAN_EORD.ItemDelvDate>=A18.CondiRecValStartDate and J_EBAN_EORD.ItemDelvDate <= A18.CondiRecValEndDate
	   and  A18.PurcRecInfoCat = '0' ) --standard category only 
,
Rnk as
(select PRNo, PRItmNo, Min(Rankflow) Rankflow from PreFilterU_EBAN_A01718
group by PRNo, PRItmNo)
,
U_EBAN_A01718 as 
(select pf.* from PreFilterU_EBAN_A01718 pf
inner join Rnk r on pf.PRNo = r.PRNo and pf.PRItmNo = r.PRItmNo and pf.RankFlow = r.Rankflow)
,
PRConvertBaseUnit as -- convert PR QTY to base U
(Select A1718.*, PRQty * uom.ConversionFactor as PRQtyConvertedBase 
from U_EBAN_A01718 A1718
left join UomTranslation  uom
on  replace(ltrim(replace(A1718.MatNo,'0',' ')),' ','0') = uom.RecipeNo
and uom.ExternalConversionUnit = A1718.PRUOM)
,
J_EBAN_CondPricing AS -- fetch condition details
	(
	select u.*, CON.CondAmtUnit, con.ScaleQtyUOM,con.[ConditionBaseUOM], con.[CondSeqNo],CON.[Count], con.CurrScaleNo,
	con.CondScaleQtyFrom, con.CondScaleQtyTo, con.CondAmt, con.ScalePrcUnit,
	con.NumConvCondUnitToBaseUnt, con.DenomConvCondUnitToBaseUnt, CON.Flow
	from PRConvertBaseUnit u
	inner join 
   [ODS].[ConditionScalePricing] con
		ON u.ConditionRecNo = con.CondRecNo
		and u.ConditionType = con.CondType),

ScaleConvertedBaseUnit as --scale
(Select con.*, con.CondScaleQtyFrom * uom.ConversionFactor as CondScaleQtyFromConvertedBase, 
 con.CondScaleQtyTo * uom.ConversionFactor as CondScaleQtyToConvertedBase,
 uom.BaseUnit as BaseUoM, con.CondAmt / uom.ConversionFactor as CondAmtConvertedBase
    from J_EBAN_CondPricing con
	left join 
    UomTranslation uom
		ON  replace(ltrim(replace(con.MatNo,'0',' ')),' ','0') = uom.RecipeNo
		and con.ScaleQtyUOM = uom.ExternalConversionUnit
		where con.PRQtyConvertedBase >=  con.CondScaleQtyFrom * uom.ConversionFactor
		and con.PRQtyConvertedBase < con.CondScaleQtyTo * uom.ConversionFactor
	),
J_EBAN_EINA AS --fetch PIR
(
Select EK.*, REC.PIRNo, REC.Currency, REC.PIRPrice as PIRPrice, REC.PIRPRiceUnit as PIRPRiceUnit, 
REC.OrderPriceUnit, REC.ValidTo as ValidtoPIR
FROM ScaleConvertedBaseUnit EK
  inner join
  (select Distinct REC.MatNo, Plant, vendor, REC.PIRNo, REC.Currency, Max(REC.NetPrice) as PIRPrice, REC.PriceUnit as PIRPRiceUnit, 
REC.OrderPriceUnit, REC.ValidTo
  from [DIM].[PurchaseReq_InfoRecord] REC
  group by MatNo,Plant,vendor, PIRNo, Currency, PriceUnit, OrderPriceUnit, ValidTo) as REC
			on REC.MatNo = EK.MatNo 
			and REC.Plant = EK.Plant
			and REC.vendor = EK.vendor 
            where ((EK.ScalePrcUnit = REC.PIRPRiceUnit and [COUNT] > 1) or [COUNT] = 1)
),
GetFreightCond as 
(Select pr.*, 
ko.CondRecNo,
--CondRecNo, 
Coalesce(ko.CondAmt,0) as CondAmtFreight,
ko.CondType as CondTypeFreight, 
coalesce(ko.CondAmtUnit,'AUD') as CondAmtUnitFreight 
from J_EBAN_EINA pr
left outer join
SAPSTG.CV_PR_KONP ko
on ko.CondRecNo = pr.ConditionRecNo
and ko.CondType = 'FRB2'
),
CombineStdPrice as
(
select Pr.*,CONVERT(dec(14,5),mat.StdPrice/mat.PriceUnit) as StdPricePerUnit,mat.PriceUnit as StdPriceUnit,mat.StdPrcCurr,mat.StdPrice as StdPrice 
from GetFreightCond pr
inner join SAPSTG.CV_PR_MBEW_EXTRACT mat
on  replace(ltrim(replace(pr.MatNo,'0',' ')),' ','0') = replace(ltrim(replace(mat.Material,'0',' ')),' ','0')
and pr.plant = mat.Plant
),
selectNonAUD as(
Select Pr.*, forex.ExchangeRate as ForexConversionFactor,  forex.ValidFrom as ValidFromForex
, RANK() Over ( Partition By PRNo, PRItmNo
Order By forex.ValidFrom desc) as RankNo
from CombineStdPrice Pr
inner join 
 SAPSTG.cv_pr_tcurr forex
on Pr.Currency = forex.ToCurrency
and Pr.Currency != 'AUD'
and forex.FromCurrency = 'AUD'
and forex.ValidFrom <= ItemDelvDate ),
ConvertAUD as
(
Select aud.*,1 as ForexConversionFactor, '99990101' as ValidFromForex, 1 as RankNo
from CombineStdPrice aud
where Currency = 'AUD'
Union all
Select non.*
from selectNonAUD non
where RankNo = 1),
selectNonAUDFreight as(
Select Pr.*, forex.ExchangeRate as ForexConversionFactorFreight,  forex.ValidFrom as ValidFromForexFreight
, RANK() Over ( Partition By PRNo, PRItmNo
Order By forex.ValidFrom desc) as RankNoFr
from ConvertAUD Pr
inner join 
 SAPSTG.cv_pr_tcurr forex
on Pr.CondAmtUnitFreight = forex.ToCurrency
and Pr.CondAmtUnitFreight != 'AUD'
and forex.FromCurrency = 'AUD'
and forex.ValidFrom <= ItemDelvDate ),
ConvertAUDFreight as
(
Select aud.*,1 as ForexConversionFactorFrt, '99990101' as ValidFromForexFrt, 1 as RankNoFr
from ConvertAUD aud
where CondAmtUnitFreight = 'AUD'
Union all
Select non.*
from selectNonAUDFreight non
where RankNoFr = 1),
CondAggr as (
select PRNo,PRItmNo,Plant,MatNo,PRUOM,PRDocType,PurcDocCat, DeletIndicPurcDoc,
PurcGrp, CreationIndic,LastChgDate,StrgLoc, MatGrp, ReqsDate, ItemDelvDate,
PRReleaseDate,PurcDocItemCat,GoodsRcptIndic,InvcRcptIndic,Supplier,
PurcOrg,PrncplPurcAgrmtNo,PrncplPurcAgrmtItmNo,PONo,POItmNo, PODate, PRClosed,
POUOM,Customer,CommittedDate,CurrKey,PRProcessStatus,Vendor,MANDT, ValidFrom,
ValidTo,PRQty,PRPrice,PRPriceUnit, StrgQty,PRQtyOrdered, CommittedQty, TotValAtReleaseTime
, ConditionType, ConditionRecNo,CondiRecValStartDate, CondiRecValEndDate, Flow17,
Flow18, PRQtyConvertedBase,CondAmtUnit, ScaleQtyUOM, ConditionBaseUOM, CondSeqNo,
[Count],CondScaleQtyFrom, CondScaleQtyTo, CondAmt, ScalePrcUnit,NumConvCondUnitToBaseUnt,
DenomConvCondUnitToBaseUnt,Flow, CondScaleQtyFromConvertedBase, CondScaleQtyToConvertedBase,
BaseUoM, CondAmtConvertedBase, PIRNo, Currency, PIRPrice, PIRPRiceUnit, OrderPriceUnit, ValidtoPIR,
 Sum(CondAmtFreight/ForexConversionFactorFrt) as FreightCost, StdPricePerUnit, StdPriceUnit,
StdPrcCurr, StdPrice, ForexConversionFactor, ValidFromForex, RankNo
from ConvertAUDFreight 
group by 
PRNo,PRItmNo,Plant,MatNo,PRUOM,PRDocType,PurcDocCat, DeletIndicPurcDoc,
PurcGrp, CreationIndic,LastChgDate,StrgLoc, MatGrp, ReqsDate, ItemDelvDate,
PRReleaseDate,PurcDocItemCat,GoodsRcptIndic,InvcRcptIndic,Supplier,
PurcOrg,PrncplPurcAgrmtNo,PrncplPurcAgrmtItmNo,PONo,POItmNo, PODate, PRClosed,
POUOM,Customer,CommittedDate,CurrKey,PRProcessStatus,Vendor,MANDT, ValidFrom,
ValidTo,PRQty,PRPrice,PRPriceUnit, StrgQty,PRQtyOrdered, CommittedQty, TotValAtReleaseTime
, ConditionType, ConditionRecNo,CondiRecValStartDate, CondiRecValEndDate, Flow17,
Flow18, PRQtyConvertedBase,CondAmtUnit, ScaleQtyUOM, ConditionBaseUOM, CondSeqNo,
[Count],CondScaleQtyFrom, CondScaleQtyTo, CondAmt, ScalePrcUnit,NumConvCondUnitToBaseUnt,
DenomConvCondUnitToBaseUnt,Flow, CondScaleQtyFromConvertedBase, CondScaleQtyToConvertedBase,
BaseUoM, CondAmtConvertedBase, PIRNo, Currency, PIRPrice, PIRPRiceUnit, OrderPriceUnit, ValidtoPIR, StdPricePerUnit, StdPriceUnit,
StdPrcCurr, StdPrice, ForexConversionFactor, ValidFromForex, RankNo)

--select * from ConvertAUDFreight where ---FreightCost != 0 and 
--PRNo like '%121359805'
Insert into [ODS].[PurchaseRequisition]
(LoadDateTime,[PRNo]
      ,[PRItmNo]
      ,[Plant]
      ,[MatNo]
      ,[PRUOM]
      ,[PRDocType]
	  ,PurcDocCat
      ,[DeletIndicPurcDoc]
      ,[PurcGrp]
      ,[CreationIndic]
      ,[LastChgDate]
      ,[StrgLoc]
	  ,MatGrp
      ,[ReqsDate]
      ,[ItemDelvDate]
      ,[PRReleaseDate]
      ,[PurcDocItemCat]
	  ,GoodsRcptIndic
      ,[InvcRcptIndic]
      ,[Supplier]
      ,[PurcOrg]
      ,[PrncplPurcAgrmtNo]
      ,[PrncplPurcAgrmtItmNo]
      ,[PONo]
      ,[POItmNo]
      ,[PODate]
      ,[PRClosed]
      ,[POUOM]
      ,[Customer]
      ,[CommittedDate]
      ,[CurrKey]
      ,[PRProcessStatus]
	  ,Vendor
      ,[MANDT]
      ,[PRQty]
      ,[PRPrice]
      ,[PRPriceUnit]
      ,[StrgQty]
      ,[PRQtyOrdered]
      ,[CommittedQty]
      ,[TotValAtReleaseTime]
	  ,ConditionRecNo
	  ,CondiRecValStartDate
	  ,CondiRecValEndDate
	  ,Flow17
	  ,Flow18
	  ,PRQtyConvertedBase
	  ,CondAmtUnit
	  ,ScaleQtyUOM
	  ,ConditionBaseUOM
	  ,CondScaleQtyFrom
	  ,CondScaleQtyTo
	  ,CondAmt
	  ,ScalePrcUnit
	  ,NumConvCondUnitToBaseUnt
	  ,DenomConvCondUnitToBaseUnt
	  ,CondScaleQtyFromConvertedBase
	  ,CondScaleQtyToConvertedBase
	  ,BaseUoM
	  ,PIRNo
	  ,Currency
	  ,PIRPrice
	  ,PIRPRiceUnit
	  ,OrderPriceUOM
	  ,ValidtoPIR
	  ,StdPricePerUnit
	  ,StdPriceUnit
	  ,StdPrcCurr
	  ,StdPrice
	  ,ForexConversionFactor
	  ,ValidFromForex
	  ,Flow
	  ,LatestCost
	  ,StandardCost
	  ,CostVariance
	  ,[CondAmtConvertedBase]
	  ,[FreightLocalCurr]
	  )
select Getdate()
	  ,[PRNo]
      ,[PRItmNo]
      ,[Plant]
      ,[MatNo]
      ,[PRUOM]
      ,[PRDocType]
	  ,PurcDocCat
      ,[DeletIndicPurcDoc]
      ,[PurcGrp]
      ,[CreationIndic]
      ,[LastChgDate]
      ,[StrgLoc]
	  ,MatGrp
      ,[ReqsDate]
      ,[ItemDelvDate]
      ,[PRReleaseDate]
      ,[PurcDocItemCat]
	  ,GoodsRcptIndic
      ,[InvcRcptIndic]
      ,[Supplier]
      ,[PurcOrg]
      ,[PrncplPurcAgrmtNo]
      ,[PrncplPurcAgrmtItmNo]
      ,[PONo]
      ,[POItmNo]
      ,[PODate]
      ,[PRClosed]
      ,[POUOM]
      ,[Customer]
      ,[CommittedDate]
      ,[CurrKey]
      ,[PRProcessStatus]
	  ,Vendor
      ,[MANDT]
      ,[PRQty]
      ,[PRPrice]
      ,[PRPriceUnit]
      ,[StrgQty]
      ,[PRQtyOrdered]
      ,[CommittedQty]
      ,[TotValAtReleaseTime]
	  ,ConditionRecNo
	  ,CondiRecValStartDate
	  ,CondiRecValEndDate
	  ,Flow17
	  ,Flow18
	  ,PRQtyConvertedBase
	  ,CondAmtUnit
	  ,ScaleQtyUOM
	  ,ConditionBaseUOM
	  ,CondScaleQtyFrom
	  ,CondScaleQtyTo
	  ,CondAmt / ForexConversionFactor as CondAmt
	  ,ScalePrcUnit
	  ,NumConvCondUnitToBaseUnt
	  ,DenomConvCondUnitToBaseUnt
	  ,CondScaleQtyFromConvertedBase
	  ,case when CondScaleQtyToConvertedBase > 999999999 then 999999999 else CondScaleQtyToConvertedBase end as CondScaleQtyToConvertedBase
	  ,BaseUoM
	  ,PIRNo
	  ,'AUD' as Currency
	  ,PIRPrice
	  ,PIRPRiceUnit
	  ,OrderPriceUnit
	  ,ValidtoPIR
	  ,StdPricePerUnit
	  ,StdPriceUnit
	  ,StdPrcCurr
	  ,StdPrice
	  ,ForexConversionFactor
	  ,ValidFromForex
	  ,Flow
	  ,PRQtyConvertedBase * CondAmtConvertedBase /(ScalePrcUnit*ForexConversionFactor) as LatestCost
	  ,PRQtyConvertedBase * StdPricePerUnit as StandardCost
	  ,(PRQtyConvertedBase * CondAmtConvertedBase /(ScalePrcUnit*ForexConversionFactor) + FreightCost - PRQtyConvertedBase * StdPricePerUnit) as CostVariance
	  ,[CondAmtConvertedBase]/ForexConversionFactor as [CondAmtConvertedBase]
	  ,FreightCost
	  from CondAggr 

 --inner join 
 --DIM.CalendarDate cald
 --on forex.ValidFrom = cald.DateKey

--select PRNO, PRItmNo, ItemDelvDate, Pr.Currency,MAX(forex.ValidFrom)
--from CombineStdPrice Pr inner join 
--SAPSTG.cv_pr_tcurr forex
--on Pr.Currency = forex.ToCurrency
--and Pr.Currency != AUD'
--and forex.FromCurrency = 'AUD'
--and forex.ValidFrom <= ItemDelvDate
--and Pr.PRNo = '0118381315'
--and Pr.PRProcessStatus != 'B'
--group by PRNO, PRItmNo,ItemDelvDate,Pr.Currency
--on Pr.PRNo = We.PRNo
--and Pr.PrItemNo = We.PRItemNo
--and Pr.Plant = We.Plant
--and Pr.MatNo = We.MatNo
--and 
----group by 



end
GO
