USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Fact_ForecastSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Upsert_Fact_ForecastSales]
AS
--Get the latest week date
DECLARE @LatestSnapshotDate date
SELECT @LatestSnapshotDate=MAX(snapshotdate) FROM Fact.WeekLatestForecastSnapshot (NOLOCK) 
--Remove existing data for future forecast dates
--ELETE FROM Fact.ForecastSales WHERE WeekEndDate>=@LatestSnapshotDate AND SalesType='S'
TRUNCATE TABLE Fact.ForecastSales
--Append Latest Week forecast Data
INSERT INTO Fact.ForecastSales(
	LoadDateTime,
	CustomerNo,
	ProductNo,
	WeekEndDate,
	DateSent,
	FiscalWeek,
	FiscalYear,
	FiscalYearWeekDisplay,
	FiscalYearWeekIntKey,
	ForecastSalesQuantity,
	ForecastBaselineQuantity,
	ForecastIncrementalQuantity,
	ForecastNetInvoiceValue,
	ForecastInvoiceDiscount,
	ForecastCaseDiscount,
	ForecastTermsDiscount,
	ForecastOtherDiscount,
	ForecastCOGS,
	ForecastGrossMargin,
	ForecastFreightOutbound,
	ForecastFreightQuantity,
	ForecastFreightCaseRate,
	ForecastFreightFuelLevy,
	SalesType	
	)
SELECT 
    GETDATE() AS LoadDateTime,	
    f.customerno AS CustomerNo,
	f.ProductNo,
	f.WeekEndDate,
	f.snapshotdate AS [DateSent],
	f.fiscalweek AS FiscalWeek,
	f.FiscalYear AS FiscalYear,
	CAST(f.FiscalYear AS VARCHAR(4)) + ' ' + CAST(f.fiscalweek AS VARCHAR(2)) AS FiscalYearWeekDisplay,
	CAST(CAST(f.FiscalYear AS VARCHAR(4)) + RIGHT('0' + CAST(f.fiscalweek AS VARCHAR(2)), 2) AS INT) AS FiscalYearWeekIntKey,
	f.SalesQuantity AS ForecastSalesQuantity,
	f.BaselineQuantity AS ForecastBaselineQuantity,
	f.IncrementalQuantity AS ForecastIncrementalQuantity,
	f.NetInvoiceValue AS ForecastNetInvoiceValue,
	-1* f.InvoiceDiscount AS ForecastInvoiceDiscount,
	-1* f.CaseDiscount AS ForecastCaseDiscount,
	-1* f.TermsDiscount AS ForecastTermsDiscount,
	-1* f.OtherDiscount AS ForecastOtherDiscount,
	-1* f.COGS AS ForecastCOGS,
	f.GrossMargin AS ForecastGrossMargin,
	-1 *f.FreightCost AS ForecastFreightOutbound,
	f.SalesQuantity AS ForecastFreightQuantity,
	f.FreightCaseRate AS ForecastFreightCaseRate,
	(f.SalesQuantity * f.FreightCaseRate) * isnull(f.FreightFuelLevy, 0) AS ForecastFreightFuelLevy,
	SalesType = 'S'	
FROM Fact.WeekLatestForecastSnapshot(NOLOCK) f
WHERE f.snapshotdate=@LatestSnapshotDate  AND (COALESCE(BaselineQuantity, 0) <> 0
	OR COALESCE(IncrementalQuantity, 0) <> 0
	OR COALESCE(NetInvoiceValue, 0) <> 0
	OR COALESCE(InvoiceDiscount, 0) <> 0
	OR COALESCE(CaseDiscount, 0) <> 0
	OR COALESCE(TermsDiscount, 0) <> 0
	OR COALESCE(OtherDiscount, 0) <> 0
	OR COALESCE(COGS, 0) <> 0
	OR COALESCE(GrossMargin, 0) <> 0)
--Load History data

INSERT INTO Fact.ForecastSales(
	LoadDateTime,
	CustomerNo,
	ProductNo,
	WeekEndDate,
	DateSent,
	FiscalWeek,
	FiscalYear,
	FiscalYearWeekDisplay,
	FiscalYearWeekIntKey,
	ForecastSalesQuantity,
	ForecastBaselineQuantity,
	ForecastIncrementalQuantity,
	ForecastNetInvoiceValue,
	ForecastInvoiceDiscount,
	ForecastCaseDiscount,
	ForecastTermsDiscount,
	ForecastOtherDiscount,
	ForecastCOGS,
	ForecastGrossMargin,
	ForecastFreightOutbound,
	ForecastFreightQuantity,
	ForecastFreightCaseRate,
	ForecastFreightFuelLevy,
	SalesType	
	)
SELECT 
	GETDATE() AS LoadDateTime
    ,f.customerno AS CustomerNo
	,f.ProductNo
	,f.WeekEndDate
	,f.snapshotdate AS [DateSent]
	,hs.fiscalweek AS fiscal_week
	,hs.fiscalyear AS fiscal_year
	,(CAST(hs.fiscalyear AS VARCHAR(4)) + ' ' + CAST(hs.fiscalweek AS VARCHAR(2))) AS FiscalYearWeekDisplay
	,CAST(CAST(hs.FiscalYear AS VARCHAR(4)) + RIGHT('0' + CAST(hs.fiscalweek AS VARCHAR(2)), 2) AS INT) AS FiscalYearWeekIntKey	
	,SUM(f.SalesQuantity) AS ForecastSalesQuantity
	,SUM(f.BaselineQuantity) AS ForecastBaselineQuantity
	,SUM(f.IncrementalQuantity) AS ForecastIncrementalQuantity
	,SUM(f.NetInvoiceValue) AS ForecastNetInvoiceValue
	,-1* SUM(InvoiceDiscount) AS ForecastInvoiceDiscount
	,-1* SUM(CaseDiscount) AS ForecastCaseDiscount	
	,-1* SUM(TermsDiscount) AS ForecastTermsDiscount
	,-1* SUM(OtherDiscount) AS ForecastOtherDiscount
	,-1* SUM(COGS) AS ForecastCOGS
	,SUM(GrossMargin) AS ForecastGrossMargin
	,-1 *SUM(f.FreightCost) AS ForecastFreightOutbound
	,SUM(f.SalesQuantity) AS ForecastFreightQuantity
	,SUM(f.FreightCaseRate) AS ForecastFreightCaseRate
	,SUM((f.SalesQuantity * f.FreightCaseRate) * ISNULL(f.FreightFuelLevy, 0)) AS ForecastFreightFuelLevy
	,'H' AS SalesType	
FROM Fact.WeekLatestForecastSnapshot(NOLOCK) f
INNER JOIN Dim.CalendarDate(NOLOCK) hs ON f.SnapshotDate = DATEADD(D, - 1, hs.WeekcommenceDate)
	AND f.WeekEndDate = hs.CalendarDate
	AND hs.WeekendDate < GETDATE()
	AND hs.IsWeekend = 1
GROUP BY f.customerno
	,hs.FiscalYear
	,hs.fiscalweek
	,f.snapshotdate
	,f.weekenddate
	,f.productno
--Load Adjustment Data	
INSERT INTO Fact.ForecastSales (
    LoadDateTime,	
	CustomerNo,
	ProductNo,
	WeekEndDate,
	DateSent,
	FiscalWeek,
	FiscalYear,
	FiscalYearWeekDisplay,
	FiscalYearWeekIntKey,
	ForecastSalesQuantity,
	ForecastBaselineQuantity,
	ForecastIncrementalQuantity,
	ForecastNetInvoiceValue,
	ForecastInvoiceDiscount,
	ForecastCaseDiscount,
	ForecastTermsDiscount,
	ForecastOtherDiscount,
	ForecastCOGS,
	ForecastGrossMargin,
	ForecastFreightOutbound,
	ForecastFreightQuantity,
	ForecastFreightCaseRate,
	ForecastFreightFuelLevy,
	SalesType)
SELECT 
   GETDATE() AS LoadDateTime,	
    CustomerNo = u.CustomerNo,
	ProductNo = u.ProductNo,
	WeekendDate = d.WeekendDate,
	DateSent = u.SalesDate,
	FiscalWeek = d.FiscalWeek,
	FiscalYear = d.FiscalYear,
	--SnapshotDate = d.WeekendDate,
	FiscalYearWeekDisplay = CAST(d.FiscalYear AS VARCHAR(4)) + ' ' + CAST(d.fiscalweek AS VARCHAR(2)), --just for disply purpose
	FiscalYearWeekIntKey = CAST(CAST(d.FiscalYear AS VARCHAR(4)) + RIGHT('0' + CAST(d.fiscalweek AS VARCHAR(2)), 2) AS INT),
	ForecastSalesQuantity = isnull(u.Quantity, 0),
	ForecastBaselineQuantity = isnull(u.Quantity, 0),
	ForecastIncrementalQuantity = 0,
	ForecastNetInvoiceValue = isnull(u.GrossSalesValue, 0),
	ForecastInvoiceDiscount = isnull(u.InvoiceDiscount, 0),
	ForecastCaseDiscount = isnull(u.DeferredCaseDiscount, 0),
	ForecastTermsDiscount = isnull(u.DeferredTermsDiscount, 0),
	ForecastOtherDiscount = isnull(u.DeferredOtherDiscount, 0),
	ForecastCOGS = isnull(u.CostOfGoodSold, 0),
	ForecastGrossMargin = isnull(u.GrossSalesValue, 0) + isnull(u.InvoiceDiscount, 0) + isnull(u.DeferredCaseDiscount, 0) + isnull(u.DeferredTermsDiscount, 0) + isnull(u.DeferredOtherDiscount, 0) + isnull(u.CostOfGoodSold, 0),
	ForecastFreightOutbound = NULL,
	ForecastFreightQuantity = NULL,
	ForecastFreightCaseRate = NULL,
	ForecastFreightFuelLevy = NULL,
	SalesType = 'ADJ'		
FROM (SELECT * FROM ODS.UniversalJournalSales_PreviousFY 
union all
SELECT * FROM ODS.UniversalJournalSales_CurrentFY) u
INNER JOIN Dim.CalendarDate d WITH (NOLOCK) ON u.SalesDate = d.CalendarDate
WHERE u.FiscalYear >= '2020'
	AND u.DocumentType IN ('SA','AB')
	AND u.AccountNo = '41090000'
GO
