USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_PurchaseOrder]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





---- =============================================
---- Author:		<SHINKIS>
---- Create date: <11/01/2022>
---- Description:	<LOAD [ODS].[PurchaseOrder]>
---- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_PurchaseOrder]
AS

--Delete existing data from ODS table

TRUNCATE TABLE  [ODS].[PurchaseOrder]

--Insert data into ODS table

Begin
with POConversion as(
select Getdate() as LoadDateTime
,PO.PO
,PO.POItem
,PO.PR
,PO.POUnit
,PO.MatNo
,PO.PurcDocItemChgDat
,PO.CompCode
,PO.Plant
,KN.GLAccountNumber
,KN.CostCenter
,KN.BusinessArea
,KN.InternalOrderNumber,
    [GRnonValuated] ,
    [InvoiceReceipt] ,
    [GRBasedInvVerif] ,
    [PartialDelivItem] ,
    [CompleteDelivery] ,
    [FinalInvoice] 
,PO.Storageloc
,PO.MatGrp
,PO.MatGrpDescription
,PO.MatNoOfSupplier
,PO.OrdPriceUnit
,PO.PurcDocItmCat
,PO.GoodsRcptIndic
,PO.BaseUOM
,PO.PrincPurcAgrmtNo
,PO.PrincPurcAgrmtItmNo
,PO.PurcDocCat
,PO.CustomerNo
,PO.UnitOfWt
,PO.VolumeUnit
,PO.PRItemNo
,PO.MatType
,PO.MatFrgtGrp
,PO.MANDT
,PO.DeletionIndicator
,PO.DeliveryCompleted
,PO.FinalDelivery
,PO.CC_PBIMAt
,PO.POQty
,case when DenomConvOrdUnitToBaseUnit <> 0 
then PO.POQty * NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit 
else PO.POQty 
end as POQtyConvertedBase
,case when DenomConvOrdUnitToBaseUnit <> 0 
then ET.ScheduledQuantity * NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit 
else ET.ScheduledQuantity 
end as ScheduledQuantityConvertedBase
,PO.NetPrice
,case when (NumerConvOrdUnitToBaseUnit * DenomConvOrdPrcUnitToOrdUnit) <> 0 then 
PO.NetPrice *   DenomConvOrdUnitToBaseUnit * NumerConvOrdPrcUnitToOrdUnit /(NumerConvOrdUnitToBaseUnit * DenomConvOrdPrcUnitToOrdUnit) 
else PO.NetPrice 
end as PONetPriceBaseConverted
,case when ExchgRate < 0 then -1/ExchgRate else ExchgRate end as [ExchgRate]
,PO.TargetQty
,PO.NumerConvOrdPrcUnitToOrdUnit
,PO.DenomConvOrdPrcUnitToOrdUnit
,PO.NumerConvOrdUnitToBaseUnit
,PO.DenomConvOrdUnitToBaseUnit
,PO.PriceUnit
,PO.NetOrdValInPOCurr
,PO.GrosOrdValInPOCurr
,PO.StdRelsOrdQty
,PO.ItmEffecVal
,PO.PlanDelvTimeInDays
,PO.NetWt
,PO.GrsWt
,PO.Volume
,PO.GRProcessingTime
,PO.ReturnItem
,KO.Currency
,KO.[PurcDocStat]
,KO.[RecCreatDate]
,KO.PurcDocTyp
,KO.PaymentTerm
,KO.[LangKey]
,KO.[PurcGrp]
,KO.[PurcDocDate]
,KO.[StartofValPer]
,KO.[EndofValPer]
,KO.[QuotSubmiDate]
,KO.[GoodsSupplier]
,KO.[PurcDocProcessState]
,KO.[TotValAtReleaseTime]
,KO.[Vendor]
,KO.DocConditionNo
,PO.[UnlimitedDelivery]
,PO.[Incoterms1]
,PO.[Incoterms2]
,PO.[PIR]
,PO.[PriceDate]
,PO.[Description]
,PO.[PurcDocItemCatDesc]
,PO.[TaxCode]
,PO.[TaxCodeDesc]
,PO.[StorageLocationDesc]
,KO.[VAT]
,KO.[CreatedBy]
,KO.[DeletionIndicator] as [DeletionIndicator_h]
,KO.[ControlIndicator]
,KO.[Customer]
,KO.[PurcDocCat] as [PurcDocCat_h]
,KO.[PurcDocTypeDesc]
,KO.[CreateByShortDesc]
,KO.[ChangedAt]
, Case KO.PurcDocCat 
when 'A' then 'Request for Quotation'
when 'F' then 'Purchase Order'
when 'K' then 'Contract'
when 'L' then 'Scheduling Agreement'
when 'R' then 'RFQ'
when 'O' then 'Quotation'
when 'C' then 'Central Contract'
when 'P' then 'Central Purchsae Order'
when 'N' then 'Central Request for Quotation'
when 'T' then 'Central Supplier Quotation'
end as PurcDocCatDesc
, Case KO.PurcDocProcessState
when '01' then 'Version in process'
when '02' then 'Active'
when '03' then 'In release'
when '04' then 'Partially released'
when '05' then 'Release completed'
when '08' then 'Rejected'
when '11' then 'In Distribution'
when '12' then 'Error in Distribution'
when '13' then 'Distributed'
when '26' then 'In external approval'
when '14' then 'In Preparation'
end as PurcDocProcessStateDesc
, pst.ProcurementStatDesc as PurcDocStatDesc
,coalesce(ET.DeliveryDate, '19000101') as DeliveryDate
,ET.SchedLine
,ET.ScheduledQuantity
,ET.QuantityGoodsreceived
,(ET.ScheduledQuantity - ET.QuantityGoodsreceived) as StillTobeDeliveredQty
,CONVERT(dec(14,5),mat.StdPrice/mat.PriceUnit) as StdPricePerUnit
,mat.PriceUnit as StdPriceUnit
,mat.StdPrcCurr
,mat.StdPrice as StdPrice 
from SAPSTG.CV_PO_EKPO PO
left join SAPSTG.CV_PO_EKKO KO ON PO.PO = KO.PO AND PO.MANDT = KO.MANDT
left join SAPSTG.CV_PR_EKET ET ON PO.MANDT=ET.MANDT AND PO.POItem = ET.POItem AND PO.PO=ET.PONum
left join SAPSTG.CV_PR_EKKN KN ON PO.MANDT=KN.MANDT AND PO.POItem = KN.POItemNo AND PO.PO=KN.PONo
left join SAPSTG.CV_PR_MBEW_EXTRACT mat
on  replace(ltrim(replace(PO.MatNo,'0',' ')),' ','0') = replace(ltrim(replace(mat.Material,'0',' ')),' ','0')
and PO.plant = mat.Plant
left join dim.ProcurementStatusText pst on ko.PurcDocStat = pst.ProcurementStatus
where PO.DeletionIndicator != 'L'
),
PODelivered as
(Select PO, POItem,  avg(POQty) - sum(coalesce(dl.DelivQty,0)) as OpenPOQty
		from POConversion poc
	   left outer join SAPSTG.CV_PR_LIPS dl
	   ON PO = dl.ReferenceDoc and 
	   replace(ltrim(replace(POItem,'0',' ')),' ','0') =  replace(ltrim(replace(dl.ReferenceItem,'0',' ')),' ','0')
	   group by PO, POItem),
-----begin of POFreight bug fix-------
POFreight as
( select PO.*,
prcd.kschl ConditionType,
prcd.krech CondUnitType,
prcd.kbetr CondAmt,
prcd.waers CondAmtUnit,
prcd.kkurs CondExchgRate,
prcd.KNUMH CondRecNo,
case when prcd.kkurs < 0 then -1/kkurs else kkurs end as ForexConversionFactor from
POConversion PO
left join SAPSTG.CV_PR_PRCD_ELEMENTS prcd
on po.DocConditionNo = prcd.KNUMV and prcd.kschl = 'FRB2'),
--POCond As
--(
--select PO.*, 
--ko.CondRecNo,
----CondRecNo, 
--Coalesce(CondAmt,0) as CondAmt,
--CondType, 
--coalesce(CondAmtUnit,'AUD') as CondAmtUnit
--,Case when ko.CondRecNo is null then 1 else 0 end as Select1718
--from POConversion po
--left outer join
--SAPSTG.CV_PR_A017 as A17
--       ON A17.MaterialNo = po.MatNo
--       AND A17.Vendor = po.Vendor
--       AND A17.MANDT = po.MANDT
--       AND A17.Plant = po.Plant
--	   AND po.DeliveryDate>=A17.CondiRecValStartDate and po.DeliveryDate <= A17.CondiRecValEndDate
--	   and A17.[PurcInfoRecCat] = '0'
--left outer join
--SAPSTG.CV_PR_KONP ko
--	   on ko.CondRecNo = A17.ConditionRecNo
--and ko.CondType = 'FRB2'
----and PO = '4500088645'
--UNION 
--select po1.*,
--ko1.CondRecNo,
----CondRecNo, 
--Coalesce(CondAmt,0) as CondAmt,
--CondType, 
--coalesce(CondAmtUnit,'AUD') as CondAmtUnit
--,Case when ko1.CondRecNo is null then 2 else 0 end as Select1718
--from POConversion po1
--left outer join
--		SAPSTG.CV_PR_A018 as A18

--		ON A18.MaterialNo = po1.MatNo
--       AND A18.Vendor = po1.Vendor
--       AND A18.MANDT = po1.MANDT
--       and po1.DeliveryDate>=A18.CondiRecValStartDate and po1.DeliveryDate <= A18.CondiRecValEndDate
--	   and  A18.[PurcRecInfoCat] = '0'
-- 		left outer join 
--		SAPSTG.CV_PR_KONP ko1
--	   on ko1.CondRecNo = A18.ConditionRecNo
--and ko1.CondType = 'FRB2'
--),

----Select * from POCond
--POCondForex as(
--Select * from 
--(
--select Po1.*,
--case when forex.ExchangeRate < 0 then -1/ExchangeRate else ExchangeRate end as ForexConversionFactor,  forex.ValidFrom as ValidFromForex
--, RANK() Over ( Partition By PO, POItem
--Order By forex.ValidFrom desc) as RankNo
--, RANK() Over (Partition BY PO,POItem
--Order By Select1718) as RankSelect
--from POCond Po1
--inner join 
-- SAPSTG.cv_pr_tcurr forex
--on Po1.CondAmtUnit = forex.ToCurrency
--and Po1.CondAmtUnit != 'AUD'
--and forex.FromCurrency = 'AUD'
--and forex.ValidFrom <=  DeliveryDate
--union 
--Select *, 1 as ForexConversionFactor,
--'99991231' as ValidFromForex,
--1 as RankNo
--, RANK() Over (Partition BY PO,POItem
--Order By Select1718) as RankSelect
--from POCond Po2
--where Po2.CondAmtUnit = 'AUD'
--) as A
--Where A.RankNo = 1 and A.RankSelect = 1),

POCondAggr as
(Select LoadDateTime,
PO,
POItem,
PR,
POUnit,
MatNo,
PurcDocItemChgDat,
CompCode,
Plant,
Storageloc,
MatGrp,
MatGrpDescription,
MatNoofSupplier,
OrdPriceUnit,
PurcDocItmCat,
GoodsRcptIndic,
BaseUOM,
    [GRnonValuated] ,
    [InvoiceReceipt] ,
    [GRBasedInvVerif] ,
    [PartialDelivItem] ,
    [CompleteDelivery] ,
    [FinalInvoice] ,
PrincPurcAgrmtNo,
PrincPurcAgrmtItmNo,
PurcDocCat,
CustomerNo,
UnitOfWt,
PurcDocTyp,
PaymentTerm,
VolumeUnit,
PRItemNo,
MatType,
MatFrgtGrp,
MANDT,
DeletionIndicator,
DeliveryCompleted,
FinalDelivery
,GLAccountNumber
,CostCenter
,BusinessArea
,InternalOrderNumber
,CC_PBIMAt,
POQty,
POQtyConvertedBase,
NetPrice * ExchgRate as NetPrice 
,SchedLine
,ScheduledQuantity
,StillTobeDeliveredQty,
QuantityGoodsreceived,
ScheduledQuantityConvertedBase,
TargetQty,
PONetPriceBaseConverted * ExchgRate as PONetPriceBaseConverted ,
ExchgRate,
NumerConvOrdPrcUnitToOrdUnit,
DenomConvOrdPrcUnitToOrdUnit,
NumerConvOrdUnitToBaseUnit,
DenomConvOrdUnittoBaseUnit,
PriceUnit,
NetOrdValinPOCurr,
GrosOrdValInPOCurr,
StdRelsOrdQty,
ItmEffecVal,
PlanDelvTimeInDays,
NetWt,
GrsWt,
Volume,
GRProcessingTime,
'AUD' as Currency,
PurcDocStat,
RecCreatDate,
LangKey,
PurcGrp,
PurcDocDate,
StartofValPer,
EndOfValPer,
QuotSubmiDate,
GoodsSupplier,
[PurcDocProcessState]
,[TotValAtReleaseTime]
,[Vendor]
,DeliveryDate
,StdPricePerUnit
,StdPriceUnit
,StdPrcCurr
,StdPrice
,max(CondRecNo) CondRecNo
, ReturnItem
,[UnlimitedDelivery]
,[Incoterms1]
,[Incoterms2]
,[PIR]
,[PriceDate]
,[Description]
,[PurcDocItemCatDesc]
,[TaxCode]
,[TaxCodeDesc]
,[StorageLocationDesc]
,[VAT]
,[CreatedBy]
,[DeletionIndicator_h]
,[ControlIndicator]
,[Customer]
,[PurcDocCat_h]
,[PurcDocTypeDesc]
,[CreateByShortDesc]
,[ChangedAt]
,PurcDocCatDesc
,PurcDocProcessStateDesc
,PurcDocStatDesc
,coalesce(sum(CondAmt / ForexConversionFactor),0) as FreightLocalCurr 
from POFreight c
group by 
LoadDateTime,
PO,
POItem,
PR,
POUnit,
MatNo,
PurcDocItemChgDat,
CompCode,
Plant,
Storageloc,
ScheduledQuantityConvertedBase,
MatGrp,
MatGrpDescription,
MatNoofSupplier,
    [GRnonValuated] ,
    [InvoiceReceipt] ,
    [GRBasedInvVerif] ,
    [PartialDelivItem] ,
    [CompleteDelivery] ,
    [FinalInvoice] ,
OrdPriceUnit,
PurcDocItmCat
,GLAccountNumber
,CostCenter
,BusinessArea
,InternalOrderNumber,
GoodsRcptIndic,
BaseUOM,
PrincPurcAgrmtNo,
PrincPurcAgrmtItmNo,
PurcDocCat,
CustomerNo,
 ReturnItem,
UnitOfWt,
VolumeUnit,
TargetQty,
PRItemNo,
PurcDocTyp,
PaymentTerm,
MatType,
MatFrgtGrp,
MANDT,
DeletionIndicator,
DeliveryCompleted,
FinalDelivery,
CC_PBIMAt,
POQty,
POQtyConvertedBase,
NetPrice,
PONetPriceBaseConverted,
ExchgRate,
NumerConvOrdPrcUnitToOrdUnit,
DenomConvOrdPrcUnitToOrdUnit,
NumerConvOrdUnitToBaseUnit,
DenomConvOrdUnittoBaseUnit,
PriceUnit,
NetOrdValinPOCurr,
GrosOrdValInPOCurr,
StdRelsOrdQty,
ItmEffecVal,
PlanDelvTimeInDays,
NetWt,
GrsWt,
Volume,
GRProcessingTime,
Currency,
PurcDocStat,
RecCreatDate,
LangKey,
PurcGrp,
PurcDocDate,
StartofValPer,
EndOfValPer,
QuotSubmiDate,
GoodsSupplier,
[PurcDocProcessState]
,[TotValAtReleaseTime]
,[Vendor]
,DeliveryDate
,StdPricePerUnit
,StdPriceUnit
,StdPrcCurr
,StdPrice
,SchedLine
,ScheduledQuantity
,StillTobeDeliveredQty,
QuantityGoodsreceived
,[UnlimitedDelivery]
,[Incoterms1]
,[Incoterms2]
,[PIR]
,[PriceDate]
,[Description]
,[PurcDocItemCatDesc]
,[TaxCode]
,[TaxCodeDesc]
,[StorageLocationDesc]
,[VAT]
,[CreatedBy]
,[DeletionIndicator_h]
,[ControlIndicator]
,[Customer]
,[PurcDocCat_h]
,[PurcDocTypeDesc]
,[CreateByShortDesc]
,[ChangedAt]
,PurcDocCatDesc
,PurcDocProcessStateDesc
,PurcDocStatDesc
),

POOpen as 
	(
	Select con.*,
	OpenPOQty,
	case when DenomConvOrdUnitToBaseUnit = 0 then OpenPOQty else OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit end as OpenPOQtyConvertedBase,
	case when PriceUnit = 0 then POQtyConvertedBase *NetPrice else POQtyConvertedBase * PONetPriceBaseConverted  / PriceUnit end as LatestCost,
	case when (DenomConvOrdUnitToBaseUnit * PriceUnit) = 0 then 0 else OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  PONetPriceBaseConverted  / PriceUnit end as OpenLatestCost,
	POQtyConvertedBase * StdPricePerUnit  as StandardCost,
	case when DenomConvOrdUnitToBaseUnit = 0 then OpenPOQty * StdPricePerUnit else 
	OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  StdPricePerUnit 
	end as OpenStandardCost,
	case when PriceUnit = 0 then 0 else POQtyConvertedBase * PONetPriceBaseConverted  / PriceUnit  + FreightLocalCurr - POQtyConvertedBase * StdPricePerUnit end as CostVariance,
	case when DenomConvOrdUnitToBaseUnit * PriceUnit = 0 then 0 else OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  PONetPriceBaseConverted / PriceUnit + FreightLocalCurr  - OpenPOQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  StdPricePerUnit
	end as OpenCostVariance,
	case when DenomConvOrdUnitToBaseUnit = 0 then StillTobeDeliveredQty else StillTobeDeliveredQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit end as StillTobeDeliveredQtyConvertedBase,
	case when PriceUnit = 0 then 0 else ScheduledQuantityConvertedBase * PONetPriceBaseConverted  / PriceUnit end as LatestCostScheduled,
	case when (DenomConvOrdUnitToBaseUnit * PriceUnit) = 0  then StillTobeDeliveredQty*NetPrice else StillTobeDeliveredQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  PONetPriceBaseConverted  / PriceUnit end as OpenScheduledValue,
	ScheduledQuantityConvertedBase * StdPricePerUnit  as StandardCostScheduled,
	case when DenomConvOrdUnitToBaseUnit = 0 then StillTobeDeliveredQty * StdPricePerUnit else 
	StillTobeDeliveredQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  StdPricePerUnit 
	end as StandardCostTobeDelivered,
	case when PriceUnit = 0 then 0 else ScheduledQuantityConvertedBase * PONetPriceBaseConverted  / PriceUnit  + FreightLocalCurr - ScheduledQuantityConvertedBase * StdPricePerUnit end as ScheduledCostVariance,
	case when DenomConvOrdUnitToBaseUnit * PriceUnit = 0 then 0 else StillTobeDeliveredQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  PONetPriceBaseConverted / PriceUnit + FreightLocalCurr  - StillTobeDeliveredQty* NumerConvOrdUnitToBaseUnit/DenomConvOrdUnitToBaseUnit  *  StdPricePerUnit
	end as CostVarianceTobeDelivered
	from POCondAggr con
	left outer join PODelivered del
	on con.PO = del.PO and con.POItem = del.POItem
	),
--	GetPOHistory as(
--	Select PO,
--		   POItem
--		   , Case when BE.PurchaseOrderHistoryCategory = 'E'
--  then sum(BE.AmountLocalCurrency)
--  end as POGRValue
--, Case when BE.PurchaseOrderHistoryCategory = 'Q'
--  then Sum(BE.AmountLocalCurrency)
--  end as POIRValue
-- , Case when BE.PurchaseOrderHistoryCategory = '3'
--  then Sum(BE.AmountLocalCurrency)
--  end as PODownpaymentClearing
--  , Case when BE.PurchaseOrderHistoryCategory = 'K'
--  or BZ.PurchaseOrderHistoryCategory = 'K'
--  then Sum(BE.AmountLocalCurrency)
--  end as POAccountMaintenance
--  , Case when BE.PurchaseOrderHistoryCategory = 'N'
--  then Sum(BE.AmountLocalCurrency)
--  end as POSubsDebLogInvoice
--  , Case when BE.PurchaseOrderHistoryCategory = 'A'
--  then Sum(BE.AmountLocalCurrency)
--  end as PODownpayment
--  , Case when BE.PurchaseOrderHistoryCategory = 'T'
--  or BZ.PurchaseOrderHistoryCategory = 'T'
--  then Sum(BE.AmountLocalCurrency)
--  end as POParkedInvoice
--   , Case when BE.PurchaseOrderHistoryCategory = 'O'
--  then Sum(BE.AmountLocalCurrency)
--  end as POSubcontracting
--     , Case when BE.PurchaseOrderHistoryCategory = 'U'
--  then Sum(BE.AmountLocalCurrency)
--  end as POGoodsIssueSTO
-- , Case when BZ.PurchaseOrderHistoryCategory = 'M'
--  then sum(BZ.AmountLocalCurrency)
--  end as PODeliveryCostInvoice
--, Case when BZ.PurchaseOrderHistoryCategory = 'F'
--  then Sum(BZ.AmountLocalCurrency)
--  end as PODeliveryCost
--, Case when BZ.PurchaseOrderHistoryCategory = 'P'
--  then Sum(BZ.AmountLocalCurrency)
--  end as POSubDebDeliveryCosts
--	   from POOpen PO
--		   left join SAPSTG.CV_PR_EKBE BE ON PO.PO = BE.PONo and PO.POItem = BE.POItemNo
--left join SAPSTG.CV_PR_EKBZ BZ ON PO.PO = BZ.PONo and PO.POItem = BZ.POItemNo
--group by PO, POItem, BE.PurchaseOrderHistoryCategory, BZ.PurchaseOrderHistoryCategory
--)
 UnionHistoryFreight as(

Select PONo, POItemNo,PurchaseOrderHistoryCategory, DebitCreditIndicator,  'EKBE' as TableName,
case when DebitCreditIndicator = 'H' then -1*AmountLocalCurrency else AmountLocalCurrency end
as AmountLocalCurrency, AmountDocumentCurrency, MaterialDocumentNo, MaterialDocumentItem
from SAPSTG.CV_PR_EKBE
Union All
Select PONo, POItemNo,PurchaseOrderHistoryCategory, DebitCreditIndicator, 'EKBZ' as TableName,
case when PurchaseOrderHistoryCategory = 'F' and DebitCreditIndicator = 'S' then -1*AmountLocalCurrency
     when PurchaseOrderHistoryCategory = 'M' and DebitCreditIndicator = 'H' then -1*AmountLocalCurrency
	 else AmountLocalCurrency end
as AmountLocalCurrency ,AmountDocumentCurrency, MaterialDocumentNo, MaterialDocumentItem
from SAPSTG.CV_PR_EKBZ
),

CalculateValue as
(
Select PO, POItem,
Sum(POGRValue) as POGRValue,
Sum(POIRValue) as POIRValue,
Sum(PODownpaymentClearing) as PODownpaymentClearing,
Sum(POAccountMaintenance) as POAccountMaintenance,
Sum(POSubsDebLogInvoice) as POSubsDebLogInvoice,
Sum(PODownpayment) as PODownpayment,
Sum(POParkedInvoice) as POParkedInvoice,
Sum(POSubcontracting) as POSubcontracting,
Sum(POGoodsIssueSTO) as POGoodsIssueSTO,
Sum(PODeliveryCostInvoice) as PODeliveryCostInvoice,
Sum(PODeliveryCost) as PODeliveryCost,
Sum(POSubDebDeliveryCosts) as POSubDebDeliveryCosts
from(	
Select PO,
			POItem
		   , Case when BE.PurchaseOrderHistoryCategory = 'E'
  then Coalesce(sum(BE.AmountLocalCurrency),0)
  			else 0
  end as POGRValue
, Case when BE.PurchaseOrderHistoryCategory = 'Q'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
 			else 0
 end as POIRValue
 , Case when BE.PurchaseOrderHistoryCategory = '3'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
  end as PODownpaymentClearing
  , Case when BE.PurchaseOrderHistoryCategory = 'K'
--  or BZ.PurchaseOrderHistoryCategory = 'K'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
  end as POAccountMaintenance
  , Case when BE.PurchaseOrderHistoryCategory = 'N'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
  end as POSubsDebLogInvoice
  , Case when BE.PurchaseOrderHistoryCategory = 'A'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
  end as PODownpayment
  , Case when BE.PurchaseOrderHistoryCategory = 'T'
-- or BZ.PurchaseOrderHistoryCategory = 'T'
  then Coalesce(Sum(BE.AmountDocumentCurrency),0)
			else 0
  end as POParkedInvoice
   , Case when BE.PurchaseOrderHistoryCategory = 'O'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
  end as POSubcontracting
     , Case when BE.PurchaseOrderHistoryCategory = 'U'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
  end as POGoodsIssueSTO,
	Case when BE.PurchaseOrderHistoryCategory = 'M'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
	else 0
			 end as PODeliveryCostInvoice,
	Case when BE.PurchaseOrderHistoryCategory = 'F'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
			end as PODeliveryCost,
			Case when BE.PurchaseOrderHistoryCategory = 'P'
  then Coalesce(Sum(BE.AmountLocalCurrency),0)
			else 0
			end as POSubDebDeliveryCosts
	   from SAPSTG.CV_PO_EKPO PO
		   left join UnionHistoryFreight BE ON PO.PO = BE.PONo and PO.POItem = BE.POItemNo
group by PO, POItem, BE.PurchaseOrderHistoryCategory) A
group by PO,POItem),

JournalCost as
(
--Select PurchasingDocumentNumber as PONo, ItemNumberofPurchasingDocument as POItemNo,PPVValueinGLAccount,InventoryValue,MaterialDocumentNo
--from UnionHistoryFreight un left outer join
 Select PurchasingDocumentNumber,ItemNumberofPurchasingDocument, ReferenceDocumentNumber,ReferenceDocumentLineItem
 , Sum(PPVValueinGLAccount) as PPVValueinGLAccount
 , Sum(InventoryValue) as InventoryValue
 , sum(ForexGainLossValue) as ForexGainLossValue
 , sum(SubcontractingValue) as SubcontractingValue
 from
 (
Select PurchasingDocumentNumber, ItemNumberofPurchasingDocument, ReferenceDocumentNumber, ReferenceDocumentLineItem,
Case when AccountNumber in ('52041000',
'52042000',
'52043000',
'52045000',
'52046000')
then Coalesce(ValueinLocalCurrency,0) 
else 0
end as PPVValueinGLAccount,
Case when AccountNumber in (
'72010000',
'72510000')
then Coalesce(ValueinGroupCurrency,0) 
end as ForexGainLossValue, 
Case when AccountNumber in ('55200100',
'55200000',
'65008500',
'65008510',
'69010160',
'69010170',
'65008510')
then Coalesce(ValueinLocalCurrency,0) 
end as SubcontractingValue,
Case when AccountNumber in ('13100000',
'13100999',
'13110000',
'13300000',
'13400000',
'13500000',
'13600000',
'13800000',
'13900000',
'69070020')
then Coalesce(ValueinLocalCurrency,0) 
else 0
end as InventoryValue
from(
Select * from ODS.UniversalJournal_CurrentFY where PurchasingDocumentNumber <> ''
Union all
Select * from ODS.UniversalJournal_PreviousFY where PurchasingDocumentNumber <> ''
)
as GL
) as Journal
group by PurchasingDocumentNumber,ItemNumberofPurchasingDocument, ReferenceDocumentNumber,ReferenceDocumentLineItem
--on un.PONo = Journal.PurchasingDocumentNumber 
--and un.POItemNo = Journal.ItemNumberofPurchasingDocument 
--and un.MaterialDocumentNo = Journal.ReferenceDocumentNumber
),

CheckPPVInventory as
(Select cal.*, A.PPVValueinGLAccount, A.InventoryValue, A.PPVValueinIRAccount, A.ForexGainLossValue, A.SubcontractingValue
from CalculateValue cal
left join 
(select PONo, POItemNo,Sum(PPVValueinGLAccount) PPVValueinGLAccount, 
Sum(PPVValueinIRAccount) PPVValueinIRAccount, sum(InventoryValue) InventoryValue, sum(ForexGainLossValue) ForexGainLossValue
, sum(SubcontractingValue) SubcontractingValue
from (select PONo, POItemNo,  
Case when His.PurchaseOrderHistoryCategory = 'E' then sum(Coalesce(PPVValueinGLAccount,0)) else 0 end as PPVValueinGLAccount,
case when His.PurchaseOrderHistoryCategory = 'Q' then sum(Coalesce(PPVValueinGLAccount,0)) else 0 end as PPVValueinIRAccount,
Sum(Coalesce(InventoryValue,0)) as InventoryValue,
Sum(Coalesce(ForexGainLossValue,0)) as ForexGainLossValue,
Sum(Coalesce(SubcontractingValue,0)) as SubcontractingValue
from UnionHistoryFreight His
left join JournalCost GL
on PONo = PurchasingDocumentNumber and POItemNo = ItemNumberofPurchasingDocument  
and MaterialDocumentNo = ReferenceDocumentNumber 
and  replace(ltrim(replace(MaterialDocumentItem,'0',' ')),' ','0') = replace(ltrim(replace(ReferenceDocumentLineItem,'0',' ')),' ','0')
where TableName = 'EKBE' and PurchaseOrderHistoryCategory in ('E','Q')
group by PONo, POItemNo, His.PurchaseOrderHistoryCategory
 ) B
 group by PONo, POItemNo) A
 on cal.PO = A.PONo and cal.POItem = A.POItemNo)
 ,
 GetFulfilledStatus as
 (
 Select PO,POItem,sum(StillTobeDeliveredQty) as StillTobeDeliveredQtyItem , sum(ScheduledQuantity) as ScheduledQuantityItem
 from POOpen
 group by PO, POItem),
 CombineQtyCost as
 (Select OP.*,POGRValue, POIRValue, PODownpaymentClearing,POAccountMaintenance,POSubDebDeliveryCosts,PODownpayment,POParkedInvoice
 ,POSubcontracting, POGoodsIssueSTO, PODeliveryCost, PODeliveryCostInvoice, 
 PPVValueinGLAccount,PPVValueinIRAccount,InventoryValue, Case when MatNo is null or MatNo = '' then 0 else (POGRValue + PODeliveryCost - InventoryValue  - SubcontractingValue) end as PPVGRValue, PODeliveryCost -  PODeliveryCostInvoice as VarianceFreight,
 Case when FinalInvoice = 'X' then POIRValue - POGRValue + PODeliveryCost -  PODeliveryCostInvoice - ForexGainLossValue + POAccountMaintenance
 else 0 end as PPVIRValue
 ,Case when FinalInvoice = 'X' then POIRValue - POGRValue - ForexGainLossValue + POAccountMaintenance
 else 0 end as IRVarianceValue
 , ForexGainLossValue
 , SubcontractingValue
 , Case when it.StillTobeDeliveredQtyItem < 0 then Convert(nchar,'Overdelivered')
	     when it.StillTobeDeliveredQtyItem = 0 then convert(nchar,'Fulfilled')
	     when it.StillTobeDeliveredQtyItem > 0 and it.StillTobeDeliveredQtyItem < ScheduledQuantityItem then convert(nchar,'Partial')
		 else 'NotStarted'
   end as [DeliveryBasedStatus]
 from POOpen OP
 left join CheckPPVInventory Inv
 on Op.PO = Inv.PO and OP.POItem =Inv.POItem
 left join GetFulfilledStatus it
 on Op.PO = it.PO and Op.POItem = it.POItem)


--Select * from GetPOHistory where PO = '4500084464'
	insert into [ODS].[PurchaseOrder](
	 [LoadDateTime]
      ,[PO]
      ,[POItem]
      ,[PR]
      ,[POUnit]
      ,[MatNo]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Plant]
      ,[Storageloc]
      ,[MatGrp]
	  ,MatGrpDescription
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
      ,[PurcDocItmCat]
      ,[GoodsRcptIndic]
      ,[BaseUOM]
      ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[PurcDocCat]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[PRItemNo]
      ,[MatType]
      ,[MatFrgtGrp]
,GLAccountNumber
,CostCenter
,BusinessArea
,InternalOrderNumber
      ,[MANDT]
      ,[DeletionIndicator]
      ,[DeliveryCompleted]
      ,[FinalDelivery]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[GRProcessingTime]
      ,[Currency]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[PurcGrp]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
      ,[TotValAtReleaseTime]
      ,[Vendor]
      ,[DeliveryDate]
	        ,[POQtyConvertedBase]
      ,[PONetPriceBaseConverted]
      ,[StdPricePerUnit]
      ,[StdPriceUnit]
      ,[StdPrcCurr]
      ,[StdPrice]
      ,[OpenPOQty]
      ,[OpenPOQtyConvertedBase]
      ,[LatestCost]
      ,[OpenLatestCost]
      ,[StandardCost]
      ,[OpenStandardCost]
      ,[CostVariance]
      ,[OpenCostVariance]
	  , CondRecNo
	  , FreightLocalCurr
	 , StillTobeDeliveredQty,
LatestCostScheduled,
OpenScheduledValue,
StandardCostScheduled,
StandardCostTobeDelivered,
ScheduledCostVariance,
SchedLine,
ScheduledQuantity,
ScheduledQuantityConvertedBase,
StillTobeDeliveredQtyConvertedBase,
QuantityGoodsreceived,
POGRValue, POIRValue, PODownpaymentClearing,POAccountMaintenance,POSubDebDeliveryCosts,PODownpayment,POParkedInvoice
 ,POSubcontracting, POGoodsIssueSTO, PODeliveryCost, PODeliveryCostInvoice, 
 PPVValueinGLAccount, InventoryValue,  PPVGRValue,  VarianceFreight,
  PPVIRValue,
      [GRnonValuated] ,
    [InvoiceReceipt] ,
    [GRBasedInvVerif] ,
    [PartialDelivItem] ,
    [CompleteDelivery] ,
    [FinalInvoice] ,
	[DeliveryBasedStatus],
	PPVValueinIRAccount,
	PaymentTerm,
	PurcDocTyp,
	IRVarianceValue,
	ForexGainLossValue,
	PendingInvoiceValue
	, ReturnItem
	,SubcontractingValueGLAccount
	,[Incoterms1]
,[Incoterms2]
,[PIR]
,[PriceDate]
,[Description]
,[PurcDocItemCatDesc]
,[TaxCode]
,[TaxCodeDesc]
,[StorageLocationDesc]
,[VAT]
,[CreatedBy]
,[DeletionIndicator_h]
,[ControlIndicator]
,[Customer]
,[PurcDocCat_h]
,[PurcDocTypeDesc]
,[CreateByShortDesc]
,[ChangedAt]
,PurcDocCatDesc
,PurcDocProcessStateDesc
,PurcDocStatDesc
,AgingDays
,IsOverdue
	  )
	 SELECT [LoadDateTime]
      ,[PO]
      ,[POItem]
      ,[PR]
      ,[POUnit]
      ,[MatNo]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Plant]
      ,[Storageloc]
      ,[MatGrp]
	  ,MatGrpDescription
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
      ,[PurcDocItmCat]
      ,[GoodsRcptIndic]
      ,[BaseUOM]
      ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[PurcDocCat]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[PRItemNo]
      ,[MatType]
      ,[MatFrgtGrp]
,GLAccountNumber
,CostCenter
,BusinessArea
,InternalOrderNumber
      ,[MANDT]
      ,[DeletionIndicator]
      ,[DeliveryCompleted]
      ,[FinalDelivery]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[GRProcessingTime]
      ,[Currency]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[PurcGrp]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
      ,[TotValAtReleaseTime]
      ,[Vendor]
      ,[DeliveryDate] 
	        ,[POQtyConvertedBase]
      ,[PONetPriceBaseConverted]
      ,[StdPricePerUnit]
      ,[StdPriceUnit]
      ,[StdPrcCurr]
      ,[StdPrice]
      ,[OpenPOQty]
      ,[OpenPOQtyConvertedBase]
      ,Case when  ReturnItem = 'X' then -1*[LatestCost] else [LatestCost] end as [LatestCost]
      ,[OpenLatestCost]
      ,[StandardCost]
      ,[OpenStandardCost]
      ,[CostVariance]
      ,[OpenCostVariance]
	  , CondRecNo
	  , FreightLocalCurr
	  , StillTobeDeliveredQty,
LatestCostScheduled,
OpenScheduledValue,
StandardCostScheduled,
StandardCostTobeDelivered,
ScheduledCostVariance,
SchedLine,
ScheduledQuantity,
ScheduledQuantityConvertedBase,
StillTobeDeliveredQtyConvertedBase,
QuantityGoodsreceived,
POGRValue, POIRValue, PODownpaymentClearing,POAccountMaintenance,POSubDebDeliveryCosts,PODownpayment,POParkedInvoice
 ,POSubcontracting, POGoodsIssueSTO, PODeliveryCost, PODeliveryCostInvoice, 
 PPVValueinGLAccount, InventoryValue,  PPVGRValue,  VarianceFreight,
 PPVIRValue,
     [GRnonValuated] ,
    [InvoiceReceipt] ,
    [GRBasedInvVerif] ,
    [PartialDelivItem] ,
    [CompleteDelivery] ,
    [FinalInvoice],
	[DeliveryBasedStatus]
   ,PPVValueinIRAccount,
   	PaymentTerm,
	PurcDocTyp,
		IRVarianceValue,
	ForexGainLossValue,
	case when FinalInvoice <> 'X' and POParkedInvoice <> 0 then POParkedInvoice
	 when FinalInvoice <> 'X' then -(POIRValue - POGRValue - ForexGainLossValue)
	 else 0 end as PendingInvoiceValue
	 , ReturnItem
	 ,SubcontractingValue
	 ,[Incoterms1]
,[Incoterms2]
,[PIR]
,[PriceDate]
,[Description]
,[PurcDocItemCatDesc]
,[TaxCode]
,[TaxCodeDesc]
,[StorageLocationDesc]
,[VAT]
,[CreatedBy]
,[DeletionIndicator_h]
,[ControlIndicator]
,[Customer]
,[PurcDocCat_h]
,[PurcDocTypeDesc]
,[CreateByShortDesc]
,[ChangedAt]
,convert(nchar,PurcDocCatDesc)
,convert(nchar,PurcDocProcessStateDesc)
,convert(nchar,PurcDocStatDesc)
, DATEDIFF(day,[DeliveryDate],getdate())  + 1
, Case when DATEDIFF(day,[DeliveryDate],getdate()) > 90
then 'Red' when DATEDIFF(day,[DeliveryDate],getdate()) >0 then 'Yellow' else 'Green' end as IsOverdue
	  from CombineQtyCost
	  where [DeliveryDate] is not null and [DeliveryDate] > '00000000'
	--  where PO= '4500084464'
	   
END

GO
