USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_OUM]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS OUM]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_OUM]
AS


SET NOCOUNT ON;

TRUNCATE TABLE ODS.OUM;

WITH
  
  Materials AS
  (
  Select Z.Material,Z.BaseUnit from SAPSTG.ZXC_MATBASICDATA Z WITH (NOLOCK)
  )
  ,
  
  ItemConversionSAPTransformed as
  (
  SELECT 
	CAST(m.Material AS varchar(16)) AS RecipeNo
    , CAST(B.BASEUNIT AS varchar(3)) AS BaseUnit
    , CAST(m.ALTERNATIVEUNITFOREDIT AS varchar(3)) AS ConversionUnit
    , NULLIF(CAST(m.QUANTITYNUMERATOR/m.QUANTITYDENOMINATOR AS float),0) AS ConversionFactor -- 01-JUN-2022 John Ginete - Added NULLIF to avoid division by 0 in ODS.ITEM
  
  FROM SAPSTG.ZXC_MATAUOM m WITH (NOLOCK)
  INNER JOIN Materials B  WITH (NOLOCK) ON B.Material=M.Material
  )
  
 
  insert into ODS.OUM
  SELECT
	  RecipeNo			        = s.RecipeNo			   
    , BaseUnit			        = s.BaseUnit			  
    , ConversionUnit			= s.ConversionUnit			
    , ConversionFactor			= s.ConversionFactor		
			
  FROM ItemConversionSAPTransformed s
  
  /*
  

*/

GO
