USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_ProductionPlanSnapshot_backup]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Insert_Fact_ProductionPlanSnapshot_backup]
as
TRUNCATE TABLE Fact.ProductionPlanSnapshot;

SET NOCOUNT ON;
with 
 GetAllSnapshots as 
(select mrpw.*,FiscalYear, FiscalPeriod, FiscalWeek from ODS.MRPSnapshotWeekly mrpw
left outer join dim.CalendarDate cal
on cal.CalendarDate = mrpw.MonthendDay
where cal.FiscalYear >= '2025' and [MRP Element] in ('FE','PA') 
union all
select mrp.*,FiscalYear, FiscalPeriod, FiscalWeek from ODS.MRPSnapshotLTP mrp
left outer join dim.CalendarDate cal
on cal.CalendarDate = mrp.MonthendDay
where cal.FiscalYear >= '2025'  and [MRP Element] in ('FE','PA')),
SnapshotFlatten as 
(
select		replace(ltrim(replace(m.Material,'0',' ')),' ','0') as Material,
			m.Plant,
			m.WorkCenter,
			[Material Type],
			cw.WeekcommenceDate as CalendarDay,
			cw.WeekendDate as Weekenddate,
			cw.MonthendDate as Monthenddate,
			cw.FiscalYear,
			cw.FiscalPeriod,
			cw.FiscalWeek,
			Case when SnapshotType = 'Weekly' and m.[Version] = 0 then [StocksGoods Receipt] else 0 end as ScheduleCurrent,
			Case when SnapshotType = 'Weekly' and m.[Version] = 0 then [StatCoverageDay] else 0 end as [StatCoverageDayCurr],
			Case when SnapshotType = 'Weekly' and m.[Version] = 0 then m.LoadDateTime else '' end as LatestVersionDate0,
			Case when SnapshotType = 'Weekly' and m.[Version] = 1 then [StocksGoods Receipt] else 0 end as ScheduleQty1,
			Case when SnapshotType = 'Weekly' and m.[Version] = 1 then [StatCoverageDay] else 0 end as [StatCoverageDay1],
			Case when SnapshotType = 'Weekly' and m.[Version] = 1 then m.LoadDateTime else '' end as LatestVersionDate1,
			Case when SnapshotType = 'Weekly' and m.[Version] = 2 then [StocksGoods Receipt] else 0 end as ScheduleQty2,
			Case when SnapshotType = 'Weekly' and m.[Version] = 2 then [StatCoverageDay] else 0 end as [StatCoverageDay2],
			Case when SnapshotType = 'Weekly' and m.[Version] = 2 then m.LoadDateTime else '' end as LatestVersionDate2,
			Case when SnapshotType = 'Weekly' and m.[Version] = 3 then [StocksGoods Receipt] else 0 end as ScheduleQty3,
			Case when SnapshotType = 'Weekly' and m.[Version] = 3 then [StatCoverageDay] else 0 end as [StatCoverageDay3],
			Case when SnapshotType = 'Weekly' and m.[Version] = 3 then m.LoadDateTime else '' end as LatestVersionDate3,
			Case when SnapshotType = 'Weekly' and m.[Version] = 4 then [StocksGoods Receipt] else 0 end as ScheduleQty4,
			Case when SnapshotType = 'Weekly' and m.[Version] = 4 then [StatCoverageDay] else 0 end as [StatCoverageDay4],
			Case when SnapshotType = 'Weekly' and m.[Version] = 4 then m.LoadDateTime else '' end as LatestVersionDate4,
			Case when SnapshotType = 'Weekly' and m.[Version] = 5 then [StocksGoods Receipt] else 0 end as ScheduleQty5,
			Case when SnapshotType = 'Weekly' and m.[Version] = 5 then [StatCoverageDay] else 0 end as [StatCoverageDay5],
			Case when SnapshotType = 'Weekly' and m.[Version] = 5 then m.LoadDateTime else '' end as LatestVersionDate5,
			Case when SnapshotType = 'Weekly' and m.[Version] = 6 then [StocksGoods Receipt] else 0 end as ScheduleQty6,
			Case when SnapshotType = 'Weekly' and m.[Version] = 6 then [StatCoverageDay] else 0 end as [StatCoverageDay6],
			Case when SnapshotType = 'Weekly' and m.[Version] = 6 then m.LoadDateTime else '' end as LatestVersionDate6,
			Case when SnapshotType = 'Weekly' and m.[Version] = 7 then [StocksGoods Receipt] else 0 end as ScheduleQty7,
			Case when SnapshotType = 'Weekly' and m.[Version] = 7 then [StatCoverageDay] else 0 end as [StatCoverageDay7],
			Case when SnapshotType = 'Weekly' and m.[Version] = 7 then m.LoadDateTime else '' end as LatestVersionDate7,
			Case when SnapshotType = 'Weekly' and m.[Version] = 8 then [StocksGoods Receipt] else 0 end as ScheduleQty8,
			Case when SnapshotType = 'Weekly' and m.[Version] = 8 then [StatCoverageDay] else 0 end as [StatCoverageDay8],
			Case when SnapshotType = 'Weekly' and m.[Version] = 8 then m.LoadDateTime else '' end as LatestVersionDate8,
			Case when SnapshotType = 'Weekly' and m.[Version] = 9 then [StocksGoods Receipt] else 0 end as ScheduleQty9,
			Case when SnapshotType = 'Weekly' and m.[Version] = 9 then [StatCoverageDay] else 0 end as [StatCoverageDay9],
			Case when SnapshotType = 'Weekly' and m.[Version] = 9 then m.LoadDateTime else '' end as LatestVersionDate9,
			Case when SnapshotType = 'Weekly' and m.[Version] = 10 then [StocksGoods Receipt] else 0 end as ScheduleQty10,
			Case when SnapshotType = 'Weekly' and m.[Version] = 10 then [StatCoverageDay] else 0 end as [StatCoverageDay10],
			Case when SnapshotType = 'Weekly' and m.[Version] = 10 then m.LoadDateTime else '' end as LatestVersionDate10,
			Case when SnapshotType = 'Weekly' and m.[Version] = 11 then [StocksGoods Receipt] else 0 end as ScheduleQty11,
			Case when SnapshotType = 'Weekly' and m.[Version] = 11 then [StatCoverageDay] else 0 end as [StatCoverageDay11],
			Case when SnapshotType = 'Weekly' and m.[Version] = 11 then m.LoadDateTime else '' end as LatestVersionDate11,
			Case when SnapshotType = 'Weekly' and m.[Version] = 12 then [StocksGoods Receipt] else 0 end as ScheduleQty12,
			Case when SnapshotType = 'Weekly' and m.[Version] = 12 then [StatCoverageDay] else 0 end as [StatCoverageDay12],
			Case when SnapshotType = 'Weekly' and m.[Version] = 12 then m.LoadDateTime else '' end as LatestVersionDate12,
			Unit,
			Case when m.SnapshotType = 'Weekly' then 'SCH' else SnapshotType end as SnapshotType,
			Case when SnapshotType = 'LTP' and m.[Version] = 1 then [StocksGoods Receipt] else 0 end as LTP1,
			Case when SnapshotType = 'LTP' and m.[Version] = 1 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay1],
			Case when SnapshotType = 'LTP' and m.[Version] = 1 then AvailableInventory else 0 end as [LTPSOH1],
			Case when SnapshotType = 'LTP' and m.[Version] = 1 then m.LoadDateTime else '' end as LTPLatestVersionDate1,
			Case when SnapshotType = 'LTP' and m.[Version] = 2 then [StocksGoods Receipt] else 0 end as LTP2,
			Case when SnapshotType = 'LTP' and m.[Version] = 2 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay2],
			Case when SnapshotType = 'LTP' and m.[Version] = 2 then m.LoadDateTime else '' end as LTPLatestVersionDate2,
			Case when SnapshotType = 'LTP' and m.[Version] = 2 then AvailableInventory else 0 end as [LTPSOH2],
			Case when SnapshotType = 'LTP' and m.[Version] = 3 then [StocksGoods Receipt] else 0 end as LTP3,
			Case when SnapshotType = 'LTP' and m.[Version] = 3 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay3],
			Case when SnapshotType = 'LTP' and m.[Version] = 3 then m.LoadDateTime else '' end as LTPLatestVersionDate3,
			Case when SnapshotType = 'LTP' and m.[Version] = 3 then AvailableInventory else 0 end as [LTPSOH3],
			Case when SnapshotType = 'LTP' and m.[Version] = 4 then [StocksGoods Receipt] else 0 end as LTP4,
			Case when SnapshotType = 'LTP' and m.[Version] = 4 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay4],
			Case when SnapshotType = 'LTP' and m.[Version] = 4 then m.LoadDateTime else '' end as LTPLatestVersionDate4,
			Case when SnapshotType = 'LTP' and m.[Version] = 4 then AvailableInventory else 0 end as [LTPSOH4],
			Case when SnapshotType = 'LTP' and m.[Version] = 5 then [StocksGoods Receipt] else 0 end as LTP5,
			Case when SnapshotType = 'LTP' and m.[Version] = 5 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay5],
			Case when SnapshotType = 'LTP' and m.[Version] = 5 then m.LoadDateTime else '' end as LTPLatestVersionDate5,
			Case when SnapshotType = 'LTP' and m.[Version] = 5 then AvailableInventory else 0 end as [LTPSOH5],
			Case when SnapshotType = 'LTP' and m.[Version] = 6 then [StocksGoods Receipt] else 0 end as LTP6,
			Case when SnapshotType = 'LTP' and m.[Version] = 6 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay6],
			Case when SnapshotType = 'LTP' and m.[Version] = 6 then AvailableInventory else 0 end as [LTPSOH6],
			Case when SnapshotType = 'LTP' and m.[Version] = 6 then m.LoadDateTime else '' end as LTPLatestVersionDate6,
			Case when SnapshotType = 'LTP' and m.[Version] = 7 then [StocksGoods Receipt] else 0 end as LTP7,
			Case when SnapshotType = 'LTP' and m.[Version] = 7 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay7],
			Case when SnapshotType = 'LTP' and m.[Version] = 7 then AvailableInventory else 0 end as [LTPSOH7],
			Case when SnapshotType = 'LTP' and m.[Version] = 7 then m.LoadDateTime else '' end as LTPLatestVersionDate7,
			Case when SnapshotType = 'LTP' and m.[Version] = 8 then [StocksGoods Receipt] else 0 end as LTP8,
			Case when SnapshotType = 'LTP' and m.[Version] = 8 then AvailableInventory else 0 end as [LTPSOH8],
			Case when SnapshotType = 'LTP' and m.[Version] = 8 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay8],
			Case when SnapshotType = 'LTP' and m.[Version] = 8 then m.LoadDateTime else '' end as LTPLatestVersionDate8,
			Case when SnapshotType = 'LTP' and m.[Version] = 9 then [StocksGoods Receipt] else 0 end as LTP9,
			Case when SnapshotType = 'LTP' and m.[Version] = 9 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay9],
			Case when SnapshotType = 'LTP' and m.[Version] = 9 then AvailableInventory else 0 end as [LTPSOH9],
			Case when SnapshotType = 'LTP' and m.[Version] = 9 then m.LoadDateTime else '' end as LTPLatestVersionDate9,
			Case when SnapshotType = 'LTP' and m.[Version] = 10 then [StocksGoods Receipt] else 0 end as LTP10,
			Case when SnapshotType = 'LTP' and m.[Version] = 10 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay10],
			Case when SnapshotType = 'LTP' and m.[Version] = 10 then m.LoadDateTime else '' end as LTPLatestVersionDate10,
			Case when SnapshotType = 'LTP' and m.[Version] = 10 then AvailableInventory else 0 end as [LTPSOH10],
			Case when SnapshotType = 'LTP' and m.[Version] = 11 then [StocksGoods Receipt] else 0 end as LTP11,
			Case when SnapshotType = 'LTP' and m.[Version] = 11 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay11],
			Case when SnapshotType = 'LTP' and m.[Version] = 11 then m.LoadDateTime else '' end as LTPLatestVersionDate11,
			Case when SnapshotType = 'LTP' and m.[Version] = 11 then AvailableInventory else 0 end as [LTPSOH11],
			Case when SnapshotType = 'LTP' and m.[Version] = 12 then [StocksGoods Receipt] else 0 end as LTP12,
			Case when SnapshotType = 'LTP' and m.[Version] = 12 then [StatCoverageDay] else 0 end as [LTPStatCoverageDay12],
			Case when SnapshotType = 'LTP' and m.[Version] = 12 then m.LoadDateTime else '' end as LTPLatestVersionDate12,
			Case when SnapshotType = 'LTP' and m.[Version] = 12 then AvailableInventory else 0 end as [LTPSOH12],
			m.[Version]
			from GetAllSnapshots m
			left join dim.CalendarDate cw
			on m.WeekCommenceDay = cw.CalendarDate 
			),
	LatestVersion as 
	(select WeekCommenceDay,SnapshotType, min(Version) as VersionMin
	from GetAllSnapshots
	group by WeekCommenceDay,SnapshotType),
LatestCoverageDays as 
(Select Material , avg(BullaCoverageDays) as BullaCoverageDays, avg(StockCoverageDays) as  StockCoverageDays
from ODS.MRPMaterialCoverageSnapshot
where SnapshotDate in 
(Select max(SnapshotDate)
from ODS.MRPMaterialCoverageSnapshot
where Plant = ''
 )
 group by Material),
	SnapshotAggr as 
	(Select s.Material ,
			Plant,
			WorkCenter,
			[Material Type],
			CalendarDay,
			FiscalYear,
			FiscalPeriod,
			FiscalWeek,
			s.SnapshotType,
			sum(ScheduleCurrent) as ScheduleCurrent,
			Sum(ScheduleQty1) as ScheduleQty1,
			Sum(ScheduleQty2) as ScheduleQty2,
			Sum(ScheduleQty3) as ScheduleQty3,
			Sum(ScheduleQty4) as ScheduleQty4,
			Sum(ScheduleQty5) as ScheduleQty5,
			Sum(ScheduleQty6) as ScheduleQty6,
			Sum(ScheduleQty7) as ScheduleQty7,
			Sum(ScheduleQty8) as ScheduleQty8,
			Sum(ScheduleQty9) as ScheduleQty9,
			Sum(ScheduleQty10) as ScheduleQty10,
			Sum(ScheduleQty11) as ScheduleQty11,
			Sum(ScheduleQty12) as ScheduleQty12,
			Case when Sum(ScheduleQty1) != 0 then Sum(ScheduleQty1)
			     when Sum(ScheduleQty2) != 0 then Sum(ScheduleQty2) 
				 else 0 end as ScheduleQty,
			Case when Sum(ScheduleQty1) != 0 then Sum(ScheduleQty1)
			     when Sum(ScheduleQty2) != 0 then Sum(ScheduleQty2)
				 when Sum(ScheduleQty3) != 0 then Sum(ScheduleQty3)
				 when Sum(ScheduleQty4) != 0 then Sum(ScheduleQty4)
			     when Sum(ScheduleQty5) != 0 then Sum(ScheduleQty5)
				 when Sum(ScheduleQty6) != 0 then Sum(ScheduleQty6)
				 when Sum(ScheduleQty7) != 0 then Sum(ScheduleQty7)
			     when Sum(ScheduleQty8) != 0 then Sum(ScheduleQty8)
				 when Sum(ScheduleQty9) != 0 then Sum(ScheduleQty9)
				 when Sum(ScheduleQty10) != 0 then Sum(ScheduleQty10)
			     when Sum(ScheduleQty11) != 0 then Sum(ScheduleQty11)
				 when Sum(ScheduleQty12) != 0 then Sum(ScheduleQty12)
				 else 0
				 end as ScheduledLatest,
			Case when Sum(ScheduleQty1) != 0 then Sum(ScheduleQty2)
			     when Sum(ScheduleQty2) != 0 then Sum(ScheduleQty3)
				 when Sum(ScheduleQty3) != 0 then Sum(ScheduleQty4)
				 when Sum(ScheduleQty4) != 0 then Sum(ScheduleQty5)
			     when Sum(ScheduleQty5) != 0 then Sum(ScheduleQty6)
				 when Sum(ScheduleQty6) != 0 then Sum(ScheduleQty7)
				 when Sum(ScheduleQty7) != 0 then Sum(ScheduleQty8)
			     when Sum(ScheduleQty8) != 0 then Sum(ScheduleQty9)
				 when Sum(ScheduleQty9) != 0 then Sum(ScheduleQty10)
				 when Sum(ScheduleQty10) != 0 then Sum(ScheduleQty11)
			     when Sum(ScheduleQty11) != 0 then Sum(ScheduleQty12)
				 when Sum(ScheduleQty12) != 0 then 0
				 else 0
				 end as ScheduledLag1,
			Case when Sum(ScheduleQty1) != 0 then Sum(ScheduleQty3)
			     when Sum(ScheduleQty2) != 0 then Sum(ScheduleQty4)
				 when Sum(ScheduleQty3) != 0 then Sum(ScheduleQty5)
				 when Sum(ScheduleQty4) != 0 then Sum(ScheduleQty6)
			     when Sum(ScheduleQty5) != 0 then Sum(ScheduleQty7)
				 when Sum(ScheduleQty6) != 0 then Sum(ScheduleQty8)
				 when Sum(ScheduleQty7) != 0 then Sum(ScheduleQty9)
			     when Sum(ScheduleQty8) != 0 then Sum(ScheduleQty10)
				 when Sum(ScheduleQty9) != 0 then Sum(ScheduleQty11)
				 when Sum(ScheduleQty10) != 0 then Sum(ScheduleQty12)
			     when Sum(ScheduleQty11) != 0 then 0
				 when Sum(ScheduleQty12) != 0 then 0
				 else 0
				 end as ScheduledLag2,
			Sum(LTP1) as LTP1,
			Sum(LTP2) as LTP2,
			Sum(LTP3) as LTP3,
			Sum(LTP4) as LTP4,
			Sum(LTP5) as LTP5,
			Sum(LTP6) as LTP6,
			Sum(LTP7) as LTP7,
			Sum(LTP8) as LTP8,
			Sum(LTP9) as LTP9,
			Sum(LTP10) as LTP10,
			Sum(LTP11) as LTP11,
			Sum(LTP12) as LTP12,
			versionMin,
			Case when VersionMin = 1 then Sum(LTP1) 
			     when VersionMin = 2 then Sum(LTP2)
				 when VersionMin = 3  then Sum(LTP3)
				 when VersionMin = 4 then Sum(LTP4) 
			     when VersionMin = 5 then Sum(LTP5)
				 when VersionMin = 6  then Sum(LTP6)
			     when VersionMin = 7 then Sum(LTP7) 
			     when VersionMin = 8 then Sum(LTP8)
				 when VersionMin = 9  then Sum(LTP9)
				 when VersionMin = 10 then Sum(LTP10) 
			     when VersionMin = 11 then Sum(LTP11)
				 when VersionMin = 12  then Sum(LTP12)
				 else 0
				 end as LTP,
			Case when VersionMin = 1 then Sum(LTPSOH1) 
			     when VersionMin = 2 then Sum(LTPSOH2)
				 when VersionMin = 3  then Sum(LTPSOH3)
				 when VersionMin = 4 then Sum(LTPSOH4) 
			     when VersionMin = 5 then Sum(LTPSOH5)
				 when VersionMin = 6  then Sum(LTPSOH6)
			     when VersionMin = 7 then Sum(LTPSOH7) 
			     when VersionMin = 8 then Sum(LTPSOH8)
				 when VersionMin = 9  then Sum(LTPSOH9)
				 when VersionMin = 10 then Sum(LTPSOH10) 
			     when VersionMin = 11 then Sum(LTPSOH11)
				 when VersionMin = 12  then Sum(LTPSOH12)
				 else 0
				 end as LTPSOH,
			Case when VersionMin = 1 then Sum(LTP2) 
			     when VersionMin = 2 then Sum(LTP3)
				 when VersionMin = 3 then 0
				 else 0
				 end as LTPLag1,
			Case when VersionMin = 1  then Sum(LTP3) 
			     when VersionMin = 2 then 0
				 when VersionMin = 3 then 0
				 else 0
				 end as LTPLag2,
			Unit,
			--Coalesce(BullaCoverageDays1,l.BullaCoverageDays)  as BullaCoverageDays1,
			--Coalesce(BullaCoverageDays2,l.BullaCoverageDays) as BullaCoverageDays2,
			--BullaCoverageDays3,
			--Coalesce(StockCoverageDays1,l.StockCoverageDays) as StockCoverageDays1,
			--Coalesce(StockCoverageDays2,l.StockCoverageDays) as StockCoverageDays2,
			--StockCoverageDays3,
			--Coalesce(LTPBullaCoverageDaysCurrent,l.BullaCoverageDays) as LTPBullaCoverageDaysCurrent,
			--LTPBullaCoverageDaysLag1,
			--LTPStockCoverageDaysCurrent,
			--LTPStockCoverageDaysLag1,
			Case when SUM([StatCoverageDayCurr]) != 0 then sum([StatCoverageDayCurr])
			     when Sum([StatCoverageDay1]) != 0 then Sum([StatCoverageDay1])
				 when Sum([StatCoverageDay2]) != 0 then Sum([StatCoverageDay2])
				 when Sum([StatCoverageDay3]) != 0 then Sum([StatCoverageDay3])
			     when Sum([StatCoverageDay4]) != 0 then Sum([StatCoverageDay4])
				 when Sum([StatCoverageDay5]) != 0 then Sum([StatCoverageDay5])
				 when Sum([StatCoverageDay6]) != 0 then Sum([StatCoverageDay6])
			     when Sum([StatCoverageDay7]) != 0 then Sum([StatCoverageDay7])
				 when Sum([StatCoverageDay8]) != 0 then Sum([StatCoverageDay8])
				 when Sum([StatCoverageDay9]) != 0 then Sum([StatCoverageDay9])
			     when Sum([StatCoverageDay10]) != 0 then Sum([StatCoverageDay10])
				 when Sum([StatCoverageDay11]) != 0 then Sum([StatCoverageDay11])
				 when Sum([StatCoverageDay12]) != 0 then Sum([StatCoverageDay12])
				 else 0
				 end as StatCoverageDayLatest,
			Case when SUM([StatCoverageDayCurr]) != 0 then sum([StatCoverageDay1])
			     when Sum([StatCoverageDay1]) != 0 then Sum([StatCoverageDay2])
				 when Sum([StatCoverageDay2]) != 0 then Sum([StatCoverageDay3])
				 when Sum([StatCoverageDay3]) != 0 then Sum([StatCoverageDay4])
			     when Sum([StatCoverageDay4]) != 0 then Sum([StatCoverageDay5])
				 when Sum([StatCoverageDay5]) != 0 then Sum([StatCoverageDay6])
				 when Sum([StatCoverageDay6]) != 0 then Sum([StatCoverageDay7])
			     when Sum([StatCoverageDay7]) != 0 then Sum([StatCoverageDay8])
				 when Sum([StatCoverageDay8]) != 0 then Sum([StatCoverageDay9])
				 when Sum([StatCoverageDay9]) != 0 then Sum([StatCoverageDay10])
			     when Sum([StatCoverageDay10]) != 0 then Sum([StatCoverageDay11])
				 when Sum([StatCoverageDay11]) != 0 then Sum([StatCoverageDay12])
				 else 0
				 end as StatCoverageDayLag1,
			Case when SUM([StatCoverageDayCurr]) != 0 then sum([StatCoverageDay2])
			     when Sum([StatCoverageDay1]) != 0 then Sum([StatCoverageDay3])
				 when Sum([StatCoverageDay2]) != 0 then Sum([StatCoverageDay4])
				 when Sum([StatCoverageDay3]) != 0 then Sum([StatCoverageDay5])
			     when Sum([StatCoverageDay4]) != 0 then Sum([StatCoverageDay6])
				 when Sum([StatCoverageDay5]) != 0 then Sum([StatCoverageDay7])
				 when Sum([StatCoverageDay6]) != 0 then Sum([StatCoverageDay8])
			     when Sum([StatCoverageDay7]) != 0 then Sum([StatCoverageDay9])
				 when Sum([StatCoverageDay8]) != 0 then Sum([StatCoverageDay10])
				 when Sum([StatCoverageDay9]) != 0 then Sum([StatCoverageDay11])
			     when Sum([StatCoverageDay10]) != 0 then Sum([StatCoverageDay12])
				 else 0
				 end as StatCoverageDayLag2,
			Case when Sum([LTPStatCoverageDay1]) != 0 then Sum([LTPStatCoverageDay1])
				 when Sum([LTPStatCoverageDay2]) != 0 then Sum([LTPStatCoverageDay2])
				 when Sum([LTPStatCoverageDay3]) != 0 then Sum([LTPStatCoverageDay3])
			     when Sum([LTPStatCoverageDay4]) != 0 then Sum([LTPStatCoverageDay4])
				 when Sum([LTPStatCoverageDay5]) != 0 then Sum([LTPStatCoverageDay5])
				 when Sum([LTPStatCoverageDay6]) != 0 then Sum([LTPStatCoverageDay6])
			     when Sum([LTPStatCoverageDay7]) != 0 then Sum([LTPStatCoverageDay7])
				 when Sum([LTPStatCoverageDay8]) != 0 then Sum([LTPStatCoverageDay8])
				 when Sum([LTPStatCoverageDay9]) != 0 then Sum([LTPStatCoverageDay9])
			     when Sum([LTPStatCoverageDay10]) != 0 then Sum([LTPStatCoverageDay10])
				 when Sum([LTPStatCoverageDay11]) != 0 then Sum([LTPStatCoverageDay11])
				 when Sum([LTPStatCoverageDay12]) != 0 then Sum([LTPStatCoverageDay12])
				 else 0
				 end as LTPStatCoverageDayLatest,
			Case when Sum([LTPStatCoverageDay1]) != 0 then Sum([LTPStatCoverageDay2])
				 when Sum([LTPStatCoverageDay2]) != 0 then Sum([LTPStatCoverageDay3])
				 when Sum([LTPStatCoverageDay3]) != 0 then Sum([LTPStatCoverageDay4])
			     when Sum([LTPStatCoverageDay4]) != 0 then Sum([LTPStatCoverageDay5])
				 when Sum([LTPStatCoverageDay5]) != 0 then Sum([LTPStatCoverageDay6])
				 when Sum([LTPStatCoverageDay6]) != 0 then Sum([LTPStatCoverageDay7])
			     when Sum([LTPStatCoverageDay7]) != 0 then Sum([LTPStatCoverageDay8])
				 when Sum([LTPStatCoverageDay8]) != 0 then Sum([LTPStatCoverageDay9])
				 when Sum([LTPStatCoverageDay9]) != 0 then Sum([LTPStatCoverageDay10])
			     when Sum([LTPStatCoverageDay10]) != 0 then Sum([LTPStatCoverageDay11])
				 when Sum([LTPStatCoverageDay11]) != 0 then Sum([LTPStatCoverageDay12])
				 else 0
				 end as LTPStatCoverageDayLag1,
			Case when Sum([LTPStatCoverageDay1]) != 0 then Sum([LTPStatCoverageDay3])
				 when Sum([LTPStatCoverageDay2]) != 0 then Sum([LTPStatCoverageDay4])
				 when Sum([LTPStatCoverageDay3]) != 0 then Sum([LTPStatCoverageDay5])
			     when Sum([LTPStatCoverageDay4]) != 0 then Sum([LTPStatCoverageDay6])
				 when Sum([LTPStatCoverageDay5]) != 0 then Sum([LTPStatCoverageDay7])
				 when Sum([LTPStatCoverageDay6]) != 0 then Sum([LTPStatCoverageDay8])
			     when Sum([LTPStatCoverageDay7]) != 0 then Sum([LTPStatCoverageDay9])
				 when Sum([LTPStatCoverageDay8]) != 0 then Sum([LTPStatCoverageDay10])
				 when Sum([LTPStatCoverageDay9]) != 0 then Sum([LTPStatCoverageDay11])
			     when Sum([LTPStatCoverageDay10]) != 0 then Sum([LTPStatCoverageDay12])
				 else 0
				 end as LTPStatCoverageDayLag2,
			Case when Max(LTPLatestVersionDate1) != '' then Max(LTPLatestVersionDate1)
				 when Max(LTPLatestVersionDate2) != '' then Max(LTPLatestVersionDate2)
				 when Max(LTPLatestVersionDate3) != '' then Max(LTPLatestVersionDate3)
				 when Max(LTPLatestVersionDate4) != '' then Max(LTPLatestVersionDate4)
				 when Max(LTPLatestVersionDate5) != '' then Max(LTPLatestVersionDate5)
				 when Max(LTPLatestVersionDate6) != '' then Max(LTPLatestVersionDate6)
				 when Max(LTPLatestVersionDate7) != '' then Max(LTPLatestVersionDate7)
				 when Max(LTPLatestVersionDate8) != '' then Max(LTPLatestVersionDate8)
				 when Max(LTPLatestVersionDate9) != '' then Max(LTPLatestVersionDate9)
				 when Max(LTPLatestVersionDate10) != '' then Max(LTPLatestVersionDate10)
				 when Max(LTPLatestVersionDate10) != '' then Max(LTPLatestVersionDate11)
				 when Max(LTPLatestVersionDate10) != '' then Max(LTPLatestVersionDate12)
				 when Max(LatestVersionDate0) != '' then Max(LatestVersionDate0)
				 when Max(LatestVersionDate1) != '' then Max(LatestVersionDate1)
				 when Max(LatestVersionDate2) != '' then Max(LatestVersionDate2)
				 when Max(LatestVersionDate3) != '' then Max(LatestVersionDate3)
				 when Max(LatestVersionDate4) != '' then Max(LatestVersionDate4)
				 when Max(LatestVersionDate5) != '' then Max(LatestVersionDate5)
				 when Max(LatestVersionDate6) != '' then Max(LatestVersionDate6)
				 when Max(LatestVersionDate7) != '' then Max(LatestVersionDate7)
				 when Max(LatestVersionDate8) != '' then Max(LatestVersionDate8)
				 when Max(LatestVersionDate9) != '' then Max(LatestVersionDate9)
				 when Max(LatestVersionDate10) != '' then Max(LatestVersionDate10)
				 when Max(LatestVersionDate11) != '' then Max(LatestVersionDate11)
				 when Max(LatestVersionDate12) != '' then Max(LatestVersionDate12)
				 else ''
				 end as LatestVersionDate,
			Case when Max(LTPLatestVersionDate1) != '' then Max(LTPLatestVersionDate1)
				 when Max(LTPLatestVersionDate2) != '' then Max(LTPLatestVersionDate2)
				 when Max(LTPLatestVersionDate3) != '' then Max(LTPLatestVersionDate3)
				 when Max(LTPLatestVersionDate4) != '' then Max(LTPLatestVersionDate4)
				 when Max(LTPLatestVersionDate5) != '' then Max(LTPLatestVersionDate5)
				 when Max(LTPLatestVersionDate6) != '' then Max(LTPLatestVersionDate6)
				 when Max(LTPLatestVersionDate7) != '' then Max(LTPLatestVersionDate7)
				 when Max(LTPLatestVersionDate8) != '' then Max(LTPLatestVersionDate8)
				 when Max(LTPLatestVersionDate9) != '' then Max(LTPLatestVersionDate9)
				 when Max(LTPLatestVersionDate10) != '' then Max(LTPLatestVersionDate10)
				 when Max(LTPLatestVersionDate11) != '' then Max(LTPLatestVersionDate11)
				 when Max(LTPLatestVersionDate12) != '' then Max(LTPLatestVersionDate12)
				 else '' 
				 end LatestLTPVersionDate,
			Case when Max(LTPLatestVersionDate1) != '' then Max(LTPLatestVersionDate2)
				 when Max(LTPLatestVersionDate2) != '' then Max(LTPLatestVersionDate3)
				 when Max(LTPLatestVersionDate3) != '' then Max(LTPLatestVersionDate4)
				 when Max(LTPLatestVersionDate4) != '' then Max(LTPLatestVersionDate5)
				 when Max(LTPLatestVersionDate5) != '' then Max(LTPLatestVersionDate6)
				 when Max(LTPLatestVersionDate6) != '' then Max(LTPLatestVersionDate7)
				 when Max(LTPLatestVersionDate7) != '' then Max(LTPLatestVersionDate8)
				 when Max(LTPLatestVersionDate8) != '' then Max(LTPLatestVersionDate9)
				 when Max(LTPLatestVersionDate9) != '' then Max(LTPLatestVersionDate10)
				 when Max(LTPLatestVersionDate10) != '' then Max(LTPLatestVersionDate11)
				 when Max(LTPLatestVersionDate11) != '' then Max(LTPLatestVersionDate12)
				 when Max(LTPLatestVersionDate12) != '' then ''
				 else '' 
				 end LatestLTPVersionDateLag1,
			Case when Max(LTPLatestVersionDate1) != '' then Max(LTPLatestVersionDate3)
				 when Max(LTPLatestVersionDate2) != '' then Max(LTPLatestVersionDate4)
				 when Max(LTPLatestVersionDate3) != '' then Max(LTPLatestVersionDate5)
				 when Max(LTPLatestVersionDate4) != '' then Max(LTPLatestVersionDate6)
				 when Max(LTPLatestVersionDate5) != '' then Max(LTPLatestVersionDate7)
				 when Max(LTPLatestVersionDate6) != '' then Max(LTPLatestVersionDate8)
				 when Max(LTPLatestVersionDate7) != '' then Max(LTPLatestVersionDate8)
				 when Max(LTPLatestVersionDate8) != '' then Max(LTPLatestVersionDate9)
				 when Max(LTPLatestVersionDate9) != '' then Max(LTPLatestVersionDate10)
				 when Max(LTPLatestVersionDate10) != '' then Max(LTPLatestVersionDate12)
				 when Max(LTPLatestVersionDate11) != '' then ''
				 when Max(LTPLatestVersionDate12) != '' then ''
				 else '' 
				 end LatestLTPVersionDateLag2,
				 Weekenddate,
				 Monthenddate
			from SnapshotFlatten s
			left outer join LatestCoverageDays l
			on s.Material = l.Material
			left outer join LatestVersion v
			on s.CalendarDay = v.WeekCommenceDay and s.SnapshotType = v.SnapshotType
			Group By 
			s.Material,
			Plant,
			[Material Type],
			CalendarDay,
			FiscalYear,
			FiscalPeriod,
			FiscalWeek,
			s.SnapshotType,
			Unit,
			l.BullaCoverageDays,
			l.StockCoverageDays,
			VersionMin,
			WorkCenter,
			Weekenddate,
			Monthenddate)
			,
			ProjSalescurr as
			(
			Select ProductNo, FiscalYearWeekIntKey, Sum(ProjectedSalesQuantity) ProjectedSalesQuantity
			from Fact.ProjectedSales 
			group by ProductNo, FiscalYearWeekIntKey),
			CMTSalesCurr as
			(
			Select ProductNo, FiscalYearWeekIntKey, Sum(CommittedSalesQuantity) CommittedSalesQuantityCurr
			from Fact.CommittedSales 
			group by ProductNo, FiscalYearWeekIntKey),
			CMTSalesSnapshot as
			(
			Select ProductNo, FiscalYearWeekIntKey, Sum(CommittedLag1SalesQuantity) CommittedLag1SalesQuantity, Sum(CommittedLag2SalesQuantity) CommittedLag2SalesQuantity
			from Fact.EoMForecastFlattened 
			group by ProductNo, FiscalYearWeekIntKey)	
INSERT INTO [FACT].[ProductionPlanSnapshot]
           ([Material]
           ,[Plant]
           ,[WorkCenter]
           ,[Material Type]
           ,[CalendarDay]
           ,[FiscalYear]
           ,[FiscalPeriod]
           ,[FiscalWeek]
           ,[SnapshotType]
           ,[ScheduleCurrent]
		   ,[ScheduleQty]
           ,[ScheduleQty1]
           ,[ScheduleQty2]
           ,[ScheduleQty3]
           ,[ScheduleQty4]
           ,[ScheduleQty5]
           ,[ScheduleQty6]
           ,[ScheduleQty7]
           ,[ScheduleQty8]
           ,[ScheduleQty9]
           ,[ScheduleQty10]
           ,[ScheduleQty11]
           ,[ScheduleQty12]
           ,[LTP]
           ,[ScheduledLatest]
           ,[ScheduledLag1]
           ,[ScheduledLag2]
           ,[LTP1]
           ,[LTP2]
           ,[LTP3]
           ,[LTP4]
           ,[LTP5]
           ,[LTP6]
           ,[LTP7]
           ,[LTP8]
           ,[LTP9]
           ,[LTP10]
           ,[LTP11]
           ,[LTP12]
		   ,LTPSOH
           ,[versionMin]
           ,[LTPLag1]
           ,[LTPLag2]
           ,[Unit]
           ,[StatCoverageDayLatest]
           ,[StatCoverageDayLag1]
           ,[StatCoverageDayLag2]
           ,[LTPStatCoverageDayLatest]
           ,[LTPStatCoverageDayLag1]
           ,[LTPStatCoverageDayLag2]
           ,[LatestVersionDate]
		   ,LatestLTPVersionDate
		   ,LatestLTPVersionDateLag1
		   ,LatestLTPVersionDateLag2
           ,[Weekenddate]
           ,[Monthenddate]
           ,[XplntBullaCovMonthEndWeek]
           ,[XplntBullaCovMonthEndWeekLag1]
           ,[XplntBullaCovMonthEndWeekLag2]
           ,[XpntBullaCovMonthEndWeekLag3]
           ,[XplntBullaCovMonthEndWeekPrevPer]
           ,[XplntStockCovMonthEndWeek]
           ,[XplntStockCovMonthEndWeekLag1]
           ,[XplntStockCovMonthEndWeekLag2]
           ,[XplntStockCovMonthEndWeekLag3]
           ,[XplntStockCovMonthEndWeekPrevPer]
           ,[MonthEndWeekSnapshotDay]
           ,[MonthEndWeekSnapshotDaylag1]
           ,[MonthEndWeekSnapshotDayLag2]
           ,[MonthEndWeekSnapshotDayLag3]
           ,[MonthEndWeekPrevPerSnapshotDay]
           ,[ProjectedQtySnapshotLatest]
		   ,ProjectedSnapshotDateLatest
           ,[ProjectedQtySnapshotLag1]
		   ,ProjectedSnapshotDateLag1
           ,[ProjectedQtySnapshotLag2]
		   ,ProjectedSnapshotDateLag2
           ,[ProjectedQtySnapshotLag3]
		   ,ProjectedSnapshotDateLag3
           ,[ProjectedQtySnapshotLag4]
		   ,ProjectedSnapshotDateLag4
           ,[ProjectedSalesQtyCurr]
           ,[OrderQtySnapshotLatest]
		   ,ProductionOrderSnapshotDateLatest
           ,[OrderQtySnapshotLag1]
		   ,ProductionOrderSnapshotDateLag1
           ,[OrderQtySnapshotLag2]
		   ,ProductionOrderSnapshotDateLag2
           ,[OrderQtySnapshotLag3]
		   ,ProductionOrderSnapshotDateLag3
           ,[OrderQtySnapshotLag4]
		   ,ProductionOrderSnapshotDateLag4
           ,[DeliveryQtySnapshotLatest]
           ,[DeliveryQtySnapshotLag1]
           ,[DeliveryQtySnapshotLag2]
           ,[DeliveryQtySnapshotLag3]
           ,[DeliveryQtySnapshotLag4]
		   ,CommittedSalesQuantityCurr
		   ,CommittedLag1SalesQuantity
			,CommittedLag2SalesQuantity
			)
			select 
			qt.[Material]
           ,qt.[Plant]
           ,[WorkCenter]
           ,[Material Type]
           ,[CalendarDay]
           ,cal.[FiscalYear]
           ,cal.[FiscalPeriod]
           ,cal.[FiscalWeek]
           ,[SnapshotType]
           ,[ScheduleCurrent]
		   ,[ScheduleQty]
           ,[ScheduleQty1]
           ,[ScheduleQty2]
           ,[ScheduleQty3]
           ,[ScheduleQty4]
           ,[ScheduleQty5]
           ,[ScheduleQty6]
           ,[ScheduleQty7]
           ,[ScheduleQty8]
           ,[ScheduleQty9]
           ,[ScheduleQty10]
           ,[ScheduleQty11]
           ,[ScheduleQty12]
           ,[LTP]
           ,[ScheduledLatest]
           ,[ScheduledLag1]
           ,[ScheduledLag2]
           ,[LTP1]
           ,[LTP2]
           ,[LTP3]
           ,[LTP4]
           ,[LTP5]
           ,[LTP6]
           ,[LTP7]
           ,[LTP8]
           ,[LTP9]
           ,[LTP10]
           ,[LTP11]
           ,[LTP12]
		   ,LTPSOH
           ,[versionMin]
           ,[LTPLag1]
           ,[LTPLag2]
           ,[Unit]
           ,[StatCoverageDayLatest]
           ,[StatCoverageDayLag1]
           ,[StatCoverageDayLag2]
           ,[LTPStatCoverageDayLatest]
           ,[LTPStatCoverageDayLag1]
           ,[LTPStatCoverageDayLag2]
           ,[LatestVersionDate]
		   ,LatestLTPVersionDate
		   ,LatestLTPVersionDateLag1
		   ,LatestLTPVersionDateLag2
           ,qt.[Weekenddate]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
           ,qt.[Monthenddate]
           ,cov.BullaCovMonthEndWeek [XplntBullaCovMonthEndWeek]
           ,cov.BullaCovMonthEndWeekLag1 [XplntBullaCovMonthEndWeekLag1]
           ,cov.BullaCovMonthEndWeekLag2 [XplntBullaCovMonthEndWeekLag2]
           ,cov.BullaCovMonthEndWeekLag3 [XpntBullaCovMonthEndWeekLag3]
           ,cov.BullaCovMonthEndWeekPrevPer [XplntBullaCovMonthEndWeekPrevPer]
           ,cov.[StockCovMonthEndWeek] [XplntStockCovMonthEndWeek]
           ,cov.StockCovMonthEndWeekLag1 [XplntStockCovMonthEndWeekLag1]
           ,cov.StockCovMonthEndWeekLag2 [XplntStockCovMonthEndWeekLag2]
           ,cov.StockCovMonthEndWeekLag3 [XplntStockCovMonthEndWeekLag3]
           ,cov.StockCovMonthEndWeekPrevPer [XplntStockCovMonthEndWeekPrevPer]
           ,[MonthEndWeekSnapshotDay]
           ,[MonthEndWeekSnapshotDaylag1]
           ,[MonthEndWeekSnapshotDayLag2]
           ,[MonthEndWeekSnapshotDayLag3]
           ,[MonthEndWeekPrevPerSnapshotDay]
			,proj.ProjectedQtySnapshotLatest
			,proj.ProjectedSnapshotDateLatest
			,proj.ProjectedQtySnapshotLag1
		   ,ProjectedSnapshotDateLag1
			,Proj.ProjectedQtySnapshotLag2
		   ,ProjectedSnapshotDateLag2
			,Proj.ProjectedQtySnapshotLag3 
		   ,ProjectedSnapshotDateLag3
			,proj.ProjectedQtySnapshotLag4
		   ,ProjectedSnapshotDateLag4
			,projcurr.ProjectedSalesQuantity ProjectedSalesQtyCurr
			,porpl.[OrderQtySnapshotLatest]
			,porpl.ProductionOrderSnapshotDateLatest
			,porpl.[OrderQtySnapshotLag1]
			,porpl.ProductionOrderSnapshotDateLag1
			,porpl.[OrderQtySnapshotLag2]
			,porpl.ProductionOrderSnapshotDateLag2
			,porpl.[OrderQtySnapshotLag3]
			,porpl.ProductionOrderSnapshotDateLag3
			,porpl.[OrderQtySnapshotLag4]
			,porpl.ProductionOrderSnapshotDateLag4
			,porpl.[DeliveryQtySnapshotLatest]
			,porpl.[DeliveryQtySnapshotLag1]
			,porpl.[DeliveryQtySnapshotLag2]
			,porpl.[DeliveryQtySnapshotLag3]
			,porpl.[DeliveryQtySnapshotLag4]
			,cmtcurr.CommittedSalesQuantityCurr
			,fcmt.CommittedLag1SalesQuantity
			,fcmt.CommittedLag2SalesQuantity
			--,cov.BullaCovMonthEndWeek, MonthEndWeekSnapshotDay,BullaCovMonthEndWeekLag1, MonthEndWeekSnapshotDaylag1, BullaCovMonthEndWeekLag2, MonthEndWeekSnapshotDaylag2, BullaCovMonthEndWeekLag3, MonthEndWeekSnapshotDayLag3, StockCovMonthEndWeek,StockCovMonthEndWeekLag1, StockCovMonthEndWeekLag2, StockCovMonthEndWeekLag3, BullaCovMonthEndWeekPrevPer, MonthEndWeekPrevPerSnapshotDay, StockCovMonthEndWeekPrevPer
			--into Fact.ProductionPlanSnapshot
			from  SnapshotAggr qt
			left outer join dim.CalendarDate cal
			on qt.Weekenddate = cal.CalendarDate
			left outer join
			 Fact.EOMRPRollingCoverageSnapshot cov
			 on qt.Monthenddate = cov.WeekendDate and qt.Material = cov.material
			 left outer join ProjSalescurr projcurr
			 on concat(cal.fiscalyear,right(concat('00',cal.fiscalweek),2)) = projcurr.FiscalYearWeekIntKey and qt.Material = projcurr.ProductNo
			 left outer join Fact.EOWProjectedSalesSnapshot proj
			 on cal.WeekendDate = proj.WeekendDate and qt.Material = proj.ProductNo
			 left outer join [FACT].[EOWProductionPlannedOrderSnapshot] porpl
			 on qt.Material = porpl.Material and qt.CalendarDay = porpl.WeekCommenceDate
			 left outer join CMTSalesSnapshot fcmt
			 on qt.Material = fcmt.ProductNo and concat(cal.fiscalyear,right(concat('00',cal.fiscalweek),2)) = fcmt.FiscalYearWeekIntKey
			 left outer join CMTSalesCurr cmtcurr
			 on concat(cal.fiscalyear,right(concat('00',cal.fiscalweek),2)) = cmtcurr.FiscalYearWeekIntKey and qt.Material = cmtcurr.ProductNo
			  
				--where qt.Material = '1007' 
				--and qt.FiscalYear = '2025' and qt.FiscalPeriod = '09'

			--select * from ProjSalescurr where ProductNo ='1007'
			--	order by FiscalYearWeekIntKey desc


GO
