USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ITEMPLANT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS ITEMPLANT]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ITEMPLANT]
AS



/****** Object:  View [Stg].[ItemPlant]    Script Date: 6/01/2022 3:12:31 PM ******/
SET NOCOUNT ON

TRUNCATE TABLE ODS.ITEMPLANT;
insert into ODS.ItemPlant 

	SELECT Material, MaterialType, PlantCount, COALESCE(f.Plant, 3000) AS Plant
		, nmc2.bstrf AS OrderQtyMultiples
		, nmc2.bstmi AS MinimumOrderQty
		, nmc2.bstma AS MaxOrderQty	
		, nmc2.bstfe AS FixedOrderQty
		, nmc2.minbe AS ReorderPoint
		, nmc2.wzeit AS OrderLeadtime		
		, nmc2.plifz AS OrderLeadtimeDays	
		, CEILING(nmc2.plifz/7) AS OrderLeadtimeWeeks	
		, nmc2.shzet + nmc2.webaz AS SafetyTime			-- JG 6/8 add GR Processinmg time
		, nmc2.eisbe AS SafetyStock
		, nmc2.mabst AS MaximumInventory
		, nmc2.maabc AS AbcCode
		, nmc2.dispo
        , nmc2.webaz AS GoodsReceiptProcessingTime
		,nmc2.Status AS PlantSpStatus					--JA 22/03/21 Add Plant specific material status (for exposure deletion report request)
	FROM (
		SELECT *
			, ROW_NUMBER() OVER (PARTITION BY Material ORDER BY PriorityNo) AS RowNum
		FROM (
			SELECT Product AS Material, mb.MaterialType, 0 AS PlantCount
				, MIN(Plant) AS Plant
				, 1 AS PriorityNo
			FROM SAPSTG.ZXC_PRODSUPPLPLAN pp
			INNER JOIN SAPSTG.ZXC_MATBASICDATA mb WITH (NOLOCK)
				ON pp.Product = mb.Material
			WHERE ProcurementType='E'
			GROUP BY Product, mb.MaterialType

			UNION

			SELECT pp.Product AS ItemNo, mb.MaterialType, 0 AS PlantCount
				, COALESCE(p.Plant, '3000') AS Plant
				, 2 AS PriorityNo
			FROM SAPSTG.ZXC_PRODSUPPLPLAN pp
			INNER JOIN (
				SELECT Product, MIN(Plant) AS Plant
				FROM SAPSTG.ZXC_PRODSUPPLPLAN pp	
				GROUP BY Product
			) mpp
				ON pp.Product = mpp.Product
				AND pp.Plant = mpp.Plant
			INNER JOIN SAPSTG.ZXC_MATBASICDATA mb WITH (NOLOCK)
				ON pp.Product = mb.Material
			LEFT JOIN SAPSTG.ZXC_PLANT p WITH (NOLOCK)
				ON CONVERT(VARCHAR(2),ProcurementSubType)+'00' = p.Plant
			WHERE ProcurementType='F'
			AND pp.ProcurementSubType IS  NOT NULL

			UNION

			SELECT DISTINCT mb.Material, mb.MaterialType
				, COUNT(*) OVER (PARTITION BY mb.Material) AS PlantCount
				, CASE WHEN ISNUMERIC(werks) = 1 
					THEN
					CASE 
						WHEN mb.MaterialType IN ('FERT','HAWA') THEN MIN(
							CASE WHEN ISNUMERIC(werks) = 1 THEN 
								CASE WHEN werks > 2000 THEN werks END 
							END) 
							OVER (PARTITION BY mb.Material)
	
						WHEN mb.MaterialType IN ('HALB') THEN MIN(
							CASE WHEN ISNUMERIC(werks) = 1 THEN 
								CASE WHEN werks BETWEEN 3100 AND 3590 THEN werks END 
							END) 
							OVER (PARTITION BY mb.Material)	
						WHEN mb.MaterialType NOT IN ('FERT','HAWA','HALB') THEN MAX(werks) OVER (PARTITION BY mb.Material)
					END
					ELSE 3000
				END AS Plant 
				, 3 AS PriorityNo
			FROM SAPSTG.ZXC_MATBASICDATA mb WITH (NOLOCK)
			LEFT JOIN SAPSTG.ZXC_NSDMMARC nmc
				ON nmc.matnr = mb.Material
		) g
	) f
	INNER JOIN SAPSTG.ZXC_NSDMMARC nmc2
		ON CONVERT(VARCHAR(20),f.Plant) = nmc2.werks
		AND f.Material = nmc2.matnr
	WHERE RowNum = 1


GO
