USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_ODS_ColesAccuracyData]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Procedure [dbo].[usp_Load_ODS_ColesAccuracyData]
as


  With Transformation AS (                                           
    SELECT
	    T.[Bulla Product Code] as [Product No]
	   ,T.[Sales State] as [State]
	   ,T.[WeekendingDate] as [WeekEnd Date]
	   ,[Coles Actual CS] = CAST(T.[Actual Quantity] AS FLOAT) / RF.[Retail_factor] 
	    ,[Approved CS Wk-1] = CAST(T.[Approved Forecast Qty Wk-1] AS FLOAT) /RF.[Retail_factor] 
        ,[Approved CS Wk-5] = CAST(T.[Approved Forecast Qty Wk-5] AS FLOAT) /RF.[Retail_factor] 
	   ,RF.[Retail_factor]
       ,[Coles Forecast CS]=0
	  
  FROM [BI_PROD_POST_SAP].[Stg].[ColesAccuracy_Export] T left join 

  (SELECt Distinct
       [product_no]
      ,[Retail_factor]
  FROM [BI_PROD_POST_SAP].[Stg].[ColesCollaborativeForecast_RetailFactor]  where [Retail_factor]>0) RF

  on T.[Bulla Product Code]=RF.[Product_no] )

Insert Into [Ods].[ColesAccuracyData]

SELECT 

       [Product No]
	   ,State
	   ,CONVERT(DATE, [WeekEnd Date], 103) AS [WeekEnd Date]
	   --,Cast([WeekEnd Date] as Date) [WeekEnd Date]
	   ,[Coles Actual CS]
	    ,[Approved CS Wk-1]
       ,[Approved CS Wk-5]
       ,[Coles Forecast CS]
         
  FROM Transformation  where Transformation.[Retail_factor]>0





	

	
GO
