USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[LoadJobStepInstance]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[LoadJobStepInstance]
AS 
BEGIN
	TRUNCATE TABLE [dbo].[JobStepInstance];

	;WITH CTE_JOB_STEP_OUTCOME AS (
		-- Get every job step that ran successfully. Get the start_time, end_time and duration in seconds.
		SELECT
			[job_id]
		,	[step_id]
		,	msdb.dbo.agent_datetime(run_date, run_time) AS [start_time]
		,	DATEADD(
				second
			,	[run_duration] / 10000 * 3600 +			-- convert hours to seconds
				([run_duration] % 10000) / 100 * 60 +	-- convert minutes to seconds
				([run_duration] % 10000) % 100			-- get seconds
			,	msdb.dbo.agent_datetime(run_date, run_time)) [end_time]
			,	[run_duration] / 10000 * 3600 +			-- convert hours to seconds
				([run_duration] % 10000) / 100 * 60 +	-- convert minutes to seconds
				([run_duration] % 10000) % 100			-- get seconds
					AS [duration_seconds]
		,	[run_status]
		,	[retries_attempted]
		FROM msdb.dbo.sysjobhistory
		WHERE [step_id] > 0
		AND [run_status] = 1
	)

	, CTE_JOB_STEP_OUTCOME_INSTANCE AS (
		-- Assign the job step to the job instance based on the job step start_time
		-- being between the start_time and end_time of the job.
		SELECT
			s.[job_id]
		,	j.[job_instance]
		,	s.[step_id]
		,	s.[start_time]
		,	s.[end_time]
		,	s.[duration_seconds]
		,	s.[run_status]
		,	s.[retries_attempted]
		FROM CTE_JOB_STEP_OUTCOME s
		JOIN [dbo].[JobInstance] j
		ON j.[job_id] = s.[job_id] 
		WHERE s.[start_time] BETWEEN j.[start_time] AND j.[end_time]
	)

	INSERT [dbo].[JobStepInstance] (
		[job_id]
	,	[job_instance]
	,	[step_id]
	,	[start_time]
	,	[end_time]
	,	[duration_seconds]
	,	[run_status]
	,	[retries_attempted]
	)
	SELECT
		[job_id]
	,	[job_instance]
	,	[step_id]
	,	[start_time]
	,	[end_time]
	,	[duration_seconds]
	,	[run_status]
	,	[retries_attempted]
	FROM CTE_JOB_STEP_OUTCOME_INSTANCE;
END
GO
