USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_FACT_SalesByPeriodByCompGrp]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_FACT_SalesByPeriodByCompGrp]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;


DECLARE @pivot_columns NVARCHAR(MAX);
DECLARE @sql NVARCHAR(MAX);

SELECT @pivot_columns = STUFF(
    (
        SELECT ',' + QUOTENAME(CompGroup)
        FROM (
            SELECT DISTINCT CASE WHEN CompGroup <> '' THEN coalesce(CompGroup, 'None')
                                 ELSE 'NotAssigned'
                            END AS CompGroup
            FROM [DIM].[SAPCostCompGroupByPeriod]
        ) AS t
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'),
    1,
    1,
    ''
);

IF OBJECT_ID('DIM.SAPCostCompGroupByPeriod_Pivot', 'U') IS NOT NULL
drop table [DIM].[SAPCostCompGroupByPeriod_Pivot]

SET @sql = N'
SELECT * into [DIM].[SAPCostCompGroupByPeriod_Pivot]
FROM
(
    SELECT ProductNo,FiscalYearPeriod,Plant,LotSize,CostLotUnit,CostingDate,CostingStatus,CostingVariant,CompGroup,ISNULL(CompCost,0) as CompCost
    FROM [DIM].[SAPCostCompGroupByPeriod]
) AS src
PIVOT
(
    SUM(CompCost)
    FOR CompGroup IN (' + @pivot_columns + N')
) AS pvt';

EXEC sp_executesql @sql;



-----------update fact
IF OBJECT_ID('Fact.CommittedSalesbyPeriod', 'U') IS NOT NULL
drop table Fact.CommittedSalesbyPeriod;
SELECT 
      
      c.[SnapshotDate]
      ,c.[FiscalYear]
	  ,w.FiscalPeriod
	  ,CONCAT(c.[FiscalYear],right(w.Period,2)) as FiscalYearPeriod
      ,[CustomerNo]
      ,[ProductNo]
      ,sum([CommittedSalesQuantity]) as [CommittedSalesQuantity]
      ,sum([CommittedNetInvoiceValue]) as [CommittedNetInvoiceValue]
      ,sum([CommittedInvoiceDiscount]) as [CommittedInvoiceDiscount]
      ,sum([CommittedCaseDiscount]) as [CommittedCaseDiscount]
      ,sum([CommittedTermsDiscount]) as [CommittedTermsDiscount]
      ,sum([CommittedOtherDiscount]) as [CommittedOtherDiscount]
      ,sum([CommittedCOGS]) as [CommittedCOGS]
      ,sum([CommittedGrossMargin]) as [CommittedGrossMargin]
      ,sum([CommittedBaselineQuantity]) as [CommittedBaselineQuantity]
      ,sum([CommittedIncrementalQuantity]) as [CommittedIncrementalQuantity]
      ,sum([CommittedFreightOutbound]) as [CommittedFreightOutbound]
      ,sum([CommittedFreightQuantity]) as [CommittedFreightQuantity]
      ,sum([CommittedFreightCaseRate]) as [CommittedFreightCaseRate]
      ,sum([CommittedFreightFuelLevy]) as [CommittedFreightFuelLevy]

	   into Fact.CommittedSalesbyPeriod 
  FROM [BI_PROD_POST_SAP].[Fact].[CommittedSales] c left join Dim.FiscalWeekCalendar w
  on c.[FiscalYearWeekIntKey] = w.[FiscalYearWeekIntKey] where c.FiscalYear >=2021
  group by 
   
      c.[SnapshotDate]
      ,c.[FiscalYear]
	  ,w.FiscalPeriod
	  ,w.Period
      ,[CustomerNo]
      ,[ProductNo]

	  

-----------update BudgetSales
IF OBJECT_ID('Fact.BudgetSalesbyPeriod', 'U') IS NOT NULL
drop table Fact.BudgetSalesbyPeriod;
SELECT 
      
      c.[LoadDateTime]  
      ,c.[FiscalYear]
	  ,w.FiscalPeriod
	  ,CONCAT(c.[FiscalYear],right(w.Period,2)) as FiscalYearPeriod
      ,[CustomerNo]
      ,[ProductNo]
      ,sum([BudgetSalesQuantity]) as [BudgetSalesQuantity]
      ,sum([BudgetNetInvoiceValue]) as [BudgetNetInvoiceValue]
      ,sum([BudgetInvoiceDiscount]) as [BudgetInvoiceDiscount]
      ,sum([BudgetCaseDiscount]) as [BudgetCaseDiscount]
      ,sum([BudgetTermsDiscount]) as [BudgetTermsDiscount]
      ,sum([BudgetOtherDiscount]) as [BudgetOtherDiscount]
      ,sum([BudgetCOGS]) as [BudgetCOGS]
      ,sum([BudgetGrossMargin]) as [BudgetGrossMargin]
      ,sum([BudgetBaselineQuantity]) as [BudgetBaselineQuantity]
      ,sum([BudgetIncrementalQuantity]) as [BudgetIncrementalQuantity]
      ,sum([BudgetFreightOutbound]) as [BudgetFreightOutbound]
      ,sum([BudgetFreightQuantity]) as [BudgetFreightQuantity]
      ,sum([BudgetFreightCaseRate]) as [BudgetFreightCaseRate]
      ,sum([BudgetFreightFuelLevy]) as [BudgetFreightFuelLevy]

	   into Fact.BudgetSalesbyPeriod 
  FROM [BI_PROD_POST_SAP].[Fact].[BudgetSales] c left join Dim.FiscalWeekCalendar w
  on c.[FiscalYearWeekIntKey] = w.[FiscalYearWeekIntKey] where c.FiscalYear >=2021
  group by 
   
      c.[LoadDateTime]
      ,c.[FiscalYear]
	  ,w.FiscalPeriod
	  ,w.Period
      ,[CustomerNo]
      ,[ProductNo]

	  -----------update fact PCM   Himanshu 13/11/2024
IF OBJECT_ID('Fact.PriorCommittedSalesbyPeriod', 'U') IS NOT NULL  
drop table Fact.PriorCommittedSalesbyPeriod;  
SELECT   
        
      c.[SnapshotDate]  
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,CONCAT(c.[FiscalYear],right(w.Period,2)) as FiscalYearPeriod  
      ,[CustomerNo]  
      ,[ProductNo]  
      ,sum([PriorCommittedSalesQuantity]) as [PriorCommittedSalesQuantity]  
      ,sum([PriorCommittedNetInvoiceValue]) as [PriorCommittedNetInvoiceValue]  
      ,sum([PriorCommittedInvoiceDiscount]) as [PriorCommittedInvoiceDiscount]  
      ,sum([PriorCommittedCaseDiscount]) as [PriorCommittedCaseDiscount]  
      ,sum([PriorCommittedTermsDiscount]) as [PriorCommittedTermsDiscount]  
      ,sum([PriorCommittedOtherDiscount]) as [PriorCommittedOtherDiscount]  
      ,sum([PriorCommittedCOGS]) as [PriorCommittedCOGS]  
      ,sum([PriorCommittedGrossMargin]) as [PriorCommittedGrossMargin]  
      ,sum([PriorCommittedBaselineQuantity]) as [PriorCommittedBaselineQuantity]  
      ,sum([PriorCommittedIncrementalQuantity]) as [PriorCommittedIncrementalQuantity]  
      ,sum([PriorCommittedFreightOutbound]) as [PriorCommittedFreightOutbound]  
      ,sum([PriorCommittedFreightQuantity]) as [PriorCommittedFreightQuantity]  
      ,sum([PriorCommittedFreightCaseRate]) as [PriorCommittedFreightCaseRate]  
      ,sum([PriorCommittedFreightFuelLevy]) as [PriorCommittedFreightFuelLevy]  
  
    into Fact.PriorCommittedSalesbyPeriod   
  FROM [BI_PROD_POST_SAP].[Fact].[PriorCommittedSales] c left join Dim.FiscalWeekCalendar w  
  on c.[FiscalYearWeekIntKey] = w.[FiscalYearWeekIntKey] where c.FiscalYear >=2021  
  group by   
     
      c.[SnapshotDate]  
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,w.Period  
      ,[CustomerNo]  
      ,[ProductNo]  
  


--------------------------------update [Fact].[CommittedSalesByPeriodByCompGrp]
	  IF OBJECT_ID('Fact.SalesByPeriodByCompGrp', 'U') IS NOT NULL
	  drop table [BI_PROD_POST_SAP].[Fact].[SalesByPeriodByCompGrp];

	  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT a.[SnapshotDate]
	  ,'CMT' as [Version]
      ,a.[FiscalYear]
      ,a.[FiscalPeriod]
      ,a.[FiscalYearPeriod]
      ,[CustomerNo]
      ,a.[ProductNo]
      ,[CommittedSalesQuantity] as SalesQuantity
      ,[CommittedNetInvoiceValue] as NetInvoiceValue
      ,[CommittedInvoiceDiscount] as InvoiceDiscount
      ,[CommittedCaseDiscount] as CaseDiscount
      ,[CommittedTermsDiscount] as TermsDiscount
      ,[CommittedOtherDiscount] as OtherDiscount
      ,[CommittedCOGS] as COGS
      ,[CommittedGrossMargin] as GrossMargin
      --,[CommittedBaselineQuantity]
      --,[CommittedIncrementalQuantity]
      ,[CommittedFreightOutbound] as FreightOutbound
      --,[CommittedFreightQuantity]
      ,[CommittedFreightCaseRate] as FreightCaseRate
      ,[CommittedFreightFuelLevy] as FreightFuelLevy
,isnull(-[Bases & Lids]/[LotSize]* [CommittedSalesQuantity],0)  as [Bases & Lids]
,isnull(-[Biscuits/Wafers]/[LotSize]* [CommittedSalesQuantity],0)  as [Biscuits/Wafers]
,isnull(-[Bottles & Caps]/[LotSize]* [CommittedSalesQuantity],0)  as [Bottles & Caps]
,isnull(-[Buckets & Lids]/[LotSize]* [CommittedSalesQuantity],0)  as [Buckets & Lids]
,isnull(-[Choc Top]/[LotSize]* [CommittedSalesQuantity],0)  as [Choc Top]
,isnull(-[Chocolate]/[LotSize]* [CommittedSalesQuantity],0)  as [Chocolate]
,isnull(-[Colours]/[LotSize]* [CommittedSalesQuantity],0)  as [Colours]
,isnull(-[Cones]/[LotSize]* [CommittedSalesQuantity],0)  as [Cones]
,isnull(-[Consumables Non Stoc]/[LotSize]* [CommittedSalesQuantity],0)  as [Consumables Non Stoc]
,isnull(-[Cottage Cheese]/[LotSize]* [CommittedSalesQuantity],0)  as [Cottage Cheese]
,isnull(-[Cream]/[LotSize]* [CommittedSalesQuantity],0)  as [Cream]
,isnull(-[Cream Finished Goods]/[LotSize]* [CommittedSalesQuantity],0)  as [Cream Finished Goods]
,isnull(-[Cultures]/[LotSize]* [CommittedSalesQuantity],0)  as [Cultures]
,isnull(-[Cups & Lids]/[LotSize]* [CommittedSalesQuantity],0)  as [Cups & Lids]
,isnull(-[Dry Inclusions]/[LotSize]* [CommittedSalesQuantity],0)  as [Dry Inclusions]
,isnull(-[Dry Milk Derivatives]/[LotSize]* [CommittedSalesQuantity],0)  as [Dry Milk Derivatives]
,isnull(-[FCLG]/[LotSize]* [CommittedSalesQuantity],0)  as [FCLG]
,isnull(-[Flavours]/[LotSize]* [CommittedSalesQuantity],0)  as [Flavours]
,isnull(-[FLOG]/[LotSize]* [CommittedSalesQuantity],0)  as [FLOG]
,isnull(-[Food Additives/Chemi]/[LotSize]* [CommittedSalesQuantity],0)  as [Food Additives/Chemi]
,isnull(-[Food Products]/[LotSize]* [CommittedSalesQuantity],0)  as [Food Products]
,isnull(-[Ice Cream Sticks]/[LotSize]* [CommittedSalesQuantity],0)  as [Ice Cream Sticks]
,isnull(-[Ice Cream Tubs]/[LotSize]* [CommittedSalesQuantity],0)  as [Ice Cream Tubs]
,isnull(-[Imitation Cream]/[LotSize]* [CommittedSalesQuantity],0)  as [Imitation Cream]
,isnull(-[INFR]/[LotSize]* [CommittedSalesQuantity],0)  as [INFR]
,isnull(-[Inner Cartons]/[LotSize]* [CommittedSalesQuantity],0)  as [Inner Cartons]
,isnull(-[LAB1]/[LotSize]* [CommittedSalesQuantity],0)  as [LAB1]
,isnull(-[Liquid Inclusions]/[LotSize]* [CommittedSalesQuantity],0)  as [Liquid Inclusions]
,isnull(-[Liquid Milk Derivati]/[LotSize]* [CommittedSalesQuantity],0)  as [Liquid Milk Derivati]
,isnull(-[MACH]/[LotSize]* [CommittedSalesQuantity],0)  as [MACH]
,isnull(-[Milk]/[LotSize]* [CommittedSalesQuantity],0)  as [Milk]
,isnull(-[NotAssigned]/[LotSize]* [CommittedSalesQuantity],0)  as [NotAssigned]
,isnull(-[Other]/[LotSize]* [CommittedSalesQuantity],0)  as [Other]
,isnull(-[Outers and Shrink Wr]/[LotSize]* [CommittedSalesQuantity],0)  as [Outers and Shrink Wr]
,isnull(-[PLDC]/[LotSize]* [CommittedSalesQuantity],0)  as [PLDC]
,isnull(-[Printed Labels]/[LotSize]* [CommittedSalesQuantity],0)  as [Printed Labels]
,isnull(-[QCTS]/[LotSize]* [CommittedSalesQuantity],0)  as [QCTS]
,isnull(-[SETU]/[LotSize]* [CommittedSalesQuantity],0)  as [SETU]
,isnull(-[Stabilisers/Emulsifi]/[LotSize]* [CommittedSalesQuantity],0)  as [Stabilisers/Emulsifi]
,isnull(-[Sticks]/[LotSize]* [CommittedSalesQuantity],0)  as [Sticks]
,isnull(-[Sugars]/[LotSize]* [CommittedSalesQuantity],0)  as [Sugars]
,isnull(-[Sweeteners/Bulking A]/[LotSize]* [CommittedSalesQuantity],0)  as [Sweeteners/Bulking A]
,isnull(-[Wrappers]/[LotSize]* [CommittedSalesQuantity],0)  as [Wrappers]
,isnull(-[Yoghurt]/[LotSize]* [CommittedSalesQuantity],0)  as [Yoghurt]

	  ,-(isnull([Bases & Lids]/[LotSize],0)
	  +isnull([Biscuits/Wafers]/[LotSize],0)
	  +isnull([Bottles & Caps]/[LotSize],0)
	  +isnull([Buckets & Lids]/[LotSize],0)
	  +isnull([Choc Top]/[LotSize],0)
	  +isnull([Chocolate]/[LotSize],0)
	  +isnull([Colours]/[LotSize],0)
	  +isnull([Cones]/[LotSize],0)
	  +isnull([Consumables Non Stoc]/[LotSize],0)
	  +isnull([Cottage Cheese]/[LotSize],0)
	  +isnull([Cream]/[LotSize],0)
	  +isnull([Cream Finished Goods]/[LotSize],0)
	  +isnull([Cultures]/[LotSize],0)
	  +isnull([Cups & Lids]/[LotSize],0)
	  +isnull([Dry Inclusions]/[LotSize],0)
	  +isnull([Dry Milk Derivatives]/[LotSize],0)
	  +isnull([FCLG]/[LotSize],0)
	  +isnull([Flavours]/[LotSize],0)
	  +isnull([FLOG]/[LotSize],0)
	  +isnull([Food Additives/Chemi]/[LotSize],0)
	  +isnull([Food Products]/[LotSize],0)
	  +isnull([Ice Cream Sticks]/[LotSize],0)
	  +isnull([Ice Cream Tubs]/[LotSize],0)
	  +isnull([Imitation Cream]/[LotSize],0)
	  +isnull([INFR]/[LotSize],0)
	  +isnull([Inner Cartons]/[LotSize],0)
	  +isnull([LAB1]/[LotSize],0)
	  +isnull([Liquid Inclusions]/[LotSize],0)
	  +isnull([Liquid Milk Derivati]/[LotSize],0)
	  +isnull([MACH]/[LotSize],0)
	  +isnull([Milk]/[LotSize],0)
	  +isnull([NotAssigned]/[LotSize],0)
	  +isnull([Other]/[LotSize],0)
	  +isnull([Outers and Shrink Wr]/[LotSize],0)
	  +isnull([PLDC]/[LotSize],0)
	  +isnull([Printed Labels]/[LotSize],0)
	  +isnull([QCTS]/[LotSize],0)
	  +isnull([SETU]/[LotSize],0)
	  +isnull([Stabilisers/Emulsifi]/[LotSize],0)
	  +isnull([Sticks]/[LotSize],0)
	  +isnull([Sugars]/[LotSize],0)
	  +isnull([Sweeteners/Bulking A]/[LotSize],0)
	  +isnull([Wrappers]/[LotSize],0)
	  +isnull([Yoghurt]/[LotSize],0)
) * [CommittedSalesQuantity] as CompCOGS
	  ,[CommittedCOGS] 
	  +(isnull([Bases & Lids]/[LotSize],0)
	  +isnull([Biscuits/Wafers]/[LotSize],0)
	  +isnull([Bottles & Caps]/[LotSize],0)
	  +isnull([Buckets & Lids]/[LotSize],0)
	  +isnull([Choc Top]/[LotSize],0)
	  +isnull([Chocolate]/[LotSize],0)
	  +isnull([Colours]/[LotSize],0)
	  +isnull([Cones]/[LotSize],0)
	  +isnull([Consumables Non Stoc]/[LotSize],0)
	  +isnull([Cottage Cheese]/[LotSize],0)
	  +isnull([Cream]/[LotSize],0)+isnull([Cream Finished Goods]/[LotSize],0)+isnull([Cultures]/[LotSize],0)+isnull([Cups & Lids]/[LotSize],0)+isnull([Dry Inclusions]/[LotSize],0)+isnull([Dry Milk Derivatives]/[LotSize],0)+isnull([FCLG]/[LotSize],0)+isnull([Flavours]/[LotSize],0)+isnull([FLOG]/[LotSize],0)+isnull([Food Additives/Chemi]/[LotSize],0)+isnull([Food Products]/[LotSize],0)+isnull([Ice Cream Sticks]/[LotSize],0)+isnull([Ice Cream Tubs]/[LotSize],0)+isnull([Imitation Cream]/[LotSize],0)+isnull([INFR]/[LotSize],0)+isnull([Inner Cartons]/[LotSize],0)+isnull([LAB1]/[LotSize],0)+isnull([Liquid Inclusions]/[LotSize],0)+isnull([Liquid Milk Derivati]/[LotSize],0)+isnull([MACH]/[LotSize],0)+isnull([Milk]/[LotSize],0)+isnull([NotAssigned]/[LotSize],0)+isnull([Other]/[LotSize],0)+isnull([Outers and Shrink Wr]/[LotSize],0)+isnull([PLDC]/[LotSize],0)+isnull([Printed Labels]/[LotSize],0)+isnull([QCTS]/[LotSize],0)+isnull([SETU]/[LotSize],0)+isnull([Stabilisers/Emulsifi]/[LotSize],0)+isnull([Sticks]/[LotSize],0)+isnull([Sugars]/[LotSize],0)+isnull([Sweeteners/Bulking A]/[LotSize],0)+isnull([Wrappers]/[LotSize],0)+isnull([Yoghurt]/[LotSize],0)
)* [CommittedSalesQuantity] as CogsRoundingDiff
 into [BI_PROD_POST_SAP].[Fact].[SalesByPeriodByCompGrp]
 
 FROM [BI_PROD_POST_SAP].[Fact].[CommittedSalesbyPeriod] a
  left join  [DIM].[SAPCostCompGroupByPeriod_Pivot] b
  on a.[ProductNo] =b.ProductNo
  and a.[FiscalYearPeriod] = b.[FiscalYearPeriod] 



-------------------------------- insert BUD into [FACT.SalesByPeriodByCompGrp]

	  /****** Script for SelectTopNRows command from SSMS  ******/
insert into [BI_PROD_POST_SAP].[Fact].[SalesByPeriodByCompGrp] select a.[LoadDateTime] as [SnapshotDate]
	  ,'BUD' as [Version]
      ,a.[FiscalYear]
      ,a.[FiscalPeriod]
      ,a.[FiscalYearPeriod]
      ,[CustomerNo]
      ,a.[ProductNo]
      ,[BudgetSalesQuantity] as SalesQuantity
      ,[BudgetNetInvoiceValue] as NetInvoiceValue
      ,[BudgetInvoiceDiscount] as InvoiceDiscount
      ,[BudgetCaseDiscount] as CaseDiscount
      ,[BudgetTermsDiscount] as TermsDiscount
      ,[BudgetOtherDiscount] as OtherDiscount
      ,[BudgetCOGS] as COGS
      ,[BudgetGrossMargin] as GrossMargin
      --,[BudgetBaselineQuantity]
      --,[BudgetIncrementalQuantity]
      ,[BudgetFreightOutbound] as FreightOutbound
      --,[BudgetFreightQuantity]
      ,[BudgetFreightCaseRate] as FreightCaseRate
      ,[BudgetFreightFuelLevy] as FreightFuelLevy
,isnull(-[Bases & Lids]/[LotSize]* [BudgetSalesQuantity],0)  as [Bases & Lids]
,isnull(-[Biscuits/Wafers]/[LotSize]* [BudgetSalesQuantity],0)  as [Biscuits/Wafers]
,isnull(-[Bottles & Caps]/[LotSize]* [BudgetSalesQuantity],0)  as [Bottles & Caps]
,isnull(-[Buckets & Lids]/[LotSize]* [BudgetSalesQuantity],0)  as [Buckets & Lids]
,isnull(-[Choc Top]/[LotSize]* [BudgetSalesQuantity],0)  as [Choc Top]
,isnull(-[Chocolate]/[LotSize]* [BudgetSalesQuantity],0)  as [Chocolate]
,isnull(-[Colours]/[LotSize]* [BudgetSalesQuantity],0)  as [Colours]
,isnull(-[Cones]/[LotSize]* [BudgetSalesQuantity],0)  as [Cones]
,isnull(-[Consumables Non Stoc]/[LotSize]* [BudgetSalesQuantity],0)  as [Consumables Non Stoc]
,isnull(-[Cottage Cheese]/[LotSize]* [BudgetSalesQuantity],0)  as [Cottage Cheese]
,isnull(-[Cream]/[LotSize]* [BudgetSalesQuantity],0)  as [Cream]
,isnull(-[Cream Finished Goods]/[LotSize]* [BudgetSalesQuantity],0)  as [Cream Finished Goods]
,isnull(-[Cultures]/[LotSize]* [BudgetSalesQuantity],0)  as [Cultures]
,isnull(-[Cups & Lids]/[LotSize]* [BudgetSalesQuantity],0)  as [Cups & Lids]
,isnull(-[Dry Inclusions]/[LotSize]* [BudgetSalesQuantity],0)  as [Dry Inclusions]
,isnull(-[Dry Milk Derivatives]/[LotSize]* [BudgetSalesQuantity],0)  as [Dry Milk Derivatives]
,isnull(-[FCLG]/[LotSize]* [BudgetSalesQuantity],0)  as [FCLG]
,isnull(-[Flavours]/[LotSize]* [BudgetSalesQuantity],0)  as [Flavours]
,isnull(-[FLOG]/[LotSize]* [BudgetSalesQuantity],0)  as [FLOG]
,isnull(-[Food Additives/Chemi]/[LotSize]* [BudgetSalesQuantity],0)  as [Food Additives/Chemi]
,isnull(-[Food Products]/[LotSize]* [BudgetSalesQuantity],0)  as [Food Products]
,isnull(-[Ice Cream Sticks]/[LotSize]* [BudgetSalesQuantity],0)  as [Ice Cream Sticks]
,isnull(-[Ice Cream Tubs]/[LotSize]* [BudgetSalesQuantity],0)  as [Ice Cream Tubs]
,isnull(-[Imitation Cream]/[LotSize]* [BudgetSalesQuantity],0)  as [Imitation Cream]
,isnull(-[INFR]/[LotSize]* [BudgetSalesQuantity],0)  as [INFR]
,isnull(-[Inner Cartons]/[LotSize]* [BudgetSalesQuantity],0)  as [Inner Cartons]
,isnull(-[LAB1]/[LotSize]* [BudgetSalesQuantity],0)  as [LAB1]
,isnull(-[Liquid Inclusions]/[LotSize]* [BudgetSalesQuantity],0)  as [Liquid Inclusions]
,isnull(-[Liquid Milk Derivati]/[LotSize]* [BudgetSalesQuantity],0)  as [Liquid Milk Derivati]
,isnull(-[MACH]/[LotSize]* [BudgetSalesQuantity],0)  as [MACH]
,isnull(-[Milk]/[LotSize]* [BudgetSalesQuantity],0)  as [Milk]
,isnull(-[NotAssigned]/[LotSize]* [BudgetSalesQuantity],0)  as [NotAssigned]
,isnull(-[Other]/[LotSize]* [BudgetSalesQuantity],0)  as [Other]
,isnull(-[Outers and Shrink Wr]/[LotSize]* [BudgetSalesQuantity],0)  as [Outers and Shrink Wr]
,isnull(-[PLDC]/[LotSize]* [BudgetSalesQuantity],0)  as [PLDC]
,isnull(-[Printed Labels]/[LotSize]* [BudgetSalesQuantity],0)  as [Printed Labels]
,isnull(-[QCTS]/[LotSize]* [BudgetSalesQuantity],0)  as [QCTS]
,isnull(-[SETU]/[LotSize]* [BudgetSalesQuantity],0)  as [SETU]
,isnull(-[Stabilisers/Emulsifi]/[LotSize]* [BudgetSalesQuantity],0)  as [Stabilisers/Emulsifi]
,isnull(-[Sticks]/[LotSize]* [BudgetSalesQuantity],0)  as [Sticks]
,isnull(-[Sugars]/[LotSize]* [BudgetSalesQuantity],0)  as [Sugars]
,isnull(-[Sweeteners/Bulking A]/[LotSize]* [BudgetSalesQuantity],0)  as [Sweeteners/Bulking A]
,isnull(-[Wrappers]/[LotSize]* [BudgetSalesQuantity],0)  as [Wrappers]
,isnull(-[Yoghurt]/[LotSize]* [BudgetSalesQuantity],0)  as [Yoghurt]

	  ,-(isnull([Bases & Lids]/[LotSize],0)
	  +isnull([Biscuits/Wafers]/[LotSize],0)
	  +isnull([Bottles & Caps]/[LotSize],0)
	  +isnull([Buckets & Lids]/[LotSize],0)
	  +isnull([Choc Top]/[LotSize],0)
	  +isnull([Chocolate]/[LotSize],0)
	  +isnull([Colours]/[LotSize],0)
	  +isnull([Cones]/[LotSize],0)
	  +isnull([Consumables Non Stoc]/[LotSize],0)
	  +isnull([Cottage Cheese]/[LotSize],0)
	  +isnull([Cream]/[LotSize],0)
	  +isnull([Cream Finished Goods]/[LotSize],0)
	  +isnull([Cultures]/[LotSize],0)
	  +isnull([Cups & Lids]/[LotSize],0)
	  +isnull([Dry Inclusions]/[LotSize],0)
	  +isnull([Dry Milk Derivatives]/[LotSize],0)
	  +isnull([FCLG]/[LotSize],0)
	  +isnull([Flavours]/[LotSize],0)
	  +isnull([FLOG]/[LotSize],0)
	  +isnull([Food Additives/Chemi]/[LotSize],0)
	  +isnull([Food Products]/[LotSize],0)
	  +isnull([Ice Cream Sticks]/[LotSize],0)
	  +isnull([Ice Cream Tubs]/[LotSize],0)
	  +isnull([Imitation Cream]/[LotSize],0)
	  +isnull([INFR]/[LotSize],0)
	  +isnull([Inner Cartons]/[LotSize],0)
	  +isnull([LAB1]/[LotSize],0)
	  +isnull([Liquid Inclusions]/[LotSize],0)
	  +isnull([Liquid Milk Derivati]/[LotSize],0)
	  +isnull([MACH]/[LotSize],0)
	  +isnull([Milk]/[LotSize],0)
	  +isnull([NotAssigned]/[LotSize],0)
	  +isnull([Other]/[LotSize],0)
	  +isnull([Outers and Shrink Wr]/[LotSize],0)
	  +isnull([PLDC]/[LotSize],0)
	  +isnull([Printed Labels]/[LotSize],0)
	  +isnull([QCTS]/[LotSize],0)
	  +isnull([SETU]/[LotSize],0)
	  +isnull([Stabilisers/Emulsifi]/[LotSize],0)
	  +isnull([Sticks]/[LotSize],0)
	  +isnull([Sugars]/[LotSize],0)
	  +isnull([Sweeteners/Bulking A]/[LotSize],0)
	  +isnull([Wrappers]/[LotSize],0)
	  +isnull([Yoghurt]/[LotSize],0)
) * [BudgetSalesQuantity] as CompCOGS
	  ,[BudgetCOGS] 
	  +(isnull([Bases & Lids]/[LotSize],0)
	  +isnull([Biscuits/Wafers]/[LotSize],0)
	  +isnull([Bottles & Caps]/[LotSize],0)
	  +isnull([Buckets & Lids]/[LotSize],0)
	  +isnull([Choc Top]/[LotSize],0)
	  +isnull([Chocolate]/[LotSize],0)
	  +isnull([Colours]/[LotSize],0)
	  +isnull([Cones]/[LotSize],0)
	  +isnull([Consumables Non Stoc]/[LotSize],0)
	  +isnull([Cottage Cheese]/[LotSize],0)
	  +isnull([Cream]/[LotSize],0)+isnull([Cream Finished Goods]/[LotSize],0)+isnull([Cultures]/[LotSize],0)+isnull([Cups & Lids]/[LotSize],0)+isnull([Dry Inclusions]/[LotSize],0)+isnull([Dry Milk Derivatives]/[LotSize],0)+isnull([FCLG]/[LotSize],0)+isnull([Flavours]/[LotSize],0)+isnull([FLOG]/[LotSize],0)+isnull([Food Additives/Chemi]/[LotSize],0)+isnull([Food Products]/[LotSize],0)+isnull([Ice Cream Sticks]/[LotSize],0)+isnull([Ice Cream Tubs]/[LotSize],0)+isnull([Imitation Cream]/[LotSize],0)+isnull([INFR]/[LotSize],0)+isnull([Inner Cartons]/[LotSize],0)+isnull([LAB1]/[LotSize],0)+isnull([Liquid Inclusions]/[LotSize],0)+isnull([Liquid Milk Derivati]/[LotSize],0)+isnull([MACH]/[LotSize],0)+isnull([Milk]/[LotSize],0)+isnull([NotAssigned]/[LotSize],0)+isnull([Other]/[LotSize],0)+isnull([Outers and Shrink Wr]/[LotSize],0)+isnull([PLDC]/[LotSize],0)+isnull([Printed Labels]/[LotSize],0)+isnull([QCTS]/[LotSize],0)+isnull([SETU]/[LotSize],0)+isnull([Stabilisers/Emulsifi]/[LotSize],0)+isnull([Sticks]/[LotSize],0)+isnull([Sugars]/[LotSize],0)+isnull([Sweeteners/Bulking A]/[LotSize],0)+isnull([Wrappers]/[LotSize],0)+isnull([Yoghurt]/[LotSize],0)
)* [BudgetSalesQuantity] as CogsRoundingDiff
 
 
 FROM [BI_PROD_POST_SAP].[FACT].[BudgetSalesbyPeriod] a
  left join  [DIM].[SAPCostCompGroupByPeriod_Pivot] b
  on a.[ProductNo] =b.ProductNo
  and a.[FiscalYearPeriod] = b.[FiscalYearPeriod] 

   --------------------------------update PCM [Fact].[PriorCommittedSalesByPeriodByCompGrp]  
   /****** Script for SelectTopNRows command from SSMS  ******/  
insert into [BI_PROD_POST_SAP].[Fact].[SalesByPeriodByCompGrp] select a.[SnapshotDate] as [SnapshotDate]    
   ,'PCM' as [Version]  
      ,a.[FiscalYear]  
      ,a.[FiscalPeriod]  
      ,a.[FiscalYearPeriod]  
      ,[CustomerNo]  
      ,a.[ProductNo]  
      ,[PriorCommittedSalesQuantity] as SalesQuantity  
      ,[PriorCommittedNetInvoiceValue] as NetInvoiceValue  
      ,[PriorCommittedInvoiceDiscount] as InvoiceDiscount  
      ,[PriorCommittedCaseDiscount] as CaseDiscount  
      ,[PriorCommittedTermsDiscount] as TermsDiscount  
      ,[PriorCommittedOtherDiscount] as OtherDiscount  
      ,[PriorCommittedCOGS] as COGS  
      ,[PriorCommittedGrossMargin] as GrossMargin  
      --,[PriorCommittedBaselineQuantity]  
      --,[PriorCommittedIncrementalQuantity]  
      ,[PriorCommittedFreightOutbound] as FreightOutbound  
      --,[PriorCommittedFreightQuantity]  
      ,[PriorCommittedFreightCaseRate] as FreightCaseRate  
      ,[PriorCommittedFreightFuelLevy] as FreightFuelLevy  
,isnull(-[Bases & Lids]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Bases & Lids]  
,isnull(-[Biscuits/Wafers]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Biscuits/Wafers]  
,isnull(-[Bottles & Caps]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Bottles & Caps]  
,isnull(-[Buckets & Lids]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Buckets & Lids]  
,isnull(-[Choc Top]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Choc Top]  
,isnull(-[Chocolate]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Chocolate]  
,isnull(-[Colours]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Colours]  
,isnull(-[Cones]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Cones]  
,isnull(-[Consumables Non Stoc]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Consumables Non Stoc]  
,isnull(-[Cottage Cheese]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Cottage Cheese]  
,isnull(-[Cream]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Cream]  
,isnull(-[Cream Finished Goods]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Cream Finished Goods]  
,isnull(-[Cultures]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Cultures]  
,isnull(-[Cups & Lids]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Cups & Lids]  
,isnull(-[Dry Inclusions]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Dry Inclusions]  
,isnull(-[Dry Milk Derivatives]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Dry Milk Derivatives]  
,isnull(-[FCLG]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [FCLG]  
,isnull(-[Flavours]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Flavours]  
,isnull(-[FLOG]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [FLOG]  
,isnull(-[Food Additives/Chemi]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Food Additives/Chemi]  
,isnull(-[Food Products]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Food Products]  
,isnull(-[Ice Cream Sticks]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Ice Cream Sticks]  
,isnull(-[Ice Cream Tubs]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Ice Cream Tubs]  
,isnull(-[Imitation Cream]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Imitation Cream]  
,isnull(-[INFR]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [INFR]  
,isnull(-[Inner Cartons]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Inner Cartons]  
,isnull(-[LAB1]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [LAB1]  
,isnull(-[Liquid Inclusions]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Liquid Inclusions]  
,isnull(-[Liquid Milk Derivati]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Liquid Milk Derivati]  
,isnull(-[MACH]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [MACH]  
,isnull(-[Milk]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Milk]  
,isnull(-[NotAssigned]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [NotAssigned]  
,isnull(-[Other]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Other]  
,isnull(-[Outers and Shrink Wr]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Outers and Shrink Wr]  
,isnull(-[PLDC]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [PLDC]  
,isnull(-[Printed Labels]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Printed Labels]  
,isnull(-[QCTS]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [QCTS]  
,isnull(-[SETU]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [SETU]  
,isnull(-[Stabilisers/Emulsifi]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Stabilisers/Emulsifi]  
,isnull(-[Sticks]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Sticks]  
,isnull(-[Sugars]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Sugars]  
,isnull(-[Sweeteners/Bulking A]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Sweeteners/Bulking A]  
,isnull(-[Wrappers]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Wrappers]  
,isnull(-[Yoghurt]/[LotSize]* [PriorCommittedSalesQuantity],0)  as [Yoghurt]  
   ,-(isnull([Bases & Lids]/[LotSize],0)  
   +isnull([Biscuits/Wafers]/[LotSize],0)  
   +isnull([Bottles & Caps]/[LotSize],0)  
   +isnull([Buckets & Lids]/[LotSize],0)  
   +isnull([Choc Top]/[LotSize],0)  
   +isnull([Chocolate]/[LotSize],0)  
   +isnull([Colours]/[LotSize],0)  
   +isnull([Cones]/[LotSize],0)  
   +isnull([Consumables Non Stoc]/[LotSize],0)  
   +isnull([Cottage Cheese]/[LotSize],0)  
   +isnull([Cream]/[LotSize],0)  
   +isnull([Cream Finished Goods]/[LotSize],0)  
   +isnull([Cultures]/[LotSize],0)  
   +isnull([Cups & Lids]/[LotSize],0)  
   +isnull([Dry Inclusions]/[LotSize],0)  
   +isnull([Dry Milk Derivatives]/[LotSize],0)  
   +isnull([FCLG]/[LotSize],0)  
   +isnull([Flavours]/[LotSize],0)  
   +isnull([FLOG]/[LotSize],0)  
   +isnull([Food Additives/Chemi]/[LotSize],0)  
   +isnull([Food Products]/[LotSize],0)  
   +isnull([Ice Cream Sticks]/[LotSize],0)  
   +isnull([Ice Cream Tubs]/[LotSize],0)  
   +isnull([Imitation Cream]/[LotSize],0)  
   +isnull([INFR]/[LotSize],0)  
   +isnull([Inner Cartons]/[LotSize],0)  
   +isnull([LAB1]/[LotSize],0)  
   +isnull([Liquid Inclusions]/[LotSize],0)  
   +isnull([Liquid Milk Derivati]/[LotSize],0)  
   +isnull([MACH]/[LotSize],0)  
   +isnull([Milk]/[LotSize],0)  
   +isnull([NotAssigned]/[LotSize],0)  
   +isnull([Other]/[LotSize],0)  
   +isnull([Outers and Shrink Wr]/[LotSize],0)  
   +isnull([PLDC]/[LotSize],0)  
   +isnull([Printed Labels]/[LotSize],0)  
   +isnull([QCTS]/[LotSize],0)  
   +isnull([SETU]/[LotSize],0)  
   +isnull([Stabilisers/Emulsifi]/[LotSize],0)  
   +isnull([Sticks]/[LotSize],0)  
   +isnull([Sugars]/[LotSize],0)  
   +isnull([Sweeteners/Bulking A]/[LotSize],0)  
   +isnull([Wrappers]/[LotSize],0)  
   +isnull([Yoghurt]/[LotSize],0)  
) * [PriorCommittedSalesQuantity] as CompCOGS  
   ,[PriorCommittedCOGS]   
   +(isnull([Bases & Lids]/[LotSize],0)  
   +isnull([Biscuits/Wafers]/[LotSize],0)  
   +isnull([Bottles & Caps]/[LotSize],0)  
   +isnull([Buckets & Lids]/[LotSize],0)  
   +isnull([Choc Top]/[LotSize],0)  
   +isnull([Chocolate]/[LotSize],0)  
   +isnull([Colours]/[LotSize],0)  
   +isnull([Cones]/[LotSize],0)  
   +isnull([Consumables Non Stoc]/[LotSize],0)  
   +isnull([Cottage Cheese]/[LotSize],0)  
   +isnull([Cream]/[LotSize],0)+isnull([Cream Finished Goods]/[LotSize],0)+isnull([Cultures]/[LotSize],0)+isnull([Cups & Lids]/[LotSize],0)+isnull([Dry Inclusions]/[LotSize],0)+isnull([Dry Milk Derivatives]/[LotSize],0)  
   +isnull([FCLG]/[LotSize],0)  
   +isnull([Flavours]/[LotSize],0)+isnull([FLOG]/[LotSize],0)+isnull([Food Additives/Chemi]/[LotSize],0)+isnull([Food Products]/[LotSize],0)+isnull([Ice Cream Sticks]/[LotSize],0)+isnull([Ice Cream Tubs]/[LotSize],0)+isnull([Imitation Cream]/[LotSize],0)+
isnull([INFR]/[LotSize],0)+isnull([Inner Cartons]/[LotSize],0)+isnull([LAB1]/[LotSize],0)+isnull([Liquid Inclusions]/[LotSize],0)+
isnull([Liquid Milk Derivati]/[LotSize],0)+isnull([MACH]/[LotSize],0)+isnull([Milk]/[LotSize],0)+isnull([NotAssigned]/[LotSize],0)+isnull([Other]/[LotSize],0)+isnull([Outers and Shrink Wr]/[LotSize],0)+isnull([PLDC]/[LotSize],0)+isnull([Printed Labels]/[LotSize],0)+isnull([QCTS]/[LotSize],0)+isnull([SETU]/[LotSize],0)+isnull([Stabilisers/Emulsifi]/[LotSize],0)
+isnull([Sticks]/[LotSize],0)+isnull([Sugars]/[LotSize],0)+isnull([Sweeteners/Bulking A]/[LotSize],0)+isnull([Wrappers]/[LotSize],0)+isnull([Yoghurt]/[LotSize],0)  
)* [PriorCommittedSalesQuantity] as CogsRoundingDiff  
  
FROM  Fact.PriorCommittedSalesbyPeriod  a  
  left join  [DIM].[SAPCostCompGroupByPeriod_Pivot] b  
  on a.[ProductNo] =b.ProductNo  
  and a.[FiscalYearPeriod] = b.[FiscalYearPeriod]  

  
END
GO
