USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[CreateMLOR]    Script Date: 19/11/2025 6:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CreateMLOR] AS   
  
TRUNCATE TABLE ODS.CUSTOMER_MLOR  
  
INSERT INTO ODS.CUSTOMER_MLOR  
SELECT   
T1.Client  
,T1.Condition  
,T1.Object  
,(T1.MLOR-1) AS MLOR  
,T2.ShiptoParty AS ShiptoParty_996  
,T2.Material AS Material_996  
,T3.ShiptoParty AS ShiptoParty_999  
,T3.MaterialGroup AS MaterialGroup_999  
,T4.KNDNR AS CUSTOMER_002  
,T4.MATNR AS MATERIAL_002  
,T5.Customer AS CUSTOMER_997  
,T5.MaterialGroup AS MaterialGroup_997  
,T7.MaterialGroup AS MaterialGroup_006  
,T6.CustomerGroup AS CustomerGroup_998  
,T6.MaterialGroup AS MaterialGroup_998   
FROM sapstg.CV_PR_MLOR T1  
left join SAPSTG.CV_PR_KOTH996 T2 ON  
T1.Condition=T2.ConditionRecord  
left join SAPSTG.cv_pr_koth999 T3 ON  
T1.Condition=T3.ConditionRecord  
left join SAPSTG.cv_pr_koth002 T4 ON  
T1.Condition=T4.KNUMH  
left join SAPSTG.CV_PR_KOTH997 T5 ON  
T1.Condition=T5.ConditionRecord  
left join SAPSTG.CV_PR_KOTH998 T6 ON  
T1.Condition=T6.ConditionRecord  
left join SAPSTG.CV_PR_KOTH006 T7 ON  
T1.Condition=T7.ConditionRecord  
  
/******* MIN MAX MLOR *********/  
  
TRUNCATE TABLE ODS.MLOR_MATERIAL;  
  
INSERT INTO ODS.MLOR_MATERIAL  
select   
MLOR  
,Material_996  
,MATERIAL_002  
,coalesce(material_996,material_002) as Material   
from ODS.CUSTOMER_MLOR  
where MATERIAL_002 is not null or Material_996 is not null  
  
TRUNCATE TABLE ODS.MLOR_MATERIAL_MM;  
  
INSERT INTO ODS.MLOR_MATERIAL_MM  
SELECT   
MATERIAL  
,MIN(MLOR) AS MIN_MLOR   
,MAX(MLOR) AS MAX_MLOR   
FROM ODS.MLOR_MATERIAL  
GROUP BY MATERIAL  
  
TRUNCATE TABLE ODS.MLOR_MATERIAL_GROUP;  
  
INSERT INTO ODS.MLOR_MATERIAL_GROUP  
select   
MLOR  
,MaterialGroup_999  
,MaterialGroup_997  
,MaterialGroup_006  
,MaterialGroup_998  
,coalesce(MaterialGroup_999,MaterialGroup_997,MaterialGroup_006,MaterialGroup_998) as MaterialGroup   
from ODS.CUSTOMER_MLOR  
where MaterialGroup_999 is not null or MaterialGroup_997 is not null  
or MaterialGroup_006 is not null or MaterialGroup_998 is not null  
  
TRUNCATE TABLE ODS.MLOR_MATERIAL_GROUP_MM;  
  
INSERT INTO ODS.MLOR_MATERIAL_GROUP_MM  
SELECT   
MATERIALGROUP  
,MIN(MLOR) AS MIN_MLOR   
,MAX(MLOR) AS MAX_MLOR   
FROM ODS.MLOR_MATERIAL_GROUP  
GROUP BY MATERIALGROUP  
  
/******    CUST MLOR DERIVATION   *****/  
  
TRUNCATE TABLE ODS.MLOR_DERIVATION  ;
  
 INSERT INTO ODS.MLOR_DERIVATION  
 select   
 T1.*   
 ,T2.MLOR AS MLOR1  
 ,T3.MLOR AS MLOR2  
 ,T4.MLOR AS MLOR3  
 ,T5.MLOR AS MLOR4  
 ,T6.MLOR AS MLOR5    
 from ODS.DELIVERYDATE_LOAD T1  
 left join ODS.CUSTOMER_MLOR T2 ON  
 T1.shipto_VBPA=T2.ShiptoParty_996 and   
 T1.MATERIAL=T2.Material_996  
 left join ODS.CUSTOMER_MLOR T3 ON  
 T1.shipto_VBPA=T3.ShiptoParty_999 and   
 T1.Productgroup=T3.MaterialGroup_999  
 left join ODS.CUSTOMER_MLOR T4 ON  
 T1.SoldToParty_VBAK=T4.Customer_002 and   
 T1.MATERIAL=T4.Material_002  
 left join ODS.CUSTOMER_MLOR T5 ON  
 T1.SoldToParty_VBAK=T5.Customer_997 and   
 T1.Productgroup=T5.MaterialGroup_997  
 left join ODS.CUSTOMER_MLOR T6 ON  
 T1.Productgroup=T6.MaterialGroup_006  
 
  
  
 TRUNCATE TABLE FACT.MLOR_DERIVATION  
   
 INSERT INTO FACT.MLOR_DERIVATION  
 SELECT  
 *  
 ,coalesce(MLOR1,MLOR2,MLOR3,MLOR4,MLOR5) as CUSTOMER_MLOR   
 FROM ODS.MLOR_DERIVATION  

 /*******  SATISH ADDED CODE ON 28NOV2023  ******/

 TRUNCATE TABLE ODS.MM_MATERIAL_SO;
 
 
 with MM_MATERIAL_SO as(SELECT  
 *  
 ,coalesce(MLOR1,MLOR3) as CUSTOMER_MLOR_M_SO   
 FROM ODS.MLOR_DERIVATION 
 )INSERT INTO ODS.MM_MATERIAL_SO
 select MATERIAL,min(CUSTOMER_MLOR_M_SO) as MIN_MLOR_MATERIAL_SO,max(CUSTOMER_MLOR_M_SO) AS MAX_MLOR_MATERIAL_SO
   from MM_MATERIAL_SO
 group by MATERIAL

  TRUNCATE TABLE ODS.MM_MATERIAL_GROUP_SO;

with MM_MATERIAL_GROUP_SO as(SELECT  
 *  
 ,coalesce(MLOR2,MLOR4,MLOR5) as CUSTOMER_MLOR_MG_SO   
 FROM ODS.MLOR_DERIVATION 
 )INSERT INTO ODS.MM_MATERIAL_GROUP_SO
 select PRODUCTGROUP,min(CUSTOMER_MLOR_MG_SO) as MIN_MLOR_MATERIAL_GROUP_SO,max(CUSTOMER_MLOR_MG_SO) AS MAX_MLOR_MATERIAL_GROUP_SO
  from MM_MATERIAL_GROUP_SO
 group by PRODUCTGROUP

  /******* SATISH ADDED CODE ON NOV282023 *****/

 TRUNCATE TABLE ODS.MLOR_MIN_MAX_SO;

WITH MLOR_MIN_MAX_SO As (  
 SELECT   
 T1.* 
 ,(DATEDIFF(Day, cast(T1.DeliveryDate as date),cast(T1.SLED as date)  ) - T1.CUSTOMER_MLOR) AS MLORRemainingDays  
 ,T2.MIN_MLOR_MATERIAL_SO AS MIN_MLOR_MATERIAL_SO  
 ,T2.MAX_MLOR_MATERIAL_SO AS MAX_MLOR_MATERIAL_SO  
 ,T3.MIN_MLOR_MATERIAL_GROUP_SO AS MIN_MLOR_MATERIAL_GROUP_SO
 ,T3.MAX_MLOR_MATERIAL_GROUP_SO AS MAX_MLOR_MATERIAL_GROUP_SO 
 FROM FACT.MLOR_DERIVATION T1  
 left join ODS.MM_MATERIAL_SO T2 ON   
 T1.MATERIAL=T2.MATERIAL  
 left join ODS.MM_MATERIAL_GROUP_SO T3 ON   
 T1.PRODUCTGROUP=T3.PRODUCTGROUP)  INSERT INTO  ODS.MLOR_MIN_MAX_SO
 SELECT   
 *  
 ,coalesce(MIN_MLOR_MATERIAL_SO,MIN_MLOR_MATERIAL_GROUP_SO) AS MIN_MLOR_SO  
 ,coalesce(MAX_MLOR_MATERIAL_SO,MAX_MLOR_MATERIAL_GROUP_SO) AS MAX_MLOR_SO   
 FROM MLOR_MIN_MAX_SO 
  
 /***** ----   MLOR Remaining Days,MIN MAX assigment to SO   ----- *****/  
  
 TRUNCATE TABLE  FACT.BATCH_MLOR_MM;  
  
  
 WITH MLOR_MIN_MAX As (  
 SELECT   
 T1.*  
 ,(DATEDIFF(Day, cast(T1.DeliveryDate as date),cast(T1.SLED as date)  ) - T1.CUSTOMER_MLOR) AS MLORRemainingDays  
 ,T2.MIN_MLOR AS MIN_MLOR_MATERIAL  
 ,T2.MAX_MLOR AS MAX_MLOR_MATERIAL  
 ,T3.MIN_MLOR AS MIN_MLOR_MATERIALGROUP  
 ,T3.MAX_MLOR AS MAX_MLOR_MATERIALGROUP  
 FROM FACT.MLOR_DERIVATION T1  
 left join ODS.MLOR_MATERIAL_MM T2 ON   
 T1.MATERIAL=T2.MATERIAL  
 left join ODS.MLOR_MATERIAL_GROUP_MM T3 ON   
 T1.PRODUCTGROUP=T3.MATERIALGROUP
 ) INSERT INTO FACT.BATCH_MLOR_MM  
 SELECT   
 *  
 ,coalesce(MIN_MLOR_MATERIAL,MIN_MLOR_MATERIALGROUP) AS MIN_MLOR  
 ,coalesce(MAX_MLOR_MATERIAL,MAX_MLOR_MATERIALGROUP) AS MAX_MLOR   
 FROM MLOR_MIN_MAX  


 /*******  MIN and Max DateOFreceipt   ********/  
  
 TRUNCATE TABLE ODS.MM_DOR;  
  
 INSERT INTO ODS.MM_DOR  
 SELECT   
 ft.*   
 ,DATEADD(day, MIN_MLOR-1, MANUFACTUREDATE) AS MIN_RECEIPTDATE  
 ,DATEADD(day, MAX_MLOR-1, MANUFACTUREDATE) AS MAX_RECEIPTDATE   
 ,CASE   
  WHEN MLORRemainingDays<=MIN_MLOR THEN 'R'  
  WHEN MLORRemainingDays BETWEEN MIN_MLOR AND MAX_MLOR THEN 'Y'  
  WHEN MLORRemainingDays > MAX_MLOR AND MLORRemainingDays < MAX_MLOR+4 THEN 'G'  
  WHEN MLORRemainingDays > MAX_MLOR+4 THEN 'B'  
  END AS MLOR_Warning   
  
,C.NationalCustomerCode
,C.CarrierCode
,C.NationalCustomer
,C.ChannelCustomer
,C.ChannelCode
,C.Channel
,C.SupplyingPlant
,C.CustomerName

 from FACT.BATCH_MLOR_MM  FT
 LEFT JOIN DIM.Customer C ON FT.SoldToParty_VBAK=CONCAT('000',cast(c.customerno as varchar(10)))


 /*******  MIN and Max DateOFreceipt  for SO ********/  
  
 TRUNCATE TABLE ODS.MM_DOR_SO;  


  
 INSERT INTO ODS.MM_DOR_SO  
 SELECT   
 ft.*   
 ,DATEADD(day, MIN_MLOR_SO-1, MANUFACTUREDATE) AS MIN_RECEIPTDATE  
 ,DATEADD(day, MAX_MLOR_SO-1, MANUFACTUREDATE) AS MAX_RECEIPTDATE   
 ,CASE   
  WHEN MLORRemainingDays<=MIN_MLOR_SO THEN 'R'  
  WHEN MLORRemainingDays BETWEEN MIN_MLOR_SO AND MAX_MLOR_SO THEN 'Y'  
  WHEN MLORRemainingDays > MAX_MLOR_SO AND MLORRemainingDays < MAX_MLOR_SO+4 THEN 'G'  
  WHEN MLORRemainingDays > MAX_MLOR_SO+4 THEN 'B'  
  END AS MLOR_Warning_SO   
  
,C.NationalCustomerCode
,C.CarrierCode
,C.NationalCustomer
,C.ChannelCustomer
,C.ChannelCode
,C.Channel
,C.SupplyingPlant
,C.CustomerName 

 from ODS.MLOR_MIN_MAX_SO  FT 
 LEFT JOIN DIM.Customer C ON FT.SoldToParty_VBAK=CONCAT('000',cast(c.customerno as varchar(10)))

 

 
   
  
  
  
   
GO
