USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_ODSMRPRollingCoverageSnapshot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Upsert_ODSMRPRollingCoverageSnapshot]
AS

DELETE m FROM [ODS].[MRPRollingCoverageSnapshot] m
INNER JOIN  dim.CalendarDate c
ON convert(Date,m.LoadDateTime) = c.CalendarDate
and c.CalendarWeekOffset = 0


--Reload Latest forecast data
INSERT INTO [ODS].[MRPRollingCoverageSnapshot]
--with A as(
SELECT
	m.Material As Material
	,m.Plant As Plant
	, GETDATE() AS LoadDateTime	
  	, cts.WeekcommenceDate as SnapshotDate
	,[MAT_PLANT] as MaterialPlant
	--,[CALMONTH] as CalendarMonth
	--,[CALYEAR] as CalendarYear
	,[CALWEEK] as CalendarWeek
	,avg(convert(dec,[_BIC_ZBULCVDCH])) AS [BullaCoverageDays]
	,avg(convert(dec,[_BIC_ZSTCVDCH])) AS [StockCoverageDays]
	,ct.WeekcommenceDate
	,ct.FiscalYear
	,ct.FiscalPeriod
	,ct.WeekendDate
	,ct.CalendarWeekOffset
	,Sum(m.ProjectedStockOnHand) AvailableInventory
	--,rank() over (PARTITION BY Material, Plant  ORDER BY ct.CalendarWeekOffset DESC) AS VersionNo  
	--into [ODS].[MRPRollingCoverageSnapshot]
	FROM  [SAPSTG].[CV_PR_MRP_ROLLING_COV_DAYS](NOLOCK) m
left outer join Dim.CalendarDate(NOLOCK) ct 
ON m.CALWEEK = Concat(ct.CalendarYear,case when Left(Ct.CalendarWeekOfYear,1) = 0 then concat('0',CalendarWeekOfYear) else CalendarWeekOfYear end) 
left  outer join Dim.CalendarDate(NOLOCK) cts
on cts.CalendarDate = Convert(Date,GETDATE())
where ct.CalendarWeekOffset <= 0
group by	m.Material 
		,m.Plant 
  	, [_BIC_ZSNAPDATE] 
	,[MAT_PLANT] 
	--,[CALMONTH]
	--,[CALYEAR] 
	,[CALWEEK] 
	,ct.WeekcommenceDate
	,ct.WeekendDate
	,ct.CalendarWeekOffset
	,ct.FiscalYear
	,ct.FiscalPeriod
	,cts.WeekcommenceDate
	--)

	--select * from A where Material = '1007' and Plant = '3000'
	--order by FiscalYear asc, FiscalPeriod asc, CalendarWeekOffset desc


	--select CalendarWeekOfMonth,CalendarWeekOfYear from Dim.CalendarDate
GO
