USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[UsageTracking_MODEL_UsageTracking]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UsageTracking_MODEL_UsageTracking]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO Model.UsageTracking
	
		
		select Source
			, Username
			, FORMAT(LoginTime, 'dd-MMM-yyyy hh:mm tt') LoginTime
			, ReportName
			, Username + '-' + ReportName [Username-Report]
			, Year(cast(LoginTime as date))
			, Month(cast(LoginTime as date))
			, DATEPART(week,(cast(LoginTime as date)))
			, cast(LoginTime as date)
		from ODS.UsageTabular
		
END
GO
