USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_Stg_Cadbury_Raw(Transformed)]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Procedure [dbo].[usp_Load_Stg_Cadbury_Raw(Transformed)] 
as

Drop Table [Stg].[Cadbury_Raw(Transformed)];


 WITH FilteredRows AS (
        -- Step 1: Filter rows where Metric ends with "(Ctns)"
        SELECT 
            [State],
            [Coles Category],
            [Coles Description],
            [Metric],
            [Coles Item],
            [1/6/2020],
            [1/13/2020],
            [1/20/2020],
            [1/27/2020]
        FROM [BI_PROD_POST_SAP].[Stg].[Cadbury(Raw)]
        WHERE [Metric] LIKE '%(Ctns)'
    )
    -- Step 2: Unpivot the columns (dates) into rows
    SELECT 
        State,
        [Coles Category], -- Use the exact column names from the filtered rows
        [Coles Item],
        [Coles Description],
       -- Metric,
        cast(Week AS date) [Week Start],  
        cast(Value as Float) Value
into [Stg].[Cadbury_Raw(Transformed)]

    FROM FilteredRows
    UNPIVOT (
        Value FOR Week IN ([1/6/2020], [1/13/2020], [1/20/2020], [1/27/2020])
    ) AS UnpivotedResult
	WHERE Value <> '';

GO
