USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ProductPrimaryChannel]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS PPC]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ProductPrimaryChannel]
AS


SET NOCOUNT ON;

TRUNCATE TABLE ODS.ProductPrimaryChannel;

WITH getprod
AS
 (SELECT DISTINCT
	I.ItemNo as productno
	FROM ODS.Item I)

 ,forecastrank AS (
	 SELECT
	  c.channel,
	  productno,
	  SUM(ISNULL(ForecastSalesQuantity, 0)) AS totalqty,
	  RANK() OVER (PARTITION BY productno ORDER BY SUM(ISNULL(forecastsalesquantity, 0)) DESC) AS ranking,
	  'Forecast' AS primarychannelsource
	FROM Fact.ForecastSales f
	INNER JOIN dim.customer c
	  ON f.customerno = c.customerno
	GROUP BY channel,
			 productno)

,salesrank AS (
	SELECT
	  c.channel,
	  a.productno,
	  SUM(actualsalesquantity) AS totalqty,
	  RANK() OVER (PARTITION BY a.productno ORDER BY SUM(ISNULL(actualsalesquantity, 0)) DESC) AS ranking,
	  'Sales' AS primarychannelsource
	FROM Fact.ActualSales a
	INNER JOIN forecastrank f
	  ON a.productno = f.ProductNo
	INNER JOIN dim.customer c
	  ON a.customerno = c.CustomerNo
	WHERE f.ranking = 1
	AND f.totalqty = 0
	GROUP BY c.channel,
			 a.productno)


 insert into ODS.ProductPrimaryChannel
	SELECT
      COALESCE(f.productno, s.productno, p.productno) AS ProductNo,
	  COALESCE(f.channel, s.channel, 'Other') AS PrimaryChannel,
	
	  COALESCE(f.primarychannelsource, s.primarychannelsource, 'Not found') AS PrimaryChannelSource
	FROM getprod p
	LEFT JOIN forecastrank f
	  ON p.productno = f.productno
	  AND f.ranking = 1
	  AND f.totalqty > 0
	LEFT JOIN salesrank s
	  ON p.productno = s.productno
	  AND s.ranking = 1
	  AND s.totalqty > 0

GO
