USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_Vendor_backupAzure]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE  [dbo].[usp_Insert_ODS_Vendor_backupAzure]
AS
BEGIN


--Delete existing data from staging table

Drop TABLE [ODS].[Vendor]

-- Insert data into staging table ([ODS].[Vendor])

 
SELECT 
	SYSDATETIME() AS LoadDateTime,
	REPLACE(LTRIM(REPLACE(LFA1.Vendor,'0',' ')),' ','0') as VendorNo,
	--LFA1.Vendor as Vendor_No, 
	LFA1.Name,
	LFA1.Name2,
	LFA1.[SearchtermformatchcodeSearch1] as SearchTerm1,
    LFA1.[SearchtermformatchcodeSearch2] as SearchTearm2,
	LFA1.[StreetandHouseNumber] as "Street/House_Number",
	LFA1.City,
	LFA1.PostalCode,
	LFA1.CountryRegionKey as Country,
	LFA1.LanguageKey as Language,
	ADR2.MobileNumber,
	ADR2.Telephone_no,
	ADR3.[Fax_Number] as Fax_No,
	ADR6.[smtp_addr] as [E-mail],
	Txn.[TAXNUM] as Tax_Number,
	Txn.[TaxType]  as Tax_Category,

	LFB1.AKONT as Reconciliation_Account,
	LFB1.FDGRV as PlanningGroup,
	LFB1.ZTERM as PaymentTerms,
	LFB1.REPRF as [Check Double Invoice],
	LFB1.ZWELS as PaymentMethods,

	
	LFB1.GUZTE as CreditMemoPymtTerm,
	
	LFB1.BUSAB as [Clerk Abbrev.],
	LFB1.ZSABE as [Clerk at Vendor],

	

	LFB1.TLFNS as [Acct. clerks tel.no.],
	LFB1.TLFXS as [Acctg clerk's fax],
	LFB1.INTAD as [Clerk's internet add.],
	
	LFM1.Purchaseordercurrency,
	LFM1.Termsofpaymentkey as PurchasePaymentTerms,
	T052.[Own Explanation],
	LFM1.IndicatorGRBasedInvoiceVerification as [GR-Based Inv. Verify],
	LFM1.IndicatorDocindexcompilationactiveforpurchaseorders as [IndicatorDocIndexCompilationActiveForPurchaseOrders],
	LFM1.FarmLicenceNumber,
	LFM1.MemberNumber,
	LFM1.RegionsGroup,
	Cast(LP.LastPurchasedDate as date) as LastPurchasedOn,
	Cast(lid.Last_Invoice_Date as date) as LastInvoiceDate,

	[BT].[BusinessPartnerCategory],
	[BT].[BusinessPartnerType],
	[BT].[BusinessPartnerGrouping],
	[BT].[BusinessPartnerNumberExt],
	[BT].[SearchTerm1] as [SearchTerm1_BP],
	[BT].[SearchTerm2] as [SearchTerm2_BP],
	[BT].[DataOriginTypes] as [DataOriginTypes_BP],
	[BT].[FormofAddressKey] as [FormofAddressKey_BP],
	[BT].[CentralArchivingFlag] as [CentralArchivingFlag_BP],
	[BT].[CentralBlockBP] as [CentralBlockBP_BP],
	[BT].[AuthorizationGroup] as [AuthorizationGroup_BP],
	[BT].[EMPIDLineManager] as [EMPIDLineManager_BP],
	[BT].[LogicalSystem] as [LogicalSystem_BP],
	[BT].[BusinessPartnerContactPermission],
	[BT].[IndicatorNotReleased] as [IndicatorNotReleased_BP],
	[BT].[IndicatorNotLegallyCompetent] as [IndicatorNotLegallyCompetent_BP],
	[BT].[BusinessPartnerPrintFormat],
	[BT].[Dummyfunctioninlength1] as [Dummyfunctioninlength1_BP],
	[BT].[Rate] as [Rate_BP],
	[BT].[NAME_ORG1] as [NAME_ORG1_BP],
	[BT].[NAME_ORG2] as [NAME_ORG2_BP],
	[BT].[NAME_ORG3] as [NAME_ORG3_BP],
	[BT].[NAME_ORG4] as [NAME_ORG4_BP],
	[BT].[LegalformOrganization] as [LegalformOrganization_BP],
	[BT].[IndustrySector] as [IndustrySector_BP],
	[BT].[LegalEntityOrganization] as [LegalEntityOrganization_BP],
	[BT].[DateOrganizationFounded] as [DateOrganizationFounded_BP],
	[BT].[LiquidationDate] as [LiquidationDate_BP],
	[BT].[LOCATION_1] as [LOCATION_1_BP],
	[BT].[LOCATION_2] as [LOCATION_2_BP],
	[BT].[LOCATION_3] as [LOCATION_3_BP],
	[BT].[NAME_LAST] as [NAME_LAST_BP],
	[BT].[NAME_FIRST] as [NAME_FIRST_BP],
	[BT].[NAME_LST2] as [NAME_LST2_BP],
	[BT].[NAME_LAST2] as [NAME_LAST2_BP],
	[BT].[NAMEMIDDLE] as [NAMEMIDDLE_BP],
	[BT].[TITLE_ACA1] as [TITLE_ACA1_BP],
	[BT].[TITLE_ACA2] as [TITLE_ACA2_BP],
	[BT].[TITLE_ROYL] as [TITLE_ROYL_BP],
	[BT].[PREFIX1] as [PREFIX1_BP],
	[BT].[PREFIX2] as [PREFIX2_BP],
	[BT].[NAME1_TEXT] as [NAME1_TEXT_BP],
	[BT].[NICKNAME] as [NICKNAME_BP],
	[BT].[INITIALS] as [INITIALS_BP],
	[BT].[NAMEFORMAT] as [NAMEFORMAT_BP],
	[BT].[NAMCOUNTRY] as [NAMCOUNTRY_BP],
	[BT].[LANGU_CORR] as [LANGU_CORR_BP],
	[BT].[XSEXMale] as [XSEXMale_BP],
	[BT].[XSEXFemale] as [XSEXFemale_BP],
	[BT].[BIRTHPL] as [BIRTHPL_BP],
	[BT].[MARST] as [MARST_BP],
	[BT].[EMPLO] as [EMPLO_BP],
	[BT].[JOBGR] as [JOBGR_BP],
	[BT].[NATIO] as [NATIO_BP],
	[BT].[CNTAX] as [CNTAX_BP],
	[BT].[CNDSC] as [CNDSC_BP],
	[BT].[PERSNUMBER] as [PERSNUMBER_BP],
	[BT].[XSEXU] as [XSEXU_BP],
	[BT].[XUBNAME] as [XUBNAME_BP],
	[BT].[BU_LANGU] as [BU_LANGU_BP],
	[BT].[BIRTHDT] as [BIRTHDT_BP],
	[BT].[DEATHDT] as [DEATHDT_BP],
	[BT].[PERNO] as [PERNO_BP],
	[BT].[CHILDREN] as [CHILDREN_BP],
	[BT].[MEM_HOUSE] as [MEM_HOUSE_BP],
	[BT].[PARTGRPTYP] as [PARTGRPTYP_BP],
	[BT].[NAME_GRP1] as [NAME_GRP1_BP],
	[BT].[NAME_GRP2] as [NAME_GRP2_BP],
	[BT].[MC_NAME1] as [MC_NAME1_BP],
	[BT].[MC_NAME2] as [MC_NAME2_BP],
	[BT].[UserwhocreatedObject] as [UserwhocreatedObject_BP],
	[BT].[createdDate] as [createdDate_BP],
	[BT].[createdtime] as [createdtime_BP],
	[BT].[UserwhochangedObject] as [UserwhochangedObject_BP],
	[BT].[ChangedDate] as [ChangedDate_BP],
	[BT].[ChangedTime] as [ChangedTime_BP],
	[BT].[PARTNER_GUID] as [PARTNER_GUID_BP],
	[BT].[ADDRCOMM] as [ADDRCOMM_BP],
	[BT].[TD_SWITCH] as [TD_SWITCH_BP],
	[BT].[IS_ORG_CENTRE] as [IS_ORG_CENTRE_BP],
	[BT].[DB_KEY] as [DB_KEY_BP],
	[BT].[VALID_FROM] as [VALID_FROM_BP],
	[BT].[VALID_TO] as [VALID_TO_BP],
	[BT].[XPCPT] as [XPCPT_BP],
	[BT].[NATPERS] as [NATPERS_BP],
	[BT].[MILVE] as [MILVE_BP],
	[BT].[NUC_SEC] as [NUC_SEC_BP],
	[BT].[PAR_REL] as [PAR_REL_BP],
	[BT].[BP_SORT] as [BP_SORT_BP],
	[BT].[KBANKS] as [KBANKS_BP],
	[BT].[KBANKL] as [KBANKL_BP],
	[BT].[GENDER] as [GENDER_BP],
	[BT].[BIRTHDT_STATUS] as [BIRTHDT_STATUS_BP]



	INTO ODS.Vendor


from [SAPSTG].[CV_PR_MD_LFA1] LFA1

left join (select Addressnumber, 
		MAX(case when IndicatorTelephoneMobileTelephone =3 then CompleteNumberDiallingCode end) as MobileNumber,
MAX(case when IndicatorTelephoneMobileTelephone =1 then CompleteNumberDiallingCode end) as Telephone_no
from [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ADR2] group by AddressNumber) ADR2  
on LFA1.Address = ADR2.AddressNumber 

left join [sapstg].[CV_PR_MD_ADR3] ADR3  on LFA1.Address = ADR3.addrnumber
left join [sapstg].[CV_PR_MD_ADR6] ADR6  on LFA1.Address = ADR6.addrnumber
left join [SAPSTG].[CV_PR_MD_DFKKBPTAXNUM] Txn  on LFA1.Vendor =Txn.Partner

Left Join [sapstg].[CV_PR_MD_LFB1] LFB1 on  LFA1.Vendor=LFB1.LIFNR

--left Join [SAPSTG].[CV_PR_MD_ADRC] Cust on LFA1.Vendor=Cust.CustomerNo
left Join [SAPSTG].[CV_PR_MD_LFM1] LFM1 on LFA1.Vendor=LFM1.Vendor

left join (select ZTERM,max(text1) as [Own Explanation] from [SAPSTG].[CV_PR_MD_T052] group by ZTERM) T052          -- for Own Explanation
on LFM1.Termsofpaymentkey = t052.ZTERM

left join (select v.vendor, MAX(t.DeliveryDate) as LastPurchasedDate from 
sapstg.CV_PR_MD_LFA1 v 
left outer join  SAPSTG.CV_PO_EKKO k
on v.Vendor = k.Vendor
left outer join  SAPSTG.CV_PO_EKPO p
on k.PO = p.PO
left outer join  SAPSTG.CV_PR_EKET t
on p.PO = t.PONum and p.POItem = t.POItem 	
Group by v.Vendor) LP
on LFA1.vendor = LP.Vendor

left join(Select replace(ltrim(replace(AccountNumberOfVendorOrCreditor,'0',' ')),' ','0') as Supplier,MAX(ujs.PostingDateintheDocument) as Last_Invoice_Date from (select * from ODS.UniversalJournal_CurrentFY 
UNION ALL Select * from ODS.UniversalJournal_PreviousFY) ujs
where AccountNumberOfVendorOrCreditor <> ''
group by ujs.AccountNumberOfVendorOrCreditor) lid on replace(ltrim(replace(LFA1.vendor,'0',' ')),' ','0') = lid.Supplier

left join [SAPSTG].[CV_PR_MD_BUT000] BT on LFA1.Vendor = [BT].[BusinessPartnerNumber]
End
GO
