USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[CalculateJobStepAvgDuration]    Script Date: 19/11/2025 6:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[CalculateJobStepAvgDuration]
AS
BEGIN
	TRUNCATE TABLE [dbo].[JobStepAverageDuration];

	INSERT [dbo].[JobStepAverageDuration] (
		[job_id]				
	,	[step_id]				
	,	[count]					
	,	[avg_duration_seconds]	
	)
	SELECT
		s.[job_id]
	,	s.[step_id]
	,	COUNT(*)					AS [count]
	,	AVG(s.[duration_seconds])	AS [avg_duration_seconds]
	FROM [dbo].[JobStepInstanceAllStepsCompleted] j
	JOIN [dbo].[JobStepInstance] s
	ON s.[job_id] = j.[job_id] AND s.[job_instance] = j.[job_instance]
	GROUP BY s.[job_id], s.[step_id];
END
GO
