USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_stg_Coles12WeekAaForecast_Transformed]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[usp_Load_stg_Coles12WeekAaForecast_Transformed]
as
Drop  Table  [stg].[Coles12WeekAaForecast_Transformed];

SELECT 
    [DC State] as State, 
    [Category Name] as "Coles Category", 
    [Item] as [Coles Item], 
    [Item Name] as [Coles Description], 
--	 [Promo Wk St DT] as [Week Start],
    convert(date,[Promo Wk St DT],103) as [Week Start],
    SUM(Cast([Total Forecast Qty] as float)) AS [Value]

	into [stg].[Coles12WeekAaForecast_Transformed]
FROM 
    [BI_PROD_POST_SAP].[Stg].[Coles_12WeekAaForecast]
	where  [Category Name] is not null
GROUP BY 
    [DC State], 
    [Category Name], 
    [Item], 
    [Item Name], 
    [Promo Wk St DT];




	

	
GO
