USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_ZTPPMRPINV]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_ZTPPMRPINV>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_ZTPPMRPINV]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_ZTPPMRPINV]

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_ZTPPMRPINV] 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AvailableInventory  =cast(AvailableInventory as decimal(38,6)) ,
CreationDateTime  = CASE WHEN ISDATE(CreationDateTime) = 1 --and CreationDateTime <> 0
                        		then CONVERT(datetime,CreationDateTime, 112) 
                           		when  CreationDateTime <> 0 then
       							DATEADD(hh,DATEPART(TZOFFSET, CAST(FORMAT(CreationDateTime,'####-##-## ##:##:##.#######') as datetime2) AT TIME ZONE 'AUS Eastern Standard Time')/60,CAST(FORMAT(CreationDateTime,'####-##-## ##:##:##.#######') as datetime2))               
                              	ELSE NULL end ,
CreationDateTime11  =NULLIF(cast(CreationDateTime11 as nvarchar(20)),'') ,
DemandPlan  =cast(DemandPlan as decimal(38,6)) ,
MaterialNumber  = case when isnumeric(MaterialNumber) =1 
                                    		then 	NULLIF(cast(cast(MaterialNumber as BIGINT) as nvarchar(40)),'')
                                            else  NULLIF(cast(MaterialNumber as nvarchar(40)),'') end,
OtherMovement  =cast(OtherMovement as decimal(38,6)) ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
ProductionPlan  =cast(ProductionPlan as decimal(38,6)) ,
PurchasePlan  =cast(PurchasePlan as decimal(38,6)) ,
WeekEndingDate  =CASE WHEN ISDATE(WeekEndingDate) = 1 
                        		then CONVERT(datetime,WeekEndingDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),WeekEndingDate) 
                         		else null
                                 	end ,
WeekEndingDate1  =NULLIF(cast(WeekEndingDate1 as nvarchar(10)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCZTPPMRPINV WITH (NOLOCK)
END
GO
