USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CUSTOMER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_CUSTOMER]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CUSTOMER]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_CUSTOMER] 

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_CUSTOMER] 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AddressID  = case when isnumeric(AddressID) =1 
                               						then NULLIF(cast(cast(AddressID as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(AddressID as nvarchar(10)),'') end,
AlternativePayerAccount  = case when isnumeric(AlternativePayerAccount) =1 
                               						then NULLIF(cast(cast(AlternativePayerAccount as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(AlternativePayerAccount as nvarchar(10)),'') end,
AuthorizationGroup  =NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
BillingIsBlockedForCustomer  =NULLIF(cast(BillingIsBlockedForCustomer as nvarchar(2)),'') ,
CityName  =NULLIF(cast(CityName as nvarchar(35)),'') ,
Country  =NULLIF(cast(Country as nvarchar(3)),'') ,
CreatedByUser  =NULLIF(cast(CreatedByUser as nvarchar(12)),'') ,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CreationDate) 
                         		else null 	end ,
Customer  = case when isnumeric(Customer) =1 
                                    		then 	NULLIF(cast(cast(Customer as BIGINT) as nvarchar(10)),'')
                                            else  NULLIF(cast(Customer as nvarchar(10)),'') end,
CustomerAccountGroup  =NULLIF(cast(CustomerAccountGroup as nvarchar(4)),'') ,
CustomerClassification  =NULLIF(cast(CustomerClassification as nvarchar(2)),'') ,
CustomerCorporateGroup  =NULLIF(cast(CustomerCorporateGroup as nvarchar(10)),'') ,
CustomerFullName  =NULLIF(cast(CustomerFullName as nvarchar(220)),'') ,
CustomerName  =NULLIF(cast(CustomerName as nvarchar(80)),'') ,
DataMediumExchangeIndicator  =NULLIF(cast(DataMediumExchangeIndicator as nvarchar(1)),'') ,
DeletionIndicator  =case DeletionIndicator when 'X' then cast(1 as bit) else cast(0 as bit) end ,
DeliveryIsBlocked  =NULLIF(cast(DeliveryIsBlocked as nvarchar(2)),'') ,
FiscalAddress  =NULLIF(cast(FiscalAddress as nvarchar(10)),'') ,
Industry  =NULLIF(cast(Industry as nvarchar(4)),'') ,
IndustryCode1  =NULLIF(cast(IndustryCode1 as nvarchar(10)),'') ,
IndustryCode2  =NULLIF(cast(IndustryCode2 as nvarchar(10)),'') ,
IndustryCode3  =NULLIF(cast(IndustryCode3 as nvarchar(10)),'') ,
IndustryCode4  =NULLIF(cast(IndustryCode4 as nvarchar(10)),'') ,
IndustryCode5  =NULLIF(cast(IndustryCode5 as nvarchar(10)),'') ,
InternationalLocationNumber1  =NULLIF(cast(InternationalLocationNumber1 as nvarchar(7)),'') ,
IsBusinessPurposeCompleted  =NULLIF(cast(IsBusinessPurposeCompleted as nvarchar(1)),'') ,
IsOneTimeAccount  =case IsOneTimeAccount when 'X' then cast(1 as bit) else cast(0 as bit) end ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
NFPartnerIsNaturalPerson  =NULLIF(cast(NFPartnerIsNaturalPerson as nvarchar(1)),'') ,
NielsenRegion  =NULLIF(cast(NielsenRegion as nvarchar(2)),'') ,
OrderIsBlockedForCustomer  =NULLIF(cast(OrderIsBlockedForCustomer as nvarchar(2)),'') ,
OrganizationBPName1  =NULLIF(cast(OrganizationBPName1 as nvarchar(35)),'') ,
OrganizationBPName2  =NULLIF(cast(OrganizationBPName2 as nvarchar(35)),'') ,
PostalCode  =NULLIF(cast(PostalCode as nvarchar(10)),'') ,
PostingIsBlocked  =case PostingIsBlocked when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ResponsibleType  =NULLIF(cast(ResponsibleType as nvarchar(2)),'') ,
StreetName  =NULLIF(cast(StreetName as nvarchar(35)),'') ,
Supplier  = case when isnumeric(Supplier) =1 
                               						then NULLIF(cast(cast(Supplier as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(Supplier as nvarchar(10)),'') end,
TaxJurisdiction  =NULLIF(cast(TaxJurisdiction as nvarchar(15)),'') ,
TaxNumber1  =NULLIF(cast(TaxNumber1 as nvarchar(16)),'') ,
TaxNumber2  =NULLIF(cast(TaxNumber2 as nvarchar(11)),'') ,
TaxNumber3  =NULLIF(cast(TaxNumber3 as nvarchar(18)),'') ,
TaxNumber4  =NULLIF(cast(TaxNumber4 as nvarchar(18)),'') ,
TaxNumber5  =NULLIF(cast(TaxNumber5 as nvarchar(60)),'') ,
TaxNumberType  =NULLIF(cast(TaxNumberType as nvarchar(2)),'') ,
VATLiability  =case VATLiability when 'X' then cast(1 as bit) else cast(0 as bit) end ,
VATRegistration  =NULLIF(cast(VATRegistration as nvarchar(20)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCCUSTOMER WITH (NOLOCK) 

END

GO
