USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[uspLoad_Dim_Calendardate]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-- =============================================
-- Author:		<SHINKIS>
-- Create date: <10/10/2021>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Mahendra			Initial Draft
1.1			19/07/2022		Kishor Shinde		Added calculation for ChristmasWeekFlag
1.2			21/07/2022		Kishor Shinde		Removed calculation for ChristmasWeekFlag and added calculation for EventFlag
-- =============================================*/

CREATE PROCEDURE [dbo].[uspLoad_Dim_Calendardate]
AS
TRUNCATE TABLE  Dim.CalendarDate;

BEGIN
	INSERT INTO Dim.CalendarDate
	SELECT 
		 [LoadDateTime] = GETDATE()
		,FF.DateKey
		,FF.CalendarDate
		,FF.FiscalWeekEndDate
		,FF.FiscalWeekStartDate
		,MonthendDate = FiscalPeriodEndDate
		,FF.QuarterendDate
		,YearendDate = FiscalYearEndDate
		,IsYearEnd=CASE WHEN FF.CalendarDate = FF.FiscalYearEndDate THEN 1 ELSE 0 END 
		,IsQuarterEnd=CASE WHEN FF.CalendarDate = FF.QuarterendDate THEN 1 ELSE 0 END   
		,IsPeriodEnd=CASE WHEN FF.CalendarDate = FF.FiscalPeriodEndDate THEN 1 ELSE 0 END   
		,IsWeekendDay=CASE WHEN FF.CalendarDate = FF.FiscalWeekEndDate THEN 1 ELSE 0 END   
		,FF.DayOfMonth
		,DaysInMonth
		,FF.WeekOfMonth
		,FiscalPeriod
		,FiscalYearPeriod
		,FiscalQuarter
		,FiscalYear
		,FiscalWeekNumber
		,FiscalYearEndDate
		,PriorFiscalYear
		,YearOffset
		,QuarterOffset
		,PeriodOffset
		,WeekOffset
		,FiscalPeriodName
		,FiscalPeriodDisplay
		,CalendarYear
		,WeekYear
		,CalendarHalfYear
		,CalendarHalfYearName
		,CalendarQuarter
		,CalendarQuarterName
		,CalendarMonth
		,CalendarMonthName
		,CalendarMonthNameLong
		,CalendarMonthNameShort
		,CalendarWeekOfMonth
		,CalendarWeekOfYear
		,[Day]
		,DaySuffix
		,Weekday
		,WeekdayNameLong
		,WeekdayNameShort
		,CalendarDayOfYear
		,IsWeekendDay
		,IsHoliday
		,HolidayText
		,ISOWeekOfYear
		,CalendarPriorYear
		,CalendarDayOffset
		,CalendarWeekOffset
		,CalendarMonthOffset
		,CalendarQuarterOffset
		,CalendarYearOffset
		,WorkingDayNumber
		,WorkingDatePrior
		,WorkingDateNext
		,WorkingDayOffset
		,CalendarMMYYYY
		,CalendarMonthYear
		,CalendarFirstDayOfMonth
		,CalendarLastDayOfMonth
		,CalendarFirstDayOfQuarter
		,CalendarLastDayOfQuarter
		,CalendarFirstDayOfYear
		,CalendarLastDayOfYear
		,CalendarFirstDayOfNextMonth
		,CalendarFirstDayOfNextYear
		,WeekWorkingDay = NULL
		,WeekWorkingDayTotal = NULL
		,PeriodWorkingDay = NULL
		,PeriodWorkingDayTotal = NULL
		,YearWorkingDay = NULL
		,YearWorkingDayTotal = NULL
		
		/* adding these columns for caledar week */ -- 15/07 Kishor Shinde
		--,Calweekyear = WeekYear	
		--,CalWeek =  CASE WHEN LEN(CalendarWeekOfYear)=1 THEN CONCAT(CalendarYear, 0,CalendarWeekOfYear) ELSE CONCAT(CalendarYear,CalendarWeekOfYear) END 
		--,CalWeekcommenceDate  = Min(FF.CalendarDate) OVER (PARTITION BY WeekYear,CalendarWeekofYear  ORDER BY CalendarWeekOfYear )
		--,CalWeekEndDate  = MAX(FF.CalendarDate) OVER (PARTITION BY WeekYear,CalendarWeekofYear  ORDER BY CalendarWeekOfYear )
		,EventFlag = NULL

	FROM ODS.FiscalCalendar FF
	INNER JOIN ODS.Calendar G ON FF.DateKey = G.DateKey
	--WHERE G.CalendarYear>=2020	
END

-- Update Working Week Totals
;WITH WeekWorkingDays As
(
select  d.FiscalYear,d.FiscalWeek,min(d.WorkingDayNumber) as startworkingday,
max(d.WorkingDayNumber) as endworkingday,1+(max(d.WorkingDayNumber)-min(d.WorkingDayNumber)) as WeekWorkingDayTotal from Dim.CalendarDate d
group by d.FiscalYear,d.FiscalWeek
)
UPDATE F
SET F.WeekWorkingDay=1+(F.WorkingDayNumber-W.startworkingday),
 F.WeekWorkingDayTotal=W.WeekWorkingDayTotal
FROM Dim.CalendarDate F  INNER JOIN WeekWorkingDays W
ON F.FiscalYear=W.FiscalYear and F.FiscalWeek=W.FiscalWeek;

-- Update Working Period  Totals
WITH PeriodWorkingDays As
(
select  d.FiscalYear,d.FiscalPeriod,min(d.WorkingDayNumber) as startworkingday,
max(d.WorkingDayNumber) as endworkingday,1+(max(d.WorkingDayNumber)-min(d.WorkingDayNumber)) as PeriodWorkingDayTotal from Dim.CalendarDate d
group by d.FiscalYear,d.FiscalPeriod
)
UPDATE F
SET F.PeriodWorkingDay=1+(F.WorkingDayNumber-W.startworkingday),
 F.PeriodWorkingDayTotal=W.PeriodWorkingDayTotal
FROM Dim.CalendarDate F  INNER JOIN PeriodWorkingDays W
ON F.FiscalYear=W.FiscalYear and F.FiscalPeriod=W.FiscalPeriod;

-- Update Working Year  Totals
WITH YearWorkingDays As
(
select  d.FiscalYear,min(d.WorkingDayNumber) as startworkingday,
max(d.WorkingDayNumber) as endworkingday,1+(max(d.WorkingDayNumber)-min(d.WorkingDayNumber)) as YearWorkingDayTotal from Dim.CalendarDate d
group by d.FiscalYear
)
UPDATE F
SET F.YearWorkingDay=1+(F.WorkingDayNumber-W.startworkingday),
 F.YearWorkingDayTotal=W.YearWorkingDayTotal
FROM Dim.CalendarDate F  INNER JOIN YearWorkingDays W
ON F.FiscalYear=W.FiscalYear;

-- Update Working Day Offset  
WITH current_workday
AS (
	SELECT d.CalendarDate
		,d.WorkingDayNumber
	FROM Dim.CalendarDate d
	WHERE d.CalendarDayOffset = 0
	)
UPDATE g
SET g.workingdayoffset = d.workingdaynumber - g.workingdaynumber
FROM dim.CalendarDate g
CROSS JOIN current_workday d


--Update the ChristmasWeek flag											--19/07 Kishor Shinde  --21/07 Removed ChristmasWeekFlag calculation

--;WITH CristmasWeek
--AS (
--select fiscalyear, FiscalWeek from dim.CalendarDate
--where CalendarMonthName = 'December' and Day = '25')
--, ChristmasWeekDateKey
--AS (
--Select DateKey from dim.CalendarDate C
--inner join CristmasWeek CW on C.FiscalYear = CW.FiscalYear and C.FiscalWeek = CW.FiscalWeek)
--Update dim.CalendarDate
--set ChristmasWeekFlag = 1
--where DateKey in (select * from ChristmasWeekDateKey )



--Update the Event flag	for Christmas											--21/07 Kishor Shinde  

--For ChristmasWeek

;WITH ChristmasWeek
AS (
select fiscalyear, FiscalWeek as Xmas,
FiscalWeek-1 as XmasP1,
FiscalWeek-2 as XmasP2,
FiscalWeek-3 as XmasP3,
FiscalWeek-4 as XmasP4,
FiscalWeek-5 as XmasP5,
FiscalWeek-6 as XmasP6,
FiscalWeek+1 as XmasN1,
FiscalWeek+2 as XmasN2,
FiscalWeek+3 as XmasN3,
FiscalWeek+4 as XmasN4,
FiscalWeek+5 as XmasN5,
FiscalWeek+6 as XmasN6
from dim.CalendarDate
where CalendarMonthName = 'December' and Day = '25')
 
Update dim.CalendarDate

Set EventFlag = case when A.FiscalWeek = B.Xmas then 'Xmas'
				when A.FiscalWeek = B.XmasP1 then 'Xmas W-1'
				when A.FiscalWeek = B.XmasP2 then 'Xmas W-2'
				when A.FiscalWeek = B.XmasP3 then 'Xmas W-3'
				when A.FiscalWeek = B.XmasP4 then 'Xmas W-4'
				when A.FiscalWeek = B.XmasP5 then 'Xmas W-5'
				when A.FiscalWeek = B.XmasP6 then 'Xmas W-6'
				when A.FiscalWeek = B.XmasN1 then 'Xmas W+1'
				when A.FiscalWeek = B.XmasN2 then 'Xmas W+2'
				when A.FiscalWeek = B.XmasN3 then 'Xmas W+3'
				when A.FiscalWeek = B.XmasN4 then 'Xmas W+4'
				when A.FiscalWeek = B.XmasN5 then 'Xmas W+5'
				when A.FiscalWeek = B.XmasN6 then 'Xmas W+6'
				Else EventFlag END
		From dim.CalendarDate A
	inner join ChristmasWeek B on A.FiscalYear=B.FiscalYear

--For EasterWeek

;WITH EasterWeek
AS (
select fiscalyear, 
fiscalweek As Easter,
FiscalWeek-1 as EasterP1,
FiscalWeek-2 as EasterP2,
FiscalWeek-3 as EasterP3,
FiscalWeek-4 as EasterP4,
FiscalWeek-5 as EasterP5,
FiscalWeek-6 as EasterP6,
FiscalWeek+1 as EasterN1,
FiscalWeek+2 as EasterN2,
FiscalWeek+3 as EasterN3,
FiscalWeek+4 as EasterN4,
FiscalWeek+5 as EasterN5,
FiscalWeek+6 as EasterN6
from dim.CalendarDate
where calendardate in (select distinct DATEADD(dd, ROUND(DATEDIFF(dd, '1899-12-30', DATEFROMPARTS(CalendarYear, 4, 1)) / 7.0 + ((19.0 * (CalendarYear % 19) - 7) % 30) * 0.14, 0) * 7.0 - 6, -2) as Easter
 from dim.CalendarDate)
)

Update dim.CalendarDate

Set EventFlag = case when A.FiscalWeek = B.Easter then 'Easter'
				when A.FiscalWeek = B.EasterP1 then 'Easter W-1'
				when A.FiscalWeek = B.EasterP2 then 'Easter W-2'
				when A.FiscalWeek = B.EasterP3 then 'Easter W-3'
				when A.FiscalWeek = B.EasterP4 then 'Easter W-4'
				when A.FiscalWeek = B.EasterP5 then 'Easter W-5'
				when A.FiscalWeek = B.EasterP6 then 'Easter W-6'
				when A.FiscalWeek = B.EasterN1 then 'Easter W+1'
				when A.FiscalWeek = B.EasterN2 then 'Easter W+2'
				when A.FiscalWeek = B.EasterN3 then 'Easter W+3'
				when A.FiscalWeek = B.EasterN4 then 'Easter W+4'
				when A.FiscalWeek = B.EasterN5 then 'Easter W+5'
				when A.FiscalWeek = B.EasterN6 then 'Easter W+6'
				Else EventFlag END
		From dim.CalendarDate A
	inner join EasterWeek B on A.FiscalYear=B.FiscalYear
GO
