USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MATBASICDATA]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_ZXCMATBASICDATA>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MATBASICDATA]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_MATBASICDATA]  

insert into [SAPSTG].[ZXC_MATBASICDATA]   
 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
BaseUnit  = CASE WHEN NULLIF(cast(BaseUnit as nvarchar(3)),'') = 'BOT' THEN 'BT'
				WHEN NULLIF(cast(BaseUnit as nvarchar(3)),'') = 'KAR' THEN 'CAR'
				ELSE NULLIF(cast(BaseUnit as nvarchar(3)),'') end,
Created_On  =CASE WHEN ISDATE(Created_On) = 1 
                        		then CONVERT(datetime,Created_On, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),Created_On) 
                         		else null 	end ,
Created_On1  =NULLIF(cast(Created_On1 as nvarchar(10)),'') ,
Division  =NULLIF(cast(Division as nvarchar(2)),'') ,
IndustrySector  =NULLIF(cast(IndustrySector as nvarchar(1)),'') ,
IndustrySectorName  =NULLIF(cast(IndustrySectorName as nvarchar(25)),'') ,
ItemCategoryGroup  =NULLIF(cast(ItemCategoryGroup as nvarchar(4)),'') ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
Material  = case when isnumeric(Material) =1 
                                    		then 	cast(cast(Material as BIGINT) as nvarchar(40))
                                            else  cast(Material as nvarchar(40)) end,
MaterialGroup  =NULLIF(cast(MaterialGroup as nvarchar(9)),'') ,
MaterialGroupName  =NULLIF(cast(MaterialGroupName as nvarchar(20)),'') ,
MaterialIsBatchManaged  =case MaterialIsBatchManaged when 'X' then cast(1 as bit) else cast(0 as bit) end ,
MaterialName  = case when (isnumeric(MaterialName) =1   AND MaterialName != '.')
                                    		then 	cast(cast(MaterialName as BIGINT) as nvarchar(40))
                                            else  cast(MaterialName as nvarchar(40)) end,
MaterialType  =NULLIF(cast(MaterialType as nvarchar(4)),'') ,
MaterialTypeName  =NULLIF(cast(MaterialTypeName as nvarchar(25)),'') ,
ProductHierarchy  =NULLIF(cast(ProductHierarchy as nvarchar(18)),'') ,
Status  =NULLIF(cast(Status as nvarchar(2)),'') ,
TotalCount  =NULLIF(cast(TotalCount as int),'') ,
TotalShelfLife  =cast(TotalShelfLife as decimal(38,6)) ,
TransportationGroup  =NULLIF(cast(TransportationGroup as nvarchar(4)),'') ,
ScriptVersionDate = cast(getdate() as date)

FROM  SAPSTG.ZXCMATBASICDATA  WITH (NOLOCK) 

END
GO
