USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_ODS_FreightForecastPlanning]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Upsert_ODS_FreightForecastPlanning]
AS
TRUNCATE TABLE ODS.WeekLatestFreightForecast
INSERT INTO ODS.WeekLatestFreightForecast
SELECT 
	 right(Version,3)
	,52591000 as FreightAccount
	,left(FiscalYearWeek, 4) AS FiscalYear
	,right(FiscalYearWeek, 2) AS FiscalWeek
	,Customer
	,Product
	,FreightRate = convert(FLOAT, FreightRate)
	,FreightCost = convert(FLOAT, FreightCost)
	,FreightFuelLevy = NULL
	,FuelLevyValue = convert(FLOAT, FuelLevyValue)
	,SalesQuantity = convert(FLOAT, SalesQuantity)
	,LoadDate
FROM [Stg].[SAC_FreightPlanning] sac
WHERE Customer <> '.'
	AND Product <> '.'

 
GO
