USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_WeekSalesSAP_FullLoad]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/02/2022>
-- Description:	<Full LOAD of Fact.WeekSalesSAP>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_Fact_WeekSalesSAP_FullLoad]
AS

--Delete existing data from Fact table

TRUNCATE TABLE [Fact].[WeekSalesSAP]

--Load data in Fact table
BEGIN

Insert into [FACT].[WeekSalesSAP]
		(LoadDateTime
		,[FiscalYear]
	  ,[FiscalPeriod]
      ,[WeekendDate]
      ,[FiscalYearWeekIntKey]
      ,[CustomerNo]
      ,[ProductNo]
      ,[SalesQuantity]
      ,[GrossSalesValue]
      ,[InvoiceDiscount]
      ,[NetInvoicevalue]
      ,[DeferredCaseDiscount]
      ,[DeferredTermsDiscount]
      ,[DeferredOtherDiscount]
      ,[TotalDeferredDiscount]
      ,[CostOfGoodSold]
      ,[GrossMargin]
      ,[FreightOutbound])
(Select getdate(),
d.FiscalYear,
d.FiscalPeriod,
d.WeekendDate,
CAST(CAST(d.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(d.FiscalWeek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey,
coalesce(s.CustomerNo,'1034248') as CustomerNo , -- Mulgrave as default Customer
coalesce(s.ProductNo,'5000002') as ProductNo  ,-- Default Item 5000002
sum(SalesQuantity) 	as SalesQuantity,
sum(GrossSalesValue) as GrossSalesValue,
-1* sum(InvoiceDiscount) as InvoiceDiscount,
sum(GrossSalesValue)-sum(InvoiceDiscount) as NetInvoicevalue, 
-1*sum(DeferredCaseDiscount) as DeferredCaseDiscount,
-1*sum(DeferredTermsDiscount) as DeferredTermsDiscount,
-1*sum(DeferredOtherDiscount) as DeferredOtherDiscount,
-1*sum(DeferredCaseDiscount)+ sum(DeferredTermsDiscount)+ sum(DeferredOtherDiscount) as TotalDeferredDiscount,
-1*sum(CostOfGoodSold) as CostOfGoodSold,
sum(GrossSalesValue)-sum(InvoiceDiscount) 
- (sum(DeferredCaseDiscount)+ sum(DeferredTermsDiscount)+ sum(DeferredOtherDiscount))
- sum(CostOfGoodSold) as GrossMargin,
-1*sum(FreightOutbound) as FreightOutbound
from 
(Select * from ODS.UniversalJournalSales_CurrentFY 
UNION ALL Select * from ODS.UniversalJournalSales_PreviousFY) s
inner join dim.CalendarDate d on s.SalesDate=convert(date,d.CalendarDate)
--WHERE s.SalesDate>='Feb 25,2019' -- Start of SAP

GROUP BY d.FiscalYear,d.FiscalPeriod ,d.WeekendDate
,CustomerNo,s.ProductNo, CAST(CAST(d.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(d.FiscalWeek AS varchar(2)), 2) AS int))

END
GO
