USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_SUPPMASTER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_BPTAXNMBR>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_SUPPMASTER]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_SUPPMASTER]  

insert into [SAPSTG].[ZXC_SUPPMASTER]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AuthorizationGroup  =NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
IsSupplierDeleted  =case IsSupplierDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
PurchasingIsBlocked  =case PurchasingIsBlocked when 'X' then cast(1 as bit) else cast(0 as bit) end ,
Supplier  = case when isnumeric(Supplier) =1 
                               						then cast(cast(Supplier as BIGINT) as nvarchar(10)) 
                                    				else  cast(Supplier as nvarchar(10)) end,
SupplierName  =NULLIF(cast(SupplierName as nvarchar(35)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCSUPPMASTER  WITH (NOLOCK) 

END
GO
