USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_BILLOFOPSHDR]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_BILLOFOPSHDR>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_BILLOFOPSHDR]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_BILLOFOPSHEADER]  

insert into [SAPSTG].[ZXC_BILLOFOPSHEADER]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
BillOfOperationsDesc  =NULLIF(cast(BillOfOperationsDesc as nvarchar(40)),'') ,
--BillOfOperationsGroup  =NULLIF(cast(BillOfOperationsGroup as nvarchar(8)),'') ,
BillOfOperationsGroup = case when ISNUMERIC([BillOfOperationsGroup])= 1
	THEN CAST(CAST(BillOfOperationsGroup AS BIGINT) AS nvarchar(10))
	ELSE CAST(BillOfOperationsGroup AS NVARCHAR(10)) END,
BillOfOperationsStatus  =NULLIF(cast(BillOfOperationsStatus as nvarchar(3)),'') ,
BillOfOperationsType  =NULLIF(cast(BillOfOperationsType as nvarchar(1)),'') ,
BillOfOperationsUnit  =NULLIF(cast(BillOfOperationsUnit as nvarchar(3)),'') ,
BillOfOperationsUsage  =NULLIF(cast(BillOfOperationsUsage as nvarchar(3)),'') ,
BillOfOperationsVariant  = case when isnumeric(BillOfOperationsVariant) =1 
                                    		then 	NULLIF(cast(cast(BillOfOperationsVariant as INT) as nvarchar(2)),'')
                                            else  NULLIF(cast(BillOfOperationsVariant as nvarchar(2)),'') end,
BillOfOperationsVersion  =NULLIF(cast(BillOfOperationsVersion as nvarchar(4)),'') ,
BOOInternalVersionCounter  =NULLIF(cast(BOOInternalVersionCounter as nvarchar(8)),'') ,
ChangeNumber  =NULLIF(cast(ChangeNumber as nvarchar(12)),'') ,
CreatedByUser  =NULLIF(cast(CreatedByUser as nvarchar(12)),'') ,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CreationDate) 
                         		else null 	end ,
InspectionLotDynamicLevel  =NULLIF(cast(InspectionLotDynamicLevel as nvarchar(1)),'') ,
InspectionPartialLot  =NULLIF(cast(InspectionPartialLot as nvarchar(1)),'') ,
InspExternalNumberingOfValues  =NULLIF(cast(InspExternalNumberingOfValues as nvarchar(1)),'') ,
InspLotDynamicRule  =NULLIF(cast(InspLotDynamicRule as nvarchar(3)),'') ,
InspSubsetFieldCombination  =NULLIF(cast(InspSubsetFieldCombination as nvarchar(3)),'') ,
IsDeleted  =case IsDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsImplicitlyDeleted  =case IsImplicitlyDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsMarkedForDeletion  =case IsMarkedForDeletion when 'X' then cast(1 as bit) else cast(0 as bit) end ,
LastChangeDate  =CASE WHEN ISDATE(LastChangeDate) = 1 
                        		then CONVERT(datetime,LastChangeDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LastChangeDate) 
                         		else null 	end ,
LastChangedByUser  =NULLIF(cast(LastChangedByUser as nvarchar(12)),'') ,
LastReorganizationDate  =CASE WHEN ISDATE(LastReorganizationDate) = 1 
                        		then CONVERT(datetime,LastReorganizationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LastReorganizationDate) 
                         		else null 	end ,
LastUsageDate  =CASE WHEN ISDATE(LastUsageDate) = 1 
                        		then CONVERT(datetime,LastUsageDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LastUsageDate) 
                         		else null 	end ,
LineHierarchyInternalID  =NULLIF(cast(LineHierarchyInternalID as nvarchar(8)),'') ,
MaintenanceStrategy  =NULLIF(cast(MaintenanceStrategy as nvarchar(6)),'') ,
MaximumLotSizeQuantity  =cast(MaximumLotSizeQuantity as decimal(38,6)) ,
MinimumLotSizeQuantity  =cast(MinimumLotSizeQuantity as decimal(38,6)) ,
NumberOfUsages  =cast(NumberOfUsages as decimal(38,6)) ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
ReplacedBillOfOperations  =NULLIF(cast(ReplacedBillOfOperations as nvarchar(20)),'') ,
ResponsiblePlannerGroup  =NULLIF(cast(ResponsiblePlannerGroup as nvarchar(3)),'') ,
SmplDrawingProcedure  =NULLIF(cast(SmplDrawingProcedure as nvarchar(8)),'') ,
SmplDrawingProcedureVersion  =case when isnumeric(SmplDrawingProcedureVersion) =1 
                                    		then 	NULLIF(cast(cast(SmplDrawingProcedureVersion as INT) as nvarchar(8)),'')
                                            else  NULLIF(cast(SmplDrawingProcedureVersion as nvarchar(8)),'') end,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
WorkCenterInternalID  =NULLIF(cast(WorkCenterInternalID as nvarchar(8)),'') ,
WorkCenterTypeCode  =NULLIF(cast(WorkCenterTypeCode as nvarchar(2)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM [SAPSTG].[ZXCBILLOFOPSHDR]  
END
GO
