USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MRPCONTROLLER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_ADDMATGRP5TXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MRPCONTROLLER]

AS
BEGIN  
	
TRUNCATE TABLE [SAPSTG].[ZXC_MRPCONTROLLER]

insert into [SAPSTG].[ZXC_MRPCONTROLLER]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
BusinessArea  =NULLIF(cast(BusinessArea as nvarchar(4)),'') ,
MRPController  =NULLIF(cast(MRPController as nvarchar(3)),'') ,
MRPControllerName  =NULLIF(cast(MRPControllerName as nvarchar(18)),'') ,
MRPControllerPhoneNumber  =NULLIF(cast(MRPControllerPhoneNumber as nvarchar(12)),'') ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
ProfitCenter  = case when isnumeric(ProfitCenter) =1 
                               						then NULLIF(cast(cast(ProfitCenter as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(ProfitCenter as nvarchar(10)),'') end,
PurchasingGroup  =NULLIF(cast(PurchasingGroup as nvarchar(3)),'') ,
UserID  =NULLIF(cast(UserID as nvarchar(70)),'') ,
ScriptVersionDate = cast(getdate() as date)
from SAPSTG.ZXCMRPCONTROLLER

END
GO
