USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_FACT_Workforce_legacy]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insert_FACT_Workforce_legacy]    
AS    
BEGIN    
    -- Declare variables for holding JSON    
    DECLARE @json NVARCHAR(MAX);    
    
    -- Fetch the JSON values from the staging table    
    SELECT @json = Json_Values FROM stg.Workforce_JSON;    
    
    -- Truncate the Fact.Workforce table    
    TRUNCATE TABLE Fact.Workforce;    
    
    -- Insert data into Fact.Workforce using OPENJSON directly    
    INSERT INTO Fact.Workforce (
        EmployeeId, EmployeeStatus, DateTerminated, DefaultCostCentres,    
        Department1, Department2, EmployeeType, PayType, DateHired,    
        DateStarted, CostCentres1, Gender, Age, DaysEmployed,     
        TerminationReason, JobGrade1, PhysicalLocation1    
    )    
    SELECT 
        TRY_CONVERT(INT, REPLACE([Employee Id], ',', '')) AS EmployeeId, -- Remove commas and convert to INT    
        [Employee Status] AS EmployeeStatus,    
        TRY_PARSE(NULLIF(LTRIM(RTRIM([Date Terminated])), '') AS DATE USING 'en-GB') AS DateTerminated, -- Parse DD-MM-YYYY format    
        [Default Cost Centres] AS DefaultCostCentres,    
        [Department(1)] AS Department1,    
        [Department(2)] AS Department2,    
        [Employee Type] AS EmployeeType,    
        [Pay Type] AS PayType,    
        TRY_PARSE(NULLIF(LTRIM(RTRIM([Date Hired])), '') AS DATE USING 'en-GB') AS DateHired, -- Parse DD-MM-YYYY format    
        TRY_PARSE(NULLIF(LTRIM(RTRIM([Date Started])), '') AS DATE USING 'en-GB') AS DateStarted, -- Parse DD-MM-YYYY format    
        [Cost Centres(1)] AS CostCentres1,    
        [Gender] AS Gender,    
        TRY_CONVERT(INT, REPLACE([Age], ',', '')) AS Age, -- Remove commas and convert to INT    
        TRY_CONVERT(INT, REPLACE([Days Employed], ',', '')) AS DaysEmployed, -- Remove commas and convert to INT    
        [Termination Reason] AS TerminationReason,    
        [Job Grade(1)] AS JobGrade1,    
        [Physical Location(1)] AS PhysicalLocation1    
    FROM OPENJSON(@json) 
    WITH (
        [Employee Id] NVARCHAR(50) '$."Employee Id"',    
        [Employee Status] VARCHAR(20) '$."Employee Status"',    
        [Date Terminated] VARCHAR(20) '$."Date Terminated"',    
        [Default Cost Centres] VARCHAR(50) '$."Default Cost Centres"',    
        [Department(1)] VARCHAR(50) '$."Department(1)"',    
        [Department(2)] VARCHAR(50) '$."Department(2)"',    
        [Employee Type] VARCHAR(50) '$."Employee Type"',    
        [Pay Type] VARCHAR(50) '$."Pay Type"',    
        [Date Hired] VARCHAR(20) '$."Date Hired"',    
        [Date Started] VARCHAR(20) '$."Date Started"',    
        [Cost Centres(1)] VARCHAR(50) '$."Cost Centres(1)"',    
        [Gender] CHAR(1) '$."Gender"',    
        [Age] NVARCHAR(50) '$."Age"',    
        [Days Employed] NVARCHAR(50) '$."Days Employed"',    
        [Termination Reason] VARCHAR(100) '$."Termination Reason"',    
        [Job Grade(1)] VARCHAR(50) '$."Job Grade(1)"',    
        [Physical Location(1)] VARCHAR(50) '$."Physical Location(1)"'    
    );    
END;
GO
