USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_BudgetSalesData]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <14/06/2022>
-- Description:	<Insert data in Ods.BudgetSalesData>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_BudgetSalesData]
AS

Truncate table ODS.BudgetSalesData;


WITH
  BudgetSalesTransformed as
  (
SELECT * FROM
 
(SELECT  
	concat(left(Months_Weeksid,4), ' ' , try_convert(float, right(Months_Weeksid,2))) as FiscalYearWeekDisplay,
	replace(Months_Weeksid,'_','') as FiscalYearWeekIntKey,
	left(Months_Weeksid,4) as FiscalYear,
	try_convert(float, right(Months_Weeksid,2)) as FiscalWeek,
	Customerid as CustomerNo,
	Productsid as ProductNo,
	sales_accountid,
	try_convert(float, value) as Value
FROM 
	sapstg.BudgetSalesdata
)
AS StudentTable
PIVOT(
	SUM(value)
	FOR sales_accountid IN ([SALES_QTY],[SALES_NIV],[SALES_OID],[SALES_DCD],[SALES_DTD],[SALES_DOD],[SALES_COGS],[SALES_GM],[SALES_FRT],
SALES_FREIGHT_QTY,
SALES_FREIGHT_RATE,
SALES_GSV,
SALES_NSV,
SALES_UNITPRICE)
) AS SchoolPivot
)


INSERT INTO [ODS].[BudgetSalesData]
           (LoadDateTime
			,[FiscalYearWeekDisplay]
           ,[FiscalYearWeekIntKey]
           ,[FiscalYear]
           ,[FiscalWeek]
           ,[CustomerNo]
           ,[ProductNo]
           ,[BudgetSalesQuantity]
           ,[BudgetNetInvoiceValue]
           ,[BudgetInvoiceDiscount]
           ,[BudgetCaseDiscount]
           ,[BudgetTermsDiscount]
           ,[BudgetOtherDiscount]
           ,[BudgetCOGS]
           ,[BudgetMaterialCosts]
           ,[BudgetOperationCosts]
           ,[BudgetGrossMargin]
           ,[BudgetBaselineQuantity]
           ,[BudgetIncrementalQuantity]
           ,[BudgetFreightOutbound]
           ,[BudgetFreightQuantity]
           ,[BudgetFreightCaseRate]
		   ,[BudgetFreightFuelLevy]
		   ,[BudgetFreightGLAdjustment]
		   ,Source

            )
Select Getdate()
			,[FiscalYearWeekDisplay]
           ,[FiscalYearWeekIntKey]
           ,[FiscalYear]
           ,[FiscalWeek]
           ,[CustomerNo]
           ,[ProductNo]
           ,[BudgetSalesQuantity] = cast (isnull([SALES_QTY],0) as float)
           ,[BudgetNetInvoiceValue] = cast (isnull([SALES_NIV],0) as float) 
           ,[BudgetInvoiceDiscount] = cast (isnull([SALES_OID],0) as float) 
           ,[BudgetCaseDiscount] = cast (isnull([SALES_DCD],0) as float)
           ,[BudgetTermsDiscount] = cast (isnull([SALES_DTD],0) as float)
           ,[BudgetOtherDiscount] = cast (isnull([SALES_DOD],0) as float)
           ,[BudgetCOGS] = cast (isnull([SALES_COGS],0) as float)
           ,[BudgetMaterialCosts] = 0
           ,[BudgetOperationCosts] = 0
           ,[BudgetGrossMargin] =cast (isnull([SALES_NIV],0) as float)
    							+ cast (isnull([SALES_DCD],0) as float)
                                + cast (isnull([SALES_DTD],0) as float)
                                + cast (isnull([SALES_DOD],0) as float)
                                + cast (isnull([SALES_COGS],0) as float)
		   --,[BudgetGrossMargin] = cast (isnull([SALES_GM],0) as float)
           ,[BudgetBaselineQuantity]  = 0
           ,[BudgetIncrementalQuantity]  = 0
           ,[BudgetFreightOutbound] = cast (isnull([SALES_FRT],0) as float)
           ,[BudgetFreightQuantity] = cast (isnull([SALES_FREIGHT_QTY],0) as float)
           ,[BudgetFreightCaseRate] = -1 * cast (isnull([SALES_FREIGHT_RATE],0) as float)
		   ,[BudgetFreightFuelLevy] = 0
		   ,[BudgetFreightGLAdjustment] = 0
		   ,Source = concat('MOD ',convert(varchar, getdate(), 3))
From BudgetSalesTransformed


GO
