USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_SAPCostCompGroupByPeriod]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_DIM_SAPCostCompGroupByPeriod]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

--drop table


IF OBJECT_ID('DIM.tempSAPcostcompbyperiod', 'U') IS NOT NULL
    Drop table DIM.tempSAPcostcompbyperiod;




With PERIOD as ( select c1.FiscalYearPeriod,c1.fiscalyear,c1.DateKey as MonthStartDate,c1.MonthendDate ,c2.DateKey  as YearStartDate from DIM.CalendarDate c1 left join DIM.CalendarDate c2 
 on c1.FiscalYear = c2.FiscalYear
 and c2.FiscalPeriod = 1 and c2.DayOfMonth = 1
 where c1.FiscalYear >=2021 and c1.DayOfMonth = 1), -- get period list and the 1st day of the period
 mat_period as (select a.*,b.ProductNo,b.ProductNoWithDescription,b.SignalDescription from PERIOD a , DIM.PRODUCT b)
 --select * from  mat_period order by ProductNo
 , -- Cartesian product to get all period&material combination.
 
 output as (select  a.FiscalYearPeriod,a.ProductNo,c.CostingType,c.CostingVersion,c.CostingVariant,c.CostingStatus,max(b.KADKY) as CostingDate  from  mat_period a join [SAPSTG].[KEKO] b 
 on a.ProductNo = REPLACE(LTRIM(REPLACE(b.MATNR,'0',' ')),' ','0') 
 and a.MonthendDate >= b.KADAT 
 and a.MonthendDate <= b.BIDAT 
 --and a.MonthStartDate >=
 and b.WERKS in ('3000','3100')
 join [Conf].[SAPCostComponentConfig] c
 on b.KALKA = c.CostingType
 and b.TVERS = c.CostingVersion
 and b.KLVAR = c.CostingVariant
 and b.FEH_STA = c.CostingStatus
 and a.FiscalYearPeriod = c.YearPeriod

 group by a.FiscalYearPeriod,a.ProductNo,c.CostingType,c.CostingVersion,c.CostingVariant,c.CostingStatus
 )

  select * into DIM.tempSAPcostcompbyperiod from output ;

 --start of hardcode material 1027 status to VO------ Comment out on 01/07/2024 by BC
  --update DIM.tempSAPcostcompbyperiod
  --set CostingStatus = 'VO'
  --where FiscalYearPeriod between '202501' and '202512' and ProductNo = 1027;
 --End of hardcode material 1027 status to VO------ Comment out on 01/07/2024 by BC


IF OBJECT_ID('[DIM].[SAPCostCompGroupByPeriod]', 'U') IS NOT NULL
DROP TABLE [DIM].[SAPCostCompGroupByPeriod];

With 
 cost_by_group as (
SELECT 
      a.[Product]
      ,a.[Plant]
	  ,a.[LotSize]
      ,a.[CostLotUnit]
      ,a.[CostingDate]
      ,a.[CostingStatus]
      ,a.[CostingVariant]
      ,a.[CompItemCate]   
	  ,a.[CompActType]   
      ,a.[CompUnit]
      ,a.[CompAssmb]
	  ,coalesce(b.ItemTypeName,'*Overhead&Lab') as CompType
	  ,coalesce(b.ItemGroupName,CompActType)	as CompGroup 
	  ,sum(a.[CompCost]) as CompCost
      ,sum(a.[CompQty]) as CompQty
  FROM [BI_PROD_POST_SAP].[DIM].[SAPCostComponent] a left join  [Bulla_BI_Prod].[Dim].[Item] b 
  on a.Component = b.ItemNo 
  where 
  a.[CompAdditiveCost] = ''
  and a.compassmb = ''
  and a.[Plant] in ('3000','3100')
  group by 
      [CostingDate]
      ,[CompItemCate]
      ,[CompActType]
      ,[CompUnit]
      ,[CompAssmb]     
      ,[Product]
      ,a.[Plant]
	  ,[LotSize]
      ,[CostLotUnit]
      ,[CostingDate]
      ,[CostingStatus]
      ,[CostingVariant]
	  ,b.ItemTypeName
	  ,b.ItemGroupName 
	  )

select  a.ProductNo,a.FiscalYearPeriod,b.*
into [DIM].[SAPCostCompGroupByPeriod]
from 
--output
DIM.tempSAPcostcompbyperiod
 a left join  cost_by_group b 
on a.ProductNo = b.Product
and a.[CostingDate] = b.[CostingDate]
and a.[CostingStatus] = b.[CostingStatus]
and a.[CostingVariant] = b.[CostingVariant] 
--where a.ProductNo = '1027' 
order by ProductNo, FiscalYearPeriod; 

END
GO
