USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_UniversalJournalSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>Current_FY
-- Create date: <19/01/2022>
-- Description:	<LOAD ODS.UniversalJournalSales_CurrentFY and ODS.UniversalJournalSales_PreviousFY>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_UniversalJournalSales]
AS

INSERT into  [ODS].[UniversalJournalSales_CurrentFY] 
([LoadDateTime]
	  ,[CompanyCode]
      ,[SalesOrder]
      ,[RefrenceDocumentNumber]
      ,[AccountingDocumentNumber]
      ,[LedgerinGeneralLedgerAccounting]
      ,[SixCharacterPostingItemforLedger]
      ,[CustomerNo]
      ,[BillToParty]
      ,[ShipToParty]
      ,[AccountNumberOfVendorOrCreditor]
      ,[DocumentType]
      ,[SalesDate]
      ,[DateOnWhichServicesRendered]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueInLocalCurrency]
      ,[LocalCurrency]
      ,[ValueInGroupCurrency]
      ,[ValueInTransactionCurrency]
      ,[CurrencyKey]
      ,[ChartOfAccounts]
      ,[CostCentre]
      ,[AccountNo]
      ,[GLAccountName]
      ,[CustomerGroup]
      ,[ItemNumberinSalesOrder]
      ,[MaterialGroup]
      ,[ProductNo]
      ,[Quantity]
      ,[BaseUOM]
      ,[UOMforValuationQuantity]
      ,[Plant]
      ,[UserName]
      ,[BusinessTransactionCO]
      ,[ObjectClass]
      ,[IsQTY]
      ,[IsGSV]
      ,[IsOID]
      ,[IsDCD]
      ,[IsDTD]
      ,[IsDOD]
      ,[IsCOGS]
      ,[IsFRT]
      ,[Multiplier]
      ,[SalesQuantity]
      ,[GrossSalesValue]
      ,[InvoiceDiscount]
      ,[DeferredCaseDiscount]
      ,[DeferredTermsDiscount]
      ,[DeferredOtherDiscount]
      ,[CostOfGoodSold]
      ,[FreightOutbound]
      ,[TimeStampinShortForm])
Select Source.[LoadDateTime]
	  ,Source.[CompanyCode]
      ,Source.[SalesOrder]
      ,Source.[RefrenceDocumentNumber]
      ,Source.[AccountingDocumentNumber]
      ,Source.[LedgerinGeneralLedgerAccounting]
      ,Source.[SixCharacterPostingItemforLedger]
      ,Source.[CustomerNo]
      ,Source.[BillToParty]
      ,Source.[ShipToParty]
      ,Source.[AccountNumberOfVendorOrCreditor]
      ,Source.[DocumentType]
      ,Source.[SalesDate]
      ,Source.[DateOnWhichServicesRendered]
      ,Source.[FiscalYear]
      ,Source.[PostingPeriod]
      ,Source.[ValueInLocalCurrency]
      ,Source.[LocalCurrency]
      ,Source.[ValueInGroupCurrency]
      ,Source.[ValueInTransactionCurrency]
      ,Source.[CurrencyKey]
      ,Source.[ChartOfAccounts]
      ,Source.[CostCentre]
      ,Source.[AccountNo]
      ,Source.[GLAccountName]
      ,Source.[CustomerGroup]
      ,Source.[ItemNumberinSalesOrder]
      ,Source.[MaterialGroup]
      ,Source.[ProductNo]
      ,Source.[Quantity]
      ,Source.[BaseUOM]
      ,Source.[UOMforValuationQuantity]
      ,Source.[Plant]
      ,Source.[UserName]
      ,Source.[BusinessTransactionCO]
      ,Source.[ObjectClass]
      ,Source.[IsQTY]
      ,Source.[IsGSV]
      ,Source.[IsOID]
      ,Source.[IsDCD]
      ,Source.[IsDTD]
      ,Source.[IsDOD]
      ,Source.[IsCOGS]
      ,Source.[IsFRT]
      ,Source.[Multiplier]
      ,Source.[SalesQuantity]
      ,Source.[GrossSalesValue]
      ,Source.[InvoiceDiscount]
      ,Source.[DeferredCaseDiscount]
      ,Source.[DeferredTermsDiscount]
      ,Source.[DeferredOtherDiscount]
      ,Source.[CostOfGoodSold]
      ,Source.[FreightOutbound]
      ,Source.[TimeStampinShortForm]
FROM
(SELECT j.[LoadDateTime],
j.[CompanyCode]				AS CompanyCode,
j.[SalesOrderNumber]		AS SalesOrder,
j.[ReferenceDocumentNumber]	AS RefrenceDocumentNumber,
j.[AccountingDocumentNumber]AS	AccountingDocumentNumber	,
j.LedgerinGeneralLedgerAccounting AS LedgerinGeneralLedgerAccounting,
j.SixCharacterPostingItemforLedger AS SixCharacterPostingItemforLedger,
COALESCE(COALESCE(COALESCE(COALESCE(j.[CustomerNumber],j.NationalCustomerCode) ,j.ChannelCustomerCode),j.SubChannelCode),j.ChannelCode)  AS CustomerNo ,
j.[Bill-ToParty]			AS BillToParty,
j.[Ship-ToParty]			AS ShipToParty,
j.[AccountNumberOfVendorOrCreditor]	AS AccountNumberOfVendorOrCreditor,
j.[DocumentType]			AS DocumentType,
--t.DocumentTypeName		AS DocumentTypeName,		
cast(j.[PostingDateintheDocument] as DATE)	AS SalesDate,
j.[DateOnWhichServicesRendered]		AS DateOnWhichServicesRendered,
j.[FiscalYear]				AS FiscalYear,
j.[PostingPeriod]			AS PostingPeriod,
j.[ValueInLocalCurrency]	AS ValueInLocalCurrency,
j.[LocalCurrency]			AS LocalCurrency,
j.[ValueInGroupCurrency]	AS ValueInGroupCurrency,
j.[ValueInTransactionCurrency] AS ValueInTransactionCurrency,
j.[CurrencyKey]				AS CurrencyKey,
j.[ChartOfAccounts]			AS ChartOfAccounts,
j.[CostCenter]				AS CostCentre,
j.[AccountNumber]			AS AccountNo,
m.GLAccountName				AS GLAccountName,
j.[CustomerGroup]			AS CustomerGroup,
j.[ItemNumberinSalesOrder]	AS ItemNumberinSalesOrder,
j.[MaterialGroup]			AS MaterialGroup,			
COALESCE(COALESCE(COALESCE(COALESCE(j.[ProductforProfitabilityAnalysis], 'PGC'+j.PromotionGroupCode),'SFM'+j.SubFamilyCode) ,'FAM'+j.FamilyCode ) ,'CAT'+j.CategoryCode)	AS ProductNo				,	
j.[Quantity]				AS Quantity,
j.[BaseUnitofMeasure]		AS BaseUOM,
j.[UnitofMeasureforValuationQuantity]	AS UOMforValuationQuantity,
j.[Plant]					AS Plant,
j.[UserName]				AS UserName,
j.[BusinessTransactionCO]	AS BusinessTransactionCO,
j.[ObjectClass]				AS ObjectClass,
m.IsQTY,
m.IsGSV,
m.IsOID,
m.IsDCD,
m.IsDTD,
m.IsDOD,
m.IsCOGS,
m.IsFRT,
m.Multiplier,
(j.Quantity * m.IsQty * m.Multiplier)	AS SalesQuantity,
(j.[ValueInLocalCurrency] * m.IsGSV * m.Multiplier)	AS GrossSalesValue,
(j.[ValueInLocalCurrency] * m.IsOID * m.Multiplier)	AS InvoiceDiscount,
(j.[ValueInLocalCurrency] * m.IsDCD * m.Multiplier)	AS DeferredCaseDiscount,
(j.[ValueInLocalCurrency] * m.IsDTD * m.Multiplier)	AS DeferredTermsDiscount,
(j.[ValueInLocalCurrency] * m.IsDOD * m.Multiplier)	AS DeferredOtherDiscount,
(j.[ValueInLocalCurrency] * m.IsCOGS * m.Multiplier)AS CostOfGoodSold,
(j.[ValueInLocalCurrency] * m.IsFRT * m.Multiplier) AS FreightOutbound,
j.TimeStampinShortForm as TimeStampinShortForm
FROM [ODS].[UniversalJournal_CurrentFY] j WITH (NOLOCK)
INNER JOIN SAPSTG.GLAccountReportingMatrix m WITH (NOLOCK) ON j.[AccountNumber]=m.GLAccountNo
WHERE 
j.[CompanyCode]='3010'				-- Only Bulla Company
and j.[ChartOfAccounts]='YCOA' 		-- Only Bulla COA
and j.ObjectClass<>'OCOST'			-- Only PROFT
and j.TimeStampinShortForm > (select max (TimeStampinShortForm)-2 from [ODS].[UniversalJournal_CurrentFY])  --get the data which is updated in last 2 days
) AS SOURCE
LEFT JOIN [ODS].[UniversalJournalSales_CurrentFY] AS Target
	ON 	Target.LedgerinGeneralLedgerAccounting = SOURCE .LedgerinGeneralLedgerAccounting
		AND Target.CompanyCode = Source.CompanyCode
		AND Target.FiscalYear = Source.FiscalYear
		AND Target.AccountingDocumentNumber = Source.AccountingDocumentNumber
		AND Target.SixCharacterPostingItemforLedger = Source.SixCharacterPostingItemforLedger
		where Target.AccountingDocumentNumber is null

----------------------------------------------------------------------------------------------------------------
--Insert previous Fiscal Year records in UniversalJournalSales_PreviousFY -- 29-JUN-2022- John Ginete - Removed to avoid duplicates
	  --Insert into ODS.UniversalJournalSales_PreviousFY
	  --select * FROM ODS.UniversalJournalSales_CurrentFY
	  --Where FiscalYear < (select max(FiscalYear) from ods.UniversalJournalSales_CurrentFY)

--Delete previous fiscal year data from Current FY tables							--27/06 Kishor S -- Commented this Delete part to avoid deletion of current year data
	  -- DELETE FROM ODS.UniversalJournal_CurrentFY
	  --where FISCALYEAR < (select max(FiscalYear) from ods.UniversalJournal_CurrentFY)

	  --DELETE FROM ODS.UniversalJournalSales_CurrentFY
	  --where FISCALYEAR < (select max(FiscalYear) from ods.UniversalJournalSales_CurrentFY)

GO
