USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[UsageTracking_ODS_UsageArchTabular]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[UsageTracking_ODS_UsageArchTabular]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO ODS.UsageArchTabular
		(
		Source
		, Username
		, LoginTime
		, ReportName
		)
	SELECT Source
		, Username
		, LoginTime
		, ReportName
	FROM ODS.UsageTabular
	where loaddatetime > (select max(loaddatetime) from ods.UsageArchTabular)
	and cast(logintime as date) <dateadd(yyyy,-2,getdate())
	and cast(logintime as date)  > (select max(cast(logintime as date)) from ods.usageArchtabular) 

END
GO
