USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[GetActiveJobs]    Script Date: 19/11/2025 6:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- populate data mart tables with details on the currently executing SQL Agent jobs
CREATE   PROCEDURE [dbo].[GetActiveJobs]
AS
BEGIN
	DECLARE 
		@SESSION_ID	INT
	,	@REFRESH_KEY			INT = NEXT VALUE FOR [dbo].[RefreshKey]
	,	@REFRESH_DATE			SMALLDATETIME = CONVERT(SMALLDATETIME, GETDATE());

	SELECT
		@SESSION_ID = MAX(session_id)
	FROM msdb.dbo.syssessions;

	;WITH CTE_JOBS_RUNNING AS (
		SELECT
		 	a.[job_id]
		,	a.[start_execution_date]
		,	a.[last_executed_step_id]
		,	a.[last_executed_step_date]
		FROM msdb.dbo.sysjobactivity a
		LEFT JOIN [dbo].[ExcludeActiveJobs] e
		ON e.[job_id] = a.[job_id]
		WHERE a.session_id = @SESSION_ID
		AND a.start_execution_date IS NOT NULL
		AND stop_execution_date IS NULL
		AND e.[job_id] IS NULL
	)

	--
	--SELECT * FROM CTE_JOBS_RUNNING
	--

	, CTE_JOB_STEPS_REMAINING_DURATION AS (
		SELECT
		 	a.[job_id]
		,	SUM(d.[avg_duration_seconds]) [job_step_average_duration]
		FROM CTE_JOBS_RUNNING a
		LEFT JOIN [dbo].[JobStepAverageDuration] d
		ON d.[job_id] = a.[job_id]
		WHERE d.[step_id] > COALESCE(a.[last_executed_step_id], 0)
		GROUP BY a.[job_id]
	)

	--
	--SELECT * FROM CTE_JOB_STEPS_REMAINING_DURATION
	--

	INSERT [dbo].[ActiveJobs] (
		[RefreshKey]
	,	[job_id]
	,	[CurrentDuration]
	,	[ExecutionCount]
	,	[AverageDuration]
	,	[EstimatedCompletion]
	)
	SELECT
		@REFRESH_KEY
	,	a.[job_id]	
	,	DATEDIFF(second, a.[start_execution_date], GETDATE())	AS [current_duration]
	,	j.[execution_count]
	,	d.[job_step_average_duration]	-- based on last step executed
	,	CONVERT(
			SMALLDATETIME
		,
			DATEADD(
				second
			,	d.[job_step_average_duration] + DATEDIFF(second, a.[start_execution_date], GETDATE())
			, a.[start_execution_date]
			) 
		) AS [estimated_completion]
	FROM CTE_JOBS_RUNNING a
	LEFT JOIN CTE_JOB_STEPS_REMAINING_DURATION d
	ON d.[job_id] = a.[job_id]
	LEFT JOIN [dbo].[JobAverageDuration] j
	ON j.[job_id] = a.[job_id];

	INSERT [dbo].[ActiveJobsRefresh] (
		[RefreshKey]
	,	[RefreshDate]
	)
	SELECT
	 	@REFRESH_KEY
	,	@REFRESH_DATE;
END
GO
