USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_SAPCostComponent]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<Bruce Cao>
-- Create date: <15 May 2023>
-- Description:	<ODS layer of Cost Component>
--V001 Initial
--V002 Add Script 01/06/23 Bruce Cao
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_SAPCostComponent]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



--drop table
DROP TABLE [ODS].[SAPCostComp] 

DECLARE @CurrentFY INT,
		@NewYearStart datetime,
		@NextFYReleased INT;
		
select @CurrentFY = [FiscalYear] FROM [BI_PROD_POST_SAP].[DIM].[CalendarDate] where CalendarDayOffset = 0;
select @NewYearStart = DateKey from [BI_PROD_POST_SAP].[DIM].[CalendarDate] where FiscalYear = @CurrentFY + 1 and DayOfMonth = 1 and FiscalPeriod = 1;
select @NextFYReleased = COUNT(*) from [SAPSTG].[KEKO] where FEH_STA = 'VO' and BDATJ = @CurrentFY + 1;

With YearEndDate as (
--select @CurrentFY;
select [FiscalYear],CalendarDate,'FR' as CostStatus FROM [BI_PROD_POST_SAP].[DIM].[CalendarDate] where IsYearEnd = 1 and FiscalYear >=2020 and FiscalYear < @CurrentFY
union
select [FiscalYear],MonthendDate,'FR' as CostStatus from [BI_PROD_POST_SAP].[DIM].[CalendarDate] where CalendarDayOffset = 0
union
select [FiscalYear],CalendarDate,
case when @NextFYReleased > 3000 then'VO'
else 'KA'
end as CostStatus from [BI_PROD_POST_SAP].[DIM].[CalendarDate] where IsYearEnd = 1 and FiscalYear = @CurrentFY + 1 ),


--result1 will assign a new vaild to to the obsolete materials.

result1 as (
SELECT 
	b.[LoadDateTime],
   b.KALNR AS "P_CostEstimateNo",
   b.KALKA AS "P_CostingType",
   b.KADKY AS "P_POSTDATE" , 
   b.TVERS AS "P_CostingVers",
   b.BWVAR AS "P_ValuaVariant",
   b.KKZMA AS "P_AdditiveCosts",
   b.POSNR AS "P_ItemNumber",
   b.TYPPS AS "P_CItemCate",
   b.LSTAR AS "P_ActType",
   b.KOSTL AS "P_CostCenter",
   b.ELEMT AS "P_CostComp",
   b.KSTAR AS "P_CostELM",
   REPLACE(LTRIM(REPLACE(b.MATNR,'0',' ')),' ','0') AS "P_MATERIAL" ,
   b.WERKS AS "P_PLANT" ,
   c.LOSGR AS "P_LOTSIZE",
   c.MEINS AS "P_LOTUNIT",
   b.WERTN AS "P_VAL", --Value in Controlling Area Curr.
   b.WRTFX AS "P_FVAL", --Fxd Value/Object Cur.
   b.MENGE AS "P_QTY",  --Quantity
   b.GPREIS AS "P_PRICE",
   b.FPREIS AS "P_F_PRICE",
   b.PEINH AS "P_PR_UNT_QTY",
   b.PMEHT AS "P_PR_UNT",
   CAST(b.WERTN AS DECIMAL(16,2)) AS "P_REC_VAL" , --Recursive Value in Controlling Area Curr.
   CAST(b.WRTFX AS DECIMAL(16,2)) AS "P_REC_FVAL", --Recursive Fxd Value/Object Cur.
   CAST(b.MENGE AS DECIMAL(16,3)) AS "P_REC_QTY",  --Recursive Quantity
   b.MEEHT AS "P_UNIT",--Base Unit of Measure
 /****** added on 01/06/2023 start******/  
   b.AUSMG as  "P_ScrapQuantity",
   b.AUSMGKO as "P_CompScrap",
   b.AUSPROZ as "P_ScrapRate",
   case 
	when b.PEINH = 0 then 
	CAST(0 AS DECIMAL(16,2)) 
	   else
   CAST(b.AUSMGKO*b.GPREIS/b.PEINH AS DECIMAL(16,2)) end AS "P_REC_ScpVAL" , --Recursive Value in Controlling Area Curr.
   CAST(b.AUSMGKO AS DECIMAL(16,3)) AS "P_REC_ScpQTY",  --Recursive Quantity
 /****** added on 01/06/2023 end******/  
   b.BAUGR AS "C_ASSMB",
   b.UKALN AS "C_CostEstimateNo",
   b.UKALKA AS "C_CostingType",
   b.UKADKY AS "C_POSTDATE",
   b.UTVERS AS "C_CostingVers",
   b.UBWVAR AS "C_ValuaVariant",
   REPLACE(LTRIM(REPLACE(c.MATNR,'0',' ')),' ','0') AS "G_MATERIAL",

   c.WERKS AS "G_PLANT",
   cast( c.LOSGR AS DECIMAL(16,3)) AS "G_QTY",
   c.LOSGR AS "G_LOTSIZE",
   c.MEINS AS "G_LotUnit",
   c.FEH_STA AS "G_CostStatus",
   c.KLVAR AS "G_CostVarnt",
   c.KADKY AS "G_CostingDate",
   c.KADAT as "G_ValidFrom",
   c.BIDAT as "G_ValidTo",
   p.SignalDescription,
   p.[ProductType] ,
   case when p.SignalDescription = 'Obsolete' and c.BIDAT = '99991231' and c.FEH_STA = 'FR'
   then cl.YearendDate
   when c.FEH_STA = 'KA' and c.BIDAT = '99991231' and c.KADAT < @NewYearStart  --old year KA
   then cl.YearendDate
   else c.BIDAT
   end as "NewValidTo" 
   
--INTO [ODS].[SAPCostComp]
FROM [SAPSTG].[CKIS] b 
JOIN [SAPSTG].[KEKO] c 
ON b.KALNR = c.KALNR AND 
	b.KALKA = c.KALKA AND
	b.KADKY  = c.KADKY AND
	b.TVERS = c.TVERS AND
	b.BWVAR = c.BWVAR AND
	b.KKZMA = c.KKZMA 
join [BI_PROD_POST_SAP].[DIM].[CalendarDate] cl --get yearend date from "valid from" 
on c.KADAT = cl.CalendarDate
left join DIM.PRODUCT p 
on REPLACE(LTRIM(REPLACE(c.MATNR,'0',' ')),' ','0') = p.ProductNo ),



result2 as( select d.FiscalYear,r1.* from result1 r1 left join YearEndDate d
on G_ValidFrom<= d.calendardate 
and NewValidTo >= d.calendardate
and G_CostStatus = d.CostStatus 
and G_CostVarnt = 'PYC1'
and G_PLANT = 3000 
and ProductType  in ('FERT','HAWA')),


result3 as( select 
case when G_PLANT = 3100
then d.FiscalYear
when G_PLANT = 3000 and ProductType = 'HALB'
then d.FiscalYear
else r2.Fiscalyear
end AS Fiscalyear
      ,[LoadDateTime]
      ,[P_CostEstimateNo]
      ,[P_CostingType]
      ,[P_POSTDATE]
      ,[P_CostingVers]
      ,[P_ValuaVariant]
      ,[P_AdditiveCosts]
      ,[P_ItemNumber]
      ,[P_CItemCate]
      ,[P_ActType]
      ,[P_CostCenter]
      ,[P_CostComp]
      ,[P_CostELM]
      ,[P_MATERIAL]
      ,[P_PLANT]
      ,[P_LOTSIZE]
      ,[P_LOTUNIT]
      ,[P_VAL]
      ,[P_FVAL]
      ,[P_QTY]
      ,[P_PRICE]
      ,[P_F_PRICE]
      ,[P_PR_UNT_QTY]
      ,[P_PR_UNT]
      ,[P_REC_VAL]
      ,[P_REC_FVAL]
      ,[P_REC_QTY]
      ,[P_UNIT]
	  ,[P_ScrapQuantity]
	  ,[P_CompScrap]
      ,[P_ScrapRate]
	  ,[P_REC_ScpVAL]
	  ,[P_REC_ScpQTY]
      ,[C_ASSMB]
      ,[C_CostEstimateNo]
      ,[C_CostingType]
      ,[C_POSTDATE]
      ,[C_CostingVers]
      ,[C_ValuaVariant]
      ,[G_MATERIAL]
      ,[G_PLANT]
      ,[G_QTY]
      ,[G_LOTSIZE]
      ,[G_LotUnit]
      ,[G_CostStatus]
      ,[G_CostVarnt]
      ,[G_CostingDate]
      ,[G_ValidFrom]
      ,[G_ValidTo]
      ,[SignalDescription]
      ,[ProductType]
      ,[NewValidTo]

 from result2 r2 left join YearEndDate d
on G_ValidFrom<= d.calendardate 
and NewValidTo >= d.calendardate
and G_CostStatus = d.CostStatus 
and G_CostVarnt = 'PYC1'
and G_PLANT in ( '3100','3000')
and ProductType = 'HALB')


 --select COUNT(*)   from result3 
 --select COUNT(*) from [SAPSTG].[CKIS]


 select *,'' as InScopeFlag INTO [ODS].[SAPCostComp] from result3 -- InScopeFlag = 1 means the material/plant is in costing report scope.

update [ODS].[SAPCostComp]
set InScopeFlag = 1
where
	"G_CostingDate" >='20200629' and --only one version for testing ,'20220801','20210628','20200629','20190701'		
	"G_CostStatus" in('KA','FR','VO') and
	"G_CostVarnt" = 'PYC1' and
	"P_ValuaVariant" = '0Y1' and
	"P_CostEstimateNo" in (  select distinct KALNR from SAPSTG.KEKO a join Dim.Product p on REPLACE(LTRIM(REPLACE(a.MATNR,'0',' ')),' ','0') =p.ProductNo 
		 where 
		 WERKS = '3000' 
		 and a.KADKY >= '20200629'   
		 and 
  a.FEH_STA in('KA','FR','VO') and a.KLVAR = 'PYC1' and p.ProductType IN ('FERT','HAWA') ) --only load finished product

  update [ODS].[SAPCostComp]
set InScopeFlag = 1
where
	"G_CostingDate" >='20200629' and --only one version for testing ,'20220801','20210628','20200629','20190701'		
	"G_CostStatus" in('KA','FR','VO') and
	"G_CostVarnt" = 'PYC1' and
	"P_ValuaVariant" = '0Y1' and
	"P_CostEstimateNo" in (  select distinct KALNR from SAPSTG.KEKO a join Dim.Product p on REPLACE(LTRIM(REPLACE(a.MATNR,'0',' ')),' ','0') =p.ProductNo 
		 where 
		 WERKS in( '3000','3100') 
		 and a.KADKY >= '20200629' 
		 and KALNR_BA = '000000000000'
		 and 
  a.FEH_STA in('KA','FR','VO') and a.KLVAR = 'PYC1' and p.ProductType = 'HALB' ) --update semi-finisehed

 


---Hour conversion
UPDATE  [ODS].[SAPCostComp]
SET P_UNIT = 'H',
P_QTY = round(P_QTY / 60,3),
P_REC_QTY = round(P_REC_QTY / 60,3) 
WHERE P_UNIT = 'MIN';

UPDATE  [ODS].[SAPCostComp]
SET P_UNIT = 'H',
P_QTY = round(P_QTY / 3600,3),
P_REC_QTY = round(P_REC_QTY / 3600,3) 
WHERE P_UNIT = 'S';

UPDATE  [ODS].[SAPCostComp]
SET P_UNIT = 'H',
P_QTY = round(P_QTY / 3600000,3),
P_REC_QTY = round(P_REC_QTY / 3600000,3) 
WHERE P_UNIT = 'MS';

---Start of Hardcode fiscal year for 1027 ****need to remove this logic in FY25 -02/04/2024

--select * from [ODS].[SAPCostComp] where G_MATERIAL = '1027' and G_CostingDate >='20240701' and G_PLANT = '3000' and G_CostStatus = 'KA'
--select * from [ODS].[SAPCostComp] where G_MATERIAL = '1027' and G_CostingDate >='20240701' and G_PLANT = '3000' and G_CostStatus = 'VO'
--UPDATE  [ODS].[SAPCostComp] --logic removed on 25Sep 2024
--set Fiscalyear = null where G_MATERIAL = '1027' and G_CostingDate >='20240701' and G_PLANT = '3000' and G_CostStatus = 'KA';
--UPDATE  [ODS].[SAPCostComp]
--set Fiscalyear = '2025'  where G_MATERIAL = '1027' and G_CostingDate >='20240701' and G_PLANT = '3000' and G_CostStatus = 'VO'

---End of Hardcode fiscal year for 1027 ****need to remove this logic in FY25 -02/04/2024

END
GO
