USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[UsageTracking_ODS_UsageTabular]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[UsageTracking_ODS_UsageTabular]  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
 declare @dateload datetime   
 set @dateload = getdate();  
  
 INSERT INTO  ODS.UsageTabular  
  (  
  Source  
  , Username  
  , LoginTime  
  , ReportName  
  ,loaddatetime  
  )  
 SELECT distinct Source  
  , Username  
  , LoginTime  
  , ReportName  
  ,@dateload FROM STG.UsageTabular  
 WHERE  Username != 'NT SERVICE\SSASTELEMETRY$TABULAR' and LoginTime > isnull((select max(Logintime) from ODS.UsageTabular where Source = 'Tabular Model'),dateadd(yyyy,-2,getdate()))    
 union  
 select distinct 'SAP' as Source   
 ,Uname   
 , format(cast(concat(CAST(CALDAY AS date), ' ', convert(varchar,DATEADD(s,CAST(UTIME AS bigint),0),114)) as datetime), 'dd-MMM-yyyy hh:mm tt')  
 logintime  
 , OBJNAME  
 ,getdate() from StgSAP.UsageSapREp  
 WHERE OBJNAME != '' and  cast(concat(CAST(CALDAY AS date), ' ', convert(varchar,DATEADD(s,CAST(UTIME AS bigint),0),114)) as datetime) > isnull((select max(Logintime) from ODS.UsageTabular where Source = 'SAP'),dateadd(yyyy,-2,getdate()))  
END  
GO
