USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Fact_BudgetSales_perqty]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <02/02/2022>
-- Author:		<Himanshu>
-- Create date: <22/05/2025>
-- Description:	<UPSERT data in Fact.BudgetSales>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Upsert_Fact_BudgetSales_perqty]
    --@FiscalYear INT
AS
BEGIN
    SET NOCOUNT ON;

    WITH RawBudgetSales AS (
        SELECT
            FiscalYearWeekDisplay,
            CAST(FiscalYearWeekIntKey AS INT) AS FiscalYearWeekIntKey,
            CAST(FiscalYear AS INT) AS FiscalYear,
            CAST(FiscalWeek AS INT) AS FiscalWeek,
            CAST(LTRIM(STR(CustomerNo,10)) AS NVARCHAR(10)) AS CustomerNo,
            CAST(RTRIM(LTRIM(ProductNo)) AS NVARCHAR(40)) AS ProductNo,

            CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT) AS BudgetSalesQuantity,

            CAST(ISNULL(BudgetNetInvoiceValue, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT) AS BudgetNetInvoiceValue,

            BudgetInvoiceDiscount  = -1 * CAST(ISNULL(BudgetInvoiceDiscount, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),
            BudgetCaseDiscount     = -1 * CAST(ISNULL(BudgetCaseDiscount, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),
            BudgetTermsDiscount    = -1 * CAST(ISNULL(BudgetTermsDiscount, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),
            BudgetOtherDiscount    = -1 * CAST(ISNULL(BudgetOtherDiscount, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),
            BudgetCOGS             = -1 * CAST(ISNULL(BudgetCOGS, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),
            BudgetMaterialCosts    = -1 * CAST(ISNULL(BudgetMaterialCosts, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),
            BudgetOperationCosts   = -1 * CAST(ISNULL(BudgetOperationCosts, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),

            BudgetGrossMargin =
                (CAST(ISNULL(BudgetNetInvoiceValue, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT))
                - (CAST(ISNULL(BudgetCaseDiscount, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT))
                - (CAST(ISNULL(BudgetTermsDiscount, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT))
                - (CAST(ISNULL(BudgetOtherDiscount, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT))
                - (CAST(ISNULL(BudgetCOGS, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT)),

            CAST(ISNULL(BudgetBaselineQuantity, 0) AS FLOAT) AS BudgetBaselineQuantity,
            CAST(ISNULL(BudgetIncrementalQuantity, 0) AS FLOAT) AS BudgetIncrementalQuantity,

            BudgetFreightOutbound = -1 * CAST(ISNULL(BudgetFreightOutbound, 0) AS FLOAT) * CAST(ISNULL(BudgetSalesQuantity, 0) AS FLOAT),
            CAST(ISNULL(BudgetFreightQuantity, 0) AS FLOAT) AS BudgetFreightQuantity,
            CAST(ISNULL(BudgetFreightCaseRate, 0) AS FLOAT) AS BudgetFreightCaseRate,
            CAST(ISNULL(BudgetFreightFuelLevy, 0) AS FLOAT) AS BudgetFreightFuelLevy,
            CAST(ISNULL(BudgetFreightGLAdjustment, 0) AS FLOAT) AS BudgetFreightGLAdjustment,

            Source,
            ISNULL(ChannelDescription, '') AS ChannelDescription,
            ISNULL(CustomerNoDescription, '') AS CustomerNoDescription,
            ISNULL(FamilyDescription, '') AS FamilyDescription,
            ISNULL(ProductNoDescription, '') AS ProductNoDescription
        FROM SAPSTG.BudgetSales
     --   WHERE FiscalYear = @FiscalYear  AND CustomerNo IS NOT NULL  AND ProductNo IS NOT NULL
    ),
    BudgetSalesTransformed AS (
        SELECT *
        FROM (
            SELECT *,
                ROW_NUMBER() OVER (
                    PARTITION BY FiscalYearWeekIntKey, CustomerNo, ProductNo
                    ORDER BY Source DESC  -- keep the most relevant record
                ) AS rn
            FROM RawBudgetSales
        ) D
        WHERE rn = 1
    )

    MERGE INTO FACT.BudgetSales AS Target
    USING BudgetSalesTransformed AS Source
    ON
        Target.FiscalYearWeekIntKey = Source.FiscalYearWeekIntKey AND
        Target.CustomerNo = Source.CustomerNo AND
        Target.ProductNo = Source.ProductNo

    WHEN MATCHED THEN UPDATE SET
        Target.FiscalYearWeekDisplay     = Source.FiscalYearWeekDisplay,
        Target.FiscalYear                = Source.FiscalYear,
        Target.FiscalWeek                = Source.FiscalWeek,
        Target.BudgetSalesQuantity       = Source.BudgetSalesQuantity,
        Target.BudgetNetInvoiceValue     = Source.BudgetNetInvoiceValue,
        Target.BudgetInvoiceDiscount     = Source.BudgetInvoiceDiscount,
        Target.BudgetCaseDiscount        = Source.BudgetCaseDiscount,
        Target.BudgetTermsDiscount       = Source.BudgetTermsDiscount,
        Target.BudgetOtherDiscount       = Source.BudgetOtherDiscount,
        Target.BudgetCOGS                = Source.BudgetCOGS,
        Target.BudgetMaterialCosts       = Source.BudgetMaterialCosts,
        Target.BudgetOperationCosts      = Source.BudgetOperationCosts,
        Target.BudgetGrossMargin         = Source.BudgetGrossMargin,
        Target.BudgetBaselineQuantity    = Source.BudgetBaselineQuantity,
        Target.BudgetIncrementalQuantity = Source.BudgetIncrementalQuantity,
        Target.BudgetFreightOutbound     = Source.BudgetFreightOutbound,
        Target.BudgetFreightQuantity     = Source.BudgetFreightQuantity,
        Target.BudgetFreightCaseRate     = Source.BudgetFreightCaseRate,
        Target.BudgetFreightFuelLevy     = Source.BudgetFreightFuelLevy,
        Target.BudgetFreightGLAdjustment = Source.BudgetFreightGLAdjustment,
        Target.Source                    = Source.Source,
        Target.ChannelDescription        = Source.ChannelDescription,
        Target.CustomerNoDescription     = Source.CustomerNoDescription,
        Target.FamilyDescription         = Source.FamilyDescription,
        Target.ProductNoDescription      = Source.ProductNoDescription

    WHEN NOT MATCHED THEN INSERT (
        FiscalYearWeekDisplay,
        FiscalYearWeekIntKey,
        FiscalYear,
        FiscalWeek,
        CustomerNo,
        ProductNo,
        BudgetSalesQuantity,
        BudgetNetInvoiceValue,
        BudgetInvoiceDiscount,
        BudgetCaseDiscount,
        BudgetTermsDiscount,
        BudgetOtherDiscount,
        BudgetCOGS,
        BudgetMaterialCosts,
        BudgetOperationCosts,
        BudgetGrossMargin,
        BudgetBaselineQuantity,
        BudgetIncrementalQuantity,
        BudgetFreightOutbound,
        BudgetFreightQuantity,
        BudgetFreightCaseRate,
        BudgetFreightFuelLevy,
        BudgetFreightGLAdjustment,
        Source,
        ChannelDescription,
        CustomerNoDescription,
        FamilyDescription,
        ProductNoDescription
    ) VALUES (
        Source.FiscalYearWeekDisplay,
        Source.FiscalYearWeekIntKey,
        Source.FiscalYear,
        Source.FiscalWeek,
        Source.CustomerNo,
        Source.ProductNo,
        Source.BudgetSalesQuantity,
        Source.BudgetNetInvoiceValue,
        Source.BudgetInvoiceDiscount,
        Source.BudgetCaseDiscount,
        Source.BudgetTermsDiscount,
        Source.BudgetOtherDiscount,
        Source.BudgetCOGS,
        Source.BudgetMaterialCosts,
        Source.BudgetOperationCosts,
        Source.BudgetGrossMargin,
        Source.BudgetBaselineQuantity,
        Source.BudgetIncrementalQuantity,
        Source.BudgetFreightOutbound,
        Source.BudgetFreightQuantity,
        Source.BudgetFreightCaseRate,
        Source.BudgetFreightFuelLevy,
        Source.BudgetFreightGLAdjustment,
        Source.Source,
        Source.ChannelDescription,
        Source.CustomerNoDescription,
        Source.FamilyDescription,
        Source.ProductNoDescription
    );
END
GO
