USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_SAC_FreightPlanning]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Insert_SAC_FreightPlanning]    
AS    
BEGIN    
    -- Optional: Add error handling    
 Delete from Stg.SAC_FreightPlanning;  
    BEGIN TRY    
        INSERT INTO Stg.SAC_FreightPlanning    
        (    
            Version,    
            FreightAccount,    
            CalendarWeek,    
            FiscalYearWeek,    
            Customer,    
            Product,    
            FreightCost,    
            FreightRate,    
            SalesQuantity,    
            FuelLevyValue,    
            LoadDate    
        )    
        SELECT     
            [Version] AS [Version],    
            Audit_Trail AS FreightAccount,    
            Concat('Week ',right(Date_Gen,2)) AS CalendarWeek,    
            REPLACE(Date_Gen, '_', '') AS FiscalYearWeek,    
            Customer AS Customer,    
            Products AS Product,    
            ABS(SUM(CASE     
                WHEN Freight_Account = 'Freight Cost'     
                THEN TRY_CAST(SignedData AS FLOAT) ELSE 0     
            END)) AS FreightCost,    
            ABS(SUM(CASE     
                WHEN Freight_Account = 'Freight Rate'     
                THEN TRY_CAST(SignedData AS FLOAT) ELSE 0     
            END)) AS FreightRate,    
            SUM(CASE     
                WHEN Freight_Account = 'Sales Quantity'     
                THEN TRY_CAST(SignedData AS FLOAT) ELSE 0     
            END) AS SalesQuantity,    
            0 as FuelLevyValue,    
            GETDATE() AS LoadDate    
        FROM     
            SAPSTG.SAC_Freight_FactData  
        GROUP BY     
            [Version], Audit_Trail, Date_Gen, Customer, Products ;    
    END TRY    
    BEGIN CATCH    
        -- Handle errors (optional)    
        PRINT 'Error occurred while inserting into Stg.SAC_FreightPlanning.';    
        THROW;    
    END CATCH    
END; 
GO
