USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PURINFOCRD]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_MATSALESDATA>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PURINFOCRD]

AS
BEGIN  
	
TRUNCATE TABLE [SAPSTG].[ZXC_PURINFOCRD]

insert into [SAPSTG].[ZXC_PURINFOCRD]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AvailabilityEndDate  =CASE WHEN ISDATE(AvailabilityEndDate) = 1 
                        		then CONVERT(datetime,AvailabilityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),AvailabilityEndDate) 
                         		else null 	end ,
AvailabilityStartDate  =CASE WHEN ISDATE(AvailabilityStartDate) = 1 
                        		then CONVERT(datetime,AvailabilityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),AvailabilityStartDate) 
                         		else null 	end ,
--BaseUnit  =NULLIF(cast(BaseUnit as nvarchar(3)),'') ,
BaseUnit			= case when NULLIF(cast(BaseUnit as nvarchar(3)),'') = 'BOT' THEN 'BT'
						  when [BaseUnit]= 'KAR' THEN 'CAR'
						  WHEN [BaseUnit]= 'PAK' THEN 'PAC'
						  ELSE NULLIF(cast(BaseUnit as nvarchar(3)),'') end,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CreationDate) 
                         		else null 	end ,
IsDeleted  =case IsDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsEndOfPurposeBlocked  =NULLIF(cast(IsEndOfPurposeBlocked as nvarchar(1)),'') ,
IsRegularSupplier  =case IsRegularSupplier when 'X' then cast(1 as bit) else cast(0 as bit) end ,
--LastChangeDateTime  =CASE WHEN ISDATE(LastChangeDateTime) = 1 
--                        		then CONVERT(datetime,LastChangeDateTime, 112) 
--                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LastChangeDateTime) 
--                         		else 
--       							DATEADD(hh,DATEPART(TZOFFSET, CAST(FORMAT(LastChangeDateTime,'####-##-## ##:##:##.#######') as datetime2) AT TIME ZONE 'AUS Eastern Standard Time')/60,CAST(FORMAT(LastChangeDateTime,'####-##-## ##:##:##.#######') as datetime2))               
--                                 	end ,
LastChangeDateTime  = CASE WHEN ISDATE(LastChangeDateTime) = 1-- and LASTCHANGEDATETIME <> 0
                        		then CONVERT(datetime,LastChangeDateTime, 112) 
                           		when  LASTCHANGEDATETIME <> 0 then
       							DATEADD(hh,DATEPART(TZOFFSET, CAST(FORMAT(LastChangeDateTime,'####-##-## ##:##:##.#######') as datetime2) AT TIME ZONE 'AUS Eastern Standard Time')/60,CAST(FORMAT(LastChangeDateTime,'####-##-## ##:##:##.#######') as datetime2))               
                              	ELSE NULL end,
Manufacturer  =NULLIF(cast(Manufacturer as nvarchar(10)),'') ,
Material  = case when isnumeric(Material) =1 
                                    		then 	NULLIF(cast(cast(Material as BIGINT) as nvarchar(40)),'')
                                            else  NULLIF(cast(Material as nvarchar(40)),'') end,
MaterialGroup  =NULLIF(cast(MaterialGroup as nvarchar(9)),'') ,
NoDaysReminder1  =cast(NoDaysReminder1 as decimal(38,6)) ,
NoDaysReminder2  =cast(NoDaysReminder2 as decimal(38,6)) ,
NoDaysReminder3  =cast(NoDaysReminder3 as decimal(38,6)) ,
OrderItemQtyToBaseQtyDnmntr  =cast(OrderItemQtyToBaseQtyDnmntr as decimal(38,6)) ,
OrderItemQtyToBaseQtyNmrtr  =cast(OrderItemQtyToBaseQtyNmrtr as decimal(38,6)) ,
PriorSupplier  =NULLIF(cast(PriorSupplier as nvarchar(10)),'') ,
ProductPurchasePointsQty  =cast(ProductPurchasePointsQty as decimal(38,6)) ,
ProductPurchasePointsQtyUnit  =NULLIF(cast(ProductPurchasePointsQtyUnit as nvarchar(3)),'') ,
PurchasingInfoRecord  =NULLIF(cast(PurchasingInfoRecord as nvarchar(10)),'') ,
PurchasingInfoRecordDesc  =NULLIF(cast(PurchasingInfoRecordDesc as nvarchar(40)),'') ,
--PurgDocOrderQuantityUnit  =NULLIF(cast(PurgDocOrderQuantityUnit as nvarchar(3)),'') ,
PurgDocOrderQuantityUnit			= case when NULLIF(cast(PurgDocOrderQuantityUnit as nvarchar(3)),'') = 'BOT' THEN 'BT'
						  when [PurgDocOrderQuantityUnit]= 'KAR' THEN 'CAR'
						  WHEN [PurgDocOrderQuantityUnit]= 'PAK' THEN 'PAC'
						  ELSE NULLIF(cast(PurgDocOrderQuantityUnit as nvarchar(3)),'') end,
ReturnAgreement  =NULLIF(cast(ReturnAgreement as nvarchar(2)),'') ,
SuplrCertOriginClassfctnNumber  =NULLIF(cast(SuplrCertOriginClassfctnNumber as nvarchar(16)),'') ,
Supplier  = case when isnumeric(Supplier) =1 
                               						then NULLIF(cast(cast(Supplier as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(Supplier as nvarchar(10)),'') end,
SupplierCertOriginCat  =NULLIF(cast(SupplierCertOriginCat as nvarchar(1)),'') ,
SupplierCertOriginCountry  =NULLIF(cast(SupplierCertOriginCountry as nvarchar(3)),'') ,
SupplierCertOriginNumber  =NULLIF(cast(SupplierCertOriginNumber as nvarchar(10)),'') ,
SupplierCertOriginRegion  =NULLIF(cast(SupplierCertOriginRegion as nvarchar(3)),'') ,
SupplierCertValidityEndDate  =CASE WHEN ISDATE(SupplierCertValidityEndDate) = 1 
                        		then CONVERT(datetime,SupplierCertValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),SupplierCertValidityEndDate) 
                         		else null 	end ,
SupplierMaterialGroup  =NULLIF(cast(SupplierMaterialGroup as nvarchar(18)),'') ,
SupplierMaterialNumber  =NULLIF(cast(SupplierMaterialNumber as nvarchar(35)),'') ,
SupplierPhoneNumber  =NULLIF(cast(SupplierPhoneNumber as nvarchar(16)),'') ,
SupplierRespSalesPersonName  =NULLIF(cast(SupplierRespSalesPersonName as nvarchar(30)),'') ,
SupplierSubrange  =NULLIF(cast(SupplierSubrange as nvarchar(6)),'') ,
SupplierSubrangeSortNumber  =NULLIF(cast(SupplierSubrangeSortNumber as nvarchar(5)),'') ,
VarblPurOrdUnitIsActive  =NULLIF(cast(VarblPurOrdUnitIsActive as nvarchar(1)),'') ,
ScriptVersionDate = cast(getdate() as date) 



from SAPSTG.ZXCPURINFOCRD nolock

END
GO
