USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_MATERIALPLANT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS MATERIALPLANT]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_MATERIALPLANT]
AS



/****** Object:  View [Stg].[ItemPlant]    Script Date: 6/01/2022 3:12:31 PM ******/
SET NOCOUNT ON;

TRUNCATE TABLE ODS.MATERIALPLANT;

WITH PreferredPlant AS
( select pr.RecipeNo,substring(pr.Routing, CHARINDEX('-', pr.Routing,1)+1,4) as Plant 
  from ODS.PreferredRouting pr WITH (NOLOCK)
)
 insert into ODS.MaterialPlant
	SELECT Material, MaterialType, PlantCount, coalesce(pr.Plant,COALESCE(f.Plant, 3000)) AS Plant
		, nmc2.bstrf AS OrderQtyMultiples
		, nmc2.bstmi AS MinimumOrderQty
		, nmc2.bstma AS MaxOrderQty	
		, nmc2.bstfe AS FixedOrderQty
		, nmc2.minbe AS ReorderPoint
		, nmc2.wzeit AS OrderLeadtime		
		, nmc2.plifz AS OrderLeadtimeDays	
		, CEILING(nmc2.plifz/7) AS OrderLeadtimeWeeks	
    	, nmc2.shzet AS SafetyTime			
		, nmc2.eisbe AS SafetyStock
		, nmc2.mabst AS MaximumInventory
		, nmc2.maabc AS AbcCode
		, nmc2.dispo
		, nmc2.losgr AS CostingLotSize
        , nmc2.webaz AS GRProcessingTime
	FROM (
		SELECT DISTINCT mb.Material, mb.MaterialType
			, COUNT(*) OVER (PARTITION BY mb.Material) AS PlantCount
			, CASE WHEN ISNUMERIC(werks) = 1 
				THEN
				CASE 
					WHEN mb.MaterialType IN ('FERT','HAWA') THEN MIN(
						CASE WHEN ISNUMERIC(werks) = 1 THEN 
							CASE WHEN werks > 2000 THEN werks END 
						END) 
						OVER (PARTITION BY mb.Material)
	
					WHEN mb.MaterialType IN ('HALB') THEN MIN(
						CASE WHEN ISNUMERIC(werks) = 1 THEN 
							CASE WHEN werks BETWEEN 3200 AND 3590 THEN werks END 
						END) 
						OVER (PARTITION BY mb.Material)	
					WHEN mb.MaterialType NOT IN ('FERT','HAWA','HALB') THEN MAX(werks) OVER (PARTITION BY mb.Material)
				END
				ELSE 3000
			END AS Plant 
			, 2 AS PriorityNo
		FROM SAPSTG.ZXC_MATBASICDATA mb WITH (NOLOCK)
		LEFT JOIN SAPSTG.ZXC_NSDMMARC nmc
			ON nmc.matnr = mb.Material
	) f
	INNER JOIN SAPSTG.ZXC_NSDMMARC nmc2
		ON CONVERT(VARCHAR(20),f.Plant) = nmc2.werks
		AND f.Material = nmc2.matnr
  
  LEFT JOIN  PreferredPlant pr WITH (NOLOCK)
        ON pr.RecipeNo=f.Material  
	WHERE (PlantCount > 1 AND f.Plant IS NOT NULL) OR f.PlantCount = 1

GO
