USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MATPRODHIERARCHY]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_MATPRODHIERARCHY>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MATPRODHIERARCHY]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_MATPRODHIERARCHY]  

insert into [SAPSTG].[ZXC_MATPRODHIERARCHY]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
DistributionChannel  =NULLIF(cast(DistributionChannel as nvarchar(2)),'') ,
Material  = case when isnumeric(Material) =1 
                                    		then 	cast(cast(Material as BIGINT) as nvarchar(40))
                                            else  cast(Material as nvarchar(40)) end,
ProductHierarchy  =NULLIF(cast(ProductHierarchy as nvarchar(18)),'') ,
SalesOrganization  =NULLIF(cast(SalesOrganization as nvarchar(4)),'') ,
ScriptVersionDate = cast(getdate() as date)
from SAPSTG.ZXCMATPRODHIER

END
GO
