USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_BatchRequirement]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<CHAKABH, Abhishek Chakraborty>
-- Create date: <30th August>
-- Description:	<Combine Batch with Requirement>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_BatchRequirement]
AS
Begin
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF OBJECT_ID(N'[dbo].[BatchOrder]', N'U') IS NOT NULL 
		drop table [dbo].[BatchOrder]; -- Drop daily data

	Create Table [dbo].[BatchOrder]( -- It contains all the used Batches and corresponding Orders, so that we skip in the future rounds
	[Material] [nvarchar](40) NULL,
	[Plant] [nvarchar](4) NULL,
	[STOPlant] [nvarchar](4) NULL,
	[Batch] [nvarchar](10) NULL,
	[Unit] [nvarchar](3) NULL,
--	[OrderNumber] [nvarchar](12) NULL,
	[SLED] [nvarchar](8) NULL,
	[FirstConsumptionDate] [nvarchar](8) NULL,
	[LastConsumptionDate]  [nvarchar](8) NULL,
	[FirstOrderAfterExpiry] [nvarchar](12) NULL,
	[FirstReqDateAfterExpiry]  [nvarchar](8) NULL,
	[StorageLocation] [nvarchar](4) NULL,
	[BatchQty]  [Dec](13,3) NULL,     
	[Currency]  [nvarchar](3) NULL,
	[Vendor] [nvarchar](10) NULL,
	[SupplierBatch] [nvarchar](20) NULL,
	[LeadTime] int NULL,
	[StandardPrc] [Dec](13,3) NULL,
	[ConsumedQty] [Dec](13,3) NULL,
	[UnConsumedQty] [Dec](13,3) NULL,
	[IsExpired] [nvarchar](1) NULL,
	[Error] [nvarchar](20) NULL,
	[ErrorDetails] [nvarchar](Max) NULL,
	[Alert]	 [nvarchar](20) NULL,
	[AlertDetails] [nvarchar](Max) NULL)
	;

	Truncate Table [ODS].BatchRequirement;
	Truncate table [dim].[BatchConsumption];

	Declare @ConsumedQty Dec(13,3),
        @UnConsumedQty Dec (13,3),
		@FulfilledQty Dec (13,3),
		@UnFulfilledQty Dec (13,3),
		@FGQTy Dec (13,3),
		@ToDay DateTime2(7), 
		@TwoYearslater nvarchar(8), 
		@OrderNumber nvarchar(12),
		@OrderItemNo nvarchar(20),
		@ErrorCode nvarchar(20),
		@DatestoExpire int,
		@Material nvarchar(40),
		@PreviousrecordMaterial nvarchar(40),
		@Plant nvarchar(4),
		@PossibleSTOPlant nvarchar(4),
		@BatchSupplyPlant nvarchar(4),
		@SupplyToPlant nvarchar(4),
		@PreviousrecordPlant nvarchar(4),
		@StorageLocation nvarchar(4),
		@Batch nvarchar(10),
		@PossibleSTOBatch nvarchar(10),
		@SLED nvarchar(8),
		@RequirementDate nvarchar(8),
		@RequirementQty Dec(13,3),
		@ActualConsumptionQty Dec(13,3),
		@STOQty Dec(13,3),
		@RequirementDocumentType nvarchar(4),
		@ReqDateAfterExpiry nvarchar(8),
		@BatchExpiry nvarchar(1),
		@FirstOrderafterExpiry nvarchar(12),
		@Unit nvarchar(3),
		@BatchQty Dec(13,3),
		@Currency nvarchar(3),
		@HigherLevelAssemblyMaterial nvarchar(40),
		@LatestRequirementDate nvarchar(8),
		@FirstConsumptionDate nvarchar(8),
		@LastConsumptionDate nvarchar(8),
		@PreviousRequirementDate  nvarchar(8),
		@Vendor nvarchar(10),
		@SupplierBatch nvarchar(20),
		@ZeroSLED nvarchar(8),
		@OrderRowNum int,
		@BatchRowNum int,
		@LeadTime  int,
		@ErrorFlag nvarchar(max),
		@AlertCode nvarchar(20),
		@Alert nvarchar(max),
		@PossibleSTO int,
		@MaxOrderSeqNo int,
		@MaxBatchSeqNo int,
--Batch Variables
		@BatchNo nvarchar(10),
		@PreviousBatchNo nvarchar(10),
		@BatchPlantNo nvarchar(4),
		@BatchOrderNo nvarchar(12),
		@BatchMaterial nvarchar(40),
		@BatchSLED nvarchar(8),
		@BatchStorageLocation nvarchar(4),
		@BatchTotalQty dec(13,3),
		@BatchVendor nvarchar(10),
		@BatchSupplierBatch  nvarchar(20),
		@BatchLeadTime int,
		@BatchStdPrice dec(13,3),
		@OrderConsumedQty dec(13,3),
		@BatchCounter int ,
		@OrderCounter int,
		@OverallSeqNo int,
		@StdPrice dec(13,3);
DECLARE @SequenceNoDetails table (TempMaterial nvarchar(40), TempPlantNo nvarchar(4),TempOrderNumber nvarchar(12), TempBatchNo nvarchar(10), 
								   TempOrderSeqNo int, TempBatchSeqNo int, TempOverallSeqNo int, TempfirstReqDate nvarchar(8), TemplastReqDate nvarchar(8))

		insert into [dbo].[BatchOrder]  ------ Save the Batch Details
			select 	b.Material,
				b.PLANT,
				b.PLANT as STOPlant,
				b.Batch,
				b.Unit,
	--			'' as OrderNumber,
				b.SLED,
			   '',
			   '',
			   '',
			   '',
				b.STORAGELOCATION as StorageLocation,
				b.TotalStockQTy as BatchQty,
				'AUD' as Currency,
				b.Vendor,
				b.SupplierBatch,
				b.LeadTime,
				b.StandardPrice,
				0 as ConsumedQty,
				b.TotalStockQTy as UnconsumedQty,
				'' as IsExpired,
				'' as Error,
				'' as ErrorDetails,
				'' as Alert,
				'' as AlertDetails
			from FACT.BatchDetails b ---- Batch Stock 

		set @Today = getdate() --convert(CHAR(8),getdate(),112)
		set @twoyearslater = convert(char(8),DATEADD(YEAR,2,@Today),112)

		Declare  InitialRequirement CURSOR for  -- Get all the possible Requirements
		Select r.OrderNumber,
				r.OrderItemNo,
				r.RequirementDocumentType,
				r.Material,
				r.Plant,
				r.StorageLocation,
				r.RequirementDate,
				r.RequirementQty,
				r.Unit,
				r.Currency,
				r.HigherLevelAssemblyMaterial,
				r.SupplyToPlant,
				fg.OrderQuantity as FGQty
		from FACT.Requirement r---- Batch Stock 
		left outer join (select Material, Plant, OrderNumber, OrderQuantity, 'PRD' as DocType 
		from [SAPSTG].[CV_PR_MFGTHRUORDDETAILS] (NOLOCK) prd
		union
		select Material, Plant, PlannedOrderNumber as OrderNumber, OrderQuantity, 'PL' as DocType
		from [SAPSTG].[CV_PR_PLANNEDORDER] (NOLOCK) pl) as fg
			 on r.OrderNumber = fg.OrderNumber
 		where r.RequirementDate <= @TwoYearslater  --and r.Material ='1000077' -- in ('225112','265570','180053')
		order by r.Material, r.RequirementDate asc, r.RequirementDocumentType desc
		Open InitialRequirement


		fetch next from InitialRequirement into -- Fetch the cursor into the variables
			@OrderNumber,
			@OrderItemNo,
			@RequirementDocumentType,
			@Material,
			@Plant,
			@StorageLocation,
			@RequirementDate,
			@RequirementQty,
			@Unit,
			@Currency,
			@HigherLevelAssemblyMaterial,
			@SupplyToPlant,
			@FGQty
			
		set @PreviousrecordMaterial = @Material
		Set @PreviousrecordPlant = @Plant
	--	Set @PreviousBatchNo = ''
	--	Set @PreviousRequirementDate = ''
	--	Set @BatchRowNum = 0

		While @@FETCH_STATUS = 0
	    begin
			Set @UnFulfilledQty = @RequirementQty
			Set @FulfilledQty = 0
			Set @UnConsumedQty = 0
			Set @ActualConsumptionQty = 0
			--Set @OrderRowNum = 0
			SET @ErrorFlag = ''
			SET @Alert = ''
			SET @AlertCode = ''
			SET @ErrorCode = ''	 
			SET @BatchCounter = 0
	   				----- Set Quantity to Consumed Qty
			If  @UnFulfilledQty < 0
			begin
				SET @UnConsumedQty = -@UnFulfilledQty
				SET @UnFulfilledQty = 0
			end
			While  @UnFulfilledQty > 0 and @ErrorFlag <> 'NoStock'
			begin	
				SET @BatchNo = ''
				SET @BatchPlantNo = ''
				SET @BatchSLED = ''
				Set @BatchQty = 0
				Set @BatchVendor = ''
				Set @BatchStorageLocation = ''
				SET @BatchMaterial = ''
				SET @ConsumedQty = 0
				SET @UnConsumedQty = 0
				Set @ActualConsumptionQty = 0
				Set @BatchSupplierBatch = 0
				Set @BatchStdPrice = 0
				Set @BatchLeadTime = 0
				SET @ErrorFlag = ''
				Set @ErrorCode = ''
				Set @Alert = ''
				Set @AlertCode = ''
	-- 			Set @BatchRowNum = 0	
	--			Set @OrderRowNum = @OrderRowNum + 1

				SELECT TOP 1 
				@BatchMaterial = Material ,
				@BatchPlantNo= Plant,
				@BatchNo= Batch,
	--			@BatchOrderNo = OrderNumber,
				@BatchSLED = SLED,
				@BatchStorageLocation = StorageLocation,
				@BatchQty = BatchQty,
				@BatchVendor =Vendor,
				@BatchSupplierBatch =SupplierBatch,
				@BatchLeadTime = LeadTime,
				@BatchStdPrice =StandardPrc,
				@ConsumedQty = ConsumedQty,
				@UnConsumedQty = UnConsumedQty,
				@BatchSupplyPlant = STOPlant,
				@Alert	      = AlertDetails,
				@AlertCode    = Alert

				from [dbo].BatchOrder
				where Material = @Material
				and Plant = @Plant --, '3600')
				and UnConsumedQty > 0
				and IsExpired != 'Y'
				ORDER BY SLED, Batch, StorageLocation
				set @BatchNO = coalesce(@BatchNo, '')
				If  @BatchNo= ''
				Begin
				    set @PossibleSTO = 0
					set @PossibleSTOPlant = ''
					set @PossibleSTOBatch = '' 
					set @Alert = ''
					set @AlertCode = ''
				     select  @PossibleSTO = COUNT(*),
					 @PossibleSTOPlant = Plant,
					  @PossibleSTOBatch = Batch
					  from [dbo].BatchOrder
					  where Material = @Material
					  and Plant in ('3600','3000')
					  and UnConsumedQty > 0
					  and IsExpired != 'Y'
					  and SLED >= @RequirementDate 
					  group by Plant,Batch
					  If @PossibleSTO > 0
						Set @Alert = concat('Stocks available in ',@PossibleSTOPlant,' , Consider Possible STO',@Material, 'Batch',@PossibleSTOBatch,'Count:',@PossibleSTO)
						Set @ErrorFlag = 'NoStock'
				--	 Set @Alert = ''
				--	 Set @AlertCode = ''
				  
				    delete from @SequenceNoDetails where TempMaterial != @Material
						
					Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
			--		Select @FirstConsumptionDate = MAX(
					Select @OverallSeqNo =  Coalesce(MAX(TempOverallSeqNo),0) + 1 from @SequenceNoDetails where TempMaterial = @Material
					if @MaxOrderSeqNo = 0
					begin
					     insert into @SequenceNoDetails values
						 (@Material,@Plant,@OrderNumber, '',1,0,@OverallSeqNo,'','')
					end
					else
					begin
						 Update @SequenceNoDetails set TempBatchSeqNo = 0 , TempOverallSeqNo = @OverallSeqNo
						 where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
					end				   
                     Insert into [ODS].[BatchRequirement]  (OrderNumber,Material,Plant,StorageLocation,Batch,SLED,Unit,BatchQty,Currency,BatchConsumedQty,BatchRemainingQty,FGOrderQty,
						OrderConsumedQty,OrderRemainingQty,RequirementDate,RequirementQty,RequirementDocumentType,HigherLevelAssemblyMaterial,
						Vendor,SupplierBatch,LeadTime,OrderSeqNo,BatchSeqNo,StdPrice,Error,ErrorCode,BatchExpiry,Alert,AlertCOde,STO,SupplyPlant,OverallSeqNo,ActualOrdBatchConsumptionQty) VALUES
						(    
						@OrderNumber,
						@Material,
						@Plant,
						@StorageLocation,
						cast(@BatchNo as nvarchar),
						@BatchSLED,
						@Unit,
						@BatchQty,
						'AUD',
						@ConsumedQty,
						@UnConsumedQty,
						@FGQty,
						@FulfilledQty,
						@UnFulfilledQty,
						@RequirementDate,
						@RequirementQty,
						@RequirementDocumentType,
						@HigherLevelAssemblyMaterial,
						'0',
						'0',
						'0',
						@MaxOrderSeqNo,
						0,
						@StdPrice,
						@ErrorFlag,
						@ErrorFlag,
						'N',
						@Alert,
						@AlertCode,
						'N',
						@Plant,
						@OverallSeqNo,0)
		
				end

					else
					begin
					    set @ZeroSLED = convert(nchar(9),@BatchSLED)
						If @ZeroSLED = '00000000'
						begin
						   set @BatchSLED = '99991231'
						end
						IF @BatchSLED < @RequirementDate --and 
						begin
							Set @FulfilledQty = 0
							Set @BatchExpiry = 'Y'
							Set @ActualConsumptionQty = 0
							Set @ErrorCode = 'Expired'
							Set @FirstOrderafterExpiry = @OrderNumber
							Set @ReqDateAfterExpiry = @RequirementDate
							If @AlertCode = 'STO'
							begin
								set @ErrorFlag = Concat('Batch ',@BatchNo,' Expired for Order ',@OrderNumber,' SLED:',@BatchSLED,'.It was a STO from',@BatchSupplyPlant)
							     SET @AlertCode = 'STO InFlow Expired'
								 Set @Alert = CONCAT('STO was expired. SLED: ', @BatchSLED, ', Supply from: ',@BatchSupplyPlant, ' To:',@BatchPlantNo)
							end
							else
							begin
							   set @AlertCode = ''
							   Set @Alert = ''
								set @ErrorFlag = Concat('Batch ',@BatchNo,' Expired for Order ',@OrderNumber,' SLED:',@BatchSLED)
							end
				---		Set @AllErrorFlag = CONCAT(@AllErrorFlag,@ErrorFlag)
							UPDATE [dbo].BatchOrder
							SET UnConsumedQty = @UnConsumedQty,
								ConsumedQty = @ConsumedQty,
								FirstConsumptionDate = @FirstConsumptionDate,
								LastConsumptionDate = @LastConsumptionDate,
								FirstOrderAfterExpiry = @FirstOrderafterExpiry,
								FirstReqDateAfterExpiry = @ReqDateAfterExpiry,
								IsExpired = 'Y',
								Error = @ErrorCode,
								ErrorDetails = @ErrorFlag,
								Alert = @AlertCode,
								AlertDetails = @Alert
								WHERE Material = @Material
								and Plant = @BatchPlantNo
								and Batch = @BatchNo
								and StorageLocation = @BatchStorageLocation

								delete from @SequenceNoDetails where TempMaterial != @Material
							   	Select @OverallSeqNo = Coalesce(MAX(TempOverallSeqNo),0) + 1 from @SequenceNoDetails 
								where TempMaterial = @Material
								Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails 
								where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
								if @MaxOrderSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,@OrderNumber, '',@MaxOrderSeqNo,1,@OverallSeqNo,'','')
								end
								Select @MaxBatchSeqNo = Coalesce(MAX(TempBatchSeqNo),0) from @SequenceNoDetails 
								where TempMaterial = @Material and TempPlantNo = @BatchPlantNo and TempBatchNo= @BatchNo
								if @MaxBatchSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,'', @BatchNo ,1,@MaxBatchSeqNo,@OverallSeqNo,@FirstConsumptionDate,@LastConsumptionDate)
								end
								if @OverallSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,'', @BatchNo ,1,@MaxBatchSeqNo,@OverallSeqNo,@FirstConsumptionDate,@LastConsumptionDate)
								end
								insert into [ODS].[BatchRequirement]
								(OrderNumber,Material,Plant,StorageLocation,Batch,SLED,Unit,BatchQty,Currency,BatchConsumedQty,BatchRemainingQty,FGOrderQty,
								OrderConsumedQty,OrderRemainingQty,RequirementDate,RequirementQty,RequirementDocumentType,HigherLevelAssemblyMaterial,
								Vendor,SupplierBatch,LeadTime,BatchSeqNo,OrderSeqNo,StdPrice,Error,ErrorCode,Alert,AlertCode,BatchExpiry,STO,SupplyPlant,OverallSeqNo,ActualOrdBatchConsumptionQty) 
								VALUES
								(@OrderNumber,coalesce(@Material,@BatchMaterial),@Plant,@StorageLocation,@BatchNo,@BatchSLED,@Unit,@BatchQty,@Currency,@ConsumedQty,@UnConsumedQty,@FGQty,@FulfilledQty,
								@UnFulfilledQty,@RequirementDate,@RequirementQty, @RequirementDocumentType, @HigherLevelAssemblyMaterial,@BatchVendor,@BatchSupplierBatch,@BatchLeadTime, @MaxOrderSeqNo,@MaxBatchSeqNo, @BatchStdPrice, @ErrorFlag,
								@ErrorCode,@Alert,@AlertCode,'Y','N',@Plant,@OverallSeqNo,@ActualConsumptionQty)
							end
						else
						begin
				--		If @PreviousBatchNo != @BatchNo
				--		begin
				----			Set @OrderRowNum = 0
				----			Set @BatchRowNum = 0
				--		end
				--		set @PreviousrecordMaterial = @Material
				--		set @PreviousrecordPlant = @Plant
						
				--		Set @PreviousBatchNo = @BatchNo
						--Set @OrderRowNum = @OrderRowNum + 1
						--If @OrderRowNum = 1
						--begin
						--   	Set @FirstConsumptionDate = @RequirementDate
						--end
						--else
						--Set @PreviousRequirementDate = @RequirementDate
						--Set @LastConsumptionDate = case when @PreviousRequirementDate = '' then @RequirementDate else @PreviousRequirementDate end
						set @DatestoExpire = DATEDIFF(day,@RequirementDate,@BatchSLED)
						If @DatestoExpire <= 10
						begin
							Set @AlertCode = 'Close to SLED'
							Set @Alert = CONCAT('Order ',@OrderNumber,' :',@DatestoExpire, ' days to Expiry')
							Update dbo.BatchOrder
							set Alert = @AlertCode,
							AlertDetails = @Alert
							where Material = @Material
							and Batch = @BatchNo
							and Plant = @BatchPlantNo
						end
					If @RequirementDocumentType = 'STO'
					begin
						Set @STOQty = case when @UnConsumedQty <= @UnfulfilledQty then @UnConsumedQty else @UnfulfilledQty end
						Set @ActualConsumptionQty = @STOQty
					end
						If @UnFulfilledQty >= @UnConsumedQty --- Order remaining vs Batch Remaining
					-- Order vs Batch
						begin
							SET @UnFulfilledQty = @UnFulfilledQty - @UnConsumedQty
							SET @ActualConsumptionQty = @UnConsumedQty
							SET @UnConsumedQty = 0
							SET @FulfilledQty = @RequirementQty - @UnFulfilledQty
							SET @ConsumedQty = @BatchQty - @UnConsumedQty

				--			Set @BatchRowNum =  1
				--			Set @OrderRowNum = @OrderRowNum + 1

						end
						ELSE
						begin
						 --  If @UnFulfilledQty != @UnConsumedQty 
						 --  begin
						 --     	Set @BatchRowNum = @BatchRowNum + 1	
							--	Set @OrderRowNum = 1
							--end
							--else
							--begin
							--	Set @BatchRowNum = 1
							--    Set @OrderRowNum = 1
							--end
							SET @UnConsumedQty = @UnConsumedQty - @UnFulfilledQty
							SET @ActualConsumptionQty = @UnFulfilledQty
							SET @UnFulfilledQty = 0
							SET @FulfilledQty = @RequirementQty - @UnFulfilledQty
							SET @ConsumedQty = @BatchQty - @UnConsumedQty
						end	

					delete from @SequenceNoDetails where TempMaterial != @Material
					Select @OverallSeqNo = Coalesce(MAX(TempOverallSeqNo),0) from @SequenceNoDetails 
								where TempMaterial = @Material
					Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails 
					where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
					
					Select @MaxBatchSeqNo = Coalesce(MAX(TempBatchSeqNo),0) from @SequenceNoDetails 
					where TempMaterial = @Material and TempPlantNo = @BatchPlantNo and TempBatchNo= @BatchNo

			--		Select @FirstConsumptionDate = MAX(
					if @MaxOrderSeqNo = 0
					begin
					     insert into @SequenceNoDetails values
						 (@Material,@Plant,@OrderNumber, '', 1,1,@OverallSeqNo+1,'','')
					end
					else 
					begin 
						Update @SequenceNoDetails set  TempOrderSeqNo = TempOrderSeqNo + 1, TempOverallSeqNo = @OverallSeqNo + 1
						where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
					end
					if  @MaxBatchSeqNo = 0
					begin
						 insert into @SequenceNoDetails values
						 (@Material,@Plant,'', @BatchNo,1, 1,@OverallSeqNo + 1,@RequirementDate,@RequirementDate)
					end
					else 
					begin 
						Update @SequenceNoDetails set  TempBatchSeqNo = TempBatchSeqNo + 1, TempOverallSeqNo = @OverallSeqNo + 1,
						TemplastReqDate = @RequirementDate
						where TempMaterial = @Material and TempPlantNo = @Plant and TempBatchNo = @BatchNo
					end
					Select @FirstConsumptionDate = TempfirstReqDate, @LastConsumptionDate = TemplastReqDate
					from @SequenceNoDetails
					where TempMaterial = @Material and TempPlantNo = @Plant and TempBatchNo = @BatchNo
						UPDATE [dbo].BatchOrder
						SET UnConsumedQty = @UnConsumedQty,
						ConsumedQty = @ConsumedQty,
						FirstConsumptionDate = @FirstConsumptionDate,
						LastConsumptionDate = @LastConsumptionDate
						WHERE Material = @Material
						and Plant = @BatchPlantNo
						and Batch = @BatchNo
						and StorageLocation = @BatchStorageLocation
					If @RequirementDocumentType = 'STO'
					begin
					select @BatchCounter = COUNT(*)
					from [dbo].BatchOrder
					where Material = @Material
					and Plant = @SupplyToPlant
					and Batch = @BatchNo
					and StorageLocation = @BatchStorageLocation	
		--			and @UnConsumedQty > 0
			
					if @BatchCounter = 0
					begin
					If @AlertCode = 'Close to SLED' 
					begin
					    Set @AlertCode = Concat(@AlertCode,' & STO')
						Set @Alert = Concat(@Alert, ' and ','STO of ',@STOQTy,' from Plant:',@Plant,' to Plant:',@SupplyToPlant)
					end
					else
					begin
					    Set @AlertCode = 'STO'
						Set @Alert = concat('STO of ',@STOQTy,' from Plant:',@Plant,' to Plant:',@SupplyToPlant)
					end
						Insert into [dbo].BatchOrder values(
							@Material,
						@SupplyToPlant,
						@Plant,
						@BatchNo,
						@Unit,
						@BatchSLED,
						@FirstConsumptionDate,
						@LastConsumptionDate,
						'',
						'',
						@BatchStorageLocation,
						@STOQty,
						'AUD',
						@BatchVendor,
						@BatchSupplierBatch,
						@BatchLeadTime,
						@BatchStdPrice,
						0,
						@STOQty,
						'N',
						@ErrorCode,
						@ErrorFlag,
						@AlertCode,
						@Alert)
					end
				else
				begin
				If @AlertCode = 'Close to SLED' 
					begin
					    Set @AlertCode = Concat(@AlertCode,' & STO')
						Set @Alert = Concat(@Alert, ' and ','STO of ',@STOQTy,' from Plant:',@Plant,' to Plant:',@SupplyToPlant)
					end
					else
					begin
					    Set @AlertCode = 'STO'
						Set @Alert = concat('STO of ',@STOQTy,' from Plant:',@Plant,' to Plant:',@SupplyToPlant)
					end
					UPDATE  [dbo].BatchOrder
					SET BatchQty = BatchQty + @STOQty,
					UnConsumedQty = UnConsumedQty + @STOQty,
					FirstConsumptionDate = @FirstConsumptionDate,
					LastConsumptionDate = @LastConsumptionDate,
					Alert = @AlertCode,
					AlertDetails = @Alert
					where Material = @Material
					and Plant = @SupplyToPlant
					and Batch = @BatchNo
					and StorageLocation = @BatchStorageLocation	
				 end  
			end
			if (@ErrorFlag = '' )
			begin
			       If @AlertCode = 'STO' and @BatchPlantNo != @BatchSupplyPlant -- Only for receiving Plant
				   begin
				      Set @AlertCode = 'STO Inflow'
					  Set @Alert = concat('STO Coming from : ',@BatchSupplyPlant,', To: ', @BatchPlantNo)
					end

				    delete from @SequenceNoDetails where TempMaterial != @Material

					Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails 
					where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
					
					Select @MaxBatchSeqNo = Coalesce(MAX(TempBatchSeqNo),0) from @SequenceNoDetails 
					where TempMaterial = @Material and TempPlantNo = @BatchPlantNo and TempBatchNo= @BatchNo				     
					Select @OverallSeqNo = Coalesce(MAX(TempOverallSeqNo),0) from @SequenceNoDetails 
					where TempMaterial = @Material 
				insert into [ODS].[BatchRequirement]
				(OrderNumber,Material,Plant,StorageLocation,Batch,SLED,Unit,BatchQty,Currency,BatchConsumedQty,BatchRemainingQty,FGOrderQty,
				OrderConsumedQty,OrderRemainingQty,RequirementDate,RequirementQty,RequirementDocumentType,HigherLevelAssemblyMaterial,
				Vendor,SupplierBatch,LeadTime,BatchSeqNo,OrderSeqNo,StdPrice,Error,ErrorCode,Alert,AlertCode,BatchExpiry,STO,SupplyPlant,OverallSeqNo,ActualOrdBatchConsumptionQty) VALUES
				(@OrderNumber,coalesce(@Material,@BatchMaterial),@Plant,@StorageLocation,@BatchNo,@BatchSLED,@Unit,@BatchQty,@Currency,@ConsumedQty,@UnConsumedQty,@FGQty,@FulfilledQty,
				@UnFulfilledQty,@RequirementDate,@RequirementQty, @RequirementDocumentType, @HigherLevelAssemblyMaterial,@BatchVendor,@BatchSupplierBatch,@BatchLeadTime,@MaxOrderSeqNo,@MaxBatchSeqNo, @BatchStdPrice, @ErrorFlag,@ErrorCode,
				@Alert,@AlertCode,'N',case when @BatchPlantNo != @BatchSupplyPlant then 'Y' else 'N' end, @BatchSupplyPlant,@OverallSeqNo,@ActualConsumptionQty)
			end
		end
	end
end
		
fetch next from InitialRequirement into -- Fetch the cursor into the variables
			@OrderNumber,
			@OrderItemNo,
			@RequirementDocumentType,
			@Material,
			@Plant,
			@StorageLocation,
			@RequirementDate,
			@RequirementQty,
			@Unit,
			@Currency,
			@HigherLevelAssemblyMaterial,
			@SupplyToPlant,
			@FGQty
			;

end
		

close InitialRequirement;
deallocate InitialRequirement;

insert into Ods.BatchRequirement (Material,Plant,StorageLocation,Batch,SLED,
Unit,BatchQty,Currency,BatchConsumedQty,BatchRemainingQty,Vendor,
SupplierBatch,LeadTime,StdPrice,ErrorCode,BatchExpiry,STO,AlertCode,OrderSeqNo,BatchSeqNo,Error,Alert,supplyplant,OverallSeqNo,ActualOrdBatchConsumptionQty) 
select Material,
Plant,
StorageLocation,
Batch,
SLED,
Unit,
BatchQty,
'AUD' as Currency,
ConsumedQty as BatchConsumedQty,
UnConsumedQty as BatchRemainingQty,
Vendor,
SupplierBatch,
LeadTime,
StandardPrc as StdPrice,
Case when SLED <= @TwoYearslater then 'No Demand' else '' end as ErrorCode,
IsExpired as BatchExpiry,
'N' as STO,
Alert as AlertCode,
0,
0,
Case when SLED <= @TwoYearslater then 'No demand before expiration' else '' end as Error,
AlertDetails as Alert,
STOPlant,
0 as OverallSeqNo,
0 as ActualOrdBatchConsumptionQty
from dbo.BatchOrder
where UnConsumedQty > 0
and IsExpired != 'Y'

Insert into dim.BatchConsumption
Select Material,
		Plant,
		STOPlant,
		Batch ,
		Unit,
		SLED,
		FirstConsumptionDate,
		LastConsumptionDate,
		FirstOrderAfterExpiry,
		StorageLocation,
		case when Plant != STOPlant then 0 else BatchQty end as BatchQty,     
		Currency,
		Vendor,
		SupplierBatch,
		LeadTime,
		StandardPrc,
		Case when Plant in (3600,3000) then 0 else ConsumedQty end as ConsumedQty,
		UnConsumedQty,
		IsExpired,
		Case when UnConsumedQty > 0 and SLED <= @TwoYearslater and IsExpired != 'Y' then 'No Demand' else Error end as Error,
		Case when UnConsumedQty > 0 and SLED <= @TwoYearslater and IsExpired != 'Y' then 'No demand before expiration' else ErrorDetails end as ErrorDetails,
		Alert,
		AlertDetails,
		case when Plant != STOPlant then BatchQty else 0 end as STOInQty,
		Case when Plant in (3600,3000)  then ConsumedQty else 0 end as STOBatchOutQty,
		FirstReqDateAfterExpiry
from dbo.BatchOrder
end
GO
