USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_ODS_SDP_eachrequests]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE     procedure [dbo].[usp_insert_ODS_SDP_eachrequests]
as
BEGIN
	DECLARE @json VARCHAR(MAX);
    DECLARE @json_v VARCHAR(MAX);

    DECLARE cursor_requests CURSOR FOR
    SELECT Json_Values 
    FROM Stg.SDP_JSON
    WHERE type='each_Requests';

    OPEN cursor_requests;
    FETCH NEXT FROM cursor_requests INTO @json;

    WHILE @@FETCH_STATUS = 0
    BEGIN

	Select @json_v = value from openjson(@json)
	where [key] ='request'

INSERT INTO [ODS].[SDP_each_requests]([request_id],[priority],[subject],[ticket_id],[created_by_Email],[created_byName],[created_byID],[responded_time],[responded_Due_Date],[department_id],[department_name],
[resolved_date],[last_updated_date],[assigned_time],[site],[service_category],[category],[sub_category],[item],[request_type])
Select*
from openjson(@json_v)
with ( 
	request_id nvarchar(50) '$.id', 
	priority nvarchar(5) '$.priority.name',
	sunject nvarchar(max) '$.subject',
	ticket_id nvarchar(100) '$.display_id',
	created_byEmail nvarchar(100) '$.created_by.email_id',
	created_byName nvarchar(100) '$.created_by.name',
	created_byID nvarchar(100) '$.created_by.id',
	responded_time datetime '$.responded_time.display_value',
	responded_Due_Date datetime '$.first_response_due_by_time.display_value',
	department_id nvarchar(50) '$.department.id',
	department_name nvarchar(50) '$.department.name',
	resolved_date datetime '$.resolved_time.display_value',
	last_updated_date datetime '$.last_updated_time.display_value',
	assigned_time date '$.assigned_time.display_value',
	site nvarchar(50) '$.department.site.name',
	service_category nvarchar(50) '$.service_category.name',
	category nvarchar(50) '$.category.name',
	sub_category nvarchar(50) '$.subcategory.name',
	item nvarchar(50) '$.item.name',
	request_type nvarchar(50) '$.request_type.name')

        FETCH NEXT FROM cursor_requests INTO @json;
    END

    -- Close cursor
    CLOSE cursor_requests;
    DEALLOCATE cursor_requests;

end;
GO
