USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_update_ODS_ConditionScalePricing_temp]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_update_ODS_ConditionScalePricing_temp]
AS
BEGIN
    SET NOCOUNT ON;

WITH cond_count AS 
(
    SELECT condRecNo, COUNT(*) AS count
    FROM [ODS].[ConditionScalePricing]
    GROUP BY condRecNo
)
UPDATE a
SET a.count = b.count
FROM [ODS].[ConditionScalePricing] a
INNER JOIN cond_count b
ON a.condRecNo = b.condRecNo;

End;

GO
