USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_BILLMATITEM]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_BILLMATITEM>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_BILLMATITEM]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_BILLMATITEM]  

insert into [SAPSTG].[ZXC_BILLMATITEM]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AlternativeItemGroup  =NULLIF(cast(AlternativeItemGroup as nvarchar(2)),'') ,
BillOfMaterial  =NULLIF(cast(BillOfMaterial as nvarchar(8)),'') ,
BillOfMaterialCategory  =NULLIF(cast(BillOfMaterialCategory as nvarchar(1)),'') ,
BillOfMaterialComponent  = case when isnumeric(BillOfMaterialComponent) =1 
                                    		then 	NULLIF(cast(cast(BillOfMaterialComponent as BIGINT) as nvarchar(40)),'')
                                            else  NULLIF(cast(BillOfMaterialComponent as nvarchar(40)),'') end,
BillOfMaterialItemCategory  =NULLIF(cast(BillOfMaterialItemCategory as nvarchar(1)),'') ,
BillOfMaterialItemCategoryDesc  =NULLIF(cast(BillOfMaterialItemCategoryDesc as nvarchar(30)),'') ,
BillOfMaterialItemNodeNumber  =NULLIF(cast(BillOfMaterialItemNodeNumber as nvarchar(8)),'') ,
BillOfMaterialItemNumber  =NULLIF(cast(BillOfMaterialItemNumber as nvarchar(4)),'') ,
BillOfMaterialItemQuantity  =cast(BillOfMaterialItemQuantity as decimal(38,6)) ,
BillOfMaterialItemUnit  =NULLIF(cast(BillOfMaterialItemUnit as nvarchar(3)),'') ,
BillOfMaterialItemUUID   = substring(lower(convert(varchar(36),BillOfMaterialItemUUID, 2)),1,8)+'-'
						+ substring(lower(convert(varchar(36),BillOfMaterialItemUUID, 2)),9,4) +'-'
						+ substring(lower(convert(varchar(36),BillOfMaterialItemUUID, 2)),13,4) +'-'
						+ substring(lower(convert(varchar(36),BillOfMaterialItemUUID, 2)),17,4)+'-'
						+ substring(lower(convert(varchar(36),BillOfMaterialItemUUID, 2)),21,12)  ,
BillOfMaterialVariant  = case when isnumeric(BillOfMaterialVariant) =1 
                                    		then 	NULLIF(cast(cast(BillOfMaterialVariant as INT) as nvarchar(2)),'')
                                            else  NULLIF(cast(BillOfMaterialVariant as nvarchar(2)),'') end,
BillOfMaterialVersion  =NULLIF(cast(BillOfMaterialVersion as nvarchar(4)),'') ,
BOMIsRecursive  =case BOMIsRecursive when 'X' then cast(1 as bit) else cast(0 as bit) end ,
BOMItemCreatedByUser  =NULLIF(cast(BOMItemCreatedByUser as nvarchar(12)),'') ,
BOMItemDescription  =NULLIF(cast(BOMItemDescription as nvarchar(40)),'') ,
BOMItemInternalChangeCount  =NULLIF(cast(BOMItemInternalChangeCount as nvarchar(8)),'') ,
BOMItemIsCostingRelevant  =NULLIF(cast(BOMItemIsCostingRelevant as nvarchar(1)),'') ,
BOMItemIsPlantMaintRelevant  =case BOMItemIsPlantMaintRelevant when 'X' then cast(1 as bit) else cast(0 as bit) end ,
BOMItemIsSalesRelevant  =NULLIF(cast(BOMItemIsSalesRelevant as nvarchar(1)),'') ,
BOMItemIsSparePart  =NULLIF(cast(BOMItemIsSparePart as nvarchar(1)),'') ,
BOMItemLastChangeDate  =CASE WHEN ISDATE(BOMItemLastChangeDate) = 1 
                        		then CONVERT(datetime,BOMItemLastChangeDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),BOMItemLastChangeDate) 
                         		else null 	end ,
BOMItemLastChangedByUser  =NULLIF(cast(BOMItemLastChangedByUser as nvarchar(12)),'') ,
BOMItemRecordCreationDate  =CASE WHEN ISDATE(BOMItemRecordCreationDate) = 1 
                        		then CONVERT(datetime,BOMItemRecordCreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),BOMItemRecordCreationDate) 
                         		else null 	end ,
BOMItemSorter  =NULLIF(cast(BOMItemSorter as nvarchar(10)),'') ,
BOMItemText2  =NULLIF(cast(BOMItemText2 as nvarchar(40)),'') ,
ChgToEngineeringChgDocument  =NULLIF(cast(ChgToEngineeringChgDocument as nvarchar(12)),'') ,
ClassNumber  =NULLIF(cast(ClassNumber as nvarchar(18)),'') ,
ClassType  =NULLIF(cast(ClassType as nvarchar(3)),'') ,
ComponentScrapInPercent  =cast(ComponentScrapInPercent as decimal(38,6)) ,
CostElement  = case when isnumeric(CostElement) =1 
                               						then NULLIF(cast(cast(CostElement as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(CostElement as nvarchar(10)),'') end,
Creditor  =NULLIF(cast(Creditor as nvarchar(10)),'') ,
Currency  =NULLIF(cast(Currency as nvarchar(5)),'') ,
DeliveryDurationInDays  =cast(DeliveryDurationInDays as decimal(38,6)) ,
DependencyObjectNumber  =NULLIF(cast(DependencyObjectNumber as nvarchar(18)),'') ,
DiscontinuationGroup  =NULLIF(cast(DiscontinuationGroup as nvarchar(2)),'') ,
DistrKeyCompConsumption  =NULLIF(cast(DistrKeyCompConsumption as nvarchar(4)),'') ,
DocNumber  =NULLIF(cast(DocNumber as nvarchar(25)),'') ,
DocumentIsCreatedByCAD  =case DocumentIsCreatedByCAD when 'X' then cast(1 as bit) else cast(0 as bit) end ,
DocumentPart  =NULLIF(cast(DocumentPart as nvarchar(3)),'') ,
DocumentType  =NULLIF(cast(DocumentType as nvarchar(3)),'') ,
DocumentVersion  =NULLIF(cast(DocumentVersion as nvarchar(2)),'') ,
EngineeringChangeDocument  =NULLIF(cast(EngineeringChangeDocument as nvarchar(12)),'') ,
ExplosionType  =NULLIF(cast(ExplosionType as nvarchar(2)),'') ,
FixedQuantity  =case FixedQuantity when 'X' then cast(1 as bit) else cast(0 as bit) end ,
FollowUpGroup  =NULLIF(cast(FollowUpGroup as nvarchar(2)),'') ,
FormulaKey  =NULLIF(cast(FormulaKey as nvarchar(2)),'') ,
GoodsReceiptDuration  =cast(GoodsReceiptDuration as decimal(38,6)) ,
IdentifierBOMItem  =NULLIF(cast(IdentifierBOMItem as nvarchar(8)),'') ,
InheritedNodeNumberForBOMItem  =NULLIF(cast(InheritedNodeNumberForBOMItem as nvarchar(8)),'') ,
InheritedNodeNumberVersionBOM  =NULLIF(cast(InheritedNodeNumberVersionBOM as nvarchar(8)),'') ,
IsALE  =case IsALE when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsAssembly  =NULLIF(cast(IsAssembly as nvarchar(1)),'') ,
IsBOMRecursiveAllowed  =case IsBOMRecursiveAllowed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsBulkMaterial  =case IsBulkMaterial when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsClassificationRelevant  =case IsClassificationRelevant when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsConfigurableBOM  =NULLIF(cast(IsConfigurableBOM as nvarchar(1)),'') ,
IsDeleted  =case IsDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsEngineeringRelevant  =case IsEngineeringRelevant when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsMaterialProvision  =NULLIF(cast(IsMaterialProvision as nvarchar(1)),'') ,
IsNetScrap  =case IsNetScrap when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsPhantomItem  =case IsPhantomItem when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsProductionRelevant  =case IsProductionRelevant when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsSubItem  =case IsSubItem when 'X' then cast(1 as bit) else cast(0 as bit) end ,
LeadTimeOffset  =cast(LeadTimeOffset as decimal(38,6)) ,
MaterialComponentIsPhantomItem  =case MaterialComponentIsPhantomItem when 'X' then cast(1 as bit) else cast(0 as bit) end ,
MaterialComponentPrice  =cast(MaterialComponentPrice as decimal(38,6)) ,
MaterialGroup  =NULLIF(cast(MaterialGroup as nvarchar(9)),'') ,
MaterialIsCoProduct  =case MaterialIsCoProduct when 'X' then cast(1 as bit) else cast(0 as bit) end ,
MaterialName  =NULLIF(cast(MaterialName as nvarchar(1)),'') ,
MaterialPriceUnitQty  =cast(MaterialPriceUnitQty as decimal(38,6)) ,
MultipleSelectionAllowed  =case MultipleSelectionAllowed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
NumberOfVariableSizeItem  =cast(NumberOfVariableSizeItem as decimal(38,6)) ,
ObjectType  =NULLIF(cast(ObjectType as nvarchar(1)),'') ,
OperationLeadTimeOffset  =cast(OperationLeadTimeOffset as decimal(38,6)) ,
OperationScrapInPercent  =cast(OperationScrapInPercent as decimal(38,6)) ,
OpsLeadTimeOffsetUnit  =NULLIF(cast(OpsLeadTimeOffsetUnit as nvarchar(3)),'') ,
ProdOrderIssueLocation  =NULLIF(cast(ProdOrderIssueLocation as nvarchar(4)),'') ,
ProductionSupplyArea  =NULLIF(cast(ProductionSupplyArea as nvarchar(10)),'') ,
PurchasingGroup  =NULLIF(cast(PurchasingGroup as nvarchar(3)),'') ,
PurchasingOrganization  =NULLIF(cast(PurchasingOrganization as nvarchar(4)),'') ,
QuantityVariableSizeItem  =cast(QuantityVariableSizeItem as decimal(38,6)) ,
ReferencePoint  =NULLIF(cast(ReferencePoint as nvarchar(20)),'') ,
RequiredComponent  =case RequiredComponent when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ResultingItemCategory  =NULLIF(cast(ResultingItemCategory as nvarchar(1)),'') ,
Size1  =cast(Size1 as decimal(38,6)) ,
Size2  =cast(Size2 as decimal(38,6)) ,
Size3  =cast(Size3 as decimal(38,6)) ,
SpecialProcurementType  =NULLIF(cast(SpecialProcurementType as nvarchar(2)),'') ,
UnitOfMeasureForSize1To3  =NULLIF(cast(UnitOfMeasureForSize1To3 as nvarchar(3)),'') ,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
ScriptVersionDate = cast(getdate() as date)
from SAPSTG.ZXCBILLMATITEM

END
GO
