USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_UniversalJournalMonthSummary]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <10/12/2021>
-- Description:	<LOAD Fact UniversalJournalMonthSummary>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_Fact_UniversalJournalMonthSummary]
AS
BEGIN

Declare @FiscalYearPeriod nvarchar(7)
set @FiscalYearPeriod = (select case when right(max(concat(fiscalyear, PostingPeriod)),2)=01 then max(concat(fiscalyear-1, '011'))  --BC: on day 1 of the new year,max period is 12 before insert. then it will go to else 12-2 = 10, and will reload 3 months data
						 when right(max(concat(fiscalyear, PostingPeriod)),2)=02 then max(concat(fiscalyear-1, '012'))				-- KS: This scenario will happen on first day of the year only so there is no harm in reloading 2 period + 1 day data.. Next day as usual it will reload 202312 and 202401
						 else max(concat(fiscalyear, PostingPeriod)-2) 
						END as FiscalYearPeriod
					from  fact.[UniversalJournalMonthSummary])				  

--Delete last 2 FiscalPeriod data from Fact table 

Delete from Fact.[UniversalJournalMonthSummary]		  
where concat(fiscalyear, PostingPeriod) > @FiscalYearPeriod
;

--Insert last 2 FiscalPeriod data in Fact table from UniversalJournal table

 WITH CurrentMonthStamp AS
 (
 SELECT year(getdate())*100+MONTH(getdate()) as MonthStamp 
 )
 ,
 --select * from  CurrentMonthStamp
 
MonthsAccountSummary AS
(
SELECT '2640823' as ProcessExecutionID
,Getdate() as LoadDateTime
,MonthStamp					= t.MonthStamp
,j.CompanyCode 
, j.CostCenter 
, j.ProfitCenter 
, j.AccountNumber 
, J.[CODebit/CreditIndicator] as CODebitCreditIndicator
, j.FiscalYear 
, j.PostingPeriod 
, ValueinLocalCurrency		=	SUM(j.ValueinLocalCurrency) 
, ValueinLocalCurrencyCC	=   SUM(case when j.ObjectClass = 'OCOST'
								then j.ValueinLocalCurrency
                                else 0
                                end)
, ValueinLocalCurrencyPA	=   SUM(case when j.ObjectClass = 'PROFT'
								then j.ValueinLocalCurrency
                                else 0
                                end)   
, ValueinLocalCurrencyIN	=   SUM(case when j.ObjectClass = 'INVST'
								then j.ValueinLocalCurrency
                                else 0
                                end)
, ValueinLocalCurrencyPR	=   SUM(case when j.ObjectClass = 'PRODT'
								then j.ValueinLocalCurrency
                                else 0
                                end)  
, ValueinLocalCurrencyOT	=   SUM(case when ISNULL(j.ObjectClass,'')=''
								then j.ValueinLocalCurrency
                                else 0
                                end)       
, ValueinGroupCurrency		=	SUM(j.ValueinGroupCurrency)
-- Overheads
, ValueinGroupCurrencyCC	=   SUM(case when j.ObjectClass = 'OCOST'
								then j.ValueinGroupCurrency
                                else 0
                                end)
-- Profit Analysis                            
, ValueinGroupCurrencyPA	=   SUM(case when j.ObjectClass = 'PROFT'
								then j.ValueinGroupCurrency
                                else 0
                                end)  
-- Investment 
, ValueinGroupCurrencyIN	=   SUM(case when j.ObjectClass = 'INVST'
								then j.ValueinGroupCurrency
                                else 0
                                end)
-- Production                              
, ValueinGroupCurrencyPR	=   SUM(case when j.ObjectClass = 'PRODT'
								then j.ValueinGroupCurrency
                                else 0
                                end)  
 -- Other Unassigned
, ValueinGroupCurrencyOT	=   SUM(case when ISNULL(j.ObjectClass,'')=''
								then j.ValueinGroupCurrency
                                else 0
                                end)        
, j.CurrencyKey
, j.MaterialNumber
, j.UnitOfMeasureForValuationQuantity
 ,j.[ValuationQuantity]
 ,j.[OrderNumber]

  FROM [BI_PROD_POST_SAP].[ODS].[UniversalJournal_CurrentFY] (NOLOCK)  j
  
INNER JOIN CurrentMonthStamp t WITH (NOLOCK)
	ON j.TimestampinShortForm<=getdate() 
WHERE j.TypeofaGeneralLedgerAccount IN ('N','P','X','S')  
	and concat(j.fiscalyear, j.PostingPeriod) > @FiscalYearPeriod						--Added condition to get only last 2 Fiscal Period data
 
GROUP BY  
 T.MonthStamp
,j.CompanyCode 
, j.CostCenter 
, j.ProfitCenter 
, j.AccountNumber 
, j.FiscalYear 
, j.PostingPeriod 
 ,j.CurrencyKey
 ,J.[CODebit/CreditIndicator] 
 , j.MaterialNumber
 , j.UnitOfMeasureForValuationQuantity
 ,j.[ValuationQuantity]
 ,j.[OrderNumber]
 )
 INSERT INTO [fact].[UniversalJournalMonthSummary]							--While deploying change it to [Fact].[UniversalJournalMonthSummary]  
 SELECT * FROM MonthsAccountSummary
END
GO
