USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CUSTSALESPARTNER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_CUSTSALESPARTNER]>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CUSTSALESPARTNER]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_CUSTSALESPARTNER] 

-- Insert data into staging table

INSERT INTO SAPSTG.ZXC_CUSTSALESPARTNER
SELECT 
ProcessExecutionID  		=NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AuthorizationGroup  		=NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
BPCustomerNumber  			=case when isnumeric(BPCustomerNumber) =1 
                                    		then 	NULLIF(cast(cast(BPCustomerNumber as BIGINT) as nvarchar(10)),'')
                                            else  NULLIF(cast(BPCustomerNumber as nvarchar(10)),'') end,
Customer  					= case when isnumeric(Customer) =1 
                                    		then 	NULLIF(cast(cast(Customer as BIGINT) as nvarchar(10)),'')
                                            else  NULLIF(cast(Customer as nvarchar(10)),'') end,
CustomerPartnerDescription  =NULLIF(cast(CustomerPartnerDescription as nvarchar(30)),'') ,
DefaultPartner  			=case DefaultPartner when 'X' then cast(1 as bit) else cast(0 as bit) end ,
DistributionChannel  		=NULLIF(cast(DistributionChannel as nvarchar(2)),'') ,
Division  					=NULLIF(cast(Division as nvarchar(2)),'') ,
PartnerCounter  			=NULLIF(cast(PartnerCounter as nvarchar(3)),'') ,
PartnerFunction  			= case PartnerFunction
							when 'Z0' then 'Z0'
                            when 'ZZ' then 'ZZ'
                            when 'RG' then 'PY'
                            when 'AG' then 'SP'
                            when 'RE' then 'BP'
                            when 'SP' then 'CR'
                            when 'WE' then 'SH' 
                            else  NULLIF(cast(PartnerFunction as nvarchar(2)),'')
                            end ,
PersonnelNumber  			=NULLIF(cast(PersonnelNumber as nvarchar(8)),'') ,
SalesOrganization  			=NULLIF(cast(SalesOrganization as nvarchar(4)),'') ,
VendorNo  					=case when isnumeric(VendorNo ) =1 
                                    		then 	NULLIF(cast(cast(VendorNo  as BIGINT) as nvarchar(10)),'')
                                            else  NULLIF(cast(VendorNo  as nvarchar(10)),'') end,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCCUSTSALESPARTNER WITH (NOLOCK)

END

GO
