USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_ADDRESS]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_ADDRESS>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_ADDRESS]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_ADDRESS]

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_ADDRESS] 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AdditionalStreetPrefixName  =NULLIF(cast(AdditionalStreetPrefixName as nvarchar(40)),'') ,
AdditionalStreetSuffixName  =NULLIF(cast(AdditionalStreetSuffixName as nvarchar(40)),'') ,
AddressID  = case when isnumeric(AddressID) =1 
                               						then cast(cast(AddressID as BIGINT) as nvarchar(10)) 
                                    				else  cast(AddressID as nvarchar(10)) end,
AddressTimeZone  =NULLIF(cast(AddressTimeZone as nvarchar(6)),'') ,
Building  =NULLIF(cast(Building as nvarchar(20)),'') ,
BusinessPartnerName1  =NULLIF(cast(BusinessPartnerName1 as nvarchar(40)),'') ,
BusinessPartnerName2  =NULLIF(cast(BusinessPartnerName2 as nvarchar(40)),'') ,
BusinessPartnerName3  =NULLIF(cast(BusinessPartnerName3 as nvarchar(40)),'') ,
BusinessPartnerName4  =NULLIF(cast(BusinessPartnerName4 as nvarchar(40)),'') ,
CareOfName  =NULLIF(cast(CareOfName as nvarchar(40)),'') ,
--CityCode  =NULLIF(cast(CityCode as nvarchar(12)),'') ,
[CityCode]  = case when isnumeric([CityCode]) =1 
						then cast(cast([CityCode] as BIGINT) as nvarchar(10)) 
					 WHEN [CityCode] = '' THEN NULL
                    else  cast([CityCode] as nvarchar(10)) end,
CityName  =NULLIF(cast(CityName as nvarchar(40)),'') ,
CitySearch  =NULLIF(cast(CitySearch as nvarchar(25)),'') ,
CompanyPostalCode  =NULLIF(cast(CompanyPostalCode as nvarchar(10)),'') ,
CorrespondenceLanguage  =CASE WHEN CorrespondenceLanguage = 'E' THEN 'EN' 
							WHEN CorrespondenceLanguage = '' THEN NULL
							ELSE CorrespondenceLanguage END ,
--[CorrespondenceLanguage] = case when [CorrespondenceLanguage] ='' then null
--   else [CorrespondenceLanguage] end,
Country  =NULLIF(cast(Country as nvarchar(3)),'') ,
County  =NULLIF(cast(County as nvarchar(40)),'') ,
DeliveryServiceNumber  =NULLIF(cast(DeliveryServiceNumber as nvarchar(10)),'') ,
DeliveryServiceTypeCode  =NULLIF(cast(DeliveryServiceTypeCode as nvarchar(4)),'') ,
District  =NULLIF(cast(District as nvarchar(40)),'') ,
FaxNumber  =NULLIF(cast(FaxNumber as nvarchar(30)),'') ,
Floor  =NULLIF(cast(Floor as nvarchar(10)),'') ,
FormOfAddress  =NULLIF(cast(FormOfAddress as nvarchar(4)),'') ,
FullName  =NULLIF(cast(FullName as nvarchar(80)),'') ,
HomeCityName  =NULLIF(cast(HomeCityName as nvarchar(40)),'') ,
HouseNumber  =NULLIF(cast(HouseNumber as nvarchar(10)),'') ,
HouseNumberSupplementText  =NULLIF(cast(HouseNumberSupplementText as nvarchar(10)),'') ,
Nation  =NULLIF(cast(Nation as nvarchar(1)),'') ,
Person  = case when isnumeric(Person) =1 
                               						then cast(cast(Person as BIGINT) as nvarchar(10))
													else  cast(Person as nvarchar(10)) end,
PhoneNumber  =NULLIF(cast(PhoneNumber as nvarchar(30)),'') ,
POBox  =NULLIF(cast(POBox as nvarchar(10)),'') ,
POBoxDeviatingCityName  =NULLIF(cast(POBoxDeviatingCityName as nvarchar(40)),'') ,
POBoxDeviatingCountry  =NULLIF(cast(POBoxDeviatingCountry as nvarchar(3)),'') ,
POBoxDeviatingRegion  =NULLIF(cast(POBoxDeviatingRegion as nvarchar(3)),'') ,
POBoxIsWithoutNumber  =case POBoxIsWithoutNumber when 'X' then cast(1 as bit) else cast(0 as bit) end ,
POBoxLobbyName  =NULLIF(cast(POBoxLobbyName as nvarchar(40)),'') ,
POBoxPostalCode  =NULLIF(cast(POBoxPostalCode as nvarchar(10)),'') ,
PostalCode  =NULLIF(cast(PostalCode as nvarchar(10)),'') ,
PrfrdCommMediumType  =NULLIF(cast(PrfrdCommMediumType as nvarchar(3)),'') ,
Region  =NULLIF(cast(Region as nvarchar(3)),'') ,
RoomNumber  =NULLIF(cast(RoomNumber as nvarchar(10)),'') ,
SearchTerm1  =NULLIF(cast(SearchTerm1 as nvarchar(20)),'') ,
SearchTerm2  =NULLIF(cast(SearchTerm2 as nvarchar(20)),'') ,
StreetName  =NULLIF(cast(StreetName as nvarchar(60)),'') ,
StreetPrefixName  =NULLIF(cast(StreetPrefixName as nvarchar(40)),'') ,
StreetSearch  =NULLIF(cast(StreetSearch as nvarchar(25)),'') ,
StreetSuffixName  =NULLIF(cast(StreetSuffixName as nvarchar(40)),'') ,
TaxJurisdiction  =NULLIF(cast(TaxJurisdiction as nvarchar(15)),'') ,
TransportZone  =NULLIF(cast(TransportZone as nvarchar(10)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCADDRESS WITH (NOLOCK) 
END
GO
