USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_WeekSalesSAP]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**-- =============================================
-- Author:		<SHINKIS>
-- Create date: <14/01/2022>
-- Description:	<LOAD Fact.WeekSalesSAP>
Version		Date			Author				Comment
1.0			14/01/2022		Kishor Shinde		Initial Draft
1.1			25/03/2025		Kishor Shinde		Added [FiscalYearPeriod] column, added delete part for last 2 fiscal periods
1.2			14/04/2025		Kishor Shinde
1.3			14/04/2025		Kishor Shinde		Fix has been applied to take data from last 2 correct fiscal periods
-- =============================================*/

CREATE PROCEDURE [dbo].[usp_Insert_Fact_WeekSalesSAP]
AS

--Delete only last 2 fiscalperiod data							Added this part for increamental load of 2 fiscalperiod data

DELETE from [Fact].[WeekSalesSAP]  
where fiscalyearperiod > (select case when right((FiscalYearPeriod-2),2) = 00 	then concat (left(FiscalYearPeriod,4)-1,12)
when right((FiscalYearPeriod-2),2) = 99 	then concat (left(FiscalYearPeriod,4)-1,11)
else FiscalYearPeriod-2 end from dim.CalendarDate									
where CalendarDate= (select max(SalesDate) from ods.UniversalJournalSales_CurrentFY))

--Delete existing data from Fact table

--TRUNCATE TABLE [Fact].[WeekSalesSAP]

--Load data in Fact table
BEGIN

Insert into [FACT].[WeekSalesSAP]
(      [LoadDateTime]
		,[FiscalYear]
      ,[FiscalPeriod]
      ,[WeekendDate]
	  ,[FiscalYearWeekIntKey]
      ,[CustomerNo]
      ,[ProductNo]
      ,[SalesQuantity]
      ,[GrossSalesValue]
      ,[InvoiceDiscount]
      ,[NetInvoicevalue]
      ,[DeferredCaseDiscount]
      ,[DeferredTermsDiscount]
      ,[DeferredOtherDiscount]
      ,[TotalDeferredDiscount]
      ,[CostOfGoodSold]
      ,[GrossMargin]
      ,[FreightOutbound]
	  ,[FiscalYearPeriod])			--columns added --kishor shinde 25-03-2022

Select getdate(),
d.FiscalYear,
d.FiscalPeriod,
d.WeekendDate,
CAST(CAST(d.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(d.FiscalWeek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey,
coalesce(s.CustomerNo,'1034248') as CustomerNo , -- Mulgrave as default Customer
coalesce(s.ProductNo,'5000002') as ProductNo  ,-- Default Item 5000002
sum(SalesQuantity) 	as SalesQuantity,
sum(GrossSalesValue) as GrossSalesValue,
-1* sum(InvoiceDiscount) as InvoiceDiscount,
sum(GrossSalesValue)-sum(InvoiceDiscount) as NetInvoicevalue, 
-1*sum(DeferredCaseDiscount) as DeferredCaseDiscount,
-1*sum(DeferredTermsDiscount) as DeferredTermsDiscount,
-1*sum(DeferredOtherDiscount) as DeferredOtherDiscount,
-1*sum(DeferredCaseDiscount)+ sum(DeferredTermsDiscount)+ sum(DeferredOtherDiscount) as TotalDeferredDiscount,
-1*sum(CostOfGoodSold) as CostOfGoodSold,
sum(GrossSalesValue)-sum(InvoiceDiscount) 
- (sum(DeferredCaseDiscount)+ sum(DeferredTermsDiscount)+ sum(DeferredOtherDiscount))
- sum(CostOfGoodSold) as GrossMargin,
-1*sum(FreightOutbound) as FreightOutbound,
d.FiscalYearPeriod
from 
(Select * from ODS.UniversalJournalSales_CurrentFY 
UNION ALL Select * from ODS.UniversalJournalSales_PreviousFY) s
inner join dim.CalendarDate d on s.SalesDate=d.CalendarDate
WHERE s.SalesDate>='Feb 25,2019' -- Start of SAP
and d.FiscalYearPeriod > 
(select case when right((FiscalYearPeriod-2),2) = 00 	then concat (left(FiscalYearPeriod,4)-1,12)				--Fix has been applied for correct FiscalPeriod
	when right((FiscalYearPeriod-2),2) = 99 	then concat (left(FiscalYearPeriod,4)-1,11)						--Fix has been applied for correct FiscalPeriod
else FiscalYearPeriod-2 end from dim.CalendarDate									--Get data for last 2 FiscalPeriod
where CalendarDate= (select max(SalesDate) from ods.UniversalJournalSales_CurrentFY))

GROUP BY d.FiscalYear,d.FiscalPeriod ,d.WeekendDate
,CustomerNo,s.ProductNo, CAST(CAST(d.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(d.FiscalWeek AS varchar(2)), 2) AS int),
d.FiscalYearPeriod

END
GO
