USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ForwardOrders]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <21/03/2022>
-- Description:	<POPULATE ODS.ForwardOrders>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_ForwardOrders]
AS
BEGIN

TRUNCATE TABLE ODS.ForwardOrders;


WITH
-- Get Invoice Lines current Week
	InvoicedLines AS
    ( Select uj.SalesOrder,uj.ProductNo,uj.SalesDate
    ,uj.RefrenceDocumentNumber as InvoiceNumber,
    SUM(uj.Quantity)*-1 as InvoicedQuantity 
    ,'Invoiced' as Status
    FROM (Select * from ODS.UniversalJournalSales_CurrentFY WITH (NOLOCK)
UNION ALL Select * from ODS.UniversalJournalSales_PreviousFY WITH (NOLOCK)) uj 
    INNER JOIN ODS.FiscalCalendar d WITH (NOLOCK)
    ON d.CalendarDate=uj.SalesDate
    WHERE uj.IsQTY=1 and d.WeekOffset in (0,1)
    GROUP BY uj.SalesOrder,uj.ProductNo,uj.SalesDate,uj.RefrenceDocumentNumber
    )
,
-- Get Schedule lines...
 
      SAPScheduleQuantity AS
   (
   SELECT
	 [SalesDocument]		= s.SalesDocument
	,[SalesDocumentItem]	= CAST(s.SalesDocumentItem AS INT)
	,[ScheduleLine]			= MAX(CAST(s.ScheduleLine AS INT))
	,[LoadingDate]			= MIN(CAST(s.LoadingDate as date))
	,[OpenQuantity]			= CASE WHEN SUM(s.DeliveredQuantityInBaseUnit) <> 0
									THEN SUM(s.DeliveredQuantityInBaseUnit) 
								 ELSE CASE WHEN SUM(s.OpenReqdDelivQtyInBaseUnit) <> 0
									THEN SUM(s.OpenReqdDelivQtyInBaseUnit)
								 ELSE CASE WHEN SUM(s.OpenConfdDelivQtyInBaseUnit) <> 0		
									THEN SUM(s.OpenConfdDelivQtyInBaseUnit)   
										ELSE SUM(s.ScheduleLineOrderQuantity)						  
							  	END
								END
								END

	FROM [SAPSTG].[ZXC_SALESDOCSCHEDLN] s WITH (NOLOCK)
	WHERE CAST(s.LoadingDate as date) >= cast(GetDate()-3 as date) AND s.GoodsMovementType <> '655'
	GROUP BY  
	 [SalesDocument]
	,[SalesDocumentItem]
	HAVING MIN(CAST(LoadingDate as date))  >= cast(GetDate()-3 as date)
   )
    ,
   
-- *** Get Sales Order lines...

  SAPSalesOrderDetails AS
  (
  SELECT 
  	   [SalesOrder]				= CAST(sd.SalesOrder as int)
      ,[SalesOrderLine]			= CAST(sd.SalesOrderItem as int)
      ,[OrderDate]				= cast( sh.SalesOrderDate as date)
      ,[CustomerNumber]			= sh.SoldToParty		
      ,[ProductNumber]			= sd.Material	
      ,[OrderAmount]			= cast (sd.NetAmount*(sd.PriceDetnExchangeRate) as money)
      ,[OrderQuantity]			= sd.OrderQuantity * ( sd.ORDERTOBASEQUANTITYNMRTR/sd.ORDERTOBASEQUANTITYDNMNTR)
      ,[ReceiptDate]			= cast(SH.RequestedDeliveryDate as date)
      ,[Status]					= CASE sd.TotalDeliveryStatus WHEN 'A' THEN 'Not Delivered' 
      						  						 	 WHEN 'B' THEN 'Partially Delivered'
                               						 	 WHEN 'C' THEN 'Delivered'
                                                         ELSE 'Delivered' END
      ,[DeliveryAddress]		= dc.AddressID	
      ,[LoadingDate]			= cast(sq.LoadingDate AS Date) 
      ,[ScheduleQuantity]		= sq.OpenQuantity	
      ,[NetPrice]				= case when isnull(sd.NetPriceQuantity,0)=0 then 0 else  sd.NetPriceAmount /sd.NetPriceQuantity end
      ,sd.NetPriceQuantityUnit
      
  FROM 				SAPScheduleQuantity sq WITH (NOLOCK) 
  left JOIN 		SAPSTG.ZXC_SALESORDITM sd WITH (NOLOCK)
  	ON sq.SalesDocument=sd.SalesOrder and Sq.SalesDocumentItem =CAST(sd.SalesOrderItem as INT)
  lEFT JOIN 		SAPSTG.ZXC_SALESORDER sh WITH (NOLOCK) 
  	ON sh.SalesOrder=sd.SalesOrder
  LEFT JOIN		SAPSTG.ZXC_MATBASICDATA i WITH (NOLOCK) 
  	ON i.Material=sd.Material
  LEFT OUTER JOIN 	SAPSTG.ZXC_CUSTOMER dc WITH (NOLOCK) 
  	ON sh.SoldToParty=dc.Customer
  WHERE isnull(sd.StatisticalValueControl,'') <> 'X' AND
	 i.MaterialType <>'NLAG'
     -- JG 18/10/19 
     AND sh.SalesOrderType<>'ZBV' -- Milk Swap Orders
    )
 
 --*** Put it all together...
  INSERT INTO [ODS].[ForwardOrders]
           ([LoadDateTime]
           ,[FiscalYearWeekDisplay]
           ,[FiscalYearWeekIntKey]
           ,[FiscalYear]
           ,[FiscalWeek]
           ,[SalesOrder]
           ,[SalesOrderLine]
           ,[CustomerNo]
           ,[ProductNo]
           ,[OrderDate]
           ,[ReceiptDate]
           ,[DeliveryDate]
           ,[OrderAmount]
           ,[OrderQuantity]
           ,[LineStatus]
           ,[Status]
		   ,[Source])
  SELECT
	Getdate()
  	,CAST(d.Fiscalyear AS varchar(4)) + ' ' + RIGHT('0' + CAST(CAST(d.FiscalWeekNumber AS int) AS varchar (2)),2) AS FiscalYearWeekDisplay
	,CAST(d.fiscalyear AS varchar(4)) + RIGHT('0' + CAST(CAST(d.FiscalWeekNumber AS int) AS varchar (2)),2)  AS FiscalYearWeekIntKey
	,d.[FiscalYear] AS FiscalYear
	,d.[FiscalWeekNumber] AS FiscalWeek
  	,o.SalesOrder AS SalesOrder
    ,o.SalesOrderLine AS SalesOrderLine
    ,o.CustomerNumber AS CustomerNo
    ,o.ProductNumber AS ProductNo
    ,o.OrderDate AS OrderDate
    ,o.ReceiptDate AS ReceiptDate
    ,o.LoadingDate  AS DeliveryDate
    ,o.NetPrice*(o.ScheduleQuantity- coalesce(i.InvoicedQuantity,0)) AS OrderAmount
    ,o.ScheduleQuantity - coalesce(i.InvoicedQuantity,0) AS OrderQuantity
    , 0 AS LineStatus
    ,COALESCE(i.Status,o.Status) AS Status
	,'SAP'

	FROM SAPSalesOrderDetails o (NOLOCK)
	INNER JOIN ODS.FiscalCalendar d (NOLOCK)
    	ON d.CalendarDate=o.LoadingDate
    LEFT OUTER JOIN InvoicedLines i (NOLOCK)
    	ON i.SalesOrder=o.SalesOrder
        AND i.Productno=o.ProductNumber
    WHERE 1=1
END


GO
