USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_LastYearSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD FACT LYS]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_LastYearSales]
AS


SET NOCOUNT ON;

TRUNCATE TABLE FACT.LastYearSales;
 


;WITH LastSales
AS (SELECT
    MAX(FiscalYearWeekIntKey) + 100 AS MaxKey
  FROM Fact.ActualSales (NOLOCK)
),
NextYear as
(
(select distinct d.PriorFiscalYear as Fiscalyear,FiscalYear as NextFiscalYear from Dim.CalendarDate d
where d.IsYearEnd=1)
)

 insert into FACT.LastYearSales
SELECT	CAST(y.NextFiscalYear AS VARCHAR(4)) + ' ' + CAST(FiscalWeek AS VARCHAR(2))						AS FiscalYearWeekDisplay,
		CAST(CAST(y.NextFiscalYear AS VARCHAR(4)) + RIGHT('0' + CAST(FiscalWeek AS VARCHAR(2)),2) AS INT) AS FiscalYearWeekIntKey,
		y.NextFiscalYear			AS FiscalYear,
		[FiscalWeek],
		[CustomerNo],
		[ProductNo],
		[ActualSalesQuantity]		AS LastYearSalesQuantity,
		[ActualInvoiceDiscount]		AS LastYearInvoiceDiscount,
		[ActualNetInvoiceValue]		AS LastYearNetInvoiceValue,
		[ActualCOGS]				AS LastYearCOGS,
		[ActualCaseDiscount]		AS LastYearCaseDiscount,
		[ActualTermsDiscount]		AS LastYearTermsDiscount,
		[ActualOtherDiscount]		AS LastYearOtherDiscount,
		[ActualGrossMargin]			AS LastYearGrossMargin,
		[ActualBaselineQuantity]	AS LastYearBaselineQuantity,
		[ActualIncrementalQuantity]	AS LastYearIncrementalQuantity,
		ActualFreightOutbound		AS LastYearFreightOutbound,
		NULL       AS LastYearFreightQuantity,
		NULL       AS LastYearFreightCaseRate,
		ActualFreightFuelLevy       AS LastYearFreightFuelLevy	
FROM Fact.ActualSales s (NOLOCK)
LEFT OUTER JOIN NextYear y on y.FiscalYear=s.FiscalYear
WHERE CAST(CAST(y.Nextfiscalyear  AS varchar(4)) + RIGHT('0' + CAST(fiscalweek AS varchar(2)), 2) AS int) <= (SELECT MaxKey FROM LastSales)




GO
