USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_COSTCENTER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_COSTCENTER>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_COSTCENTER]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_COSTCENTER]  

insert into [SAPSTG].[ZXC_COSTCENTER]   
SELECT 
ProcessExecutionID  		=NULLIF(cast(c.[TaskExecutionID] as int),'') ,
LoadDateTime				=c.LoadDateTime,
BusinessArea  				=NULLIF(cast(BusinessArea as nvarchar(4)),'') ,
CityName  					=NULLIF(cast(CityName as nvarchar(35)),'') ,
CompanyCode  				=NULLIF(cast(CompanyCode as nvarchar(4)),'') ,
ConsumptionQtyIsRecorded  	=NULLIF(cast(ConsumptionQtyIsRecorded as nvarchar(1)),'') ,
ControllingArea  			=NULLIF(cast(c.ControllingArea as nvarchar(4)),'') ,
CostCenter  				= case when isnumeric(c.CostCenter) =1 
                               						then NULLIF(cast(cast(c.CostCenter as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(c.CostCenter as nvarchar(10)),'') end,
CostCenterCategory  		=NULLIF(cast(CostCenterCategory as nvarchar(1)),'') ,
CostCenterCreatedByUser  	=NULLIF(cast(CostCenterCreatedByUser as nvarchar(12)),'') ,
CostCenterCreationDate  	=CASE WHEN ISDATE(CostCenterCreationDate) = 1 
                        		then CONVERT(datetime,CostCenterCreationDate, 112) 
                               		else null 	end ,
CostCenterCurrency  		=NULLIF(cast(CostCenterCurrency as nvarchar(5)),'') ,
CostCenterStandardHierArea  =NULLIF(cast(CostCenterStandardHierArea as nvarchar(12)),'') ,
CostCenter_Text  			=  t.COSTCENTERNAME , --'Odata Column is Missing' ,
CostCtrResponsiblePersonName=NULLIF(cast(CostCtrResponsiblePersonName as nvarchar(20)),'') ,
CostCtrResponsibleUser  	=NULLIF(cast(CostCtrResponsibleUser as nvarchar(12)),'') ,
CostingSheet  				=NULLIF(cast(CostingSheet as nvarchar(6)),'') ,
Country  					=NULLIF(cast(Country as nvarchar(3)),'') ,
Department  				=NULLIF(cast(Department as nvarchar(12)),'') ,
FunctionalArea  			=NULLIF(cast(FunctionalArea as nvarchar(16)),'') ,
IsBlkdForPrimaryCostsPosting	=NULLIF(cast(IsBlkdForPrimaryCostsPosting as nvarchar(1)),'') ,
IsBlkdForSecondaryCostsPosting  =NULLIF(cast(IsBlkdForSecondaryCostsPosting as nvarchar(1)),'') ,
IsBlockedForCommitmentPosting  	=NULLIF(cast(IsBlockedForCommitmentPosting as nvarchar(1)),'') ,
IsBlockedForPlanPrimaryCosts  	=NULLIF(cast(IsBlockedForPlanPrimaryCosts as nvarchar(1)),'') ,
IsBlockedForPlanRevenues  		=NULLIF(cast(IsBlockedForPlanRevenues as nvarchar(1)),'') ,
IsBlockedForPlanSecondaryCosts  =NULLIF(cast(IsBlockedForPlanSecondaryCosts as nvarchar(1)),'') ,
IsBlockedForRevenuePosting  	=NULLIF(cast(IsBlockedForRevenuePosting as nvarchar(1)),'') ,
Language  						=CASE WHEN c.Language = 'E' THEN 'EN' ELSE c.Language END ,
ProfitCenter  					= case when isnumeric(ProfitCenter) =1 
                               						then NULLIF(cast(cast(ProfitCenter as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(ProfitCenter as nvarchar(10)),'') end,
Region  					=NULLIF(cast(Region as nvarchar(3)),'') ,
ValidityEndDate  			=CASE WHEN ISDATE(c.ValidityEndDate) = 1 
                        		then CONVERT(datetime,c.ValidityEndDate, 112) 
                             		else null 	end ,
ValidityStartDate  			=CASE WHEN ISDATE(c.ValidityStartDate) = 1 
                        		then CONVERT(datetime,c.ValidityStartDate, 112) 
                             		else null 	end ,
ScriptVersionDate 			= cast(getdate() as date) 
FROM [SAPSTG].[ZXCCOSTCENTER] c
LEFT OUTER JOIN  SAPSTG.ZXCCOSTCENTERTXT t WITH (NOLOCK)
	ON c.COSTCENTER=t.COSTCENTER 
    AND c.VALIDITYSTARTDATE=t.VALIDITYSTARTDATE
    AND c.VALIDITYENDDATE=c.VALIDITYENDDATE
END
GO
