USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_CustomerPrep]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS.CustomerPrep>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_CustomerPrep]
AS


--Delete existing data from ODS table

TRUNCATE TABLE [ODS].[Customer_Prep]

--Load data in ODS table
BEGIN
		WITH hiercte AS (
		SELECT DISTINCT CAST(ISNULL(KUNNR,'unk') AS VARCHAR(MAX)) AS TreePath
		 , kunnr AS ChildCode
		 , CONVERT(NVARCHAR(20), NULL) AS ParentCode
		 , 1 AS LevelNo
		FROM ODS.ZXC_CUSTHIERARCHY
		WHERE isnull(hkunnr,'')='' AND kunnr NOT LIKE '%NODE' AND kunnr <> '4010' --AND prfre <> 0
		AND CONVERT(DATE,SYSDATETIME(),103) BETWEEN CONVERT(DATE,datab,103) AND CONVERT(DATE,datbi,103)
		UNION ALL
		SELECT CAST(pch.TreePath + ','  + CAST(ch.kunnr AS VARCHAR(100)) AS VARCHAR(MAX))AS TreePath
			, ch.kunnr
			, CONVERT(NVARCHAR(20), ch.hkunnr) AS ParentCode
			, pch.LevelNo + 1 AS LevelNo
		FROM ODS.ZXC_CUSTHIERARCHY ch
		INNER JOIN hiercte pch
			ON pch.ChildCode = ch.hkunnr
		WHERE CONVERT(DATE,SYSDATETIME(),103) BETWEEN CONVERT(DATE,datab,103) AND CONVERT(DATE,datbi,103)
		--WHERE prfre <> 0
	)
	INSERT INTO  [ODS].[Customer_Prep] (TreePath, ChildCode, ParentCode, LevelNo, CustomerName)
	Select h.TreePath, h.ChildCode, h.ParentCode, h.LevelNo, c.CustomerName
	FROM hiercte h
	INNER JOIN ODS.ZXC_CUSTOMER c
	ON h.childcode = c.Customer
END
GO
