USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_ADDMATGRP1TXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_ADDMATGRP1TXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_ADDMATGRP1TXT]

AS
BEGIN
	
TRUNCATE TABLE SAPSTG.ZXC_ADDMATGRP1TXT  

insert into SAPSTG.ZXC_ADDMATGRP1TXT
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime = getdate(),
AdditionalMaterialGroup1  =NULLIF(cast(AdditionalMaterialGroup1 as nvarchar(3)),'') ,
AdditionalMaterialGroup1Name  =NULLIF(cast(AdditionalMaterialGroup1Name as nvarchar(40)),'') ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCADDMATGRP1TXT  WITH (NOLOCK) where LANGUAGE = 'E'
END
GO
