USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PRODSTATTEXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_PRODSTATTEXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PRODSTATTEXT]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_PRODSTATTEXT]

insert into [SAPSTG].[ZXC_PRODSTATTEXT]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
MaterialUsabilityProfileName  =NULLIF(cast(MaterialUsabilityProfileName as nvarchar(25)),'') ,
Status  =NULLIF(cast(Status as nvarchar(2)),'') ,
ScriptVersionDate = cast(getdate() as date)
from SAPSTG.ZXCPRODSTATTEXT

delete from  SAPSTG.ZXC_PRODSTATTEXT where LANGUAGE <> 'EN'

END
GO
