USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MATSALESDATA]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_MATSALESDATA>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MATSALESDATA]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_MATSALESDATA]

insert into [SAPSTG].[ZXC_MATSALESDATA]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
Brand  =NULLIF(cast(Brand as nvarchar(3)),'') ,
CommodityGroup  =NULLIF(cast(CommodityGroup as nvarchar(3)),'') ,
CorporateBrand  =NULLIF(cast(CorporateBrand as nvarchar(3)),'') ,
DistributionChannel  =NULLIF(cast(DistributionChannel as nvarchar(2)),'') ,
DistributionChannelName  =NULLIF(cast(DistributionChannelName as nvarchar(20)),'') ,
MarketingGroup  =NULLIF(cast(MarketingGroup as nvarchar(3)),'') ,
Material  = case when isnumeric(Material) =1 
                                    		then 	cast(cast(Material as BIGINT) as nvarchar(40))
                                            else  cast(Material as nvarchar(40)) end,
SalesOrganization  =NULLIF(cast(SalesOrganization as nvarchar(4)),'') ,
SalesOrganizationName  =NULLIF(cast(SalesOrganizationName as nvarchar(20)),'') ,
SalesUnit  =NULLIF(cast(SalesUnit as nvarchar(3)),'') ,
SubBrand  =NULLIF(cast(SubBrand as nvarchar(3)),'') ,
TotalCount  =NULLIF(cast(TotalCount as int),'') ,
ScriptVersionDate = cast(getdate() as date) 


from SAPSTG.ZXCMATSALESDATA nolock

END
GO
