USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ForecastTradePrice]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <10/01/2022>
-- Description:	<LOAD ODS.ForecastTradePrice>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_ForecastTradePrice]
AS

--Delete existing data from ODS table

TRUNCATE TABLE [ODS].[ForecastTradePrice]

--Load data in ODS table
BEGIN
		
 WITH ListPriceDistinct AS

(
	select distinct
	substring(CustomerNumber, patindex('%[^0]%',CustomerNumber), 10) AS Customer_Code
	,substring(Material, patindex('%[^0]%',Material), 10) AS Product_Code
	, TRY_CONVERT(date, CONVERT(VARCHAR(10),p.ValidityStartDate), 103) AS Date_Start
	,TRY_CONVERT(date, CONVERT(VARCHAR(10),p.ValidityEndDate), 103) AS Date_End
	,List_Price
	--,adj_list_price
	,list_price_per AS price_unit
	from SAPSTG.ListPrice p 

)

,ListPriceCorrectedDates AS
(
	select 
	customer_code
	,product_code
	,date_start				
	,date_end					= COALESCE(DATEADD( day,-1,LEAD(date_start) OVER (PARTITION BY customer_code,product_code ORDER BY customer_code,product_code,date_start) ),date_end)
	,list_price
	--,adj_list_price
	,price_unit
	,ROW_NUMBER() OVER (PARTITION BY customer_code,product_code ORDER BY date_start ASC) as row
	,date_end_corrected			=	DATEADD( day,-1,LEAD(date_start) OVER (PARTITION BY customer_code,product_code ORDER BY customer_code,product_code,date_start) ) 

from ListPriceDistinct
)
, WeekPricingDates AS (
	SELECT x.CustomerNo,x.ProductNo	,x.ListPrice,x.Fiscalyear,x.FiscalWeek,x.weekenddate,x.Weekcommencedate FROM
    (SELECT 

      CustomerNo			=	v.customer_code
	, ProductNo				= 	TRY_CAST(v.product_code AS INT) 
	, ListPrice				=	v.list_price/cast(coalesce(v.price_unit,1) as money)
	--, AdjustedListPrice		= 	v.adj_list_price/cast(coalesce(v.price_unit,1) as money)
	, FiscalYear			=	c.FiscalYear
	, FiscalWeek			=	c.FiscalWeek
	, WeekendDate			=	c.WeekendDate
	, WeekCommenceDate		=	c.WeekcommenceDate
    ,v.date_start
    ,v.date_end
    ,ROW_NUMBER() OVER (PARTITION BY v.customer_code,TRY_CAST(v.product_code AS INT),c.FiscalYear,c.FiscalWeek ORDER BY v.date_end DESC) AS rn
	FROM ListPriceCorrectedDates v WITH (NOLOCK)
		INNER JOIN [Dim].[CalendarDate] c 
		ON  c.WeekCommenceDate >= v.date_start
		AND c.WeekendDate<=v.date_end
		AND c.IsWeekend = 1
        OR c.WeekCommenceDate <= v.date_start
		AND c.WeekendDate>=v.date_start
		AND c.IsWeekend = 1
         OR c.WeekCommenceDate <= v.date_end
		AND c.WeekendDate>=v.date_end
		AND c.IsWeekend = 1
	WHERE c.WeekOffset BETWEEN -156  AND 1  
	AND TRY_CAST(v.product_code AS INT) IS NOT NULL
    AND v.date_start IS NOT NULL
	AND v.date_end IS NOT NULL

	) x
    WHERE rn=1
    )
	
 ,ForecastTradePriceSAPTransformed  AS
 (
 select
	  CustomerNo					= 	f.customer_no 
  	,ProductNo					=	TRY_CAST(f.product_no AS INT) 
	,ListPrice					=	coalesce(cast(p.ListPrice as money),0)  
	--,AdjustedListPrice			=	coalesce(cast(p.AdjustedListPrice as money),0) 
	,FiscalYear					=	d.FiscalYear
	,FiscalWeek					=	d.FiscalWeek
	,WeekendDate				=	d.WeekendDate
    ,WeekcommenceDate			=	d.WeekcommenceDate 
    ,ForecastBaselineQuantity	= f.forecast_baseline_quantity  
    ,ForecastIncrementalQuantity=f.forecast_incremental_quantity 
    ,ForecastQuantity			=f.forecast_total_quantity  
    from BS1.v_bs1_Forecast f
    INNER JOIN Dim.CalendarDate d 
    	ON f.weekcommence_date=CalendarDate
 LEFT join WeekPricingDates p
  ON p.CustomerNo=f.Customer_no 
 AND p.ProductNo=f.product_no 
 AND p.WeekCommenceDate=f.weekcommence_date
 INNER JOIN [Dim].[CalendarDate] x 
    	ON p.weekcommencedate=x.CalendarDate
  )
 
  INSERT INTO [ODS].[ForecastTradePrice] 
  (CustomerNo, ProductNo, Rate, ApplyDateFrom, ApplyDateTo, FiscalYear, FiscalWeek, WeekendDate, ForecastBaselineQuantity, ForecastIncrementalQuantity, ForecastQuantity)
   Select  CustomerNo, ProductNo, ListPrice, WeekCommenceDate, 
		WeekEndDate,FiscalYear, FiscalWeek, WeekendDate, ForecastBaselineQuantity, ForecastIncrementalQuantity, ForecastQuantity
		FROM ForecastTradePriceSAPTransformed

END
GO
