USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MATPLANT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_ADDMATGRP5TXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MATPLANT]

AS
BEGIN  
	
TRUNCATE TABLE [SAPSTG].[ZXC_MATPLANT]

insert into [SAPSTG].[ZXC_MATPLANT]   
SELECT 
ProcessExecutionID  		=NULLIF(cast(mp.[TaskExecutionID] as int),'') ,
LoadDateTime				=mp.LoadDateTime,
DfltStorLocForExtProcmt  	=NULLIF(cast(DfltStorLocForExtProcmt as nvarchar(4)),'') ,
Material  					= case when isnumeric(mp.Material) =1 
                                    		then 	cast(cast(mp.Material as BIGINT) as nvarchar(40))
                                            else  cast(mp.Material as nvarchar(40)) end,
MaterialABCClassification  	=NULLIF(cast(MaterialABCClassification as nvarchar(1)),'') ,
MaterialSafetyStockQty  	=cast(MaterialSafetyStockQty as decimal(38,6)) ,
Material_Text  				=mb.MATERIALNAME ,   --'Odata Column is Missing' ,
MRPController  				=NULLIF(cast(MRPController as nvarchar(3)),'') ,
PeriodIndicator  			=NULLIF(cast(PeriodIndicator as nvarchar(1)),'') ,
Plant  						=NULLIF(cast(Plant as nvarchar(4)),'') ,
ScriptVersionDate 			= cast(getdate() as date)
FROM   SAPSTG.ZXCMATPLANT mp (nolock)
LEFT OUTER JOIN SAPSTG.ZXCMATBASICDATA mb WITH (NOLOCK)
	ON mp.Material=mb.Material

END
GO
