USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_BPTAXNMBR]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_BPTAXNMBR>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_BPTAXNMBR]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_BPTAXNMBR]  

insert into [SAPSTG].[ZXC_BPTAXNMBR]   
 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AuthorizationGroup  =NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
BPTaxNumber  =NULLIF(cast(BPTaxNumber as nvarchar(20)),'') ,
BPTaxType  =NULLIF(cast(BPTaxType as nvarchar(4)),'') ,
BusinessPartner  = case when isnumeric(BusinessPartner) =1 
                               						then cast(cast(BusinessPartner as BIGINT) as nvarchar(10)) 
                                    				else  cast(BusinessPartner as nvarchar(10)) end,
ScriptVersionDate = cast(getdate() as date)

FROM  SAPSTG.ZXCBPTAXNMBR  WITH (NOLOCK) 

END
GO
