USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_CustomerH1_L4]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <05/01/2022>
-- Description:	<LOAD ODS CustomerH1_L4>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_CustomerH1_L4]
AS

--Delete existing data from ODS table

TRUNCATE TABLE [ODS].[CustomerH1_L4]

--Load all codes and LevelNo in ODS table
 BEGIN
 WITH CustomerParentChild AS (
	SELECT ChildCode, CustomerName, LevelNo
		, CONVERT(XML, '<Customer><Lvl>' + REPLACE([TreePath],',', '</Lvl><Lvl>') + '</Lvl></Customer>') AS CustHierarchy
	FROM [ODS].[Customer_Prep] 
  )
 
	INSERT INTO [ODS].[CustomerH1_L4] (Src_Child_Code, Src_Customer_Name, LevelNo, Channel_Code, SubChannel_Code, ChannelCustomer_Code, NationalCustomer_Code)
	Select	ChildCode, CustomerName, LevelNo
		, CustHierarchy.value('(/Customer/Lvl)[1]','varchar(20)') AS [Level1]
		, CustHierarchy.value('(/Customer/Lvl)[2]','varchar(20)') AS [Level2]
		, CustHierarchy.value('(/Customer/Lvl)[3]','varchar(20)') AS [Level3]
		, CustHierarchy.value('(/Customer/Lvl)[4]','varchar(20)') AS [Level4]
	FROM CustomerParentChild
	Where LevelNo<>5			--As level 5 data is not required for Dim.Customer 

--Update Channel_Name
	Update [ODS].[CustomerH1_L4] 
	Set Channel_Name= B.CustomerName
	FROM [ODS].[CustomerH1_L4] A
	INNER JOIN [ODS].[Customer_Prep] B on A.Channel_Code= B.ChildCode

--Update SubChannel_Name
	Update [ODS].[CustomerH1_L4] 
	Set SubChannel_Name= B.CustomerName
	FROM [ODS].[CustomerH1_L4] A
	INNER JOIN [ODS].[Customer_Prep] B on A.SubChannel_Code= B.ChildCode

--Update ChannelCustomer_Name
	Update [ODS].[CustomerH1_L4] 
	Set ChannelCustomer_Name= B.CustomerName
	FROM [ODS].[CustomerH1_L4] A
	INNER JOIN [ODS].[Customer_Prep] B on A.ChannelCustomer_Code= B.ChildCode

--Update NationalCustomer_Name
	Update [ODS].[CustomerH1_L4] 
	Set NationalCustomer_Name= B.CustomerName
	FROM [ODS].[CustomerH1_L4] A
	INNER JOIN [ODS].[Customer_Prep] B on A.NationalCustomer_Code= B.ChildCode

END
GO
