USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CUSTCONTACT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_CUSTCONTACT>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CUSTCONTACT]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_CUSTCONTACT]

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_CUSTCONTACT] 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AddressID  = case when isnumeric(AddressID) =1 
                               						then NULLIF(cast(cast(AddressID as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(AddressID as nvarchar(10)),'') end,
AuthorizationGroup  =NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
BusinessPartnerCompany  = case when isnumeric(BusinessPartnerCompany) =1 
                               						then NULLIF(cast(cast(BusinessPartnerCompany as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(BusinessPartnerCompany as nvarchar(10)),'') end,
BusinessPartnerName  =NULLIF(cast(BusinessPartnerName as nvarchar(81)),'') ,
BusinessPartnerPerson  = case when isnumeric(BusinessPartnerPerson) =1 
                               						then NULLIF(cast(cast(BusinessPartnerPerson as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(BusinessPartnerPerson as nvarchar(10)),'') end,
ContactPersonDepartment  =NULLIF(cast(ContactPersonDepartment as nvarchar(4)),'') ,
ContactPersonFunction  =NULLIF(cast(ContactPersonFunction as nvarchar(4)),'') ,
CustomerContact  =NULLIF(cast(CustomerContact as nvarchar(10)),'') ,
EmailAddress  =NULLIF(cast(EmailAddress as nvarchar(241)),'') ,
FaxCountry  =NULLIF(cast(FaxCountry as nvarchar(3)),'') ,
FaxNumber  =NULLIF(cast(FaxNumber as nvarchar(30)),'') ,
FaxNumberExtension  =NULLIF(cast(FaxNumberExtension as nvarchar(10)),'') ,
FirstName  =NULLIF(cast(FirstName as nvarchar(40)),'') ,
InternationalFaxNumber  =NULLIF(cast(InternationalFaxNumber as nvarchar(30)),'') ,
InternationalMobilePhoneNumber  =NULLIF(cast(InternationalMobilePhoneNumber as nvarchar(30)),'') ,
InternationalPhoneNumber  =NULLIF(cast(InternationalPhoneNumber as nvarchar(30)),'') ,
IsStandardRelationship  =case IsStandardRelationship when 'X' then cast(1 as bit) else cast(0 as bit) end ,
LastName  =NULLIF(cast(LastName as nvarchar(40)),'') ,
MobilePhoneCountry  =NULLIF(cast(MobilePhoneCountry as nvarchar(3)),'') ,
MobilePhoneNumber  =NULLIF(cast(MobilePhoneNumber as nvarchar(30)),'') ,
MobilePhoneNumberExtension  =NULLIF(cast(MobilePhoneNumberExtension as nvarchar(10)),'') ,
PartnerUUID   = substring(lower(convert(varchar(36),PartnerUUID, 2)),1,8)+'-'
						+ substring(lower(convert(varchar(36),PartnerUUID, 2)),9,4) +'-'
						+ substring(lower(convert(varchar(36),PartnerUUID, 2)),13,4) +'-'
						+ substring(lower(convert(varchar(36),PartnerUUID, 2)),17,4)+'-'
						+ substring(lower(convert(varchar(36),PartnerUUID, 2)),21,12)  ,
PersonUUID   = substring(lower(convert(varchar(36),PersonUUID, 2)),1,8)+'-'
						+ substring(lower(convert(varchar(36),PersonUUID, 2)),9,4) +'-'
						+ substring(lower(convert(varchar(36),PersonUUID, 2)),13,4) +'-'
						+ substring(lower(convert(varchar(36),PersonUUID, 2)),17,4)+'-'
						+ substring(lower(convert(varchar(36),PersonUUID, 2)),21,12)  ,
PhoneNumber  =NULLIF(cast(PhoneNumber as nvarchar(30)),'') ,
PhoneNumberCountry  =NULLIF(cast(PhoneNumberCountry as nvarchar(3)),'') ,
PhoneNumberExtension  =NULLIF(cast(PhoneNumberExtension as nvarchar(10)),'') ,
RelationshipNumber  = case when isnumeric(RelationshipNumber) =1 
                               						then NULLIF(cast(cast(RelationshipNumber as BIGINT) as nvarchar(12)),'') 
                                    				else  NULLIF(cast(RelationshipNumber as nvarchar(12)),'') end,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCCUSTCONTACT WITH (NOLOCK)

END
GO
