USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_FACT_Aurion_old]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_insert_FACT_Aurion_old]  
AS  
BEGIN  
    SET NOCOUNT ON;  

    DECLARE @json NVARCHAR(MAX);  
    DECLARE @json_v NVARCHAR(MAX);  
    DECLARE @jsonv NVARCHAR(MAX);  
   
    -- Select the JSON data from the table  
    SELECT TOP 1 @json = Json_Values FROM Stg.Aurion_JSON;  
  
    -- Parse the first level of JSON  
    SELECT @json_v = value FROM OPENJSON(@json);  
  
    -- Parse the second level of JSON  
    SELECT @jsonv = value FROM OPENJSON(@json_v);  
  
 WITH ParsedJsonData AS (  
    SELECT DISTINCT  
        TRY_CAST(Processed_Period as date) AS Processed_Period,  
        TRY_CAST(TRY_CONVERT(SMALLINT, NULLIF(Primary_Cost_Code, '')) AS SMALLINT) AS Primary_Cost_Code,  
        TRY_CAST(TRY_CONVERT(DECIMAL(10, 2), NULLIF(Transaction_Amount, '')) AS FLOAT) AS Transaction_Amount,  
        TRY_CAST(TRY_CONVERT(DECIMAL(10, 2), NULLIF(Transaction_Units, '')) AS FLOAT) AS Transaction_Units,  
        CAST(Transaction_Code as NVARCHAR(50)) AS Transaction_Code,  
        TRY_CAST(TRY_CONVERT(DECIMAL(10, 2), NULLIF(Transaction_Rate, '')) AS FLOAT) AS Transaction_Rate,  
        CAST(Pay_Entity as NVARCHAR(50)) AS Pay_Entity,  
        TRY_CAST(TRY_CONVERT(INT, NULLIF(Account_Identifier, '')) AS INT) AS Account_Identifier,  
        CAST(Transaction_Type as NVARCHAR(50)) AS Transaction_Type,  
        CAST(Transaction_Category as NVARCHAR(50)) AS Transaction_Category,  
        CAST(Organisation_Unit_Description as NVARCHAR(100)) AS Organisation_Unit_Description,  
        CAST(Location_Code as NVARCHAR(50)) AS Location_Code,  
        CAST(Transaction_Number as NVARCHAR(50)) AS Transaction_Number  
    FROM OPENJSON(@jsonv)   
    WITH (  
        Processed_Period NVARCHAR(50) '$.Processed_Period',  
        Primary_Cost_Code NVARCHAR(50) '$.Primary_Cost_Code',  
        Transaction_Amount NVARCHAR(50) '$.Transaction_Amount',  
        Transaction_Units NVARCHAR(50) '$.Transaction_Units',  
        Transaction_Code NVARCHAR(50) '$.Transaction_Code',  
        Transaction_Rate NVARCHAR(50) '$.Transaction_Rate',  
        Pay_Entity NVARCHAR(50) '$.Pay_Entity',  
        Account_Identifier NVARCHAR(20) '$.Account_Identifier',  
        Transaction_Type NVARCHAR(50) '$.Transaction_Type',  
        Transaction_Category NVARCHAR(50) '$.Transaction_Category',  
        Organisation_Unit_Description NVARCHAR(100) '$.Organisation_Unit_Description',  
        Location_Code NVARCHAR(50) '$.Location_Code',  
        Transaction_Number NVARCHAR(50) '$.Transaction_Number'  
    )  
)  
  
  
    -- Insert only new records from ParsedJsonData to FACT.Aurion  
    INSERT INTO [ODS].[Aurion] (  
        [Process_Period],  
        [Primary_Cost_Code],  
        [Transaction_Amount],  
        [Transaction_Units],  
        [Transaction_Code],  
        [Transaction_Rate],  
        [Pay_ Entity],  
        [Account_Identifier],  
        [Transaction_Type],  
        [Transaction_Category],  
        [Organisation_Unit_Description],  
        [Location_Code],  
  [Transaction_Number]  
    )  
    SELECT distinct
        PJD.Processed_Period,   
        PJD.Primary_Cost_Code,   
        PJD.Transaction_Amount,   
        PJD.Transaction_Units,   
        PJD.Transaction_Code,   
        PJD.Transaction_Rate,   
        PJD.Pay_Entity,   
        PJD.Account_Identifier,   
        PJD.Transaction_Type,   
        PJD.Transaction_Category,   
        PJD.Organisation_Unit_Description,   
        PJD.Location_Code,   
  PJD.Transaction_Number  
    FROM ParsedJsonData PJD  
  
-- Insert new records from ODS.Aurion to FACT.Aurion  
    INSERT INTO [FACT].[Aurion] (  
  [Process_Period],  
  [Primary_Cost_Code],  
  [Transaction_Amount],  
  [Transaction_Units],  
  [Transaction_Code],  
  [Transaction_Rate],  
  [Pay_Entity],  
  [Account_Identifier],  
  [Transaction_Type],  
  [Transaction_Category],  
  [Organisation_Unit_Description],  
  [Location_Code],  
  [Transaction_Number]  
 )  
 SELECT   
  TRY_CAST(au.[Process_Period] as date),  
  TRY_CAST(TRY_CONVERT(SMALLINT, NULLIF(au.[Primary_Cost_Code], '')) AS SMALLINT),  
  TRY_CAST(au.[Transaction_Amount] AS FLOAT),  
  TRY_CAST(au.[Transaction_Units] AS FLOAT),  
  au.[Transaction_Code],  
  TRY_CAST(au.[Transaction_Rate] AS FLOAT),  
  au.[Pay_ Entity],  
  TRY_CAST(TRY_CONVERT(INT, NULLIF(au.[Account_Identifier], '')) AS INT),  
  au.[Transaction_Type],  
  au.[Transaction_Category],  
  au.[Organisation_Unit_Description],  
  au.[Location_Code],  
  au.[Transaction_Number]  
 FROM [ODS].[Aurion] au  
 WHERE NOT EXISTS (  
   SELECT 1 FROM FACT.Aurion A  
   WHERE CAST(A.Process_Period AS DATE) = TRY_CAST(au.Process_Period AS DATE)  
 );  
  
  
    SET NOCOUNT OFF;  
END;  
GO
