USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PRODSUPPLPLAN]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_PRODSUPPLPLAN>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PRODSUPPLPLAN]

 
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_PRODSUPPLPLAN]  
 

insert into [SAPSTG].[ZXC_PRODSUPPLPLAN]   

SELECT 
 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
ABCIndicator  =NULLIF(cast(ABCIndicator as nvarchar(1)),'') ,
AssemblyScrapPercent  =cast(AssemblyScrapPercent as decimal(38,6)) ,
DfltStorageLocationExtProcmt  =NULLIF(cast(DfltStorageLocationExtProcmt as nvarchar(4)),'') ,
FixedLotSizeQuantity  =cast(FixedLotSizeQuantity as decimal(38,6)) ,
IsActiveEntity  =case IsActiveEntity when 'X' then cast(1 as bit) else cast(0 as bit) end ,
LotSizeRoundingQuantity  =cast(LotSizeRoundingQuantity as decimal(38,6)) ,
LotSizingProcedure  =NULLIF(cast(LotSizingProcedure as nvarchar(2)),'') ,
MaximumLotSizeQuantity  =cast(MaximumLotSizeQuantity as decimal(38,6)) ,
MaximumStockQuantity  =cast(MaximumStockQuantity as decimal(38,6)) ,
MinimumLotSizeQuantity  =cast(MinimumLotSizeQuantity as decimal(38,6)) ,
MinimumSafetyStockQuantity  =cast(MinimumSafetyStockQuantity as decimal(38,6)) ,
MRPResponsible  =NULLIF(cast(MRPResponsible as nvarchar(3)),'') ,
MRPType  =NULLIF(cast(MRPType as nvarchar(2)),'') ,
PlanAndOrderDayDetermination  =NULLIF(cast(PlanAndOrderDayDetermination as nvarchar(3)),'') ,
PlannedDeliveryDurationInDays  =cast(PlannedDeliveryDurationInDays as decimal(38,6)) ,
PlanningStrategyGroup  =NULLIF(cast(PlanningStrategyGroup as nvarchar(2)),'') ,
PlanningTimeFence  =NULLIF(cast(PlanningTimeFence as nvarchar(3)),'') ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
ProcurementSubType  =NULLIF(cast(ProcurementSubType as nvarchar(2)),'') ,
ProcurementType  =NULLIF(cast(ProcurementType as nvarchar(1)),'') ,
Product  = case when isnumeric(Product) =1 
                                    		then 	NULLIF(cast(cast(Product as BIGINT) as nvarchar(40)),'')
                                            else  NULLIF(cast(Product as nvarchar(40)),'') end,
ReorderThresholdQuantity  =cast(ReorderThresholdQuantity as decimal(38,6)) ,
RoundingProfile  =NULLIF(cast(RoundingProfile as nvarchar(4)),'') ,
SafetyDuration  =NULLIF(cast(SafetyDuration as nvarchar(2)),'') ,
SafetyStockQuantity  =cast(SafetyStockQuantity as decimal(38,6)) ,
TotalReplenishmentLeadTime  =cast(TotalReplenishmentLeadTime as decimal(38,6)) ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCPRODSUPPLPLAN w WITH (NOLOCK) 

END
GO
