USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_CommittedSales_Bkup_02082022]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD FACT CommittedSales]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_CommittedSales_Bkup_02082022]
AS


SET NOCOUNT ON;

TRUNCATE TABLE FACT.Committedsales;
 
 insert into Fact.CommittedSales 


 SELECT 
   			SnapshotDate				=	e.SnapshotDate
   		,FiscalYearWeekDisplay		=   CONVERT(VARCHAR(4),w.FiscalYear) + ' ' + CONVERT(VARCHAR(2),e.FiscalWeek)
		,FiscalYearWeekIntKey		=	CAST(CAST(w.FiscalYear as varchar(4)) + RIGHT('0' + CAST(e.fiscalweek as varchar(2)),2) as int) 
		,FiscalYear					=	w.FiscalYear
      	,FiscalWeek					=	e.Fiscalweek
		,CustomerNo					=	e.CustomerNo
		,ProductNo					=	e.ProductNo
		,CommittedSalesQuantity	  	=	SalesQuantity	
		,CommittedNetInvoiceValue	=	NetInvoiceValue		
      	,CommittedInvoiceDiscount	=	-1 * InvoiceDiscount 
		,CommittedCaseDiscount		=	-1 * CaseDiscount
		,CommittedTermsDiscount		=	-1 * TermsDiscount	 
		,CommittedOtherDiscount		=	-1 * OtherDiscount	 
		,CommittedCOGS				=	-1 * COGS
    	,CommittedGrossMargin		=	GrossMargin
		,CommittedBaselineQuantity	=	BaselineQuantity	
		,CommittedIncrementalQuantity	=	IncrementalQuantity 
		,CommittedFreightOutbound	=	-1 * FreightCost  
		,CommittedFreightQuantity	=	SalesQuantity  
		,CommittedFreightCaseRate	=	FreightCaseRate  
		,CommittedFreightFuelLevy	=	(SalesQuantity*FreightCaseRate)*FreightFuelLevy
	FROM Fact.WeekLatestForecastSnapshot (NOLOCK) e
		INNER JOIN Dim.CalendarDate l  WITH (NOLOCK) 
		ON e.SnapshotDate = l.MonthendDate
		AND l.PeriodOffset = 1
		AND l.IsPeriodEnd = 1
	INNER JOIN Dim.CalendarDate w WITH (NOLOCK) 
		
		ON e.WeekendDate=w.WeekendDate
		AND w.IsWeekend=1 
		AND w.PeriodOffset<1
 
  UNION ALL



  SELECT  
  		EoMSnapshotDate				=	'1900-01-01 00:00:00'  
		,FiscalYearWeekDisplay		=  	a.FiscalYearWeekDisplay
		,FiscalYearWeekIntKey		=	a.FiscalYearWeekIntKey
		,Fiscalyear					=	a.fiscalyear 
		,FiscalWeek					=	a.fiscalweek 
		,CustomerNo					=	a.CustomerNo 
		,ProductNo					=	a.ProductNo 
		,CommittedSalesQuantity		=	ActualSalesQuantity			 
		,CommittedNetInvoiceValue	=	ActualNetInvoiceValue	
		,CommittedInvoiceDiscount	= 	ActualInvoiceDiscount		
		,CommittedCaseDiscount		= 	ActualCaseDiscount			
		,CommittedTermsDiscount		= 	ActualTermsDiscount			
        ,CommittedOtherDiscount		=	ActualOtherDiscount		 
		,CommittedCOGS				=	ActualCOGS					 
		,CommittedGrossMargin		=	ActualGrossMargin			
		,CommittedBaselineQuantity	=	ActualBaselineQuantity		
		,CommittedIncrementalQuantity	=ActualIncrementalQuantity	
		,CommittedFreightOutbound	=	ActualFreightOutbound		
		,CommittedFreightQuantity	=	NULL       
		,CommittedFreightCaseRate	=	NULL       
		,CommittedFreightFuelLevy	=	ActualFreightFuelLevy       	
  FROM Fact.ActualSales a (NOLOCK) 
  INNER JOIN DIm.CalendarDate d (NOLOCK)
  ON a.WeekCommenceDate=d.WeekcommenceDate
  WHERE d.IsWeekend=1
  AND d.PeriodOffset>=1  
  
  --UNION   ALL
  
   
--  select 
--  EoMSnapshotDate				=	'1900-01-01 00:00:00' ,
--  FiscalYearWeekDisplay		=CAST(aa.FiscalYear AS varchar(4)) + ' ' + CAST(aa.fiscalweek AS varchar(2)) ,
--  FiscalYearWeekIntKey		=CAST(
--        					CAST(aa.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(aa.fiscalweek AS varchar(2)), 2)
--        					AS int)  ,
--  FiscalYear				=aa.FiscalYear,
--  FiscalWeek				=aa.FiscalWeek,
--  CustomerNo				=a.CustomerNo,
--  ProductNo					=a.ProductNo,
--  CommittedSalesQuantity	= isnull(a.Quantity,0),	 
--  CommittedNetInvoiceValue	= isnull(a.GrossSalesValue,0),	
--  CommittedInvoiceDiscount	= 	isnull(a.InvoiceDiscount,0),	
--  CommittedCaseDiscount	= 	isnull(a.DeferredCaseDiscount,0),			
--  CommittedTermsDiscount	= 	isnull(a.DeferredTermsDiscount,0),			
--  CommittedOtherDiscount	=	isnull(a.DeferredOtherDiscount,0),	 
--  CommittedCOGS			=	isnull(a.CostOfGoodSold,0),			 
--  CommittedGrossMargin		=	isnull(a.GrossSalesValue,0)+isnull(a.InvoiceDiscount,0)+isnull(a.DeferredCaseDiscount,0)
--  								+isnull(a.DeferredTermsDiscount,0)+isnull(a.DeferredOtherDiscount,0)+isnull(a.CostOfGoodSold,0),	
									
--  CommittedBaselineQuantity	=	aa.ActualBaselineQuantity	,	
--  CommittedIncrementalQuantity	=aa.ActualIncrementalQuantity,
--  CommittedFreightOutbound	=	null	,	
--  CommittedFreightQuantity	=	null  ,    
--  CommittedFreightCaseRate	=	null  ,     
--  CommittedFreightFuelLevy	=	NULL

--FROM 
-- ODS.UniversalJournalSales_CurrentFY  a (NOLOCK)
--  left join   FACT.ActualSales aa
--   on a.CustomerNo =aa.CustomerNo
--  INNER JOIN Dim.CalendarDate w WITH (NOLOCK) 
--   ON a.FiscalYear =w.FiscalYear
--   AND aa.FiscalWeek= w.FiscalWeek
--		AND w.IsWeekend=1 
--		AND w.PeriodOffset<1
-- and a.DocumentType in ('SA','AB')
-- AND a.AccountNo='41090000'

UNION all

 SELECT 
  EoMSnapshotDate				=	'1900-01-01 00:00:00' ,
  FiscalYearWeekDisplay		=CAST(a.FiscalYear AS varchar(4)) + ' ' + CAST(a.fiscalweek AS varchar(2)) ,
  FiscalYearWeekIntKey		=CAST(
        					CAST(a.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(a.fiscalweek AS varchar(2)), 2)
        					AS int)  ,
  FiscalYear				=a.FiscalYear,
  FiscalWeek				=a.FiscalWeek,
  CustomerNo				=a.CustomerNo,
  ProductNo					=a.ProductNo
  ,CommittedSalesQuantity	= a.ForecastAdjustmentSalesQuantity		 
  ,CommittedNetInvoiceValue	= a.ForecastAdjustmentNetInvoiceValue	
  ,CommittedInvoiceDiscount	= 	a.ForecastAdjustmentInvoiceDiscount		
  ,CommittedCaseDiscount	= 	a.ForecastAdjustmentCaseDiscount			
  ,CommittedTermsDiscount	= 	a.ForecastAdjustmentTermsDiscount			
  ,CommittedOtherDiscount	=	a.ForecastAdjustmentOtherDiscount		 
  ,CommittedCOGS			=	a.ForecastAdjustmentCOGS					 
  ,CommittedGrossMargin		=	a.ForecastAdjustmentGrossMargin			
  ,CommittedBaselineQuantit	=	a.ForecastAdjustmentBaselineQuantity		
  ,CommittedIncrementalQuantity	=a.ForecastAdjustmentIncrementalQuantity	
  ,CommittedFreightOutbound	=	a.ForecastAdjustmentFreightCost		
  ,CommittedFreightQuantity	=	a.ForecastAdjustmentFreightQuantity       
  ,CommittedFreightCaseRate	=	a.ForecastAdjustmentFreightCaseRate       
  ,CommittedFreightFuelLevy	=	a.ForecastAdjustmentFreightFuelLevy

FROM 
  ODS.vwForecastAdjustment a (NOLOCK)
 INNER JOIN Dim.CalendarDate w WITH (NOLOCK) 
   ON a.FiscalYear =w.FiscalYear
   AND a.FiscalWeek= w.FiscalWeek
		AND w.IsWeekend=1 
		AND w.PeriodOffset<1






GO
