USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_Customer]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [dbo].[usp_Insert_ODS_Customer]
AS
BEGIN


--Delete existing data from staging table

Drop TABLE [ODS].[Customer]

-- Insert data into staging table ([ODS].[Customer])

 
SELECT 
SYSDATETIME() AS LoadDateTime,
REPLACE(LTRIM(REPLACE(KNA1.[CustomerNumber],'0',' ')),' ','0') as CustomerNumber,
ADRC.[AddressNumber],
ADRC.[AddressGroup],
KNA1.[StreetHouseNumber],
KNA1.[Searchtermformatchcodesearch1] as [Search_Term_1],
KNA1.Region as [Partner_Region],
KNA1.Language,

ADR2.MobileNumber,
ADR2.Telephone_no,
ADR3.[Fax_Number] as Fax_No,
ADR6.[smtp_addr] as [E-mail],

BUTid.[TYPE] as ID_Type,
(case 
 when BUTid.[TYPE]='BUP005' then 'Global Location Number'
 when BUTid.[TYPE]='ZUP003' then 'Register of Establishment Number'
 when BUTid.[TYPE]='ZUP004' then 'Legacy Number'
 else ''
 End) as [ID Description],
BUTid.[IDNUMBER] as Identification_Number,
Txn.[TAXNUM] as Tax_Number,
Txn.[TaxType]  as Tax_Category,

KNVA.[UnloadingPoint],
KNVA.[Customerfactorycalendar] as "Calendar",
KNB1.[ReconciliationAccountinGeneralLedger] as [Reconciliation Account],
KNB1.KeyforsortingaccordingtoassignmentNumbers as [Sort Key],
KNB1.[PlanningGroup],
KNB1.[Termsofpaymentkey] as "Payment_Terms",
KNB1.[PaymentTermKeyforCreditMemos] as "Credit Memo Pyt Term",
KNB1.[IndicatorRecordPaymentHistory] as "Record Payment History",
KNB1.[AccountingClerkAbbreviation]as [Accounting Clerk],
KNB1.[Ouraccountnumberatcustomer] as [Account at customer],
KNB1.[Accountingclerktelephonenumberatbusinesspartner] as [Acct. clerks tel.no.],                     --
KNB1.[Accountingclerkfaxnumberatthecustomervendor] as [Acctg clerk's fax],
KNB1.[Internetaddressofpartnercompanyclerk] as [Clrk's internet add.],
KNB1.[IndicatorforPeriodicAccountStatements] as [Bank Statement],
F.[SalesDistrict] as [Sales District],
F.[CustomerGroup] as [Customer Group],
F.[Currency],
F.[CustomerPriceGroup] as [Price Group],
F.[CustomerClassificationforPricingProcedureDetermination] as [Customer Price Procedure],
F.[PriceListType] as [Price List],
F.[CustomerStatisticsGroup] as [Customer Stats. Group],
F.[IndicatorRelevantforSettlementManagement] as [Relevant for Settlement Management],

(CASE 
        WHEN F.[DeliveryPriority] = 1 THEN 'High'
        WHEN F.[DeliveryPriority] = 2 THEN 'Normal'
        WHEN F.[DeliveryPriority] = 3 THEN 'Low'
        ELSE ''                                                      -- Default value when none of the above conditions match
    END )AS [Delivery Priority],
F.[OrderCombinationIndicator]as [Order Combination],
F.[DeliveringPlantOwnorExternal] as [Delivering Plant],
F.[ShippingConditions] as [Shipping Conditions],
F.[CompleteDeliveryDefinedforEachSalesOrder]  as  [Complete Delivery],
F.[MaximumNumberofPartialDeliveriesAllowedPerItem]  as  [Max_Part_Deliveries],
F.[Partialdeliveryatitemlevel]  as  [Partial dlvry item],
F.[RelevantforpricedeterminationID]  as [Pricing],
F.[IncotermsVersion],
F.[IncotermsPart1] as  [Incoterms],
F.[IncotermsLocation1] ,
F.[IncotermsLocation2],
F.[Termsofpaymentkey] as  [Billing Payment Terms],
T052.[Own Explanation],
F.[AccountAssignmentGroupforthisCustomer] as [Acct Assmt Grp Cust.],
F.[MinimumOrderQty],
F.[AreaCode],
F.[PalletRequirement],
G.[Bulla Sales Manager],
G.[Sold to Party],
G.[Bill to Party],
G.[Payer],
G.[Ship to Party],
G.[Forwarding Agent],
CAST(VBAK.[Last_Order_Date] as date) AS [LastOrderDate],
CAST(VBRK.[Last_Billed_Order_Date] as date) as [LastBilledOrderDate],
CustText.[Carrier Instructions],
CustText.[Sales Note For CUstomer],
CustText.[Shipping Instructions],
CustText.[Selection for Shipping],    
CustText.[Marketing Notes],
CustText.[Product Proposal Items],
CustText.[Competitor],
CustText.[Potential reasoning],
CustText.[Call Frequency],
CustText.[Payment Willingness],

--[BT].[BusinessPartnerNumber],
[BT].[BusinessPartnerCategory],
[BT].[BusinessPartnerType],
[BT].[BusinessPartnerGrouping],
[BT].[BusinessPartnerNumberExt],
[BT].[SearchTerm1] as [SearchTerm1_BP],
[BT].[SearchTerm2] as [SearchTerm2_BP],
[BT].[DataOriginTypes] as [DataOriginTypes_BP],
[BT].[FormofAddressKey] as [FormofAddressKey_BP],
[BT].[CentralArchivingFlag] as [CentralArchivingFlag_BP],
[BT].[CentralBlockBP] as [CentralBlockBP_BP],
[BT].[AuthorizationGroup] as [AuthorizationGroup_BP],
[BT].[EMPIDLineManager] as [EMPIDLineManager_BP],
[BT].[LogicalSystem] as [LogicalSystem_BP],
[BT].[BusinessPartnerContactPermission],
[BT].[IndicatorNotReleased] as [IndicatorNotReleased_BP],
[BT].[IndicatorNotLegallyCompetent] as [IndicatorNotLegallyCompetent_BP],
[BT].[BusinessPartnerPrintFormat],
[BT].[Dummyfunctioninlength1] as [Dummyfunctioninlength1_BP],
[BT].[Rate] as [Rate_BP],
[BT].[NAME_ORG1] as [NAME_ORG1_BP],
[BT].[NAME_ORG2] as [NAME_ORG2_BP],
[BT].[NAME_ORG3] as [NAME_ORG3_BP],
[BT].[NAME_ORG4] as [NAME_ORG4_BP],
[BT].[LegalformOrganization] as [LegalformOrganization_BP],
[BT].[IndustrySector] as [IndustrySector_BP],
[BT].[LegalEntityOrganization] as [LegalEntityOrganization_BP],
[BT].[DateOrganizationFounded] as [DateOrganizationFounded_BP],
[BT].[LiquidationDate] as [LiquidationDate_BP],
[BT].[LOCATION_1] as [LOCATION_1_BP],
[BT].[LOCATION_2] as [LOCATION_2_BP],
[BT].[LOCATION_3] as [LOCATION_3_BP],
[BT].[NAME_LAST] as [NAME_LAST_BP],
[BT].[NAME_FIRST] as [NAME_FIRST_BP],
[BT].[NAME_LST2] as [NAME_LST2_BP],
[BT].[NAME_LAST2] as [NAME_LAST2_BP],
[BT].[NAMEMIDDLE] as [NAMEMIDDLE_BP],
[BT].[TITLE_ACA1] as [TITLE_ACA1_BP],
[BT].[TITLE_ACA2] as [TITLE_ACA2_BP],
[BT].[TITLE_ROYL] as [TITLE_ROYL_BP],
[BT].[PREFIX1] as [PREFIX1_BP],
[BT].[PREFIX2] as [PREFIX2_BP],
[BT].[NAME1_TEXT] as [NAME1_TEXT_BP],
[BT].[NICKNAME] as [NICKNAME_BP],
[BT].[INITIALS] as [INITIALS_BP],
[BT].[NAMEFORMAT] as [NAMEFORMAT_BP],
[BT].[NAMCOUNTRY] as [NAMCOUNTRY_BP],
[BT].[LANGU_CORR] as [LANGU_CORR_BP],
[BT].[XSEXMale] as [XSEXMale_BP],
[BT].[XSEXFemale] as [XSEXFemale_BP],
[BT].[BIRTHPL] as [BIRTHPL_BP],
[BT].[MARST] as [MARST_BP],
[BT].[EMPLO] as [EMPLO_BP],
[BT].[JOBGR] as [JOBGR_BP],
[BT].[NATIO] as [NATIO_BP],
[BT].[CNTAX] as [CNTAX_BP],
[BT].[CNDSC] as [CNDSC_BP],
[BT].[PERSNUMBER] as [PERSNUMBER_BP],
[BT].[XSEXU] as [XSEXU_BP],
[BT].[XUBNAME] as [XUBNAME_BP],
[BT].[BU_LANGU] as [BU_LANGU_BP],
[BT].[BIRTHDT] as [BIRTHDT_BP],
[BT].[DEATHDT] as [DEATHDT_BP],
[BT].[PERNO] as [PERNO_BP],
[BT].[CHILDREN] as [CHILDREN_BP],
[BT].[MEM_HOUSE] as [MEM_HOUSE_BP],
[BT].[PARTGRPTYP] as [PARTGRPTYP_BP],
[BT].[NAME_GRP1] as [NAME_GRP1_BP],
[BT].[NAME_GRP2] as [NAME_GRP2_BP],
[BT].[MC_NAME1] as [MC_NAME1_BP],
[BT].[MC_NAME2] as [MC_NAME2_BP],
[BT].[UserwhocreatedObject] as [UserwhocreatedObject_BP],
[BT].[createdDate] as [createdDate_BP],
[BT].[createdtime] as [createdtime_BP],
[BT].[UserwhochangedObject] as [UserwhochangedObject_BP],
[BT].[ChangedDate] as [ChangedDate_BP],
[BT].[ChangedTime] as [ChangedTime_BP],
[BT].[PARTNER_GUID] as [PARTNER_GUID_BP],
[BT].[ADDRCOMM] as [ADDRCOMM_BP],
[BT].[TD_SWITCH] as [TD_SWITCH_BP],
[BT].[IS_ORG_CENTRE] as [IS_ORG_CENTRE_BP],
[BT].[DB_KEY] as [DB_KEY_BP],
[BT].[VALID_FROM] as [VALID_FROM_BP],
[BT].[VALID_TO] as [VALID_TO_BP],
[BT].[XPCPT] as [XPCPT_BP],
[BT].[NATPERS] as [NATPERS_BP],
[BT].[MILVE] as [MILVE_BP],
[BT].[NUC_SEC] as [NUC_SEC_BP],
[BT].[PAR_REL] as [PAR_REL_BP],
[BT].[BP_SORT] as [BP_SORT_BP],
[BT].[KBANKS] as [KBANKS_BP],
[BT].[KBANKL] as [KBANKL_BP],
[BT].[GENDER] as [GENDER_BP],
[BT].[BIRTHDT_STATUS] as [BIRTHDT_STATUS_BP]


into [ODS].[Customer]


FROM [SAPSTG].[CV_PR_MD_KNA1] KNA1  
left join [SAPSTG].[CV_PR_MD_ADRC] ADRC  on KNA1.Address = ADRC.AddressNumber  

left join (select Addressnumber, 
		MAX(case when IndicatorTelephoneMobileTelephone =3 then CompleteNumberDiallingCode end) as MobileNumber,
MAX(case when IndicatorTelephoneMobileTelephone =1 then CompleteNumberDiallingCode end) as Telephone_no
from [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ADR2] group by AddressNumber) ADR2  
on KNA1.Address = ADR2.AddressNumber 
 
left join [sapstg].[CV_PR_MD_ADR3] ADR3  on KNA1.Address = ADR3.addrnumber and ADR3.PERSNUMBER = '' and ADR3.CONSNUMBER = 1 
left join [sapstg].[CV_PR_MD_ADR6] ADR6  on KNA1.Address = ADR6.addrnumber and ADR6.PERSNUMBER = '' and ADR6.CONSNUMBER = 1 

left join [sapstg].[CV_PR_MD_BUTID] BUTid  on KNA1.customerNumber =BUTid.PARTNER
left join [SAPSTG].[CV_PR_MD_DFKKBPTAXNUM] Txn  on KNA1.customerNumber =Txn.Partner and Txn.TAXTYPE <> 'AU2'



left join (Select CustomerNumber, 
max([UnloadingPoint]) as [UnloadingPoint] ,
Max([Customerfactorycalendar]) as [Customerfactorycalendar]
from [Sapstg].[CV_PR_MD_KNVA] 
group by CustomerNumber) KNVA
on KNA1.customerNumber = KNVA.CustomerNumber
left join [SAPSTG].[CV_PR_MD_KNB1] KNB1  on KNA1.CustomerNumber = KNB1.CustomerNumber
left join [SAPSTG].[CV_PR_MD_KNVV] F  on KNA1.CustomerNumber = F.CustomerNumber
left join (select zterm,max(text1) as [Own Explanation]  from [SAPSTG].[CV_PR_MD_T052] group by zterm) T052  on F.Termsofpaymentkey=T052.ZTERM
left join (SELECT Customer,
    MAX(CASE WHEN PartnerFunction = 'ZZ' THEN Customer2 END) [Bulla Sales Manager],
    MAX(CASE WHEN PartnerFunction = 'RE' THEN Customer2 END) AS [Sold to Party],
    MAX(CASE WHEN PartnerFunction = 'AG' THEN Customer2 END) AS [Bill to Party],
	MAX(CASE WHEN PartnerFunction = 'RG' THEN Customer2 END) AS [Payer],
	MAX(CASE WHEN PartnerFunction = 'WE' THEN Customer2 END) AS [Ship to Party],
	MAX(CASE WHEN PartnerFunction = 'SP' THEN Supplier END) AS [Forwarding Agent] 
	FROM [SAPSTG].[CV_PR_KNVP]
GROUP BY customer)G
 on KNA1.CustomerNumber = G.Customer

left Join (Select SoldToParty,max(ReqDeliveryDate) as Last_Order_Date from SAPSTG.CV_PR_VBAK  group by SoldToParty) VBAK
on KNA1.CustomerNumber = VBAK.SoldToParty
Left Join (Select Customer, max(BillDate) as Last_Billed_Order_Date from Sapstg.CV_PR_VBRK group by customer) VBRK
on KNA1.CustomerNumber= VBRK.Customer

left Join (
	SELECT Customer,
	MAX(CASE WHEN ID = 'ZX03' THEN LONGTEXT else '' END) AS [Carrier Instructions],
	MAX(CASE WHEN ID = '0001' THEN LONGTEXT else '' END) AS [Sales Note For CUstomer],
    MAX(CASE WHEN ID = '0002' THEN LONGTEXT else '' END) as [Shipping Instructions],
    MAX(CASE WHEN ID = '0003' THEN LONGTEXT else '' END) AS [Selection for Shipping],    
	MAX(CASE WHEN ID = '0004' THEN LONGTEXT else '' END) AS [Marketing Notes],
	MAX(CASE WHEN ID = '0007' THEN LONGTEXT else '' END) AS [Product Proposal Items],
	MAX(CASE WHEN ID = '0005' THEN LONGTEXT else '' END) AS [Competitor],
	MAX(CASE WHEN ID = '0006' THEN LONGTEXT else '' END) AS [Potential reasoning],
	MAX(CASE WHEN ID = '0008' THEN LONGTEXT else '' END) AS [Call Frequency],
	MAX(CASE WHEN ID = '0009' THEN LONGTEXT else '' END) AS [Payment Willingness]
	
	FROM sapstg.CV_PR_MD_CUSTTEXT GROUP BY customer) CustText on KNA1.CustomerNumber= CustText.CUSTOMER

Left JOin [SAPSTG].[CV_PR_MD_BUT000] BT on KNA1.CustomerNumber = [BT].[BusinessPartnerNumber]

END
--select * from [SAPSTG].[CV_PR_KNVP] order by customer
GO
