USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_ProductionPlanBudget]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*-- =============================================
-- Author:		<SHINKIS>
-- Create date: <10/10/2021>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Mahendra			Initial Draft
1.1			19/07/2022		Kishor Shinde		Added calculation for ChristmasWeekFlag
1.2			21/07/2022		Kishor Shinde		Removed calculation for ChristmasWeekFlag and added calculation for EventFlag
-- =============================================*/

CREATE PROCEDURE [dbo].[usp_Insert_Fact_ProductionPlanBudget]
AS

TRUNCATE TABLE  Fact.ProductionPlanBudget;

With BudgetMBR as(
	SELECT 
		Material
		,MaterialDesc
		,FiscalYear
		,[ProductionLine]
	    , GETDATE() as [LoadDateTime]
		,July
		,August
		,September
		,October
		,November
		,December
		,January
		,February
		,March
		,April
		,May
		,June
		,Unit
		from Stg.ProdBudgetMBR),

PivotBudget as 
(
select Material,
MaterialDesc,
FiscalYear,
1 as FiscalPeriod,
ProductionLine,
July as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
2 as FiscalPeriod,
ProductionLine,
August as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
3 as FiscalPeriod,
ProductionLine,
September as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
4 as FiscalPeriod,
ProductionLine,
October as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
5 as FiscalPeriod,
ProductionLine,
November as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
6 as FiscalPeriod,
ProductionLine,
December as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
7 as FiscalPeriod,
ProductionLine,
January as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
8 as FiscalPeriod,
ProductionLine,
February as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
9 as FiscalPeriod,
ProductionLine,
March as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
10 as FiscalPeriod,
ProductionLine,
April as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
11 as FiscalPeriod,
ProductionLine,
May as BudgetQty
from BudgetMBR
union all
select Material,
MaterialDesc,
FiscalYear,
12 as FiscalPeriod,
ProductionLine,
June as BudgetQty
from BudgetMBR),

BudgetPiv as (
select Material,
        MaterialDesc,
		'' as Plant,
		ProductionLine,
		GETDATE() as LoadDateTime,
		FiscalYear,
		FiscalPeriod,
		0 as FiscalWeek,
		BudgetQty,
	   'CS' as Unit
		from PivotBudget
		)

		select * from BudgetPiv
GO
