USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MATAUOM]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_MATAUOM>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MATAUOM]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_MATAUOM]  

insert into [SAPSTG].[ZXC_MATAUOM]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AlternativeUnitForEdit  =case when NULLIF(cast(AlternativeUnitForEdit as nvarchar(3)),'') = 'BOT' THEN 'BT'
						  when [AlternativeUnitForEdit]= 'KAR' THEN 'CAR'
						  WHEN [AlternativeUnitForEdit]= 'PAK' THEN 'PAC'
						  ELSE NULLIF(cast(AlternativeUnitForEdit as nvarchar(3)),'') end,
InternationalArticleNumber  =NULLIF(cast(InternationalArticleNumber as nvarchar(18)),'') ,
Material  = case when isnumeric(Material) =1 
                                    		then 	cast(cast(Material as BIGINT) as nvarchar(40))
                                            else  cast(Material as nvarchar(40)) end,
QuantityDenominator  =cast(QuantityDenominator as decimal(38,6)) ,
QuantityNumerator  =cast(QuantityNumerator as decimal(38,6)) ,
TotalCount  =NULLIF(cast(TotalCount as int),'') ,
ScriptVersionDate = cast(getdate() as date)

FROM  SAPSTG.ZXCMATAUOM  WITH (NOLOCK) 

END
GO
