USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Dim_Customer]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <05/01/2022>
-- Description:	<UPSERT customer data in DIM.CUSTOMER>
--06/12/23   Bruce Cao added PriceList and customer Group
--30/May/2024  Shiva added New Fields 
-- =============================================

CREATE PROCEDURE [dbo].[usp_Upsert_Dim_Customer]
AS
Truncate TABLE [DIM].[Customer];

	WITH CustomerSAPTransformed as	
  (
	  SELECT DISTINCT CAST(c.CUSTOMER AS VARCHAR(80)) AS CustomerNo
		, CAST(cm.PreviousMasterRecordNumber AS VARCHAR(20)) AS BaanCustomerNumber
        ,CustomerName = CASE WHEN c.ORGANIZATIONBPNAME1 like '%ZOBSOLETE%'
        				THEN CAST (LTRIM(REPLACE(c.CustomerName,'ZOBSOLETE','')) AS VARCHAR(35))
        				ELSE CAST(c.ORGANIZATIONBPNAME1 AS VARCHAR(35))
                        END
        ,CustomerNoWithName=c.CUSTOMER + ' ' + CASE WHEN c.ORGANIZATIONBPNAME1 like '%ZOBSOLETE%'
        				THEN CAST (LTRIM(REPLACE(c.CustomerName,'ZOBSOLETE','')) AS VARCHAR(35))
        				ELSE CAST(c.ORGANIZATIONBPNAME1 AS VARCHAR(35))
                        END
		, CAST(c.ORGANIZATIONBPNAME2 AS VARCHAR(35)) AS AuxillaryName
		, CAST(a.StreetName AS VARCHAR(35)) AS [Address]
		, CAST(a.CityName AS VARCHAR(35)) AS City
		, CAST(a.Region AS VARCHAR(3)) AS [State]
		, CAST(c.PostalCode AS VARCHAR(10)) AS PostCode
		, CAST(AC.AdditionalCustomerGroup2 AS VARCHAR(3)) AS Area 
		, CAST(cc.PhoneNumber AS VARCHAR(30)) AS Telephone
		, CAST(cc.FaxNumber AS VARCHAR(30)) AS Fax
		, CAST(ic.CountryThreeLetterISOCode AS VARCHAR(3)) AS Country
		, CAST(csa.CustomerPriceGroup AS VARCHAR(2)) AS DiscountGroup
		, CAST(CASE WHEN csa.BillingIsBlockedForCustomer = 'X' THEN 5 ELSE 1 END AS INT) AS [Status]
		, CAST(CASE WHEN csa.BillingIsBlockedForCustomer = 'X' THEN 'Inactive' ELSE 'Active' END AS VARCHAR(10)) AS StatusDescription
		, CAST(CASE WHEN csa.BillingIsBlockedForCustomer = 'X' THEN 5 ELSE 1 END AS VARCHAR(10)) AS AccountStatus
		, CAST(csa.AccountByCustomer AS VARCHAR(12)) AS GLN
		, CAST(csa.CustomerPaymentTerms AS VARCHAR(4)) AS TermsOfPayment
		, CAST(cc.EmailAddress AS VARCHAR(250)) AS Email
		, CAST(csa.AccountByCustomer AS VARCHAR(12)) AS OurSupplierNo
		, am.AccountManager
		, am.AccountManagerName
		, CAST(so.Last_Sales_Date as date) AS LastSalesDate                                  --SS uncommented and changes field name from LastInvoiceDate to LastSalesDate on 7-May-24
      	, CAST(csa.INCOTERMSCLASSIFICATION AS VARCHAR(3)) AS TermsOfDelivery
		, COALESCE(da.AddressID, a.AddressID) AS DefaultShippingAddress	
		, CAST(csp.VendorNo AS VARCHAR(10)) AS CarrierCode
		, COALESCE(CASE WHEN cpc.levelNo = 4 THEN c.Customer END, ch1.NationalCustomer_Code) AS NationalCustomerCode
		, COALESCE(CASE WHEN cpc.levelNo = 4 THEN c.OrganizationBPName1 END, ch1.NationalCustomer_Name) AS NationalCustomer
		, COALESCE(COALESCE(CASE WHEN cpc.levelNo = 3 THEN c.Customer END, ch1.ChannelCustomer_Code), ch1b.ChannelCustomer_Code) AS ChannelCustomerCode
		, COALESCE(COALESCE(CASE WHEN cpc.levelNo = 3 THEN c.OrganizationBPName1 END, ch1.ChannelCustomer_Name), ch1b.ChannelCustomer_Name) AS ChannelCustomer
		, COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 2 THEN c.Customer END, ch1.SubChannel_Code), ch1b.SubChannel_Code), ch1c.SubChannel_Code) AS SubChannelCode
		, COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 2 THEN c.OrganizationBPName1 END, ch1.SubChannel_Name), ch1b.SubChannel_Name), ch1c.SubChannel_Name) AS SubChannel
		, COALESCE(COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 1 THEN c.Customer END, ch1.Channel_Code), ch1b.Channel_Code), ch1c.Channel_Code), ch1d.Channel_Code) AS ChannelCode
		, COALESCE(COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 1 THEN c.OrganizationBPName1 END, ch1.Channel_Name), ch1b.Channel_Name), ch1c.Channel_Name), ch1d.Channel_Name) AS Channel
		, ac.AdditionalCustomerGroup2Name AS AreaName
        , case when csa.AreaCode IN ('01','02','03','04','05','06','07','08' ) THEN 'Domestic' ELSE 'Export' end as Division
        , case when csa.AreaCode IN ('01','02','03','04','05','06','07','08' ) THEN '1' ELSE '2' end as DivisionCode
        , coalesce(msr.LegacyRegionDescription,'Australia') AS Region
		, coalesce(msr.LegacyRegion,11) AS RegionCode
		, COALESCE(a.CityName, '') +', '+ COALESCE(a.Region, '') +', '+ COALESCE(c.COUNTRY, '') +', '+ COALESCE(a.PostalCode, '') AS SpatialAddress
		, CAST(a.PostalCode AS VARCHAR(10)) AS ShippingPostcode
		, CAST(a.Region AS VARCHAR(3)) AS ShippingState
		, CreationDate
		, CAST('' AS VARCHAR(30)) AS FreightAccountNo
        , plt.PriceListTypeName as PriceListDescription
        , UPPER(a.CityName) as ShippingCity
		, cpc.LevelNo
        , COALESCE(csa.SupplyingPlant,'3000') as SupplyingPlant
		, csa.PriceListType as PriceListTypeCode -- added 06/12/23  Bruce
		, csa.CustomerPriceGroup as PriceGroupCode -- added 06/12/23  Bruce
		, pg.Description as PriceGroupName -- added 06/12/23  Bruce
		,ocj.[AddressNumber]                                                          --Added new Fields (this one and below this all are new Fields)
		,ocj.[AddressGroup]
		,ocj.[StreetHouseNumber]
		,ocj.[Search_Term_1]
		,ocj.Partner_Region
		,ocj.[Language]
		,ocj.[MobileNumber]
		,ocj.[Telephone_no]
		,ocj.[Fax_No]
		,ocj.[E-mail]
		,ocj.ID_Type
		,ocj.[ID Description]
		,ocj.Identification_Number
		,ocj.Tax_Number 
		,ocj.Tax_Category
		,ocj.[UnloadingPoint]
		,ocj.[Calendar]
		,ocj.[Reconciliation Account]
		,ocj.[Sort Key]
		,ocj.[PlanningGroup]
		,ocj.[Payment_Terms]
		,ocj.[Credit Memo Pyt Term]
		,ocj.[Record Payment History]
		,ocj.[Accounting Clerk]
		,ocj.[Account at customer]
		,ocj.[Acct. clerks tel.no.]
		,ocj.[Acctg clerk's fax]
		,ocj.[Clrk's internet add.]
		,ocj.[Bank Statement]
		,ocj.[Sales District]
		,ocj.[Customer Group]
		,ocj.[Currency]
		,ocj.[Price Group]
		,ocj.[Customer Price Procedure]
		,ocj.[Price List]
		,ocj.[Customer Stats. Group]
		,ocj.[Relevant for Settlement Management]
		,ocj.[Delivery Priority]
		,ocj.[Order Combination]
		,ocj.[Delivering Plant]
		,ocj.[Shipping Conditions]
		,ocj.[Complete Delivery]
		,ocj.[Max_Part_Deliveries]
		,ocj.[Partial dlvry item]
		,ocj.[Pricing]
		,ocj.[IncotermsVersion]
		,ocj.[Incoterms]
		,ocj.[IncotermsLocation1]
		,ocj.[IncotermsLocation2]
		,ocj.[Billing Payment Terms]
		,ocj.[Own Explanation]
		,ocj.[Acct Assmt Grp Cust.]
		,ocj.[MinimumOrderQty]
		,ocj.[AreaCode]
		,ocj.[PalletRequirement]
		,ocj.[Bulla Sales Manager]
		,ocj.[Sold to Party]
		,ocj.[Bill to Party]
		,ocj.[Payer]
		,ocj.[Ship to Party]
		,ocj.[Forwarding Agent]
		,ocj.[Bulla_Sales_Manager_Name]
		,ocj.[Sold_To_Party_Name]
		,ocj.[Bill_To_Party_Name]
		,ocj.[Payer_Name] 
		,ocj.[Ship_To_Party_Name]
		,ocj.[Forwarding_Agent_Name]
		,ocj.[LastOrderDate]
		,ocj.[LastBilledOrderDate]
		,ocj.[Carrier Instructions]
		,ocj.[Sales Note For CUstomer]
		,ocj.[Shipping Instructions]
		,ocj.[Selection for Shipping]    
		,ocj.[Marketing Notes]
		,ocj.[Product Proposal Items]
		,ocj.[Competitor]
		,ocj.[Potential reasoning]
		,ocj.[Call Frequency]
		,ocj.[Payment Willingness]
		,ocj.[BusinessPartnerCategory]
		,ocj.[BusinessPartnerType]
		,ocj.[BusinessPartnerGrouping]
		,ocj.[SearchTerm1_BP]
		,ocj.[SearchTerm2_BP]
		,ocj.[CentralArchivingFlag_BP]
		,ocj.[CentralBlockBP_BP]
		,ocj.[UserwhocreatedObject_BP] as [UserWhoCreatedObject_BP]
		,ocj.[createdDate_BP] as [ObjectCreatedDate_BP]
		,ocj.[createdtime_BP] as [ObjectCreatedTime_BP]
		,ocj.[UserwhochangedObject_BP] as [UserWhoChangedObject_BP]
		,ocj.[ChangedDate_BP] as [ObjectChangedDate_BP]
		,ocj.[ChangedTime_BP] as [ObjectChangedTime_BP]
		,Lid.[LastInvoiceDate]


	FROM ODS.ZXC_CUSTOMER c WITH (NOLOCK)
	LEFT JOIN ODS.ZXC_CUSTSALESPARTNER c2 WITH (NOLOCK)
		ON c.Customer = c2.Customer
		AND c2.PartnerFunction = 'SP'
	LEFT JOIN (
		SELECT DISTINCT csp.Customer, c.Customer AS AccountManager, c.AddressID, c.CustomerName AS AccountManagerName
		, ROW_NUMBER() OVER (PARTITION BY csp.Customer ORDER BY c.CustomerName DESC) AS RowNum
        FROM ODS.ZXC_CUSTSALESPARTNER csp WITH (NOLOCK)
		INNER JOIN ODS.ZXC_CUSTOMER c
			ON csp.BPCustomerNumber = c.Customer
		WHERE csp.PartnerFunction = 'ZZ'
	) am
		ON c.Customer = am.Customer
        AND am.RowNum=1
    LEFT JOIN (
		SELECT csp.Customer, c.AddressID
        , ROW_NUMBER() OVER (PARTITION BY csp.Customer ORDER BY c.AddressID DESC) AS RowNum
		FROM ODS.ZXC_CUSTSALESPARTNER csp WITH (NOLOCK)
		INNER JOIN ODS.ZXC_CUSTOMER c
			ON csp.BPCustomerNumber = c.Customer
		WHERE csp.PartnerFunction = 'SH' AND DefaultPartner = 1
	) da
		ON c.Customer = da.Customer
        AND da.Rownum=1
	LEFT JOIN ODS.ZXC_ADDRESS a WITH (NOLOCK)
        ON c.AddressID = a.AddressID
		
	LEFT JOIN (
		SELECT AddressID, PhoneNumber, FaxNumber, EmailAddress
			, ROW_NUMBER() OVER (PARTITION BY AddressID ORDER BY BusinessPartnerPerson DESC) AS RowNum
		FROM ODS.ZXC_CUSTCONTACT WITH (NOLOCK)
	) cc
		ON a.AddressID = cc.AddressID
		AND cc.RowNum = 1
	LEFT JOIN ODS.ZXC_CUSTCOMPANY cm WITH (NOLOCK)
		ON c.Customer = cm.Customer
	LEFT JOIN ODS.ZXC_CUSTSALESAREA csa WITH (NOLOCK)
		ON c.Customer = csa.Customer
    LEFT JOIN ODS.MapSAPRegion msr WITH (NOLOCK)    
    	ON csa.SalesDistrict=msr.BZIRK
    LEFT JOIN ODS.ZXC_ADDCUSTGRP2NAME ac
		ON csa.AreaCode = ac.AdditionalCustomerGroup2
	LEFT JOIN ODS.I_Country ic	WITH (NOLOCK)
		ON ic.Country = c.Country
    LEFT JOIN ODS.ZXC_CUSTSALESPARTNER csp WITH (NOLOCK)
		ON c.Customer = csp.Customer
		AND csp.PartnerFunction = 'CR'
		AND csp.PartnerCounter = '000'
	 LEFT JOIN (
		SELECT CustomerNo, MAX(WeekCommenceDate) AS Last_Sales_Date
		FROM Fact.ActualSales
		GROUP BY CustomerNo
	) so  
		ON cm.Customer = so.CustomerNo
	LEFT JOIN [ODS].[Customer_Prep] cpc
		ON c.Customer = cpc.ChildCode
	LEFT JOIN ODS.CustomerH1_L4 ch1 WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1.NationalCustomer_Code 
	LEFT JOIN ODS.CustomerH1_L4 ch1b WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1b.ChannelCustomer_Code 
	LEFT JOIN ODS.CustomerH1_L4 ch1c WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1c.SubChannel_Code 
	LEFT JOIN ODS.CustomerH1_L4 ch1d WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1d.Channel_Code
    LEFT JOIN ODS.ZXC_PRICELSTTYPTXT plt on plt.PriceListType=csa.PriceListType

	left join SAPSTG.CV_MD_PRICEGroup pg
	on csa.CustomerPriceGroup = pg.Pricegroup
	and pg.language = 'E'
	and pg.client = '200'



	left join
	(select a1.*,KN1.Name1 as Bulla_Sales_Manager_Name,                             --changes by Shiva for new Fields
		KN2.Name1 as Sold_To_Party_Name,
		KN3.Name1 as Bill_To_Party_Name ,
		KN4.Name1 as Payer_Name ,
		KN5.Name1 as Ship_To_Party_Name,
		KN6.Name1 as Forwarding_Agent_Name

from ods.customer a1 left join sapstg.CV_PR_MD_KNA1 KN1 on a1.[Bulla Sales Manager]=KN1.CustomerNumber
left join sapstg.CV_PR_MD_KNA1 KN2 on a1.[Sold to Party]=KN2.CustomerNumber
left join sapstg.CV_PR_MD_KNA1 KN3 on a1.[Bill to Party]=KN3.CustomerNumber
left join sapstg.CV_PR_MD_KNA1 KN4 on a1.[Payer]=KN4.CustomerNumber
left join sapstg.CV_PR_MD_KNA1 KN5 on a1.[Ship to Party] = KN5.CustomerNumber
left join sapstg.CV_PR_MD_KNA1 KN6 on a1.[Forwarding Agent]=KN6.CustomerNumber) as ocj   

	on c.CUSTOMER = ocj.CustomerNumber  
	
Left Join (Select ujs.BillToParty,MAX(ujs.SalesDate) as LastInvoiceDate from (select * from ODS.UniversalJournalSales_CurrentFY 
UNION ALL Select * from ODS.UniversalJournalSales_PreviousFY) ujs
group by ujs.BillToParty ) Lid                                                   -- LastInvoiceDate
on c.CUSTOMER=Lid.BillToParty
   WHERE C.CustomerAccountGroup IN ('0001','0012','CPD')  
  ) 
	MERGE INTO [DIM].[Customer] as Target
	USING CustomerSAPTransformed as S
	ON Target.CustomerNo = S.CustomerNo
		WHEN MATCHED THEN UPDATE 
			SET
   -- Now Prepare Output
		 TARGET.CustomerNo			= S.CustomerNo	
		,TARGET.BaanCustomerNumber	= S.BaanCustomerNumber
		,TARGET.CustomerName		= S.CustomerName	
		,TARGET.CustomerNoWithName	= S.CustomerNoWithName	
		,TARGET.AuxillaryName		= S.AuxillaryName		
		,TARGET.Address				= S.Address				
		,TARGET.AddressAux			= ''					
		,TARGET.City				= s.City			
		,TARGET.State				= s.State	
		,TARGET.PostCode			= s.PostCode	
		,TARGET.Area				= s.Area			
		,TARGET.ParentNo			= ''				
		,TARGET.Route				= cast(NULL as VARCHAR(3))
		,TARGET.Telephone			= s.Telephone		
		,TARGET.Fax					= s.Fax				
		,TARGET.LineOfBusiness		= ''				
		,TARGET.SalesRep			= ''				
		,TARGET.Country				= s.Country					
		,TARGET.StatisticCustomer	= ''					
		,TARGET.FinancialGroup		= ''					
		,TARGET.DiscountGroup		= s.DiscountGroup			
		,TARGET.Status				= s.Status					
		,TARGET.StatusDescription	= s.StatusDescription
		,TARGET.AccrualGroup		= ''
		,TARGET.PromotionGroup		= ''
		,TARGET.StatementMethod		= ''
		,TARGET.AccountStatus		= s.AccountStatus
		,TARGET.GLN					= s.GLN	
		,TARGET.CreditAnalyst		= ''
		,TARGET.TermsOfPayment		= s.TermsOfPayment	
		,TARGET.Email				= s.Email
		,TARGET.OurSupplierNo		= s.OurSupplierNo
		,TARGET.AccountManager		= s.AccountManager
		,TARGET.AccountManagerName	= s.AccountManagerName
		,TARGET.LastSalesDate		= s.LastSalesDate                               --SS uncommented this
		,TARGET.CreditLimit			= Null
		,TARGET.TermsOfDelivery		= s.TermsOfDelivery
		,TARGET.DefaultShippingAddress	= s.DefaultShippingAddress
		,TARGET.Rating				= Null
		,TARGET.LoadPlanCode		= ''
		,TARGET.NationalCustomerCode= s.NationalCustomerCode
		,TARGET.CarrierCode			= s.CarrierCode			
		,TARGET.SalesTerritory		= ''			
		,TARGET.SalesOrderType		= ''			
		,TARGET.NationalCustomer	= s.NationalCustomer
		,TARGET.ChannelCustomerCode	= s.ChannelCustomerCode
		,TARGET.ChannelCustomer		= s.ChannelCustomer
		,TARGET.SubChannelCode		= s.SubChannelCode	
		,TARGET.SubChannel			= s.SubChannel		
		,TARGET.ChannelCode			= s.ChannelCode		
		,TARGET.Channel				= s.Channel			
		,TARGET.AreaName			= s.AreaName
		,TARGET.Division			= s.Division
		,TARGET.DivisionCode		= s.DivisionCode
		,TARGET.Region				= s.Region		
		,TARGET.RegionCode			= s.RegionCode
		,TARGET.SpatialAddress		= s.SpatialAddress
		,TARGET.ShippingPostcode	= s.ShippingPostcode
		,TARGET.ShippingState		= s.ShippingState
		,TARGET.CreationDate		= s.CreationDate
		,TARGET.DataSource			= 'SAP'
		,TARGET.BusinessPartnerRole	= ''
		,TARGET.FreightAccountNo	= s.FreightAccountNo
	    ,TARGET.PriceListDescription= s.PriceListDescription
	    ,TARGET.ShippingCity		= s.ShippingCity
		,TARGET.LevelNo				= s.LevelNo
        ,TARGET.SupplyingPlant		= s.SupplyingPlant
		,TARGET.PriceListTypeCode   = s.PriceListTypeCode -- added 06/12/23 Bruce
		,TARGET.PriceGroupCode   = s.PriceGroupCode -- added 06/12/23 Bruce
		,TARGET.PriceGroupName   = s.PriceGroupName -- added 06/12/23  Bruce
		,TARGET.AddressNumber = s.AddressNumber                             -- Added new Fields(this one and Below this all are new Fields )
		,TARGET.AddressGroup = s.AddressGroup
		,TARGET.StreetHouseNumber = s.StreetHouseNumber
		,TARGET.[Search_Term_1]=s.[Search_Term_1]
		,TARGET.Partner_Region = s.Partner_Region
		,TARGET.Language = s.Language
		,TARGET.MobileNumber = s.MobileNumber
		,TARGET.Telephone_no = s.Telephone_no
		,TARGET.Fax_No = s.Fax_No
		,TARGET.[E-mail] =S.[E-mail]
		,TARGET.ID_Type =s.ID_Type
		,Target.[ID Description]= S.[ID Description]
		,TARGET.Identification_Number =s.Identification_Number
		,TARGET.Tax_Number = s.Tax_Number
		,TARGET.Tax_Category = s.Tax_Category
		
		,TARGET.UnloadingPoint = s.UnloadingPoint
		,TARGET.calendar = s.calendar
		,TARGET.[Reconciliation Account] = s.[Reconciliation Account]
		,TARGET.[Sort Key]= s.[Sort Key]
		,TARGET.PlanningGroup = s.PlanningGroup
		,TARGET.[Payment_Terms] = s.[Payment_Terms]
		,TARGET.[Credit Memo Pyt Term] = s.[Credit Memo Pyt Term]
		,TARGET.[Record Payment History] = s.[Record Payment History]
		,TARGET.[Accounting Clerk] = s.[Accounting Clerk]
		,TARGET.[Account at customer] = s.[Account at customer]
		,TARGET.[Acct. clerks tel.no.] = s.[Acct. clerks tel.no.]
		,TARGET.[Acctg clerk's fax] = s.[Acctg clerk's fax]
		,TARGET.[Clrk's internet add.] = s.[Clrk's internet add.]
		,TARGET.[Bank Statement] = s.[Bank Statement]
		,TARGET.[Sales District] = s.[Sales District]
		,TARGET.[Customer Group] = s.[Customer Group]
		,TARGET.[Currency] = s.[Currency]
		,TARGET.[Price Group] = s.[Price Group]
		,TARGET.[Customer Price Procedure] = s.[Customer Price Procedure]
		,TARGET.[Price List] = s.[Price List]
		,TARGET.[Customer Stats. Group] = s.[Customer Stats. Group]
		,TARGET.[Relevant for Settlement Management] = s.[Relevant for Settlement Management]
		,TARGET.[Delivery Priority] = s.[Delivery Priority]
		,TARGET.[Order Combination] = s.[Order Combination]
		,TARGET.[Delivering Plant] = s.[Delivering Plant]
		,TARGET.[Shipping Conditions] = s.[Shipping Conditions]
		,TARGET.[Complete Delivery] = s.[Complete Delivery]
		,TARGET.[Max_Part_Deliveries] = s.[Max_Part_Deliveries]
		,TARGET.[Partial dlvry item] = s.[Partial dlvry item]
		,TARGET.Pricing = s.[Pricing]
		,TARGET.IncotermsVersion = s.[IncotermsVersion]
		,TARGET.Incoterms = s.[Incoterms]
		,TARGET.IncotermsLocation1 = s.[IncotermsLocation1]
		,TARGET.IncotermsLocation2 = s.[IncotermsLocation2]
		,TARGET.[Billing Payment Terms] = s.[Billing Payment Terms]
		,TARGET.[Own Explanation] = s.[Own Explanation]
		,TARGET.[Acct Assmt Grp Cust.] = s.[Acct Assmt Grp Cust.]
		,TARGET.MinimumOrderQty = s.[MinimumOrderQty]
		,TARGET.AreaCode = s.[AreaCode]
		,TARGET.PalletRequirement = s.[PalletRequirement]
		,TARGET.[Bulla Sales Manager] =s.[Bulla Sales Manager]
		,TARGET.[Sold to Party] = s.[Sold to Party]
		,TARGET.[Bill to Party] = S.[Bill to Party]
		,TARGET.[Payer] = S.[Payer]
		,Target.[Ship to Party] = s.[Ship to Party]
		,Target.[Forwarding Agent] = s.[Forwarding Agent]
		,TARGET.[Bulla_Sales_Manager_Name] = s.[Bulla_Sales_Manager_Name]
		,TARGET.[Sold_To_Party_Name] = s.[Sold_To_Party_Name]
		,TARGET.[Bill_To_Party_Name] = S.[Bill_To_Party_Name]
		,TARGET.[Payer_Name]  = S.[Payer_Name] 
		,TARGET.[Ship_To_Party_Name] = s.[Ship_To_Party_Name]
		,TARGET.[Forwarding_Agent_Name] = s.[Forwarding_Agent_Name]
		,TARGET.[LastOrderDate] = s.[LastOrderDate]
		,Target.[LastBilledOrderDate] = S.[LastBilledOrderDate]
		,TARGET.[Carrier Instructions]= s.[Carrier Instructions]
		,TARGET.[Sales Note For CUstomer]=s.[Sales Note For CUstomer]
		,TARGET.[Shipping Instructions] = s.[Shipping Instructions]
		,TARGET.[Selection for Shipping]   = s.[Selection for Shipping]
		,TARGET.[Marketing Notes] = s.[Marketing Notes]
		,TARGET.[Product Proposal Items] = s.[Product Proposal Items]
		,TARGET.[Competitor] = s.[Competitor]
		,TARGET.[Potential reasoning] = s.[Potential reasoning]
		,TARGET.[Call Frequency] = s.[Call Frequency]
		,TARGET.[Payment Willingness] = s.[Payment Willingness]
		,Target.[BusinessPartnerCategory] = s.[BusinessPartnerCategory]
		,Target.[BusinessPartnerType]= s.[BusinessPartnerType]
		,Target.[BusinessPartnerGrouping] = s.[BusinessPartnerGrouping]
		,Target.[SearchTerm1_BP] = s.[SearchTerm1_BP]
		,Target.[SearchTerm2_BP] = s.[SearchTerm2_BP]
		,Target.[CentralArchivingFlag_BP] = s.[CentralArchivingFlag_BP]
		,Target.[CentralBlockBP_BP] = s.[CentralBlockBP_BP]
		,Target.[UserwhocreatedObject_BP] = s.[UserWhoCreatedObject_BP]
		,Target.[ObjectcreatedDate_BP] = s.[ObjectCreatedDate_BP]
		,Target.[Objectcreatedtime_BP] = s.[ObjectCreatedtime_BP]
		,TARGET.[UserwhochangedObject_BP] = s.[UserWhoChangedObject_BP]
		,TARGET.[ObjectChangedDate_BP] = s.[ObjectChangedDate_BP]
		,Target.[ObjectChangedTime_BP] = s.[ObjectChangedTime_BP]
		,TARGET.[LastInvoiceDate] = s.[LastInvoiceDate]

	WHEN NOT MATCHED
	THEN INSERT
		(ProcessExecutionID
		,LoadDateTime
		 ,CustomerNo
		,BaanCustomerNumber
		,CustomerName		
		,CustomerNoWithName	
		,AuxillaryName		
		,Address			
		,AddressAux			
		,City				
		,State				
		,PostCode			
		,Area				
		,ParentNo			
		,Route				
		,Telephone			
		,Fax				
		,LineOfBusiness		
		,SalesRep			
		,Country			
		,StatisticCustomer	
		,FinancialGroup		
		,DiscountGroup		
		,Status				
		,StatusDescription	
		,AccrualGroup		
		,PromotionGroup		
		,StatementMethod	
		,AccountStatus		
		,GLN				
		,CreditAnalyst		
		,TermsOfPayment		
		,Email				
		,OurSupplierNo		
		,AccountManager		
		,AccountManagerName	
		,LastSalesDate	
		,CreditLimit		
		,TermsOfDelivery	
		,DefaultShippingAddress
		,Rating				
		,LoadPlanCode		
		,NationalCustomerCode
		,CarrierCode		
		,SalesTerritory		
		,SalesOrderType		
		,NationalCustomer	
		,ChannelCustomerCode
		,ChannelCustomer	
		,SubChannelCode		
		,SubChannel			
		,ChannelCode		
		,Channel			
		,AreaName			
		,Division			
		,DivisionCode		
		,Region				
		,RegionCode			
		,SpatialAddress		
		,ShippingPostcode	
		,ShippingState		
		,CreationDate		
		,DataSource			
		,BusinessPartnerRole
		,FreightAccountNo	
	    ,PriceListDescription
	    ,ShippingCity		
		,LevelNo			
        ,SupplyingPlant
		,Source
		,PriceListTypeCode
		,PriceGroupCode
		,PriceGroupName
		 ,[AddressNumber]
		  ,[AddressGroup]
		  ,[StreetHouseNumber]
		  ,[Search_Term_1]
		  ,[Partner_Region]
		  ,[Language]
		  ,[MobileNumber]
		  ,[Telephone_no]
		  ,[Fax_No]
			,[E-mail]
			,[ID_Type]
			,[ID Description]
			,[Identification_Number]
			,[Tax_Number]
			,[Tax_Category]
		 
		  ,[UnloadingPoint]
		  ,[calendar]
		  ,[Reconciliation Account]
		  ,[Sort Key]
		  ,[PlanningGroup]
		  ,[Payment_Terms]
		  ,[Credit Memo Pyt Term]
		  ,[Record Payment History]
		  ,[Accounting Clerk]
		  ,[Account at customer]
		  ,[Acct. clerks tel.no.]
		  ,[Acctg clerk's fax]
		  ,[Clrk's internet add.]
		  ,[Bank Statement]
		  ,[Sales District]
		  ,[Customer Group]
		  ,[Currency]
		  ,[Price Group]
		  ,[Customer Price Procedure]
		  ,[Price List]
		  ,[Customer Stats. Group]
		  ,[Relevant for Settlement Management]
		  ,[Delivery Priority]
		  ,[Order Combination]
		  ,[Delivering Plant]
		  ,[Shipping Conditions]
		  ,[Complete Delivery]
		  ,[Max_Part_Deliveries]
		  ,[Partial dlvry item]
		  ,[Pricing]
		  ,[IncotermsVersion]
		  ,[Incoterms]
		  ,[IncotermsLocation1]
		  ,[IncotermsLocation2]
		  ,[Billing Payment Terms]
		  ,[Own Explanation]
		  ,[Acct Assmt Grp Cust.]
		  ,[MinimumOrderQty]
		  ,[AreaCode]
		  ,[PalletRequirement]
		  ,[Bulla Sales Manager]
		  ,[Sold to Party]
		  ,[Bill to Party]
		  ,[Payer]
		  ,[Ship to Party]
		  ,[Forwarding Agent]		  
		  ,[Bulla_Sales_Manager_Name]
		  ,[Sold_To_Party_Name]
		  ,[Bill_To_Party_Name]
	      ,[Payer_Name] 
	      ,[Ship_To_Party_Name]
		  ,[Forwarding_Agent_Name]
		  ,[LastOrderDate]
		  ,[LastBilledOrderDate]
		  ,[Carrier Instructions]
			,[Sales Note For CUstomer]
			,[Shipping Instructions]
			,[Selection for Shipping]   
			,[Marketing Notes]
			,[Product Proposal Items]
			,[Competitor]
			,[Potential reasoning]
			,[Call Frequency]
			,[Payment Willingness]
		  ,[BusinessPartnerCategory]
		  ,[BusinessPartnerType]
		  ,[BusinessPartnerGrouping]
		  ,[SearchTerm1_BP]
		  ,[SearchTerm2_BP]
		  ,[CentralArchivingFlag_BP]
		  ,[CentralBlockBP_BP]
		  ,[UserWhoCreatedObject_BP]
		  ,[ObjectCreatedDate_BP]
		  ,[ObjectCreatedTime_BP]
		  ,[UserWhoChangedObject_BP]
		  ,[ObjectChangedDate_BP]
		  ,[ObjectChangedTime_BP]
			,[LastInvoiceDate]
		  )
		
		VALUES
		(2486568
		,Getdate()
			,S.CustomerNo
			,S.BaanCustomerNumber
		,S.CustomerName				
		,S.CustomerNoWithName	
		,S.AuxillaryName	
		,S.Address			
		,''					
		,s.City				
		,s.State			
		,s.PostCode					
		,s.Area						
		,''					
		,cast(NULL as VARCHAR(3))
		,s.Telephone			
		,s.Fax					
		,''						
		,''						
		,s.Country		
		,''							
		,''	
		,s.DiscountGroup
		,s.Status				
		,s.StatusDescription
		,''				
		,''				
		,''				
		,s.AccountStatus
		,s.GLN	
		,''	
		,s.TermsOfPayment	
		,s.Email	
		,s.OurSupplierNo
		,s.AccountManager	
		,s.AccountManagerName
		,s.LastSalesDate                         --
		,Null				
		,s.TermsOfDelivery	
		,s.DefaultShippingAddress
		,Null		
		,''		
		,s.NationalCustomerCode	
		,s.CarrierCode	
		,''						
		,''							
		,s.NationalCustomer	
		,s.ChannelCustomerCode			
		,s.ChannelCustomer			
		,s.SubChannelCode			
		,s.SubChannel				
		,s.ChannelCode			
		,s.Channel				
		,s.AreaName				
		,s.Division				
		,s.DivisionCode			
		,s.Region				
		,s.RegionCode					
		,s.SpatialAddress			 
		,s.ShippingPostcode			
		,s.ShippingState				
		,s.CreationDate		
		,'SAP'	
		,''							
		,s.FreightAccountNo			
	    ,s.PriceListDescription		
	    ,s.ShippingCity				
		,s.LevelNo					
        ,s.SupplyingPlant
		,'SAP'
		,s.PriceListTypeCode   -- added 06/12/23 Bruce
		,s.PriceGroupCode		-- added 06/12/23 Bruce
		,s.PriceGroupName		-- added 06/12/23 Bruce
		,s.AddressNumber              -- added new fields (this one and below this all are new Fields)
		,s.AddressGroup
		,s.StreetHouseNumber
		,s.[Search_Term_1]
		,s.Partner_Region
		,s.Language
		,s.MobileNumber
		,s.Telephone_no
		,s.Fax_No
		,s.[E-mail]
		,s.ID_Type
		,s.[ID Description]
		,s.Identification_Number
		,s.Tax_Number 
		,s.Tax_Category
		
		,s.UnloadingPoint
		,s.calendar
		,s.[Reconciliation Account]
		,s.[Sort Key]
		,s.PlanningGroup
		,s.[Payment_Terms]
		,s.[Credit Memo Pyt Term]
		,s.[Record Payment History]
		,s.[Accounting Clerk]
		,s.[Account at customer]
		,s.[Acct. clerks tel.no.]
		,s.[Acctg clerk's fax]
		,s.[Clrk's internet add.]
		,s.[Bank Statement]
		,s.[Sales District]
		,s.[Customer Group]
		,s.[Currency]
		,s.[Price Group]
		,s.[Customer Price Procedure]
		,s.[Price List]
		,s.[Customer Stats. Group]
		,s.[Relevant for Settlement Management]
		,s.[Delivery Priority]
		,s.[Order Combination]
		,s.[Delivering Plant]
		,s.[Shipping Conditions]
		,s.[Complete Delivery]
		,s.[Max_Part_Deliveries]
		,s.[Partial dlvry item]
		,s.[Pricing]
		,s.[IncotermsVersion]
		,s.[Incoterms]
		,s.[IncotermsLocation1]
		,s.[IncotermsLocation2]
		,s.[Billing Payment Terms]
		,s.[Own Explanation]
		,s.[Acct Assmt Grp Cust.]
		,s.[MinimumOrderQty]
		,s.[AreaCode]
		,s.[PalletRequirement]
		  ,s.[Bulla Sales Manager]
		  ,s.[Sold to Party]
		  ,s.[Bill to Party]
		  ,s.[Payer]
		  ,s.[Ship to Party]
		  ,s.[Forwarding Agent]
		,s.[Bulla_Sales_Manager_Name]
		,s.[Sold_To_Party_Name]
		,s.[Bill_To_Party_Name]
		,s.[Payer_Name] 
		,s.[Ship_To_Party_Name]
		,s.[Forwarding_Agent_Name]
		,s.[LastOrderDate]
		,s.[LastBilledOrderDate]
		,s.[Carrier Instructions]
		,s.[Sales Note For CUstomer]
		,s.[Shipping Instructions]
		,s.[Selection for Shipping]    
		,s.[Marketing Notes]
		,s.[Product Proposal Items]
		,s.[Competitor]
		,s.[Potential reasoning]
		,s.[Call Frequency]
		,s.[Payment Willingness]
	  ,s.[BusinessPartnerCategory]
      ,s.[BusinessPartnerType]
      ,s.[BusinessPartnerGrouping]
      ,s.[SearchTerm1_BP]
      ,s.[SearchTerm2_BP]
      ,s.[CentralArchivingFlag_BP]
      ,s.[CentralBlockBP_BP]
      ,s.[UserWhoCreatedObject_BP]
      ,s.[ObjectCreatedDate_BP]
      ,s.[ObjectCreatedTime_BP]
      ,s.[UserWhoChangedObject_BP]
      ,s.[ObjectChangedDate_BP]
      ,s.[ObjectChangedTime_BP]
		,s.[LastInvoiceDate]

		
		);
GO
