USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_Material_Bkup_16_Oct_24(PP)]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[usp_Insert_DIM_Material_Bkup_16_Oct_24(PP)]          
AS          
BEGIN          
    SET NOCOUNT ON;          
          
 Delete from [DIM].[Material];          
  
INSERT INTO [DIM].[Material]([LoadDateTime],[ItemNo],[ErplnItemNo],[ItemDescription],[ItemNoWithDescription],[SignalCode],[SignalDescription],[Weight],  
[ItemGroup],[ItemGroupName],[ItemGroupType],[ItemType],[ItemTypeName],[SelectionCode],[ProductTaxcode],[TaxcodeDescription],[InventoryUnit],  
[StorageUnit],[SalesUnit],[SalesPriceUnit],[SalesPriceGroup],[StatisticsGroup],[StandardCost],[MaterialCosts],[OperationalCosts],[Apn],[Tun],  
[ProductSegment],[IsFinishedGood],[ProductClass],[MakeOrBuy],[PeriodForShelfLife],[ProductShelfLife],[ShelfLifeDays],[Currency],[AveragePriceAUD],  
[HomeCurrency],[OrderQtyMultiples],[NoBatchesDay],[MinimumOrderQty],[MaxOrderQty],[FixedOrderQty],[EconomicOrderQty],[ReorderPoint],  
[OrderInterval],[OrderLeadtime],[OrderLeadtimeDays],[OrderLeadtimeWeeks],[SafetyTime],[Warehouse],[SafetyStock],[MaximumInventory],  
[ApMaximumStock],[BuyerNo],[BuyerName],[PlannerNo],[SubPlannerName],[Standard],[PriceUnit],[LastTransactionDate],[PurchaseUnit],  
[PlanningWarehouse],[PurchaseWarehouse],[OrderWarehouse],[SalesWarehouse],[InUseErpln],[InventoryHolding],[InventoryFlag],[OrderHorizon],  
[PlanningHorizon],[TimeFence],[TimeFenceUnit],[MaintenanceMP],[ExtraLeadtime],[UnitExtraLeadtime],[FixedLeadtime],[AutoUpProduction],  
[AutoUpPurchasing],[AutoUpInventoryPlan],[AutoUpDemand],[MasterPlannerNo],[PlannerName],[MaintainMasterPlan],[RoutingGroup],[CommodityCode],  
[RetailUnitFactor],[PalletFactor],[PreferredRouting],[PreferredWorkCentre],[ProductionType],[UnitGrossMargin],[UnitGrossMarginUnit],  
[ConsumptionUnitsInCase],[ConsumptionUnit],[MinimumFixed],[MaximumFixed],[MaximumDays],[ApMinimumDays],[AdjustedMaximumDays],[AdjustedMinimumDays],  
[TargetDays],[IsMix],[IsIntermediate],[IsRecipeIngredient],[PlanningMLOR],[QualityHoldHours],[WarehouseHoldDays],[PlanningPriority],  
[TransportationHoldDays],[MadeToOrder],[ForecastFlag],[ExcludeFromMixLitres],[IngredientPriceAUD],[InventoryToPurchaseFactor],  
[InventoryToStorageFactor],[InventoryToPriceFactor],[CostComponentCode],[CommodityGroupCode],[CommodityGroup],[ManufactureType],  
[LastMaintainedDate],[SearchKey],[PlanningMLORUnit],[ForecastHorizon],[FallbackHorizon],[InventoryPolicyDays],[PalletLayerFactor],[Plant],  
[PlantName],[RetailUnitFactorinKG],[Old_Material_Number],[Authorization_Group],[Gross_Weight],[Net_Weight],[Volume],  
[Category_of_International_Article_Number],[International_Article_Number],[Volume_Unit],[Weight_Unit],[X_Distribution_Chains_Status],[Valid_From],  
[Transportation_Group],[Batch_Management],[Minimum_Remaining_Shelf_Life],[Total_Shelf_Life],[Period_Indicator_for_SLED],[Expiration_Date_description],  
[Cash_Discount],[Account_Assignment_Group],[Item_Category_Group],[Brand],[Sub_Brand],[Corporate_Brand],[Marketing_Group],[Commodity_Group],  
[Division],[ItemCategoryGroup],[Stock_on_Hand],[Stock_on_Hand_Val],[Stock_Change_Date],[Days_cover],[First_shortage_Date],[Next_Available_Date],  
[Highest_Stock_Date],[Lowest_Stock_Date],[First_Stock_Shortage_Date],[Flag_Under_Safety],[Overdue_Document_Flag],[Safety_Stock_Days],  
[Under_Safety_Date],[Bulla_coverage_Days],[Bulla_coverage_Date],[Next_above_Safety_Date],[Family],[FamilyCode],[SubFamily],[SubFamilyCode],  
[PromotionGroup],[PromotionGroupCode],[DemandType],[PrimaryChannel],[PrimaryChannelSource])       
SELECT DISTINCT CONVERT(datetime2(7), GETDATE()),I.*,BISMT Old_Material_Number,BEGRU Authorization_Group,          
    BRGEW Gross_Weight,NTGEW Net_Weight,VOLUM Volume,NUMTP Category_of_International_Article_Number,EAN11 International_Article_Number,VOLEH Volume_Unit,GEWEI Weight_Unit,          
    MSTAV X_Distribution_Chains_Status,CASE WHEN MSTAV = '01' THEN CONVERT(DATE,MSTDV, 112) ELSE NULL END Valid_From,          
    TRAGR Transportation_Group, Mara.XCHPF Batch_Management, MHDRZ Minimum_Remaining_Shelf_Life,          
    MHDHB Total_Shelf_Life,IPRKZ Period_Indicator_for_SLED,  
 Case when SLED_BBD='B' then 'Expiration Date'   
 when SLED_BBD='E' then 'Shelf Life Expiration Date' end Expiration_Date_description,          
    SKTOF Cash_Discount,KTGRM Account_Assignment_Group,MTPOS Item_Category_Group,      
 (Select distinct Brand from DIM.PRODUCT where brandcode= REPLACE(LTRIM(REPLACE(MVGR1,'0',' ')),' ','0')) Brand,      
 (Select distinct SubBrand from DIM.PRODUCT where SubBrandCode= MVGR2) Sub_Brand,          
 (Select distinct CorporateBrand from DIM.PRODUCT where CorporateBrandCode= MVGR3) Corporate_Brand,      
 (Select distinct MarketingGroup from DIM.PRODUCT where MarketingGroupCode= MVGR4) Marketing_Group,      
 (Select distinct CommodityCode from DIM.PRODUCT where CommodityGroupCode= MVGR5)  Commodity_Group,      
 Division,ItemCategoryGroup, Stock_on_Hand, Stock_on_Hand_Val,Stock_Change_Date,Days_cover,First_shortage_Date,  
 Next_Available_Date,Highest_Stock_Date,Lowest_Stock_Date,First_Stock_Shortage_Date,Flag_Under_Safety,Overdue_Document_Flag,Safety_Stock_Days,  
 Under_Safety_Date,Bulla_coverage_Days,Bulla_coverage_Date,Next_above_Safety_Date,p.Family,FamilyCode,p.SubFamily,p.SubFamilyCode,  
 p.PromotionGroup,p.PromotionGroupCode,p.DemandType,p.PrimaryChannel,p.PrimaryChannelSource  
    FROM ODS.Item I          
    LEFT JOIN SAPSTG.CV_PR_MD_MARA Mara ON ItemNo = Material          
    LEFT JOIN SAPSTG.CV_PR_MD_MVKE mvke ON ItemNo = mvke.MATNR       
 LEFT JOIN SAPSTG.ZXC_MATBASICDATA BA on I.ItemNo = BA.Material     
 LEFT JOIN (Select   
  MATERIAL,_BIC_ZSOH_C Stock_on_Hand, _BIC_ZSOHVALC Stock_on_Hand_Val,   
  CASE WHEN _BIC_ZCOV_TO='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZCOV_TO, 112) END Stock_Change_Date,  
  Replace(ltrim(Replace(_BIC_ZDAYCOVC,'0',' ')),' ','0') Days_cover,  
  CASE WHEN _BIC_ZSHTDAT1='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZSHTDAT1, 112) END First_shortage_Date,  
  CASE WHEN _BIC_ZSTC_AVI='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZSTC_AVI, 112) END Next_Available_Date,  
  CASE WHEN _BIC_ZSTC_DATH='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZSTC_DATH, 112) END Highest_Stock_Date,   
  CASE WHEN _BIC_ZSTC_DATL='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZSTC_DATL, 112) END Lowest_Stock_Date,  
  CASE WHEN _BIC_ZSTC_SHT1='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZSTC_SHT1, 112) END First_Stock_Shortage_Date,  
  _BIC_ZUDSF30 Flag_Under_Safety, _BIC_ZOD_DOC_F Overdue_Document_Flag,Replace(ltrim(Replace(_BIC_ZSFTYDAY,'0',' ')),' ','0') Safety_Stock_Days,  
  CASE WHEN _BIC_ZSTC_UNSF='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZSTC_UNSF, 112) END Under_Safety_Date,   
  Replace(ltrim(Replace(_BIC_ZBLCOVDAY,'0',' ')),' ','0') Bulla_coverage_Days,  
  CASE WHEN _BIC_ZBLCOVTO='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZBLCOVTO, 112) END Bulla_coverage_Date,  
  --Replace(ltrim(Replace(_BIC_ZBLCVDAYC,'0',' ')),' ','0') Bulla_coverage_Days,   
  CASE WHEN _BIC_ZBLCOVTO='00000000' THEN NULL ELSE CONVERT(DATE,_BIC_ZBLCOVTO, 112) END Next_above_Safety_Date,  
  Replace(ltrim(Replace(_BIC_ZSFTDAYC,'0',' ')),' ','0') Stock_Safety_Days, Replace(ltrim(Replace(_BIC_ZINVDAYC,'0',' ')),' ','0') Bulla_Target_Days  
  from SAPSTG.CV_PR_MD_MATSTOCK) MatStock  
  ON I.ItemNo=MatStock.MATERIAL  
 LEFT JOIN DIM.PRODUCT p  
 on I.ItemNo=p.ProductNo  
END 
GO
