USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_COSTCENTERTXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_COSTCENTERTXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_COSTCENTERTXT]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_COSTCENTERTXT]  

insert into [SAPSTG].[ZXC_COSTCENTERTXT]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
ControllingArea  =NULLIF(cast(ControllingArea as nvarchar(4)),'') ,
CostCenter  = case when isnumeric(CostCenter) =1 
                               						then cast(cast(CostCenter as BIGINT) as nvarchar(10)) 
                                    				else  cast(CostCenter as nvarchar(10)) end,
CostCenterDescription  =NULLIF(cast(CostCenterDescription as nvarchar(40)),'') ,
CostCenterName  =NULLIF(cast(CostCenterName as nvarchar(20)),'') ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
ScriptVersionDate = cast(getdate() as date)
FROM [SAPSTG].[ZXCCOSTCENTERTXT] 
END
GO
