USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_WORKCENTER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_WORKCENTER>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_WORKCENTER]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_WORKCENTER]  

insert into [SAPSTG].[ZXC_WORKCENTER]   
SELECT 
ProcessExecutionID  				=NULLIF(cast(w.[TaskExecutionID] as int),'') ,
LoadDateTime 						= w.LoadDateTime,
CapacityInternalID  				=NULLIF(cast(CapacityInternalID as nvarchar(8)),'') ,
EmployeeSuitability  				=NULLIF(cast(EmployeeSuitability as nvarchar(2)),'') ,
EmployeeWageGroup  					=NULLIF(cast(EmployeeWageGroup as nvarchar(3)),'') ,
EmployeeWageGroupIsReferenced  		=case EmployeeWageGroupIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
EmployeeWageType  					=NULLIF(cast(EmployeeWageType as nvarchar(4)),'') ,
EmployeeWageTypeIsReferenced  		=case EmployeeWageTypeIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
EmplSuitabilityIsReferenced  		=case EmplSuitabilityIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
FreeDefinedTableFieldSemantic  		=NULLIF(cast(FreeDefinedTableFieldSemantic as nvarchar(7)),'') ,
MachineType  						=NULLIF(cast(MachineType as nvarchar(10)),'') ,
MatlCompIsMarkedForBackflush  		=case MatlCompIsMarkedForBackflush when 'X' then cast(1 as bit) else cast(0 as bit) end ,
NmbrOfTimeTicketsIsReferenced  		=case NmbrOfTimeTicketsIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
NumberOfConfirmationSlips  			=NULLIF(cast(NumberOfConfirmationSlips as nvarchar(3)),'') ,
NumberOfConfSlipsIsReferenced  		=case NumberOfConfSlipsIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
NumberOfTimeTickets  				=cast(NumberOfTimeTickets as decimal(38,6)) ,
ObjectInternalID  					=NULLIF(cast(ObjectInternalID as nvarchar(22)),'') ,
OpControlProfileIsReferenced  		=case OpControlProfileIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OperationControlProfile  			=NULLIF(cast(OperationControlProfile as nvarchar(4)),'') ,
Plant  								=NULLIF(cast(Plant as nvarchar(4)),'') ,
PlanVersion  						=NULLIF(cast(PlanVersion as nvarchar(2)),'') ,
StandardTextIDIsReferenced  		=case StandardTextIDIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
StandardTextInternalID  			=NULLIF(cast(StandardTextInternalID as nvarchar(7)),'') ,
StandardWorkFormulaParamGroup  		=NULLIF(cast(StandardWorkFormulaParamGroup as nvarchar(4)),'') ,
StandardWorkQuantityUnit  			=NULLIF(cast(StandardWorkQuantityUnit as nvarchar(3)),'') ,
SupplyArea  						=NULLIF(cast(SupplyArea as nvarchar(10)),'') ,
ValidityEndDate  					=CASE WHEN ISDATE(ValidityEndDate) = 1 
                        				then CONVERT(datetime,ValidityEndDate, 112) 
                         				else null 	end ,
ValidityStartDate  					=CASE WHEN ISDATE(ValidityStartDate) = 1 
                        				then CONVERT(datetime,ValidityStartDate, 112) 
                         				else null 	end ,
WorkCenter  						=NULLIF(cast(WorkCenter as nvarchar(8)),'') ,
WorkCenterCategoryCode  			=NULLIF(cast(WorkCenterCategoryCode as nvarchar(4)),'') ,
WorkCenterInternalID  				=NULLIF(cast(w.WorkCenterInternalID as nvarchar(8)),'') ,
WorkCenterInternalID_Text  			=t.WORKCENTERTEXT,--'Odata Column is Missing' ,
WorkCenterIsLocked  				=case WorkCenterIsLocked when 'X' then cast(1 as bit) else cast(0 as bit) end ,
WorkCenterIsMntndForCosting  		=case WorkCenterIsMntndForCosting when 'X' then cast(1 as bit) else cast(0 as bit) end ,
WorkCenterIsMntndForScheduling  	=case WorkCenterIsMntndForScheduling when 'X' then cast(1 as bit) else cast(0 as bit) end ,
WorkCenterIsToBeDeleted  			=case WorkCenterIsToBeDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
WorkCenterLocation  				=NULLIF(cast(WorkCenterLocation as nvarchar(10)),'') ,
WorkCenterLocationGroup  			=NULLIF(cast(WorkCenterLocationGroup as nvarchar(4)),'') ,
WorkCenterMinimumQueueDuration  	=cast(WorkCenterMinimumQueueDuration as decimal(38,6)) ,
WorkCenterMinimumQueueDurnUnit  	=NULLIF(cast(WorkCenterMinimumQueueDurnUnit as nvarchar(3)),'') ,
WorkCenterResponsible  				=NULLIF(cast(WorkCenterResponsible as nvarchar(3)),'') ,
WorkCenterSetpTypeIsReferenced  	=case WorkCenterSetpTypeIsReferenced when 'X' then cast(1 as bit) else cast(0 as bit) end ,
WorkCenterSetupType  				=NULLIF(cast(WorkCenterSetupType as nvarchar(2)),'') ,
WorkCenterStandardQueueDurn  		=cast(WorkCenterStandardQueueDurn as decimal(38,6)) ,
WorkCenterStandardWorkQtyUnit1  	=NULLIF(cast(WorkCenterStandardWorkQtyUnit1 as nvarchar(3)),'') ,
WorkCenterStandardWorkQtyUnit2  	=NULLIF(cast(WorkCenterStandardWorkQtyUnit2 as nvarchar(3)),'') ,
WorkCenterStandardWorkQtyUnit3  	=NULLIF(cast(WorkCenterStandardWorkQtyUnit3 as nvarchar(3)),'') ,
WorkCenterStandardWorkQtyUnit4  	=NULLIF(cast(WorkCenterStandardWorkQtyUnit4 as nvarchar(3)),'') ,
WorkCenterStandardWorkQtyUnit5  	=NULLIF(cast(WorkCenterStandardWorkQtyUnit5 as nvarchar(3)),'') ,
WorkCenterStandardWorkQtyUnit6  	=NULLIF(cast(WorkCenterStandardWorkQtyUnit6 as nvarchar(3)),'') ,
WorkCenterStdQueueDurnUnit  		=NULLIF(cast(WorkCenterStdQueueDurnUnit as nvarchar(3)),'') ,
WorkCenterTypeCode  				=NULLIF(cast(w.WorkCenterTypeCode as nvarchar(2)),'') ,
WorkCenterUsage  					=NULLIF(cast(WorkCenterUsage as nvarchar(3)),'') ,
ScriptVersionDate 					= cast(getdate() as date)
FROM  SAPSTG.ZXCWORKCENTER w WITH (NOLOCK) 
LEFT OUTER JOIN SAPSTG.ZXCWORKCENTERTXT t WITH (NOLOCK) 
ON w.WORKCENTERINTERNALID=t.WORKCENTERINTERNALID
END
GO
