USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Dim_Customer_listPrice_test]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<SHINKIS>
-- Create date: <05/01/2022>
-- Description:	<UPSERT customer data in DIM.CUSTOMER>
--06/12/23   Bruce Cao added PriceList and customer Group
-- =============================================

create PROCEDURE [dbo].[usp_Upsert_Dim_Customer_listPrice_test]
AS
TRUNCATE TABLE DIM.CUSTOMER;

	WITH CustomerSAPTransformed as	
  (
	  SELECT DISTINCT CAST(c.CUSTOMER AS VARCHAR(80)) AS CustomerNo
		, CAST(cm.PreviousMasterRecordNumber AS VARCHAR(20)) AS BaanCustomerNumber
        ,CustomerName = CASE WHEN c.ORGANIZATIONBPNAME1 like '%ZOBSOLETE%'
        				THEN CAST (LTRIM(REPLACE(c.CustomerName,'ZOBSOLETE','')) AS VARCHAR(35))
        				ELSE CAST(c.ORGANIZATIONBPNAME1 AS VARCHAR(35))
                        END
        ,CustomerNoWithName=c.CUSTOMER + ' ' + CASE WHEN c.ORGANIZATIONBPNAME1 like '%ZOBSOLETE%'
        				THEN CAST (LTRIM(REPLACE(c.CustomerName,'ZOBSOLETE','')) AS VARCHAR(35))
        				ELSE CAST(c.ORGANIZATIONBPNAME1 AS VARCHAR(35))
                        END
		, CAST(c.ORGANIZATIONBPNAME2 AS VARCHAR(35)) AS AuxillaryName
		, CAST(a.StreetName AS VARCHAR(35)) AS [Address]
		, CAST(a.CityName AS VARCHAR(35)) AS City
		, CAST(a.Region AS VARCHAR(3)) AS [State]
		, CAST(c.PostalCode AS VARCHAR(10)) AS PostCode
		, CAST(AC.AdditionalCustomerGroup2 AS VARCHAR(3)) AS Area 
		, CAST(cc.PhoneNumber AS VARCHAR(30)) AS Telephone
		, CAST(cc.FaxNumber AS VARCHAR(30)) AS Fax
		, CAST(ic.CountryThreeLetterISOCode AS VARCHAR(3)) AS Country
		, CAST(csa.CustomerPriceGroup AS VARCHAR(2)) AS DiscountGroup
		, CAST(CASE WHEN csa.BillingIsBlockedForCustomer = 'X' THEN 5 ELSE 1 END AS INT) AS [Status]
		, CAST(CASE WHEN csa.BillingIsBlockedForCustomer = 'X' THEN 'Inactive' ELSE 'Active' END AS VARCHAR(10)) AS StatusDescription
		, CAST(CASE WHEN csa.BillingIsBlockedForCustomer = 'X' THEN 5 ELSE 1 END AS VARCHAR(10)) AS AccountStatus
		, CAST(csa.AccountByCustomer AS VARCHAR(12)) AS GLN
		, CAST(csa.CustomerPaymentTerms AS VARCHAR(4)) AS TermsOfPayment
		, CAST(cc.EmailAddress AS VARCHAR(250)) AS Email
		, CAST(csa.AccountByCustomer AS VARCHAR(12)) AS OurSupplierNo
		, am.AccountManager
		, am.AccountManagerName
		--, CAST(so.LastSalesDate as date) AS LastInvoiceDate
      	, CAST(csa.INCOTERMSCLASSIFICATION AS VARCHAR(3)) AS TermsOfDelivery
		, COALESCE(da.AddressID, a.AddressID) AS DefaultShippingAddress	
		, CAST(csp.VendorNo AS VARCHAR(10)) AS CarrierCode
		, COALESCE(CASE WHEN cpc.levelNo = 4 THEN c.Customer END, ch1.NationalCustomer_Code) AS NationalCustomerCode
		, COALESCE(CASE WHEN cpc.levelNo = 4 THEN c.OrganizationBPName1 END, ch1.NationalCustomer_Name) AS NationalCustomer
		, COALESCE(COALESCE(CASE WHEN cpc.levelNo = 3 THEN c.Customer END, ch1.ChannelCustomer_Code), ch1b.ChannelCustomer_Code) AS ChannelCustomerCode
		, COALESCE(COALESCE(CASE WHEN cpc.levelNo = 3 THEN c.OrganizationBPName1 END, ch1.ChannelCustomer_Name), ch1b.ChannelCustomer_Name) AS ChannelCustomer
		, COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 2 THEN c.Customer END, ch1.SubChannel_Code), ch1b.SubChannel_Code), ch1c.SubChannel_Code) AS SubChannelCode
		, COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 2 THEN c.OrganizationBPName1 END, ch1.SubChannel_Name), ch1b.SubChannel_Name), ch1c.SubChannel_Name) AS SubChannel
		, COALESCE(COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 1 THEN c.Customer END, ch1.Channel_Code), ch1b.Channel_Code), ch1c.Channel_Code), ch1d.Channel_Code) AS ChannelCode
		, COALESCE(COALESCE(COALESCE(COALESCE(CASE WHEN cpc.levelNo = 1 THEN c.OrganizationBPName1 END, ch1.Channel_Name), ch1b.Channel_Name), ch1c.Channel_Name), ch1d.Channel_Name) AS Channel
		, ac.AdditionalCustomerGroup2Name AS AreaName
        , case when csa.AreaCode IN ('01','02','03','04','05','06','07','08' ) THEN 'Domestic' ELSE 'Export' end as Division
        , case when csa.AreaCode IN ('01','02','03','04','05','06','07','08' ) THEN '1' ELSE '2' end as DivisionCode
        , coalesce(msr.LegacyRegionDescription,'Australia') AS Region
		, coalesce(msr.LegacyRegion,11) AS RegionCode
		, COALESCE(a.CityName, '') +', '+ COALESCE(a.Region, '') +', '+ COALESCE(c.COUNTRY, '') +', '+ COALESCE(a.PostalCode, '') AS SpatialAddress
		, CAST(a.PostalCode AS VARCHAR(10)) AS ShippingPostcode
		, CAST(a.Region AS VARCHAR(3)) AS ShippingState
		, CreationDate
		, CAST('' AS VARCHAR(30)) AS FreightAccountNo
        , plt.PriceListTypeName as PriceListDescription
        , UPPER(a.CityName) as ShippingCity
		, cpc.LevelNo
        , COALESCE(csa.SupplyingPlant,'3000') as SupplyingPlant
		, csa.PriceListType as PriceListTypeCode -- added 06/12/23
		, csa.CustomerPriceGroup as PriceGroupCode -- added 06/12/23
	FROM ODS.ZXC_CUSTOMER c WITH (NOLOCK)
	LEFT JOIN ODS.ZXC_CUSTSALESPARTNER c2 WITH (NOLOCK)
		ON c.Customer = c2.Customer
		AND c2.PartnerFunction = 'SP'
	LEFT JOIN (
		SELECT DISTINCT csp.Customer, c.Customer AS AccountManager, c.AddressID, c.CustomerName AS AccountManagerName
		, ROW_NUMBER() OVER (PARTITION BY csp.Customer ORDER BY c.CustomerName DESC) AS RowNum
        FROM ODS.ZXC_CUSTSALESPARTNER csp WITH (NOLOCK)
		INNER JOIN ODS.ZXC_CUSTOMER c
			ON csp.BPCustomerNumber = c.Customer
		WHERE csp.PartnerFunction = 'ZZ'
	) am
		ON c.Customer = am.Customer
        AND am.RowNum=1
    LEFT JOIN (
		SELECT csp.Customer, c.AddressID
        , ROW_NUMBER() OVER (PARTITION BY csp.Customer ORDER BY c.AddressID DESC) AS RowNum
		FROM ODS.ZXC_CUSTSALESPARTNER csp WITH (NOLOCK)
		INNER JOIN ODS.ZXC_CUSTOMER c
			ON csp.BPCustomerNumber = c.Customer
		WHERE csp.PartnerFunction = 'SH' AND DefaultPartner = 1
	) da
		ON c.Customer = da.Customer
        AND da.Rownum=1
	LEFT JOIN ODS.ZXC_ADDRESS a WITH (NOLOCK)
        ON c.AddressID = a.AddressID
		
	LEFT JOIN (
		SELECT AddressID, PhoneNumber, FaxNumber, EmailAddress
			, ROW_NUMBER() OVER (PARTITION BY AddressID ORDER BY BusinessPartnerPerson DESC) AS RowNum
		FROM ODS.ZXC_CUSTCONTACT WITH (NOLOCK)
	) cc
		ON a.AddressID = cc.AddressID
		AND cc.RowNum = 1
	LEFT JOIN ODS.ZXC_CUSTCOMPANY cm WITH (NOLOCK)
		ON c.Customer = cm.Customer
	LEFT JOIN ODS.ZXC_CUSTSALESAREA csa WITH (NOLOCK)
		ON c.Customer = csa.Customer
    LEFT JOIN ODS.MapSAPRegion msr WITH (NOLOCK)    
    	ON csa.SalesDistrict=msr.BZIRK
    LEFT JOIN ODS.ZXC_ADDCUSTGRP2NAME ac
		ON csa.AreaCode = ac.AdditionalCustomerGroup2
	LEFT JOIN ODS.I_Country ic	WITH (NOLOCK)
		ON ic.Country = c.Country
    LEFT JOIN ODS.ZXC_CUSTSALESPARTNER csp WITH (NOLOCK)
		ON c.Customer = csp.Customer
		AND csp.PartnerFunction = 'CR'
		AND csp.PartnerCounter = '000'
	-- LEFT JOIN (
	--	SELECT CustomerNo, MAX(WeekCommenceDate) AS LastSalesDate
	--	FROM Fact.ActualSales
	--	GROUP BY CustomerNo
	--) so  
	--	ON cm.Customer = so.CustomerNo
	LEFT JOIN [ODS].[Customer_Prep] cpc
		ON c.Customer = cpc.ChildCode
	LEFT JOIN ODS.CustomerH1_L4 ch1 WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1.NationalCustomer_Code 
	LEFT JOIN ODS.CustomerH1_L4 ch1b WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1b.ChannelCustomer_Code 
	LEFT JOIN ODS.CustomerH1_L4 ch1c WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1c.SubChannel_Code 
	LEFT JOIN ODS.CustomerH1_L4 ch1d WITH (NOLOCK)
		ON COALESCE(cpc.ParentCode, cpc.ChildCode) = ch1d.Channel_Code
    LEFT JOIN ODS.ZXC_PRICELSTTYPTXT plt on plt.PriceListType=csa.PriceListType
   WHERE C.CustomerAccountGroup IN ('0001','0012','CPD')  
  ) 
	MERGE INTO DIM.CUSTOMER_Listprice_test as Target
	USING CustomerSAPTransformed as S
	ON Target.CustomerNo = S.CustomerNo
		WHEN MATCHED THEN UPDATE 
			SET
   -- Now Prepare Output
		 TARGET.CustomerNo			= S.CustomerNo	
		,TARGET.BaanCustomerNumber	= S.BaanCustomerNumber
		,TARGET.CustomerName		= S.CustomerName	
		,TARGET.CustomerNoWithName	= S.CustomerNoWithName	
		,TARGET.AuxillaryName		= S.AuxillaryName		
		,TARGET.Address				= S.Address				
		,TARGET.AddressAux			= ''					
		,TARGET.City				= s.City			
		,TARGET.State				= s.State	
		,TARGET.PostCode			= s.PostCode	
		,TARGET.Area				= s.Area			
		,TARGET.ParentNo			= ''				
		,TARGET.Route				= cast(NULL as VARCHAR(3))
		,TARGET.Telephone			= s.Telephone		
		,TARGET.Fax					= s.Fax				
		,TARGET.LineOfBusiness		= ''				
		,TARGET.SalesRep			= ''				
		,TARGET.Country				= s.Country					
		,TARGET.StatisticCustomer	= ''					
		,TARGET.FinancialGroup		= ''					
		,TARGET.DiscountGroup		= s.DiscountGroup			
		,TARGET.Status				= s.Status					
		,TARGET.StatusDescription	= s.StatusDescription
		,TARGET.AccrualGroup		= ''
		,TARGET.PromotionGroup		= ''
		,TARGET.StatementMethod		= ''
		,TARGET.AccountStatus		= s.AccountStatus
		,TARGET.GLN					= s.GLN	
		,TARGET.CreditAnalyst		= ''
		,TARGET.TermsOfPayment		= s.TermsOfPayment	
		,TARGET.Email				= s.Email
		,TARGET.OurSupplierNo		= s.OurSupplierNo
		,TARGET.AccountManager		= s.AccountManager
		,TARGET.AccountManagerName	= s.AccountManagerName
		--,TARGET.LastInvoiceDate		= s.LastInvoiceDate
		,TARGET.CreditLimit			= Null
		,TARGET.TermsOfDelivery		= s.TermsOfDelivery
		,TARGET.DefaultShippingAddress	= s.DefaultShippingAddress
		,TARGET.Rating				= Null
		,TARGET.LoadPlanCode		= ''
		,TARGET.NationalCustomerCode= s.NationalCustomerCode
		,TARGET.CarrierCode			= s.CarrierCode			
		,TARGET.SalesTerritory		= ''			
		,TARGET.SalesOrderType		= ''			
		,TARGET.NationalCustomer	= s.NationalCustomer
		,TARGET.ChannelCustomerCode	= s.ChannelCustomerCode
		,TARGET.ChannelCustomer		= s.ChannelCustomer
		,TARGET.SubChannelCode		= s.SubChannelCode	
		,TARGET.SubChannel			= s.SubChannel		
		,TARGET.ChannelCode			= s.ChannelCode		
		,TARGET.Channel				= s.Channel			
		,TARGET.AreaName			= s.AreaName
		,TARGET.Division			= s.Division
		,TARGET.DivisionCode		= s.DivisionCode
		,TARGET.Region				= s.Region		
		,TARGET.RegionCode			= s.RegionCode
		,TARGET.SpatialAddress		= s.SpatialAddress
		,TARGET.ShippingPostcode	= s.ShippingPostcode
		,TARGET.ShippingState		= s.ShippingState
		,TARGET.CreationDate		= s.CreationDate
		,TARGET.DataSource			= 'SAP'
		,TARGET.BusinessPartnerRole	= ''
		,TARGET.FreightAccountNo	= s.FreightAccountNo
	    ,TARGET.PriceListDescription= s.PriceListDescription
	    ,TARGET.ShippingCity		= s.ShippingCity
		,TARGET.LevelNo				= s.LevelNo
        ,TARGET.SupplyingPlant		= s.SupplyingPlant
		,TARGET.PriceListTypeCode   = s.PriceListTypeCode -- added 06/12/23
		,TARGET.PriceGroupCode   = s.PriceGroupCode -- added 06/12/23

	WHEN NOT MATCHED
	THEN INSERT
		(ProcessExecutionID
		,LoadDateTime
		 ,CustomerNo
		,BaanCustomerNumber
		,CustomerName		
		,CustomerNoWithName	
		,AuxillaryName		
		,Address			
		,AddressAux			
		,City				
		,State				
		,PostCode			
		,Area				
		,ParentNo			
		,Route				
		,Telephone			
		,Fax				
		,LineOfBusiness		
		,SalesRep			
		,Country			
		,StatisticCustomer	
		,FinancialGroup		
		,DiscountGroup		
		,Status				
		,StatusDescription	
		,AccrualGroup		
		,PromotionGroup		
		,StatementMethod	
		,AccountStatus		
		,GLN				
		,CreditAnalyst		
		,TermsOfPayment		
		,Email				
		,OurSupplierNo		
		,AccountManager		
		,AccountManagerName	
		--,LastInvoiceDate	
		,CreditLimit		
		,TermsOfDelivery	
		,DefaultShippingAddress
		,Rating				
		,LoadPlanCode		
		,NationalCustomerCode
		,CarrierCode		
		,SalesTerritory		
		,SalesOrderType		
		,NationalCustomer	
		,ChannelCustomerCode
		,ChannelCustomer	
		,SubChannelCode		
		,SubChannel			
		,ChannelCode		
		,Channel			
		,AreaName			
		,Division			
		,DivisionCode		
		,Region				
		,RegionCode			
		,SpatialAddress		
		,ShippingPostcode	
		,ShippingState		
		,CreationDate		
		,DataSource			
		,BusinessPartnerRole
		,FreightAccountNo	
	    ,PriceListDescription
	    ,ShippingCity		
		,LevelNo			
        ,SupplyingPlant
		,Source
		,PriceListTypeCode
		,PriceGroupCode)
		
		VALUES
		(2486568
		,Getdate()
			,S.CustomerNo
			,S.BaanCustomerNumber
		,S.CustomerName				
		,S.CustomerNoWithName	
		,S.AuxillaryName	
		,S.Address			
		,''					
		,s.City				
		,s.State			
		,s.PostCode					
		,s.Area						
		,''					
		,cast(NULL as VARCHAR(3))
		,s.Telephone			
		,s.Fax					
		,''						
		,''						
		,s.Country		
		,''							
		,''	
		,s.DiscountGroup
		,s.Status				
		,s.StatusDescription
		,''				
		,''				
		,''				
		,s.AccountStatus
		,s.GLN	
		,''	
		,s.TermsOfPayment	
		,s.Email	
		,s.OurSupplierNo
		,s.AccountManager	
		,s.AccountManagerName
		--,s.LastInvoiceDate
		,Null				
		,s.TermsOfDelivery	
		,s.DefaultShippingAddress
		,Null		
		,''		
		,s.NationalCustomerCode	
		,s.CarrierCode	
		,''						
		,''							
		,s.NationalCustomer	
		,s.ChannelCustomerCode			
		,s.ChannelCustomer			
		,s.SubChannelCode			
		,s.SubChannel				
		,s.ChannelCode			
		,s.Channel				
		,s.AreaName				
		,s.Division				
		,s.DivisionCode			
		,s.Region				
		,s.RegionCode					
		,s.SpatialAddress			 
		,s.ShippingPostcode			
		,s.ShippingState				
		,s.CreationDate		
		,'SAP'	
		,''							
		,s.FreightAccountNo			
	    ,s.PriceListDescription		
	    ,s.ShippingCity				
		,s.LevelNo					
        ,s.SupplyingPlant
		,'SAP'
		,s.PriceListTypeCode
		,s.PriceGroupCode);
GO
