USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_ODS_SDP_requests_TASKS]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE      procedure [dbo].[usp_insert_ODS_SDP_requests_TASKS]
as
BEGIN
	DECLARE @json VARCHAR(MAX);
    DECLARE @json_1 VARCHAR(MAX);
	DECLARE @json_2 VARCHAR(MAX);
	
	DECLARE cursor_requests CURSOR FOR
	select Json_Values 
	from stg.[SDP_JSON]
	where type='requests_tasks'
	and Json_Values not like '%"row_count":0%';

    OPEN cursor_requests;
    FETCH NEXT FROM cursor_requests INTO @json;

    WHILE @@FETCH_STATUS = 0
    BEGIN


select @json_1= value 
from openjson(@json)
where [KEY] = 'tasks'

INSERT INTO [ODS].[SDP_requests_tasks]([task_id],[request_id],[title],[created_date],[module],[scheduled_start_time],
[scheduled_end_time],[actual_start_time],[actual_end_time],[status_id],[status_name],[group_name],[group_id],[owner_Email],
[owner_Name],[owner_id],[CreatedBy_Email],[CreatedBy_Name],[CreatedBy_id],[Priority_name],[percentage_completion],
[Estimated_effort_days],[task_type_name],[Task_order],[overdue],[ticket_id],[subject],[description],[site_id],[site_name])

Select * from openjson(@json_1)
with(
task_id nvarchar(50) '$.id',
request_id nvarchar(50) '$.request.id',
title nvarchar(50) '$.title',
created_date datetime '$.created_date.display_value',
module nvarchar(50) '$.module',
scheduled_start_time datetime '$.scheduled_start_time.display_value',
scheduled_end_time datetime '$.scheduled_end_time.display_value',
actual_start_time datetime '$.actual_start_time.display_value',
actual_end_time datetime '$.actual_end_time.display_value',
status_id nvarchar(50) '$.status.id',
status_name nvarchar(50) '$.status.name',
group_name nvarchar(50) '$.group.name',
group_id nvarchar(50) '$.group.id',
owner_Email  nvarchar(100) '$.owner.email_id',
owner_Name  nvarchar(100) '$.owner.name',
owner_id  nvarchar(100) '$.owner.id',
created_by_Email  nvarchar(100) '$.created_by.email_id',
created_by_Name  nvarchar(100) '$.created_by.name',
created_by_id  nvarchar(100) '$.created_by.id',	
Priority_name nvarchar(10) '$.Priority.name',	
percentage_completion nvarchar(50) '$.percentage_completion',
Estimated_effort_days int '$.Estimated_effort_days',
task_type_name nvarchar(50) '$.task_type.name',
Task_order int '$.index',
overdue nvarchar(50) '$.overdue',
ticket_id nvarchar(50) '$.request.display_id',
subject nvarchar(50) '$.request.subject',
description nvarchar(max) '$.description',
site_id nvarchar(50) '$.site.id',
site_name nvarchar(50) '$.site.name'
)

        FETCH NEXT FROM cursor_requests INTO @json;
    END

    -- Close cursor
    CLOSE cursor_requests;
    DEALLOCATE cursor_requests;

end;
GO
