USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ITEM]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-- ==========================================================================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS ITEM]>
Version		Date			Consultant			Comments
1.0							Rahul Bhat			Initial Draft
1.1			13/06/2022		Kishor Shinde		Added column for RetailUnitFactorinKG
1.2			05/07/2022		Kishor Shinde		Added Coalesce function to get GrossWeight first as [Weight]
-- ==========================================================================================*/
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ITEM]
AS
SET NOCOUNT ON;

TRUNCATE TABLE ODS.ITEM;
 
 WITH 
   
    ItemWeight
AS
(
SELECT m.material,m.MaterialBaseUnit,
	CAST(m.MaterialGrossWeight AS DECIMAL(18,3)) as ItemGrossWeight,
	coalesce(round(1/ikg.conversionfactor,4),0) as CalculatedWeight,
	coalesce(CAST(m.MaterialGrossWeight AS DECIMAL(18,3)), CAST(m.MaterialGrossWeight AS DECIMAL(18,3)) +coalesce(round(1/ikg.conversionfactor,4),0)) as [Weight]  --05/07 added Coalesce to get GrossWeight first
	--CAST(m.MaterialGrossWeight AS DECIMAL(18,3)) +coalesce(round(1/ikg.conversionfactor,4),0) as [Weight]
FROM SAPSTG.ZXC_MATERIAL m
 LEFT JOIN (
	SELECT * , ROW_NUMBER() OVER (PARTITION BY RecipeNo ORDER BY RecipeNo DESC) AS RowNumber
	FROM ODS.OUM WITH (NOLOCK)
	WHERE RTRIM(LTRIM(ConversionUnit)) = 'KG'
	) ikg
   ON iKg.recipeNo=m.Material
   WHERE RowNumber=1
   ) 
   ,
    SupplierMaterialPlant
AS
(
select [Material],[Plant],[Supplier]
FROM 
(
select [Material],[Plant],[Supplier],
ROW_NUMBER() OVER (PARTITION BY [Material],[Plant] ORDER BY [Supplier] ASC) as rn
FROM
(
SELECT DISTINCT  [Material],[Plant],[Supplier]				  
	FROM SAPSTG.[ZXC_MPURSITEM]
	WHERE [SourceListRecordCategory] = '0' 
	 AND ValidityStartDate <= GetDate() AND ValidityEndDate > GetDate()
	 AND SupplierIsFixed = '1'
UNION 
				--Then, using Stg.MaterialPlant as the basis, find the MIN(Supplier) for each item where a single supplier is not defined-- 
SELECT	  p.Material, p.Plant, MIN(p.Supplier) AS Supplier
	FROM      SAPSTG.ZXC_MPURSITEM p 
	INNER JOIN ODS.MaterialPlant m 
    	ON p.Material = m.Material AND p.Plant = m.Plant
	WHERE     (p.SourceListRecordCategory = '0') 
	  AND (p.ValidityStartDate <= GETDATE()) AND (p.ValidityEndDate > GETDATE()) 
	  AND (p.SupplierIsFixed = '0')
	GROUP BY p.Material, p.Plant
 ) Z1 
 ) Z2
 where Z2.rn=1
)
,    
    PurchasingInfo AS
 (
 SELECT x.PurchasingInfoRecord,x.PurchasingGroup,x.PurchaseOrderPriceUnit 
 FROM (
     	SELECT p.PurchasingInfoRecord,p.PurchasingGroup,p.PurchaseOrderPriceUnit,
 		ROW_NUMBER() OVER (PARTITION BY p.PurchasingInfoRecord ORDER BY p.PurchasingGroup DESC) as rn
 		FROM  SAPSTG.ZXC_PRGINFOPLTD p
 		) x
 WHERE x.rn=1
 )
 , 
    
    CostVersion AS (
     	SELECT '0'+ cast(d.FiscalYear-2000 as char(2))
		as CostCode from Dim.CalendarDate d 
        where d.CalendarDate=cast(getdate() as date)
     )
    

    , ItemAttribute AS (
    	SELECT 
        a.ItemNo,
        a.ForecastFlag,
        a.ExcludeFromMixLitres,
        a.NPDYear
         from  ODS.Itemattribute a
    )
    
	, ItemSAPTransformed AS (
		SELECT DISTINCT 
          ItemNo					= mb.Material 
		, ItemDescription			= mb.MaterialName  
	 	, ItemNoWithDescription		= mb.Material + ' ' + mb.MaterialName 
		, SignalCode  				= mb.Status      
		, SignalDescription			= pst.MaterialUsabilityProfileName   
	
    	,[Weight]					= COALESCE (iw.[Weight],CAST(m.MaterialGrossWeight AS DECIMAL(18,3))) 
		, ItemGroup					= mb.MaterialGroup  
		, ItemGroupName				= mb.MaterialGroupName 
		, ItemType					= mb.MaterialType   
        , ItemTypeName				= mb.MaterialTypeName  
		, SelectionCode				= COALESCE(SUBSTRING(mph.ProductHierarchy,16,3),'999')
        , ProductTaxCode			= tx.ProductTaxClassification1  
		, TaxcodeDescription		= CASE 	WHEN tx.ProductTaxClassification1 = 0 
        									THEN 'Not Taxable' 
                                            ELSE 'GST Applies' 
                                            END  
		, InventoryUnit				= mb.BaseUnit 
		, SalesUnit					= COALESCE(sd.SalesUnit, mb.BaseUnit) 
        , StandardCost				= scs.StandardCost
		, MaterialCosts				= COALESCE(scm.MaterialCost, 0) 
		, OperationalCosts			= scs.StandardCost - COALESCE(scm.MaterialCost, 0) 
		, Apn						= uomBSE.InternationalArticleNumber   
		, Tun						= uomCS.InternationalArticleNumber  
		, ProductSegment  			= CASE 	WHEN mb.MaterialType IN ('HALB') 
            								THEN 'BLK' 
                							ELSE  
             									CASE ph1.ProCategory_Code
												WHEN '1' THEN 'CHL' 
												WHEN  '2' THEN 'FRZ' 
												WHEN  '3' THEN 'ING' 
												ELSE 'OTH'
			  									END 
               								 END
         , IsFinishedGood			= CASE 	WHEN mb.MaterialType IN ('FERT', 'HAWA') 
         									THEN 'Y' 
                                            ELSE 'N' 
                                            END 
		, ProductClass				= CASE 	WHEN mb.MaterialType IN ('HALB') 
            								THEN 'Bulk' 
                							ELSE  
             									CASE ph1.ProCategory_Code
												WHEN  '1' THEN 'Chilled' 
												WHEN  '2' THEN 'Frozen' 
												WHEN  '3' THEN 'Ingredients' 
												ELSE 'Other'
			  									END 
                							END
 
		, MakeOrBuy					= CASE 	WHEN pfr.Routing IS NULL
        									THEN 'Buy' 
                                            ELSE 'Make' END 
		, PeriodForShelfLife		= 'Days' 
		, ProductShelfLife			= CAST(mb.TotalShelfLife AS INT) 
		, ShelfLifeDays				= CAST(mb.TotalShelfLife AS INT)  
		
		, Currency					= 'AUD' 
		, OrderQtyMultiples			= CAST(nmc.OrderQtyMultiples AS INT) 
		, MinimumOrderQty			= CAST(nmc.MinimumOrderQty AS INT) 
		, MaxOrderQty				= CAST(nmc.MaxOrderQty AS INT) 
		, FixedOrderQty				= CAST(nmc.FixedOrderQty AS INT)  
		, ReorderPoint				= CAST(nmc.ReorderPoint AS INT) 
		, OrderInterval				= CASE WHEN  mpl.PeriodIndicator='M' THEN 30 ELSE 0 END  
		, OrderLeadtime				= CAST(mmc.OrderLeadtime AS INT) 
		, OrderLeadtimeDays			= CAST(mmc.OrderLeadtimeDays AS INT) 
		, OrderLeadtimeWeeks		= CAST(mmc.OrderLeadtimeWeeks AS INT) 
		, SafetyTime				= CAST(mmc.SafetyTime AS INT) 
		, Warehouse  				= CONCAT(nmc.Plant,'-','9999')           
		, SafetyStock				= CAST(nmc.SafetyStock AS INT) 
		, MaximumInventory			= CAST(nmc.MaximumInventory AS INT)
        , BuyerNo					=prl.PurchasingGroup                                    
        , BuyerName					='Buyer '+  prl.PurchasingGroup                                 	
		, PriceUnit					= CASE WHEN mp.Supplier IS NOT NULL THEN prl.PurchaseOrderPriceUnit END 
		, PurchaseUnit				= CASE WHEN mp.Supplier IS NOT NULL THEN pur.PurgDocOrderQuantityUnit END 
		, PlanningWarehouse			= CONCAT(nmc.Plant,'-','9999') 
		, PurchaseWarehouse			= CONCAT(nmc.Plant,'-','9999') 
		, OrderWarehouse			= CONCAT(nmc.Plant,'-','9999') 		
		, SalesWarehouse			= CONCAT(nmc.Plant,'-','9999') 
		, InventoryHolding			= CAST(nmc.SafetyTime AS INT) 
		, MasterPlannerNo			= mpl.MRPController
		, PlannerName				= mpc.MRPControllerName
		
        , RetailUnitFactor			= CAST(COALESCE(1/ice.ConversionFactor,1) AS INT)   
		
        , PalletFactor 				= CAST(COALESCE(icp.ConversionFactor,1) AS INT) 	
        , PreferredRouting			= pfr.Routing
	
		, PreferredWorkCentre		= r.WorkCentreCode 
       
		, ConsumptionUnitsInCase	= CAST(1/icc.ConversionFactor AS INT) 				
		, ConsumptionUnit			= icc.ConversionUnit 		
		, IsIntermediate			= CASE 	WHEN mb.MaterialType = 'HALB' THEN 'Y' ELSE 'N' END 
		, IsMix						= CASE 	WHEN mb.MaterialType = 'HALB' 
            								THEN 
            									CASE WHEN ia.ExcludeFromMixLitres in('X','Y')
                            					THEN 'N' 
                            					ELSE 'Y' 
                            					END
                    						ELSE 'N'
                   	 						END  
		, IsRecipeIngredient		= CASE WHEN bm.BillOfMaterialComponent IS NOT NULL THEN 'Y' ELSE 'N' END 
    
    	, ForecastFlag				= CASE WHEN ia.ForecastFlag in('X','Y')
                            				THEN 'Y' 
                            				ELSE ' ' 
                            				END
        , ExcludeFromMixLitres		= 
        								CASE WHEN ia.ExcludeFromMixLitres in('X','Y')
                            				THEN 'Y' 
                            				ELSE ' ' 
                            				END
		, IngredientPriceAUD		= NULL 
									 
	 	, InventoryToPurchaseFactor	= 1 / purti.ConversionFactor 
		, InventoryToStorageFactor	= 1 
									
		, InventoryToPriceFactor	= 1 / purti.ConversionFactor 
    
		, PalletLayerFactor			= CAST(COALESCE(icl.ConversionFactor,1) AS INT) 	
		, CommodityGroup			= sd.CommodityGroup  
		, CommodityGroupCode		= amg.AdditionalMaterialGroup5Name 
		, InventoryPolicyDays		= CAST(mmc.SafetyTime AS INT) + CAST(mmc.GRProcessingTime AS INT)
        , Plant  					= CONVERT(NVARCHAR(10),nmc.Plant)                           
        , PlantName 				= pl.PlantName  
		,RetailUnitFactorinKG =  COALESCE(1/ickg.ConversionFactor,0) 				--Added for KG
		FROM SAPSTG.ZXC_MATBASICDATA mb WITH (NOLOCK)
		LEFT JOIN SAPSTG.ZXC_BILLMATITEM bm WITH (NOLOCK)
			ON rtrim(ltrim(mb.Material)) = rtrim(ltrim(bm.BillOfMaterialComponent))
		LEFT JOIN SAPSTG.ZXC_MATERIAL m WITH (NOLOCK)
			ON mb.Material = m.Material
        LEFT JOIN ODS.PreferredRouting pfr WITH (NOLOCK)
			ON mb.Material = pfr.RecipeNo
		
        LEFT JOIN SAPSTG.ZXC_MATPRODHIERARCHY mph WITH (NOLOCK)
        	ON mb.Material=mph.Material
        LEFT JOIN ODS.vwProductH1_L4 ph1 WITH (NOLOCK)
	        ON ph1.ProPromotionGroup_Code = COALESCE(SUBSTRING(mph.ProductHierarchy,16,3),'999')
		LEFT JOIN ODS.MaterialPlant mmc WITH (NOLOCK)
			ON mb.Material = mmc.Material
		LEFT JOIN ODS.ItemPlant nmc WITH (NOLOCK)
			ON mb.Material = nmc.Material
		
        LEFT JOIN SAPSTG.ZXC_PLANT pl  WITH (NOLOCK)
    		ON pl.Plant=CAST(nmc.Plant as nvarchar(4))  
	    LEFT JOIN SAPSTG.ZXC_PRODSTATTEXT pst WITH (NOLOCK)
		    ON pst.Status = mb.Status  
		LEFT JOIN (
			SELECT *
				, ROW_NUMBER() OVER (PARTITION BY RecipeNo ORDER BY RecipeNo DESC) AS RowNumber
			FROM ODS.OUM WITH (NOLOCK)
			WHERE RTRIM(LTRIM(ConversionUnit)) = 'CU'
		) icc 
			ON mb.Material = icc.RecipeNo
			AND icc.RowNumber = 1
		LEFT JOIN (
			SELECT *
				, ROW_NUMBER() OVER (PARTITION BY RecipeNo ORDER BY RecipeNo DESC) AS RowNumber
			FROM ODS.OUM WITH (NOLOCK)
			WHERE RTRIM(LTRIM(ConversionUnit)) = 'BSE' 
		) ice
			ON mb.Material = ice.RecipeNo
			AND ice.RowNumber = 1
		LEFT JOIN (
			SELECT *
				, ROW_NUMBER() OVER (PARTITION BY RecipeNo ORDER BY RecipeNo DESC) AS RowNumber
			FROM ODS.OUM WITH (NOLOCK)
			WHERE RTRIM(LTRIM(ConversionUnit)) = 'PAL'
		) icp 
			ON mb.Material = icp.RecipeNo
			AND icp.RowNumber = 1
													---------Added for KG
		LEFT JOIN (
			SELECT *
				, ROW_NUMBER() OVER (PARTITION BY RecipeNo ORDER BY RecipeNo DESC) AS RowNumber
			FROM ODS.OUM WITH (NOLOCK)
			WHERE RTRIM(LTRIM(ConversionUnit)) = 'KG'
		) ickg
			ON mb.Material = ickg.RecipeNo
			AND ickg.RowNumber = 1
													---------Added for KG
       	LEFT JOIN (
			SELECT *
				, ROW_NUMBER() OVER (PARTITION BY RecipeNo ORDER BY RecipeNo DESC) AS RowNumber
			FROM ODS.OUM WITH (NOLOCK)
			WHERE RTRIM(LTRIM(ConversionUnit)) = 'LAY'
		) icl
			ON mb.Material = icl.RecipeNo
			AND icl.RowNumber = 1
		LEFT JOIN SAPSTG.ZXC_MATTAXCLASS tx WITH (NOLOCK)
			ON mb.Material = tx.Material
			AND tx.ActiveDepartureCountry = 'AU'
		LEFT JOIN SAPSTG.ZXC_MATSALESDATA sd WITH (NOLOCK)
			ON mb.Material = sd.Material
		LEFT JOIN SAPSTG.ZXC_MATAUOM uomBSE WITH (NOLOCK)
			ON mb.Material = uomBSE.Material 
			AND uomBSE.AlternativeUnitForEdit = 'BSE' 
		LEFT JOIN SAPSTG.ZXC_MATAUOM uomCS WITH (NOLOCK)
			ON mb.Material = uomCS.Material 
			AND uomCS.AlternativeUnitForEdit = 'CS' 

		LEFT JOIN (
            SELECT DISTINCT k1.Material ,k1.PurchasingInfoRecord,k1.PurgDocOrderQuantityUnit
			FROM (
				SELECT v.Material ,v.PurchasingInfoRecord,v.PurgDocOrderQuantityUnit
					, ROW_NUMBER() OVER (PARTITION BY v.Material ORDER BY v.CreationDate DESC) AS RowNum
				FROM SAPSTG.ZXC_PURINFOCRD v WITH (NOLOCK)
				
			) k1
			WHERE RowNum = 1
    		) pur
			ON mb.Material = pur.Material
		LEFT JOIN (

		Select smp.Material,smp.Plant,smp.Supplier from  SupplierMaterialPlant smp WITH (NOLOCK)
	
		) mp
			ON mp.Material = mb.Material
			AND mp.Plant = nmc.Plant
		LEFT JOIN ODS.Supplier s WITH (NOLOCK)
			ON mp.Supplier = s.SupplierNo
		LEFT JOIN ODS.OUM purti WITH (NOLOCK)
			ON mb.BaseUnit = purti.BaseUnit 
			AND CASE WHEN mp.Supplier IS NOT NULL THEN pur.PurgDocOrderQuantityUnit END = purti.ConversionUnit
			AND (purti.RecipeNo = mb.Material OR purti.RecipeNo = '')
		
        LEFT JOIN PurchasingInfo prl WITH (NOLOCK)
    		ON prl.PurchasingInfoRecord = pur.PurchasingInfoRecord
		
		LEFT JOIN SAPSTG.ZXC_ADDMATGRP5TXT amg WITH (NOLOCK)
			ON amg.AdditionalMaterialGroup5 = mb.MaterialGroup  
		LEFT JOIN SAPSTG.ZXC_MATPLANT mpl WITH (NOLOCK)
			ON mpl.Material = mb.Material
			AND mpl.Plant = nmc.Plant
		LEFT JOIN SAPSTG.ZXC_MRPCONTROLLER mpc WITH (NOLOCK)
			ON mpc.MRPController = mpl.MRPController
			AND mpc.Plant = mpl.Plant

		LEFT JOIN ItemAttribute ia on ia.ItemNo=mb.Material
		LEFT JOIN (
			
            SELECT ItemNo, SUM(Amount) AS MaterialCost
            FROM ODS.StandardCost x WITH (NOLOCK)
            INNER JOIN CostVersion cv ON cv.CostCode=x.CostCode
            WHERE x.CostTypeName = 'Material'
			GROUP BY ItemNo
		) scm
			ON mb.Material = scm.ItemNo
		LEFT JOIN (
			SELECT DISTINCT ItemNo, Amount AS StandardCost
			FROM (
				SELECT z.ItemNo, z.CostCode, sum(z.Amount) AS Amount
					, ROW_NUMBER() OVER (PARTITION BY ItemNo ORDER BY  z.CostCode DESC) AS RowNum
				from  ODS.StandardCost z WITH (NOLOCK)
				INNER JOIN CostVersion cv ON cv.CostCode=z.CostCode
                GROUP BY z.ItemNo, z.CostCode
			) k
			WHERE RowNum = 1
		) scs 
			ON mb.Material = scs.ItemNo
		LEFT JOIN ODS.Routing r WITH (NOLOCK)
			ON CONVERT(VARCHAR(20),mb.Material) = CONVERT(VARCHAR(20),r.RecipeNumber)
			AND CONVERT(VARCHAR(20),nmc.Plant) = SUBSTRING(SUBSTRING(r.RoutingCode,CHARINDEX('-', r.RoutingCode) + 1,LEN(r.RoutingCode) - CHARINDEX('-', r.RoutingCode) - CHARINDEX('-', REVERSE(r.RoutingCode)) ) , 1, 4)
			AND r.PreferredRouting = 'Y'

        LEFT JOIN ODS.Supplier ys WITH (NOLOCK)
        	ON 'IBP'+CONVERT(NVARCHAR(10),nmc.Plant)=ys.SupplierNo 

		LEFT JOIN ItemWeight iw WITH (NOLOCK)
        	ON iw.Material=m.Material

  )

 insert into ODS.Item
    SELECT
		ItemNo								= s.ItemNo							
		,ErplnItemNo						= ''								
		,ItemDescription					= s.ItemDescription					
 		,ItemNoWithDescription				= s.ItemNoWithDescription			
		,SignalCode							= s.SignalCode						
		,SignalDescription					= s.SignalDescription				
		,Weight								= s.Weight							
		,ItemGroup							= s.ItemGroup						
		,ItemGroupName						= s.ItemGroupName				
		,ItemGroupType						= ''								
		,ItemType							= s.ItemType						
		,ItemTypeName						= s.ItemTypeName					
        ,SelectionCode						= s.SelectionCode					
		,ProductTaxcode						= s.ProductTaxcode					
		,TaxcodeDescription					= s.TaxcodeDescription				
		,InventoryUnit						= s.InventoryUnit					
		,StorageUnit						= ''								
		,SalesUnit							= s.SalesUnit						
		,SalesPriceUnit						= ''								
		,SalesPriceGroup					= ''								
		,StatisticsGroup					= ''								
		,StandardCost						= s.StandardCost					
		,MaterialCosts						= s.MaterialCosts					
		,OperationalCosts					= s.OperationalCosts				
		,Apn								= s.Apn								
		,Tun								= s.Tun								
		,ProductSegment						= s.ProductSegment					
		,IsFinishedGood						= s.IsFinishedGood					
		,ProductClass						= s.ProductClass					
		,MakeOrBuy							= s.MakeOrBuy						
		,PeriodForShelfLife					= 'Days'							
		,ProductShelfLife					= s.ProductShelfLife				
		,ShelfLifeDays						= s.ShelfLifeDays									
		,Currency							= 'AUD'								
		,AveragePriceAUD					= Null								
		,HomeCurrency						= ''								
																				
		,OrderQtyMultiples					= s.OrderQtyMultiples				
		,NoBatchesDay						= Null								
		,MinimumOrderQty					= s.MinimumOrderQty					
		,MaxOrderQty						= s.MaxOrderQty						
		,FixedOrderQty						= s.FixedOrderQty					
		,EconomicOrderQty					= Null								
		,ReorderPoint						= s.ReorderPoint					
		,OrderInterval						= s.OrderInterval					
		,OrderLeadtime						= s.OrderLeadtime					
		,OrderLeadtimeDays					= s.OrderLeadtimeDays				
		,OrderLeadtimeWeeks					= s.OrderLeadtimeWeeks				
		,SafetyTime							= s.SafetyTime						
		,Warehouse							= s.Warehouse						
		,SafetyStock						= s.SafetyStock						
		,MaximumInventory					= s.MaximumInventory				
		,ApMaximumStock						= Null								
				
		,BuyerNo							= s.BuyerNo								
		,BuyerName							= s.BuyerName								
		,PlannerNo							= ''								
		,SubPlannerName						= ''								
		,Standard							= ''								

		
		,PriceUnit							= s.PriceUnit						
		,LastTransactionDate				= Null								
		,PurchaseUnit						= s.PurchaseUnit					
		,PlanningWarehouse					= s.PlanningWarehouse				
		,PurchaseWarehouse					= s.PurchaseWarehouse				
		,OrderWarehouse						= s.OrderWarehouse					
		,SalesWarehouse						= s.SalesWarehouse					
		,InUseErpln							= ''								
		,InventoryHolding					= s.InventoryHolding				
		,InventoryFlag						= Null								
		,OrderHorizon						= Null								
		,PlanningHorizon					= Null								
		,TimeFence							= Null								
		,TimeFenceUnit						= ''								
		,MaintenanceMP						= Null								
		,ExtraLeadtime						= Null								
		,UnitExtraLeadtime					= ''								
		,FixedLeadtime						= Null								
		,AutoUpProduction					= Null								
		,AutoUpPurchasing					= Null								
		,AutoUpInventoryPlan				= Null								
		,AutoUpDemand						= Null								
		,MasterPlannerNo					= s.MasterPlannerNo					
		,PlannerName						= s.PlannerName						
		,MaintainMasterPlan					= Null								
		,RoutingGroup						= ''								
		,CommodityCode						= ''								
		,RetailUnitFactor					= s.RetailUnitFactor				
		,PalletFactor						= s.PalletFactor					
		,PreferredRouting					= s.PreferredRouting				
				
		,PreferredWorkCentre				= s.PreferredWorkCentre				
		
		,ProductionType						= ''								
							
		,UnitGrossMargin					= Null								
		,UnitGrossMarginUnit				= ''								
		,ConsumptionUnitsInCase				= s.ConsumptionUnitsInCase			
		,ConsumptionUnit					= s.ConsumptionUnit					
		,MinimumFixed						= Null								
		,MaximumFixed						= Null								
		,MaximumDays						= Null								
		,ApMinimumDays						= Null								
		,AdjustedMaximumDays				= Null								
		,AdjustedMinimumDays				= Null								
		,TargetDays							= Null								
		,IsMix								= s.IsMix							
		,IsIntermediate						= s.IsIntermediate					
		,IsRecipeIngredient					= s.IsRecipeIngredient				
		,PlanningMLOR						= Null								
		,QualityHoldHours					= Null								
		,WarehouseHoldDays					= Null								
		,PlanningPriority					= ''								
		,TransportationHoldDays				= Null								
		,MadeToOrder						= Null								
		,ForecastFlag						= s.ForecastFlag					
		,ExcludeFromMixLitres				= s.ExcludeFromMixLitres			
		,IngredientPriceAUD					= Null								
		,InventoryToPurchaseFactor			= s.InventoryToPurchaseFactor		
		,InventoryToStorageFactor			= '1'								
		,InventoryToPriceFactor				= s.InventoryToPriceFactor			
		,CostComponentCode					= cast(Null as varchar(3))			
		,CommodityGroupCode					= s.CommodityGroupCode				
		,CommodityGroup						= s.CommodityGroup					
		,ManufactureType					= ''								
		,LastMaintainedDate					= CONVERT(DATETIME2,Null)			
		,SearchKey							= ''								
		,PlanningMLORUnit					= ''								
		,ForecastHorizon					= NULL								
		,FallbackHorizon					= NULL								
		,InventoryPolicyDays				= s.InventoryPolicyDays				
	  	,PalletLayerFactor					= s.PalletLayerFactor				
	    ,Plant								= s.Plant							
	  	,PlantName							= S.PlantName	
		,RetailUnitFactorinKG				= S.RetailUnitFactorinKG				--Added for KG
		
FROM 
  ItemSAPTransformed s
  
 


GO
