USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_SUPPLIERCOMP]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_BPTAXNMBR>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_SUPPLIERCOMP]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_SUPPLIERCOMP]  

insert into [SAPSTG].[ZXC_SUPPLIERCOMP]   
 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AccountingClerk  =NULLIF(cast(AccountingClerk as nvarchar(2)),'') ,
AccountingClerkFaxNumber  =NULLIF(cast(AccountingClerkFaxNumber as nvarchar(31)),'') ,
AccountingClerkPhoneNumber  =NULLIF(cast(AccountingClerkPhoneNumber as nvarchar(30)),'') ,
AlternativePayee  =NULLIF(cast(AlternativePayee as nvarchar(10)),'') ,
APARToleranceGroup  =NULLIF(cast(APARToleranceGroup as nvarchar(4)),'') ,
AuthorizationGroup  =NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
BillOfExchLmtAmtInCoCodeCrcy  =cast(BillOfExchLmtAmtInCoCodeCrcy as decimal(38,6)) ,
CashPlanningGroup  =NULLIF(cast(CashPlanningGroup as nvarchar(10)),'') ,
CheckPaidDurationInDays  =cast(CheckPaidDurationInDays as decimal(38,6)) ,
ClearCustomerSupplier  =case ClearCustomerSupplier when 'X' then cast(1 as bit) else cast(0 as bit) end ,
CompanyCode  =NULLIF(cast(CompanyCode as nvarchar(4)),'') ,
CompanyCodeName  =NULLIF(cast(CompanyCodeName as nvarchar(25)),'') ,
DeletionIndicator  =case DeletionIndicator when 'X' then cast(1 as bit) else cast(0 as bit) end ,
HouseBank  =NULLIF(cast(HouseBank as nvarchar(5)),'') ,
InterestCalculationCode  =NULLIF(cast(InterestCalculationCode as nvarchar(2)),'') ,
InterestCalculationDate  =CASE WHEN ISDATE(InterestCalculationDate) = 1 
                        		then CONVERT(datetime,InterestCalculationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),InterestCalculationDate) 
                         		else null 	end ,
IntrstCalcFrequencyInMonths  =NULLIF(cast(IntrstCalcFrequencyInMonths as nvarchar(2)),'') ,
IsBusinessPurposeCompleted  =NULLIF(cast(IsBusinessPurposeCompleted as nvarchar(1)),'') ,
IsToBeCheckedForDuplicates  =case IsToBeCheckedForDuplicates when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsToBeLocallyProcessed  =case IsToBeLocallyProcessed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ItemIsToBePaidSeparately  =case ItemIsToBePaidSeparately when 'X' then cast(1 as bit) else cast(0 as bit) end ,
LayoutSortingRule  =NULLIF(cast(LayoutSortingRule as nvarchar(3)),'') ,
PaymentBlockingReason  =NULLIF(cast(PaymentBlockingReason as nvarchar(1)),'') ,
PaymentIsToBeSentByEDI  =case PaymentIsToBeSentByEDI when 'X' then cast(1 as bit) else cast(0 as bit) end ,
PaymentMethodsList  =NULLIF(cast(PaymentMethodsList as nvarchar(10)),'') ,
PaymentTerms  =NULLIF(cast(PaymentTerms as nvarchar(4)),'') ,
ReconciliationAccount  = case when isnumeric(ReconciliationAccount) =1 
                               						then cast(cast(ReconciliationAccount as BIGINT) as nvarchar(10)) 
                                    				else  cast(ReconciliationAccount as nvarchar(10)) end,
Supplier  = case when isnumeric(Supplier) =1 
                               						then cast(cast(Supplier as BIGINT) as nvarchar(10)) 
                                    				else  cast(Supplier as nvarchar(10)) end,
SupplierAccountNote  =NULLIF(cast(SupplierAccountNote as nvarchar(30)),'') ,
SupplierCertificationDate  =CASE WHEN ISDATE(SupplierCertificationDate) = 1 
                        		then CONVERT(datetime,SupplierCertificationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),SupplierCertificationDate) 
                         		else null 	end ,
SupplierClerk  =NULLIF(cast(SupplierClerk as nvarchar(15)),'') ,
SupplierClerkIDBySupplier  =NULLIF(cast(SupplierClerkIDBySupplier as nvarchar(12)),'') ,
SupplierClerkURL  =NULLIF(cast(SupplierClerkURL as nvarchar(130)),'') ,
SupplierHeadOffice  =NULLIF(cast(SupplierHeadOffice as nvarchar(10)),'') ,
SupplierIsBlockedForPosting  =case SupplierIsBlockedForPosting when 'X' then cast(1 as bit) else cast(0 as bit) end ,
WithholdingTaxCountry  =NULLIF(cast(WithholdingTaxCountry as nvarchar(3)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCSUPPLIERCOMP  WITH (NOLOCK) 

END
GO
