USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PRODHIERTEXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_PRODHIERTEXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PRODHIERTEXT]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_PRODHIERTEXT]  

insert into [SAPSTG].[ZXC_PRODHIERTEXT]   

SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
ProductHierarchy  =NULLIF(cast(ProductHierarchy as nvarchar(18)),'') ,
ProductHierarchyText  =NULLIF(cast(ProductHierarchyText as nvarchar(40)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCPRODHIERTEXT WITH (NOLOCK) 
where LANGUAGE = 'E' --Added language filter 28/04 -John Ginete

END 
GO
