USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_ODS_FiscalCalendar]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-- =============================================
-- Author:		<SHINKIS>
-- Create date: <10/10/2021>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Mahendra			Initial Draft
1.1			26/07/2022		Kishor Shinde		Replaced FP.FiscalYear with wk.FiscalYear
-- =============================================*/

CREATE PROCEDURE [dbo].[usp_ODS_FiscalCalendar]
AS

DELETE FROM ODS.FiscalCalendar WHERE FiscalYear>=2021

;WITH FiscalYear
AS (
	SELECT FiscalYear
		,MIN(DateSQl) AS FiscalYearStartDate
		,MAX(DateSQl) AS FiscalYearEndDate
	FROM SAPSTG.M_FISCAL_CALENDAR
	WHERE CalendarVariant = 'Z1' 
	GROUP BY FiscalYear
	)
,Fiscal_Periods
AS(SELECT M_FISCAL_CALENDAR.FiscalYear
	,CONVERT(INT, FiscalPeriod) AS FiscalPeriod
	,MIN(DateSQl) AS FiscalPeriodStartDate
	,MAX(DateSQl) AS FiscalPeriodEndDate
	,FiscalYear.FiscalYearStartDate
	,FiscalYear.FiscalYearEndDate
FROM SAPSTG.M_FISCAL_CALENDAR
INNER JOIN FiscalYear ON FiscalYear.FiscalYear = M_FISCAL_CALENDAR.FiscalYear
WHERE CalendarVariant = 'Z1' 
GROUP BY M_FISCAL_CALENDAR.FiscalYear
	,FiscalPeriod
	,FiscalYear.FiscalYearStartDate
	,FiscalYear.FiscalYearEndDate)
,FiscalPeriodTranfromed
AS (
	SELECT DATE
		, DateSQL
		, FiscalYear
		, FiscalPeriod=CASE WHEN LEN(CONVERT(INT, FiscalPeriod))=1 THEN CONCAT(0,CONVERT(INT, FiscalPeriod)) 
				WHEN LEN(FiscalPeriod)>1 THEN right(FiscalPeriod,2)								--Added condition to take only last 2 digits
				ELSE FiscalPeriod END --AS FiscalPeriod
		, FiscalYear - 1 AS PriorFiscalYear				
		, CASE 
			WHEN FiscalPeriod BETWEEN 1
					AND 3
				THEN 1
			WHEN FiscalPeriod BETWEEN 4
					AND 6
				THEN 2
			WHEN FiscalPeriod BETWEEN 7
					AND 9
				THEN 3
			WHEN FiscalPeriod BETWEEN 9
					AND 12
				THEN 4
			END AS FiscalQuarter
		, FiscalPeriodName = CASE 
			WHEN CAST(FiscalPeriod AS INT) = 1
				THEN 'Jul'
			WHEN CAST(FiscalPeriod AS INT) = 2
				THEN 'Aug'
			WHEN CAST(FiscalPeriod AS INT) = 3
				THEN 'Sep'
			WHEN CAST(FiscalPeriod AS INT) = 4
				THEN 'Oct'
			WHEN CAST(FiscalPeriod AS INT) = 5
				THEN 'Nov'
			WHEN CAST(FiscalPeriod AS INT) = 6
				THEN 'Dec'
			WHEN CAST(FiscalPeriod AS INT) = 7
				THEN 'Jan'
			WHEN CAST(FiscalPeriod AS INT) = 8
				THEN 'Feb'
			WHEN CAST(FiscalPeriod AS INT) = 9
				THEN 'Mar'
			WHEN CAST(FiscalPeriod AS INT) = 10
				THEN 'Apr'
			WHEN CAST(FiscalPeriod AS INT) = 11
				THEN 'May'
			WHEN CAST(FiscalPeriod AS INT) = 12
				THEN 'Jun'
			END + ' ' + SUBSTRING(CONVERT(VARCHAR(4), CASE 
					WHEN FiscalYear <= 2018
						THEN FiscalYear - 1
					ELSE FiscalYear
					END), 3, 2)
		, FiscalPeriodDisplay = 'FY' + SUBSTRING(CONVERT(VARCHAR(4), CASE 
					WHEN FiscalYear <= 2018
						THEN FiscalYear - 1
					ELSE FiscalYear
					END), 3, 2) + '-' + RIGHT(FiscalPeriod,2) + '-' + + CASE 
			WHEN CAST(FiscalPeriod AS INT) = 1
				THEN 'Jul'
			WHEN CAST(FiscalPeriod AS INT) = 2
				THEN 'Aug'
			WHEN CAST(FiscalPeriod AS INT) = 3
				THEN 'Sep'
			WHEN CAST(FiscalPeriod AS INT) = 4
				THEN 'Oct'
			WHEN CAST(FiscalPeriod AS INT) = 5
				THEN 'Nov'
			WHEN CAST(FiscalPeriod AS INT) = 6
				THEN 'Dec'
			WHEN CAST(FiscalPeriod AS INT) = 7
				THEN 'Jan'
			WHEN CAST(FiscalPeriod AS INT) = 8
				THEN 'Feb'
			WHEN CAST(FiscalPeriod AS INT) = 9
				THEN 'Mar'
			WHEN CAST(FiscalPeriod AS INT) = 10
				THEN 'Apr'
			WHEN CAST(FiscalPeriod AS INT) = 11
				THEN 'May'
			WHEN CAST(FiscalPeriod AS INT) = 12
				THEN 'Jun'
			END		
	FROM SAPSTG.M_FISCAL_CALENDAR
	WHERE CalendarVariant = 'Z1'
	)
	--SELECT * FROM FiscalPeriod
	, FiscalWeek
AS (
	SELECT DATE
		, DateSQL
		, FiscalYear
		, FiscalPeriod AS FiscalWeekNumber
		, CurrentYearADJ
	FROM SAPSTG.M_FISCAL_CALENDAR
	WHERE CalendarVariant = 'Z2'		 
	)

Insert into  ODS.FiscalCalendar
SELECT 
	sysdatetime() as LoadDateTime
    ,FP.DATE AS DateKey
	,CONVERT(DATE, FP.DateSQL) AS CalendarDate
	,wk.FiscalWeekNumber
	,FiscalWeekStartDate = Min(wk.DateSQL) OVER (PARTITION BY wk.FiscalWeekNumber,wk.FiscalYear ORDER BY wk.FiscalWeekNumber)    --26/07 --Replaced FP.FiscalYear with wk.FiscalYear
	,FiscalWeekEndDate = MAX(wk.DateSQL) OVER (PARTITION BY wk.FiscalWeekNumber,wk.FiscalYear ORDER BY wk.FiscalWeekNumber)		 --26/07 --Replaced FP.FiscalYear with wk.FiscalYear
	,wk.FiscalYear																								--26/07 --Replaced FP.FiscalYear with wk.FiscalYear
	,FiscalPeriod=CONVERT(INT,FP.FiscalPeriod)
	,FiscalYearPeriod=CONCAT(FP.FiscalYear,FP.FiscalPeriod)
	,[DayOfMonth] = DATEDIFF(Day, F.FiscalPeriodStartDate, DATEADD(DAY, 1, FP.DateSQL))
	,[DaysInMonth] = DATEDIFF(Day, F.FiscalPeriodStartDate, DATEADD(DAY, 1, F.FiscalPeriodEndDate))
	,wk.FiscalYear-1 as PriorFiscalYear																				--26/07 --Replaced FP.FiscalYear with wk.FiscalYear-1
	,F.FiscalPeriodStartDate
	,F.FiscalPeriodEndDate
	,F.FiscalYearStartDate
	,F.FiscalYearEndDate
	,QuarterendDate = MAX(FP.DateSQL) OVER (PARTITION BY FP.FiscalQuarter,FP.FiscalYear ORDER BY FP.FiscalQuarter)
	,FP.FiscalQuarter
	,FP.FiscalPeriodName
	,FP.FiscalPeriodDisplay
	,YearOffset=0
	,QuarterOffset=0
	,PeriodOffset=0
	,WeekOffset=0 ,
	WeekOfMonth	= CONVERT(INT,(((DATEDIFF(DAY, F.FiscalPeriodStartDate, DATEADD(DAY,1, F.FiscalPeriodEndDate))+1)+(DATEDIFF(DAY,DATEADD(DAY,1, F.FiscalPeriodEndDate), (Min(wk.DateSQL) OVER (PARTITION BY wk.FiscalWeekNumber,FP.FiscalYear ORDER BY wk.FiscalWeekNumber)))))/7)+1) 
FROM FiscalPeriodTranfromed FP
INNER JOIN FiscalWeek wk ON FP.DATE = wk.DATE
INNER JOIN Fiscal_Periods F ON F.FiscalYear = FP.FiscalYear
	AND F.FiscalPeriod = FP.FiscalPeriod
WHERE FP.FiscalYear>=2021 
--Update Offsets
;WITH current_fiscal_dates
AS (
	SELECT CAST(Fiscal.FiscalYear as Int) AS CurrentFiscalYear
		,cast(Fiscal.FiscalQuarter as Int) AS CurrentFiscalQuarter
		,Cast(Fiscal.FiscalPeriod as Int) AS CurrentFiscalPeriod
		,cast(Fiscal.FiscalWeekNumber as Int) AS CurrentFiscalWeek
	FROM ODS.FiscalCalendar Fiscal
	WHERE Fiscal.CalendarDate = cast(getdate() AS DATE)
	)
UPDATE f
SET f.YearOffset = c.CurrentFiscalYear - f.FiscalYear
	,f.QuarterOffset = (c.CurrentFiscalYear - f.FiscalYear) * 4 + c.CurrentFiscalQuarter - f.FiscalQuarter
	,f.PeriodOffset = (c.CurrentFiscalYear - f.FiscalYear) * 12 + c.CurrentFiscalPeriod - f.FiscalPeriod
	,f.WeekOffset = (c.CurrentFiscalYear - f.FiscalYear) * 52 + c.CurrentFiscalWeek - f.FiscalWeekNumber
FROM ODS.FiscalCalendar f
CROSS JOIN current_fiscal_dates C

GO
