USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[USP_BATCH_ALLOCATION_MLOR_FINAL]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[USP_BATCH_ALLOCATION_MLOR_FINAL]  
AS  
  
BEGIN  
  
IF OBJECT_ID('TEMPDB.DBO.#new_batchdetails', 'U') IS NOT NULL    
BEGIN    
  DROP TABLE #new_batchdetails;     
  END    
    
SELECT BAT.*,LIP.DELIVQTY AS SCHLDQTY,  
UNRESTRICTEDUSE-DELIVQTY AS UUQ  
  
INTO #NEW_BATCHDETAILS  
  
FROM FACT.BATCHDETAILS BAT  
JOIN ( SELECT BATCH,SUM(DELIVQTY) AS DELIVQTY FROM SAPSTG.CV_PR_LIPS WHERE ITEMCATEGORY LIKE 'CB%'  and GOODSMOVESTAT<>'C' GROUP BY BATCH)LIP   
ON BAT.BATCH=LIP.BATCH  
  
  
--TRUNCATE TABLE #TEST_FINAL  
TRUNCATE TABLE #FINAL_OUTPUT  
TRUNCATE TABLE FORECAST_FINAL  
  
DECLARE @I INT =1,@I1 INT;    
DECLARE @CNT INT ,@CNT1 INT;    
   
DECLARE @BATCHNO INT    
  
IF OBJECT_ID('TEMPDB.DBO.#FRCST_BS_FINAL', 'U') IS NOT NULL    
BEGIN    
  DROP TABLE #FRCST_BS_FINAL;     
  END    
    
  SELECT *,final_qty as RemQ,ROW_NUMBER() OVER (ORDER BY CUST_MLOR DESC)  AS RNK INTO #FRCST_BS_FINAL   
  FROM   
  (  
SELECT DISTINCT *   
     
FROM ODS.[FRCST_BS_FINAL]   WHERE   
--CUST_MLOR=179.00000000000000  AND  
 DATE_SPLIT between CAST(GETDATE()+2 AS DATE) and CAST(GETDATE()+9 AS DATE)  
)D    
--where product_no=5000588           
ORDER BY 1 DESC  
    
--SELECT * FROM #FRCST_BS_FINAL --1540 ROWS  
  
  
IF OBJECT_ID('TEMPDB..#BATCHDETAILS') IS NOT NULL     
BEGIN     
DROP TABLE #BATCHDETAILS     
END    
     
SELECT b.*, CASE WHEN NB.UUQ IS NULL THEN b.UNRESTRICTEDUSE ELSE NB.UUQ END AS UUQ2 INTO #BATCHDETAILS  
FROM [FACT].[BATCHDETAILS] b left JOIN #NEW_BATCHDETAILS NB ON B.BATCH=NB.BATCH  
  
  
SELECT @CNT=MAX(RNK) FROM #FRCST_BS_FINAL  
SET @I=1  
  
  
WHILE (@I<=@CNT)  
BEGIN  
   
 DECLARE @MATERIAL INT;--=1286;  
 SELECT @MATERIAL=PRODUCT_NO FROM #FRCST_BS_FINAL WHERE RNK=@I  
  
  
 IF OBJECT_ID('TEMPDB..#BATCH_OUTPUT') IS NOT NULL     
BEGIN     
DROP TABLE #BATCH_OUTPUT    
END    
   
  
SELECT * INTO  #BATCH_OUTPUT    
FROM  (     
SELECT   
F.UNRESTRICTEDUSE,F.UUQ2, F.MATERIAL ,   
F.BATCH,F.SLED,F.PLANT  
,ROW_NUMBER() OVER(ORDER BY BATCH) RNK1    
FROM  #BATCHDETAILS F    
WHERE  F.PLANT=3000   
AND F.MATERIAL=@MATERIAL  
)  A     
ORDER BY SLED  ASC  
  
  
SELECT @CNT1=COUNT(1) FROM #BATCH_OUTPUT  
SET @I1=1  
  
WHILE(@I1<=@CNT1)  
BEGIN     
  
 IF OBJECT_ID('TEMPDB..#OUTPUT') IS NOT NULL     
BEGIN     
DROP TABLE #OUTPUT    
END    
  
SELECT  * INTO #OUTPUT FROM (  
SELECT F.*,BO.*,  
CASE WHEN RemQ >UUQ2 THEN  UUQ2 WHEN UUQ2 >=RemQ THEN  RemQ END ASSIGNEDQUANTITY  
,CASE WHEN DATEDIFF( DD, GETDATE() ,CAST( BO.SLED  AS DATE ))  >  CUST_MLOR  THEN 1 ELSE 0       
END AS SLEDFLAG    
FROM #BATCH_OUTPUT BO  
join #FRCST_BS_FINAL F ON F.RNK=@I AND BO.RNK1=@I1  
)FINAL  
  
  
DECLARE @ASSIGNEDQTY INT  
SELECT @ASSIGNEDQTY=ASSIGNEDQUANTITY FROM #OUTPUT   
declare @batch varchar(10)  
select @batch=batch from #BATCH_OUTPUT WHERE RNK1=@I1  
  
UPDATE #BATCHDETAILS    SET UUQ2=UUQ2- @ASSIGNEDQTY   where batch=@batch   ;    
UPDATE #FRCST_BS_FINAL  SET RemQ=RemQ-@ASSIGNEDQTY  WHERE RNK=@I;  
  
  
DECLARE @UUQ2 INT  
DECLARE @RemQ INT  
SELECT @UUQ2 =UUQ2   FROM #BATCH_OUTPUT  WHERE RNK1=@I1;  
SELECT @RemQ =RemQ   FROM #FRCST_BS_FINAL  WHERE RNK=@I;  
  
UPDATE #OUTPUT SET UUQ2=@UUQ2  
UPDATE #OUTPUT SET REMQ=@REMQ  
  
print(concat(104,@UUQ2))  
  
  
  
IF(@REMQ=0)  
BEGIN  
  
INSERT INTO #FINAL_OUTPUT  
SELECT *   FROM #OUTPUT  
  
SET @I1=@CNT1+1  
  
END  
  
ELSE   
BEGIN  
  
  
INSERT INTO #FINAL_OUTPUT  
SELECT *  FROM #OUTPUT  
  
SET @I1=@I1+1  
END  
  
  
end  
SET @I=@I+1  
END  
INSERT INTO FORECAST_FINAL  
SELECT * FROM #FINAL_OUTPUT  
  
  
select * from FORECAST_FINAL  
end
GO
