USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ConditionScalePricing]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD [ODS].[Purchase_Requisition]>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_ConditionScalePricing]
AS

Truncate table [ODS].[ConditionScalePricing];

with getKONP
as (
Select NP.CondRecNo, NP.CondType, NP.CondAmtUnit, NP.ScaleQtyUOM, NP.ConditionBaseUOM, NP.CondSeqNo, NP.[Count], 1 as CurrScaleNo,
				NP.ScalePrcUnit,  NP.CondAmt, 0 as CondiScaleQtyFrom, 0 as CondiScaleQtyTo, NP.NumConvCondUnitToBaseUnt, NP.DenomConvCondUnitToBaseUnt , 'PIR Without Scale' as Flow
				from SAPSTG.CV_PR_KONP NP
				where NP.CondType = 'PPR0'),
shiftKONM as (
Select  ConditionRecNo, CurrScaleNo,ConditionAmt, CondiScaleQtyFrom,coalesce(min(CondiScaleQtyTo),999999999) as CondiScaleQtyTo  from 
(select f.ConditionRecNo,f.CurrScaleNo,f.ConditionAmt,f.CondiScaleQty as CondiScaleQtyFrom ,t.CondiScaleQty as CondiScaleQtyTo from SAPSTG.CV_PR_KONM  f
left outer join  SAPSTG.CV_PR_KONM  t
on f.ConditionRecNo = t.ConditionRecNo
and f.CurrScaleNo < t.CurrScaleNo) as combined
group by ConditionRecNo, CurrScaleNo,ConditionAmt, CondiScaleQtyFrom),

getKONM as(
Select NP.CondRecNo, NP.CondType, NP.CondAmtUnit, NP.ScaleQtyUOM, NP.ConditionBaseUOM, NP.CondSeqNo,  NP.[Count]
,nm.CurrScaleNo,NP.ScalePrcUnit, Nm.ConditionAmt as  CondAmt , Nm.CondiScaleQtyFrom as CondiScaleQtyFrom,  Nm.CondiScaleQtyTo as CondiScaleQtyTo, NP.NumConvCondUnitToBaseUnt, 
NP.DenomConvCondUnitToBaseUnt, 'PIR With Scale' as Flow
from getKONP np
inner join shiftKONM nm
on np.CondRecNo = nm.ConditionRecNo) ,

getBothPresent as(
Select NP.CondRecNo, NP.CondType, NP.CondAmtUnit, NP.ScaleQtyUOM, NP.ConditionBaseUOM, NP.CondSeqNo,  NP.[Count]
,0 as CurrScaleNo,NP.ScalePrcUnit, NP.CondAmt , Np.CondiScaleQtyFrom,  Coalesce(Min(Nm.CondiScaleQtyFrom),999999999) as CondiScaleQtyTo, NP.NumConvCondUnitToBaseUnt, 
NP.DenomConvCondUnitToBaseUnt, Np.Flow
from getKONP np
left outer join getKONM nm
on np.CondRecNo = nm.CondRecNo
group by NP.CondRecNo, NP.CondType, NP.CondAmtUnit, NP.ScaleQtyUOM, NP.ConditionBaseUOM, NP.CondSeqNo,  NP.[Count]
,NP.ScalePrcUnit, NP.CondAmt , Np.CondiScaleQtyFrom,NP.NumConvCondUnitToBaseUnt, 
NP.DenomConvCondUnitToBaseUnt, Np.Flow
 ),

CombineKONPKONM as (
select * from getBothPresent
union all
select * from getKONM)

insert into [ODS].[ConditionScalePricing] (
CondRecNo, 
CondType, 
CondAmtUnit, 
ScaleQtyUOM, 
ConditionBaseUOM, 
CondSeqNo,  
[Count],
CurrScaleNo,
ScalePrcUnit,
CondAmt,
CondScaleQtyFrom, 
CondScaleQtyTo, 
NumConvCondUnitToBaseUnt, 
DenomConvCondUnitToBaseUnt,
Flow)
select * from CombineKONPKONM
order by CondRecNo,CondiScaleQtyFrom
GO
