USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_FactProductionPlanItemSnapshot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Insert_FactProductionPlanItemSnapshot]
AS

Truncate table [FACT].[ProductionPlanItemSnapshot];

with getForecast as(
select 
ProcessExecutionID,
LoadDateTime, 
PlanCode,
PlanLevel,
Cluster,
ItemNo,
Plant,
FiscalYear,
FiscalWeek,
WeekendDay,
WeekcommenceDay,
SnapshotDate,
Sum(DemandForecast) DemandForecast,
Sum(ProductionPlan) ProductionPlan,
ScheduledProductionReceipt,
PlannedProductionOrder,
sum(ERPProductionPlan) ERPProductionPlan,
CustomerOrder,
ExtraDemand,
Sum(ConsumedForecast) ConsumedForecast,
Sum(ProductForecast)  ProductForecast,
Sum(NonConsumedForecast) NonConsumedForecast,
SpecialDemand,
CustomerDeliveries,
Sum(ExpectedReceipt) ExpectedReceipt,
Sum(DependentDistribution) DependentDistribution,
PlannedDistributionOrder,
ScheduledDistributionReceipt,
sum(ProjectedInventory) ProjectedInventory,
[PlannedInventory],
Sum(ERPProjectedInventory) ERPProjectedInventory
from(
Select  
Null as ProcessExecutionID
, GETDATE() LoadDateTime
, '200' PlanCode
, '1' PlanLevel
, NULL Cluster
, m1.Material ItemNo
, m1.Plant
, c1.FiscalYear
, c1.FiscalWeek
, m1.WeekendDay
,m1.WeekCommenceDay
,m1.SnapshotDate
,Case when [MRP Element] = 'PP' then -sum([StocksGoods Issue]) else 0 end as DemandForecast
,Case when [MRP Element] in  ('FE' , 'PA') then sum([StocksGoods Receipt]) else 0 end as ProductionPlan
, null ScheduledProductionReceipt
, null PlannedProductionOrder
,Case when [MRP Element] in  ('FE' , 'PA') then sum([StocksGoods Receipt]) else 0 end as ERPProductionPlan
,null CustomerOrder
, null ExtraDemand
,Case when [MRP Element] = 'PP' then - sum([StocksGoods Issue]) +  sum([VSFForecast]) else 0 end as ConsumedForecast
,Case when [MRP Element] = 'PP' then sum([VSFForecast]) else 0 end as ProductForecast
,Case when [MRP Element] = 'PP' then - sum([StocksGoods Issue]) else 0 end as NonConsumedForecast
,null SpecialDemand
, null CustomerDeliveries
,Case when [MRP Element] = 'BE' then sum([StocksGoods Receipt]) else 0 end as  ExpectedReceipt
,Case when [MRP Element] in  ('VC' , 'VJ') then sum([StocksGoods Issue]) else 0 end as DependentDistribution
, null PlannedDistributionOrder
, null ScheduledDistributionReceipt
, sum(m1.AvailableInventory) ProjectedInventory
,  null PlannedInventory
, case when m1.Plant = '3000' then sum(m1.AvailableInventory) else 0 end as ERPProjectedInventory
from ODS.MRPSnapshotWeekly m1
left outer join dim.CalendarDate c1
on m1.WeekendDay = c1.CalendarDate
where m1.[Material Type] in  ('FERT','HALB', 'HAWA') and c1.IsWeekend = 1 and c1.WeekOffset BETWEEN -103 and 0 
Group by 
m1.Material,
m1.Plant,
[MRP Element],
m1.WeekendDay,
m1.WeekCommenceDay,
c1.Fiscalyear,
c1.FiscalWeek,
m1.SnapshotDate
) A
Group by 
ProcessExecutionID,
LoadDateTime, 
PlanCode,
PlanLevel,
Cluster,
ItemNo,
Plant,
FiscalYear,
FiscalWeek,
WeekendDay,
WeekcommenceDay,
SnapshotDate,
ScheduledProductionReceipt,
PlannedProductionOrder,
CustomerOrder,
ExtraDemand,
SpecialDemand,
CustomerDeliveries,
PlannedDistributionOrder,
ScheduledDistributionReceipt,
PlannedInventory
)

INSERT INTO [FACT].[ProductionPlanItemSnapshot]
           ([ProcessExecutionID]
           ,[LoadDateTime]
           ,[PlanCode]
           ,[PlanLevel]
           ,[Cluster]
           ,[ItemNo]
           ,[FiscalYear]
           ,[FiscalWeek]
           ,[WeekendDate]
           ,[WeekcommenceDate]
           ,[SnapshotDate]
           ,[DemandForecast]
           ,[ProductionPlan]
           ,[ScheduledProductionReceipt]
           ,[PlannedProductionOrder]
           ,[ErpProductionPlan]
           ,[CustomerOrder]
           ,[ExtraDemand]
           ,[ConsumedForecast]
           ,[ProductForecast]
           ,[NonConsumedForecast]
           ,[SpecialDemand]
           ,[CustomerDeliveries]
           ,[ExpectedReceipt]
           ,[DependentDistribution]
           ,[PlannedDistributionOrder]
           ,[ScheduledDistributionReceipt]
           ,[ProjectedInventory]
           ,[PlannedInventory]
           ,[ErpProjectedInventory])

select [ProcessExecutionID]
           ,[LoadDateTime]
           ,[PlanCode]
           ,[PlanLevel]
           ,[Cluster]
           ,[ItemNo]
           ,[FiscalYear]
           ,[FiscalWeek]
           ,[WeekendDay]
           ,[WeekCommenceDay]
           ,[SnapshotDate]
           ,[DemandForecast]
           ,[ProductionPlan]
           ,[ScheduledProductionReceipt]
           ,[PlannedProductionOrder]
           ,[ErpProductionPlan]
           ,[CustomerOrder]
           ,[ExtraDemand]
           ,[ConsumedForecast]
           ,[ProductForecast]
           ,[NonConsumedForecast]
           ,[SpecialDemand]
           ,[CustomerDeliveries]
           ,[ExpectedReceipt]
           ,[DependentDistribution]
           ,[PlannedDistributionOrder]
           ,[ScheduledDistributionReceipt]
           ,[ProjectedInventory]
           ,[PlannedInventory]
           ,[ErpProjectedInventory] 
		   from getforecast
--where Replace(ltrim(Replace(ItemNo,'0',' ')),' ','0') = '1006'
 --where snapshotdate = '2025-04-28 00:00:00.0000000' 
 
GO
