USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ALDI]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_Insert_ODS_ALDI]     
  
as  
delete from  [ods].[Aldi]  where [Week Ending Date]  = DATEADD(DAY, -1 * ((DATEPART(WEEKDAY, GETDATE()) + @@DATEFIRST - 1) % 7), CAST(GETDATE() AS DATE));
  
with Trans as (  
  
SELECT [Week Ending Date]  
      ,State = case when Region='Brendale' then 'Queensland'  
                 When Region='Dandenong' then 'Victoria'  
     When Region ='Derrimut' then 'Victoria'  
     When Region ='Minchinbury' then 'New South Wales'  
     When Region= 'Prestons' then 'New South Wales'  
     When Region='Stapylton' then 'Queensland'  
     When Region ='Regency Park' then 'South Australia'  
     When Region= 'Jandakot' then 'Western Australia'  
     End  
      ,[Product Code]  
      ,[Units Sold]  
      ,[Cases Sold]  
      ,[Store Stock (Cases)]  
      ,[Warehouse Stock (Cases)]  
      ,[Total Region Stock (Cases)]  
   ,CONCAT([Week Ending Date], [Region], [Product Code]) AS [Week State Product Key]  
   ,ROW_NUMBER() OVER (PARTITION BY CONCAT([Week Ending Date], [Region], [Product Code]) ORDER BY [Week Ending Date]) AS Rank  
      --,[Bulla Product_No]  
      --,[Alternative_Reference(Product Code)]  
  FROM [BI_PROD_POST_SAP].[Stg].[ALDI NewFile Transformed]  
  )  
  
  Insert into [ods].[Aldi]   
   
 SELECT   
    sysdatetime() as [LoadDateTime],  
    [Week Ending Date],   
    [State],   
    [Product Code],   
    SUM(Cast(REPLACE(ISNULL([Units Sold],0),',','') as int)) AS [Scan Units], 
    SUM(Cast(REPLACE(ISNULL([Cases Sold],0),',','') as int)) AS [Scan Cases], 
    SUM(Cast (REPLACE(ISNULL([Store Stock (Cases)],0),',','') as int)) AS [Store Cases], 
    SUM(Cast(REPLACE(ISNULL([Warehouse Stock (Cases)],0),',','') as int)) AS [Warehouse Cases], 
    SUM(Cast(REPLACE(ISNULL([Total Region Stock (Cases)],0),',','') as int)) AS [Region Cases]
   
  
FROM trans     where Rank=1  
GROUP BY   
    [Week Ending Date],   
    [State],   
    [Product Code]  
 
GO
