USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Fact_StrategyUpload]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Bruce Cao
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Upsert_Fact_StrategyUpload]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;

/*******************--Start Unpivot year--*******************/
IF OBJECT_ID('ODS.StrategyUpload_unpivot_Year', 'U') IS NOT NULL 
drop table [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year];

  SELECT [Channel], [Sub_family], [Line], [Product], [Family], [Sub_Channel], [Category], [Brand], [Product_Description], [Site], [P_L], [Year], [Value] into [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year]
FROM [BI_PROD_POST_SAP].[Stg].[StrategyUpload]
UNPIVOT (
   [Value] FOR [Year] IN ([_2020_H], [_2021_H], [_2022_H], [_2023_F], [_2024_F], [_2025_F], [_2026_F], [_2027_F])
) AS UnpivotedData;
/*******************--End Unpivot year--*******************/


/***************Start Data cleanning************/
update [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year] set [Year] = SUBSTRING([Year],2,4);
update [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year] set [Value] = 0 where Value = '-';
update [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year] set [Product] = REPLACE([Product], 'g', '') where product  LIKE '%g%';
update [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year] set [Sub_Channel] = 'Impulse' where [Sub_Channel] = 'Route'
update [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year] set [Line] = 'CS Ria 10A' where [Product] = '6000023' and [Line] = 'CS Line A'

ALTER TABLE [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year]
ALTER COLUMN [Value] DECIMAL(13, 2);
/***************End Data cleanning************/


--select * from [BI_PROD_POST_SAP].[ODS].[SrtategyUpload_unpivot_Year]
IF OBJECT_ID('Fact.StrategyUpload', 'U') IS NOT NULL
Drop table [BI_PROD_POST_SAP].[Fact].[StrategyUpload];
--Start Pivot Value--
DECLARE @pivot_columns NVARCHAR(MAX);
DECLARE @sql NVARCHAR(MAX);

SELECT @pivot_columns = STUFF(
    (
        SELECT ',' + QUOTENAME([P_L])
        FROM (
            SELECT DISTINCT CASE WHEN [P_L] <> '' THEN coalesce([P_L], 'None')
                                 ELSE 'NotAssigned'
                            END AS [P_L]
            FROM [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year]
        ) AS t
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'),
    1,
    1,
    ''
);
--select @pivot_columns;

SET @sql = N'
SELECT * into [BI_PROD_POST_SAP].[Fact].[StrategyUpload]
FROM
(
   	select [Channel]
      ,[Sub_family]
      ,[Line]
      ,[Product]
      ,[Family]
      ,[Sub_Channel]
      ,[Category]
      ,[Brand]
      ,[Product_Description]
      ,[Site]
      ,[P_L]
	,[Year]
	 -- ，ISNULL([Value],0) as [Value]
	  ,[Value] 
    FROM [BI_PROD_POST_SAP].[ODS].[StrategyUpload_unpivot_Year]
) AS src
PIVOT
(
    sum([Value])
    FOR [P_L] IN (' + @pivot_columns + N')
) AS pvt';

EXEC sp_executesql @sql;
--End Pivot Value--


END
GO
