USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_fact_scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

          
          
              
CREATE       Proc  [dbo].[usp_insert_fact_scorecard]            
AS                  
BEGIN                  
Delete from FACT.Scorecard;    
With trifr as(
  Select TotalHours.Year,LTI.Period,'FP' PeriodType,                  
 'Actual' DataType,'KPI' Measure_Type,  'TRIFR' KPIGroup,                  
 'TRIFR' Measure_Name,    
 TotalHours.Category Category,'' Site,'' CostCentre,                  
  '' ProductionLine,    
 ((Cast(LTI as float) +Cast(MTI as float)) / Cast(YTD_TotalHours as float )) * 1000000 AS KPI_Value,
 '' Quantity, 0 Amount, 0 Percentage, '' Unit, '' Currency,                  
 'Aria' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD     
 from    
(
    SELECT DISTINCT iis.Year, iis.Period, 'FP' PeriodType, '' Category, SUM(Quantity) OVER(PARTITION by  iis.Year order by iis.year,iis.period
	rows between unbounded preceding and current row) AS LTI
    FROM ODS.Incidents_Injury_Scorecard iis    
    WHERE Incident_Consequence = 'LTI'
) LTI   
INNER JOIN    
(    
    SELECT DISTINCT iis.Year, iis.Period, 'FP' PeriodType, '' Category, SUM(Quantity) OVER(PARTITION by  iis.Year order by iis.year,iis.period
	rows between unbounded preceding and current row) AS MTI
    FROM ODS.Incidents_Injury_Scorecard iis    
    WHERE Incident_Consequence = 'MTI'
) MTI    
ON LTI.Year = MTI.Year    
AND LTI.Period = MTI.Period    
INNER JOIN    
(    
 SELECT 
        PnC.Year, 
        PnC.Period, 
		'FP' AS PeriodType,
		pnc.Site Category,
        SUM(WorkedHours) OVER (PARTITION BY Year,Site ORDER BY Period) AS YTD_TotalHours
    FROM 
        ODS.PnC_SalaryWork_Scorecard PnC    
    WHERE 
        WorkedHours <> 0
	and Site = 'Bulla'
) TotalHours   
 on MTI.Year=TotalHours.Year    
 and MTI.Period=TotalHours.Period 
 ),
 BIAS AS (
    SELECT 
        YEAR,
    Period,
    'FP' Period_Type,
    'Actual' DataType,
    'KPI' Measure_Type,  
    CASE 
        WHEN category = 'Chilled' THEN 'Chilled - Bias'          
        WHEN category = 'Frozen' THEN 'Frozen - Bias' 
    END AS KPI_Group,          
    '' AS Measure_Name, 
    Category,
    '' AS Site,          
    '' AS CostCentre,
    '' AS Line,
    (-RDM.BIAS_Quantity+1) AS KPI_Value,          
    '' AS Quantity,
    '' AS Amount,
    '' AS Percentage,
    '%' AS Unit,
    '' AS Currency,
    '' AS Source,
    '' AS Note,
        LAG(-RDM.BIAS_Quantity + 1) OVER (PARTITION BY RDM.Category ORDER BY RDM.year, RDM.period) AS KPI_Value_LM,
        LAG(-RDM.BIAS_Quantity + 1, 12) OVER (PARTITION BY RDM.Category ORDER BY RDM.year, RDM.period) AS KPI_Value_LY,
    '' AS KPI_Value_YTD  
    FROM 
        [ODS].[RDM_Scorecard] RDM
    WHERE 
        RDM.BIAS_Quantity IS NOT NULL
),
MAPE AS (
    SELECT 
        YEAR,
    Period,
    'FP' Period_Type,
    'Actual' DataType,
    'KPI' Measure_Type,  
    CASE 
        WHEN category = 'Chilled' THEN 'Chilled - MAPE'          
        WHEN category = 'Frozen' THEN 'Frozen - MAPE'           
        WHEN category = 'Frozen' THEN 'Frozen - Bias' 
    END AS KPI_Group,          
    '' AS Measure_Name, 
    Category,
    '' AS Site,          
    '' AS CostCentre,
    '' AS Line,
    MAPE_Quantity*100 AS KPI_Value,          
    '' AS Quantity,
    '' AS Amount,
    '' AS Percentage,
    '%' AS Unit,
    '' AS Currency,
    '' AS Source,
    '' AS Note,
        LAG(MAPE_Quantity*100) OVER (PARTITION BY RDM.Category ORDER BY RDM.year, RDM.period) AS KPI_Value_LM,
        LAG(MAPE_Quantity*100, 12) OVER (PARTITION BY RDM.Category ORDER BY RDM.year, RDM.period) AS KPI_Value_LY,
    '' AS KPI_Value_YTD  
    FROM 
        [ODS].[RDM_Scorecard] RDM
    WHERE 
        RDM.BIAS_Quantity IS NOT NULL
)
 
INSERT INTO FACT.Scorecard(                  
   [Year],[Period],[Period_Type],[DataType],[Measure_Type],[KPI_Group],[Measure_Name],[KPI_Segments],[Site],[CostCentre]                  
           ,[Production_Line],KPI_Value,[Quantity],[Amount],[Percentage],[Unit]                  
           ,[Currency],[Source],[Note],KPI_Value_LM,KPI_Value_LY,  KPI_Value_YTD ) 
		   
--select distinct Year,Period,PeriodType,DataType,Measure_Type,KPI,Measure,Category,Site,CostCentre,Line,KPI_Value,Quantity,Amount,Percentage,Unit,Currency,a.Source,Note,      
--KPI_Value_LM,KPI_Value_LY,  KPI_Value_YTD         
--from                  
--(          
select distinct Year,Period,PeriodType,DataType,Measure_Type,KPI,Measure,Category,Site,CostCentre,Line,KPI_Value,Quantity,Amount,Percentage,Unit,Currency,RDM.Source,Note,      
KPI_Value_LM,KPI_Value_LY,  KPI_Value_YTD        
From      
 (         
--Calculating RDM          
    
 Select distinct YEAR,Period,'FP' PeriodType,'Actual' DataType,'' Measure_Type,  
 Case when category='Chilled' then 'Chilled - BIAS'          
  when category='Frozen' then 'Frozen - BIAS' end KPI,          
'Act Qty' Measure,Category, Site,          
'' CostCentre,'' Line,'' KPI_Value,    ISNULL(SUM(ACT_QTY),0) Quantity,          
'' Amount,'' Percentage,'CS' Unit,'' Currency,'' Source,'' Note ,'' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD        
From [ODS].[RDM_Scorecard]           
where category <> 'Ingredients'  and Year >= 2023    
Group by YEAR,Period,category,Site      
      
Union All      
      
 Select distinct YEAR,Period,'FP' PeriodType,'Actual' DataType,'' Measure_Type,  
 Case when category='Chilled' then 'Chilled - BIAS'          
  when category='Frozen' then 'Frozen - BIAS' end KPI,          
'LAG 1' Measure,Category, Site,          
'' CostCentre,'' Line,'' KPI_Value,    ISNULL(SUM(CMT_LAG_1_QTY),0) Quantity,          
'' Amount,'' Percentage,'CS' Unit,'' Currency,'' Source,'' Note ,'' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD        
From [ODS].[RDM_Scorecard]           
where category <> 'Ingredients'   and Year >= 2023        
Group by YEAR,Period,category,Site   
      
Union All     

SELECT 
    *
FROM 
    BIAS


      
      
Union All     
  
Select distinct YEAR,Period,'FP' PeriodType,'Actual' DataType,'' Measure_Type,  
 Case when category='Chilled' then 'Chilled - MAPE'          
  when category='Frozen' then 'Frozen - MAPE' end KPI,          
'Act Qty' Measure,Category, Site,          
'' CostCentre,'' Line,'' KPI_Value,    ISNULL(SUM(ACT_QTY),0) Quantity,          
'' Amount,'' Percentage,'CS' Unit,'' Currency,'' Source,'' Note ,'' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD        
From [ODS].[RDM_Scorecard]           
where category <> 'Ingredients'      
Group by YEAR,Period,category,Site      
      
Union All      
      
 Select distinct YEAR,Period,'FP' PeriodType,'Actual' DataType,'' Measure_Type,  
 Case when category='Chilled' then 'Chilled - MAPE'          
  when category='Frozen' then 'Frozen - MAPE' end KPI,          
'LAG 1' Measure,Category, Site,          
'' CostCentre,'' Line,'' KPI_Value,    ISNULL(SUM(CMT_LAG_1_QTY),0) Quantity,          
'' Amount,'' Percentage,'CS' Unit,'' Currency,'' Source,'' Note ,'' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD        
From [ODS].[RDM_Scorecard]           
where category <> 'Ingredients'      
Group by YEAR,Period,category,Site        
      
Union all      
      
SELECT 
    *
FROM 
    MAPE
      
) RDM      
                
UNION ALL             
          
--Calculating OEE                  
            /*      
Select distinct Year,Period,PeriodType,DataType,Measure_Type,KPI,Measure,Category,Site,CostCentre,Line,KPI_Value,Quantity,Amount,Percentage,Unit,Currency,Source,Note,KPI_Value_LM,KPI_Value_LY, '' KPI_Value_YTD           
from                  
(              
Select distinct Year,Period,PeriodType,DataType,Measure_Type,KPI,Measure,        
  Category,Site,CostCentre,'' Line,KPI_Value,Quantity,Amount,Percentage,Unit,Currency,        
  Source,Note,KPI_Value_LM,KPI_Value_LY, '' KPI_Value_YTD        
From ODS.OEE_Scorecard        
        
UNION ALL        
        
Select distinct a.Year,a.Period, PeriodType, DataType,'KPI' Measure_Type,KPI,Measure,        
  a.Category,''Site,''CostCentre,''Production_Line,Avg(a.Quantity) KPI_Value,        
  0 Quantity,'' Amount,'' Percentage,'CS' Unit,'' Currency,        
   Source,'' Note,        
  (Select Avg(os.Quantity) From ODS.OEE_Scorecard OS        
  where OS.Year=a.year        
  and OS.Period=a.Period-1        
  and OS.Category=a.Category        
  group by OS.Year,OS.Period,OS.Category) KPI_Value_LM,        
  (Select Sum(os.Quantity) From ODS.OEE_Scorecard OS        
  where OS.Year=a.year-1        
  and OS.Period=a.Period        
  and OS.Category=a.Category        
  group by OS.Year,OS.Period,OS.Category) KPI_Value_LY, '' KPI_Value_YTD        
From ODS.OEE_Scorecard a        
group by a.Year,a.Period,a.Category,KPI,Measure,PeriodType, DataType,Source        
           
)OEE              
              */    

Select distinct a.FiscalYear,a.FiscalPeriod, PeriodType, DataType,'KPI' Measure_Type,KPI,Measure,        
  a.Category,''Site,''CostCentre,''Production_Line,a.Quantity KPI_Value,        
  0 Quantity,'' Amount,'' Percentage,'CS' Unit,'' Currency,        
   Source,'' Note,        
    LAG(Quantity) OVER (PARTITION BY FiscalYear ORDER BY FiscalPeriod) AS KPI_Value_LM,
    LAG(Quantity) OVER (PARTITION BY FiscalPeriod ORDER BY FiscalYear) AS KPI_Value_LY,
	'' KPI_Value_YTD        
From ODS.OEE_Scorecard a        


Union All                  
                  
--Calculating SNP                  
                  
select distinct Year,Period,PeriodType,DataType,Measure_Type,KPIGroup,Measure_Name,Category,Site,CostCentre,SNP.ProductionLine,KPI_Value,Qunatity,Amount,SNP.Percentage,                  
Unit,Currency,SNP.Source,Note,KPI_Value_LM,KPI_Value_LY, '' KPI_Value_YTD                    
from(                  
select      distinct               
 snp.FiscalYear Year, snp.FiscalPeriod Period,'FP' PeriodType,                  
 'Forecast' DataType,'' Measure_Type,  'Plan Conformance' KPIGroup,                  
 'LTP' Measure_Name,Category,ProductionSite Site,'' CostCentre,                  
  '' ProductionLine,0 KPI_Value, SUM(LTP) as Qunatity,                  
 0 Amount, 0 Percentage, 'CS' Unit, '' Currency,                  
 'SNP' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD                      
from ODS.SNP_Scorecard   snp               
left outer join dim.CalendarDate cal
on snp.FiscalYear = cal.FiscalYear and snp.FiscalPeriod = cal.FiscalPeriod
where cal.YearOffset >=0 and cal.PeriodOffset >= 0
group by snp.FiscalYear,snp.FiscalPeriod,snp.category,ProductionSite              
              
union all              
              
select     distinct                
 snp.FiscalYear Year, snp.FiscalPeriod Period, 'FP' PeriodType,                  
 'Forecast' DataType,'' Measure_Type,  'Plan Conformance' KPIGroup,                  
 'LTPLag1' Measure_Name,Category,ProductionSite Site,'' CostCentre,                  
  '' ProductionLine,0 KPI_Value, SUM(LTPLag1) as Qunatity,                  
 0 Amount, 0 Percentage, 'CS' Unit, '' Currency,                  
 'SNP' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD                    
from ODS.SNP_Scorecard   snp               
left outer join dim.CalendarDate cal
on snp.FiscalYear = cal.FiscalYear and snp.FiscalPeriod = cal.FiscalPeriod
where cal.YearOffset >=0 and cal.PeriodOffset >= 0
group by snp.FiscalYear,snp.FiscalPeriod,snp.Category,ProductionSite                          
              
union all              
              
select     distinct                
 snp.FiscalYear Year, snp.FiscalPeriod Period,'FP' PeriodType,                  
 'Forecast' DataType,'' Measure_Type,  'Plan Conformance' KPIGroup,                  
 'DeliveredQuantity' Measure_Name,Category,ProductionSite Site,'' CostCentre,                  
  '' ProductionLine,0 KPI_Value, SUM(DeliveredQuantity) as Qunatity,                  
 0 Amount, 0 Percentage, 'CS' Unit, '' Currency,                  
 'SNP' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD                      
from ODS.SNP_Scorecard   snp               
left outer join dim.CalendarDate cal
on snp.FiscalYear = cal.FiscalYear and snp.FiscalPeriod = cal.FiscalPeriod
where cal.YearOffset >=0 and cal.PeriodOffset >= 0
group by snp.FiscalYear,snp.FiscalPeriod,snp.Category,ProductionSite                 
              
union all              
              
select    distinct                 
 snp.FiscalYear Year, snp.FiscalPeriod Period,'FP' PeriodType,                  
 'Forecast' DataType,'' Measure_Type,  'Plan Conformance' KPIGroup,                  
 'OrderedQuantity' Measure_Name,Category,ProductionSite Site,'' CostCentre,                  
  '' ProductionLine,0 KPI_Value, SUM(OrderedQuantity) as Qunatity,                  
 0 Amount, 0 Percentage, 'CS' Unit, '' Currency,                  
 'SNP' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD                     
from ODS.SNP_Scorecard   snp               
left outer join dim.CalendarDate cal
on snp.FiscalYear = cal.FiscalYear and snp.FiscalPeriod = cal.FiscalPeriod
where cal.YearOffset >=0 and cal.PeriodOffset >= 0
group by snp.FiscalYear,snp.FiscalPeriod,snp.Category,ProductionSite   
              
union all              
              
Select distinct SNP.* from (SELECT                    
    sc.FiscalYear AS Year,    sc.FiscalPeriod AS Period,    'FP' AS PeriodType,    
    'Forecast' AS DataType,    'KPI' AS Measure_Type,    'Plan Conformance' AS KPIGroup,    
    Category AS Measure_Name,  Category,    '' AS Site,    
    '' AS CostCentre,    '' AS ProductionLine,    ISNULL(SUM(CASE WHEN LTP <> 0 THEN OrderedQuantity ELSE 0 END) / NULLIF(SUM(LTP), 0), 0) AS KPI_Value,    
    0 AS Quantity,    0 AS Amount,    0 AS Percentage,    '%' AS Unit,    '' AS Currency,    'SNP' AS Source,    '' AS Note,    
    (    
        SELECT ISNULL(SUM(CASE WHEN LTP <> 0 THEN OrderedQuantity ELSE 0 END) / NULLIF(SUM(LTP), 0), 0)    
        FROM ODS.SNP_Scorecard SLM        
        WHERE SLM.FiscalYear = SC.FiscalYear        
        AND SLM.FiscalPeriod = SC.FiscalPeriod - 1    
		and SLM.Category= sc.Category
    ) AS KPI_Value_LM,    
    (    
        SELECT ISNULL(SUM(CASE WHEN LTP <> 0 THEN OrderedQuantity ELSE 0 END) / NULLIF(SUM(LTP), 0), 0)    
        FROM ODS.SNP_Scorecard SLM        
        WHERE SLM.FiscalYear = SC.FiscalYear - 1        
        AND SLM.FiscalPeriod = SC.FiscalPeriod    
		and SLM.Category= sc.Category
    ) AS KPI_Value_LY,    
    '' AS KPI_Value_YTD                     
from ODS.SNP_Scorecard   sc               

group by sc.FiscalYear,sc.FiscalPeriod,sc.Category,ProductionSite   ) SNP 
left outer join dim.CalendarDate cal
on SNP.Year = cal.FiscalYear and SNP.Period = cal.FiscalPeriod
where cal.YearOffset >=0 and cal.IsPeriodEnd = 1 and cal.PeriodOffset >= 0
    
) SNP       
/*
UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case-Frozen' as [KPIGroup],'OrderQty' as Measure_Name, [Category],null as Site,    
'' CostCentre,'' [ProductionLine],null as [KPI_Value],sum(OrderQty) as [Quantity],null as [Amount],null as [Percentage],'CS' as Unit,null as [Currency],[Source], null [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Frozen'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source 
  
UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case-Chilled' as [KPIGroup],'OrderQty' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],sum(OrderQty) as [Quantity],0 as [Amount],0 as [Percentage],'CS' as Unit,'' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Chilled'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source 

UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case' as [KPIGroup],'OrderQty' as Measure_Name,'' [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],sum(OrderQty) as [Quantity],0 as [Amount],0 as [Percentage],'CS' as Unit,'' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where        Site = 3000
  Group by Year,Period, PeriodType,Source
 UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case-Frozen' as [KPIGroup],'DeliveredQty' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],sum(DelivQty) as [Quantity],0 as [Amount],0 as [Percentage],'CS' as Unit,'' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Frozen'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source 
  
UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case-Chilled' as [KPIGroup],'DeliveredQty' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],sum(DelivQty) as [Quantity],0 as [Amount],0 as [Percentage],'CS' as Unit,'' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Chilled'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source    
         
UNION ALL              
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case' as [KPIGroup],'DeliveredQty' as Measure_Name,'' [Category],'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],Sum(DelivQty) as [Quantity],0 as [Amount],0 as [Percentage],'CS' as Unit,'' as [Currency],[Source],'' [Note],    
0 as [KPI_Value_LM],0 as [KPI_Value_LY],0 as [KPI_Value_YTD]    
 FROM [ODS].[DIFOT_Scorecard]   where        Site = 3000
   Group by Year,Period, PeriodType,Source
 UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case-Frozen' as [KPIGroup],'OTHit' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(OTHit)/Count(*)as [Percentage],'%' as Unit,'' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Frozen'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source 
  
UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case-Chilled' as [KPIGroup],'OTHit' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(OTHit)/Count(*) as [Percentage],'%' as Unit,'AUD' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Chilled'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source         
  UNION ALL              
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Case' as [KPIGroup],'OTHit' as Measure_Name,'' [Category],'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(OTHit)/Count(*) as [Percentage], '%' as Unit,'AUD' as [Currency],[Source],'' [Note],    
0 as [KPI_Value_LM],0 as [KPI_Value_LY],0 as [KPI_Value_YTD]    
 FROM [ODS].[DIFOT_Scorecard]       where Site = 3000
    Group by Year,Period, PeriodType,Source
 UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Count-Frozen' as [KPIGroup],'OTHit' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(OTHit)/Count(*)as [Percentage],'%' as Unit,'AUD' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Frozen'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source 
  
UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Count-Chilled' as [KPIGroup],'OTHit' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(OTHit)/Count(*) as [Percentage],'%' as Unit,'AUD' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Chilled'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source     
 UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Count-Frozen' as [KPIGroup],'IFHit' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(IFHit)/Count(*) as [Percentage],'%' as Unit,'' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Frozen'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source 
  
UNION ALL       
    
--Calculating DIFOT    
    
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Count-Chilled' as [KPIGroup],'IFHit' as Measure_Name, [Category],'' as Site,    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(IFHit)/Count(*) as [Percentage],'%' as Unit,'' as [Currency],[Source],'' as [Note],    
0 as [KPI_Value_LM],0 as KPI_Value_LY,0 as [KPI_Value_YTD]    
  FROM [ODS].[DIFOT_Scorecard]    where Category = 'Chilled'       and Site = 3000
  Group by Year,Period, PeriodType,Category,Source     
 UNION ALL              
SELECT [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Count' as [KPIGroup],'IFHit' as Measure_Name,'' [Category],'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(IFHit)/Count(*) as [Percentage], '%' as Unit,'AUD' as [Currency],[Source],'' [Note],    
0 as [KPI_Value_LM],0 as [KPI_Value_LY],0 as [KPI_Value_YTD]    
 FROM [ODS].[DIFOT_Scorecard]           where Site = 3000
    Group by Year,Period, PeriodType,Source

 UNION ALL              
SELECT distinct [Year],[Period],[PeriodType],'Actual' as DataType,'' as [Measure_Type],'DIFOT Count' as [KPIGroup],'OTHit' as Measure_Name,'' [Category],'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],0 as [Quantity],0 as [Amount],Sum(OTHit)/Count(*) as [Percentage], '%' as Unit,'AUD' as [Currency],[Source],'' [Note],    
0 as [KPI_Value_LM],0 as [KPI_Value_LY],0 as [KPI_Value_YTD]    
 FROM [ODS].[DIFOT_Scorecard]         where Site = 3000
     Group by Year,Period, PeriodType,Source
	 */
 UNION ALL              

SELECT distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' as DataType,'' as [Measure_Type],'CustomerServiceLevel-Chilled' as [KPIGroup],'OrderQty' as Measure_Name,ProductCategory,'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],Sum(OrderedQuantity) as [Quantity],0 as [Amount],0 as [Percentage], 'CS' as Unit,'' as [Currency],'OrderService' [Source],'' [Note],    
0 [KPI_Value_LM],0 [KPI_Value_LY],0 [KPI_Value_YTD]    
 FROM ODS.CSL_Scorecard  Where ProductCategory = 'Chilled'
        Group by FiscalYear,FiscalPeriod,ProductCategory 

  UNION ALL              

SELECT distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' as DataType,'' as [Measure_Type],'CustomerServiceLevel-Frozen' as [KPIGroup],'OrderQty' as Measure_Name,ProductCategory,'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],Sum(OrderedQuantity) as [Quantity],0 as [Amount],0 as [Percentage], 'CS' as Unit,'' as [Currency],'OrderService' [Source],'' [Note],    
0 [KPI_Value_LM],0 [KPI_Value_LY],0 [KPI_Value_YTD]    
 FROM ODS.CSL_Scorecard  Where ProductCategory = 'Frozen'
        Group by FiscalYear,FiscalPeriod,ProductCategory 

  UNION ALL              

SELECT distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' as DataType,'' as [Measure_Type],'CustomerServiceLevel' as [KPIGroup],'OrderQty' as Measure_Name,''[Category],'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],Sum(OrderedQuantity) as [Quantity],0 as [Amount],0 as [Percentage], 'CS' as Unit,'' as [Currency],'OrderService' [Source],'' [Note],    
0 [KPI_Value_LM],0 [KPI_Value_LY],0 [KPI_Value_YTD]    
 FROM ODS.CSL_Scorecard  Where ProductCategory is null
        Group by FiscalYear,FiscalPeriod,ProductCategory 

UNION ALL              

SELECT distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' as DataType,'' as [Measure_Type],'CustomerServiceLevel-Chilled' as [KPIGroup],'DeliveredQty' as Measure_Name,ProductCategory,'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],Sum(DeliveredQuantity) as [Quantity],0 as [Amount],0 as [Percentage], 'CS' as Unit,'' as [Currency],'OrderService' [Source],'' [Note],    
0 [KPI_Value_LM],0 [KPI_Value_LY],0 [KPI_Value_YTD]    
 FROM ODS.CSL_Scorecard  Where ProductCategory = 'Chilled'
        Group by FiscalYear,FiscalPeriod,ProductCategory 

  UNION ALL              

SELECT distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' as DataType,'' as [Measure_Type],'CustomerServiceLevel-Frozen' as [KPIGroup],'DeliveredQty' as Measure_Name,ProductCategory,'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],Sum(DeliveredQuantity) as [Quantity],0 as [Amount],0 as [Percentage], 'CS' as Unit,'' as [Currency],'OrderService' [Source],'' [Note],    
0 [KPI_Value_LM],0 [KPI_Value_LY],0 [KPI_Value_YTD]    
 FROM ODS.CSL_Scorecard  Where ProductCategory = 'Frozen'
        Group by FiscalYear,FiscalPeriod,ProductCategory 
  UNION ALL              

SELECT distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' as DataType,'' as [Measure_Type],'CustomerServiceLevel' as [KPIGroup],'DeliveredQty' as Measure_Name,''[Category],'' [Site],    
'' CostCentre,'' [ProductionLine],0 as [KPI_Value],Sum(DeliveredQuantity) as [Quantity],0 as [Amount],0 as [Percentage], 'CS' as Unit,'' as [Currency],'OrderService' [Source],'' [Note],    
0 [KPI_Value_LM],0 [KPI_Value_LY],0 [KPI_Value_YTD]    
 FROM ODS.CSL_Scorecard  Where ProductCategory is null
        Group by FiscalYear,FiscalPeriod,ProductCategory 
  /*
   UNION ALL              
 
Select distinct YEAR,Period, PeriodType,'Actual' DataType,'KPI' Measure_Type,  
Case when category='Chilled' then 'DIFOT Case-Chilled'          
  when category='Frozen' then 'DIFOT Case-Frozen'
   end KPI_Group,          
'' Measure_Name, Category,'' Site,          
'' CostCentre,'' Line,ISNULL(Avg(DIFOTCase)*100,0) KPI_Value,          
'' Quantity,'' Amount,'' Percentage,'%' Unit,'' Currency,'' Source,'' Note,        
(Select ISNULL(Avg(DIFOTCase)*100,0)   KPI_Value_LM        
From [ODS].DIFOT_Scorecard dif_lm        
where dif_LM.Year=dif.Year        
and dif_LM.Period=dif.Period-1        
and dif_LM.Category=dif.Category) KPI_Value_LM,        
(Select ISNULL(Avg(DIFOTCase)*100,0)  KPI_Value_LY      
From [ODS].[DIFOT_Scorecard] dif_LY        
where dif_LY.Year=dif.Year-1        
and dif_LY.Period=dif.Period        
and dif_LY.Category=dif.Category) KPI_Value_LY,         
'' KPI_Value_YTD        
From [ODS].DIFOT_Scorecard  dif        
where category <> 'Ingredients'  and Site = 3000        
group by YEAR,Period,Category , PeriodType      
  
  UNION ALL              
 
Select distinct YEAR,Period, PeriodType,'Actual' DataType,'KPI' Measure_Type,  
'DIFOT Case'
   as KPI_Group,          
'' Measure_Name, '' Category,'' Site,          
'' CostCentre,'' Line,ISNULL(Avg(DIFOTCase)*100,0) KPI_Value,          
'' Quantity,'' Amount,'' Percentage,'%' Unit,'' Currency,'' Source,'' Note,        
(Select ISNULL(Avg(DIFOTCase)*100,0)   KPI_Value_LM        
From [ODS].DIFOT_Scorecard dif_lm        
where dif_LM.Year=dif.Year        
and dif_LM.Period=dif.Period-1        
) KPI_Value_LM,        
(Select ISNULL(Avg(DIFOTCase)*100,0)  KPI_Value_LY      
From [ODS].[DIFOT_Scorecard] dif_LY        
where dif_LY.Year=dif.Year-1        
and dif_LY.Period=dif.Period        
) KPI_Value_LY,         
'' KPI_Value_YTD        
From [ODS].DIFOT_Scorecard  dif        
where category <> 'Ingredients'   and Site = 3000             
group by YEAR,Period, PeriodType  
   UNION ALL              
 
Select distinct YEAR,Period, PeriodType,'Actual' DataType,'KPI' Measure_Type,  
Case when category='Chilled' then 'DIFOT Count-Chilled'          
  when category='Frozen' then 'DIFOT Count-Frozen'
  end KPI_Group,          
'' Measure_Name, Category,'' Site,          
'' CostCentre,'' Line,ISNULL(Sum(DIFOTCount)/COUNT(*),0) KPI_Value,          
'' Quantity,'' Amount,'' Percentage,'%' Unit,'' Currency,'' Source,'' Note,        
(Select ISNULL(Sum(DIFOTCount)/COUNT(*),0)  KPI_Value_LM        
From [ODS].DIFOT_Scorecard dif_lm        
where dif_LM.Year=dif.Year        
and dif_LM.Period=dif.Period-1        
and dif_LM.Category=dif.Category) KPI_Value_LM,        
(Select ISNULL(Sum(DIFOTCount)/COUNT(*),0) KPI_Value_LY      
From [ODS].[DIFOT_Scorecard] dif_LY        
where dif_LY.Year=dif.Year-1        
and dif_LY.Period=dif.Period        
and dif_LY.Category=dif.Category) KPI_Value_LY,         
'' KPI_Value_YTD        
From [ODS].DIFOT_Scorecard  dif        
where category <> 'Ingredients' and Site = 3000                
group by YEAR,Period,Category , PeriodType
 
   UNION ALL              
 
Select distinct YEAR,Period, PeriodType,'Actual' DataType,'KPI' Measure_Type,  
 'DIFOT Count'
  as KPI_Group,          
'' Measure_Name, '' Category,'' Site,          
'' CostCentre,'' Line,ISNULL(Sum(DIFOTCount)/COUNT(*),0) KPI_Value,          
'' Quantity,'' Amount,'' Percentage,'' Unit,'' Currency,'' Source,'' Note,        
(Select ISNULL(Sum(DIFOTCount)/COUNT(*),0)  KPI_Value_LM        
From [ODS].DIFOT_Scorecard dif_lm        
where dif_LM.Year=dif.Year        
and dif_LM.Period=dif.Period-1        
) KPI_Value_LM,        
(Select ISNULL(Sum(DIFOTCount)/COUNT(*),0) KPI_Value_LY      
From [ODS].[DIFOT_Scorecard] dif_LY        
where dif_LY.Year=dif.Year-1        
and dif_LY.Period=dif.Period        
) KPI_Value_LY,         
'' KPI_Value_YTD        
From [ODS].DIFOT_Scorecard  dif        
where category <> 'Ingredients'            and Site = 3000   
group by YEAR,Period , PeriodType
*/
 UNION ALL

 Select distinct YEAR,Period, 'FP','Actual' DataType,'KPI' Measure_Type,  
'DIFOT Count' KPI_Group,          
'' Measure_Name, '' Category,'' Site,          
'' CostCentre,'' Line,DIFOT KPI_Value,          
'' Quantity,'' Amount,'' Percentage,'%' Unit,'' Currency,'' Source,'' Note,        
(Select DIFOT   KPI_Value_LM        
From Stg.DIFOT_Scorecard dif_lm        
where dif_LM.Year=dif.Year        
and dif_LM.Period=dif.Period-1 ) KPI_Value_LM,        
(Select DIFOT  KPI_Value_LY      
From Stg.[DIFOT_Scorecard] dif_LY        
where dif_LY.Year=dif.Year-1        
and dif_LY.Period=dif.Period  ) KPI_Value_LY,         
'' KPI_Value_YTD        
From Stg.DIFOT_Scorecard  dif     

   UNION ALL              
 
Select FiscalYear,FiscalPeriod,'FP' PeriodType,'Actual' DataType,'KPI' Measure_Type,  
Case when ProductCategory='Chilled' then 'CustomerServiceLevel-Chilled'          
  when ProductCategory='Frozen' then 'CustomerServiceLevel-Frozen'
  end KPI_Group,          
'' Measure_Name, ProductCategory,'' Site,          
'' CostCentre,'' Line,  CSLPercentage*100 KPI_Value,          
'' Quantity,'' Amount,'' Percentage,'%' Unit,'' Currency,'' Source,'' Note,     
LAG(CSLPercentage*100) OVER (PARTITION BY ProductCategory ORDER BY FiscalYear, FiscalPeriod) AS KPI_Value_LM,
LAG(CSLPercentage*100, 12) OVER (PARTITION BY ProductCategory ORDER BY FiscalYear, FiscalPeriod) AS KPI_Value_LY,          
'' KPI_Value_YTD        
From ODS.CSL_Scorecard  dif        
where ProductCategory in ('Chilled','Frozen' )

   UNION ALL              

Select distinct FiscalYear,FiscalPeriod,'FP' PeriodType,'Actual' DataType,'KPI' Measure_Type,  
'CustomerServiceLevel' KPI_Group,          
'' Measure_Name, ProductCategory,'' Site,          
'' CostCentre,'' Line,  CSLPercentage*100 KPI_Value,          
'' Quantity,'' Amount,'' Percentage,'%' Unit,'' Currency,'' Source,'' Note,  
LAG(CSLPercentage*100) OVER ( ORDER BY FiscalYear, FiscalPeriod) AS KPI_Value_LM,
LAG(CSLPercentage*100, 12) OVER ( ORDER BY FiscalYear, FiscalPeriod) AS KPI_Value_LY,      
'' KPI_Value_YTD        
From ODS.CSL_Scorecard  dif        
where ProductCategory is null

UNION ALL 
--Calculating TRIFR        
             
 (
 Select distinct  Year , Period,'FP' PeriodType,                  
 'Actual' DataType,'' Measure_Type,  'TRIFR' KPIGroup,                  
 Incident_Consequence Measure_Name,'' Category,'' Site,'' CostCentre,                  
  '' ProductionLine,0 KPI_Value, Quantity,                  
 0 Amount, 0 Percentage, 'No' Unit, '' Currency,                  
 'Aria' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD       
 from ODS.Incidents_Injury_Scorecard    
 Where Incident_Consequence in ('LTI','MTI')    
 Union All    
  Select distinct  Year , Period,'FP' PeriodType,                  
 'Actual' DataType,'' Measure_Type,  'TRIFR' KPIGroup,                  
 'WorkedHours' Measure_Name,site Category,'' Site,'' CostCentre,                  
  '' ProductionLine,0 KPI_Value,WorkedHours Quantity,                  
 0 Amount, 0 Percentage, 'H' Unit, '' Currency,                  
 'Payroll' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD       
 from ODS.PnC_SalaryWork_Scorecard    
 Union all    
     
  Select distinct Year , Period, PeriodType,                  
  DataType, Measure_Type,  KPIGroup,                  
   Measure_Name, Category,  Site ,CostCentre,                  
    ProductionLine, KPI_Value, Quantity,                  
 0 Amount, 0 Percentage, 'No' Unit, '' Currency,                  
 'Aria' Source,'' Note, 
 LAG(KPI_Value) OVER (PARTITION BY Category ORDER BY year, period) AS KPI_Value_LM,
 LAG(KPI_Value, 12) OVER (PARTITION BY Category ORDER BY year, period) AS KPI_Value_LY,
  '' KPI_value_YTD
  from trifr )


  
UNION ALL              
              
--Calculating MTD Injuries        
             
 (  
 Select distinct  Year , Period,'FP' PeriodType,                  
 'Actual' DataType,'' Measure_Type,  'MTD Injuries' KPIGroup,                  
 Incident_Consequence Measure_Name,'' Category,'' Site,'' CostCentre,                  
  '' ProductionLine,0 KPI_Value, Quantity,                  
 0 Amount, 0 Percentage, 'No' Unit, '' Currency,                  
 'Aria' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD       
 from ODS.Incidents_Injury_Scorecard   
WHERE Incident_Consequence IN ('LTI', 'MTI', 'No Incident')   
  
 Union All  
 SELECT 
    Year, 
    Period,
    'FP' AS PeriodType,
    'Actual' AS DataType,
    'KPI' AS Measure_Type,
    'MTD Injuries' AS KPIGroup,
    'MTD Injuries' AS Measure_Name,
    '' AS Category,
    '' AS Site,
    '' AS CostCentre,
    '' AS ProductionLine,
    KPI_Value,
    0 AS Quantity,
    0 AS Amount,
    0 AS Percentage,
    'No' AS Unit,
    '' AS Currency,
    'Aria' AS Source,
    '' AS Note,
    LAG(KPI_Value) OVER (PARTITION BY Year ORDER BY Period) AS KPI_Value_LM,
    LAG(KPI_Value) OVER (PARTITION BY Period ORDER BY Year) AS KPI_Value_LY,
    '' AS KPI_Value_YTD       
FROM 
    (SELECT 
         Year, 
         Period,
         SUM(Quantity) AS KPI_Value
     FROM 
         ODS.Incidents_Injury_Scorecard    
     WHERE 
         Incident_Consequence IN ('LTI')
     GROUP BY 
         Year, 
         Period
    ) AS Data
  
 )  
    
                 
              
UNION ALL              
              
--Calculating PnC_Salary    
    
(
SELECT distinct 
    c.Year,
    c.Period,
    'FP' AS PeriodType,                  
    'Actual' AS DataType,
    CASE 
        WHEN c.Site = 'Bulla' THEN 'KPI' 
        ELSE '' 
    END AS Measure_Type, 
    'EBA Turnover' AS KPIGroup,                  
    c.Site AS Measure_Name,    
    c.Site AS Category,
    c.Site AS Site,
    '' AS CostCentre,                  
    '' AS ProductionLine,
    REPLACE(c.EBA_Turnover, '%', '') AS KPI_Value,
    '' AS Quantity,    
    0 AS Amount,
    0 AS Percentage,
    '%' AS Unit,
    '' AS Currency,                  
    'Aria' AS Source,
    '' AS Note,
    LAG(REPLACE(c.EBA_Turnover, '%', '')) 
        OVER (PARTITION BY c.Site ORDER BY c.Year, c.Period) AS KPI_Value_LM,
    LAG(REPLACE(c.EBA_Turnover, '%', ''),12) 
        OVER (PARTITION BY c.Site ORDER BY c.Year, c.Period) AS KPI_Value_LY,
    '' AS KPI_Value_YTD
FROM 
    ODS.PnC_SalaryWork_Scorecard c
WHERE 
    c.EBA_Turnover <> ''


    
Union All    
    
SELECT distinct 
    c.Year,
    c.Period,
    'FP' AS PeriodType,                  
    'Actual' AS DataType,
    CASE 
        WHEN c.Site = 'Bulla' THEN 'KPI' 
        ELSE '' 
    END AS Measure_Type, 
    'Salary Turnover' AS KPIGroup,                  
    c.Site AS Measure_Name,    
    c.Site AS Category,
    c.Site AS Site,
    '' AS CostCentre,                  
    '' AS ProductionLine,
    REPLACE(c.Salary_Turnover, '%', '') AS KPI_Value,
    '' AS Quantity,    
    0 AS Amount,
    0 AS Percentage,
    '%' AS Unit,
    '' AS Currency,                  
    'Aria' AS Source,
    '' AS Note,
    LAG(REPLACE(c.Salary_Turnover, '%', '')) 
        OVER (PARTITION BY c.Site ORDER BY c.Year, c.Period) AS KPI_Value_LM,
    LAG(REPLACE(c.Salary_Turnover, '%', ''),12) 
        OVER (PARTITION BY c.Site ORDER BY c.Year, c.Period) AS KPI_Value_LY,
    '' AS KPI_Value_YTD
FROM 
    ODS.PnC_SalaryWork_Scorecard c
WHERE 
    c.Salary_Turnover <> ''
)    
    
Union ALL    
    
--Calculating OpS_Audit    
    
 (Select distinct Year,Period,Period_Type,DataType, '' Measure_Type,Measure_Name KPI_Group,Measure_Name,Category,    
 '' Site,'' CostCentre,                  
  '' ProductionLine,'' KPI_Value, Quantity,    
 0 Amount, 0 Percentage, 'No' Unit, '' Currency,                  
 'Excel' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD      
 from ODS.Ops_Audit_Scorecard    
    
 Union All    
    
  Select distinct Year,Period,Period_Type,DataType,'KPI' Measure_Type,Measure_Name KPI_Group,Measure_Name,'' Category,    
 '' Site,'' CostCentre,                  
  '' ProductionLine,SUM(Quantity) KPI_Value,'' Quantity,    
 0 Amount, 0 Percentage, 'No' Unit, '' Currency,                  
 'Excel' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD      
 from ODS.Ops_Audit_Scorecard    
 group by Year,Period,Period_Type,DataType,KPI_Group,Measure_Name)    
    
Union ALL    
    
----Calculating Market_Share    
    
 Select distinct Year,Period,Period_Type,DataType,Measure_Type,KPI_Group,Measure_Name,Category,'' Site,'' CostCentre,'' Production_Line,    
 '' KPI_Value,'' Quantity,Amount,Percentage,'' Unit,'AUD' Currency,'' Source,'' Note,'' KPI_Value_LM,'' KPI_Value_LY,'' KPI_Value_YTD     
 from ODS.Market_Share_Scorecard    
 where Measure_Type !='KPI'
    
 Union ALL    
    
 Select distinct cm.Year,cm.Period,cm.Period_Type,cm.DataType,'KPI' Measure_Type, cm.KPI_Group,cm.Measure_Name,cm.Category,'' Site,''CostCentre,''Production_Line,    
 cm.Percentage KPI_Value,'' Quantity,''Amount,''Percentage,'' Unit,'AUD' Currency,''Source,''Note,
 (Select lm.Percentage from ODS.Market_Share_Scorecard lm
 where lm.Year = cm.Year
 and lm.Period = cm.Period -1
 and lm.Measure_Type ='KPI'
 and lm.KPI_Group = cm.KPI_Group)  KPI_Value_LM, 
  (Select ly.Percentage from ODS.Market_Share_Scorecard ly
 where ly.Year = cm.Year - 1
 and ly.Period = cm.Period
 and ly.Measure_Type ='KPI'
 and ly.KPI_Group = cm.KPI_Group)  KPI_Value_LY,''KPI_Value_YTD     
 from ODS.Market_Share_Scorecard    cm
 where cm.Measure_Type ='KPI'

Union All    
    
--Calculating Quality_ConsumerComplaints_Scorecard    
    /*
SELECT     
    calnow.FiscalYear AS Year,  
    calnow.FiscalPeriod AS Period,
    'FP' AS PeriodType,    
    'Actual' AS DataType, 
    'KPI' AS Measure_Type,
    'Customer complaints' AS KPIGroup, 
    'Customer complaints' AS Measure_Name,    
    '' AS Category,
    '' AS Site,
    '' AS CostCentre,
    '' AS ProductionLine, 
    COUNT(*) AS KPI_Value,    
    '' AS Quantity,
    0 AS Amount,    
    0 AS Percentage,
    'No' AS Unit,
    '' AS Currency,
    '' AS Source,    
    '' AS Note,
	(SELECT COUNT(*)        
     FROM Bulla_BI_Prod.Fact.Feedback sco_lm       
     LEFT OUTER JOIN DIM.CalendarDate callm
     ON CAST(sco_lm.DateFeedbackReceived AS DATE) = CAST(callm.CalendarDate AS DATE)
     WHERE calnow.FiscalYear = callm.FiscalYear        
       AND callm.FiscalPeriod = calnow.FiscalPeriod - 1
       AND ISNULL(sco_lm.HasPositiveSentiment, 'False') = 'False'
    ) AS KPI_Value_LM,
	(SELECT COUNT(*)      
     FROM Bulla_BI_Prod.Fact.Feedback sco_lm       
     LEFT OUTER JOIN DIM.CalendarDate callm
     ON CAST(sco_lm.DateFeedbackReceived AS DATE) = CAST(callm.CalendarDate AS DATE)
     WHERE calnow.FiscalYear = callm.FiscalYear      
       AND callm.FiscalPeriod = calnow.FiscalPeriod
       AND ISNULL(sco_lm.HasPositiveSentiment, 'False') = 'False'
    ) AS KPI_Value_LY,
	'' AS KPI_Value_YTD    
FROM     
    Bulla_BI_Prod.Fact.Feedback sco  
LEFT OUTER JOIN DIM.CalendarDate calnow
ON CAST(sco.DateFeedbackReceived AS DATE) = CAST(calnow.CalendarDate AS DATE)
WHERE ISNULL(sco.HasPositiveSentiment, 'False') = 'False'
GROUP BY     
    calnow.FiscalYear,  
    calnow.FiscalPeriod

*/

SELECT distinct
    Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Year, 
  Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Month, 
    'FP' AS PeriodType,    
    'Actual' AS DataType, 
    'KPI' AS Measure_Type,
    'Customer complaints' AS KPIGroup, 
    'Customer complaints' AS Measure_Name,    
    Category AS Category,
    '' AS Site,
    '' AS CostCentre,
    '' AS ProductionLine, 
    Complaints_per_Million AS KPI_Value,  
    '' AS Quantity,
    0 AS Amount,    
    0 AS Percentage,
    'No' AS Unit,
    '' AS Currency,
    '' AS Source,    
    '' AS Note,
    LAG(Complaints_per_Million) OVER (PARTITION BY CP.Category ORDER BY Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))),  Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE)))) AS KPI_Value_LM,
        LAG(Complaints_per_Million, 12) OVER (PARTITION BY CP.Category ORDER BY Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))),  Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE)))) AS KPI_Value_LY,
    '' AS KPI_Value_YTD   
FROM 
    ODS.CPMU_Scorecard cp
WHERE 
    Category IS NULL

Union ALL


SELECT distinct
    Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Year, 
  Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Month, 
    'FP' AS PeriodType,    
    'Actual' AS DataType, 
    '' AS Measure_Type,
    'Customer complaints' AS KPIGroup, 
    'Complaints_count' AS Measure_Name,    
    Category AS Category,
    '' AS Site,
    '' AS CostCentre,
    '' AS ProductionLine, 
    '' AS KPI_Value,  
    Complaints_count AS Quantity,
    0 AS Amount,    
    0 AS Percentage,
    'No' AS Unit,
    '' AS Currency,
    '' AS Source,    
    '' AS Note,
    '' AS KPI_Value_LM,
    '' AS KPI_Value_LY,
    '' AS KPI_Value_YTD   
FROM 
    ODS.CPMU_Scorecard cp
WHERE 
    Category IS NULL

Union All


SELECT distinct
    Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Year, 
  Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Month, 
    'FP' AS PeriodType,    
    'Actual' AS DataType, 
    '' AS Measure_Type,
    'Customer complaints' AS KPIGroup, 
    'Total_Invoice' AS Measure_Name,    
    Category AS Category,
    '' AS Site,
    '' AS CostCentre,
    '' AS ProductionLine, 
    '' AS KPI_Value,  
    Total_Invoice AS Quantity,
    0 AS Amount,    
    0 AS Percentage,
    'No' AS Unit,
    '' AS Currency,
    '' AS Source,    
    '' AS Note,
    '' AS KPI_Value_LM,
    '' AS KPI_Value_LY,
    '' AS KPI_Value_YTD   
FROM 
    ODS.CPMU_Scorecard cp
WHERE 
    Category IS NULL


Union all

   SELECT  distinct
    Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Year, 
	Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Month,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'Customer complaints'  AS KPIGroup, 'CPMU-'+Category AS Measure_Name,    
    Category AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    Complaints_per_Million AS Quantity,0 AS Amount,    
    0 AS Percentage,'No' AS Unit,'' AS Currency,'ARIA' AS Source,'' as Note, '' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    ODS.CPMU_Scorecard
WHERE 
    Category is not null

	
Union all

   SELECT     distinct
    Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Year, 
	Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Month,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'Customer complaints'  AS KPIGroup, 'Complaints_count' AS Measure_Name,    
    Category AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    Complaints_count AS Quantity,0 AS Amount,    
    0 AS Percentage,'No' AS Unit,'' AS Currency,'ARIA' AS Source,'' as Note, '' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    ODS.CPMU_Scorecard
WHERE 
    Complaints_count is not null
	
Union all

   SELECT   distinct
    Year(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Year, 
	Month(DATEADD(MONTH, 6, CAST(CONCAT(Calendar_Year, '-', 
        RIGHT('0' + CAST(Calendar_Month AS VARCHAR(2)), 2), '-01') AS DATE))) AS Month,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'Customer complaints' AS KPIGroup,  'Total_Invoice' AS Measure_Name,    
    Category AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    Total_Invoice AS Quantity,0 AS Amount,    
    0 AS Percentage,'No' AS Unit,'' AS Currency,'ARIA' AS Source,'' as Note, '' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    ODS.CPMU_Scorecard
WHERE 
    Total_Invoice is not null
	/*
Union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'CPMU-Chilled' AS KPIGroup, 'ActualQty' AS Measure_Name,    
    'Chilled' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    SUM(CAST(ActualSalesQuantity AS int)) AS Quantity,0 AS Amount,    
    0 AS Percentage,'CS' AS Unit,'' AS Currency,'SAP' AS Source,'' Note, '' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    fact.ActualSales  Sales  
	left outer join DIM.CalendarDate calnow
	on Sales.FiscalYear = calnow.FiscalYear and Sales.FiscalWeek = calnow.FiscalWeek
	left outer join DIM.PRODUCT pd
	on Sales.ProductNo = pd.ProductNo
	where pd.Category = 'Chilled'
	group by  calnow.FiscalYear , calnow.FiscalPeriod 
Union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'CPMU-Frozen' AS KPIGroup, 'Customer complaints' AS Measure_Name,    
    'Frozen' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    SUM(CAST(complaint_count AS int)) AS Quantity,0 AS Amount,    
    0 AS Percentage,'CS' AS Unit,'' AS Currency,'ARIA' AS Source,'' Note, '' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    ODS.Quality_ConsumerComplaints_Scorecard  sco  
	left outer join DIM.CalendarDate calnow
	on sco.date_received = calnow.CalendarDate
	left outer join DIM.PRODUCT pd
	on sco.product_no = pd.ProductNo
	where pd.Category = 'Frozen'
	group by  calnow.FiscalYear , calnow.FiscalPeriod 

Union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'CPMU-Frozen' AS KPIGroup, 'ActualQty' AS Measure_Name,    
    'Frozen' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    SUM(CAST(ActualSalesQuantity AS int)) AS Quantity,0 AS Amount,    
    0 AS Percentage,'CS' AS Unit,'' AS Currency,'SAP' AS Source, '' Note,'' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    fact.ActualSales  Sales  
	left outer join DIM.CalendarDate calnow
	on Sales.FiscalYear = calnow.FiscalYear and Sales.FiscalWeek = calnow.FiscalWeek
	left outer join DIM.PRODUCT pd
	on Sales.ProductNo = pd.ProductNo
	where pd.Category = 'Frozen'
	group by  calnow.FiscalYear , calnow.FiscalPeriod 

	Union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'CPMU' AS KPIGroup, 'Customer complaints' AS Measure_Name,    
    '' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    SUM(CAST(complaint_count AS int)) AS Quantity,0 AS Amount,    
    0 AS Percentage,'CS' AS Unit,'' AS Currency,'ARIA' AS Source,'' Note, '' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    ODS.Quality_ConsumerComplaints_Scorecard  sco  
	left outer join DIM.CalendarDate calnow
	on sco.date_received = calnow.CalendarDate
	left outer join DIM.PRODUCT pd
	on sco.product_no = pd.ProductNo
	group by  calnow.FiscalYear , calnow.FiscalPeriod 

Union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, '' AS Measure_Type,'CPMU' AS KPIGroup, 'ActualQty' AS Measure_Name,    
    '' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, 0 AS KPI_Value,    
    SUM(CAST(ActualSalesQuantity AS int)) AS Quantity,0 AS Amount,    
    0 AS Percentage,'CS' AS Unit,'' AS Currency,'SAP' AS Source, '' Note, '' KPI_Value_LM,'' KPI_Value_LY, '' KPI_Value_YTD  
FROM     
    fact.ActualSales  Sales  
	left outer join DIM.CalendarDate calnow
	on Sales.FiscalYear = calnow.FiscalYear and Sales.FiscalWeek = calnow.FiscalWeek
	left outer join DIM.PRODUCT pd
	on Sales.ProductNo = pd.ProductNo
	group by  calnow.FiscalYear , calnow.FiscalPeriod 

union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, 'KPI' AS Measure_Type,'CPMU' AS KPIGroup, 'CPMU' AS Measure_Name,    
    '' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, SUM(CAST(sco.complaint_count AS float))*1000000/ SUM(CAST(sale.ActualSalesQuantity AS float)) AS KPI_Value,    
    0 AS Quantity,0 AS Amount,    
    0 AS Percentage,'No' AS Unit,'' AS Currency,'ARIA' AS Source,    
    '' AS Note,
	(Select  SUM(CAST(sco_lm.complaint_count AS float))*1000000/ SUM(CAST(sale_lm.ActualSalesQuantity AS float)) AS  KPI_Value_LM        
From [ODS].Quality_ConsumerComplaints_Scorecard sco_lm       
	left outer join DIM.CalendarDate callm
	on sco_lm.date_received = callm.CalendarDate
	and calnow.FiscalYear=callm.FiscalYear        
      and callm.FiscalPeriod=calnow.FiscalPeriod-1  
	  left outer join fact.ActualSales sale_lm
	on sale_lm.FiscalYear = callm.FiscalYear and sale_lm.FiscalWeek = callm.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale_lm.ProductNo = pd.ProductNo 
	and sco_lm.product_no =  pd.ProductNo 
) AS KPI_Value_LM,
	(Select  SUM(CAST(sco_ly.complaint_count AS float))*1000000/ SUM(CAST(sale_ly.ActualSalesQuantity AS float))  KPI_Value_LY        
From [ODS].Quality_ConsumerComplaints_Scorecard sco_ly      
	left outer join DIM.CalendarDate cally
	on sco_ly.date_received = cally.CalendarDate
     and calnow.FiscalYear-1=cally.FiscalYear    
      and cally.FiscalPeriod=calnow.FiscalPeriod      
	left outer join fact.ActualSales sale_ly
	on sale_ly.FiscalYear = cally.FiscalYear and sale_ly.FiscalWeek = cally.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale_ly.ProductNo = pd.ProductNo    
	and sco_ly.product_no =  pd.ProductNo 
)AS KPI_Value_LY,'' AS KPI_Value_YTD    
FROM     
    ODS.Quality_ConsumerComplaints_Scorecard  sco  
	left outer join DIM.CalendarDate calnow
	on sco.date_received = calnow.CalendarDate
	left outer join fact.ActualSales sale
	on sale.FiscalYear = calnow.FiscalYear and sale.FiscalWeek = calnow.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale.ProductNo = pd.ProductNo
	and sco.product_no =  pd.ProductNo 
GROUP BY     
    calnow.FiscalYear,  calnow.FiscalPeriod  

union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, 'KPI' AS Measure_Type,'CPMU-Chilled' AS KPIGroup, 'CPMU-Chilled' AS Measure_Name,    
    'Chilled' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, SUM(CAST(sco.complaint_count AS float))*1000000/ SUM(CAST(sale.ActualSalesQuantity AS float)) AS KPI_Value,    
    0 AS Quantity,0 AS Amount,    
    0 AS Percentage,'No' AS Unit,'' AS Currency,'ARIA' AS Source,    
    '' AS Note,
	(Select  SUM(CAST(sco_lm.complaint_count AS float))*1000000/ SUM(CAST(sale_lm.ActualSalesQuantity AS float)) AS  KPI_Value_LM        
From [ODS].Quality_ConsumerComplaints_Scorecard sco_lm       
	left outer join DIM.CalendarDate callm
	on sco_lm.date_received = callm.CalendarDate
	and calnow.FiscalYear=callm.FiscalYear        
      and callm.FiscalPeriod=calnow.FiscalPeriod-1    
	  left outer join fact.ActualSales sale_lm
	on sale_lm.FiscalYear = callm.FiscalYear and sale_lm.FiscalWeek = callm.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale_lm.ProductNo = pd.ProductNo     
	and sco_lm.product_no =  pd.ProductNo 
	  	  	where pd.Category = 'Chilled'
) AS KPI_Value_LM,
	(Select  SUM(CAST(sco_ly.complaint_count AS float))*1000000/ SUM(CAST(sale_ly.ActualSalesQuantity AS float))  KPI_Value_LY        
From [ODS].Quality_ConsumerComplaints_Scorecard sco_ly      
	left outer join DIM.CalendarDate cally
	on sco_ly.date_received = cally.CalendarDate
     and calnow.FiscalYear-1=cally.FiscalYear    
      and cally.FiscalPeriod=calnow.FiscalPeriod      
	left outer join fact.ActualSales sale_ly
	on sale_ly.FiscalYear = cally.FiscalYear and sale_ly.FiscalWeek = cally.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale_ly.ProductNo = pd.ProductNo 
	and sco_ly.product_no =  pd.ProductNo 
	  	where pd.Category = 'Chilled'
)AS KPI_Value_LY,'' AS KPI_Value_YTD    
FROM     
    ODS.Quality_ConsumerComplaints_Scorecard  sco  
	left outer join DIM.CalendarDate calnow
	on sco.date_received = calnow.CalendarDate
	left outer join fact.ActualSales sale
	on sale.FiscalYear = calnow.FiscalYear and sale.FiscalWeek = calnow.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale.ProductNo = pd.ProductNo
	and sco.product_no =  pd.ProductNo 
	where pd.Category = 'Chilled'
GROUP BY     
    calnow.FiscalYear,  calnow.FiscalPeriod 

union all

   SELECT     
    calnow.FiscalYear AS Year,  calnow.FiscalPeriod AS Period,'FP' AS PeriodType,    
    'Actual' AS DataType, 'KPI' AS Measure_Type,'CPMU-Frozen' AS KPIGroup, 'CPMU-Frozen' AS Measure_Name,    
    'Frozen' AS Category,'' AS Site,'' AS CostCentre,'' AS ProductionLine, SUM(CAST(sco.complaint_count AS float))*1000000/ SUM(CAST(sale.ActualSalesQuantity AS float)) AS KPI_Value,    
    0 AS Quantity,0 AS Amount,    
    0 AS Percentage,'No' AS Unit,'' AS Currency,'ARIA' AS Source,    
    '' AS Note,
	(Select  SUM(CAST(sco_lm.complaint_count AS float))*1000000/ SUM(CAST(sale_lm.ActualSalesQuantity AS float)) AS  KPI_Value_LM        
From [ODS].Quality_ConsumerComplaints_Scorecard sco_lm       
	left outer join DIM.CalendarDate callm
	on sco_lm.date_received = callm.CalendarDate
	and calnow.FiscalYear=callm.FiscalYear        
      and callm.FiscalPeriod=calnow.FiscalPeriod-1  
	  left outer join fact.ActualSales sale_lm
	on sale_lm.FiscalYear = callm.FiscalYear and sale_lm.FiscalWeek = callm.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale_lm.ProductNo = pd.ProductNo       
	  where pd.Category = 'Frozen') AS KPI_Value_LM,
	(Select  SUM(CAST(sco_ly.complaint_count AS float))*1000000/ SUM(CAST(sale_ly.ActualSalesQuantity AS float))  KPI_Value_LY        
From [ODS].Quality_ConsumerComplaints_Scorecard sco_ly      
	left outer join DIM.CalendarDate cally
	on sco_ly.date_received = cally.CalendarDate
     and calnow.FiscalYear-1=cally.FiscalYear    
      and cally.FiscalPeriod=calnow.FiscalPeriod      
	left outer join fact.ActualSales sale_ly
	on sale_ly.FiscalYear = cally.FiscalYear and sale_ly.FiscalWeek = cally.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale_ly.ProductNo = pd.ProductNo  
	  where pd.Category = 'Frozen'
)AS KPI_Value_LY,'' AS KPI_Value_YTD    
FROM     
    ODS.Quality_ConsumerComplaints_Scorecard  sco  
	left outer join DIM.CalendarDate calnow
	on sco.date_received = calnow.CalendarDate
	left outer join fact.ActualSales sale
	on sale.FiscalYear = calnow.FiscalYear and sale.FiscalWeek = calnow.FiscalWeek
	left outer join DIM.PRODUCT pd
	on sale.ProductNo = pd.ProductNo
	  where pd.Category = 'Frozen'
	  GROUP BY     
    calnow.FiscalYear,  calnow.FiscalPeriod 

	*/
Union ALL    
    
--Calculating Sustainability_Scorecard    
    
SELECT cm.[Year],cm.[Period],cm.[PeriodType],cm.[DataType],cm.[Measure_Type],cm.[KPIGroup],cm.[Measure_Name],    
'' [Category],'' [Site],cm.[CostCentre],cm.[ProductionLine],AVG(cm.[KPI_Value]),AVG(cm.[Qunatity]),AVG(cm.[Amount]),AVG(cm.[Percentage]),    
cm.[Unit],cm.[Currency],cm.[Source],cm.[Note],AVG(lm.KPI_Value) [KPI_Value_LM],AVG(ly.KPI_Value) [KPI_Value_LY],0 as [KPI_Value_YTD]    
  FROM [ODS].[Sustainability_Scorecard] cm
 left outer join ODS.[Sustainability_Scorecard]  lm
 on cm.Year = lm.Year and cm.Period - 1 = lm.Period and  cm.[KPIGroup] = lm.[KPIGroup]  and cm.Measure_Name = lm.Measure_Name
   left outer join ODS.[Sustainability_Scorecard]  ly
 on cm.Year = ly.Year-1 and cm.Period = ly.Period   and  cm.[KPIGroup] = cm.[KPIGroup]  and cm.Measure_Name = ly.Measure_Name
 where cm.Measure_Type ='KPI'
  group by cm.[Year],cm.[Period],cm.[PeriodType],cm.[DataType],cm.[Measure_Type],cm.[KPIGroup],cm.[Measure_Name], 
  cm.[CostCentre],cm.[ProductionLine],    
cm.[Unit],cm.[Currency],cm.[Source],cm.[Note]   

union all
--calculationg Supplier_scorecard

SELECT distinct
    SD.Fiscal_Year,
    SD.Fiscal_Period,
    'FP' AS PeriodType,
    'Actual' AS DataType,
    'KPI' AS Measure_Type,
    'Supplier Difot' AS KPIGroup,
    'Supplier Difot' AS Measure_Name,
    '' AS category,
    '' AS site,
    '' AS costcentre,
    '' AS productionline,
    SD.DIFOT*100 KPI_Value,
    0 AS quanlity,
    0 AS amount,
    0 AS [Percentage],
    '' AS unit,
    '' AS currency,
    '' AS source,
    '' AS note,
    LAG(DIFOT*100) OVER (PARTITION BY Fiscal_Year ORDER BY Fiscal_Period) AS KPI_Value_LM,
    LAG(DIFOT*100) OVER (PARTITION BY Fiscal_Period ORDER BY Fiscal_Year) AS KPI_Value_LY,
    '' AS [KPI_Value_YTD]
FROM Stg.Supplier_difot_scorecard sd
     

Union all

Select distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' AS DataType, 'KPI' AS Measure_Type,'Closing Cash (''000)' AS KPIGroup, 'Actual' AS Measure_Name,
'' category ,'' site, '' costcentre, '' productionline, [EndingBalance]/1000 kpi_value, 0 quanlity,0 amount,0 [Percentage],'' unit, '' currency, '' source,
'' note ,
(Select [EndingBalance]/1000
from ODS.Opening_Closing_Cash occ_LM
where occ_LM.FiscalYear= occ.FiscalYear
and occ_LM.FiscalPeriod= occ.FiscalPeriod-1) [KPI_Value_LM],
(Select [EndingBalance]/1000
from ODS.Opening_Closing_Cash occ_LY
where occ_LY.FiscalYear= occ.FiscalYear-1
and occ_LY.FiscalPeriod= occ.FiscalPeriod) [KPI_Value_LY],'' [KPI_Value_YTD]
from ODS.Opening_Closing_Cash  occ


Union all

Select distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' AS DataType, '' AS Measure_Type,'Opening Balance' AS KPIGroup, 'Actual' AS Measure_Name,
'' category ,'' site, '' costcentre, '' productionline, 0 kpi_value, [OpeningBalance] quanlity,0 amount,0 [Percentage],'' unit, '' currency, '' source,
'' note , ''[KPI_Value_LM],'' [KPI_Value_LY],'' [KPI_Value_YTD]
from ODS.Opening_Closing_Cash     

Union all

Select distinct FiscalYear,FiscalPeriod,'FP' [PeriodType],'Actual' AS DataType, '' AS Measure_Type,'Period Movement' AS KPIGroup, 'Actual' AS Measure_Name,
'' category ,'' site, '' costcentre, '' productionline, 0 kpi_value, [PeriodMovement]  quanlity,0 amount,0 [Percentage],'' unit, '' currency, '' source,
'' note , ''[KPI_Value_LM],'' [KPI_Value_LY],'' [KPI_Value_YTD]
from ODS.Opening_Closing_Cash     
	



 

Delete from FACT.Scorecard where Year = year(DATEADD(MONTH, 6, GETDATE())) 
and period > month(DATEADD(MONTH, 6, GETDATE()))


Update SC          
set category= 
			case 
			when [KPI_Segments] = 'Chilled' then 'Chilled' 
			when [KPI_Segments] = 'Frozen' then 'Frozen'
			when [KPI_Segments] = 'Ingredients' then 'Ingredients'
			when [KPI_Segments] = 'Now' then 'Now'
			When [KPI_Segments] = 'Bulla' then 'Total'
			when [KPI_Segments] is Null then 'Total'
			else 'Total'  end       
From FACT.Scorecard SC   
          
          
Update SC          
set FisMonth= case when Year = 2024 then Period + 12 else Period + 0  end        
From FACT.Scorecard SC          
inner join DIM.CalendarDate CD          
on SC.Year=CD.FiscalYear          
and SC.Period= CD.FiscalPeriod;          
          
          
end; 

GO
