USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PRODUCTIONVERSION]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_PRODUCTIONVERSION>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PRODUCTIONVERSION]
	
	

AS
BEGIN
	
TRUNCATE TABLE SAPSTG.ZXC_PRODUCTIONVERSION

insert into SAPSTG.ZXC_PRODUCTIONVERSION 

SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
BillOfMaterialVariant  = case when isnumeric(BillOfMaterialVariant) =1 
                                    		then 	NULLIF(cast(cast(BillOfMaterialVariant as INT) as nvarchar(2)),'')
                                            else  NULLIF(cast(BillOfMaterialVariant as nvarchar(2)),'') end,
BillOfMaterialVariantUsage  =NULLIF(cast(BillOfMaterialVariantUsage as nvarchar(1)),'') ,
BillOfOperationsGroup  =NULLIF(cast(BillOfOperationsGroup as nvarchar(8)),'') ,
BillOfOperationsType  =NULLIF(cast(BillOfOperationsType as nvarchar(1)),'') ,
BillOfOperationsVariant  = case when isnumeric(BillOfOperationsVariant) =1 
                                    		then 	NULLIF(cast(cast(BillOfOperationsVariant as INT) as nvarchar(2)),'')
                                            else  NULLIF(cast(BillOfOperationsVariant as nvarchar(2)),'') end,
BOMCheckStatus  =NULLIF(cast(BOMCheckStatus as nvarchar(1)),'') ,
ChangeHistoryCount  =NULLIF(cast(ChangeHistoryCount as nvarchar(4)),'') ,
ChangeNumber  =NULLIF(cast(ChangeNumber as nvarchar(12)),'') ,
CreatedByUser  =NULLIF(cast(CreatedByUser as nvarchar(12)),'') ,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CreationDate) 
                         		else null 	end ,
DistributionKey  =NULLIF(cast(DistributionKey as nvarchar(4)),'') ,
HasVersionCtrldBOMAndRouting  =case HasVersionCtrldBOMAndRouting when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IssuingStorageLocation  =NULLIF(cast(IssuingStorageLocation as nvarchar(4)),'') ,
LastChangeDate  =CASE WHEN ISDATE(LastChangeDate) = 1 
                        		then CONVERT(datetime,LastChangeDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LastChangeDate) 
                         		else null 	end ,
LastChangedByUser  =NULLIF(cast(LastChangedByUser as nvarchar(12)),'') ,
MainProduct  =NULLIF(cast(MainProduct as nvarchar(40)),'') ,
Material  = case when isnumeric(Material) =1 
                                    		then 	NULLIF(cast(cast(Material as BIGINT) as nvarchar(40)),'')
                                            else  NULLIF(cast(Material as nvarchar(40)),'') end,
MaterialCostApportionmentStruc  =NULLIF(cast(MaterialCostApportionmentStruc as nvarchar(4)),'') ,
MaterialMaxLotSizeQuantity  =cast(MaterialMaxLotSizeQuantity as decimal(38,6)) ,
MaterialMinLotSizeQuantity  =cast(MaterialMinLotSizeQuantity as decimal(38,6)) ,
OriginalBatchReferenceMaterial  =NULLIF(cast(OriginalBatchReferenceMaterial as nvarchar(40)),'') ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
PreliminaryPlanningStatus  =NULLIF(cast(PreliminaryPlanningStatus as nvarchar(1)),'') ,
ProdnVersIsAllowedForRptvMfg  =case ProdnVersIsAllowedForRptvMfg when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ProductionLine  =NULLIF(cast(ProductionLine as nvarchar(8)),'') ,
ProductionSupplyArea  =NULLIF(cast(ProductionSupplyArea as nvarchar(10)),'') ,
ProductionVersion  =NULLIF(cast(ProductionVersion as nvarchar(4)),'') ,
ProductionVersionGroup  =NULLIF(cast(ProductionVersionGroup as nvarchar(8)),'') ,
ProductionVersionIsLocked  =NULLIF(cast(ProductionVersionIsLocked as nvarchar(1)),'') ,
ProductionVersionLastCheckDate  =CASE WHEN ISDATE(ProductionVersionLastCheckDate) = 1 
                        		then CONVERT(datetime,ProductionVersionLastCheckDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ProductionVersionLastCheckDate) 
                         		else null 	end ,
ProductionVersionStatus  =NULLIF(cast(ProductionVersionStatus as nvarchar(1)),'') ,
ProductionVersionText  =NULLIF(cast(ProductionVersionText as nvarchar(40)),'') ,
RateBasedPlanningStatus  =NULLIF(cast(RateBasedPlanningStatus as nvarchar(1)),'') ,
ReceivingStorageLocation  =NULLIF(cast(ReceivingStorageLocation as nvarchar(4)),'') ,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
ScriptVersionDate = cast(getdate() as date)
FROM   SAPSTG.ZXCPRODNVERSION_T WITH (NOLOCK) 
END
GO
