USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_ODSProductionPlannedOrderSnapshotWeekly]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[usp_Upsert_ODSProductionPlannedOrderSnapshotWeekly]
AS

--select top 10 * from ODS.ProductionPlannedOrderSnapshot
DELETE m FROM ODS.ProductionPlannedOrderSnapshot m --delete the snapshot made early this week, it will be reloaded with new data later
INNER JOIN  dim.CalendarDate c
ON convert(Date,m.LoadDate) = c.CalendarDate
and c.CalendarWeekOffset = 0;

with 
ProductionOrder as(
select PrdOrd.Material, PrdOrd.Plant, cal.WeekcommenceDate,  Sum(OrderQuantity) OrderQuantity, sum(PrdOrd.DeliveryQuantity) DeliveryQuantity, calend.WeekcommenceDate ActualFinishWeekCommenceDate
from SAPSTG.CV_PR_MFGTHRUORDDETAILS PrdOrd
inner join DIM.CalendarDate cal 
on PrdOrd.ScheduledStartDate = cal.DateKey
left join DIM.CalendarDate calend
on PrdOrd.ActualFinishDate = calend.DateKey
where cal.PeriodOffset between -2 and 0
group by PrdOrd.Material, PrdOrd.Plant,cal.WeekcommenceDate, calend.WeekcommenceDate

),
PlannedOrder as 
(
select distinct PlOrd.Material,
	PlOrd.Plant,
	cal.WeekcommenceDate, 
	Sum(OrderQuantity) OrderQuantity,
	0 as DeliveryQuantity, 
	Null as ActualFinishWeekCommenceDate
from SAPSTG.CV_PR_PLANNEDORDER PlOrd
inner join DIM.CalendarDate cal 
on PlOrd.Calday = cal.DateKey
where cal.PeriodOffset between -2 and 0
group by PlOrd.Material, PlOrd.Plant,cal.WeekcommenceDate
),

CombinePrdPL as 
(
select Convert(date,GETDATE()) as LoadDate, * , 'PRD_ORD' as OrderType from ProductionOrder 
union all
select Convert(date,GETDATE()) as LoadDate, * , 'PL_ORD' as OrderType from PlannedOrder)
,

AddSnapshotDate as 
(Select c.*, cal.WeekcommenceDate as SnapshotDate --use week commence date as snapshot date-- potentially to change to weekend date to align with others
from CombinePrdPL c left outer join dim.CalendarDate cal
on c.Loaddate =cal.CalendarDate)


--Reload Latest forecast data
INSERT INTO ODS.ProductionPlannedOrderSnapshot
([LoadDate]
      ,[Material]
      ,[Plant]
      ,[WeekcommenceDate]
      ,[OrderQty]
      ,[DeliveryQuantity]
      ,[ActualFinishWeekCommenceDate]
      ,[OrderType]
	  ,ProductionQty
      ,[SnapshotDate])
SELECT
[LoadDate]
      ,[Material]
      ,[Plant]
      ,[WeekcommenceDate]
      ,[OrderQuantity]
      ,[DeliveryQuantity]
      ,[ActualFinishWeekCommenceDate]
      ,[OrderType]
	  ,Case when [ActualFinishWeekCommenceDate] is not null then [DeliveryQuantity] else [OrderQuantity] end as ProductionQty
      ,[SnapshotDate]
FROM AddSnapshotDate



GO
