USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_MatClass]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Insert_DIM_MatClass]
AS
BEGIN
    SET NOCOUNT ON;

Delete from [DIM].[MatClass];
INSERT INTO [DIM].[MatClass]
           ([Material]
           ,[Material_class]
		   ,Classtype
           ,[Characteristic_Name]
           ,[Characteristic_Value])
    
Select distinct REPLACE(LTRIM(REPLACE(Material,'0',' ')),' ','0') Material, Class Material_class
	,KLART Classtype
	,ATNAM Characteristic_Name,CharVal Characteristic_Value
from SAPSTG.CV_PR_MD_MATCLASS
End;

GO
