USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_UniversalJournalSales_Current_FY_FullLoad]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>Current_FY
-- Create date: <19/01/2022>
-- Description:	<FULL LOAD ODS.UniversalJournalSales_CurrentFY>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_UniversalJournalSales_Current_FY_FullLoad]
AS
Truncate table [ODS].[UniversalJournalSales_CurrentFY]

INSERT into  [ODS].[UniversalJournalSales_CurrentFY] 
SELECT j.[LoadDateTime],
j.[CompanyCode]				AS CompanyCode,
j.[SalesOrderNumber]		AS SalesOrder,
j.[ReferenceDocumentNumber]	AS RefrenceDocumentNumber,
j.[AccountingDocumentNumber]AS	AccountingDocumentNumber	,
j.LedgerinGeneralLedgerAccounting AS LedgerinGeneralLedgerAccounting,
j.SixCharacterPostingItemforLedger AS SixCharacterPostingItemforLedger,
COALESCE(COALESCE(COALESCE(COALESCE(j.[CustomerNumber],j.NationalCustomerCode) ,j.ChannelCustomerCode),j.SubChannelCode),j.ChannelCode)  AS CustomerNo ,
j.[Bill-ToParty]			AS BillToParty,
j.[Ship-ToParty]			AS ShipToParty,
j.[AccountNumberOfVendorOrCreditor]	AS AccountNumberOfVendorOrCreditor,
j.[DocumentType]			AS DocumentType,
--t.DocumentTypeName		AS DocumentTypeName,		
cast(j.[PostingDateintheDocument] as DATE)	AS SalesDate,
j.[DateOnWhichServicesRendered]		AS DateOnWhichServicesRendered,
j.[FiscalYear]				AS FiscalYear,
j.[PostingPeriod]			AS PostingPeriod,
j.[ValueInLocalCurrency]	AS ValueInLocalCurrency,
j.[LocalCurrency]			AS LocalCurrency,
j.[ValueInGroupCurrency]	AS ValueInGroupCurrency,
j.[ValueInTransactionCurrency] AS ValueInTransactionCurrency,
j.[CurrencyKey]				AS CurrencyKey,
j.[ChartOfAccounts]			AS ChartOfAccounts,
j.[CostCenter]				AS CostCentre,
j.[AccountNumber]			AS AccountNo,
m.GLAccountName				AS GLAccountName,
j.[CustomerGroup]			AS CustomerGroup,
j.[ItemNumberinSalesOrder]	AS ItemNumberinSalesOrder,
j.[MaterialGroup]			AS MaterialGroup,			
COALESCE(COALESCE(COALESCE(COALESCE(j.[ProductforProfitabilityAnalysis], 'PGC'+j.PromotionGroupCode),'SFM'+j.SubFamilyCode) ,'FAM'+j.FamilyCode ) ,'CAT'+j.CategoryCode)	AS ProductNo				,	
j.[Quantity]				AS Quantity,
j.[BaseUnitofMeasure]		AS BaseUOM,
j.[UnitofMeasureforValuationQuantity]	AS UOMforValuationQuantity,
j.[Plant]					AS Plant,
j.[UserName]				AS UserName,
j.[BusinessTransactionCO]	AS BusinessTransactionCO,
j.[ObjectClass]				AS ObjectClass,
m.IsQTY,
m.IsGSV,
m.IsOID,
m.IsDCD,
m.IsDTD,
m.IsDOD,
m.IsCOGS,
m.IsFRT,
m.Multiplier,
(j.Quantity * m.IsQty * m.Multiplier)	AS SalesQuantity,
(j.[ValueInLocalCurrency] * m.IsGSV * m.Multiplier)	AS GrossSalesValue,
(j.[ValueInLocalCurrency] * m.IsOID * m.Multiplier)	AS InvoiceDiscount,
(j.[ValueInLocalCurrency] * m.IsDCD * m.Multiplier)	AS DeferredCaseDiscount,
(j.[ValueInLocalCurrency] * m.IsDTD * m.Multiplier)	AS DeferredTermsDiscount,
(j.[ValueInLocalCurrency] * m.IsDOD * m.Multiplier)	AS DeferredOtherDiscount,
(j.[ValueInLocalCurrency] * m.IsCOGS * m.Multiplier)AS CostOfGoodSold,
(j.[ValueInLocalCurrency] * m.IsFRT * m.Multiplier) AS FreightOutbound,
j.TimeStampinShortForm as TimeStampinShortForm
FROM [ODS].[UniversalJournal_CurrentFY] j WITH (NOLOCK)
INNER JOIN SAPSTG.GLAccountReportingMatrix m WITH (NOLOCK) ON j.[AccountNumber]=m.GLAccountNo

WHERE 
j.[CompanyCode]='3010'				-- Only Bulla Company
and j.[ChartOfAccounts]='YCOA' 		-- Only Bulla COA
and j.ObjectClass<>'OCOST'			-- Only PROFT
--and j.TimeStampinShortForm > (select max (TimeStampinShortForm)-2 from [ODS].[UniversalJournal])  --Removed as we need to fetch all data 
GO
