USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_OrderBatchDetailsMLOR]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Insert_Fact_OrderBatchDetailsMLOR] AS       
    
truncate table [FACT].[OrderBatchDetailsMLOR];
truncate table Dim.BatchSummary;

WITH getAssignedOrderBatch as (     
select       
vba.OrderNum as SalesOrder
,vba.OrderItem as SalesOrderItem
,lip.DeliveryNum as Delivery
,lip.DelivItem as DeliveryItem
,prd.ProductNo as ProductNo     
,prd.ProductGroup as ProductGroup
,bat.PLANT  as Plant    
, VBB.[UNIT]  as Unit
,VBB.[MAT_AV_DAT] as [MaterialAvailableDate]     
,coalesce(Vbe.DeliveryDate,'99991231') as DeliveryDate
,coalesce(Vbe.GIDate,'99991231') as GIDate
,Bat.BATCH        as Batch
,Bat.SLED         as SLED
,VBB.[CALWEEK]    as CALWEEK    
,VBB.[CALMONTH]    as CALMONTH
,VBB.[CALQUARTER]  as CALQUARTER    
,VBB.[YEAR]        as [YEAR]
,AVG(vba.CumOrdQty) as [OPEN_QTY]       
,AVG(VBB.VMENG) AS [ConfirmedOrderQty]       
,sum(Bat.TotalStockQTy) as BatchQty
,AVG(coalesce(vbb.VMENG,0)) as AssignedQty
,AVG(coalesce(vbb.VMENG,0)) as batchAssignedQty
,SUM(bat.TotalStockQTy) - AVG(coalesce(vbb.VMENG,0)) as [BatchRemainingQty]
,AVG(coalesce(vbb.VMENG,0)) as [OrderAssignedQty]
, 0 as [OrderRemainingQty]
, replace(ltrim(replace(vbp.Customer,'0',' ')),' ','0') as [ShiptoParty]
, replace(ltrim(replace(vbk.SoldToParty,'0',' ')),' ','0') as SoldToParty
, vba.CustomerGroup as CustomerGroup
,VBB.[SD_DOC_CAT]  as DocCateg  
,AVG(coalesce(vbb.VMENG,0)) as [ScheduledOrderQty]
,'Scheduled for Delivery' as Comments      
,bat.ManufactureDate as ManufactureDate
from SAPSTG.CV_PR_VBBE VBB 
left outer join SAPSTG.CV_PR_LIPS lip on vbb.SalesDOc = lip.DeliveryNum and vbb.SalesDocItem = lip.DelivItem
left outer join SAPSTG.CV_PR_VBAK vbk on lip.ReferenceDoc = vbk.SalesOrder 
left outer join SAPSTG.CV_PR_VBAP vba on lip.ReferenceDoc = vba.OrderNum and lip.ReferenceItem = vba.OrderItem
left outer join SAPSTG.CV_PR_VBEP vbe on vba.OrderNum = vbe.SalesDocument and vba.OrderItem = vbe.SalesDocItem
and vbe.ConfOrderQty > 0
left outer join SAPSTG.CV_PR_VBPA vbp on lip.ReferenceDoc = vbp.DocNumber and vbp.PartnerFunction = 'WE'
left outer join fact.BatchDetails bat on replace(ltrim(replace(vbb.Material,'0',' ')),' ','0') = bat.MATERIAL and 
replace(ltrim(replace(vbb.CHARG,'0',' ')),' ','0') = bat.BATCH and vbb.PLANT = bat.PLANT
inner join dim.Product prd 
on replace(ltrim(replace(vbb.MATERIAL,'0',' ')),' ','0') = prd.ProductNo
where VBB.CHARG not in ('', 'null') and VBB.SD_DOC_CAT='J' and vbb.VMENG != 0 
and vba.OrderNum is not null
group by 
vba.OrderNum
,vba.OrderItem
,lip.DeliveryNum
,lip.DelivItem
,prd.ProductNo
,prd.ProductGroup
,bat.PLANT   
, VBB.[UNIT]
,VBB.[MAT_AV_DAT]    
,Vbe.DeliveryDate
,Vbe.GIDate
,Bat.BATCH
,Bat.SLED
,VBB.[CALWEEK] 
,VBB.[CALMONTH]
,VBB.[CALQUARTER]  
,VBB.[YEAR]
,vbp.Customer
,vbk.SoldToParty
,vba.CustomerGroup
,VBB.[SD_DOC_CAT]
,bat.ManufactureDate
union all      
select       
vba.OrderNum as SalesOrder
,vba.OrderItem as SalesOrderItem
,lip.DeliveryNum as Delivery
,lip.DelivItem as DeliveryItem
,prd.ProductNo as ProductNo     
,prd.ProductGroup as ProductGroup
,VBB.[PLANT]  as Plant    
, VBB.[UNIT]  as Unit
,VBB.[MAT_AV_DAT] as [MaterialAvailableDate]     
,coalesce(Vbe.DeliveryDate,'99991231') as DeliveryDate
,coalesce(Vbe.GIDate,'99991231') as GIDate
,Bat.BATCH        as Batch
,Bat.SLED         as SLED
,VBB.[CALWEEK]    as CALWEEK    
,VBB.[CALMONTH]    as CALMONTH
,VBB.[CALQUARTER]  as CALQUARTER    
,VBB.[YEAR]        as [YEAR]
,AVG(VBB.OPEN_QTY) AS [OPEN_QTY]       
,AVG(VBB.VMENG) AS [ConfirmedOrderQty]
,Sum(Bat.TotalStockQTy) as BatchQty
,AVG(coalesce(vbb.VMENG,0)) as AssignedQty
,AVG(coalesce(vbb.VMENG,0)) as batchAssignedQty
,Sum(bat.TotalStockQTy) - AVG(coalesce(vbb.VMENG,0)) as [BatchRemainingQty]
,AVG(coalesce(vbb.VMENG,0)) as [OrderAssignedQty]
,AVG( - coalesce(vbb.VMENG,0) + [OPEN_QTY])   as [OrderRemainingQty]
, replace(ltrim(replace(vbp.Customer,'0',' ')),' ','0') as [ShiptoParty]
, replace(ltrim(replace(vbk.SoldToParty,'0',' ')),' ','0') as SoldToParty
, vba.CustomerGroup as CustomerGroup
,VBB.[SD_DOC_CAT]  as DocCateg      
,AVG(coalesce(vbb.VMENG,0)) as [ScheduledOrderQty]
,'Scheduled for Delivery' as Comments  
,bat.ManufactureDate as ManufactureDate
from SAPSTG.CV_PR_VBBE VBB 
left outer join SAPSTG.CV_PR_LIPS lip on vbb.SalesDOc = lip.ReferenceDoc and vbb.SalesDocItem = lip.ReferenceItem
left outer join SAPSTG.CV_PR_VBAK vbk on vbb.SalesDOc = vbk.SalesOrder
left outer join SAPSTG.CV_PR_VBAP vba on vbb.SalesDOc = vba.OrderNum and vbb.SalesDocItem = vba.OrderItem
left outer join SAPSTG.CV_PR_VBEP vbe on vba.OrderNum = vbe.SalesDocument and vba.OrderItem = vbe.SalesDocItem
and vbe.ConfOrderQty > 0
left outer join SAPSTG.CV_PR_VBPA vbp on vbb.SalesDOc = vbp.DocNumber and vbp.PartnerFunction = 'WE' 
left outer join fact.BatchDetails bat on replace(ltrim(replace(vbb.Material,'0',' ')),' ','0') = bat.MATERIAL and 
replace(ltrim(replace(vbb.CHARG,'0',' ')),' ','0') = bat.BATCH
and vbb.Plant = bat.Plant
left outer join dim.Product prd 
on replace(ltrim(replace(vbb.MATERIAL,'0',' ')),' ','0') = prd.ProductNo
where VBB.CHARG not in ('', 'null') and VBB.SD_DOC_CAT='C' and vbb.VMENG != 0   
group by 
vba.OrderNum
,vba.OrderItem
,lip.DeliveryNum
,lip.DelivItem
,prd.ProductNo
,prd.ProductGroup
,vbb.PLANT   
, VBB.[UNIT]
,VBB.[MAT_AV_DAT]    
,Vbe.DeliveryDate
,Vbe.GIDate
,Bat.BATCH
,Bat.SLED
,VBB.[CALWEEK] 
,VBB.[CALMONTH]
,VBB.[CALQUARTER]  
,VBB.[YEAR]
,vbp.Customer
,vbk.SoldToParty
,vba.CustomerGroup
,VBB.[SD_DOC_CAT]
,bat.ManufactureDate
),
GetMLOR as (
Select SalesOrder
,SalesOrderItem
,coalesce(Delivery,'0') as Delivery
,coalesce(DeliveryItem,'0') as DeliveryItem
,ProductNo     
,ProductGroup
,Plant    
,Unit
,[MaterialAvailableDate]     
,DeliveryDate
,GIDate
,Batch
,SLED
,CALWEEK    
,CALMONTH
,CALQUARTER    
,[YEAR]
,[OPEN_QTY]       
,[ConfirmedOrderQty]       
,AssignedQty
,BatchQty
,batchAssignedQty
,[BatchRemainingQty]
,[OrderAssignedQty]
,[OrderRemainingQty]
,[ShiptoParty]
, SoldToParty
, ob.CustomerGroup
,DocCateg  
,[ScheduledOrderQty]
,Comments
,ManufactureDate
, coalesce(mlor1.MLOR, mlor2.MLOR, mlor3.MLOR, mlor4.MLOR, mlor5.MLOR,mlor6.MLOR) as Cust_MLOR
, coalesce(mlor1.TableName, mlor2.TableName, mlor3.TableName, mlor4.TableName, mlor5.TableName,mlor6.TableName) as Cust_MLOR_tab
--,mlor1.MLOR as MLOR_1
--,mlor2.MLOR as MLOR_2
--,mlor3.MLOR as MLOR_3
--,mlor4.MLOR as MLOR_4
--,mlor5.MLOR as MLOR_5
--,mlor6.MLOR as MLOR_6
--,mlor1.TableName as Tab1
--,mlor2.TableName as Tab2
--,mlor3.TableName as Tab3
--,mlor4.TableName as Tab4
--,mlor5.MLOR as Tab5
--,mlor6.MLOR as Tab6
,ROW_NUMBER() OVER (Partition by SalesOrder, SalesOrderItem, Delivery, DeliveryItem 
Order by SalesOrder, SalesOrderItem, Delivery, DeliveryItem) as RowCountNo
from getAssignedOrderBatch ob
left outer join dim.CustomerMLOR mlor1 on ob.ProductNo = replace(ltrim(replace(mlor1.Material,'0',' ')),' ','0') 
and ob.ShiptoParty = mlor1.Customer and ob.ShiptoParty not in('','NULL')
left outer join dim.CustomerMLOR mlor2 on ob.ProductNo = replace(ltrim(replace(mlor2.Material,'0',' ')),' ','0')
and ob.SoldToParty = mlor2.Customer and ob.SoldToParty not in('','NULL')
left outer join dim.CustomerMLOR mlor3 on ob.ProductGroup = replace(ltrim(replace(mlor3.MaterialGroup,'0',' ')),' ','0') 
and ob.ShiptoParty = mlor3.Customer and ob.ShiptoParty not in('','NULL')
left outer join dim.CustomerMLOR mlor4 on ob.ProductGroup = replace(ltrim(replace(mlor4.MaterialGroup,'0',' ')),' ','0') 
and ob.SoldToParty = mlor4.Customer and ob.SoldToParty not in('','NULL')
left outer join dim.CustomerMLOR mlor5 on ob.ProductGroup = replace(ltrim(replace(mlor5.MaterialGroup,'0',' ')),' ','0') 
and ob.CustomerGroup = mlor5.CustomerGroup and ob.CustomerGroup not in('','NULL') 
left outer join dim.CustomerMLOR mlor6 on ob.ProductGroup = replace(ltrim(replace(mlor6.MaterialGroup,'0',' ')),' ','0') and mlor6.TableName = 'KOTH006'),

MLORWarningOrder as (
select *, datediff(day,DeliveryDate,SLED) as [RemDaysonDelivery]
,datediff(day,DeliveryDate,SLED) - Cust_MLOR as [NetRemDays]
,cast(datediff(day,DeliveryDate,SLED) as decimal)/cast(datediff(day,ManufactureDate,SLED) as decimal)*100 as LifeRemainingPerc
,case when datediff(day,DeliveryDate,SLED) > Cust_MLOR then '' 
              when datediff(day,DeliveryDate,SLED) < 0 then 'Batch Expired' 
		   else 'MLOR Expired' end as ErrorCode,
case when datediff(day,DeliveryDate,SLED) > Cust_MLOR then 'Green' 
               when datediff(day,DeliveryDate,SLED) = Cust_MLOR then 'Yellow' 
			   else 'Red' end as MLORWarning,
case when datediff(day,DeliveryDate,SLED) - Cust_MLOR between 1 and 5 then concat(datediff(day,DeliveryDate,SLED), ' Days remaining for SLED, ',datediff(day,DeliveryDate,SLED) - convert(int,Cust_MLOR), ' day more than MLOR( ',convert(int,Cust_MLOR), ' days )' ) 
			   else '' end as Alert,
case when datediff(day,DeliveryDate,SLED) > Cust_MLOR then '' 
              when datediff(day,DeliveryDate,SLED) < 0 then concat('Batch Expired by ' , datediff(day,DeliveryDate,SLED))
               when datediff(day,DeliveryDate,SLED) - Cust_MLOR < 0 then concat('MLOR Expired by ', -(datediff(day,DeliveryDate,SLED) - convert(int,Cust_MLOR)), ' Days') 
			   else '' end as Error
from GetMLOR) 

insert into [FACT].[OrderBatchDetailsMLOR]
(SalesOrder,
SalesOrderItem,
Delivery,
DeliveryItem,
OrderSeqNo,
BatchSeqNo,
OverallSeqNo,
Product,
ProductGroup,
Plant,
Unit,
MaterialAvailableDate,
DeliveryDate,
GIDate,
Batch,
SLED,
CALWEEK,
[CALMONTH],
[CALQUARTER],
[YEAR],
[OPEN_QTY],
[ConfirmedOrderQty],
[BatchQty],
[AssignedQty],
[BatchAssignedQty],
[BatchRemainingQty],
[OrderAssignedQty],
[OrderRemainingQty],
[ShiptoParty],
[SoldtoParty],
[CustomerGroup],
[CUSTOMER_MLOR],
RemDaysonDelivery,
NetRemDays,
LifeRemainingPerc,
ErrorCode,
Error,
MLORWarning,
Alert,
Comments,
TableName,
[ScheduledOrderQty])
select SalesOrder,
SalesOrderItem,
Delivery,
DeliveryItem,
-1 as OrderSeqNo,
-1 as BatchSeqNo,
-1 as OverallSeqNo,
ProductNo,
ProductGroup,
Plant,
Unit,
MaterialAvailableDate,
DeliveryDate,
GIDate,
Batch,
SLED,
CALWEEK,
[CALMONTH],
[CALQUARTER],
[YEAR],
[OPEN_QTY],
[ConfirmedOrderQty],
[BatchQty],
[AssignedQty],
[BatchAssignedQty],
[BatchRemainingQty],
[OrderAssignedQty],
[OrderRemainingQty],
[ShiptoParty],
[SoldtoParty],
[CustomerGroup],
Cust_MLOR as [CUSTOMER_MLOR],
RemDaysonDelivery,
NetRemDays,
case when LifeRemainingPerc < 0 then 0 else LifeRemainingPerc end as LifeRemainingPerc,
ErrorCode,
Error,
MLORWarning,
Alert,
Comments,
Cust_MLOR_tab as TableName,
[ScheduledOrderQty] 
from MLORWarningOrder;

WITH Batchonly as(
select Bat.Material,
prd.ProductGroup,
Bat.Plant,
Bat.Batch,
Bat.SLED,
Bat.ManufactureDate as ManufDate,
Bat.Unit,
SUM(Bat.TotalStockQty) as BatchQty,
Bat.Currency,
Bat.Vendor,
Bat.SupplierBatch,
Bat.LeadTime,
datediff(day,GETDATE(),Bat.SLED) as RemainingDaysonDelivery,
datediff(day,ManufactureDate,Bat.SLED) as ProductLifetime,
Bat.StandardPrice as StdPrice
from Fact.BatchDetails Bat
inner join dim.Product prd
on Bat.Material = prd.ProductNo
Where ManufactureDate != '00000000'
group by 
Bat.Material,
prd.ProductGroup,
Bat.Plant,
Bat.Batch,
Bat.SLED,
Bat.ManufactureDate,
Bat.Unit,
Bat.Currency,
Bat.Vendor,
Bat.SupplierBatch,
Bat.LeadTime,
Bat.StandardPrice
),

BatchUpdate as(
select Bat.Material,
Bat.ProductGroup,
Bat.Plant,
Bat.Batch,
min(DeliveryDate) as MinDeliveryDate,
max(DeliveryDate) as MaxDeliveryDate,
Bat.SLED,
Bat.ManufDate,
Bat.Unit,
Avg(Bat.BatchQty) as BatchQty,
Bat.Currency,
Coalesce(Sum(Ord.[BatchAssignedQty]),0) as ScheduledDeliveryQty,
Coalesce(Sum(Ord.[BatchAssignedQty]),0) as BatchConsumedQty,
Coalesce(Avg(Bat.BatchQty),0) - Coalesce(Sum(Ord.[BatchAssignedQty]),0) as BatchRemainingQty,
--Coalesce(max(ml.MaxMaterialMLOR),max(mlg.MaxMaterialMLOR)) as MaxMLOR,
--Coalesce(min(ml.MinMaterialMLOR),min(mlg.MinMaterialMLOR)) as MinMLOR,
Bat.Vendor,
Bat.SupplierBatch,
Bat.LeadTime,
Avg(Bat.RemainingDaysonDelivery) AS RemainingDaysonDelivery, 
Avg(Bat.ProductLifetime) As ProductLifetime,
AVG(StdPrice) as StdPrice,
'' as Error,
'' as Alert
from Batchonly Bat
left outer join [FACT].[OrderBatchDetailsMLOR] Ord
on Bat.Batch = Ord.Batch and Bat.PLANT = Ord.Plant 
--left outer join dim.CustomerMLOR ml 
--on bat.Material = replace(ltrim(replace(ml.Material,'0',' ')),' ','0')
--left outer join dim.CustomerMLOR mlg
--on prd.ProductGroup = replace(ltrim(replace(mlg.MaterialGroup,'0',' ')),' ','0')
group by 
Bat.Material,
Bat.ProductGroup,
Bat.Plant,
Bat.Batch,
Bat.SLED,
Bat.ManufDate,
Bat.Unit,
Bat.Currency,
Bat.Vendor,
Bat.SupplierBatch,
Bat.LeadTime,
Bat.StdPrice),

MLOR as 
(Select Batch, Plant, bat.Material, ProductGroup,
Coalesce(max(ml.MaxMaterialMLOR),max(mlg.MaxMaterialMLOR)) as MaxMLOR,
Coalesce(min(ml.MinMaterialMLOR),min(mlg.MinMaterialMLOR)) as MinMLOR
from BatchUpdate bat
left outer join dim.CustomerMLOR ml 
on bat.Material = replace(ltrim(replace(ml.Material,'0',' ')),' ','0')
left outer join dim.CustomerMLOR mlg
on ProductGroup = replace(ltrim(replace(mlg.MaterialGroup,'0',' ')),' ','0')
group by Batch, Plant, bat.Material, ProductGroup),

BatchMLOR as
(select Bat.Material,
Bat.ProductGroup,
Bat.Plant,
Bat.Batch,
--Bat.STORAGELOCATION,
Bat.SLED,
ManufDate,
Bat.Unit,
bat.MinDeliveryDate,
bat.MaxDeliveryDate,
SUm(BatchQty) as BatchQty ,
Bat.Currency,
Sum(ScheduledDeliveryQty) as ScheduledDeliveryQty,
Sum(BatchConsumedQty) as BatchConsumedQty,
Sum(BatchRemainingQty) as BatchRemainingQty,
Avg(MaxMLOR) as maxMLOR,
Avg(MinMLOR) as minMLOR,
Bat.Vendor,
Bat.SupplierBatch,
Bat.LeadTime,
Bat.StdPrice,
Avg([RemainingDaysonDelivery]) as [RemainingDaysonDelivery] ,
Avg(ProductLifetime) as ProductLifetime,
Avg(RemainingDaysonDelivery/ProductLifetime) as [LifeRemainingPerc] ,
sum(BatchRemainingQty)*AVG(StdPrice) as RiskValue,
'' as Error,
'' as Alert
from BatchUpdate Bat
left outer join MLOR ml 
on bat.Material = replace(ltrim(replace(ml.Material,'0',' ')),' ','0')
and bat.PLANT = ml.PLANT
and bat.BATCH = ml.BATCH
--left outer join dim.CustomerMLOR mlg
--on bat.ProductGroup = replace(ltrim(replace(mlg.MaterialGroup,'0',' ')),' ','0')
group by 
Bat.Material,
Bat.ProductGroup,
Bat.Plant,
Bat.Batch,
--Bat.STORAGELOCATION,
Bat.SLED,
bat.MinDeliveryDate,
bat.MaxDeliveryDate,
Bat.ManufDate,
Bat.Unit,
Bat.Currency,
Bat.Vendor,
Bat.SupplierBatch,
Bat.LeadTime,
Bat.StdPrice),

SetMLORWarning as 
(Select *, 
Case when RemainingDaysonDelivery < MinMLOR then 'Red'
     when RemainingDaysonDelivery >= MinMLOR and RemainingDaysonDelivery < MaxMLOR then 'Yellow' 
	 when RemainingDaysonDelivery >= MaxMLOR and RemainingDaysonDelivery <= MaxMLOR + 4 then 'Green' 
	 else 'Blue' end as MLORWarning 
from BatchMLOR)

insert into dim.BatchSummary 
(Material,
MaterialGroup,
Plant,
Batch,
FirstDeliveryDate,
LastDeliveryDate,
SLED,
ManufDate,
Unit,
BatchQty,
Currency,
ScheduledDeliveryQty,
BatchConsumedQty,
BatchRemainingQty,
MaxMLOR,
MinMLOR,
Vendor,
SupplierBatch,
LeadTime,
StdPrice,
MLORWarning,
RemainingDaysonDelivery,
ProductLifeTime,
LifeRemainingPerc,
RiskValue,
IsExpired,
IsMLORExpired,
Error,
Alert)
select Bat.Material,
Bat.ProductGroup,
Bat.Plant,
Bat.Batch,
bat.MinDeliveryDate,
bat.MaxDeliveryDate,
Bat.SLED,
ManufDate,
Bat.Unit,
BatchQty ,
Bat.Currency,
ScheduledDeliveryQty,
BatchConsumedQty,
BatchRemainingQty,
MaxMLOR,
MinMLOR,
Bat.Vendor,
Bat.SupplierBatch,
Bat.LeadTime,
Bat.StdPrice,
MLORWarning,
[RemainingDaysonDelivery] ,
ProductLifeTime,
[LifeRemainingPerc] ,
RiskValue,
'N' as IsExpired,
'N' as IsMLORExpired,
'' as Error,
'' as Alert
from SetMLORWarning Bat
where SLED !='00000000'
GO
