USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_stg_ALDI_AlternateProductReference]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_Load_stg_ALDI_AlternateProductReference]                    -- copied from [Bulla_BI_Prod].[Rpt].[AldiScanMasterData_AlternateProductNos] to load alternative product no 
as 

Drop table [stg].[ALDI Alternate Product Reference];

SELECT        
cm.CustomerMaterialNo		AS [alternative_reference], 
cm.ProductNo				AS [product_no], 
p.ProductDescription				AS [product_description]

  into [stg].[ALDI Alternate Product Reference]

FROM   [Bulla_BI_Prod].Dim.CustomerMaterial cm INNER JOIN
       [Bulla_BI_Prod].Dim.Product p
	   ON cm.ProductNo  = p.ProductNo	 

WHERE (cm.CustomerNo = '107') and cm.ProductNo	not in ('1297', '1298', '1299', '1300','2007')
GO
