USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_UniversalJournal_Current_FY_FullLoad]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <10/02/2022>
-- Description:	<FULL LOAD of ODS.UniversalJournal_CurrentFY>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_UniversalJournal_Current_FY_FullLoad]
AS

Truncate table [ODS].[UniversalJournal_CurrentFY]


Declare @CurrentFY nvarchar(4)
SET @CurrentFY = (select year(max(POSTEDDATETIME)) from [SAPSTG].[ZXCACDOCACOM])


INSERT INTO [ODS].[UniversalJournal_CurrentFY] 
  SELECT j.[LoadDateTime]
,[OrderNumber] = case when ISNUMERIC(aufnr)= 1
	THEN CAST(CAST(aufnr AS BIGINT) AS nvarchar(12))
	WHEN  CAST(aufnr AS NVARCHAR(12)) ='' THEN NULL 
	ELSE   CAST(aufnr AS NVARCHAR(12)) END,
[ReferenceDocumentLineItem] = case when awitem = '' THEN NULL ELSE cast(awitem as nvarchar(6)) end,
[ReferenceDocumentNumber] =  case when ISNUMERIC(awref)= 1
	THEN CAST(CAST(awref AS BIGINT) AS nvarchar(10))
	ELSE CAST(awref AS NVARCHAR(10)) END,
[ReferenceTransaction] =  case when awtyp = '' THEN NULL ELSE cast(awtyp as nvarchar(5)) end,
[AccountingDocumentNumber] =  case when belnr = '' THEN NULL ELSE cast(belnr as nvarchar(10)) end,
[DebitType] =   case when beltp = '' THEN NULL ELSE cast(beltp as nvarchar(1)) end,
[DocumentType] = case when blart = '' THEN NULL ELSE cast(blart as nvarchar(2)) end,
--[DocumentTypeName]= case when t.DocumentTypeName = '' THEN NULL ELSE cast(t.DocumentTypeName as nvarchar(50)) end,
[DocumentDateinDocument] = CASE WHEN ISDATE(bldat) = 1 
                        		then cast(bldat as datetime2(7))
                                else null 
                                end,
[PostingKey] = case when bschl = '' THEN NULL ELSE cast(bschl as nvarchar(2)) end,
[DocumentStatus] = case when bstat = '' THEN NULL ELSE cast(bstat as nvarchar(1)) end,
[BusinessTransactionType] = case when bttype = '' THEN NULL ELSE cast(bttype as nvarchar(4)) end,
[PostingDateintheDocument]=CASE WHEN ISDATE(budat) = 1 
                        		then cast(budat as datetime2(7))
                                else null 
                                end,
[CODebit/CreditIndicator] = case when cast(co_belkz as nvarchar(1)) = 'S' THEN 'D'
when cast(co_belkz as nvarchar(1)) = 'L' THEN 'S'
when cast(co_belkz as nvarchar(1)) = 'A' THEN 'O'
when cast(co_belkz as nvarchar(1)) = 'H' THEN 'C'
when cast(co_belkz as nvarchar(1)) = '' THEN NULL
ELSE cast(co_belkz as nvarchar(1)) end,
[DocumentNumber] =   case when ISNUMERIC(co_belnr)= 1
	THEN CAST(CAST(co_belnr AS BIGINT) AS nvarchar(10))
	WHEN  CAST(co_belnr AS NVARCHAR(10)) ='' THEN NULL
	ELSE CAST(co_belnr AS NVARCHAR(10)) END,
[ValueinCOObjectCurrency] = cast(co_osl as decimal(38,6)),
[PostingRowofReferenceDocument] = case when co_refbz = '' THEN NULL ELSE cast(co_refbz as nvarchar(3)) end,
[DocumentItemNumber]= case when ISNUMERIC(co_zlenr)= 1
	THEN CAST(CAST(co_zlenr AS BIGINT) AS nvarchar(3))
	WHEN CAST(co_zlenr AS NVARCHAR(3)) = '' THEN NULL
	ELSE CAST(co_zlenr AS NVARCHAR(3)) END,
ChannelCode = case when ISNUMERIC(CustomerHierarchy01)= 1
	THEN CAST(CAST(CustomerHierarchy01 AS BIGINT) AS nvarchar(10))
	WHEN CAST(CustomerHierarchy01 AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(CustomerHierarchy01 AS NVARCHAR(10)) END,
SubChannelCode = case when ISNUMERIC(CustomerHierarchy02)= 1
	THEN CAST(CAST(CustomerHierarchy02 AS BIGINT) AS nvarchar(10))
	WHEN CAST(CustomerHierarchy02 AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(CustomerHierarchy02 AS NVARCHAR(10)) END,
 ChannelCustomerCode = case when ISNUMERIC(CustomerHierarchy03)= 1
	THEN CAST(CAST(CustomerHierarchy03 AS BIGINT) AS nvarchar(10))
	WHEN CAST(CustomerHierarchy03 AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(CustomerHierarchy03 AS NVARCHAR(10)) END,
NationalCustomerCode = case when ISNUMERIC(CustomerHierarchy04)= 1
	THEN CAST(CAST(CustomerHierarchy04 AS BIGINT) AS nvarchar(10))
	WHEN CAST(CustomerHierarchy04 AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(CustomerHierarchy04 AS NVARCHAR(10)) END,
SixCharacterPostingItemforLedger =  case when docln = '' THEN NULL 
				ELSE cast(docln as nvarchar(10)) end,
[Debit/CreditIndicator] =  case when drcrk = '' THEN NULL ELSE Cast(drcrk as nvarchar(1))end,
[PurchasingDocumentNumber] =  case when ebeln = '' THEN NULL ELSE Cast(aufnr as nvarchar(10))end,
[ItemNumberofPurchasingDocument] =  case when ebelp = '' THEN NULL ELSE Cast(ebelp as nvarchar(5))end,
[PartnerProfitCenterforEliminationofInternalBusiness] = case when ISNUMERIC(eprctr)= 1
	THEN CAST(CAST(eprctr AS BIGINT) AS nvarchar(10))
	WHEN CAST(eprctr AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(eprctr AS NVARCHAR(10)) END,
[DateonwhichServicesRendered] = CASE WHEN ISDATE(fbuda) = 1 
                        		then cast(fbuda as datetime2(7))
                                else null 
                                end,
[Period/Year] = '0'+substring(convert(VARCHAR, fiscyearper,112),5,3) + 
       left(convert(VARCHAR, fiscyearper,112),4), 
[FiscalYear] = case when gjahr = '' THEN NULL ELSE Cast(gjahr as nvarchar(4))end,
[OffsettingAccountType]  = case when gkoar = '' THEN NULL ELSE Cast(gkoar as nvarchar(1))end,
[OffsettingAccountNumber] =   case when ISNUMERIC(gkont)= 1
	THEN CAST(CAST(gkont AS BIGINT) AS nvarchar(10))
	ELSE CAST(gkont AS NVARCHAR(10)) END,
[OffsettingAccountDescription] =  cast(o.GLACCOUNTLONGNAME as nvarchar(20)),
[TypeofaGeneralLedgerAccount] =  case when glaccount_type = '' THEN NULL ELSE Cast(glaccount_type as nvarchar(1))end,
CategoryCode 	= case when isnumeric(right(H1ProductCateg,4)) =1 
					then cast(cast(right(H1ProductCateg,4) as INT) as varchar(4) ) 
					WHEN right(H1ProductCateg,1) = '' THEN NULL
 					else right(H1ProductCateg,1) end  ,
FamilyCode 		=case when isnumeric(right(H2Family,4)) =1 
					then cast(cast(right(H2Family,4) as INT ) as varchar(4))
					WHEN right(H2Family,3) = '' THEN NULL
					else right(H2Family,3) end ,
SubFamilyCode 	=case when isnumeric(right(H3SubFamily,5)) =1 
					then cast(cast(right(H3SubFamily,5) as INT ) as varchar(5))
					WHEN right(H3SubFamily,3) ='' THEN NULL
					else  right(H3SubFamily,3) end  ,
PromotionGroupCode = case when isnumeric(right(H4PromotGrp,5)) =1 
 					then  cast(cast(right(H4PromotGrp,5) as INT ) as varchar(5)) 
					WHEN right(H4PromotGrp,3) ='' THEN NULL
 					else right(H4PromotGrp,3) end , 
[MovingAveragePriceinLocalCurrency] =  hpvprs ,
[ValueinLocalCurrency] = hsl,
[SalesOrderNumber]=   case when ISNUMERIC(kdauf)= 1
	THEN CAST(CAST(kdauf AS BIGINT) AS nvarchar(10))
	WHEN  CAST(kdauf AS NVARCHAR(10)) =''THEN NULL
	ELSE CAST(kdauf AS NVARCHAR(10)) END,
[CustomerGroup] =  case when kdgrp = '' THEN NULL ELSE cast(kdgrp as nvarchar(2)) end,
[ItemNumberinSalesOrder] = case when kdpos = '' THEN NULL ELSE cast(kdpos as nvarchar(6)) end,
[ValueinGroupCurrency] = ksl,
[ChartofAccounts] = case when ktopl = '' THEN NULL ELSE cast(ktopl as nvarchar(4)) end,
[CustomerNumber] =  case when ISNUMERIC(kunnr)= 1
	THEN CAST(CAST(kunnr AS BIGINT) AS nvarchar(10))
	when CAST(kunnr AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(kunnr AS NVARCHAR(10)) END,
[Bill-toParty] =   case when ISNUMERIC(kunre)= 1
	THEN CAST(CAST(kunre AS BIGINT) AS nvarchar(10))
	WHEN CAST(kunre AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(kunre AS NVARCHAR(10)) END,
[Ship-toParty] =  case when ISNUMERIC(kunwe)= 1
	THEN CAST(CAST(kunwe AS BIGINT) AS nvarchar(10))
	WHEN CAST(kunwe AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(kunwe AS NVARCHAR(10)) END,
[AccountNumberofVendororCreditor] =  case when lifnr = '' THEN NULL ELSE cast(lifnr as nvarchar(10)) end,
[ItemCategory] =  case when linetype = '' THEN NULL ELSE cast(linetype as nvarchar(5)) end,
[MaterialGroup] =  case when matkl = '' THEN NULL ELSE cast(matkl as nvarchar(9)) end,
[MaterialNumber] =  case when ISNUMERIC(matnr)= 1
	THEN CAST(CAST(matnr AS BIGINT) AS nvarchar(40))
	WHEN CAST(matnr AS NVARCHAR(40)) = '' THEN NULL
	ELSE CAST(matnr AS NVARCHAR(40)) END,
[ProductforProfitabilityAnalysis] =  case when ISNUMERIC(matnr_copa)= 1
	THEN CAST(CAST(matnr_copa AS BIGINT) AS nvarchar(40))
	WHEN CAST(matnr_copa AS NVARCHAR(40)) = '' THEN NULL
	ELSE CAST(matnr_copa AS NVARCHAR(40)) END,
[Quantity] = msl,
[TaxonSales/PurchasesCode] =  case when mwskz = '' THEN NULL ELSE cast(mwskz as nvarchar(2)) end,
[ProfitabilitySegmentNumber(CO-PA)] = case when paobjnr = '' THEN NULL ELSE cast(paobjnr as nvarchar(10)) end,
 [PostingPeriod] = case when poper = '' THEN NULL ELSE cast(poper as nvarchar(3)) end,
[ProfitCenter] =  case when ISNUMERIC(prctr)= 1
	THEN CAST(CAST(prctr AS BIGINT) AS nvarchar(10))
	WHEN CAST(prctr AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(prctr AS NVARCHAR(10)) END,
[AccountNumber] =   case when ISNUMERIC(racct)= 1
	THEN CAST(CAST(racct AS BIGINT) AS nvarchar(10))
	WHEN CAST(racct AS NVARCHAR(10)) = '' THEN NULL
	ELSE CAST(racct AS NVARCHAR(10)) END,
[AccountDescription] = case when a.GLACCOUNTLONGNAME  = '' THEN NULL ELSE cast(a.GLACCOUNTLONGNAME as  nvarchar(20)) end,
[CategoryofReferencePurchaseOrder] = case when rbest = '' THEN NULL ELSE cast(rbest as nvarchar(3)) end,
[CompanyCode] = case when rbukrs = '' THEN NULL ELSE cast(rbukrs as nvarchar(4)) end,
[CostCenter] =   case when rcntr = '' THEN NULL ELSE cast(right(rcntr,4) as nvarchar(10)) end,
[NumberoftheInvoicetheTransactionBelongsTo] = case when rebzg = '' THEN NULL ELSE cast(rebzg as nvarchar(10)) end,
[LineItemintheRelevantInvoice] = case when rebzz = '' THEN NULL ELSE cast(rebzz as nvarchar(3)) end,
[FunctionalArea]=  case when rfarea = '' THEN NULL ELSE cast(rfarea as nvarchar(16)) end,
[LocalCurrency] = case when rhcur = '' THEN NULL ELSE cast(rhcur as nvarchar(5)) end,
[LedgerinGeneralLedgerAccounting] =   case when rldnr = '' THEN NULL ELSE cast(rldnr as nvarchar(2)) end,
 [CurrencyKey] =   case when rtcur = '' THEN NULL ELSE cast(rtcur as nvarchar(5)) end,
[BaseUnitofMeasure] =  case when runit = '' THEN NULL ELSE cast(runit as nvarchar(5)) end,
[UnitofMeasureforValuationQuantity] =  case when rvunit = '' THEN NULL ELSE cast(rvunit as nvarchar(3)) end,
[CurrencyKeyofOriginalTransactionCurrency] =   case when rwcur = '' THEN NULL ELSE cast(rwcur as nvarchar(5)) end,
 [GeneralLedgerFiscalYear] =  case when ryear = '' THEN NULL ELSE cast(ryear as nvarchar(4)) end,
[ObjectClass] = case scope  
				when 'IV'  then 'INVST'
				when 'OC'  then 'OCOST'
				when 'PA'	then 'PROFT'
				when 'PR'	then 'PRODT'
				else SCOPE
				end,
[SettlementUnit] =  case when sempsl = '' THEN NULL ELSE cast(sempsl as nvarchar(5)) end,
[DistributionRuleGroup] =   case when settlement_rule = '' THEN NULL ELSE cast(settlement_rule as nvarchar(3)) end,
[PartnerFunctionalArea] =  case when sfarea = '' THEN NULL ELSE cast(sfarea as nvarchar(16)) end,
[ItemText] =  case when sgtxt = '' THEN NULL ELSE cast(sgtxt as nvarchar(50)) end,
[TimeStampinShortForm] =j.POSTEDDATETIME,
[ValueinTransactionCurrency] = tsl ,
[OriginCostCenter] =  case when ukostl = '' THEN NULL ELSE cast(right(ukostl,4) as nvarchar(10)) end,
 [UserName] =  case when usnam = '' THEN NULL ELSE cast(usnam as nvarchar(12)) end,
[FixedValuationQuantity] = vmfsl,
[ValuationQuantity] = vmsl,
 [TransactionTypeforGeneralLedger] =  case when vorgn = '' THEN NULL ELSE cast(vorgn as nvarchar(4)) end,
 [BusinessTransactionCO] =   case when vrgng = '' THEN NULL ELSE cast(vrgng as nvarchar(4)) end,
[Plant] =   case when werks = '' THEN NULL ELSE cast(werks as nvarchar(4)) end,
[ValueinOriginalTransactionCurrency(DocumentCurrency)] = wsl,
DT_Created = Getdate()
from [SAPSTG].[ZXCACDOCACOM] j WITH (NOLOCK)
left join SAPSTG.ZXCGLACCTXT a on a.GLAccount=j.racct and a.CHARTOFACCOUNTS=j.KTOPL
left join SAPSTG.ZXCGLACCTXT o on o.GLAccount=j.gkont and o.CHARTOFACCOUNTS=j.KTOPL
	  Where gjahr = @CurrentFY
GO
