USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Stg_Linfox_Difot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[usp_Insert_Stg_Linfox_Difot]
as 

delete Stg.Linfox_Difot where LoadDate = SYSDATETIME()

Insert into Stg.Linfox_Difot(
       [LoadDate]
      ,[Delivery]
      ,[Actual Delivery Date]
      ,[Vendor Name])

Select 
       [LoadDate]
      ,[Delivery]
      ,convert(date,[Actual Delivery Date],103) AS [Actual Delivery Date]
      ,[Vendor Name]	   
             
    From [stg].[Linfox_DifotDelivery]
   

	    --where [Actual Delivery Date]=(Select max([Actual Delivery Date]) From [stg].[DifotDelivery])
GO
