USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_OEE_Stoppages]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Kishor Shinde
-- Create date: 28/08/2023
-- Description:	Delete and insert last 2 days data in Fact table
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Insert_Fact_OEE_Stoppages] 
 AS
BEGIN

--Delete last 2 days data  from Fact.Stoppages

Declare @MaxUpdateDate varchar (8) = ( Select coalesce(convert(varchar(8),max(cast([UpdateTime] as datetime))-2, 112), 20200101)
from [FACT].[OEE_Stoppages])
 
	Delete from [FACT].[OEE_Stoppages]  
	where convert(varchar(8),cast([UpdateTime] as datetime), 112) >= @MaxUpdateDate 


----Insert last 5 days data in Fact.Stoppages
Insert into [FACT].[OEE_Stoppages] 
	SELECT  Getdate() as LoadDateTime
		,[UID]
      ,[WorkCenterName]
      ,[OrderNumber]
      ,[MaterialNumber]
      ,[MaterialDesc]
	  ,[StoppageStartTime]
		,convert(varchar, cast(left(StoppageStartTime,11) as Date),101) AS [Stoppage_StartDate] 
		,convert(varchar,cast(Right(StoppageStartTime,8) as Time),22) AS [Stoppage_StartTime]  
		,[StoppageEndTime]
		,convert(varchar, cast(left([StoppageEndTime],11) as Date),101) AS [Stoppage_EndDate] 
		,convert(varchar,cast(Right([StoppageEndTime],8) as Time),22) AS [Stoppage_EndTime] 
		,[StoppageDuration]
		,StoppageDuration/Convert(float, 60) AS [StopMins]
		,StoppageDuration/Convert(float, 3600) AS [StopHours]
        , Case when StoppageDuration <300 or ReasonName ='Unassigned' then 'Minor Stop'
            when ParentReason1 = '' then ReasonName
            when ParentReason2 = '' then ParentReason1
            when ParentReason3 = '' then ParentReason2
            when ParentReason4 = '' then ParentReason3
        Else ParentReason4 END AS TopReason
        , Case when StoppageDuration <300 or ReasonName ='Unassigned' then NULL
            when ParentReason1 = '' then NULL
            when ParentReason2 = '' then ReasonName
            when ParentReason3 = '' then ParentReason1
            when ParentReason4 = '' then ParentReason2
        Else ParentReason3 END AS ChildReason1
        , Case when StoppageDuration <300 or ReasonName ='Unassigned' then NULL
            when ParentReason1 = '' then NULL
            when ParentReason2 = '' then NULL
            when ParentReason3 = '' then ReasonName
            when ParentReason4 = '' then ParentReason1
        Else ParentReason2 END AS ChildReason2
        , Case when StoppageDuration <300 or ReasonName ='Unassigned' then NULL
            when ParentReason1 = '' then NULL
            when ParentReason2 = '' then NULL
            when ParentReason3 = '' then NULL
            when ParentReason4 = '' then ReasonName
        Else ParentReason1 END AS ChildReason3
         , Case when StoppageDuration <300 or ReasonName ='Unassigned' then NULL
            when ParentReason1 = '' then NULL
            when ParentReason2 = '' then NULL
            when ParentReason3 = '' then NULL
            when ParentReason4 = '' then NULL
        Else Reasonname END AS ChildReason4
      ,[UserName]
      ,[UserComment]
      ,cast([UpdateTime] as datetime) as [UpdateTime]
	  ,convert(varchar, cast(left(StoppageStartTime,11) as Date),112)  As DateKey
	  ,convert(numeric,left(stoppagestarttime,2)) as Day
	,right(left(stoppagestarttime,6),3) as Month
	,right(left(stoppagestarttime,11),4) as Year
	FROM  [Stg].[OEE_Data_Stoppages]   
	where convert(varchar(8),cast([UpdateTime] as datetime), 112) >= @MaxUpdateDate  

END
GO
