USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[LoadJob]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[LoadJob]
AS
BEGIN
	TRUNCATE TABLE [dbo].[Job];

	INSERT [dbo].[Job] (
		[job_id]
	,	[name]
	,	[step_count]
	)
	SELECT
		j.[job_id]
	,	j.[name]
	,	COUNT(*)	AS [step_count]
	FROM msdb.dbo.sysjobsteps s
	JOIN msdb.dbo.sysjobs j
	ON j.[job_id] = s.[job_id]
	GROUP BY j.[job_id], j.[name]
END
GO
