USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_ProjectedSalesSnapshot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <05/05/2022>
-- Description:	<POPULATE Fact.ProjectedSalesSnapshot>
-- =============================================

Create PROCEDURE [dbo].[usp_Insert_Fact_ProjectedSalesSnapshot]
AS
BEGIN

TRUNCATE TABLE [Fact].[ProjectedSalesSnapshot];

WITH
  ActualSnapshots AS
   (
   SELECT getdate() as LoadDateTime,
    cast(m.FiscalYear as char(4)) + '-W' + right(100+m.FiscalWeek,2) as Version
    ,m.WeekendDate as VersionDate
    ,w.WeekendDate 
    ,IsCommittedForecast = case when m.MonthendDate=m.WeekendDate then 1 else 0 end
    ,c.NationalCustomerCode 
    ,s.ProductNo 
     ,sum(s.ActualSalesQuantity) AS SalesQuantity -- QTY
    ,sum(s.ActualInvoiceDiscount) as InvoiceDiscount--OID
    ,sum(s.ActualNetInvoiceValue) AS NetInvoiceValue -- NIV
    ,sum(s.ActualCaseDiscount) as CaseDiscount --DCD
    ,sum(s.ActualTermsDiscount) as TermsDiscount--DTD,
    ,sum(s.ActualOtherDiscount) as OtherDiscount -- DOD
    ,sum(s.ActualCOGS) as COGS -- COGS
    ,sum(s.ActualGrossMargin) as GrossMargin --GMC
    ,sum(s.ActualFreightOutbound) AS FreightCost --FRT
    ,'A' as Source
  FROM
    Fact.ActualSales s WITH (NOLOCK)
    INNER JOIN Dim.Customer c  WITH (NOLOCK) ON (s.CustomerNo = c.CustomerNo)
    INNER JOIN Dim.CalendarDate w  WITH (NOLOCK) ON (s.WeekCommenceDate = w.CalendarDate)
    CROSS JOIN Dim.CalendarDate m  WITH (NOLOCK)
    WHERE
    m.CalendarMonthOffset between 0 and 12 and w.WeekendDate between dateadd(week,-52,m.WeekendDate) and m.WeekendDate
    and m.IsWeekend=1 
  GROUP BY
    m.FiscalYear,
    m.WeekendDate,
    w.WeekendDate,
    c.NationalCustomerCode,
    c.NationalCustomer,
    s.ProductNo,
    m.WeekendDate,
    m.FiscalWeek,
     m.MonthendDate
     
    )
    ,
    ForecastSnapshots AS
    
    (
    SELECT getdate() as LoadDateTime,
    cast(m.FiscalYear as char(4)) + '-W' + right(100+m.FiscalWeek,2) as Version
    ,m.WeekendDate as VersionDate
    ,w.WeekendDate 
    ,IsCommittedForecast = case when m.MonthendDate=m.WeekendDate then 1 else 0 end
    ,c.NationalCustomerCode 
    ,f.ProductNo 
    ,round(sum(f.SalesQuantity),1) AS SalesQuantity -- QTY
    ,round(sum(f.InvoiceDiscount),2) as InvoiceDiscount--OID
    ,round(sum(f.NetInvoiceValue),2) AS NetInvoiceValue -- NIV
    ,round(sum(f.CaseDiscount),2) as CaseDiscount --DCD
    ,round(sum(f.TermsDiscount),2) as TermsDiscount--DTD,
    ,round(sum(f.OtherDiscount),2) as OtherDiscount -- DOD
    ,round(sum(f.COGS),2) as COGS -- COGS
    ,round(sum(f.GrossMargin),2) as GrossMargin --GMC
    ,round(sum(f.FreightCost),2) AS FreightCost --FRT
    ,'F' as Source
  
	FROM  FAct.WeekLatestForecastSnapshot f  
	INNER JOIN Dim.Customer c ON (f.CustomerNo = c.CustomerNo)
	INNER JOIN Dim.CalendarDate w ON ( f.FiscalYear = w.FiscalYear) and (f.FiscalWeek = w.FiscalWeek)
	INNER JOIN Dim.CalendarDate m ON (f.SnapshotDate= m.CalendarDate)
	WHERE
    m.CalendarMonthOffset between 0 and 12 and w.WeekendDate between
     dateadd(week,1,m.WeekendDate) and dateadd(week,53,m.WeekendDate) 
     and w.IsWeekend=1  
     and m.IsWeekend=1 
   GROUP BY
    m.FiscalYear,
    m.WeekendDate,
    w.WeekendDate,
    c.NationalCustomerCode,
    c.NationalCustomer,
    f.ProductNo,
    m.WeekendDate,
    m.FiscalWeek,
    m.MonthendDate
   )
    -- Put Actuals and Forecasts Together
   Insert into Fact.ProjectedSalesSnapshot 
   SELECT * from ActualSnapshots
    UNION ALL
    SELECT * from ForecastSnapshots

END

GO
