USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_fact_Difot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE Procedure [dbo].[usp_Insert_fact_Difot]
as 
Truncate Table fact.Difot;

with calc as(

Select 
       Replace(LTRIm(REPLACE([SHIPTOPARTY],0,' ')),' ',0) as [SHIPTOPARTY]
      ,Replace(LTRIm(REPLACE([SOLDTOPARTY],0,' ')),' ',0) as [SOLDTOPARTY]
      ,Replace(LTRIm(REPLACE(sap.[VENDOR],0,' ')),' ',0) as [VENDOR]
      ,[OrderQty]
      ,[DeliveryQty]
      ,[ConfirmedOrderQty]
      ,Replace(LTRIm(REPLACE([MATERIAL],0,' ')),' ',0) as [MATERIAL]
      ,[PLANNEDGIDATE]
      ,[ACTUALGIDATE]
      ,[RejectionReason]
      ,[DELIVERYDATE]
      ,[DELIVERYCREATEDATE]
      ,[CREATEDON]
      ,Replace(LTRIm(REPLACE([ORDERS],0,' ')),' ',0) as [ORDERS]
      ,[ORDERITM]
      ,Replace(LTRIm(REPLACE(sap.[DELIVERY],0,' ')),' ',0) as [DELIVERY]
      ,[DELIVERYITM]
      ,[IFHit]
      ,[OTHit]
	  ,Case
	      WHEN [Actual Delivery Date] <= [DELIVERYDATE] THEN 1              --Added by SHiva
           ELSE 0
         END AS [OT2]
      ,[DIFOT1]
	  ,[DIFOT2]= Round([DeliveryQty]*100/[OrderQty],2)                                                --Added by shiva
	  ,[DIFOT2 %]=Cast(round((DeliveryQty * 100 / OrderQty),2) as varchar)+' %'  
      ,[IFHitChar]
      ,[OTHitChar]
      ,Replace(LTRIm(REPLACE([Plant],0,' ')),' ',0) as [Plant]
      ,[LoadDateTime]
      ,[Unit]
      ,[VendorState]
      ,[RejectionReasonDescription]
      ,[OrderNV]
      ,[DeliveredOrderNV]
      ,[ShippingPoint]
      ,[ShippingPointDescription]
	  ,od.[Actual Delivery Date]                                           --Added by shiva
    From [sapstg].[Difot] sap
	Left join [ODS].[Difot_Delivery] od                                   --Added by Shiva
	on 
    Replace(LTRIm(REPLACE(Sap.[VENDOR],0,' ')),' ',0) =Replace(LTRIm(REPLACE(od.[VENDOR],0,' ')),' ',0)      -----Added by shiva to match Vendor First
	AND
	Replace(LTRIm(REPLACE(Sap.DELIVERY,0,' ')),' ',0) =Replace(LTRIm(REPLACE(od.Delivery,0,' ')),' ',0)     --Added by shiva

	where Sap.ORDERITM is not null or sap.ORDERITM <> ''
)

Insert into  fact.Difot(
 [SHIPTOPARTY]
      ,[SOLDTOPARTY]
      ,[VENDOR]
      ,[OrderQty]
      ,[DeliveryQty]
      ,[ConfirmedOrderQty]
      ,[MATERIAL]
      ,[PLANNEDGIDATE]
      ,[ACTUALGIDATE]
      ,[RejectionReason]
      ,[DELIVERYDATE]
      ,[DELIVERYCREATEDATE]
      ,[CREATEDON]
      ,[ORDERS]
      ,[ORDERITM]
      ,[DELIVERY]
      ,[DELIVERYITM]
      ,[IFHit]
      ,[OTHit]
	  ,[OT2]
      ,[DIFOT1]
	  ,[DIFOT2]
	  ,[DIFOT2%]
	  ,[DIFOT3]
      ,[IFHitChar]
      ,[OTHitChar]
      ,[Plant]
      ,[LoadDateTime]
      ,[Unit]
      ,[VendorState]
      ,[RejectionReasonDescription]
      ,[OrderNV]
      ,[DeliveredOrderNV]
      ,[ShippingPoint]
      ,[ShippingPointDescription]
	  ,[Actual Delivery Date]                                            --Added by Shiva 30/9/2024
	  )

Select 
       [SHIPTOPARTY]
      ,[SOLDTOPARTY]
      ,[VENDOR]
      ,[OrderQty]
      ,[DeliveryQty]
      ,[ConfirmedOrderQty]
      ,[MATERIAL]
      ,[PLANNEDGIDATE]
      ,[ACTUALGIDATE]
      ,[RejectionReason]
      ,[DELIVERYDATE]
      ,[DELIVERYCREATEDATE]
      ,[CREATEDON]
      ,[ORDERS]
      ,[ORDERITM]
      ,[DELIVERY]
      ,[DELIVERYITM]
      ,[IFHit]
      ,[OTHit]
	  ,[OT2]                                                           --Added by shiva
      ,[DIFOT1] 
	  ,[DIFOT2]                                                             --Added by shiva
	  ,[DIFOT2 %]
	  ,[DIFOT3]=[IFHit]*[OT2]*100                                         --Added by shiva
      ,[IFHitChar]
      ,[OTHitChar]
      ,[Plant]
      ,[LoadDateTime]
      ,[Unit]
      ,[VendorState]
      ,[RejectionReasonDescription]
      ,[OrderNV]
      ,[DeliveredOrderNV]
      ,[ShippingPoint]
      ,[ShippingPointDescription]
	  ,[Actual Delivery Date]                                           --Added by shiva
    From Calc
GO
