USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_ODS_Calendar]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE  PROCEDURE [dbo].[usp_ODS_Calendar]  
AS  
SET DATEFIRST 1;  
TRUNCATE TABLE ODS.Calendar;  
  
INSERT INTO ODS.Calendar  
SELECT   
     sysdatetime() as LoadDateTime  
    ,CONVERT(VARCHAR(8), DT_SQL, 112) DateKey  
 ,CONVERT(DATE, DT_SQL, 112) CalendarDate  
 ,Min(DT_SQL) OVER (PARTITION BY YEAR_INT,WEEK_INT ORDER BY WEEK_INT) AS WeekcommenceDate  
 ,MAX(DT_SQL) OVER (PARTITION BY YEAR_INT,WEEK_INT ORDER BY WEEK_INT) AS WeekendDate  
 ,MAX(DT_SQL) OVER (PARTITION BY YEAR_INT,MONTH_INT ORDER BY MONTH_INT) AS MonthEndDate  
 ,MAX(DT_SQL) OVER (PARTITION BY YEAR_INT,QUARTER_INT ORDER BY QUARTER_INT) AS QuarterendDate  
 ,MAX(DT_SQL) OVER (ORDER BY YEAR_INT) AS YearendDate  
 ,IsYearEnd = 1  
 ,IsQuarterEnd = 1  
 ,IsPeriodEnd = 1  
 ,YEAR_INT AS CalendarYear  
 ,WEEK_YEAR_INT AS WeekYear  
 ,CalendarHalfYear = CASE   
  WHEN [Month] < 7  
   THEN 1  
  ELSE 2  
  END  
 ,CalendarHalfYearName = CASE   
  WHEN [Month] < 7  
   THEN 'Jan-Jun'  
  ELSE 'Jul-Dec'  
  END  
 ,QUARTER_INT AS CalendarQuarter  
 ,CONVERT(VARCHAR(4), YEAR) + '-Q' + CONVERT(VARCHAR(2), QUARTER_INT) AS CalendarQuarterName  
 ,CalendarMonth = MONTH_INT  
 ,CalendarMonthName = DATENAME(MONTH, DT_SQL)  
 ,CalendarMonthNameLong = DATENAME(MONTH, DT_SQL) + ' ' + YEAR  
 ,CalendarMonthNameShort = FORMAT(DT_SQL, 'MMM')  
 ,CalendarWeekOfMonth = CONVERT(Int, DENSE_RANK() OVER (PARTITION BY WEEK_YEAR_INT,Month_int ORDER BY WEEK_INT ASC))  
 ,CalendarWeekOfYear = WEEK_INT  
 ,DAY  
 ,DaySuffix = CONVERT(CHAR(2), CASE   
   WHEN [Day] / 10 = 1  
    THEN 'th'  
   ELSE CASE RIGHT([day], 1)  
     WHEN '1'  
      THEN 'st'  
     WHEN '2'  
      THEN 'nd'  
     WHEN '3'  
      THEN 'rd'  
     ELSE 'th'  
     END  
   END)  
 ,Weekday = DATEPART(WEEKDAY, DT_SQL)  
 ,WeekdayNameLong = CONVERT(VARCHAR(10), DATENAME(WEEKDAY, DT_SQL))  
 ,WeekDayNameShort = CONVERT(CHAR(3), left(DATENAME(WEEKDAY, DT_SQL), 3))  
 ,CalendarDayOfYear = CONVERT(SMALLINT, DATEPART(DAYOFYEAR, DT_SQL))  
 ,IsWeekendDay = CASE WHEN CONVERT(VARCHAR(10), DATENAME(WEEKDAY, DT_SQL)) IN ('Saturday', 'Sunday')  
   THEN 1  
  ELSE 0  
  END  
 ,IsHoliday = 0  
 ,HolidayText = NULL  
 ,ISOWeekOfYear = DATEPART(ISO_WEEK, DT_SQL)  
 ,CalendarPriorYear = (YEAR_INT - 1)  
 ,CalendarDayOffset = 1  
 ,CalendarWeekOffset = 1  
 ,CalendarMonthOffset = 1  
 ,CalendarQuarterOffset = 1  
 ,CalendarYearOffset = Year(cast(getdate() AS DATE)) - [year]  
 ,WorkingDayNumber = null  
 ,WorkingDatePrior = cast(getdate() as date )  
 ,WorkingDateNext = cast(getdate() as date )  
 ,WorkingDayOffset = 1  
 ,CalendarMMYYYY = Month+''+YEAR  
 ,CalendarMonthYear = FORMAT(DT_SQL, 'MMM')+' '+YEAR --CalendarMonthNameLong also holding same value.  
 ,CalendarFirstDayOfMonth =CONVERT(DATE, DATEADD(MONTH, DATEDIFF(MONTH, 0, DT_SQL), 0))-- MIN(DT_SQL) OVER (PARTITION BY [year],[month])  
 ,CalendarLastDayOfMonth = MAX(DT_SQL) OVER (PARTITION BY [year],[month])  
 ,CalendarFirstDayOfQuarter = MIN(DT_SQL) OVER (PARTITION BY [year],[quarter])  
 ,CalendarLastDayOfQuarter = MAX(DT_SQL) OVER (PARTITION BY [year],[quarter])  
 ,CalendarFirstDayOfYear = CONVERT(DATE, DATEADD(YEAR,  DATEDIFF(YEAR,  0, DT_SQL), 0))--MIN(DT_SQL) OVER (PARTITION BY [year])  
 ,CalendarLastDayOfYear = MAX(DT_SQL) OVER (PARTITION BY [year])  
 ,CalendarFirstDayOfNextMonth = DATEADD(MONTH, 1, CONVERT(DATE, DATEADD(MONTH, DATEDIFF(MONTH, 0, DT_SQL), 0)))  
 ,CalendarFirstDayOfNextYear = DATEADD(YEAR, 1, CONVERT(DATE, DATEADD(YEAR,  DATEDIFF(YEAR,  0, DT_SQL), 0)))  
FROM [SAPSTG].[TIME_CALENDAR] cal  
WHERE cal.YEAR BETWEEN 2000 AND 2050  
--Update PublicHoliday Fields  
EXEC Usp_AustralianPublicHoliday  
  
--Update all offsets for Calendar  
;WITH calendar_weeks  
AS (  
 SELECT CalendarYear  
  ,max(CalendarWeekOfYear) AS MaxCalendarWeeks  
 FROM ODS.Calendar x  
 WHERE x.CalendarYear = cast(year(getdate()) AS INT)  
 GROUP BY CalendarYear  
 )  
 ,current_dates  
AS (  
 SELECT g.CalendarYear AS CurrentYear  
  ,g.CalendarQuarter AS CurrentQuarter  
  ,g.CalendarMonth AS CurrentMonth  
  ,g.CalendarWeekOfYear AS CurrentWeek  
  ,g.CalendarDayOfYear AS CurrentDay  
  ,w.MaxCalendarWeeks  
 FROM ODS.Calendar g  
 INNER JOIN calendar_weeks w ON w.CalendarYear = g.CalendarYear  
 WHERE g.CalendarDate = cast(getdate() AS DATE)  
 )  
UPDATE g  
SET g.CalendarYearOffset = c.CurrentYear - g.CalendarYear  
 ,g.CalendarQuarterOffset = (((C.CurrentYear - g.CalendarYear) * 4) + c.CurrentQuarter) - g.CalendarQuarter  
 ,g.CalendarMonthOffset = (((C.CurrentYear - g.CalendarYear) * 12) + c.CurrentMonth) - g.CalendarMonth   
 ,g.CalendarWeekOffset =(DATEDIFF(day, dateadd(day,-(DATEPART(DW,CONVERT(DATE,DATEADD(DAY,0,g.CalendarDate)))-1),g.CalendarDate),  (dateadd(day,-DATEPART(DW,CONVERT(DATE,DATEADD(DAY,0,GETDATE()))),GETDATE())+1)))/ 7   
 ,g.CalendarDayOffset = DATEDIFF(day, g.CalendarDate, cast(getdate() AS DATE))  
FROM ODS.Calendar g  
CROSS JOIN current_dates c;  
  
  
GO
