USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_Purchase_RequisitionAgreement]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD [ODS].[Purchase_Requisition]>
1.0			22/09/2025			Rahul Verma			Added CondAmtConvertedBase in insert statement and Removed ForexConversionFactorfrom calculation
-- =============================================*/

CREATE PROCEDURE [dbo].[usp_Insert_ODS_Purchase_RequisitionAgreement]
AS

--Delete existing data from ODS table

TRUNCATE TABLE  [ODS].[PurchaseRequisition]

--Insert data into ODS tabl
Begin
with UomTranslation as
(Select uom.*, t006.MSEHI as ExternalConversionUnit from ods.Oum uom
left join sapstg.CV_PR_T006B t006
on uom.ConversionUnit = t006.MSEH3),
GetVendor as(
select Getdate() as LoadDateTime
  ,AN.[PRNo]
      ,AN.[PRItmNo]
      ,AN.[Plant]
      ,AN.[MatNo]
      ,AN.[PRUOM]
      ,AN.[PRDocType]
      ,AN.[DeletIndicPurcDoc]
      ,AN.[PurcGrp]
      ,AN.[CreationIndic]
      ,AN.[LastChgDate]
      ,AN.[StrgLoc]
      ,AN.[ReqsDate]
      ,AN.[ItemDelvDate]
      ,AN.[PRReleaseDate]
      ,AN.[PurcDocItemCat]
     ,AN.[InvcRcptIndic]
      ,AN.[Supplier]
      ,AN.[PurcOrg]
      ,AN.[PrncplPurcAgrmtNo] as [PrincPurcAgrmtNo]
      ,AN.[PrncplPurcAgrmtItmNo] as PrincPurcAgrmtItmNo
      ,AN.[PONo]
      ,AN.[POItmNo]
      ,AN.[PODate]
      ,AN.[PRClosed]
      ,AN.[POUOM]
      ,AN.[Customer]
      ,AN.[CommittedDate]
      ,AN.[CurrKey]
      ,AN.[PRProcessStatus]
      ,AN.[MANDT]
      ,AN.[PRQty]
      ,AN.[PRPrice]
      ,AN.[PRPriceUnit]
      ,AN.[StrgQty]
      ,AN.[PRQtyOrdered]
      ,AN.[CommittedQty]
      ,AN.[TotValAtReleaseTime]
  ,RD.Vendor
, RD.ValidFrom
, RD.ValidTo
      ,ORD.[PO]
      ,ORD.POItem
      ,[ORD].[POUnit]
      ,[ORD].[PurcDocItemChgDat]
      ,[ORD].[CompCode]
      ,[ORD].[Storageloc]
  ,AN.MatGrp
      ,[ORD].[MatNoOfSupplier]
      ,[ORD].[OrdPriceUnit]
  ,AN.GoodsRcptIndic
      ,[ORD].[BaseUOM]
      ,AN.[PrncplPurcAgrmtNo]
      ,AN.[PrncplPurcAgrmtItmNo]
  ,AN.PurcDocCat
  , '' as CustomerNo
      ,[ORD].[UnitOfWt]
      ,[ORD].[VolumeUnit]
      ,[ORD].[MatType]
      ,[ORD].[MatFrgtGrp]
      ,[ORD].[CC_PBIMAt]
      ,[ORD].[POQty]
      ,[ORD].[NetPrice]
      ,[ORD].[TargetQty]
      ,[ORD].[NumerConvOrdPrcUnitToOrdUnit]
      ,[ORD].[DenomConvOrdPrcUnitToOrdUnit]
      ,[ORD].[NumerConvOrdUnitToBaseUnit]
      ,[ORD].[DenomConvOrdUnitToBaseUnit]
      ,[ORD].[PriceUnit]
      ,[ORD].[NetOrdValInPOCurr]
      ,[ORD].[GrosOrdValInPOCurr]
      ,[ORD].[StdRelsOrdQty]
      ,[ORD].[ItmEffecVal]
      ,[ORD].[PlanDelvTimeInDays]
      ,[ORD].[NetWt]
      ,[ORD].[GrsWt]
      ,[ORD].[Volume]
      ,'AUD' as Currency
      ,[ORD].[PurcDocStat]
      ,[ORD].[RecCreatDate]
      ,[ORD].[LangKey]
      ,[ORD].[ExchgRate]
      ,[ORD].[PurcDocDate]
      ,[ORD].[StartofValPer]
      ,[ORD].[EndofValPer]
      ,[ORD].[QuotSubmiDate]
      ,[ORD].[GoodsSupplier]
      ,[ORD].[PurcDocProcessState]
,'Agreement' as [Flow]
, '' as ConditionRecNo
, '19000101' as CondiRecValStartDate
, '20990101' as CondiRecValEndDate
, 'N' as Flow17
, 'N' as Flow18
,AN.[PRQty] * UOMPR.ConversionFactor as PRQtyConvertedBase
,'AUD' as [CondAmtUnit]
,[ORD].[OrdPriceUnit] as ScaleQtyUOM
,[ORD].[OrdPriceUnit] as ConditionBaseUOM
,0 as [CondScaleQtyFrom]
,999999999 as [CondScaleQtyTo]
,[ORD].[NetPrice] as [CondAmt]
,[ORD].[NetPrice] /UOMScale.ConversionFactor as [CondAmtConvertedBase]
,[ORD].[PriceUnit] as [ScalePrcUnit]
,1 as [NumConvCondUnitToBaseUnt]
,1 as [DenomConvCondUnitToBaseUnt]
,1 as [CondScaleQtyFromConvertedBase]
,1 as [CondScaleQtyToConvertedBase]
,'' as [PIRNo]
,0 as [PIRPrice]
,1 as [PIRPRiceUnit]
,[ORD].[OrdPriceUnit] as OrderPriceUoM
,'19000101' as ValidtoPIR
,Case when ORD.ExchgRate < 0 then -1/ORD.ExchgRate else ORD.ExchgRate end as [ForexConversionFactor]
,'19000101' as ValidFromForex
FROM SAPSTG.CV_PR_EBAN as AN
left join SAPSTG.CV_PR_EORD as RD 
			ON RD.Plant = AN.Plant 
			AND RD.MANDT = AN.MANDT 
			AND AN.MatNo = RD.MatNo 
			AND AN.PrncplPurcAgrmtNo = RD.Agreement
			AND AN.PrncplPurcAgrmtItmNo = RD.AgreementItem
left join ODS.PurchaseOrder ORD	
		ON AN.PrncplPurcAgrmtNo=ORD.PO 
		AND AN.PrncplPurcAgrmtItmNo = ORD.POItem  
		AND AN.MatNo = ORD.MatNo
		AND AN.MANDT = ORD.MANDT
left join UomTranslation uompr
on uompr.RecipeNo = replace(ltrim(replace(AN.MatNo,'0',' ')),' ','0') 
and uompr.ExternalConversionUnit = AN.PRUOM
left join UomTranslation UOMScale
on UOMScale.RecipeNo =  replace(ltrim(replace(AN.MatNo,'0',' ')),' ','0') 
and UOMScale.ExternalConversionUnit =ORD.POUnit
Where AN.PrncplPurcAgrmtNo is not null and AN.PrncplPurcAgrmtNo != ''
and (RD.FixSupplier  = 'X' or RD.FixAgreement= 'X')
and ORD.PurcDocCat = 'K'
and AN.ItemDelvDate >= RD.ValidFrom
and AN.ItemDelvDate <= RD.ValidTo),
POCond As 
(
select PO.*, 
ko.CondRecNo as CondRecFrt,
--CondRecNo, 
Coalesce(ko.CondAmt,0) as CondAmtFrt,
ko.CondType as CondtypeFrt, 
coalesce(ko.CondAmtUnit,'AUD') as CondAmtUnitFrt
,Case when ko.CondRecNo is null then 1 else 0 end as Select1718
from GetVendor po
left outer join
SAPSTG.CV_PR_A017 as A17
       ON A17.MaterialNo = po.MatNo
       AND A17.Vendor = po.Vendor
       AND A17.MANDT = po.MANDT
       AND A17.Plant = po.Plant
	   AND po.ItemDelvDate>=A17.CondiRecValStartDate and po.ItemDelvDate <= A17.CondiRecValEndDate
	   and A17.[PurcInfoRecCat] = '0'
left outer join
SAPSTG.CV_PR_KONP ko
	   on ko.CondRecNo = A17.ConditionRecNo
and ko.CondType = 'FRB2'
--and PO = '4500088645'
UNION 
select po1.*,
ko1.CondRecNo as CondRecFrt,
--CondRecNo, 
Coalesce(ko1.CondAmt,0) as CondAmtFrt,
ko1.Condtype as CondtypeFrt, 
coalesce(ko1.CondAmtUnit,'AUD') as CondAmtUnitFrt
,Case when ko1.CondRecNo is null then 2 else 0 end as Select1718
from GetVendor po1
left outer join
		SAPSTG.CV_PR_A018 as A18

		ON A18.MaterialNo = po1.MatNo
       AND A18.Vendor = po1.Vendor
       AND A18.MANDT = po1.MANDT
       and po1.ItemDelvDate>=A18.CondiRecValStartDate and po1.ItemDelvDate <= A18.CondiRecValEndDate
	   and  A18.[PurcRecInfoCat] = '0'
 		left outer join 
		SAPSTG.CV_PR_KONP ko1
	   on ko1.CondRecNo = A18.ConditionRecNo
and ko1.CondType = 'FRB2'
),
PRACondForex as(
Select * from 
(
select Po1.*,
case when forex.ExchangeRate < 0 then -1/ExchangeRate else ExchangeRate end as ForexConversionFactorFrt,  forex.ValidFrom as ValidFromForexFrt
, RANK() Over ( Partition By PO, POItem
Order By forex.ValidFrom desc) as RankNoFrt
, RANK() Over (Partition BY PO,POItem
Order By Select1718) as RankSelect
from POCond Po1
inner join 
 SAPSTG.cv_pr_tcurr forex
on Po1.CondAmtUnit = forex.ToCurrency
and Po1.CondAmtUnit != 'AUD'
and forex.FromCurrency = 'AUD'
and forex.ValidFrom <=  ItemDelvDate
union 
Select *, 1 as ForexConversionFactor,
'99991231' as ValidFromForex,
1 as RankNoFrt
, RANK() Over (Partition BY PO,POItem
Order By Select1718) as RankSelect
from POCond Po2
where Po2.CondAmtUnit = 'AUD'
) as A
Where A.RankNoFrt = 1 and A.RankSelect = 1),
PRACondForexAggr as (
select PRNo,PRItmNo,Plant,MatNo,PRUOM,PRDocType,PurcDocCat, DeletIndicPurcDoc,
PurcGrp, CreationIndic,LastChgDate,StrgLoc, MatGrp, ReqsDate, ItemDelvDate,
PRReleaseDate,PurcDocItemCat,GoodsRcptIndic,InvcRcptIndic,Supplier,
PurcOrg,PrncplPurcAgrmtNo,PrncplPurcAgrmtItmNo,PONo,POItmNo, PODate, PRClosed,
POUOM,Customer,CommittedDate,CurrKey,PRProcessStatus,Vendor,MANDT, ValidFrom,
ValidTo,PRQty,PRPrice,PRPriceUnit, StrgQty,PRQtyOrdered, CommittedQty, TotValAtReleaseTime
, 'PPR0' as ConditionType, max(CondRecFrt) as CondRecFrt,'19000101' as [CondiRecValStartDate], '99991231' as [CondiRecValEndDate], Flow17,
Flow18, PRQtyConvertedBase,CondAmtUnit, ScaleQtyUOM, ConditionBaseUOM, CondScaleQtyFrom, CondScaleQtyTo, CondAmt, ScalePrcUnit,NumConvCondUnitToBaseUnt,
DenomConvCondUnitToBaseUnt,Flow, CondScaleQtyFromConvertedBase, CondScaleQtyToConvertedBase,
BaseUoM, CondAmtConvertedBase, PIRNo, Currency, PIRPrice, PIRPRiceUnit, ScaleQtyUOM as OrderPriceUnit, ValidtoPIR,      
		[PO]
      ,[POItem]
      ,[POUnit]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Storageloc]
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
	       ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[MatType]
      ,[MatFrgtGrp]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
       ,[ConditionRecNo]
	   , OrderPriceUoM
	   ,[ForexConversionFactor]
	   ,ValidFromForex
,Sum(CondAmtFrt/ForexConversionFactorFrt) as FreightCost
from PRACondForex 
group by 
PRNo,PRItmNo,Plant,MatNo,PRUOM,PRDocType,PurcDocCat, DeletIndicPurcDoc,
PurcGrp, CreationIndic,LastChgDate,StrgLoc, MatGrp, ReqsDate, ItemDelvDate,
PRReleaseDate,PurcDocItemCat,GoodsRcptIndic,InvcRcptIndic,Supplier,
PurcOrg,PrncplPurcAgrmtNo,PrncplPurcAgrmtItmNo,PONo,POItmNo, PODate, PRClosed,
POUOM,Customer,CommittedDate,CurrKey,PRProcessStatus,Vendor,MANDT, ValidFrom,
ValidTo,PRQty,PRPrice,PRPriceUnit, StrgQty,PRQtyOrdered, CommittedQty, TotValAtReleaseTime
,  CondiRecValStartDate, CondiRecValEndDate, Flow17,
Flow18, PRQtyConvertedBase,CondAmtUnit, ScaleQtyUOM, ConditionBaseUOM
,CondScaleQtyFrom, CondScaleQtyTo, CondAmt, ScalePrcUnit,NumConvCondUnitToBaseUnt,
DenomConvCondUnitToBaseUnt,Flow, CondScaleQtyFromConvertedBase, CondScaleQtyToConvertedBase,
BaseUoM, CondAmtConvertedBase, PIRNo, Currency, PIRPrice, PIRPRiceUnit, ScaleQtyUOM, ValidtoPIR,
	[PO]
      ,[POItem]
      ,[POUnit]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Storageloc]
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
	       ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[MatType]
      ,[MatFrgtGrp]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
       ,[ConditionRecNo]
	   , OrderPriceUoM
	   ,[ForexConversionFactor]
	   ,ValidFromForex)



Insert into [ODS].[PurchaseRequisition]
([LoadDateTime]
      ,[PRNo]
      ,[PRItmNo]
      ,[Plant]
      ,[MatNo]
      ,[PRUOM]
      ,[PRDocType]
      ,[DeletIndicPurcDoc]
      ,[PurcGrp]
      ,[CreationIndic]
      ,[LastChgDate]
      ,[StrgLoc]
      ,[ReqsDate]
      ,[ItemDelvDate]
      ,[PRReleaseDate]
      ,[PurcDocItemCat]
      ,[InvcRcptIndic]
      ,[Supplier]
      ,[PurcOrg]
      ,[PrncplPurcAgrmtNo]
      ,[PrncplPurcAgrmtItmNo]
      ,[PONo]
      ,[POItmNo]
      ,[PODate]
      ,[PRClosed]
      ,[POUOM]
      ,[Customer]
      ,[CommittedDate]
      ,[CurrKey]
      ,[PRProcessStatus]
      ,[MANDT]
      ,[PRQty]
      ,[PRPrice]
      ,[PRPriceUnit]
      ,[StrgQty]
      ,[PRQtyOrdered]
      ,[CommittedQty]
      ,[TotValAtReleaseTime]
      ,[Vendor]
      ,[ValidFrom]
      ,[ValidTo]
      ,[PO]
      ,[POItem]
      ,[POUnit]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Storageloc]
      ,[MatGrp]
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
      ,[GoodsRcptIndic]
      ,[BaseUOM]
      ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[PurcDocCat]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[MatType]
      ,[MatFrgtGrp]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[Currency]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
      ,[Flow]
      ,[ConditionRecNo]
      ,[CondiRecValStartDate]
      ,[CondiRecValEndDate]
      ,[Flow17]
      ,[Flow18]
      ,[PRQtyConvertedBase]
      ,[CondAmtUnit]
      ,[ScaleQtyUOM]
      ,[ConditionBaseUOM]
      ,[CondScaleQtyFrom]
      ,[CondScaleQtyTo]
      ,[CondAmt]
      ,[ScalePrcUnit]
      ,[NumConvCondUnitToBaseUnt]
      ,[DenomConvCondUnitToBaseUnt]
      ,[CondScaleQtyFromConvertedBase]
      ,[CondScaleQtyToConvertedBase]
      ,[PIRNo]
      ,[PIRPrice]
      ,[PIRPRiceUnit]
      ,[OrderPriceUOM]
      ,[ValidtoPIR]
      ,[StdPricePerUnit]
      ,[StdPriceUnit]
      ,[StdPrcCurr]
      ,[StdPrice]
      ,[ForexConversionFactor]
      ,[ValidFromForex]
      ,[LatestCost]
      ,[StandardCost]
      ,[CostVariance]
	  ,[CondAmtConvertedBase]  --Added column 22092025 - Rahul Verma
	  ,FreightLocalCurr
	  )
select 
      GETDATE(),[PRNo]
      ,[PRItmNo]
      ,v.[Plant]
      ,[MatNo]
      ,[PRUOM]
      ,[PRDocType]
      ,[DeletIndicPurcDoc]
      ,[PurcGrp]
      ,[CreationIndic]
      ,[LastChgDate]
      ,[StrgLoc]
      ,[ReqsDate]
      ,[ItemDelvDate]
      ,[PRReleaseDate]
      ,[PurcDocItemCat]
      ,[InvcRcptIndic]
      ,[Supplier]
      ,[PurcOrg]
      ,[PrncplPurcAgrmtNo]
      ,[PrncplPurcAgrmtItmNo]
      ,[PONo]
      ,[POItmNo]
      ,[PODate]
      ,[PRClosed]
      ,[POUOM]
      ,[Customer]
      ,[CommittedDate]
      ,[CurrKey]
      ,[PRProcessStatus]
      ,[MANDT]
      ,[PRQty]
      ,[PRPrice]
      ,[PRPriceUnit]
      ,[StrgQty]
      ,[PRQtyOrdered]
      ,[CommittedQty]
      ,[TotValAtReleaseTime]
      ,[Vendor]
      ,[ValidFrom]
      ,[ValidTo]
      ,[PO]
      ,[POItem]
      ,[POUnit]
      ,[PurcDocItemChgDat]
      ,[CompCode]
      ,[Storageloc]
      ,[MatGrp]
      ,[MatNoOfSupplier]
      ,[OrdPriceUnit]
      ,[GoodsRcptIndic]
      ,[BaseUOM]
      ,[PrincPurcAgrmtNo]
      ,[PrincPurcAgrmtItmNo]
      ,[PurcDocCat]
      ,[CustomerNo]
      ,[UnitOfWt]
      ,[VolumeUnit]
      ,[MatType]
      ,[MatFrgtGrp]
      ,[CC_PBIMAt]
      ,[POQty]
      ,[NetPrice]
      ,[TargetQty]
      ,[NumerConvOrdPrcUnitToOrdUnit]
      ,[DenomConvOrdPrcUnitToOrdUnit]
      ,[NumerConvOrdUnitToBaseUnit]
      ,[DenomConvOrdUnitToBaseUnit]
      ,v.[PriceUnit]
      ,[NetOrdValInPOCurr]
      ,[GrosOrdValInPOCurr]
      ,[StdRelsOrdQty]
      ,[ItmEffecVal]
      ,[PlanDelvTimeInDays]
      ,[NetWt]
      ,[GrsWt]
      ,[Volume]
      ,[Currency]
      ,[PurcDocStat]
      ,[RecCreatDate]
      ,[LangKey]
      ,[ExchgRate]
      ,[PurcDocDate]
      ,[StartofValPer]
      ,[EndofValPer]
      ,[QuotSubmiDate]
      ,[GoodsSupplier]
      ,[PurcDocProcessState]
      ,[Flow]
      ,[ConditionRecNo]
      ,[CondiRecValStartDate]
      ,[CondiRecValEndDate]
      ,[Flow17]
      ,[Flow18]
      ,[PRQtyConvertedBase]
      ,[CondAmtUnit]
      ,[ScaleQtyUOM]
      ,[ConditionBaseUOM]
      ,[CondScaleQtyFrom]
      ,[CondScaleQtyTo]
      ,[CondAmt]
      ,[ScalePrcUnit]
      ,[NumConvCondUnitToBaseUnt]
      ,[DenomConvCondUnitToBaseUnt]
      ,[CondScaleQtyFromConvertedBase]
      ,[CondScaleQtyToConvertedBase]
      ,[PIRNo]
      ,[PIRPrice]
      ,[PIRPRiceUnit]
      ,[OrderPriceUOM]
      ,[ValidtoPIR]
,CONVERT(dec(14,5),mat.StdPrice/mat.PriceUnit) as StdPricePerUnit
,mat.PriceUnit as StdPriceUnit
,mat.StdPrcCurr
,mat.StdPrice as StdPrice 
,ForexConversionFactor
,ValidFromForex
--, v.[PRQtyConvertedBase] * [CondAmtConvertedBase] /ScalePrcUnit * ForexConversionFactor as LatestSales
, v.[PRQtyConvertedBase] * [CondAmtConvertedBase] /ScalePrcUnit as LatestSales   --Removed ForexConversionFactor  22092025
, v.PRQtyConvertedBase * CONVERT(dec(11,2),mat.StdPrice/mat.PriceUnit) as [StandardCost]
--, v.FreightCost + v.[PRQtyConvertedBase] * [CondAmtConvertedBase] /ScalePrcUnit * ForexConversionFactor - v.PRQtyConvertedBase * CONVERT(dec(11,2),mat.StdPrice/mat.PriceUnit) as [CostVariance]
, v.FreightCost + v.[PRQtyConvertedBase] * [CondAmtConvertedBase] /ScalePrcUnit  - v.PRQtyConvertedBase * CONVERT(dec(11,2),mat.StdPrice/mat.PriceUnit) as [CostVariance] --Removed ForexConversionFactor  22092025
,v.CondAmtConvertedBase, v.FreightCost
from PRACondForexAggr v
inner join SAPSTG.CV_PR_MBEW_EXTRACT mat
on  replace(ltrim(replace(v.MatNo,'0',' ')),' ','0') = replace(ltrim(replace(mat.Material,'0',' ')),' ','0')
and v.plant = mat.Plant
END
GO
