USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_stg_ColesAccuracyByState_Export]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Procedure [dbo].[usp_Load_stg_ColesAccuracyByState_Export]
as
Drop  Table  [stg].[ColesAccuracy_Export];

SELECT 
    
	SYSDATETIME() AS LoadDateTime
	  ,WeekEndingDate   
      ,[CategoryName] as [Coles Category]
      ,[Sell Item]
      ,[ItemDescription] as [Coles Description]
      ,[Sales State]
      ,[Actual Quantity]
      ,[Approved Forecast Qty Wk-1]
      ,[Approved Forecast Qty Wk-5]
      ,[product_no] as [Bulla Product Code]
	  
	  into [stg].[ColesAccuracy_Export]

  FROM [BI_PROD_POST_SAP].[Stg].[ColesAccuracyByState_Transformed]

	
GO
