USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Dim_Product]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*-- ==========================================================================================
-- Author:		<BHATRAH>
-- Create date: <05/01/2022>
-- Description:	<POPULATE DIM.PRODUCT>
1.0								Rahul Bhat			Initial Draft
1.1			13/06/2022			Kishor Shinde		Added column for RetailUnitFactorinKG	
1.2         16/10/2024          Shiva               Added Column For Preferred Plant
-- ==========================================================================================*/

CREATE PROCEDURE [dbo].[usp_Upsert_Dim_Product]
AS
 

TRUNCATE TABLE DIM.PRODUCT;

 WITH
    ItemAttribute AS (
    	SELECT 
        a.ItemNo,
        a.ForecastFlag,
        a.ExcludeFromMixLitres,
        a.NPDYear
         from  ODS.ItemAttribute a
    )
	
  
  ,
  ProductLaunch AS(
  SELECT f.*, c.FiscalYear as ProductLaunchYear
		FROM(
		SELECT DISTINCT ProductNo
			, MIN(WeekCommenceDate) AS ProductLaunchDate
			, DATEDIFF( MONTH,MIN(WeekCommenceDate),MAX(WeekCommenceDate)) AS LifeInMonths
			FROM Fact.ActualSales WITH (NOLOCK)			
			WHERE ISNULL(ActualNetInvoiceValue,0)<>0
			GROUP BY ProductNo
		) f 
		INNER JOIN dim.CalendarDate c
			ON c.CalendarDate = f.ProductLaunchDate
  )
  ,
  ProductSAPTransformed AS
  (
	SELECT DISTINCT
		i.ItemNo AS ProductNo
         
		, i.ItemDescription AS ProductDescription
		, i.ItemNo + ' ' + i.ItemDescription as [ProductNoWithDescription]
		, i.Weight AS [Weight]
		, i.ItemGroup AS ProductGroup
		, i.ItemGroupName AS ProductGroupName
		, i.ItemType AS ProductType
		, i.ItemTypeName as ProductTypeName
		, i.SelectionCode AS SelectionCode
		, i.ProductTaxcode AS ProductTaxCode
		, i.InventoryUnit AS InventoryUnit
		, i.SalesUnit AS SalesUnit
		, i.StandardCost AS StandardCost
		, i.MaterialCosts AS MaterialCosts
		, i.OperationalCosts AS OperationalCosts
		, i.Apn AS Apn
		, i.ProductSegment AS ProductSegment
		, i.SignalCode AS SignalCode
        , i.SignalDescription as SignalDescription
		, msd.CommodityGroup AS CommodityCode
		, i.Tun AS Tun
		, nsd.AbcCode
		, i.ProductShelfLife AS ProductShelfLife
		, i.MakeOrBuy AS MakeOrBuy
		, i.SafetyTime AS PlanningSafetyStock
		, ph1.ProPromotionGroup_Code AS PromotionGroupCode   
		, i.Tun AS Gtin14                                
		, ph1.ProPromotionGroup_Name AS PromotionGroup           
		, ph1.ProSubFamily_Code AS SubFamilyCode			
		, ph1.ProSubFamily_Name AS SubFamily				
		, ph1.ProFamily_Code AS FamilyCode				
		, ph1.ProFamily_Name AS Family					
		, ph1.ProCategory_Code AS CategoryCode				
		, ph1.ProCategory_Name AS Category	
		, msd.SubBrand AS SubBrandCode	            
		, sb.AdditionalMaterialGroup2Name AS SubBrand					
		, right(msd.Brand,1) AS BrandCode					
		, b.AdditionalMaterialGroup1Name AS Brand						
		, msd.CorporateBrand AS CorporateBrandCode	
		, cb.AdditionalMaterialGroup3Name AS CorporateBrand
		, pc.PrimaryChannel AS PrimaryChannel			
		, pc.PrimaryChannelSource AS PrimaryChannelSource		
		, dt.DemandType AS DemandType				
		, CAST(i.RetailUnitFactor AS SMALLINT) AS RetailUnitFactor
 		, i.PalletFactor AS PalletFactor
		, i.PreferredRouting AS PreferredRouting

		, i.ForecastFlag AS ForecastFlag
          , COALESCE(CASE WHEN i.SignalCode = '02' 	AND i.ItemDescription LIKE ('%Plan%') 
            	OR  i.SignalCode = '02' AND i.ItemDescription LIKE ('%Budget%')
             	OR  i.SignalCode = '02' AND i.ItemDescription LIKE ('%Bud%') 
             	OR  i.SignalCode = '02' AND i.ItemDescription LIKE ('%Planning%')
                THEN  'Y' 
                ELSE  'N' 
                END
                ,'N')
                AS IsActiveNPD         
        , fas.ProductLaunchDate AS ProductLaunchDate    
		, fas.ProductLaunchYear AS ProductLaunchYear    
		, fas.LifeInMonths AS LifeInMonths              
		, CAST(iccl.ConversionFactor AS DECIMAL(8,4)) AS ContentLitres       
		, ia.NPDYear AS NPDYear              
		, msd.MarketingGroup AS MarketingGroupCode
 		, amg4.AdditionalMaterialGroup4Name AS MarketingGroup
 		,i.RetailUnitFactorinKG AS RetailUnitFactorinKG							--Added for KG  

		,mara.[ZMFG_LINE] as [PreferredProductionLineCode]                                            --{Change Begin -- Shiva } Added for PPL code & Description 

		,Substring(Mara.ZMFG_DEPT,1,2) + ' ' + Mara.[ZMFG_LINE_DESC] as [PreferredProductionLine]
	    ,mara.[ZMFG_SITE] as [PreferredManufacturingSiteCode]                                          -- Added for PMS code & Desc 
	    ,mara.[ZMFG_SITE_DESC] as [PreferredManufacturingSite]
	    ,mara.[ZMFG_DEPT] as [PreferredProductionCentreCode]                                            
	    ,mara.[ZMFG_DEPT_DESC] as [PreferredProductionCentre]                                          -- Added For PPC Code & Description  {Change End  -- Shiva}
   
	FROM ODS.Item i WITH (NOLOCK)
    
	LEFT JOIN ODS.ItemPlant nsd WITH (NOLOCK)
		ON i.ItemNo = nsd.Material
	LEFT JOIN ODS.ZXC_MATSALESDATA msd WITH (NOLOCK)
		ON i.ItemNo = msd.Material
	LEFT JOIN ODS.vwProductH1_L4 ph1 WITH (NOLOCK)
        ON ph1.ProPromotionGroup_Code = i.SelectionCode
	
	LEFT JOIN  ODS.ZXC_ADDMATGRP3TXT cb WITH (NOLOCK)
		ON cb.AdditionalMaterialGroup3 = msd.CorporateBrand
	LEFT JOIN ODS.ZXC_ADDMATGRP2TXT sb WITH (NOLOCK)
		ON sb.AdditionalMaterialGroup2 = msd.SubBrand
	LEFT JOIN ODS.ZXC_ADDMATGRP1TXT b WITH (NOLOCK)
		ON b.AdditionalMaterialGroup1 = msd.Brand

	LEFT JOIN ODS.ZXC_ADDMATGRP4TXT amg4 WITH (NOLOCK)
		
		ON AMG4.AdditionalMaterialGroup4 = msd.MarketingGroup 
	LEFT JOIN ProductLaunch  fas WITH (NOLOCK)
    	ON fas.ProductNo = i.ItemNo 
	LEFT JOIN ODS.ProductPrimaryChannel pc WITH (NOLOCK)
		ON LTRIM(i.ItemNo) = pc.ProductNo
	LEFT JOIN ODS.ProductDemandType dt  WITH (NOLOCK)
		ON LTRIM(i.ItemNo)=dt.ProductNo
	
        LEFT JOIN ItemAttribute ia  WITH (NOLOCK)
		ON ia.ItemNo = i.ItemNo
  
	LEFT JOIN ODS.OUM iccl WITH (NOLOCK) 
		ON i.ItemNo = iccl.RecipeNo
		and   iccl.ConversionUnit = 'VOL'

		left join  [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_MaraWithDesc] mara                            -- added  by shiva for Preferred Plant Change
	     ON i.ItemNo = mara.material 

	where  (i.ItemType IN ('FERT','HAWA')
		or  i.ItemNo in (select Material from ODS.ZXC_MATPRODHIERARCHY)
	)
	)
	
 insert into   DIM.PRODUCT


    SELECT

	  
		 ProductNo								= s.ProductNo					
		,ERPLNProductNo							= ''							
		,ProductDescription						= s.ProductDescription			
		,[ProductNoWithDescription]				= s.[ProductNoWithDescription]
		,Weight									= s.Weight						
		,ProductGroup							= s.ProductGroup				
		,ProductGroupName						= s.ProductGroupName			
        ,ProductType							= s.ProductType					
		,ProductTypeName						= s.ProductTypeName		    	
        ,SelectionCode							= s.SelectionCode				
		,ProductTaxCode							= s.ProductTaxCode				
		,InventoryUnit							= s.InventoryUnit				
		,StorageUnit							= ''							
		,SalesUnit								= s.SalesUnit					
		,SalesPriceUnit							= ''							
		,SalesPriceGroup						= ''						
		,StatisticsGroup						= ''							
		,StandardCost							= s.StandardCost				
		,MaterialCosts							= s.MaterialCosts				
		,OperationalCosts						= s.OperationalCosts			
		,Apn									= s.Apn							
		,ProductSegment							= s.ProductSegment				
		,SignalCode								= s.SignalCode					
        ,SignalDescription						= s.SignalDescription			
		,CommodityCode							= ''							
		,Tun									= s.Tun							
		,PcmCode								= ''							
		,PcmProductGroup						= ''							
		,PcmPackagingCodeEan					= ''							
		,PcmPackagingCodeTun					= ''							
		,AbcCode								= s.AbcCode						
		,ProductShelfLife						= s.ProductShelfLife			
		,MakeOrBuy								= s.MakeOrBuy					
		,PlanningSafetyStock					= s.PlanningSafetyStock							
		,QualityHoldHours						= cast(Null as float)							
		,PromotionGroupCode						= s.PromotionGroupCode			
		,Gtin14									= s.Gtin14						
		,MaintainMasterPlan						= Null			                
		,PromotionGroup							= s.PromotionGroup				
		,SubFamilyCode							= s.SubFamilyCode				
		,SubFamily								= s.SubFamily					
		,FamilyCode								= s.FamilyCode					
		,Family									= s.Family						
		,CategoryCode							= s.CategoryCode				
		,Category								= s.Category					
		,SubBrandCode							= s.SubBrandCode				
		,SubBrand								= s.SubBrand					
		,BrandCode								= s.BrandCode					
		,Brand									= s.Brand						
		,PackFormat								= ''							
		,PackSize								= ''							
		,CorporateBrandCode						= s.CorporateBrandCode			
		,CorporateBrand							= s.CorporateBrand				
		,PrimaryChannel							= s.PrimaryChannel				
		,PrimaryChannelSource					= s.PrimaryChannelSource		
		,DemandType								= s.DemandType					
		,RetailUnitFactor						= s.RetailUnitFactor		
		,PalletFactor							= s.PalletFactor				
		,PreferredRouting						= s.PreferredRouting			
		
		,ForecastFlag							= s.ForecastFlag				
		,IsActiveNPD							= s.IsActiveNPD					
		,ProductLaunchDate						= s.ProductLaunchDate			
		,ProductLaunchYear						= s.ProductLaunchYear			
		,LifeInMonths							= s.LifeInMonths				
		
		,ContentLitres							= s.ContentLitres								
		,NPDYear								= s.NPDYear						
		,MarketingGroupCode						= s.MarketingGroupCode			
		,MarketingGroup							= s.MarketingGroup,
		  GETDATE() as CREATION_TS,
		  NULL AS UPDATION_TS,
		RetailUnitFactorinKG					= S.RetailUnitFactorinKG		--Added fot KG

		 ,[PreferredProductionLineCode]          = s.[PreferredProductionLineCode]                -- (Change Begin } Added for PPL code & Description
	    ,[PreferredProductionLine]				= s.[PreferredProductionLine]
	    ,[PreferredManufacturingSiteCode]		= s.[PreferredManufacturingSiteCode]             -- Added for PMS code & Desc 
	    ,[PreferredManufacturingSite]			= s.[PreferredManufacturingSite]
	    ,[PreferredProductionCentreCode]		= s.[PreferredProductionCentreCode]              -- Added For PPC Code & Description 
	    ,[PreferredProductionCentre]			= s.[PreferredProductionCentre]                  --{Change End}
   
FROM 
  ProductSAPTransformed s;

BEGIN
with cte as (
select ROW_NUMBER()OVER(PARTITION BY PRODUCTNO order by PRODUCTNO)RN 
from DIM.Product 
)
delete from cte where RN > 1
  END
  



GO
