USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_ActualSales_FullLoad]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/02/2022>
-- Description:	<Full load of Fact.ActualSales>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_Fact_ActualSales_FullLoad]
AS 

Truncate table FACT.ActualSales
Begin
INSERT INTO FACT.ActualSales
([FiscalYearWeekDisplay]
      ,[FiscalYearWeekIntKey]
      ,[FiscalYear]
      ,[FiscalWeek]
      ,[WeekCommenceDate]
      ,[CustomerNo]
      ,[ProductNo]
      ,[ActualSalesQuantity]
      ,[ActualInvoiceDiscount]
      ,[ActualNetInvoiceValue]
      ,[ActualCOGS]
      ,[ActualCaseDiscount]
      ,[ActualTermsDiscount]
      ,[ActualOtherDiscount]
      ,[ActualGrossMargin]
      ,[ActualBaselineQuantity]
      ,[ActualIncrementalQuantity]
      ,[ActualFreightOutbound]
      ,[ActualFreightFuelLevy]
      ,[Source])
	(SELECT DISTINCT CONVERT(VARCHAR(4), d.FiscalYear)+' '+CONVERT(VARCHAR(4), d.FiscalWeek) AS FiscalYearWeekDisplay
		, CAST(CAST(d.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(d.FiscalWeek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey 
		, d.FiscalYear
		, d.FiscalWeek
		, d.WeekCommenceDate
		, s.CustomerNo
		, s.ProductNo
		, s.SalesQuantity AS ActualSalesQuantity
		, s.InvoiceDiscount AS ActualInvoiceDiscount
		, s.NetInvoicevalue AS ActualNetInvoicevalue
		, s.CostOfGoodSold AS ActualCOGS
		, s.DeferredCaseDiscount AS ActualCaseDiscount
		, s.DeferredTermsDiscount AS ActualTermsDiscount
		, s.DeferredOtherDiscount AS ActualOtherDiscount
		, s.GrossMargin AS ActualGrossMargin
		,[ActualBaselineQuantity]	= 0
        ,[ActualIncrementalQuantity]= 0
		, s.FreightOutbound AS ActualFreightOutbound
		,ActualFreightFuelLevy = NULL
		,[Source] = 'SAP'
	FROM FACT.WeekSalesSAP s
	INNER JOIN dim.CalendarDate d
		ON s.WeekendDate = d.CalendarDate
    INNER JOIN Dim.Product p WITH (NOLOCK)
		ON s.ProductNo = p.ProductNo
	WHERE P.ProductType IN ('FERT','HAWA', 'HALB', 'ROH','CODE'))

END
GO
