USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_EoMForecastFlattened_v2]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD FACTEoMForecastFlattened]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_EoMForecastFlattened_v2]
AS


SET NOCOUNT ON;


TRUNCATE TABLE FACT.EoMForecastFlattened;

WITH MonthList AS (SELECT DISTINCT CAST(CAST(c.fiscalyear AS VARCHAR(4)) + RIGHT('0' + CAST(c.fiscalweek AS VARCHAR(2)),2) AS INT) AS fiscalyearweekIntKey, 
									m.monthend_date 
				  FROM (SELECT DISTINCT MonthendDate AS monthend_date, 
										FiscalYear AS fiscal_year, 
										FiscalWeek AS fiscal_week
					  FROM  Dim.CalendarDate (NOLOCK)
					  WHERE IsWeekend = 1) m
				  INNER JOIN   Dim.CalendarDate (NOLOCK) c
				  ON c.monthenddate > m.monthend_date 
				  AND  c.monthenddate<= dateadd(ww,15,m.monthend_date)		
                  --     AND c.periodOffset between -1 and 6			  
				   )
						,
	EoMForecast AS (SELECT distinct  SnapshotDate AS EoMSnapshotDate, 
						   (CAST(f.fiscalyear AS VARCHAR(4)) + ' ' + CAST(f.fiscalweek AS VARCHAR(2))) as FiscalYearWeekDisplay, 
						   CAST(CAST(f.fiscalyear AS VARCHAR(4)) + RIGHT('0' + CAST(f.fiscalweek AS VARCHAR(2)),2) AS INT) AS FiscalYearWeekIntKey,
						   f.fiscalyear, 
						   f.FiscalWeek AS fiscal_week, 
						    f.CustomerNo as CustomerNo, 
						   ProductNo, 
						   SalesQuantity, 
						   NetInvoiceValue, 
						   -1 * InvoiceDiscount AS InvoiceDiscount, 
						   -1 * CaseDiscount AS CaseDiscount, 
						   -1 * TermsDiscount AS TermsDiscount, 
						   -1 * OtherDiscount AS OtherDiscount, 
						   -1 * COGS AS COGS, 
						   GrossMargin,
						   BaselineQuantity,
						   IncrementalQuantity,
						   -1 * FreightCost AS FreightOutbound,
						   SalesQuantity AS FreightQuantity,
						   FreightCaseRate AS FreightCaseRate,
						   SalesQuantity*FreightCaseRate*FreightFuelLevy AS FreightFuelLevy
					FROM Fact.WeekLatestForecastSnapshot (NOLOCK) f INNER JOIN
					 monthlist c
						ON CAST(CAST(f.FiscalYear AS VARCHAR(4)) + RIGHT('0' + CAST(f.fiscalweek AS VARCHAR(2)),2) AS INT) = c.FiscalYearWeekintkey 
						AND c.monthend_date = f.SnapshotDate
						
					
					),

	MonthListRowNum AS (SELECT distinct FiscalYearWeekIntKey, 							
								EoMsnapshotdate,
								ROW_NUMBER() OVER (PARTITION BY fiscalyearweekintkey ORDER by FiscalYearWeekIntKey, EoMsnapshotdate ) AS rownum
						FROM (SELECT distinct FiscalYearWeekIntKey, EoMsnapshotdate from EoMForecast ) a),
	IntKeyRecords AS (SELECT EoMsnapshotdate, 
							 customerno, 
							 productno,
							 salesquantity,
							 netinvoicevalue, 
							 invoicediscount,
							 casediscount,
							 termsdiscount,
							 otherdiscount,
							 cogs,
							 grossmargin,
							 BaselineQuantity,
							 IncrementalQuantity,
							 FreightOutbound,
							 FreightQuantity,
							 FreightCaseRate,
							 FreightFuelLevy,
							 fiscalyearweekDisplay,
							 CAST(CAST(left(fiscalyearweekdisplay,4) AS VARCHAR(4)) + right('0' + substring(fiscalyearweekdisplay,6,len(fiscalyearweekdisplay)-5),2) AS INT) AS FiscalYearWeekIntKey 
						FROM EoMForecast),
						
	PivotKey AS (SELECT Fiscalyearweekintkey,
						customerno, 
						productno,
						[1] AS EoMsnapshotdate1,
						[2] AS EoMsnapshotdate2,
						[3] AS EoMsnapshotdate3
						FROM 
						(select i.fiscalyearweekintkey, customerno, productno, i.eomsnapshotdate, rownum 
						from intkeyrecords i
						inner join monthlistrownum m
						on i.FiscalYearWeekIntKey = m.FiscalYearWeekIntKey
						and i.EoMSnapshotDate = m.EoMSnapshotDate) a
						PIVOT (MAX(a.EomSnapshotdate) FOR RowNum in ([1],[2],[3])
						) AS PVT
						)


						insert into FACT.EoMForecastFlattened

			SELECT		GETDATE(),P1.FiscalYearWeekIntKey, 
						CAST(w.fiscalyear as varchar(4)) + ' ' + CAST(w.Fiscalweek AS VARCHAR(2)) as SnapshotFiscalYearWeekDisplay,
						CAST(CAST(w.FiscalYear as Varchar(4)) + RIGHT('0' + CAST(w.fiscalweek AS VARCHAR(2)),2) AS int) AS SnapshotFiscalYearWeekIntKey,
						P1.customerno, 
						P1.productno,
                        w.fiscalyear AS fiscal_year,
                        w.fiscalweek AS fiscal_week,
						i1.EoMSnapshotDate AS CommittedLag3EoMSnapshotDate,
						i1.salesquantity AS CommittedLag3SalesQuantity,
						i1.netinvoicevalue AS CommittedLag3NetInvoiceValue, 
						i1.invoicediscount AS CommittedLag3InvoicedDiscount,
						i1.casediscount AS CommittedLag3CaseDiscount,
						i1.termsdiscount AS CommittedLag3TermsDiscount,
						i1.otherdiscount AS CommittedLag3OtherDiscount,
						i1.cogs AS CommittedLag3COGS,
						i1.grossmargin AS CommittedLag3GrossMargin,
						i1.BaselineQuantity AS CommittedLag3BaselineQuantity,
						i1.IncrementalQuantity AS CommittedLag3IncrementalQuantity,
						i1.FreightOutbound AS CommittedLag3FreightOutbound,
						i1.FreightQuantity AS CommittedLag3FreightQuantity,
						i1.FreightCaseRate AS CommittedLag3FreightCaseRate,
						i1.FreightFuelLevy CommittedLag3FreightFuelLevy,
						i2.EoMSnapshotDate AS CommittedLag2EoMSnapshotDate,
						i2.salesquantity AS CommittedLag2SalesQuantity,
						i2.netinvoicevalue AS CommittedLag2NetInvoiceValue, 
						i2.invoicediscount AS CommittedLag2InvoicedDiscount,
						i2.casediscount AS CommittedLag2CaseDiscount,
						i2.termsdiscount AS CommittedLag2TermsDiscount,
						i2.otherdiscount AS CommittedLag2OtherDiscount,
						i2.cogs AS CommittedLag2COGS,
						i2.grossmargin AS CommittedLag2GrossMargin,
						i2.BaselineQuantity AS CommittedLag2BaselineQuantity,
						i2.IncrementalQuantity AS CommittedLag2IncrementalQuantity,
						i2.FreightOutbound AS CommittedLag2FreightOutbound,
						i2.FreightQuantity AS CommittedLag2FreightQuantity,
						i2.FreightCaseRate AS CommittedLag2FreightCaseRate,
						i2.FreightFuelLevy CommittedLag2FreightFuelLevy,
						i3.EoMSnapshotDate AS CommittedLag1EoMSnapshotDate,
						i3.salesquantity AS CommittedLag1SalesQuantity,
						i3.netinvoicevalue AS CommittedLag1NetInvoiceValue, 
						i3.invoicediscount AS CommittedLag1InvoicedDiscount,
						i3.casediscount AS CommittedLag1CaseDiscount,
						i3.termsdiscount AS CommittedLag1TermsDiscount,
						i3.otherdiscount AS CommittedLag1OtherDiscount,
						i3.cogs AS CommittedLag1COGS,
						i3.grossmargin AS CommittedLag1GrossMargin,
						i3.BaselineQuantity AS CommittedLag1BaselineQuantity,
						i3.IncrementalQuantity AS CommittedLag1IncrementalQuantity,
						i3.FreightOutbound AS CommittedLag1FreightOutbound,
						i3.FreightQuantity AS CommittedLag1FreightQuantity,
						i3.FreightCaseRate AS CommittedLag1FreightCaseRate,
						i3.FreightFuelLevy CommittedLag1FreightFuelLevy
			FROM PivotKey P1
			INNER JOIN  Dim.CalendarDate (NOLOCK) w
				ON P1.FiscalYearWeekIntKey = CAST(CAST(w.FiscalYear as Varchar(4)) + RIGHT('0' + CAST(w.fiscalweek AS VARCHAR(2)),2) AS int)
				AND IsWeekend = 1
			LEFT JOIN IntKeyRecords i1
				ON  i1.CustomerNo = p1.CustomerNo
				AND i1.ProductNo = p1.ProductNo
				AND i1.EoMSnapshotDate = p1.EoMsnapshotdate1
				AND i1.FiscalYearWeekIntKey= p1.FiscalYearWeekIntKey
			LEFT JOIN IntKeyRecords i2
				ON  i2.CustomerNo = p1.CustomerNo
				AND i2.ProductNo = p1.ProductNo
				AND i2.fiscalyearweekintkey = p1.Fiscalyearweekintkey
				AND i2.EoMSnapshotDate = p1.EoMSnapshotDate2
			LEFT JOIN IntKeyRecords i3
				ON  i3.CustomerNo = p1.CustomerNo
				AND i3.ProductNo = p1.ProductNo
				AND i3.fiscalyearweekintkey = p1.Fiscalyearweekintkey
				AND i3.EoMSnapshotDate = p1.EoMSnapshotDate3

GO
