USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[CalculateJobAverageDuration]    Script Date: 19/11/2025 6:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[CalculateJobAverageDuration]
AS
BEGIN
	TRUNCATE TABLE [dbo].[JobAverageDuration];

	INSERT [dbo].[JobAverageDuration] (
		[job_id]					
	,	[execution_count]			
	,	[average_duration_seconds]	
	,	[average_retries_attempted]
	)
	SELECT
		j.[job_id]
	,	COUNT(*)
	,	AVG([duration_seconds])
	,	AVG([retries_attempted])
	FROM [dbo].[JobInstance] j
	JOIN [dbo].[JobStepInstanceAllStepsCompleted] c
	ON c.[job_id] = j.[job_id] AND c.[job_instance] = j.[job_instance]
	GROUP BY j.[job_id];
END
GO
