USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MPURSITEM]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_MPURSITEM>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MPURSITEM]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_MPURSITEM]  

insert into [SAPSTG].[ZXC_MPURSITEM]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
CreatedByUserName  =NULLIF(cast(CreatedByUserName as nvarchar(12)),'') ,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CreationDate) 
                         		else null 	end ,
InventorySpecialStockType  =NULLIF(cast(InventorySpecialStockType as nvarchar(1)),'') ,
IssgPlantIsFixed  =case IssgPlantIsFixed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ManufacturerMaterial  =NULLIF(cast(ManufacturerMaterial as nvarchar(40)),'') ,
Material  = case when isnumeric(Material) =1 
                                    		then 	cast(cast(Material as BIGINT) as nvarchar(40))
                                            else  cast(Material as nvarchar(40)) end,
MRPArea  =NULLIF(cast(MRPArea as nvarchar(10)),'') ,
MRPSourcingControl  =NULLIF(cast(MRPSourcingControl as nvarchar(1)),'') ,
OrderQuantityUnit  =NULLIF(cast(OrderQuantityUnit as nvarchar(3)),'') ,
OriginSystem  =NULLIF(cast(OriginSystem as nvarchar(10)),'') ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
PurchaseOutlineAgreement  =NULLIF(cast(PurchaseOutlineAgreement as nvarchar(10)),'') ,
PurchaseOutlineAgreementItem  =NULLIF(cast(PurchaseOutlineAgreementItem as nvarchar(5)),'') ,
PurchasingDocumentCategory  =NULLIF(cast(PurchasingDocumentCategory as nvarchar(1)),'') ,
PurchasingOrganization  =NULLIF(cast(PurchasingOrganization as nvarchar(4)),'') ,
PurOutlineAgreementIsFixed  =case PurOutlineAgreementIsFixed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
SourceListRecord  =NULLIF(cast(SourceListRecord as nvarchar(5)),'') ,
SourceListRecordCategory  =NULLIF(cast(SourceListRecordCategory as nvarchar(1)),'') ,
SourceListStatus  =NULLIF(cast(SourceListStatus as nvarchar(10)),'') ,
SourceOfSupplyIsBlocked  =case SourceOfSupplyIsBlocked when 'X' then cast(1 as bit) else cast(0 as bit) end ,
SourceOfSupplyIsFixed  =case SourceOfSupplyIsFixed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
Supplier  = case when isnumeric(Supplier) =1 
                               						then cast(cast(Supplier as BIGINT) as nvarchar(10)) 
                                    				else  cast(Supplier as nvarchar(10)) end,
SupplierIsFixed  =case SupplierIsFixed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
SupplyingPlant  =NULLIF(cast(SupplyingPlant as nvarchar(4)),'') ,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
ScriptVersionDate = cast(getdate() as date)
from SAPSTG.ZXCMPURSITEM

END
GO
