USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[uspLoad_Dim_FiscalWeekCalendar]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-- =============================================
-- Author:		<SHINKIS>
-- Create date: <10/10/2021>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Mahendra			Initial Draft
1.1			19/07/2022		Kishor Shinde		Added Column for ChristmasWeekFlag
1.2			21/07/2022		Kishor Shinde		Removed ChristmasWeekFlag column and added EventFlag Column
-- =============================================*/

CREATE PROCEDURE [dbo].[uspLoad_Dim_FiscalWeekCalendar]
AS
TRUNCATE TABLE [Dim].[FiscalWeekCalendar]
INSERT INTO [Dim].[FiscalWeekCalendar] 
    (MonthendDate
	,WeekendDate
	,QuarterendDate
	,WeekcommenceDate
	,WeekOffset
	,PeriodOffset
	,YearOffset
	,QuarterOffset
	,FiscalYear
	,FiscalWeek
	,FiscalPeriod
	,FiscalQuarter
	,Period
	,PeriodName
	,Quarter
	,WeekOfMonth
	,DaysInMonth
	,PriorYear
	,ForecastPeriod
	,MTDComplete
	,YTDComplete
	,FiscalYearWeekKey
	,FiscalYearWeekIntKey
	,PeriodComplete
	,FiscalHalfYear
	,Creation_TS
	,Creation_By
	,Updation_TS
	,Updation_By
	--,ChristmasWeekFlag						-- 19/07 -- ChristmasWeekFlag column added -- 21/07 Removed this column
	,EventFlag)							-- 21/07 -- Added column for EventFlag -- Kishor Shinde
SELECT cal.MonthendDate
	,cal.WeekendDate
	,cal.QuarterendDate
	,cal.WeekcommenceDate
	,cal.WeekOffset
	,cal.PeriodOffset
	,cal.YearOffset
	,cal.QuarterOffset
	,cal.FiscalYear
	,cal.FiscalWeek
	,cal.FiscalPeriod
	,cal.FiscalQuarter
	,[Period] = 'P' + RIGHT('00' + ISNULL(CAST(cal.FiscalPeriod AS VARCHAR(2)), ''), 2)
	,PeriodName = CAST(LEFT(cal.FiscalPeriodName, 3) AS CHAR(3))
	,[Quarter] = 'Q' + CAST(cal.FiscalQuarter AS VARCHAR(1))
	,cal.WeekOfMonth
	,cal.DaysInMonth
	,PriorYear = cal.PriorFiscalYear
	,ForecastPeriod = CONVERT(SMALLINT, ((cal.FiscalWeek / 52.00) * 13 + .98))
	,MTDComplete = CAST(DayOfMonth AS FLOAT) / CAST(cal.DaysInMonth AS FLOAT)
	,YTDComplete = ROUND(CAST(cal.FiscalWeek AS FLOAT) / CAST(52 AS FLOAT), 6, 6)
	,FiscalYearWeekKey = CAST(cal.FiscalYear AS VARCHAR(4)) + ' ' + CAST(cal.FiscalWeek AS VARCHAR(2))
	,FiscalYearWeekIntKey = CAST(CAST(cal.FiscalYear AS VARCHAR(4)) + RIGHT('00' + ISNULL(CAST(cal.FiscalWeek AS VARCHAR(2)), ''), 2) AS INT)
	,PeriodComplete = IsYearEnd
	,FiscalHalfYear = CASE 
		WHEN cal.FiscalPeriod BETWEEN 1
				AND 6
			THEN 'H1'
		ELSE 'H2'
		END
	,Creation_TS = sysdatetime()
	,Creation_By = 'Mahendra'
	,Updation_TS = NULL
	,Updation_By = NULL
	--,ChristmasWeekFlag									-- 19/07 -- ChristmasWeekFlag column added -- 21/07 Removed this column
	,EventFlag												-- 21/07 -- Added column for EventFlag -- Kishor Shinde
FROM Dim.CalendarDate cal WITH (NOLOCK)
WHERE cal.IsWeekend = 1
	AND cal.YearOffset <= 8
GO
