USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_Coles_Bulla_and_Cadbury(Append)]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Procedure [dbo].[usp_Load_Coles_Bulla_and_Cadbury(Append)]
as

Drop table [stg].[Coles_Bulla_and_Cadbury(Append)];

 With Merging AS (                                           
    SELECT 
	[State]
      ,[Coles Category]
      ,[Coles Item]
      ,[Coles Description]
      ,[Week Start]
      ,[Value]
	   from [Stg].[Coles12WeekAaForecast_Transformed]

	   Union All 
	   Select 
	   [State]
      ,[Coles Category]
      ,[Coles Item]
      ,[Coles Description]
      ,[Week Start]
      ,[Value]
	   From [Stg].[Cadbury_Raw(Transformed)]
	   ),

 ConversionUnit as (                                            --This part inspired from "melbi4", "bulla_bi_prod",[Rpt].[ColesCollaborativeForecast_UOM]"]
 SELECT                                                         --Conversion Unit
RecipeNo			AS [recipeno],
BaseUnit			AS [baseunit],
ConversionUnit		AS [conversionunit],
ConversionFactor	AS [conversionfactor]

FROM [BI_PROD_POST_SAP].ods.oum
where conversionunit = 'EA'
 )
 
Select 
       APN.[product_no] as [Product No],
	   M.[State],
	   [WeekEnd Date] = DATEADD(DAY, 4,[Week Start]),
	   [Coles Actual CS]=0,
	   [Approved CS Wk-1]=0,
	   [Approved CS Wk-5]=0,
	   round( M.[Value] * CU.[conversionfactor],2) as [Coles Forecast CS]

	   Into [stg].[Coles_Bulla_and_Cadbury(Append)]
     
	  from merging M left join [Stg].[ColesCollaborativeForecast_AlternateProductNos] APN
	  on M.[Coles Item]= APN.[Coles_item_Code]
	  left join ConversionUnit CU on APN.product_no=CU.recipeno
	


	

	
GO
