USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_BudgetSalesPriorYears]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <02/02/2022>
-- Description:	<LOAD Fact.BudgetSalesPriorYears
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_Fact_BudgetSalesPriorYears]
AS


/*********************************************************************
Object Name :	 [Fact].[BudgetSalesPriorYears]
Purpose		:	 At commence of Budget retail all prior years budgets to allow new 
				 year budget to be appended to forn Fact.BudgetSales
				 				
History
-------
Version			Date			 Consultant				Comments
1.0				02/02/2022		 Kishor Shinde			Intial Draft  			  
**********************************************************************/

--Delete existing data from fact table

TRUNCATE TABLE [Fact].[BudgetSalesPriorYears]

-- Select all past years for Budget Sales construction with New Year

Insert into [Fact].[BudgetSalesPriorYears]
([SourceLoadDateTime]
      ,[FiscalYearWeekDisplay]
      ,[FiscalYearWeekIntKey]
      ,[FiscalYear]
      ,[FiscalWeek]
      ,[CustomerNo]
      ,[ProductNo]
      ,[BudgetSalesQuantity]
      ,[BudgetNetInvoiceValue]
      ,[BudgetInvoiceDiscount]
      ,[BudgetCaseDiscount]
      ,[BudgetTermsDiscount]
      ,[BudgetOtherDiscount]
      ,[BudgetCOGS]
      ,[BudgetMaterialCosts]
      ,[BudgetOperationCosts]
      ,[BudgetGrossMargin]
      ,[BudgetBaselineQuantity]
      ,[BudgetIncrementalQuantity]
      ,[BudgetFreightOutbound]
      ,[BudgetFreightQuantity]
      ,[BudgetFreightCaseRate]
      ,[BudgetFreightFuelLevy]
      ,[BudgetFreightGLAdjustment]
      ,[Source])
SELECT        bs.LoadDateTime  
			, bs.FiscalYearWeekDisplay
			, bs.FiscalYearWeekIntKey
			, bs.FiscalYear
			, bs.FiscalWeek
			, bs.CustomerNo
			, bs.ProductNo
			, bs.BudgetSalesQuantity
			, bs.BudgetNetInvoiceValue
			, bs.BudgetInvoiceDiscount
			, bs.BudgetCaseDiscount
			, bs.BudgetTermsDiscount
			, bs.BudgetOtherDiscount
			, bs.BudgetCOGS
			, bs.BudgetMaterialCosts
			, bs.BudgetOperationCosts
			, bs.BudgetGrossMargin
			, bs.BudgetBaselineQuantity
			, bs.BudgetIncrementalQuantity
			, bs.BudgetFreightOutbound
			, bs.BudgetFreightQuantity
			, bs.BudgetFreightCaseRate
			, bs.BudgetFreightFuelLevy
			, bs.BudgetFreightGLAdjustment
			, 'Backup Taken' AS [Source]
FROM          Fact.BudgetSales bs
--CROSS JOIN	  Dim.BudgetYear  byr 
WHERE bs.FiscalYear< (select max(fiscalyear) from fact.BudgetSales)
GO
