USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_ADDCUSTGRP2NAME]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_ADDCUSTGRP2NAME>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_ADDCUSTGRP2NAME]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_ADDCUSTGRP2NAME] 

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_ADDCUSTGRP2NAME]  

SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AdditionalCustomerGroup2  =NULLIF(cast(AdditionalCustomerGroup2 as nvarchar(3)),'') ,
AdditionalCustomerGroup2Name  =NULLIF(cast(AdditionalCustomerGroup2Name as nvarchar(20)),'') ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCADDCUSTGRP2NAME WITH (NOLOCK) 
END
GO
