USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_FACT_SalesByPeriodByCompGrp_1]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
CREATE PROCEDURE [dbo].[usp_Insert_FACT_SalesByPeriodByCompGrp_1]  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  
  
  
DECLARE @pivot_columns NVARCHAR(MAX);  
DECLARE @sql NVARCHAR(MAX);  
  
SELECT @pivot_columns = STUFF(  
    (  
        SELECT ',' + QUOTENAME(CompGroup)  
        FROM (  
            SELECT DISTINCT CASE WHEN CompGroup <> '' THEN coalesce(CompGroup, 'None')  
                                 ELSE 'NotAssigned'  
                            END AS CompGroup  
            FROM [DIM].[SAPCostCompGroupByPeriod]  
        ) AS t  
        FOR XML PATH(''), TYPE  
    ).value('.', 'NVARCHAR(MAX)'),  
    1,  
    1,  
    ''  
);  
  
IF OBJECT_ID('DIM.SAPCostCompGroupByPeriod_Pivot', 'U') IS NOT NULL  
drop table [DIM].[SAPCostCompGroupByPeriod_Pivot]  
  
SET @sql = N'  
SELECT * into [DIM].[SAPCostCompGroupByPeriod_Pivot]  
FROM  
(  
    SELECT ProductNo,FiscalYearPeriod,Plant,LotSize,CostLotUnit,CostingDate,CostingStatus,CostingVariant,CompGroup,ISNULL(CompCost,0) as CompCost  
    FROM [DIM].[SAPCostCompGroupByPeriod]  
) AS src  
PIVOT  
(  
    SUM(CompCost)  
    FOR CompGroup IN (' + @pivot_columns + N')  
) AS pvt';  
  
EXEC sp_executesql @sql;  
  
  
  
-----------update fact  
IF OBJECT_ID('Fact.CommittedSalesbyPeriod', 'U') IS NOT NULL  
drop table Fact.CommittedSalesbyPeriod;  
SELECT   
        
      c.[SnapshotDate]  
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,CONCAT(c.[FiscalYear],right(w.Period,2)) as FiscalYearPeriod  
      ,[CustomerNo]  
      ,[ProductNo]  
      ,sum([CommittedSalesQuantity]) as [CommittedSalesQuantity]  
      ,sum([CommittedNetInvoiceValue]) as [CommittedNetInvoiceValue]  
      ,sum([CommittedInvoiceDiscount]) as [CommittedInvoiceDiscount]  
      ,sum([CommittedCaseDiscount]) as [CommittedCaseDiscount]  
      ,sum([CommittedTermsDiscount]) as [CommittedTermsDiscount]  
      ,sum([CommittedOtherDiscount]) as [CommittedOtherDiscount]  
      ,sum([CommittedCOGS]) as [CommittedCOGS]  
      ,sum([CommittedGrossMargin]) as [CommittedGrossMargin]  
      ,sum([CommittedBaselineQuantity]) as [CommittedBaselineQuantity]  
      ,sum([CommittedIncrementalQuantity]) as [CommittedIncrementalQuantity]  
      ,sum([CommittedFreightOutbound]) as [CommittedFreightOutbound]  
      ,sum([CommittedFreightQuantity]) as [CommittedFreightQuantity]  
      ,sum([CommittedFreightCaseRate]) as [CommittedFreightCaseRate]  
      ,sum([CommittedFreightFuelLevy]) as [CommittedFreightFuelLevy]  
  
    into Fact.CommittedSalesbyPeriod   
  FROM [BI_PROD_POST_SAP].[Fact].[CommittedSales] c left join Dim.FiscalWeekCalendar w  
  on c.[FiscalYearWeekIntKey] = w.[FiscalYearWeekIntKey] where c.FiscalYear >=2021  
  group by   
     
      c.[SnapshotDate]  
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,w.Period  
      ,[CustomerNo]  
      ,[ProductNo]  
  
  
-----------update BudgetSales  
IF OBJECT_ID('Fact.BudgetSalesbyPeriod', 'U') IS NOT NULL  
drop table Fact.BudgetSalesbyPeriod;  
SELECT   
        
      c.[LoadDateTime]    
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,CONCAT(c.[FiscalYear],right(w.Period,2)) as FiscalYearPeriod  
      ,[CustomerNo]  
      ,[ProductNo]  
      ,sum([BudgetSalesQuantity]) as [BudgetSalesQuantity]  
      ,sum([BudgetNetInvoiceValue]) as [BudgetNetInvoiceValue]  
      ,sum([BudgetInvoiceDiscount]) as [BudgetInvoiceDiscount]  
      ,sum([BudgetCaseDiscount]) as [BudgetCaseDiscount]  
      ,sum([BudgetTermsDiscount]) as [BudgetTermsDiscount]  
      ,sum([BudgetOtherDiscount]) as [BudgetOtherDiscount]  
      ,sum([BudgetCOGS]) as [BudgetCOGS]  
      ,sum([BudgetGrossMargin]) as [BudgetGrossMargin]  
      ,sum([BudgetBaselineQuantity]) as [BudgetBaselineQuantity]  
      ,sum([BudgetIncrementalQuantity]) as [BudgetIncrementalQuantity]  
     ,sum([BudgetFreightOutbound]) as [BudgetFreightOutbound]  
      ,sum([BudgetFreightQuantity]) as [BudgetFreightQuantity]  
      ,sum([BudgetFreightCaseRate]) as [BudgetFreightCaseRate]  
      ,sum([BudgetFreightFuelLevy]) as [BudgetFreightFuelLevy]  
  
    into Fact.BudgetSalesbyPeriod   
  FROM [BI_PROD_POST_SAP].[Fact].[BudgetSales] c left join Dim.FiscalWeekCalendar w  
  on c.[FiscalYearWeekIntKey] = w.[FiscalYearWeekIntKey] where c.FiscalYear >=2021  
  group by   
     
      c.[LoadDateTime]  
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,w.Period  
      ,[CustomerNo]  
      ,[ProductNo]  
  
  -----------update fact PCM   Himanshu 13/11/2024
IF OBJECT_ID('Fact.PriorCommittedSalesbyPeriod', 'U') IS NOT NULL  
drop table Fact.PriorCommittedSalesbyPeriod;  
SELECT   
        
      c.[SnapshotDate]  
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,CONCAT(c.[FiscalYear],right(w.Period,2)) as FiscalYearPeriod  
      ,[CustomerNo]  
      ,[ProductNo]  
      ,sum([PriorCommittedSalesQuantity]) as [PriorCommittedSalesQuantity]  
      ,sum([PriorCommittedNetInvoiceValue]) as [PriorCommittedNetInvoiceValue]  
      ,sum([PriorCommittedInvoiceDiscount]) as [PriorCommittedInvoiceDiscount]  
      ,sum([PriorCommittedCaseDiscount]) as [PriorCommittedCaseDiscount]  
      ,sum([PriorCommittedTermsDiscount]) as [PriorCommittedTermsDiscount]  
      ,sum([PriorCommittedOtherDiscount]) as [PriorCommittedOtherDiscount]  
      ,sum([PriorCommittedCOGS]) as [PriorCommittedCOGS]  
      ,sum([PriorCommittedGrossMargin]) as [PriorCommittedGrossMargin]  
      ,sum([PriorCommittedBaselineQuantity]) as [PriorCommittedBaselineQuantity]  
      ,sum([PriorCommittedIncrementalQuantity]) as [PriorCommittedIncrementalQuantity]  
      ,sum([PriorCommittedFreightOutbound]) as [PriorCommittedFreightOutbound]  
      ,sum([PriorCommittedFreightQuantity]) as [PriorCommittedFreightQuantity]  
      ,sum([PriorCommittedFreightCaseRate]) as [PriorCommittedFreightCaseRate]  
      ,sum([PriorCommittedFreightFuelLevy]) as [PriorCommittedFreightFuelLevy]  
  
    into Fact.PriorCommittedSalesbyPeriod   
  FROM [BI_PROD_POST_SAP].[Fact].[PriorCommittedSales] c left join Dim.FiscalWeekCalendar w  
  on c.[FiscalYearWeekIntKey] = w.[FiscalYearWeekIntKey] where c.FiscalYear >=2021  
  group by   
     
      c.[SnapshotDate]  
      ,c.[FiscalYear]  
   ,w.FiscalPeriod  
   ,w.Period  
      ,[CustomerNo]  
      ,[ProductNo]  
  
END  
GO
