USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Fact_ActualSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <18/01/2022>
-- Description:	<UPSERT customer data in Fact.ActualSales>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Upsert_Fact_ActualSales]
AS
  WITH
  ActualSalesSAPTransformed as
  (
	SELECT DISTINCT CONVERT(VARCHAR(4), d.FiscalYear)+' '+CONVERT(VARCHAR(4), d.FiscalWeek) AS FiscalYearWeekDisplay
		, CAST(CAST(d.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(d.FiscalWeek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey 
		, d.FiscalYear
		, d.FiscalWeek
		, d.WeekCommenceDate
		, s.CustomerNo
		, s.ProductNo
		, s.SalesQuantity AS ActualSalesQuantity
		, s.InvoiceDiscount AS ActualInvoiceDiscount
		, s.NetInvoicevalue AS ActualNetInvoicevalue
		, s.CostOfGoodSold AS ActualCOGS
		, s.DeferredCaseDiscount AS ActualCaseDiscount
		, s.DeferredTermsDiscount AS ActualTermsDiscount
		, s.DeferredOtherDiscount AS ActualOtherDiscount
		, s.GrossMargin AS ActualGrossMargin
		, s.FreightOutbound AS ActualFreightOutbound
	FROM FACT.WeekSalesSAP s
	INNER JOIN dim.CalendarDate d
		ON s.WeekendDate = d.CalendarDate
    INNER JOIN Dim.Product p WITH (NOLOCK)
		ON s.ProductNo = p.ProductNo
	WHERE P.ProductType IN ('FERT','HAWA', 'HALB', 'ROH','CODE')
  )
	MERGE INTO FACT.ActualSales as Target
	USING ActualSalesSAPTransformed as Source
			ON Target.FiscalYearWeekIntKey = Source.FiscalYearWeekIntKey
				AND Target.CustomerNo = Source.CustomerNo
				AND Target.ProductNo = Source.ProductNo
  
  -- Prepare Output for matched rows
  WHEN MATCHED THEN UPDATE 
			SET
 
	   Target.[ActualSalesQuantity]		= Source.ActualSalesQuantity
      ,Target.[ActualInvoiceDiscount]	= Source.ActualInvoiceDiscount
      ,Target.[ActualNetInvoiceValue]	= Source.ActualNetInvoicevalue
      ,Target.[ActualCOGS]				= Source.ActualCOGS
      ,Target.[ActualCaseDiscount]		= Source.ActualCaseDiscount
      ,Target.[ActualTermsDiscount]		= Source.ActualTermsDiscount
      ,Target.[ActualOtherDiscount]		= Source.ActualOtherDiscount
      ,Target.[ActualGrossMargin]		= Source.ActualGrossMargin
      ,Target.[ActualBaselineQuantity]	= 0
      ,Target.[ActualIncrementalQuantity]= 0
      ,Target.[ActualFreightOutbound]	= Source.ActualFreightOutbound
      --,Target.[ActualFreightCaseRate]	= NULL
      --,Target.[ActualFreightQuantity]	= NULL
      ,Target.[ActualFreightFuelLevy]	= NULL
      --,Target.[ActualFreightGLAdjustment]	= NULL
      ,Target.[Source] = 'SAP'

  -- Prepare Output for not matched rows
	WHEN NOT MATCHED
	THEN INSERT
		(LoadDateTime
		,FiscalYearWeekDisplay
      ,FiscalYearWeekIntKey
      ,FiscalYear
      ,FiscalWeek
      ,WeekCommenceDate
      ,CustomerNo
      ,ProductNo
      ,ActualSalesQuantity
      ,ActualInvoiceDiscount
      ,ActualNetInvoiceValue
      ,ActualCOGS
      ,ActualCaseDiscount
      ,ActualTermsDiscount
      ,ActualOtherDiscount
      ,ActualGrossMargin
      ,ActualBaselineQuantity
      ,ActualIncrementalQuantity
      ,ActualFreightOutbound
      --,ActualFreightCaseRate
      --,ActualFreightQuantity
      ,ActualFreightFuelLevy
      --,ActualFreightGLAdjustment
      ,Source)
		
		VALUES
		(Getdate()
		,Source.FiscalYearWeekDisplay
		,Source.FiscalYearWeekIntKey
	  ,Source.FiscalYear
      ,Source.FiscalWeek
      ,Source.WeekCommenceDate
      ,Source.CustomerNo
      ,Source.ProductNo
      ,Source.ActualSalesQuantity
      ,Source.ActualInvoiceDiscount
      ,Source.ActualNetInvoiceValue
      ,Source.ActualCOGS
      ,Source.ActualCaseDiscount
      ,Source.ActualTermsDiscount
      ,Source.ActualOtherDiscount
      ,Source.ActualGrossMargin
      ,0
      ,0
      ,Source.ActualFreightOutbound
      --,Null
      --,Null
      ,Null
      --,Null
		,'SAP'				
		);

GO
