USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ITEMATTRIBUTE]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS ITEMATTRIBUTE]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ITEMATTRIBUTE]
AS


SET NOCOUNT ON;

TRUNCATE TABLE ODS.ItemAttribute;

WITH RawRows as
 (
  SELECT 
  CAST(TRY_CAST(V.ClfnObjectID AS INT) as VARCHAR(16)) as ItemNo,
  REPLACE(UPPER(T.CharacteristicDescription),' ','_') as CharacteristicDescription,
  V.ClassType,
  V.CharcValue,
  v.CharcFromNumericValue,
  V.CharcFromDate,
  COALESCE(V.CharcValue,convert(varchar, V.CharcFromDate, 107)) as CharacterValue,
  Isnull(V.ValidityStartDate,'Jan 1,2000') as ValidityStartDate,
  V.ValidityEndDate,
  V.IsMarkedForDeletion
  FROM SAPSTG.ZXC_CLFNOBJCHARVAL (NOLOCK) V
  INNER JOIN SAPSTG.ZXC_CHARACTERISTICTEXT (NOLOCK) T 
 	ON T.CharacteristicIntID=V.CharacteristicIntID
  WHERE Isnull(V.ValidityStartDate,'Jan 1,2000')<getdate()
  AND Isnull(V.ValidityEndDate,'Jan 1,2099')>= getdate()
  AND V.CharcValueDependency=1
  AND V.ClassType='001'		
 )  


insert into ODS.ItemAttribute
SELECT ItemNo,  
                [DESCRIPTION_SHORT_CASE] as DescriptionShort,
                [MIN_TRADE_ITEM_LIFESPAN_CASE] as MinimumTradeItemLifeSpan,
                [NPD_YEAR] as NPDYear,
                [EXCLUDE_FROM_MIX_LITRES] as ExcludeFromMixLitres,
                [FORECAST_FLAG] as ForecastFlag,
                [TRADING_PARTNER_REL_DATE_CASE] as TradingPartnerReleaseDate  from 
             (
                select ItemNo,CharacteristicDescription, 1 as xCount,CharacterValue
                from RawRows
            ) x
            pivot 
            (
                max(CharacterValue)
                for CharacteristicDescription in 
                (
                [MIN_TRADE_ITEM_LIFESPAN_CASE],
                [DESCRIPTION_SHORT_CASE],
                [NPD_YEAR],
                [EXCLUDE_FROM_MIX_LITRES],
                [FORECAST_FLAG],
                [TRADING_PARTNER_REL_DATE_CASE]
                )
                
            ) p

GO
