USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_PreferredROUTING]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS PreferredROUTING]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_PreferredROUTING]
AS
SET NOCOUNT ON;
 
 
 TRUNCATE TABLE ODS.PREFERREDROUTING;

 WITH
 
 PreferredRoutingSAP AS
	(

     select SAP.ItemNo,SAP.Routing,SAP.ProductionLineCode,SAP.ProductionLineInternal,
   SAP.SetupTime , SAP.RunTime,  SAP.ManOccupation, SAP.MachineOccupation,
         SAP.ProductionRate,
 SAP.PreferRank , 'SAP' as Source
   from
   		(SELECT r.RecipeNumber as ItemNo,r.RoutingCode as routing,r.ProductionLine as ProductionLineCode
        ,WorkCentreCode As ProductionLineInternal,
        r.SetupTime as SetupTime ,r.RunTime as RunTime, r.ManOccupation as  ManOccupation,
        r.MachineOccupation as MachineOccupation,
        r.ProductionRate as ProductionRate
        , ROW_NUMBER() OVER (PARTITION BY r.RecipeNumber ORDER BY r.RoutingCode DESC) AS PreferRank
   		FROM   ODS.Routing r
        WHERE r.PreferredRouting='Y' and r.ISSAP='1'
   		) as SAP
   Where SAP.PreferRank=1 
   
  ) 
  insert into ODS.PreferredRouting
  select 
RecipeNo 				= u.ItemNo
,Routing				= u.Routing
,ProductionLineCode		= u.ProductionLineCode
,SetupTime 				= u.SetupTime
,RunTime 				= u.RunTime
,ManOccupation			= u.ManOccupation
,MachineOccupation		= u.MachineOccupation
,ProductionRate			= u.ProductionRate 

from PreferredRoutingSAP u
GO
