USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_NationalCustomer]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <21/04/2022>
-- Description:	<LOAD DIM.NationalCustomer>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_DIM_NationalCustomer]
AS
Begin
--Delete existing data from DIM table

TRUNCATE TABLE  [DIM].[NationalCustomer]

--Insert data into DIM table
INSERT INTO [DIM].[NationalCustomer]
 SELECT Getdate() as LoadDateTime
	, NationalCustomer_Code AS NationalCustomerCode
	, NationalCustomer_Name  AS NationalCustomer
	, ChannelCustomer_Code   AS ChannelCustomerCode
	, ChannelCustomer_Name   AS ChannelCustomer
	, SubChannel_Code	    AS SubChannelCode
	, SubChannel_Name	    AS SubChannel
	, Channel_Code 		    AS ChannelCode
	, Channel_Name		    AS Channel
    ,'SAP' 						AS Source 
 FROM ODS.CustomerH1_L4 WITH (NOLOCK)
  WHERE NationalCustomer_Code IS NOT NULL
END
GO
