USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CLFNOBJCHARVAL]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_CLFNOBJCHARVAL>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CLFNOBJCHARVAL]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_CLFNOBJCHARVAL]  

insert into [SAPSTG].[ZXC_CLFNOBJCHARVAL]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
ChangeNumber  =NULLIF(cast(ChangeNumber as nvarchar(12)),'') ,
CharacteristicAuthor  =NULLIF(cast(CharacteristicAuthor as nvarchar(1)),'') ,
CharcFromAmount  =cast(CharcFromAmount as decimal(38,6)) ,
CharcFromDate  =CASE WHEN ISDATE(CharcFromDate) = 1 
                        		then CONVERT(datetime,CharcFromDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CharcFromDate) 
                         		else null 	end ,
CharcFromDecimalValue  =cast(CharcFromDecimalValue as decimal(38,6)) ,
--CharcFromNumericValue  =NULLIF(cast(CharcFromNumericValue as float),'') ,
CharcFromNumericValue  = case when cast(CharcFromNumericValue as float) = NULL THEN '0'
						ELSE cast(CharcFromNumericValue as float) end,
CharcFromNumericValueUnit  =NULLIF(cast(CharcFromNumericValueUnit as nvarchar(3)),'') ,
 CharacteristicIntID  = NULLIF(cast(CharacteristicIntID as nvarchar(10)),''),
--CharacteristicIntID  = case when isnumeric(CharacteristicIntID) =1 
--                               						then NULLIF(cast(cast(CharacteristicIntID as BIGINT) as nvarchar(10)),'') 
--                                    				else  NULLIF(cast(CharacteristicIntID as nvarchar(10)),'') end,
CharcToAmount  =cast(CharcToAmount as decimal(38,6)) ,
CharcToDate  =CASE WHEN ISDATE(CharcToDate) = 1 
                        		then CONVERT(datetime,CharcToDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CharcToDate) 
                         		else null 	end ,
CharcToDecimalValue  =cast(CharcToDecimalValue as decimal(38,6)) ,
--CharcToNumericValue  =NULLIF(cast(CharcToNumericValue as float),'') ,
CharcToNumericValue = case when cast(CharcToNumericValue as float) = NULL THEN '0'
						ELSE cast(CharcToNumericValue as float) end,
CharcToNumericValueUnit  =NULLIF(cast(CharcToNumericValueUnit as nvarchar(3)),'') ,
CharcValue  =NULLIF(cast(CharcValue as nvarchar(70)),'') ,
CharcValueDependency  =NULLIF(cast(CharcValueDependency as nvarchar(1)),'') ,
CharcValuePositionNumber  =NULLIF(cast(CharcValuePositionNumber as nvarchar(3)),'') ,
ClassType  =NULLIF(cast(ClassType as nvarchar(3)),'') ,
ClfnObjectID  =NULLIF(cast(ClfnObjectID as nvarchar(90)),'') ,
ClfnObjectInternalID  =NULLIF(cast(ClfnObjectInternalID as nvarchar(18)),'') ,
ClfnObjectType  =NULLIF(cast(ClfnObjectType as nvarchar(1)),'') ,
Currency  =NULLIF(cast(Currency as nvarchar(5)),'') ,
IsMarkedForDeletion  =case IsMarkedForDeletion when 'X' then cast(1 as bit) else cast(0 as bit) end ,
TimeIntervalNumber  =NULLIF(cast(TimeIntervalNumber as nvarchar(4)),'') ,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
ScriptVersionDate = cast(getdate() as date)

FROM  SAPSTG.ZXCCLFNOBJCHARV1  WITH (NOLOCK) 

END
GO
