USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateTabledata_Product]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		BHATRAH
-- Create date: 21/12/2021
-- Description:	Common SP to TRUNCATE PRE STG MD CUSTOMER TABLES
-- =============================================
CREATE PROCEDURE [dbo].[usp_TruncateTabledata_Product] 
AS
BEGIN
	
	SET NOCOUNT ON;
	TRUNCATE TABLE [SAPSTG].[ZXCPRODHIERTEXT]  
	TRUNCATE TABLE SAPSTG.ZXCPRODNVERSION_T
	TRUNCATE TABLE SAPSTG.ZXCBILLOFOPSDTL
	TRUNCATE TABLE SAPSTG.ZXCBILLOFOPSHDR
	TRUNCATE TABLE SAPSTG.ZXCBILLOFOPBASIC
	TRUNCATE TABLE SAPSTG.ZXCCOSTCENTER
	TRUNCATE TABLE SAPSTG.ZXCWORKCENTER
	TRUNCATE TABLE SAPSTG.ZXCWORKCENTERTXT
	TRUNCATE TABLE SAPSTG.ZXCCOSTCENTERTXT
	TRUNCATE TABLE SAPSTG.ZXCWRKCNTRCSTCR
	TRUNCATE TABLE SAPSTG.ZXCPRODSUPPLPLAN
	TRUNCATE TABLE SAPSTG.ZXCMATBASICDATA
	TRUNCATE TABLE SAPSTG.ZXCPLANT
	TRUNCATE TABLE SAPSTG.ZXCNSDMMARC
	TRUNCATE TABLE SAPSTG.ZXCBPTAXNMBR
	TRUNCATE TABLE SAPSTG.ZXCSUPPLIER
	TRUNCATE TABLE SAPSTG.ZXCSUPPLIERCOMP
	TRUNCATE TABLE SAPSTG.ZXCSUPPMASTER
	TRUNCATE TABLE SAPSTG.ZXCCHARTEXT
	TRUNCATE TABLE SAPSTG.ZXCCLFNOBJCHARV1
	TRUNCATE TABLE SAPSTG.ZXCMATAUOM
	TRUNCATE TABLE SAPSTG.ZXCMATRIAL
	TRUNCATE TABLE SAPSTG.ZXCMPURSITEM
	TRUNCATE TABLE SAPSTG.ZXCPRGINFOPLTD
	TRUNCATE TABLE SAPSTG.ZXCBILLMATITEM
	TRUNCATE TABLE SAPSTG.ZXCMATPRODHIER 
	TRUNCATE TABLE SAPSTG.ZXCPRODSTATTEXT
	TRUNCATE TABLE SAPSTG.ZXCMATTAXCLASS
	TRUNCATE TABLE SAPSTG.ZXCMATSALESDATA
	TRUNCATE TABLE SAPSTG.ZXCPURINFOCRD
	TRUNCATE TABLE SAPSTG.ZXCADDMATGRP5TXT
	TRUNCATE TABLE SAPSTG.ZXCMATPLANT
	TRUNCATE TABLE SAPSTG.ZXCMRPCONTROLLER
	TRUNCATE TABLE [SAPSTG].[ZXCZTPPMRPINV]
	TRUNCATE TABLE SAPSTG.ZXCADDMATGRP1TXT
	TRUNCATE TABLE SAPSTG.ZXCADDMATGRP2TXT
	TRUNCATE TABLE SAPSTG.ZXCADDMATGRP3TXT
	TRUNCATE TABLE SAPSTG.ZXCADDMATGRP4TXT
-------	begin change by CHAKABH--	
	Truncate table SAPSTG.CV_PR_MD_MARA
	Truncate table SAPSTG.CV_PR_MD_MARC
	truncate table sapstg.CV_PR_MD_ZMM_MFG_LINE
	Truncate table SAPSTG.CV_PR_MD_ZMM_DEPT_CODE
	Truncate table SAPSTG.CV_PR_MD_ZMM_MFG_SITE
	Truncate table SAPSTG.CV_PR_MD_MLGN
	Truncate table SAPSTG.CV_PR_MBEW_EXTRACT
	Truncate table SAPSTG.CV_PR_MD_MATCLASS 
	Truncate table SAPSTG.CV_PR_MD_MATSTOCK
	Truncate table SAPSTG.CV_PR_MD_MVKE
	Truncate table SAPSTG.CV_PR_MD_CKMLHD
	
END

GO
