USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_Stg_ColesCollaborativeForecast_RetailFactor]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_Load_Stg_ColesCollaborativeForecast_RetailFactor]
AS
BEGIN
  /* Procedure body */                                                       -- inspired from  "bulla_bi_prod",  [Rpt].[ColesCollaborativeForecast_RetailFactor

 Drop table [stg].[ColesCollaborativeForecast_RetailFactor];
  
SELECT        
ProductNo			AS [product_no], 
RetailUnitFactor	AS [Retail_factor]

into [stg].[ColesCollaborativeForecast_RetailFactor]

FROM            Bulla_BI_Prod.Dim.Product 
END

GO
