USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_SUPPLIER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_BPTAXNMBR>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_SUPPLIER]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_SUPPLIER]  

insert into [SAPSTG].[ZXC_SUPPLIER]   
 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AccountIsBlockedForPosting  =case AccountIsBlockedForPosting when 'X' then cast(1 as bit) else cast(0 as bit) end ,
AddressID  = case when isnumeric(AddressID) =1 
                               						then NULLIF(cast(cast(AddressID as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(AddressID as nvarchar(10)),'') end,
AlternativePayeeAccountNumber  =NULLIF(cast(AlternativePayeeAccountNumber as nvarchar(10)),'') ,
AuthorizationGroup  =NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
BirthDate  =CASE WHEN ISDATE(BirthDate) = 1 
                        		then CONVERT(datetime,BirthDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),BirthDate) 
                         		else null 	end ,
BusinessType  =NULLIF(cast(BusinessType as nvarchar(30)),'') ,
CityName  =NULLIF(cast(CityName as nvarchar(35)),'') ,
ConcatenatedInternationalLocNo  =NULLIF(cast(ConcatenatedInternationalLocNo as nvarchar(20)),'') ,
Country  =NULLIF(cast(Country as nvarchar(3)),'') ,
CreatedByUser  =NULLIF(cast(CreatedByUser as nvarchar(12)),'') ,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),CreationDate) 
                         		else null 	end ,
Customer  = case when isnumeric(Customer) =1 
                                    		then 	NULLIF(cast(cast(Customer as BIGINT) as nvarchar(10)),'')
                                            else  NULLIF(cast(Customer as nvarchar(10)),'') end,
DeletionIndicator  =case DeletionIndicator when 'X' then cast(1 as bit) else cast(0 as bit) end ,
FaxNumber  =NULLIF(cast(FaxNumber as nvarchar(31)),'') ,
FiscalAddress  =NULLIF(cast(FiscalAddress as nvarchar(10)),'') ,
FormOfAddress  =NULLIF(cast(FormOfAddress as nvarchar(15)),'') ,
Industry  =NULLIF(cast(Industry as nvarchar(4)),'') ,
InternationalLocationNumber1  =NULLIF(cast(InternationalLocationNumber1 as nvarchar(7)),'') ,
InternationalLocationNumber2  =NULLIF(cast(InternationalLocationNumber2 as nvarchar(5)),'') ,
InternationalLocationNumber3  =NULLIF(cast(InternationalLocationNumber3 as nvarchar(1)),'') ,
IsBusinessPurposeCompleted  =NULLIF(cast(IsBusinessPurposeCompleted as nvarchar(1)),'') ,
IsNaturalPerson  =NULLIF(cast(IsNaturalPerson as nvarchar(1)),'') ,
IsOneTimeAccount  =case IsOneTimeAccount when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OrganizationBPName1  =NULLIF(cast(OrganizationBPName1 as nvarchar(35)),'') ,
OrganizationBPName2  =NULLIF(cast(OrganizationBPName2 as nvarchar(35)),'') ,
PaymentIsBlockedForSupplier  =case PaymentIsBlockedForSupplier when 'X' then cast(1 as bit) else cast(0 as bit) end ,
PhoneNumber1  =NULLIF(cast(PhoneNumber1 as nvarchar(16)),'') ,
PhoneNumber2  =NULLIF(cast(PhoneNumber2 as nvarchar(16)),'') ,
PostalCode  =NULLIF(cast(PostalCode as nvarchar(10)),'') ,
PostingIsBlocked  =case PostingIsBlocked when 'X' then cast(1 as bit) else cast(0 as bit) end ,
PurchasingIsBlocked  =case PurchasingIsBlocked when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ReferenceAccountGroup  =NULLIF(cast(ReferenceAccountGroup as nvarchar(4)),'') ,
ResponsibleType  =NULLIF(cast(ResponsibleType as nvarchar(2)),'') ,
SortField  =NULLIF(cast(SortField as nvarchar(10)),'') ,
StreetName  =NULLIF(cast(StreetName as nvarchar(35)),'') ,
SuplrQltyInProcmtCertfnValidTo  =CASE WHEN ISDATE(SuplrQltyInProcmtCertfnValidTo) = 1 
                        		then CONVERT(datetime,SuplrQltyInProcmtCertfnValidTo, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),SuplrQltyInProcmtCertfnValidTo) 
                         		else null 	end ,
SuplrQualityManagementSystem  =NULLIF(cast(SuplrQualityManagementSystem as nvarchar(4)),'') ,
Supplier  = case when isnumeric(Supplier) =1 
                               						then NULLIF(cast(cast(Supplier as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(Supplier as nvarchar(10)),'') end,
SupplierAccountGroup  =NULLIF(cast(SupplierAccountGroup as nvarchar(4)),'') ,
SupplierCorporateGroup  =NULLIF(cast(SupplierCorporateGroup as nvarchar(10)),'') ,
SupplierFullName  =NULLIF(cast(SupplierFullName as nvarchar(220)),'') ,
SupplierLanguage  =CASE WHEN SupplierLanguage = 'E' THEN 'EN' ELSE SupplierLanguage END ,
SupplierName  =NULLIF(cast(SupplierName as nvarchar(80)),'') ,
SupplierProcurementBlock  =NULLIF(cast(SupplierProcurementBlock as nvarchar(2)),'') ,
TaxJurisdiction  =NULLIF(cast(TaxJurisdiction as nvarchar(15)),'') ,
TaxNumber1  =NULLIF(cast(TaxNumber1 as nvarchar(16)),'') ,
TaxNumber2  =NULLIF(cast(TaxNumber2 as nvarchar(11)),'') ,
TaxNumber3  =NULLIF(cast(TaxNumber3 as nvarchar(18)),'') ,
TaxNumber4  =NULLIF(cast(TaxNumber4 as nvarchar(18)),'') ,
TaxNumber5  =NULLIF(cast(TaxNumber5 as nvarchar(60)),'') ,
TaxNumberResponsible  =NULLIF(cast(TaxNumberResponsible as nvarchar(18)),'') ,
TaxNumberType  =NULLIF(cast(TaxNumberType as nvarchar(2)),'') ,
UK_CompanyRegistrationNumber  =NULLIF(cast(UK_CompanyRegistrationNumber as nvarchar(8)),'') ,
UK_ContractorBusinessType  =NULLIF(cast(UK_ContractorBusinessType as nvarchar(12)),'') ,
UK_PartnerTaxReference  =NULLIF(cast(UK_PartnerTaxReference as nvarchar(20)),'') ,
UK_PartnerTradingName  =NULLIF(cast(UK_PartnerTradingName as nvarchar(30)),'') ,
UK_VerificationNumber  =NULLIF(cast(UK_VerificationNumber as nvarchar(20)),'') ,
UK_VerificationStatus  =NULLIF(cast(UK_VerificationStatus as nvarchar(3)),'') ,
UK_VerifiedTaxStatus  =NULLIF(cast(UK_VerifiedTaxStatus as nvarchar(1)),'') ,
VATLiability  =case VATLiability when 'X' then cast(1 as bit) else cast(0 as bit) end ,
VATRegistration  =NULLIF(cast(VATRegistration as nvarchar(20)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCSUPPLIER  WITH (NOLOCK) 

END
GO
