USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PRICELSTTYPTXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_ADDRESS>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PRICELSTTYPTXT]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_PRICELSTTYPTXT]

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_PRICELSTTYPTXT] 
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
PriceListType  =NULLIF(cast(PriceListType as nvarchar(2)),'') ,
PriceListTypeName  =NULLIF(cast(PriceListTypeName as nvarchar(20)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCPRICELSTTYPTXT WITH (NOLOCK)
END
GO
