USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_SUPPLIER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS SUPPLIERT]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_SUPPLIER]

AS

SET NOCOUNT ON;

TRUNCATE TABLE ODS.SUPPLIER;

WITH
  SupplierSAPTransformed as
  (
	SELECT s.Supplier AS SupplierNo
		, OrganizationBPName1 AS SupplierName
		, OrganizationBPName2 AS SupplierName2
		, atc.StreetName AS Address
		
		, atc.CityName AS City
		
		, atc.PostalCode AS Postcode
		, s.PhoneNumber1 AS Telephone
		, sc.SupplierClerkURL AS EmailAddress
		, sc.PaymentTerms AS TermsOfPayment
		, sc.PaymentMethodsList AS PaymentMethod
		, bp.BPTaxNumber AS ABN
		, sm.PurchasingIsBlocked AS SupplierStatus
		, c.CountryAlpha3 AS Country
		, s.SupplierAccountGroup AS SupplierLineOfBusiness
		, s.CreationDate
		, 1 AS IsInERP
		, s.SortField AS SearchKey
	FROM SAPSTG.ZXC_SUPPLIER s WITH (NOLOCK)
	LEFT JOIN SAPSTG.ZXC_SUPPLIERCOMP sc WITH (NOLOCK)
		ON s.Supplier = sc.Supplier
	LEFT JOIN SAPSTG.ZXC_BPTAXNMBR bp WITH (NOLOCK)
		ON s.Supplier = bp.BusinessPartner
	LEFT JOIN SAPSTG.ZXC_SUPPMASTER sm WITH (NOLOCK)	
		ON s.Supplier = sm.Supplier
	LEFT JOIN SAPSTG.ZXC_ADDRESS atc WITH (NOLOCK)  
		ON atc.AddressID = s.AddressID
    LEFT JOIN ODS.Country c on atc.Country=c.CountryISO2    
  )
  

insert into ODS.SUPPLIER

    SELECT
  
   SupplierNo				= s.SupplierNo 					
  ,SupplierName				= s.SupplierName 				
  ,SupplierName2			= s.SupplierName2 				
  ,[Address]				= [Address]						
  ,Address2					= '' 							
  ,City						= s.City	 					
  ,Zip						= ''							
  ,Postcode					= s.Postcode					
  ,Telephone				= s.Telephone					
  ,Fax						= ''							
  ,EmailAddress				= s.EmailAddress				
  ,SearchKey				= s.SearchKey					
  ,FactoringCompany			= null						
  ,TermsOfPayment			= s.TermsOfPayment				
  ,PaymentMethod			= s.PaymentMethod				
  ,ABN						= s.ABN							
  ,SupplierStatus			= s.SupplierStatus				
  ,Bank						= ''							
  ,FaxAccounts				= ''							
  ,EmailOrders				= ''							
  ,Contact					= ''						
  ,Country					= s.Country						
  ,SupplierLineOfBusiness	= s.SupplierLineOfBusiness		
  ,CreationDate				= s.CreationDate				
  ,BusinessPartnerRole		= '' 							
  ,IsInErp					= s.IsInERP						
FROM 
  SupplierSAPTransformed s
  
  /*

*/


GO
