USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_ColesCollaborativeForecast_NationalPromotions]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[usp_Load_ColesCollaborativeForecast_NationalPromotions]
AS
BEGIN
  /* Procedure body */
Drop Table [Stg].[ColesCollaborativeForecast_NationalPromotions];

       
SELECT        
AL2.PromotionStatus										AS promotion_status, 
AL2.ContractReference									AS promotion_id, 
AL2.BS1CustomerCode										AS bs1_customer_code, 
AL2.BS1CustomerName										AS bs1_customer_name, 
AL1.ProductNo											AS product_no, 
AL2.PromotionFromDate									AS promotion_from, 
AL2.PromotionToDate										AS promotion_to, 
AL2.PromotionWeeks										AS promotion_weeks, 
AL1.CasesTotalEstimate									AS cases_total_estimate, 
AL1.Deal												AS deal, 
AL3.WeekendDate											AS weekend_date, 
AL3.WeekcommenceDate									AS weekcommence_date, 
AL1.CasesIncrementalEstimate / AL2.PromotionWeeks / 5	AS Expr1, 
AL4.AreaName											AS state_name,
CASE AL4.AreaName
    WHEN 'Victoria'				THEN 'VIC'
    WHEN 'New South Wales'		THEN 'NSW'
    WHEN 'Queensland'			THEN 'QLD'
	WHEN 'South Australia'		THEN 'SA'
	WHEN 'Western Australia'	THEN 'WA'
    ELSE 'No State'
END AS state,
AL2.PromotionDescription								AS promotion_description 

Into [Stg].[ColesCollaborativeForecast_NationalPromotions]

FROM           [Bulla_BI_Prod].Fact.PromotionDetail AS AL1 INNER JOIN
                         [Bulla_BI_Prod].Fact.Promotion AS AL2 ON AL1.ContractReference = AL2.ContractReference INNER JOIN
                         [Bulla_BI_Prod].Dim.CalendarDate AS AL3 ON AL2.PromotionFromDate <= AL3.WeekendDate AND AL2.PromotionToDate >= AL3.WeekendDate INNER JOIN
                         [Bulla_BI_Prod].Dim.Area AS AL4 ON AL2.ContractReference <> AL4.Area
WHERE        
(AL1.DiscountType = 'CAC') AND 
(AL2.BS1CustomerCode IN ('10_1060_101010_101', '10_1060_101010_101_02', '10_1060_101010_101_03', '10_1060_101010_101_04', '10_1060_101010_101_05', '10_1060_101010_101_06')) AND 
(AL4.AreaName IN ('New South Wales', 'Queensland', 'South Australia', 'Victoria', 'Western Australia')) AND 
(NOT (AL2.BS1CustomerName LIKE '%Area%')) AND 
(AL3.IsWeekend = 1)
    ;
END

GO
