USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_SALESORDITM]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <21/03/2022>
-- Description:	<LOAD STG ZXC_SALESORDITM]>
-- =============================================
create PROCEDURE [dbo].[usp_Insert_ZXC_SALESORDITM]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_SALESORDITM] 

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_SALESORDITM] 
SELECT 
LoadDateTime
,MANDT  =NULLIF(cast(MANDT as nvarchar(3)),'') ,
SALESORDER  = case when isnumeric(SALESORDER) =1 
                               						then NULLIF(cast(cast(SALESORDER as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(SALESORDER as nvarchar(10)),'') end,
SALESORDERITEM  =NULLIF(cast(SALESORDERITEM as nvarchar(6)),'') ,
SALESORDERITEMCATEGORY  =NULLIF(cast(SALESORDERITEMCATEGORY as nvarchar(4)),'') ,
SALESORDERITEMTYPE  =NULLIF(cast(SALESORDERITEMTYPE as nvarchar(1)),'') ,
ISRETURNSITEM  =NULLIF(cast(ISRETURNSITEM as nvarchar(1)),'') ,
CREATIONDATE  =NULLIF(cast(CREATIONDATE as nvarchar(8)),'') ,
LASTCHANGEDATE  =NULLIF(cast(LASTCHANGEDATE as nvarchar(8)),'') ,
--DELTADAYS  =NULLIF(cast(DELTADAYS as int),'') ,
MATERIAL  = case when isnumeric(MATERIAL) =1 
                                    		then 	NULLIF(cast(cast(MATERIAL as BIGINT) as nvarchar(40)),'')
                                            else  NULLIF(cast(MATERIAL as nvarchar(40)),'') end,
MATERIALBYCUSTOMER  =NULLIF(cast(MATERIALBYCUSTOMER as nvarchar(35)),'') ,
PRODUCTIONPLANT  =NULLIF(cast(PRODUCTIONPLANT as nvarchar(4)),'') ,
PURCHASEORDERBYCUSTOMER  =NULLIF(cast(PURCHASEORDERBYCUSTOMER as nvarchar(35)),'') ,
ORDERQUANTITY  =cast(ORDERQUANTITY as decimal(15,3)) ,
CONFDDELIVQTYINORDERQTYUNIT  =cast(CONFDDELIVQTYINORDERQTYUNIT as decimal(15,3)) ,
ORDERQUANTITYUNIT  =NULLIF(cast(ORDERQUANTITYUNIT as nvarchar(3)),'') ,
CONFDDELIVERYQTYINBASEUNIT  =cast(CONFDDELIVERYQTYINBASEUNIT as decimal(15,3)) ,
BASEUNIT  =NULLIF(cast(BASEUNIT as nvarchar(3)),'') ,
ORDERTOBASEQUANTITYDNMNTR  =cast(ORDERTOBASEQUANTITYDNMNTR as decimal(5,0)) ,
ORDERTOBASEQUANTITYNMRTR  =cast(ORDERTOBASEQUANTITYNMRTR as decimal(5,0)) ,
REQUESTEDQUANTITY  =cast(REQUESTEDQUANTITY as decimal(15,3)) ,
REQUESTEDQUANTITYUNIT  =NULLIF(cast(REQUESTEDQUANTITYUNIT as nvarchar(3)),'') ,
REQUESTEDQUANTITYINBASEUNIT  =cast(REQUESTEDQUANTITYINBASEUNIT as decimal(15,3)) ,
ITEMGROSSWEIGHT  =cast(ITEMGROSSWEIGHT as decimal(15,3)) ,
ITEMNETWEIGHT  =cast(ITEMNETWEIGHT as decimal(15,3)) ,
ITEMWEIGHTUNIT  =NULLIF(cast(ITEMWEIGHTUNIT as nvarchar(3)),'') ,
ITEMVOLUME  =cast(ITEMVOLUME as decimal(15,3)) ,
ITEMVOLUMEUNIT  =NULLIF(cast(ITEMVOLUMEUNIT as nvarchar(3)),'') ,
SALESDOCUMENTRJCNREASON  =NULLIF(cast(SALESDOCUMENTRJCNREASON as nvarchar(2)),'') ,
NETAMOUNT  =cast(NETAMOUNT as decimal(15,2)) ,
TRANSACTIONCURRENCY  =NULLIF(cast(TRANSACTIONCURRENCY as nvarchar(5)),'') ,
PRICINGDATE  =NULLIF(cast(PRICINGDATE as nvarchar(8)),'') ,
PRICEDETNEXCHANGERATE  =cast(PRICEDETNEXCHANGERATE as decimal(9,5)) ,
NETPRICEAMOUNT  =cast(NETPRICEAMOUNT as decimal(11,2)) ,
NETPRICEQUANTITY  =cast(NETPRICEQUANTITY as decimal(5,0)) ,
NETPRICEQUANTITYUNIT  =NULLIF(cast(NETPRICEQUANTITYUNIT as nvarchar(3)),'') ,
STATISTICALVALUECONTROL  =NULLIF(cast(STATISTICALVALUECONTROL as nvarchar(1)),'') ,
TAXAMOUNT  =cast(TAXAMOUNT as decimal(13,2)) ,
COSTAMOUNT  =cast(COSTAMOUNT as decimal(13,2)) ,
SALESORDERCONDITION  =NULLIF(cast(SALESORDERCONDITION as nvarchar(10)),'') ,
SHIPPINGPOINT  =NULLIF(cast(SHIPPINGPOINT as nvarchar(4)),'') ,
SHIPPINGTYPE  =NULLIF(cast(SHIPPINGTYPE as nvarchar(2)),'') ,
DELIVERYPRIORITY  =NULLIF(cast(DELIVERYPRIORITY as nvarchar(2)),'') ,
ROUTE  =NULLIF(cast(ROUTE as nvarchar(6)),'') ,
ITEMISDELIVERYRELEVANT  =NULLIF(cast(ITEMISDELIVERYRELEVANT as nvarchar(1)),'') ,
BILLINGDOCUMENTDATE  =NULLIF(cast(BILLINGDOCUMENTDATE as nvarchar(8)),'') ,
ITEMISBILLINGRELEVANT  =NULLIF(cast(ITEMISBILLINGRELEVANT as nvarchar(1)),'') ,
ITEMBILLINGBLOCKREASON  =NULLIF(cast(ITEMBILLINGBLOCKREASON as nvarchar(2)),'') ,
PROFITCENTER  = case when isnumeric(PROFITCENTER) =1 
                               						then NULLIF(cast(cast(PROFITCENTER as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(PROFITCENTER as nvarchar(10)),'') end,
REFERENCESDDOCUMENT  =NULLIF(cast(REFERENCESDDOCUMENT as nvarchar(10)),'') ,
REFERENCESDDOCUMENTITEM  =NULLIF(cast(REFERENCESDDOCUMENTITEM as nvarchar(6)),'') ,
REFERENCESDDOCUMENTCATEGORY  =NULLIF(cast(REFERENCESDDOCUMENTCATEGORY as nvarchar(4)),'') ,
SDPROCESSSTATUS  =NULLIF(cast(SDPROCESSSTATUS as nvarchar(1)),'') ,
TOTALDELIVERYSTATUS  =NULLIF(cast(TOTALDELIVERYSTATUS as nvarchar(1)),'') ,
DELIVERYSTATUS  =NULLIF(cast(DELIVERYSTATUS as nvarchar(1)),'') ,
ITEMGENERALINCOMPLETIONSTATUS  =NULLIF(cast(ITEMGENERALINCOMPLETIONSTATUS as nvarchar(1)),'') ,
ITEMBILLINGINCOMPLETIONSTATUS  =NULLIF(cast(ITEMBILLINGINCOMPLETIONSTATUS as nvarchar(1)),'') ,
ITEMDELIVERYINCOMPLETIONSTATUS  =NULLIF(cast(ITEMDELIVERYINCOMPLETIONSTATUS as nvarchar(1)),'') ,
SDDOCUMENTREJECTIONSTATUS  =NULLIF(cast(SDDOCUMENTREJECTIONSTATUS as nvarchar(1)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCSALESORDITM x WITH (NOLOCK)
END

GO
