USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_SALESORDER]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <21/03/2022>
-- Description:	<LOAD STG ZXC_SALESORDER]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_SALESORDER]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_SALESORDER] 

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_SALESORDER] 
SELECT 
LoadDateTime,
AdditionalCustomerGroup1  =NULLIF(cast(AdditionalCustomerGroup1 as nvarchar(3)),'') ,
AdditionalCustomerGroup2  =NULLIF(cast(AdditionalCustomerGroup2 as nvarchar(3)),'') ,
AdditionalCustomerGroup3  =NULLIF(cast(AdditionalCustomerGroup3 as nvarchar(3)),'') ,
AdditionalCustomerGroup4  =NULLIF(cast(AdditionalCustomerGroup4 as nvarchar(3)),'') ,
AdditionalCustomerGroup5  =NULLIF(cast(AdditionalCustomerGroup5 as nvarchar(3)),'') ,
BillingCompanyCode  =NULLIF(cast(BillingCompanyCode as nvarchar(4)),'') ,
BusinessArea  =NULLIF(cast(BusinessArea as nvarchar(4)),'') ,
CentralCreditCheckStatus  =NULLIF(cast(CentralCreditCheckStatus as nvarchar(1)),'') ,
CentralCreditChkTechErrSts  =NULLIF(cast(CentralCreditChkTechErrSts as nvarchar(1)),'') ,
CompleteDeliveryIsDefined  =case CompleteDeliveryIsDefined when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ControllingArea  =NULLIF(cast(ControllingArea as nvarchar(4)),'') ,
ControllingObject  =NULLIF(cast(ControllingObject as nvarchar(22)),'') ,
CostCenter  = case when isnumeric(CostCenter) =1 
                               						then NULLIF(cast(cast(CostCenter as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(CostCenter as nvarchar(10)),'') end,
CostCenterBusinessArea  =NULLIF(cast(CostCenterBusinessArea as nvarchar(4)),'') ,
CreatedByUser  =NULLIF(cast(CreatedByUser as nvarchar(12)),'') ,
CreationDate  =CASE WHEN ISDATE(CreationDate) = 1 
                        		then CONVERT(datetime,CreationDate, 112)  
                         		else null 	end ,
CreationTime = CONVERT(VARCHAR(15), Stuff(Stuff(CreationTime, 3, 0, ':'), 6, 0, ':'), 8) ,
CreditControlArea  =NULLIF(cast(CreditControlArea as nvarchar(4)),'') ,
CustomerAccountAssignmentGroup  =NULLIF(cast(CustomerAccountAssignmentGroup as nvarchar(2)),'') ,
CustomerGroup  =NULLIF(cast(CustomerGroup as nvarchar(2)),'') ,
CustomerPaymentTerms  =NULLIF(cast(CustomerPaymentTerms as nvarchar(4)),'') ,
CustomerPurchaseOrderDate  =CASE WHEN ISDATE(CustomerPurchaseOrderDate) = 1 
                        		then CONVERT(datetime,CustomerPurchaseOrderDate, 112) 
                         		else null 	end ,
CustomerPurchaseOrderSuplmnt  =NULLIF(cast(CustomerPurchaseOrderSuplmnt as nvarchar(4)),'') ,
CustomerPurchaseOrderType  =NULLIF(cast(CustomerPurchaseOrderType as nvarchar(4)),'') ,
CustomerRebateAgreement  =NULLIF(cast(CustomerRebateAgreement as nvarchar(10)),'') ,
DeliveryBlockReason  =NULLIF(cast(DeliveryBlockReason as nvarchar(2)),'') ,
DistributionChannel  =NULLIF(cast(DistributionChannel as nvarchar(2)),'') ,
ExchangeRateDate  =CASE WHEN ISDATE(ExchangeRateDate) = 1 
                        		then CONVERT(datetime,ExchangeRateDate, 112) 
                         		else null 	end ,
ExchangeRateType  =NULLIF(cast(ExchangeRateType as nvarchar(4)),'') ,
ExprtInsurCreditCheckStatus  =NULLIF(cast(ExprtInsurCreditCheckStatus as nvarchar(1)),'') ,
FashionCancelDate  =CASE WHEN ISDATE(FashionCancelDate) = 1 
                        		then CONVERT(datetime,FashionCancelDate, 112) 
                         		else null 	end ,
FinDocCreditCheckStatus  =NULLIF(cast(FinDocCreditCheckStatus as nvarchar(1)),'') ,
FiscalPeriod  =NULLIF(cast(FiscalPeriod as nvarchar(3)),'') ,
FiscalYear  =NULLIF(cast(FiscalYear as nvarchar(4)),'') ,
FixedValueDate  =CASE WHEN ISDATE(FixedValueDate) = 1 
                        		then CONVERT(datetime,FixedValueDate, 112) 
                         		else null 	end ,
HdrGeneralIncompletionStatus  =NULLIF(cast(HdrGeneralIncompletionStatus as nvarchar(1)),'') ,
HeaderBillgIncompletionStatus  =NULLIF(cast(HeaderBillgIncompletionStatus as nvarchar(1)),'') ,
HeaderBillingBlockReason  =NULLIF(cast(HeaderBillingBlockReason as nvarchar(2)),'') ,
HeaderDelivIncompletionStatus  =NULLIF(cast(HeaderDelivIncompletionStatus as nvarchar(1)),'') ,
IncotermsClassification  =NULLIF(cast(IncotermsClassification as nvarchar(3)),'') ,
IncotermsLocation1  =NULLIF(cast(IncotermsLocation1 as nvarchar(70)),'') ,
IncotermsLocation2  =NULLIF(cast(IncotermsLocation2 as nvarchar(70)),'') ,
IncotermsTransferLocation  =NULLIF(cast(IncotermsTransferLocation as nvarchar(28)),'') ,
IncotermsVersion  =NULLIF(cast(IncotermsVersion as nvarchar(4)),'') ,
LastChangeDate  =CASE WHEN ISDATE(LastChangeDate) = 1 
                        		then CONVERT(datetime,LastChangeDate, 112) 
                         		else null 	end ,
LastChangeDateTime  =CASE WHEN ISDATE(LastChangeDateTime) = 1 
                        		then CONVERT(datetime,LastChangeDateTime, 112) 
                         		else 
        DATEADD(hh,DATEPART(TZOFFSET, CAST(FORMAT(LastChangeDateTime,'####-##-## ##:##:##.#######') as datetime2) AT TIME ZONE 'AUS Eastern Standard Time')/60,CAST(FORMAT(LastChangeDateTime,'####-##-## ##:##:##.#######') as datetime2))               
 	end ,
LastChangedByUser  =NULLIF(cast(LastChangedByUser as nvarchar(12)),'') ,
MaxDocValueCreditCheckStatus  =NULLIF(cast(MaxDocValueCreditCheckStatus as nvarchar(1)),'') ,
OrderID  =NULLIF(cast(OrderID as nvarchar(12)),'') ,
OrganizationDivision  =NULLIF(cast(OrganizationDivision as nvarchar(2)),'') ,
OverallBillingBlockStatus  =NULLIF(cast(OverallBillingBlockStatus as nvarchar(1)),'') ,
OverallDelivConfStatus  =NULLIF(cast(OverallDelivConfStatus as nvarchar(1)),'') ,
OverallDeliveryBlockStatus  =NULLIF(cast(OverallDeliveryBlockStatus as nvarchar(1)),'') ,
OverallDeliveryStatus  =NULLIF(cast(OverallDeliveryStatus as nvarchar(1)),'') ,
OverallOrdReltdBillgStatus  =NULLIF(cast(OverallOrdReltdBillgStatus as nvarchar(1)),'') ,
OverallPricingIncompletionSts  =NULLIF(cast(OverallPricingIncompletionSts as nvarchar(1)),'') ,
OverallPurchaseConfStatus  =NULLIF(cast(OverallPurchaseConfStatus as nvarchar(1)),'') ,
OverallSDDocReferenceStatus  =NULLIF(cast(OverallSDDocReferenceStatus as nvarchar(1)),'') ,
OverallSDDocumentRejectionSts  =NULLIF(cast(OverallSDDocumentRejectionSts as nvarchar(1)),'') ,
OverallSDProcessStatus  =NULLIF(cast(OverallSDProcessStatus as nvarchar(1)),'') ,
OverallTotalDeliveryStatus  =NULLIF(cast(OverallTotalDeliveryStatus as nvarchar(1)),'') ,
OverallTotalSDDocRefStatus  =NULLIF(cast(OverallTotalSDDocRefStatus as nvarchar(1)),'') ,
OvrlItmBillingIncompletionSts  =NULLIF(cast(OvrlItmBillingIncompletionSts as nvarchar(1)),'') ,
OvrlItmDelivIncompletionSts  =NULLIF(cast(OvrlItmDelivIncompletionSts as nvarchar(1)),'') ,
OvrlItmGeneralIncompletionSts  =NULLIF(cast(OvrlItmGeneralIncompletionSts as nvarchar(1)),'') ,
PaymentMethod  =NULLIF(cast(PaymentMethod as nvarchar(1)),'') ,
PaymentTermCreditCheckStatus  =NULLIF(cast(PaymentTermCreditCheckStatus as nvarchar(1)),'') ,
PaytAuthsnCreditCheckSts  =NULLIF(cast(PaytAuthsnCreditCheckSts as nvarchar(1)),'') ,
PricingDate  =CASE WHEN ISDATE(PricingDate) = 1 
                        		then CONVERT(datetime,PricingDate, 112) 
                         		else null 	end ,
ProductCatalog  =NULLIF(cast(ProductCatalog as nvarchar(10)),'') ,
PurchaseOrderByCustomer  =NULLIF(cast(PurchaseOrderByCustomer as nvarchar(35)),'') ,
ReferenceSDDocument  = case when isnumeric(ReferenceSDDocument) =1 
                               						then NULLIF(cast(cast(ReferenceSDDocument as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(ReferenceSDDocument as nvarchar(10)),'') end,
ReferenceSDDocumentCategory  =NULLIF(cast(ReferenceSDDocumentCategory as nvarchar(4)),'') ,
RequestedDeliveryDate  =CASE WHEN ISDATE(RequestedDeliveryDate) = 1 
                        		then CONVERT(datetime,RequestedDeliveryDate, 112)  
                         		else null 	end ,
RetailPromotion  =NULLIF(cast(RetailPromotion as nvarchar(10)),'') ,
SalesDistrict  =NULLIF(cast(SalesDistrict as nvarchar(6)),'') ,
SalesGroup  =NULLIF(cast(SalesGroup as nvarchar(3)),'') ,
SalesOffice  =NULLIF(cast(SalesOffice as nvarchar(4)),'') ,
SalesOrder  = case when isnumeric(SalesOrder) =1 
                               						then NULLIF(cast(cast(SalesOrder as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(SalesOrder as nvarchar(10)),'') end,
SalesOrderCondition  =NULLIF(cast(SalesOrderCondition as nvarchar(10)),'') ,
SalesOrderDate  =CASE WHEN ISDATE(SalesOrderDate) = 1 
                        		then CONVERT(datetime,SalesOrderDate, 112) 
                         		else null 	end ,
SalesOrderProcessingType  =NULLIF(cast(SalesOrderProcessingType as nvarchar(1)),'') ,
SalesOrderType  = case SalesOrderType when 'TA' then 'OR' else  NULLIF(cast(SalesOrderType as nvarchar(4)),'') end ,
SalesOrganization  =NULLIF(cast(SalesOrganization as nvarchar(4)),'') ,
SDDocumentCollectiveNumber  =NULLIF(cast(SDDocumentCollectiveNumber as nvarchar(10)),'') ,
SDDocumentReason  =NULLIF(cast(SDDocumentReason as nvarchar(3)),'') ,
ServicesRenderedDate  =CASE WHEN ISDATE(ServicesRenderedDate) = 1 
                        		then CONVERT(datetime,ServicesRenderedDate, 112) 
                         		else null 	end ,
ShippingCondition  =NULLIF(cast(ShippingCondition as nvarchar(2)),'') ,
ShippingType  =NULLIF(cast(ShippingType as nvarchar(2)),'') ,
SoldToParty  = case when isnumeric(SoldToParty) =1 
                               						then NULLIF(cast(cast(SoldToParty as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(SoldToParty as nvarchar(10)),'') end,
StatisticsCurrency  =NULLIF(cast(StatisticsCurrency as nvarchar(5)),'') ,
TotalBlockStatus  =NULLIF(cast(TotalBlockStatus as nvarchar(1)),'') ,
TotalCreditCheckStatus  =NULLIF(cast(TotalCreditCheckStatus as nvarchar(1)),'') ,
TotalNetAmount  =cast(TotalNetAmount as decimal(38,6)) ,
TransactionCurrency  =NULLIF(cast(TransactionCurrency as nvarchar(5)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCSALESORDER WITH (NOLOCK)
END

GO
