USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_PriorCommittedSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD FACT PriorCommittedSales]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_PriorCommittedSales]
AS


SET NOCOUNT ON;

TRUNCATE TABLE FACT.PriorCommittedsales;
 
 

WITH 
lastforecast
AS (SELECT MonthendDate AS eomsnapshotdate
	FROM Dim.CalendarDate
	WHERE PeriodOffset = 1
	AND IsPeriodEnd = 1
),


priorforecast
AS (SELECT MonthendDate AS eomsnapshotdate
	FROM Dim.CalendarDate
	WHERE PeriodOffset = 2
	AND IsPeriodEnd = 1
)
,
priorweek
AS (SELECT MonthEndDate AS monthend_date,
    WeekendDate AS weekend_date,
    WeekCommenceDate AS weekcommence_date,
    FiscalYear AS fiscal_year,
    FiscalWeek AS fiscal_week,
    FiscalPeriod AS fiscal_period,
    WeekOfMonth AS weekofmonth,
    CAST(CAST(fiscalyear AS varchar(4)) + RIGHT('0' + CAST(fiscalweek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey
  FROM Dim.CalendarDate (NOLOCK) p
  INNER JOIN priorforecast l
    ON p.WeekendDate = eomsnapshotdate
	AND p.IsWeekend = 1)

	insert into Fact.PriorCommittedSales

SELECT e.SnapshotDate,
	  CONVERT(VARCHAR(4),w.FiscalYear) + ' ' + CONVERT(VARCHAR(2),e.FiscalWeek) AS FiscalYearWeekDisplay,
	  CAST(CAST(w.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(e.fiscalweek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey,
	  w.FiscalYear AS FiscalYear,
	  e.FiscalWeek,
	  e.CustomerNo as CustomerNo,
	  ProductNo,
	  SalesQuantity AS PriorCommittedSalesQuantity,
	  NetInvoiceValue AS PriorCommittedNetInvoiceValue,
	  -1 * InvoiceDiscount AS PriorCommittedInvoiceDiscount,
	  -1 * CaseDiscount AS PriorCommittedCaseDiscount,
	  -1 * TermsDiscount AS PriorCommittedTermsDiscount,
	  -1 * OtherDiscount AS PriorCommittedOtherDiscount,
	  -1 * COGS AS PriorCommittedCOGS,
	  GrossMargin AS PriorCommittedGrossMargin,
	  BaselineQuantity AS PriorCommittedBaselineQuantity,
	  IncrementalQuantity AS PriorCommittedIncrementalQuantity,
	  -1 * FreightCost AS PriorCommittedFreightOutbound,
	  SalesQuantity as PriorCommittedFreightQuantity,
	  FreightCaseRate as PriorCommittedFreightCaseRate,
	  (SalesQuantity*FreightCaseRate)*FreightFuelLevy as PriorCommittedFreightFuelLevy
	FROM Fact.WeekLatestForecastSnapshot (NOLOCK) e
	INNER JOIN PriorForecast l
	  ON l.eomsnapshotdate = e.SnapshotDate
	INNER JOIN Dim.CalendarDate w
	  ON e.WeekendDate=w.WeekendDate
      AND w.IsWeekend=1 
	  AND w.PeriodOffset<2

	
	UNION ALL

	SELECT '1900-01-01 00:00:00' AS EoMSnapshotDate,
	  FiscalYearWeekDisplay,
	  CAST(CAST(fiscalyear AS varchar(4)) + RIGHT('0' + CAST(fiscalweek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey,
	  fiscalyear,
	  fiscalweek,
	  customerno,
	  productno,

	  ActualSalesQuantity AS [PriorCommittedSalesQuantity],
	  ActualNetInvoiceValue AS [PriorCommittedNetInvoiceValue],
	  ActualInvoiceDiscount AS [PriorCommittedInvoiceDiscount],
	  ActualCaseDiscount AS [PriorCommittedCaseDiscount],
	  ActualTermsDiscount AS [PriorCommittedTermsDiscount],
	  ActualOtherDiscount AS [PriorCommittedOtherDiscount],
	  ActualCOGS AS [PriorCommittedCOGS],
	  ActualGrossMargin AS [PriorCommittedGrossMargin],
	  ActualBaselineQuantity AS PriorCommittedBaselineQuantity,
	  ActualIncrementalQuantity AS PriorCommittedIncrementalQuantity,
	  ActualFreightOutbound as PriorCommittedFreightOutbound,
	  NULL AS PriorCommittedFreightQuantity,
	  NULL AS PriorCommittedFreightCaseRate,
	  ActualFreightFuelLevy AS PriorCommittedFreightFuelLevy
	FROM FACT.ActualSales (NOLOCK)
	WHERE CAST(CAST(fiscalyear AS varchar(4)) + RIGHT('0' + CAST(fiscalweek AS varchar(2)), 2) AS int) <= (SELECT
		FiscalYearWeekIntKey
	  FROM priorweek)
      
       UNION ALL  
  

   
  
  SELECT 
  EoMSnapshotDate				=	'1900-01-01 00:00:00' ,
  FiscalYearWeekDisplay		=CAST(a.FiscalYear AS varchar(4)) + ' ' + CAST(a.fiscalweek AS varchar(2)) ,
  FiscalYearWeekIntKey		=CAST(
        					CAST(a.FiscalYear AS varchar(4)) + RIGHT('0' + CAST(a.fiscalweek AS varchar(2)), 2)
        					AS int)  ,
  FiscalYear				=a.FiscalYear,
  FiscalWeek				=a.FiscalWeek,
  CustomerNo				=a.CustomerNo,
  ProductNo					=a.ProductNo
  ,PriorCommittedSalesQuantity	= a.ForecastAdjustmentSalesQuantity		 
  ,PriorCommittedNetInvoiceValue	= a.ForecastAdjustmentNetInvoiceValue	
  ,PriorCommittedInvoiceDiscount	= 	a.ForecastAdjustmentInvoiceDiscount		
  ,PriorCommittedCaseDiscount	= 	a.ForecastAdjustmentCaseDiscount			
  ,PriorCommittedTermsDiscount	= 	a.ForecastAdjustmentTermsDiscount			
  ,PriorCommittedOtherDiscount	=	a.ForecastAdjustmentOtherDiscount		 
  ,PriorCommittedCOGS			=	a.ForecastAdjustmentCOGS					 
  ,PriorCommittedGrossMargin		=	a.ForecastAdjustmentGrossMargin			
  ,PriorCommittedBaselineQuantit	=	a.ForecastAdjustmentBaselineQuantity		
  ,PriorCommittedIncrementalQuantity	=a.ForecastAdjustmentIncrementalQuantity	
  ,PriorCommittedFreightOutbound	=	a.ForecastAdjustmentFreightCost		
  ,PriorCommittedFreightQuantity	=	a.ForecastAdjustmentFreightQuantity       
  ,PriorCommittedFreightCaseRate	=	a.ForecastAdjustmentFreightCaseRate       
  ,PriorCommittedFreightFuelLevy	=	a.ForecastAdjustmentFreightFuelLevy

FROM 
   ODS.vwForecastAdjustment a (NOLOCK)
  INNER JOIN Dim.CalendarDate w WITH (NOLOCK) 
   ON a.FiscalYear =w.FiscalYear
   AND a.FiscalWeek= w.FiscalWeek
		AND w.IsWeekend=1 
		AND w.PeriodOffset<2


GO
