USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Fact_SacForecast]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <02/02/2022>
-- Description:	<UPSERT data in Fact.SacForecast>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Upsert_Fact_SacForecast]
AS

WITH
  SacForecastTransformed as
  (  SELECT    FiscalYearWeekDisplay	 AS FiscalYearWeekDisplay
	, CAST(FiscalYearWeekIntKey AS INT) AS FiscalYearWeekIntKey
	, CAST(FiscalYear AS INT) AS FiscalYear
  	, CAST(FiscalWeek AS INT) AS FiscalWeek
	, CAST(LTRIM(STR(CustomerNo,10)) AS NVARCHAR(10)) AS CustomerNo 
	, CAST(RTrim(LTrim(ProductNo)) AS NVARCHAR(40)) AS ProductNo 
	, cast (isnull(ForecastSalesQuantity,0) as float) AS ForecastSalesQuantity
	, cast (isnull(ForecastNetInvoiceValue,0) as float) AS ForecastNetInvoiceValue
   	, ForecastInvoiceDiscount		= -1 * cast (isnull(ForecastInvoiceDiscount,0) as float) 
	, ForecastCaseDiscount		= -1 * cast (isnull(ForecastCaseDiscount,0) as float) 
	, ForecastTermsDiscount		= -1 * cast (isnull(ForecastTermsDiscount,0) as float)
	, ForecastOtherDiscount		= -1 * cast (isnull(ForecastOtherDiscount,0) as float)
	, ForecastCOGS				= -1 * cast (isnull(ForecastCOGS,0) as float)
	, ForecastMaterialCosts		= -1 * cast (isnull(ForecastMaterialCosts,0) as float)
	, ForecastOperationCosts		= -1 * cast (isnull(ForecastOperationCosts,0) as float)
	, ForecastGrossMargin			= cast (isnull(ForecastNetInvoiceValue,0) as float)
    							- cast (isnull(ForecastCaseDiscount,0) as float)
                                - cast (isnull(ForecastTermsDiscount,0) as float)
                                - cast (isnull(ForecastOtherDiscount,0) as float)
                                - cast (isnull(ForecastCOGS,0) as float)
   	, cast (isnull(ForecastBaselineQuantity,0) as float)  AS ForecastBaselineQuantity
	, cast (isnull(ForecastIncrementalQuantity,0) as float) AS ForecastIncrementalQuantity
	, ForecastFreightOutbound		= -1 * cast (isnull(ForecastFreightOutbound,0) as float)
	, cast (isnull(ForecastFreightQuantity,0) as float) AS ForecastFreightQuantity
	, cast (isnull(ForecastFreightCaseRate,0) as float) AS ForecastFreightCaseRate
	, cast (isnull(ForecastFreightFuelLevy,0) as float) AS ForecastFreightFuelLevy
	, cast (isnull(ForecastFreightGLAdjustment,0) as float) AS ForecastFreightGLAdjustment
	, Source as [Source]
	,SacVersion
from SAPSTG.SacForecast) 

MERGE INTO FACT.SacForecast  as Target
USING SacForecastTransformed as Source
ON			Target.FiscalYearWeekIntKey = Source.FiscalYearWeekIntKey
				AND Target.CustomerNo = Source.CustomerNo
				AND Target.ProductNo = Source.ProductNo
  -- Prepare Output for matched rows
  WHEN MATCHED THEN UPDATE 
  SET
	 Target.[FiscalYearWeekDisplay]		= Source.FiscalYearWeekDisplay
      ,Target.[FiscalYear]				= Source.FiscalYear
      ,Target.[FiscalWeek]				= Source.FiscalWeek
      ,Target.[ForecastSalesQuantity]		= Source.ForecastSalesQuantity
      ,Target.[ForecastNetInvoiceValue]	= Source.ForecastNetInvoiceValue
      ,Target.[ForecastInvoiceDiscount]	= Source.ForecastInvoiceDiscount
      ,Target.[ForecastCaseDiscount]		= Source.ForecastCaseDiscount
      ,Target.[ForecastTermsDiscount]		= Source.ForecastTermsDiscount
      ,Target.[ForecastOtherDiscount]		= Source.ForecastOtherDiscount
      ,Target.[ForecastCOGS]				= Source.ForecastCOGS
      ,Target.[ForecastMaterialCosts]		= Source.ForecastMaterialCosts
      ,Target.[ForecastOperationCosts]	= Source.ForecastOperationCosts
      ,Target.[ForecastGrossMargin]		= Source.ForecastGrossMargin
      ,Target.[ForecastBaselineQuantity]	= Source.ForecastBaselineQuantity
      ,Target.[ForecastIncrementalQuantity]	= Source.ForecastIncrementalQuantity
      ,Target.[ForecastFreightOutbound]	= Source.ForecastFreightOutbound
      ,Target.[ForecastFreightQuantity]	= Source.ForecastFreightQuantity
      ,Target.[ForecastFreightCaseRate]	= Source.ForecastFreightCaseRate
      ,Target.[ForecastFreightFuelLevy]	= Source.ForecastFreightFuelLevy
      ,Target.[ForecastFreightGLAdjustment]= Source.ForecastFreightGLAdjustment
	  ,Target.[Source]					= Source.[Source]
	   ,Target.[SacVersion]					= Source.[SacVersion]
  -- Prepare Output for not matched rows
	WHEN NOT MATCHED
	THEN INSERT
	( [FiscalYearWeekDisplay]
      ,[FiscalYearWeekIntKey]
      ,[FiscalYear]
      ,[FiscalWeek]
      ,[CustomerNo]
      ,[ProductNo]
      ,[ForecastSalesQuantity]
      ,[ForecastNetInvoiceValue]
      ,[ForecastInvoiceDiscount]
      ,[ForecastCaseDiscount]
      ,[ForecastTermsDiscount]
      ,[ForecastOtherDiscount]
      ,[ForecastCOGS]
      ,[ForecastMaterialCosts]
      ,[ForecastOperationCosts]
      ,[ForecastGrossMargin]
      ,[ForecastBaselineQuantity]
      ,[ForecastIncrementalQuantity]
      ,[ForecastFreightOutbound]
      ,[ForecastFreightQuantity]
      ,[ForecastFreightCaseRate]
      ,[ForecastFreightFuelLevy]
      ,[ForecastFreightGLAdjustment]
      ,[Source]
	  ,[SacVersion])
	  Values
	  (Source.[FiscalYearWeekDisplay]
      ,Source.[FiscalYearWeekIntKey]
      ,Source.[FiscalYear]
      ,Source.[FiscalWeek]
      ,Source.[CustomerNo]
      ,Source.[ProductNo]
      ,Source.[ForecastSalesQuantity]
      ,Source.[ForecastNetInvoiceValue]
      ,Source.[ForecastInvoiceDiscount]
      ,Source.[ForecastCaseDiscount]
      ,Source.[ForecastTermsDiscount]
      ,Source.[ForecastOtherDiscount]
      ,Source.[ForecastCOGS]
      ,Source.[ForecastMaterialCosts]
      ,Source.[ForecastOperationCosts]
      ,Source.[ForecastGrossMargin]
      ,Source.[ForecastBaselineQuantity]
      ,Source.[ForecastIncrementalQuantity]
      ,Source.[ForecastFreightOutbound]
      ,Source.[ForecastFreightQuantity]
      ,Source.[ForecastFreightCaseRate]
      ,Source.[ForecastFreightFuelLevy]
      ,Source.[ForecastFreightGLAdjustment]
      ,Source.[Source]
	  ,Source.[SacVersion]);
GO
