USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CUSTHIERARCHY]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_CUSTHIERARCHY]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CUSTHIERARCHY]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE SAPSTG.ZXC_CUSTHIERARCHY

-- Insert data into staging table

INSERT INTO SAPSTG.ZXC_CUSTHIERARCHY
SELECT   NULLIF (CAST(TaskExecutionID AS int), '') AS ProcessExecutionID, LoadDateTime, CASE bokre WHEN 'X' THEN CAST(1 AS bit) ELSE CAST(0 AS bit) END AS bokre, CASE WHEN ISDATE(datab) = 1 THEN CONVERT(datetime, datab, 112) ELSE NULL END AS datab, CASE WHEN ISDATE(datbi) = 1 THEN CONVERT(datetime, datbi, 112) 
             ELSE NULL END AS datbi, NULLIF (CAST(GRPNO AS nvarchar(3)), '') AS grpno, NULLIF (CAST(HITYP AS nvarchar(1)), '') AS hityp, CASE WHEN isnumeric(hkunnr) = 1 THEN CAST(CAST(hkunnr AS BIGINT) AS nvarchar(10)) ELSE CAST(hkunnr AS nvarchar(10)) END AS hkunnr, NULLIF (CAST(HSPART AS nvarchar(2)), '') AS hspart, 
             NULLIF (CAST(HVKORG AS nvarchar(4)), '') AS hvkorg, NULLIF (CAST(HVTWEG AS nvarchar(2)), '') AS hvtweg, NULLIF (CAST(HZUOR AS nvarchar(2)), '') AS hzuor, CASE WHEN isnumeric(kunnr) = 1 THEN CAST(CAST(kunnr AS BIGINT) AS nvarchar(10)) WHEN CAST(kunnr AS nvarchar(10)) = '' THEN NULL 
             ELSE CAST(kunnr AS nvarchar(10)) END AS kunnr, CASE prfre WHEN 'X' THEN CAST(1 AS bit) ELSE CAST(0 AS bit) END AS prfre, NULLIF (CAST(SPART AS nvarchar(2)), '') AS spart, NULLIF (CAST(VKORG AS nvarchar(4)), '') AS vkorg, NULLIF (CAST(VTWEG AS nvarchar(2)), '') AS vtweg, CAST(GETDATE() AS date) 
             AS ScriptVersionDate
FROM     SAPSTG.ZXCCUSTHIERARCHY WITH (NOLOCK)

END




GO
