USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ZXC_ADDMATGRP4TXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<BHATRAH>
-- Create date: <14/01/2022>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ODS_ZXC_ADDMATGRP4TXT]
AS



TRUNCATE TABLE [ODS].[ZXC_ADDMATGRP4TXT]

BEGIN

Insert into [ODS].[ZXC_ADDMATGRP4TXT] 
select * from SAPSTG.ZXC_ADDMATGRP4TXT where Language = 'EN'
END
GO
