USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateTabledata_Customer]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		BHATRAH
-- Create date: 21/12/2021
-- Description:	Common SP to TRUNCATE PRE STG MD CUSTOMER TABLES
/* Ver No		Date			Name		Description
	1.0			21/12/2021		BHATRAH		Initial Draft
	1.1			30/01/2024		Shinkis		Added new columns as a part of Ticket# 77244
	*/
-- =============================================
CREATE PROCEDURE [dbo].[usp_TruncateTabledata_Customer] 
AS
BEGIN
	
	SET NOCOUNT ON;

	TRUNCATE TABLE [SAPSTG].[ZXCCUSTHIERARCHY]
	TRUNCATE TABLE [SAPSTG].[ZXCCUSTOMER]
	TRUNCATE TABLE [SAPSTG].[ZXCCUSTSALESPARTNER]
	TRUNCATE TABLE [SAPSTG].[ZXCADDRESS]
	TRUNCATE TABLE [SAPSTG].[ZXCCUSTCONTACT]
	TRUNCATE TABLE [SAPSTG].[ZXCCUSTCOMPANY]
	TRUNCATE TABLE [SAPSTG].[ZXCCUSTSALESAREA ]
	TRUNCATE TABLE [SAPSTG].[ZXCADDCUSTGRP2NAME]
	TRUNCATE TABLE [SAPSTG].[ZXCPRICELSTTYPTXT]
	TRUNCATE TABLE [SAPSTG].[CV_MD_LISTPRICE_BULLA_BI]		--Added as a part of Ticket#77244 --30/01/2024
	TRUNCATE TABLE [SAPSTG].[CV_MD_PRICEGROUP]				--Added as a part of Ticket#77244 --30/01/2024
	TRUNCATE TABLE [SAPSTG].[CV_MD_PRICELIST]				--Added as a part of Ticket#77244 --30/01/2024
-- begin change by CHAKABH--								--- Added for Masterdata consolidation
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ADR2];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ADRC];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_KNA1];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_KNB1];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_KNVA];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_KNVV];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_LFA1];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_LFM1];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_LFB1];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ADR3];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ADR6];
	Truncate table [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_DFKKBPTAXNUM];
	Truncate Table [SAPSTG].[CV_PR_MD_BUT051];
	Truncate Table [SAPSTG].[CV_PR_MD_BUTID];	
	Truncate Table [sapstg].[CV_PR_MD_CUSTTEXT];
	Truncate Table [SAPSTG].[CV_PR_VBRK];
	Truncate Table [SAPSTG].[CV_PR_MD_T052];
	Truncate Table [SAPSTG].[CV_PR_MD_BUT000];
		
-- end change by chakabh
END

GO
