USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CUSTSALESAREA]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_CUSTSALESAREA>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CUSTSALESAREA]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_CUSTSALESAREA]

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_CUSTSALESAREA]  
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AccountByCustomer  =NULLIF(cast(AccountByCustomer as nvarchar(12)),'') ,
AreaCode  =NULLIF(cast(AreaCode as nvarchar(3)),'') ,
AuthorizationGroup  =NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
BillingIsBlockedForCustomer  =NULLIF(cast(BillingIsBlockedForCustomer as nvarchar(2)),'') ,
CompleteDeliveryIsDefined  =case CompleteDeliveryIsDefined when 'X' then cast(1 as bit) else cast(0 as bit) end ,
Currency  =NULLIF(cast(Currency as nvarchar(5)),'') ,
Customer  = case when isnumeric(Customer) =1 
                                    		then 	cast(cast(Customer as BIGINT) as nvarchar(10))
                                            else  cast(Customer as nvarchar(10)) end,
CustomerABCClassification  =NULLIF(cast(CustomerABCClassification as nvarchar(2)),'') ,
CustomerAccountAssignmentGroup  =NULLIF(cast(CustomerAccountAssignmentGroup as nvarchar(2)),'') ,
CustomerGroup  =NULLIF(cast(CustomerGroup as nvarchar(2)),'') ,
CustomerPaymentTerms  =NULLIF(cast(CustomerPaymentTerms as nvarchar(4)),'') ,
CustomerPriceGroup  =NULLIF(cast(CustomerPriceGroup as nvarchar(2)),'') ,
CustomerPricingProcedure  =NULLIF(cast(CustomerPricingProcedure as nvarchar(2)),'') ,
DeletionIndicator  =case DeletionIndicator when 'X' then cast(1 as bit) else cast(0 as bit) end ,
DeliveryIsBlockedForCustomer  =NULLIF(cast(DeliveryIsBlockedForCustomer as nvarchar(2)),'') ,
DeliveryPriority  =NULLIF(cast(DeliveryPriority as nvarchar(2)),'') ,
DistributionChannel  =NULLIF(cast(DistributionChannel as nvarchar(2)),'') ,
Division  =NULLIF(cast(Division as nvarchar(2)),'') ,
IncotermsClassification  =NULLIF(cast(IncotermsClassification as nvarchar(3)),'') ,
IncotermsLocation1  =NULLIF(cast(IncotermsLocation1 as nvarchar(70)),'') ,
IncotermsLocation2  =NULLIF(cast(IncotermsLocation2 as nvarchar(70)),'') ,
IncotermsTransferLocation  =NULLIF(cast(IncotermsTransferLocation as nvarchar(28)),'') ,
IncotermsVersion  =NULLIF(cast(IncotermsVersion as nvarchar(4)),'') ,
InvoiceDate  =NULLIF(cast(InvoiceDate as nvarchar(2)),'') ,
ItemOrderProbabilityInPercent  =NULLIF(cast(ItemOrderProbabilityInPercent as nvarchar(3)),'') ,
OrderCombinationIsAllowed  =case OrderCombinationIsAllowed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
OrderIsBlockedForCustomer  =NULLIF(cast(OrderIsBlockedForCustomer as nvarchar(2)),'') ,
PartialDeliveryIsAllowed  =NULLIF(cast(PartialDeliveryIsAllowed as nvarchar(1)),'') ,
PaymentTerms  =NULLIF(cast(PaymentTerms as nvarchar(4)),'') ,
PriceListType  =NULLIF(cast(PriceListType as nvarchar(2)),'') ,
SalesDistrict  =NULLIF(cast(SalesDistrict as nvarchar(6)),'') ,
SalesGroup  =NULLIF(cast(SalesGroup as nvarchar(3)),'') ,
SalesOffice  =NULLIF(cast(SalesOffice as nvarchar(4)),'') ,
SalesOrganization  =NULLIF(cast(SalesOrganization as nvarchar(4)),'') ,
ShippingCondition  =NULLIF(cast(ShippingCondition as nvarchar(2)),'') ,
SupplyingPlant  =NULLIF(cast(SupplyingPlant as nvarchar(4)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCCUSTSALESAREA WITH (NOLOCK) 
END
GO
