USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_ODSMRPSnapshotMonthEnd]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_Upsert_ODSMRPSnapshotMonthEnd]
AS
DECLARE @OffsetStart INT;
DECLARE @OffsetEnd INT;
SET @OffsetStart = -12;
SET @OffsetEnd = -1; 

DELETE m FROM ODS.MRPSnapshotLTP m
INNER JOIN  dim.CalendarDate c
ON convert(Date,m.LoadDateTime) = c.CalendarDate
and c.PeriodOffset = 0 -- Bruce changed from month to period on 29/08/25
and m.SnapshotType = 'LTP';


with StockCoveragePro as 
(select   distinct Material, Plant, Calweek,cal.WeekcommenceDate, cal.WeekendDate, -_bic_Zavr_cp as AvConsumptionQty
from SAPSTG.CV_PR_MRP_COVERAGE_DAYS cov
inner join DIM.CalendarDate cal
on  cov.CalWeek = concat(cal.WeekYear,right(concat('0',cal.CalendarWeekOfYear),2))
--where [Material] = '4006' and Plant = '3000'
),

StockProjection as(
select distinct stock.Material, stock.Plant, cal.CalendarDate, Sum(PlannedMovement_Qty) over (partition by  Material, Plant Order by  cal.CalendarDate) as StockQty 
from SAPSTG.CV_MRP_MOVEMENT_INTERPLANT Stock
inner join DIM.CalendarDate cal 
on Stock.CalendarDay = cal.DateKey
where [MRP Element] not in ('Z5','ZS','Z8','Z7') 
--and
--[Material] = '4006' and Plant = '3000'
),

StatCoverage as(
select distinct sto.Material , sto.Plant, CalendarDate,  StockQty
--,cov.Calweek,cal.WeekcommenceDate, cal.WeekendDate
, AvConsumptionQty as AverageConsumptionQty, case when AvConsumptionQty = 0 then 0 else StockQty/ AvConsumptionQty end as StatCoverageDay
from StockProjection Sto
left outer join   StockCoveragePro cov
on Sto.Material = cov.Material and 
Sto.Plant = cov.Plant
where Sto.CalendarDate >= cov.WeekcommenceDate and Sto.CalendarDate <= cov.WeekendDate
)

INSERT INTO ODS.MRPSnapshotLTP
SELECT
	m.Material As Material
	,m.Plant As Plant
	,m.[Material Type] as [Material Type]
	,m.[MRP Element] as [MRP Element]
	, GETDATE() AS LoadDateTime
    , CW.WeekendDate AS WeekendDay
	, CW.MonthendDate As MonthEndDay
	,WorkCenter As WorkCenter
	,sum([Receipts]) AS [StocksGoods Receipt]
	, 'LTP' As [SnapshotType]
	, -avg(cw.PeriodOffset) AS [Version]
	, Unit AS Unit
 	, ct.WeekcommenceDate as SnapshotDate
	, Customer as Customer
	, vendor as Vendor
	,sum(Requirement) AS [StocksGoods Issue]
	,sum(PlannedMovement_Qty) AS [Planned Movement Qty]
	,sum(PlannedMovement_Val) AS [Planned Movement Val]
	,sum([StockGoods ReceiptVal]) AS [Goods Receipt Value]
	,sum([StockGoods IssueVal]) AS [Goods Issue Value]
	, avg(StatCoverageDay) as StatCoverageDay
	, CW.WeekcommenceDate AS WeekCommenceDay
	,sum(VSFForecast) as VSFForecast
	,sum(ProjectedStockOnHand) as ProjectedStockOnHand
FROM [SAPSTG].[CV_MRP_MOVEMENT_INTERPLANT] (NOLOCK) m
INNER JOIN Dim.CalendarDate(NOLOCK) CW ON m.CalendarDay = CW.DateKey
  left outer join Dim.CalendarDate(NOLOCK) ct ON Convert(DATE,GETDATE()) = Ct.CalendarDate
left outer join StatCoverage stat on stat.Material = m.Material and Stat.Plant = 3000 and CW.WeekcommenceDate = stat.CalendarDate
 left outer join SAPSTG.CV_PR_MRP_ROLLING_COV_DAYS m2 on Replace(ltrim(Replace(m.Material,'0',' ')),' ','0')  = Replace(ltrim(Replace(m2.Material,'0',' ')),' ','0') 
and m.Plant = m2.Plant and concat(cw.CalendarYear, Right(concat('0',cw.CalendarWeekOfYear),2)) = m2.CALWEEK
and  concat(cw.CalendarYear, Right(concat('0',cw.CalendarMonth),2)) = m2.CALMONTH
 where 
  m.[MRP Element] not in ('ZS','Z5','Z8','Z7') and 
  cw.PeriodOffset between @OffsetStart and @OffsetEnd

group by m.Material, m.Plant ,m.[Material Type] ,m.[MRP Element] 
	,CW.WeekendDate
    , CW.WeekcommenceDate 
	, CW.MonthendDate
	, Unit 
	, ct.WeekcommenceDate
	, Customer
	, Vendor
	, WorkCenter

GO
