USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_FactEOWMRPRollingCoverageSnapshot]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Upsert_FactEOWMRPRollingCoverageSnapshot]
AS

TRUNCATE TABLE Fact.EOMRPRollingCoverageSnapshot;

with SelectLastCoverageDC as
(
Select rol.*,rank() over (PARTITION BY Material, Plant, rol.FiscalYear,rol.FiscalPeriod  ORDER BY rol.CalendarWeekOffset DESC) AS VersionNo   from ODS.MRPRollingCoverageSnapshot rol
left outer join dim.CalendarDate cal
on rol.WeekcommenceDate = Cal.WeekcommenceDate
where cal.IsPeriodEnd = 1
and Plant= '3000' 
),
FlattenCoverageLastWeek as
(Select material,
Plant,
CalendarWeek,
Case when VersionNo = 1 then Max(BullaCoverageDays) else 0 end as [BullaCovMonthEndWeek],
Case when VersionNo = 1 then Max(SnapshotDate) else '' end as [MonthEndWeekSnapshotDay],
Case when VersionNo = 2 then Max(BullaCoverageDays) else 0 end as BullaCovMonthEndWeekLag1,
Case when VersionNo = 2 then Max(SnapshotDate) else '' end as [MonthEndWeekSnapshotDayLag1],
Case when VersionNo = 3 then Max(BullaCoverageDays) else 0 end as BullaCovMonthEndWeekLag2,
Case when VersionNo = 3 then Max(SnapshotDate) else '' end as [MonthEndWeekSnapshotDayLag2],
Case when VersionNo = 4 then Max(BullaCoverageDays) else 0 end as BullaCovMonthEndWeekLag3,
Case when VersionNo = 4 then Max(SnapshotDate) else '' end as [MonthEndWeekSnapshotDayLag3],
--Case when CalendarWeekOffset = -4 then Max(BullaCoverageDays) else 0 end as BullaCovLastWeekLag,4
Case when VersionNo = 1 then Max(StockCoverageDays) else 0 end as StockCovMonthWeek,
--Case when VersionNo = 2 then Max(StockCoverageDays) else 0 end as StockCovMonthEndWeekLag1,
--Case when VersionNo = 3 then Max(StockCoverageDays) else 0 end as StockCovMonthEndWeekLag2,
--Case when VersionNo = 4 then Max(StockCoverageDays) else 0 end as StockCovMonthEndWeekLag3,
Case when VersionNo = 2 then Max(StockCoverageDays) else 0 end as StockCovMonthEndWeekLag1,
Case when VersionNo = 3 then Max(StockCoverageDays) else 0 end as StockCovMonthEndWeekLag2,
Case when VersionNo = 4 then Max(StockCoverageDays) else 0 end as StockCovMonthEndWeekLag3,
--Case when CalendarWeekOffset = -4 then Max(BullaCoverageDays) else 0 end as BullaCovLastWeekLag,4
WeekcommenceDate,
FiscalYear,
FiscalPeriod,
WeekendDate
from SelectLastCoverageDC
group by 
material,
Plant,
CalendarWeek,
WeekcommenceDate,
FiscalYear,
FiscalPeriod,
WeekendDate,
VersionNo,
CalendarWeekOffset
),
GetPrevPeriodLastWeek as
(
Select cur.*,prev.BullaCovMonthEndWeek as [BullaCovMonthWeekPrevPer],
prev.MonthEndWeekSnapshotDay as [MonthEndWeekPrevPerSnapshotDay],
prev.StockCovMonthWeek as [StockCovMonthWeekPrevPer]
from FlattenCoverageLastWeek cur
left outer join FlattenCoverageLastWeek prev
on ((cur.FiscalYear = prev.FiscalYear and (cur.FiscalPeriod -1) = prev.FiscalPeriod)
or (cur.FiscalYear - 1  = prev.FiscalYear and (cur.FiscalPeriod  = 1)))
and cur.Material = prev.Material and cur.Plant = prev.Plant
)

INSERT into Fact.EOMRPRollingCoverageSnapshot
( [material]
      ,[Plant]
      ,[CalendarWeek]
      ,[BullaCovMonthEndWeek]
      ,[MonthEndWeekSnapshotDay]
      ,[BullaCovMonthEndWeekLag1]
      ,[MonthEndWeekSnapshotDaylag1]
      ,[BullaCovMonthEndWeekLag2]
      ,[MonthEndWeekSnapshotDayLag2]
      ,[BullaCovMonthEndWeekLag3]
      ,[MonthEndWeekSnapshotDayLag3]
      ,[StockCovMonthEndWeek]
      ,[StockCovMonthEndWeekLag1]
      ,[StockCovMonthEndWeekLag2]
      ,[StockCovMonthEndWeekLag3]
      ,[WeekcommenceDate]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[WeekendDate]
      ,[BullaCovMonthEndWeekPrevPer]
      ,[MonthEndWeekPrevPerSnapshotDay]
      ,[StockCovMonthEndWeekPrevPer])
Select material, plant, CalendarWeek,
max(BullaCovMonthEndWeek) BullaCovMonthEndWeek,
max(MonthEndWeekSnapshotDay) MonthEndWeekSnapshotDay,
max(BullaCovMonthEndWeekLag1) BullaCovMonthEndWeekLag1,
max(MonthEndWeekSnapshotDayLag1) MonthEndWeekSnapshotDayLag1,
max(BullaCovMonthEndWeekLag2) BullaCovMonthEndWeekLag2,
max(MonthEndWeekSnapshotDayLag2) MonthEndWeekSnapshotDayLag2,
max(BullaCovMonthEndWeekLag3) BullaCovMonthEndWeekLag3,
max(MonthEndWeekSnapshotDayLag3) MonthEndWeekSnapshotDayLag3,
Max(StockCovMonthWeek) StockCovMonthEndWeek,
Max(StockCovMonthEndWeekLag1) StockCovMonthEndWeekLag1,
Max(StockCovMonthEndWeekLag2) StockCovMonthEndWeekLag2,
Max(StockCovMonthEndWeekLag3) StockCovMonthEndWeekLag3,
WeekcommenceDate,
FiscalYear,
FiscalPeriod,
      [WeekendDate],
Max(BullaCovMonthWeekPrevPer) BullaCovMonthWeekPrevPer,
Max(MonthEndWeekPrevPerSnapshotDay) MonthEndWeekPrevPerSnapshotDay,
Max(StockCovMonthWeekPrevPer) StockCovMonthEndWeekPrevPer


from GetPrevPeriodLastWeek
group by 
material, plant, CalendarWeek,
WeekcommenceDate,
FiscalYear,
FiscalPeriod
      ,[WeekendDate]

--select * from FlattenCoverageLastWeek where Material = '1007'

GO
