USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_OrderBatchDetailsMLOR_OpenOrder]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Insert_Fact_OrderBatchDetailsMLOR_OpenOrder] AS   
--insert into Dim.BatchSummary

Delete Fact.[OrderBatchDetailsMLOR] where Comments != 'Scheduled for Delivery';
update dim.BatchSummary set IsMLORExpired = 'N';

DECLARE @SequenceNoDetails table (TempMaterial nvarchar(40), TempPlantNo nvarchar(4),TempOrderNumber nvarchar(12), TempBatchNo nvarchar(10), 
								   TempOrderSeqNo int, TempBatchSeqNo int, TempOverallSeqNo int, TempfirstReqDate nvarchar(8), TemplastReqDate nvarchar(8));	

								   
Declare @ConsumedQty Dec(13,3),
        @UnConsumedQty Dec (13,3),
		@FulfilledQty Dec (13,3),
		@UnFulfilledQty Dec (13,3),
	--	@ToDay DateTime2(7), 
	--	@TwoYearslater nvarchar(8), 
		@OrderNumber nvarchar(12),
		@OrderItem nvarchar(06),
		@Delivery  nvarchar(12),
		@DeliveryItem nvarchar(06),
		@ProductNo   nvarchar(40),   
		@ProductGroup  nvarchar(06),
		@TableName1 nvarchar(07),
		@TableName2 nvarchar(07),
		@TableName3 nvarchar(07),
		@TableName4 nvarchar(07),
		@TableName5 nvarchar(07),
		@TableName6 nvarchar(07),
		@TableName nvarchar(07),
		@Plant   nvarchar(06),    
		@Unit    nvarchar(03),
		@MaterialAvailableDate nvarchar(08), 
		@DeliveryDate          nvarchar(08),
		@CALWEEK               nvarchar(04),
		@CALMONTH              nvarchar(08),
		@CALQUARTER            nvarchar(08),    
		@YEAR                  nvarchar(04),
		@OPEN_QTY         dec(15,3),     
		@ConfirmedOrderQty dec(15,3),
				--,vbe.SchedOrderQty as AssignedQty
				--,vbe.SchedOrderQty as batchAssignedQty
				--,vbe.SchedOrderQty as [OrderAssignedQty]
				--, 0 as [OrderRemainingQty]
		@ShiptoParty      nvarchar(10),
		@SoldToParty    nvarchar(10),
		@CustomerGroup  nvarchar(03),
		@DocCateg       nvarchar(04),
				--,vbe.SchedOrderQty as [ScheduledOrderQty]
		@ErrorCode nvarchar(50),
		@ErrorDetails nvarchar(max),
		@DatestoExpire int,
		@Material nvarchar(40),
		@PreviousrecordMaterial nvarchar(40),
		@PossibleSTOPlant nvarchar(4),
		@BatchSupplyPlant nvarchar(4),
		@SupplyToPlant nvarchar(4),
		@PreviousrecordPlant nvarchar(4),
	--	@StorageLocation nvarchar(4),
		@Batch nvarchar(10),
		@PossibleSTOBatch nvarchar(10),
		@SLED nvarchar(8),
		@RequirementDate nvarchar(8),
		@RequirementQty Dec(13,3),
		@ActualConsumptionQty Dec(13,3),
		@STOQty Dec(13,3),
		@RequirementDocumentType nvarchar(4),
		@ReqDateAfterExpiry nvarchar(8),
		@BatchExpiry nvarchar(1),
		@FirstOrderafterExpiry nvarchar(12),
		@BatchQty Dec(13,3),
		@Currency nvarchar(3),
		@HigherLevelAssemblyMaterial nvarchar(40),
		@LatestRequirementDate nvarchar(8),
		@FirstConsumptionDate nvarchar(8),
		@LastConsumptionDate nvarchar(8),
		@PreviousRequirementDate  nvarchar(8),
		@Vendor nvarchar(10),
		@SupplierBatch nvarchar(10),
		@ZeroSLED nvarchar(8),
		@OrderRowNum int,
		@BatchRowNum int,
		@LeadTime  int,
		@CustomerMLOR int,
		@CustomerMLOR1 numeric(32,14),
		@CustomerMLOR2 numeric(32,14),
		@CustomerMLOR3 numeric(32,14),
		@CustomerMLOR4 numeric(32,14),
		@CustomerMLOR5 numeric(32,14),
		@CustomerMLOR6 numeric(32,14),
		@ErrorFlag nvarchar(max),
		@MLORWarning nvarchar(10),
		@RemDaysonDelivery int,
		@NetRemDays  int,
		@LifeRemainingPerc [decimal](8, 2) ,
		@Alert nvarchar(max),
		@PossibleSTO int,
		@MaxOrderSeqNo int,
		@MaxBatchSeqNo int,
		@GIDate nvarchar(8),
--Batch Variables
		@BatchNo nvarchar(10),
		@PreviousBatchNo nvarchar(10),
		@BatchPlantNo nvarchar(4),
		@BatchOrderNo nvarchar(12),
		@BatchMaterial nvarchar(40),
		@BatchSLED nvarchar(8),
		@BatchManufDate nvarchar(8),
		--@BatchStorageLocation nvarchar(4),
		@BatchTotalQty dec(13,3),
		@BatchVendor nvarchar(10),
		@BatchSupplierBatch  nvarchar(10),
		@BatchLeadTime int,
		@BatchProductLifeTime dec(8,2),
		@BatchStdPrice dec(13,3),
		@OrderConsumedQty dec(13,3),
		@BatchCounter int ,
		@OrderCounter int,
		@OverallSeqNo int,
		@Comments nvarchar(50),
		@StdPrice dec(13,3);



		Declare  OpenOrders CURSOR for  -- Get all the possible Requirements
				(select       
				vba.OrderNum as SalesOrder
				,vba.OrderItem as SalesOrderItem
				,lip.DeliveryNum as Delivery
				,lip.DelivItem as DeliveryItem
				,prd.ProductNo as ProductNo     
				,prd.ProductGroup as ProductGroup
				,vbb.PLANT  as Plant    
				, VBB.[UNIT]  as Unit
				,VBB.[MAT_AV_DAT] as [MaterialAvailableDate]     
				,Vbe.DeliveryDate as DeliveryDate
				,Vbe.GIDate as GIDate
				,VBB.[CALWEEK]    as CALWEEK    
				,VBB.[CALMONTH]    as CALMONTH
				,VBB.[CALQUARTER]  as CALQUARTER    
				,VBB.[YEAR]        as [YEAR]
				,VBB.OPEN_QTY AS [OPEN_QTY]       
				,VBB.VMENG AS [ConfirmedOrderQty]       
				--,vbe.SchedOrderQty as AssignedQty
				--,vbe.SchedOrderQty as batchAssignedQty
				--,vbe.SchedOrderQty as [OrderAssignedQty]
				--, 0 as [OrderRemainingQty]
				, replace(ltrim(replace(vbp.Customer,'0',' ')),' ','0') as [ShiptoParty]
				, replace(ltrim(replace(vbk.SoldToParty,'0',' ')),' ','0') as SoldToParty
				, vba.CustomerGroup as CustomerGroup
				,VBB.[SD_DOC_CAT]  as DocCateg  
				--,vbe.SchedOrderQty as [ScheduledOrderQty]
				,'Open Order Assigned by BI' as Comments      
				from SAPSTG.CV_PR_VBBE VBB 
				left outer join SAPSTG.CV_PR_LIPS lip on vbb.SalesDOc = lip.DeliveryNum and vbb.SalesDocItem = lip.DelivItem
				left outer join SAPSTG.CV_PR_VBAK vbk on lip.ReferenceDoc = vbk.SalesOrder 
				left outer join SAPSTG.CV_PR_VBAP vba on lip.ReferenceDoc = vba.OrderNum and lip.ReferenceItem = vba.OrderItem
				left outer join SAPSTG.CV_PR_VBEP vbe on vba.OrderNum = vbe.SalesDocument and vba.OrderItem = vbe.SalesDocItem
				left outer join SAPSTG.CV_PR_VBPA vbp on lip.ReferenceDoc = vbp.DocNumber and vbp.PartnerFunction = 'WE'
				inner join dim.Product prd 
				on replace(ltrim(replace(vbb.MATERIAL,'0',' ')),' ','0') = prd.ProductNo
				where --VBB.MATERIAL like '%4002' and
				vbe.SchedOrderQty > 0 and
				((VBB.CHARG in ('', 'null') and VBB.SD_DOC_CAT='J' and vbb.OPEN_QTY != 0) 
				or (VBB.CHARG not in ('', 'null') and VBB.SD_DOC_CAT='J' and vbb.OPEN_QTY != 0 and VMENG = 0))    
				union all      
				select       
				vba.OrderNum as SalesOrder
				,vba.OrderItem as SalesOrderItem
				,lip.DeliveryNum as Delivery
				,lip.DelivItem as DeliveryItem
				,prd.ProductNo as ProductNo     
				,prd.ProductGroup as ProductGroup
				,VBB.[PLANT]  as Plant    
				, VBB.[UNIT]  as Unit
				,VBB.[MAT_AV_DAT] as [MaterialAvailableDate]     
				,Vbe.DeliveryDate as DeliveryDate
				,Vbe.GIDate as GIDate
				,VBB.[CALWEEK]    as CALWEEK    
				,VBB.[CALMONTH]    as CALMONTH
				,VBB.[CALQUARTER]  as CALQUARTER    
				,VBB.[YEAR]        as [YEAR]
				,VBB.OPEN_QTY AS [OPEN_QTY]       
				,VBB.VMENG AS [ConfirmedOrderQty]       
				, replace(ltrim(replace(vbp.Customer,'0',' ')),' ','0') as [ShiptoParty]
				, replace(ltrim(replace(vbk.SoldToParty,'0',' ')),' ','0') as SoldToParty
				,  vba.CustomerGroup as CustomerGroup
				,VBB.[SD_DOC_CAT]  as DocCateg      
				,'Open Order Assigned by BI' as Comments      
				from SAPSTG.CV_PR_VBBE VBB 
				left outer join SAPSTG.CV_PR_LIPS lip on vbb.SalesDOc = lip.ReferenceDoc and vbb.SalesDocItem = lip.ReferenceItem
				left outer join SAPSTG.CV_PR_VBAK vbk on vbb.SalesDOc  = VBk.SalesOrder
				left outer join SAPSTG.CV_PR_VBAP vba on vbb.SalesDOc = vba.OrderNum and vbb.SalesDocItem = vba.OrderItem
				left outer join SAPSTG.CV_PR_VBEP vbe on vba.OrderNum = vbe.SalesDocument and vba.OrderItem = vbe.SalesDocItem
				left outer join SAPSTG.CV_PR_VBPA vbp on vbb.SalesDOc = vbp.DocNumber and vbp.PartnerFunction = 'WE' 
				left outer join dim.Product prd 
				on replace(ltrim(replace(vbb.MATERIAL,'0',' ')),' ','0') = prd.ProductNo
				where --VBB.MATERIAL like '%4002' and 
				vbe.SchedOrderQty > 0 and
				((VBB.CHARG  in ('', 'null') and VBB.SD_DOC_CAT='C' and vbb.OPEN_QTY != 0 )
				or
				(VBB.CHARG not in ('', 'null') and VBB.SD_DOC_CAT='C' and vbb.OPEN_QTY != 0 and VMENG = 0)))     
				order by prd.ProductNo, vbe.GIDate asc

		Open OpenOrders

		fetch next from OpenOrders into 
		@OrderNumber,
		@OrderItem,
		@Delivery,
		@DeliveryItem,
		@Material,    
		@ProductGroup,
		@Plant,  
		@Unit,
		@MaterialAvailableDate, 
		@DeliveryDate,
		@GIDate,
		@CALWEEK,  
		@CALMONTH,
		@CALQUARTER,    
		@YEAR,
		@OPEN_QTY,       
		@ConfirmedOrderQty, 
				--,vbe.SchedOrderQty as AssignedQty
				--,vbe.SchedOrderQty as batchAssignedQty
				--,vbe.SchedOrderQty as [OrderAssignedQty]
				--, 0 as [OrderRemainingQty]
		@ShiptoParty,
		@SoldToParty,
		@CustomerGroup,
		@DocCateg,
				--,vbe.SchedOrderQty as [ScheduledOrderQty]
		@Comments     

		While @@FETCH_STATUS = 0
		begin
					SET @ErrorFlag = ''
					SET @Alert = ''
					SET @MLORWarning = ''
					SET @ErrorCode = ''
					set @ErrorDetails = ''
					Set @UnFulfilledQty = @OPEN_QTY
					Set @FulfilledQty = @OPEN_QTY - @UnFulfilledQty
				  	set @MaxOrderSeqNo = 0
					set @CustomerMLOR1 = 0
					set @CustomerMLOR2 = 0
					set @CustomerMLOR3 = 0
					set @CustomerMLOR4 = 0
					set @CustomerMLOR5 = 0
					set @CustomerMLOR6 = 0
					set @TableName1 = ''
					set @TableName2 = ''
					set @TableName3 = ''
					set @TableName4 = ''
					set @TableName5 = ''
					set @TableName6 = ''
					While  @UnFulfilledQty > 0 and @ErrorFlag <> 'NoStock'
					begin
						Set @BatchNo = 0
						Set @BatchMaterial = 0 
				--		Set @FulfilledQty = 0
				  		Set @ActualConsumptionQty = 0
			--Set @OrderRowNum = 0
						SET @ErrorFlag = ''
						SET @Comments = 'Open Order Assigned by BI'
						SET @Alert = ''
					SET @MLORWarning = ''
					SET @ErrorCode = ''
					Set @ErrorDetails = ''
					Set @RemDaysonDelivery = ''
					Set @NetRemDays = ''
					Set @LifeRemainingPerc = 0
					delete from @SequenceNoDetails where TempMaterial != @Material
						
					Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
							--		Select @FirstConsumptionDate = MAX(
					if @MaxOrderSeqNo = 0
					begin
						SELECT TOP 1 
						@BatchMaterial = Material ,
						@BatchPlantNo= Plant,
						@BatchNo= Batch,
			--			@BatchOrderNo = OrderNumber,
						@BatchSLED = SLED,
			--			@BatchStorageLocation = StorageLocation,
						@BatchQty = SUM(BatchQty),
						@BatchManufDate = ManufDate,
						@BatchVendor =Vendor,
						@BatchSupplierBatch =SupplierBatch,
						@BatchLeadTime = LeadTime,
						@BatchStdPrice =StdPrice,
						@ConsumedQty = SUM(BatchConsumedQty),
						@UnConsumedQty = sum(BatchRemainingQty),
					--	@BatchSupplyPlant = STOPlant,
						@MLORWarning    = Alert
						from dim.BatchSummary
						where Material = @Material
						and Plant = @Plant --, '3600')
						and BatchRemainingQty > 0
						and IsExpired != 'Y'
						GROUP BY 
						Material ,
						Plant,
						Batch,
			--			@BatchOrderNo = OrderNumber,
						SLED,
						ManufDate,
						Vendor,
						SupplierBatch,
						LeadTime,
						StdPrice,
					--	@BatchSupplyPlant = STOPlant,
						Alert

						ORDER BY SLED, Batch
					end
					else 
					begin
						SELECT TOP 1 
						@BatchMaterial = Material ,
						@BatchPlantNo= Plant,
						@BatchNo= Batch,
			--			@BatchOrderNo = OrderNumber,
						@BatchSLED = SLED,
			--			@BatchStorageLocation = StorageLocation,
						@BatchQty = SUM(BatchQty),
						@BatchManufDate = ManufDate,
						@BatchVendor =Vendor,
						@BatchSupplierBatch =SupplierBatch,
						@BatchLeadTime = LeadTime,
						@BatchStdPrice =StdPrice,
						@ConsumedQty = SUM(BatchConsumedQty),
						@UnConsumedQty = SUM(BatchRemainingQty),
					--	@BatchSupplyPlant = STOPlant,
						@Alert   = Alert
						from dim.BatchSummary
						where Material = @Material
						and Plant = @Plant --, '3600')
						and BatchRemainingQty > 0
						and IsExpired != 'Y'
						and IsMLORExpired != 'Y'
						GROUP BY 
						Material ,
						Plant,
						Batch,
			--			@BatchOrderNo = OrderNumber,
						SLED,
						ManufDate,
						Vendor,
						SupplierBatch,
						LeadTime,
						StdPrice,
					--	@BatchSupplyPlant = STOPlant,
						Alert
						ORDER BY SLED, Batch
					end
				set @BatchNO = coalesce(@BatchNo, '')
				If  @BatchNo in ('','0')
				Begin
					Set @ErrorFlag = 'NoStock'
					Set @ErrorCode = 'No Unexpired Stock'
					Set @ErrorDetails = 'No valid stocks are found.'
					Set @Comments = 'Unassigned Stock'
					Set @MLORWarning = 'Grey'
					Select @CustomerMLOR1 = Coalesce(MLOR,0),
						   @TableName1 = TableName
							   from dim.CustomerMLOR mlor1 
							   where @BatchMaterial = replace(ltrim(replace(mlor1.Material,'0',' ')),' ','0') 
								and  mlor1.Customer = @ShiptoParty and @ShiptoParty not in('','NULL')
			
					Select @CustomerMLOR2 =  Coalesce(MLOR,0)
						  , @TableName2 = TableName
							   from dim.CustomerMLOR mlor2 
							   where @BatchMaterial = replace(ltrim(replace(mlor2.Material,'0',' ')),' ','0') 
								and  mlor2.Customer = @SoldtoParty and @SoldtoParty not in('','NULL')

					Select @CustomerMLOR3 =  Coalesce(MLOR,0)
						  , @TableName3 = TableName
							   from dim.CustomerMLOR mlor3
							   where @ProductGroup = replace(ltrim(replace(mlor3.MaterialGroup,'0',' ')),' ','0') 
								and  mlor3.Customer = @ShiptoParty and @ShiptoParty not in('','NULL')

					Select @CustomerMLOR4 =  Coalesce(MLOR,0)
						  , @TableName4 = TableName
							   from dim.CustomerMLOR mlor4
							   where @ProductGroup = replace(ltrim(replace(mlor4.MaterialGroup,'0',' ')),' ','0') 
								and  mlor4.Customer = @SoldToParty and @SoldToParty not in('','NULL')

					Select @CustomerMLOR5 =  Coalesce(MLOR,0)
							  , @TableName5 = TableName
						   from dim.CustomerMLOR mlor5
								where @ProductGroup = replace(ltrim(replace(mlor5.MaterialGroup,'0',' ')),' ','0') 
								and  mlor5.CustomerGroup = @CustomerGroup and @CustomerGroup not in('','NULL')

					Select @CustomerMLOR6 =  Coalesce(MLOR,0)
						  , @TableName6 = TableName
							   from dim.CustomerMLOR mlor6
								where @ProductGroup = replace(ltrim(replace(mlor6.MaterialGroup,'0',' ')),' ','0')
								and mlor6.TableName = 'KOTH006'

					set @CustomerMLOR = case when @CustomerMLOR1 != 0 then @CustomerMLOR1
					                           when @CustomerMLOR2 != 0 then @CustomerMLOR2
						                      when @CustomerMLOR3 != 0 then @CustomerMLOR3
											  when @CustomerMLOR4 != 0 then @CustomerMLOR4
											  when @CustomerMLOR5 != 0 then @CustomerMLOR5
											  when @CustomerMLOR6 != 0 then @CustomerMLOR6
											end 

					set @TableName = case when @CustomerMLOR1 != 0 then @TableName1
					                           when @CustomerMLOR2 != 0 then @TableName2
						                      when @CustomerMLOR3 != 0 then @TableName3
											  when @CustomerMLOR4 != 0 then @TableName4
											  when @CustomerMLOR5 != 0 then @TableName5
											  when @CustomerMLOR6 != 0 then @TableName6
											end 
				    delete from @SequenceNoDetails where TempMaterial != @Material
						
					Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
			--		Select @FirstConsumptionDate = MAX(
					Select @OverallSeqNo =  Coalesce(MAX(TempOverallSeqNo),0) + 1 from @SequenceNoDetails where TempMaterial = @Material
					if @MaxOrderSeqNo = 0
					begin
					     insert into @SequenceNoDetails values
						 (@Material,@Plant,@OrderNumber, '',1,0,@OverallSeqNo,'','')

					end
					else
					begin
						 Update @SequenceNoDetails set TempBatchSeqNo = 0 , TempOverallSeqNo = @OverallSeqNo
						 where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber

					end		
                     Insert into fact.OrderBatchDetailsMLOR(SalesOrder,SalesOrderItem,Delivery,DeliveryItem,OrderSeqNo,BatchSeqNo,OverallSeqNo,Product,ProductGroup, Plant, Unit, MaterialAvailableDate,
					         DeliveryDate,GIDate, Batch, SLED, CALWEEK, CALMONTH, CALQUARTER, [YEAR], OPEN_QTY, ConfirmedOrderQty, AssignedQty, BatchQty,BatchAssignedQty,BatchRemainingQty, OrderAssignedQty, 
							 OrderRemainingQty, ShiptoParty, SoldtoParty, CustomerGroup, CUSTOMER_MLOR, ErrorCode, Error, Alert,MLORWarning, Comments, TableName, ScheduledOrderQty)
						 VALUES
						(    
						@OrderNumber,
						@OrderItem,
						@Delivery,
						@DeliveryItem,
						@MaxOrderSeqNo + 1 ,
						0,
						@OverallSeqNo,
						@Material,    
						@ProductGroup,
						@Plant,  
						@Unit,
						@MaterialAvailableDate, 
						@DeliveryDate,
						@GIDate,
						'',
						'',
						@CALWEEK,  
						@CALMONTH,
						@CALQUARTER,    
						@YEAR,
						@OPEN_QTY,       
						@ConfirmedOrderQty,
						0,
						0,
						0,
						0,
						@FulfilledQty,
						@UnFulfilledQty,
						@ShiptoParty,
						@SoldtoParty,			
						@CustomerGroup,
						@CustomerMLOR,
						@ErrorCode,
						@ErrorDetails,
						'',
						@MLORWarning,
						@Comments,
						@TableName,
						0)
				end
			else	  
			   begin 
			       		set @ZeroSLED = convert(nchar(9),@BatchSLED)
						If @ZeroSLED = '00000000'
						begin
						   set @BatchSLED = '99991231'
						end
						IF @BatchSLED < @GIDate --and 
						begin
						    Set @FulfilledQty = 0
							Set @BatchExpiry = 'Y'
							Set @ActualConsumptionQty = 0
							Set @ErrorCode = 'Batch Expired'
							Set @MLORWarning = 'Red'
							Set @ErrorDetails = concat('Batch Expired on ',@GIDate)
							Set @FirstOrderafterExpiry = @OrderNumber
							Set @ReqDateAfterExpiry = @GIDate
						       Select @CustomerMLOR1 =  Coalesce(MLOR,0)
						  , @TableName1 = TableName
							   from dim.CustomerMLOR mlor1 
							   where @BatchMaterial = replace(ltrim(replace(mlor1.Material,'0',' ')),' ','0') 
								and  mlor1.Customer = @ShiptoParty and @ShiptoParty not in('','NULL')
			
								Select @CustomerMLOR2 =  Coalesce(MLOR,0)
						  , @TableName2 = TableName
							   from dim.CustomerMLOR mlor2 
							   where @BatchMaterial = replace(ltrim(replace(mlor2.Material,'0',' ')),' ','0') 
								and  mlor2.Customer = @SoldtoParty and @SoldtoParty not in('','NULL')

								Select @CustomerMLOR3 =  Coalesce(MLOR,0)
						  , @TableName3 = TableName
							   from dim.CustomerMLOR mlor3
							   where @ProductGroup = replace(ltrim(replace(mlor3.MaterialGroup,'0',' ')),' ','0') 
								and  mlor3.Customer = @ShiptoParty and @ShiptoParty not in('','NULL')

								Select @CustomerMLOR4 =  Coalesce(MLOR,0)
						  , @TableName4 = TableName
							   from dim.CustomerMLOR mlor4
							   where @ProductGroup = replace(ltrim(replace(mlor4.MaterialGroup,'0',' ')),' ','0') 
								and  mlor4.Customer = @SoldToParty and @SoldToParty not in('','NULL')

								Select @CustomerMLOR5 =  Coalesce(MLOR,0)
						  , @TableName5 = TableName
							   from dim.CustomerMLOR mlor5
								where @ProductGroup = replace(ltrim(replace(mlor5.MaterialGroup,'0',' ')),' ','0') 
								and  mlor5.CustomerGroup = @CustomerGroup and @CustomerGroup not in('','NULL')

								Select @CustomerMLOR6 =  Coalesce(MLOR,0)
						  , @TableName6 = TableName
							   from dim.CustomerMLOR mlor6
								where @ProductGroup = replace(ltrim(replace(mlor6.MaterialGroup,'0',' ')),' ','0')
								and mlor6.TableName = 'KOTH006'

					set @CustomerMLOR = case when @CustomerMLOR1 != 0 then @CustomerMLOR1
					                           when @CustomerMLOR2 != 0 then @CustomerMLOR2
						                      when @CustomerMLOR3 != 0 then @CustomerMLOR3
											  when @CustomerMLOR4 != 0 then @CustomerMLOR4
											  when @CustomerMLOR5 != 0 then @CustomerMLOR5
											  when @CustomerMLOR6 != 0 then @CustomerMLOR6
											end 

					set @TableName = case when @CustomerMLOR1 != 0 then @TableName1
					                           when @CustomerMLOR2 != 0 then @TableName2
						                      when @CustomerMLOR3 != 0 then @TableName3
											  when @CustomerMLOR4 != 0 then @TableName4
											  when @CustomerMLOR5 != 0 then @TableName5
											  when @CustomerMLOR6 != 0 then @TableName6
											end 

								UPDATE dim.BatchSummary
							SET BatchRemainingQty = @UnConsumedQty,
								BatchConsumedQty = @ConsumedQty,
								FirstConsumptionDate = @FirstConsumptionDate,
								LastConsumptionDate = @LastConsumptionDate,
								FirstOrderAfterExpiry = @FirstOrderafterExpiry,
								DelivDateAfterExpiry = @ReqDateAfterExpiry,
								IsExpired = 'Y',
								Error = @ErrorCode,
								Alert = @Alert
								WHERE Material = @BatchMaterial
								and Plant = @BatchPlantNo
								and Batch = @BatchNo

				    delete from @SequenceNoDetails where TempMaterial != @Material
						
							   	Select @OverallSeqNo = Coalesce(MAX(TempOverallSeqNo),0) + 1 from @SequenceNoDetails 
								where TempMaterial = @Material
								Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails 
								where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
								if @MaxOrderSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,@OrderNumber, '',@MaxOrderSeqNo +1,1,@OverallSeqNo,'','')
								end
								Select @MaxBatchSeqNo = Coalesce(MAX(TempBatchSeqNo),0) from @SequenceNoDetails 
								where TempMaterial = @Material and TempPlantNo = @BatchPlantNo and TempBatchNo= @BatchNo
								if @MaxBatchSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,'', @BatchNo ,1,@MaxBatchSeqNo+1,@OverallSeqNo,@FirstConsumptionDate,@LastConsumptionDate)
								end
								if @OverallSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,'', @BatchNo ,1,@MaxBatchSeqNo,@OverallSeqNo,@FirstConsumptionDate,@LastConsumptionDate)
								end

				Insert into fact.OrderBatchDetailsMLOR(SalesOrder,SalesOrderItem,Delivery,DeliveryItem,OrderSeqNo,BatchSeqNo,OverallSeqNo,Product,ProductGroup, Plant, Unit, MaterialAvailableDate,
					         DeliveryDate,GIDate, Batch, SLED, CALWEEK, CALMONTH, CALQUARTER, [YEAR], OPEN_QTY, ConfirmedOrderQty, AssignedQty, BatchQty,BatchAssignedQty,BatchRemainingQty, OrderAssignedQty, 
							 OrderRemainingQty, ShiptoParty, SoldtoParty, CustomerGroup, CUSTOMER_MLOR, ErrorCode,Error, Alert, Comments, TableName, ScheduledOrderQty,MLORWarning,RemDaysonDelivery,NetRemDays, LifeRemainingPerc)
									 VALUES
									(    
									@OrderNumber,
									@OrderItem,
									@Delivery,
									@DeliveryItem,
									@MaxOrderSeqNo + 1,
									@MaxBatchSeqNo + 1,
									@OverallSeqNo,
									@Material,    
									@ProductGroup,
									@Plant,  
									@Unit,
									@MaterialAvailableDate, 
									@DeliveryDate,
									@GIDate,
									@BatchNo,
									@BatchSLED,
									@CALWEEK,  
									@CALMONTH,
									@CALQUARTER,    
									@YEAR,
									@OPEN_QTY,       
									@ConfirmedOrderQty,
									0,
									@BatchQty,
									@ConsumedQty,
									@UnConsumedQty,
									@FulfilledQty,
									@UnFulfilledQty,
									@ShiptoParty,
									@SoldtoParty,			
									@CustomerGroup,
									@CustomerMLOR,
									@ErrorCode,
									@ErrorDetails,
									@Alert,
									@Comments,
									@TableName,
									0,
									@MLORWarning,
									@RemDaysonDelivery,
									@NetRemDays,
									@LifeRemainingPerc)

							end
						else 
						   begin
						       Select @CustomerMLOR1 =  Coalesce(MLOR,0)
								, @TableName1 = TableName
							   from dim.CustomerMLOR mlor1 
							   where @BatchMaterial = replace(ltrim(replace(mlor1.Material,'0',' ')),' ','0') 
								and  mlor1.Customer = @ShiptoParty and @ShiptoParty not in('','NULL')
			
								Select @CustomerMLOR2 =  Coalesce(MLOR,0)
								, @TableName2 = TableName
							   from dim.CustomerMLOR mlor2 
							   where @BatchMaterial = replace(ltrim(replace(mlor2.Material,'0',' ')),' ','0') 
								and  mlor2.Customer = @SoldtoParty and @SoldtoParty not in('','NULL')

								Select @CustomerMLOR3 =  Coalesce(MLOR,0)
								, @TableName3 = TableName
							   from dim.CustomerMLOR mlor3
							   where @ProductGroup = replace(ltrim(replace(mlor3.MaterialGroup,'0',' ')),' ','0') 
								and  mlor3.Customer = @ShiptoParty and @ShiptoParty not in('','NULL')

								Select @CustomerMLOR4 =  Coalesce(MLOR,0)
								, @TableName4 = TableName
							   from dim.CustomerMLOR mlor4
							   where @ProductGroup = replace(ltrim(replace(mlor4.MaterialGroup,'0',' ')),' ','0') 
								and  mlor4.Customer = @SoldToParty and @SoldToParty not in('','NULL')

								Select @CustomerMLOR5 =  Coalesce(MLOR,0)
								, @TableName5 = TableName
							   from dim.CustomerMLOR mlor5
								where @ProductGroup = replace(ltrim(replace(mlor5.MaterialGroup,'0',' ')),' ','0') 
								and  mlor5.CustomerGroup = @CustomerGroup and @CustomerGroup not in('','NULL')

								Select @CustomerMLOR6 =  Coalesce(MLOR,0)
								, @TableName6 = TableName
							   from dim.CustomerMLOR mlor6
								where @ProductGroup = replace(ltrim(replace(mlor6.MaterialGroup,'0',' ')),' ','0')
								and mlor6.TableName = 'KOTH006'

					set @CustomerMLOR = case when @CustomerMLOR1 != 0 then @CustomerMLOR1
					                           when @CustomerMLOR2 != 0 then @CustomerMLOR2
						                      when @CustomerMLOR3 != 0 then @CustomerMLOR3
											  when @CustomerMLOR4 != 0 then @CustomerMLOR4
											  when @CustomerMLOR5 != 0 then @CustomerMLOR5
											  when @CustomerMLOR6 != 0 then @CustomerMLOR6
											end 

					set @TableName = case when @CustomerMLOR1 != 0 then @TableName1
					                           when @CustomerMLOR2 != 0 then @TableName2
						                      when @CustomerMLOR3 != 0 then @TableName3
											  when @CustomerMLOR4 != 0 then @TableName4
											  when @CustomerMLOR5 != 0 then @TableName5
											  when @CustomerMLOR6 != 0 then @TableName6
											end 

						       if datediff(day,@GIDate, @BatchSLED) <= @CustomerMLOR
							   begin
							        Set @ErrorFlag = ''
									Set @RemDaysonDelivery = datediff(day,@GIDate, @BatchSLED)
									Set @NetRemDays = datediff(day,@GIDate, @BatchSLED) - @CustomerMLOR
									Set @LifeRemainingPerc = @RemDaysonDelivery / datediff(day,@BatchManufDate,@BatchSLED)
									Set @Alert =''
									Set @ErrorCode =  'MLOR Expired'
									Set @ErrorDetails = Concat(@RemDaysonDelivery, ' Days remaining for SLED, ', -@NetRemDays,' day less than MLOR( ',@CustomerMLOR,' days)')									Set @MLORWarning = 'Red'
									Set @Comments =concat('New Batch will be searched for order# ',@OrderNumber)
							   	Select @OverallSeqNo = Coalesce(MAX(TempOverallSeqNo),0) + 1 from @SequenceNoDetails 
								where TempMaterial = @Material
								Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails 
								where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
								if @MaxOrderSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,@OrderNumber, '',@MaxOrderSeqNo +1,1,@OverallSeqNo,'','')
								end
								Select @MaxBatchSeqNo = Coalesce(MAX(TempBatchSeqNo),0) from @SequenceNoDetails 
								where TempMaterial = @Material and TempPlantNo = @BatchPlantNo and TempBatchNo= @BatchNo
								if @MaxBatchSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,'', @BatchNo ,1,@MaxBatchSeqNo+1,@OverallSeqNo,@FirstConsumptionDate,@LastConsumptionDate)
								end
								if @OverallSeqNo = 0
								begin
									insert into @SequenceNoDetails values
									(@Material,@Plant,'', @BatchNo ,1,@MaxBatchSeqNo,@OverallSeqNo,@FirstConsumptionDate,@LastConsumptionDate)
								end

									UPDATE dim.BatchSummary
									SET BatchRemainingQty = @UnConsumedQty,
										BatchConsumedQty = @ConsumedQty,
										FirstConsumptionDate = @FirstConsumptionDate,
										LastConsumptionDate = @LastConsumptionDate,
										FirstOrderMLORExpire = @OrderNumber,
										DelivDateMLORExpire = @GIDate,
										IsMLORExpired = 'Y',
										Error = @ErrorCode,
										Alert = @Alert
										WHERE Material = @BatchMaterial
										and Plant = @BatchPlantNo
										and Batch = @BatchNo

									Insert into fact.OrderBatchDetailsMLOR(SalesOrder,SalesOrderItem,Delivery,DeliveryItem,OrderSeqNo,BatchSeqNo,OverallSeqNo,Product,ProductGroup, Plant, Unit, MaterialAvailableDate,
					         DeliveryDate,GIDate, Batch, SLED, CALWEEK, CALMONTH, CALQUARTER, [YEAR], OPEN_QTY, ConfirmedOrderQty, AssignedQty, BatchQty,BatchAssignedQty,BatchRemainingQty, OrderAssignedQty, 
							 OrderRemainingQty, ShiptoParty, SoldtoParty, CustomerGroup, CUSTOMER_MLOR, ErrorCode,Error, Alert, Comments, TableName, ScheduledOrderQty,MLORWarning,RemDaysonDelivery,NetRemDays, LifeRemainingPerc)
									 VALUES
									(    
									@OrderNumber,
									@OrderItem,
									@Delivery,
									@DeliveryItem,
									@MaxOrderSeqNo + 1,
									@MaxBatchSeqNo + 1,
									@OverallSeqNo,
									@Material,    
									@ProductGroup,
									@Plant,  
									@Unit,
									@MaterialAvailableDate, 
									@DeliveryDate,
									@GIDate,
									@BatchNo,
									@BatchSLED,
									@CALWEEK,  
									@CALMONTH,
									@CALQUARTER,    
									@YEAR,
									@OPEN_QTY,       
									@ConfirmedOrderQty,
									0,
									@BatchQty,
									@ConsumedQty,
									@UnConsumedQty,
									@FulfilledQty,
									@UnFulfilledQty,
									@ShiptoParty,
									@SoldtoParty,			
									@CustomerGroup,
									@CustomerMLOR,
									@ErrorCode,
									@ErrorDetails,
									@Alert,
									@Comments,
									@TableName,
									0,
									@MLORWarning,
									@RemDaysonDelivery,
									@NetRemDays,
									@LifeRemainingPerc
)
								end
							else 
							begin
							if datediff(day,@GIDate, @BatchSLED)  = @CustomerMLOR + 1
								begin
									set @MLORWarning = 'Yellow'
									set @ErrorCode = ''
									set @ErrorDetails = ''
									set @RemDaysonDelivery = datediff(day,@GIDate, @BatchSLED)
									set @NetRemDays = 1
									set @Alert = Concat(@RemDaysonDelivery, ' Days remaining for SLED, ', @NetRemDays,' day more than MLOR( ',@CustomerMLOR,' days)')	
									set @Comments = concat('MLOR expiring for order# ',@OrderNumber, ' Today')
								end
							else
							begin 
							     if datediff(day,@GIDate, @BatchSLED) - @CustomerMLOR between 2 and 5
								 begin 		
									set @ErrorCode = ''
									set @ErrorDetails = ''
									set @RemDaysonDelivery = datediff(day,@GIDate, @BatchSLED)
									set @NetRemDays = datediff(day,@GIDate, @BatchSLED) - @CustomerMLOR 
									set @Alert = Concat(@RemDaysonDelivery, ' Days remaining for SLED, ', @NetRemDays,' day more than MLOR( ',@CustomerMLOR,' days)')	
									set @Comments = ''
								end
									set @MLORWarning = 'Green'
								end

								If @UnFulfilledQty >= @UnConsumedQty --- Order remaining vs Batch Remaining
									begin
										SET @UnFulfilledQty = @UnFulfilledQty - @UnConsumedQty
										SET @ActualConsumptionQty = @UnConsumedQty
										SET @UnConsumedQty = 0
										SET @FulfilledQty = @OPEN_QTY - @UnFulfilledQty
										SET @ConsumedQty = @BatchQty - @UnConsumedQty
									end
								ELSE
									begin
										SET @UnConsumedQty = @UnConsumedQty - @UnFulfilledQty
										SET @ActualConsumptionQty = @UnFulfilledQty
										SET @UnFulfilledQty = 0
										SET @FulfilledQty = @OPEN_QTY - @UnFulfilledQty
										SET @ConsumedQty = @BatchQty - @UnConsumedQty
									end	
							delete from @SequenceNoDetails where TempMaterial != @Material
								Select @OverallSeqNo = Coalesce(MAX(TempOverallSeqNo),0) from @SequenceNoDetails 
									where TempMaterial = @Material
								Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails 
									where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
					
								Select @MaxBatchSeqNo = Coalesce(MAX(TempBatchSeqNo),0) from @SequenceNoDetails 
									where TempMaterial = @Material and TempPlantNo = @BatchPlantNo and TempBatchNo= @BatchNo

			--		Select @FirstConsumptionDate = MAX(
							if @MaxOrderSeqNo = 0
									begin
										 insert into @SequenceNoDetails values
										 (@Material,@Plant,@OrderNumber, '', 1,1,@OverallSeqNo+1,'','')
									end
									else 
									begin 
										Update @SequenceNoDetails set  TempOrderSeqNo = TempOrderSeqNo + 1, TempOverallSeqNo = @OverallSeqNo + 1
										where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
									end
								if  @MaxBatchSeqNo = 0
										begin
											 insert into @SequenceNoDetails values
											 (@Material,@Plant,'', @BatchNo,1, 1,@OverallSeqNo + 1,@GIDate,@GIDate)
										end
								else 
								begin 
									Update @SequenceNoDetails set  TempBatchSeqNo = TempBatchSeqNo + 1, TempOverallSeqNo = @OverallSeqNo + 1,
									TemplastReqDate = @GIDate
									where TempMaterial = @Material and TempPlantNo = @Plant and TempBatchNo = @BatchNo
								end
								Select @FirstConsumptionDate = TempfirstReqDate, @LastConsumptionDate = TemplastReqDate
								from @SequenceNoDetails
								where TempMaterial = @Material and TempPlantNo = @Plant and TempBatchNo = @BatchNo
								
								Select @MaxOrderSeqNo = Coalesce(MAX(TempOrderSeqNo),0) from @SequenceNoDetails 
									where TempMaterial = @Material and TempPlantNo = @Plant and TempOrderNumber = @OrderNumber
					
								Select @MaxBatchSeqNo = Coalesce(MAX(TempBatchSeqNo),0) from @SequenceNoDetails 
									where TempMaterial = @Material and TempPlantNo = @BatchPlantNo and TempBatchNo= @BatchNo

								Select @OverallSeqNo =  Coalesce(MAX(TempOverallSeqNo),0) from @SequenceNoDetails where TempMaterial = @Material


								Set @RemDaysonDelivery = datediff(day,@GIDate, @BatchSLED)
									Set @NetRemDays = datediff(day,@GIDate, @BatchSLED) - @CustomerMLOR
									Set @LifeRemainingPerc = @RemDaysonDelivery / datediff(day,@BatchManufDate,@BatchSLED)

									UPDATE dim.BatchSummary
									SET BatchRemainingQty = @UnConsumedQty,
									BatchConsumedQty = @ConsumedQty,
									RiskValue = @UnConsumedQty*StdPrice,
									IsMLORExpired = 'N',
									FirstConsumptionDate = @FirstConsumptionDate,
									LastConsumptionDate = @LastConsumptionDate
									WHERE Material = @Material
									and Plant = @BatchPlantNo
									and Batch = @BatchNo
							--		and StorageLocation = @BatchStorageLocation

									
							if (@ErrorFlag = '' )
							begin
							      Insert into fact.OrderBatchDetailsMLOR(SalesOrder,SalesOrderItem,Delivery,DeliveryItem,OrderSeqNo,BatchSeqNo,OverallSeqNo,Product,ProductGroup, Plant, Unit, MaterialAvailableDate,
					         DeliveryDate, GIDate,Batch, SLED, CALWEEK, CALMONTH, CALQUARTER, [YEAR], OPEN_QTY, ConfirmedOrderQty, AssignedQty,BatchQty, BatchAssignedQty,BatchRemainingQty, OrderAssignedQty, 
							 OrderRemainingQty, ShiptoParty, SoldtoParty, CustomerGroup, CUSTOMER_MLOR, ErrorCode,Error, Alert, Comments, TableName, ScheduledOrderQty,MLORWarning,RemDaysonDelivery,NetRemDays,LifeRemainingPerc)
									 VALUES
									(    
									@OrderNumber,
									@OrderItem,
									@Delivery,
									@DeliveryItem,
									@MaxOrderSeqNo,
									@MaxBatchSeqNo,
									@OverallSeqNo,
									@Material,    
									@ProductGroup,
									@Plant,  
									@Unit,
									@MaterialAvailableDate, 
									@DeliveryDate,
									@GIDate,
									@BatchNo,
									@BatchSLED,
									@CALWEEK,  
									@CALMONTH,
									@CALQUARTER,    
									@YEAR,
									@OPEN_QTY,       
									@ConfirmedOrderQty,
									@ActualConsumptionQty,
									@BatchQty,
									@ConsumedQty,
									@UnConsumedQty,
									@FulfilledQty,
									@UnFulfilledQty,
									@ShiptoParty,
									@SoldtoParty,			
									@CustomerGroup,
									@CustomerMLOR,
									@ErrorCode,
									@ErrorDetails,
									@Alert,
									@Comments,
									@TableName,
									0,
									@MLORWarning,
									@RemDaysonDelivery,
									@NetRemDays,
									@LifeRemainingPerc)
							end
						end
					end
				end
			end
		

		fetch next from OpenOrders into 
		@OrderNumber,
		@OrderItem,
		@Delivery,
		@DeliveryItem,
		@Material,    
		@ProductGroup,
		@Plant,  
		@Unit,
		@MaterialAvailableDate, 
		@DeliveryDate,
		@GIDate,
		@CALWEEK,  
		@CALMONTH,
		@CALQUARTER,    
		@YEAR,
		@OPEN_QTY,       
		@ConfirmedOrderQty, 
				--,vbe.SchedOrderQty as AssignedQty
				--,vbe.SchedOrderQty as batchAssignedQty
				--,vbe.SchedOrderQty as [OrderAssignedQty]
				--, 0 as [OrderRemainingQty]
		@ShiptoParty,
		@SoldToParty,
		@CustomerGroup,
		@DocCateg,
				--,vbe.SchedOrderQty as [ScheduledOrderQty]
		@Comments     

			;
 end
close OpenOrders;
deallocate OpenOrders;

Update DIM.BatchSummary set Alert = concat('Unassigned stocks exist, please assign Required Order, Status: ',MLORWarning) where RiskValue ! = 0 
GO
