USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_FACT_Aurion_1]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_insert_FACT_Aurion_1]  
AS  
BEGIN  
    SET NOCOUNT ON;  

 IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[temp_aurion]') AND type in (N'U'))
DROP TABLE [dbo].temp_aurion;

Declare @docinit nvarchar(max), @xmlstart int, @xmlend int, @docrelevant nvarchar(max), @idoc int;
select @docinit = replace(json_values,'\n','') from stg.Aurion_JSON;
select @xmlstart =CHARINDEX('DocumentRoot',@docinit);
--print @xmlstart 
select @xmlend =CHARINDEX('/DocumentRoot',@docinit);
--print @xmlend
select @docrelevant = SUBSTRING(@docinit,@xmlstart-1,@xmlend-@xmlstart+15)
--print @docrelevant
--select @test = right(@docrelevant,25)
--print @test
EXEC sp_xml_preparedocument @idoc OUTPUT, @docrelevant;

SELECT *
into [dbo].temp_aurion
FROM OPENXML(@idoc, '/DocumentRoot/AQT_Output',3)
 WITH (  
        Processed_Period NVARCHAR(50),
		Primary_Cost_Code NVARCHAR(50),
		Amount NVARCHAR(50),
		Units  NVARCHAR(50),
		Time_Code NVARCHAR(50),
		Rate NVARCHAR(50),
		Pay_Entity NVARCHAR(50),
		Transaction_Type NVARCHAR(50),
		Time_Category NVARCHAR(50),
		Organisation_Unit_Description NVARCHAR(100),
		Actual_Location_Code NVARCHAR(50)
    ) 
 
    -- Insert only new records from ParsedJsonData to FACT.Aurion  
    INSERT INTO [ODS].[Aurion] (  
        [Process_Period],  
        [Primary_Cost_Code],  
        [Transaction_Amount],  
        [Transaction_Units],  
        [Transaction_Code],  
        [Transaction_Rate],  
        [Pay_ Entity],  
        [Transaction_Type],  
        [Transaction_Category],  
        [Organisation_Unit_Description],  
        [Location_Code]
    )  
    SELECT *
    FROM dbo.temp_aurion  
  
-- Insert new records from ODS.Aurion to FACT.Aurion  
    INSERT INTO [FACT].[Aurion] (  
  [Process_Period],  
  [Primary_Cost_Code],  
  [Transaction_Amount],  
  [Transaction_Units],  
  [Transaction_Code],  
  [Transaction_Rate],  
  [Pay_Entity],  
  [Account_Identifier],  
  [Transaction_Type],  
  [Transaction_Category],  
  [Organisation_Unit_Description],  
  [Location_Code],  
  [Transaction_Number]  
 )  
 SELECT   
  TRY_CAST(au.[Process_Period] as date),  
  TRY_CAST(TRY_CONVERT(SMALLINT, NULLIF(au.[Primary_Cost_Code], '')) AS SMALLINT),  
  TRY_CAST(au.[Transaction_Amount] AS FLOAT),  
  TRY_CAST(au.[Transaction_Units] AS FLOAT),  
  au.[Transaction_Code],  
  TRY_CAST(au.[Transaction_Rate] AS FLOAT),  
  au.[Pay_ Entity],  
  TRY_CAST(TRY_CONVERT(INT, NULLIF(au.[Account_Identifier], '')) AS INT),  
  au.[Transaction_Type],  
  au.[Transaction_Category],  
  au.[Organisation_Unit_Description],  
  au.[Location_Code],  
  au.[Transaction_Number]  
 FROM [ODS].[Aurion] au  
 WHERE NOT EXISTS (  
   SELECT 1 FROM FACT.Aurion A  
   WHERE CAST(A.Process_Period AS DATE) = TRY_CAST(au.Process_Period AS DATE)  
 );  
  
  
    SET NOCOUNT OFF;  
END;  
GO
