USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_vwForecastAdjustment]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS_vwForecastAdjustment]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_vwForecastAdjustment]
AS


SET NOCOUNT ON;

TRUNCATE TABLE ODS.vwForecastADJUSTMENT;
 

insert into  ODS.vwForecastADJUSTMENT

 SELECT 
  SnapshotDate							=d.WeekendDate
  ,DocumentNo							=a.[Name]
  ,FiscalYear							=d.FiscalYear
  ,FiscalWeek 							=d.FiscalWeek
  ,CustomerNo							=a.CustomerNo 
  ,ProductNo 							=a.ProductNo	
  ,ForecastAdjustmentSalesQuantity		=a.ForecastAdjustmentSalesQuantity
  ,ForecastAdjustmentBaselineQuantity	=a.ForecastAdjustmentSalesQuantity
  ,ForecastAdjustmentIncrementalQuantity=0
  ,ForecastAdjustmentNetInvoiceValue	=a.ForecastAdjustmentNetInvoiceValue
  ,ForecastAdjustmentInvoiceDiscount	=a.ForecastAdjustmentInvoiceDiscount
  ,ForecastAdjustmentCaseDiscount		=a.ForecastAdjustmentCaseDiscount
  ,ForecastAdjustmentTermsDiscount		=a.ForecastAdjustmentTermsDiscount	
  ,ForecastAdjustmentOtherDiscount		=a.ForecastAdjustmentOtherDiscount
  ,ForecastAdjustmentCOGS				=a.ForecastAdjustmentCOGS	
  ,ForecastAdjustmentGrossMargin		=a.ForecastAdjustmentGrossMargin
  ,ForecastAdjustmentFreightQuantity	=a.ForecastAdjustmentFreightQuantity
  ,ForecastAdjustmentFreightCost		=a.ForecastAdjustmentFreightOutbound
  ,ForecastAdjustmentFreightCaseRate	=a.ForecastAdjustmentFreightCaseRate
  ,ForecastAdjustmentFreightFuelLevy	=a.ForecastAdjustmentFreightFuelLevy
  ,WeekendDate							=d.WeekendDate	
  ,AdjustmentDate						=a.AdjustmentDate	
 
FROM 
  ODS.ForecastAdjustment a  WITH (NOLOCK)
  INNER JOIN Dim.CalendarDate d WITH (NOLOCK)
  	ON a.AdjustmentDate=d.CalendarDate



GO
