USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCalendarOffsets]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCalendarOffsets]
	/*
Purpose  :  Reset Fiscal and Calendar Offsets based on Current Date  
*/
AS
SET DATEFIRST 1;
--Update Fiscal Offsets
;WITH current_fiscal_dates
AS (
	SELECT CAST(Fiscal.FiscalYear AS INT) AS CurrentFiscalYear
		,cast(Fiscal.FiscalQuarter AS INT) AS CurrentFiscalQuarter
		,Cast(Fiscal.FiscalPeriod AS INT) AS CurrentFiscalPeriod
		,cast(Fiscal.FiscalWeek AS INT) AS CurrentFiscalWeek
	FROM Dim.CalendarDate Fiscal
	WHERE Fiscal.CalendarDate = cast(getdate() AS DATE)
	)
UPDATE f
SET f.YearOffset = CASE 
		WHEN f.FiscalYear < 2019
			THEN c.CurrentFiscalYear - f.FiscalYear - 1
		ELSE c.CurrentFiscalYear - f.FiscalYear
		END
	,f.QuarterOffset = (
		CASE 
			WHEN f.FiscalYear < 2019
				THEN c.CurrentFiscalYear - f.FiscalYear - 1
			ELSE c.CurrentFiscalYear - f.FiscalYear
			END
		) * 4 + c.CurrentFiscalQuarter - f.FiscalQuarter
	,f.PeriodOffset = (
		CASE 
			WHEN f.FiscalYear < 2019
				THEN c.CurrentFiscalYear - f.FiscalYear - 1
			ELSE c.CurrentFiscalYear - f.FiscalYear
			END
		) * 12 + c.CurrentFiscalPeriod - f.FiscalPeriod
	,f.WeekOffset = (
		CASE 
			WHEN f.FiscalYear < 2019
				THEN c.CurrentFiscalYear - f.FiscalYear - 1
			ELSE c.CurrentFiscalYear - f.FiscalYear
			END
		) * 52 + c.CurrentFiscalWeek - f.FiscalWeek
FROM Dim.CalendarDate f
CROSS JOIN current_fiscal_dates C;
---Update Calendar Dates Offsets Flag
WITH combinded_calendar_weeks
AS (
	SELECT CalendarYear
		,max(CalendarWeekOfYear) AS MaxCalendarWeeks
	FROM Dim.CalendarDate x
	WHERE x.CalendarYear = cast(year(getdate()) AS INT)
	GROUP BY CalendarYear
	)
	,current_combined_dates
AS (
	SELECT b.CalendarYear AS CurrentYear
		,b.CalendarQuarter AS CurrentQuarter
		,b.CalendarMonth AS CurrentMonth
		,b.CalendarWeekOfYear AS CurrentWeek
		,b.CalendarDayOfYear AS CurrentDay
		,w.MaxCalendarWeeks
		,b.FiscalYear AS CurrentFiscalYear
		,b.FiscalQuarter AS CurrentFiscalQuarter
		,b.FiscalPeriod AS CurrentFiscalPeriod
		,b.FiscalWeek AS CurrentFiscalWeek
	FROM Dim.CalendarDate b
	INNER JOIN combinded_calendar_weeks w ON w.CalendarYear = b.CalendarYear
	WHERE b.CalendarDate = cast(getdate() AS DATE)
	)
--SELECT *FROM current_combined_dates
UPDATE b
SET b.CalendarYearOffset = c.CurrentYear - b.CalendarYear
	,b.CalendarQuarterOffset = (((C.CurrentYear - b.CalendarYear) * 4) + c.CurrentQuarter) - b.CalendarQuarter
	,b.CalendarMonthOffset = (((C.CurrentYear - b.CalendarYear) * 12) + c.CurrentMonth) - b.CalendarMonth
	,b.CalendarWeekOffset = (DATEDIFF(day, dateadd(day,-(DATEPART(DW,CONVERT(DATE,DATEADD(DAY,0,b.CalendarDate)))-1),b.CalendarDate),  (dateadd(day,-DATEPART(DW,CONVERT(DATE,DATEADD(DAY,0,GETDATE()))),GETDATE())+1)))/ 7 
	,b.CalendarDayOffset = DATEDIFF(day, b.CalendarDate, cast(getdate() AS DATE))
FROM Dim.CalendarDate b
CROSS JOIN current_combined_dates C

-- Update Working Day Offset  
;with current_workday as  
 (select d.CalendarDate,d.WorkingDayNumber from Dim.CalendarDate d  
 where d.CalendarDayOffset =0)  
   
update g  
set g.workingdayoffset=d.workingdaynumber-g.workingdaynumber  
from Dim.CalendarDate g  
cross join current_workday d  
GO
