USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[LoadJobStepInstanceAllStepsCompleted]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[LoadJobStepInstanceAllStepsCompleted]
AS
BEGIN
	TRUNCATE TABLE [dbo].[JobStepInstanceAllStepsCompleted];

	;WITH CTE_JOB_INSTANCE_STEPS_COMPLETED AS (
		-- Get the list of steps completed for each job and job instance
		SELECT DISTINCT
			s.[job_id]
		,	s.[job_instance]
		,	s.[step_id]
		FROM [dbo].[JobStepInstance] s
	)

	, CTE_JOB_INSTANCE_STEP_EXECUTED_COUNT AS (
		SELECT
			[job_id]
		,	[job_instance]
		,	COUNT(*)	AS [step_execution_count]
		FROM CTE_JOB_INSTANCE_STEPS_COMPLETED 
		GROUP BY [job_id], [job_instance]
	)

	INSERT [dbo].[JobStepInstanceAllStepsCompleted] (
		[job_id]				
	,	[job_instance]			
	)
	SELECT
			s.[job_id]
		,	s.[job_instance]
	FROM CTE_JOB_INSTANCE_STEP_EXECUTED_COUNT s	
	JOIN [dbo].[Job] j ON j.[job_id] = s.[job_id]
	WHERE s.[step_execution_count] = j.[step_count];
END
GO
