USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[sharepointdata_truncate]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sharepointdata_truncate]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	truncate table dbo.sharepointdata
END
GO
