USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_Fact_SDP_Man]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[usp_insert_Fact_SDP_Man]
as
BEGIN
Truncate table fact.SDP ;

with fis as
		(
		Select [Request_ID],
		case when Responde_Time = 'Not Assigned' then null else Responde_Time end as Responde_Time,
		case when DueBy_Date = '-' then null else DueBy_Date end as DueBy_Date,
		case when ResponseDue_Date = '-' then null else ResponseDue_Date end as ResponseDue_Date,
		case when Resolved_Date = 'Not Assigned' then null else Resolved_Date end as Resolved_Date,
				case when [Assigned Time] = 'Not Assigned' then null else [Assigned Time] end as [Assigned Time],
		CASE 
        WHEN CHARINDEX('BI-FY26-Planned', Subject) > 0 THEN 'BI-FY26-Planned'
		When CHARINDEX('BI-FY26-Unplanned', Subject) > 0 THEN 'BI-FY26-Unplanned'


		END AS Fis_year_ticket
		from Fact.SDP_Manual
		)


		Insert into Fact.SDP
		([ID]
      ,[Subject]
      ,[Request_ID]
      ,[Status]
      ,[Status_id]
      ,[Requester_Email]
      ,[Requester_Name]
      ,[Requester_ID]
      ,[CreatedBy_Email]
      ,[CreatedByName]
      ,[CreatedByID]
      ,[Created_Date]
      ,[Responde_Time]
      ,[DueBy_Date]
      ,[Department_ID]
      ,[Department]
      ,[Site]
      ,[ResponseDue_Date]
      ,[Service_Category]
      ,[Resolved_Date]
      ,[Last_Updated_Time]
      ,[Group]
      ,[Technician Email]
      ,[Assigned Time]
      ,[Priority]
      ,[Category]
      ,[Sub Category]
      ,[Item]
      ,[Request_Type]
      ,[Technician]
      ,[Resolved By]
      ,[Fiscal_year]
      ,[Ticket_Status]
  )
		(select ov.[Request_ID] as ID
      ,[Subject]
      ,ov.[Request_ID]
      ,[Status]
      ,[Status_id]
      ,[Requester_Email]
      ,[Requester_Name]
      ,[Requester_ID]
      ,[CreatedBy_Email]
      ,[CreatedByName]
      ,[CreatedByID]
      ,convert(date,[Created_Date],103)
      ,convert(date,fis.[Responde_Time],103)
      ,convert(date,fis.[DueBy_Date],103)
      ,[Department_ID]
      ,[Department]
      ,[Site]
      ,convert(date,fis.[ResponseDue_Date],103)
      ,[Service_Category]
      ,convert(date,fis.[Resolved_Date],103)
      ,convert(date,[Last_Updated_Time],103)
      ,convert(nvarchar,'BI' )
      ,[Technician Email]
      ,convert(date,fis.[Assigned Time],103)
      ,[Priority]
      ,[Category]
      ,[Sub Category]
      ,[Item]
      ,[Request_Type]
      ,[Technician]
      ,[Resolved By]
   --, SUBSTRING(Fis_year_ticket, CHARINDEX('-', Fis_year_ticket) + 1, CHARINDEX('-', Fis_year_ticket, CHARINDEX('-', Fis_year_ticket) + 1) - CHARINDEX('-', Fis_year_ticket) - 1) AS Fiscal_Year
	--, SUBSTRING(Fis_year_ticket, CHARINDEX('-', Fis_year_ticket, CHARINDEX('-', Fis_year_ticket) + 1) + 1, LEN(Fis_year_ticket)) AS Ticket_Status
        , SUBSTRING(
              fis.Fis_year_ticket, 
              CHARINDEX('-', fis.Fis_year_ticket) + 1, 
              CHARINDEX('-', fis.Fis_year_ticket, CHARINDEX('-', fis.Fis_year_ticket) + 1) 
                - CHARINDEX('-', fis.Fis_year_ticket) - 1
          ) AS Fiscal_Year

        , SUBSTRING(
              fis.Fis_year_ticket, 
              CHARINDEX('-', fis.Fis_year_ticket, CHARINDEX('-', fis.Fis_year_ticket) + 1) + 1, 
              LEN(fis.Fis_year_ticket)
          ) AS Ticket_Status
        
		from
		fact.SDP_Manual ov 
		inner join fis
		on ov.Request_ID = fis.Request_ID)
		end
GO
