USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_FACT_Labour_Aurion]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_insert_FACT_Labour_Aurion]  
AS  
BEGIN  
    SET NOCOUNT ON;  

 IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[temp_Labour_aurion]') AND type in (N'U'))
DROP TABLE [dbo].temp_Labour_aurion;

Declare @docinit nvarchar(max), @xmlstart int, @xmlend int, @docrelevant nvarchar(max), @idoc int;
select @docinit = replace(json_values,'\n','') from stg.Labour_Aurion_JSON;
select @xmlstart =CHARINDEX('DocumentRoot',@docinit);
--print @xmlstart 
select @xmlend =CHARINDEX('/DocumentRoot',@docinit);
--print @xmlend
select @docrelevant = SUBSTRING(@docinit,@xmlstart-1,@xmlend-@xmlstart+15)
--print @docrelevant
--select @test = right(@docrelevant,25)
--print @test
EXEC sp_xml_preparedocument @idoc OUTPUT, @docrelevant;

SELECT *
into [dbo].temp_Labour_aurion
FROM OPENXML(@idoc, '/DocumentRoot/AQT_Output',3)
 WITH (  
Employee_Number varchar(10) ,
	Processed_Period date,
	Pay_Cycle char(1) ,
	Length_of_Service varchar(10) ,
	Award_Code varchar(10) ,
	Time_Code varchar(10) ,
	Description varchar(100) ,
	Allowance_Deduction_Code varchar(10) ,
	Hours varchar(10) ,
	Minutes varchar(10) ,
	Units varchar(10),
	Multiplier varchar(10),
	Rate varchar(10),
	Amount varchar(10),
	Primary_Cost_Code varchar(10) ,
	Cost_Code_Description varchar(100) ,
	Actual_Job_Title varchar(100) ,
	Employment_Type_Code varchar(10) ,
	Attendance_Type_Code varchar(10) ,
	Reporting_Category_Code varchar(10) ,
	Employee_Status varchar(10) ,
	Equivalent_Full_Time varchar(10),
	Pay_Entity varchar(10) ,
	Date_Commenced date ,
	Hours_per_Week varchar(10) ,
	Date_of_Birth date ,
	Actual_Location_Code varchar(10) ,
	Actual_Classification varchar(10) ,
	Time_Code_Account varchar(20) 
    ) 
 
    -- Insert only new records from ParsedJsonData to FACT.Aurion  
    INSERT INTO [ODS].[Labour_Aurion] (  
        [Employee_Number]
      ,[Processed_Period]
      ,[Pay_Cycle]
      ,[Length_of_Service]
      ,[Award_Code]
      ,[Time_Code]
      ,[Description]
      ,[Allowance_Deduction_Code]
      ,[Hours]
      ,[Minutes]
      ,[Units]
      ,[Multiplier]
      ,[Rate]
      ,[Amount]
      ,[Primary_Cost_Code]
      ,[Cost_Code_Description]
      ,[Actual_Job_Title]
      ,[Employment_Type_Code]
      ,[Attendance_Type_Code]
      ,[Reporting_Category_Code]
      ,[Employee_Status]
      ,[Equivalent_Full_Time]
      ,[Pay_Entity]
      ,[Date_Commenced]
      ,[Hours_per_Week]
      ,[Date_of_Birth]
      ,[Actual_Location_Code]
      ,[Actual_Classification]
      ,[Time_Code_Account]
    )  
    SELECT  
    [Employee_Number]
      ,[Processed_Period]
      ,[Pay_Cycle]
      ,[Length_of_Service]
      ,[Award_Code]
      ,[Time_Code]
      ,[Description]
      ,[Allowance_Deduction_Code]
      ,[Hours]
      ,[Minutes]
      ,[Units]
      ,[Multiplier]
      ,[Rate]
      ,[Amount]
      ,[Primary_Cost_Code]
      ,[Cost_Code_Description]
      ,[Actual_Job_Title]
      ,[Employment_Type_Code]
      ,[Attendance_Type_Code]
      ,[Reporting_Category_Code]
      ,[Employee_Status]
      ,[Equivalent_Full_Time]
      ,[Pay_Entity]
      ,[Date_Commenced]
      ,[Hours_per_Week]
      ,[Date_of_Birth]
      ,[Actual_Location_Code]
      ,[Actual_Classification]
      ,[Time_Code_Account]
   FROM dbo.temp_labour_aurion
 
  
---- Insert new records from ODS.Aurion to FACT.Aurion  
    INSERT INTO [FACT].[Labour_Aurion] (  
   	[Employee_Number]
      ,[Processed_Period]
      ,[Pay_Cycle]
      ,[Length_of_Service]
      ,[Award_Code]
      ,[Time_Code]
      ,[Description]
      ,[Allowance_Deduction_Code]
      ,[Hours]
      ,[Minutes]
      ,[Units]
      ,[Multiplier]
      ,[Rate]
      ,[Amount]
      ,[Primary_Cost_Code]
      ,[Cost_Code_Description]
      ,[Actual_Job_Title]
      ,[Employment_Type_Code]
      ,[Attendance_Type_Code]
      ,[Reporting_Category_Code]
      ,[Employee_Status]
      ,[Equivalent_Full_Time]
      ,[Pay_Entity]
      ,[Date_Commenced]
      ,[Hours_per_Week]
      ,[Date_of_Birth]
      ,[Actual_Location_Code]
      ,[Actual_Classification]
      ,[Time_Code_Account]
 )  
SELECT  
	   au.[Employee_Number]
      ,au.[Processed_Period]
      ,au.[Pay_Cycle]
      ,au.[Length_of_Service]
      ,au.[Award_Code]
      ,au.[Time_Code]
      ,au.[Description]
      ,au.[Allowance_Deduction_Code]
      ,au.[Hours]
      ,TRY_CAST(au.[Minutes] as int)
      ,TRY_CAST(au.[Units] as Float)
      ,TRY_CAST(au.[Multiplier] as Float)
      ,TRY_CAST(au.[Rate] as Float)
      ,TRY_CAST(au.[Amount] as Float)
      ,au.[Primary_Cost_Code]
      ,au.[Cost_Code_Description]
      ,au.[Actual_Job_Title]
      ,au.[Employment_Type_Code]
      ,au.[Attendance_Type_Code]
      ,au.[Reporting_Category_Code]
      ,au.[Employee_Status]
      ,TRY_CAST(au.[Equivalent_Full_Time] as Float)
      ,au.[Pay_Entity]
      ,au.[Date_Commenced]
      ,au.[Hours_per_Week]
      ,au.[Date_of_Birth]
      ,au.[Actual_Location_Code]
      ,au.[Actual_Classification]
      ,au.[Time_Code_Account]




--  TRY_CAST(au.[Process_Period] as date),  
--  TRY_CAST(TRY_CONVERT(SMALLINT, NULLIF(au.[Primary_Cost_Code], '')) AS SMALLINT),  
--  TRY_CAST(au.[Transaction_Amount] AS FLOAT),  
--  TRY_CAST(au.[Transaction_Units] AS FLOAT),  
--  au.[Transaction_Code],  
--  TRY_CAST(au.[Transaction_Rate] AS FLOAT),  
--  au.[Pay_ Entity],  
--  TRY_CAST(TRY_CONVERT(INT, NULLIF(au.[Account_Identifier], '')) AS INT),  
--  au.[Transaction_Type],  
--  au.[Transaction_Category],  
--  au.[Organisation_Unit_Description],  
--  au.[Location_Code],  
--  au.[Transaction_Number],
--  au.[Gender]

 FROM [ODS].[Labour_Aurion] au  
 WHERE NOT EXISTS (  
   SELECT 1 FROM FACT.Labour_Aurion A  
   WHERE CAST(A.Processed_Period AS DATE) = TRY_CAST(au.Processed_Period AS DATE)  
 );  
    
    SET NOCOUNT OFF;  
END;  
GO
