USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_Fact_SDP_request_tasks_manual]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     procedure [dbo].[usp_insert_Fact_SDP_request_tasks_manual]
as
BEGIN
Truncate table fact.SDP_requests_tasks ;

with convertDate as
		(
		Select Task_ID, [Request_ID],title,
		case when [scheduled_start_time] = 'Not Assigned' then null else [scheduled_start_time] end as [scheduled_start_time],
		case when [scheduled_end_time] = 'Not Assigned' then null else [scheduled_end_time] end as [scheduled_end_time],
		case when actual_start_time = 'Not Assigned' then null else actual_start_time end as actual_start_time,
		case when actual_end_time = 'Not Assigned' then null else actual_end_time end as actual_end_time
		from ODS.[SDP_requests_tasks_manual]
		)


		Insert into Fact.SDP_requests_tasks
		([task_id]
      ,[request_id]
      ,[title]
      ,[created_date]
      ,[module]
      ,[scheduled_start_time]
      ,[scheduled_end_time]
      ,[actual_start_time]
      ,[actual_end_time]
      ,[status_id]
      ,[status_name]
      ,[group_name]
      ,[group_id]
      ,[owner_Email]
      ,[owner_Name]
      ,[owner_id]
      ,[CreatedBy_Email]
      ,[CreatedBy_Name]
      ,[CreatedBy_id]
      ,[Priority_name]
      ,[percentage_completion]
      ,[Estimated_effort_days]
      ,[task_type_name]
      ,[Task_order]
      ,[overdue]
      ,[ticket_id]
      ,[subject]
      ,[description]
      ,[site_id]
      ,[site_name])
	  (Select ov.[task_id]
      ,ov.[request_id]
      ,ov.[title]
     ,convert(date,[created_date],103)
      ,[module]
      ,TRY_CONVERT(datetime, co.[scheduled_start_time], 103)
    ,TRY_CONVERT(datetime, co.[scheduled_end_time], 103)
    ,TRY_CONVERT(datetime, co.[actual_start_time], 103)
    ,TRY_CONVERT(datetime, co.[actual_end_time], 103)
      ,[status_id]
      ,[status_name]
      ,[group_name]
      ,[group_id]
      ,[owner_Email]
      ,[owner_Name]
      ,[owner_id]
      ,[CreatedBy_Email]
      ,[CreatedBy_Name]
      ,[CreatedBy_id]
      ,[Priority_name]
      ,[percentage_completion]
      ,[Estimated_effort_days]
      ,[task_type_name]
      ,[Task_order]
      ,[overdue]
      ,ov.[request_id]
      ,[subject]
      ,[description]
      ,[site_id]
      ,[site_name]
		from
		ODS.[SDP_requests_tasks_manual] ov 
		inner join convertDate co
		on ov.task_id = co.task_id and ov.request_id = co.request_id and ov.title = co.title)
		end
GO
