USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_PRGINFOPLTD]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_PRGINFOPLTD>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_PRGINFOPLTD]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_PRGINFOPLTD]  

insert into [SAPSTG].[ZXC_PRGINFOPLTD]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
CreatedByUser  =NULLIF(cast(CreatedByUser as nvarchar(12)),'') ,
Currency  =NULLIF(cast(Currency as nvarchar(5)),'') ,
IncotermsClassification  =NULLIF(cast(IncotermsClassification as nvarchar(3)),'') ,
IncotermsLocation1  =NULLIF(cast(IncotermsLocation1 as nvarchar(70)),'') ,
IncotermsLocation2  =NULLIF(cast(IncotermsLocation2 as nvarchar(70)),'') ,
IncotermsTransferLocation  =NULLIF(cast(IncotermsTransferLocation as nvarchar(28)),'') ,
IncotermsVersion  =NULLIF(cast(IncotermsVersion as nvarchar(4)),'') ,
InvoiceIsGoodsReceiptBased  =case InvoiceIsGoodsReceiptBased when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsCashDiscountGranted  =case IsCashDiscountGranted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsEndOfPurposeBlocked  =NULLIF(cast(IsEndOfPurposeBlocked as nvarchar(1)),'') ,
IsEvaluatedRcptSettlmtAllowed  =case IsEvaluatedRcptSettlmtAllowed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsMarkedForDeletion  =case IsMarkedForDeletion when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsOrderAcknRqd  =case IsOrderAcknRqd when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsPurOrderAllwdForInbDeliv  =case IsPurOrderAllwdForInbDeliv when 'X' then cast(1 as bit) else cast(0 as bit) end ,
IsRelevantForAutomSrcg  =NULLIF(cast(IsRelevantForAutomSrcg as nvarchar(1)),'') ,
IsRetMatlAuthznRqdBySupplier  =NULLIF(cast(IsRetMatlAuthznRqdBySupplier as nvarchar(1)),'') ,
--LastReferencingPurchaseOrder  =NULLIF(cast(LastReferencingPurchaseOrder as nvarchar(10)),'') ,
[LastReferencingPurchaseOrder]  = case when isnumeric([LastReferencingPurchaseOrder]) =1 
						then cast(cast([LastReferencingPurchaseOrder] as BIGINT) as nvarchar(10)) 
					 WHEN [LastReferencingPurchaseOrder] = '' THEN NULL
                    else  cast([LastReferencingPurchaseOrder] as nvarchar(10)) end,
LastReferencingPurOrderItem  =NULLIF(cast(LastReferencingPurOrderItem as nvarchar(5)),'') ,
MaterialConditionGroup  =NULLIF(cast(MaterialConditionGroup as nvarchar(4)),'') ,
MaterialPlannedDeliveryDurn  =cast(MaterialPlannedDeliveryDurn as decimal(38,6)) ,
MaterialPriceUnitQty  =cast(MaterialPriceUnitQty as decimal(38,6)) ,
MaterialRoundingProfile  =NULLIF(cast(MaterialRoundingProfile as nvarchar(4)),'') ,
MaterialStagingTime  =cast(MaterialStagingTime as decimal(38,6)) ,
MaximumOrderQuantity  =cast(MaximumOrderQuantity as decimal(38,6)) ,
MinimumPurchaseOrderQuantity  =cast(MinimumPurchaseOrderQuantity as decimal(38,6)) ,
MinRemainingShelfLife  =cast(MinRemainingShelfLife as decimal(38,6)) ,
NetPriceAmount  =cast(NetPriceAmount as decimal(38,6)) ,
OrderPriceUnitToOrderUnitNmrtr  =cast(OrderPriceUnitToOrderUnitNmrtr as decimal(38,6)) ,
OrdPriceUnitToOrderUnitDnmntr  =cast(OrdPriceUnitToOrderUnitDnmntr as decimal(38,6)) ,
OverdelivTolrtdLmtRatioInPct  =cast(OverdelivTolrtdLmtRatioInPct as decimal(38,6)) ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
PriceValidityEndDate  =CASE WHEN ISDATE(PriceValidityEndDate) = 1 
                        		then CONVERT(datetime,PriceValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),PriceValidityEndDate) 
                         		else null 	end ,
PricingDateControl  =NULLIF(cast(PricingDateControl as nvarchar(1)),'') ,
ProductUnitGroup  =NULLIF(cast(ProductUnitGroup as nvarchar(4)),'') ,
--PurchaseOrderPriceUnit  =NULLIF(cast(PurchaseOrderPriceUnit as nvarchar(3)),'') ,
PurchaseOrderPriceUnit			= case when NULLIF(cast(PurchaseOrderPriceUnit as nvarchar(3)),'') = 'BOT' THEN 'BT'
						  when [PurchaseOrderPriceUnit]= 'KAR' THEN 'CAR'
						  when [PurchaseOrderPriceUnit]= 'PAK' THEN 'PAC'
						  ELSE NULLIF(cast(PurchaseOrderPriceUnit as nvarchar(3)),'') end,
PurchasingDocumentDate  =CASE WHEN ISDATE(PurchasingDocumentDate) = 1 
                        		then CONVERT(datetime,PurchasingDocumentDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),PurchasingDocumentDate) 
                         		else null 	end ,
PurchasingGroup  =NULLIF(cast(PurchasingGroup as nvarchar(3)),'') ,
PurchasingInfoRecord  =NULLIF(cast(PurchasingInfoRecord as nvarchar(10)),'') ,
PurchasingInfoRecordCategory  =NULLIF(cast(PurchasingInfoRecordCategory as nvarchar(1)),'') ,
PurchasingOrganization  =NULLIF(cast(PurchasingOrganization as nvarchar(4)),'') ,
--ShelfLifeExpirationDatePeriod  =NULLIF(cast(ShelfLifeExpirationDatePeriod as nvarchar(1)),'') ,
ShelfLifeExpirationDatePeriod  = CASE WHEN cast(ShelfLifeExpirationDatePeriod as nvarchar(1)) <> NULL THEN
									cast(ShelfLifeExpirationDatePeriod as nvarchar(1))
									ELSE 'D' END,
ShippingInstruction  =NULLIF(cast(ShippingInstruction as nvarchar(2)),'') ,
StandardPurchaseOrderQuantity  =cast(StandardPurchaseOrderQuantity as decimal(38,6)) ,
SupplierConfirmationControlKey  =NULLIF(cast(SupplierConfirmationControlKey as nvarchar(4)),'') ,
SupplierQuotation  =NULLIF(cast(SupplierQuotation as nvarchar(10)),'') ,
SupplierQuotationDate  =CASE WHEN ISDATE(SupplierQuotationDate) = 1 
                        		then CONVERT(datetime,SupplierQuotationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),SupplierQuotationDate) 
                         		else null 	end ,
TaxCode  =NULLIF(cast(TaxCode as nvarchar(2)),'') ,
UnderdelivTolrtdLmtRatioInPct  =cast(UnderdelivTolrtdLmtRatioInPct as decimal(38,6)) ,
UnlimitedOverdeliveryIsAllowed  =case UnlimitedOverdeliveryIsAllowed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ScriptVersionDate = cast(getdate() as date)
from SAPSTG.ZXCPRGINFOPLTD

END
GO
