USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_ODS_RDM_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_insert_ODS_RDM_Scorecard]
AS
BEGIN
    -- Task 1: Insert new records into RDM_monthly_Scorecard while avoiding duplicates
    INSERT INTO ODS.RDM_monthly_Scorecard (
           [Year]
         , [Period]
         , [Category]
         , [BIAS_Quantity]
         , [MAPE_Quantity]
         , [ERROR_1_PRO_MONTH]
         , [CMT_LAG_1_QTY]
         , [ACT_QTY]
    )
    SELECT [Year], [Period], [Category], [BIAS_Quantity], [MAPE_Quantity], [ERROR_1_PRO_MONTH], [CMT_LAG_1_QTY], [ACT_QTY]
	FROM ODS.RDM_scorecard S
	WHERE NOT EXISTS (
		SELECT 1 
		FROM ODS.RDM_monthly_scorecard M
		WHERE S.[Year] = M.[Year]
			AND S.[Period] = M.[Period]
			AND S.[Category] = M.[Category]
	);

	INSERT INTO ODS.RDM_Scorecard (
           [Year]
         , [Period]
         , [Category]
         , [BIAS_Quantity]
         , [MAPE_Quantity]
         , [ERROR_1_PRO_MONTH]
         , [CMT_LAG_1_QTY]
         , [ACT_QTY]
    )
	SELECT [Year], [Period], [Category], [BIAS_Quantity], [MAPE_Quantity], [ERROR_1_PRO_MONTH], [CMT_LAG_1_QTY], [ACT_QTY]
	FROM ODS.RDM_monthly_scorecard M
	WHERE NOT EXISTS (
		SELECT 1 
		FROM ODS.RDM_scorecard S
		WHERE M.[Year] = S.[Year]
		  AND M.[Period] = S.[Period]
		  AND M.[Category] = S.[Category]
	);

END;
GO
