USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_PurchaseReq_InfoRecord]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD [DIM].[PurchaseReq_InfoRecord]>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_DIM_PurchaseReq_InfoRecord]
AS

--Delete existing data from ODS table

TRUNCATE TABLE  [DIM].[PurchaseReq_InfoRecord]

--Insert data into ODS table

Begin
Insert into [DIM].[PurchaseReq_InfoRecord]
select Getdate()
      ,NE.[Client]
      ,NE.[PIRNo]
      ,NE.[PurcInfo]
      ,NE.[PurchaseOrg]
      ,NE.[Plant]
      ,NE.[InfoRecCateg]
      ,NE.[CreatedOn]
      ,NE.[CreatedBy]
      ,NE.[PurchaseGroup]
      ,NE.[Currency]
      ,NE.[PurchaseDocCateg]
      ,NE.[PurchaseDoc]
      ,NE.[PurchaseDocItem]
      ,NE.[DocDate]
      ,NE.[OrderPriceUnit]
      ,NE.[ValidTo]
      ,NE.[PlanDelvTime]
      ,NE.[NetPrice]
      ,NE.[PriceUnit]
      ,NA.[MatNo]
      ,NA.[Vendor]
      ,NA.[NoOfPoints]
FROM SAPSTG.CV_PR_EINE as NE
left join SAPSTG.CV_PR_EINA as NA 
			ON NE.Client = NA.Client 
			AND NE.PIRNo = NA.PIRNo
 
 END
GO
