USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_ODSMRPMaterialCoverageSnapshotWeekly]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Upsert_ODSMRPMaterialCoverageSnapshotWeekly]
AS

DELETE m FROM [ODS].[MRPMaterialCoverageSnapshot] m
INNER JOIN  dim.CalendarDate c
ON convert(Date,m.LoadDateTime) = c.CalendarDate
and c.CalendarWeekOffset = 0

--Reload Latest forecast data
INSERT INTO [ODS].[MRPMaterialCoverageSnapshot]
SELECT
	m.Material As Material
	,m.Plant As Plant
	, GETDATE() AS LoadDateTime	
  	, ct.WeekcommenceDate as SnapshotDate
	,avg([BullaCoverageDays]) AS [BullaCoverageDays]
	,avg([StockCoverageDays]) AS [StockCoverageDays]
	, 'SCH' as SnapshotTyoe
	,[UnderSafetyDate]
	,[AboveSafetyDate]
	,[FirstShortageDate]
	,[NextAvailableDate]
	,0
	,[HighestStockDate]
	,[LowestStockDate]
	,avg([PlannedCoverageDays]) as [PlannedCoverageDays]
	,[StockCoverageDate]
	,[BullaCoverageDate]
	,max([HighestStock]) as [HighestStock]
	,min([LowestStock]) as [LowestStock]
	,AVG([StockOnHand]) as [StockOnHand]
	,avg([InspectionStock]) as [InspectionStock]
	,avg([UnrestrictedStock]) as [UnrestrictedStock]
	,avg([StockinTransfer]) as [StockinTransfer]
	,avg([OverdueQty]) as [OverdueQty]
	,avg([BlockedStock]) as [BlockedStock]
	,avg([VendorStock]) as [VendorStock]
	,avg([StockOnHandVal]) as [StockOnHandVal]
	,avg([Avg90ReqDays]) as [Avg90ReqDays]
	, avg([Avg30ReqDays]) as [Avg30ReqDays]
	,avg([Avg150ReqDays]) as [Avg180ReqDays]
	,avg([StdPrice]) as [StdPrice]
	, avg([PriceUnitQty]) as [PriceUnitQty]
	, avg([SafetyStockDays]) as [SafetyStockDays]
	, avg([BullaTargetDays]) as [BullaTargetDays]
	,min([MinStockDays]) as [MinStockDays]
	, max([MaxStockDays]) as [MaxStockDays]
	, avg([ShortageDays]) as [ShortageDays]
	,Unit
	,Currency
	,NextSupplyDate
	,FirstStockShortageDate
	,OverdueDocumentFlag
	,avg([Average Requirement(Cov.Prof)])
	,avg([Dynamic Target Days])
	,ct.WeekcommenceDate
	,ct.WeekendDate
FROM [SAPSTG].CV_MATERIAL_COVERAGE (NOLOCK) m
left outer join Dim.CalendarDate(NOLOCK) ct ON Convert(DATE,GETDATE()) = Ct.CalendarDate
group by m.Material, m.Plant
	,ct.WeekcommenceDate
		,[UnderSafetyDate]
	,[AboveSafetyDate]
	,[FirstShortageDate]
	,[NextAvailableDate]
	,[HighestStockDate]
	,[LowestStockDate]
	,[BullaCoverageDate]
	,[StockCoverageDate]
	,[BullaCoverageDate]
	,Unit
	,Currency
	,NextSupplyDate
	,FirstStockShortageDate
	,OverdueDocumentFlag
	,ct.WeekcommenceDate
	,ct.WeekendDate
GO
