USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_CommittedSales_LastFiscalPeriod]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kishor Shinde
-- Create date: 30/06/2022
-- Description:	Delete and insert FiscalYearPeriod = 202212 data in Fact.CommittedSales
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Insert_Fact_CommittedSales_LastFiscalPeriod]
 AS
BEGIN

--Delete last fisalperiod data from CommittedSales

Declare @LastFisalyear int = (  select distinct FiscalYear  from dim.CalendarDate d
  WHERE d.PeriodOffset=1)
 
 Delete from [Fact].[CommittedSales] 
  where FiscalYear = @LastFisalyear 
  and FiscalWeek in (select distinct d.fiscalweek  from dim.CalendarDate d
							 WHERE d.IsWeekend=1 AND d.PeriodOffset=1)

--Insert last fisalperiod data in CommittedSales from ActualSales

Insert into [Fact].[CommittedSales] 
  SELECT  
  		EoMSnapshotDate				=	'1900-01-01 00:00:00'  
		,FiscalYearWeekDisplay		=  	a.FiscalYearWeekDisplay
		,FiscalYearWeekIntKey		=	a.FiscalYearWeekIntKey
		,Fiscalyear					=	a.fiscalyear 
		,FiscalWeek					=	a.fiscalweek 
		,CustomerNo					=	a.CustomerNo 
		,ProductNo					=	a.ProductNo 
		,CommittedSalesQuantity		=	ActualSalesQuantity			 
		,CommittedNetInvoiceValue	=	ActualNetInvoiceValue	
		,CommittedInvoiceDiscount	= 	ActualInvoiceDiscount		
		,CommittedCaseDiscount		= 	ActualCaseDiscount			
		,CommittedTermsDiscount		= 	ActualTermsDiscount			
        ,CommittedOtherDiscount		=	ActualOtherDiscount		 
		,CommittedCOGS				=	ActualCOGS					 
		,CommittedGrossMargin		=	ActualGrossMargin			
		,CommittedBaselineQuantity	=	ActualBaselineQuantity		
		,CommittedIncrementalQuantity	=ActualIncrementalQuantity	
		,CommittedFreightOutbound	=	ActualFreightOutbound		
		,CommittedFreightQuantity	=	NULL       
		,CommittedFreightCaseRate	=	NULL       
		,CommittedFreightFuelLevy	=	ActualFreightFuelLevy       	
  FROM Fact.ActualSales a (NOLOCK) 
  INNER JOIN DIm.CalendarDate d (NOLOCK)
  ON a.WeekCommenceDate=d.WeekcommenceDate
  WHERE d.IsWeekend=1
  AND d.PeriodOffset=1  


END
GO
