USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_PriorYearCommittedSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD FACT PriorYearCommittedSales]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_PriorYearCommittedSales]
AS


SET NOCOUNT ON;

TRUNCATE TABLE FACT.PriorYearCommittedsales;


  
     ;WITH LastCommitted
AS (SELECT
    MAX(FiscalYearWeekIntKey) + 100 AS MaxKey
  FROM  Fact.CommittedSales (NOLOCK)
),
NextYear as
(
(select d.PriorFiscalYear as Fiscalyear,FiscalYear as NextFiscalYear from Dim.CalendarDate d
where d.IsYearEnd=1)
)


insert into FACT.PriorYearCommittedsales 
SELECT	
 GetDate(),
SnapshotDate,
CAST(y.NextFiscalYear AS VARCHAR(4)) + ' ' + CAST(FiscalWeek AS VARCHAR(2))						AS FiscalYearWeekDisplay,
		CAST(CAST(y.NextFiscalYear AS VARCHAR(4)) + RIGHT('0' + CAST(FiscalWeek AS VARCHAR(2)),2) AS INT) AS FiscalYearWeekIntKey,
		y.NextFiscalYear				AS FiscalYear,
		[FiscalWeek],
		[CustomerNo],
		[ProductNo],
		[CommittedSalesQuantity]		AS PriorYearCommittedSalesQuantity,
		[CommittedInvoiceDiscount]		AS PriorYearCommittedInvoiceDiscount,
		[CommittedNetInvoiceValue]		AS PriorYearCommittedNetInvoiceValue,
		[CommittedCaseDiscount]		AS PriorYearCommittedCaseDiscount,
		[CommittedTermsDiscount]		AS PriorYearCommittedTermsDiscount,
		[CommittedOtherDiscount]		AS PriorYearCommittedOtherDiscount,
        [CommittedCOGS]				AS PriorYearCommittedCOGS,
		[CommittedGrossMargin]			AS PriorYearCommittedGrossMargin,
		[CommittedBaselineQuantity]	AS PriorYearCommittedBaselineQuantity,
		[CommittedIncrementalQuantity]	AS PriorYearCommittedIncrementalQuantity,
		CommittedFreightOutbound		AS PriorYearCommittedFreightOutbound,
		CommittedFreightQuantity       AS PriorYearCommittedFreightQuantity,
		CommittedFreightCaseRate       AS PriorYearCommittedFreightCaseRate,
		CommittedFreightFuelLevy       AS PriorYearCommittedFreightFuelLevy	
FROM Fact.CommittedSales c (NOLOCK)
LEFT OUTER JOIN NextYear y on y.FiscalYear=c.FiscalYear
WHERE CAST(CAST(y.NextFiscalYear AS varchar(4)) + RIGHT('0' + CAST(fiscalweek AS varchar(2)), 2) AS int) <= (SELECT MaxKey FROM LastCommitted)

GO
