USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_MatWarehouse]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Insert_DIM_MatWarehouse]   
AS      
BEGIN      
    SET NOCOUNT ON;      
      
Delete from [DIM].[MatWarehouse];      
 

INSERT INTO [DIM].[MatWarehouse]
           ([Material]
           ,[Stock_Removal]
           ,[Stock_Placement]
           ,[LE_Quantity]
           ,[Unit_of_Measure]
           ,[Storage_Unit_Type]
		   ,WareHouse)

Select distinct REPLACE(LTRIM(REPLACE(MLGN.MATNR,'0',' ')),' ','0') Material,
LTKZA Stock_Removal,
LTKZE Stock_Placement,
LHMG1 LE_Quantity,
LHME1 Unit_of_Measure,
LETY1 Storage_Unit_Type,
LGNUM WareHouse
	from SAPSTG.CV_PR_MD_MLGN MLGN 
end;
GO
