USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_Difot_Delivery]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE Procedure [dbo].[usp_Insert_ODS_Difot_Delivery]
as 
Truncate Table [ods].[Difot_Delivery];

Insert into [ods].[Difot_Delivery](
       [LoadDate]
      ,[Delivery]
      ,[Actual Delivery Date]
      ,[Vendor Name]
	  ,[VENDOR]
	  )

Select 
       CAST(GETDATE() AS DATE) AS [LoadDate]
      ,[Delivery]
      ,MAX([Actual Delivery Date]) AS [Actual Delivery Date]
      ,[Vendor Name]
	  ,[VENDOR]='1016786'
             
    From [stg].[Linfox_Difot]
    GROUP BY Delivery,[Vendor Name]

	    --where [Actual Delivery Date]=(Select max([Actual Delivery Date]) From [stg].[DifotDelivery])
	    --where [Actual Delivery Date]=(Select max([Actual Delivery Date]) From [stg].[DifotDelivery])
GO
