USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_MATERIAL]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_MATERIAL>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_MATERIAL]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_MATERIAL]  

insert into [SAPSTG].[ZXC_MATERIAL]   
SELECT 
ProcessExecutionID  		='Odata Column is Missing' ,
LoadDateTime  				='Odata Column is Missing' ,
AuthorizationGroup  		=NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
IsBatchManagementRequired  	=case IsBatchManagementRequired when 'X' then cast(1 as bit) else cast(0 as bit) end ,
Material  					= case when isnumeric(m.Material) =1 
                                    		then 	cast(cast(m.Material as BIGINT) as nvarchar(40))
                                            else  cast(m.Material as nvarchar(40)) end,
--MaterialBaseUnit  			=NULLIF(cast(MaterialBaseUnit as nvarchar(3)),'') ,
MaterialBaseUnit			= case when NULLIF(cast(MaterialBaseUnit as nvarchar(3)),'') = 'BOT' THEN 'BT'
						  when NULLIF(cast(MaterialBaseUnit as nvarchar(3)),'') = 'KAR' THEN 'CAR'
						  ELSE NULLIF(cast(MaterialBaseUnit as nvarchar(3)),'') end,
MaterialGrossWeight  		=cast(MaterialGrossWeight as decimal(38,6)) ,
MaterialGroup  				=NULLIF(cast(m.MaterialGroup as nvarchar(9)),'') ,
MaterialManufacturerNumber  =NULLIF(cast(MaterialManufacturerNumber as nvarchar(10)),'') ,
MaterialManufacturerPartNumber  = case when isnumeric(MaterialManufacturerPartNumber) =1 
                                    		then 	NULLIF(cast(cast(MaterialManufacturerPartNumber as BIGINT) as nvarchar(40)),'')
                                            else  NULLIF(cast(MaterialManufacturerPartNumber as nvarchar(40)),'') end,
MaterialNetWeight  			=cast(MaterialNetWeight as decimal(38,6)) ,
MaterialType  				=NULLIF(cast(m.MaterialType as nvarchar(4)),'') ,
MaterialWeightUnit  		=NULLIF(cast(MaterialWeightUnit as nvarchar(3)),'') ,
Material_Text  				=	mb.MaterialName,  --  'Odata Column is Missing' ,
ScriptVersionDate 			= cast(getdate() as date)

FROM  SAPSTG.ZXCMATRIAL m WITH (NOLOCK) 
LEFT OUTER JOIN SAPSTG.ZXCMATBASICDATA mb WITH (NOLOCK)
	ON m.Material=mb.Material

END
GO
