USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ProductH1_L4]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<BHATRAH>
-- Create date: <05/01/2022>
-- Description:	<LOAD ODS ProductH1_L4>
-- =============================================

CREATE PROCEDURE   [dbo].[usp_Insert_ODS_ProductH1_L4]
AS

DELETE  from ods.vwProductH1_L4 where ProPromotionGroup_Code <> '999'  --Default records for unassigned matches  22/03 Kishor


;with vwProductH1_L4_TR (ProPromotionGroup_Code,ProPromotionGroup_Name,ProSubFamily_Code) as 

  ( SELECT DISTINCT
   ProPromotionGroup_Code	= CONVERT(VARCHAR(3),CAST(SUBSTRING(h.ProductHierarchy, 14,5) AS INT))
  ,ProPromotionGroup_Name		= h.ProductHierarchyText
  ,ProSubFamily_Code		= CAST(SUBSTRING(h.ProductHierarchy ,9,5) AS INT)
 
  FROM SAPSTG.ZXC_PRODHIERTEXT h WITH (NOLOCK)
  
  where len(h.ProductHierarchy)=18
  AND ISNUMERIC(SUBSTRING(h.ProductHierarchy, 14,5)) = 1
  
  UNION

  	SELECT DISTINCT 																		--Code is adeed for ProductHierarchy with lenght 13 --Kishor 28/04/2022
   ProPromotionGroup_Code	= CONVERT(VARCHAR(3),CAST(SUBSTRING(h.ProductHierarchy, 14,5) AS INT))
  ,ProPromotionGroup_Name		= h.ProductHierarchyText
  ,ProSubFamily_Code		= CAST(SUBSTRING(h.ProductHierarchy ,9,5) AS INT)
 
	FROM SAPSTG.ZXC_PRODHIERTEXT h WITH (NOLOCK)
	where ProductHierarchy in
	(select left(PH.ProductHierarchy,13) as ProductHierarchy 
  	FROM SAPSTG.ZXC_PRODHIERTEXT PH
	 where len(PH.ProductHierarchy)>=13
  group by left(PH.ProductHierarchy,13) 
  having  count(left(PH.ProductHierarchy,13)) =1)
  
  )
  ,

  
  vwProductH1_L4_SF as (
  SELECT DISTINCT
  ProSubFamily_Code		=	CAST(SUBSTRING(h.ProductHierarchy, 9,5) AS INT)
  ,ProSubFamily_name  			= 	h.ProductHierarchyText
  ,ProFamily_Code		=	CAST(SUBSTRING(h.ProductHierarchy ,5,4) AS INT)
  
  FROM SAPSTG.ZXC_PRODHIERTEXT h
 where 
   len(h.ProductHierarchy)=13) ,



    vwProductH1_L4_FA as (
    
SELECT DISTINCT
  ProFamily_Code		=	CAST(SUBSTRING(h.ProductHierarchy ,5,4) as INT)
  ,ProFamily_Name			= 	h.ProductHierarchyText
  ,ProCategory_Code		=	CAST(SUBSTRING(h.ProductHierarchy ,1,4) as INT)
  
  FROM SAPSTG.ZXC_PRODHIERTEXT h  with (NOLOCK)
  
  where len(h.ProductHierarchy)=8),


  
   vwProductH1_L4PC  as (
   SELECT
  ProCategory_Code	=	CAST(h.ProductHierarchy as int) 
  ,ProCategory_Name  	= 	h.ProductHierarchyText
  
  FROM SAPSTG.ZXC_PRODHIERTEXT h WITH (NOLOCK)
 where  len(h.ProductHierarchy)=4)


 -----LOAD IN MAIN TABLE-----



insert into  ODS.vwProductH1_L4 (Hierarchy,Root,LoadDateTime,ProCategory_Code,ProCategory_Name,ProFamily_Code,ProFamily_Name,ProSubFamily_Code,
ProSubFamily_Name
,ProPromotionGroup_Code,ProPromotionGroup_Name,VersionName,VersionNumber,Version_ID)

select   'Product Hierarchy 1','ROOT',GETDATE() as LoadDateTime,PC.ProCategory_Code,PC.ProCategory_Name ,FA.ProFamily_Code,FA.ProFamily_Name,SF.ProSubFamily_Code
,SF.ProSubFamily_Name,TR.ProPromotionGroup_Code,TR.ProPromotionGroup_Name,'VERSION_1',1,3


from vwProductH1_L4PC PC 
inner join vwProductH1_L4_FA FA on PC.ProCategory_Code = FA.ProCategory_Code
inner join vwProductH1_L4_SF SF on FA.ProFamily_Code  = SF.ProFamily_Code
inner join  vwProductH1_L4_TR TR on SF.ProSubFamily_Code  = TR.ProSubfamily_Code


update ODS.vwProductH1_L4

set 
Procategory_ID = 
case  when
 ProCategory_Code = 1 then  18
 when
 ProCategory_Code = 2 then  19
 when
 ProCategory_Code = 3 then  20
 end
GO
