USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_ProductionPlanBudgetWeekly]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


										
										
										
/*-- =============================================										
-- Author:		<CHAKABH>								
-- Create date: <10/10/2021>										
-- Description:	<Populate data in Dim.CalendarDate>									
Version		Date			Author				       Comment	
1			3/11/2023		Abhishek Chakraborty	Logic of Operations Budget File consumption				
-- ============================================================================================*/										
										
CREATE PROCEDURE [dbo].[usp_Insert_Fact_ProductionPlanBudgetWeekly]										
AS										
										
TRUNCATE TABLE  Fact.ProductionPlanBudgetWeekly;										
										
With BudgetMBR as(										
	SELECT 									
		Material								
		,MaterialDesc								
		,Plant								
		,FiscalYear								
		,[ProductionLine]								
	    , GETDATE() as [LoadDateTime]									
		,JulyW01								
		,JulyW02								
		,JulyW03								
		,JulyW04								
		,JulyW05								
		,AugustW01								
		,AugustW02								
		,AugustW03								
		,AugustW04								
		,AugustW05								
		,SeptemberW01								
		,SeptemberW02								
		,SeptemberW03								
		,SeptemberW04								
		,SeptemberW05								
		,OctoberW01								
		,OctoberW02								
		,OctoberW03								
		,OctoberW04								
		,OctoberW05								
		,NovemberW01								
		,NovemberW02								
		,NovemberW03								
		,NovemberW04								
		,NovemberW05								
		,DecemberW01								
		,DecemberW02								
		,DecemberW03								
		,DecemberW04								
		,DecemberW05								
		,JanuaryW01								
		,JanuaryW02								
		,JanuaryW03								
		,JanuaryW04								
		,JanuaryW05								
		,FebruaryW01								
		,FebruaryW02								
		,FebruaryW03								
		,FebruaryW04								
		,FebruaryW05								
		,MarchW01								
		,MarchW02								
		,MarchW03								
		,MarchW04								
		,MarchW05								
		,AprilW01								
		,AprilW02								
		,AprilW03								
		,AprilW04								
		,AprilW05								
		,MayW01								
		,MayW02								
		,MayW03								
		,MayW04								
		,MayW05								
		,JuneW01								
		,JuneW02								
		,JuneW03								
		,JuneW04								
		,JuneW05								
		,Unit								
		from Stg.ProdBudgetMBRWeek),								
										
PivotBudget as 										
(										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
1 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
JulyW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
1 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
JulyW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
1 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
JulyW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
1 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
JulyW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
1 as FiscalPeriod,										
Case when JulyW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
JulyW05 as BudgetQty,										
Case when JulyW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
Union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
2 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
AugustW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
2 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
AugustW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
2 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
AugustW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
2 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
AugustW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
2 as FiscalPeriod,										
Case when AugustW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
AugustW05 as BudgetQty,										
Case when AugustW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
3 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
SeptemberW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
3 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
SeptemberW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
3 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
SeptemberW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
3 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
SeptemberW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
3 as FiscalPeriod,										
Case when SeptemberW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
SeptemberW05 as BudgetQty,										
Case when SeptemberW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
4 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
OctoberW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
4 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
OctoberW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
4 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
OctoberW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
4 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
OctoberW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
4 as FiscalPeriod,										
Case when OctoberW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
OctoberW05 as BudgetQty,										
Case when OctoberW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
5 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
NovemberW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
5 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
NovemberW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
5 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
NovemberW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
5 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
NovemberW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
5 as FiscalPeriod,										
Case when NovemberW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
NovemberW05 as BudgetQty,										
Case when NovemberW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
6 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
DecemberW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
6 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
DecemberW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
6 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
DecemberW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
6 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
DecemberW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
6 as FiscalPeriod,										
Case when DecemberW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
DecemberW05 as BudgetQty,										
Case when DecemberW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
7 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
JanuaryW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
7 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
JanuaryW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
7 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
JanuaryW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
7 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
JanuaryW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
7 as FiscalPeriod,										
Case when JanuaryW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
JanuaryW05 as BudgetQty,										
Case when JanuaryW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
8 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
FebruaryW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
8 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
FebruaryW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
8 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
FebruaryW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
8 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
FebruaryW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
8 as FiscalPeriod,										
Case when FebruaryW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
FebruaryW05 as BudgetQty,										
Case when FebruaryW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
9 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
MarchW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
9 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
MarchW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
9 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
MarchW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
9 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
MarchW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
9 as FiscalPeriod,										
Case when MarchW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
MarchW05 as BudgetQty,										
Case when MarchW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
10 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
AprilW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
10 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
AprilW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
10 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
AprilW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
10 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
AprilW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
10 as FiscalPeriod,										
Case when AprilW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
AprilW05 as BudgetQty,										
Case when AprilW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
11 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
MayW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
11 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
MayW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
11 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
MayW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
11 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
MayW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
11 as FiscalPeriod,										
Case when MayW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
MayW05 as BudgetQty,										
Case when MayW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
12 as FiscalPeriod,										
1 as FiscalWeek,										
ProductionLine,										
JuneW01 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
12 as FiscalPeriod,										
2 as FiscalWeek,										
ProductionLine,										
JuneW02 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
12 as FiscalPeriod,										
3 as FiscalWeek,										
ProductionLine,										
JuneW03 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
12 as FiscalPeriod,										
4 as FiscalWeek,										
ProductionLine,										
JuneW04 as BudgetQty										
,'Y' as IsWeekRequired										
from BudgetMBR										
union all										
select Material,										
MaterialDesc,										
Plant,										
FiscalYear,										
12 as FiscalPeriod,										
Case when JuneW05 is Null then 0 else 5 end as FiscalWeek,										
ProductionLine,										
JuneW05 as BudgetQty,										
Case when JuneW05 is Null then 'N' else 'Y' end as IsWeekRequired										
from BudgetMBR										
),										
										
FindWeeksPerMonth as 										
(Select distinct FiscalYear,FiscalWeek, FiscalPeriod										
	from PivotBudget p									
	where IsWeekRequired = 'Y'									
),										
										
FindFiscalWeek as										
(select FiscalYear,										
		FiscalPeriod,								
		FiscalWeek as FiscalWeekMonth,								
		Sum(1) 								
        Over (Order by FiscalYear,FiscalPeriod, FiscalWeek ) as FiscalWeek										
        from FindWeeksPerMonth										
),										
GetWeeklyBudgetData as 										
(Select p.Material,										
p.MaterialDesc,										
p.Plant,										
p.ProductionLine,										
p.BudgetQty,										
f.FiscalYear,										
f.FiscalPeriod,										
f.FiscalWeek										
--f.FiscalWeekMonth,										
From PivotBudget p										
inner join FindFiscalWeek f										
on p.FiscalYear = f.FiscalYear										
and p.FiscalPeriod = f.FiscalPeriod										
and p.FiscalWeek = f.FiscalWeekMonth										
)										
,										
GetWeekendDate as										
										
(Select p.Material,										
p.MaterialDesc,										
p.ProductionLine,										
p.Plant,										
p.BudgetQty,										
f.FiscalYear,										
f.FiscalPeriod,										
f.FiscalWeek,
--f.WeekendDate
f.WeekcommenceDate
--f.FiscalWeekMonth,										
From GetWeeklyBudgetData p										
inner join dim.CalendarDate f										
on p.FiscalYear = f.FiscalYear										
and p.FiscalPeriod = f.FiscalPeriod										
and p.FiscalWeek = f.FiscalWeek										
and f.IsWeekend = 1)										
									
		insert into fact.ProductionPlanBudgetWeekly
		(Material, MaterialDesc, Plant, ProductionLine, LoadDateTime, CalendarDay,FiscalYear,
		FiscalPeriod, FiscalWeek, BudgetQty, Unit)
		select Material, MaterialDesc, Plant,
		ProductionLine, GETDATE() as LoadDateTime,
		--f.WeekendDate
		WeekcommenceDate as CalendarDay, FiscalYear, 
		FiscalPeriod, FiscalWeek, BudgetQty, 'CS' as Unit from GetWeekendDate 								
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
GO
