USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_ODS_SDP_servicerequests]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     procedure [dbo].[usp_insert_ODS_SDP_servicerequests]
as
BEGIN
	DECLARE @json VARCHAR(MAX);
    DECLARE @json_v VARCHAR(MAX);

    DECLARE cursor_requests CURSOR FOR
    SELECT Json_Values 
    FROM stg.SDP_JSON
    WHERE type='Requests'
	and Json_Values not like '%"row_count":0%';

    OPEN cursor_requests;
    FETCH NEXT FROM cursor_requests INTO @json;

    WHILE @@FETCH_STATUS = 0
    BEGIN

	select @json_v= value from openjson(@json)
	where [key] ='requests'


	INSERT INTO [ODS].[SDP_servicerequests]
				([request_id],[ticket_id],[status_id],[status_name],[created_time],[due_by_time],[scheduled_start_time],
				[scheduled_end_time],[group_name],[requester_id],[requester_name],[requester_email],[requester_departmant],
				[requester_job_title],[requester_site_id],[requester_site_name],[technician_name],[technician_email],
				[technician_job_title])

        Select *
		from openjson(@json_v)
		with (
			request_id nvarchar(50) '$.id', 
			ticket_id  nvarchar(50) '$.display_id',
			status_id  nvarchar(50) '$.status.id',
			status_name nvarchar(50) '$.status.name', 
			created_time datetime '$.created_time.display_value',
			due_by_time datetime '$.due_by_time.display_value',
			scheduled_start_time datetime '$.scheduled_start_time',
			scheduled_end_time datetime '$.scheduled_end_time',	
			group_name nvarchar(50) '$.group.name',
			requester_id nvarchar(50) '$.requester.id', 
			requester_name nvarchar(50) '$.requester.name', 
			requester_email nvarchar(50) '$.requester.email_id', 
			requester_departmant nvarchar(50) '$.requester.department', 
			requester_job_title nvarchar(50) '$.requester.job_title', 
			requester_site_id nvarchar(50) '$.requester.site.id',
			requester_site_name nvarchar(50) '$.requester.site.name',
			technician_name nvarchar(50) '$.technician.name', 
			technician_email nvarchar(50) '$.technician.email_id', 
			technician_job_title nvarchar(50) '$.technician.job_title'
		)

        FETCH NEXT FROM cursor_requests INTO @json;
    END

    -- Close cursor
    CLOSE cursor_requests;
    DEALLOCATE cursor_requests

end;
GO
