USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Dim_CustomerMLOR]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Insert_Dim_CustomerMLOR] AS   
truncate table [DIM].[CustomerMLOR];

with getMLOR as(
SELECT T2.ShiptoParty  as Customer,
'' as CustomerGroup,
T2.material as Material,
'' as MaterialGroup,
'KOTH996' as TableName,
1 as PriorityNo,
T1.MLOR as MLOR  
FROM sapstg.CV_PR_MLOR T1  
inner join SAPSTG.CV_PR_KOTH996 T2 ON  
T1.Condition=T2.ConditionRecord  
union all
SELECT T2.KNDNR  as Customer,
'' as CustomerGroup,
T2.MATNR as Material,
'' as MaterialGroup,
'KOTH002' as TableName,
2 as PriorityNo,
T1.MLOR as MLOR  
FROM sapstg.CV_PR_MLOR T1  
inner join SAPSTG.CV_PR_KOTH002 T2 ON  
T1.Condition=T2.KNUMH  
union all
SELECT T2.ShiptoParty  as Customer,
'' as CustomerGroup,
'' as Material,
T2.MaterialGroup as MaterialGroup,
'KOTH999' as TableName,
3 as PriorityNo,
T1.MLOR as MLOR  
FROM sapstg.CV_PR_MLOR T1  
inner join SAPSTG.CV_PR_KOTH999 T2 ON  
T1.Condition=T2.ConditionRecord  
union all
SELECT T2.Customer as Customer,
'' as CustomerGroup,
'' as Material,
T2.MaterialGroup as MaterialGroup,
'KOTH997' as TableName,
4 as PriorityNo,
T1.MLOR as MLOR  
FROM sapstg.CV_PR_MLOR T1  
inner join SAPSTG.CV_PR_KOTH997 T2 ON  
T1.Condition=T2.ConditionRecord  
union all
SELECT '' as Customer,
T2.CustomerGroup as CustomerGroup,
'' as Material,
T2.MaterialGroup as MaterialGroup,
'KOTH998' as TableName,
5 as PriorityNo,
T1.MLOR as MLOR  
FROM sapstg.CV_PR_MLOR T1  
inner join SAPSTG.CV_PR_KOTH998 T2 ON  
T1.Condition=T2.ConditionRecord  
union all
SELECT '' as Customer,
'' as CustomerGroup,
'' as Material,
T2.MaterialGroup as MaterialGroup,
'KOTH006' as TableName,
6 as PriorityNo,
T1.MLOR as MLOR  
FROM sapstg.CV_PR_MLOR T1  
inner join SAPSTG.CV_PR_KOTH006 T2 ON  
T1.Condition=T2.ConditionRecord ),

rankMLOR as 
(select *, rank() over (partition by Customer , Material, CustomerGroup, MaterialGroup 
order by PriorityNo) as RankPriority from getMLOR),

removeRedundantMLOR as 
(select * from rankMLOR where RankPriority = 1),
maxandminMLOR as
(Select material as Material, '' as MaterialGroup, max(MLOR) as MaxMatMLOR,min(MLOR) as MinMatMLOR from removeRedundantMLOR
where MaterialGroup = ''
group by Material
union all 
Select '' as Material, materialGroup as MaterialGroup,max(MLOR) as MaxMatMLOR,min(MLOR) as MinMatMLOR from removeRedundantMLOR
where Material = ''
group by MaterialGroup
)

INSERT INTO dim.CustomerMLOR  (
Customer , CustomerGroup ,Material , MaterialGroup ,TableName , MLOR,[MinMaterialMLOR],[MaxMaterialMLOR]
)
select  replace(ltrim(replace(Customer,'0',' ')),' ','0') , CustomerGroup , replace(ltrim(replace(mlo.Material,'0',' ')),' ','0')
,  mlo.MaterialGroup, TableName , MLOR,mnx.MinMatMLOR as MinMaterialMLOR, mnx.MaxMatMLOR as MaxMaterialMLOR
from removeRedundantMLOR mlo
inner join 
maxandminMLOR mnx
on mlo.Material = mnx.Material
where mlo.MaterialGroup = ''
union all 
select replace(ltrim(replace(Customer,'0',' ')),' ','0') , CustomerGroup , replace(ltrim(replace(mlo.Material,'0',' ')),' ','0') ,  mlo.MaterialGroup, TableName , MLOR,mnx.MinMatMLOR as MinMaterialMLOR, mnx.MaxMatMLOR as MaxMaterialMLOR
from removeRedundantMLOR mlo
inner join 
maxandminMLOR mnx
on mlo.MaterialGroup = mnx.MaterialGroup
where mlo.Material = ''
--group by Customer, Material , CustomerGroup, MaterialGroup 
--having count(*) > 1 and Max(MLOR) != Min(MLOR)

----select * from getMLOR
----where Customer = '0001019904'
----and Material = '000000000005001075'

--select Customer , Material, CustomerGroup, MaterialGroup, MLOR --, rank() over (partition by Customer , Material, CustomerGroup, MaterialGroup 
----order by PriorityNo) 
--from getMLOR
--where rank() over (partition by Customer , Material, CustomerGroup, MaterialGroup 
--order by PriorityNo) = 1
--and Customer = '0001019904' and Material = '000000000005001075'

--Select top 1 Customer, Material , CustomerGroup, MaterialGroup , Count(*) , Max(MLOR) as Maxi, Min(MLOR) as Mini, rank() from getMLOR
--group by Customer, Material , CustomerGroup, MaterialGroup 
--having count(*) > 1 and Max(MLOR) != Min(MLOR)
--order by PriorityNo 
  
GO
