USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ProjectedSales]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS ProjectedSales]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ProjectedSales]
AS


SET NOCOUNT ON;

TRUNCATE TABLE FACT.projectedSales;

WITH
   
FirstForecast
AS (SELECT p.MonthendDate AS monthend_date,
p.WeekendDate AS weekend_date,
p.WeekcommenceDate AS weekcommence_date,
CAST(fiscalyear AS varchar(4)) + ' ' + CAST(fiscalweek AS varchar(2)) AS FiscalYearWeekKey,
CAST(CAST(fiscalyear AS varchar(4)) + RIGHT('0' + CAST(fiscalweek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey,
p.FiscalYear AS fiscal_year,
p.FiscalWeek AS fiscal_week
FROM Dim.CalendarDate (NOLOCK) p
WHERE p.WeekOffset=1 and p.isweekend=1
)

insert into FACT.projectedSales
SELECT '1900-01-01 00:00:00' AS Snapshotdate,
s.FiscalYearWeekDisplay,
CAST(CAST(s.fiscalyear AS varchar(4)) + RIGHT('0' + CAST(s.fiscalweek AS varchar(2)), 2) AS int) AS FiscalYearWeekIntKey,
s.FiscalYear,
s.FiscalWeek,
CustomerNo,
ProductNo,
ActualSalesQuantity AS ProjectedSalesQuantity,
ActualInvoiceDiscount AS ProjectedInvoiceDiscount,
ActualNetInvoiceValue AS ProjectedNetInvoiceValue,
ActualCOGS AS ProjectedCOGS,
ActualCaseDiscount AS ProjectedCaseDiscount,
ActualTermsDiscount AS ProjectedTermsDiscount,
ActualOtherDiscount AS ProjectedOtherDiscount,
ActualGrossMargin AS ProjectedGrossMargin,
ActualBaselineQuantity AS ProjectedBaselineQuantity,
ActualIncrementalQuantity AS ProjectedIncrementalQuantity,
ActualFreightOutbound AS ProjectedFreightOutbound,
ActualSalesQuantity AS ProjectedFreightQuantity,
NULL AS ProjectedFreightCaseRate,
ActualFreightFuelLevy AS ProjectedFreightFuelLevy,getdate()
FROM Fact.ActualSales (NOLOCK) s
INNER JOIN Dim.CalendarDate (NOLOCK) f
ON CAST(CAST(s.fiscalyear AS varchar(4)) + RIGHT('0' + CAST(s.fiscalweek AS varchar(2)), 2) AS int) 
< CAST(CAST(f.fiscalyear AS varchar(4)) + RIGHT('0' + CAST(f.fiscalweek AS varchar(2)), 2) AS int)
AND f.IsWeekend = 1
WHERE f.WeekOffset=0


UNION ALL
	
  
  
SELECT datesent AS snapshotdate,
f.FiscalYearWeekDisplay,
f.FiscalYearWeekIntKey,
f.FiscalYear,
f.FiscalWeek,
f.CustomerNo,
f.ProductNo,
f.forecastsalesquantity AS ProjectedSalesQuantity,
f.forecastinvoicediscount AS ProjectedInvoiceDiscount,
f.ForecastNetInvoiceValue AS ProjectedNetInvoiceValue,
f.ForecastCOGS AS ProjectedCOGS,
f.forecastcasediscount AS ProjectedCaseDiscount,
f.forecasttermsdiscount AS ProjectedTermsDiscount,
f.forecastotherdiscount AS ProjectedOtherDiscount,
f.ForecastGrossMargin AS ProjectedGrossMargin,
f.ForecastBaselineQuantity AS ProjectedBaselineQuantity,
f.ForecastIncrementalQuantity AS ProjectedIncrementalQuantity,
f.ForecastFreightOutbound AS ProjectedFreightOutbound,
f.ForecastSalesQuantity AS ProjectedFreightQuantity,
f.ForecastFreightCaseRate AS ProjectedFreightCaseRate,
f.ForecastFreightFuelLevy AS ProjectedFreightFuelLevy,GETDATE()
FROM Fact.ForecastSales f (NOLOCK)
WHERE fiscalyearweekintkey > (SELECT FiscalYearWeekIntKey FROM FirstForecast)
  




GO
