USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_stg_ALDI_Tranformed]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_Load_stg_ALDI_Tranformed]                   
as 

Drop table [stg].[ALDI NewFile Transformed];

Select [Week Ending Date]=DATEADD(DAY, -1 * ((DATEPART(WEEKDAY, GETDATE()) + @@DATEFIRST - 1) % 7), CAST(GETDATE() AS DATE))
      ,[Sales Office] as [Region]
	  ,[Legacy Product Code] as [Product Code]
	  ,[Sold Units ] as [Units Sold]
      ,[Sold Cases ] as [Cases Sold]
	  ,[Store Stock Cases ] as [Store Stock (Cases)]
      ,[Warehouse Stock Cases ] as [Warehouse Stock (Cases)]
      ,[Region Stock Cases ]  as [Total Region Stock (Cases)]
	  ,AP.[product_no] as [Bulla Product_No]
	  ,AP.[Alternative_Reference] as [Alternative_Reference(Product Code)]

	  into [stg].[ALDI NewFile Transformed]
      

  FROM [BI_PROD_POST_SAP].[Stg].[ALDI_NewFile] A 

  left join [BI_PROD_POST_SAP].[Stg].[ALDI Alternate Product Reference] AP

  on A.[Legacy Product Code] = AP.[Alternative_Reference]                              --This join included to include Bulla Product Code Field in the table  so that product mapping can be checked

  where A.[Legacy Product Code] not in ('0','52283') 
  AND                                                                                 --This Section is to remove blank rows coming in the end 
 ( A.[ALDI Representative] <>''
      and A.[Legacy Supplier #] <>''
      and A.[Vendor #] <> ''
      and A.[Vendor Name] <> '')

	 --  ([Code] <> "0" and [Code] <> "52283"))
GO
