USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_OEE_Orders]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Kishor Shinde
-- Create date: 28/08/2023
-- Description:	Delete and insert last 2 days data in Fact.OEE_Orders table
-- =============================================
CREATE PROCEDURE  [dbo].[usp_Insert_Fact_OEE_Orders] 
 AS
BEGIN

--Delete last 2 days data  from Fact.Stoppages

--Declare @MaxUpdateDate varchar (8) = ( Select coalesce(convert(varchar(8),max(cast([UpdateTime] as datetime))-2, 112), 20200101) from  [FACT].[OEE_Orders] )
 
--	Delete from [FACT].[OEE_Orders]  
--	where convert(varchar(8),cast([UpdateTime] as datetime), 112) >= @MaxUpdateDate 
Truncate Table [FACT].[OEE_Orders]  --Full load of orders

----Insert last 5 days data in Fact.Stoppages
Insert into  [FACT].[OEE_Orders] 
	SELECT  Getdate() as LoadDateTime
           ,[UID]
           ,[WorkCenterID]
           ,[WorkCenterName]
           ,[OrderID]
           ,[OrderNumber]
           ,[OrderStartTime]
			,convert(varchar, cast(left([OrderStartTime],11) as Date),101) AS [Order_StartDate]   
           ,[OrderEndTime]
           ,[OrderQty]
           ,ltrim([MaterialNumber])
           ,[MaterialDesc]
           ,[TotalTime]
           ,[ExcludedTime]
           ,[PlannedStopTime]
           ,[UnplannedStopTime]
           ,[RunningTime]
           ,[TargetRatePPM]
           ,[ActualRatePPM]
           ,[TotalCount]
           ,[GoodCount]
           ,[RejectCount]
           ,[OEE_L_A]
           ,[OEE_L_P]
           ,[OEE_L_Q]
           ,[OEE_L]
           ,[OEE_A]
           ,[OEE_P]
           ,[OEE_Q]
           ,[OEE]
      ,cast([UpdateTime] as datetime) as [UpdateTime]
	  ,convert(varchar, cast(left([OrderStartTime],11) as Date),112)  As DateKey
	FROM  [Stg].[OEE_Data_Orders]   
	--where convert(varchar(8),cast([UpdateTime] as datetime), 112) >= @MaxUpdateDate  

END

 
GO
