USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_VWPRODUCTPRICE]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <11/01/2022>
-- Description:	<LOAD DIM.NationalPrice>
-- =============================================
--exec [usp_Insert_ODS_VWPRODUCTPRICE]

CREATE PROCEDURE [dbo].[usp_Insert_ODS_VWPRODUCTPRICE]
AS

--Delete existing data from ODS table
BEGIN
insert into  ODS.vwProductH1_L4 (PROCategory_Code,PROCATEGORY_NAME) 
   SELECT
  CategoryCode	=	CAST(h.ProductHierarchy as int) 
  ,Category  	= 	h.ProductHierarchyText
  --,IsLegacy	=	0
  FROM SAPSTG.ZXC_PRODHIERTEXT h WITH (NOLOCK)
  where len(h.ProductHierarchy)=4
  END
  BEGIN
  insert into  ODS.vwProductH1_L4 (PROSUBFAMILy_CODE,PROSUBFAMILY_NAME,PROFAMILY_CODE) 
    SELECT DISTINCT
  SubFamilyCode		=	CAST(SUBSTRING(h.ProductHierarchy, 9,5) AS INT)
  ,SubFamily  			= 	h.ProductHierarchyText
  ,FamilyCode		=	CAST(SUBSTRING(h.ProductHierarchy ,5,4) AS INT)
  --,IsLegacy		= 0 
  FROM SAPSTG.ZXC_PRODHIERTEXT h
  where len(h.ProductHierarchy)=13
  END
  BEGIN
  insert into ODS.vwProductH1_L4 (PROFAMILY_CODE,PROFAMILY_NAME,PROCategory_Code)
  SELECT DISTINCT
  FamilyCode		=	CAST(SUBSTRING(h.ProductHierarchy ,5,4) as INT)
  ,Family  			= 	h.ProductHierarchyText
  ,CategoryCode		=	CAST(SUBSTRING(h.ProductHierarchy ,1,4) as INT)
  
  FROM SAPSTG.ZXC_PRODHIERTEXT h WITH (NOLOCK)
 
  WHERE
   len(h.ProductHierarchy)=8
  END

  BEGIN 
  insert into  ODS.vwProductH1_L4 (PROPromotionGroup_Code,PROPROMOTIONGROUP_NAME,PROSUBFAMILY_CODE)
   SELECT DISTINCT
  PromotionGroupCode	= CONVERT(VARCHAR(3),CAST(SUBSTRING(h.ProductHierarchy, 14,5) AS INT))
  , PromotionGroup		= h.ProductHierarchyText
  ,SubFamilyCode		= CAST(SUBSTRING(h.ProductHierarchy ,9,5) AS INT)
  
  FROM SAPSTG.ZXC_PRODHIERTEXT h WITH (NOLOCK)
  
  where len(h.ProductHierarchy)=18
  AND ISNUMERIC(SUBSTRING(h.ProductHierarchy, 14,5)) = 1
  END


  --select * from ODS.vwProductH1_L4
  --TRUNCATE TABLE ODS.vwProductH1_L4
GO
