USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_SALESDOCSCHEDLN]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_SALESDOCSCHEDLN]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_SALESDOCSCHEDLN] 

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_SALESDOCSCHEDLN] 
SELECT 
LoadDateTime,
SalesDocument  = case when isnumeric(SalesDocument) =1 
                               						then NULLIF(cast(cast(SalesDocument as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(SalesDocument as nvarchar(10)),'') end,
SalesDocumentItem  =NULLIF(cast(SalesDocumentItem as nvarchar(6)),'') ,
ScheduleLine  =NULLIF(cast(ScheduleLine as nvarchar(4)),'') ,
ScheduleLineCategory  =NULLIF(cast(ScheduleLineCategory as nvarchar(2)),'') ,
OrderQuantityUnit  =NULLIF(cast(OrderQuantityUnit as nvarchar(3)),'') ,
OrderToBaseQuantityDnmntr  =cast(OrderToBaseQuantityDnmntr as decimal(38,6)) ,
OrderToBaseQuantityNmrtr  =cast(OrderToBaseQuantityNmrtr as decimal(38,6)) ,
BaseUnit  =NULLIF(cast(BaseUnit as nvarchar(3)),'') ,
DeliveryDate  =CASE WHEN ISDATE(DeliveryDate) = 1 
                        		then CONVERT(datetime,DeliveryDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),DeliveryDate) 
                         		else null 	end ,
IsRequestedDelivSchedLine  =NULLIF(cast(IsRequestedDelivSchedLine as nvarchar(1)),'') ,
RequestedDeliveryDate  =CASE WHEN ISDATE(RequestedDeliveryDate) = 1 
                        		then CONVERT(datetime,RequestedDeliveryDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),RequestedDeliveryDate) 
                         		else null 	end ,
RequestedDeliveryTime1  =NULLIF(cast(RequestedDeliveryTime1 as nvarchar(6)),'') ,
ScheduleLineOrderQuantity  =cast(ScheduleLineOrderQuantity as decimal(38,6)) ,
CorrectedQtyInOrderQtyUnit  =cast(CorrectedQtyInOrderQtyUnit as decimal(38,6)) ,
IsConfirmedDelivSchedLine  =NULLIF(cast(IsConfirmedDelivSchedLine as nvarchar(1)),'') ,
ConfirmedDeliveryDate  =CASE WHEN ISDATE(ConfirmedDeliveryDate) = 1 
                        		then CONVERT(datetime,ConfirmedDeliveryDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ConfirmedDeliveryDate) 
                         		else null 	end ,
ConfirmedDeliveryTime1  =NULLIF(cast(ConfirmedDeliveryTime1 as nvarchar(6)),'') ,
ConfdOrderQtyByMatlAvailCheck  =cast(ConfdOrderQtyByMatlAvailCheck as decimal(38,6)) ,
ConfdSchedLineReqdDelivDate  =CASE WHEN ISDATE(ConfdSchedLineReqdDelivDate) = 1 
                        		then CONVERT(datetime,ConfdSchedLineReqdDelivDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ConfdSchedLineReqdDelivDate) 
                         		else null 	end ,
ProductAvailabilityDate  =CASE WHEN ISDATE(ProductAvailabilityDate) = 1 
                        		then CONVERT(datetime,ProductAvailabilityDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ProductAvailabilityDate) 
                         		else null 	end ,
ProductAvailabilityTime1  =NULLIF(cast(ProductAvailabilityTime1 as nvarchar(6)),'') ,
ProductAvailCheckRqmtDate  =CASE WHEN ISDATE(ProductAvailCheckRqmtDate) = 1 
                        		then CONVERT(datetime,ProductAvailCheckRqmtDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ProductAvailCheckRqmtDate) 
                         		else null 	end ,
ProdAvailabilityCheckRqmtType  =NULLIF(cast(ProdAvailabilityCheckRqmtType as nvarchar(2)),'') ,
ProdAvailyCheckPlanningType  =NULLIF(cast(ProdAvailyCheckPlanningType as nvarchar(1)),'') ,
ScheduleLineConfirmationStatus  =NULLIF(cast(ScheduleLineConfirmationStatus as nvarchar(1)),'') ,
RequirementsClass  =NULLIF(cast(RequirementsClass as nvarchar(3)),'') ,
PlannedOrder  =NULLIF(cast(PlannedOrder as nvarchar(10)),'') ,
OrderID  =NULLIF(cast(OrderID as nvarchar(12)),'') ,
SchedulingAgreementReleaseType  =NULLIF(cast(SchedulingAgreementReleaseType as nvarchar(1)),'') ,
ScheduleLineByForecastDelivery  =NULLIF(cast(ScheduleLineByForecastDelivery as nvarchar(10)),'') ,
OrderSchedulingGroup  =NULLIF(cast(OrderSchedulingGroup as nvarchar(4)),'') ,
PurchaseRequisition  =NULLIF(cast(PurchaseRequisition as nvarchar(10)),'') ,
PurchaseRequisitionItem  =NULLIF(cast(PurchaseRequisitionItem as nvarchar(5)),'') ,
PurchasingOrderType  =NULLIF(cast(PurchasingOrderType as nvarchar(4)),'') ,
PurchasingDocumentCategory  =NULLIF(cast(PurchasingDocumentCategory as nvarchar(1)),'') ,
DeliveryCreationDate  =CASE WHEN ISDATE(DeliveryCreationDate) = 1 
                        		then CONVERT(datetime,DeliveryCreationDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),DeliveryCreationDate) 
                         		else null 	end ,
TransportationPlanningDate  =CASE WHEN ISDATE(TransportationPlanningDate) = 1 
                        		then CONVERT(datetime,TransportationPlanningDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),TransportationPlanningDate) 
                         		else null 	end ,
TransportationPlanningTime1  =NULLIF(cast(TransportationPlanningTime1 as nvarchar(6)),'') ,
GoodsIssueDate  =CASE WHEN ISDATE(GoodsIssueDate) = 1 
                        		then CONVERT(datetime,GoodsIssueDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),GoodsIssueDate) 
                         		else null 	end ,
LoadingDate  =CASE WHEN ISDATE(LoadingDate) = 1 
                        		then CONVERT(datetime,LoadingDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LoadingDate) 
                         		else null 	end ,
GoodsIssueTime1  =NULLIF(cast(GoodsIssueTime1 as nvarchar(6)),'') ,
LoadingTime1  =NULLIF(cast(LoadingTime1 as nvarchar(6)),'') ,
ItemIsDeliveryRelevant  =case ItemIsDeliveryRelevant when 'X' then cast(1 as bit) else cast(0 as bit) end ,
DelivBlockReasonForSchedLine  =NULLIF(cast(DelivBlockReasonForSchedLine as nvarchar(2)),'') ,
OpenReqdDelivQtyInOrdQtyUnit  =cast(OpenReqdDelivQtyInOrdQtyUnit as decimal(38,6)) ,
OpenReqdDelivQtyInBaseUnit  =cast(OpenReqdDelivQtyInBaseUnit as decimal(38,6)) ,
OpenConfdDelivQtyInOrdQtyUnit  =cast(OpenConfdDelivQtyInOrdQtyUnit as decimal(38,6)) ,
OpenConfdDelivQtyInBaseUnit  =cast(OpenConfdDelivQtyInBaseUnit as decimal(38,6)) ,
DeliveredQtyInOrderQtyUnit  =cast(DeliveredQtyInOrderQtyUnit as decimal(38,6)) ,
DeliveredQuantityInBaseUnit  =cast(DeliveredQuantityInBaseUnit as decimal(38,6)) ,
GoodsMovementType  =NULLIF(cast(GoodsMovementType as nvarchar(3)),'') ,
RouteSchedule  =NULLIF(cast(RouteSchedule as nvarchar(10)),'') ,
OpenDeliveryNetAmount  =cast(OpenDeliveryNetAmount as decimal(38,6)) ,
TransactionCurrency  =NULLIF(cast(TransactionCurrency as nvarchar(5)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCSDSCHEDLIN WITH (NOLOCK) 


END

GO
