USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateLatestForecast]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateLatestForecast]    Script Date: 4/02/2022 4:22:02 PM ******/
-- get Blueshift forecast sales_quantity,forecast_cogs_val,latest_forecast_gsv_val and then create gmc by creating the following components  
-- Forecast Net Invoice Sales - using forecasted NIP from LN (forecast TCA from Blueshift)  
-- Forecast On Invoice Case Discount - using Blueshift forecast (not LN actual entries)  
-- Forecast Off invoice Discount - using Blueshift forecast  
-- Forecast Off Invoice Case/terms/Other Discount - to support above total 
-- Forecast GMC - calc from above  

CREATE PROCEDURE [dbo].[usp_CreateLatestForecast]
AS

TRUNCATE TABLE ODS.LatestForecast

INSERT INTO ODS.LatestForecast
WITH (TABLOCK) (
		fiscal_year
		,fiscal_week
		,weekend_date
		,customer_no
		,product_no
		,latest_forecast_sales_quantity
		,latest_forecast_baseline_quantity
		,latest_forecast_incremental_quantity
		,latest_forecast_cost_of_sales
		,latest_forecast_gsv_val
		)
SELECT fiscal_year
	,fiscal_week
	,weekend_date
	,customer_no
	,product_no
	,sum(ISNULL(forecast_total_quantity, 0)) AS latest_forecast_sales_quantity
	,sum(ISNULL(forecast_baseline_quantity, 0)) AS latest_forecast_baseline_quantity
	,sum(ISNULL(forecast_incremental_quantity, 0)) AS latest_forecast_incremental_quantity
	,sum(ISNULL(forecast_cogs_val, 0)) AS latest_forecast_incremental_quantity
	,sum(ISNULL(forecast_gsv_val, 0)) AS latest_forecast_gsv_val
FROM (
	SELECT w.fiscalyear AS fiscal_year
		,w.fiscalweek AS fiscal_week
		,w.WeekendDate AS weekend_date
		,f.customer_no
		,f.product_no
		,f.forecast_total_quantity
		,f.forecast_baseline_quantity
		,f.forecast_incremental_quantity
		,f.forecast_cogs_val
		,f.forecast_gsv_val
	FROM BS1.v_bs1_forecast f
	INNER JOIN Dim.CalendarDate w ON f.weekcommence_date = w.CalendarDate
	WHERE w.WeekendDate > getdate()
	) tbl
WHERE weekend_date > getdate()
GROUP BY fiscal_year
	,fiscal_week
	,customer_no
	,product_no
	,weekend_date

INSERT INTO ODS.LatestForecast
WITH (TABLOCK) (
		[fiscal_year]
		,[fiscal_week]
		,[weekend_date]
		,[customer_no]
		,[product_no]
		,latest_forecast_sales_quantity
		,latest_forecast_baseline_quantity
		,latest_forecast_incremental_quantity
		)
SELECT [fiscal_year]
	,[fiscal_week]
	,[weekend_date]
	,[customer_no]
	,[product_no]
	,0 AS latest_forecast_sales_quantity
	,0 AS latest_forecast_baseline_quantity
	,0 AS latest_forecast_incremental_quantity
FROM (
	SELECT c.fiscalyear AS fiscal_year
		,c.fiscalweek AS fiscal_week
		,c.weekenddate AS weekend_date
		,r.customer_no
		,r.product_no
		,sum(r.forecast_discount_amount) AS forecast_discount_amount
	FROM (
		SELECT *
		FROM Dim.CalendarDate
		WHERE IsWeekend = 1
		) c
	INNER JOIN BS1.v_bs1_forecast_discount r ON (c.weekenddate = r.apply_date_to)
	WHERE r.forecast_discount_amount <> 0
	GROUP BY c.fiscalyear
		,c.fiscalweek
		,c.weekenddate
		,r.customer_no
		,r.product_no
	) f
WHERE 0 = (
		SELECT count(*)
		FROM ODS.LatestForecast b
		WHERE f.fiscal_year = b.fiscal_year
			AND f.fiscal_week = b.fiscal_week
			AND f.customer_no = b.customer_no
			AND f.product_no = b.product_no
		)
	AND customer_no <> 'root'

--Net Invoiced & "On Invoice Case Discount" Measure Calculation
UPDATE b
SET b.latest_forecast_net_invoiced = ISNULL(b.latest_forecast_gsv_val, 0) - ISNULL(g.forecast_discount_amount, 0)
,b.latest_forecast_oninvoice_case_discount=ISNULL(g.forecast_discount_amount,0)
FROM ODS.LatestForecast b
LEFT JOIN (
	SELECT b.fiscal_year
		,f.customer_no
		,f.product_no
		,SUM(f.forecast_discount_amount) AS forecast_discount_amount
		,w.fiscalweek AS fiscal_week
	FROM ODS.LatestForecast b
	--LEFT OUTER JOIN Dim.NationalPrice n ON (b.product_no = n.productno)
	--LEFT JOIN ODS.ForecastTradePrice tp ON b.customer_no = tp.CustomerNo
	--	AND b.product_no = tp.ProductNo
	--	AND b.fiscal_year = tp.FiscalYear
	--	AND b.fiscal_week = tp.FiscalWeek
	INNER JOIN BS1.v_bs1_forecast_discount f ON (f.customer_no = b.customer_no)
		AND (f.product_no = b.product_no)
	INNER JOIN Dim.Customer c ON (f.customer_no = c.CustomerNo)
	INNER JOIN Dim.Product p ON (f.product_no = p.productno)
	INNER JOIN dbo.T_Discount_Type t ON (f.discount_type = t.discount_type)
	INNER JOIN dbo.T_Discount_Type_Parent e ON (t.discount_type_parent = e.discount_type_parent)
	INNER JOIN Dim.CalendarDate w ON b.fiscal_year = w.fiscalyear
		AND b.fiscal_week = w.fiscalweek
		AND w.IsWeekend = 1
	WHERE f.Apply_Date_To >= getdate()
		AND e.Discount_Type_Parent IN ('P')
		AND w.weekenddate BETWEEN f.apply_date_from
			AND f.apply_date_to
	GROUP BY b.fiscal_year
		,f.customer_no
		,f.product_no
		,w.fiscalweek
		,f.discount_type
	) g ON (b.fiscal_year = g.fiscal_year)
	AND (b.fiscal_week = g.fiscal_week)
	AND (b.customer_no = g.customer_no)
	AND (b.product_no = g.product_no)

-- Off Invoice Discount  
UPDATE t
SET t.latest_forecast_offinvoice_discount = tbl.forecast_discount_amount
	,t.latest_forecast_offinvoice_case_discount = tbl.case_discount
	,t.latest_forecast_offinvoice_terms_discount = tbl.terms_discount
	,t.latest_forecast_offinvoice_other_discount = tbl.other_discount
FROM ODS.LatestForecast t
INNER JOIN (
	SELECT w.fiscalyear
		,w.fiscalweek
		,customer_no
		,product_no
		,case_discount = ISNULL(SUM(CASE 
					WHEN dtp.discount_type_parent = 'C'
						THEN df.forecast_discount_amount
					ELSE 0
					END), 0)
		,terms_discount = ISNULL(SUM(CASE 
					WHEN dtp.discount_type_parent = 'T'
						THEN df.forecast_discount_amount
					ELSE 0
					END), 0)
		,other_discount = ISNULL(SUM(CASE 
					WHEN dtp.discount_type_parent = 'O'
						THEN df.forecast_discount_amount
					ELSE 0
					END), 0)
		,ISNULL(SUM(forecast_discount_amount), 0) AS forecast_discount_amount
	FROM BS1.v_bs1_forecast_discount df
	INNER JOIN dbo.T_Discount_Type dt ON (df.discount_type = dt.discount_type)
	INNER JOIN dbo.T_Discount_Type_Parent dtp ON (dt.discount_type_parent = dtp.discount_type_parent)
	INNER JOIN Dim.CalendarDate w ON w.CalendarDate BETWEEN df.apply_date_from
			AND df.apply_date_to
		AND Weekday = 7
	WHERE dtp.discount_type_parent IN (
			'O'
			,'T'
			,'C'
			)
		AND df.Apply_Date_To >= getdate()
		AND df.forecast_discount_amount <> 0
	GROUP BY w.fiscalyear
		,w.fiscalweek
		,customer_no
		,product_no
	) tbl ON (t.customer_no = tbl.customer_no)
	AND (t.product_no = tbl.product_no)
	AND (t.fiscal_year = tbl.fiscalyear)
	AND (t.fiscal_week = tbl.fiscalweek)

-- GMC   
UPDATE ODS.LatestForecast
SET latest_forecast_gross_margin = isnull(latest_forecast_net_invoiced, 0) - isnull(latest_forecast_offinvoice_discount, 0) - isnull(latest_forecast_cost_of_sales, 0) 
GO
