USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ODS_ForecastAdjustment]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















-- =============================================
-- Author:		<BHATRAH>
-- Create date: <29/12/2021>
-- Description:	<LOAD ODS_ForecastAdjustment]>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ODS_ForecastAdjustment]
AS


SET NOCOUNT ON;

TRUNCATE TABLE ODS.ForecastADJUSTMENT;
 

insert into  ODS.ForecastADJUSTMENT



SELECT 
  [Name]								=u.AccountingDocumentNumber,
  Code									=u.AccountingDocumentNumber,
  AdjustmentDate						=u.SalesDate,
  CustomerNo							=u.CustomerNo,
  ProductNo								=u.ProductNo,	
  ForecastAdjustmentSalesQuantity		=sum(isnull(u.Quantity,0)),
  ForecastAdjustmentNetInvoiceValue		=sum(isnull(u.GrossSalesValue,0)),
  ForecastAdjustmentInvoiceDiscount		=sum(isnull(u.InvoiceDiscount,0)),
  ForecastAdjustmentCaseDiscount		=sum(isnull(u.DeferredCaseDiscount,0)),
  ForecastAdjustmentTermsDiscount		=sum(isnull(u.DeferredTermsDiscount,0)),
  ForecastAdjustmentOtherDiscount		=sum(isnull(u.DeferredOtherDiscount,0)),
  ForecastAdjustmentCOGS				=sum(isnull(u.CostOfGoodSold,0)),
  ForecastAdjustmentGrossMargin			=sum(isnull(u.GrossSalesValue,0)+isnull(u.InvoiceDiscount,0)+isnull(u.DeferredCaseDiscount,0)
  											+isnull(u.DeferredTermsDiscount,0)+isnull(u.DeferredOtherDiscount,0)+isnull(u.CostOfGoodSold,0)),
  ForecastAdjustmentFreightOutbound		=null,
  ForecastAdjustmentFreightQuantity		=null,
  ForecastAdjustmentFreightCaseRate		=null,
  ForecastAdjustmentFreightFuelLevy		=null,
  ApplyToCommittedForecast_Code			=1,
  ApplyToCommittedForecast_Name 		='True',
  ApplyToCommittedForecast_ID			=1 
  
  from ODS.UniversalJournalSales_CurrentFY u

 -- INNER JOIN Dim.CalendarDate w WITH (NOLOCK) 
 --  ON u.FiscalYear =w.FiscalYear
   
	--	AND w.IsWeekend=1 
	--	AND w.PeriodOffset<1 
	--	and u.salesdate =w.CalendarDate
		
 --and w.WeekOffset = 1
 where  u.DocumentType in ('SA','AB')
 AND u.AccountNo='41090000' group by  
 u.AccountingDocumentNumber,						
  u.SalesDate,	
  u.CustomerNo,						
  u.ProductNo	

 





GO
