USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_FACT_CommittedSalesByPeriodByCompGrp_deconmissioned]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_FACT_CommittedSalesByPeriodByCompGrp_deconmissioned]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SET NOCOUNT ON;



DECLARE @pivot_columns NVARCHAR(MAX);
DECLARE @sql NVARCHAR(MAX);

SELECT @pivot_columns = STUFF(
    (
        SELECT ',' + QUOTENAME(CompGroup)
        FROM (
            SELECT DISTINCT CASE WHEN CompGroup <> '' THEN coalesce(CompGroup, 'None')
                                 ELSE 'NotAssigned'
                            END AS CompGroup
            FROM [DIM].[SAPCostCompGroupByPeriod]
        ) AS t
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'),
    1,
    1,
    ''
);
drop table [DIM].[SAPCostCompGroupByPeriod_Pivot]

SET @sql = N'
SELECT * into [DIM].[SAPCostCompGroupByPeriod_Pivot]
FROM
(
    SELECT ProductNo,FiscalYearPeriod,Plant,LotSize,CostLotUnit,CostingDate,CostingStatus,CostingVariant,CompGroup,ISNULL(CompCost,0) as CompCost
    FROM [DIM].[SAPCostCompGroupByPeriod]
) AS src
PIVOT
(
    SUM(CompCost)
    FOR CompGroup IN (' + @pivot_columns + N')
) AS pvt';

EXEC sp_executesql @sql;



-----------update fact
drop table Fact.CommittedSalesbyPeriod;
SELECT 
      
      c.[SnapshotDate]
      ,c.[FiscalYear]
	  ,w.FiscalPeriod
	  ,CONCAT(c.[FiscalYear],right(w.Period,2)) as FiscalYearPeriod
      ,[CustomerNo]
      ,[ProductNo]
      ,sum([CommittedSalesQuantity]) as [CommittedSalesQuantity]
      ,sum([CommittedNetInvoiceValue]) as [CommittedNetInvoiceValue]
      ,sum([CommittedInvoiceDiscount]) as [CommittedInvoiceDiscount]
      ,sum([CommittedCaseDiscount]) as [CommittedCaseDiscount]
      ,sum([CommittedTermsDiscount]) as [CommittedTermsDiscount]
      ,sum([CommittedOtherDiscount]) as [CommittedOtherDiscount]
      ,sum([CommittedCOGS]) as [CommittedCOGS]
      ,sum([CommittedGrossMargin]) as [CommittedGrossMargin]
      ,sum([CommittedBaselineQuantity]) as [CommittedBaselineQuantity]
      ,sum([CommittedIncrementalQuantity]) as [CommittedIncrementalQuantity]
      ,sum([CommittedFreightOutbound]) as [CommittedFreightOutbound]
      ,sum([CommittedFreightQuantity]) as [CommittedFreightQuantity]
      ,sum([CommittedFreightCaseRate]) as [CommittedFreightCaseRate]
      ,sum([CommittedFreightFuelLevy]) as [CommittedFreightFuelLevy]

	   into Fact.CommittedSalesbyPeriod 
  FROM [BI_PROD_POST_SAP].[Fact].[CommittedSales] c left join Dim.FiscalWeekCalendar w
  on c.[FiscalYearWeekIntKey] = w.[FiscalYearWeekIntKey] where c.FiscalYear >=2021
  group by 
   
      c.[SnapshotDate]
      ,c.[FiscalYear]
	  ,w.FiscalPeriod
	  ,w.Period
      ,[CustomerNo]
      ,[ProductNo]


--------------------------------
	  drop table [BI_PROD_POST_SAP].[FACT].[CommittedSalesByPeriodByCompGrp];

	  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT a.[SnapshotDate]
      ,a.[FiscalYear]
      ,a.[FiscalPeriod]
      ,a.[FiscalYearPeriod]
      ,[CustomerNo]
      ,a.[ProductNo]
      ,[CommittedSalesQuantity]
      ,[CommittedNetInvoiceValue]
      ,[CommittedInvoiceDiscount]
      ,[CommittedCaseDiscount]
      ,[CommittedTermsDiscount]
      ,[CommittedOtherDiscount]
      ,[CommittedCOGS]
      ,[CommittedGrossMargin]
      ,[CommittedBaselineQuantity]
      ,[CommittedIncrementalQuantity]
      ,[CommittedFreightOutbound]
      ,[CommittedFreightQuantity]
      ,[CommittedFreightCaseRate]
      ,[CommittedFreightFuelLevy]
,isnull(-[Bases & Lids]/[LotSize]* [CommittedSalesQuantity],0)  as [Bases & Lids]
,isnull(-[Biscuits/Wafers]/[LotSize]* [CommittedSalesQuantity],0)  as [Biscuits/Wafers]
,isnull(-[Bottles & Caps]/[LotSize]* [CommittedSalesQuantity],0)  as [Bottles & Caps]
,isnull(-[Buckets & Lids]/[LotSize]* [CommittedSalesQuantity],0)  as [Buckets & Lids]
,isnull(-[Choc Top]/[LotSize]* [CommittedSalesQuantity],0)  as [Choc Top]
,isnull(-[Chocolate]/[LotSize]* [CommittedSalesQuantity],0)  as [Chocolate]
,isnull(-[Colours]/[LotSize]* [CommittedSalesQuantity],0)  as [Colours]
,isnull(-[Cones]/[LotSize]* [CommittedSalesQuantity],0)  as [Cones]
,isnull(-[Consumables Non Stoc]/[LotSize]* [CommittedSalesQuantity],0)  as [Consumables Non Stoc]
,isnull(-[Cottage Cheese]/[LotSize]* [CommittedSalesQuantity],0)  as [Cottage Cheese]
,isnull(-[Cream]/[LotSize]* [CommittedSalesQuantity],0)  as [Cream]
,isnull(-[Cream Finished Goods]/[LotSize]* [CommittedSalesQuantity],0)  as [Cream Finished Goods]
,isnull(-[Cultures]/[LotSize]* [CommittedSalesQuantity],0)  as [Cultures]
,isnull(-[Cups & Lids]/[LotSize]* [CommittedSalesQuantity],0)  as [Cups & Lids]
,isnull(-[Dry Inclusions]/[LotSize]* [CommittedSalesQuantity],0)  as [Dry Inclusions]
,isnull(-[Dry Milk Derivatives]/[LotSize]* [CommittedSalesQuantity],0)  as [Dry Milk Derivatives]
,isnull(-[FCLG]/[LotSize]* [CommittedSalesQuantity],0)  as [FCLG]
,isnull(-[Flavours]/[LotSize]* [CommittedSalesQuantity],0)  as [Flavours]
,isnull(-[FLOG]/[LotSize]* [CommittedSalesQuantity],0)  as [FLOG]
,isnull(-[Food Additives/Chemi]/[LotSize]* [CommittedSalesQuantity],0)  as [Food Additives/Chemi]
,isnull(-[Food Products]/[LotSize]* [CommittedSalesQuantity],0)  as [Food Products]
,isnull(-[Ice Cream Sticks]/[LotSize]* [CommittedSalesQuantity],0)  as [Ice Cream Sticks]
,isnull(-[Ice Cream Tubs]/[LotSize]* [CommittedSalesQuantity],0)  as [Ice Cream Tubs]
,isnull(-[Imitation Cream]/[LotSize]* [CommittedSalesQuantity],0)  as [Imitation Cream]
,isnull(-[INFR]/[LotSize]* [CommittedSalesQuantity],0)  as [INFR]
,isnull(-[Inner Cartons]/[LotSize]* [CommittedSalesQuantity],0)  as [Inner Cartons]
,isnull(-[LAB1]/[LotSize]* [CommittedSalesQuantity],0)  as [LAB1]
,isnull(-[Liquid Inclusions]/[LotSize]* [CommittedSalesQuantity],0)  as [Liquid Inclusions]
,isnull(-[Liquid Milk Derivati]/[LotSize]* [CommittedSalesQuantity],0)  as [Liquid Milk Derivati]
,isnull(-[MACH]/[LotSize]* [CommittedSalesQuantity],0)  as [MACH]
,isnull(-[Milk]/[LotSize]* [CommittedSalesQuantity],0)  as [Milk]
,isnull(-[NotAssigned]/[LotSize]* [CommittedSalesQuantity],0)  as [NotAssigned]
,isnull(-[Other]/[LotSize]* [CommittedSalesQuantity],0)  as [Other]
,isnull(-[Outers and Shrink Wr]/[LotSize]* [CommittedSalesQuantity],0)  as [Outers and Shrink Wr]
,isnull(-[PLDC]/[LotSize]* [CommittedSalesQuantity],0)  as [PLDC]
,isnull(-[Printed Labels]/[LotSize]* [CommittedSalesQuantity],0)  as [Printed Labels]
,isnull(-[QCTS]/[LotSize]* [CommittedSalesQuantity],0)  as [QCTS]
,isnull(-[SETU]/[LotSize]* [CommittedSalesQuantity],0)  as [SETU]
,isnull(-[Stabilisers/Emulsifi]/[LotSize]* [CommittedSalesQuantity],0)  as [Stabilisers/Emulsifi]
,isnull(-[Sticks]/[LotSize]* [CommittedSalesQuantity],0)  as [Sticks]
,isnull(-[Sugars]/[LotSize]* [CommittedSalesQuantity],0)  as [Sugars]
,isnull(-[Sweeteners/Bulking A]/[LotSize]* [CommittedSalesQuantity],0)  as [Sweeteners/Bulking A]
,isnull(-[Wrappers]/[LotSize]* [CommittedSalesQuantity],0)  as [Wrappers]
,isnull(-[Yoghurt]/[LotSize]* [CommittedSalesQuantity],0)  as [Yoghurt]



	  ,-(isnull([Bases & Lids]/[LotSize],0)
	  +isnull([Biscuits/Wafers]/[LotSize],0)
	  +isnull([Bottles & Caps]/[LotSize],0)
	  +isnull([Buckets & Lids]/[LotSize],0)
	  +isnull([Choc Top]/[LotSize],0)
	  +isnull([Chocolate]/[LotSize],0)
	  +isnull([Colours]/[LotSize],0)
	  +isnull([Cones]/[LotSize],0)
	  +isnull([Consumables Non Stoc]/[LotSize],0)
	  +isnull([Cottage Cheese]/[LotSize],0)
	  +isnull([Cream]/[LotSize],0)
	  +isnull([Cream Finished Goods]/[LotSize],0)
	  +isnull([Cultures]/[LotSize],0)
	  +isnull([Cups & Lids]/[LotSize],0)
	  +isnull([Dry Inclusions]/[LotSize],0)
	  +isnull([Dry Milk Derivatives]/[LotSize],0)
	  +isnull([FCLG]/[LotSize],0)
	  +isnull([Flavours]/[LotSize],0)
	  +isnull([FLOG]/[LotSize],0)
	  +isnull([Food Additives/Chemi]/[LotSize],0)
	  +isnull([Food Products]/[LotSize],0)
	  +isnull([Ice Cream Sticks]/[LotSize],0)
	  +isnull([Ice Cream Tubs]/[LotSize],0)
	  +isnull([Imitation Cream]/[LotSize],0)
	  +isnull([INFR]/[LotSize],0)
	  +isnull([Inner Cartons]/[LotSize],0)
	  +isnull([LAB1]/[LotSize],0)
	  +isnull([Liquid Inclusions]/[LotSize],0)
	  +isnull([Liquid Milk Derivati]/[LotSize],0)
	  +isnull([MACH]/[LotSize],0)
	  +isnull([Milk]/[LotSize],0)
	  +isnull([NotAssigned]/[LotSize],0)
	  +isnull([Other]/[LotSize],0)
	  +isnull([Outers and Shrink Wr]/[LotSize],0)
	  +isnull([PLDC]/[LotSize],0)
	  +isnull([Printed Labels]/[LotSize],0)
	  +isnull([QCTS]/[LotSize],0)
	  +isnull([SETU]/[LotSize],0)
	  +isnull([Stabilisers/Emulsifi]/[LotSize],0)
	  +isnull([Sticks]/[LotSize],0)
	  +isnull([Sugars]/[LotSize],0)
	  +isnull([Sweeteners/Bulking A]/[LotSize],0)
	  +isnull([Wrappers]/[LotSize],0)
	  +isnull([Yoghurt]/[LotSize],0)
) * [CommittedSalesQuantity] as CompCOGS
	  ,[CommittedCOGS] 
	  +(isnull([Bases & Lids]/[LotSize],0)
	  +isnull([Biscuits/Wafers]/[LotSize],0)
	  +isnull([Bottles & Caps]/[LotSize],0)
	  +isnull([Buckets & Lids]/[LotSize],0)
	  +isnull([Choc Top]/[LotSize],0)
	  +isnull([Chocolate]/[LotSize],0)
	  +isnull([Colours]/[LotSize],0)
	  +isnull([Cones]/[LotSize],0)
	  +isnull([Consumables Non Stoc]/[LotSize],0)
	  +isnull([Cottage Cheese]/[LotSize],0)
	  +isnull([Cream]/[LotSize],0)+isnull([Cream Finished Goods]/[LotSize],0)+isnull([Cultures]/[LotSize],0)+isnull([Cups & Lids]/[LotSize],0)+isnull([Dry Inclusions]/[LotSize],0)+isnull([Dry Milk Derivatives]/[LotSize],0)+isnull([FCLG]/[LotSize],0)+isnull([Flavours]/[LotSize],0)+isnull([FLOG]/[LotSize],0)+isnull([Food Additives/Chemi]/[LotSize],0)+isnull([Food Products]/[LotSize],0)+isnull([Ice Cream Sticks]/[LotSize],0)+isnull([Ice Cream Tubs]/[LotSize],0)+isnull([Imitation Cream]/[LotSize],0)+isnull([INFR]/[LotSize],0)+isnull([Inner Cartons]/[LotSize],0)+isnull([LAB1]/[LotSize],0)+isnull([Liquid Inclusions]/[LotSize],0)+isnull([Liquid Milk Derivati]/[LotSize],0)+isnull([MACH]/[LotSize],0)+isnull([Milk]/[LotSize],0)+isnull([NotAssigned]/[LotSize],0)+isnull([Other]/[LotSize],0)+isnull([Outers and Shrink Wr]/[LotSize],0)+isnull([PLDC]/[LotSize],0)+isnull([Printed Labels]/[LotSize],0)+isnull([QCTS]/[LotSize],0)+isnull([SETU]/[LotSize],0)+isnull([Stabilisers/Emulsifi]/[LotSize],0)+isnull([Sticks]/[LotSize],0)+isnull([Sugars]/[LotSize],0)+isnull([Sweeteners/Bulking A]/[LotSize],0)+isnull([Wrappers]/[LotSize],0)+isnull([Yoghurt]/[LotSize],0)
)* [CommittedSalesQuantity] as CogsRoundingDiff
 into [BI_PROD_POST_SAP].[FACT].[CommittedSalesByPeriodByCompGrp]
 
 FROM [BI_PROD_POST_SAP].[FACT].[CommittedSalesbyPeriod] a
  left join  [DIM].[SAPCostCompGroupByPeriod_Pivot] b
  on a.[ProductNo] =b.ProductNo
  and a.[FiscalYearPeriod] = b.[FiscalYearPeriod] 
END
GO
