USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_ADDMATGRP5TXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_ADDMATGRP5TXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_ADDMATGRP5TXT]

AS
BEGIN  
	
TRUNCATE TABLE [SAPSTG].[ZXC_ADDMATGRP5TXT]

insert into [SAPSTG].[ZXC_ADDMATGRP5TXT]   

SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AdditionalMaterialGroup5  =NULLIF(cast(AdditionalMaterialGroup5 as nvarchar(3)),'') ,
AdditionalMaterialGroup5Name  =NULLIF(cast(AdditionalMaterialGroup5Name as nvarchar(40)),'') ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
ScriptVersionDate = cast(getdate() as date)


from SAPSTG.ZXCADDMATGRP5TXT nolock

END
GO
