USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[DeleteActiveJobsHistory]    Script Date: 19/11/2025 6:02:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[DeleteActiveJobsHistory]
AS
BEGIN
	DECLARE 
		@TODAY	DATE = GETDATE();

	DELETE a
	FROM [dbo].[ActiveJobs] a
	JOIN [dbo].[ActiveJobsRefresh] r
	ON a.[RefreshKey] = r.[RefreshKey]
	WHERE [RefreshDate] < @TODAY;
END




GO
