USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_Fact_EOWProductionPlannedOrderSnapshot_2406]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<SHINKIS>
-- Create date: <05/05/2022>
-- Description:	<POPULATE Fact.ProjectedSalesSnapshot>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_Fact_EOWProductionPlannedOrderSnapshot_2406]
AS
BEGIN
truncate table [FACT].[EOWProductionPlannedOrderSnapshot];
With GetLatestVersion as 
(Select *,-DATEDIFF(WEEK,GETDATE(),SnapshotDate) as VersionNum from ODS.ProductionPlannedOrderSnapshot sn
--where WeekendDate = '2025-03-30 00:00:00.000' and ProductNo = '1007'
),
versionConsolidate as(
select WeekcommenceDate,Material,versionNum,sum(OrderQty) OrderQty, sum(coalesce(DeliveryqUANTITY,0)) DeliveryqUANTITY, max(SnapshotDate) LoadDate from GetLatestVersion  lv
group by WeekcommenceDate,Material,versionNum
)
,
RecalcVersion as (
Select *,rank() over (Partition by WeekcommenceDate,Material order by versionNum) as ReVersionNum
from versionConsolidate)
,
ExpandVersion as 
(Select Material, WeekcommenceDate, 
Case when ReVersionNum = 1 then sum(OrderQty) else 0 end as OrderQtySnapshotLatest,
Case when ReVersionNum = 1 then Max(LoadDate) else '' end as ProductionOrderSnapshotDateLatest,
Case when ReVersionNum = 2 then  sum(OrderQty) else 0 end as OrderQtySnapshotLag1,
Case when ReVersionNum = 2 then Max(LoadDate) else '' end as ProductionOrderSnapshotDateLag1,
Case when ReVersionNum = 3 then  sum(OrderQty) else 0 end as OrderQtySnapshotLag2,
Case when ReVersionNum = 3 then Max(LoadDate) else '' end as ProductionOrderSnapshotDateLag2,
Case when ReVersionNum = 4 then  sum(OrderQty) else 0 end as OrderQtySnapshotLag3,
Case when ReVersionNum = 4 then Max(LoadDate) else '' end as ProductionOrderSnapshotDateLag3,
Case when ReVersionNum = 5 then  sum(OrderQty) else 0 end as OrderQtySnapshotLag4,
Case when ReVersionNum = 5 then Max(LoadDate) else '' end as ProductionOrderSnapshotDateLag4,
Case when ReVersionNum = 1 then sum(DeliveryqUANTITY) else 0 end as DeliveryQtySnapshotLatest,
Case when ReVersionNum = 2 then  sum(DeliveryqUANTITY) else 0 end as DeliveryQtySnapshotLag1,
Case when ReVersionNum = 3 then  sum(DeliveryqUANTITY) else 0 end as DeliveryQtySnapshotLag2,
Case when ReVersionNum = 4 then  sum(DeliveryqUANTITY) else 0 end as DeliveryQtySnapshotLag3,
Case when ReVersionNum = 5 then  sum(DeliveryqUANTITY) else 0 end as DeliveryQtySnapshotLag4
from RecalcVersion
group by Material, WeekcommenceDate, ReVersionNum
) ,
FlattenVersion as
(Select Material, WeekcommenceDate, 
sum(OrderQtySnapshotLatest) OrderQtySnapshotLatest,
sum(OrderQtySnapshotLag1) OrderQtySnapshotLag1 ,
sum(OrderQtySnapshotLag2) OrderQtySnapshotLag2,
sum(OrderQtySnapshotLag3) OrderQtySnapshotLag3,
sum(OrderQtySnapshotLag4) OrderQtySnapshotLag4,
sum(DeliveryQtySnapshotLatest) DeliveryQtySnapshotLatest,
sum(DeliveryQtySnapshotLag1) DeliveryQtySnapshotLag1 ,
sum(DeliveryQtySnapshotLag2) DeliveryQtySnapshotLag2,
sum(DeliveryQtySnapshotLag3) DeliveryQtySnapshotLag3,
sum(DeliveryQtySnapshotLag4) DeliveryQtySnapshotLag4,
Max(ProductionOrderSnapshotDateLatest) ProductionOrderSnapshotDateLatest,
Max(ProductionOrderSnapshotDateLag1) ProductionOrderSnapshotDateLag1,
Max(ProductionOrderSnapshotDateLag2) ProductionOrderSnapshotDateLag2,
Max(ProductionOrderSnapshotDateLag3) ProductionOrderSnapshotDateLag3,
Max(ProductionOrderSnapshotDateLag4) ProductionOrderSnapshotDateLag4
from ExpandVersion
group by  Material, WeekcommenceDate
) 

INSERT INTO [FACT].[EOWProductionPlannedOrderSnapshot]
 ([Material]
           ,[WeekcommenceDate]
           ,[OrderQtySnapshotLatest]
           ,[OrderQtySnapshotLag1]
           ,[OrderQtySnapshotLag2]
           ,[OrderQtySnapshotLag3]
           ,[OrderQtySnapshotLag4]
           ,[DeliveryQtySnapshotLatest]
           ,[DeliveryQtySnapshotLag1]
           ,[DeliveryQtySnapshotLag2]
           ,[DeliveryQtySnapshotLag3]
           ,[DeliveryQtySnapshotLag4]
		   ,ProductionOrderSnapshotDateLatest 
			,ProductionOrderSnapshotDateLag1
			,ProductionOrderSnapshotDateLag2 
			,ProductionOrderSnapshotDateLag3
			,ProductionOrderSnapshotDateLag4
		   )
select            [Material]
           ,[WeekcommenceDate]
           ,[OrderQtySnapshotLatest]
           ,[OrderQtySnapshotLag1]
           ,[OrderQtySnapshotLag2]
           ,[OrderQtySnapshotLag3]
           ,[OrderQtySnapshotLag4]
           ,[DeliveryQtySnapshotLatest]
           ,[DeliveryQtySnapshotLag1]
           ,[DeliveryQtySnapshotLag2]
           ,[DeliveryQtySnapshotLag3]
           ,[DeliveryQtySnapshotLag4]
		   	,ProductionOrderSnapshotDateLatest 
			,ProductionOrderSnapshotDateLag1
			,ProductionOrderSnapshotDateLag2 
			,ProductionOrderSnapshotDateLag3
			,ProductionOrderSnapshotDateLag4
--into Fact.EOWProductionPlannedOrderSnapshot
from FlattenVersion 
--where 
--WeekcommenceDate = '2025-03-30 00:00:00.000' and 
--Material = '1007'
end
GO
