USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Upsert_Fact_BudgetSalesData]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<SHINKIS>
-- Create date: <22/02/2022>
-- Description:	<UPSERT data in Fact.BudgetSales for SAP export files>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Upsert_Fact_BudgetSalesData]
AS

WITH
  BudgetSalesTransformed as
  (  SELECT    FiscalYearWeekDisplay	 AS FiscalYearWeekDisplay
	, CAST(FiscalYearWeekIntKey AS INT) AS FiscalYearWeekIntKey
	, CAST(FiscalYear AS INT) AS FiscalYear
  	, CAST(FiscalWeek AS INT) AS FiscalWeek
	, CAST(LTRIM(STR(CustomerNo,10)) AS NVARCHAR(10)) AS CustomerNo 
	, CAST(RTrim(LTrim(ProductNo)) AS NVARCHAR(40)) AS ProductNo 
	, BudgetSalesQuantity
	,BudgetNetInvoiceValue
   	, BudgetInvoiceDiscount
	, BudgetCaseDiscount
	, BudgetTermsDiscount
	, BudgetOtherDiscount
	, BudgetCOGS
	, BudgetMaterialCosts	
	, BudgetOperationCosts
	, BudgetGrossMargin	
   	,BudgetBaselineQuantity
	,BudgetIncrementalQuantity
	, BudgetFreightOutbound
	,BudgetFreightQuantity
	,BudgetFreightCaseRate
	,BudgetFreightFuelLevy
	,BudgetFreightGLAdjustment
	, Source as [Source] 
from ODS.BudgetSalesData) 

MERGE INTO FACT.BudgetSales  as Target
USING BudgetSalesTransformed as Source
ON			Target.FiscalYearWeekIntKey = Source.FiscalYearWeekIntKey
				AND Target.CustomerNo = Source.CustomerNo
				AND Target.ProductNo = Source.ProductNo
  -- Prepare Output for matched rows
  WHEN MATCHED THEN UPDATE 
  SET
	Target.LoadDateTime					= Getdate()
	 ,Target.[FiscalYearWeekDisplay]		= Source.FiscalYearWeekDisplay
      ,Target.[FiscalYear]				= Source.FiscalYear
      ,Target.[FiscalWeek]				= Source.FiscalWeek
      ,Target.[BudgetSalesQuantity]		= Source.BudgetSalesQuantity
      ,Target.[BudgetNetInvoiceValue]	= Source.BudgetNetInvoiceValue
      ,Target.[BudgetInvoiceDiscount]	= Source.BudgetInvoiceDiscount
      ,Target.[BudgetCaseDiscount]		= Source.BudgetCaseDiscount
      ,Target.[BudgetTermsDiscount]		= Source.BudgetTermsDiscount
      ,Target.[BudgetOtherDiscount]		= Source.BudgetOtherDiscount
      ,Target.[BudgetCOGS]				= Source.BudgetCOGS
      ,Target.[BudgetMaterialCosts]		= Source.BudgetMaterialCosts
      ,Target.[BudgetOperationCosts]	= Source.BudgetOperationCosts
      ,Target.[BudgetGrossMargin]		= Source.BudgetGrossMargin
      ,Target.[BudgetBaselineQuantity]	= Source.BudgetBaselineQuantity
      ,Target.[BudgetIncrementalQuantity]	= Source.BudgetIncrementalQuantity
      ,Target.[BudgetFreightOutbound]	= Source.BudgetFreightOutbound
      ,Target.[BudgetFreightQuantity]	= Source.BudgetFreightQuantity
      ,Target.[BudgetFreightCaseRate]	= Source.BudgetFreightCaseRate
      ,Target.[BudgetFreightFuelLevy]	= Source.BudgetFreightFuelLevy
      ,Target.[BudgetFreightGLAdjustment]= Source.BudgetFreightGLAdjustment
	  ,Target.[Source]					= Source.[Source]

  -- Prepare Output for not matched rows
	WHEN NOT MATCHED
	THEN INSERT
	( [FiscalYearWeekDisplay]
      ,[FiscalYearWeekIntKey]
      ,[FiscalYear]
      ,[FiscalWeek]
      ,[CustomerNo]
      ,[ProductNo]
      ,[BudgetSalesQuantity]
      ,[BudgetNetInvoiceValue]
      ,[BudgetInvoiceDiscount]
      ,[BudgetCaseDiscount]
      ,[BudgetTermsDiscount]
      ,[BudgetOtherDiscount]
      ,[BudgetCOGS]
      ,[BudgetMaterialCosts]
      ,[BudgetOperationCosts]
      ,[BudgetGrossMargin]
      ,[BudgetBaselineQuantity]
      ,[BudgetIncrementalQuantity]
      ,[BudgetFreightOutbound]
      ,[BudgetFreightQuantity]
      ,[BudgetFreightCaseRate]
      ,[BudgetFreightFuelLevy]
      ,[BudgetFreightGLAdjustment]
      ,[Source])
	  Values
	  (Source.[FiscalYearWeekDisplay]
      ,Source.[FiscalYearWeekIntKey]
      ,Source.[FiscalYear]
      ,Source.[FiscalWeek]
      ,Source.[CustomerNo]
      ,Source.[ProductNo]
      ,Source.[BudgetSalesQuantity]
      ,Source.[BudgetNetInvoiceValue]
      ,Source.[BudgetInvoiceDiscount]
      ,Source.[BudgetCaseDiscount]
      ,Source.[BudgetTermsDiscount]
      ,Source.[BudgetOtherDiscount]
      ,Source.[BudgetCOGS]
      ,Source.[BudgetMaterialCosts]
      ,Source.[BudgetOperationCosts]
      ,Source.[BudgetGrossMargin]
      ,Source.[BudgetBaselineQuantity]
      ,Source.[BudgetIncrementalQuantity]
      ,Source.[BudgetFreightOutbound]
      ,Source.[BudgetFreightQuantity]
      ,Source.[BudgetFreightCaseRate]
      ,Source.[BudgetFreightFuelLevy]
      ,Source.[BudgetFreightGLAdjustment]
      ,Source.[Source]);
GO
