USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AustralianPublicHoliday]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usp_AustralianPublicHoliday]
AS
-- Update Victorian Public Holidays to Calendar
UPDATE g
SET IsHoliday = IsPublicHoliday
	,HolidayText = PublicHolidayText
FROM ODS.Calendar AS g
INNER JOIN ODS.AustralianPublicHoliday h ON g.CalendarDate = h.CalendarDate
WHERE h.Jurisdiction = 'VIC'
	-- Update working dates prior and next
	-- Update Working Date Next
	;WITH working_dates
AS (
	SELECT calendardate AS WorkingDate
	FROM ODS.Calendar g
	WHERE g.IsHoliday = 0
		AND g.IsWeekendDay = 0
	)
	,working_date_next
AS (
	SELECT t1.CalendarDate
		,t2.WorkingDate AS WorkingDateNext
		,ROW_NUMBER() OVER (
			PARTITION BY t1.CalendarDate ORDER BY t2.WorkingDate ASC
			) AS RowNum
	FROM ODS.Calendar t1
	LEFT JOIN working_dates t2 ON t2.WorkingDate > t1.CalendarDate
		AND t2.WorkingDate < DATEADD(DAY, + 10, t1.CalendarDate)
	)
--SELECT * FROM working_date_next
UPDATE g
SET WorkingDateNext = n.WorkingDateNext
FROM ODS.Calendar g
INNER JOIN working_date_next n ON g.CalendarDate = n.CalendarDate
WHERE RowNum = 1
	AND n.WorkingDateNext IS NOT NULL;-- Update Working Date Prior
WITH working_dates
AS (
	SELECT calendardate AS WorkingDate
	FROM ODS.Calendar g
	WHERE g.IsHoliday = 0
		AND g.IsWeekendDay = 0
	)
	,working_date_prior
AS (
	SELECT t1.CalendarDate
		,t2.WorkingDate AS WorkingDatePrior
		,ROW_NUMBER() OVER (
			PARTITION BY t1.CalendarDate ORDER BY t2.WorkingDate DESC
			) AS RowNum
	FROM ODS.Calendar t1
	LEFT JOIN working_dates t2 ON t2.WorkingDate < t1.CalendarDate
		AND t2.WorkingDate > DATEADD(DAY, - 10, t1.CalendarDate)
	)
UPDATE g
SET WorkingDatePrior = p.WorkingDatePrior
FROM ODS.Calendar g
INNER JOIN working_date_prior p ON g.CalendarDate = p.CalendarDate
WHERE RowNum = 1
	AND p.WorkingDatePrior IS NOT NULL;-- Update Working Day Number
WITH working_dates
AS (
	SELECT calendardate AS WorkingDate
		,1 AS counter
	FROM ODS.Calendar g
	WHERE g.IsHoliday = 0
		AND g.IsWeekendDay = 0
	)
	,working_day_cummulative
AS (
	SELECT WorkingDate
		,sum(counter) OVER (
			ORDER BY WorkingDate rows unbounded preceding
			) AS WorkingDayNumber
	FROM working_dates
	)
UPDATE g
SET g.WorkingDayNumber = w.WorkingDayNumber
FROM ODS.Calendar g
INNER JOIN working_day_cummulative w ON g.CalendarDate = w.WorkingDate;-- Update non working dates with prior WorkinDayNumber
DECLARE @intFlag INT 
SET @intFlag = 1;
WHILE (@intFlag <= 10)
BEGIN
	PRINT @intFlag;	WITH get_prior_rows
	AS (
		SELECT g.CalendarDate
			,g.WorkingDayNumber
			,lag(g.WorkingDayNumber) OVER (
				ORDER BY g.DateKey
				) AS PreviousWorkingDayNumber
		FROM ODS.Calendar g
		)
	UPDATE g
	SET g.WorkingDayNumber = p.PreviousWorkingDayNumber
	FROM ODS.Calendar g
	INNER JOIN get_prior_rows p ON g.CalendarDate = p.CalendarDate
	WHERE g.WorkingDayNumber IS NULL
		AND p.PreviousWorkingDayNumber IS NOT NULL;	SET @intFlag = @intFlag + 1;
END;
GO
