USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CUSTCOMPANY]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<SHINKIS>
-- Create date: <29/12/2021>
-- Description:	<LOAD STG ZXC_CUSTCOMPANY>
-- =============================================

CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CUSTCOMPANY]
AS
BEGIN


--Delete existing data from staging table

TRUNCATE TABLE [SAPSTG].[ZXC_CUSTCOMPANY]

-- Insert data into staging table

INSERT INTO [SAPSTG].[ZXC_CUSTCOMPANY] 
SELECT 
ProcessExecutionID  			=NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
AccountByCustomer  				=NULLIF(cast(AccountByCustomer as nvarchar(12)),'') ,
AccountingClerk  				=NULLIF(cast(AccountingClerk as nvarchar(2)),'') ,
AccountingClerkFaxNumber  		=NULLIF(cast(AccountingClerkFaxNumber as nvarchar(31)),'') ,
AccountingClerkInternetAddress  =NULLIF(cast(AccountingClerkInternetAddress as nvarchar(130)),'') ,
AccountingClerkPhoneNumber  	=NULLIF(cast(AccountingClerkPhoneNumber as nvarchar(30)),'') ,
AlternativePayerAccount  		= case when isnumeric(AlternativePayerAccount) =1 
                               						then NULLIF(cast(cast(AlternativePayerAccount as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(AlternativePayerAccount as nvarchar(10)),'') end,
APARToleranceGroup  			=NULLIF(cast(APARToleranceGroup as nvarchar(4)),'') ,
AuthorizationGroup  			=NULLIF(cast(AuthorizationGroup as nvarchar(4)),'') ,
CollectiveInvoiceVariant  		=NULLIF(cast(CollectiveInvoiceVariant as nvarchar(1)),'') ,
CompanyCode  					=NULLIF(cast(CompanyCode as nvarchar(4)),'') ,
CreditMemoPaymentTerms  		=NULLIF(cast(CreditMemoPaymentTerms as nvarchar(4)),'') ,
Customer  						= case when isnumeric(Customer) =1 
                                    		then 	NULLIF(cast(cast(Customer as BIGINT) as nvarchar(10)),'')
                                            else  NULLIF(cast(Customer as nvarchar(10)),'') end,
CustomerAccountNote  			=NULLIF(cast(CustomerAccountNote as nvarchar(30)),'') ,
CustomerHeadOffice  			= case when isnumeric(CustomerHeadOffice) =1 
                               						then NULLIF(cast(cast(CustomerHeadOffice as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(CustomerHeadOffice as nvarchar(10)),'') end,
CustomerSupplierClearingIsUsed  =case CustomerSupplierClearingIsUsed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
DeletionIndicator  				=case DeletionIndicator when 'X' then cast(1 as bit) else cast(0 as bit) end ,
DunningBlock  					=NULLIF(cast(DunningBlock as nvarchar(1)),'') ,
DunningLevel  					=cast(coalesce(DunningLevel,'0') as nvarchar(1)) ,
DunningNoticeGroup  			=NULLIF(cast(DunningNoticeGroup as nvarchar(2)),'') ,
DunningProcedure  				=NULLIF(cast(DunningProcedure as nvarchar(4)),'') ,
DunningRecipient  				=NULLIF(cast(DunningRecipient as nvarchar(10)),'') ,
HouseBank  						=NULLIF(cast(HouseBank as nvarchar(5)),'') ,
InterestCalculationCode  		=NULLIF(cast(InterestCalculationCode as nvarchar(2)),'') ,
InterestCalculationDate  		=CASE WHEN ISDATE(InterestCalculationDate) = 1 
                        		then CONVERT(datetime,InterestCalculationDate, 112) 
                         		else null 	end ,
IntrstCalcFrequencyInMonths  	=NULLIF(cast(IntrstCalcFrequencyInMonths as nvarchar(2)),'') ,
IsBusinessPurposeCompleted  	=NULLIF(cast(IsBusinessPurposeCompleted as nvarchar(1)),'') ,
IsToBeLocallyProcessed  		=case IsToBeLocallyProcessed when 'X' then cast(1 as bit) else cast(0 as bit) end ,
ItemIsToBePaidSeparately  		=case ItemIsToBePaidSeparately when 'X' then cast(1 as bit) else cast(0 as bit) end ,
LastDunnedOn  					=CASE WHEN ISDATE(LastDunnedOn) = 1 
                        		then CONVERT(datetime,LastDunnedOn, 112) 
                        		else null 	end ,
LastInterestCalcRunDate  =CASE WHEN ISDATE(LastInterestCalcRunDate) = 1 
                        		then CONVERT(datetime,LastInterestCalcRunDate, 112) 
                        		else null 	end ,
LayoutSortingRule  				=NULLIF(cast(LayoutSortingRule as nvarchar(3)),'') ,
LegDunningProcedureOn  			=CASE WHEN ISDATE(LegDunningProcedureOn) = 1 
                        		then CONVERT(datetime,LegDunningProcedureOn, 112) 
                        		else null 	end ,
PaymentBlockingReason  			=NULLIF(cast(PaymentBlockingReason as nvarchar(1)),'') ,
PaymentMethodsList  			=NULLIF(cast(PaymentMethodsList as nvarchar(10)),'') ,
PaymentTerms  					=NULLIF(cast(PaymentTerms as nvarchar(4)),'') ,
PaytAdviceIsSentbyEDI  			=case PaytAdviceIsSentbyEDI when 'X' then cast(1 as bit) else cast(0 as bit) end ,
PhysicalInventoryBlockInd  		=case PhysicalInventoryBlockInd when 'X' then cast(1 as bit) else cast(0 as bit) end ,
PreviousMasterRecordNumber  	=NULLIF(cast(PreviousMasterRecordNumber as nvarchar(10)),'') ,
ReconciliationAccount  			= case when isnumeric(ReconciliationAccount) =1 
                               						then NULLIF(cast(cast(ReconciliationAccount as BIGINT) as nvarchar(10)),'') 
                                    				else  NULLIF(cast(ReconciliationAccount as nvarchar(10)),'') end,
RecordPaymentHistoryIndicator  =case RecordPaymentHistoryIndicator when 'X' then cast(1 as bit) else cast(0 as bit) end ,
UserAtCustomer  				=NULLIF(cast(UserAtCustomer as nvarchar(15)),'') ,
ScriptVersionDate 				= cast(getdate() as date)
FROM  SAPSTG.ZXCCUSTCOMPANY WITH (NOLOCK)
END
GO
