USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[PowerApp_job_activity_Tracker]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[PowerApp_job_activity_Tracker]  @jobname NVARCHAR(128), @run_by NVARCHAR(50)  

AS
begin
    DECLARE @status VARCHAR(25);  
 IF EXISTS(SELECT * FROM [dbo].[PowerApps_Job_Status] WHERE  Job_Status = 'In Progress' and Job_Name = @jobname )  
    BEGIN  
        SET @status = 'In Progress';  
    END  
    ELSE  
        EXEC msdb.dbo.sp_start_job @jobname
		Insert into dbo.PowerApps_Execution_Tracker
		values(1,'SSIS_ETL_Finance_USR_Adhoc_Load', getdate(), 'Started', @run_by);  
 
; With Current_Job as 
(select  top 1  instance_id, (select name from msdb.dbo.sysjobs sj where sj.job_id=sh.job_id) Job_Name, run_status, run_time, Step_id, Step_Name from msdb.dbo.sysjobhistory sh
where job_id = 'F28974B2-CB89-4A83-B28C-83760300E316'
order by instance_id desc
)
,
  Previous_Jobs as
(select  top 5 instance_id, (select name from msdb.dbo.sysjobs sj where sj.job_id=sh.job_id) as Job_Name, run_status, run_time, Step_id, Step_Name from msdb.dbo.sysjobhistory sh
where job_id = 'F28974B2-CB89-4A83-B28C-83760300E316' and Step_id = 0
order by instance_id desc
)
,Final_Result as (
select *, case when Step_id <> 0 then 'In Progress' 
			when Step_id = 0 and run_status = 0 then 'Failed'
			when Step_id = 0 and run_status = 1 then 'Completed'
			when Step_id = 0 and run_status = 2 then 'In Progress'
			when Step_id = 0 and run_status = 3 then 'Canceled' 
			Else 'In Progress' 
			END as Job_Status
FROM Previous_Jobs 
UNION
select *, case when Step_id <> 0 then 'In Progress' 
			when Step_id = 0 and run_status = 0 then 'Failed'
			when Step_id = 0 and run_status = 1 then 'Completed'
			when Step_id = 0 and run_status = 2 then 'In Progress'
			when Step_id = 0 and run_status = 3 then 'Canceled' 
			Else 'In Progress' 
			END as Job_Status
FROM Current_Job )

--select instance_id, Job_Name, Run_Time as Execution_Time, Job_Status, 'Kishor Shinde' as Executed_By  into dbo.PowerApps_Execution_Tracker 
----select Job_Name = @jobname, Run_Time as Execution_Time, Job_Status,  Executed_By = @run_by 
--select * from Final_Result 
 
 Merge into dbo.PowerApps_Execution_Tracker as Target
	using (select top 1 * from Final_Result order by instance_id desc) as Source
	on target.instance_id = 1
	and target.Job_Name = @jobname
	and target.Job_Status = 'Started' 
 WHEN MATCHED then  Update  
  Set Target.instance_id = Source.instance_id;
		--Target.Execution_Time = Getdate(), 
		--Target.Job_Status = Source.Job_Status,
		--Target.Executed_By = @run_by;
 
 --Merge into dbo.PowerApps_Execution_Tracker as Target
	--using Final_Result as Source
	--on target.instance_id = source.instance_id
	--and source.Job_Status <> 'In Progress' 
 --WHEN MATCHED then
 -- Insert (instance_id, Job_Name, Execution_Time, Job_Status, Executed_By)
 --values (Source.instance_id, @jobname, Source.Run_Time,	Source.Job_Status,	@run_by);

END 

GO
