USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_WRKCNTRCOSTCTR]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_WRKCNTRCOSTCTR>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_WRKCNTRCOSTCTR]
	
	

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_WRKCNTRCOSTCTR]  

insert into [SAPSTG].[ZXC_WRKCNTRCOSTCTR]   
 
SELECT 
 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
BusinessProcess  =NULLIF(cast(BusinessProcess as nvarchar(12)),'') ,
ControllingArea  =NULLIF(cast(ControllingArea as nvarchar(4)),'') ,
CostCenter  = case when isnumeric(CostCenter) =1 
                               						then cast(cast(CostCenter as BIGINT) as nvarchar(10)) 
                                    				else  cast(CostCenter as nvarchar(10)) end,
CostCenterAllocation  =NULLIF(cast(CostCenterAllocation as nvarchar(4)),'') ,
CostCtrActivityType  =NULLIF(cast(CostCtrActivityType as nvarchar(6)),'') ,
CostCtrActivityTypeQtyUnit  =NULLIF(cast(CostCtrActivityTypeQtyUnit as nvarchar(3)),'') ,
LastChangeDate  =CASE WHEN ISDATE(LastChangeDate) = 1 
                        		then CONVERT(datetime,LastChangeDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),LastChangeDate) 
                         		else null 	end ,
LastChangedByUser  =NULLIF(cast(LastChangedByUser as nvarchar(12)),'') ,
Plant  =NULLIF(cast(Plant as nvarchar(4)),'') ,
ValidityEndDate  =CASE WHEN ISDATE(ValidityEndDate) = 1 
                        		then CONVERT(datetime,ValidityEndDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityEndDate) 
                         		else null 	end ,
ValidityStartDate  =CASE WHEN ISDATE(ValidityStartDate) = 1 
                        		then CONVERT(datetime,ValidityStartDate, 112) 
                --                then DATEADD(hour,DATEDIFF (hour, GETUTCDATE(), GETDATE()),ValidityStartDate) 
                         		else null 	end ,
WorkCenterInternalID  =NULLIF(cast(WorkCenterInternalID as nvarchar(8)),'') ,
WorkCenterTypeCode  =NULLIF(cast(WorkCenterTypeCode as nvarchar(2)),'') ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCWRKCNTRCSTCR w WITH (NOLOCK) 

END
GO
