USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_stg_ColesCollaborativeForecast_AlternateProductNos]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[usp_Load_stg_ColesCollaborativeForecast_AlternateProductNos]                    --[Rpt].[ColesCollaborativeForecast_AlternateProductNos]
as 
Drop table [stg].[ColesCollaborativeForecast_AlternateProductNos];

SELECT    
sysdatetime() as LoadDateTime,
MAX([Bulla_BI_Prod].Dim.CustomerMaterial.CustomerMaterialNo)		AS [Coles_Item_Code], --[alternative_reference], 
[Bulla_BI_Prod].Dim.CustomerMaterial.ProductNo						AS [product_no] 

Into [stg].[ColesCollaborativeForecast_AlternateProductNos]

FROM   [Bulla_BI_Prod].Dim.CustomerMaterial INNER JOIN
       [Bulla_BI_Prod].Dim.Product ON [Bulla_BI_Prod].Dim.CustomerMaterial.ProductNo = [Bulla_BI_Prod].Dim.Product.ProductNo
WHERE ([Bulla_BI_Prod].Dim.CustomerMaterial.CustomerNo = '101')
GROUP BY [Bulla_BI_Prod].Dim.CustomerMaterial.ProductNo
order by [Bulla_BI_Prod].Dim.CustomerMaterial.ProductNo
    ;
GO
