USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_insert_ODS_DEI_WFR]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insert_ODS_DEI_WFR]  
AS  
BEGIN  
    SET NOCOUNT ON;  

    DECLARE @json NVARCHAR(MAX);
    DECLARE @XML XML;

    -- Extract JSON values
    SELECT @json = Json_Values 
    FROM [Stg].[Labour_Aurion_JSON];

    -- Convert JSON to XML
    SELECT @XML = TRY_CAST([value] AS XML)
    FROM OPENJSON(@json)
    WHERE [key] = 'output';

    -- Check if XML is valid
    IF @XML IS NOT NULL
    BEGIN
        -- Prepare XML Document
        DECLARE @hDoc INT;
        EXEC sp_xml_preparedocument @hDoc OUTPUT, @XML;

        -- Delete existing records before insert
        DELETE FROM [ODS].[DEI_WFR];

        -- Insert parsed values into ODS
        INSERT INTO [ODS].[DEI_WFR] (  
            [Employee_Number],  
            [Full_Name], 
			--[Date_Terminated],
            [Current_Flag],  
            [Date_Effective],  
            [Date_To],  
            [Position_Full_Title],  
            [Actual_Position_Number],  
            [Contract_Expiry_Date],  
            [Employment_Type_Code],  
            [Attendance_Type_Code],  
            [Classification],
            [Actual_Location_Code],  
            [Datefilter],  
            [Manager],  
            [Movement_Code],  
            [ANZSCO_Code], 
            [Reporting_Category_Code],
            [ESS_Authority_Level],  
            [Long_Description],  
            [First_Language_Code],
            [Gender]
        )  
        SELECT 
            [Employee_Number],  
            [Full_Name], 
			--[Date_Terminated], 
            [Current_Flag],  
            [Date_Effective],  
            [Date_To],  
            [Position_Full_Title],  
            [Actual_Position_Number],  
            [Contract_Expiry_Date],  
            [Employment_Type_Code],  
            [Attendance_Type_Code],  
            [Classification],
            [Actual_Location_Code],  
            [Datefilter],  
            [Manager],  
            [Movement_Code],  
            [ANZSCO_Code], 
            [Reporting_Category_Code],
            [ESS_Authority_Level],  
            [Long_Description],  
            [First_Language_Code],
            [Gender]
        FROM OPENXML(@hDoc, '/DocumentRoot/AQT_Output', 2)
        WITH (
            Employee_Number NVARCHAR(50) 'Employee_Number',
            Full_Name NVARCHAR(50) 'Full_Name', 
			--Date_Terminated NVARCHAR(50) 'Date_Terminated',
            Current_Flag NVARCHAR(50) 'Current_Flag',
            Date_Effective NVARCHAR(50) 'Date_Effective',
            Date_To NVARCHAR(50) 'Date_To',
            Position_Full_Title NVARCHAR(50) 'Position_Full_Title',
            Actual_Position_Number NVARCHAR(10) 'Actual_Position_Number',
            Contract_Expiry_Date NVARCHAR(50) 'Contract_Expiry_Date',
            Employment_Type_Code NVARCHAR(50) 'Employment_Type_Code',
            Attendance_Type_Code NVARCHAR(50) 'Attendance_Type_Code',
            Classification NVARCHAR(255) 'Classification',
            Actual_Location_Code NVARCHAR(50) 'Actual_Location_Code',
            Datefilter NVARCHAR(50) 'Datefilter',
            Manager NVARCHAR(50) 'Manager',
            Movement_Code NVARCHAR(10) 'Movement_Code',
            ANZSCO_Code NVARCHAR(50) 'ANZSCO_Code',
            Reporting_Category_Code NVARCHAR(50) 'Reporting_Category_Code',
            ESS_Authority_Level NVARCHAR(50) 'ESS_Authority_Level',
            Long_Description NVARCHAR(50) 'Long_Description',
            First_Language_Code NVARCHAR(10) 'First_Language_Code',
            Gender NVARCHAR(20) 'Gender'
        );

        -- Cleanup
        EXEC sp_xml_removedocument @hDoc;
    END
    ELSE
    BEGIN
        PRINT 'Invalid XML: Check JSON Extraction';
    END

    SET NOCOUNT OFF;  
END;
GO
