USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_stg_ColesAccuracyByState_Transformed]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_Load_stg_ColesAccuracyByState_Transformed]
as
Drop  Table  [stg].[ColesAccuracyByState_Transformed];

WITH RankedProducts AS (                                           -- this to pick only first match
    SELECT
        Coles_Item_Code,
        product_no,
        ROW_NUMBER() OVER (PARTITION BY Coles_Item_Code ORDER BY product_no ) AS rn
    FROM [stg].[ColesCollaborativeForecast_AlternateProductNos]
)
SELECT 
    SYSDATETIME() AS LoadDateTime,
    FORMAT(DATEADD(DAY, 4, F.Promo_date), 'dd/MM/yyyy') AS WeekendingDate,
    F.[CategoryName],
    F.[Sell Item],
    F.[ItemDescription],
    LTRIM(SUBSTRING(F.[SalesState], CHARINDEX(' ', F.[SalesState]) + 1, LEN(F.[SalesState]))) AS [Sales State],
    SUM(CAST(REPLACE(F.[Sales Qty], ',', '') AS INT)) AS [Actual Quantity],
    SUM(CAST(REPLACE(F.[Approved Forecast Units Wk (-1)] , ',', '') AS INT)) AS [Approved Forecast Qty Wk-1],
    SUM(CAST(REPLACE(F.[Approved Forecast Units Wk (-5)] , ',', '') AS INT)) AS [Approved Forecast Qty Wk-5],
    COALESCE(T.product_no, 'Error - Product not mapped in ERPLN!') AS product_no

	into [stg].[ColesAccuracyByState_Transformed]
FROM 
    [BI_PROD_POST_SAP].[Stg].[Coles_FAR_ByState(weekly)] F 
LEFT JOIN 
    RankedProducts T
    ON F.[Sell Item] = T.Coles_Item_Code AND T.rn = 1
GROUP BY 
    F.Promo_date,
    F.[CategoryName],
    F.[Sell Item],
    F.[ItemDescription],
    F.[SalesState],
    T.product_no



	

	
GO
