USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_CHARACTERISTICTEXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_CHARACTERISTICTEXT>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Insert_ZXC_CHARACTERISTICTEXT]

AS
BEGIN
	
TRUNCATE TABLE [SAPSTG].[ZXC_CHARACTERISTICTEXT]  

insert into [SAPSTG].[ZXC_CHARACTERISTICTEXT]   
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime,
CharacteristicChangeNumber  =NULLIF(cast(CharacteristicChangeNumber as nvarchar(12)),'') ,
CharacteristicDescription  =NULLIF(cast(CharacteristicDescription as nvarchar(30)),'') ,
CharacteristicIntID  = NULLIF(cast(CharacteristicIntID as nvarchar(10)),''),
IsDeleted  =case IsDeleted when 'X' then cast(1 as bit) else cast(0 as bit) end ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
ValidityStartDate1  =NULLIF(cast(ValidityStartDate1 as nvarchar(10)),'') ,
ScriptVersionDate = cast(getdate() as date)

FROM  SAPSTG.ZXCCHARTEXT  WITH (NOLOCK) 

END
GO
