USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_DIM_MatPlant]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        
CREATE PROCEDURE [dbo].[usp_Insert_DIM_MatPlant]        
AS        
BEGIN        
    SET NOCOUNT ON;        
        
Delete from [DIM].[MatPlant];        
    
  
  
INSERT INTO [DIM].[MatPlant]  
           ([Material]  
		   ,Plant
           ,[Availability_Check]  
           ,[Transportation_Group]  
           ,[Loading_Group]  
           ,[Profit_Center]  
           ,[Purchasing_Group]  
           ,[Automatic_PO]  
           ,[Source_List]  
           ,[ABC_Indicator]  
           ,[MRP_Type]  
           ,[Planning_Time_Fence]  
           ,[MRP_Controller]  
           ,[Lot_Size_Procedure]  
           ,[Minimum_Lot_Size]  
           ,[Maximum_Lot_Size]  
           ,[Rounding_Value]  
           ,[Procurement_Type]  
           ,[Special_Procurement]  
           ,[Backflush]  
           ,[Production_Storage_Location]  
           ,[Storage_Location_for_EP]  
           ,[Planned_Delivery_Time]  
           ,[GR_Processing_Time]  
           ,[Planning_Calendar]  
           ,[Scheduling_Margin_Key]  
           ,[Safety_Stock]  
           ,[Coverage_Profile]  
           ,[Safety_Time_Indicator]  
           ,[Period_Indicator]  
           ,[Strategy_Group]  
           ,[Consumption_Mode]  
           ,[Forward_Consumption_Period]  
           ,[Backward_Consumption_Period]  
           ,[Version_Indicator]  
           ,[Target_Day_Supply]  
           ,[Production_Scheduling_Profile]  
           ,[Underdelivery_Tolerance_Limit]  
           ,[Unlimited]  
           ,[CC_Physical_Inventory_Indicator]  
           ,[Inspection_Setup]  
           ,[Post_to_Inspection_Stock]  
           ,[Documentation_Required_Indicator]  
           ,[Do_Not_Cost]  
           ,[Variance_Key]  
           ,[Alternative_BOM]  
           ,[BOM_Usage]  
           ,[Group_]  
           ,[Group_Counter]  
           ,[Task_List_Type]  
           ,[Costing_Lot_Size]  
           ,[Material_Price_Determination]  
           ,[Valuation_Class]  
           ,[Material_Ledger_Activated]  
           ,[Price_Control]  
           ,[With_Qty_Structure]  
           ,[Material_Origin]  
           ,[Planned_Price_1]  
           ,[Planned_Price_Date_1])  
             
Select distinct REPLACE(ltrim(replace(MARA.Material,'0',' ')),' ','0') Material, WERKS Plant, MTVFP Availability_Check,TRAGR Transportation_Group,LADGR Loading_Group,        
REPLACE(ltrim(replace(PRCTR,'0',' ')),' ','0') Profit_Center  ,EKGRP Purchasing_Group,KAUTB Automatic_PO,KORDB Source_List,          
    MAABC ABC_Indicator,DISMM MRP_Type,FXHOR Planning_Time_Fence,DISPO MRP_Controller,          
    DISLS Lot_Size_Procedure,BSTMI Minimum_Lot_Size,BSTMA Maximum_Lot_Size,MABST Rounding_Value,          
    BESKZ Procurement_Type,SOBSL Special_Procurement,RGEKZ Backflush,LGPRO Production_Storage_Location,LGFSB Storage_Location_for_EP,          
    PLIFZ Planned_Delivery_Time,WEBAZ GR_Processing_Time,MRPPP Planning_Calendar,FHORI Scheduling_Margin_Key,EISBE Safety_Stock,          
    RWPRO Coverage_Profile,SHZET Safety_Time_Indicator, --EISBE,RWPRO [Safety_Time/Actual_Coverage],          
    PERKZ Period_Indicator,STRGR Strategy_Group,VRMOD Consumption_Mode,VINT2 Forward_Consumption_Period,          
    VINT1 Backward_Consumption_Period,VERKZ Version_Indicator,SCM_TARGET_DUR Target_Day_Supply,SFCPF Production_Scheduling_Profile,          
    UNETO Underdelivery_Tolerance_Limit,UEETK Unlimited,ABCIN CC_Physical_Inventory_Indicator,          
    QMATV Inspection_Setup,INSMK Post_to_Inspection_Stock,KZDKZ Documentation_Required_Indicator,NCOST Do_Not_Cost,AWSLS Variance_Key,          
    STLAL Alternative_BOM,STLAN BOM_Usage,PLNNR Group_,APLAL Group_Counter,PLNTY Task_List_Type,LOSGR Costing_Lot_Size ,      
    CKMLHD.MLAST Material_Price_Determination,        
    BKLAS Valuation_Class,MLMAA Material_Ledger_Activated, VPRSV Price_Control,EKALR With_Qty_Structure,HKMAT Material_Origin,ZPLP1 Planned_Price_1,        
    CASE WHEN ZPLD1='00000000' THEN NULL ELSE CONVERT(DATE,ZPLD1, 112) END Planned_Price_Date_1     
from SAPSTG.CV_PR_MD_MARA MARA       
Left join SAPSTG.CV_PR_MD_MARC marc on REPLACE(ltrim(replace(MARA.Material,'0',' ')),' ','0') = REPLACE(ltrim(replace(MATNR,'0',' ')),' ','0')      
Left JOIN SAPSTG.CV_PR_MBEW_EXTRACT MBEW ON REPLACE(ltrim(replace(marc.MATNR,'0',' ')),' ','0') = REPLACE(LTRIM(REPLACE(MBEW.Material,'0',' ')),' ','0')   
Left JOIN SAPSTG.CV_PR_MD_CKMLHD CKMLHD ON REPLACE(ltrim(replace(marc.MATNR,'0',' ')),' ','0') = REPLACE(LTRIM(REPLACE(CKMLHD.MATNR,'0',' ')),' ','0')        
    AND marc.MANDT=CKMLHD.MANDT  
end;
GO
