USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ZXC_ADDMATGRP2TXT]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<BHATRAH>
-- Create date: <24/12/2021>
-- Description:	<LOAD STG ZXC_ADDMATGRP2TXT>
-- =============================================
CREATE  PROCEDURE [dbo].[usp_Insert_ZXC_ADDMATGRP2TXT]

AS
BEGIN
	
TRUNCATE TABLE SAPSTG.ZXC_ADDMATGRP2TXT  

insert into SAPSTG.ZXC_ADDMATGRP2TXT
SELECT 
ProcessExecutionID  =NULLIF(cast([TaskExecutionID] as int),'') ,
LoadDateTime =getdate(),
AdditionalMaterialGroup2  =NULLIF(cast(AdditionalMaterialGroup2 as nvarchar(3)),'') ,
AdditionalMaterialGroup2Name  =NULLIF(cast(AdditionalMaterialGroup2Name as nvarchar(40)),'') ,
Language  =CASE WHEN Language = 'E' THEN 'EN' ELSE Language END ,
ScriptVersionDate = cast(getdate() as date)
FROM  SAPSTG.ZXCADDMATGRP2TXT  WITH (NOLOCK)
END
GO
