USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Insert_ods_difot_ScoreCard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

          
          
              
CREATE       Proc  [dbo].[usp_Insert_ods_difot_ScoreCard]            
AS  

Truncate table ods.difot_scorecard;
with ProductNo as(
select d.Plant,cal.FiscalPeriod, cal.FiscalYear, Pd.Category,
SUM(OrderQty) as OrderQty, SUM(DeliveryQty) as DeliveryQty, Sum(DIFOT1)/COUNT(*)  as DIFOTCount, SUM(DeliveryQty*OTHit)/SUM(OrderQty) as DIFOTCase
,  
sum(IFHit)*100/COUNT(*) as IFHit,
Sum(OTHit)*100/COUNT(*) as OTHit,
null as DataType
from fact.Difot d
inner join DIM.PRODUCT pd
on d.MATERIAL = pd.ProductNo 
inner join DIM.CalendarDate cal
on DELIVERYDATE = cal.DateKey
where (Category is not null and Category <> 'Ingredients')
group by d.Plant, cal.FiscalPeriod, cal.FiscalYear, pd.Category)

insert into ods.difot_scorecard
(	[Year] ,
	[Period] ,
	[PeriodType],
	[Category],
	[Site],
	[OrderQty],
	[DelivQty],
	[DIFOTCount],
	DIFOTCase,
	IFHit,
	OTHit,
	Source
	)
Select  FiscalYear,
		FiscalPeriod,
		'FP',
		Category,
		Plant,
		OrderQty,
		DeliveryQty,
		DIFOTCount ,
		DIFOTCase,
		IFHit,
		OTHit,
		'SAP'
from ProductNo
GO
