USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [DIM].[usp_Insert_DIM_ListPrice]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Bruce Cao>
-- Create date: <21/04/2023>
-- Description:	<LOAD DIM.ListPrice>
/* Ver No		Date			Name		Description
	1.0			21/12/2021		Bruce Cao		Initial Draft (as a part of Ticket# 77244)


*/
--depend on Dim.customer, fact.[FACT].[CommittedSales]
-- =============================================

CREATE PROCEDURE [DIM].[usp_Insert_DIM_ListPrice]
AS
Begin

--TRUNCATE TABLE  [DIM].[ListPrice4];
drop TABLE  [DIM].[ListPrice];
With ListPrice as (
SELECT [KeyComb]
      ,[Table]
      ,STUFF(Material, 1, PATINDEX('%[^0]%', Material) - 1, '') as [Material]
	  ,case when KeyComb = 'SKU/Cust'
	  then right([Customer],7)
	  when KeyComb = 'SKU/PriceList/PriceGroup'
	  then 'Z'+pricelist+'/'+coalesce(pricegroup,'ALL')
	  when KeyComb = 'SKU/PriceList'
	  then 'Z'+[PriceList]+'/ALL'
	  end
	  as Customer
      ,[PriceList]
      ,[PriceGroup]
      ,[ConditionNo]
      ,[DeletionFlag]
      ,[ProcStatus]
      ,[ReleaseStatus]
      ,[ValidFrom]
      ,[ValidTo]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ChangedOn]
      ,[ChangedTime]
      ,[ChangedTimeStamp]
      ,[ChangedBy]
      ,[ChangedbyTCODE]
      ,[ChangeNum]
      ,[Unit]
      ,[Price_CUST]
      ,[PerUnit_CUST]
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_MD_LISTPRICE_BULLA_BI] where [DeletionFlag] = '' and [ProcStatus] = ''

  ),

  Listprice2 as (

  select *,
   CASE
            WHEN KeyComb = 'SKU/Cust' Then 1
			WHEN KeyComb = 'SKU/PriceList/PriceGroup' Then 2
			WHEN KeyComb = 'SKU/PriceList' Then 3
            ELSE 'Unknown'
        END AS Price_Prio
  ,LAG(Price_CUST) OVER (PARTITION BY Material,Customer,KeyComb  ORDER BY ValidFrom) AS PreviousPrice
  ,LAG(PerUnit_CUST) OVER (PARTITION BY Material,Customer,KeyComb ORDER BY ValidFrom) AS PreviousPriceUnit
  ,LAG(ValidTo) OVER (PARTITION BY Material,Customer,KeyComb ORDER BY ValidFrom) AS PreviousValidTo
--  ,LAG(Price_CUST) OVER (PARTITION BY Material,Customer ORDER BY ValidFrom) AS PreviousPrice
--  ,LAG(ValidTo) OVER (PARTITION BY Material,Customer ORDER BY ValidFrom) AS PreviousValidTo
  ,DATEDIFF(DAY, ChangedOn, GETDATE()) AS Days_after_last_change,
        DATEDIFF(DAY, ValidFrom, GETDATE()) AS DaysSinceValidFrom,
		case when ValidTo <>'99991231'
		then
        DATEDIFF(DAY, GETDATE(), ValidTo)
		end AS DaysToExpiry,
		
        CASE
            WHEN GETDATE() BETWEEN [ValidFrom] AND [ValidTo] THEN 'Current'
            WHEN GETDATE() > [ValidTo] THEN 'Historical'
            WHEN GETDATE() < [ValidFrom] THEN 'Future'
            ELSE 'Unknown'
        END AS Price_Type
  from ListPrice )
  
 -- select *  from Listprice2 where  Material = '1006' and Customer = '1033332' and Price_Type = 'Current' and KeyComb = 'SKU/Cust'
  
  ,
  
  validtoerror as (
  select distinct Material,Customer,KeyComb,'X' as  TimeRangeGap from  Listprice2
 where PreviousValidTo is not null and PreviousValidTo <> DATEADD(DAY, -1, CONVERT(DATE, ValidFrom, 112)) and Customer is not null),




--get RDM data
--with
  PeriodSales as ( 
  select a.ProductNo,b.pricelisttypecode,b.pricegroupcode,c.periodoffset,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedSalesQuantity,0))
  end as YTD_QTY,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedSalesQuantity,0))
  end as YTG_QTY,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedNetInvoiceValue,0))
  end as YTD_NIV,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedNetInvoiceValue,0))
  end as YTG_NIV,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedCOGS,0))
  end as YTD_COGS,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedCOGS,0))
  end as YTG_COGS,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedGrossMargin,0))
  end as YTD_GMC,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedGrossMargin,0))
  end as YTG_GMC,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedFreightOutbound,0))
  end as YTD_FRT,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedFreightOutbound,0))
  end as YTG_FRT,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedInvoiceDiscount,0))
  end as YTD_OID,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedInvoiceDiscount,0))
  end as YTG_OID,
   case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedCaseDiscount,0))+SUM(Coalesce(CommittedOtherDiscount,0))+SUM(Coalesce(CommittedTermsDiscount,0))
  end as YTD_TTS,
  case when c.PeriodOffset <=0 then 
 SUM(Coalesce(CommittedCaseDiscount,0))+SUM(Coalesce(CommittedOtherDiscount,0))+SUM(Coalesce(CommittedTermsDiscount,0))
  end as YTG_TTS,
  SUM(Coalesce(CommittedSalesQuantity,0)) as FY_QTY
  from [FACT].[CommittedSales] a 
  inner join dim.customer b on 
  a.CustomerNo = b.CustomerNo
  
  left join DIM.FiscalWeekCalendar c
  on c.YearOffset = 0 
  and a.FiscalYearWeekIntKey = c.FiscalYearWeekIntKey
  where   b.PriceListTypeCode is not NULL 
    and a.FiscalYear = c.FiscalYear
	--and a.ProductNo+a.CustomerNo not in (select distinct [Material]+[Customer] from ListPrice2 where KeyComb = 'SKU/Cust' and Price_Type ='Current') --exclue 'SKU/Cust'
	and not exists (select 1 from ListPrice2 d where KeyComb = 'SKU/Cust' and Price_Type ='Current' and a.ProductNo=d.Material and a.customerno=d.customer)
  group by a.ProductNo,b.pricelisttypecode,b.pricegroupcode
  ,c.YearOffset,c.PeriodOffset),

  --select * from fact.committedsales where CustomerNo = '1033332' and ProductNo = '1006' and FiscalYear = 2024 order by FiscalYearWeekIntKey
  PeriodSales_Cust as ( 
  select a.ProductNo,a.CustomerNo,e.pricelisttypecode,e.pricegroupcode
  ,c.periodoffset,
  concat(a.ProductNo,a.CustomerNo) as Mat_cust,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedSalesQuantity,0))
  end as YTD_QTY,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedSalesQuantity,0))
  end as YTG_QTY,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedNetInvoiceValue,0))
  end as YTD_NIV,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedNetInvoiceValue,0))
  end as YTG_NIV,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedCOGS,0))
  end as YTD_COGS,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedCOGS,0))
  end as YTG_COGS,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedGrossMargin,0))
  end as YTD_GMC,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedGrossMargin,0))
  end as YTG_GMC,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedFreightOutbound,0))
  end as YTD_FRT,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedFreightOutbound,0))
  end as YTG_FRT,
  case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedInvoiceDiscount,0))
  end as YTD_OID,
  case when c.PeriodOffset <=0 then 
  SUM(Coalesce(CommittedInvoiceDiscount,0))
  end as YTG_OID,
   case when c.PeriodOffset >0 then 
  SUM(Coalesce(CommittedCaseDiscount,0))+SUM(Coalesce(CommittedOtherDiscount,0))+SUM(Coalesce(CommittedTermsDiscount,0))
  end as YTD_TTS,
  case when c.PeriodOffset <=0 then 
 SUM(Coalesce(CommittedCaseDiscount,0))+SUM(Coalesce(CommittedOtherDiscount,0))+SUM(Coalesce(CommittedTermsDiscount,0))
  end as YTG_TTS,
  SUM(Coalesce(CommittedSalesQuantity,0)) as FY_QTY
  from [FACT].[CommittedSales] a   
  inner join DIM.FiscalWeekCalendar c
  --on c.YearOffset = 0 
  on a.FiscalYearWeekIntKey = c.FiscalYearWeekIntKey
	inner join (select distinct [Material],[Customer] from ListPrice2 where KeyComb = 'SKU/Cust' and Price_Type ='Current') d
	on a.ProductNo = d.Material
	and a.CustomerNo = d.Customer
  left join DIM.Customer e
    on a.CustomerNo = e.CustomerNo
  where c.YearOffset = 0 
	--and concat(Ltrim(a.ProductNo),ltrim(a.CustomerNo)) in (select distinct concat(Ltrim([Material]),Ltrim([Customer])) from ListPrice2 where KeyComb = 'SKU/Cust' and Price_Type ='Current') --exclue 'SKU/Cust'
  group by a.ProductNo,a.CustomerNo,e.pricelisttypecode,e.pricegroupcode
  ,c.YearOffset,c.PeriodOffset)
  --select distinct concat([Material],[Customer]) from ListPrice2 where KeyComb = 'SKU/Cust' and Price_Type ='Current'
  --select * from PeriodSales where YTG_QTY>0

--  select * from DIM.FiscalWeekCalendar c
--where  YearOffset = 0 
  
  ,
  FullYearSalesByMaterial as (
  select productno,
  round(SUM(CommittedSalesQuantity),0) as "FY_QTY",
  --round(SUM(CommittedNetInvoiceValue)-SUM(CommittedInvoiceDiscount),2) as "FY_GSV",
  round((SUM(CommittedNetInvoiceValue)-SUM(CommittedInvoiceDiscount)) / NULLIF(SUM(CommittedSalesQuantity), 0),2) as "FY_GSVPerCS"
  from [FACT].[CommittedSales]
  where FiscalYear = (select top 1 FiscalYear from DIM.FiscalWeekCalendar where YearOffset = 0)
  group by productno)

  ,
  FullYearSalesByMaterial_CUST as (
  select productno,CustomerNo,
  round(SUM(CommittedSalesQuantity),0) as "FY_QTY",
  --round(SUM(CommittedNetInvoiceValue)-SUM(CommittedInvoiceDiscount),2) as "FY_GSV",
  round((SUM(CommittedNetInvoiceValue)-SUM(CommittedInvoiceDiscount)) / NULLIF(SUM(CommittedSalesQuantity), 0),2) as "FY_GSVPerCS"
  from [FACT].[CommittedSales]
  where FiscalYear = (select top 1 FiscalYear from DIM.FiscalWeekCalendar where YearOffset = 0)
  group by productno,CustomerNo)
  ,

  PricelistByCustomer as (

  select material, right([Customer],7)as CustomerNo,  KeyComb,Price_Type,ValidFrom,ValidTo  from Listprice2
  where KeyComb = 'SKU/Cust'
  union
  select distinct a.Material,b.CustomerNo,   KeyComb,Price_Type,ValidFrom,ValidTo    from Listprice2 a left join dim.customer b 
  on a.PriceList = b.PriceListTypeCode
  and a.PriceGroup = b.PriceGroupCode where KeyComb = 'SKU/PriceList/PriceGroup'
  union 
select distinct a.Material,b.CustomerNo,  KeyComb, Price_Type,ValidFrom,ValidTo   from Listprice2 a left join dim.customer b 
  on a.PriceList = b.PriceListTypeCode
 where KeyComb = 'SKU/PriceList'),



 NoPriceRecord_Future as(
select a.ProductNo,a.CustomerNo,b.FiscalWeek,b.WeekcommenceDate,PriceListTypeCode,d.PriceGroupCode,sum(a.CommittedSalesQuantity) as QTY
  from [FACT].[CommittedSales] a
  left join DIM.FiscalWeekCalendar b on a.FiscalYearWeekIntKey = b.FiscalYearWeekIntKey
  left join PricelistByCustomer c
  on a.ProductNo = c.Material
  and a.CustomerNo = c.CustomerNo
  and b.WeekcommenceDate >= c.ValidFrom
  and b.WeekcommenceDate <= c.ValidTo
  left join DIM.Customer d
  on a.CustomerNo = d.CustomerNo
  where a.FiscalYear = (select top 1 FiscalYear from DIM.FiscalWeekCalendar where YearOffset = 0)
  --and b.PeriodOffset <= 0  --YTG only
  and c.Price_Type is null --no price
  and a.CommittedSalesQuantity > 0
  group by a.ProductNo,a.CustomerNo,b.FiscalWeek,b.WeekcommenceDate,d.PriceListTypeCode,d.PriceGroupCode 
  --order by a.ProductNo,a.CustomerNo,b.FiscalWeek
  )
--select * from NoPriceRecord_Future
,

 YearlySales as (
 --'SKU/PriceList/PriceGroup'
  select 'SKU/PriceList/PriceGroup' as KeyComb2,productno,pricelisttypecode,pricegroupcode,
  'Z'+pricelisttypecode+'/'+pricegroupcode as Customer2,
  round(SUM(YTD_QTY),0) as "YTD_QTY",
  round(SUM(YTG_QTY),0) as "TYG_QTY",
  round((SUM(YTD_NIV)-SUM(YTD_OID))/nullif(SUM(YTD_QTY),0),2) as "YTD_GSV",
  round((SUM(YTG_NIV)-SUM(YTG_OID))/nullif(SUM(YTG_QTY),0),2) as "TYG_GSV",
  round(SUM(YTD_NIV)/nullif(SUM(YTD_QTY),0),2) as "YTD_NIV",
  round(SUM(YTG_NIV)/nullif(SUM(YTG_QTY),0),2) as "TYG_NIV",
  round(SUM(YTD_COGS)/nullif(SUM(YTD_QTY),0),2) as "YTD_COGS",
  round(SUM(YTG_COGS)/nullif(SUM(YTG_QTY),0),2) as "TYG_COGS",
  round(SUM(YTD_GMC)/nullif(SUM(YTD_QTY),0),2) as "YTD_GMC",
  round(SUM(YTG_GMC)/nullif(SUM(YTG_QTY),0),2) as "TYG_GMC",
  round(SUM(YTD_FRT)/nullif(SUM(YTD_QTY),0),2) as "YTD_FRT",
  round(SUM(YTG_FRT)/nullif(SUM(YTG_QTY),0),2) as "TYG_FRT",
  round(SUM(YTD_OID)/nullif(SUM(YTD_QTY),0),2) as "YTD_OID",
  round(SUM(YTG_OID)/nullif(SUM(YTG_QTY),0),2) as "TYG_OID",
  round(SUM(YTD_TTS)/nullif(SUM(YTD_QTY),0),2) as "YTD_TTS",
  round(SUM(YTG_TTS)/nullif(SUM(YTG_QTY),0),2) as "TYG_TTS",
  round(SUM(FY_QTY),0) as "FY_QTY"
  from PeriodSales
  where PriceGroupCode is not NULL
  and 'Z'+pricelisttypecode+'/'+pricegroupcode in (select  distinct [Customer] from ListPrice2 where KeyComb = 'SKU/PriceList/PriceGroup' and Price_Type ='Current')
  group by productno,pricelisttypecode,pricegroupcode


  union

 --'SKU/PriceList'
    select 'SKU/PriceList' as KeyComb2,productno,pricelisttypecode,'ALL' as PriceGroupCode,
  'Z'+pricelisttypecode+'/ALL' as Customer2,
  round(SUM(YTD_QTY),0) as "YTD_QTY",
  round(SUM(YTG_QTY),0) as "TYG_QTY",
  round((SUM(YTD_NIV)-SUM(YTD_OID))/nullif(SUM(YTD_QTY),0),2) as "YTD_GSV",
  round((SUM(YTG_NIV)-SUM(YTG_OID))/nullif(SUM(YTG_QTY),0),2) as "TYG_GSV",
  round(SUM(YTD_NIV)/nullif(SUM(YTD_QTY),0),2) as "YTD_NIV",
  round(SUM(YTG_NIV)/nullif(SUM(YTG_QTY),0),2) as "TYG_NIV",
  round(SUM(YTD_COGS)/nullif(SUM(YTD_QTY),0),2) as "YTD_COGS",
  round(SUM(YTG_COGS)/nullif(SUM(YTG_QTY),0),2) as "TYG_COGS",
  round(SUM(YTD_GMC)/nullif(SUM(YTD_QTY),0),2) as "YTD_GMC",
  round(SUM(YTG_GMC)/nullif(SUM(YTG_QTY),0),2) as "TYG_GMC",
  round(SUM(YTD_FRT)/nullif(SUM(YTD_QTY),0),2) as "YTD_FRT",
  round(SUM(YTG_FRT)/nullif(SUM(YTG_QTY),0),2) as "TYG_FRT",
  round(SUM(YTD_OID)/nullif(SUM(YTD_QTY),0),2) as "YTD_OID",
  round(SUM(YTG_OID)/nullif(SUM(YTG_QTY),0),2) as "TYG_OID",
  round(SUM(YTD_TTS)/nullif(SUM(YTD_QTY),0),2) as "YTD_TTS",
  round(SUM(YTG_TTS)/nullif(SUM(YTG_QTY),0),2) as "TYG_TTS",
  round(SUM(FY_QTY),0) as "FY_QTY"
  from PeriodSales
  where
    'Z'+pricelisttypecode+'/'+pricegroupcode not in (select distinct [Customer] from ListPrice2 where KeyComb = 'SKU/PriceList/PriceGroup' and Price_Type ='Current')
  group by productno,pricelisttypecode
  
  Union

 --'SKU/Customer'
  select 'SKU/Customer' as KeyComb2,productno,pricelisttypecode,PriceGroupCode,-- pricelisttypecode,PriceGroupCode,
  CustomerNo as Customer2,
  round(SUM(YTD_QTY),0) as "YTD_QTY",
  round(SUM(YTG_QTY),0) as "TYG_QTY",
  round((SUM(YTD_NIV)-SUM(YTD_OID))/nullif(SUM(YTD_QTY),0),2) as "YTD_GSV",
  round((SUM(YTG_NIV)-SUM(YTG_OID))/nullif(SUM(YTG_QTY),0),2) as "TYG_GSV",
  round(SUM(YTD_NIV)/nullif(SUM(YTD_QTY),0),2) as "YTD_NIV",
  round(SUM(YTG_NIV)/nullif(SUM(YTG_QTY),0),2) as "TYG_NIV",
  round(SUM(YTD_COGS)/nullif(SUM(YTD_QTY),0),2) as "YTD_COGS",
  round(SUM(YTG_COGS)/nullif(SUM(YTG_QTY),0),2) as "TYG_COGS",
  round(SUM(YTD_GMC)/nullif(SUM(YTD_QTY),0),2) as "YTD_GMC",
  round(SUM(YTG_GMC)/nullif(SUM(YTG_QTY),0),2) as "TYG_GMC",
  round(SUM(YTD_FRT)/nullif(SUM(YTD_QTY),0),2) as "YTD_FRT",
  round(SUM(YTG_FRT)/nullif(SUM(YTG_QTY),0),2) as "TYG_FRT",
  round(SUM(YTD_OID)/nullif(SUM(YTD_QTY),0),2) as "YTD_OID",
  round(SUM(YTG_OID)/nullif(SUM(YTG_QTY),0),2) as "TYG_OID",
  round(SUM(YTD_TTS)/nullif(SUM(YTD_QTY),0),2) as "YTD_TTS",
  round(SUM(YTG_TTS)/nullif(SUM(YTG_QTY),0),2) as "TYG_TTS",
  round(SUM(FY_QTY),0) as "FY_QTY"
  from PeriodSales_Cust

  group by productno,CustomerNo,pricelisttypecode,PriceGroupCode

  ),

 
NoPriceRecord_From_to as
(  SELECT
        *,
        fiscalweek - ROW_NUMBER() OVER (PARTITION by productno,customerno ORDER BY productno,customerno,fiscalweek) AS group_id
    FROM
        NoPriceRecord_Future
		),


NoPriceRecord as
(select ProductNo 
      ,CustomerNo 
      ,PriceListTypeCode 
      ,PriceGroupCode 
      ,FORMAT(CONVERT(date, min(WeekcommenceDate) ), 'yyyyMMdd') as [ValidFrom]
      ,FORMAT(DATEADD(DAY, 6, CONVERT(date, max(WeekcommenceDate))), 'yyyyMMdd') as [ValidTo]
	
      ,CASE
            WHEN GETDATE() BETWEEN FORMAT(CONVERT(date, min(WeekcommenceDate) ), 'yyyyMMdd') AND FORMAT(DATEADD(DAY, 6, CONVERT(date, max(WeekcommenceDate))), 'yyyyMMdd') THEN 'Current'
            WHEN GETDATE() > FORMAT(DATEADD(DAY, 6, CONVERT(date, max(WeekcommenceDate))), 'yyyyMMdd') THEN 'Historical'
            WHEN GETDATE() < FORMAT(CONVERT(date, min(WeekcommenceDate) ), 'yyyyMMdd') THEN 'Future'
            ELSE 'Unknown'
        END AS Price_Type
      ,sum(QTY) as QTY
	  
	  from NoPriceRecord_From_to group by ProductNo,CustomerNo,PriceListTypeCode,PriceGroupCode,group_id)

--select * from NoPriceRecord where ProductNo = '1436' order by ValidFrom

 select a.*,
 
 case
 when a.PreviousPrice is not null and a.PreviousPrice <> 0
 then (a.Price_CUST - a.PreviousPrice)/a.PreviousPrice
 end As changerate,

 
 b.TimeRangeGap,c.*,
 case 
 when PreviousValidTo > DATEADD(DAY, -1, CONVERT(DATE, ValidFrom, 112))
 then 'TimeRangeOverlap'
 when PreviousValidTo < DATEADD(DAY, -1, CONVERT(DATE, ValidFrom, 112))
  then 'TimeRangeGap'
  end as TimeRangeError,
 --case when a.KeyComb = 'KeyComb = 'SKU/PriceList/PriceGroup'
 --then 
 d.FY_GSVPerCS,
 d.FY_QTY as "FY_QTY_MAT",
 sysdatetime() as [LoadDateTime]

 into DIM.ListPrice
 from Listprice2 a left join validtoerror b
 on a.Material = b.material
 and a.Customer = b.customer
 and a.KeyComb =b.KeyComb

left join YearlySales c
on a.material = c.productno
and a.Customer = c.Customer2

left join FullYearSalesByMaterial d
on a.Material = d.ProductNo

union 



select 'No Price' as [KeyComb]
      ,Null as [Table]
      ,a.ProductNo as   [Material]
      ,a.CustomerNo as  [Customer]
      ,PriceListTypeCode as  [PriceList]
      ,PriceGroupCode as   [PriceGroup]
      ,Null as [ConditionNo]
      ,Null as [DeletionFlag]
      ,Null as [ProcStatus]
      ,Null as [ReleaseStatus]
	  ,[ValidFrom]
	  --,Null as [ValidFrom]
      ,[ValidTo]
	  --,Null as [ValidTo]
      ,Null as [CreatedOn]
      ,Null as [CreatedBy]
      ,Null as [ChangedOn]
      ,Null as [ChangedTime]
      ,Null as [ChangedTimeStamp]
      ,Null as [ChangedBy]
      ,Null as [ChangedbyTCODE]
      ,Null as [ChangeNum]
      ,Null as [Unit]
      ,Null as [Price_CUST]
      ,Null as [PerUnit_CUST]
      ,Null as [Price_Prio]
      ,Null as [PreviousPrice]
      ,Null as [PreviousPriceUnit]
      ,Null as [PreviousValidTo]
      ,Null as [Days_after_last_change]
      ,Null as [DaysSinceValidFrom]
      ,Null as [DaysToExpiry]
      ,Price_Type
      ,Null as [changerate]
      ,Null as [TimeRangeGap]
      ,Null as [KeyComb2]
      ,a.[productno] as [productno]
      ,[pricelisttypecode]
      ,[pricegroupcode]
      ,Null as [Customer2]
      ,0 as [YTD_QTY]
      ,0 as [TYG_QTY]
      ,0 as [YTD_GSV]
      ,0 as [TYG_GSV]
      ,0 as [YTD_NIV]
      ,0 as [TYG_NIV]
      ,0 as [YTD_COGS]
      ,0 as [TYG_COGS]
      ,0 as [YTD_GMC]
      ,0 as [TYG_GMC]
      ,0 as [YTD_FRT]
      ,0 as [TYG_FRT]
      ,0 as [YTD_OID]
      ,0 as [TYG_OID]
      ,0 as [YTD_TTS]
      ,0 as [TYG_TTS] 
	  ,e.FY_QTY as [FY_QTY]
      ,'' as [TimeRangeError]
      ,0 as [FY_GSVPerCS]
	  ,d.FY_QTY as "FY_QTY_MAT",
	  sysdatetime() as [LoadDateTime]
	   from NoPriceRecord a
left join FullYearSalesByMaterial d
on a.ProductNo = d.ProductNo
left join FullYearSalesByMaterial_Cust e
on a.ProductNo = e.ProductNo and a.Customerno = e.CustomerNo

END
GO
