USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [DIM].[usp_Insert_DIM_SAPCostComponent_RAW_PACK_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================  
-- Author:  <Bruce Cao>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
--V001 Initial  
--V002 01/06/23 add scrap   
-- =============================================  
CREATE PROCEDURE [DIM].[usp_Insert_DIM_SAPCostComponent_RAW_PACK_F]  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  
  
--drop table  
DROP TABLE [DIM].[SAPCostComponent_RAW_PACK];  
  
  
WITH BOMtree("LoadDateTime","Level", -- cost hierarchy level, start from 1  
       "HIER",  
    "P_CostEstimateNo", -- CostEstimateID  
    "P_CostingType",  
    "P_POSTDATE" , -- CostingDate      
  "P_CostingVers",  
  "P_ValuaVariant",  
  "P_AdditiveCosts",  
  "P_ItemNumber",  
    "P_CItemCate",  
    "P_ActType",  
    "P_CostCenter",  
       "P_CostComp",  
    "P_MATERIAL" , --Material  
    "P_PLANT" , --Plant  
    "P_LOTSIZE", --Lot Size  
    "P_LOTUNIT", --Lot Unit  
    "P_VAL", --Value in Controlling Area Curr.  
    "P_FVAL", --Fxd Value/Object Cur.  
    "P_QTY",  --Quantity  
    "P_PRICE", --Price  
    "P_F_PRICE", --Fixed Price  
    "P_PR_UNT_QTY", -- Price Qty  
    "P_PR_UNT", --Price Unit  
    "P_REC_VAL" ,  --Recursive Value in Controlling Area Curr.  
    "P_REC_FVAL", --Recursive Fxd Value/Object Cur.  
    "P_REC_QTY",  --Recursive Quantity  
    "P_UNIT",--Base Unit of Measure *** if "P_UNIT" <> "P_PR_UNT", then unit conversion is required   
    --"P_CompScrap", --added on 01/06/23  
    --"P_REC_ScpVAL" , --added on 01/06/23 Recursive Scrap Value   
    --"P_REC_ScpQTY",  -- added on 01/06/23 Recursive Scrap Quantity  
    "C_ASSMB", -- Flg if child hierarchy exist  
    "C_CostEstimateNo", -- Child CostEstimateID      
    "C_CostingType",  
  "C_POSTDATE", -- Child CostingDate  
  "C_CostingVers",  
  "C_ValuaVariant",  
    "G_MATERIAL", -- Grandparent Material  
    "G_PLANT", -- Grandparent Plant  
    "G_QTY", -- Grandparent QTY, if convetion happens, need G_UNIT  
    "MATERIAL", -- Top level material  
    "PLANT", -- -- Top level plant  
    "LOTSIZE",  ----Top level Lot size (Char)  
    "CostLotUnit", -- -- Top level Costing Lot Unit  
    "CostingDate", -- -- Top level Costing Date  
    "CostingStatus", -- -- Top level Costing Satus      
    "CostingVariant", -- -- Top level Costing Variant    
    "FiscalYear",  
    "Validfrom",  
    "ValidTo"  
        )   
AS (  
    SELECT   
  LoadDateTime,  
  1 AS "Level",  
  --'H.' + cast(ROW_NUMBER() over( PARTITION BY "G_CostingDate" order by "G_CostingDate") as varchar) as HIER,  
  --cast('H.' + cast(ROW_NUMBER() over( PARTITION BY "G_MATERIAL","G_PLANT","G_CostingDate","G_CostStatus","G_CostVarnt" order by "P_VAL") as varchar) AS varchar(20)) as HIER,  
  cast('H.'+ right("P_ItemNumber",3) AS varchar(50)) as HIER,  
        "P_CostEstimateNo", -- CostEstimateID  
    "P_CostingType",  
    "P_POSTDATE" , -- CostingDate      
  "P_CostingVers",  
  "P_ValuaVariant",  
  "P_AdditiveCosts",  
  "P_ItemNumber",  
    "P_CItemCate",  
    "P_ActType",  
    "P_CostCenter",  
       "P_CostComp",  
    "P_MATERIAL" ,  
    "P_PLANT" ,  
    "P_LOTSIZE",  
    "P_LOTUNIT",  
    "P_VAL", --Value in Controlling Area Curr.  
    "P_FVAL", --Fxd Value/Object Cur.  
    "P_QTY",  --Quantity  
    "P_PRICE",  
    "P_F_PRICE",  
    "P_PR_UNT_QTY",  
    "P_PR_UNT",  
    "P_REC_VAL" , --Recursive Value in Controlling Area Curr.  
    "P_REC_FVAL", --Recursive Fxd Value/Object Cur.  
    "P_REC_QTY",  --Recursive Quantity  
    "P_UNIT",--Base Unit of Measure  
    --"P_CompScrap", --added on 01/06/23  
    --"P_REC_ScpVAL", --added on 01/06/23 Recursive Scrap Value   
    --"P_REC_ScpQTY",  -- added on 01/06/23 Recursive Scrap Quantity  
    "C_ASSMB",  
    "C_CostEstimateNo", -- Child CostEstimateID      
    "C_CostingType",  
    "C_POSTDATE", -- Child CostingDate  
    "C_CostingVers",  
    "C_ValuaVariant",  
    "G_MATERIAL",  
    "G_PLANT",  
    "G_QTY",  
    "G_MATERIAL" as "MATERIAL",  
    "G_PLANT" as "PLANT",  
    "G_LOTSIZE" as "LOTSIZE",  
    "G_LotUnit" as "CostLotUnit", -- -- Top level Costing Lot Unit  
    "G_CostingDate" as "CostingDate", -- -- Top level Costing Date  
    "G_CostStatus" as "CostingStatus", -- -- Top level Costing Satus  
    "G_CostVarnt" as "CostingVariant", -- -- Top level Costing Variant  
    "FiscalYear" as "FiscalYear",  
    "G_ValidFrom" as "ValidFrom",  
    "G_ValidTo" as "ValidTo"  
  
  
    FROM   
  [BI_PROD_POST_SAP].[ODS].[SAPCostComp_RAW_PACK] ---[ODS].[SAPCostComp] is a table which pre-joined CKIS and KEKO to improve the recursive performance.  
  where   
  
  InScopeFlag = 1  
  --"G_CostingDate" >='20200629' and --,'20220801','20210628') and -- only one version for testing ,'20220801','20210628','20200629','20190701'    
  --"G_CostStatus" in('KA','FR','VO') and  
  --"G_CostVarnt" = 'PYC1' and  
  --"P_ValuaVariant" = '0Y1' and  
  -- "P_CostEstimateNo" in (  select distinct KALNR from SAPSTG.KEKO a join Dim.Product p on REPLACE(LTRIM(REPLACE(a.MATNR,'0',' ')),' ','0') =p.ProductNo   
  -- where   
  -- WERKS = '3000'   
  -- and a.KADKY >= '20200629'   --'20220801','20210628','20200629','20190701'  
  -- and   
  --a.FEH_STA in('KA','FR','VO') and a.KLVAR = 'PYC1' and p.ProductType IN ('FERT','HAWA') ) --only load finished product  
    
    UNION ALL  
    SELECT      
       b.LoadDateTime,  
    level + 1 AS "Level",  
    --cast(t.HIER+'.'+cast(ROW_NUMBER() over( PARTITION BY t."C_CostEstimateNo",t."C_POSTDATE" order by b."P_VAL") as varchar) as varchar(20)) as HIER,  
    cast(t.HIER+'.'+ right(b."P_ItemNumber",3) as varchar(50)) as HIER,  
    b."P_CostEstimateNo", -- CostEstimateID  
    b."P_CostingType",  
    b."P_POSTDATE" , -- CostingDate      
    b."P_CostingVers",  
    b."P_ValuaVariant",  
    b."P_AdditiveCosts",  
    b."P_ItemNumber",  
    b."P_CItemCate",  
    b."P_ActType",  
    b."P_CostCenter",  
       b."P_CostComp",  
    b."P_MATERIAL" ,  
    b."P_PLANT" ,  
    b."P_LOTSIZE",  
    b."P_LOTUNIT",  
    b."P_VAL", --Value in Controlling Area Curr.  
    b."P_FVAL", --Fxd Value/Object Cur.  
    b."P_QTY",  --Quantity  
    b."P_PRICE",  
    b."P_F_PRICE",  
    b."P_PR_UNT_QTY",  
    b."P_PR_UNT",  
    --cast(b.MENGE AS decimal(16,6))/cast(c.LOSGR AS decimal(16,6))*t.P_QTY*cast(b.FPREIS AS decimal(16,6))/cast(b.PEINH AS decimal(16,6)) as "P_REC_VAL", --Recursive Value in Controlling Area Curr.  
    case   
    when b."P_PR_UNT_QTY" = 0 then 0  
    else  
    cast(b."P_QTY"/b."P_LOTSIZE"*t.P_REC_QTY*b."P_PRICE"/b."P_PR_UNT_QTY" as decimal(16,2))  --Recursive Value in Controlling Area Curr.   
    end as  "P_REC_VAL",  
    --cast(b."P_QTY"/b."P_LOTSIZE"*t.P_REC_QTY*b."P_FVAL"/b."P_PR_UNT_QTY" as decimal(16,2)) as"P_REC_FVAL", --Recursive Fxd Value/Object Cur.  
    cast(b."P_FVAL" as decimal(16,2)) as"P_REC_FVAL", --Recursive Fxd Value/Object Cur.--new added 16/03/23  
    cast(b."P_QTY"/b."P_LOTSIZE"*t.P_REC_QTY as decimal(16,3)) as"P_REC_QTY",  --Recursive Quantity  
    b."P_UNIT",--Base Unit of Measure  
    --b."P_CompScrap", --added on 01/06/23  
    --b."P_REC_ScpVAL" , --added on 01/06/23 Recursive Scrap Value   
    --b."P_REC_ScpQTY",  -- added on 01/06/23 Recursive Scrap Quantity  
  --case   
  --  when b."P_PR_UNT_QTY" = 0 then 0  
  --  else  
  --  cast(b."P_CompScrap"/b."P_LOTSIZE"*t.P_REC_QTY*b."P_PRICE"/b."P_PR_UNT_QTY" as decimal(16,2))  --Recursive Value in Controlling Area Curr.   
  --  end as  "P_REC_ScpVAL",  
  --  --cast(b."P_QTY"/b."P_LOTSIZE"*t.P_REC_QTY*b."P_FVAL"/b."P_PR_UNT_QTY" as decimal(16,2)) as"P_REC_FVAL", --Recursive Fxd Value/Object Cur.  
  --  cast(b."P_CompScrap"/b."P_LOTSIZE"*t.P_REC_QTY as decimal(16,3)) as "P_REC_ScpQTY",  --Recursive Quantity  
  
  
  
  
    b."C_ASSMB",  
    b."C_CostEstimateNo", -- Child CostEstimateID      
    b."C_CostingType",  
    b."C_POSTDATE", -- Child CostingDate  
    b."C_CostingVers",  
    b."C_ValuaVariant",  
    t."P_MATERIAL" as "G_MATERIAL",  
    t."P_PLANT" as "G_PLANT",  
    cast(t.P_QTY AS decimal(16,3)) as "G_QTY",  
    t."MATERIAL" as "MATERIL",  
    t."PLANT" as "PLANT",  
    t."LOTSIZE" as "LOTSIZE",  
    t."CostLotUnit" as "CostLotUnit", -- -- Top level Costing Lot Unit  
    t."CostingDate" as "CostingDate", -- -- Top level Costing Date  
    t."CostingStatus" as "CostingStatus", -- -- Top level Costing Satus      
    t."CostingVariant" as "CostingVariant", -- -- Top level Costing Variant  
    t."FiscalYear" as "FiscalYear",  
    t."ValidFrom" as "ValidFrom",  
    t."ValidTo" as "ValidTo"  
  
    FROM   
  BOMtree t join [BI_PROD_POST_SAP].[ODS].[SAPCostComp_RAW_PACK] b on t."C_ASSMB" = 'X' and   
  t.C_CostEstimateNo = b.P_CostEstimateNo and   
  t.C_POSTDATE = b.P_POSTDATE and  
  t."C_CostingType" = b."P_CostingType" and     
     t."C_CostingVers" = b."P_CostingVers"and  
     t."C_ValuaVariant" = b."P_ValuaVariant"  where t.level <= 11  
    
)  
  
--select * from BOMtree --order by level,P_COMP  
  
  
  
  
  
  
--insert into ods table  
SELECT [LoadDateTime],  
  [Level]  
      ,[HIER] AS Hierarchy  
      ,[P_CostEstimateNo] AS CompCostEstimateNo  
      ,[P_CostingType] AS CompCostingType  
      ,[P_POSTDATE] AS CompPostingDate  
      ,[P_CostingVers] AS CompCostingVers  
      ,[P_ValuaVariant] AS CompValuVar  
      ,[P_AdditiveCosts] AS CompAdditiveCost  
      ,[P_ItemNumber] AS CompItemNum  
      ,[P_CItemCate] AS CompItemCate  
      ,[P_ActType] AS CompActType  
      ,[P_CostCenter] AS CompCostcenter  
      ,[P_CostComp] AS CompCostComp  
      ,[P_MATERIAL] AS Component  
      ,[P_PLANT] AS CompPlant  
      ,[P_LOTSIZE] AS CompLotSize  
      ,[P_LOTUNIT] AS CompLotUnit  
      ,[P_VAL] AS CompOriCost  
      ,[P_FVAL] AS CompOriFCost  
      ,[P_QTY] AS CompOriQty  
      ,[P_PRICE] AS CompPrice  
      ,[P_F_PRICE] AS CompFPrice  
      ,[P_PR_UNT_QTY] AS CompQtyPriceUnit  
      ,[P_PR_UNT] AS CompPriceUnit  
      ,[P_REC_VAL] AS CompCost --key measure  
      ,[P_REC_FVAL] AS CompFCost --key measure  
      ,[P_REC_QTY] AS CompQty --key measure  
      ,[P_UNIT] AS CompUnit  
    --,"P_REC_ScpVAL" as ScrapVal  --added on 01/06/23 Recursive Scrap Value   
    --,"P_REC_ScpQTY" as ScrapQty  -- added on 01/06/23 Recursive Scrap Quantity  
      ,[C_ASSMB] AS CompAssmb  
      ,[C_CostEstimateNo] AS NextCostEstimateNo  
      ,[C_CostingType]  AS NextCostingType  
      ,[C_POSTDATE]  AS NextPOSTDATE  
      ,[C_CostingVers]  AS NextCostingVers  
      ,[C_ValuaVariant]  AS NextValuaVariant  
      ,[G_MATERIAL] AS ParentMaterial  
      ,[G_PLANT] AS ParentPlant  
      ,[G_QTY] AS ParentQty  
      ,[MATERIAL] --AS Product  
      ,[PLANT] AS Plant  
      ,[LOTSIZE] AS LotSize  
      ,[CostLotUnit]  
      ,[CostingDate]  
      ,[CostingStatus]  
      ,[CostingVariant]  
 ,FiscalYear  
 ,ValidFrom  
 ,ValidTo  
    INTO  [DIM].[SAPCostComponent_RAW_PACK]  
    FROM BOMtree  
END  
GO
