USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [FACT].[usp_MLO_CMT_F_tobe decom]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










--exec [FACT].[usp_MLO_CMT_F]

CREATE   Proc [FACT].[usp_MLO_CMT_F_tobe decom]
as
begin
declare @fiscalyear nvarchar(4);
declare @fiscalperiod INT;
declare @MBRSnapshotName nvarchar(10);
declare @MBRSnapshotNo nvarchar(10);
set @fiscalyear = (select FiscalYear from DIM.CalendarDate where CalendarDayOffset = 0);
set @fiscalperiod = (select fiscalperiod from DIM.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotName = (select  'F'+right(FiscalPeriodName,2)+'.'+LEFT(FiscalPeriodName,3) from DIM.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotNo = (select MAX(MBRSnapshotNo) from ODS.MLO_QFWSnapshot);

truncate table [FACT].[MLO_CMT];


with 

CMT as (

SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedNetInvoiceValue - CommittedInvoiceDiscount) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0001' as COPARowNo
      ,'Gross Sales Value' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo  = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 and  (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
 
 group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode
 
 union

--oid 
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002010' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedInvoiceDiscount) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0002' as COPARowNo
      ,'Invoice Discounte' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 

  group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode

union

--DTD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002040' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedTermsDiscount) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0005' as COPARowNo
      ,'Deferred Terms' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
  group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode

 union

--DCD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002030' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedCaseDiscount) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0006' as COPARowNo
      ,'Deferred Case' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod)
 group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode

  union

--DOD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedOtherDiscount) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0007' as COPARowNo
      ,'Deferred Other' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
  group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode
   union

--COGS
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedCOGS) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0012' as COPARowNo
      ,'COGS Raw Material' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
  group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode
   union

--ING NSV
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedNetInvoiceValue) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0021' as COPARowNo
      ,'Net Sales Ingredient' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo = p.ProductNo
 where  c.Channel = 'Ingredients'
 and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
  group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode
 
    union

--ING COGS
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'CMT' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,sum(CommittedCOGS) as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0022' as COPARowNo
      ,'COGS Ingredients' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  from FACT.CommittedSales cs
	  left join DIM.Customer c on cs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on cs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on cs.ProductNo = p.ProductNo
 where  c.Channel = 'Ingredients'
 and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
  group by   [LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode
 
 
 
 
 
 
 
 



),



RNO as (

SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocatedgsv as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0001' as COPARowNo
      ,'Gross Sales Value' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'

 union

--oid 
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002010' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocatedoid as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0002' as COPARowNo
      ,'Invoice Discounte' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'

union

--DTD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002040' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocateddtd as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0005' as COPARowNo
      ,'Deferred Terms' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'

 union

--DCD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002030' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocateddcd as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0006' as COPARowNo
      ,'Deferred Case' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot

 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'

  union

--DOD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocateddod as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0007' as COPARowNo
      ,'Deferred Other' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'


   union

--COGS
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocatedcogs as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0012' as COPARowNo
      ,'COGS Raw Material' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'


   union

--ING NSV
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocatedgsv - allocatedoid as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0021' as COPARowNo
      ,'Net Sales Ingredient' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel = 'Ingredients'
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'

    union

--ING COGS
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,left(fiscalyearperiod,4) as [FiscalYear]
      ,right(fiscalyearperiod,2) as [FiscalPeriod]
      ,allocatedcogs as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0022' as COPARowNo
      ,'COGS Ingredients' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null asCC_Cycle
	  ,null asCC_Account
	  ,null asCC_CycleTxt
	  ,Plant
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel = 'Ingredients'
 and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) and MBRSnapshotNo = '000'
 
 
 
 
 
 
 
 
 
 
 
 
 
 )

,



ACT_AND_QFW as (SELECT [LoadDateTime]
		,'ACT' as [ForecastRevision]
      --,[MonthStamp]
      --,[CompanyCode]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNumber] as [AccountNo]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[ValueinLocalCurrency]
      --,[ValueinGroupCurrency]
      ,[CurrencyKey] as [Currency]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      ,[COPAGLaccTxt]
      ,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      ,[COPACycleSeq]
      ,[COPACycTxt]
      ,[COPAFORM]
      ,[COPARowNo]
      ,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
	  ,Plant
  FROM [BI_PROD_POST_SAP].[FACT].[MLO_Actual] 

  WHERE (FiscalYear = @fiscalyear AND fiscalperiod <  @fiscalperiod)
   OR (FiscalYear = CASE WHEN @fiscalperiod = 1 THEN @fiscalyear - 1 END)
      
union


SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      [LoadDateTime]
      ,[ForecastRevision]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[ForecastPeriodAmount] as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,[Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,[CYCLE] as COPACycle
      ,[ASACC] as COPAAccount  
      ,[GL_ACC] as COPAGLAcc
      ,[GL_TXT] as COPAGLaccTxt
      ,[DESCRIPT] as COPAAccTxt
      ,[COPA_SUB_GROUP] as COPASubGrp
      ,[MAP_TYPE] as COPAMAPType
      ,[CYC_SEQ] as COPACycleSeq 
      ,[CYC_TXT] as COPACycTxt
      --,[count] as count	
      ,[FORM] as COPAFORM	
      ,[FROW] as COPARowNo
      ,[TXTMT] as COPANodeTxt
      ,[CostCentre_KE30] as COPACostcentre
	  ,CC_CYC_PERC as CC_Percentage
	  ,CC_Cycle
	  ,CC_Account
	  ,CC_CycleTxt
	  ,null as Plant
  FROM [BI_PROD_POST_SAP].[ODS].[MLO_QFW_V]
    WHERE (FiscalYear = @fiscalyear AND fiscalperiod >=  @fiscalperiod) and MBRSnapshotNo = @MBRSnapshotNo
	
	
union 
select * from RNO 
union 
select * from CMT
	)


insert into [FACT].[MLO_CMT] 
select * from  ACT_AND_QFW


end;
GO
