USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [FACT].[BOM_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================  
-- Author:  <Bruce Cao>  
-- Create date: <Create Date,,>  
-- Description: Load data into Fact.BOM, basic data cleaning, add a assambly flag
--V001 Initial  
--V002 07/05/24 
-- =============================================  
CREATE PROCEDURE [FACT].[BOM_F]  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  

IF OBJECT_ID('FACT.BOM', 'U') IS NOT NULL  
 drop table [FACT].[BOM];

--Declare Var

DECLARE @KeyDate Date;
DECLARE @QTYDiffTolerance float;
DECLARE @NonScrapDiffTolerance float;
DECLARE @MixScrapDiffTolerance float;
DECLARE @QtyChgTolerance float;
SET @KeyDate = GETDATE();
set	@QTYDiffTolerance = 0.01; -- 1% cost qty vs prd qty
set @QtyChgTolerance = 0.05; --5% - previous ver vs current ver
set	@NOnScrapDiffTolerance = 1; --1% cost scrap vs prd scrap
set	@MixScrapDiffTolerance = 0.01; --1% mix cost scrap vs prd scrap


--Main logic start
WITH 
CompConsumption as (SELECT
       [ProductionOrderNo]
      ,[ActualStartDate]
      ,po.[ItemNo]
   ,sum([DeliveredQuantity]) as quantity
  FROM [Bulla_BI_Prod].[FACT].[ProductionOrder] po left join [BI_PROD_POST_SAP].ODS.item i on po.ItemNo = i.ItemNo
  where actualstartdate>= DATEADD(DAY,-90,getdate()) --last 90 days median
  and i.ItemGroup in ('20','21') 
   group by  [ProductionOrderNo],[ActualStartDate],po.[ItemNo] ),
CompConsumption_validate as   
(select *,ROW_NUMBER() OVER (PARTITION BY ItemNo ORDER BY [Quantity]) AS RowNumber from CompConsumption where quantity<>0),
--select * from CompConsumption_validate 
  -- First, calculate the median for each material
MedianLotsize AS (
    SELECT
        distinct ItemNo,
        PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY quantity ) OVER (PARTITION BY ItemNo) AS MedianValue
    FROM
        CompConsumption where quantity<>0 --group by MaterialNo
)
--select * from MedianLotsize 
,
Prodbom AS (
    SELECT 
        material, 
		Matsignal,
        plant,
        component, 
		compgroupno,
		BOMBaseQuantity,
		max(ComponentScrap) as ComponentScrap,
        ROUND(SUM(CASE WHEN FixedQuantity<>'X' then [ComponentQuantity]  * (100 + ComponentScrap) / 100 end), 3) AS Componentquantity, --inc.scrap	 --exclude fixedquantity item for purge
		SUM(CASE WHEN FixedQuantity<>'X' then [ComponentQuantity]  * (100 + ComponentScrap) / 100 / BOMBaseQuantity end) AS CompQtyPerBOMBase, --inc.scrap per base --exclude fixedquantity item for purge
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString = 'USAGE' THEN [ComponentQuantity]  END), 6) AS MixUsageQuantity,
		SUM(CASE WHEN compgroupno in (20,21) and SortString = 'USAGE' THEN cast([ComponentQuantity] * (100 + ComponentScrap) / 100 as float) END) AS MixUsageQuantityIncScrap,
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString <> 'USAGE' and SortString <> '' THEN [ComponentQuantity]  END), 6) AS MixOtherQuantity,
		SUM(CASE WHEN compgroupno in (20,21) and SortString <> 'USAGE' and SortString <> '' THEN cast([ComponentQuantity] * (100 + ComponentScrap) / 100 as float) END) AS MixOtherQuantityIncScrap,
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString = 'PURGE' THEN [ComponentQuantity]  END), 6) AS MixPURGEQTY,
		count(1) as itemcount --multiple lines item?
    FROM 
        [BI_PROD_POST_SAP].[ODS].[BOM] 
    WHERE 
        [ValidFrom] <= @KeyDate 
        AND [ValidTo] >= @KeyDate
        AND BOM_USAGE = 1
		
    GROUP BY 
        material,Matsignal, component,compgroupno, plant,BOMBaseQuantity
)
--select * from prodbom where material = '4067'
,
CostBOM AS (
    SELECT 
        material, 
		Matsignal,
        plant,
        component, 
		compgroupno,
		BOMBaseQuantity,
		max(ComponentScrap) as ComponentScrap,
        ROUND(SUM([ComponentQuantity]  * (100 + ComponentScrap) / 100), 3) AS ComponentQuantity, --inc.scrap	
		SUM([ComponentQuantity]  * (100 + ComponentScrap) / 100)/ BOMBaseQuantity AS CompQtyPerBOMBase, --inc.scrap
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString = 'USAGE' THEN [ComponentQuantity]  END), 6) AS MixUsageQuantity,
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString = 'USAGE' THEN [ComponentQuantity] * (100 + ComponentScrap) / 100 END), 6) AS MixUsageQuantityIncScrap,
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString <> 'USAGE' and SortString <> '' THEN [ComponentQuantity]  END), 6) AS MixOtherQuantity,
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString <> 'USAGE' and SortString <> '' THEN [ComponentQuantity] * (100 + ComponentScrap) / 100 END), 6) AS MixOtherQuantityIncScrap,
		ROUND(SUM(CASE WHEN compgroupno in (20,21) and SortString = 'PURGE' THEN [ComponentQuantity]  END), 6) AS MixPURGEQTY,
		count(1) as itemcount
    FROM 
        [BI_PROD_POST_SAP].[ODS].[BOM] 
    WHERE 
        [ValidFrom] <= @KeyDate 
        AND [ValidTo] >= @KeyDate
        AND BOM_USAGE = 6		
    GROUP BY 
       material,Matsignal, component,compgroupno, plant,BOMBaseQuantity
),

CompChange as 

(--get last 4 times change --may need recursive loop if needs more
--DECLARE @KeyDate Date;SET @KeyDate = GETDATE();
select a.Material,a.Plant,a.BOM_USAGE,a.BOM_NUM,a.BOM_ITM,a.BOM_CNT,a.ValidFrom,a.ValidTo,a.ChangeNo,a.ChangeNoTo,a.PredecessorNode,a.Previtemcounter
,a.COMPONENT,c.COMPONENT as PreComp_1,c1.COMPONENT as PreComp_2,c2.COMPONENT as PreComp_3,c3.COMPONENT as PreComp_4 from ODS.BOM a 
left join ODS.BOM c 
on --a.Material = c.material 
--and a.Plant = c.plant
a.ChangeNo = c.ChangeNoTo
and a.BOM_NUM = c.BOM_NUM
and a.PredecessorNode = c.BOM_ITM
and a.Previtemcounter =  c.BOM_CNT
and a.ChangeNo<>''
and a.COMPONENT <> c.COMPONENT
left join ODS.BOM c1 
on 
c.ChangeNo = c1.ChangeNoTo
and c.BOM_NUM = c1.BOM_NUM
and c.PredecessorNode = c1.BOM_ITM
and c.Previtemcounter =  c1.BOM_CNT
and c.ChangeNo<>''
and c.COMPONENT <> c1.COMPONENT

left join ODS.BOM c2 
on 
c1.ChangeNo = c2.ChangeNoTo
and c1.BOM_NUM = c2.BOM_NUM
and c1.PredecessorNode = c2.BOM_ITM
and c1.Previtemcounter =  c2.BOM_CNT
and c1.ChangeNo<>''
and c1.COMPONENT <> c2.COMPONENT

left join ODS.BOM c3 
on 
c2.ChangeNo = c3.ChangeNoTo
and c2.BOM_NUM = c3.BOM_NUM
and c2.PredecessorNode = c3.BOM_ITM
and c2.Previtemcounter =  c3.BOM_CNT
and c2.ChangeNo<>''
and c2.COMPONENT <> c3.COMPONENT

Where  c.COMPONENT <>''
and a.[ValidFrom] <= @KeyDate 
AND a.[ValidTo] >= @KeyDate
and a.matsignal<>'Obsolete' 
and a.MatType = 'Finished Product'
 --and a.ChangeNo<>''
 --order by a.Material,a.Plant,a.ValidTo
 ),

--PRD ve Cost
Diff as (SELECT 
    COALESCE(prodbom.material, CostBOM.material) AS Material,
    COALESCE(prodbom.plant, CostBOM.plant) AS Plant,
    COALESCE(prodbom.component, CostBOM.component) AS Component,
	COALESCE(prodbom.compgroupno, CostBOM.compgroupno) AS Compgroupno,
	Prodbom.BOMBaseQuantity AS ProdBOMBaseQuantity,
	CostBOM.BOMBaseQuantity AS CostBOMBaseQuantity,
    Prodbom.MixUsageQuantityIncScrap AS TotlProdMixUsageComsumption,  --
    CostBOM.componentquantity AS TotlCostCompComsumption,
	Prodbom.CompQtyPerBOMBase AS Prodbom_Qty_PerBOMBase, 
    CostBOM.CompQtyPerBOMBase AS Costbom_Qty_PerBOMBase,
	Prodbom.ComponentScrap as Prodbom_ComponentScrap,
	Costbom.ComponentScrap as Costbom_ComponentScrap,
	prodbom.itemcount as Prodbom_Compcounter,
	CostBOM.itemcount as Costbom_Compcounter,
    prodbom.CompQtyPerBOMBase - CostBOM.CompQtyPerBOMBase AS Quantity_Difference_PerBOMBase,
	(prodbom.CompQtyPerBOMBase - CostBOM.CompQtyPerBOMBase)/nullif(coalesce(CostBOM.CompQtyPerBOMBase,prodbom.CompQtyPerBOMBase),0) AS Quantity_Diff_Rate,	
	case when abs((prodbom.CompQtyPerBOMBase - CostBOM.CompQtyPerBOMBase)/nullif(coalesce(CostBOM.CompQtyPerBOMBase,prodbom.CompQtyPerBOMBase),0))> 0  then 'X' end as Qty_diff_flag,
	case when abs((prodbom.CompQtyPerBOMBase - CostBOM.CompQtyPerBOMBase)/nullif(coalesce(CostBOM.CompQtyPerBOMBase,prodbom.CompQtyPerBOMBase),0))>@QTYDiffTolerance then 'X' end as Qty_diff_tolerance_flag,
	case when prodbom.BOMBaseQuantity  <> CostBOM.BOMBaseQuantity then 'X' end as BOM_BASE_Diff_Flag,
	CASE WHEN CostBOM.compgroupno not in (20,21) and abs(CostBOM.ComponentScrap-Prodbom.ComponentScrap)>@NOnScrapDiffTolerance then 'X' end as NonMixScrapRateDiff_flag,
	CASE WHEN CostBOM.compgroupno not in (20,21) then Prodbom.ComponentScrap - CostBOM.ComponentScrap end as NonMixScrapRateDiff,
	CASE WHEN CostBOM.compgroupno in (20,21) then CostBOM.MixUsageQuantity end as CostBOM_MixUsageQuantity,
	CASE WHEN CostBOM.compgroupno in (20,21) then CostBOM.MixUsageQuantityIncScrap end as CostBOM_MixUsageQuantityIncScrap,
	CASE WHEN CostBOM.compgroupno in (20,21) then CostBOM.MixOtherQuantity end as CostBOM_MixOtherQuantity,
	CASE WHEN CostBOM.compgroupno in (20,21) then CostBOM.MixOtherQuantityIncScrap end as CostBOM_MIXOtherQuantityIncScrap,
	CASE WHEN CostBOM.compgroupno in (20,21) then cast(CostBOM.MixOtherQuantityIncScrap/NULLIF(CostBOM.MixUsageQuantityIncScrap,0) AS float) end as MixCostUsageQuantityTotScrapRate,
	CASE --WHEN CostBOM.componentquantity = NULL then 'CostBOMmissing'
	when prodbom.componentquantity IS null then 'ProdBOMmissing'
	when CostBOM.componentquantity IS null  then 'CostBOMmissing'	
	end as CompMissing,
	prodbom.MixPURGEQTY as MixProdPurgeQty,
	mls.MedianValue as MixProdMedianLotSize,
	prodbom.MixPURGEQTY/nullif(mls.MedianValue,0)as MixProdPurgeRate, --Semi level
	CASE WHEN prodBOM.compgroupno in (20,21) then prodbom.MixUsageQuantity end as MixProdUsageQuantity,
	CASE WHEN prodBOM.compgroupno in (20,21) then prodbom.MixUsageQuantityIncScrap end as MixProdUsageQuantityIncScrap
	--case when (CostBOM.compgroupno in (20,21) and (CostBOM.OtherQuantityIncScrap-CostBOM.OtherQuantity<>0 or CostBOM.UsageQuantity-CostBOM.UsageQuantityIncScrap<>0)) then 'X' end as CostBom_NoneZeroScrap
FROM 
    prodbom
Full OUTER JOIN 
    CostBOM ON prodbom.material = CostBOM.material 
             AND prodbom.component = CostBOM.component 
             AND prodbom.plant = CostBOM.plant
left join MedianLotsize mls on prodbom.component = mls.ItemNo
--WHERE 
--    prodbom.component IS NULL OR CostBOM.component IS NULL or abs(prodbom.componentquantity - CostBOM.componentquantity) > 0
),

--select * from diff

--select material,plant,component,compgroupno,CompMissing,prodbom_qty_PerBOMBase,costbom_qty_PerBOMBase from diff where CompMissing is not null order by material,plant,component,compgroupno
--select * from diff where material = 1004 and plant = 3400 and component = 206064
--Output into FACT.BOM
CostingBOMreplacement as (
select d.material,d.Plant,d.Component,d.CompMissing,c.COMPONENT as LatestCompnent,
'CostCompUpdReqrd' as CompMissingReason
from Diff d 
left join CompChange c on d.Material = c.Material 
and d.Plant = c.Plant 
and d.Component in (c.component,c.PreComp_1,c.PreComp_2,c.PreComp_3,c.PreComp_4 )
where 
d.CompMissing<>''
and c.COMPONENT<>''),

--select * from CostingBOMreplacement

--get everthing together
alldata as (select a.*,
	case when a.compgroupno in (20,21) then 'X' end AS MIXFlag,
	b.ProdBOMBaseQuantity,
	b.CostBOMBaseQuantity,
    b.TotlProdMixUsageComsumption, 
    b.TotlCostCompComsumption,
	b.Prodbom_Qty_PerBOMBase, 
    b.Costbom_Qty_PerBOMBase,
    b.Quantity_Difference_PerBOMBase,
	b.Quantity_Diff_Rate,	
	b.Qty_diff_flag,
	b.Qty_Diff_tolerance_flag,
	b.BOM_BASE_Diff_Flag,
	b.CostBOM_MixUsageQuantity,
	b.CostBOM_MixUsageQuantityIncScrap,
	b.CostBOM_MixOtherQuantity,
	b.CostBOM_MIXOtherQuantityIncScrap,
	b.Costbom_Compcounter,
	b.Prodbom_Compcounter,
	b.NonMixScrapRateDiff,
	b.NonMixScrapRateDiff_flag,
	b.Prodbom_ComponentScrap,
	b.Costbom_ComponentScrap,	
	b.CompMissing,
 case when c.COMPONENT <> '' and a.COMPONENT <> c.COMPONENT then 'X' end as ComponentChangeFlg,
 case when c.COMPONENT <> '' and a.COMPONENT = c.COMPONENT and a.ComponentQuantity/a.BOMBaseQuantity <> c.ComponentQuantity/c.BOMBaseQuantity then 'X' end as CompQtyChangeFlg,
 case when c.COMPONENT <> '' and a.COMPONENT = c.COMPONENT then (a.ComponentQuantity/a.BOMBaseQuantity - c.ComponentQuantity/c.BOMBaseQuantity)/
 nullif(c.ComponentQuantity/c.BOMBaseQuantity,0) end as CompQtyChangeRate,
 case when c.COMPONENT <> '' and a.COMPONENT = c.COMPONENT and abs((a.ComponentQuantity/a.BOMBaseQuantity - c.ComponentQuantity/c.BOMBaseQuantity)/
 nullif(c.ComponentQuantity/c.BOMBaseQuantity,0))>=@QtyChgTolerance then 'X' end as CompQtyChangeAlert,
 case when c.COMPONENT <> '' and a.BOMBaseQuantity <> c.BOMBaseQuantity then 'X' end as BOMBaseQuantityChangeFlg,
 case when c.COMPONENT <> '' and a.COMPONENT = c.COMPONENT and a.ComponentScrap <> c.ComponentScrap then 'X' end as ComponentScrapChangeFlg,
 c.COMPONENT as Precomponent, 
 c.ComponentQuantity as PreComponentQuantity,
 c.ComponentUoM as PreComponentUoM ,
 c.BOMBaseQuantity as PreBOMBaseQuantity ,
 c.ComponentScrap as PreComponentScrap ,
case when a.compgroupno in (20,21) and a.BOM_USAGE = 1  and a.ComponentScrap <> MixCostUsageQuantityTotScrapRate then 'X' end as MixScrapdiff_flag, --ProdBOM has differnt scrap rate
--case when a.compgroupno in (20,21) and a.BOM_USAGE = 1  and abs(a.ComponentScrap-MixCostUsageQuantityTotScrapRate) >= @MixScrapDiffTolerance then 'X' end as MixScrapdiffTolerance_flag, --ProdBOM has differnt scrap rate in ScrapDiffTolerance
case when a.compgroupno in (20,21) and a.BOM_USAGE = 1  and a.ComponentScrap <> MixCostUsageQuantityTotScrapRate then a.ComponentScrap - MixCostUsageQuantityTotScrapRate end as Scrapdiff,
case when a.compgroupno in (20,21) and a.BOM_USAGE = 6 and a.SortString <> '' and  a.ComponentScrap <> 0 then 'X' end as NonezeroMixScrap,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixProdPurgeQty end as MixProdPurgeQty,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixProdMedianLotSize end as MixProdMedianLotSize,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixProdPurgeRate end as MixProdSemiPurgeRate,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixProdUsageQuantity end as MixProdUsageQuantity,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixProdUsageQuantityIncScrap end as MixProdUsageQuantityIncUsageScrap,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then cast((b.MixProdUsageQuantityIncScrap  - b.MixProdUsageQuantity) / b.MixProdUsageQuantity AS decimal(13,6)) end as MixProdUsageScrapRate,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixProdUsageQuantityIncScrap * coalesce(b.MixProdPurgeRate,0) / b.MixProdUsageQuantity end as MixProdPurgeScrapRate,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixProdUsageQuantityIncScrap +  b.MixProdUsageQuantityIncScrap * coalesce(b.MixProdPurgeRate,0) end as MixProdUsageQuantityIncAllScrap,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then  (b.MixProdUsageQuantityIncScrap - b.MixProdUsageQuantity + b.MixProdUsageQuantityIncScrap * coalesce(b.MixProdPurgeRate,0)) / b.MixProdUsageQuantity end as MixProdUsageNPurgeScrapRate,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then  (b.MixProdUsageQuantityIncScrap - b.MixProdUsageQuantity + b.MixProdUsageQuantityIncScrap * coalesce(b.MixProdPurgeRate,0)) / b.MixProdUsageQuantity end - b.MixCostUsageQuantityTotScrapRate as MixUsageScrapRateDiff,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' and  abs((b.MixProdUsageQuantityIncScrap - b.MixProdUsageQuantity + b.MixProdUsageQuantityIncScrap * coalesce(b.MixProdPurgeRate,0)) / b.MixProdUsageQuantity - b.MixCostUsageQuantityTotScrapRate) >= @MixScrapDiffTolerance then 'X' end  as MixUsageScrapRateDiffFlag,
case when a.compgroupno in (20,21) and a.SortString = 'USAGE' then b.MixCostUsageQuantityTotScrapRate end as MixCostUsageScrapRate,
case when a.[ValidFrom] <= @KeyDate  AND a.[ValidTo] >= @KeyDate then 'X' end as ActiveBOMFlag,
crp.CompMissingReason,
crp.LatestCompnent
--into FACT.BOM
from ODS.BOM a left join diff b on a.Material = b.material and a.Plant = b.plant and a.COMPONENT = b.component   
left join ODS.BOM c on a.Material = c.material and a.Plant = c.plant and a.ChangeNo = c.ChangeNoTo and a.PredecessorNode = c.BOM_ITM and a.Previtemcounter =  c.BOM_CNT and a.ChangeNo<>''  
left join CostingBOMreplacement crp on a.Material = crp.material and a.Plant = crp.Plant and a.COMPONENT = crp.Component )

select a.*,p.ItemDescription as MaterialDesc,i.ItemDescription as CompDesc,--i.ItemTypeName as CompType,
concat(
MAX(case when ActiveBOMFlag = 'X' and MixUsageScrapRateDiffFlag = 'X' then 'MixScrapDiff,' end) over (partition by a.material,a.plant)
,MAX(case when ActiveBOMFlag = 'X' and BOM_BASE_Diff_Flag = 'X' then 'BOM_BaseDiff,' end) over (partition by a.material,a.plant)
,MAX(case when ActiveBOMFlag = 'X' and Qty_Diff_tolerance_flag = 'X' then 'QtyDiff,' end) over (partition by a.material,a.plant)
,MAX(case when ActiveBOMFlag = 'X' and CompMissing <> '' then CompMissing end) over (partition by a.material,a.plant)
) as Mat_error into FACT.BOM from alldata a left join ODS.item p on a.Material = p.ItemNo left join ODS.Item i on a.COMPONENT = i.ItemNo --don't need it in tabular
--WHERE         a.[ValidFrom] <= @KeyDate  AND a.[ValidTo] >= @KeyDate

--update 

--select distinct Material,Plant,COMPONENT from FACT.BOM where BOM_USAGE = 1 and Scrapdiff_flag = 'X'
END  
GO
