USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [FACT].[usp_MLO_BUD_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









--exec [Fact].[usp_MLO_BUD_F]

CREATE   Proc [FACT].[usp_MLO_BUD_F]
as
begin
declare @fiscalyear nvarchar(4);
declare @fiscalperiod INT;
declare @MBRSnapshotName nvarchar(10);
declare @MBRSnapshotNo nvarchar(10);
set @fiscalyear = (select left(MAX(MBRSnapshotNo),4) from ODS.MLO_QFWSnapshot);
set @fiscalperiod = (select right(MAX(MBRSnapshotNo),2) from ODS.MLO_QFWSnapshot);
set @MBRSnapshotName = (select  'F'+right(FiscalPeriodName,2)+'.'+LEFT(FiscalPeriodName,3) from DIM.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotNo = (select MAX(MBRSnapshotNo) from ODS.MLO_QFWSnapshot);
set @fiscalyear = 2022
truncate table [FACT].[MLO_BUD];

with 

SelectPostingCosts as
  (SELECT * from [Bulla_BI_Prod].sap.ZXC_POSTINGCOSTS x 
  where  x.Version = 'BUD'  and
  (COBusinessTran = 'RKP2' or (COBusinessTran in ('PAPL','COIN') and CostElement in ('41002500','50309000')))
  ) 
,   
SelectPostingCostsUnpivot AS
(
  
  SELECT u.loaddatetime,u.Version,substring(u.ObjectNnumber,13,4)  as CostCentre     ,u.Costelement,u.DebitCreditIndicator,u.FiscalYear
  , CAST(right(u.period,3) as int) as FiscalPeriod, u.PeriodAmount
from  SelectPostingCosts  s 
  
unpivot
(
  PeriodAmount
  for period in (wkg001, wkg002, wkg003,wkg004, wkg005, wkg006,wkg007, wkg008, wkg009,wkg010, wkg011, wkg012)
) u
 
),
--select * from SelectPostingCostsUnpivot
--to be continue 18/06/25
SalesBudget as (

SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'BUD' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetNetInvoiceValue - BudgetInvoiceDiscount) as BudgetPeriodAmount
      ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	  --,null as [UnitOfMeasureForValuationQuantity]
	  --,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0001' as COPARowNo
      ,'Gross Sales Value' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel <> 'Ingredients'
 --and  (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
 and cw.FiscalYear >= @fiscalyear

 
 group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category
 
 union

--oid 
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002010' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetInvoiceDiscount) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	  --,null as [UnitOfMeasureForValuationQuantity]
	  --,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0002' as COPARowNo
      ,'Invoice Discounte' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
 and cw.FiscalYear >= @fiscalyear
  group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category

union

--DTD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002040' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetTermsDiscount) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	 -- ,null as [UnitOfMeasureForValuationQuantity]
	  --,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0005' as COPARowNo
      ,'Deferred Terms' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
 and cw.FiscalYear >= @fiscalyear
  group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category

 union

--DCD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002030' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetCaseDiscount) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	  --,null as [UnitOfMeasureForValuationQuantity]
	  --,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0006' as COPARowNo
      ,'Deferred Case' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod)
 and cw.FiscalYear >= @fiscalyear
 group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category
  union

--DOD
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetOtherDiscount) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	 -- ,null as [UnitOfMeasureForValuationQuantity]
	 -- ,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0007' as COPARowNo
      ,'Deferred Other' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
 and cw.FiscalYear >= @fiscalyear
  group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category
   union

--COGS
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetCOGS) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	 -- ,null as [UnitOfMeasureForValuationQuantity]
	 -- ,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0012' as COPARowNo
      ,'COGS Raw Material' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel in ('Commercial','Retail Grocery','International','Other')
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
 and cw.FiscalYear >= @fiscalyear
  group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category
   union

--ING NSV
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetNetInvoiceValue) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	 -- ,null as [UnitOfMeasureForValuationQuantity]
	 -- ,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0021' as COPARowNo
      ,'Net Sales Ingredient' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel = 'Ingredients'
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
 and cw.FiscalYear >= @fiscalyear
  group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category
 
    union

--ING COGS
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetCOGS) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	  --,null as [UnitOfMeasureForValuationQuantity]
	 -- ,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0022' as COPARowNo
      ,'COGS Ingredients' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  c.Channel = 'Ingredients'
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
  and cw.FiscalYear >= @fiscalyear
  group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category
 
   union

--FRT
SELECT --[MBRSnapshotNo]
      --,[MBRSnapshotName]
      bs.[LoadDateTime]
      ,'CMT' as [BudgetRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'52591000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      ,cw.FiscalYear as [FiscalYear]
      ,cw.FiscalPeriod as [FiscalPeriod]
      ,-sum(BudgetFreightOutbound) as BudgetPeriodAmount
     ,0 as [BudgetYTDAmount]
      ,'AUD' as [Currency]
	 -- ,null as [UnitOfMeasureForValuationQuantity]
	 -- ,0 as [ValuationQuantity]
      ,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RDM' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0027' as COPARowNo
      ,'Outbound Freight' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,p.PreferredManufacturingSiteCode as Plant
	  ,p.Category
	  from FACT.BudgetSales bs
	  left join DIM.Customer c on bs.CustomerNo = c.CustomerNo 
	  left join DIM.FiscalWeekCalendar cw on bs.FiscalYearWeekIntKey = cw.FiscalYearWeekIntKey 
	  left join DIM.PRODUCT p on bs.ProductNo = p.ProductNo
 where  --c.Channel in ('Commercial','Retail Grocery','International','Other')
 --and (cw.FiscalYear = @fiscalyear AND cw.FiscalPeriod >=  @fiscalperiod) 
cw.FiscalYear >= @fiscalyear
  group by   bs.[LoadDateTime]
      ,cw.FiscalYear 
      ,cw.FiscalPeriod 
	  ,p.PreferredManufacturingSiteCode 
	  ,p.Category
 

)

--select * from SalesBudget 

--RNO as (

--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'41000000' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocatedgsv as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	  --,null as [UnitOfMeasureForValuationQuantity]
--	 -- ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0001' as COPARowNo
--      ,'Gross Sales Value' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
	   
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel in ('Commercial','Retail Grocery','International')
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod)
--   and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
-- and MBRSnapshotNo = @MBRSnapshotNo




-- union

----oid 
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'44002010' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocatedoid as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	  --,null as [UnitOfMeasureForValuationQuantity]
--	 -- ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0002' as COPARowNo
--      ,'Invoice Discounte' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel in ('Commercial','Retail Grocery','International')
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod)
-- and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
-- and MBRSnapshotNo = @MBRSnapshotNo

--union

----DTD
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'44002040' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocateddtd as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	 -- ,null as [UnitOfMeasureForValuationQuantity]
--	 -- ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0005' as COPARowNo
--      ,'Deferred Terms' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel in ('Commercial','Retail Grocery','International')
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) 
-- and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
--  and MBRSnapshotNo = @MBRSnapshotNo

-- union

----DCD
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'44002030' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocateddcd as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	 -- ,null as [UnitOfMeasureForValuationQuantity]
--	 -- ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0006' as COPARowNo
--      ,'Deferred Case' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot

-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel in ('Commercial','Retail Grocery','International')
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) 
-- and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
--  and MBRSnapshotNo = @MBRSnapshotNo

--  union

----DOD
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'44002000' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocateddod as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	  --,null as [UnitOfMeasureForValuationQuantity]
--	 -- ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0007' as COPARowNo
--      ,'Deferred Other' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel in ('Commercial','Retail Grocery','International')
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) 
-- and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
--  and MBRSnapshotNo = @MBRSnapshotNo


--   union

----COGS
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'50301000' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocatedcogs as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	--  ,null as [UnitOfMeasureForValuationQuantity]
--	--  ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0012' as COPARowNo
--      ,'COGS Raw Material' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel in ('Commercial','Retail Grocery','International')
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod)
-- and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
-- and MBRSnapshotNo = @MBRSnapshotNo


--   union

----ING NSV
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'41000000' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocatedgsv - allocatedoid as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	 -- ,null as [UnitOfMeasureForValuationQuantity]
--	--  ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0021' as COPARowNo
--      ,'Net Sales Ingredient' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel = 'Ingredients'
---- and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod) 
--and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
--  and MBRSnapshotNo = @MBRSnapshotNo

--    union

----ING COGS
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'50301000' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-allocatedcogs as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	--  ,null as [UnitOfMeasureForValuationQuantity]
--	 -- ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0022' as COPARowNo
--      ,'COGS Ingredients' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- and channel = 'Ingredients'
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod)
-- and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
-- and MBRSnapshotNo = @MBRSnapshotNo

--     union

----FRT for July MBR
--SELECT --[MBRSnapshotNo]
--      --,[MBRSnapshotName]
--      [LoadDateTime]
--      ,'RO' as [ForecastRevision]
--      ,null as [CostCentre]
--      ,null as [CC_Orig_CostCentre]
--      ,null as [ProfitCentre]
--      ,'52591000' as [AccountNo]
--      ,'D' as [CODebitCreditIndicator]
--      ,left(fiscalyearperiod,4) as [FiscalYear]
--      ,right(fiscalyearperiod,2) as [FiscalPeriod]
--      ,-AllocatedFRT as ForecastPeriodAmount
--     ,0 as [ForecastYTDAmount]
--      ,'AUD' as [Currency]
--	--  ,null as [UnitOfMeasureForValuationQuantity]
--	 -- ,0 as [ValuationQuantity]
--      ,null as [SourceSystem]
--	  ,null as COPACycle
--      ,null as COPAAccount  
--      ,null as COPAGLAcc
--      ,null as COPAGLaccTxt
--      ,null as COPAAccTxt
--      ,null as COPASubGrp
--      ,'RO' as COPAMAPType
--      ,null as COPACycleSeq 
--      ,null as COPACycTxt
--      --,[count] as count	
--      ,null as COPAFORM	
--      ,'0027' as COPARowNo
--      ,'Outbound Freight' as COPANodeTxt
--      ,null  as COPACostcentre
--	  ,null as CC_Percentage
--	  ,null as CC_Cycle
--	  ,null as CC_Account
--	  ,null as CC_CycleTxt
--	  ,Plant
--	  ,Category
--	  from ods.MLO_RNOSnapshot
-- where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
-- --and channel = 'Ingredients'
-- --and (left(fiscalyearperiod,4) = @fiscalyear AND right(fiscalyearperiod,2) >=  @fiscalperiod)
-- and fiscalyearperiod >= @fiscalyear*100+@fiscalperiod
-- and MBRSnapshotNo = '2026.01' and @MBRSnapshotNo = '2026.01' and Title = 'Frt R&O for July MBR' --ONly for JULY
 
 

 
 
 
 
 
-- )





,BUD as (

	SELECT 
	--a.[ProcessExecutionID] --copa assessment GL_CC
		--@MBRSnapshotNo as MBRSnapshotNo
		--,@MBRSnapshotName as MBRSnapshotName
	  null as [LoadDateTime]
      ,a.BudgetRevision
      ,a.[CostCentre] as CostCentre
	  ,Null as CC_Orig_CostCentre
      ,a.[ProfitCentre]
      ,a.[AccountNo]
      ,a.[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,a.FiscalPeriod
      ,a.BudgetPeriodAmount
      ,a.BudgetYTDAmount
      ,a.Currency
      ,a.SourceSystem
	  ,b.[CYCLE] as COPACycle
      ,b.[ASACC] as COPAAccount 
      --,b.[CostCentre] as ASCOST
      ,b.[GL_ACC] as COPAGLAcc 
      ,b.[GL_TXT] as COPAGLaccTxt 
      ,b.[DESCRIPT] as COPAAccTxt 
      ,b.[COPA_SUB_GROUP] as COPASubGrp
      ,b.[MAP_TYPE] as COPAMAPType
      ,b.[CYC_SEQ] as COPACycleSeq 
      ,b.[CYC_TXT] as COPACycTxt
      --,b.[count]
      ,b.[FORM] as COPAFORM 
      ,b.[FROW] as COPARowNo
      ,b.[TXTMT] as COPANodeTxt
      ,b.[CostCentre_KE30] as COPACostcentre
	  ,100 as CC_Percentage
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Case
		 when  left(a.[CostCentre] ,2) = '30' then '3000'
	     when  left(a.[CostCentre] ,2) = '31' then '3100'
		 when  left(a.[CostCentre] ,2) = '32' or a.[CostCentre]  = '3732' then '3200'
		 when  left(a.[CostCentre] ,2) = '33' or a.[CostCentre]  = '3733' then '3300'
		 when  left(a.[CostCentre] ,2) = '34' or a.[CostCentre]  = '3734' then '3400'
		 when  left(a.[CostCentre] ,2) = '35' or a.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
    
    WHEN LEFT(a.[CostCentre], 2) = '32' or a.[CostCentre] IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(a.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
	WHEN LEFT(a.[CostCentre], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM [Bulla_BI_Prod].stg.AccountBudgetBalance_WKG a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNo = acc.AccountNo    
  left join  ODS.COPAAssessmentRule b on a.AccountNo = b.gl_acc 
    and coalesce(a.CostCentre,'') = coalesce(b.costcentre,'')

  where acc.AccountType in ('P','S') and b.asacc <> b.gl_acc
  and a.AccountNo < '95000000'
  and b.map_type = 'GL_CC'
  and a.BudgetRevision = 'Budget'
  and b.FROW<>'0027'
  --and a.MBRSnapshotNo = @MBRSnapshotNo
   and a.FiscalYear >= @fiscalyear
 




  Union All
--copa assessment CC
  SELECT     
  --@MBRSnapshotNo as MBRSnapshotNo,
	 -- @MBRSnapshotName as MBRSnapshotName
      null as [LoadDateTime]
      ,a.BudgetRevision
      ,a.[CostCentre] as CostCentre
	  ,Null as CC_Orig_CostCentre
      ,a.[ProfitCentre]
      ,a.[AccountNo]
      ,a.[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,a.FiscalPeriod
      ,a.BudgetPeriodAmount
      ,a.BudgetYTDAmount
      ,a.Currency
      ,a.SourceSystem
	  ,b.[CYCLE] as COPACycle
      ,b.[ASACC] as COPAAccount
      --,b.[CostCentre]
      ,b.[GL_ACC] as COPAGLAcc
      ,b.[GL_TXT] as COPAGLaccTxt
      ,b.[DESCRIPT] as COPAAccTxt
      ,b.[COPA_SUB_GROUP] as COPASubGrp
      ,b.[MAP_TYPE] as COPAMAPType
      ,b.[CYC_SEQ] as COPACycleSeq 
      ,b.[CYC_TXT] as COPACycTxt
      --,b.[count]
      ,b.[FORM] as COPAFORM 
      ,b.[FROW] as COPARowNo
      ,b.[TXTMT] as COPANodeTxt
      ,b.[CostCentre_KE30] as COPACostcentre
	  ,100 as CC_Percentage
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Case
		 when  left(a.[CostCentre] ,2) = '30' then '3000'
	     when  left(a.[CostCentre] ,2) = '31' then '3100'
		 when  left(a.[CostCentre] ,2) = '32' or a.[CostCentre]  = '3732' then '3200'
		 when  left(a.[CostCentre] ,2) = '33' or a.[CostCentre]  = '3733' then '3300'
		 when  left(a.[CostCentre] ,2) = '34' or a.[CostCentre]  = '3734' then '3400'
		 when  left(a.[CostCentre] ,2) = '35' or a.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
    
    WHEN LEFT(a.[CostCentre], 2) = '32' or a.[CostCentre] IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(a.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
	WHEN LEFT(a.[CostCentre], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM [Bulla_BI_Prod].[stg].[AccountBudgetBalance_WKG]   a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNo = acc.AccountNo    
  left join  ODS.COPAAssessmentRule b on a.AccountNo = b.gl_acc and a.CostCentre = b.costcentre
  left join [Bulla_BI_Prod].[SAPodbc].[ZXCCOSTELEMENT] ce on a.AccountNo = right(ce.COSTELEMENT,8)
  where --a.FiscalYear = '2025' and a.FiscalPeriod = '10' 
   acc.AccountType in ('P','S') and b.asacc <> b.gl_acc
  and b.map_type = 'CC'
  and ce.CONTROLLINGAREA = 'A000'
  and (ce.COSTELEMENTCATEGORY in ('01','12','22','21','43')
  or (ce.COSTELEMENTCATEGORY = '42' and a.AccountNo >= '95000000'))
  and a.AccountNo not in ('50301000','50302000','50303000','50304000','50305000')
  and a.BudgetRevision = 'Budget'
    --and a.MBRSnapshotNo = @MBRSnapshotNo
   and a.FiscalYear >= @fiscalyear

  -- select * from [Bulla_BI_Prod].[stg].[AccountBudgetBalance_WKG]   where AccountNo = '94308500' and FiscalYear = 2026
  --SELECT * from [Bulla_BI_Prod].sap.ZXC_POSTINGCOSTS where CostElement  = '94308500' and fiscalyear = '2026'

  Union All
  SELECT 
  --@MBRSnapshotNo as MBRSnapshotNo
	 -- ,@MBRSnapshotName as MBRSnapshotName
      null as [LoadDateTime]
      ,a.BudgetRevision
	  ,b.costcentre as CostCentre
      ,a.CostCentre as CC_Orig_CostCentre
      ,a.[ProfitCentre]
      ,a.[AccountNo]
      ,a.[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,a.FiscalPeriod
      ,a.[BudgetPeriodAmount] * cc.CC_CYC_PERC/100 as [BudgetPeriodAmount]
      ,a.[BudgetYTDAmount] * cc.CC_CYC_PERC/100 as [BudgetYTDAmount]
      ,a.Currency
      ,a.SourceSystem
	  ,b.[CYCLE] as COPACycle
      ,b.[ASACC] as COPAAccount
     -- ,b.[CostCentre]
      ,b.[GL_ACC] as COPAGLAcc
      ,b.[GL_TXT] as COPAGLaccTxt
      ,b.[DESCRIPT] as COPAAccTxt
      ,b.[COPA_SUB_GROUP] as COPASubGrp
      ,'CC_ASC' as COPAMAPType
      ,b.[CYC_SEQ] as COPACycleSeq 
      ,b.[CYC_TXT] as COPACycTxt
      --,b.[count]
      ,b.[FORM] as COPAFORM 
      ,b.[FROW] as COPARowNo
      ,b.[TXTMT] as COPANodeTxt
      ,b.[CostCentre_KE30] as COPACostcentre
	 -- ,cc.GL_ACC
	  --,cc.CC_CYC_PERC
	  --,cc."PL_FLG"
	  ,cc.CC_CYC_PERC as CC_Percentage
	  ,cc.CYCLE as CC_Cycle
	  ,right(cc.ASACC,8) as CC_Account
	  ,cc.CYC_TXT as CC_CycleTxt
	  ,Case
		 when  left(a.[CostCentre] ,2) = '30' then '3000'
	     when  left(a.[CostCentre] ,2) = '31' then '3100'
		 when  left(a.[CostCentre] ,2) = '32' or a.[CostCentre]  = '3732' then '3200'
		 when  left(a.[CostCentre] ,2) = '33' or a.[CostCentre]  = '3733' then '3300'
		 when  left(a.[CostCentre] ,2) = '34' or a.[CostCentre]  = '3734' then '3400'
		 when  left(a.[CostCentre] ,2) = '35' or a.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
    
    WHEN LEFT(a.[CostCentre], 2) = '32' or a.[CostCentre] IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(a.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
	WHEN LEFT(a.[CostCentre], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM [Bulla_BI_Prod].[stg].[AccountBudgetBalance_WKG]  a --need wkg here
  left join [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule_CC_ASMT_snapshot] cc 
  on a.FiscalYear = cc.fiscalyear and
  a.FiscalYear*100+fiscalperiod >= cc.Period_start and
  a.FiscalYear*100+fiscalperiod <= cc.Period_end and
   a.AccountNo = right(cc.GL_ACC,8) and a.CostCentre= right(cc.COSTCTN,4)  
  --left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule b on right(cc.ASACC,8) = b.gl_acc and right(cc.CC_ReceiverCC_Ind,4) = b.costcentre
  where --a.FiscalYear = '2025' and a.FiscalPeriod = '10' 
  a.CostCentre is not null and a.CostCentre <>''
  and cc."PL_FLG" = '-'
  --and acc.AccountType in ('P','S') 
  and b.asacc <> b.gl_acc
  and b.GL_ACC >= '95000000'
  and b.map_type = 'GL_CC' --order by a.AccountNumber
  and a.BudgetRevision = 'Budget'
  --and a.MBRSnapshotNo = @MBRSnapshotNo
   and a.FiscalYear >= @fiscalyear

 



Union All
  SELECT 
  --@MBRSnapshotNo as MBRSnapshotNo
	 -- ,@MBRSnapshotName as MBRSnapshotName
      null  as [LoadDateTime]
      ,'BUD' as [MonthStamp]
	  ,b.costcentre as CostCentre
      ,a.CostCentre as CC_Orig_CostCentre
      ,a.ProfitCentre as [ProfitCentre]
      ,a.AccountNo as [AccountNo]
      ,a.[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,a.[FiscalPeriod]
      ,a.BudgetPeriodAmount * cc.CC_CYC_PERC/100 as BudgetPeriodAmount
      ,a.[BudgetYTDAmount] * cc.CC_CYC_PERC/100 as [BudgetYTDAmount]
      ,a.Currency as [CurrencyKey]
      ,'' as SourceSystem
	  ,b.[CYCLE] as COPACycle
      ,b.[ASACC] as COPAAccount
      --,b.[CostCentre]
      ,b.[GL_ACC] as COPAGLAcc
      ,b.[GL_TXT] as COPAGLaccTxt
      ,b.[DESCRIPT] as COPAAccTxt
      ,b.[COPA_SUB_GROUP] as COPASubGrp
      ,'BUDGET' as COPAMAPType
      ,b.[CYC_SEQ] as COPACycleSeq 
      ,b.[CYC_TXT] as COPACycTxt
      --,b.[count]
      ,b.[FORM] as COPAFORM 
      ,b.[FROW] as COPARowNo
      ,b.[TXTMT] as COPANodeTxt
      ,b.[CostCentre_KE30] as COPACostcentre
	 -- ,cc.GL_ACC
	  --,cc.CC_CYC_PERC
	  --,cc."PL_FLG"
	  ,cc.CC_CYC_PERC as CC_Percentage
	  ,cc.CYCLE as CC_Cycle
	  ,right(cc.ASACC,8) as CC_Account
	  ,cc.CYC_TXT as CC_CycleTxt
	  ,Case
		 when  left(b.[CostCentre] ,2) = '30' then '3000'
	     when  left(b.[CostCentre] ,2) = '31' then '3100'
		 when  left(b.[CostCentre] ,2) = '32' or b.[CostCentre]  = '3732' then '3200'
		 when  left(b.[CostCentre] ,2) = '33' or b.[CostCentre]  = '3733' then '3300'
		 when  left(b.[CostCentre] ,2) = '34' or b.[CostCentre]  = '3734' then '3400'
		 when  left(b.[CostCentre] ,2) = '35' or b.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
   
    WHEN LEFT(b.[CostCentre], 2) = '32' or a.[CostCentre]   IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(b.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302' ) THEN 'Frozen'
	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
	 WHEN LEFT(b.[CostCentre], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM [Bulla_BI_Prod].[stg].[AccountBudgetBalance_WKG] a 
 left join [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule_CC_ASMT_snapshot] cc 
  on a.FiscalYear = cc.fiscalyear and
  a.FiscalYear*100+fiscalperiod >= cc.Period_start and
  a.FiscalYear*100+fiscalperiod <= cc.Period_end and
   a.AccountNo = right(cc.GL_ACC,8) and a.CostCentre= right(cc.COSTCTN,4)  
  --left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule b on right(cc.ASACC,8) = b.gl_acc and right(cc.CC_ReceiverCC_Ind,4) = b.costcentre
  where 
   a.CostCentre is not null and a.CostCentre <>''
  and cc."PL_FLG" = 'X'
  --and acc.AccountType in ('P','S') 
  and b.asacc <> b.gl_acc
  and b.GL_ACC >= '95000000'
  and b.map_type = 'GL_CC' --order by a.AccountNumber
  and a.BudgetRevision = 'Budget'
 -- and mbr.MBRSnapshotNo = @MBRSnapshotNo
 --and FiscalYear = 2025 and b.FROW = '0038' and FiscalPeriod = 12
   and a.FiscalYear >= @fiscalyear

   union all -- COEJ table - milk swap

	SELECT 
	--a.[ProcessExecutionID] --copa assessment GL_CC
		--@MBRSnapshotNo as MBRSnapshotNo
		--,@MBRSnapshotName as MBRSnapshotName
	  a.[LoadDateTime]
      ,a.Version as BudgetRevision
      ,a.[CostCentre] as CostCentre
	  ,Null as CC_Orig_CostCentre
      ,null as [ProfitCentre]
      ,a.CostElement as [AccountNo]
      ,a.DebitCreditIndicator as [CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,a.FiscalPeriod
      ,a.PeriodAmount as  BudgetPeriodAmount
      ,0 as BudgetYTDAmount
      ,'AUD' as Currency
      ,'SAP' as SourceSystem
	  ,b.[CYCLE] as COPACycle
      ,b.[ASACC] as COPAAccount 
      --,b.[CostCentre] as ASCOST
      ,b.[GL_ACC] as COPAGLAcc 
      ,'' as COPAGLaccTxt 
      ,b.[DESCRIPT] as COPAAccTxt 
      ,b.[COPA_SUB_GROUP] as COPASubGrp
      ,'PC' as COPAMAPType
      ,'' as COPACycleSeq 
      ,'' as COPACycTxt
      --,b.[count]
      ,b.[FORM] as COPAFORM 
      ,b.COPA_ROW as COPARowNo
      ,b.COPA_STRU as COPANodeTxt
      ,null as COPACostcentre
	  ,100 as CC_Percentage
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Case
		 when  left(a.[CostCentre] ,2) = '30' then '3000'
	     when  left(a.[CostCentre] ,2) = '31' then '3100'
		 when  left(a.[CostCentre] ,2) = '32' or a.[CostCentre]  = '3732' then '3200'
		 when  left(a.[CostCentre] ,2) = '33' or a.[CostCentre]  = '3733' then '3300'
		 when  left(a.[CostCentre] ,2) = '34' or a.[CostCentre]  = '3734' then '3400'
		 when  left(a.[CostCentre] ,2) = '35' or a.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
    
    WHEN LEFT(a.[CostCentre], 2) = '32' or a.[CostCentre] IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(a.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
	WHEN LEFT(a.[CostCentre], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM SelectPostingCostsUnpivot a 
  --left join [Bulla_BI_Prod].Dim.Account acc on a.CostElement = acc.AccountNo    
  left join  (
  SELECT [CYCLE]
      ,[ASACC]
      --,[COSTCTN]
      --,[PFTCTN]
      ,[GL_ACC]
      ,[DESCRIPT]
      ,[COPA_STRU]
      ,[COPA_GROUP]
      ,[COPA_SUB_GROUP]
      ,[SITE]
      ,[COPA_ROW]
      ,[COUNT]
      ,[FORM]
  FROM [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule_PC] where GL_ACC in ('41002500','50309000')
  group by [CYCLE]
      ,[ASACC]
      --,[COSTCTN]
      --,[PFTCTN]
      ,[GL_ACC]
      ,[DESCRIPT]
      ,[COPA_STRU]
      ,[COPA_GROUP]
      ,[COPA_SUB_GROUP]
      ,[SITE]
      ,[COPA_ROW]
      ,[COUNT]
      ,[FORM]) b on a.CostElement = b.gl_acc 
   -- and coalesce(a.CostCentre,'') = coalesce(b.costctn,'')

  where 
  --acc.AccountType in ('P','S') and 
  b.asacc <> b.gl_acc
  and a.CostElement < '95000000'
  --and b.map_type = 'GL_CC'
  --and a.BudgetRevision = 'Budget'
  and b.COPA_ROW='0103'
  --and a.MBRSnapshotNo = @MBRSnapshotNo
   and a.FiscalYear >= @fiscalyear

  Union All

  SELECT  
  --@MBRSnapshotNo as MBRSnapshotNo
	 -- ,@MBRSnapshotName as MBRSnapshotName
      a.[LoadDateTime]
      ,a.BudgetRevision
      ,a.[CostCentre] as CostCentre
	  	  ,Null as CC_Orig_CostCentre
      ,a.[ProfitCentre]
      ,a.[AccountNo]
      ,a.[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,a.FiscalPeriod
      ,a.BudgetPeriodAmount
      ,a.BudgetYTDAmount
      ,a.Currency
      ,a.SourceSystem
      --,[Plant]
      --,--[UnitOfMeasureForValuationQuantity]
      --,--[ValuationQuantity]
      --,--[OrderNumber]
	  ,b.[CYCLE] as COPACycle
      ,b.[ASACC] as COPAAccount
      --,b.costctn as [CostCentre]
      ,b.[GL_ACC] as COPAGLAcc
      ,'' as COPAGLaccTxt
      ,b.[DESCRIPT] as COPAAccTxt
      ,b.[COPA_SUB_GROUP] as COPASubGrp
      ,'PC' as  COPAMAPType
      ,'' as COPACycleSeq 
      ,'' as  COPACycTxt
      --,[count]
      ,'' as COPAFORM	
      ,COPA_ROW as  COPARowNo
      ,descript as COPANodeTxt
      ,'' as COPACostcentre
	  --,a.BusinessTransactionCO,a.ObjectClass
	  ,100 as CC_Percentage
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Null as Plant
	  ,null as Category
  FROM [Bulla_BI_Prod].Fact.AccountBudgetBalance a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNo = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule_PC b on a.AccountNo = b.gl_acc 
  and coalesce(a.ProfitCentre,'') = coalesce(b.pftctn,'')
  and coalesce(a.CostCentre,'') = coalesce(b.costctn,'')
  where 
  acc.AccountType in ('P','S') 
  --and b.asacc <> b.gl_acc
  --and a.AccountNumber < '95000000'
  --and b.map_type = 'GL_CC'
  and b.gl_acc <>'52570000' and b.gl_acc <>'52070000' and b."COPA_ROW" >= '0024'
  and b."COPA_ROW" <> '0027'
--  and (a.BusinessTransactionCO is not null and a.ObjectClass = 'PROFT')
and a.BudgetRevision = 'Budget'
 -- and a.MBRSnapshotNo = @MBRSnapshotNo
   and a.FiscalYear >= @fiscalyear

--union all -- COEJ table

--	SELECT 
--	--a.[ProcessExecutionID] --copa assessment GL_CC
--		--@MBRSnapshotNo as MBRSnapshotNo
--		--,@MBRSnapshotName as MBRSnapshotName
--	  a.[LoadDateTime]
--      ,a.Version as BudgetRevision
--      ,a.[CostCentre] as CostCentre
--	  ,Null as CC_Orig_CostCentre
--      ,null as [ProfitCentre]
--      ,a.CostElement as [AccountNo]
--      ,a.DebitCreditIndicator as [CODebitCreditIndicator]
--      ,a.[FiscalYear]
--      ,a.FiscalPeriod
--      ,a.PeriodAmount as  BudgetPeriodAmount
--      ,0 as BudgetYTDAmount
--      ,'AUD' as Currency
--      ,'SAP' as SourceSystem
--	  ,b.[CYCLE] as COPACycle
--      ,b.[ASACC] as COPAAccount 
--      --,b.[CostCentre] as ASCOST
--      ,b.[GL_ACC] as COPAGLAcc 
--      ,b.[GL_TXT] as COPAGLaccTxt 
--      ,b.[DESCRIPT] as COPAAccTxt 
--      ,b.[COPA_SUB_GROUP] as COPASubGrp
--      ,b.[MAP_TYPE] as COPAMAPType
--      ,b.[CYC_SEQ] as COPACycleSeq 
--      ,b.[CYC_TXT] as COPACycTxt
--      --,b.[count]
--      ,b.[FORM] as COPAFORM 
--      ,b.[FROW] as COPARowNo
--      ,b.[TXTMT] as COPANodeTxt
--      ,b.[CostCentre_KE30] as COPACostcentre
--	  ,100 as CC_Percentage
--	  ,Null as CC_Cycle
--	  ,Null as CC_Account
--	  ,Null as CC_CycleTxt
--	  ,Case
--		 when  left(a.[CostCentre] ,2) = '30' then '3000'
--	     when  left(a.[CostCentre] ,2) = '31' then '3100'
--		 when  left(a.[CostCentre] ,2) = '32' or a.[CostCentre]  = '3732' then '3200'
--		 when  left(a.[CostCentre] ,2) = '33' or a.[CostCentre]  = '3733' then '3300'
--		 when  left(a.[CostCentre] ,2) = '34' or a.[CostCentre]  = '3734' then '3400'
--		 when  left(a.[CostCentre] ,2) = '35' or a.[CostCentre]  = '3735' then '3500'

--		 else '9999'	 		 
--		 end as Plant
--	   ,CASE 
    
--    WHEN LEFT(a.[CostCentre], 2) = '32' or a.[CostCentre] IN ('3732','3053','1304','1305')  THEN 'Chilled'
--    WHEN LEFT(a.[CostCentre], 2) IN ('33', '34', '35') 
--		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
--	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
--	WHEN LEFT(a.[CostCentre], 2) = '30' THEN 'Fro&Chi'
--    ELSE 'Unallocated'
--	END	  as Category
--  FROM SelectPostingCostsUnpivot a 
--  --left join [Bulla_BI_Prod].Dim.Account acc on a.CostElement = acc.AccountNo    
--  left join  ODS.COPAAssessmentRule b on a.CostElement = b.gl_acc 
--    and coalesce(a.CostCentre,'') = coalesce(b.costcentre,'')

  --where 
  ----acc.AccountType in ('P','S') and 
  --b.asacc <> b.gl_acc
  --and a.CostElement < '95000000'
  ----and b.map_type = 'GL_CC'
  ----and a.BudgetRevision = 'Budget'
  --and b.FROW<>'0103'
  ----and a.MBRSnapshotNo = @MBRSnapshotNo
  --   and a.FiscalYear >= @fiscalyear




Union All
  SELECT 
  --a.MBRSnapshotNo
	 -- ,a.MBRSnapshotName
      a.[LoadDateTime]
      ,a.BudgetRevision
      ,a.[CostCentre] as CostCentre
	  	  ,Null as CC_Orig_CostCentre
      ,a.[ProfitCentre]
      ,a.[AccountNo]
      ,a.[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,a.FiscalPeriod
      ,a.BudgetPeriodAmount
      ,a.BudgetYTDAmount
      ,a.Currency
      ,a.SourceSystem
	  ,b.[CYCLE] as COPACycle
      ,b.[ASACC] as COPAAccount
      --,b.costctn as [CostCentre]
      ,b.[GL_ACC] as COPAGLAcc
      ,'' as [GL_TXT]
      ,b.[DESCRIPT] as COPAAccTxt
      ,b.[COPA_SUB_GROUP] as COPASubGrp
      ,'PC' as COPAMAPType
      ,'' as COPACycleSeq 
      ,'' as COPACycTxt
      --,[count]
      ,'' as COPAFORM	
      ,COPA_ROW as COPARowNo
      ,descript as COPANodeTxt
      ,'' as COPACostcentre
	  --,a.BusinessTransactionCO,a.ObjectClass
	  ,100 as CC_Percentage
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Case
		 when  left(a.[CostCentre] ,2) = '30' then '3000'
	     when  left(a.[CostCentre] ,2) = '31' then '3100'
		 when  left(a.[CostCentre] ,2) = '32' or a.[CostCentre]  = '3732' then '3200'
		 when  left(a.[CostCentre] ,2) = '33' or a.[CostCentre]  = '3733' then '3300'
		 when  left(a.[CostCentre] ,2) = '34' or a.[CostCentre]  = '3734' then '3400'
		 when  left(a.[CostCentre] ,2) = '35' or a.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
   
    WHEN LEFT(a.[CostCentre], 2) = '32' or a.[CostCentre]  IN ('3732','3053','1304','1305') THEN 'Chilled'
    WHEN LEFT(a.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302' )THEN 'Frozen'
	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
	WHEN LEFT(a.[CostCentre], 2) = '30' THEN 'Fro&Chi'
	
    ELSE 'Unallocated'
	END	  as Category
  FROM [Bulla_BI_Prod].Fact.AccountBudgetBalance a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNo = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule_PC b on a.AccountNo = b.gl_acc 
  and coalesce(a.ProfitCentre,'') = coalesce(b.pftctn,'')
  and coalesce(a.CostCentre,'') = coalesce(b.costctn,'')
  where 
 acc.AccountType in ('P','S') 
  --and b.asacc <> b.gl_acc
  --and a.AccountNumber < '95000000'
  --and b.map_type = 'GL_CC'
  and b.gl_acc in ('52570000','52070000') and b."COPA_ROW" >= '0024'
--  and (a.BusinessTransactionCO is not null and a.ObjectClass = 'PROFT')
and a.BudgetRevision = 'Budget'
and coalesce(a.ProfitCentre,'')<>''
  --and a.MBRSnapshotNo = @MBRSnapshotNo
   and a.FiscalYear >= @fiscalyear


Union All 
select * from SalesBudget

)

insert 
into [FACT].[MLO_BUD] 
 SELECT
 --[MBRSnapshotNo]
 --     ,[MBRSnapshotName]
      [LoadDateTime]
      ,'BUD' as Forecastrevision
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,sum([BudgetPeriodAmount]) as ValueinLocalcurrency
     --,0 as [BudgetYTDAmount]
      ,[Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,COPACycle
      ,COPAAccount  
      ,COPAGLAcc
      ,COPAGLaccTxt
      ,COPAAccTxt
      ,COPASubGrp
      ,COPAMAPType
      ,COPACycleSeq 
      ,COPACycTxt
      --,[count] as count	
      ,COPAFORM	
      ,COPARowNo
      ,COPANodeTxt
      ,COPACostcentre
	  ,CC_Percentage
	  ,CC_Cycle
	  ,CC_Account
	  ,CC_CycleTxt
	  ,Plant
	  ,Category
	 -- into [FACT].[MLO_BUD2] 

	  from  BUD
	  group by
	        [LoadDateTime]
      ,[BudgetRevision]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[FiscalPeriod]
      --,sum([BudgetPeriodAmount]) as BudgetPeriodAmount
     -- ,[BudgetYTDAmount]
      ,[Currency]
	  --,null as [UnitOfMeasureForValuationQuantity]
	  --,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,COPACycle
      ,COPAAccount  
      ,COPAGLAcc
      ,COPAGLaccTxt
      ,COPAAccTxt
      ,COPASubGrp
      ,COPAMAPType
      ,COPACycleSeq 
      ,COPACycTxt
      --,[count] as count	
      ,COPAFORM	
      ,COPARowNo
      ,COPANodeTxt
      ,COPACostcentre
	  ,CC_Percentage
	  ,CC_Cycle
	  ,CC_Account
	  ,CC_CycleTxt
	  ,Plant
	  ,Category



--drop table [FACT].[MLO_QFW] 

end;
GO
