USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [FACT].[usp_MLO_MBR_F_tobedecom]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








--exec [FACT].[usp_MLO_MBR_F]

CREATE   Proc [FACT].[usp_MLO_MBR_F_tobedecom]
as
begin
declare @fiscalyear nvarchar(4);
declare @fiscalperiod INT;
declare @MBRSnapshotName nvarchar(10);
declare @MBRSnapshotNo nvarchar(10);
set @fiscalyear = (select left(MAX(MBRSnapshotNo),4) from ODS.MLO_QFWSnapshot);
set @fiscalperiod = (select right(MAX(MBRSnapshotNo),2) from ODS.MLO_QFWSnapshot);
set @MBRSnapshotName = (select  'F'+right(FiscalPeriodName,2)+'.'+LEFT(FiscalPeriodName,3) from DIM.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotNo = (select MAX(MBRSnapshotNo) from ODS.MLO_QFWSnapshot);

truncate table [FACT].[MLO_MBR];
--drop table [FACT].[MLO_MBR]

with 

Snapshotlist as (select distinct MBRSnapshotNo,MBRSnapshotName,LEFT(MBRSnapshotNo,4) as SSyear
,cast(right(MBRSnapshotNo,2) as int) as SSperiod from ODS.MLO_QFWSnapshot),



ACT_AND_QFW as (SELECT [LoadDateTime]
		,'ACT' as [ForecastRevision]
		,sl.MBRSnapshotNo
		,sl.MBRSnapshotName
      --,[MonthStamp]
      --,[CompanyCode]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNumber] as [AccountNo]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[ValueinLocalCurrency]
      --,[ValueinGroupCurrency]
      ,[CurrencyKey] as [Currency]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      ,[COPAGLaccTxt]
      ,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      ,[COPACycleSeq]
      ,[COPACycTxt]
      ,[COPAFORM]
      ,[COPARowNo]
      ,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
	  ,ChannelCode
	  ,FamilyCode
	  ,Plant
  FROM [BI_PROD_POST_SAP].[FACT].[MLO_Actual] a
  left join Snapshotlist sl 
  on a.FiscalYear = sl.SSyear and a.FiscalPeriod<sl.SSperiod

  WHERE (FiscalYear = @fiscalyear AND fiscalperiod <  @fiscalperiod)
   OR (FiscalYear = CASE WHEN @fiscalperiod = 1 THEN @fiscalyear - 1 END)

--select * from ACT_AND_QFW where MBRSnapshotNo = '2025.10'
      
union all


SELECT 
      [LoadDateTime]
      ,[ForecastRevision]
	  ,[MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[ForecastPeriodAmount] as [ValueinLocalCurrency]
     -- ,[ForecastYTDAmount]
      ,[Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,[SourceSystem]
	  ,[CYCLE] as COPACycle
      ,[ASACC] as COPAAccount  
      ,[GL_ACC] as COPAGLAcc
      ,[GL_TXT] as COPAGLaccTxt
      ,[DESCRIPT] as COPAAccTxt
      ,[COPA_SUB_GROUP] as COPASubGrp
      ,[MAP_TYPE] as COPAMAPType
      ,[CYC_SEQ] as COPACycleSeq 
      ,[CYC_TXT] as COPACycTxt
      --,[count] as count	
      ,[FORM] as COPAFORM	
      ,[FROW] as COPARowNo
      ,[TXTMT] as COPANodeTxt
      ,[CostCentre_KE30] as COPACostcentre
	  ,CC_CYC_PERC as CC_Percentage
	  ,CC_Cycle
	  ,CC_Account
	  ,CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
	  ,null as Plant

  FROM [BI_PROD_POST_SAP].[ODS].[MLO_QFW_V]
    WHERE FiscalYear = @fiscalyear and fiscalperiod >= right(MBRSnapshotNo,2)
	)


insert into [FACT].[MLO_MBR] 
select * 
--into  [FACT].[MLO_MBR] 

 from ACT_AND_QFW




end;
GO
