USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [FACT].[usp_MLO_ACT_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







--exec [FACT].[usp_MLO_ACT_F]

CREATE   Proc [FACT].[usp_MLO_ACT_F]
as
begin
declare @fiscalyear nvarchar(4);
declare @fiscalperiod INT;
declare @MBRSnapshotName nvarchar(10);
declare @MBRSnapshotNo nvarchar(10);
set @fiscalyear = (select FiscalYear from DIM.CalendarDate where CalendarDayOffset = 0);
set @fiscalperiod = (select FiscalPeriod from DIM.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotName = (select  'F'+right(FiscalPeriodName,2)+'.'+LEFT(FiscalPeriodName,3) from DIM.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotNo = (select  FiscalYearPeriod from DIM.CalendarDate where CalendarDayOffset = 0);
set @fiscalyear = 2025
--set @fiscalperiod = 12

--truncate table FACT.MLO_Actual

--select  FiscalYearPeriod from DIM.CalendarDate where CalendarDayOffset = 0
--drop table FACT.MLO_Actual


DELETE FROM fact.mlo_actual
WHERE FiscalYear = @fiscalyear;

with 

Sales_ACT as (
select       
      a.CostCenter
	  ,null as [CC_Orig_CostCentre]
      ,a.[ProfitCenter]
	  ,a.ChannelCode
	  ,a.FamilyCode
      ,a.[AccountNumber]
      ,a.[CODebit/CreditIndicator]
      ,a.[FiscalYear]
      ,a.[PostingPeriod]
	  ,a.[CurrencyKey]
	  ,a.[UnitofMeasureforValuationQuantity]
		,SUM(a.ValueinLocalCurrency) as [ValueinLocalCurrency]
		,SUM(a.ValuationQuantity) as ValuationQuantity
	  ,b.COPA_STRU
	  ,b.COPA_GROUP
	  ,b.COPA_SUB_GROUP
	  ,b.COPA_ROW
	  ,b.FORM
	  ,p.PreferredManufacturingSiteCode as plant
	  ,p.Category
	  
from [BI_PROD_POST_SAP].[ODS].UniversalJournal_CurrentFY a
left join [ODS].[COPAAssessmentRule_PC] b on a.AccountNumber = b.GL_ACC
and  coalesce(a.CostCenter,'') = coalesce(b.COSTCTN,'') and a.ProfitCenter = b.PFTCTN
--and a.FiscalYear = 2025-- @fiscalyear 
left join DIM.PRODUCT p on
COALESCE(COALESCE(COALESCE(COALESCE(a.[ProductforProfitabilityAnalysis], 'PGC'+a.PromotionGroupCode),'SFM'+a.SubFamilyCode) ,'FAM'+a.FamilyCode ) ,'CAT'+a.CategoryCode) = p.ProductNo

where 
FiscalYear = @fiscalyear
and b.COPA_ROW  <= '0017' and a.AccountNumber not in ('52570000','52070000')
and (a.BusinessTransactionCO is not null and a.ObjectClass = 'PROFT')
and a.ChannelCode between 10 and 40
group by
a.CostCenter
      ,a.[ProfitCenter]
	  ,a.ChannelCode
	  ,a.FamilyCode
      ,a.[AccountNumber]
      ,a.[CODebit/CreditIndicator]
      ,a.[FiscalYear]
      ,a.[PostingPeriod]
	  ,a.[CurrencyKey]
	  ,a.[UnitofMeasureforValuationQuantity]
	  ,b.COPA_STRU
	  ,b.COPA_GROUP
	  ,b.COPA_SUB_GROUP
	  ,b.COPA_ROW
	  ,b.FORM
	  ,p.PreferredManufacturingSiteCode
	  ,p.Category
)

--select * from Sales_ACT
,

Sales_ACT_ING as (
select       
      a.CostCenter
	  ,null as [CC_Orig_CostCentre]
      ,a.[ProfitCenter]
	  ,a.ChannelCode
	  ,a.FamilyCode
      ,a.[AccountNumber]
      ,a.[CODebit/CreditIndicator]
      ,a.[FiscalYear]
      ,a.[PostingPeriod]
	  ,a.[CurrencyKey]
	  ,a.[UnitofMeasureforValuationQuantity]
		,SUM(a.ValueinLocalCurrency) as [ValueinLocalCurrency]
		,SUM(a.ValuationQuantity) as ValuationQuantity
	  ,b.COPA_STRU
	  ,b.COPA_GROUP
	  ,b.COPA_SUB_GROUP
	  ,b.COPA_ROW
	  ,b.FORM
	  ,p.PreferredManufacturingSiteCode as plant
	  ,p.Category
	  
from [BI_PROD_POST_SAP].[ODS].UniversalJournal_CurrentFY a
left join [ODS].[COPAAssessmentRule_PC] b on a.AccountNumber = b.GL_ACC
and  coalesce(a.CostCenter,'') = coalesce(b.COSTCTN,'') and a.ProfitCenter = b.PFTCTN
--and a.FiscalYear =  @fiscalyear 
left join DIM.PRODUCT p on
COALESCE(COALESCE(COALESCE(COALESCE(a.[ProductforProfitabilityAnalysis], 'PGC'+a.PromotionGroupCode),'SFM'+a.SubFamilyCode) ,'FAM'+a.FamilyCode ) ,'CAT'+a.CategoryCode) = p.ProductNo


where 
 FiscalYear = @fiscalyear
and b.COPA_ROW  in  ('0021','0023','0022') and a.AccountNumber not in ('52570000','52070000')
and (a.BusinessTransactionCO is not null and a.ObjectClass = 'PROFT')
and a.ChannelCode = 50
group by
a.CostCenter
      ,a.[ProfitCenter]
	  ,a.ChannelCode
	  ,a.FamilyCode
      ,a.[AccountNumber]
      ,a.[CODebit/CreditIndicator]
      ,a.[FiscalYear]
      ,a.[PostingPeriod]
	  ,a.[CurrencyKey]
	  ,a.[UnitofMeasureforValuationQuantity]
	  ,b.COPA_STRU
	  ,b.COPA_GROUP
	  ,b.COPA_SUB_GROUP
	  ,b.COPA_ROW
	  ,b.FORM
	  ,p.PreferredManufacturingSiteCode
	  ,p.Category
)
,
actual as (
	SELECT --a.[ProcessExecutionID]
      a.[LoadDateTime]
      ,[MonthStamp]
      ,a.[CompanyCode]
      ,[CostCenter] as [CostCentre]
	  ,Null as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency]
      ,[ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,[OrderNumber]
	  ,b.[CYCLE]
      ,b.[ASACC]
      --,b.[CostCentre] as ASCOST
      ,b.[GL_ACC]
      ,b.[GL_TXT]
      ,b.[DESCRIPT]
      ,b.[COPA_SUB_GROUP]
      ,b.[MAP_TYPE]
      ,b.[CYC_SEQ]
      ,b.[CYC_TXT]
      --,b.[count]
      ,b.[FORM]
      ,b.[FROW]
      ,b.[TXTMT]
      ,b.[CostCentre_KE30]
	  ,100 as CC_CYC_PERC
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
	  ,Case
		 when  left(a.[CostCenter] ,2) = '30' then '3000'
	     when  left(a.[CostCenter] ,2) = '31' then '3100'
		 when  left(a.[CostCenter] ,2) = '32' or a.[CostCenter]  = '3732' then '3200'
		 when  left(a.[CostCenter] ,2) = '33' or a.[CostCenter]  = '3733' then '3300'
		 when  left(a.[CostCenter] ,2) = '34' or a.[CostCenter]  = '3734' then '3400'
		 when  left(a.[CostCenter] ,2) = '35' or a.[CostCenter]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
    
    WHEN LEFT(a.[CostCenter], 2) = '32' or a.[CostCenter] IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(a.[CostCenter], 2) IN ('33', '34', '35') 
		or a.[CostCenter] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
	WHEN a.[CostCenter] >='3100' and a.[CostCenter] <='3109' then 'Ingredients'
	WHEN LEFT(a.[CostCenter], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM [BI_PROD_POST_SAP].[FACT].[UniversalJournalMonthSummary] a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  left join  ODS.COPAAssessmentRule b on a.AccountNumber = b.gl_acc and a.CostCenter = b.costcentre
  WHERE 
   FiscalYear = @fiscalyear
  and acc.AccountType in ('P','S') and b.asacc <> b.gl_acc
  and a.AccountNumber < '95000000'
  and b.map_type = 'GL_CC'


  union all 

  SELECT --a.[ProcessExecutionID]
      a.[LoadDateTime]
      ,[MonthStamp]
      ,a.[CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
      ,[CostCenter] as [CostCentre]
	  ,Null as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency]
      ,[ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,[OrderNumber]
	  ,b.[CYCLE]
      ,b.[ASACC]
      --,b.[CostCentre]
      ,b.[GL_ACC]
      ,b.[GL_TXT]
      ,b.[DESCRIPT]
      ,b.[COPA_SUB_GROUP]
      ,b.[MAP_TYPE]
      ,b.[CYC_SEQ]
      ,b.[CYC_TXT]
      --,b.[count]
      ,b.[FORM]
      ,b.[FROW]
      ,b.[TXTMT]
      ,b.[CostCentre_KE30]
	  ,100 as CC_CYC_PERC
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
	  	  ,Case
		 when  left(a.[CostCenter] ,2) = '30' then '3000'
	     when  left(a.[CostCenter] ,2) = '31' then '3100'
		 when  left(a.[CostCenter] ,2) = '32' or a.[CostCenter]  = '3732' then '3200'
		 when  left(a.[CostCenter] ,2) = '33' or a.[CostCenter]  = '3733' then '3300'
		 when  left(a.[CostCenter] ,2) = '34' or a.[CostCenter]  = '3734' then '3400'
		 when  left(a.[CostCenter] ,2) = '35' or a.[CostCenter]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
    
    WHEN LEFT(a.[CostCenter], 2) = '32' or a.[CostCenter] IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(a.[CostCenter], 2) IN ('33', '34', '35') 
		or a.[CostCenter] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
	WHEN LEFT(a.[CostCenter], 2) = '30' THEN 'Fro&Chi'
	WHEN a.[CostCenter] >='3100' and a.[CostCenter] <='3109' then 'Ingredients'
    ELSE 'Unallocated'
	END	  as Category
  FROM [BI_PROD_POST_SAP].[FACT].[UniversalJournalMonthSummary] a   --check if change to _new
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  left join  ODS.COPAAssessmentRule b on a.AccountNumber = b.gl_acc and a.CostCenter = b.costcentre
  left join [Bulla_BI_Prod].[SAPodbc].[ZXCCOSTELEMENT] ce on a.AccountNumber = right(ce.COSTELEMENT,8)
  WHERE 
   FiscalYear = @fiscalyear
  and acc.AccountType in ('P','S') and b.asacc <> b.gl_acc
  and b.map_type = 'CC'
  and (ce.COSTELEMENTCATEGORY in ('01','12','22','21','43')
  or (ce.COSTELEMENTCATEGORY = '42' and a.AccountNumber >= '95000000'))
  and ce.CONTROLLINGAREA = 'A000' --added 06/06/25
  and a.AccountNumber not in ('50301000','50302000','50303000','50304000','50305000')

  union all

  SELECT --a.[ProcessExecutionID]
      a.[LoadDateTime]
      ,a.[MonthStamp]
      ,a.[CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
	  ,b.costcentre as CostCentre
      ,a.CostCenter as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency] * cc.CC_CYC_PERC/100 as [ValueinLocalCurrency]
      ,[ValueinGroupCurrency] * cc.CC_CYC_PERC/100 as [ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,[OrderNumber]
	  ,b.[CYCLE]
      ,b.[ASACC]
     -- ,b.[CostCentre]
      ,b.[GL_ACC]
      ,b.[GL_TXT]
      ,b.[DESCRIPT]
      ,b.[COPA_SUB_GROUP]
      ,'CC_ASC' as [MAP_TYPE]
      ,b.[CYC_SEQ]
      ,b.[CYC_TXT]
      --,b.[count]
      ,b.[FORM]
      ,b.[FROW]
      ,b.[TXTMT]
      ,b.[CostCentre_KE30]
	 -- ,cc.GL_ACC
	  --,cc.CC_CYC_PERC
	  --,cc."PL_FLG"
	  ,cc.CC_CYC_PERC as CC_CYC_PERC
	  ,cc.CYCLE as CC_Cycle
	  ,right(cc.ASACC,8) as CC_Account
	  ,cc.CYC_TXT as CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
	 ,Case
		 when  left(b.[CostCentre] ,2) = '30' then '3000'
	     when  left(b.[CostCentre] ,2) = '31' then '3100'
		 when  left(b.[CostCentre] ,2) = '32' or b.[CostCentre]  = '3732' then '3200'
		 when  left(b.[CostCentre] ,2) = '33' or b.[CostCentre]  = '3733' then '3300'
		 when  left(b.[CostCentre] ,2) = '34' or b.[CostCentre]  = '3734' then '3400'
		 when  left(b.[CostCentre] ,2) = '35' or b.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
   
    WHEN LEFT(b.[CostCentre], 2) = '32' or a.[CostCenter]   IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(b.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCenter] in ('3733','3734','3735','3052','3054','1301','1302' ) THEN 'Frozen'
	WHEN a.[CostCenter] >='3100' and a.[CostCenter] <='3109' then 'Ingredients'
	 WHEN LEFT(b.[CostCentre], 2) = '30' THEN 'Fro&Chi'

    ELSE 'Unallocated'
	END	  as Category
  FROM [BI_PROD_POST_SAP].[FACT].[UniversalJournalMonthSummary] a 
  left join [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule_CC_ASMT_snapshot] cc 
  on a.FiscalYear = cc.fiscalyear and
  a.FiscalYear*100+[PostingPeriod] >= cc.Period_start and
  a.FiscalYear*100+[PostingPeriod] <= cc.Period_end and
  a.AccountNumber = right(cc.GL_ACC,8) and a.CostCenter = right(cc.COSTCTN,4)  
  --left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  left join  ODS.COPAAssessmentRule b on right(cc.ASACC,8) = b.gl_acc and right(cc.CC_ReceiverCC_Ind,4) = b.costcentre
  WHERE 
   a.FiscalYear = @fiscalyear
  and a.CostCenter is not null and a.costcenter <>''
  and cc."PL_FLG" = '-'
  --and acc.AccountType in ('P','S') 
  and b.asacc <> b.gl_acc
  and b.GL_ACC >= '95000000'
  and b.map_type = 'GL_CC' --order by a.AccountNumber


  union all
  SELECT --cast(a.[ProcessExecutionID] as [varchar](7)) as [ProcessExecutionID]
      a.[LoadDateTime]
      ,0 as [MonthStamp]
      ,'3010' as [CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
	  ,b.costcentre as CostCentre
      ,a.CostCentre as CC_Orig_CostCentre 
      ,a.ProfitCentre as [ProfitCenter]
      ,a.AccountNo as [AccountNumber]
      ,[CODebitCreditIndicator]
      ,a.[FiscalYear]
      ,fiscalperiod as [PostingPeriod]
      ,BudgetPeriodAmount * cc.CC_CYC_PERC/100 as [ValueinLocalCurrency]
      ,BudgetPeriodAmount * cc.CC_CYC_PERC/100 as [ValueinGroupCurrency]
      ,a.Currency as [CurrencyKey]
     -- ,'' as [MaterialNumber]
      --,[Plant]
      ,'' as [UnitOfMeasureForValuationQuantity]
      ,0 as [ValuationQuantity]
      --,'' as [OrderNumber]
	  ,b.[CYCLE]
      ,b.[ASACC]
      --,b.[CostCentre]
      ,b.[GL_ACC]
      ,b.[GL_TXT]
      ,b.[DESCRIPT]
      ,b.[COPA_SUB_GROUP]
      ,'BUDGET' as [MAP_TYPE]
      ,b.[CYC_SEQ]
      ,b.[CYC_TXT]
      --,b.[count]
      ,b.[FORM]
      ,b.[FROW]
      ,b.[TXTMT]
      ,b.[CostCentre_KE30]
	 -- ,cc.GL_ACC
	  --,cc.CC_CYC_PERC
	  --,cc."PL_FLG"
	  ,cc.CC_CYC_PERC as CC_CYC_PERC
	  ,cc.CYCLE as CC_Cycle
	  ,right(cc.ASACC,8) as CC_Account
	  ,cc.CYC_TXT as CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
	  	 ,Case
		 when  left(b.[CostCentre] ,2) = '30' then '3000'
	     when  left(b.[CostCentre] ,2) = '31' then '3100'
		 when  left(b.[CostCentre] ,2) = '32' or b.[CostCentre]  = '3732' then '3200'
		 when  left(b.[CostCentre] ,2) = '33' or b.[CostCentre]  = '3733' then '3300'
		 when  left(b.[CostCentre] ,2) = '34' or b.[CostCentre]  = '3734' then '3400'
		 when  left(b.[CostCentre] ,2) = '35' or b.[CostCentre]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
   
    WHEN LEFT(b.[CostCentre], 2) = '32' or a.[CostCentre]   IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(b.[CostCentre], 2) IN ('33', '34', '35') 
		or a.[CostCentre] in ('3733','3734','3735','3052','3054','1301','1302' ) THEN 'Frozen'
	WHEN a.[CostCentre] >='3100' and a.[CostCentre] <='3109' then 'Ingredients'
	 WHEN LEFT(b.[CostCentre], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM [Bulla_BI_Prod].Fact.AccountBudgetBalance a 
  left join [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule_CC_ASMT_snapshot] cc 
  on a.FiscalYear = cc.fiscalyear and
  a.FiscalYear*100+fiscalperiod >= cc.Period_start and
  a.FiscalYear*100+fiscalperiod <= cc.Period_end and
   a.AccountNo = right(cc.GL_ACC,8) and a.CostCentre= right(cc.COSTCTN,4)  
  --left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule b on right(cc.ASACC,8) = b.gl_acc and right(cc.CC_ReceiverCC_Ind,4) = b.costcentre
  WHERE 
   a.FiscalYear = @fiscalyear
  and a.CostCentre is not null and a.CostCentre <>''
  and cc."PL_FLG" = 'X'
  --and acc.AccountType in ('P','S') 
  and b.asacc <> b.gl_acc
  and b.GL_ACC >= '95000000'
  and b.map_type = 'GL_CC' --order by a.AccountNumber
  and a.BudgetRevision = 'Budget'

  union all

  SELECT --a.[ProcessExecutionID]
      a.[LoadDateTime]
      ,[MonthStamp]
      ,a.[CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
      ,[CostCenter] as [CostCentre]
	  	  	  ,Null as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency]
      ,[ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,'' as [OrderNumber]
	  ,b.[CYCLE]
      ,b.[ASACC]
      --,b.costctn as [CostCentre]
      ,b.[GL_ACC]
      ,'' as [GL_TXT]
      ,b.[DESCRIPT]
      ,b.[COPA_SUB_GROUP]
      ,'PC' as [MAP_TYPE]
      ,'' as [CYC_SEQ]
      ,'' as [CYC_TXT]
      --,[count]
      ,'' as [FORM]
      ,COPA_ROW as [FROW]
      ,descript as [TXTMT]
      ,'' as [CostCentre_KE30]
	  --,a.BusinessTransactionCO,a.ObjectClass
	  ,100 as CC_CYC_PERC
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
	  ,Case
		 when  left(a.[CostCenter] ,2) = '30' then '3000'
	     when  left(a.[CostCenter] ,2) = '31' then '3100'
		 when  left(a.[CostCenter] ,2) = '32' or a.[CostCenter]  = '3732' then '3200'
		 when  left(a.[CostCenter] ,2) = '33' or a.[CostCenter]  = '3733' then '3300'
		 when  left(a.[CostCenter] ,2) = '34' or a.[CostCenter]  = '3734' then '3400'
		 when  left(a.[CostCenter] ,2) = '35' or a.[CostCenter]  = '3735' then '3500'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
    
    WHEN LEFT(a.[CostCenter], 2) = '32' or a.[CostCenter] IN ('3732','3053','1304','1305')  THEN 'Chilled'
    WHEN LEFT(a.[CostCenter], 2) IN ('33', '34', '35') 
		or a.[CostCenter] in ('3733','3734','3735','3052','3054','1301','1302'  ) THEN 'Frozen'
	WHEN a.[CostCenter] >='3100' and a.[CostCenter] <='3109' then 'Ingredients'
	WHEN LEFT(a.[CostCenter], 2) = '30' THEN 'Fro&Chi'
    ELSE 'Unallocated'
	END	  as Category
  FROM [BI_PROD_POST_SAP].[FACT].[UniversalJournalMonthSummary_New] a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule_PC b on a.AccountNumber = b.gl_acc 
  and coalesce(a.ProfitCenter,'') = coalesce(b.pftctn,'')
  and coalesce(a.CostCenter,'') = coalesce(b.costctn,'')
  WHERE 
  FiscalYear = @fiscalyear
  and acc.AccountType in ('P','S') 
  --and b.asacc <> b.gl_acc
  --and a.AccountNumber < '95000000'
  --and b.map_type = 'GL_CC'
  and b.gl_acc <>'52570000' and b.gl_acc <>'52070000' and b."COPA_ROW" >= '0024' and b."COPA_ROW" <> '0027'
  and (a.BusinessTransactionCO is not null and a.ObjectClass = 'PROFT')


  union all 

  SELECT --a.[ProcessExecutionID]
      a.[LoadDateTime]
      ,null as [MonthStamp]
      ,a.[CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
      ,[CostCenter] as [CostCentre]
	  ,Null as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,a.[CODebit/CreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency]
      ,[ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,'' as [OrderNumber]
	  ,b.[CYCLE]
      ,b.[ASACC]
      --,b.costctn as [CostCentre]
      ,b.[GL_ACC]
      ,'' as [GL_TXT]
      ,b.[DESCRIPT]
      ,b.[COPA_SUB_GROUP]
      ,'PC' as [MAP_TYPE]
      ,'' as [CYC_SEQ]
      ,'' as [CYC_TXT]
      --,[count]
      ,'' as [FORM]
      ,COPA_ROW as [FROW]
      ,descript as [TXTMT]
      ,'' as [CostCentre_KE30]
	  --,a.BusinessTransactionCO,a.ObjectClass
	  ,100 as CC_CYC_PERC
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
	  ,coalesce(p.PreferredManufacturingSiteCode,'9999') as Plant
	  ,coalesce(p.Category,'Unallocated') as Category
  FROM [BI_PROD_POST_SAP].[ODS].[UniversalJournal_CurrentFY] a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule_PC b on a.AccountNumber = b.gl_acc  
  and coalesce(a.ProfitCenter,'') = coalesce(b.pftctn,'')
  and coalesce(a.CostCenter,'') = coalesce(b.costctn,'')
  left join DIM.PRODUCT p on 
  COALESCE(COALESCE(COALESCE(COALESCE(a.[ProductforProfitabilityAnalysis], 'PGC'+a.PromotionGroupCode),'SFM'+a.SubFamilyCode) ,'FAM'+a.FamilyCode ) ,'CAT'+a.CategoryCode) = p.ProductNo 
  WHERE 
    FiscalYear = @fiscalyear
  and acc.AccountType in ('P','S') 
  --and b.asacc <> b.gl_acc
  --and a.AccountNumber < '95000000'
  --and b.map_type = 'GL_CC'
  and b.gl_acc <>'52570000' and b.gl_acc <>'52070000' and b."COPA_ROW" = '0027'
  and (a.BusinessTransactionCO is not null and a.ObjectClass = 'PROFT')






  union all

  SELECT --a.[ProcessExecutionID]
      a.[LoadDateTime]
      ,[MonthStamp]
      ,a.[CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
      ,[CostCenter] as [CostCentre]
	  ,Null as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency]
      ,[ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,'' as [OrderNumber]
	  ,b.[CYCLE]
      ,b.[ASACC]
      --,b.costctn as [CostCentre]
      ,b.[GL_ACC]
      ,'' as [GL_TXT]
      ,b.[DESCRIPT]
      ,b.[COPA_SUB_GROUP]
      ,'PC' as [MAP_TYPE]
      ,'' as [CYC_SEQ]
      ,'' as [CYC_TXT]
      --,[count]
      ,'' as [FORM]
      ,COPA_ROW as [FROW]
      ,descript as [TXTMT]
      ,'' as [CostCentre_KE30]
	  --,a.BusinessTransactionCO,a.ObjectClass
	  ,100 as CC_CYC_PERC
	  ,Null as CC_Cycle
	  ,Null as CC_Account
	  ,Null as CC_CycleTxt
	  ,Null as ChannelCode
	  ,Null as FamilyCode
,Case
		 when  descript = 'Prod Var Settle FS' then '3200'
		 when  descript = 'Prod Var Settle CS' then '3300'
		 when  descript = 'Prod Var Settle MUL' then '3500'
		 when  descript = 'Prod Var Settle DAN' then '3400'
		 when  descript = 'Prod Var Settle MS/R' then '3100'

		 else '9999'	 		 
		 end as Plant
	   ,CASE 
     when  descript = 'Prod Var Settle FS' then 'Chilled'
		 when  descript = 'Prod Var Settle CS' then 'Frozen'
		 when  descript = 'Prod Var Settle MUL' then 'Frozen'
		 when  descript = 'Prod Var Settle DAN' then 'Frozen'
		 when  descript = 'Prod Var Settle MS/R' then 'Ingredients'
    ELSE 'Unallocated'
	END	  as Category


  FROM [BI_PROD_POST_SAP].[FACT].[UniversalJournalMonthSummary_New] a 
  left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
  inner join  ODS.COPAAssessmentRule_PC b on a.AccountNumber = b.gl_acc 
  and coalesce(a.ProfitCenter,'') = coalesce(b.pftctn,'')
  and coalesce(a.CostCenter,'') = coalesce(b.costctn,'')
  WHERE 
    FiscalYear = @fiscalyear
  and acc.AccountType in ('P','S') 
  --and b.asacc <> b.gl_acc
  --and a.AccountNumber < '95000000'
  --and b.map_type = 'GL_CC'
  and b.gl_acc in ('52570000','52070000') and b."COPA_ROW" >= '0024'
  and (a.BusinessTransactionCO is not null and a.ObjectClass = 'PROFT') --"ACCASTY" = 'EO' 
  and coalesce(a.ProfitCenter,'')<>''

union all
SELECT --a.[ProcessExecutionID]
      '' as [LoadDateTime]
      ,'' as [MonthStamp]
      ,'' as [CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
      ,[CostCenter] as [CostCentre]
          ,Null as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebit/CreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency]
      ,0 as [ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,'' as [OrderNumber]
          ,'' as [CYCLE]
      ,'' as [ASACC]
      --,b.costctn as [CostCentre]
      ,[AccountNumber] as [GL_ACC]
      ,'' as [GL_TXT]
      ,COPA_STRU as [DESCRIPT]
      ,[COPA_SUB_GROUP]
      ,'PC' as [MAP_TYPE]
      ,'' as [CYC_SEQ]
      ,'' as [CYC_TXT]
      --,[count]
      ,[FORM]
      ,COPA_ROW as [FROW]
      ,COPA_STRU as [TXTMT]
      ,'' as [CostCentre_KE30]
          --,a.BusinessTransactionCO,a.ObjectClass
          ,100 as CC_CYC_PERC
          ,Null as CC_Cycle
          ,Null as CC_Account
          ,Null as CC_CycleTxt
          ,ChannelCode
          ,FamilyCode
		  ,Plant
		  ,Category
          from Sales_ACT
union all
          SELECT --a.[ProcessExecutionID]
      '' as [LoadDateTime]
      ,'' as [MonthStamp]
      ,'' as [CompanyCode]
      --,[BusinessTransactionType]
      --,[TransactionTypeforGeneralLedger]
      --,[BusinessTransactionCO]
      ,[CostCenter] as [CostCentre]
          ,Null as CC_Orig_CostCentre
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebit/CreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
      ,[ValueinLocalCurrency]
      ,0 as [ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      --,'' as [OrderNumber]
          ,'' as [CYCLE]
      ,'' as [ASACC]
      --,b.costctn as [CostCentre]
      ,[AccountNumber] as [GL_ACC]
      ,'' as [GL_TXT]
      ,COPA_STRU as [DESCRIPT]
      ,[COPA_SUB_GROUP]
      ,'PC' as [MAP_TYPE]
      ,'' as [CYC_SEQ]
      ,'' as [CYC_TXT]
      --,[count]
      ,[FORM]
      ,COPA_ROW as [FROW]
      ,COPA_STRU as [TXTMT]
      ,'' as [CostCentre_KE30]
          --,a.BusinessTransactionCO,a.ObjectClass
          ,100 as CC_CYC_PERC
          ,Null as CC_Cycle
          ,Null as CC_Account
          ,Null as CC_CycleTxt
          ,ChannelCode
          ,FamilyCode
		  ,Plant
		  ,Category
          from Sales_ACT_ING
)

--RDM_ACT as (select c.FiscalYear
--,c.FiscalPeriod
--,cu.Channel
--,p.PreferredManufacturingSite
--,p.SubFamily
--,sum(a.ActualNetInvoiceValue) as NetInvoiceSales
--,sum(a.ActualInvoiceDiscount) as InvoiceDiscount
--,SUM(a.ActualNetInvoiceValue+a.ActualInvoiceDiscount) as GrossSalesValue
--,SUM(a.ActualTermsDiscount) as DeferredTerms
--,SUM(a.ActualCaseDiscount) as DeferredCase
--,SUM(a.ActualOtherDiscount) as DeferredOther
--from FACT.ActualSales a
--left join DIM.FiscalWeekCalendar c on a.FiscalYearWeekIntKey = c.FiscalYearWeekIntKey
--left join DIM.Customer cu on a.CustomerNo = cu.CustomerNo
--left join DIM.PRODUCT p on a.ProductNo = p.ProductNo
--where a.FiscalYear = 2025
--group by c.FiscalYear,c.FiscalPeriod,cu.Channel,p.PreferredManufacturingSite,p.SubFamily
--)


 insert into FACT.MLO_Actual
 select 
      [LoadDateTime]
      ,[MonthStamp]
      ,[CompanyCode]
      ,[CostCentre]
	  ,[CC_Orig_CostCentre]
      ,[ProfitCenter] as [ProfitCentre]
      ,[AccountNumber]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod] as FiscalPeriod
      ,sum([ValueinLocalCurrency]) as [ValueinLocalCurrency]
      ,sum([ValueinGroupCurrency]) as [ValueinGroupCurrency]
      ,[CurrencyKey]
      --,[MaterialNumber]
      --,[Plant]
      ,[UnitOfMeasureForValuationQuantity]
      ,sum([ValuationQuantity]) as [ValuationQuantity]
      --,'' as [OrderNumber]
	  ,[CYCLE] as COPACycle
      ,[ASACC] as COPAAccount  
      ,[GL_ACC] as COPAGLAcc
      ,[GL_TXT] as COPAGLaccTxt
      ,[DESCRIPT] as COPAAccTxt
      ,[COPA_SUB_GROUP] as COPASubGrp
      ,[MAP_TYPE] as COPAMAPType
      ,[CYC_SEQ] as COPACycleSeq 
      ,[CYC_TXT] as COPACycTxt
      --,[count] as count	
      ,[FORM] as COPAFORM	
      ,[FROW] as COPARowNo
      ,[TXTMT] as COPANodeTxt
      ,[CostCentre_KE30] as COPACostcentre
	  ,CC_CYC_PERC as CC_Percentage
	  ,CC_Cycle
	  ,CC_Account
	  ,CC_CycleTxt
	  ,ChannelCode
	  ,FamilyCode
	  ,Plant
	  ,Category

 from actual group by  [LoadDateTime]
      ,[MonthStamp]
      ,[CompanyCode]
      ,[CostCentre]
	  ,[CC_Orig_CostCentre]
      ,[ProfitCenter]
      ,[AccountNumber]
      ,[CODebitCreditIndicator]
      ,[FiscalYear]
      ,[PostingPeriod]
	  ,[CurrencyKey]
	  ,[UnitOfMeasureForValuationQuantity]
	  ,[CYCLE]
      ,[ASACC]
      ,[CostCentre]
      ,[GL_ACC]
      ,[GL_TXT]
      ,[DESCRIPT]
      ,[COPA_SUB_GROUP]
      ,[MAP_TYPE]
      ,[CYC_SEQ]
      ,[CYC_TXT]
      --,[count]
      ,[FORM]
      ,[FROW]
      ,[TXTMT]
      ,[CostCentre_KE30]
	  ,CC_CYC_PERC
	  ,CC_Cycle
	  ,CC_Account
	  ,CC_CycleTxt
	  ,ChannelCode
	  ,FamilyCode
	  ,Plant
	  ,Category
end;
GO
