USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MasterData_MaterialPlant]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  
CREATE   VIEW [Model].[MasterData_MaterialPlant]  
AS  
Select [Material]
      ,[Availability_Check] AS [Availability Check]
      ,[Transportation_Group] AS [Transportation Group]
      ,[Loading_Group] AS [Loading Group]
      ,[Profit_Center] AS [Profit Center]
	  ,Purchasing_Group AS [Purchasing Group]  
      ,Automatic_PO AS [Automatic PO]  
      ,Source_List AS [Source List]  
      ,ABC_Indicator AS [ABC Indicator]  
      ,MRP_Type AS [MRP Type]  
      ,Planning_Time_Fence AS [Planning Time Fence]  
      ,MRP_Controller AS [MRP Controller]  
      ,Lot_Size_Procedure AS [Lot Size Procedure]  
      ,Minimum_Lot_Size AS [Minimum Lot Size]  
      ,Maximum_Lot_Size AS [Maximum Lot Size]  
      ,Rounding_Value AS [Rounding Value]  
      ,Procurement_Type AS [Procurement Type]  
      ,Special_Procurement AS [Special Procurement]  
      ,Backflush AS [Backflush]  
      ,Production_Storage_Location AS [Production Storage Location]  
      ,Storage_Location_for_EP AS [Storage Location for EP]  
      ,Planned_Delivery_Time AS [Planned Delivery Time]  
      ,GR_Processing_Time AS [GR Processing Time]  
      ,Planning_Calendar AS [Planning Calendar]  
      ,Scheduling_Margin_Key AS [Scheduling Margin Key]  
      ,Safety_Stock AS [Safety Stock]  
      ,Coverage_Profile AS [Coverage Profile]  
      ,Safety_Time_Indicator AS [Safety Time Indicator]  
      ,Period_Indicator AS [Period Indicator]  
,Strategy_Group AS [Strategy Group]  
      ,Consumption_Mode AS [Consumption Mode]  
      ,Forward_Consumption_Period AS [Forward Consumption Period]  
      ,Backward_Consumption_Period AS [Backward Consumption Period]  
      ,Version_Indicator AS [Version Indicator]  
      ,Target_Day_Supply AS [Target_Day_Supply]  
      ,Production_Scheduling_Profile AS [Production Scheduling Profile]  
      ,Underdelivery_Tolerance_Limit AS [Underdelivery Tolerance Limit]  
      ,Unlimited AS [Unlimited]   
      ,CC_Physical_Inventory_Indicator AS [CC Physical Inventory Indicator]  
      ,Inspection_Setup AS [Inspection Setup]  
      ,Post_to_Inspection_Stock AS [Post to Inspection Stock]  
      ,Documentation_Required_Indicator AS [Documentation Required Indicator]  
      ,Do_Not_Cost AS [Do Not Cost]  
      ,Variance_Key AS [Variance Key]  
      ,Alternative_BOM AS [Alternative BOM]  
      ,BOM_Usage AS [BOM Usage]  
      ,Group_ AS [Group]  
      ,Group_Counter AS [Group Counter]  
      ,Task_List_Type AS [Task List Type]  
      ,Costing_Lot_Size AS [Costing Lot Size]  
	  ,Material_Price_Determination AS [Material Price Determination]  
      ,Valuation_Class AS [Valuation Class]  
      ,Material_Ledger_Activated AS [Material Ledger Activated]  
      ,Price_Control AS [Price Control]  
      ,With_Qty_Structure AS [With Qty Structure]  
      ,Material_Origin AS [Material Origin]  
      ,Planned_Price_1 AS [Planned Price 1]  
      ,Planned_Price_Date_1 AS [Planned Price Date 1] 
From [DIM].[MatPlant]
GO
