USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ColesCollaborativeForecast_NationalPromotions]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  View  [Model].[ColesCollaborativeForecast_NationalPromotions]
as
Select 
     -- ,[Expr1] as "Week Cases"
    product_no,
    state,
    cast(weekend_date as date) [WeekEnd Date],
	 "Baseline Cases"=0,
    SUM([Expr1]) AS [Promotion Cases],
    MAX([deal]) AS [Deal Max],
    MAX([promotion_description]) AS [Description]
FROM 
   
 [BI_PROD_POST_SAP].[Stg].[ColesCollaborativeForecast_NationalPromotions]
   where promotion_status <>'What-If' and Deal <>0

   GROUP BY 
    product_no, 
    state, 
    weekend_date;
GO
