USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Avatar_Customer]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****************************************************************************************************
/****** Object:  View [Model].[Avatar_Customer]    Script Date: 28/03/2022           */


*****************************************************************************************************/

CREATE VIEW [Model].[Avatar_Customer]
AS
SELECT [CustomerNo]
      ,[BaanCustomerNumber]
      ,[CustomerName]
	  ,[CustomerNoWithName]
      ,[AuxillaryName]
      ,[Address]
      ,[AddressAux]
      ,[City]
      ,[State]
      ,[PostCode]
      ,[Area]
      ,[ParentNo]
      ,[Route]
      ,[Telephone]
      ,[Fax]
      ,[LineOfBusiness]
      ,[SalesRep]
      ,[Country]
      ,[StatisticCustomer]
      ,[FinancialGroup]
      ,[DiscountGroup]
      ,[Status]
      ,[StatusDescription]
      ,[AccrualGroup]
      ,[PromotionGroup]
      ,[StatementMethod]
      ,[AccountStatus]
      ,[GLN]
      ,[CreditAnalyst]
      ,[TermsOfPayment]
      ,[Email]
      ,[OurSupplierNo]
      ,[AccountManager]
      ,[AccountManagerName]
      ,[LastInvoiceDate]
      ,[CreditLimit]
      ,[TermsOfDelivery]
      ,[DefaultShippingAddress]
      ,[Rating]
      ,[LoadPlanCode]
      ,[NationalCustomerCode]
      ,[CarrierCode]
      ,[SalesTerritory]
      ,[SalesOrderType]
      ,[NationalCustomer]
      ,[ChannelCustomerCode]
      ,[ChannelCustomer]
      ,[SubChannelCode]
      ,[SubChannel]
      ,[ChannelCode]
      ,[Channel]
      ,[AreaName]
      ,[Division]
      ,[DivisionCode]
      ,[Region]
      ,[RegionCode]
      ,[SpatialAddress]
      ,[ShippingPostcode]
      ,[ShippingState]
      ,[CreationDate]
      ,[DataSource]
      ,[BusinessPartnerRole]
	  ,[PriceListDescription]
	  ,[ShippingCity]
	  ,[LevelNo]
  FROM [Dim].[Customer]

  union

Select [CustomerNo]+'99' as [CustomerNo]
      ,[BaanCustomerNumber]
      ,[CustomerName]
      ,[CustomerNo]+'99 '+[CustomerName] as [CustomerNoWithName]
      ,[AuxillaryName]
      ,[Address]
      ,[AddressAux]
      ,[City]
      ,[State]
      ,[PostCode]
      ,[Area]
      ,[ParentNo]
      ,[Route]
      ,[Telephone]
      ,[Fax]
      ,[LineOfBusiness]
      ,[SalesRep]
      ,[Country]
      ,[StatisticCustomer]
      ,[FinancialGroup]
      ,[DiscountGroup]
      ,[Status]
      ,[StatusDescription]
      ,[AccrualGroup]
      ,[PromotionGroup]
      ,[StatementMethod]
      ,[AccountStatus]
      ,[GLN]
      ,[CreditAnalyst]
      ,[TermsOfPayment]
      ,[Email]
      ,[OurSupplierNo]
      ,[AccountManager]
      ,[AccountManagerName]
      ,[LastInvoiceDate]
      ,[CreditLimit]
      ,[TermsOfDelivery]
      ,[DefaultShippingAddress]
      ,[Rating]
      ,[LoadPlanCode]
      ,[NationalCustomerCode]
      ,[CarrierCode]
      ,[SalesTerritory]
      ,[SalesOrderType]
      ,[NationalCustomer]
      ,[ChannelCustomerCode]
      ,[ChannelCustomer]
      ,[CustomerNo] as [SubChannelCode]
      ,[CustomerName] as [SubChannel]
      ,[ChannelCode]
      ,[Channel]
      ,[AreaName]
      ,[Division]
      ,[DivisionCode]
      ,[Region]
      ,[RegionCode]
      ,[SpatialAddress]
      ,[ShippingPostcode]
      ,[ShippingState]
      ,[CreationDate]
      ,[DataSource]
      ,[BusinessPartnerRole]
      ,[PriceListDescription]
      ,[ShippingCity]
      ,[LevelNo]
       from Dim.Customer where Channel in ('Retail Grocery','International','Other') and SubChannelCode is null
	   
GO
