USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_CCassessmentCycle]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/*-- =============================================
-- Author:		<Bruce Cao>
-- Create date: <19/05/2025>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Bruce Cao			Initial Draft

-- =============================================*/
CREATE VIEW [Model].[MLO_CCassessmentCycle]
AS

select distinct cycle as CCCycle,
right(GL_ACC,8) as AccountNo,
right(ASACC,8) as CC_Account,
right(COSTCTN,4) as CC_Ori_CostCentre,
right(CC_ReceiverCC_Ind,4) as receivedCC, 
MAP_TYPE,
CYC_TXT,
CC_CYC_PERC 
from [SAPSTG].[CV_MD_COPA_GL_MAP_V3_COST_CENTER] 
--order by CC_ReceiverCC_Ind
GO
