USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Coles_Bulla_and_Cadbury(Append)]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  View  [Model].[Coles_Bulla_and_Cadbury(Append)]
as


  With Merging AS (                                           
    SELECT 
	[State]
      ,[Coles Category]
      ,[Coles Item]
      ,[Coles Description]
      ,[Week Start]
      ,[Value]
	    from [Stg].[Coles12WeekAaForecast_Transformed]

	   Union All 
	   Select 
	    [State]
      ,[Coles Category]
      ,[Coles Item]
      ,[Coles Description]
      ,[Week Start]
      ,[Value]
	   From [Stg].[Cadbury_Raw(Transformed)]
	   ),

 ConversionUnit as (                                            --This part inspired from "melbi4", "bulla_bi_prod",[Rpt].[ColesCollaborativeForecast_UOM]"]
 SELECT        
RecipeNo			AS [recipeno],
BaseUnit			AS [baseunit],
ConversionUnit		AS [conversionunit],
ConversionFactor	AS [conversionfactor]

FROM [BI_PROD_POST_SAP].ods.oum
where conversionunit = 'EA'
 )
 
Select 
       PN.[product_no] as [Product No],
	   [State],
	   [WeekEnd Date] = DATEADD(DAY, 4,[Week Start]),
	   [Coles Actual CS]=0,
	   [Approved CS Wk-1]=0,
	   [Approved CS Wk-5]=0,
	   round( (M.[Value] * CU.[conversionfactor]),2) as [Coles Forecast CS]
     
	  from merging M left join [Stg].[ColesCollaborativeForecast_AlternateProductNos] PN
	  on M.[Coles Item]= PN. [Coles_item_Code]
	  left join ConversionUnit CU on PN.product_no=CU.recipeno



	

	
GO
