USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_MBR]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [Model].[MLO_MBR]
AS
/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT [LoadDateTime]
--      ,[ForecastRevision]
--      ,[MBRSnapshotNo]
--      ,[MBRSnapshotName]
--      ,[CostCentre]
--      ,[CC_Orig_CostCentre]
--      ,[ProfitCentre]
--      ,[AccountNo]
--      --,[CODebitCreditIndicator]
--      --,[FiscalYear]
--      --,[FiscalPeriod]
--	  ,[FiscalYear]*100+[FiscalPeriod] as FiscalYearPeriod
--      ,[ValueinLocalCurrency]
--      --,[Currency]
--      --,[UnitOfMeasureForValuationQuantity]
--      ,[ValuationQuantity]
--      ,[COPACycle]
--      ,[COPAAccount]
--      ,[COPAGLAcc]
--      --,[COPAGLaccTxt]
--      --,[COPAAccTxt]
--      ,[COPASubGrp]
--      ,[COPAMAPType]
--      --,[COPACycleSeq]
--      --,[COPACycTxt]
--      --,[COPAFORM]
--      ,[COPARowNo]
--      --,[COPANodeTxt]
--      ,[COPACostcentre]
--      ,[CC_Percentage]
--      ,[CC_Cycle]
--      ,[CC_Account]
--      ,[CC_CycleTxt]
--	  ,ChannelCode
--	  ,FamilyCode
--	  ,Plant
--  FROM [BI_PROD_POST_SAP].[FACT].[MLO_MBR]

--declare @fiscalyear nvarchar(4);
--declare @fiscalperiod INT;
--declare @MBRSnapshotName nvarchar(10);
--declare @MBRSnapshotNo nvarchar(10);
--set @fiscalyear = (select left(MAX(MBRSnapshotNo),4) from ODS.MLO_QFWSnapshot);
--set @fiscalperiod = (select right(MAX(MBRSnapshotNo),2) from ODS.MLO_QFWSnapshot);
--set @MBRSnapshotName = (select  'F'+right(FiscalPeriodName,2)+'.'+LEFT(FiscalPeriodName,3) from DIM.CalendarDate where CalendarDayOffset = 0);
--set @MBRSnapshotNo = (select MAX(MBRSnapshotNo) from ODS.MLO_QFWSnapshot);


with 

Snapshotlist as (select distinct MBRSnapshotNo,MBRSnapshotName,LEFT(MBRSnapshotNo,4) as SSyear
,cast(right(MBRSnapshotNo,2) as int) as SSperiod,
LEFT(MBRSnapshotNo,4)*100+cast(right(MBRSnapshotNo,2) as int) as SSYearPeriod
from ODS.MLO_QFWSnapshot)



SELECT 
		sl.MBRSnapshotNo
		,sl.MBRSnapshotName
      --,[MonthStamp]
	    ,[LoadDateTime]
		,'ACT' as [ForecastRevision]
      --,[CompanyCode]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNumber] as AccountNo
      ,[CODebitCreditIndicator]
      --,[FiscalYear]
      --,[FiscalPeriod]
	  ,[FiscalYear]*100+[FiscalPeriod] as FiscalYearPeriod
      ,cast([ValueinLocalCurrency] as decimal(38, 6)) as [ValueinLocalCurrency]
      --,[ValueinGroupCurrency]
      ,[CurrencyKey] as Currency
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      ,[COPAGLaccTxt]
      ,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      ,[COPACycleSeq]
      ,[COPACycTxt]
      ,[COPAFORM]
      ,[COPARowNo]
      ,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
      --,[ChannelCode]
      --,[FamilyCode]
      ,[Plant]
      ,[Category]
	  ,right([CC_Cycle],6)+RIGHT([CC_Account],8)+RIGHT([CostCentre],4)+RIGHT([CC_Orig_CostCentre],4) as CCASKEY
  FROM [BI_PROD_POST_SAP].[FACT].[MLO_Actual] a
  left join Snapshotlist sl 
  on a.FiscalYear = sl.SSyear and a.FiscalPeriod<sl.SSperiod

  --WHERE (FiscalYear = @fiscalyear AND fiscalperiod <  @fiscalperiod)
   --OR (FiscalYear = CASE WHEN @fiscalperiod = 1 THEN @fiscalyear - 1 END)

--select * from ACT_AND_QFW where MBRSnapshotNo = '2025.10'
      
union all


SELECT 
     [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,[ForecastRevision]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      ,[CODebitCreditIndicator]
      --,[FiscalYear]
      --,[FiscalPeriod]
	  ,[FiscalYear]*100+[FiscalPeriod] as FiscalYearPeriod
      ,[ValueinLocalCurrency]
      ,[Currency]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      ,[COPAGLaccTxt]
      ,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      ,[COPACycleSeq]
      ,[COPACycTxt]
      ,[COPAFORM]
      ,[COPARowNo]
      ,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
      ,[Plant]
      ,[Category]
	  ,right([CC_Cycle],6)+RIGHT([CC_Account],8)+RIGHT([CostCentre],4)+RIGHT([CC_Orig_CostCentre],4)+cast([FiscalYear]*100+[FiscalPeriod] as nvarchar)  as CCASKEY
  FROM [ODS].[MLO_QFWSnapshot]
   -- WHERE FiscalYear = @fiscalyear and fiscalperiod >= right(MBRSnapshotNo,2)
	--)


GO
