USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ListPrice_Customer]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Model].[ListPrice_Customer]
AS
SELECT CustomerNo,CustomerName,PriceListTypeCode,b.Description as PriceListName, PriceGroupCode, c.Description as PriceGroupName
  FROM [DIM].[Customer] a 
 left join SAPSTG.CV_MD_PRICELIST b
on a.PriceListTypeCode = b.PriceList
and b.language = 'E'
and b.client = '200'
left join SAPSTG.CV_MD_PRICEGroup c
on a.PriceGroupCode = c.Pricegroup
and c.language = 'E'
and c.client = '200'
where customerno in (select distinct Customer from DIM.ListPrice where KeyComb in ('SKU/Cust','No Price'))
union
select distinct 'Z'+a.pricelist+'/'+coalesce(a.pricegroup,'ALL') as CustomerNo,
b.description+'/'+coalesce(c.description,'ALL') as CustomerName
, a.pricelist as PriceListTypeCode
,b.Description as PriceListName
,a.pricegroup as PriceGroupCode
,c.Description as PriceGroupName from DIM.ListPrice a

 left join SAPSTG.CV_MD_PRICELIST b
on a.PriceList = b.PriceList
and b.language = 'E'
and b.client = '200'
left join SAPSTG.CV_MD_PRICEGroup c
on a.PriceGroup = c.Pricegroup
and c.language = 'E'
and c.client = '200'
GO
