USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[FinanceDashboard_SNPBudgetActual]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [Model].[FinanceDashboard_SNPBudgetActual]
AS
with actual as (
Select 	
		replace(ltrim(replace(act.Material,'0',' ')),' ','0')	Material,
		Plant,
		WorkCentre,
pdt.Family,
		cal.FiscalYear,
		Cal.FiscalPeriod,
		SUM(act.OrderQuantity) as OrdQty,
       SUM(act.DeliveryQuantity) as DelQty
from SAPSTG.CV_PR_MFGTHRUORDDETAILS act
inner join DIM.CalendarDate cal
on act.ScheduledStartDate = cal.CalendarDate
left outer join DIM.PRODUCT pdt
on replace(ltrim(replace(act.Material,'0',' ')),' ','0') = pdt.ProductNo
where act.UOM = 'CS' --and FiscalYear = 2024 and FiscalPeriod = 7
group by 
		Material,
		Plant,
		WorkCentre,
		Family,
		cal.FiscalYear,
		Cal.FiscalPeriod
		),

BUDGET AS 
(
  select pdt.Family, 
		bud.Material,
		bud.Plant,
		bud.ProductionLine,
		bud.FiscalYear,
		bud.FiscalPeriod,
		SUM(BudgetQty) as BudQty
		   FROM fact.ProductionPlanBudgetWeekly bud
		   left outer join  DIM.PRODUCT pdt
		   on bud.Material = pdt.ProductNo
		 where bud.Unit = 'CS'  --and FiscalYear = 2024 and FiscalPeriod = 7
		   group by
		   pdt.Family, 
		bud.Material,
		bud.Plant,
		bud.ProductionLine,
		bud.FiscalYear,
		bud.FiscalPeriod
		   )

		--SELECT Family, SUM(oRDqTY) FROM actual
		--WHERE FiscalYear = 2024 AND FiscalPeriod = 7
		--GROUP bY Family

	SELECT Bud.Family,
			Bud.Material,
			bud.Plant,
			bud.ProductionLine,
			bud.FiscalYear,
			Bud.FiscalPeriod, 
	        SUM(Bud.BudQty) as BudQTy,
	         SUM(OrdQty) as OrdQty,
			 SUM(DelQty) as DelQty,
			 SUM(OrdQty) - SUM(Bud.BudQty) as VarQty
		   FROM  actual act 
		   left outer join Budget bud
		   on bud.Material = act.Material
		   and bud.Plant = act.Plant
		   --and bud.ProductionLine = act.WorkCentre
		   and bud.Fiscalyear = act.FiscalYear
		   and bud.FiscalPeriod = act.FiscalPeriod
		   --where Bud.fiscalyear = 2024 and bud.FiscalPeriod = 7
		   group by
		   bud.Family,
		   bud.Material,
		   bud.Plant,
		   bud.ProductionLine,
		   bud.FiscalYear,
		   bud.FiscalPeriod
GO
