USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MasterData_MaterialClass]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE VIEW [Model].[MasterData_MaterialClass]  
AS  
SELECT  [Material]
      ,[Material_class] AS [Material class]
      ,[Characteristic_Name] AS [Characteristic Name]
      ,[Characteristic_Value] AS [Characteristic Value]
	  ,Classtype
  FROM [BI_PROD_POST_SAP].[DIM].[MatClass]
GO
