USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ColesCollaborativeForecast_PlanningCalendar]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view  [Model].[ColesCollaborativeForecast_PlanningCalendar]
AS

  
SELECT 
   [WeekendDate]			AS [weekend_date]
  ,[MonthendDate]			AS [monthend_date]
  ,[WeekcommenceDate]		AS [weekcommence_date]
  ,[WeekOffset]				AS [current_week_prior]
  ,[PeriodOffset]			AS [current_period_prior]   
  ,[YearOffset]				AS [current_year_prior]
  ,[FiscalYear]				AS [fiscal_year]
  ,[FiscalWeek]				AS [fiscal_week]
  ,[FiscalPeriod]			AS [fiscal_period]
  ,[WeekOfMonth]			AS [weekofmonth]
  ,[CalendarWeekOfYear]		AS [calendar_week]
  ,[PriorFiscalYear]		AS [prior_year]
  ,0						AS [planning_week_factor] 
FROM [Bulla_BI_Prod].[Dim].[CalendarDate] WITH(NOLOCK) 
  Where [IsWeekend]='1' AND  [YearOffset] BETWEEN -1 AND 1
  ;





GO
