USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_PML]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [Model].[MLO_PML]
AS

--declare @fiscalyear nvarchar(4);
--declare @fiscalperiod INT;
--declare @MBRSnapshotName nvarchar(10);
--declare @MBRSnapshotNo nvarchar(10);
--set @fiscalyear = (select left(MAX(MBRSnapshotNo),4) from ODS.MLO_QFWSnapshot);
--set @fiscalperiod = (select right(MAX(MBRSnapshotNo),2) from ODS.MLO_QFWSnapshot);
--set @MBRSnapshotName = (select  'F'+right(FiscalPeriodName,2)+'.'+LEFT(FiscalPeriodName,3) from DIM.CalendarDate where CalendarDayOffset = 0);
--set @MBRSnapshotNo = (select MAX(MBRSnapshotNo) from ODS.MLO_QFWSnapshot);





with 
V_MBRSnapshotNo as  
(SELECT 
    LEFT(MAX(MBRSnapshotNo), 4) + '.' + 
    RIGHT('00' + CAST(CAST(RIGHT(MAX(MBRSnapshotNo), 2) AS INT) - 1 AS VARCHAR), 2) AS MBRSnapshotNo
FROM ODS.MLO_QFWSnapshot),
V_fiscalyear as (select left(MAX(MBRSnapshotNo),4) as fiscalyear from ODS.MLO_QFWSnapshot),
V_fiscalperiod as (select right(MAX(MBRSnapshotNo),2)-1 as fiscalperiod  from ODS.MLO_QFWSnapshot),
V_fiscalYearperiod as (select left(MAX(MBRSnapshotNo),4)*100+right(MAX(MBRSnapshotNo),2)-1 as fiscalyearperiod  from ODS.MLO_QFWSnapshot)

--Snapshotlist as (select distinct MBRSnapshotNo,MBRSnapshotName,LEFT(MBRSnapshotNo,4) as SSyear
--,cast(right(MBRSnapshotNo,2) as int) as SSperiod,
--LEFT(MBRSnapshotNo,4)*100+cast(right(MBRSnapshotNo,2) as int) as SSYearPeriod
--from ODS.MLO_QFWSnapshot)

SELECT 
		--sl.MBRSnapshotNo
		--,sl.MBRSnapshotName
      --,[MonthStamp]
	    [LoadDateTime]
		,'ACT' as [ForecastRevision]
      --,[CompanyCode]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNumber] as AccountNo
      ,[CODebitCreditIndicator]
      --,[FiscalYear]
      --,[FiscalPeriod]
	  ,[FiscalYear]*100+[FiscalPeriod] as FiscalYearPeriod
      ,[ValueinLocalCurrency]
      --,[ValueinGroupCurrency]
      ,[CurrencyKey] as Currency
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      ,[COPAGLaccTxt]
      ,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      ,[COPACycleSeq]
      ,[COPACycTxt]
      ,[COPAFORM]
      ,[COPARowNo]
      ,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
      --,[ChannelCode]
      --,[FamilyCode]
      ,[Plant]
      ,[Category]
	  ,right([CC_Cycle],6)+RIGHT([CC_Account],8)+RIGHT([CostCentre],4)+RIGHT([CC_Orig_CostCentre],4) as CCASKEY
  FROM [BI_PROD_POST_SAP].[FACT].[MLO_Actual] a 

  WHERE (FiscalYear = (select fiscalyear from V_fiscalyear) 
  AND fiscalperiod <  (select FiscalPeriod from V_fiscalperiod))
      
union all


SELECT 
    -- [MBRSnapshotNo]
     -- ,[MBRSnapshotName]
      [LoadDateTime]
      ,[ForecastRevision]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      ,[CODebitCreditIndicator]
      --,[FiscalYear]
      --,[FiscalPeriod]
	  ,[FiscalYear]*100+[FiscalPeriod] as FiscalYearPeriod
      ,[ValueinLocalCurrency]
      ,[Currency]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      ,[COPAGLaccTxt]
      ,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      ,[COPACycleSeq]
      ,[COPACycTxt]
      ,[COPAFORM]
      ,[COPARowNo]
      ,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
      ,[Plant]
      ,[Category]
	  ,right([CC_Cycle],6)+RIGHT([CC_Account],8)+RIGHT([CostCentre],4)+RIGHT([CC_Orig_CostCentre],4) as CCASKEY
  FROM [ODS].[MLO_QFWSnapshot]
  WHERE FiscalYear*100+fiscalperiod >=  (select FiscalyearPeriod from V_fiscalYearperiod)
  and MBRSnapshotNo =  (select MBRSnapshotNo from V_MBRSnapshotNo)
	--)


GO
