USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[LatestSales]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Model].[LatestSales]
AS
SELECT FISCYEARPER, Material, Customer,
	sum(quantity*multiplier*isqty) QTY,
	sum([Amount(AUD)]*multiplier*isGSV) GSV,
	-sum([Amount(AUD)]*multiplier*isOID) OID,
	-sum([Amount(AUD)]*multiplier*isDCD) DCD,
	-sum([Amount(AUD)]*multiplier*isDTD) DTD,
	-sum([Amount(AUD)]*multiplier*isDOD) DOD,
	-sum([Amount(AUD)]*multiplier*isCOGS) COGS,
	-sum([Amount(AUD)]*multiplier*isFRT) FRT,
	MAX(LoadDate) LoadDate
FROM [Fact].[LatestSales] s
INNER JOIN SAPSTG.GLAccountReportingMatrix g
	ON g.GLAccountNo = s.GLAccount
GROUP BY fiscyearper, Material, Customer
GO
