USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_ACT]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















CREATE VIEW [Model].[MLO_ACT]
AS
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [LoadDateTime]
      --,[MonthStamp]
      --,[CompanyCode]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNumber]
      --,[CODebitCreditIndicator]
      --,[FiscalYear]
      --,[FiscalPeriod]
	  ,[FiscalYear]*100+[FiscalPeriod] as FiscalYearPeriod
      ,[ValueinLocalCurrency]
      --,[ValueinGroupCurrency]
      --,[CurrencyKey]
      --,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      --,[COPAGLaccTxt]
      --,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      --,[COPACycleSeq]
      --,[COPACycTxt]
      --,[COPAFORM]
      ,[COPARowNo]
      --,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
	  ,ChannelCode
	  ,FamilyCode
	  ,'ACT' as ForecastRevision
	  ,Plant
	  ,Category
	  ,right([CC_Cycle],6)+RIGHT([CC_Account],8)+RIGHT([CostCentre],4)+RIGHT([CC_Orig_CostCentre],4)+cast([FiscalYear]*100+[FiscalPeriod] as nvarchar) as CCASKEY
  FROM [BI_PROD_POST_SAP].[FACT].[MLO_Actual]

GO
