USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_Plant]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****************************************************************************************************
			
History
-------
Version			Date			 Consultant				Comments
1.0				19/05/2025       Bruce C				Intial Draft  			  

*****************************************************************************************************/


CREATE VIEW [Model].[MLO_Plant]
AS
       
SELECT [Plant]
      ,[PlantName]
     
      ,[Address]
      ,[AddressAux]
      ,[City]
      ,[State]
      ,[PostCode]
      ,[Country]
  FROM [Bulla_BI_Prod].[Dim].[Plant]
GO
