USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Labour_WFR_Aurion]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [Model].[Labour_WFR_Aurion]    
as

SELECT   
    [EmployeeId],
    [FirstName],
    [LastName],
    [EmployeeType],
    [Date],
    [Schedule],
    [CalcStart],
    [CalcEnd],
    [StandardTotalHours],
    [CalcHours],
    [DepartmentFullPath],
    [TimeOffName],
    [CostCentres],
    c.weekenddate AS Processed_Period,
	    -- Extra columns from Aurion, not present in Labour_Workforce
    NULL AS Pay_Cycle,
    NULL AS Length_of_Service,
    NULL AS Award_Code,
    NULL AS Time_Code,
    NULL AS Description,
    NULL AS Allowance_Deduction_Code,
    NULL AS Hours_Aurion,
    NULL AS Minutes,
    NULL AS Units,
    NULL AS Multiplier,
    NULL AS Rate,
    NULL AS Amount,
    NULL AS Primary_Cost_Code,
    NULL AS Cost_Code_Description,
    NULL AS Actual_Job_Title,
    NULL AS Employment_Type_Code,
    NULL AS Attendance_Type_Code,
    NULL AS Reporting_Category_Code,
    NULL AS Employee_Status,
    NULL AS Equivalent_Full_Time,
    NULL AS Pay_Entity,
    NULL AS Date_Commenced,
    NULL AS Hours_per_Week,
    NULL AS Date_of_Birth,
    NULL AS Actual_Location_Code,
    NULL AS Actual_Classification,
    NULL AS Time_Code_Account
FROM [BI_PROD_POST_SAP].[FACT].[Labour_Workforce] w
left join dim.CalendarDate c on w.date = c.CalendarDate
 

UNION ALL

SELECT   
    [Employee_Number] AS EmployeeId,
    NULL AS FirstName,
    NULL AS LastName,
    NULL AS EmployeeType,
    NULL AS Date,
    NULL AS Schedule,
    NULL AS CalcStart,
    NULL AS CalcEnd,
    NULL AS StandardTotalHours,
    NULL AS CalcHours,
    NULL AS DepartmentFullPath,
    NULL AS TimeOffName,
    NULL AS CostCentres,

    -- Aurion-specific columns
    [Processed_Period],
    [Pay_Cycle],
    [Length_of_Service],
    [Award_Code],
    [Time_Code],
    [Description],
    [Allowance_Deduction_Code],
    [Hours] AS Hours_Aurion,
    [Minutes],
    [Units],
    [Multiplier],
    [Rate],
    [Amount],
    [Primary_Cost_Code],
    [Cost_Code_Description],
    [Actual_Job_Title],
    [Employment_Type_Code],
    [Attendance_Type_Code],
    [Reporting_Category_Code],
    [Employee_Status],
    [Equivalent_Full_Time],
    [Pay_Entity],
    [Date_Commenced],
    [Hours_per_Week],
    [Date_of_Birth],
    [Actual_Location_Code],
    [Actual_Classification],
    [Time_Code_Account]

FROM [BI_PROD_POST_SAP].[FACT].[Labour_Aurion]
GO
