USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Avatar_Strategy_LongTermForecast]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [Model].[Avatar_Strategy_LongTermForecast]
AS 
/*************************************************************
Object Name :	 [Model].[Strategy_LongTermForecast]
		  

***************************************************************/

--SELECT a.[FiscalYear]
--      ,a.Product_No as ProductNo
--	  ,b.CustomerNo
--      ,sum(COALESCE(a.[Total_COGS],0) ) as StrategyCOGS
--      ,sum(COALESCE(a.[Outbound_Freight],0)) as StrategyFRT 
--      ,sum(COALESCE(a.[GMC],0)) as StrategyGMC
--      ,sum(COALESCE(a.[GMC_Outbound_Freight],0)) as [StrategyGMC-F]
--      ,sum(COALESCE(a.[Gross_Revenue],0)) as StrategyGSV
--      ,sum(COALESCE(a.[Net_Revenue],0)) as StrategyNSV
--      ,sum(COALESCE(a.[Trade_Spend],0)) as StrategyTTS
--      ,sum(COALESCE(a.[Volume],0)) as StrategyQTY
--	  ,sum(COALESCE(a.[Dairy_Cost],0)) as StrategyDairyCost
--	  ,sum(COALESCE(a.[Net_nonDairy_Cost],0)) as StrategyNetNONDairyCost
--	  ,sum(COALESCE(a.[Waste_Cost],0)) as StrategyWasteCost
--	  ,sum(COALESCE(a.[Labour_Cost],0)) as StrategyLabourCost
--	  ,sum(COALESCE(a.[Overheads],0)) as StrategyOverheads
--	  ,sum(COALESCE(a.[Third_party_Costs],0)) as StrategyThirdPartyCosts
--	  ,sum(COALESCE(a.[Internal_Freight],0)) as StrategyInternalFreight

	  
--  FROM [FACT].[Strategy_Sales_Forecast] a
--  left join [DIM].[Customer] b
--  on a.[Sub Channel]=b.CustomerName
--  group by a.FiscalYear,a.Product_No,b.CustomerNo


SELECT a.[Year] as FiscalYear
      ,a.Product as ProductNo
	  ,b.CustomerNo
      ,sum(COALESCE(a.[Total COGS],0) ) as StrategyCOGS
      ,sum(COALESCE(a.[Outbound Freight],0)) as StrategyFRT 
      ,sum(COALESCE(a.[GMC],0)) as StrategyGMC
      ,sum(COALESCE(a.[GMC - Outbound Freight],0)) as [StrategyGMC-F]
      ,sum(COALESCE(a.[Gross Revenue],0)) as StrategyGSV
      ,sum(COALESCE(a.[Net Revenue],0)) as StrategyNSV
      ,sum(COALESCE(a.[Trade Spend],0)) as StrategyTTS
      ,sum(COALESCE(a.[Volume],0)) as StrategyQTY
	  ,sum(COALESCE(a.[Dairy Cost],0)) as StrategyDairyCost
	  ,sum(COALESCE(a.[Net Non-Dairy Cost],0)) as StrategyNetNONDairyCost
	  ,sum(COALESCE(a.[Waste Cost],0)) as StrategyWasteCost
	  ,sum(COALESCE(a.[Labour Cost],0)) as StrategyLabourCost
	  ,sum(COALESCE(a.[Overheads],0)) as StrategyOverheads
	  ,sum(COALESCE(a.[Third Party Costs],0)) as StrategyThirdPartyCosts
	  ,sum(COALESCE(a.[Internal Freight],0)) as StrategyInternalFreight

	  
  FROM  [BI_PROD_POST_SAP].[Fact].[StrategyUpload] a
  left join [DIM].[Customer] b
  on a.[Sub_Channel]=b.CustomerName
    and b.LevelNo  = 2
  group by a.Year,a.Product,b.CustomerNo



GO
