USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[DemandReview_CommittedSales]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [Model].[DemandReview_CommittedSales]
AS
	SELECT SnapshotDate
		,FiscalYearWeekDisplay
		,F.FiscalYearWeekIntKey
		,F.FiscalYear
		,F.FiscalWeek
		,F.CustomerNo
		,ProductNo
		,CommittedSalesQuantity
		,CommittedNetInvoiceValue
		,CommittedInvoiceDiscount
		,CommittedCaseDiscount
		,CommittedTermsDiscount
		,CommittedOtherDiscount
		,CommittedCOGS
		,CommittedGrossMargin
		,CommittedBaselineQuantity
		,CommittedIncrementalQuantity
        ,CommittedFreightOutbound
        ,CommittedGrossMarginLessFreight = 
         		case when F.FiscalYear<2009 then null 
                else isnull(CommittedGrossMargin,0)- isnull(CommittedFreightOutbound,0)
                end
		,CommittedFreightFuelLevy
		,Cast(RTrim(LTrim(f.CustomerNo)) AS Varchar(10)) + '|' + Cast(RTrim(LTrim(f.ProductNo)) AS Varchar(10)) AS CustomerNoProductNo
	,YearOffset,C.FiscalPeriod,DIM.Customer.NationalCustomerCode
	FROM Fact.CommittedSales (NOLOCK) F 
	LEFT JOIN 	Dim.Customer WITH (NOLOCK) ON F.CustomerNo = Dim.Customer.CustomerNo
	INNER JOIN Dim.FiscalWeekCalendar (NOLOCK) C
		ON F.FiscalYearWeekIntKey = C.FiscalYearWeekIntKey
	WHERE YearOffset <= 8
	--AND
	--	(
	--	F.CustomerNo != '12641' -- 02-MAY-2022 - John Ginete - Remove after cutover of RDM/SalesTracking
	--	AND ProductNo != '5000742' -- 02-MAY-2022 - John Ginete - Remove after cutover of RDM/SalesTracking
	--	)
GO
