USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_COPANode]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*-- =============================================
-- Author:		<Bruce Cao>
-- Create date: <19/05/2025>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Bruce Cao			Initial Draft

-- =============================================*/

CREATE VIEW [Model].[MLO_COPANode]
AS

with cte as(

select distinct * from (
select distinct FROW as COPARowNo,[TXTMT] as COPANodeTxt,[FORM] as COPAFORM from [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule]
union select distinct COPA_ROW as COPARowNo,COPA_STRU as COPANodeTxt,[FORM] as COPAFORM from [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule_PC]) a)

select a.*,B.Site,B.FIArea
,b.Owner,b.GM from cte a left join Conf.mlo b on a.COPARowNo = B.COPARowNo


GO
