USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLOR_OrderDetails]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [Model].[MLOR_OrderDetails]
AS
	Select *
	,cast(MaterialAvailableDate as Datetime) as MaterialAvailableDate1
	,cast(GIDate as Datetime) as GIDate1 from [FACT].[OrderBatchDetailsMLOR]


GO
