USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_MLO_RO]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [Model].[MLO_MLO_RO]
AS

--declare @fiscalyear nvarchar(4);
--declare @fiscalperiod INT;
--declare @MBRSnapshotName nvarchar(10);
--declare @MBRSnapshotNo nvarchar(10);
--set @fiscalyear = (select left(MAX(MBRSnapshotNo),4) from ODS.MLO_QFWSnapshot);
--set @fiscalperiod = (select right(MAX(MBRSnapshotNo),2) from ODS.MLO_QFWSnapshot);
--set @MBRSnapshotName = (select  'F'+right(FiscalPeriodName,2)+'.'+LEFT(FiscalPeriodName,3) from DIM.CalendarDate where CalendarDayOffset = 0);
--set @MBRSnapshotNo = (select MAX(MBRSnapshotNo) from ODS.MLO_QFWSnapshot);


with 
V_MBRSnapshotNo as  (select MAX(MBRSnapshotNo) as MBRSnapshotNo from ODS.MLO_RNOSnapshot),
V_fiscalyear as (select fiscalyear from dim.CalendarDate where CalendarDayOffset = 0),
V_fiscalperiod as (select FiscalPeriod from dim.CalendarDate where CalendarDayOffset = 0),
V_fiscalYearperiod as (select fiscalyear*100+FiscalPeriod as fiscalYearperiod from dim.CalendarDate where CalendarDayOffset = 0) 


SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
	  , FiscalYearPeriod
      ,-allocatedgsv as [ValueinLocalCurrency]
     --,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0001' as COPARowNo
      ,'Gross Sales Value' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY  
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')




 union all

--oid 
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002010' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-allocatedoid as [ValueinLocalCurrency]
    -- ,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	 ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0002' as COPARowNo
      ,'Invoice Discounte' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')

union all

--DTD
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002040' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-allocateddtd as [ValueinLocalCurrency]
     --,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	 ,null as [UnitOfMeasureForValuationQuantity]
	 ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0005' as COPARowNo
      ,'Deferred Terms' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')

 union all

--DCD
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002030' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-allocateddcd as [ValueinLocalCurrency]
     --,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	 ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0006' as COPARowNo
      ,'Deferred Case' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot

 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')

  union all

--DOD
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'44002000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-allocateddod as [ValueinLocalCurrency]
     --,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	  ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0007' as COPARowNo
      ,'Deferred Other' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')


   union all

--COGS
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-allocatedcogs as [ValueinLocalCurrency]
     --,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	,null as [UnitOfMeasureForValuationQuantity]
	 ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0012' as COPARowNo
      ,'COGS Raw Material' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel in ('Commercial','Retail Grocery','International')
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')


   union all

--ING NSV
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'41000000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-allocatedgsv - allocatedoid as [ValueinLocalCurrency]
    -- ,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	 ,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0021' as COPARowNo
      ,'Net Sales Ingredient' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel = 'Ingredients'
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')

    union all

--ING COGS
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'50301000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-allocatedcogs as [ValueinLocalCurrency]
     --,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0022' as COPARowNo
      ,'COGS Ingredients' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 and channel = 'Ingredients'
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')

     union all

--FRT for July MBR
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,'RO' as [ForecastRevision]
      ,null as [CostCentre]
      ,null as [CC_Orig_CostCentre]
      ,null as [ProfitCentre]
      ,'52591000' as [AccountNo]
      ,'D' as [CODebitCreditIndicator]
      , FiscalYearPeriod
      ,-AllocatedFRT as [ValueinLocalCurrency]
     --,0 as [ForecastYTDAmount]
      ,'AUD' as [Currency]
	,null as [UnitOfMeasureForValuationQuantity]
	  ,0 as [ValuationQuantity]
      --,null as [SourceSystem]
	  ,null as COPACycle
      ,null as COPAAccount  
      ,null as COPAGLAcc
      ,null as COPAGLaccTxt
      ,null as COPAAccTxt
      ,null as COPASubGrp
      ,'RO' as COPAMAPType
      ,null as COPACycleSeq 
      ,null as COPACycTxt
      --,[count] as count	
      ,null as COPAFORM	
      ,'0027' as COPARowNo
      ,'Outbound Freight' as COPANodeTxt
      ,null  as COPACostcentre
	  ,null as CC_Percentage
	  ,null as CC_Cycle
	  ,null as CC_Account
	  ,null as CC_CycleTxt
	  ,Plant
	  ,Category
	  ,null as CCASKEY 
	  from ods.MLO_RNOSnapshot
 where riskopportunity in ('Risk','Opportunity') and likelihood = 'High'
 --and channel = 'Ingredients'
   and fiscalyearperiod >= (select FiscalyearPeriod from V_fiscalYearperiod)
   and MBRSnapshotNo in ((select MBRSnapshotNo from V_MBRSnapshotNo),'000')
 and MBRSnapshotNo = '2026.01' and (select MBRSnapshotNo from V_MBRSnapshotNo) = '2026.01' and Title = 'Frt R&O for July MBR' --ONly for JULY




GO
