USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_RNO]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE view [Model].[MLO_RNO]    
as

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [MBRSnapshotNo]
      ,[MBRSnapshotName]
      ,[LoadDateTime]
      ,[ID]
      ,[Title]
      ,[DateTC]
      ,[Year]
      ,[RiskOpportunity]
      ,[Likelihood]
      ,[Plant]
      ,[Channel]
      ,[Category]
      ,[SubChannel]
      ,[Family]
      --,[Comments]
      ,[StartDate]
      ,[EndDate]
      ,cast([VolumeCases] as nvarchar(20)) as ROtotalCase
      ,cast([ValueGMC] as nvarchar(20)) as ROtotalGMC
      ,[Owner]
      ,[OwnerEmail]
      ,[Status]
      --,[EnteredBy]
      --,[SKUDescription]
      --,[StartPeriod]
      --,[dayofstartperiod]
      --,[EndPeriod]
      --,[dayofendperiod]
      ,[Error] as Note
      ,cast(abs(round([RDM_GMC_portion]/NULLIF([RDM_GMC_total],0)*100,2)) as nvarchar(10))+'%' as GMC_Ratio
      --,[RDM_GMC_total]
       ,cast(abs(round([RDM_QTY_portion]/nullif([RDM_QTY_total],0)*100,2)) as nvarchar(10))+'%' as QTY_Ratio
	  --,[RDM_QTY_portion]
      --,[RDM_QTY_total]
      --,[idcounter]
      --,[familycounter]
     -- ,[subchannelcounter]
      --,[Volumecases2]
      --,[ValueGMC2]
      ,[MultiFamilyFlag]
      ,[MultiSubchannelFlag]
      ,[ROdaterange]
	  ,fiscalyear
      ,[FiscalYearPeriod]
      ,[DaysInMonth] as [DaysInPeriod]
      ,[daysinRO]
      ,[AllocatedCases]
      ,[AllocatedGMC]
      ,[AllocatedGSV]
      ,[AllocatedOID]
      ,[AllocatedNIV]
      ,[AllocatedDCD]
      ,[AllocatedDTD]
      ,[AllocatedDOD]
      ,[AllocatedCOGS]
      ,[AllocatedFRT]
   FROM [BI_PROD_POST_SAP].[ODS].[MLO_RNOSnapshot]
GO
