USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Avatar_Strategy_Product]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/****************************************************************************************************
Object Name :	 [Model].[Avatar_Product] 
				
History
-------
Version			Date			 Consultant				Comments
1.0				30/08/2023		Bruce Cao			Intial Draft  

*****************************************************************************************************/

CREATE VIEW [Model].[Avatar_Strategy_Product] 
AS


With StrategyProduct as
   (  select  distinct Product
      ,[Sub_family]
      ,[Line]    
      ,[Family]
      ,[Category]
      ,[Brand]
      ,[Product_Description]
      ,[Site] from [BI_PROD_POST_SAP].[Fact].[StrategyUpload] where Product in

  (select distinct [ProductNo] from [BI_PROD_POST_SAP].[Model].[Avatar_Strategy_LongTermForecast] except 
  select distinct productNo from DIM.product)
   )

select Product as ProductNo
      ,'' as [ERPLNProductNo]
      ,Product_Description as [ProductDescription]
      ,Product+ ' ' + Product_Description as [ProductNoWithDescription]
      ,NULL as [Weight]
      ,'' as [ProductGroup]
      ,'' as [ProductGroupName]
      ,'' as [ProductType]
      ,'' as [SelectionCode]
      ,'' as [ProductTaxCode]
      ,'' as [InventoryUnit]
      ,'' as [StorageUnit]
      ,'' as [SalesUnit]
      ,'' as [SalesPriceUnit]
      ,'' as [SalesPriceGroup]
      ,'' as [StatisticsGroup]
      ,NULL as [StandardCost]
      ,NULL as [MaterialCosts]
      ,NULL as [OperationalCosts]
      ,Cast('' as nvarchar(18))as [Apn]
      ,'' as [ProductSegment]
      ,'' as [SignalCode]
      ,'' as [SignalDescription]
      ,'' as [CommodityCode]
      ,'' as [Tun]
      ,'' as [PcmCode]
      ,'' as [PcmProductGroup]
      ,'' as [PcmPackagingCodeEan]
      ,'' as [PcmPackagingCodeTun]
      ,'' as [AbcCode]
      ,NULL as [ProductShelfLife]
      ,'' as [MakeOrBuy]
      ,cast(NULL as Float) as [PlanningSafetyStock]
      ,cast(NULL as Float) as [QualityHoldHours]
      ,'' as [PromotionGroupCode]
      ,'' as [Gtin14]
      ,NULL as [MaintainMasterPlan]
      ,'' as [PromotionGroup]
      ,'' as [SubFamilyCode]
      ,Sub_Family as [SubFamily]
      ,'' as [FamilyCode]
      ,[Family]
      ,'' as [CategoryCode]
      ,[Category]
      ,'' as [SubBrandCode]
      ,'' as [SubBrand]
      ,'' as [BrandCode]
      ,[Brand]
      ,'' as [PackFormat]
      ,'' as [PackSize]
      ,'' as [CorporateBrandCode]
      ,'' as [CorporateBrand]
      ,'' as [PrimaryChannel]
      ,'' as [PrimaryChannelSource]
      ,'NPD Plan SKU' as [DemandType]
      ,NULL as [RetailUnitFactor]
      ,NULL as [PalletFactor]
      ,'' as [PreferredRouting]
      ,Line as [PreferredProductionLine]
      ,'' as [PreferredProductionLineCode]
      ,'' as [PreferredWorkCentre]
      ,Site as [PreferredManufacturingSite]
      ,'' as [ProductionSegment]
      ,'' as [ForecastFlag]
      ,'' as [IsActiveNPD]
      ,'' as [ProductLaunchDate]
      ,NULL as [ProductLaunchYear]
      ,NULL as [LifeInMonths]
      ,cast(NULL as float) as [DairyLitreRetailUnit]
      ,NULL as [ContentLitres]
	  ,'' as [PreferredProductionCentre] 
	  ,'' as [RetailUnitFactorinKG]		--13-06-2022 - Kishor Shinde - Added for KG
	   , '' PreferredManufacturingSiteCode -- 16-10-2024 - Abhishek - Added for PreferredPlant
		, '' PreferredProductionCentreCode -- 16-10-2024 - Abhishek - Added for PreferredPlant
      From StrategyProduct 


GO
