USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Avatar_Product]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****************************************************************************************************
Object Name :	 [Model].[Avatar_Product] 
				
History
-------
Version			Date			 Consultant				Comments
1.0				16/03/22		 Kishor Shinde			Intial Draft  
1.1				13/06/22		 Kishor Shinde			Added [RetailUnitFactorinKG] to match columns with Product table
*****************************************************************************************************/

CREATE VIEW [Model].[Avatar_Product]
AS


With brand as
   (select distinct BrandCode,brand from Dim.Product where BrandCode is not null),
   PRD_H as
   (select distinct 
   ProCategory_Code,
   ProCategory_Name,
   ProSubFamily_Code,
   ProSubFamily_Name,
   ProFamily_Code,
   ProFamily_Name
   from ODS.vwProductH1_L4 ),
AvtarProduct AS (
   select distinct 
       'DM'+coalesce(br.BrandCode,'9')+coalesce(ph.ProCategory_Code,'9')+coalesce(ph.ProFamily_Code,'999')+coalesce(ph.ProSubFamily_Code,'9999') as [ProductNo]
      , 'DM'+coalesce(br.BrandCode,'9')+coalesce(ph.ProCategory_Code,'9')+coalesce(ph.ProFamily_Code,'999')+coalesce(ph.ProSubFamily_Code,'9999') as [ProductDescription]
      ,coalesce(ph.ProSubFamily_Code,'9999') as [SubFamilyCode]
      ,a.[Sub Family] as [SubFamily]
      ,coalesce(ph.ProFamily_Code,'999') as [FamilyCode]
      ,a.family as [Family]
      ,coalesce(ph.ProCategory_Code,'9') as [CategoryCode]
      ,a.category as [Category]
      ,coalesce(br.BrandCode,'9') as [BrandCode]
      ,a.brand as [Brand]
      ,cast('2021-01-01 00:00:00.0000000' as datetime2) as [ProductLaunchDate]
	  ,Row_number() over(partition by 'DM'+coalesce(br.BrandCode,'9')+coalesce(ph.ProCategory_Code,'9')+coalesce(ph.ProFamily_Code,'999')+coalesce(ph.ProSubFamily_Code,'9999')
	  Order by a.[Sub Family]) as rn
from [FACT].[Avatar_Sales_Forecast]  a 
   left join PRD_H ph on 
   a.Category = ph.ProCategory_Name
   and a.Family = ph.ProFamily_Name
   and a.[Sub Family] =  ph.ProSubFamily_Name
   left join brand br on a.Brand = br.Brand 
   where a.volume <> 0
   )

select [ProductNo]
      ,'' as [ERPLNProductNo]
      ,[ProductDescription]
      ,'' as [ProductNoWithDescription]
      ,NULL as [Weight]
      ,'' as [ProductGroup]
      ,'' as [ProductGroupName]
      ,'' as [ProductType]
      ,'' as [SelectionCode]
      ,'' as [ProductTaxCode]
      ,'' as [InventoryUnit]
      ,'' as [StorageUnit]
      ,'' as [SalesUnit]
      ,'' as [SalesPriceUnit]
      ,'' as [SalesPriceGroup]
      ,'' as [StatisticsGroup]
      ,NULL as [StandardCost]
      ,NULL as [MaterialCosts]
      ,NULL as [OperationalCosts]
      ,Cast('' as nvarchar(18))as [Apn]
      ,'' as [ProductSegment]
      ,'' as [SignalCode]
      ,'' as [SignalDescription]
      ,'' as [CommodityCode]
      ,'' as [Tun]
      ,'' as [PcmCode]
      ,'' as [PcmProductGroup]
      ,'' as [PcmPackagingCodeEan]
      ,'' as [PcmPackagingCodeTun]
      ,'' as [AbcCode]
      ,NULL as [ProductShelfLife]
      ,'' as [MakeOrBuy]
      ,cast(NULL as Float) as [PlanningSafetyStock]
      ,cast(NULL as Float) as [QualityHoldHours]
      ,'' as [PromotionGroupCode]
      ,'' as [Gtin14]
      ,NULL as [MaintainMasterPlan]
      ,'' as [PromotionGroup]
      ,[SubFamilyCode]
      ,[SubFamily]
      ,[FamilyCode]
      ,[Family]
      ,[CategoryCode]
      ,[Category]
      ,'' as [SubBrandCode]
      ,'' as [SubBrand]
      ,[BrandCode]
      ,[Brand]
      ,'' as [PackFormat]
      ,'' as [PackSize]
      ,'' as [CorporateBrandCode]
      ,'' as [CorporateBrand]
      ,'' as [PrimaryChannel]
      ,'' as [PrimaryChannelSource]
      ,'' as [DemandType]
      ,NULL as [RetailUnitFactor]
      ,NULL as [PalletFactor]
      ,'' as [PreferredRouting]
      ,'' as [PreferredProductionLine]
      ,'' as [PreferredProductionLineCode]
      ,'' as [PreferredWorkCentre]
      ,'' as [PreferredManufacturingSite]
      ,'' as [ProductionSegment]
      ,'' as [ForecastFlag]
      ,'' as [IsActiveNPD]
      ,[ProductLaunchDate]
      ,NULL as [ProductLaunchYear]
      ,NULL as [LifeInMonths]
      ,cast(NULL as float) as [DairyLitreRetailUnit]
      ,NULL as [ContentLitres]
	  ,'' as [PreferredProductionCentre] 
	  ,'' as [RetailUnitFactorinKG]		--13-06-2022 - Kishor Shinde - Added for KG
	    , '' PreferredManufacturingSiteCode -- 16-10-2024 - Abhishek - Added for PreferredPlant
		, '' PreferredProductionCentreCode -- 16-10-2024 - Abhishek - Added for PreferredPlant
      From AvtarProduct where rn = 1

GO
