USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_CostCentre]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****************************************************************************************************
			
History
-------
Version			Date			 Consultant				Comments
1.0				19/05/2025       Bruce C				Intial Draft  			  

*****************************************************************************************************/


CREATE VIEW [Model].[MLO_CostCentre]
AS
       
SELECT        
ProcessExecutionID			AS	[ProcessExecutionID], 
LoadDateTime				AS	[LoadDateTime], 
CostCentre					AS	[Cost Centre], 
CostCentreName				AS	[Cost Centre Name], 
CostCentre + ' ' + CostCentreName 	AS	[Cost Centre Name with Code], 
Sublevel					AS	[Sublevel], 
EmployeeNo					AS	[Employee No], 
BlockCode					AS	[Block Code], 
ParentCostCentre			AS	[Parent Cost Centre], 
ParentCostCentreName		AS	[Parent Cost Centre Name], 
ResponsiblePersonName		AS	[Cost Centre Person Responsible], 
CostCentreCategory			AS	[Cost Centre Category], 
ProfitCentre				AS	[Current Profit Centre], 
ProfitCentreName			AS	[Current Profit Centre Name], 
Source
FROM  [Bulla_BI_Prod].Dim.CostCentre WITH (NOLOCK)
GO
