USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MasterData_Customer]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view 
[Model].[MasterData_Customer] as 
select * from dim.[Customer]
GO
