USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_COPACycle]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*-- =============================================
-- Author:		<Bruce Cao>
-- Create date: <19/05/2025>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Bruce Cao			Initial Draft

-- =============================================*/

CREATE VIEW [Model].[MLO_COPACycle]
AS

select distinct CYCLE as COPACycle,CYC_SEQ as COPACycleSeq,CYC_TXT as COPACycTxt 
from [BI_PROD_POST_SAP].[ODS].[COPAAssessmentRule]

GO
