USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[CommittedProjectedSales_SAC]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [Model].[CommittedProjectedSales_SAC]
AS
	SELECT C.WeekcommenceDate As SnapshotDate
		,FiscalYearWeekDisplay
		,F.FiscalYearWeekIntKey
		,F.FiscalYear
		,F.FiscalWeek
		,Convert(Date,C.WeekcommenceDate) WeekcommenceDate
		,CAST(CAST(F.FiscalYear as varchar(4)) + '_' + RIGHT('0' + CAST(F.fiscalweek as varchar(2)),2) as varchar)  as FiscalYearWeek
		,cast(F.CustomerNo as int) as CustomerNo			--30/06--Kishor -- converted to Int
		,cast(F.ProductNo as int) as ProductNo				--30/06--Kishor -- converted to Int
		,'Committed' as Version
		,'' as AuditTrail
		,P.SalesUnit as UOM
		,CommittedSalesQuantity as SalesQuantity
		,GrossSalesValue = CommittedNetInvoiceValue - CommittedInvoiceDiscount 
		,NetSalesValue = CommittedNetInvoiceValue + CommittedCaseDiscount + CommittedTermsDiscount + CommittedOtherDiscount
		,CommittedNetInvoiceValue as NetInvoiceValue
		,CommittedInvoiceDiscount as InvoiceDiscount
		,CommittedCaseDiscount as CaseDiscount
		,CommittedTermsDiscount as TermsDiscount
		,CommittedOtherDiscount as  OtherDiscount
		,CommittedCOGS as COGS
		,CommittedGrossMargin as GrossMargin
		,CommittedBaselineQuantity as BaselineQuantity
		,CommittedIncrementalQuantity as IncrementalQuantity
        ,CommittedFreightOutbound as  FreightOutbound
        ,GrossMarginLessFreight = 
         		case when F.FiscalYear<2009 then null 
                else isnull(CommittedGrossMargin,0)- isnull(CommittedFreightOutbound,0)
                end
		,CommittedFreightFuelLevy as FreightFuelLevy
		,Cast(RTrim(LTrim(f.CustomerNo)) AS Varchar(10)) + '|' + Cast(RTrim(LTrim(f.ProductNo)) AS Varchar(10)) AS CustomerNoProductNo
	,YearOffset,C.FiscalPeriod,DIM.Customer.NationalCustomerCode
	, '' as SalesROAdjustment
	, '' as SalesRevenue
	,'' as SalesUnitPrice

	FROM Fact.CommittedSales (NOLOCK) F 
	LEFT JOIN 	Dim.Customer WITH (NOLOCK) ON F.CustomerNo = Dim.Customer.CustomerNo
	left join dim.PRODUCT P WITH (NOLOCK) ON F.ProductNo = P.ProductNo
	INNER JOIN Dim.FiscalWeekCalendar (NOLOCK) C
		ON F.FiscalYearWeekIntKey = C.FiscalYearWeekIntKey
WHERE F.FiscalYear> 2020 
and F.CustomerNo <>'20_2030_' --BC added on 11/11/2024
UNION ALL
	SELECT C.WeekcommenceDate As SnapshotDate
		,FiscalYearWeekDisplay
		,F.FiscalYearWeekIntKey
		,F.FiscalYear
		,F.FiscalWeek
		,Convert(Date,C.WeekcommenceDate) WeekcommenceDate
		,CAST(CAST(F.FiscalYear as varchar(4)) + '_' + RIGHT('0' + CAST(F.fiscalweek as varchar(2)),2) as varchar)  as FiscalYearWeek
		,cast(F.CustomerNo as int) as CustomerNo			--30/06--Kishor -- converted to Int
		,cast(F.ProductNo as int) as ProductNo				--30/06--Kishor -- converted to Int
		,'Projected' as Version
		,'' as AuditTrail
		,P.SalesUnit as UOM
		,ProjectedSalesQuantity as SalesQuantity
		,GrossSalesValue =ProjectedNetInvoiceValue - ProjectedInvoiceDiscount
		,NetSalesValue = ProjectedNetInvoiceValue + ProjectedCaseDiscount + ProjectedTermsDiscount + ProjectedOtherDiscount
		,ProjectedNetInvoiceValue as NetInvoiceValue
		,ProjectedInvoiceDiscount as InvoiceDiscount
		,ProjectedCaseDiscount    as CaseDiscount
		,ProjectedTermsDiscount   as TermsDiscount
		,ProjectedOtherDiscount	  as OtherDiscount
		,ProjectedCOGS			  as COGS
		,ProjectedGrossMargin	  as GrossMargin
		,ProjectedBaselineQuantity as BaselineQuantity
		,ProjectedIncrementalQuantity as IncrementalQuantity
        ,ProjectedFreightOutbound as FreightOutbound
        ,GrossMarginLessFreight = 
         		case when F.FiscalYear<2009 then null 
                else isnull(ProjectedGrossMargin,0)- isnull(ProjectedFreightOutbound,0)
                end
		,ProjectedFreightFuelLevy as FreightFuelLevy
		,Cast(RTrim(LTrim(f.CustomerNo)) AS Varchar(10)) + '|' + Cast(RTrim(LTrim(f.ProductNo)) AS Varchar(10)) AS CustomerNoProductNo
	,YearOffset,C.FiscalPeriod,DIM.Customer.NationalCustomerCode
	, '' as SalesROAdjustment
	, '' as SalesRevenue
	,'' as SalesUnitPrice

	FROM Fact.ProjectedSales (NOLOCK) F 
	LEFT JOIN 	Dim.Customer WITH (NOLOCK) ON F.CustomerNo = Dim.Customer.CustomerNo
	left join dim.PRODUCT P WITH (NOLOCK) ON F.ProductNo = P.ProductNo
	INNER JOIN Dim.FiscalWeekCalendar (NOLOCK) C
		ON F.FiscalYearWeekIntKey = C.FiscalYearWeekIntKey
WHERE F.FiscalYear> 2020


GO
