USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLOR_Customer]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [Model].[MLOR_Customer]
AS
	Select * from Dim.Customer


GO
