USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_ForecastRevision]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Model].[MLO_ForecastRevision]
AS
SELECT 'ACT' AS ForecastRevision
UNION ALL
SELECT 'QFW'
UNION ALL
SELECT 'RO'
UNION ALL
SELECT 'CMT'
UNION ALL
SELECT 'BUD';
GO
