USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ALDI_Alternate_Product_No's]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [Model].[ALDI_Alternate_Product_No's]    
as

SELECT [alternative_reference] as [Aldi Reference]
      ,[product_no] as [Product No]
      ,[product_description] as [Product Description]
  FROM [BI_PROD_POST_SAP].[Stg].[ALDI Alternate Product Reference]
GO
