USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_BUD]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















CREATE VIEW [Model].[MLO_BUD]
AS
	/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [LoadDateTime]
      ,[ForecastRevision]
      ,[CostCentre]
      ,[CC_Orig_CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      --,[CODebitCreditIndicator]
      --,[FiscalYear]
      --,[FiscalPeriod]
	  ,[FiscalYear]*100+[FiscalPeriod] as FiscalYearPeriod
      ,[ValueinLocalCurrency]
      ,[Currency]
      ,[UnitOfMeasureForValuationQuantity]
      ,[ValuationQuantity]
      ,[COPACycle]
      ,[COPAAccount]
      ,[COPAGLAcc]
      --,[COPAGLaccTxt]
      --,[COPAAccTxt]
      ,[COPASubGrp]
      ,[COPAMAPType]
      --,[COPACycleSeq]
      --,[COPACycTxt]
      --,[COPAFORM]
      ,[COPARowNo]
      --,[COPANodeTxt]
      ,[COPACostcentre]
      ,[CC_Percentage]
      ,[CC_Cycle]
      ,[CC_Account]
      ,[CC_CycleTxt]
	  ,Plant
	  ,Category
	  ,right([CC_Cycle],6)+RIGHT([CC_Account],8)+RIGHT([CostCentre],4)+RIGHT([CC_Orig_CostCentre],4)+cast([FiscalYear]*100+[FiscalPeriod] as nvarchar)  as CCASKEY
  FROM [BI_PROD_POST_SAP].[FACT].[MLO_BUD]



GO
