USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[BOM_Component]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [Model].[BOM_Component] as Select 
    [ItemNo] as [CompNo],
    [ItemDescription] as [CompDescription],
    [ItemNoWithDescription] as [CompNoWithDescription],
    [SignalCode],
    [SignalDescription],
    [ItemGroup] as [CompGroup],
    [ItemGroupName] as [CompGroupName],
    [ItemGroupType] as [CompGroupType],
    [ItemType] as [CompType],
    [ItemTypeName] as [CompTypeName],
    [InventoryUnit],
    [StorageUnit] from [ODS].[Item]
GO
