USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ALDI_ProductHierarchy]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [Model].[ALDI_ProductHierarchy]
as 
  
SELECT           
ProductNo				AS	[Product No], 
Category				AS	[Category], 
Family					AS	[Family], 
SubFamily				AS	[Sub-Family],
PromotionGroup			AS	[Promotion Group],
Brand	,				
SubBrand				AS	[Sub-Brand], 
SignalCode				AS	[Signal Code], 
RetailUnitFactor		AS	[Retail Factor], 
PalletFactor			AS	[Pallet Factor], 
DemandType				AS	[Demand Type]			
FROM  [Bulla_BI_Prod].Dim.Product 
Where [SubFamily] <> 'Unassigned' and [ProductNo] NOT LIKE 'F%'
GO
