USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MasterData_Material]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
  
    
CREATE     VIEW [Model].[MasterData_Material]      
AS      
    
SELECT  LoadDateTime as [LoadDateTime],
		ItemNo AS [Material Number]    
      ,ErplnItemNo AS [Erp ln ItemNo]    
      ,ItemDescription AS [Material Description]    
      ,ItemNoWithDescription AS [Material Number With Description]    
   ,CONCAT(SignalCode,' ',SignalDescription) [X-Plant Material Status]  
      ,SignalCode AS [Signal Code]    
      ,SignalDescription AS [Signal Description]    
      ,Weight AS [Weight]    
      ,ItemGroup AS [Item Group]    
      ,ItemGroupName AS [Item Group Name]    
      ,ItemGroupType AS [Item Group Type]    
      ,ItemType AS [Item Type]    
      ,ItemTypeName AS [Item Type Name]    
      ,SelectionCode AS [Selection Code]    
      ,ProductTaxcode AS [Product Taxcode]    
      ,TaxcodeDescription AS [Taxcode Description]    
      ,InventoryUnit AS [Base Unit]    
      ,StorageUnit AS [Storage Unit]    
      ,SalesUnit AS [Sales Unit]    
      ,SalesPriceUnit AS [Sales Price Unit]    
      ,SalesPriceGroup AS [Sales Price Group]    
      ,StatisticsGroup AS [Statistics Group]    
      ,StandardCost AS [Standard Cost]    
      ,MaterialCosts AS [Material Costs]    
      ,OperationalCosts AS [Operational Costs]    
      ,Apn AS [Apn]    
      ,Tun AS [Tun]    
      ,ProductSegment AS [Product Segment]    
      ,IsFinishedGood AS [Is Finished Good]    
      ,ProductClass AS [Product Class]    
      ,MakeOrBuy AS [Make Or Buy]    
      ,PeriodForShelfLife AS [Period For ShelfLife]    
      ,ProductShelfLife AS [Product ShelfLife]    
      ,ShelfLifeDays AS [ShelfLife Days]    
      ,Currency AS [Currency]    
      ,AveragePriceAUD AS [Average Price AUD]    
      ,HomeCurrency AS [Home Currency]    
      ,OrderQtyMultiples AS [Order Qty Multiples]    
      ,NoBatchesDay AS [No Batches Day]    
      ,MinimumOrderQty AS [Minimum Order Qty]    
      ,MaxOrderQty AS [Max Order Qty]    
      ,FixedOrderQty AS [Fixed Order Qty]    
      ,EconomicOrderQty AS [Economic Order Qty]    
      ,ReorderPoint AS [Reorder Point]    
      ,OrderInterval AS [Order Interval]    
      ,OrderLeadtime AS [Order Leadtime]    
      ,OrderLeadtimeDays AS [Order Leadtime Days]    
      ,OrderLeadtimeWeeks AS [Order Leadtime Weeks]    
      ,SafetyTime AS [Safety Time]    
      ,Warehouse AS [Warehouse]    
      ,MaximumInventory AS [Maximum Inventory]    
      ,ApMaximumStock AS [ApMaximum Stock]    
      ,BuyerNo AS [Buyer No]    
      ,BuyerName AS [Buyer Name]    
      ,PlannerNo AS [Planner No]    
      ,SubPlannerName AS [Sub Planner Name]    
      ,Standard AS [Standard]    
      ,PriceUnit AS [PriceUnit]    
      ,LastTransactionDate AS [Last Transaction Date]    
      ,PurchaseUnit AS [Purchase Unit]    
      ,PlanningWarehouse AS [Planning Warehouse]    
      ,PurchaseWarehouse AS [Purchase Warehouse]    
      ,OrderWarehouse AS [Order Warehouse]    
      ,SalesWarehouse AS [Sales Warehouse]    
      ,InUseErpln AS [In Use Erpln]    
      ,InventoryHolding AS [Inventory Holding]    
      ,InventoryFlag AS [Inventory Flag]    
      ,OrderHorizon AS [Order Horizon]    
      ,PlanningHorizon AS [Planning Horizon]    
      ,TimeFence AS [Time Fence]    
      ,TimeFenceUnit AS [Time Fence Unit]    
      ,MaintenanceMP AS [Maintenance MP]    
      ,ExtraLeadtime AS [Extra Leadtime]    
      ,UnitExtraLeadtime AS [Unit Extra Leadtime]    
      ,FixedLeadtime AS [Fixed Leadtime]    
      ,AutoUpProduction AS [Auto Up Production]    
      ,AutoUpPurchasing AS [Auto Up Purchasing]    
      ,AutoUpInventoryPlan AS [Auto Up Inventory Plan]    
      ,AutoUpDemand AS [Auto Up Demand]    
      ,MasterPlannerNo AS [Master Planner No]    
      ,PlannerName AS [Planner Name]    
      ,MaintainMasterPlan AS [Maintain Master Plan]    
      ,RoutingGroup AS [Routing Group]    
      ,RetailUnitFactor AS [Retail Unit Factor]    
      ,PalletFactor AS [Pallet Factor]    
      ,PreferredRouting AS [Preferred Routing]    
      ,PreferredWorkCentre AS [Preferred WorkCentre]    
      ,ProductionType AS [Production Type]    
      ,UnitGrossMargin AS [Unit GrossMargin]    
      ,UnitGrossMarginUnit AS [Unit Gross Margin Unit]    
      ,ConsumptionUnitsInCase AS [Consumption Units InCase]    
      ,ConsumptionUnit AS [Consumption Unit]    
      ,MinimumFixed AS [Minimum Fixed]    
  ,MaximumFixed AS [Maximum Fixed]    
      ,MaximumDays AS [Maximum Days]    
      ,ApMinimumDays AS [ApMinimum Days]    
      ,AdjustedMaximumDays AS [Adjusted Maximum Days]    
      ,AdjustedMinimumDays AS [Adjusted Minimum Days]    
      ,TargetDays AS [Target Days]    
      ,IsMix AS [Is Mix]    
      ,IsIntermediate AS [Is Intermediate]    
      ,IsRecipeIngredient AS [Is Recipe Ingredient]    
      ,PlanningMLOR AS [Planning MLOR]    
      ,QualityHoldHours AS [Quality HoldHours]    
      ,WarehouseHoldDays AS [Warehouse HoldDays]    
      ,PlanningPriority AS [Planning Priority]    
      ,TransportationHoldDays AS [Transportation HoldDays]    
      ,MadeToOrder AS [Made To Order]    
      ,ForecastFlag AS [Forecast Flag]    
      ,ExcludeFromMixLitres AS [Exclude From Mix Litres]    
      ,IngredientPriceAUD AS [Ingredient Price AUD]    
      ,InventoryToPurchaseFactor AS [Inventory To Purchase Factor]    
      ,InventoryToStorageFactor AS [Inventory To Storage Factor]    
      ,InventoryToPriceFactor AS [Inventory To Price Factor]    
      ,CostComponentCode AS [Cost Component Code]    
      ,CommodityGroupCode AS [Commodity Group Code]    
      ,CommodityGroup AS [Commodity Group]    
      ,ManufactureType AS [Manufacture Type]    
      ,LastMaintainedDate AS [Last Maintained Date]    
      ,SearchKey AS [Search Key]    
      ,PlanningMLORUnit AS [Planning MLOR Unit]    
      ,ForecastHorizon AS [Forecast Horizon]    
      ,FallbackHorizon AS [Fallback Horizon]    
      ,InventoryPolicyDays AS [Inventory PolicyDays]    
      ,PalletLayerFactor AS [Pallet Layer Factor]    
      ,Plant AS [Plant]    
      ,PlantName AS [Plant Name]    
      ,RetailUnitFactorinKG AS [Retail Unit Factor inKG]    
      ,Old_Material_Number AS [Old Material Number]    
      ,Authorization_Group AS [Authorization Group]    
      ,Gross_Weight AS[Gross Weight]    
      ,Net_Weight AS [Net Weight]    
      ,Volume AS [Volume]    
      ,Category_of_International_Article_Number AS [Category of International Article Number]    
      ,International_Article_Number AS [International Article Number]    
      ,Volume_Unit AS [Volume Unit]    
      ,Weight_Unit AS [Weight Unit]    
      ,X_Distribution_Chains_Status AS [X Distribution Chains Status]    
      ,Valid_From AS [Valid From]    
      ,Transportation_Group AS [Transportation Group]    
      ,Batch_Management AS [Batch Management]    
      ,Minimum_Remaining_Shelf_Life AS [Minimum Remaining Shelf_Life]    
      ,Total_Shelf_Life AS [Total Shelf Life]    
      ,Period_Indicator_for_SLED AS [Period Indicator for SLED]    
      ,Expiration_Date_Description AS [Expiration Date Description]    
      ,Cash_Discount AS [Cash Discount]    
      ,Account_Assignment_Group AS [Account Assignment Group]    
      ,Item_Category_Group AS [Item Category Group]    
      ,Brand AS [Brand]    
      ,Sub_Brand AS [Sub Brand]    
      ,Corporate_Brand AS [Corporate Brand]    
      ,Marketing_Group AS [Marketing Group]    
	,Division AS [Division] 
	,Stock_on_Hand AS [Stock on Hand]
	,Stock_on_Hand_Val AS [Stock on Hand Val]
	,Stock_Change_Date AS [Stock Change Date]
	,Days_cover AS [Days cover]
	,First_shortage_Date AS [First shortage Date]
	,Next_Available_Date AS [Next Available Date]
	,Highest_Stock_Date AS [Highest Stock Date]
	,Lowest_Stock_Date AS [Lowest Stock Date]
	,First_Stock_Shortage_Date AS [First Stock Shortage Date]
	,Flag_Under_Safety AS [Flag Under Safety]
	,Overdue_Document_Flag AS [Overdue Document Flag]
	,Safety_Stock_Days AS [Safety Stock Days]
	,Under_Safety_Date AS [Under Safety Date]
	,Bulla_coverage_Days AS [Bulla coverage Days]
	,Bulla_coverage_Date AS [Bulla coverage Date]
	,Next_above_Safety_Date AS [Next above Safety Date]
	,Family AS [Family]
	,FamilyCode AS [FamilyCode]
	,SubFamily AS [SubFamily]
	,SubFamilyCode AS [SubFamilyCode]
	,PromotionGroup AS [PromotionGroup]
	,PromotionGroupCode AS [PromotionGroupCode]
	,DemandType AS [DemandType]
	,PrimaryChannel AS [PrimaryChannel]
	,PrimaryChannelSource AS [PrimaryChannelSource]
  FROM [DIM].[Material]    
        
GO
