USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_FiscalPeriodCalendar]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*-- =============================================
-- Author:		<Bruce Cao>
-- Create date: <19/05/2025>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Bruce Cao			Initial Draft

-- =============================================*/

CREATE VIEW [Model].[MLO_FiscalPeriodCalendar]
AS

  SELECT [MonthendDate]     
      ,[QuarterendDate]    
      ,[PeriodOffset]
      ,[YearOffset]
      ,[QuarterOffset]
      ,[FiscalYear]     
      ,[FiscalPeriod]
      ,[FiscalQuarter]
      ,[Period]
      ,[PeriodName]
      ,[Quarter]
      ,[DaysInMonth]
      ,[PriorYear]
      ,[ForecastPeriod]
      ,[YTDComplete]
      ,cast([FiscalYear] as nvarchar)+' '+ cast([FiscalPeriod] as nvarchar) as [FiscalYearperiodKey]
      ,[FiscalYear]*100 +[FiscalPeriod] as [FiscalYearPeriodIntKey]
      ,[PeriodComplete]
      ,[FiscalHalfYear]
	  --,[ChristmasWeekFlag]							-- 19/07 -- ChristmasWeekFlag column added -- Kishor Shinde -- 21/07 Removed this column
	  	--,[EventFlag]										-- 21/07 -- Added column for EventFlag -- Kishor Shinde
  FROM [Dim].[FiscalWeekCalendar] where MonthendDate = WeekendDate 


GO
