USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_Account]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [Model].[MLO_Account]
AS
--WITH DetailAccounts as 
--(SELECT DISTINCT [AccountNo] FROM [Fact].[AccountBalance] WITH (NOLOCK))
SELECT 
[AccountHierarchyKey]		= a.CompanyCode+'-'+a.ChartofAccounts	+'-301Z-'+AccountNo	 				
,[ProcessExecutionID]		= a.ProcessExecutionID	
,[LoadDateTime]				= a.LoadDateTime		
,[Company Code]				= a.CompanyCode					
,[Chart Of Accounts]		= a.ChartOfAccounts		 
,[Financial Statement Variant]='301Z' 
,[Account No]				= a.AccountNo
,[Account Name]				= a.AccountName
,[Account No With Name]		= a.AccountNowithName
,[Account Type]				= a.AccountType	
,[Account Type Description]	= a.AccountTypeDescription 
,[Report Type]				= '* COST CENTRE *'
FROM 
  [Bulla_BI_Prod].Dim.Account a WITH (NOLOCK)
  where a.AccountType not in ('X') -- Balance Sheet
 --INNER JOIN DetailAccounts x on a.AccountNo=x.AccountNo
GO
