USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ColesCollaborativeForecast_ProductHierarchy]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE View [Model].[ColesCollaborativeForecast_ProductHierarchy]
AS

  
SELECT        
 ProductNo				AS [product_no]
,[ProductDescription]	AS [product_description]
,Category				AS [category]
,Family					AS [family]
,SubFamily				AS [sub_family]
,PromotionGroup			AS [promotion_group]	
,Brand					AS [brand]
,SubBrand				AS [sub_brand]
,SignalCode				AS [signal_code]
,RetailUnitFactor		AS [retail_factor]
,PalletFactor			AS [pallet_factor]
,DemandType				AS [demand_type]
FROM  [BI_PROD_POST_SAP].Dim.Product 
  ;
GO
