USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Avatar_LongTermForecast]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Model].[Avatar_LongTermForecast]
AS 
/*************************************************************
Object Name :	 [Model].[Avatar_LongTermForecast]
		  

***************************************************************/

SELECT a.[FiscalYear]
      ,c.[CustomerNo]
	  ,p.productNo as ProductNo
      ,sum(COALESCE(a.[COGS],0) + COALESCE(a.[Depreciation],0)) as AvatarCOGS
      ,sum(COALESCE(a.[Freight],0)) as AvatarFRT 
      ,sum(COALESCE(a.[GMC],0)) as AvatarGMC
      ,sum(COALESCE(a.[GMC-F],0)) as [AvatarGMC-F]
      ,sum(COALESCE(a.[Gross Sales],0)) as AvatarGSV
      ,sum(COALESCE(a.[Net Sales],0)) as AvatarNSV
      ,sum(COALESCE(a.[Trade Spend],0)) as AvatarTTS
      ,sum(COALESCE(a.[Volume],0)) as AvatarQTY

	  
  FROM [FACT].[Avatar_Sales_Forecast] a
  left join 
	(select [CustomerNo]+'99' as [CustomerNo], CustomerName from Dim.Customer where Channel in ('Retail Grocery','International','Other') and SubChannelCode is null
	  union
	   select CustomerNo,CustomerName from Dim.Customer where CustomerNo  = SubChannelCode
		)  c on a.[Sub Channel] = c.[CustomerName]
  left join  
	(   select distinct 

       'DM'+coalesce(br.BrandCode,'9')+coalesce(ph.ProCategory_Code,'9')+coalesce(ph.ProFamily_Code,'999')+coalesce(ph.ProSubFamily_Code,'9999') as [ProductNo]
      , 'DM'+coalesce(br.BrandCode,'9')+coalesce(ph.ProCategory_Code,'9')+coalesce(ph.ProFamily_Code,'999')+coalesce(ph.ProSubFamily_Code,'9999') as [ProductDescription]
      ,coalesce(ph.ProSubFamily_Code,'9999') as [SubFamilyCode]
      ,avt.[Sub Family] as [SubFamily]
      ,coalesce(ph.ProFamily_Code,'999') as [FamilyCode]
      ,avt.family as [Family]
      ,coalesce(ph.ProCategory_Code,'9') as [CategoryCode]
      ,avt.category as [Category]
      ,coalesce(br.BrandCode,'9') as [BrandCode]
      ,avt.brand as [Brand]
	   from [FACT].[Avatar_Sales_Forecast]  avt
	   left join (select distinct 
			   ProCategory_Code,
			   ProCategory_Name,
			   ProSubFamily_Code,
			   ProSubFamily_Name,
			   ProFamily_Code,
			   ProFamily_Name
				from ODS.vwProductH1_L4) ph on 
			   avt.Category = ph.ProCategory_Name
			   and avt.Family = ph.ProFamily_Name
			   and avt.[Sub Family] =  ph.ProSubFamily_Name
	   left join (select distinct BrandCode,brand from Dim.Product where BrandCode is not null)br 
			on avt.Brand = br.Brand 
	  where avt.volume <> 0
	  ) p
	on a.[Sub Family] = p.[SubFamily] 
  and a.[Brand] = p.[Brand] 
  and a.[Family] =p.[Family] 
  and a.[Category] = p.[Category]

  group by a.[FiscalYear]
      ,c.[CustomerNo]
	  ,p.productNo
  
GO
