USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ColesCollaborativeForecast_StatePromotions]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [Model].[ColesCollaborativeForecast_StatePromotions]
AS

       
  with StateProm as(     
SELECT 
AL2.ContractReference					AS promotion_id, 
AL2.BS1CustomerCode						AS bs1_customer_code, 
AL2.BS1CustomerName						AS bs1_customer_name, 
AL1.ProductNo							AS product_no, 
AL2.PromotionFromDate					AS promotion_from, 
AL2.PromotionToDate						AS promotion_to, 
AL2.PromotionWeeks						AS promotion_weeks, 
AL1.CasesTotalEstimate					AS cases_total_estimate, 
AL1.Deal								AS deal, 
AL3.WeekendDate							AS [weekend_date], 
AL3.WeekcommenceDate					AS [weekcommence_date],  
( AL1.CasesTotalEstimate / AL2.PromotionWeeks ) as [Week Cases],
AL2.PromotionDescription				AS promotion_description
FROM [Bulla_BI_Prod].Fact.PromotionDetail AL1, [Bulla_BI_Prod].Fact.Promotion AL2, [Bulla_BI_Prod].Dim.CalendarDate AL3 
WHERE 
(AL2.ContractReference=AL1.ContractReference
AND AL2.PromotionFromDate<=AL3.WeekendDate 
AND AL2.PromotionToDate>=AL3.WeekendDate)  
AND ((AL1.DiscountType='CAC' 
AND AL2.BS1CustomerCode IN ('10_1060_101010_101', '10_1060_101010_101_02', '10_1060_101010_101_03', '10_1060_101010_101_04', '10_1060_101010_101_05', '10_1060_101010_101_06') 
AND AL2.BS1CustomerName LIKE '%Area%'
))),

 Transform as ( Select [Product_NO]
        ,State=case 
        WHEN RIGHT(bs1_customer_code, 2) = '03' THEN 'VIC'
        WHEN  RIGHT(bs1_customer_code, 2) = '02' THEN 'NSW'
        WHEN RIGHT(bs1_customer_code, 2) = '06' THEN 'WA'
		WHEN  RIGHT(bs1_customer_code, 2) = '05' THEN 'SA'
		WHEN  RIGHT(bs1_customer_code, 2) = '04' THEN 'QLD'
    END
	--[weekend_date]
	,Cast([weekend_date] as Date) [WeekEnd Date]
	--,[Baseline Cases]=0
	,[Week Cases]
    ,deal
    ,promotion_description

 From StateProm where [deal] <>0
 )

 SELECT 
    Product_No,
    State,
    [WeekEnd Date],
	[Baseline Cases]=0,
    SUM([Week Cases]) AS Promotion_Cases,
    MAX(deal) AS [Deal Max],
    MAX(promotion_description) AS Description

    FROM Transform
GROUP BY 
    product_NO, 
    state, 
    [WeekEnd Date]
    ;
GO
