USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_CC_Cycle]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*-- =============================================
-- Author:		<Bruce Cao>
-- Create date: <19/05/2025>
-- Description:	<Populate data in Dim.CalendarDate>
Version		Date			Author				Comment
1.0							Bruce Cao			Initial Draft

-- =============================================*/

CREATE VIEW [Model].[MLO_CC_Cycle]
AS

With CC_Percentage as (select distinct period_start, period_end,right(CYCLE,6)+RIGHT(ASACC,8)+RIGHT(CC_ReceiverCC_Ind,4)+RIGHT(COSTCTN,4) as CCASKEY
,right(CYCLE,6) as CC_CYCLE,RIGHT(ASACC,8) as CC_Account,RIGHT(COSTCTN,4) as CC_Orig_CostCentre ,
RIGHT(CC_ReceiverCC_Ind,4) as CC_receiverCC
,CYC_TXT as CC_Cycle_txt,CC_CYC_PERC as CC_Percentage
from [ODS].[COPAAssessmentRule_CC_ASMT_SNAPSHOT])

select --FiscalYearPeriod,
CCASKEY+cast(cd.FiscalYearPeriod as nvarchar) as CCASKEY,
CC_CYCLE,
CC_Account,
CC_Orig_CostCentre,
CC_receiverCC,
CC_Cycle_txt,
CC_Percentage

 from dim.CalendarDate cd left join CC_Percentage ccp 
on cd.fiscalyearperiod <= ccp.PERIOD_END
and cd.fiscalyearperiod >= ccp.PERIOD_START where IsPeriodEnd = 1 and cd.FiscalYearPeriod between (select min(PERIOD_START) from [ODS].[COPAAssessmentRule_CC_ASMT_SNAPSHOT]) and (select max(PERIOD_end) from [ODS].[COPAAssessmentRule_CC_ASMT_SNAPSHOT])

--select * from [ODS].[COPAAssessmentRule_CC_ASMT_SNAPSHOT]


--select distinct period_start, period_end,right(CYCLE,6)+RIGHT(ASACC,8)+RIGHT(CC_ReceiverCC_Ind,4)+RIGHT(COSTCTN,4) as CCASKEY
--,right(CYCLE,6) as CC_CYCLE,RIGHT(ASACC,8) as CC_Account,RIGHT(COSTCTN,4) as CC_Orig_CostCentre ,
--RIGHT(CC_ReceiverCC_Ind,4) as CC_receiverCC
--,CYC_TXT as CC_Cycle_txt,CC_CYC_PERC as CC_Percentage
--from [ODS].[COPAAssessmentRule_CC_ASMT_SNAPSHOT]

GO
