USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Coles 12 Week AA Forecast]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [Model].[Coles 12 Week AA Forecast]
as 
Select * from [BI_PROD_POST_SAP].[Stg].[Coles12WeekAaForecast_Transformed]
GO
