USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Coles_BaselineForecastAndPromos)]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  View  [Model].[Coles_BaselineForecastAndPromos)]
as

 with ForeCastData as (                                            --This part inspired from "melbi4", "bulla_bi_prod", [Query="EXEC [Rpt].[ColesCollaborativeForecast_ForecastData]"]
 SELECT        
FS.WeekEndDate							AS [weekend_date], 
C.Area									AS [area], 
FS.ProductNo							AS [product_no], 
SUM(FS.ForecastBaselineQuantity)		AS baseline_quantity, 
SUM(FS.ForecastIncrementalQuantity)		AS incremental_quantity, 
SUM(FS.ForecastSalesQuantity)			AS forecast_quantity 
FROM    [BI_PROD_POST_SAP].Fact.ForecastSales FS WITH (NOLOCK) INNER JOIN
        [BI_PROD_POST_SAP].Dim.Customer C WITH (NOLOCK) ON FS.CustomerNo = C.CustomerNo INNER JOIN
        [BI_PROD_POST_SAP].Dim.CalendarDate CAL ON FS.WeekEndDate = CAL.CalendarDate
WHERE        (CAL.IsWeekend = 1) AND (CAL.PeriodOffset BETWEEN - 3 AND 15) 
and C.ChannelCustomerCode=101010
GROUP BY  FS.WeekEndDate, C.NationalCustomer,FS.ProductNo, C.Area, FS.ProductNo, CAL.CalendarDate, CAL.WeekendDate, 
CAL.IsWeekend
 ),

Combine as(

 Select [product_no]
 ,State=case WHEN  Area = ' ' THEN ''
        WHEN Area = '03' THEN 'VIC'
        WHEN  Area = '02' THEN 'NSW'
        WHEN  Area = '06' THEN 'WA'
		WHEN  Area = '05' THEN 'SA'
		WHEN  Area = '04' THEN 'QLD'
    END
	--[weekend_date]
	,Cast([weekend_date] as Date) [WeekEnd Date]
	,baseline_quantity as [Baseline Cases]
	,[Promotion Cases]=0
	,[Deal Max]=0
	,[Description]=''

 From ForeCastData

 Union All
 Select 
 [product_no]
      ,[state]
      ,[WeekEnd Date]
      ,[Baseline Cases]
      ,[Promotion Cases]
      ,[Deal Max]
      ,[Description]
  FROM [BI_PROD_POST_SAP].[Model].[ColesCollaborativeForecast_NationalPromotions]

  Union All 
  Select
  [Product_No]
      ,[State]
      ,[WeekEnd Date]
      ,[Baseline Cases]
      ,[Promotion_Cases]
      ,[Deal Max]
      ,[Description]
  FROM [BI_PROD_POST_SAP].[Model].[ColesCollaborativeForecast_StatePromotions])
  ,

  Transform as (
  Select LEFT([product_no],7) AS product_No
      ,REPLACE([state], ' ', '') AS State 
      ,[WeekEnd Date]
	  ,[WeekEnd Date] as [WeekEnd Date-Copy]
      ,[Baseline Cases]
      ,[Promotion Cases]
      ,[Deal Max]
      ,[Description]
	  from combine
	  ),

Transform1 as (
SELECT 
    product_no, 
    state, 
    [WeekEnd Date-Copy],  
    MAX([WeekEnd Date]) AS [Weekend Date],
    SUM([Baseline Cases]) AS Baseline,
    SUM([Promotion Cases]) AS Promotion,
    MAX([Deal Max]) AS Deal,
    MAX([Description]) AS Description
FROM 
    Transform  
GROUP BY 
    product_no, 
    state, 
    [WeekEnd Date-Copy]

  )
  Select 
     product_no as [Product No],
    state as [State],
    [WeekEnd Date],
	Deal,
	[Description],
   [Bulla Forecast CS]=COALESCE(([Promotion]+[Baseline]),0),
    [WeekEnd Date] as  [WeekEnd Date-Copy]

   From transform1
GO
