USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLO_AccountHierarchy]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************************************
			
History
-------
Version			Date			 Consultant				Comments
1.0				25/03/2019       R Birch				Intial Draft  			  

*****************************************************************************************************/


CREATE VIEW [Model].[MLO_AccountHierarchy]
AS
       
SELECT        
CompanyCode+'-'+ChartofAccounts	+'-'+Financialstatementvariant +'-'+AccountNo	AS  [AccountHierarchyKey]	,				
ProcessExecutionID			AS	[ProcessExecutionID], 
LoadDateTime				AS	[LoadDateTime], 
CompanyCode					AS	[Company Code], 
ChartOfAccounts				AS	[Chart Of Accounts], 
FinancialStatementVariant	AS	[Financial Statement Variant], 
AccountType					AS	[Account Type], 
AccountNo					AS	[Account No], 
AccountName					AS	[Account Name], 
AccountNoWithName			AS	[Account No With Name], 
AccountLongName				AS	[Account Long Name], 
AccountGroup				AS	[Account Group], 
AccountTypeDescription		AS	[Account Type Description], 
FinancialStatementItem		AS	[Financial StatementItem], 
ResponsiblePerson			AS	[Responsible Person], 
ReportType					AS	[Report Type], 
L0							AS	[L0], 
Level0						AS	[Level 0], 
L1							AS	[L1], 
Level1						AS	[Level 1], 
L2							AS	[L2], 
Level2						AS	[Level 2], 
L3							AS	[L3], 
Level3						AS	[Level 3], 
L4							AS	[L4], 
Level4						AS	[Level 4], 
L5							AS	[L5], 
Level5						AS	[Level 5], 
L6							AS	[L6], 
Level6						AS	[Level 6], 
L7							AS	[L7], 
Level7						AS	[Level 7], 
L8							AS	[L8], 
Level8						AS	[Level 8], 
L9							AS	[L9], 
Level9						AS	[Level 9], 
LevelNo						AS	[Level No]
FROM            [Bulla_BI_Prod].Dim.AccountHierarchy WITH (NOLOCK) where FinancialStatementVariant = '301Z'


--UNION

--SELECT        
--CompanyCode+'-'+ChartofAccounts	+'-'+Financialstatementvariant +'-'+AccountNo	AS  [AccountHierarchyKey]	,				
--null						AS	[ProcessExecutionID], 
--getdate()					AS	[LoadDateTime], 
--CompanyCode					AS	[Company Code], 
--ChartOfAccounts				AS	[Chart Of Accounts], 
--FinancialStatementVariant	AS	[Financial Statement Variant], 
--AccountType					AS	[Account Type], 
--AccountNo					AS	[Account No], 
--AccountName					AS	[Account Name], 
--AccountNoWithName			AS	[Account No With Name], 
--AccountLongName				AS	[Account Long Name], 
--AccountGroup				AS	[Account Group], 
--AccountTypeDescription		AS	[Account Type Description], 
--FinancialStatementItem		AS	[Financial StatementItem], 
--ResponsiblePerson			AS	[Responsible Person], 
--ReportType					AS	[Report Type], 
--L0							AS	[L0], 
--Level0						AS	[Level 0], 
--L1							AS	[L1], 
--Level1						AS	[Level 1], 
--L2							AS	[L2], 
--Level2						AS	[Level 2], 
--L3							AS	[L3], 
--Level3						AS	[Level 3], 
--L4							AS	[L4], 
--Level4						AS	[Level 4], 
--L5							AS	[L5], 
--Level5						AS	[Level 5], 
--L6							AS	[L6], 
--Level6						AS	[Level 6], 
--L7							AS	[L7], 
--Level7						AS	[Level 7], 
--L8							AS	[L8], 
--Level8						AS	[Level 8], 
--L9							AS	[L9], 
--Level9						AS	[Level 9], 
--LevelNo						AS	[Level No]

--FROM            [Bulla_BI_Prod].stg.AccountHierarchy_COPA WITH (NOLOCK)
GO
