USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Masterdata_OUM]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create   view [Model].[Masterdata_OUM]
AS
SELECT [RecipeNo]
      ,[BaseUnit]
      ,[ConversionUnit]
      ,[ConversionFactor]
  FROM [ODS].[OUM]



GO
