USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ForwardOrders_CalendarDate]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Model].[ForwardOrders_CalendarDate]
AS

SELECT [Dim].[CalendarDate].* 
FROM [Dim].[CalendarDate] WITH (NOLOCK)
WHERE        (YearOffset BETWEEN -2 AND 1)

GO
