USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[HR_PC_Monthlist]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Model].[HR_PC_Monthlist] AS
SELECT 
    FiscalYearPeriod,
    FiscalYear,
  
    -- Subtract 15 days from CalendarDate, then format as YYYYMM01
    LEFT(CONVERT(varchar(8), DATEADD(DAY, -15, CalendarDate), 112), 6) + '01' AS YYYYMM01_Date,
	LEFT(CONVERT(varchar(8), DATEADD(DAY, -15, CalendarDate), 112), 6) + '01' AS YYYYMM01_DateName,

    -- FiscalYear and FiscalPeriod-based string like "2025-12"
    left(fiscalperiodname,3)+ '.F' + RIGHT(FiscalYear, 2) AS [Calendar Date],
	Left(datekey,6) as CalendarPeriodName,
	CalendarYear,
	LEFT(CONVERT(varchar(8), DATEADD(DAY, -15, CalendarDate), 112), 6) + '01' AS CalendarYearMonth,
	CAST(CalendarDate AS date) AS Monthenddate

FROM dim.CalendarDate
WHERE IsPeriodEnd = '1'
  --AND YearOffset BETWEEN -2 AND 1;
  --and PeriodOffset >= 0;
  AND FiscalYear BETWEEN YEAR(GETDATE()) - 1 AND YEAR(GETDATE()) + 2;
GO
