USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Coles and Bulla Data (Merge)]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  View  [Model].[Coles and Bulla Data (Merge)]
as


  With Merging AS (                                           
    SELECT 
	   [Product No]
      ,[State]
      ,[WeekEnd Date]
      ,[Coles Actual CS]
      ,[Approved CS Wk-1]
      ,[Approved CS Wk-5]
      ,[Coles Forecast CS]
  FROM [BI_PROD_POST_SAP].[ODS].[ColesAccuracyData]

	   Union All 

	   Select [Product No]
      ,[State]
      ,[WeekEnd Date]
      ,[Coles Actual CS]
      ,[Approved CS Wk-1]
      ,[Approved CS Wk-5]
      ,[Coles Forecast CS]
  FROM [BI_PROD_POST_SAP].[Model].[Coles_Bulla_and_Cadbury(Append)]

	   ),

Merge2 as (
SELECT 
    Distinct [Product No],
	[State],
	[Weekend Date],
	[Coles Actual CS], 
    [Approved CS Wk-1],
	[Approved CS Wk-5],
	[Coles Forecast CS],
	[Weekend Date] as [Weekend Date - Copy],
    NULL AS [Deal],
	NULL AS [description],
	NULL AS [Bulla Forecast CS]
FROM 
    Merging

UNION ALL

SELECT 
    [Product No],
	[State],
	[Weekend Date],
	NULL AS [Coles Actual CS], 
    NULL AS [Approved CS Wk-1], NULL AS [Approved CS Wk-5], NULL AS [Coles Forecast CS], [WeekEnd Date-Copy],
    [Deal],
	[Description],
	[Bulla Forecast CS]
FROM 
    
	[Model].[Coles_BaselineForecastAndPromos)]
)

  SELECT 
    [Product No],
    [State],
    [Weekend Date],
    SUM([Coles Actual CS]) AS [Coles Actual CS],
    SUM([Approved CS Wk-1]) AS [Approved CS Wk-1],
    SUM([Approved CS Wk-5]) AS [Approved CS Wk-5],
    SUM([Coles Forecast CS]) AS [Coles Forecast CS],
    --MAX([Weekend Date - Copy]) AS [Weekend Date - Copy],
    MAX([Deal]) AS [Deal],
    MAX([Description]) AS [Description],
    SUM([Bulla Forecast CS]) AS [Bulla Forecast CS]
	
FROM 
    [Merge2]
GROUP BY 
    [Product No],
    [State],
    [Weekend Date]
	
	


 





	

	
GO
