USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MLOR_CustomerMLOR]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





Create VIEW [Model].[MLOR_CustomerMLOR]
AS
Select * from Dim.CustomerMLOR


GO
