USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ALDI Data]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE view [Model].[ALDI Data]    
as

SELECT  
       [LoadDateTime]
	  ,[Week Ending Date]
      ,[State]
      ,[Product Code]
      ,Cast([Scan Units] as int) as [Scan Units]
      ,Cast ([Scan Cases] as Float) as [Scan Cases]
      ,Cast([Store Cases] as Float) as [Store Cases]
      ,Cast([Warehouse Cases] as Float) as [Warehouse Cases]
      ,Cast([Region Cases] as Float) as [Region Cases]
	  ,CONCAT([Week Ending Date], [State], [Product Code]) AS [Week State Product Key]

  FROM [BI_PROD_POST_SAP].[ODS].[ALDI]
GO
