USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[DemandReview_BudgetSales]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [Model].[DemandReview_BudgetSales]
AS
	SELECT FiscalYearWeekDisplay
		,F.FiscalYearWeekIntKey
		,F.FiscalYear
		,F.FiscalWeek
		,F.CustomerNo
		,ProductNo
		,BudgetSalesQuantity
		,BudgetNetInvoiceValue
		,BudgetInvoiceDiscount
		,BudgetCaseDiscount
		,BudgetTermsDiscount
		,BudgetOtherDiscount
		,BudgetCOGS
		,BudgetMaterialCosts
		,BudgetOperationCosts
		,BudgetGrossMargin
		,BudgetBaselineQuantity
		,BudgetIncrementalQuantity
        ,BudgetFreightOutbound
        ,BudgetGrossMarginLessFreight = 
         		case when F.FiscalYear<2009 then null 
                else isnull(BudgetGrossMargin,0)- isnull(BudgetFreightOutbound,0)
                end
		,BudgetFreightFuelLevy
		,Cast(RTrim(LTrim(f.CustomerNo)) AS Varchar(10)) + '|' + Cast(RTrim(LTrim(f.ProductNo)) AS Varchar(10)) AS CustomerNoProductNo
	,C.YearOffset, Dim.Customer.NationalCustomerCode, C.FiscalPeriod
	FROM Fact.BudgetSales (NOLOCK) F

	Left JOIN                       Dim.Customer WITH (NOLOCK) ON F.CustomerNo = Dim.Customer.CustomerNo
	INNER JOIN Dim.CalendarDate (NOLOCK) C
		ON F.FiscalYear = C.FiscalYear
		AND F.FiscalWeek = C.FiscalWeek
		AND C.IsWeekend = 1 
		AND C.YearOffset <= 8
		--where C.CalendarDate <> '2022-07-03'				--28/06 Added condition for first fiscalweek of 2023
GO
