USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[CommittedSales_SAC]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Model].[CommittedSales_SAC]
AS
	SELECT C.WeekcommenceDate As SnapshotDate
		,FiscalYearWeekDisplay
		,F.FiscalYearWeekIntKey
		,F.FiscalYear
		,F.FiscalWeek
		,CAST(CAST(F.FiscalYear as varchar(4)) + '_' + RIGHT('0' + CAST(F.fiscalweek as varchar(2)),2) as varchar)  as FiscalYearWeek
		,cast(F.CustomerNo as int) as CustomerNo			--30/06--Kishor -- converted to Int
		,cast(F.ProductNo as int) as ProductNo				--30/06--Kishor -- converted to Int
		,'Committed' as Version
		,'' as AuditTrail
		,P.SalesUnit as UOM
		,CommittedSalesQuantity
		,CommittedGrossSalesValue = CommittedNetInvoiceValue - CommittedInvoiceDiscount
		,CommittedNetSalesValue = CommittedNetInvoiceValue + CommittedCaseDiscount + CommittedTermsDiscount + CommittedOtherDiscount
		,CommittedNetInvoiceValue
		,CommittedInvoiceDiscount
		,CommittedCaseDiscount
		,CommittedTermsDiscount
		,CommittedOtherDiscount
		,CommittedCOGS
		,CommittedGrossMargin
		,CommittedBaselineQuantity
		,CommittedIncrementalQuantity
        ,CommittedFreightOutbound
        ,CommittedGrossMarginLessFreight = 
         		case when F.FiscalYear<2009 then null 
                else isnull(CommittedGrossMargin,0)- isnull(CommittedFreightOutbound,0)
                end
		,CommittedFreightFuelLevy
		,Cast(RTrim(LTrim(f.CustomerNo)) AS Varchar(10)) + '|' + Cast(RTrim(LTrim(f.ProductNo)) AS Varchar(10)) AS CustomerNoProductNo
	,YearOffset,C.FiscalPeriod,DIM.Customer.NationalCustomerCode
	, '' as SalesROAdjustment
	, '' as SalesRevenue
	,'' as SalesUnitPrice

	FROM Fact.CommittedSales (NOLOCK) F 
	LEFT JOIN 	Dim.Customer WITH (NOLOCK) ON F.CustomerNo = Dim.Customer.CustomerNo
	left join dim.PRODUCT P WITH (NOLOCK) ON F.ProductNo = P.ProductNo
	INNER JOIN Dim.FiscalWeekCalendar (NOLOCK) C
		ON F.FiscalYearWeekIntKey = C.FiscalYearWeekIntKey
WHERE F.FiscalYear> 2020 
and F.CustomerNo <>'20_2030_' --BC added on 11/11/2024


GO
