USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[BOM_Material]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE View [Model].[BOM_Material] as 

	Select 
    [ItemNo] as [MatNo],
    [ItemDescription] as [MatDescription],
    [ItemNoWithDescription] as [MatNoWithDescription],
    [SignalCode] as MatStatusCode,
    [SignalDescription] as MatStatus,
    [ItemGroup] as [MatGroup] ,
    [ItemGroupName] as [MatGroupName],
    [ItemGroupType] as [MatGroupType],
    [ItemType] as [MatType],
    [ItemTypeName] as [MatTypeName],
    [InventoryUnit] as MatUnit,
    [StorageUnit] from [ODS].[Item]



GO
