USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[MasterData_MaterialWarehouse]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [Model].[MasterData_MaterialWarehouse]  
AS  
SELECT [Material]
      ,Stock_Removal AS [Stock Removal]  
      ,Stock_Placement AS [Stock Placement]  
      ,LE_Quantity AS [LE Quantity]  
      ,Unit_of_Measure AS [Unit of Measure]  
      ,Storage_Unit_Type AS [Storage Unit Type] 
	  ,WareHouse
  FROM [DIM].[MatWarehouse]


GO
