USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[ALDI_ForecastData]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [Model].[ALDI_ForecastData]                                   --Copied as [Bulla_BI_Prod].[Rpt].[AldiScanMasterData_ForecastData]

as

with trans as (

SELECT        
F.WeekEndDate					AS [Weekend Date], 
C.NationalCustomer					AS [National Customer], 
F.ProductNo					AS [Product No],
C.AreaName							AS [State],
SUM(F.ForecastSalesQuantity)	AS [Last Forecast Quantity], 
CM.CustomerMaterialNo			AS [Alternative Reference]
FROM            [Bulla_BI_Prod].Fact.ForecastSales F INNER JOIN

                         [Bulla_BI_Prod].Dim.Customer C ON F.CustomerNo = C.CustomerNo INNER JOIN
                          [Bulla_BI_Prod].Dim.CustomerMaterial CM ON C.NationalCustomerCode = CM.CustomerNo AND F.ProductNo = CM.ProductNo
WHERE        (C.NationalCustomerCode = 107)
GROUP BY F.WeekEndDate, F.ProductNo, CM.CustomerMaterialNo, C.NationalCustomer, C.AreaName
)

Select 
[Weekend Date]
      ,[National Customer]
      ,[Product No]
      ,[State]
      ,[Last Forecast Quantity]
      ,[Alternative Reference],

  CONCAT(Cast([Weekend Date] as Date), [State], [Alternative Reference]) AS [Week State Product Key]
  From trans


GO
