USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[DEI_Aurion_WFR]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--select * from  [BI_PROD_POST_SAP].[ODS].[DEI_WFR]


CREATE VIEW [Model].[DEI_Aurion_WFR] AS
WITH CleanedData AS (
    SELECT 
        *,
        TRY_CAST(Date_Effective AS DATE) AS KEYDate
        --Current_Flag
    FROM [BI_PROD_POST_SAP].[ODS].[DEI_WFR]
   -- WHERE Date_Effective IS NOT NULL
),
RankedData AS (
    SELECT 
        *,
        LAG(Position_Full_Title) OVER (PARTITION BY Employee_Number ORDER BY  KEYDate) AS Prev_Position,
        LAG(Date_Effective) OVER (PARTITION BY Employee_Number ORDER BY  KEYDate) AS Prev_Date
    FROM CleanedData
)

--select * from RankedData
,
InternalPromotions AS (
    SELECT 
      a.*,
        Position_Full_Title AS Current_Position,
        Date_Effective AS Current_Effective_Date,
        Prev_Date AS Previous_Effective_Date,
		c.FiscalYear,
		c.FiscalPeriod,
		c.FiscalYearPeriod,
		case when Position_Full_Title <> Prev_Position and  Prev_Position is not null
		then 'X' end as Appointmentflag,

		case when Position_Full_Title <> Prev_Position and  Prev_Position is not null
		then 'Appoint From '+Prev_Position+' to '+Position_Full_Title
		end as AppointmentNote,


		--Case when end as Promotionflag
		case when Movement_Code = 'PROM' 
        then 'X' end as  PromotionFlag,
		 CASE
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '1' THEN 'Managers'
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '2' THEN 'Professionals'
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '3' THEN 'Technicians and Trades'
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '4' THEN 'Comm and Personal Service'
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '5' THEN 'Clerical and Admin'
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '6' THEN 'Sales'
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '7' THEN 'Mach Operators and Driver'
        WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '8' THEN 'Labourers'
        ELSE 'Other'
    END AS Occupational_Category,
	
CASE
    WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) = '1' THEN 'Managers'
    WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) IN ('2', '3', '4', '5', '6') THEN 'Non-Managers'
    WHEN LEFT(CAST(ANZSCO_Code AS VARCHAR), 1) IN ('7', '8') THEN 'Workforce'
    ELSE 'Other'
END AS Role_Category,

	CASE
        WHEN Employment_Type_Code = 'PERM' AND Attendance_Type_Code = 'FULL' THEN 'Permanent Full-Time'
        WHEN Employment_Type_Code = 'PERM' AND Attendance_Type_Code = 'PART' THEN 'Permanent Part-Time'
        WHEN Employment_Type_Code = 'CASUAL' THEN 'Casual'
        WHEN Employment_Type_Code = 'FIXED' THEN 'Fixed Term'
        ELSE 'Other'
    END AS Employment_Category
	,wfr.Gender as Gender_WFR
	,wfr.JobGrade1
	,department1 as department1_WFR
	,department2 as department2_WFR
	,wfr.DateStarted as DateStarted_WFR
	,wfr.DateTerminated as DateTerminated_WFR,
	--coalesce(Date_to,'31-DEC-2099') as Date_TO_New
	Case when Date_to = '' then '31-DEC-2099'
	else Date_to end as Date_TO_New
    FROM RankedData a
	left join dim.CalendarDate c on a.KEYDate = c.CalendarDate
	left join [FACT].[Workforce] wfr on a.Employee_Number = wfr.EmployeeId 
  where  a.Employee_Number<>'t5110'
 
 --select * from [FACT].[Workforce]
 --select *  FROM [BI_PROD_POST_SAP].[ODS].[DEI_WFR] order by Employee_Number desc
)
SELECT *
FROM InternalPromotions;
GO
