USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[BOM_BOM]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [Model].[BOM_BOM] as 
SELECT [LoadDateTime]
      ,[MANDT]
      ,[BOM_CAT]
      ,[BOM_NUM]
      ,[BOM_ITM]
      ,[BOM_CNT]
      ,[ValidFrom]
      ,[ValidTo]
      ,[Material]
      ,[MatGroupNo]
      ,[MatGrp]
      ,[MatSignal]
      ,[MatType]
      ,[Plant]
      ,[COMPONENT]
      ,[CompGroupNo]
      ,[CompGroup]
      ,[CompSignal]
      ,[CompType]
      ,[ComponentUoM]
      ,[BOM_USAGE]
      ,[ALT_BOM]
      ,[SortString]
      ,[MEINS]
      ,[FixedQuantity]
      ,[SpecialProcurement]
      ,[BOM_SpecialPur]
      ,[ChangeNo]
      ,[ChangeNoTo]
      ,[ChangeNoToKey]
      ,[DeletionInd]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ChangedOn]
      ,[ChangedBy]
      ,[ProductionRelevant]
      ,[PlantMaintenance]
      ,[CostingRelevant]
      ,[BOMPlant]
      ,[ComponentQuantity]
      ,[ComponentScrap]
      ,[OperationScrap]
      ,[StandardPrice]
      ,[PriceUnit]
      ,[BOMBaseQuantity]
      ,[PhantomFlag]
      ,[PredecessorNode]
      ,[Previtemcounter]
      ,[Assembly]
      ,[MIXFlag]
      ,[ProdBOMBaseQuantity]
      ,[CostBOMBaseQuantity]
      ,[TotlProdMixUsageComsumption]
      ,[TotlCostCompComsumption]
      ,[Prodbom_Qty_PerBOMBase]
      ,[Costbom_Qty_PerBOMBase]
      ,[Quantity_Difference_PerBOMBase]
      ,[Quantity_Diff_Rate]
      ,[Qty_diff_flag]
      ,[Qty_Diff_tolerance_flag]
      ,[BOM_BASE_Diff_Flag]
      ,[CostBOM_MixUsageQuantity]
      ,[CostBOM_MixUsageQuantityIncScrap]
      ,[CostBOM_MixOtherQuantity]
      ,[CostBOM_MIXOtherQuantityIncScrap]
      ,[Costbom_Compcounter]
      ,[Prodbom_Compcounter]
      ,[NonMixScrapRateDiff]
      ,[NonMixScrapRateDiff_flag]
      ,[Prodbom_ComponentScrap]
      ,[Costbom_ComponentScrap]
      ,[CompMissing]
      ,[ComponentChangeFlg]
      ,[CompQtyChangeFlg]
      ,[CompQtyChangeRate]
      ,[CompQtyChangeAlert]
      ,[BOMBaseQuantityChangeFlg]
      ,[ComponentScrapChangeFlg]
      ,[Precomponent]
      ,[PreComponentQuantity]
      ,[PreComponentUoM]
      ,[PreBOMBaseQuantity]
      ,[PreComponentScrap]
      ,[MixScrapdiff_flag]
      ,[Scrapdiff]
      ,[NonezeroMixScrap]
      ,[MixProdPurgeQty]
      ,[MixProdMedianLotSize]
      ,[MixProdSemiPurgeRate]
      ,[MixProdUsageQuantity]
      ,[MixProdUsageQuantityIncUsageScrap]
      ,[MixProdUsageScrapRate]
      ,[MixProdPurgeScrapRate]
      ,[MixProdUsageQuantityIncAllScrap]
      ,[MixProdUsageNPurgeScrapRate]
      ,[MixUsageScrapRateDiff]
      ,[MixUsageScrapRateDiffFlag]
      ,[MixCostUsageScrapRate]
      ,[ActiveBOMFlag]
      ,[CompMissingReason]
      ,[LatestCompnent]
      ,[MaterialDesc]
      ,[CompDesc]
      ,[Mat_error]
  FROM [FACT].[BOM]

GO
