USE [BI_PROD_POST_SAP]
GO
/****** Object:  View [Model].[Labour_CalendarDate]    Script Date: 19/11/2025 6:10:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [Model].[Labour_CalendarDate]                                   

as
SELECT 
   [WeekendDate]			AS [weekend_date]
  ,[MonthendDate]			AS [monthend_date]
  ,[WeekcommenceDate]		AS [weekcommence_date]
  ,[WeekOffset]				AS [current_week_prior]
  ,[PeriodOffset]			AS [current_period_prior]  
  ,[YearOffset]				AS [current_year_prior]  
  ,[CalendarYear]			AS [calendar_year]
  ,[CalendarMonth]			AS [calendar_month]
  ,[WeekOfMonth]			AS [weekofmonth]
  ,[CalendarWeekOfYear]		AS [calendar_week]
FROM [BI_PROD_POST_SAP].[Dim].[CalendarDate] WITH(NOLOCK)    
WHERE [IsWeekend]=1 and YearOffset  between -5 and 5
  ;
GO
