USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[USP_INSERT_ODS_SNP_ScoreCard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE     PROC [ODS].[USP_INSERT_ODS_SNP_ScoreCard]  
AS  
BEGIN  
delete from ODS.SNP_Scorecard;  
--Insert into ODS.SNP_Scorecard (FiscalYear,FiscalPeriod,ProductionLineCode,ProductionSite,LTP,LTPLag1,DeliveredQuantity,OrderedQuantity)  
With LTPData as(  
Select    PPS.FiscalYear,PPS.FiscalPeriod,p.Category,  
SUM(PPS.LTP) LTP,  
SUM(PPS.LTPLag1) LTPLag1  
--SUM(PO.DeliveredQuantity) DeliveredQuantity,  
--SUM(PO.OrderedQuantity) OrderedQuantity  
from Fact.ProductionPlanSnapshot  PPS  
left join DIM.PRODUCT p  
on PPS.Material = p.ProductNo  
--left join Bulla_BI_Prod.Fact.ProductionOrder PO  
--on PPS.Material=PO.ItemNo and PPS.Unit = PO.BatchUnit  
----left join DIM.ProductionLine PL  
----on PO.ProductionLineCode= PL.ProductionLineCode  
--left join DIM.CalendarDate CD  
--on CD.CalendarDate=PO.ActualCompletionDate  
--and CD.FiscalPeriod = PPS.FiscalPeriod  
--and CD.FiscalYear = PPS.FiscalYear and CD.IsPeriodEnd = 1  
where PPS.Unit = 'CS'  
and p.Category is not null  
Group By PPS.FiscalYear,PPS.FiscalPeriod,p.Category ),  
  
POData as(  
Select cd.FiscalYear, cd.FiscalPeriod,p.Category, SUM(PO.DeliveredQuantity) DeliveredQuantity,  
SUM(PO.OrderedQuantity) OrderedQuantity  
from Bulla_BI_Prod.Fact.ProductionOrder PO  
left join DIM.CalendarDate CD  
on CD.CalendarDate=PO.ActualCompletionDate  
inner join DIM.PRODUCT p  
on po.ItemNo =  p.ProductNo  
where PO.BatchUnit = 'CS'  
and p.Category is not null  
group by cd.FiscalYear,cd.FiscalPeriod,p.Category )  
  
Insert into ODS.SNP_Scorecard (FiscalYear,FiscalPeriod,Category,ProductionLineCode,ProductionSite,LTP,LTPLag1,DeliveredQuantity,OrderedQuantity)  
select lt.FiscalYear, lt.FiscalPeriod,lt.Category,'', '',  lt.LTP , lt.LTPLag1, po.DeliveredQuantity, po.OrderedQuantity  
from LTPData lt left outer join POData po  
on lt.FiscalYear = po.FiscalYear 
and lt.FiscalPeriod = po.FiscalPeriod  
and lt.Category = po.Category
  
END;  
  
GO
