USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_MLO_RNO_Daily]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






--exec [ODS].[usp_MLO_RNO_Daily]


CREATE   Proc [ODS].[usp_MLO_RNO_Daily]
as
begin
declare @fiscalyear nvarchar(4);
declare @fiscalperiod nvarchar(3);
declare @MBRSnapshotName nvarchar(10);
declare @MBRSnapshotNo nvarchar(10);
set @fiscalyear = '2025';
set @fiscalperiod = '010';
set @MBRSnapshotName = 'FY25.APR';
set @MBRSnapshotNo = '2025.10';

--drop table ODS.MLO_RNOSnapshot 
--truncate table ODS.MLO_RNOSnapshot 
--select * from ODS.MLO_RNOSnapshot order by MBRSnapshotNo,id,fiscalyearperiod
--select * from Stg.riskandopp
delete from ODS.MLO_RNOSnapshot where MBRSnapshotNo = '000' ;
--delete from ODS.MLO_RNOSnapshot where MBRSnapshotNo = '2025.10' and  LoadDateTime >'2025-05-22';

with RDM_rate as (SELECT 
    c.Channel,
    c.SubChannel,
    p.Category,
    p.Family,
	FiscalYear,
    SUM(cs.CommittedGrossMargin) AS TotalGMC,
	SUM(cs.CommittedSalesQuantity) AS TotalQTY,
	1.0 * SUM(cs.CommittedGrossMargin) / nullif(SUM(SUM(cs.CommittedGrossMargin)) OVER (PARTITION by FiscalYear),0) AS RDM_GMC_portion,
	1.0 * SUM(cs.CommittedSalesQuantity) / nullif(SUM(SUM(cs.CommittedSalesQuantity)) OVER (PARTITION by FiscalYear),0) AS RDM_QTY_portion,
 	1.0 * (SUM(cs.CommittedNetInvoiceValue)-SUM(cs.CommittedInvoiceDiscount)) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_GSV_rate, 
	1.0 * SUM(cs.CommittedInvoiceDiscount) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_OID_rate,
	1.0 * SUM(cs.CommittedNetInvoiceValue) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_NIV_rate,   
	1.0 * SUM(cs.Committedcasediscount) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_DCD_rate,
	1.0 * SUM(cs.CommittedTermsDiscount) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_DTD_rate,
	1.0 * SUM(cs.CommittedOtherDiscount) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_DOD_rate,
	1.0 * SUM(cs.CommittedCOGS) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_COGS_rate,
	1.0 * SUM(cs.CommittedFreightOutbound) / nullif(SUM(cs.CommittedGrossMargin),0)  AS RDM_FRT_rate


FROM FACT.CommittedSales cs
LEFT JOIN DIM.Customer c ON cs.CustomerNo = c.CustomerNo
LEFT JOIN DIM.PRODUCT p ON cs.ProductNo = p.ProductNo
WHERE FiscalYear in (2025,2026,2027) ---have to change
GROUP BY c.Channel, c.SubChannel, p.Category, p.Family,FiscalYear)

--select * from RDM_rate
,
	
RO_expandlist as( 
	select r.*,
	sd.fiscalyearperiod as StartPeriod,
	sd.DayOfMonth as dayofstartperiod,
	ed.fiscalyearperiod as EndPeriod,
	ed.DayOfMonth as dayofendperiod,
	--rg.fiscalyearperiod as fiscalPeriod,
	--count(cal)
	case when rr.family is null then 'No RDM Sales in R&O Year' end as Error,
	case when rr.family is null then 0 else rr.RDM_GMC_portion end as RDM_GMC_portion,
	--case when rr.family is null then 1 else
	sum(rr.RDM_GMC_portion) over (PARTITION by ID)
	--end 
	as RDM_GMC_total,
	case when rr.family is null then 0 else rr.RDM_QTY_portion end as RDM_QTY_portion,
	--case when rr.family is null then 0 else 
	sum(rr.RDM_QTY_portion) over (PARTITION by ID) 
	--end
	as RDM_QTY_total,

	count(r.id) over  (PARTITION by ID) as idcounter,
	count(r.family) over  (PARTITION by ID,r.subchannel) as familycounter,
	count(r.subchannel) over  (PARTITION by ID,r.family) as subchannelcounter,
	case when count(r.id) over  (PARTITION by ID) > 1  and r.channel<>'DSU' then
	round(Volumecases * rr.RDM_QTY_portion/nullif(sum(rr.RDM_QTY_portion)over (PARTITION by ID),0),0)
	when r.channel='DSU' then
	Volumecases / count(r.id) over  (PARTITION by ID)
	else
	Volumecases end as Volumecases2, --
	case when count(r.id) over  (PARTITION by ID) > 1 and r.channel<>'DSU'then
	round(ValueGMC * rr.RDM_GMC_portion/nullif(sum(rr.RDM_GMC_portion)over (PARTITION by ID),0),2)
	when r.channel='DSU' then 
	ValueGMC / count(r.id) over  (PARTITION by ID)
		else
	ValueGMC end as ValueGMC2

	from Stg.riskandopp r left join RDM_rate rr 
	on     r.Channel = rr.Channel
	and r.SubChannel =	rr.SubChannel
    and r.Category =     rr.Category
    and r.Family =     rr.Family
	and right(r.year,2) = RIGHT(rr.fiscalyear,2)
	left join DIM.CalendarDate sd
	on r.startdate = sd.CalendarDate
	left join DIM.CalendarDate ed
	on r.enddate = ed.CalendarDate	
	)
	--select * from RO_expandlist 
,
RO_expandperiod as (
select ro.[LoadDateTime]
      ,[ID]
      ,[Title]
      ,[DateTC]
      ,[Year]
      ,[RiskOpportunity]
      ,[Likelihood]
      ,[Plant]
      ,[Channel]
      ,[Category]
      ,[SubChannel]
      ,[Family]
      ,[Comments]
      ,[StartDate]
      ,[EndDate]
      ,[VolumeCases]
      ,[ValueGMC]
      ,[Owner]
      ,[OwnerEmail]
      ,[Status]
      ,[EnteredBy]
      ,[SKUDescription]
      ,[StartPeriod]
      ,[dayofstartperiod]
      ,[EndPeriod]
      ,[dayofendperiod]
	  --,Error
      ,case when ro.StartDate > ro.EndDate 
	  then 'Date Error | '+ coalesce(ro.[Error],'')
	  else ro.[Error] end as [Error]
      ,[RDM_GMC_portion]
      ,[RDM_GMC_total]
      ,[RDM_QTY_portion]
      ,[RDM_QTY_total]
      ,[idcounter]
      ,[familycounter]
      ,[subchannelcounter]
      ,[Volumecases2]
      ,[ValueGMC2],
case when ro.familycounter > 1
then 'X'
end as MultiFamilyFlag,
case when ro.subchannelcounter > 1
then 'X'
end as MultiSubchannelFlag,


Case when StartDate <= EndDate
then DATEDIFF(day, StartDate, EndDate) + 1 
else 1 end as ROdaterange, -- if end < start only count 1 day

cd.FiscalYear,cd.FiscalYearPeriod,cd.DaysInMonth,
case 
when StartDate > EndDate
then 1
when ro.startperiod = cd.FiscalYearPeriod and ro.startperiod<>ro.endperiod--1st month
then cd.DaysInMonth- ro.dayofstartperiod + 1
when ro.endperiod = cd.FiscalYearPeriod and ro.startperiod<>ro.endperiod
then ro.dayofendperiod
when ro.startperiod = ro.endperiod
then dayofendperiod - dayofstartperiod + 1
else cd.DaysInMonth
end as daysinRO
from RO_expandlist ro left join dim.CalendarDate cd 
on cd.FiscalYearPeriod >= ro.startperiod and
cd.FiscalYearPeriod <=ro.endperiod
where cd.IsPeriodEnd = 1)

--select * from RO_expandperiod


insert into ODS.MLO_RNOSnapshot
select  '000' as MBRSnapshotNo,'LatestR&O' as MBRSnapshotName,r.*,
round(volumecases2*daysinRO/ROdaterange,0) as AllocatedCases,
round(valueGMC2*daysinRO/ROdaterange,2)as AllocatedGMC,
case when rr.family is null then round(valueGMC2*daysinRO/ROdaterange,2) else round(valueGMC2*daysinRO/ROdaterange*RDM_GSV_rate,2) end as AllocatedGSV,
round(valueGMC2*daysinRO/ROdaterange*RDM_OID_rate,2)as AllocatedOID,
round(valueGMC2*daysinRO/ROdaterange*RDM_NIV_rate,2)as AllocatedNIV,
round(valueGMC2*daysinRO/ROdaterange*RDM_DCD_rate,2)as AllocatedDCD,
round(valueGMC2*daysinRO/ROdaterange*RDM_DTD_rate,2)as AllocatedDTD,
round(valueGMC2*daysinRO/ROdaterange*RDM_DOD_rate,2)as AllocatedDOD,
round(valueGMC2*daysinRO/ROdaterange*RDM_COGS_rate,2)as AllocatedCOGS,
round(valueGMC2*daysinRO/ROdaterange*RDM_FRT_rate,2)as AllocatedFRT

--into ODS.MLO_RNOSnapshot 
from RO_expandperiod r

left join RDM_rate rr 
	on     r.Channel = rr.Channel
	and r.SubChannel =	rr.SubChannel
    and r.Category =     rr.Category
    and r.Family =     rr.Family
	and right(r.year,2) = RIGHT(rr.fiscalyear,2);



end;
GO
