USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[BOM_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================  
-- Author:  <Bruce Cao>  
-- Create date: <Create Date,,>  
-- Description: Load data into ODS.BOM, basic data cleaning, add a assambly flag
--V001 Initial  
--V002 20/03/24 
-- =============================================  
CREATE PROCEDURE [ODS].[BOM_F]  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  
 drop table [ODS].[BOM];

DECLARE @KeyDate Date;
SET @KeyDate = GETDATE();

SELECT   
		@KeyDate as LoadDateTime 
		,[MANDT]
		,[BOM_CAT]
		,[BOM_NUM]
		,[BOM_ITM]
		,[BOM_CNT]
		,[ValidFrom]
		,[ValidTo]
		,cast(STUFF(material, 1, PATINDEX('%[^0]%', Material) - 1, '') as nvarchar(40)) as [Material]
		,m.ItemGroup as MatGroupNo
		,m.ItemGroupName as MatGrp
		,m.SignalDescription as MatSignal
		,m.ItemTypeName as MatType
		,b1.[Plant]
		,cast(STUFF(COMPONENT, 1, PATINDEX('%[^0]%', COMPONENT) - 1, '') as nvarchar(40)) [COMPONENT]
		,i.ItemGroup as CompGroupNo
		,i.ItemGroupName as CompGroup
		,i.SignalDescription as CompSignal
		,i.ItemTypeName as CompType
		,[ComponentUoM]
		,[BOM_USAGE]
		,[ALT_BOM]
		,[SortString]
		,[MEINS]
		,[FixedQuantity]
		,[SpecialProcurement]
		,[BOM_SpecialPur]
		,[ChangeNo]
		,[ChangeNoTo]
		,[ChangeNoToKey]
		,[DeletionInd]
		,[CreatedOn]
		,[CreatedBy]
		,[ChangedOn]
		,[ChangedBy]
		,[ProductionRelevant]
		,[PlantMaintenance]
		,[CostingRelevant]
		,[BOMPlant]
		,[ComponentQuantity]
		,[ComponentScrap]
		,[OperationScrap]
		,[StandardPrice]
		,b1.[PriceUnit]
		,[BOMBaseQuantity]
		,[PhantomFlag]
		,PredecessorNode
		,Previtemcounter
		,CASE WHEN EXISTS (
                    SELECT 1
                    FROM [SAPSTG].[CV_INT_BOM] bt
                    WHERE bt.material = b1.component
					and bt.plant =b1.[BOMPlant]
					and bt.BOM_USAGE =b1.BOM_USAGE
					and bt.[ValidFrom] <= @KeyDate
					and bt.[ValidTo] >= @KeyDate
                ) THEN 'X' ELSE '' END AS "Assembly"		
    into [ODS].[BOM] FROM   [SAPSTG].[CV_INT_BOM] b1 left join ODS.Item m on STUFF(b1.material, 1, PATINDEX('%[^0]%', b1.Material) - 1, '') = m.ItemNo 
	left join ODS.Item i on STUFF(b1.COMPONENT, 1, PATINDEX('%[^0]%', b1.COMPONENT) - 1, '') = i.ItemNo --where [ValidFrom] <= @KeyDate and  [ValidTo] >= @KeyDate

CREATE INDEX IX_BOM_Material_Plant ON [BI_PROD_POST_SAP].[ODS].[BOM] (Material, Plant);
CREATE INDEX IX_BOM_Component ON [BI_PROD_POST_SAP].[ODS].[BOM] (Component);
CREATE INDEX IX_BOM_Assembly ON [BI_PROD_POST_SAP].[ODS].[BOM] (Assembly, BOMPlant);
END  
GO
