USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_MLO_QFWSnapshot_D]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--select distinct MBRSnapshotNo from  ODS.MLO_QFWSnapshot
--select distinct MBRSnapshotNo from  [ODS].[MLO_AccountForecastBalanceSnapshot]



--exec [ODS].[usp_MLO_QFWSnapshot_D]


CREATE   Proc [ODS].[usp_MLO_QFWSnapshot_D]
as
begin
declare @fiscalyear nvarchar(4);
declare @fiscalperiod nvarchar(3);
declare @MBRSnapshotName nvarchar(10);
declare @MBRSnapshotNo nvarchar(10);
declare @snapshotdatetime datetime;
set @fiscalyear = '2026';
set @fiscalperiod = '004';
set @MBRSnapshotName = 'FY26.OCT';
set @MBRSnapshotNo = '2026.04';
set @snapshotdatetime = getdate();
--select DATEDIFF(MINUTE, max(LoadDateTime), GETDATE())from Bulla_BI_Prod.sap.ZXC_POSTINGCOSTS where version ='QFW' and FiscalYear>=@fiscalyear
IF (select DATEDIFF(MINUTE, max(LoadDateTime), GETDATE())from Bulla_BI_Prod.sap.ZXC_POSTINGCOSTS where version ='QFW' and FiscalYear>=@fiscalyear) < 5

    BEGIN
        THROW 50001, 'An error occurred: There might be a QFW job running, plase try later', 1;
    END



if(select max(MBRSnapshotNo) from ODS.MLO_QFWSnapshot) < @MBRSnapshotNo
or (select max(MBRSnapshotNo) from ODS.MLO_QFWSnapshot) is null
begin



--Snapshot QFW_RAW
/****** Script for SelectTopNRows command from SSMS  ******/
--select * from [BI_PROD_POST_SAP].[ODS].[MLO_QFWSnapshot_ZXC_POSTINGCOSTS]
insert into   [BI_PROD_POST_SAP].[ODS].[MLO_QFWSnapshot_ZXC_POSTINGCOSTS]
SELECT     @MBRSnapshotNo as [MBRSnapshotNo] 
	,@MBRSnapshotName as [MBRSnapshotName] 
	,@snapshotdatetime as [SnapshotDateTime] 
      ,[LoadDateTime]
      ,[AccountAssignmentType]
      ,[COBusinessTran]
      ,[COKeySubnumber]
      ,[CostElement]
      ,[CtrlgOriginClassification]
      ,[DebitCreditIndicator]
      ,[FiscalYear]
      ,[mef001]
      ,[mef002]
      ,[mef003]
      ,[mef004]
      ,[mef005]
      ,[mef006]
      ,[mef007]
      ,[mef008]
      ,[mef009]
      ,[mef010]
      ,[mef011]
      ,[mef012]
      ,[mef013]
      ,[mef014]
      ,[mef015]
      ,[mef016]
      ,[meg001]
      ,[meg002]
      ,[meg003]
      ,[meg004]
      ,[meg005]
      ,[meg006]
      ,[meg007]
      ,[meg008]
      ,[meg009]
      ,[meg010]
      ,[meg011]
      ,[meg012]
      ,[meg013]
      ,[meg014]
      ,[meg015]
      ,[meg016]
      ,[ObjectNnumber]
      ,[PartnerObject]
      ,[SourceObject]
      ,[UnitOfMeasure]
      ,[ValueType]
      ,[Version]
      ,[wkf001]
      ,[wkf002]
      ,[wkf003]
      ,[wkf004]
      ,[wkf005]
      ,[wkf006]
      ,[wkf007]
      ,[wkf008]
      ,[wkf009]
      ,[wkf010]
      ,[wkf011]
      ,[wkf012]
      ,[wkf013]
      ,[wkf014]
      ,[wkf015]
      ,[wkf016]
      ,[wkg001]
      ,[wkg002]
      ,[wkg003]
      ,[wkg004]
      ,[wkg005]
      ,[wkg006]
      ,[wkg007]
      ,[wkg008]
      ,[wkg009]
      ,[wkg010]
      ,[wkg011]
      ,[wkg012]
      ,[wkg013]
      ,[wkg014]
      ,[wkg015]
      ,[wkg016]
      ,[wog001]
      ,[wog002]
      ,[wog003]
      ,[wog004]
      ,[wog005]
      ,[wog006]
      ,[wog007]
      ,[wog008]
      ,[wog009]
      ,[wog010]
      ,[wog011]
      ,[wog012]
      ,[wog013]
      ,[wog014]
      ,[wog015]
      ,[wog016]
      ,[ScriptVersionDate]
  FROM Bulla_BI_Prod.sap.ZXC_POSTINGCOSTS where version ='QFW' and FiscalYear>=@fiscalyear
  
  
--Snapshot QFW
insert into [ODS].[MLO_AccountForecastBalanceSnapshot]
select 
   @MBRSnapshotNo as [MBRSnapshotNo] 
	,@MBRSnapshotName as [MBRSnapshotName] 
	,@snapshotdatetime as [SnapshotDateTime] 
	  ,@snapshotdatetime as [LoadDateTime] -- replace to loaddatetime after wkg change
      ,[ReportType]
      ,[ForecastRevision]
      ,[FiscalYear]
      ,[FiscalPeriod]
      ,[CostCentre]
      ,[ProfitCentre]
      ,[AccountNo]
      ,[Currency]
      ,[ForecastPeriodAmount]
      ,[ForecastYTDAmount]
      ,[DrCrMultiplier]
      ,[ForecastPeriodOpeningBalance]
      ,[ForecastPeriodClosingBalance]
      ,[CoDebitCreditIndicator]
      ,[SourceSystem]
	  from Bulla_BI_Prod.stg.AccountForecastBalance_wkg where ForecastRevision = 'QFW' and  FiscalYear*100+FiscalPeriod >= @fiscalyear*100+@fiscalperiod and ForecastPeriodAmount <>0;



insert into ODS.MLO_QFWSnapshot  
  select 
  @MBRSnapshotNo as MBRSnapshotNo,
  @MBRSnapshotName as MBRSnapshotName,
  * --into ODS.MLO_QFWSnapshot
    from FACT.MLO_QFW
  where FiscalYear*100+FiscalPeriod >= @fiscalyear*100+@fiscalperiod
  
end

end;
GO
