USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_insert_ODS_Revenue_OEE_ScoreCard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   Proc [ODS].[usp_insert_ODS_Revenue_OEE_ScoreCard]
AS
BEGIN
Delete from ODS.Revenue_OEE_ScoreCard;
INSERT INTO [ODS].[Revenue_OEE_ScoreCard]
           ([Year],[Period],[Period_Type],[KPI_Group],[Measure_Name],[Category],[Site],[CostCentre]
           ,[Production_Line],[Quantity],[Amount],[Percentage],[Unit]
           ,[Currency],[Source])
select Year,Period,PeriodType,KPI,Measure,Category,Site,CostCentre,Line,Quantity,Amount,a.Percentange,Unit,Currency,a.Source
from
(
--Calculating RDM
select distinct year,Period,PeriodType,KPI,Measure,Category,Site,line,pl.CostCentreName CostCentre,Quantity,Amount,RDM.Percentange,unit,Currency,RDM.Source
from 
(
select distinct acs.FiscalYear Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'ACT' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(acs.ActualSalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,acs.FiscalYear) Quantity,
		sum(acs.ActualGrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,acs.FiscalYear) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.ActualSales acs
inner join dim.PRODUCT p
on p.ProductNo=acs.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=acs.FiscalYear
and fwc.FiscalWeek=acs.FiscalWeek
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73  

union all

select distinct cmt.FiscalYear Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'CMT' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(cmt.CommittedSalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,cmt.FiscalYear) Quantity,
		sum(cmt.CommittedGrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,cmt.FiscalYear) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.CommittedSales cmt
inner join dim.PRODUCT p
on p.ProductNo=cmt.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=cmt.FiscalYear
and fwc.FiscalWeek=cmt.FiscalWeek
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73 


union all

select distinct cmt.FiscalYear Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'PCM' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(cmt.PriorCommittedSalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,cmt.FiscalYear) Quantity,
		sum(cmt.PriorCommittedGrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,cmt.FiscalYear) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.PriorCommittedSales cmt
inner join dim.PRODUCT p
on p.ProductNo=cmt.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=cmt.FiscalYear
and fwc.FiscalWeek=cmt.FiscalWeek
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73

union all

select distinct PCM.FiscalYear Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'LYC' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(PCM.PriorYearCommittedSalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,PCM.FiscalYear) Quantity,
		sum(PCM.PriorYearCommittedGrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,PCM.FiscalYear) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.PriorYearCommittedSales PCM
inner join dim.PRODUCT p
on p.ProductNo=PCM.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=PCM.FiscalYear
and fwc.FiscalWeek=PCM.FiscalWeek
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73

union all

select distinct LYA.FiscalYear Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'LYA' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(LYA.LastYearSalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,LYA.FiscalYear) Quantity,
		sum(LYA.LastYearGrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,LYA.FiscalYear) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.LastYearSales LYA
inner join dim.PRODUCT p
on p.ProductNo=LYA.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=LYA.FiscalYear
and fwc.FiscalWeek=LYA.FiscalWeek
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73

union all

select distinct lag1.fiscal_year Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'LAG 1' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(lag1.CommittedLag1SalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,lag1.fiscal_year) Quantity,
		sum(lag1.CommittedLag1GrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,lag1.fiscal_year) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.EoMForecastFlattened lag1
inner join dim.PRODUCT p
on p.ProductNo=lag1.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=lag1.fiscal_year
and fwc.FiscalWeek=lag1.fiscal_week
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73

union all

select distinct lag2.fiscal_year Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'LAG 2' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(lag2.CommittedLag2SalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,lag2.fiscal_year) Quantity,
		sum(lag2.CommittedLag2GrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,lag2.fiscal_year) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.EoMForecastFlattened lag2
inner join dim.PRODUCT p
on p.ProductNo=lag2.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=lag2.fiscal_year
and fwc.FiscalWeek=lag2.fiscal_week
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73

union all

select distinct lag3.fiscal_year Year, 
		fwc.FiscalPeriod Period,
		'fp' PeriodType,
		'Revenue' KPI,
		'LAG 3' Measure,
		p.Category,
		p_old.PreferredManufacturingSite Site,
		P_OLD.PreferredProductionLine line,
		sum(lag3.CommittedLag3SalesQuantity) Over(PARTITION BY p.Category,fwc.FiscalPeriod,lag3.fiscal_year) Quantity,
		sum(lag3.CommittedLag3GrossMargin) Over(PARTITION BY p.Category,fwc.FiscalPeriod,lag3.fiscal_year) Amount,
		'' Percentange,
		P_OLD.SalesUnit unit,
		'' Currency,
		'RDM' Source
from FACT.EoMForecastFlattened lag3
inner join dim.PRODUCT p
on p.ProductNo=lag3.ProductNo
inner join dim.FiscalWeekCalendar fwc
on fwc.FiscalYear=lag3.fiscal_year
and fwc.FiscalWeek=lag3.fiscal_week
LEFT JOIN [Bulla_BI_Prod].[Dim].[Product] P_OLD
ON p.ProductNo = P_OLD.ProductNo
and p.[ProductGroup] <>73

) RDM
inner join [Bulla_BI_Prod].Dim.ProductionLine pl
on pl.ProductionLine=RDM.line

Union ALL

--Calculating OEE

Select distinct Year,Period,PeriodType,KPI,Measure,Category,Site,Line,CostCentre,Quantity,Amount,Percentage,Unit,Currency,Source
from
(select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'OrderQty' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.OrderQty) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'OrderQty' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.TotalTime) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'ExcludedTime' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.ExcludedTime) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'PlannedStopTime' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.PlannedStopTime) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'UnplannedStopTime' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.UnplannedStopTime) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'RunningTime' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.RunningTime) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'TargetRatePPM' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.TargetRatePPM) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'TotalCount' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.TotalCount) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'GoodCount' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.GoodCount) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber

union all

select Distinct Year(OEO.Order_StartDate) Year,
Month(OEO.Order_StartDate) Period,
'CM' PeriodType,
'OEE' KPI,
'RejectCount' Measure,
''Category,
Case when OEO.WorkCenterID<100 then 'Forest St'
	 when OEO.WorkCenterID>=100 then 'Connor St'end Site,
OEO.WorkCenterName Line,
'' CostCentre,
Sum(OEO.RejectCount) OVER(PARTITION BY Year(OEO.Order_StartDate),Month(OEO.Order_StartDate)) Quantity,
'' Amount,
'' Percentage,
'' Unit,
'' Currency,
'OEE' Source
from FACT.OEE_Orders OEO
inner join FACT.OEE_Stoppages OES
on OEO.OrderNumber=OES.OrderNumber)OEE

)a;
end;
GO
