USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_BOMMultiLevel_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [ODS].[usp_BOMMultiLevel_F]  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  
  
DROP TABLE ODS.BOMMultiLevel;

--select * from ODS.Rawmaterial_BOM_Replacement where top_material = '1064'
--select * from [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_BOM] where Material = '000000000000001064'
--select * from [BI_PROD_POST_SAP].[ODS].[BOM] where Material = '1064'

--CREATE INDEX IX_BOM_Material_Plant ON [BI_PROD_POST_SAP].[ODS].[BOM] (Material, Plant);
--CREATE INDEX IX_BOM_Component ON [BI_PROD_POST_SAP].[ODS].[BOM] (Component);
--CREATE INDEX IX_BOM_Assembly ON [BI_PROD_POST_SAP].[ODS].[BOM] (Assembly, BOMPlant);
  
WITH BOMtree(
		"LoadDateTime"
		,"Level"-- cost hierarchy level, start from 1  
		,"HIER"
		,"TOP_MATERIAL" -- Top level material  
		,"TOP_PLANT" -- -- Top level plant  
		,"TOP_BOMBaseQuantity"  ----Top level Lot size (Char)  
		,"TOP_BOMUNIT" -- -- Top level Costing Lot Unit  	
		,"TOP_BOM_NUM" -- -- Top level BOMNUM      
		,"TOP_Validfrom"  
		,"TOP_ValidTo"    
		,[MANDT]
		,[BOM_CAT]
		,[BOM_NUM]
		,[BOM_ITM]
		,[BOM_CNT]
		,[ValidFrom]
		,[ValidTo]
		,[COMPONENT]
		,[ComponentUoM]
		,[Material]
		,[Plant]
		,[BOM_USAGE]
		,[ALT_BOM]
		,[SortString]
		,[MEINS]
		,[FixedQuantity]
		,[SpecialProcurement]
		,[BOM_SpecialPur]
		,[ChangeNo]
		,[ChangeNoTo]
		,[ChangeNoToKey]
		,[DeletionInd]
		,[CreatedOn]
		,[CreatedBy]
		,[ChangedOn]
		,[ChangedBy]
		,[ProductionRelevant]
		,[PlantMaintenance]
		,[CostingRelevant]
		,[BOMPlant]
		,[ComponentQuantity]
		,[ComponentScrap]
		,[OperationScrap]
		,[StandardPrice]
		,[PriceUnit]
		,[BOMBaseQuantity]
		,[PhantomFlag]
		,[Assembly]
        )   
AS (  
    SELECT   
		LoadDateTime
		,1 AS "Level"
		,CAST(COALESCE(Material, '') + '>' + COALESCE(Component, '') AS VARCHAR(200)) AS HIER
		,Material as "TOP_MATERIAL" -- Top level material  
		,[Plant] as "TOP_PLANT" -- -- Top level plant  
		,[BOMBaseQuantity] as "TOP_BOMBaseQuantity"  ----Top level Lot size (Char)  
		,[MEINS] as "TOP_BOMUNIT" -- -- Top level Costing Lot Unit  		
		,[BOM_NUM] as "TOP_BOM_NUM" -- -- Top level BOMNUM      
		,[ValidFrom] as "TOP_Validfrom"  
		,[ValidTo] as "TOP_ValidTo"    
		,[MANDT]
		,[BOM_CAT]
		,[BOM_NUM]
		,[BOM_ITM]
		,[BOM_CNT]
		,[ValidFrom]
		,[ValidTo]
		,[COMPONENT]
		,[ComponentUoM]
		,[Material]
		,[Plant]
		,[BOM_USAGE]
		,[ALT_BOM]
		,[SortString]
		,[MEINS]
		,[FixedQuantity]
		,[SpecialProcurement]
		,[BOM_SpecialPur]
		,[ChangeNo]
		,[ChangeNoTo]
		,[ChangeNoToKey]
		,[DeletionInd]
		,[CreatedOn]
		,[CreatedBy]
		,[ChangedOn]
		,[ChangedBy]
		,[ProductionRelevant]
		,[PlantMaintenance]
		,[CostingRelevant]
		,[BOMPlant]
		,[ComponentQuantity]
		,[ComponentScrap]
		,[OperationScrap]
		,[StandardPrice]
		,[PriceUnit]
		,[BOMBaseQuantity]
		,[PhantomFlag]
		,[Assembly]

    FROM   [BI_PROD_POST_SAP].[ODS].[BOM] b1

	--select * from BOMtree where Material = 1053

    UNION ALL  
	
	 SELECT   
		t.LoadDateTime
		,level + 1 AS "Level" 
		,CAST(COALESCE(t.HIER, '') + '>' + COALESCE(b.COMPONENT, '') AS VARCHAR(200)) AS HIER
		,t."TOP_MATERIAL" -- Top level material  
		,t."TOP_PLANT" -- -- Top level plant  
		,t."TOP_BOMBaseQuantity"  ----Top level Lot size (Char)  
		,t."TOP_BOMUNIT" -- -- Top level Costing Lot Unit  		
		,t."TOP_BOM_NUM" -- -- Top level BOMNUM      
		,t."TOP_Validfrom"  
		,t."TOP_ValidTo"    
		,b.[MANDT]
		,b.[BOM_CAT]
		,b.[BOM_NUM]
		,b.[BOM_ITM]
		,b.[BOM_CNT]
		,b.[ValidFrom]
		,b.[ValidTo]
		,b.[COMPONENT]
		,b.[ComponentUoM]
		,b.[Material]
		,b.[Plant]
		,b.[BOM_USAGE]
		,b.[ALT_BOM]
		,b.[SortString]
		,b.[MEINS]
		,b.[FixedQuantity]
		,b.[SpecialProcurement]
		,b.[BOM_SpecialPur]
		,b.[ChangeNo]
		,b.[ChangeNoTo]
		,b.[ChangeNoToKey]
		,b.[DeletionInd]
		,b.[CreatedOn]
		,b.[CreatedBy]
		,b.[ChangedOn]
		,b.[ChangedBy]
		,b.[ProductionRelevant]
		,b.[PlantMaintenance]
		,b.[CostingRelevant]
		,b.[BOMPlant]
		,b.[ComponentQuantity]
		,b.[ComponentScrap]
		,b.[OperationScrap]
		,b.[StandardPrice]
		,b.[PriceUnit]
		,b.[BOMBaseQuantity]
		,b.[PhantomFlag]
		,b.[Assembly] 
    FROM   
  BOMtree t join [BI_PROD_POST_SAP].[ODS].[BOM] b on t.[Assembly] = 'X' and   
  t.COMPONENT = b.material and   
  t.BOMPlant = b.plant   where t.level <= 11     
)  

--select * from BOMtree where TOP_MATERIAL = '1064'
  
select * into [BI_PROD_POST_SAP].[ODS].[BOMMultiLevel] from BOMtree 
--where TOP_MATERIAL = '1053'--order by level,P_COMP  

END  
GO
