USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_Rawmaterial_ComparisonFlag_F_BACK]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--select * from [BI_PROD_POST_SAP].[FACT].[BatchDetails] where material = '101126'



CREATE PROCEDURE [ODS].[usp_Rawmaterial_ComparisonFlag_F_BACK]
AS
BEGIN

TRUNCATE TABLE ODS.Rawmaterial_ComparisonFlag;
DECLARE @SnapshortYear INT;
SELECT TOP 1 @SnapshortYear = FiscalYear
FROM DIM.CalendarDate
WHERE YearOffset = 0;

with Inventory as( SELECT  --good performance
      
      [MATERIAL]
	  ,@SnapshortYear as [FISCALYEAR]      
      ,sum([UNRESTRICTEDUSE]) as UNRESTRICTEDUSE
      ,sum([STOCKINTRANSFER]) as STOCKINTRANSFER
      ,sum([QUALITYINSPECTION]) as QUALITYINSPECTION
      ,sum([RESTRICTEDBATCHES]) as   RESTRICTEDBATCHES   
      ,sum([TotalStockQTy]) as  TotalStockQTy  
      --,[Vendor]
      
  FROM [BI_PROD_POST_SAP].[FACT].[BatchDetails]
  --where FISCALYEAR= 2025 or FISCALYEAR= 2026 -- [BC] remove filter for Inventory
  group by MATERIAL),

  
  --****bring all material list from master data as the base line
 -- fiscalyear as (select distinct fiscalyear from DIM.CalendarDate where YearOffset in (0,-1))
  --,
  Materiallist as ( select 
	itemno,
	itemdescription,
    signaldescription,
	itemTypeName,
	itemGroupName,
	@SnapshortYear as fiscalyear

		from ODS.Item 
		where signalcode <>'06' and itemtype <>'FERT'
		and itemno in (

		select 
	distinct MATNR
	from [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_MARC] --directly use STG since some problem found in ODS/DIM, need to fix
	where BESKZ in ('F','X') and EKGRP <>'STO'
	and SOBSL not in ('30','31','32','33','34','35','36')))

	   --  select * from Materiallist order by  itemno
  
  insert into [BI_PROD_POST_SAP].[ODS].[Rawmaterial_ComparisonFlag]
	([Loaded_Datetime],
	MatNo ,
	itemdescription,
    signaldescription,
	itemTypeName,
	itemGroupName,
	FiscalYear ,
    salesunit,
    purunit,
    SalesQty_YTD,
	ComponentQty_YTD,
	ComponentCost_YTD,
	SalesQty_YTG,
	ComponentQty_YTG,
	ComponentCost_YTG,
	SalesQty_FYF,
	ComponentQty_FYF,
	ComponentCost_FYF,
	SalesQty_NFY,
	ComponentQty_NFY,
	ComponentCost_NFY,
	PurQty_YTD, 
	POCost_YTD,
	StdCost_YTD,
    PurQty_YTG, 
	POCost_YTG,
	StdCost_YTG,
	PurQty_FYF, 
	POCost_FYF,
	StdCost_FYF,
	PurQty_NFY, 
	POCost_NFY,
	StdCost_NFY,
	[Stock On Hand],
    [Stock in Transfer],
    [QualityInspection],
    [RESTRICTEDBATCHES],   
    [TotalStockQTy],
	[Comparision],
	[CurrentYearValidation],
	[NextYearValidation],
	InStockFlag,
	UsedInBOMFlag)
 
  SELECT 
    getdate() as [Loaded_Datetime],
    Materiallist.ItemNo AS MatNo, 
    Materiallist.itemdescription,
    Materiallist.signaldescription,
	Materiallist.itemTypeName,
	Materiallist.itemGroupName,
    Materiallist.FiscalYear,    
    sales.compunit AS salesunit,
    purchase.baseUOM AS purunit,

    round(sales.TotalCommittedSalesQuantity_YTD,0) as SalesQty_YTD,
	round(sales.CompQty_YTD,0) as ComponentQty_YTD,
	round(sales.CompCost_YTD,0) as ComponentCost_YTD,

	round(sales.TotalCommittedSalesQuantity_YTG,0) as SalesQty_YTG,
	round(sales.CompQty_YTG,0) as ComponentQty_YTG,
	round(sales.CompCost_YTG,0) as ComponentCost_YTG,

	round(sales.TotalCommittedSalesQuantity_YTD,0) + round(sales.TotalCommittedSalesQuantity_YTG,0) as SalesQty_FYF,
	round(sales.CompQty_YTD,0)  + round(sales.CompQty_YTG,0) as ComponentQty_FYF,
	round(sales.CompCost_YTD,0) + round(sales.CompCost_YTG,0) as ComponentCost_FYF,

	round(sales.TotalCommittedSalesQuantity_NFY,0) as SalesQty_NFY,
	round(sales.CompQty_NFY,0) as ComponentQty_NFY,
	round(sales.CompCost_NFY,0) as ComponentCost_NFY,     
   
    round(Purchase.PurQty_YTD,0) as PurQty_YTD, 
	round(Purchase.POCost_YTD,0) as POCost_YTD,
	round(Purchase.StdCost_YTD,0) as StdCost_YTD,

   round(Purchase.PurQty_YTG,0) as PurQty_YTG, 
	round(Purchase.POCost_YTG,0) as POCost_YTG,
	round(Purchase.StdCost_YTG,0) as StdCost_YTG,

	round(Purchase.PurQty_YTD,0)+round(Purchase.PurQty_YTG,0) as PurQty_FYF, 
	round(Purchase.POCost_YTD,0)+ round(Purchase.POCost_YTG,0) as POCost_FYF,
	round(Purchase.StdCost_YTD,0)+round(Purchase.StdCost_YTG,0) as StdCost_FYF,

	round(Purchase.PurQty_NFY,0) as PurQty_NFY, 
	round(Purchase.POCost_NFY,0) as POCost_NFY,
	round(Purchase.StdCost_NFY,0) as StdCost_NFY,

	Inv.[UNRESTRICTEDUSE] as "Stock On Hand",
    Inv.[STOCKINTRANSFER] as "Stock in Transfer",
    Inv.[QUALITYINSPECTION] as "QualityInspection",
    Inv.[RESTRICTEDBATCHES] as  RESTRICTEDBATCHES,   
    Inv.[TotalStockQTy]    as TotalStockQTy,
   -- Inv.[Vendor] as Vendor,
		
    CASE 
		WHEN (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0) +coalesce(sales.CompQty_NFY,0)) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) + coalesce(Purchase.PurQty_NFY,0)) > 0 THEN 'Only in Purchasing'
		WHEN  (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0)+coalesce(sales.CompQty_NFY,0)) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) + coalesce(Purchase.PurQty_NFY,0)) = 0  THEN 'Only in Sales'
        WHEN  (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0)+coalesce(sales.CompQty_NFY,0)) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) + coalesce(Purchase.PurQty_NFY,0)) =0 THEN 'Not in Sales Or Purchasing'
        WHEN  (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0)+coalesce(sales.CompQty_NFY,0)) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) +coalesce(Purchase.PurQty_NFY,0)) > 0THEN 'In both Sales and Purchasing'
    END AS Comparision

	,CASE 
        WHEN (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0)) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) > 0 THEN 'Only in Purchasing'
		WHEN  (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0)) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) = 0  THEN 'Only in Sales'
        WHEN  (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0)) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) =0 THEN 'Not in Sales Or Purchasing'
        WHEN  (coalesce(sales.CompQty_YTD,0)+coalesce(sales.CompQty_YTG,0)) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) > 0THEN 'In both Sales and Purchasing'
    END AS CurrentYearValidation
	,CASE 
        WHEN coalesce(sales.CompQty_NFY,0)=0 AND coalesce(Purchase.PurQty_NFY,0)>0 THEN 'Only in Purchasing'
		WHEN  coalesce(sales.CompQty_NFY,0)>0 AND coalesce(Purchase.PurQty_NFY,0)=0 THEN 'Only in Sales'
        WHEN  coalesce(sales.CompQty_NFY,0)=0 AND coalesce(Purchase.PurQty_NFY,0)=0 THEN 'Not in Sales Or Purchasing'
        WHEN  coalesce(sales.CompQty_NFY,0)>0 AND coalesce(Purchase.PurQty_NFY,0)>0 THEN 'In both Sales and Purchasing'
    END AS NextYearValidation
	,case 
	when Inv.[TotalStockQTy] > 0 then 'X'
	end as InStockFlag,
	CASE 
           WHEN EXISTS (
               SELECT 1
               FROM ODS.BOM B
               WHERE B.COMPONENT = Materiallist.ItemNo
           ) THEN 'X'
           ELSE ''
       END AS UsedInBOMFlag

	
  

FROM Materiallist left join [BI_PROD_POST_SAP].[ODS].[RawMaterial_Sales] sales

 on Materiallist.ItemNo = sales.Component

left JOIN [BI_PROD_POST_SAP].[ODS].[RawMaterial_Purchasing] purchase
    ON Materiallist.ItemNo = purchase.MatNo 

    --AND sales.FiscalYear = purchase.FiscalYear 
   
--LEFT JOIN ODS.Item i 
  --  ON COALESCE(sales.component, purchase.MatNo) = i.itemno

LEFT JOIN Inventory Inv on Inv.MATERIAL=  Materiallist.ItemNo
	where ItemDescription <>''
	--and i.ItemTypeName='Raw materials'
END
GO
