USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_Rawmaterial_Purchasing_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [ODS].[usp_Rawmaterial_Purchasing_F]
AS
BEGIN

TRUNCATE TABLE ODS.RawMaterial_Purchasing;

DECLARE @SnapshortYear INT;

SELECT TOP 1 @SnapshortYear = FiscalYear
FROM DIM.CalendarDate
WHERE YearOffset = 0;

IF OBJECT_ID('DIM.SAPRawMaterialbyperiod_Temp', 'U') IS NOT NULL
    Drop table DIM.SAPRawMaterialbyperiod_Temp;

With PERIOD as ( select c1.FiscalYearPeriod,c1.fiscalyear,c1.DateKey as MonthStartDate,c1.MonthendDate ,c2.DateKey  as YearStartDate from DIM.CalendarDate c1 left join DIM.CalendarDate c2 
 on c1.FiscalYear = c2.FiscalYear
 and c2.FiscalPeriod = 1 and c2.DayOfMonth = 1
 where c1.FiscalYear >=2021 and c1.DayOfMonth = 1
 		and c1.FiscalYearPeriod >= @SnapshortYear*100+1 
		and c1.FiscalYearPeriod<= @SnapshortYear*100+112 --DIM.tempSAPcostcompbyperiod is a temp table created by sapcost comp run 
 ) -- get period list and the 1st day of the period

 --select * from PERIOD
,
mat_period as (select a.*,b.itemno,b.itemNoWithDescription,b.SignalDescription from PERIOD a ,ODS.item b where ItemType<>'FERT')
--select * from  mat_period order by itemNo
 , -- Cartesian product to get all period&material combination.
 
 output as (select  a.FiscalYearPeriod,a.ItemNo,b.KALKA as CostingType,
 b.TVERS as CostingVersion,b.KLVAR as CostingVariant,b.FEH_STA as CostingStatus,max(b.KADKY) as CostingDate,b.werks
 --CASE 
 --       WHEN c.CostingStatus IS NULL THEN 'X'  -- Flag = 1 when no match found in B
 --       ELSE ''  -- Flag = 0 when match exists
 --   END AS NoValidCostingVersion
 from  mat_period a left join [SAPSTG].[KEKO] b 
 on a.ItemNo = REPLACE(LTRIM(REPLACE(b.MATNR,'0',' ')),' ','0') 
 and a.MonthendDate >= b.KADAT 
 and a.MonthendDate <= b.BIDAT 
 inner join [Conf].[SAPCostComponentConfig] c
 on b.KALKA = c.CostingType
 and b.TVERS = c.CostingVersion
 and b.KLVAR = c.CostingVariant
 and b.FEH_STA = c.CostingStatus
 and a.FiscalYearPeriod = c.YearPeriod
 where FiscalYear = @SnapshortYear
 group by a.FiscalYearPeriod,a.itemNo,b.werks,b.KALKA,b.TVERS,b.KLVAR,b.FEH_STA
 )

 --select * from output_CY where costingstatus = 'FR'
 ,
output_CY as( select a.FiscalYearPeriod,a.MonthendDate,a.ItemNo,
c.CostingType,
 c.CostingVersion,
 c.CostingVariant,
 c.CostingStatus,
 max(b.KADKY) as CostingDate,
 case when b.KLVAR is null
 THEN 'missingCost:' 
         + CAST(a.FiscalYearPeriod AS VARCHAR) 
         + '|' + CAST(c.CostingType AS VARCHAR) 
         + '|' + CAST(c.CostingVersion AS VARCHAR) 
         + '|' + CAST(c.CostingVariant AS VARCHAR) 
         + '|' + CAST(c.CostingStatus AS VARCHAR)
		else ''
 end as Costmissing,
 case when b.KLVAR is null
 THEN 'X'
	else ''
 end as CostmissingFlag,
 '' as Repaired_FR,
 b.werks as plant
 from mat_period a 
 left join [Conf].[SAPCostComponentConfig] c on a.FiscalYearPeriod = c.YearPeriod
 left join  [SAPSTG].[KEKO] b 
 on a.ItemNo = REPLACE(LTRIM(REPLACE(b.MATNR,'0',' ')),' ','0') 
 and a.MonthendDate >= b.KADAT 
 and a.MonthendDate <= b.BIDAT 
 and b.KALKA = c.CostingType
 and b.TVERS = c.CostingVersion
 and b.KLVAR = c.CostingVariant
 and b.FEH_STA = c.CostingStatus

 where FiscalYear = @SnapshortYear
 group by a.FiscalYearPeriod,a.MonthendDate,a.itemNo,b.werks,
 c.CostingType,c.CostingVersion,c.CostingVariant,c.CostingStatus,b.KLVAR
 ),

 output_NY as( select a.FiscalYearPeriod,a.MonthendDate,a.ItemNo,
c.CostingType,
 c.CostingVersion,
 c.CostingVariant,
 c.CostingStatus,
 max(b.KADKY) as CostingDate,
 case when b.KLVAR is null
 THEN 'missingCost:' 
         + CAST(a.FiscalYearPeriod AS VARCHAR) 
         + '|' + CAST(c.CostingType AS VARCHAR) 
         + '|' + CAST(c.CostingVersion AS VARCHAR) 
         + '|' + CAST(c.CostingVariant AS VARCHAR) 
         + '|' + CAST(c.CostingStatus AS VARCHAR)
		else ''
 end as Costmissing,
 case when b.KLVAR is null
 THEN 'X'
	else ''
 end as CostmissingFlag,
 '' as Repaired_FR,
 b.werks as plant
 from mat_period a 
 left join [Conf].[SAPCostComponentConfig] c on a.FiscalYearPeriod = c.YearPeriod
 left join  [SAPSTG].[KEKO] b 
 on a.ItemNo = REPLACE(LTRIM(REPLACE(b.MATNR,'0',' ')),' ','0') 
 and a.MonthendDate >= b.KADAT 
 and a.MonthendDate <= b.BIDAT 
 and b.KADAT >='20250630' --hardcoded for now
 and b.KALKA = c.CostingType
 and b.TVERS = c.CostingVersion
 and b.KLVAR = c.CostingVariant
 and b.FEH_STA = 'KA'

 where a.FiscalYear = @SnapshortYear + 1
 group by a.FiscalYearPeriod,a.MonthendDate,a.itemNo,b.werks,
 c.CostingType,c.CostingVersion,c.CostingVariant,c.CostingStatus,b.KLVAR
 ) 
 --select * from output_NY where costingstatus = 'FR'
SELECT * 
INTO DIM.SAPRawMaterialbyperiod_Temp
FROM (
    SELECT * FROM output_CY
    UNION
    SELECT * FROM output_NY
) AS output2;
 --select * from DIM.SAPRawMaterialbyperiod_Temp where ItemNo = '3000154'
 

 --with missingcostlist as( 
 -- select distinct a.ItemNo,FiscalYearPeriod,MonthendDate,a.CostingType,
 --a.CostingVersion,
 --a.CostingVariant,
 --'FR' as CostingStatus from DIM.SAPRawMaterialbyperiod_Temp a left join ODS.Item b on a.ItemNo = b.ItemNo 
 -- where b.SignalCode<>'06' and CostingDate is null and CostingStatus = 'KA')
 -- --select * from missingcostlist
 --,
 --missingCost_repair as( select a.FiscalYearPeriod,a.MonthendDate,a.ItemNo,
 --a.CostingType,
 --a.CostingVersion,
 --a.CostingVariant,
 --a.CostingStatus,
 --max(b.KADKY) as CostingDate,
 --case when b.KLVAR is null
 --THEN 'missingCost:' 
 --        + CAST(a.FiscalYearPeriod AS VARCHAR) 
 --        + '|' + CAST(a.CostingType AS VARCHAR) 
 --        + '|' + CAST(a.CostingVersion AS VARCHAR) 
 --        + '|' + CAST(a.CostingVariant AS VARCHAR) 
 --        + '|FR&KA' 
	--	else ''
 --end as Costmissing,
 --case when b.KLVAR is null
 --THEN '1'
 --else ''
 --end as CostmissingFlag,
 --case when b.KLVAR is not null
 --then 'X'
 --else '' end as Repaired_FR,
 --b.werks as plant
 --from missingcostlist a
 --left join  [SAPSTG].[KEKO] b 
 --on a.ItemNo = REPLACE(LTRIM(REPLACE(b.MATNR,'0',' ')),' ','0') 
 --and a.MonthendDate >= b.KADAT 
 --and a.MonthendDate <= b.BIDAT 
 --and b.KALKA = a.CostingType
 --and b.TVERS = a.CostingVersion
 --and b.KLVAR = a.CostingVariant
 --and b.FEH_STA = 'FR'
 --group by a.FiscalYearPeriod,a.MonthendDate,a.itemNo,b.werks,a.CostingType,a.CostingVersion,a.CostingVariant,a.CostingStatus,b.KLVAR) --,b.KADKY
 ----delete DIM.SAPRawMaterialbyperiod_Temp where CostmissingFlag = 'X';
 --insert into DIM.SAPRawMaterialbyperiod_Temp  select * from missingCost_repair;
 -- delete DIM.SAPRawMaterialbyperiod_Temp where CostmissingFlag = 'X' and CostingStatus = 'KA';

 -- select * from DIM.SAPRawMaterialbyperiod_Temp where ItemNo = '100101'

WITH costcomp AS ( 
    SELECT 
        a.ItemNo,
        a.plant,
        LEFT(a.FiscalYearPeriod, 4) AS FiscalYear,
        a.FiscalYearPeriod,
		a.CostingDate,
		a.CostingType,
		a.[CostingStatus],
		a.[CostingVariant],
        LotSize,
		CostlotUnit,
        SUM(CompQty) AS StdCompQty,
        SUM(CompCost) AS StdCompCost
    FROM DIM.SAPRawMaterialbyperiod_Temp a 
    LEFT JOIN [BI_PROD_POST_SAP].[DIM].[SAPCostComponent_RAW_PACK] p
        ON a.ItemNo = p.MATERIAL
        AND a.[CostingDate] = p.[CostingDate]
        AND a.[CostingStatus] = p.[CostingStatus]
        AND a.[CostingVariant] = p.[CostingVariant]
        AND a.plant = p.Plant
    WHERE a.CostingDate is not null 
	and p.CompAdditiveCost = '' 
        AND p.CompAssmb = ''
    GROUP BY a.ItemNo, a.plant, FiscalYear, a.FiscalYearPeriod,a.CostingDate,a.CostingType,a.[CostingStatus],
		a.[CostingVariant], LotSize,CostlotUnit
)
--select * from costcomp where ItemNo = 6040
--,
--select * from DIM.SAPRawMaterialbyperiod_Temp where ItemNo = '6000010' order by FiscalYearPeriod

--select * from costcomp where Item = 6040

--,ranked_costcomp AS (
--    SELECT *,
--           ROW_NUMBER() OVER (
--               PARTITION BY ItemNo, FiscalYearPeriod 
--               ORDER BY 
--                   CASE WHEN plant = '3600' THEN 1 ELSE 2 END,  -- Prioritize plant 3600
--                   StdCompCost DESC,  -- If no 3600, pick highest SalesCompCost
--				   plant DESC
--           ) AS rn,
--		   MIN(StdCompCost) over ( PARTITION by ItemNo,FiscalYearPeriod) as MinCompCost,
--		   MAX(StdCompCost) over ( PARTITION by ItemNo,FiscalYearPeriod) as MaxCompCost
--    FROM costcomp
--)
,

--select * from ranked_costcomp where ItemNo = '100101'

PO_Records as( SELECT 
        PO,
		p.DeliveryCompleted,
		Replace(ltrim(Replace(MatNo,'0',' ')),' ','0') as MatNo, 
        i.ItemTypeName, 
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
		p.Plant,
		p.vendor,
        c.FiscalYear, 
        FiscalPeriod,
		YearOffset,
		PeriodOffset,
        baseUOM,
		 case when pr.CostingDate is not null
 THEN 
          CAST(pr.CostingDate AS VARCHAR) 
         + '|' + CAST(pr.CostingType AS VARCHAR) 
         + '|' + CAST(pr.CostingStatus AS VARCHAR) 
         + '|' + CAST(pr.CostingVariant AS VARCHAR)      
		else ''
 end as CostingVersion,
        SUM(p.POQtyConvertedBase) AS PurQty, 
		sum(p.OpenPOQty) as OpenPOQty,
		sum(p.StillTobeDeliveredQty) as tobedelivered,
        SUM(p.latestcost) AS POCost, 
        SUM(p.StandardCost) AS StdCost,
		sum(p.POGRValue) as GRValue,
		sum(p.PPVGRValue) as ppvgrvalue,
		sum(p.PPVValueinGLAccount) as ppvinGL,
		sum(p.PPVValueinIRAccount) as PPVinIR,
		sum(p.QuantityGoodsreceived) as GRqty,
		sum(p.OpenStandardCost) as openstandardcost,
		sum(p.POQtyConvertedBase*pr.StdCompCost/pr.LotSize) as StdCost2
		
    FROM [BI_PROD_POST_SAP].[ODS].[PurchaseOrder] p --PO
    LEFT JOIN dim.CalendarDate c ON p.DeliveryDate = c.DateKey  
    LEFT JOIN ODS.Item i ON Replace(ltrim(Replace(p.MatNo,'0',' ')),' ','0') = i.ItemNo
	left join costcomp pr on 
	i.ItemNo = pr.ItemNo and
	c.FiscalYearPeriod = pr.FiscalYearPeriod and
	p.Plant = pr.plant
    where c.YearOffset in (0,-1)
	and i.ItemDescription is not null
	and i.ItemType <>'FERT'
	and p.vendor<>''
	--select distinct itemtype,itemtypename from ods.item
	
    GROUP BY  PO,p.DeliveryCompleted,MatNo, p.Plant,p.vendor,c.FiscalYear, FiscalPeriod,		YearOffset,
		PeriodOffset, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, baseUOM,pr.CostingDate,pr.CostingType,pr.[CostingStatus],
		pr.[CostingVariant]),


--select * from [BI_PROD_POST_SAP].[ODS].[PurchaseOrder] where PO = '4500107795'
--select * from 
--SELECT ItemNo, plant, FiscalYear, FiscalYearPeriod, CostingDate,LotSize,CostlotUnit, SalesCompQty, SalesCompCost,MinCompCost,MaxCompCost
--FROM ranked_costcomp
--WHERE rn = 1  -- Keep only the best-ranked row 
----and ItemNo = '1000052'
--order by ItemNo, plant, FiscalYear, FiscalYearPeriod;

--select * from DIM.SAPRawMaterialbyperiod_Temp where ItemNo = '1000052' order by FiscalYearPeriod



--WITH 

PR_Records as (SELECT 
        p.DocumentNo,
		p.MatNo, 
        i.ItemTypeName,
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
		p.Plant,
        c.FiscalYear, 
        FiscalPeriod,  
		YearOffset,
		PeriodOffset,
        baseUOM,
		case when pr.CostingDate is not null
		THEN 
          CAST(pr.CostingDate AS VARCHAR) 
         + '|' + CAST(pr.CostingType AS VARCHAR) 
         + '|' + CAST(pr.CostingStatus AS VARCHAR) 
         + '|' + CAST(pr.CostingVariant AS VARCHAR)      
		else ''
		end as CostingVersion,
       	SUM(p.PurchaseQtyConvertedBase) AS PurQty, 
        SUM(p.latestcost) AS POCost, 
        SUM(p.StandardCost) AS StdCost,
		sum(p.PurchaseQtyConvertedBase*pr.StdCompCost/pr.LotSize) as StdCost2
		                                           
    FROM [BI_PROD_POST_SAP].[FACT].[PurchasePriceVariance] p --Pur
    LEFT JOIN dim.CalendarDate c ON p.ItemDelvDate = c.DateKey  
    LEFT JOIN ODS.Item i ON p.MatNo = i.ItemNo
	left join costcomp pr on 
	i.ItemNo = pr.ItemNo and
	c.FiscalYearPeriod = pr.FiscalYearPeriod and
	p.Plant = pr.plant
    where c.YearOffset in (0,-1)
	and i.ItemDescription is not null
	and p.flow <> 'PurchaseOrder'
	--and p.matno='1000016'
    GROUP BY p.DocumentNo,MatNo, c.FiscalYear,FiscalPeriod,YearOffset,
		PeriodOffset, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, p.Plant,baseUOM,pr.CostingDate,pr.CostingType,pr.[CostingStatus],
		pr.[CostingVariant])
--select * from PO_Records 
--select * from PR_Records where BaseUOM is not null

--select * from [BI_PROD_POST_SAP].[FACT].[PurchasePriceVariance] where DocumentNo = '0069943508'
,
PO_PR_Records as ( --added by BC 03/02/25
 SELECT 
        MatNo, 
        FiscalYear, 
        FiscalPeriod,
		YearOffset,
		PeriodOffset,
        baseUOM,
        SUM(PurQty) AS PurQty, 
        SUM(POCost) AS POCost, 
        SUM(StdCost) AS StdCost1,
		SUM(StdCost2) AS StdCost2,
		SUM(coalesce(StdCost2,StdCost)) as StdCost
    FROM PO_Records p --PO 
	
    GROUP BY MatNo, FiscalYear, FiscalPeriod,		YearOffset,
		PeriodOffset, baseUOM

union all   SELECT 
        MatNo, 
        FiscalYear, 
        FiscalPeriod,
		YearOffset,
		PeriodOffset,
        baseUOM,
        SUM(PurQty) AS PurQty, 
        SUM(POCost) AS POCost, 
        SUM(StdCost) AS StdCost1,
		SUM(StdCost2) AS StdCost2,
		SUM(coalesce(StdCost2,StdCost)) as StdCost
    FROM PR_Records p --PO 
	where BaseUOM is not null
    GROUP BY MatNo, FiscalYear, FiscalPeriod,		YearOffset,
		PeriodOffset, baseUOM)
		
		--select COUNT(*) from PO_PR_Records 
,
Unioned AS (
    SELECT 
        Replace(ltrim(Replace(MatNo,'0',' ')),' ','0') as MatNo, 
        i.ItemTypeName, 
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
        @SnapshortYear as FiscalYear, --need to change to dynmic
        --FiscalPeriod, 
        baseUOM,
        SUM(p.PurQty) AS PurQty_YTD, 
        SUM(p.POCost) AS POCost_YTD, 
        SUM(p.StdCost) AS StdCost_YTD,
		0 AS PurQty_YTG, 
        0 AS POCost_YTG, 
        0 AS StdCost_YTG,
		0 AS PurQty_NFY, 
        0 AS POCost_NFY, 
        0 AS StdCost_NFY
    FROM PO_PR_Records p --PO
    --LEFT JOIN dim.CalendarDate c ON p.DeliveryDate = c.DateKey  
    LEFT JOIN ODS.Item i ON Replace(ltrim(Replace(p.MatNo,'0',' ')),' ','0') = i.ItemNo
    where YearOffset = 0 and PeriodOffset>=1
	and i.ItemDescription is not null
    GROUP BY MatNo, FiscalYear, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, baseUOM	

	 union all
	 
	    SELECT 
        p.MatNo, 
        i.ItemTypeName,
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
        @SnapshortYear as FiscalYear, 
        --FiscalPeriod,             
        baseUOM,
        0 AS PurQty_YTD, 
        0 AS POCost_YTD, 
        0 AS StdCost_YTD,
		0 AS PurQty_YTG, 
        0 AS POCost_YTG, 
        0 AS StdCost_YTG,
	    SUM(p.PurQty) AS PurQty_NFY, 
        SUM(p.POCost) AS POCost_NFY, 
        SUM(p.StdCost) AS StdCost_NFY
		                                           
    FROM PO_PR_Records p --Pur
    --LEFT JOIN dim.CalendarDate c ON p.ItemDelvDate = c.DateKey  
    LEFT JOIN ODS.Item i ON p.MatNo = i.ItemNo
    where YearOffset = -1
	and i.ItemDescription is not null

	--and p.matno='1000016'
    GROUP BY MatNo, FiscalYear, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, baseUOM
		

 union all

	SELECT 
        p.MatNo, 
        i.ItemTypeName, 
		i.ItemNoWithDescription,
		i.SignalDescription,
		i.ItemGroupName,
        @SnapshortYear as FiscalYear,
        --FiscalPeriod,             
        baseUOM,
        0 AS PurQty_YTD, 
        0 AS POCost_YTD, 
        0 AS StdCost_YTD,
		sum(p.PurQty) AS PurQty_YTG, 
        SUM(p.POCost) AS POCost_YTG, 
        SUM(p.StdCost) AS StdCost_YTG,
	    0 AS PurQty_NFY, 
        0 AS POCost_NFY, 
        0 AS StdCost_NFY		                                           
    FROM PO_PR_Records p
    --LEFT JOIN dim.CalendarDate c ON p.ItemDelvDate = c.DateKey  
    LEFT JOIN  ODS.Item i ON Replace(ltrim(Replace(p.MatNo,'0',' ')),' ','0') = i.ItemNo 
    where YearOffset = 0 and PeriodOffset<1
	and i.ItemDescription is not null
	--and p.matno='1000016'
    GROUP BY MatNo, FiscalYear, i.ItemTypeName,i.ItemNoWithDescription,	i.SignalDescription,
		i.ItemGroupName, baseUOM
		
	)

	insert into [BI_PROD_POST_SAP].[ODS].[RawMaterial_Purchasing]

	([Loaded_Datetime]
	,[MatNo]
      ,[ItemTypeName]
      ,[ItemNoWithDescription]
      ,[SignalDescription]
      ,[ItemGroupName]
      ,[FiscalYear]
      ,[baseUOM]
      ,[PurQty_YTD]
      ,[POCost_YTD]
      ,[StdCost_YTD]
      ,[PurQty_YTG]
      ,[POCost_YTG]
      ,[StdCost_YTG]
      ,[PurQty_NFY]
      ,[POCost_NFY]
      ,[StdCost_NFY])

	(select 
	getdate() as [Loaded_Datetime],
	 MatNo, 
        ItemTypeName, 
		ItemNoWithDescription,
		SignalDescription,
		ItemGroupName,
        FiscalYear, 
        --FiscalPeriod, 
        baseUOM,
		SUM(PurQty_YTD) AS PurQty_YTD, 
        SUM(POCost_YTD) AS POCost_YTD, 
        SUM(StdCost_YTD) AS StdCost_YTD,
		SUM(PurQty_YTG) AS PurQty_YTG, 
        SUM(POCost_YTG) AS POCost_YTG, 
        SUM(StdCost_YTG) AS StdCost_YTG,
		SUM(PurQty_NFY) AS PurQty_NFY, 
        SUM(POCost_NFY) AS POCost_NFY, 
        SUM(StdCost_NFY) AS StdCost_NFY
		--into [BI_PROD_POST_SAP].[ODS].[RawMaterial_Purchasing] 
		from Unioned
		--where matno='000000000000240079'
		GROUP BY MatNo,FiscalYear,  ItemTypeName,itemNoWithDescription,	SignalDescription,
		ItemGroupName, baseUOM)

	

END
GO
