USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_Rawmaterial_Sales_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [ODS].[usp_Rawmaterial_Sales_F]
AS
BEGIN

TRUNCATE TABLE ODS.RawMaterial_Sales;
DECLARE @SnapshortYear INT;
SELECT TOP 1 @SnapshortYear = FiscalYear
FROM DIM.CalendarDate
WHERE YearOffset = 0;
 
WITH costcomp AS (
	SELECT 
	distinct
        product,
        Component,
	CompItemCate,
        CompUnit,
        FiscalYear,
        LotSize,
        SUM(CompQty) AS CompQty,
        SUM(CompCost) AS CompCost
    FROM [BI_PROD_POST_SAP].[DIM].[SAPCostComponent] p
	--LEFT JOIN dim.CalendarDate c ON p.CostingDate = c.DateKey  --BC: should use fiscalyear  in [DIM].[SAPCostComponent] instead of costing date
    WHERE 
	 
        FiscalYear in ( select distinct fiscalyear from DIM.CalendarDate where yearoffset in (0,-1) )
        --AND Product = 3042 
        AND Plant = 3000 
        AND CompAdditiveCost = '' 
        AND CompAssmb = ''
		--and Component is not null
    GROUP BY 
        product,
        Component,
		CompItemCate,
        CompUnit,
        FiscalYear,
        LotSize
),

FG_Inventory as ( SELECT  --good performance
      
      [MATERIAL]
	  ,@SnapshortYear as [FISCALYEAR]      
      ,sum([UNRESTRICTEDUSE]) as UNRESTRICTEDUSE
      ,sum([STOCKINTRANSFER]) as STOCKINTRANSFER
      ,sum([QUALITYINSPECTION]) as QUALITYINSPECTION
      ,sum([RESTRICTEDBATCHES]) as   RESTRICTEDBATCHES   
      ,sum([TotalStockQTy]) as  TotalStockQTy  
      --,[Vendor]
      
  FROM [BI_PROD_POST_SAP].[FACT].[BatchDetails]
  --where FISCALYEAR= 2025 or FISCALYEAR= 2026 -- [BC] remove filter for Inventory
  group by MATERIAL),


Sales AS (
    SELECT    
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		b.PeriodOffset,
        SUM(CommittedSalesQuantity) AS TotalCommittedSalesQuantity
    FROM fact.CommittedSales a 
    LEFT JOIN DIM.FiscalWeekCalendar b 
        ON a.FiscalYearWeekIntKey = b.FiscalYearWeekIntKey
    WHERE b.YearOffset=0
    GROUP BY 
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		b.PeriodOffset
		
),

BudgetSales AS (
    SELECT 
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		b.PeriodOffset,
        SUM(BudgetSalesQuantity) AS TotalBudgetSalesQuantity
    FROM fact.BudgetSales a 
    LEFT JOIN DIM.FiscalWeekCalendar b 
        ON a.FiscalYearWeekIntKey = b.FiscalYearWeekIntKey
    WHERE b.YearOffset=-1  --To be replaced by -1 --
    GROUP BY 
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		b.PeriodOffset
		
		),       

	

Unioned as (select 
    distinct
    --a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear as FiscalYear, 
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
    a.TotalCommittedSalesQuantity as TotalCommittedSalesQuantity_YTD ,
    a.TotalCommittedSalesQuantity * b.CompQty/LotSize as CompQty_YTD,
    a.TotalCommittedSalesQuantity * b.CompCost/LotSize as CompCost_YTD,
	0 as TotalCommittedSalesQuantity_YTG,
	0 as CompQty_YTG,
	0 as CompCost_YTG,
	0 as TotalCommittedSalesQuantity_NFY,
	0 as CompQty_NFY,
	0 as CompCost_NFY,
	0 as FG_CompRecQty,
	0 as FG_CompRecCost
	--into RawMaterial_CommittedSales
    FROM Sales a left join costcomp b on a.ProductNo = b.Product and a.FiscalYear=b.FiscalYear
	where a.YearOffset = 0 and a.PeriodOffset>=1
	
	union all

	select
	distinct
    --a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear as FiscalYear, 
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
   0 as TotalCommittedSalesQuantity_YTD ,
    0 as CompQty_YTD,
    0 as CompCost_YTD,
	a.TotalCommittedSalesQuantity as TotalCommittedSalesQuantity_YTG,
	a.TotalCommittedSalesQuantity * b.CompQty/LotSize as CompQty_YTG,
	a.TotalCommittedSalesQuantity * b.CompCost/LotSize as CompCost_YTG,
	0 as TotalCommittedSalesQuantity_NFY ,
    0 as CompQty_NFY,
    0 as CompCost_NFY,
	0 as FG_CompRecQty,
	0 as FG_CompRecCost
    FROM Sales a left join costcomp b on a.ProductNo = b.Product and a.FiscalYear=b.FiscalYear
	where a.YearOffset = 0 and a.PeriodOffset<1

	union all
	select
	distinct
    --a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear - 1 as FiscalYear, --here fiscal year is only a version number
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
   0 as TotalCommittedSalesQuantity_YTD ,
    0 as CompQty_YTD,
    0 as CompCost_YTD,
	 0 as TotalCommittedSalesQuantity_YTG ,
    0 as CompQty_YTG,
    0 as CompCost_YTG,
	a.TotalBudgetSalesQuantity as TotalCommittedSalesQuantity_NFY,
	a.TotalBudgetSalesQuantity * b.CompQty/LotSize as CompQty_NFY,
	a.TotalBudgetSalesQuantity * b.CompCost/LotSize as CompCost_NFY,
	0 as FG_CompRecQty,
	0 as FG_CompRecCost
    FROM BudgetSales a left join costcomp b on a.ProductNo = b.Product and a.FiscalYear=b.FiscalYear
	where a.YearOffset = -1
	
	union all   --FG Component recovery - FG stock on hand is made from how much raw and packages
	select
	distinct
    --a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear as FiscalYear, 
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
    0 as TotalCommittedSalesQuantity_YTD ,
    0 as CompQty_YTD,
    0 as CompCost_YTD,
	0 as TotalCommittedSalesQuantity_YTG,
	0 as CompQty_YTG,
	0 as CompCost_YTG,
	0 as TotalCommittedSalesQuantity_NFY ,
    0 as CompQty_NFY,
    0 as CompCost_NFY,
	a.TotalStockQTy * b.CompQty/LotSize as FG_CompRecQty,  --FG stock -> comp recovery
	a.TotalStockQTy * b.CompCost/LotSize as FG_CompRecCost --FG stock  -> comp cost recovery
    FROM FG_Inventory a left join costcomp b on a.MATERIAL = b.Product and a.FiscalYear=b.FiscalYear
	)

	--select * from unioned


	insert into [BI_PROD_POST_SAP].[ODS].[RawMaterial_Sales]
	(--[ProductNo] ,
	[Loaded_Datetime],
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit] ,
	[TotalCommittedSalesQuantity_YTD],
	[CompQty_YTD]  ,
	[CompCost_YTD] ,
    [TotalCommittedSalesQuantity_YTG] ,
	[CompQty_YTG]  ,
	[CompCost_YTG]  ,
	[TotalCommittedSalesQuantity_NFY] ,
	[CompQty_NFY] ,
	[CompCost_NFY],
	FG_CompRecQty,
	FG_CompRecCost) 
		 
	(select 
	--[ProductNo] ,
	getdate() as [Loaded_Datetime],
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit] ,
	sum([TotalCommittedSalesQuantity_YTD]) as TotalCommittedSalesQuantity_YTD ,
	sum([CompQty_YTD]) as CompQty_YTD  ,
	sum([CompCost_YTD]) as CompCost_YTD ,
    sum([TotalCommittedSalesQuantity_YTG]) as TotalCommittedSalesQuantity_YTG ,
	sum([CompQty_YTG]) as CompQty_YTG  ,
	sum([CompCost_YTG]) as CompCost_YTG  ,
	sum([TotalCommittedSalesQuantity_NFY]) as TotalCommittedSalesQuantity_NFY ,
	sum([CompQty_NFY]) as CompQty_NFY  ,
	sum([CompCost_NFY]) as CompCost_NFY,
	sum(FG_CompRecQty) as FG_CompRecQty,
	SUM(FG_CompRecCost) as FG_CompRecCost
	from unioned 
	--where 
	--ProductNo=100110 and Component = 100101
	--unioned.fiscalyear=2025
	group by 
	--[ProductNo] ,
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit] )
	
END
GO
