USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[ups_Insert_ODS_Sustainability_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     Proc [ODS].[ups_Insert_ODS_Sustainability_Scorecard]
as
begin
Delete from ODS.[Sustainability_Scorecard];

INSERT INTO [ODS].[Sustainability_Scorecard]
           ([Year]
           ,[Period]
           ,[PeriodType]
           ,[DataType]
           ,[Measure_Type]
           ,[KPIGroup]
           ,[Measure_Name]
           ,[Category]
           ,[Site]
           ,[CostCentre]
           ,[ProductionLine]
           ,[KPI_Value]
           ,[Qunatity]
           ,[Amount]
           ,[Percentage]
           ,[Unit]
           ,[Currency]
           ,[Source]
           ,[Note]
           ,[KPI_Value_LM]
           ,[KPI_Value_LY]
           ,[KPI_Value_YTD])
 
    
Select FiscalYear,FiscalPeriod Period,
'FP' PeriodType,              
 'Actual' DataType,'' Measure_Type,  'CO2 (Scope 1 & 2) Emissions' KPIGroup,              
 'Scope_1_t_CO2_e' Measure_Name,Operation Category,Site Site,'' CostCentre,              
  '' ProductionLine,0 KPI_Value, Scope_1_t_CO2_e as Qunatity,              
 0 Amount, 0 Percentage, '' Unit, '' Currency,              
 '' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD
from Stg.Sustainability_Scorecard ss
inner join DIM.CalendarDate cd
on cd.FiscalYear = Replace(Year,'FY','20')
and cd.CalendarMonthNameShort = SUBSTRING(Month, CHARINDEX('-', MONTH) + 1, LEN(Month))
and cd.CalendarDate = CONVERT(date,MONTH+'-'+Cast(cd.CalendarYear as nvarchar))

Union All

Select FiscalYear,FiscalPeriod Period,
'FP' PeriodType,               
 'Actual' DataType,'' Measure_Type,  'CO2 (Scope 1 & 2) Emissions' KPIGroup,              
 'Scope_2_t_CO2_e' Measure_Name,Operation Category,Site Site,'' CostCentre,              
  '' ProductionLine,0 KPI_Value, Scope_2_t_CO2_e as Qunatity,              
 0 Amount, 0 Percentage, '' Unit, '' Currency,              
 '' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD
from Stg.Sustainability_Scorecard ss
inner join DIM.CalendarDate cd
on cd.FiscalYear = Replace(Year,'FY','20')
and cd.CalendarMonthNameShort = SUBSTRING(Month, CHARINDEX('-', MONTH) + 1, LEN(Month))
and cd.CalendarDate = CONVERT(date,MONTH+'-'+Cast(cd.CalendarYear as nvarchar))

Union All

Select FiscalYear,FiscalPeriod Period,
'FP' PeriodType,             
 'Actual' DataType,'KPI' Measure_Type,  'CO2 (Scope 1 & 2) Emissions' KPIGroup,              
 'CO2 (Scope 1 & 2) Emissions' Measure_Name,Operation Category,Site Site,'' CostCentre,              
  '' ProductionLine,(Scope_1_t_Co2_e+Scope_2_t_CO2_e) KPI_Value, 0 as Qunatity,              
 0 Amount, 0 Percentage, '' Unit, '' Currency,              
 '' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD
from Stg.Sustainability_Scorecard ss
inner join DIM.CalendarDate cd
on cd.FiscalYear = Replace(Year,'FY','20')
and cd.CalendarMonthNameShort = SUBSTRING(Month, CHARINDEX('-', MONTH) + 1, LEN(Month))
and cd.CalendarDate = CONVERT(date,MONTH+'-'+Cast(cd.CalendarYear as nvarchar))

Union All

Select FiscalYear,FiscalPeriod Period,
'FP' PeriodType,          
 'Actual' DataType,'' Measure_Type,  'Waste to Landfill' KPIGroup,              
 'Landfill_M3' Measure_Name,Operation Category,Site Site,'' CostCentre,              
  '' ProductionLine,0 KPI_Value, 0 as Qunatity,              
 0 Amount, 0 Percentage, '' Unit, '' Currency,              
 '' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD
from Stg.Sustainability_Scorecard ss
inner join DIM.CalendarDate cd
on cd.FiscalYear = Replace(Year,'FY','20')
and cd.CalendarMonthNameShort = SUBSTRING(Month, CHARINDEX('-', MONTH) + 1, LEN(Month))
and cd.CalendarDate = CONVERT(date,MONTH+'-'+Cast(cd.CalendarYear as nvarchar))

Union All
Select FiscalYear,FiscalPeriod Period,
'FP' PeriodType,          
 'Actual' DataType,'KPI' Measure_Type,  'Waste to Landfill' KPIGroup,              
 'Waste to Landfill' Measure_Name,Operation Category,Site Site,'' CostCentre,              
  '' ProductionLine,Landfill_M3 KPI_Value, 0 as Qunatity,              
 0 Amount, 0 Percentage, '' Unit, '' Currency,              
 '' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD
from Stg.Sustainability_Scorecard ss
inner join DIM.CalendarDate cd
on cd.FiscalYear = Replace(Year,'FY','20')
and cd.CalendarMonthNameShort = SUBSTRING(Month, CHARINDEX('-', MONTH) + 1, LEN(Month))
and cd.CalendarDate = CONVERT(date,MONTH+'-'+Cast(cd.CalendarYear as nvarchar))

Union All

Select FiscalYear,FiscalPeriod Period,
'FP' PeriodType,          
 'Actual' DataType,'' Measure_Type,  'Energy Efficiency Projects/programs' KPIGroup,              
 'Energy Efficiency Projects/programs' Measure_Name,Operation Category,Site Site,'' CostCentre,              
  '' ProductionLine,0 KPI_Value, 0 as Qunatity,              
 0 Amount, 0 Percentage, '' Unit, '' Currency,              
 '' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD
from Stg.Sustainability_Scorecard ss
inner join DIM.CalendarDate cd
on cd.FiscalYear = Replace(Year,'FY','20')
and cd.CalendarMonthNameShort = SUBSTRING(Month, CHARINDEX('-', MONTH) + 1, LEN(Month))
and cd.CalendarDate = CONVERT(date,MONTH+'-'+Cast(cd.CalendarYear as nvarchar))

Union All
Select FiscalYear,FiscalPeriod Period,
'FP' PeriodType,          
 'Actual' DataType,'KPI' Measure_Type,  'Energy Efficiency Projects/programs' KPIGroup,              
 'Energy Efficiency Projects/programs' Measure_Name,Operation Category,Site Site,'' CostCentre,              
  '' ProductionLine,[Energy Efficiency Projects programs ]  KPI_Value, 0 as Qunatity,              
 0 Amount, 0 Percentage, '' Unit, '' Currency,              
 '' Source,'' Note,'' KPI_Value_LM   ,''KPI_Value_LY, '' KPI_Value_YTD
from Stg.Sustainability_Scorecard ss
inner join DIM.CalendarDate cd
on cd.FiscalYear = Replace(Year,'FY','20')
and cd.CalendarMonthNameShort = SUBSTRING(Month, CHARINDEX('-', MONTH) + 1, LEN(Month))
and cd.CalendarDate = CONVERT(date,MONTH+'-'+Cast(cd.CalendarYear as nvarchar))
--where IsPeriodEnd=1
end;
GO
