USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[ups_Insert_ODS_Quality_ConsumerComplaints_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     Proc [ODS].[ups_Insert_ODS_Quality_ConsumerComplaints_Scorecard]
as
begin
Delete from ODS.[Quality_ConsumerComplaints_Scorecard];

INSERT INTO [ODS].[Quality_ConsumerComplaints_Scorecard]
           ([ProcessExecutionID]
           ,[LoadDateTime]
           ,[request_no]
           ,[complaint_count]
           ,[complaint_year]
           ,[request_department]
           ,[product_description]
           ,[subject]
           ,[use_by_date]
           ,[date_received]
           ,[allocated_to]
           ,[product_no]
           ,[machine_code]
           ,[short_description]
           ,[state]
           ,[Document_UNID]
           ,[reimbursement_amount]
           ,[source]
           ,[customer_no]
           ,[related_description])
    
SELECT [ProcessExecutionID]
      ,[LoadDateTime]
      ,[request_no]
      ,[complaint_count]
      ,[complaint_year]
      ,[request_department]
      ,[product_description]
      ,[subject]
      ,[use_by_date]
      ,[date_received]
      ,[allocated_to]
      ,[product_no]
      ,[machine_code]
      ,[short_description]
      ,[state]
      ,[Document_UNID]
      ,[reimbursement_amount]
      ,[source]
      ,[customer_no]
      ,[related_description]
  FROM [Stg].[Quality_ConsumerComplaints_Scorecard]


end;
GO
