USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_BOM_COSTING_PHANTOM_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================  
-- Author:  <Bruce Cao>  
-- Create date: <Create Date,,>  
-- Description: Load data into [ODS].[BOM_PHANTOM] 
--V001 Initial  
--V002 20/03/24 
-- =============================================  
CREATE PROCEDURE [ODS].[usp_BOM_COSTING_PHANTOM_F]  
  
AS  
BEGIN  

truncate table [ODS].[BOM_COSTING_PHANTOM] 
insert into  [ODS].[BOM_COSTING_PHANTOM] select 
	 -- [MANDT]
     -- ,[BOM_CAT]
     -- ,[BOM_NUM]
    --  ,[BOM_ITM]
     -- ,[BOM_CNT]
     -- ,[ValidFrom]
    --  ,[ValidTo]
    --  ,[BOM_USAGE]
    --  ,[ALT_BOM]
      --,[COMPONENT]
      --,[Material]
	  STUFF([Material], 1, PATINDEX('%[^0]%', [Material]) - 1, '') as [MaterialNo]  
      ,[Plant]
	  --,STUFF([COMPONENT], 1, PATINDEX('%[^0]%', [COMPONENT]) - 1, '') as [COMPONENTNo]  
	  	  ,STUFF([COMPONENT_N], 1, PATINDEX('%[^0]%', [COMPONENT_N]) - 1, '') as [COMPONENTNo]  
	
	  ,COMP_PLANT 
      --,[ComponentUoM_N] as [ComponentUoM]
      ,[SortString]
     -- ,[MEINS]
      ,[FixedQuantity]
     -- ,[SpecialProcurement]
      --,[COMPONENT_L1]
	 -- ,STUFF([COMPONENT_L1], 1, PATINDEX('%[^0]%', [COMPONENT_L1]) - 1, '') as [COMPONENTNo_L1]  
	  --,COMP_PLANT_L1 
		--,[ComponentUoM_L1]
		--,[SortString_L1]
		--,[MEINS_L1]
		--,[FixedQuantity_L1]
		--,[SpecialProcurement_L1]
		--,[SpecialProcurement_L2]
      --,[COMPONENT_L2]
	  --,STUFF([COMPONENT_L2], 1, PATINDEX('%[^0]%', [COMPONENT_L2]) - 1, '') as [COMPONENTNo_L2]  
	  --,COMP_PLANT_L2
   --   ,[ComponentUoM_L2]
   --   ,[SortString_L2]
   --   ,[MEINS_L2]
   --   ,[FixedQuantity_L2]
      --,[COMPONENT_N]
  ,[ComponentUoM_N] as [ComponentUoM]
      
      --,[MEINS_N]
      ,[CC_PHANTOM_FLG] as PHANTOM_FLG
      --,[ComponentQuantity]
      --,[CC_L1_COMP_QTY]
      --,[CC_L2_COMP_QTY]
      ,[ComponentScrap]
      ,[OperationScrap]
      --,[StandardPrice]
      --,[PriceUnit]
      ,[BOMBaseQuantity]
      --,[ComponentQuantity_L1]
      --,[ComponentScrap_L1]
      --,[OperationScrap_L1]
      --,[StandardPrice_L1]
      --,[PriceUnit_L1]
      --,[BOMBaseQuantity_L1]
      --,[ComponentQuantity_L2]
      --,[ComponentScrap_L2]
      --,[OperationScrap_L2]
      --,[StandardPrice_L2]
      --,[PriceUnit_L2]
      --,[BOMBaseQuantity_L2]
      ,[COMP_QTY_N] as [COMP_QTY]
      ,[StandardPrice_N] as [StandardPrice]
      ,[PriceUnit_N] as [PriceUnit]


  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_COSTING_BOM_PHANTOM] order by MaterialNo


 -- select * from [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_COSTING_BOM_PHANTOM]
END  
GO
