USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[ups_Insert_ODS_Incidents_Injury_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     Proc [ODS].[ups_Insert_ODS_Incidents_Injury_Scorecard]
as
begin
Delete from ODS.[Incidents_Injury_Scorecard];
INSERT INTO [ODS].[Incidents_Injury_Scorecard]
           ([Year]
           ,[Period]
           ,[Incident_Consequence]
           ,[Quantity])     
SELECT 
    AP.FiscalYear,
    AP.Period,
    AP.Consequence AS Incident_Consequence,
    ISNULL(ID.Incident_Count, 0) AS Quantity
FROM 
    (
        SELECT 
            DISTINCT CD.FiscalYear,
            CD.FiscalPeriod AS Period,
            Consequence
        FROM 
            DIM.CalendarDate CD
        CROSS JOIN 
            (VALUES ('LTI'), ('MTI')) AS Consequences(Consequence)
		where CD.FiscalYear  between 2023  and CD.FiscalYear
		and Cast(CalendarDate as date) <= cast(getdate() as date)
    ) AP
LEFT JOIN 
    (
        
Select 
            CD.FiscalYear,
            CD.FiscalPeriod AS Period,
			[Incident Consequence] Incident_Consequence,
			Count([Incident Consequence]) Incident_Count
			from [Stg].[Incidents_Injury_Scorecard] IIS
        JOIN 
            DIM.CalendarDate CD
        ON 
            CAST(IIS.[Date & Time Incident Occurred] AS DATE) = CAST(CD.CalendarDate AS DATE)
		--and CD.FiscalYear >= 2023
		Where [Incident Consequence] in ('MTI','LTI')
		group by  CD.FiscalYear, CD.FiscalPeriod,[Incident Consequence]
    ) ID
ON 
    AP.FiscalYear = ID.FiscalYear
    AND AP.Period = ID.Period
    AND AP.Consequence = ID.Incident_Consequence



end;
GO
