USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[ups_Insert_ODS_PnC_SalaryWork_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     Proc [ODS].[ups_Insert_ODS_PnC_SalaryWork_Scorecard]
as
begin
Delete from ODS.[PnC_SalaryWork_Scorecard];

INSERT INTO [ODS].[PnC_SalaryWork_Scorecard]
           ([Site]
           ,[Year]
           ,[Period]
           ,[WorkedHours]
           ,[EBA_Turnover]
           ,[Salary_Turnover])


SELECT [Site]
      ,[Year]
      ,[Period]
      ,[WorkedHours]
      ,[EBA_Turnover]
      ,[Salary_Turnover]
  FROM [Stg].[PnC_SalaryWork_Scorecard]

end;
GO
