USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_MLO_RNOSnapshot_D]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--select * from dim.CalendarDate where CalendarDayOffset = 0


--exec [ODS].[usp_MLO_RNOSnapshot_D] @OverwriteSnapshotNo = ''
--select * from ods.MLO_RNOSnapshot
--delete from ods.MLO_RNOSnapshot where MBRSnapshotNo = '2026.001'
CREATE   Proc [ODS].[usp_MLO_RNOSnapshot_D]

@OverwriteSnapshotNo NVARCHAR(10)
as
begin
declare @fiscalyear nvarchar(4);
declare @fiscalperiod nvarchar(3);
declare @MBRSnapshotName nvarchar(10);
declare @MBRSnapshotNo nvarchar(10);



set @fiscalyear = (select FiscalYear from dim.CalendarDate where CalendarDayOffset = 0);
set @fiscalperiod = '0'+(select right(FiscalYearPeriod,2) from dim.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotName = (select 'FY'+right(fiscalperiodname,2)+'.'+UPPER(left(fiscalperiodname,3)) from dim.CalendarDate where CalendarDayOffset = 0);
set @MBRSnapshotNo = @fiscalyear+'.'+right(@fiscalperiod,2);


if @OverwriteSnapshotNo = '1'
begin
delete from ods.MLO_RNOSnapshot where MBRSnapshotNo = @MBRSnapshotNo;
end



if(select max(MBRSnapshotNo) from ODS.MLO_RNOSnapshot where MBRSnapshotNo <> '000') < @MBRSnapshotNo
begin
with RO as (select * FROM [BI_PROD_POST_SAP].[ODS].[MLO_RNOSnapshot] where MBRSnapshotNo = '000')
insert into ODS.MLO_RNOSnapshot
SELECT @MBRSnapshotNo as [MBRSnapshotNo]
      ,@MBRSnapshotName as [MBRSnapshotName]
      ,[LoadDateTime]
      ,[ID]
      ,[Title]
      ,[DateTC]
      ,[Year]
      ,[RiskOpportunity]
      ,[Likelihood]
      ,[Plant]
      ,[Channel]
      ,[Category]
      ,[SubChannel]
      ,[Family]
      ,[Comments]
      ,[StartDate]
      ,[EndDate]
      ,[VolumeCases]
      ,[ValueGMC]
      ,[Owner]
      ,[OwnerEmail]
      ,[Status]
      ,[EnteredBy]
      ,[SKUDescription]
      ,[StartPeriod]
      ,[dayofstartperiod]
      ,[EndPeriod]
      ,[dayofendperiod]
      ,[Error]
      ,[RDM_GMC_portion]
      ,[RDM_GMC_total]
      ,[RDM_QTY_portion]
      ,[RDM_QTY_total]
      ,[idcounter]
      ,[familycounter]
      ,[subchannelcounter]
      ,[Volumecases2]
      ,[ValueGMC2]
      ,[MultiFamilyFlag]
      ,[MultiSubchannelFlag]
      ,[ROdaterange]
      ,[FiscalYear]
      ,[FiscalYearPeriod]
      ,[DaysInMonth]
      ,[daysinRO]
      ,[AllocatedCases]
      ,[AllocatedGMC]
      ,[AllocatedGSV]
      ,[AllocatedOID]
      ,[AllocatedNIV]
      ,[AllocatedDCD]
      ,[AllocatedDTD]
      ,[AllocatedDOD]
      ,[AllocatedCOGS]
      ,[AllocatedFRT]
  FROM RO 
  end





end;
GO
