USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[ups_Insert_ODS_Ops_Audit_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     Proc [ODS].[ups_Insert_ODS_Ops_Audit_Scorecard]  
AS  
BEGIN  
    DELETE FROM ODS.[Ops_Audit_Scorecard];  

    INSERT INTO [ODS].[Ops_Audit_Scorecard]  
           ([Year], [Period], [Period_Type], [DataType], [KPI_Group],  
            [Measure_Name], [Category], [Quantity])  

    -- First Union
    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'OE Savings MLO' Measure_Name, site Category, 
           SUM(OE_Savings_MLO) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  

    UNION ALL  

    -- Second Union
    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'Engineering Cashflow % adherence to budget' Measure_Name, site Category, 
           SUM(Engineering_Cashflow_adherence_to_budget) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  

    UNION ALL  

    -- Example of using TRY_CAST for conversion
    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'PM Pillar Audit Score (End Year)' Measure_Name, site Category, 
           SUM(TRY_CAST(PM_Pillar_Audit_Score_End_Year AS INT)) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  

    UNION ALL  

    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'FI Pillar Audit Score (End Year)' Measure_Name, site Category, 
           SUM(TRY_CAST(FI_Pillar_Audit_Score_End_Year AS INT)) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  

    UNION ALL  

    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'E&T Pillar Audit Score (End Year)' Measure_Name, site Category, 
           SUM(TRY_CAST(E_T_Pillar_Audit_Score_End_Year AS INT)) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  

    UNION ALL  

    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'AM Pillar Audit Score (End Year)' Measure_Name, site Category, 
           SUM(TRY_CAST(AM_Pillar_Audit_Score_End_Year AS INT)) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  

    UNION ALL  

    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'Q Pillar Audit Score (End Year)' Measure_Name, site Category, 
           SUM(TRY_CAST(Q_Pillar_Audit_Score_End_Year AS INT)) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  

    UNION ALL  

    SELECT Year, Period, 'FP' Period_Type, 'Actual' DataType,  
           'Ops_Audit' KPI_Group, 'Seize the Summit Comms Plan' Measure_Name, site Category, 
           SUM(TRY_CAST(Seize_the_Summit_Comms_Plan AS INT)) Quantity  
    FROM [Stg].[Ops_Audit_Scorecard]  
    GROUP BY Year, Period, site  
END;
GO
