USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_COPAAssessmentRule_PC_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE  Proc [ODS].[usp_COPAAssessmentRule_PC_F]
as
begin
--drop table ODS.COPAAssessmentRule_PC 
truncate table ODS.COPAAssessmentRule_PC;
with COPA_FORM_ACC as (select
	 "TXTMT" as "COPA_STRU" ,
	 right("LOW",8) as "ASACC",
	 "FROW" as "COPA_ROW",
	 cast(FORM as nvarchar(12)) as FORM
	 
from [SAPSTG].[CV_MD_COPA_FORM_COST_CENTER_API]
where "FIELD"='KSTAR'  except select
	 distinct "TXTMT" as "COPA_STRU",
	 "ASACC",
	 FROW as "COPA_ROW",
	 cast(FORM as nvarchar(12)) as FORM
from ODS.COPAAssessmentRule ), 

--Get profit centre for prod settlement
 COPA_FORM_ACC_PC as (select
	 a."COPA_STRU",
	 a."ASACC",
	 a."COPA_ROW",
	 a.form,
	 b."LOW" as "PRCTR" 
from COPA_FORM_ACC a 
left outer join [SAPSTG].[CV_MD_COPA_FORM_COST_CENTER_API]  b on a."COPA_ROW" = b."FROW" 
and b."FIELD" = 'PRCTR')

--select * from COPA_FORM_ACC_PC

insert  into ODS.COPAAssessmentRule_PC
select *  from 
 (select
	 distinct 'N/A' as "CYCLE",
	 'N/a' as "ASACC",
	 a.CostCenter as "COSTCTN",
	 a.ProfitCenter as "PFTCTN",
	 "ASACC" as "GL_ACC",
	 --"TXT20" as "GL_TXT",
	 "COPA_STRU" as "DESCRIPT",
	 "COPA_STRU" as "COPA_STRU",
	 case when 
right("COPA_STRU",
	 2) = 'FS' 
then replace("COPA_STRU",
	'FS',
	'') when 
right("COPA_STRU",
	 2)='CS' 
then replace("COPA_STRU",
	'CS',
	'') when 
right("COPA_STRU",
	 2)='DA' 
or 
right("COPA_STRU",
	 3)='DAN' 
then replace("COPA_STRU",
	'DAN',
	'') when 
right("COPA_STRU",
	 3)='MUL' 
then replace("COPA_STRU",
	'MUL',
	'') when 
right("COPA_STRU",
	 2)='MU' 
then replace("COPA_STRU",
	'MU',
	'') when 
right("COPA_STRU",
	 4)='MS/R' 
then replace("COPA_STRU",
	'MS/R',
	'') when 
right("COPA_STRU",
	 5)='MS/RO' 
then replace("COPA_STRU",
	'MS/RO',
	'') when 
right("COPA_STRU",
	 3)='OTH' 
then replace("COPA_STRU",
	'OTH',
	'') when "COPA_STRU" <>'' 
then "COPA_STRU" 
else '' 
end as "COPA_GROUP",
	 'Not Assigned' as "COPA_SUB_GROUP",
	 case when 
right("COPA_STRU",
	 2) = 'FS' 
then 'FS' when 
right("COPA_STRU",
	 2)='CS' 
then 'CS' when 
right("COPA_STRU",
	 2)='DA' 
or 
right("COPA_STRU",
	 3)='DAN' 
then 'DAN' when 
right("COPA_STRU",
	 3)='MUL' 
or 
right("COPA_STRU",
	 2)='MU' 
then 'MUL' when 
right("COPA_STRU",
	 4)='MS/R' 
or 
right("COPA_STRU",
	 5)='MS/RO' 
then 'MS/RO' when 
right("COPA_STRU",
	 3)='OTH' 
then 'OTH' when "COPA_STRU" <>'' 
then 'N/A' 
else '' 
end as "SITE",
	 "COPA_ROW",	 
	 1 as "COUNT" ,
	 cast(FORM as nvarchar(12)) as FORM
from [BI_PROD_POST_SAP].[FACT].[UniversalJournalMonthSummary] a 
inner join COPA_FORM_ACC_PC c on a.AccountNumber = c."ASACC" 
and c."PRCTR" is null 
inner join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    
--and t."SPRAS" = 'E' 
--and t."KTOPL" = 'YCOA' 

union

select
	 distinct 'N/A' as "CYCLE",
	 'N/a' as "ASACC",
	 a.CostCenter as "COSTCTN",
	 a.ProfitCenter as "PFTCTN",
	 "ASACC" as "GL_ACC",
	 --"TXT20" as "GL_TXT",
	 "COPA_STRU" as "DESCRIPT",
	 "COPA_STRU" as "COPA_STRU",
	 case when 
right("COPA_STRU",
	 2) = 'FS' 
then replace("COPA_STRU",
	'FS',
	'') when 
right("COPA_STRU",
	 2)='CS' 
then replace("COPA_STRU",
	'CS',
	'') when 
right("COPA_STRU",
	 2)='DA' 
or 
right("COPA_STRU",
	 3)='DAN' 
then replace("COPA_STRU",
	'DAN',
	'') when 
right("COPA_STRU",
	 3)='MUL' 
then replace("COPA_STRU",
	'MUL',
	'') when 
right("COPA_STRU",
	 2)='MU' 
then replace("COPA_STRU",
	'MU',
	'') when 
right("COPA_STRU",
	 4)='MS/R' 
then replace("COPA_STRU",
	'MS/R',
	'') when 
right("COPA_STRU",
	 5)='MS/RO' 
then replace("COPA_STRU",
	'MS/RO',
	'') when 
right("COPA_STRU",
	 3)='OTH' 
then replace("COPA_STRU",
	'OTH',
	'') when "COPA_STRU" <>'' 
then "COPA_STRU" 
else '' 
end as "COPA_GROUP",
	 'Not Assigned' as "COPA_SUB_GROUP",
	 case when 
right("COPA_STRU",
	 2) = 'FS' 
then 'FS' when 
right("COPA_STRU",
	 2)='CS' 
then 'CS' when 
right("COPA_STRU",
	 2)='DA' 
or 
right("COPA_STRU",
	 3)='DAN' 
then 'DAN' when 
right("COPA_STRU",
	 3)='MUL' 
or 
right("COPA_STRU",
	 2)='MU' 
then 'MUL' when 
right("COPA_STRU",
	 4)='MS/R' 
or 
right("COPA_STRU",
	 5)='MS/RO' 
then 'MS/RO' when 
right("COPA_STRU",
	 3)='OTH' 
then 'OTH' when "COPA_STRU" <>'' 
then 'MS/RO' 
else '' 
end as "SITE",
	 "COPA_ROW",
	 
	 1 as "COUNT",
	 cast(FORM as nvarchar(12)) as FORM
from [BI_PROD_POST_SAP].[FACT].[UniversalJournalMonthSummary]  a 
inner join COPA_FORM_ACC_PC c on a.AccountNumber = c."ASACC" 
and a.ProfitCenter = right(c."PRCTR",4) 
and c."PRCTR" is not null 
left join [Bulla_BI_Prod].Dim.Account acc on a.AccountNumber = acc.AccountNo    ) t
--inner join "SAPABAP1"."SKAT" t on c."ASACC" = t."SAKNR" 
--and t."SPRAS" = 'E' 
--and t."KTOPL" = 'YCOA' ) t
;

end;
GO
