USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_ProductionOrderTargetCost_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












-- =============================================  
-- Author:  <Bruce Cao>  
-- Create date: <Create Date,,>  
-- Description: Load data into ODS.BOM, basic data cleaning, add a assambly flag
--V001 Initial  
--V002 20/03/24 
-- =============================================  
CREATE PROCEDURE [ODS].[usp_ProductionOrderTargetCost_F]  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  
DECLARE @KeyDate Date;
SET @KeyDate = GETDATE();
/****** Script for SelectTopNRows command from SSMS  ******/
drop table [ODS].[ProductionOrderTargetCost]
select * into [ODS].[ProductionOrderTargetCost] from (
SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'001' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
      ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG001] as Cost
      ,[MEG001] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG001] <> 0 or [MEG001]<>0)
  and LEFT([OBJNR],2) = 'OR'

  union all
  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'002' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG002] as Cost
      ,[MEG002] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ( [WKG002] <> 0 or [MEG002]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'003' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG003] as Cost
      ,[MEG003] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG003] <> 0 or [MEG003]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'004' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG004] as Cost
      ,[MEG004] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG004] <> 0 or [MEG004]<>0 )
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'005' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG005] as Cost
      ,[MEG005] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG005] <> 0 or [MEG005]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'006' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG006] as Cost
      ,[MEG006] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG006] <> 0 or [MEG006]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'007' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG007] as Cost
      ,[MEG007] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG007] <> 0 or [MEG007]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'008' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG008] as Cost
      ,[MEG008] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG008] <> 0 or [MEG008]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all
  
  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'009' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG009] as Cost
      ,[MEG009] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG009] <> 0 or [MEG009]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'010' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG010] as Cost
      ,[MEG010] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG010] <> 0 or [MEG010]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'011' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG011] as Cost
      ,[MEG011] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG011] <> 0 or [MEG011]<>0)
  and LEFT([OBJNR],2) = 'OR'
  union all

  SELECT [MANDT] as Client
      ,[LEDNR] as LedgerForControllingObjects
      ,[OBJNR] as ObjectNumber
	  ,RIGHT([OBJNR],7) as ProductionOrderNo
      ,[GJAHR] as FiscalYear
	  ,'012' as Period
      ,[WRTTP] as ValueType
      ,[VERSN] as Version
     ,right([KSTAR],8) as CostElement
      ,[HRKFT] as COkeySubnumber
      ,[VRGNG] as COBusinessTransaction
      ,[VBUND] as CompanyIDOfTradingPartner
      ,[PARGB] as TradingPartnerBusinessArea
      ,[BEKNZ] as DebitCreditIndicator
      ,[TWAER] as TransactionCurrency
      ,[PERBL] as PeriodBlock
      ,[MEINH] as UnitofMeasure
      ,[WERKS] as Plant
      ,STUFF([MATNR], 1, PATINDEX('%[^0]%', [MATNR]) - 1, '') as [MaterialNo]  
      ,[WKG012] as Cost
      ,[MEG012] as Quantity     
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_PROD_ORD_TARGET] where ([WKG012] <> 0 or [MEG012]<>0)
    and LEFT([OBJNR],2) = 'OR') a 

  --select * from ODS.PROD_ORD_TARGET where Cost <> 0



END  
GO
