USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_MilkRecosting_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================  
-- Author:  <Bruce Cao>  
-- Create date: <Create Date,,>  
-- Description: Load data into [ODS].[MilkRecosting] 
--V001 Initial  
--V002 20/03/24 
-- =============================================  
CREATE PROCEDURE [ODS].[usp_MilkRecosting_F]  
  
AS  
BEGIN  

Drop table [ODS].[MilkRecosting] -- full load for now, will change to delta
SELECT [MANDT]
      ,STUFF([Material], 1, PATINDEX('%[^0]%', [Material]) - 1, '') as [MaterialNo]  
      ,[CC_MANF_ORD]
	  ,RIGHT([ManufacturingOrder],7) as ProductionOrderNo
	  ,right([CostElement],8) as CostElement
      ,[EntryUnit]
      ,[LastPostingDate]
      ,[MilkRecostValue]
      ,[QuantityInEntryUnitSigned]
      ,[FatKG]
      ,[FatKGStd]
      ,[ProteinKG]
      ,[ProteinKGStd]
      ,[ProteinStdVal]
      ,[ProteinKGVal]
      ,[FatStdVal]
      ,[FatKGVal]
      ,[Counter]
into  [ODS].[MilkRecosting]
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_MILK_RECOSTING]




END  
GO
