USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_COPAAssessmentRule_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   Proc [ODS].[usp_COPAAssessmentRule_F]
as
begin

truncate table ODS.COPAAssessmentRule;
with 
--Fetch COPA assessment GL account list (c."FIELD" ='KSTAR')
COPA_ASACC_GL_ACC as ( select  
	 c."CYCLE",
	 c."ASACC",
	 --'costcentre' as "COSTCTN",
	 a.[AccountNo] as "GL_ACC",
	 a.AccountName as "GL_TXT",
	 c."DESCRIPT",
	 --c."COPA_FORM_DES" as "COPA_STRU",
	 --c."CC_COPA_GROUP" as "COPA_GROUP",
	 coalesce(c."SUBSETNAME",
	 'Not Assigned') as "COPA_SUB_GROUP",  -- t."TXT20"
	 'GL_CC' as "MAP_TYPE",
	 --ce."KATYP" as "CE_TYP",
	 c."CYC_SEQ",
	 c."CYC_TXT"
	 --c."FROW" as "COPA_ROW",
	 
	from [BI_PROD_POST_SAP].[SAPSTG].[CV_MD_COPA_ASSES_CYCLE_V2_API] c 
	inner join [Bulla_BI_Prod].[Dim].[Account] a on a.[CompanyCode] = '3010' 
	and c."FIELD" ='KSTAR' 
	and a.[AccountNo] >= right(c."VALFROM",8) --range expand
	and a.[AccountNo] <= right(c."VALTO",8) 
	and c."VALFROM" <>'' 
	 --where c.name <> 'ZOBDFR'
	),

--Fetch COPA assessment cost centre (c."FIELD" ='KOSTL')
COPA_ASACC_CostCentre as(
select
	 "CYCLE",
	 "ASACC",
	 "VALFROM",
	 "VALTO",
	 cc.[CostCentre] 
	from [BI_PROD_POST_SAP].[SAPSTG].[CV_MD_COPA_ASSES_CYCLE_V2_API] c 
	inner join [Bulla_BI_Prod].[Dim].[CostCentre] cc on cc.[CostCentre] >= right(c."VALFROM",4)
	and cc.[CostCentre] <= right(c."VALTO",4)
	and c."FIELD"='KOSTL' 
	 where c.name <> 'ZOBDFR'),

COPA_ASACC_GL_CC_RULE as (
select a.*,b.costcentre,1 as counter from COPA_ASACC_GL_ACC a inner join COPA_ASACC_CostCentre b
on a."CYCLE" = b."CYCLE"
and a."ASACC" = b."ASACC"),

--select * from COPA_ASACC_GL_CC_RULE


--Fetch COPA assessment cycle and asacc with only cost centre 
COPA_ASACC_CC_ONLY as(
select
	 distinct "CYCLE",
	 "ASACC" 
		from [BI_PROD_POST_SAP].[SAPSTG].[CV_MD_COPA_ASSES_CYCLE_V2_API]
		where "FIELD" = 'KOSTL' 
		and name <> 'ZOBDFR'
		except select
	 distinct "CYCLE",
	 "ASACC" 
		from [BI_PROD_POST_SAP].[SAPSTG].[CV_MD_COPA_ASSES_CYCLE_V2_API]
		where "FIELD" = 'KSTAR'
		and name <> 'ZOBDFR') ,




--Fetch COPA assessment CC only cycle 
COPA_ASACC_CC_ONLY_Rule as (
select  a."CYCLE",
	 right(a."ASACC",8) as "ASACC",
	 --'costcentre' as "COSTCTN",
	 right(al.RACCT,8) as "GL_ACC",
	 '' as "GL_TXT",
	 a."DESCRIPT",
	 --c."COPA_FORM_DES" as "COPA_STRU",
	 --c."CC_COPA_GROUP" as "COPA_GROUP",
	 coalesce(a."SUBSETNAME",
	 'Not Assigned') as "COPA_SUB_GROUP",  -- t."TXT20"
	 'CC' as "MAP_TYPE",
	 --ce."KATYP" as "CE_TYP",
	 a."CYC_SEQ",
	 a."CYC_TXT",
	 --c."FROW" as "COPA_ROW",
	 cc.[CostCentre],
	 1 as counter
	 from [BI_PROD_POST_SAP].[SAPSTG].[CV_MD_COPA_ASSES_CYCLE_V2_API] a
inner join COPA_ASACC_CC_ONLY b
on a."CYCLE" = b."CYCLE"
and a."ASACC" = b."ASACC"
inner join [Bulla_BI_Prod].[Dim].[CostCentre] cc on cc.[CostCentre] >= right(a."VALFROM",4)
	and cc.[CostCentre] <= right(a."VALTO",4)
inner join SAPSTG.ACCOUNT_COSTCENTRE_LIST al
on right(al.rcntr,4) = cc.costcentre
where a.name <> 'ZOBDFR'),

COPA_ASACC_Merge as(

select
	 "CYCLE",
	 right("ASACC",8) as "ASACC",
	 [CostCentre],
	 "GL_ACC",
	 "GL_TXT",
	 "DESCRIPT",
	 --"COPA_STRU",
	 --"COPA_GROUP",
	 "COPA_SUB_GROUP",
	 "MAP_TYPE",
	 --"CE_TYP",
	 "CYC_SEQ",
	 "CYC_TXT",
	 sum(counter) OVER(PARTITION BY [CostCentre],
	 "GL_ACC" 
	ORDER BY [CostCentre],
	 "GL_ACC",
	 "CYC_SEQ") as count 
	 from (
select * from COPA_ASACC_CC_ONLY_Rule
union select * from COPA_ASACC_GL_CC_RULE) a ),

COPA_FORM_CC as (
select a.FORM,a.frow,cc.CostCentre from [SAPSTG].[CV_MD_COPA_FORM_COST_CENTER_API] a
inner join [Bulla_BI_Prod].[Dim].[CostCentre] cc on cc.[CostCentre] >= right(a."LOW",4)
	and cc.[CostCentre] <= right(a."HIGH",4)
	and a."FIELD"='COPA_KOSTL' 
	and a.OPT = 'BT'
Union
select a.FORM,a.frow,cc.CostCentre from [SAPSTG].[CV_MD_COPA_FORM_COST_CENTER_API] a
inner join [Bulla_BI_Prod].[Dim].[CostCentre] cc on cc.[CostCentre] = right(a."LOW",4)
	and a."FIELD"='COPA_KOSTL' 
	and a.OPT = 'EQ'),

COPA_FORM_ACC as (select a.*,ac.AccountNo from [SAPSTG].[CV_MD_COPA_FORM_COST_CENTER_API] a
inner join [Bulla_BI_Prod].[Dim].[Account] ac on ac.[CompanyCode] = '3010' 
	and a."FIELD" ='KSTAR' 
	and ac.[AccountNo] >= right(a."LOW",8) --range expand
	and ac.[AccountNo] <= right(a."HIGH",8)
	and a.OPT = 'BT'
union
select a.*,ac.AccountNo from [SAPSTG].[CV_MD_COPA_FORM_COST_CENTER_API] a
inner join [Bulla_BI_Prod].[Dim].[Account] ac on ac.[CompanyCode] = '3010' 
	and a."FIELD" ='KSTAR' 
	and ac.[AccountNo] = right(a."LOW",8) 
	and a.OPT = 'EQ'
),

COPA_FORM_ACC_CC_merge as 
(select a.*,c.CostCentre from COPA_FORM_ACC a left join COPA_FORM_CC c 
on a.FORM = c.FORM and a.FROW = c.FROW)

insert into ODS.COPAAssessmentRule select * from 
(select a.*,
		b.FORM,
		b.FROW,
		b.TXTMT,
		b.CostCentre as CostCentre_KE30
		from COPA_ASACC_Merge a inner join COPA_FORM_ACC_CC_merge b
		on a.ASACC = b.AccountNo
		and a.CostCentre = b.CostCentre
		and b.CostCentre is not null
		where a.count = 1

union

select a.*,
		b.FORM,
		b.FROW,
		b.TXTMT,
		null as CostCentre_KE30
		from COPA_ASACC_Merge a inner join COPA_FORM_ACC_CC_merge b 
		on a.ASACC = b.AccountNo
		and b.CostCentre is  null
		where a.count = 1) t ;

		--select * from ODS.COPAAssessmentRule where CostCentre = 3061 and GL_ACC between '65400070' and '65400078'
		update ODS.COPAAssessmentRule 
		set FROW = '0027',
		  TXTMT = 'Outbound Freight',
		ASACC = '94208000',
		MAP_TYPE = 'GL_CC'
		where CostCentre = 3061 and GL_ACC between '65400070' and '65400078'

end;
GO
