USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_Rawmaterial_BOM_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [ODS].[usp_Rawmaterial_BOM_F]  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
SET NOCOUNT ON;  
  
DROP TABLE ODS.Rawmaterial_BOM_Replacement;
  
  
WITH BOMtree(
		"LoadDateTime"
		,"Level"-- cost hierarchy level, start from 1  
		,"HIER"
		,"TOP_MATERIAL" -- Top level material  
		,"TOP_PLANT" -- -- Top level plant  
		,"TOP_BOMBaseQuantity"  ----Top level Lot size (Char)  
		,"TOP_BOMUNIT" -- -- Top level Costing Lot Unit  	
		,"TOP_BOM_NUM" -- -- Top level BOMNUM      
		,"TOP_Validfrom"  
		,"TOP_ValidTo"    
		,[MANDT]
		,[BOM_CAT]
		,[BOM_NUM]
		,[BOM_ITM]
		,[BOM_CNT]
		,[ValidFrom]
		,[ValidTo]
		,[COMPONENT]
		,[ComponentUoM]
		,[Material]
		,[Plant]
		,[BOM_USAGE]
		,[ALT_BOM]
		,[SortString]
		,[MEINS]
		,[FixedQuantity]
		,[SpecialProcurement]
		,[BOM_SpecialPur]
		,[ChangeNo]
		,[ChangeNoTo]
		,[ChangeNoToKey]
		,[DeletionInd]
		,[CreatedOn]
		,[CreatedBy]
		,[ChangedOn]
		,[ChangedBy]
		,[ProductionRelevant]
		,[PlantMaintenance]
		,[CostingRelevant]
		,[BOMPlant]
		,[ComponentQuantity]
		,[ComponentScrap]
		,[OperationScrap]
		,[StandardPrice]
		,[PriceUnit]
		,[BOMBaseQuantity]
		,[PhantomFlag]
		,"Assembly"
        )   
AS (  
    SELECT   
		getdate() as LoadDateTime
		,1 AS "Level"
		,cast(STUFF(material, 1, PATINDEX('%[^0]%', Material) - 1, '')+'>'+ STUFF(COMPONENT, 1, PATINDEX('%[^0]%', COMPONENT) - 1, '') AS varchar(150)) as HIER
		,STUFF(material, 1, PATINDEX('%[^0]%', Material) - 1, '') as "TOP_MATERIAL" -- Top level material  
		,[Plant] as "TOP_PLANT" -- -- Top level plant  
		,[BOMBaseQuantity] as "TOP_BOMBaseQuantity"  ----Top level Lot size (Char)  
		,[MEINS] as "TOP_BOMUNIT" -- -- Top level Costing Lot Unit  		
		,[BOM_NUM] as "TOP_BOM_NUM" -- -- Top level BOMNUM      
		,[ValidFrom] as "TOP_Validfrom"  
		,[ValidTo] as "TOP_ValidTo"    
		,[MANDT]
		,[BOM_CAT]
		,[BOM_NUM]
		,[BOM_ITM]
		,[BOM_CNT]
		,[ValidFrom]
		,[ValidTo]
		,[COMPONENT]
		,[ComponentUoM]
		,[Material]
		,[Plant]
		,[BOM_USAGE]
		,[ALT_BOM]
		,[SortString]
		,[MEINS]
		,[FixedQuantity]
		,[SpecialProcurement]
		,[BOM_SpecialPur]
		,[ChangeNo]
		,[ChangeNoTo]
		,[ChangeNoToKey]
		,[DeletionInd]
		,[CreatedOn]
		,[CreatedBy]
		,[ChangedOn]
		,[ChangedBy]
		,[ProductionRelevant]
		,[PlantMaintenance]
		,[CostingRelevant]
		,[BOMPlant]
		,[ComponentQuantity]
		,[ComponentScrap]
		,[OperationScrap]
		,[StandardPrice]
		,[PriceUnit]
		,[BOMBaseQuantity]
		,[PhantomFlag]
		 ,CASE WHEN EXISTS (
                    SELECT 1
                    FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_BOM] bt
                    WHERE bt.material = b1.component
					and bt.plant =b1.[BOMPlant]
                ) THEN 'X' ELSE '' END AS "Assembly"

    FROM   [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_BOM] b1

	--select * from BOMtree where Material = 1053

    UNION ALL  
	
	 SELECT   
		getdate() as LoadDateTime
		,level + 1 AS "Level" 
		,cast(t.HIER+'>'+ STUFF(b.COMPONENT, 1, PATINDEX('%[^0]%', b.COMPONENT) - 1, '') AS varchar(150)) as HIER
		,t."TOP_MATERIAL" -- Top level material  
		,t."TOP_PLANT" -- -- Top level plant  
		,t."TOP_BOMBaseQuantity"  ----Top level Lot size (Char)  
		,t."TOP_BOMUNIT" -- -- Top level Costing Lot Unit  		
		,t."TOP_BOM_NUM" -- -- Top level BOMNUM      
		,t."TOP_Validfrom"  
		,t."TOP_ValidTo"    
		,b.[MANDT]
		,b.[BOM_CAT]
		,b.[BOM_NUM]
		,b.[BOM_ITM]
		,b.[BOM_CNT]
		,b.[ValidFrom]
		,b.[ValidTo]
		,b.[COMPONENT]
		,b.[ComponentUoM]
		,b.[Material]
		,b.[Plant]
		,b.[BOM_USAGE]
		,b.[ALT_BOM]
		,b.[SortString]
		,b.[MEINS]
		,b.[FixedQuantity]
		,b.[SpecialProcurement]
		,b.[BOM_SpecialPur]
		,b.[ChangeNo]
		,b.[ChangeNoTo]
		,b.[ChangeNoToKey]
		,b.[DeletionInd]
		,b.[CreatedOn]
		,b.[CreatedBy]
		,b.[ChangedOn]
		,b.[ChangedBy]
		,b.[ProductionRelevant]
		,b.[PlantMaintenance]
		,b.[CostingRelevant]
		,b.[BOMPlant]
		,b.[ComponentQuantity]
		,b.[ComponentScrap]
		,b.[OperationScrap]
		,b.[StandardPrice]
		,b.[PriceUnit]
		,b.[BOMBaseQuantity]
		,b.[PhantomFlag]
		 ,CASE WHEN EXISTS (
                    SELECT 1
                    FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_BOM] bt2
                    WHERE bt2.material = b.component
					and bt2.plant =b.[BOMPlant]
                ) THEN 'X' ELSE '' END AS "Assembly"
 
    FROM   
  BOMtree t join [BI_PROD_POST_SAP].[SAPSTG].[CV_INT_BOM] b on t."Assembly" = 'X' and   
  t.COMPONENT = b.material and   
  t.BOMPlant = b.plant   where t.level <= 11     
)  
  
select * into [BI_PROD_POST_SAP].[ODS].[Rawmaterial_BOM_Replacement] from BOMtree 
--where TOP_MATERIAL = '1053'--order by level,P_COMP  

END  
GO
