USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_Rawmaterial_ComparisonFlag_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--select * from [BI_PROD_POST_SAP].[FACT].[BatchDetails] where material = '101126'



CREATE PROCEDURE [ODS].[usp_Rawmaterial_ComparisonFlag_F]
AS
BEGIN

--drop table ODS.Rawmaterial_ComparisonFlag;
TRUNCATE TABLE ODS.Rawmaterial_ComparisonFlag;
DECLARE @SnapshortYear INT;
SELECT TOP 1 @SnapshortYear = FiscalYear
FROM DIM.CalendarDate
WHERE YearOffset = 0;

with Inventory as( SELECT  --good performance
      
      [MATERIAL]
	  ,@SnapshortYear as [FISCALYEAR]      
      ,sum([UNRESTRICTEDUSE]) as UNRESTRICTEDUSE
      ,sum([STOCKINTRANSFER]) as STOCKINTRANSFER
      ,sum([QUALITYINSPECTION]) as QUALITYINSPECTION
      ,sum([RESTRICTEDBATCHES]) as   RESTRICTEDBATCHES   
      ,sum([TotalStockQTy]) as  TotalStockQTy  
      --,[Vendor]
      
  FROM [BI_PROD_POST_SAP].[FACT].[BatchDetails]
  --where FISCALYEAR= 2025 or FISCALYEAR= 2026 -- [BC] remove filter for Inventory
  group by MATERIAL),

  
  --****bring all material list from master data as the base line
 -- fiscalyear as (select distinct fiscalyear from DIM.CalendarDate where YearOffset in (0,-1))
  --,
  Materiallist as ( select 
	itemno,
	itemdescription,
    signaldescription,
	itemTypeName,
	itemGroupName,
	@SnapshortYear as fiscalyear

		from ODS.Item 
		where --signalcode <>'06' and 
		--itemtype <>'FERT' and
		 itemno in (

		select 
	distinct MATNR
	from [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_MARC] mp --directly use STG since some problem found in ODS/DIM, need to fix
	left join ODS.Item i on mp.MATNR =i.ItemNo
	where BESKZ in ('F','X') and EKGRP <>'STO' --external purchasing only
	and SOBSL not in ('30','31','32','33','34','35','36')
	and itemtype <>'FERT'  --NO FG
	union Select distinct Component as MATNR from ods.Rawmaterial_SalesByProduct --in case anything missing from sales
	
	))

	    --select * from Materiallist order by  itemno
 ,
 Sales as (select Component,
CompItemCate,
CompUnit,
FiscalYear,
SUM(FGSalesQuantity_YTD) as FGSalesQuantity_YTD, 
SUM(FGNetInvoiceValue_YTD) as FGNetInvoiceValue_YTD, 
sum(SalesCompCost_YTD) as SalesCompCost_YTD,
SUM(SalesCompQty_YTD) as SalesCompQty_YTD,
SUM(FGSalesQuantity_YTG) as FGSalesQuantity_YTG,
SUM(FGNetInvoiceValue_YTG) as FGNetInvoiceValue_YTG,
sum(SalesCompCost_YTG) as SalesCompCost_YTG,
SUM(SalesCompQty_YTG) as SalesCompQty_YTG,
SUM(FGSalesQuantity_FYF) as FGSalesQuantity_FYF,
SUM(FGNetInvoiceValue_FYF) as FGNetInvoiceValue_FYF,
sum(SalesCompCost_FYF) as SalesCompCost_FYF,
SUM(SalesCompQty_FYF) as SalesCompQty_FYF,
SUM(FGSalesQuantity_NFY) as FGSalesQuantity_NFY,
SUM(FGNetInvoiceValue_NFY) as FGNetInvoiceValue_NFY,
sum(SalesCompCost_NFY) as SalesCompCost_NFY,
SUM(SalesCompQty_NFY) as SalesCompQty_NFY,
SUM(FGInv_CompRecQty) as FGInv_CompRecQty,
SUM(FGInv_CompRecCost) as FGInv_CompRecCost
from ods.Rawmaterial_SalesByProduct group by Component,
CompItemCate,
CompUnit,
FiscalYear)

--select * from ods.Rawmaterial_SalesByProduct






  insert into [BI_PROD_POST_SAP].[ODS].[Rawmaterial_ComparisonFlag]
	([Loaded_Datetime],
	CompNo ,
	itemdescription,
    signaldescription,
	itemTypeName,
	itemGroupName,
	FiscalYear ,
    salesunit,
    purunit,
    FGSalesQuantity_YTD,
	FGNetInvoiceValue_YTD,
	SalesCompQty_YTD,
	SalesCompCost_YTD,
	FGSalesQuantity_YTG,
	FGNetInvoiceValue_YTG,
	SalesCompQty_YTG,
	SalesCompCost_YTG,
	FGSalesQuantity_FYF,
	FGNetInvoiceValue_FYF,
	SalesCompQty_FYF,
	SalesCompCost_FYF,
	FGSalesQuantity_NFY,
	FGNetInvoiceValue_NFY,
	SalesCompQty_NFY,
	SalesCompCost_NFY,
	PurQty_YTD, 
	POCost_YTD,
	POStdCost_YTD,
    PurQty_YTG, 
	POCost_YTG,
	POStdCost_YTG,
	PurQty_FYF, 
	POCost_FYF,
	POStdCost_FYF,
	PurQty_NFY, 
	POCost_NFY,
	POStdCost_NFY,
	[Stock On Hand],
    [Stock in Transfer],
    [QualityInspection],
    [RESTRICTEDBATCHES],   
    [TotalStockQTy],
	[Comparision],
	[CurrentYearValidation],
	[NextYearValidation],
	InStockFlag,
	UsedInBOMFlag,
	FGInv_CompRecQty,
	FGInv_CompRecCost)
 
SELECT 
    getdate() as [Loaded_Datetime],
    Materiallist.ItemNo AS CompNo, 
    Materiallist.itemdescription,
    Materiallist.signaldescription,
	Materiallist.itemTypeName,
	Materiallist.itemGroupName,
    Materiallist.FiscalYear,    
    sales.compunit AS salesunit,
    purchase.baseUOM AS purunit,

    round(sales.FGSalesQuantity_YTD,0) as FGSalesQuantity_YTD,
	round(sales.FGNetInvoiceValue_YTD,0) as FGNetInvoiceValue_YTD,
	round(sales.SalesCompQty_YTD,0) as SalesCompQty_YTD,
	round(sales.SalesCompCost_YTD,0) as SalesCompCost_YTD,

	round(sales.FGSalesQuantity_YTG,0) as FGSalesQuantity_YTG,
	round(sales.FGNetInvoiceValue_YTG,0) as FGNetInvoiceValue_YTG,
	round(sales.SalesCompQty_YTG,0) as SalesCompQty_YTG,
	round(sales.SalesCompCost_YTG,0) as SalesCompCost_YTG,

	round(sales.FGSalesQuantity_FYF,0) as FGSalesQuantity_FYF,
	round(sales.FGNetInvoiceValue_FYF,0) as FGNetInvoiceValue_FYF,
	round(sales.SalesCompQty_FYF,0)  as SalesCompQty_FYF, 
	round(sales.SalesCompCost_FYF,0)  as SalesCompCost_FYF,

	round(sales.FGSalesQuantity_NFY,0) as FGSalesQuantity_NFY,
	round(sales.FGNetInvoiceValue_NFY,0) as FGNetInvoiceValue_NFY,
	round(sales.SalesCompQty_NFY,0) as SalesCompQty_NFY,
	round(sales.SalesCompCost_NFY,0) as SalesCompCost_NFY,     
   
    round(Purchase.PurQty_YTD,0) as PurQty_YTD, 
	round(Purchase.POCost_YTD,0) as POCost_YTD,
	round(Purchase.StdCost_YTD,0) as POStdCost_YTD,

   round(Purchase.PurQty_YTG,0) as PurQty_YTG, 
	round(Purchase.POCost_YTG,0) as POCost_YTG,
	round(Purchase.StdCost_YTG,0) as POStdCost_YTG,

	round(Purchase.PurQty_YTD,0)+round(Purchase.PurQty_YTG,0) as PurQty_FYF, 
	round(Purchase.POCost_YTD,0)+ round(Purchase.POCost_YTG,0) as POCost_FYF,
	round(Purchase.StdCost_YTD,0)+round(Purchase.StdCost_YTG,0) as POStdCost_FYF,

	round(Purchase.PurQty_NFY,0) as PurQty_NFY, 
	round(Purchase.POCost_NFY,0) as POCost_NFY,
	round(Purchase.StdCost_NFY,0) as POStdCost_NFY,

	Inv.[UNRESTRICTEDUSE] as "Stock On Hand",
    Inv.[STOCKINTRANSFER] as "Stock in Transfer",
    Inv.[QUALITYINSPECTION] as "QualityInspection",
    Inv.[RESTRICTEDBATCHES] as  RESTRICTEDBATCHES,   
    Inv.[TotalStockQTy]    as TotalStockQTy,
   -- Inv.[Vendor] as Vendor,
		
    CASE 
		WHEN (coalesce(sales.SalesCompQty_FYF,0) +coalesce(sales.SalesCompQty_NFY,0)) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) +coalesce(Purchase.PurQty_NFY,0)) > 0 THEN 'Only in Purchasing'
		WHEN (coalesce(sales.SalesCompQty_FYF,0) +coalesce(sales.SalesCompQty_NFY,0)) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) + coalesce(Purchase.PurQty_NFY,0)) = 0  THEN 'Only in Sales'
        WHEN (coalesce(sales.SalesCompQty_FYF,0) +coalesce(sales.SalesCompQty_NFY,0)) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) + coalesce(Purchase.PurQty_NFY,0)) =0 THEN 'Not in Sales Or Purchasing'
        WHEN (coalesce(sales.SalesCompQty_FYF,0) +coalesce(sales.SalesCompQty_NFY,0)) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0) +coalesce(Purchase.PurQty_NFY,0)) > 0THEN 'In both Sales and Purchasing'
    END AS Comparision

	,CASE 
        WHEN coalesce(sales.SalesCompQty_FYF,0) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) > 0 THEN 'Only in Purchasing'
		WHEN coalesce(sales.SalesCompQty_FYF,0) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) = 0  THEN 'Only in Sales'
        WHEN coalesce(sales.SalesCompQty_FYF,0) = 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) =0 THEN 'Not in Sales Or Purchasing'
        WHEN coalesce(sales.SalesCompQty_FYF,0) > 0 AND (coalesce(Purchase.PurQty_YTD,0) +coalesce(Purchase.PurQty_YTG,0)) > 0THEN 'In both Sales and Purchasing'
    END AS CurrentYearValidation
	,CASE 
        WHEN coalesce(sales.SalesCompQty_NFY,0)=0 AND coalesce(Purchase.PurQty_NFY,0)>0 THEN 'Only in Purchasing'
		WHEN  coalesce(sales.SalesCompQty_NFY,0)>0 AND coalesce(Purchase.PurQty_NFY,0)=0 THEN 'Only in Sales'
        WHEN  coalesce(sales.SalesCompQty_NFY,0)=0 AND coalesce(Purchase.PurQty_NFY,0)=0 THEN 'Not in Sales Or Purchasing'
        WHEN  coalesce(sales.SalesCompQty_NFY,0)>0 AND coalesce(Purchase.PurQty_NFY,0)>0 THEN 'In both Sales and Purchasing'
    END AS NextYearValidation
	,case 
	when Inv.[TotalStockQTy] > 0 then 'X'
	end as InStockFlag,
	CASE 
           WHEN EXISTS (
               SELECT 1
               FROM ODS.BOM B
               WHERE B.COMPONENT = Materiallist.ItemNo
           ) THEN 'X'
           ELSE ''
       END AS UsedInBOMFlag,
	FGInv_CompRecQty,
	FGInv_CompRecCost

	--select * from [BI_PROD_POST_SAP].[ODS].[RawMaterial_Sales] order by Component
 -- into [BI_PROD_POST_SAP].[ODS].[Rawmaterial_ComparisonFlag]
--into [BI_PROD_POST_SAP].[ODS].[Rawmaterial_ComparisonFlag]
FROM Materiallist left join  sales

 on Materiallist.ItemNo = sales.Component

left JOIN [BI_PROD_POST_SAP].[ODS].[RawMaterial_Purchasing] purchase
    ON Materiallist.ItemNo = purchase.MatNo 

    --AND sales.FiscalYear = purchase.FiscalYear 
   
--LEFT JOIN ODS.Item i 
  --  ON COALESCE(sales.component, purchase.MatNo) = i.itemno

LEFT JOIN Inventory Inv on Inv.MATERIAL=  Materiallist.ItemNo
	where ItemDescription <>''
	--and i.ItemTypeName='Raw materials'
END
GO
