USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[usp_Rawmaterial_SalesByProduct_F]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [ODS].[usp_Rawmaterial_SalesByProduct_F]
AS

TRUNCATE TABLE ODS.Rawmaterial_SalesByProduct;
DECLARE @FGNetInvoiceValueFYF INT;
DECLARE @FGNetInvoiceValueNFY INT;
DECLARE @SnapshortYear INT;
SELECT TOP 1 @SnapshortYear = FiscalYear
FROM DIM.CalendarDate
WHERE YearOffset = 0;

SELECT @FGNetInvoiceValueFYF = SUM(CommittedNetInvoiceValue)
FROM fact.CommittedSales 
WHERE FiscalYear = @SnapshortYear;

SELECT @FGNetInvoiceValueNFY = SUM(BudgetNetInvoiceValue)
FROM fact.BudgetSales
WHERE FiscalYear = @SnapshortYear + 1;

--select @FGNetInvoiceValueNFY
--select * from DIM.tempSAPcostcompbyperiod where FiscalYearPeriod >= @SnapshortYear*100+1 
--and FiscalYearPeriod<= @SnapshortYear*100+112 
--and ProductNo = 1095

--DIM.tempSAPcostcompbyperiod is a temp table created by sapcost comp run 
WITH 



--select a.ProductNo,a.FiscalYearPeriod,b.*
--into [DIM].[SAPCostCompGroupByPeriod]
--from 
----output
--DIM.tempSAPcostcompbyperiod
-- a left join  cost_by_group b 
--on a.ProductNo = b.Product
--and a.[CostingDate] = b.[CostingDate]
--and a.[CostingStatus] = b.[CostingStatus]
--and a.[CostingVariant] = b.[CostingVariant] 
----where a.ProductNo = '1027' 
--order by ProductNo, FiscalYearPeriod; 



costcomp AS ( 
    SELECT 
        ProductNo as Product,
        Component,
		CompItemCate,
        CompUnit,
        left(a.FiscalYearPeriod,4) as FiscalYear,
		a.FiscalYearPeriod,
        LotSize,
        SUM(CompQty) AS SalesCompQty,
        SUM(CompCost) AS SalesCompCost
    FROM DIM.tempSAPcostcompbyperiod a left join [BI_PROD_POST_SAP].[DIM].[SAPCostComponent] p
	on a.ProductNo = p.Product
and a.[CostingDate] = p.[CostingDate]
and a.[CostingStatus] = p.[CostingStatus]
and a.[CostingVariant] = p.[CostingVariant]

	--LEFT JOIN dim.CalendarDate c ON p.CostingDate = c.DateKey --[BC] should use fiscal year in the dim.sapcomstcomponent table
    WHERE 

		a.FiscalYearPeriod >= @SnapshortYear*100+1 
		and a.FiscalYearPeriod<= @SnapshortYear*100+112 --DIM.tempSAPcostcompbyperiod is a temp table created by sapcost comp run 
	    --FiscalYear in ( select distinct fiscalyear from DIM.CalendarDate where yearoffset in (0,-1) )
        --c.YearOffset = 0 or c.YearOffset = -1
        --AND Product = 3042 
        AND p.Plant = 3000
        AND p.CompAdditiveCost = '' 
        AND p.CompAssmb = ''
		--and Component is not null
    GROUP BY 
        a.ProductNo,
        p.Component,
		CompItemCate,
        CompUnit,
        FiscalYear,
		a.FiscalYearPeriod,
        LotSize
union
    SELECT 
        a.ProductNo as Product,
        Component,
		CompItemCate,
        CompUnit,
        left(a.FiscalYearPeriod,4) as FiscalYear,
		a.FiscalYearPeriod,
        LotSize,
        SUM(CompQty) AS SalesCompQty,
        SUM(CompCost) AS SalesCompCost
    FROM DIM.tempSAPcostcompbyperiod a left join [BI_PROD_POST_SAP].[DIM].[SAPCostComponent] p
	on a.ProductNo = p.Product
and a.[CostingDate] = p.[CostingDate]
and a.[CostingStatus] = p.[CostingStatus]
and a.[CostingVariant] = p.[CostingVariant]
 inner join DIM.PRODUCT c on a.ProductNo = 	c.ProductNo and c.PreferredManufacturingSiteCode = '3100'
	--LEFT JOIN dim.CalendarDate c ON p.CostingDate = c.DateKey --[BC] should use fiscal year in the dim.sapcomstcomponent table
    WHERE 

		a.FiscalYearPeriod >= @SnapshortYear*100+1 
		and a.FiscalYearPeriod<= @SnapshortYear*100+112 --DIM.tempSAPcostcompbyperiod is a temp table created by sapcost comp run 
	    --FiscalYear in ( select distinct fiscalyear from DIM.CalendarDate where yearoffset in (0,-1) )
        --c.YearOffset = 0 or c.YearOffset = -1
        --AND Product = 3042 
        AND p.Plant = 3100
        AND p.CompAdditiveCost = '' 
        AND p.CompAssmb = ''
		--and Component is not null
    GROUP BY 
        a.ProductNo,
        p.Component,
		CompItemCate,
        CompUnit,
        FiscalYear,
		a.FiscalYearPeriod,
        LotSize

)

--select * from costcomp where Product = '1095'
--select COUNT(*) from costcomp --around 20295 records
,
FG_Inventory as ( SELECT  --good performance
      
      [MATERIAL] as ProductNo
	  ,@SnapshortYear as [FISCALYEAR]      
      ,sum([UNRESTRICTEDUSE]) as UNRESTRICTEDUSE
      ,sum([STOCKINTRANSFER]) as STOCKINTRANSFER
      ,sum([QUALITYINSPECTION]) as QUALITYINSPECTION
      ,sum([RESTRICTEDBATCHES]) as   RESTRICTEDBATCHES   
      ,sum([TotalStockQTy]) as  TotalStockQTy  
      --,[Vendor]
      
  FROM [BI_PROD_POST_SAP].[FACT].[BatchDetails]
  --where FISCALYEAR= 2025 or FISCALYEAR= 2026 -- [BC] remove filter for Inventory
  group by MATERIAL),

Sales AS (
    SELECT 
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		 CAST(a.FiscalYear AS VARCHAR) + RIGHT('00' + CAST(b.FiscalPeriod AS VARCHAR), 2) AS FiscalYearPeriod,
		b.PeriodOffset,
        SUM(CommittedSalesQuantity) AS FGSalesQuantity,
        SUM(CommittedNetInvoiceValue) AS FGNetInvoiceValue
    FROM fact.CommittedSales a 
    LEFT JOIN DIM.FiscalWeekCalendar b 
        ON a.FiscalYearWeekIntKey = b.FiscalYearWeekIntKey
    WHERE b.YearOffset=0
    GROUP BY 
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		b.PeriodOffset
		
),
BudgetSales AS (
    SELECT 
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		 CAST(a.FiscalYear AS VARCHAR) + RIGHT('00' + CAST(b.FiscalPeriod AS VARCHAR), 2) AS FiscalYearPeriod,
		b.PeriodOffset,
        SUM(BudgetSalesQuantity) AS FGSalesQuantity,
		SUM(BudgetNetInvoiceValue) AS FGNetInvoiceValue
    FROM fact.BudgetSales a 
    LEFT JOIN DIM.FiscalWeekCalendar b 
        ON a.FiscalYearWeekIntKey = b.FiscalYearWeekIntKey
    WHERE b.YearOffset=-1 
    GROUP BY 
        ProductNo,
        a.FiscalYear,
		b.yearoffset,
        b.FiscalPeriod,
		b.PeriodOffset
		
		),       



Unioned as (select 
    
    a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear as FiscalYear, 
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
    a.FGSalesQuantity as FGSalesQuantity_YTD ,
	a.FGNetInvoiceValue as FGNetInvoiceValue_YTD ,
    a.FGSalesQuantity * b.SalesCompQty/LotSize as SalesCompQty_YTD,
    a.FGSalesQuantity * b.SalesCompCost/LotSize as SalesCompCost_YTD,
	0 as FGSalesQuantity_YTG,
	0 as FGNetInvoiceValue_YTG,
	0 as SalesCompQty_YTG,
	0 as SalesCompCost_YTG,
	0 as FGSalesQuantity_NFY,
	0 as FGNetInvoiceValue_NFY,
	0 as SalesCompQty_NFY,
	0 as SalesCompCost_NFY,
	0 as FGInv_CompRecQty,
	0 as FGInv_CompRecCost
	--into RawMaterial_CommittedSales
    FROM Sales a left join costcomp b on a.ProductNo = b.Product
	and a.FiscalYear = b.FiscalYear --Added by BC
	and a.fiscalyearperiod = b.fiscalyearperiod
	where a.YearOffset = 0 and a.PeriodOffset>=1
	
	union all

	select

    a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear as FiscalYear, 
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
	0 as FGSalesQuantity_YTD ,
	0 as FGNetInvoiceValue_YTD,
    0 as SalesCompQty_YTD,
    0 as SalesCompCost_YTD,
	a.FGSalesQuantity as FGSalesQuantity_YTG,
	a.FGNetInvoiceValue as FGNetInvoiceValue_YTG ,
	a.FGSalesQuantity * b.SalesCompQty/LotSize as SalesCompQty_YTG,
	a.FGSalesQuantity * b.SalesCompCost/LotSize as SalesCompCost_YTG,
	0 as FGSalesQuantity_NFY ,
	0 as FGNetInvoiceValue_NFY,
    0 as SalesCompQty_NFY,
    0 as SalesCompCost_NFY,
	0 as FGInv_CompRecQty,
	0 as FGInv_CompRecCost
    FROM Sales a left join costcomp b on a.ProductNo = b.Product
	and a.FiscalYear = b.FiscalYear
	and a.fiscalyearperiod = b.fiscalyearperiod
	where a.YearOffset = 0 and a.PeriodOffset<1

	union all
	select

    a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear-1 as FiscalYear, --here fiscal year is only a version number
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
	0 as FGSalesQuantity_YTD ,
	0 as FGNetInvoiceValue_YTD,
    0 as SalesCompQty_YTD,
    0 as SalesCompCost_YTD,
	0 as FGSalesQuantity_YTG ,
	0 as FGNetInvoiceValue_YTG,
    0 as SalesCompQty_YTG,
    0 as SalesCompCost_YTG,
	a.FGSalesQuantity as FGSalesQuantity_NFY,
	a.FGNetInvoiceValue as FGNetInvoiceValue_NFY,
	a.FGSalesQuantity * b.SalesCompQty/LotSize as SalesCompQty_NFY,
	a.FGSalesQuantity * b.SalesCompCost/LotSize as SalesCompCost_NFY,
	0 as FGInv_CompRecQty,
	0 as FGInv_CompRecCost
    FROM BudgetSales a left join costcomp b on a.ProductNo = b.Product
	and a.FiscalYear = b.FiscalYear
	and a.fiscalyearperiod = b.fiscalyearperiod
	and a.fiscalyearperiod = b.fiscalyearperiod

	union all   --FG Component recovery - FG stock on hand is made from how much raw and packages
	select
	distinct
    a.ProductNo ,
    b.Component ,
    b.CompItemCate ,
    a.FiscalYear as FiscalYear, 
    --a.FiscalPeriod as FiscalPeriod, 
    b.CompUnit as CompUnit,
	0 as FGSalesQuantity_YTD ,
	0 as FGNetInvoiceValue_YTD,
    0 as SalesCompQty_YTD,
    0 as SalesCompCost_YTD,
	0 as FGSalesQuantity_YTG ,
	0 as FGNetInvoiceValue_YTG,
    0 as SalesCompQty_YTG,
    0 as SalesCompCost_YTG,
	0 as FGSalesQuantity_NFY,
	0 as FGNetInvoiceValue_NFY,
	0 as SalesCompQty_NFY,
	0 as SalesCompCost_NFY,
	a.TotalStockQTy * b.SalesCompQty/LotSize as FGInv_CompRecQty,  --FG stock -> comp recovery
	a.TotalStockQTy * b.SalesCompCost/LotSize as FGInv_CompRecCost --FG stock  -> comp cost recovery
    FROM FG_Inventory a left join costcomp b on a.ProductNo = b.Product and a.FiscalYear=b.FiscalYear	

	),   
	
Agg_result as (select 
	getdate() as [Loaded_Datetime],
	[ProductNo] ,
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit] ,
	sum([FGSalesQuantity_YTD]) as FGSalesQuantity_YTD ,
	sum([FGNetInvoiceValue_YTD]) as FGNetInvoiceValue_YTD ,
	sum([SalesCompQty_YTD]) as SalesCompQty_YTD  ,
	sum([SalesCompCost_YTD]) as SalesCompCost_YTD ,
    sum([FGSalesQuantity_YTG]) as FGSalesQuantity_YTG ,
	sum([FGNetInvoiceValue_YTG]) as FGNetInvoiceValue_YTG ,
	sum([SalesCompQty_YTG]) as SalesCompQty_YTG  ,
	sum([SalesCompCost_YTG]) as SalesCompCost_YTG  ,
    sum([FGSalesQuantity_YTD]+[FGSalesQuantity_YTG]) as FGSalesQuantity_FYF ,
	sum([FGNetInvoiceValue_YTD]+[FGNetInvoiceValue_YTG]) as FGNetInvoiceValue_FYF ,
	sum([FGNetInvoiceValue_YTD]+[FGNetInvoiceValue_YTG])/@FGNetInvoiceValueFYF as SalesContributionRate_FYF,
	sum([SalesCompQty_YTD]+[SalesCompQty_YTG]) as SalesCompQty_FYF  ,
	sum([SalesCompCost_YTD]+[SalesCompCost_YTG]) as SalesCompCost_FYF  ,
	sum([FGSalesQuantity_NFY]) as FGSalesQuantity_NFY ,
	sum([FGNetInvoiceValue_NFY]) as FGNetInvoiceValue_NFY ,
	sum([FGNetInvoiceValue_NFY])/@FGNetInvoiceValueNFY as SalesContributionRate_NFY ,
	sum([SalesCompQty_NFY]) as SalesCompQty_NFY  ,
	sum([SalesCompCost_NFY]) as SalesCompCost_NFY,
	sum(FGInv_CompRecQty) as FGInv_CompRecQty,
	SUM(FGInv_CompRecCost) as FGInv_CompRecCost
	from unioned 
	--where ProductNo=100110 and Component = 100101
	group by 
	[ProductNo] ,
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit]),

add_rank as (
select 	[Loaded_Datetime] ,
	[ProductNo] ,
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit] ,
	[FGSalesQuantity_YTD],
	[FGNetInvoiceValue_YTD],
	[SalesCompQty_YTD]  ,
	[SalesCompCost_YTD] ,
    [FGSalesQuantity_YTG] ,
	[FGNetInvoiceValue_YTG],
	[SalesCompQty_YTG],
	[SalesCompCost_YTG]  ,
	[FGSalesQuantity_FYF] ,
	[FGNetInvoiceValue_FYF],
	[SalesContributionRate_FYF],
	[SalesCompQty_FYF],
	[SalesCompCost_FYF]  ,
	[FGSalesQuantity_NFY] ,
	[FGNetInvoiceValue_NFY],	
	[SalesContributionRate_NFY],
	[SalesCompQty_NFY] ,
	[SalesCompCost_NFY],
RANK()  over (partition by component order by FGNetInvoiceValue_FYF desc) as FGNIVRank_FYF,
RANK()  over (partition by component order by FGNetInvoiceValue_NFY desc) as FGNIVRank_NFY,
	FGInv_CompRecQty,
	FGInv_CompRecCost
from Agg_result 
where Component <> '' and FGNetInvoiceValue_FYF<>0 )

--select * into  [BI_PROD_POST_SAP].[ODS].[Rawmaterial_SalesByProduct] from add_rank
	--drop table ODS.Rawmaterial_SalesByProduct 

	insert into [BI_PROD_POST_SAP].[ODS].[Rawmaterial_SalesByProduct]
(
	[Loaded_Datetime] ,
	[ProductNo] ,
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit] ,
	[FGSalesQuantity_YTD],
	[FGNetInvoiceValue_YTD],
	[SalesCompQty_YTD]  ,
	[SalesCompCost_YTD] ,
    [FGSalesQuantity_YTG] ,
	[FGNetInvoiceValue_YTG],
	[SalesCompQty_YTG],
	[SalesCompCost_YTG]  ,
	[FGSalesQuantity_FYF] ,
	[FGNetInvoiceValue_FYF],
	[SalesContributionRate_FYF],
	[SalesCompQty_FYF],
	[SalesCompCost_FYF]  ,
	[FGSalesQuantity_NFY] ,
	[FGNetInvoiceValue_NFY],	
	[SalesContributionRate_NFY],
	[SalesCompQty_NFY] ,
	[SalesCompCost_NFY],
	FGNIVRank_FYF,
	FGNIVRank_NFY,
	FGInv_CompRecQty,
	FGInv_CompRecCost) 
	
	(select [Loaded_Datetime] ,
	[ProductNo] ,
	[Component] ,
	[CompItemCate] ,
	[FiscalYear] ,
	--[FiscalPeriod] ,
	[CompUnit] ,
	[FGSalesQuantity_YTD],
	[FGNetInvoiceValue_YTD],
	[SalesCompQty_YTD]  ,
	[SalesCompCost_YTD] ,
    [FGSalesQuantity_YTG] ,
	[FGNetInvoiceValue_YTG],
	[SalesCompQty_YTG],
	[SalesCompCost_YTG]  ,
	[FGSalesQuantity_FYF] ,
	[FGNetInvoiceValue_FYF],
	[SalesContributionRate_FYF],
	[SalesCompQty_FYF],
	[SalesCompCost_FYF]  ,
	[FGSalesQuantity_NFY] ,
	[FGNetInvoiceValue_NFY],	
	[SalesContributionRate_NFY],
	[SalesCompQty_NFY] ,
	[SalesCompCost_NFY],
	FGNIVRank_FYF,
	FGNIVRank_NFY,
	FGInv_CompRecQty,
	FGInv_CompRecCost from add_rank )


	

GO
