USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[ups_Insert_ODS_OEE_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     Proc [ODS].[ups_Insert_ODS_OEE_Scorecard]    
as    
begin    
Delete from ODS.OEE_Scorecard;    
    
    
INSERT INTO [ODS].[OEE_Scorecard](FiscalYear,FiscalPeriod,[PeriodType],[DataType],[Measure_Type],[KPI],[Measure],    
   [Category],[Site],[CostCentre],[Line],[KPI_Value],[Quantity],[Amount],[Percentage],[Unit],[Currency],    
   [Source],[Note],[KPI_Value_LM],[KPI_Value_LY])    

    SELECT DISTINCT   
        cd.FiscalYear,  
        cd.FiscalPeriod,    
        'FP' AS PeriodType,              
        'Actual' AS DataType,               
        '' AS Measure_Type,            
        'OEE ' + Site AS KPI,              
        'OEE' AS Measure,              
        '' AS Category,              
        Site,                
        '' AS CostCentre,       
        '' AS Line,       
        0 AS KPI_Value,          
        AVG(OEE.OEE)*100 AS [Quantity],          
        '' AS Amount,              
        '' AS Percentage,              
        '' AS Unit,              
        '' AS Currency,              
        'OEE' AS Source,              
        '' AS Note,   
        '' AS KPI_Value_LM,     
        '' AS KPI_Value_LY        
    FROM   
        Stg.OEE_Scorecard OEE
    INNER JOIN DIM.CalendarDate CD
        ON CAST(OEE.Order_StartDate AS DATE) = CAST(CD.CalendarDate AS DATE)
    GROUP BY 
        cd.FiscalYear, cd.FiscalPeriod, Site


  
    
    
end; 
GO
