USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [ODS].[ups_Insert_ODS_Market_Share_Scorecard]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     Proc [ODS].[ups_Insert_ODS_Market_Share_Scorecard]
as
begin
Delete from ODS.[Market_Share_Scorecard] 
--where Year = Year(GETDATE())
; 

with conPeriodDate as (
    SELECT 
        Cd.FiscalPeriod AS Period,
        cd.FiscalYear AS Year, TRY_CONVERT(DATE, RIGHT(Period, CHARINDEX(' ', REVERSE(Period)) - 1), 3) Date,
        Category,
        AVG(Total_Bulla_Mfr_Dollars_000s)*100 /AVG(Dollars_000s) as Percentage,
        AVG(Dollars_000s) AS Dollars_000s,
        AVG(Total_Bulla_Mfr_Units_000s) AS Total_Bulla_Mfr_Units_000s
    FROM Stg.Market_Share_Scorecard MSS
	inner join DIM.CalendarDate cd
	on TRY_CONVERT(DATE, RIGHT(Period, CHARINDEX(' ', REVERSE(Period)) - 1), 3) = CAST(cd.CalendarDate AS DATE)
    GROUP BY 
         Cd.FiscalPeriod,cd.FiscalYear , Category,TRY_CONVERT(DATE, RIGHT(Period, CHARINDEX(' ', REVERSE(Period)) - 1), 3) 
)


INSERT INTO [ODS].[Market_Share_Scorecard]
           ([Period]
           ,[Period_Type]
		   ,[Date]
           ,[Year]
           ,[Measure_type]
           ,[DataType]
           ,[Category]
           ,[KPI_Group]
           ,[Measure_Name]
           ,[Amount]
           ,[Percentage])

Select 
Period,
'FP' Period_Type,
Date,
Year,
'KPI' as Measure_type,
'Actual' DataType,
Category
,convert(nvarchar(255),Concat('Market Share-',Category)) KPI_Group
,convert(nvarchar(255),Category) Measure_Name
,0 as Amount
,[Percentage]
from conPeriodDate

union all

Select 
Period,
'FP' Period_Type,
Date,
Year,
'' as Measure_type,
'Actual' DataType
,Category
,convert(nvarchar(255),Concat('Market Share-',Category)) KPI_Group
,convert(nvarchar(255),'Dollars-Market') Measure_Name
,Dollars_000s as Amount
,0 as Percentage
from conPeriodDate

union all

Select 
Period,
'FP' Period_Type,
Date,
Year,
'' as Measure_type,
'Actual' DataType
,Category
,convert(nvarchar(255),Concat('Market Share-',Category)) KPI_Group
,convert(nvarchar(255),	'Dollars-Bulla') Measure_Name
,Total_Bulla_Mfr_Units_000s as Amount
,0 as Percentage
from conPeriodDate

end;

GO
