USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [Rpt].[BudgetLatestEstimate]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Rpt].[BudgetLatestEstimate]
AS
BEGIN
  /* Procedure body */
  -- D Alava Created 13/02/2023
  
SELECT 
--SnapshotDate,
  FiscalYearWeekDisplay,
  FiscalYearWeekIntKey,
  FiscalYear,
  FiscalWeek,
  CustomerNo,
  ProductNo,
  BudgetSalesQuantity,
  BudgetNetInvoiceValue,
  BudgetInvoiceDiscount,
  BudgetCaseDiscount,
  BudgetTermsDiscount,
  BudgetOtherDiscount,
  BudgetCOGS,
  BudgetMaterialCosts,
  BudgetOperationalCosts,
  --BudgetGrossMargin,
  BudgetBaselineQuantity,
  BudgetIncrementalQuantity,
  BudgetFreightOutbound,
  BudgetFreightQuantity,
  BudgetFreightCaseRate,
  BudgetFreightFuelLevy,
  BudgetFreightGLAdjustment,
  Source
FROM   [stg].[BudgetLatestEstimateForecast] C WITH(NOLOCK)
WHERE 1=1;


END
GO
