USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [SAPSTG].[usp_Insert_SAPSTG_Mara_With_Desc]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*-- ==========================================================================================
-- Author:		<Shiva>
-- Create date: <29/12/2021>
-- Description:	<LOAD MARA With PPL/PPC/PPS Desc]>
Version		Date			Consultant			Comments
1.0	     19-Aug-20			Shiva ShiShodiya			Initial Draft

-- ==========================================================================================*/
CREATE PROCEDURE [SAPSTG].[usp_Insert_SAPSTG_Mara_With_Desc]
AS
SET NOCOUNT ON;

DROP TABLE  [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_MaraWithDesc];
 
Select SYSDATETIME() AS LoadDateTime
      ,[Client]
      ,[Material]
      ,[BaseUnit]
      ,[OrderUnit]
      ,[MaterialType]
      ,[MaterialGroup]
      ,[BISMT]
      ,[BRGEW]
      ,[NTGEW]
      ,[VOLUM]
      ,[NUMTP]
      ,[VOLEH]
      ,[BEHVO]
      ,[RAUBE]
      ,[TEMPB]
      ,[DISST]
      ,[TRAGR]
      ,[STOFF]
      ,[SPART]
      ,[KUNNR]
      ,[EANNR]
      ,[WESCH]
      ,[BWVOR]
      ,[BWSCL]
      ,[SAISO]
      ,[ETIAR]
      ,[ETIFO]
      ,[ENTAR]
      ,[EAN11]
      ,[MANDT_1]
      ,[MATNR_1]
      ,[ERSDA]
      ,[ERNAM]
      ,[LAEDA]
      ,[AENAM]
      ,[VPSTA]
      ,[PSTAT]
      ,[LVORM]
      ,[MTART_1]
      ,[MBRSH]
      ,[MATKL_1]
      ,[BISMT_1]
      ,[MEINS_1]
      ,[BSTME_1]
      ,[ZEINR]
      ,[ZEIAR]
      ,[ZEIVR]
      ,[ZEIFO]
      ,[AESZN]
      ,[BLATT]
      ,[BLANZ]
      ,[FERTH]
      ,[FORMT]
      ,[GROES]
      ,[WRKST]
      ,[NORMT]
      ,[LABOR]
      ,[EKWSL]
      ,[BRGEW_1]
      ,[NTGEW_1]
      ,[GEWEI]
      ,[VOLUM_1]
      ,[VOLEH_1]
      ,[BEHVO_1]
      ,[RAUBE_1]
      ,[TEMPB_1]
      ,[DISST_1]
      ,[TRAGR_1]
      ,[STOFF_1]
      ,[SPART_1]
      ,[KUNNR_1]
      ,[EANNR_1]
      ,[WESCH_1]
      ,[BWVOR_1]
      ,[BWSCL_1]
      ,[SAISO_1]
      ,[ETIAR_1]
      ,[ETIFO_1]
      ,[ENTAR_1]
      ,[EAN11_1]
      ,[NUMTP_1]
      ,[LAENG]
      ,[BREIT]
      ,[HOEHE]
      ,[MEABM]
      ,[PRDHA]
      ,[AEKLK]
      ,[CADKZ]
      ,[QMPUR]
      ,[ERGEW]
      ,[ERGEI]
      ,[ERVOL]
      ,[ERVOE]
      ,[GEWTO]
      ,[VOLTO]
      ,[VABME]
      ,[KZREV]
      ,[KZKFG]
      ,[XCHPF]
      ,[VHART]
      ,[FUELG]
      ,[STFAK]
      ,[MAGRV]
      ,[BEGRU]
      ,[DATAB]
      ,[LIQDT]
      ,[SAISJ]
      ,[PLGTP]
      ,[MLGUT]
      ,[EXTWG]
      ,[SATNR]
      ,[ATTYP]
      ,[KZKUP]
      ,[KZNFM]
      ,[PMATA]
      ,[MSTAE]
      ,[MSTAV]
      ,[MSTDE]
      ,[MSTDV]
      ,[TAKLV]
      ,[RBNRM]
      ,[MHDRZ]
      ,[MHDHB]
      ,[MHDLP]
      ,[INHME]
      ,[INHAL]
      ,[VPREH]
      ,[ETIAG]
      ,[INHBR]
      ,[CMETH]
      ,[CUOBF]
      ,[KZUMW]
      ,[KOSCH]
      ,[SPROF]
      ,[NRFHG]
      ,[MFRPN]
      ,[MFRNR]
      ,[BMATN]
      ,[MPROF]
      ,[KZWSM]
      ,[SAITY]
      ,[PROFL]
      ,[IHIVI]
      ,[ILOOS]
      ,[SERLV]
      ,[KZGVH]
      ,[XGCHP]
      ,[KZEFF]
      ,[COMPL]
      ,[IPRKZ]
      ,[RDMHD]
      ,[PRZUS]
      ,[MTPOS_MARA]
      ,[BFLME]
      ,[MATFI]
      ,[CMREL]
      ,[BBTYP]
      ,[SLED_BBD]
      ,[GTIN_VARIANT]
      ,[GENNR]
      ,[RMATP]
      ,[GDS_RELEVANT]
      ,[WEORA]
      ,[HUTYP_DFLT]
      ,[PILFERABLE]
      ,[WHSTC]
      ,[WHMATGR]
      ,[HNDLCODE]
      ,[HAZMAT]
      ,[HUTYP]
      ,[TARE_VAR]
      ,[MAXC]
      ,[MAXC_TOL]
      ,[MAXL]
      ,[MAXB]
      ,[MAXH]
      ,[MAXDIM_UOM]
      ,[HERKL]
      ,[MFRGR]
      ,[QQTIME]
      ,[QQTIMEUOM]
      ,[QGRP]
      ,[SERIAL]
      ,[PS_SMARTFORM]
      ,[LOGUNIT]
      ,[CWQREL]
      ,[CWQPROC]
      ,[CWQTOLGR]
      ,[ADPROF]
      ,[IPMIPPRODUCT]
      ,[ALLOW_PMAT_IGNO]
      ,[MEDIUM]
      ,[COMMODITY]
      ,[ANIMAL_ORIGIN]
      ,[TEXTILE_COMP_IND]
      ,[LAST_CHANGED_TIME]
      ,[SGT_CSGR]
      ,[SGT_COVSA]
      ,[SGT_STAT]
      ,[SGT_SCOPE]
      ,[SGT_REL]
      ,[ANP]
      ,[PSM_CODE]
      ,[FSH_MG_AT1]
      ,[FSH_MG_AT2]
      ,[FSH_MG_AT3]
      ,[FSH_SEALV]
      ,[FSH_SEAIM]
      ,[FSH_SC_MID]
      ,[DUMMY_PRD_INCL_EEW_PS]
      ,[SCM_MATID_GUID16]
      ,[SCM_MATID_GUID22]
      ,[SCM_MATURITY_DUR]
      ,[SCM_SHLF_LFE_REQ_MIN]
      ,[SCM_SHLF_LFE_REQ_MAX]
      ,[SCM_PUOM]
      ,[_CWM_XCWMAT]
      ,[_CWM_VALUM]
      ,[_CWM_TOLGR]
      ,[_CWM_TARA]
      ,[_CWM_TARUM]
      ,[_BEV1_LULEINH]
      ,[_BEV1_LULDEGRP]
      ,[_BEV1_NESTRUCCAT]
      ,[_DSD_SL_TOLTYP]
      ,[_DSD_SV_CNT_GRP]
      ,[_DSD_VC_GROUP]
      ,[_SAPMP_KADU]
      ,[_SAPMP_ABMEIN]
      ,[_SAPMP_KADP]
      ,[_SAPMP_BRAD]
      ,[_SAPMP_SPBI]
      ,[_SAPMP_TRAD]
      ,[_SAPMP_KEDU]
      ,[_SAPMP_SPTR]
      ,[_SAPMP_FBDK]
      ,[_SAPMP_FBHK]
      ,[_SAPMP_RILI]
      ,[_SAPMP_FBAK]
      ,[_SAPMP_AHO]
      ,[_SAPMP_MIFRR]
      ,[_VSO_R_TILT_IND]
      ,[_VSO_R_STACK_IND]
      ,[_VSO_R_BOT_IND]
      ,[_VSO_R_TOP_IND]
      ,[_VSO_R_STACK_NO]
      ,[_VSO_R_PAL_IND]
      ,[_VSO_R_PAL_OVR_D]
      ,[_VSO_R_PAL_OVR_W]
      ,[_VSO_R_PAL_B_HT]
      ,[_VSO_R_PAL_MIN_H]
      ,[_VSO_R_TOL_B_HT]
      ,[_VSO_R_NO_P_GVH]
      ,[_VSO_R_QUAN_UNIT]
      ,[_VSO_R_KZGVH_IND]
      ,[PACKCODE]
      ,[DG_PACK_STATUS]
      ,[MCOND]
      ,[RETDELC]
      ,[LOGLEV_RETO]
      ,[NSNID]
      ,[OVLPN]
      ,[ADSPC_SPC]
      ,[VARID]
      ,[MSBOOKPARTNO]
      ,[DPCBT]
      ,[XGRDT]
      ,[IMATN]
      ,[PICNUM]
      ,[BSTAT]
      ,[COLOR_ATINN]
      ,[SIZE1_ATINN]
      ,[SIZE2_ATINN]
      ,[COLOR]
      ,[SIZE1]
      ,[SIZE2]
      ,[FREE_CHAR]
      ,[CARE_CODE]
      ,[BRAND_ID]
      ,[FIBER_CODE1]
      ,[FIBER_PART1]
      ,[FIBER_CODE2]
      ,[FIBER_PART2]
      ,[FIBER_CODE3]
      ,[FIBER_PART3]
      ,[FIBER_CODE4]
      ,[FIBER_PART4]
      ,[FIBER_CODE5]
      ,[FIBER_PART5]
      ,[FASHGRD]
      ,[CREATED_AT_TIME]
      ,[MATNR_EXTERNAL]
      ,[CHML_CMPLNC_RLVNCE_IND]
      ,[LOGISTICAL_MAT_CATEGORY]
      ,[SALES_MATERIAL]
      ,[IDENTIFICATION_TAG_TYPE]
      ,[RMATP_PB]
      ,[PROD_SHAPE]
      ,[MO_PROFILE_ID]
      ,[OVERHANG_TRESH]
      ,[BRIDGE_TRESH]
      ,[BRIDGE_MAX_SLOPE]
      ,[HEIGHT_NONFLAT]
      ,[HEIGHT_NONFLAT_UOM]
      ,[SCM_KITCOMP]
      ,[SCM_PROD_PAOOPT]
      ,[SCM_BOD_DEPLVL]
      ,[SCM_RESTRICT_INVBAL]
      ,[SCM_DRP_GL_STOCK]
      ,[SCM_EXCL_EXPEDITE]
      ,[_STTPEC_SERTYPE]
      ,[_STTPEC_SYNCACT]
      ,[_STTPEC_SYNCTIME]
      ,[_STTPEC_SYNCCHG]
      ,[_STTPEC_COUNTRY_REF]
      ,[_STTPEC_PRDCAT]
      ,[SRV_DURA]
      ,[SRV_DURA_UOM]
      ,[SRV_SERWI]
      ,[SRV_ESCAL]
      ,[SOM_CYCLE]
      ,[SOM_CYCLE_RULE]
      ,[SOM_TC_SCHEMA]
      ,[SOM_CTR_AUTORENEWAL]
      ,[ICFA]
      ,[RIC_ID]
      ,[DFS_SENSITIVITY_KEY]
      ,[DFS_MFRP2]
      ,[TOLERANCE_TYPE]
      ,[ZZMATNR_OLD]
      ,[ZZVERSION]
      ,[ZZVERSION_CHDAT]
	  ,mara.NORMT as [ZMFG_LINE] -- changed from l. to mara
      ,l.[ZMFG_LINE_DESC]
	  ,mara.FERTH as [ZMFG_SITE] ---- changed from l. to mara
      ,s.[ZMFG_SITE_DESC]
	  ,mara.FORMT as [ZMFG_DEPT] ---- changed from l. to mara
      ,code.[ZMFG_DEPT_DESC]
	into
	  [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_MaraWithDesc]
	  
  FROM [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_MARA] mara left join 
  [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ZMM_MFG_LINE] l on mara.NORMT =l.ZMFG_LINE

  left join  [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ZMM_MFG_SITE] s on mara.FERTH = s.[ZMFG_SITE]

   left join  [BI_PROD_POST_SAP].[SAPSTG].[CV_PR_MD_ZMM_DEPT_CODE] code on mara.FORMT = code.[ZMFG_DEPT]
 


GO
