USE [BI_PROD_POST_SAP]
GO
/****** Object:  StoredProcedure [Stg].[spCreateSalesScenario]    Script Date: 19/11/2025 6:02:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Stg].[spCreateSalesScenario]
AS
BEGIN
/*
 --  Create Sales Scenario Table 
  CREATE TABLE [Fact].[SalesScenario] (
  [ProcessExecutionID] int NULL,
  [LoadDateTime] datetime2(7) NULL,
  [MonthEndDate] datetime NULL,
  [NationalCustomerCode] int NULL,
  [ProductNo] varchar(16) COLLATE Latin1_General_CI_AS NULL,
  [Scenario] varchar(5) COLLATE Latin1_General_CI_AS NULL,
  [ScenarioPurpose] varchar(50) COLLATE Latin1_General_CI_AS NULL,
  [SalesQuantity] float NULL,
  [GrossSalesValue] float NULL,
  [InvoiceDiscount] float NULL,
  [DeferredCaseDiscount] float NULL,
  [DeferredTermsDiscount] float NULL,
  [DeferredOtherDiscount] float NULL,
  [CostOfGoodsSold] float NULL,
  [FreightOutbound] float NULL
)
ON [PRIMARY]
GO
*/

     -- Truncate Sales Scenario
  TRUNCATE TABLE Fact.SalesScenario;
   
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_Actual;
   
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_Estimate;
  
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_Projected;
  	 
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_Benchmark;
  
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_Committed;
  
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_PriorCommitted;
  
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_PriorYearCommitted;
  
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_LastYear;
   
     INSERT INTO FACT.SalesScenario
     Select 0,getdate(),* FROM STG.SalesScenario_Budget;
     
 -- Budget Smapshots added 19/06/2019  JG 
 	 
     -- Snap 1
    IF OBJECT_ID('FACT.BudgetSalesSnapshot1', 'U') IS NOT NULL
	 BEGIN
  		INSERT INTO FACT.SalesScenario
     	Select 0,getdate(),* FROM STG.SalesScenario_Budget1;
	 END
     
     -- Snap 2
	IF OBJECT_ID('FACT.BudgetSalesSnapshot2', 'U') IS NOT NULL
	 BEGIN
  		INSERT INTO FACT.SalesScenario
     	Select 0,getdate(),* FROM STG.SalesScenario_Budget2;
	 END
     
     -- Snap 3
	IF OBJECT_ID('FACT.BudgetSalesSnapshot3', 'U') IS NOT NULL
	 BEGIN
  		INSERT INTO FACT.SalesScenario
     	Select 0,getdate(),* FROM STG.SalesScenario_Budget3;
	 END

  	-- Stategy
    
     INSERT INTO FACT.SalesScenario
     Select * FROM STG.SalesScenario_Strategy;
     
     
    -- Budget Benchmark2  JG 
 	 
     -- BMK2
    IF OBJECT_ID('FACT.BudgetBenchmark2', 'U') IS NOT NULL
	 BEGIN
  		INSERT INTO FACT.SalesScenario
     	Select 0,getdate(),* FROM STG.SalesScenario_Benchmark2;
	 END
     
  
 
END
GO
